<!--
 * @Description:
-->
<template>
  <div class="u-body">
    <div class="u-title">{{  '进口代理合同'}}</div>
    <div class="u-row u-stage">
      <div class="u-col">
        <div class="u-label">委托方（甲方）：</div>
        <div class="u-value u-key">{{data.key_1}}</div>
      </div>
      <div class="u-col ">
        <div class="u-label">联系人：</div>
        <div class="u-value u-key">{{data.key_3}}</div>
      </div>
      <div class="u-col">
        <div class="u-label">地址：</div>
        <div class="u-value u-key">{{data.key_2}}</div>
      </div>
    </div>
    <div class="u-row u-stage">
      <div class="u-col">
        <div class="u-label">代理方（乙方）：</div>
        <div class="u-value u-key">{{data.key_5}}</div>
      </div>
      <div class="u-col ">
        <div class="u-label">联系人：</div>
        <div class="u-value u-key">{{data.key_7}}</div>
      </div>
      <div class="u-col">
        <div class="u-label">地址：</div>
        <div class="u-value u-key">{{data.key_6}}</div>
      </div>
    </div>
    <div class="u-con u-stage">
      <div class="u-sub-title">第一条   双方代理内容</div>
      <div>根据进口代理协议规定，甲方授权乙方为甲方进口货物，并代表甲方完成有关进口手续，如报关报检、运输、仓储等工作。甲方应向乙方准确提供所进口货物的中英文品名、产品资料及产品有关描述等清关所需全部材料，并向海关、检疫等有关部门如实正确申报。</div>
    </div>
    <div class="u-con u-stage">
      <div class="u-sub-title">第二条   甲方的义务和责任</div>
      <div class="u-date">
        甲方委托的货物应当符合中华人民共和国发布的各项法律法规规定。如有属《中华人民共和国禁止进出境物品表》及《中华人民共和国限制进出境物品表》内的物品，应向乙方如实通告并向海关或检验检疫局说明。甲方进口货物的品名、价格、重量、立方数及其它数据等，必须与实际进口单证相符。
      </div>
    </div>
    <div class="u-con u-stage">
      <div class="u-sub-title">第三条   乙方的义务和责任</div>
      <div>1.乙方根据甲方所提供的单证，在双方商定的时间内完成进口货物的报关、报检和运输等工作。</div>
      <div>2.乙方如发现货物灭失、残损、短少或外观异状，应及时通知甲方并协助甲方向国家检验检疫局或其他有关职能部门申请检验，同时协助甲方向责任方提出索赔。</div>
      <div>3.乙方需在送货前将《送货通知书》传真给甲方，并与甲方确认运输量和送货地址后，安排运输。</div>
      <div>4.如果发生甲方、发货方、船方、港方、海关、检验检疫局和其它政府主管部门等非乙方原因造成甲方损失或额外费用时，乙方不承担责任，但乙方应配合甲方将损失和费用降到最低限度。</div>
    </div>
    <div class="u-con u-stage">
      <div class="u-sub-title">第四条   费用结算</div>
      <div>1.费用标准和结算方式由双方另行协商，具体费用以实际开票金额为准。</div>
      <div>2.甲方逾期付款，需支付乙方逾付金额每天0.5％的违约金。</div>
    </div>
    <div class="u-con u-stage">
      <div class="u-sub-title">第五条   执行本协议引起的纠纷，双方协商解决，如协商不成，在乙方所在地有管辖权的法院审理解决，由此引起的一切费用(如诉讼费、保全费、律师费等)均由败诉方承担。</div>
    </div>
    <div class="u-con u-stage">
      <div class="u-sub-title">第六条   本协议未述事项，双方友好洽商。本协议的修改、变更、解除等均以双方同意签署的书面意见为有效。</div>
    </div>
    <div class="u-con u-stage">
      <div class="u-sub-title">第七条   本协议经双方签字盖章之日起生效，有效期壹年。本协议双方各持一份。</div>
    </div>

    <div class="u-footer">
      <div class="u-col">
        <div class="u-label">甲方：</div>
        <div class="u-label">签字/盖章：</div>
        <div class="u-label">日期：</div>
      </div>
      <div class="u-col">
        <div class="u-label">乙方：</div>
        <div class="u-label">签字/盖章：</div>
        <div class="u-label">日期：</div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    data: { type: Object, default: () => {} },
  },
}
</script>
<style lang='less' scoped>
.u-body {
  font-size: 12px;
  color: @color_subTitle;
  line-height: 25px;
  .u-title {
    font-weight: bold;
    font-size: @font_pageTitleSize;
    color: #333;
    text-align: center;
  }
  .u-sub-title {
    font-weight: bold;
    font-size: 14px;
    color: #333;
  }
  .u-row {
    .u-col {
      display: flex;
      .u-label {
        padding-right: 5px;
      }
    }
  }
}
.u-stage {
  margin-top: 20px;
}
.f {
  span {
    display: inline-block;
    min-width: 50px;
    position: relative;
    line-height: 18px;
    &::before {
      content: ' ';
      width: 100%;
      height: 1px;
      position: absolute;
      bottom: 0;
      border-bottom: 1px solid @color_subTitle;
    }
  }
}
.u-line-50 {
  display: inline-block;
  min-width: 50px;
  position: relative;
  line-height: 18px;
  &::before {
    content: ' ';
    width: 100%;
    height: 1px;
    position: absolute;
    bottom: 0;
    border-bottom: 1px solid @color_subTitle;
  }
}
.u-line-200 {
  display: inline-block;
  min-width: 200px;
  position: relative;
  line-height: 18px;
  &::before {
    content: ' ';
    width: 100%;
    height: 1px;
    position: absolute;
    bottom: 0;
    border-bottom: 1px solid @color_subTitle;
  }
}
.u-footer {
  display: flex;
  margin-top: 60px;
  .u-col {
    flex: 1;
  }
}
</style>
