<!--
 * @Description:
-->
<template>
  <div class="u-body">
    <div class="u-title">{{  '仓储协议'}}</div>
    <div class="u-row u-stage">
      <div class="u-col">
        <div class="u-label">甲方：</div>
        <div class="u-value u-key">{{data.key_1}}</div>
      </div>
      <div class="u-col u-info">
        <div class="u-info-col">
          <div class="u-label">地址：</div>
          <div class="u-value u-key">{{data.key_2}}</div>
        </div>
        <div class="u-info-col">
          <div class="u-label">邮编：</div>
          <div class="u-value u-key">{{'200082'}}</div>
        </div>
      </div>
      <div class="u-col">
        <div class="u-label">代表人：</div>
        <div class="u-value u-key">{{data.key_3}}</div>
      </div>
      <div class="u-col u-info">
        <div class="u-info-col">
          <div class="u-label">电话：</div>
          <div class="u-value u-key">{{data.key_4}}</div>
        </div>
        <div class="u-info-col">
          <div class="u-label">传真：</div>
          <div class="u-value u-key">{{''}}</div>
        </div>
        
      </div>
    </div>
    <div class="u-row u-stage">
      <div class="u-col">
        <div class="u-label">乙方：</div>
        <div class="u-value u-key">{{data.key_5}}</div>
      </div>
      <div class="u-col u-info">
        <div class="u-info-col">
          <div class="u-label">地址：</div>
          <div class="u-value u-key">{{data.key_6}}</div>
        </div>
        <div class="u-info-col">
          <div class="u-label">邮编：</div>
          <div class="u-value u-key">{{''}}</div>
        </div>
      </div>
      <div class="u-col ">
        <div class="u-label">代表人：</div>
        <div class="u-value u-key">{{data.key_7}}</div>
      </div>
      <div class="u-col u-info">
        <div class="u-info-col">
          <div class="u-label">电话：</div>
          <div class="u-value u-key">{{data.key_8}}</div>
        </div>
        <div class="u-info-col">
          <div class="u-label">传真：</div>
          <div class="u-value u-key">{{''}}</div>
        </div>
      </div>
    </div>
    <div class="u-stage">根据《中华人民共和国民法典》的规定，甲乙双方在平等、自愿、公平和诚实信用的基础上，根据委托储存计划和仓储能量，经协商一致，就乙方委托甲方提供仓储服务事宜，订立本合同，具体条款如下：</div>
    <div class="u-con u-stage">
      <div class="u-sub-title">一、仓储货物基本信息</div>
      <div>具体货物情况以入库时的入库单记载为准。</div>
    </div>
    <div class="u-con u-stage">
      <div class="u-sub-title">二、仓库地点及条件</div>
      <div>1、甲方保证其对该仓库的占有、使用源自于受法律保护的所有权或合法的承租，且在本协议存续期间将持续不间断的保有上述合法权益；甲方同时具有提供合同项下服务所需的仓储、分拨、堆存、转租等资质，甲方应当向乙方提供上述合法权益及资质的证明。以上为本仓储协议有效的前提。</div>
      <div>2、甲方须提供适于储存的仓库，未经乙方许可，不得擅自变更仓储地点。</div>
    </div>
    <div class="u-con u-stage">
      <div class="u-sub-title">三、仓储期限</div>
      <div class="u-date">
        1、仓储期限：从
        <span class="u-key">{{data.key_9}}</span>年
        <span class="u-key">{{data.key_10}}</span>月
        <span class="u-key">{{data.key_11}}</span>日 至 
        <span class="u-key">{{data.key_12}}</span>年
        <span class="u-key">{{data.key_13}}</span>月
        <span class="u-key">{{data.key_14}}</span>日止。</div>
      <div>2、仓储期限届满，甲方应当将仓储物返还给乙方，乙方应及时取回仓储物</div>
    </div>
    <div class="u-con u-stage">
      <div class="u-sub-title">四、甲方权利及义务</div>
      <div>（1）甲方按照本协议约定提供服务的，有权要求乙方依照合同约定支付仓储费用。</div>
      <div>（2）自甲方在入库单上签字表示接受货物时起，至甲方在出库单上签字表示交付货物时止，甲方应对货物尽妥善保管之义务。</div>
      <div>（3）在办理入库验收时，甲方如发现货物外包装破损或件数、重量、体积与单证不符，应当场通知乙方并做好记录，收货时未当场通知乙方的，视为货物状态完好。</div>
      <div>（4）对于货物在仓储期间发生损坏的，甲方应承担产生的一切损失。</div>
    </div>
    <div class="u-con u-stage">
      <div class="u-sub-title">五、乙方权利及义务</div>
      <div>（1）乙方有权就货物的操作、交接、进出仓等事宜对甲方进行指示，并随时了解货物的状态。</div>
      <div>（2）在协议履行期间，乙方有权提出检查仓储物或者提取样品的要求，甲方应当同意。</div>
      <div>（3）乙方应如实向甲方告知货物的名称、属性及特殊操作要求，并保证不存放国家法律法规及政策禁止的违禁品。</div>
      <div>（4）甲方完成仓储服务，乙方应依照协议约定支付仓储费用。</div>
    </div>
    <div class="u-con u-stage">
      <div class="u-sub-title">六、违约责任</div>
      <div>1、货物在存储期间的损坏、灭失、短少的，甲方负责全额赔付乙方所产生的直接、间接损失；货物若经乙方同意后转委托他人进行操作的，甲方仍负有上述赔偿责任。</div>
      <div>2、如乙方或乙方指定提货人收货后合理期限内书面通知甲方货物存有损坏、短少情形，并有证据证明货物的损坏、短少是甲方或甲方的分包商所造成，则甲方负责赔偿乙方全部直接、间接损失。</div>
    </div>
    <div class="u-con u-stage">
      <div class="u-sub-title">七、费用标准及结算方式</div>
      <div>以双方协商的标准支付。</div>
    </div>
    <div class="u-con u-stage">
      <div class="u-sub-title">八、争议的解决</div>
      <div>任何因本协议的履行产生的纠纷，协议双方应友好协商解决，协商不成的，通过向乙方所在地的有管辖权的人民法院诉讼解决。</div>
    </div>
    <div class="u-con u-stage">
      <div class="u-sub-title">九、合同的生效与终止</div>
      <div>1、本协议自双方代表签字并加盖公章之日起生效，有效期为一年。</div>
      <div>2、本协议一式两份，甲乙双方各执一份，具有同等法律效力。</div>
    </div>

    <div class="u-footer">
      <div class="u-col">
        <div class="u-label">甲方代表（签字）：</div>
        <div class="u-label">甲方（盖章）：</div>
        <div class="u-label">日期：</div>
      </div>
      <div class="u-col">
        <div class="u-label">乙方代表（签字）：</div>
        <div class="u-label">乙方（盖章）：</div>
        <div class="u-label">日期：</div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    data: { type: Object, default: () => {} },
  },
}
</script>
<style lang='less' scoped>
.u-body {
  font-size: 12px;
  color: @color_subTitle;
  line-height: 25px;
  .u-title {
    font-weight: bold;
    font-size: @font_pageTitleSize;
    color: #333;
    text-align: center;
  }
  .u-sub-title {
    font-weight: bold;
    font-size: 14px;
    color: #333;
  }
  .u-row {
    .u-col {
      display: flex;
      .u-label {
        padding-right: 15px;
      }
      &.u-info{
        display: flex;
        & > .u-info-col{
          flex: 1;
          display: flex;
        }
      }
    }
  }
}
.u-stage {
  margin-top: 20px;
}
.u-date {
  span {
    display: inline-block;
    min-width: 50px;
    position: relative;
    line-height: 18px;
    &::before {
      content: ' ';
      width: 100%;
      height: 1px;
      position: absolute;
      bottom: 0;
      border-bottom: 1px solid @color_subTitle;
    }
  }
}
.u-line {
  display: inline-block;
  min-width: 200px;
  position: relative;
  line-height: 18px;
  &::before {
    content: ' ';
    width: 100%;
    height: 1px;
    position: absolute;
    bottom: 0;
    border-bottom: 1px solid @color_subTitle;
  }
}
.u-footer {
  display: flex;
  margin-top: 60px;
  .u-col {
    flex: 1;
  }
}
</style>
