<!--
 * @Description:
-->
<template>
  <div class="u-body">
    <div class="u-title">{{  '货运代理协议'}}</div>
    <div class="u-row u-stage">
      <div class="u-col">
        <div class="u-label">甲方：</div>
        <div class="u-value u-key">{{data.key_1}}</div>
      </div>
      <div class="u-col">
        <div class="u-label">地址：</div>
        <div class="u-value u-key">{{data.key_2}}</div>
      </div>
      <div class="u-col ">
        <div class="u-label">联系人：</div>
        <div class="u-value u-key">{{data.key_3}}</div>
      </div>
      <div class="u-col">
        <div class="u-label">电话：</div>
        <div class="u-value u-key">{{data.key_4}}</div>
      </div>
    </div>
    <div class="u-row u-stage">
      <div class="u-col">
        <div class="u-label">乙方：</div>
        <div class="u-value u-key">{{data.key_5}}</div>
      </div>
      <div class="u-col">
        <div class="u-label">地址：</div>
        <div class="u-value u-key">{{data.key_6}}</div>
      </div>
      <div class="u-col ">
        <div class="u-label">联系人：</div>
        <div class="u-value u-key">{{data.key_7}}</div>
      </div>
      <div class="u-col">
        <div class="u-label">电话：</div>
        <div class="u-value u-key">{{data.key_8}}</div>
      </div>
    </div>
    <div class="u-stage">甲方委托乙方为进口货运代理，包括代办报关、报检、运输和仓储等配套服务，经双方充分协商，特订立本合同，以便双方共同遵守。</div>
    <div class="u-con u-stage">
      <div class="u-sub-title">第一条：委托代理范围</div>
      <div>（ <span class="u-dui u-key"><i v-if="data.key_19" class="el-icon-check"></i></span> ）1. 甲、丙双方委托乙方代办报关手续；</div>
      <div>（ <span class="u-dui u-key"><i v-if="data.key_20" class="el-icon-check"></i></span> ）2. 甲、丙双方委托乙方代办报检手续；</div>
      <div>（ <span class="u-dui u-key"><i v-if="data.key_21" class="el-icon-check"></i></span> ）3. 甲、丙双方委托乙方代办货物从港、站到门运输服务；</div>
      <div>（ <span class="u-dui u-key"><i v-if="data.key_22" class="el-icon-check"></i></span> ）4. 甲、丙双方委托乙方代办仓储服务；</div>
      <div>（ <span class="u-dui u-key"><i v-if="data.key_23" class="el-icon-check"></i></span> ）5. 其它<span class="u-line-200 u-key">{{data.key_24}}</span></div>
    </div>
    <div class="u-con u-stage">
      <div class="u-sub-title">第二条：货物运输地点和委托时间</div>
      <!-- <div>运输起讫地点：<span class="u-line-200">货物运输服务符合本合同第一条的规定，包含从港、站到门到运输服务，具体运输起讫地点， 以《报价确认书》约定为准。</span></div> -->
      <div>运输起讫地点：货物运输服务符合本合同第一条的规定，包含从港、站到门到运输服务，具体运输起讫地点， 以《报价确认书》约定为准。</div>
      <div>货物委托时间：甲方应当至迟于船到港前一个工作日将齐全单证送达乙方。甲方应提交正确、有效的全套进口报关单证。</div>
      <div>注：1、“齐全单证”指清关、运输所必需的且海关、商检、运输管理及其他政府职能部门不持任何异议的整套清洁单证和文件的原件，包括正确、有效的《报检委托书》、《报关委托书》、《发票》、《装箱单》、《提单》、《合同》、《原产地证》等全套进口报关单证，且委托书上“由委托单位填写”的部分应由货主如实填写，否则由此产生的一切责任，概由甲方承担。</div>
      <div>2、“正常货”指海关不估价，不需交纳保证金便可放行，无海关商品编码异议，无任何申报价格、进口监管条件限制且不存在任何运输限制条件的货物。</div>
    </div>
    <div class="u-con u-stage">
      <div class="u-sub-title">第三条：转委托</div>
      <div>甲方同意乙方将本合同项下的义务进行转委托。乙方为甲方办理委托事项时所发生的费用开具发票，甲方对相关发票上的船名及提单号核对后未提出异议的，即表示甲方对该发票作有效确认。</div>
    </div>
    <div class="u-con u-stage">
      <div class="u-sub-title">第四条：甲乙双方的义务和责任</div>
      <div class="u-subtitle-info">一、甲方的义务和责任</div>
      <div>
        1.甲方委托的货物应当符合中华人民共和国发布的各项法律法规规定。如有属《中华人民共和国禁止进出境物品表》及《中华人民共和国限制进出境物品表》内的物品，应向乙方如实通告并向海关或检验检疫局说明。甲方进口货物的品名、价格、重量、立方数及其它数据等，必须与实际进口单证相符，不可有任何不实申报；甲方履行义务不当所造成的法律及经济责任，应当由甲方承担。造成损害后果的，应向乙方做出赔偿。
      </div>
      <div>2.乙方为甲方代办报检手续的，由于甲方履行检验手续不全或不当而造成的法律、行政、经济责任由甲方自行负责。</div>
      <div>3.因甲方、发货方、船方、港口、海关、检验检疫局和其它政府主管部门的原因造成甲方产生额外费用的，甲方应当支付该笔额外费用。</div>
      <div>4.甲方不得以任何理由扣留或抵扣应付乙方费用，除非得到乙方的书面许可。</div>
      <div>5.甲方在对《送货通知书》无异议前提下，应在乙方送货至甲方指定地点后，在当天卸完货并确保送货车辆及集装箱离厂（场），否则，甲方必须支付乙方相应过夜费；同时，甲方在卸货完毕后应在乙方提供的《货物交接回单》上签收，如货物有短少，必须当场向乙方提出，否则，出现诸如货物短少、破损等问题，乙方概不负责；甲方应就对《送收货确认回复函》及时签收并回复乙方，如未回复，乙方视为确认所收货物，无异议。</div>
      <div>6.为了使报关顺利进行，甲方应及时将税款付清，否则由此而造成的一切经济损失由甲方自行负责。</div>
      <div>7. 如甲方委托乙方仓储，甲方应按约定及时将仓储货物的出入库指令发送至乙方。</div>
      <div class="u-subtitle-info">二、乙方的义务和责任</div>
      <div>1.乙方根据甲方所提供的单证，及时审核清关单证，与甲方确认，在双方商定的时间内完成进口货物的制单、报关、报检和运输等工作。 </div>
      <div>A乙方接受甲方委托之报关报检业务及接收报关报检单证后，应及时、合理的安排货物的进口报关报检工作，积极协助甲方解决在报关报检过程中出现的各种问题，包括相关文件的提供、解释、说明等；对因乙方不作为、晚作为而给甲方造成损失的，由乙方承担赔偿责任。 </div>
      <div>B乙方应在资料齐全有效的情况下，争取在到港后3 个工作日内完成货物的清关等工作。如遇节假日顺延，遇因海关等政府机构原因造成不能在约定时间内完成的，则乙方不承担责任。</div>
      <div>2.乙方应当恪尽职守，勤勉谨慎履行职责，维护甲方的利益。</div>
      <div>3.乙方如发现货物灭失、残损、短少或外观异状，应及时通知甲方并协助甲方向国家检验检疫局或其他有关职能部门申请检验，同时协助甲方向责任方提出索赔。</div>
      <div>4.乙方需在送货前一天将《送货通知书》传真给甲方，并与甲方确认运输量和送货地址后，安排运输。</div>
      <div>5.如果发生甲方、发货方、船方、港方、海关、检验检疫局和其它政府主管部门的原因造成甲方损失或额外费用时，乙方应配合甲方将损失和费用降到最低限度。</div>
      <div>6.如甲方委托乙方仓储，乙方应按甲方的指令对仓储货物进行出入库操作，并对仓储货物尽妥善保管义务。</div>
    </div>
    <div class="u-con u-stage">
      <div class="u-sub-title">第五条：责任的免除</div>
      <div>1.由于下列原因造成货物灭失、短少、变质、污染、损坏等，乙方不承担法律责任：</div>
      <div>（1）不可抗力。</div>
      <div>（2）货物本身的自然属性。</div>
      <div>（3）货物的合理损耗。</div>
      <div>（4）甲方或收货方本身的过错。</div>
      <div>（5）非乙方原因造成损失。</div>
      <div>（6）集装箱货物必须保证封条的完整性，在短驳运输途中发生封条不完整并致货损由乙方承担赔偿责任。</div>
      <div>（7）单据的丢失，破损（由乙方原因造成的），需乙方承担相应责任。</div>
      <div>（8）由乙方原因造成未能安全及时送达货物的造成的损失，由乙方承担。</div>
      <div>2、 集装箱货物若集装箱封志完好，乙方不对箱内货物的货损货差、货物灭失承担责任；非集装箱货物，若外包装完好，乙方不对包装内货物的货损货差、货物灭失承担责任。</div>
    </div>
    <div class="u-con u-stage">
      <div class="u-sub-title">第六条：费用结算</div>
      <div>1.费用标准和结算方式按本协议附件《报价确认书》约定执行，该附件是本协议不可分割的一部分，具有同等法律效力。</div>
      <div>2.甲方逾期付款，需支付乙方逾付金额每天0.1%的违约金；同时，乙方在甲方付清所有货运代理费用之前有权扣押相关凭证作为质押资料（核销单、提单、税单等相关单据），并可对甲方任何批次货物行使留置权，由此产生的相关责任和费用由甲方承担，与乙方无关。</div>
      <div>3.本协议为总协议，具体业务须以双方确认的《报价确认书》为准，传真件有效。</div>
    </div>
    <div class="u-con u-stage">
      <div class="u-sub-title">第七条：其它约定</div>
      <div>1.  甲方委托乙方代办货物从港、站到门运输服务，乙方承诺负责货物运输途中的安保工作。若在乙方代理安排内陆运输途中，由于乙方保管不善的原因导致发生的货损、货差、失窃的，乙方需按货物采购原价进行赔偿。</div>
      <div>2.  甲方对乙方的索赔，必须在知道或应当知道损害发生之日起1个工作日内向乙方书面提出，否则视为乙方的履行完全符合要求，乙方不再承担任何赔偿责任。</div>
      <div>3.  甲方委托之货物，如有特殊操作要求，则甲方应在委托乙方托运前及时告知乙方，否则乙方将按照通常的操作习惯作业，如果因乙方采用一般操作而发生货损货差，乙方不承担责任。</div>
      <div>4.  若货物到港后甲方迟延提货，由此产生的仓储费、滞箱费等一切费用及相关处理措施造成的损失及后果均由甲方承担。</div>
      <div>5.  乙方不赔偿非因乙方过错所导致的货物损失，包括但不限于货物包装不符、货物质量变化或因货物属性导致的变化，以及甲方、收货人、甲方指定第三方原因及不可抗力或刑事犯罪因素而导致的损失。</div>
      <div>6.  甲方可以指定第三方向乙方直接付款，但是当该第三方拒不付款时，甲方仍有向乙方付款的义务。</div>
      <div>7.  合同需进行修改、变更、补充的，应经双方协商一致，另行签订补充协议并经双方签章后生效。</div>
    </div>
    <div class="u-con u-stage">
      <div class="u-sub-title">第八条：不可抗力</div>
      <div>1、不可抗力事件是指不可预见、不能避免、不能客服的客观情况，包括地震、台风、水灾、火灾及其他自然灾害、战争、骚乱、暴乱、戒严，及其他受影响一方不能控制的客观情况。</div>
      <div>2、一方因不可抗力情况而不能履行本合同义务时，应及时通知另一方不可抗力的情况，出具不可抗力的有效依据，并应当采取合理措施尽量减少不可抗力事件的影响，尽可能在最短时间内恢复履行本合同。</div>
      <div>3、若发生不可抗力事件，任何一方无需对另一方因本合同未能履行或迟延履行而遭受的任何损失承担责任，并且此种未能履行或迟延履行不应视为违反合同。</div>
      <div>4、在发生不可抗力的情况下，本合同的义务履行期限可随着环境情况的发展相应推迟。如不能履行义务超过15日，履约双方中任何一方因利益得不到保证，有权解除本合同。</div>
    </div>
    <div class="u-con u-stage">
      <div class="u-sub-title">第九条：违约责任</div>
      <div>除不可抗力因素外，合同任意一方不履行合同义务或者履行合同义务不符合约定都要承担违约责任，违约责任按国家的有关法律、法规确定。</div>
    </div>
    <div class="u-con u-stage">
      <div class="u-sub-title">第十条：保密条款</div>
      <div>乙方应该保证并且不会发布或向社会公众披露在双方合作过程中所知悉的甲方的保密信息，包括但不限于甲方的客户信息、价格等，除非法律要求披露或取得甲方事先的书面同意方可披露。该保密义务同样适用于乙方的雇员和代理人。乙方对于其雇员和代理人违反该项保密义务，给甲方造成的损失承担连带责任，情况严重时将追究乙方的刑事责任。</div>
    </div>
    <div class="u-con u-stage">
      <div class="u-sub-title u-normal">
        第十一条：本合同自双方盖章之日起生效，有效期自
        <span class="u-line-50 u-key">{{data.key_9}}</span>年
        <span class="u-line-50 u-key">{{data.key_10}}</span>月
        <span class="u-line-50 u-key">{{data.key_11}}</span>日 至 
        <span class="u-line-50 u-key">{{data.key_12}}</span>年
        <span class="u-line-50 u-key">{{data.key_13}}</span>月
        <span class="u-line-50 u-key">{{data.key_14}}</span>日。
        合同期满，如双方同意继续合作，则双方需另行签订合同。
      </div>
    </div>
    <div class="u-con u-stage">
      <div class="u-sub-title u-normal">第十二条：任何一方或相关部门（法院、仲裁机构及其他政府行政部门）根据合同首页处的联系方式给另一方发出的通知，若是传真或电子邮件，自发送当日视为送达；若是信函，自发出后第三日视为送达。如因接收方拒收、地址不详或有误、变更联系方式未书面告知发出方致使函件无法送达的，则发出方或相关部门根据合同首页处载明的方式发送的视为已送达，文件退回之日即为送达之日，由此而产生的不利法律后果由接收方自行承担。
      </div>
    </div>
    <div class="u-con u-stage">
      <div class="u-sub-title u-normal">第十三条：凡因本合同引起的或与本合同有关的任何争议，双方应协商解决，协商不成的均应提交上海海事法院，适用中国法律诉讼解决。
      </div>
    </div>
    <div class="u-con u-stage">
      <div class="u-sub-title u-normal">第十四条：本协议正本一式两份，双方各执一份，具有同等法律效力。</div>
    </div>

    <div class="u-footer">
      <div class="u-col">
        <div class="u-label">甲方：</div>
        <div class="u-label">盖章：</div>
        <div class="u-label">日期：</div>
      </div>
      <div class="u-col">
        <div class="u-label">乙方：</div>
        <div class="u-label">盖章：</div>
        <div class="u-label">日期：</div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    data: { type: Object, default: () => {} },
  },
}
</script>
<style lang='less' scoped>
.u-body {
  font-size: 12px;
  color: @color_subTitle;
  line-height: 25px;
  .u-title {
    font-weight: bold;
    font-size: @font_pageTitleSize;
    color: #333;
    text-align: center;
  }
  .u-sub-title {
    font-weight: bold;
    font-size: 14px;
    color: #333;
  }
  .u-subtitle-info {
    font-size: 14px;
    color: #333;
  }
  .u-row {
    .u-col {
      display: flex;
      .u-label {
        padding-right: 5px;
      }
    }
  }
}
.u-stage {
  margin-top: 20px;
}
.u-dui {
  display: inline-block;
  min-width: 15px;
}
.u-date {
  span {
    display: inline-block;
    min-width: 50px;
    position: relative;
    line-height: 18px;
    &::before {
      content: ' ';
      width: 100%;
      height: 1px;
      position: absolute;
      bottom: 0;
      border-bottom: 1px solid @color_subTitle;
    }
  }
}
.u-line-50 {
  display: inline-block;
  min-width: 50px;
  position: relative;
  line-height: 18px;
  &::before {
    content: ' ';
    width: 100%;
    height: 1px;
    position: absolute;
    bottom: 0;
    border-bottom: 1px solid @color_subTitle;
  }
}
.u-line-200 {
  display: inline-block;
  min-width: 200px;
  position: relative;
  line-height: 18px;
  &::before {
    content: ' ';
    width: 100%;
    height: 1px;
    position: absolute;
    bottom: 0;
    border-bottom: 1px solid @color_subTitle;
  }
}
.u-footer {
  display: flex;
  margin-top: 60px;
  .u-col {
    flex: 1;
  }
}
</style>
