<!--
 * @Description:
-->
<template>
  <div class="u-body">
    <div class="u-title">{{  '运输代理合同'}}</div>
    <div class="u-row u-stage">
      <div class="u-col">
        <div class="u-label">甲方：</div>
        <div class="u-value u-key">{{data.key_1}}</div>
      </div>
      <div class="u-col">
        <div class="u-label">地址：</div>
        <div class="u-value u-key">{{data.key_2}}</div>
      </div>
      <div class="u-col ">
        <div class="u-label">联系人：</div>
        <div class="u-value u-key">{{data.key_3}}</div>
      </div>
      <div class="u-col">
        <div class="u-label">电话：</div>
        <div class="u-value u-key">{{data.key_4}}</div>
      </div>
    </div>
    <div class="u-row u-stage">
      <div class="u-col">
        <div class="u-label">乙方：</div>
        <div class="u-value u-key">{{data.key_5}}</div>
      </div>
      <div class="u-col">
        <div class="u-label">地址：</div>
        <div class="u-value u-key">{{data.key_6}}</div>
      </div>
      <div class="u-col ">
        <div class="u-label">联系人：</div>
        <div class="u-value u-key">{{data.key_7}}</div>
      </div>
      <div class="u-col">
        <div class="u-label">电话：</div>
        <div class="u-value u-key">{{data.key_8}}</div>
      </div>
    </div>
    <div class="u-stage">
      根据《中华人民共和国民法典》及其他有关法律、法规的规定，甲乙双方经友好协商，就甲方委托乙方安排内陆货物运输代理事宜依法达成以下协议条款，以资共同信守：
    </div>
    <div class="u-con u-stage">
      <div class="u-sub-title">一、甲方责任</div>
      <div>1、甲方应当至迟提前一日，将《发货指令单》以书面形式发送至乙方。《发货指令单》应载明委托货物的信息，包括但不限于货物的名称、性质、性能、重量、数量、批次、特殊运输要求等重要信息资料，并提供与货物运输有关的全部文件单证。
因甲方申报不实、遗漏或者提供文件单证虚假、不完整等导致货物被扣罚、毁损、灭失或导致乙方或第三方损失的，乙方对此不承担责任，甲方应当赔偿因此导致乙方遭受的全部损失。</div>
      <div>2、甲方提供的货物必须包装完好，标识完整、清晰、详细，适合装卸、吊装及公路运输，非国家禁运品。</div>
      <div>3、如甲方对货物有特殊操作要求，应预先向乙方提供关于货物储存、装卸、运输的书面指令；如甲方货值超过<span class="u-line-50"></span>万元，应当向乙方进行高附加值货物申报；否则乙方可将货物视为普通货物操作，甲方对操作产生的后果负责。</div>
      <div>4、甲方交运易燃、易爆、有毒、腐蚀性、放射性等危险品或易变质品的，应当按照国家有关危险物品运输或易变质物品运输的规定对物品进行妥善包装，制作并张贴危险品或易变质物品的标志和标签，同时应将有关危险品、易变质品的名称、性质、特殊操作措施等以书面形式于交运前提交乙方。</div>
      <div>5、在乙方将货物交给甲方指定的收货人之前，若甲方要求乙方中止运输、返还货物、变更到达地或者将货物交给其他收货人，甲方应当书面通知乙方，确认乙方将收取的费用，并支付乙方由于执行该要求所产生的全部费用和因此导致的任何第三方索赔，乙方尽可能满足甲方要求。</div>
      <div>6、货到目的地后，甲方应安排收货人立即提货，逾期未提货的，乙方有权要求甲方承担违约金，同时乙方有权将货物卸下，由此产生的卸货费、仓储费及相关费用由甲方承担。货到7天后，甲方或其指定的收货人未提取货物，乙方不承担保管责任。 </div>
      <div>7、甲方应当对委托乙方出运的货物购买保险，或者委托乙方进行购买；甲方应当将该物的运输保险凭证交付乙方。在货物出险后，甲方有义务协同乙方办理出险索赔的有关手续；乙方办理保险理赔完结，将理赔所得扣除乙方垫付的费用之后，余款交甲方，作为出险货物运输合同的终结。 </div>
      <div>8、甲方应依照本协议结算条款的规定，按时、足额向乙方支付运输费用。 </div>
    </div>
    <div class="u-con u-stage">
      <div class="u-sub-title">二、乙方责任</div>
      <div>1、乙方应当具备履行本合同中公路运输业务的合法运营资质，且提供适当的运输工具，配备适格的作业人员。</div>
      <div>2、乙方接货时应当对货物的表面状况进行检查，清点货物数量，并于托运单上签字确认，乙方有权在托运单上就货物表面状况进行批注。乙方仅对货物的表面状况是否完好负责，乙方对货物的质量是否符合需方要求不承担任何责任。</div>
      <div>3、乙方应当按照甲方要求向甲方提供货物的在途信息，对于异常状况，如天气异常、交通事故等情形，乙方应及时通知甲方并按照甲方指示行事，并最大程度地维护甲方利益。</div>
      <div>4、在乙方运输责任期间，乙方仅对货物外表状况负责。集装箱货物若集装箱封志完好，乙方不对箱内货物的货损货差、货物灭失承担责任；非集装箱货物，若外包装完好，乙方不对包装内货物的货损货差、货物灭失承担责任。</div>
      <div>5、乙方应当在合理的时间内将货物送抵甲方指定的目的地。 </div>
      <div>6、货物到达目的地后，乙方应及时向托运单上甲方指定的收货人发出到货通知。收货人联系渠道不畅通或甲方告知的信息有误导致乙方或收货人损失的，由甲方或收货人承担赔偿责任。 </div>
      <div>7、甲方同意乙方对其承接的甲方业务进行部分或者全部的外包，但乙方应保证外包单位具备承办该外包业务的相应资质。 </div>
      <div>8、乙方对其责任期间发生的货物的损毁、丢失承担赔偿责任，根据货物损毁、丢失的具体情况，乙方按货物的出厂价格进行部分或全部赔偿，如果货物的损毁是因为不可抗力（包括但不限于自然灾害、战争、政府禁令、罢工等）、货物本身的自然性质变化、货物包装不符合要求以及甲方、甲方收货人或其他第三方的原因而造成的损失，乙方不承担赔偿责任，但应及时通知甲方并采取有效措施，防止损失的扩大。 </div>
    </div>
    <div class="u-con u-stage">
      <div class="u-sub-title">三、费用结算</div>
      <div>1、双方商定运输及仓储费用，采取月结形式。 </div>
      <div>2、每月5号前，乙方须将上个月的发生费用列表通知甲方；甲方在收到乙方的付款通知及凭证后，5天内向乙方付清所有费用；如果逾期付款，则须按未结算款项的千分之五，逐日累计向乙方支付滞纳金。甲方在任何情况下均无权自行抵扣或拒付应付乙方的运费。 </div>
    </div>
    <div class="u-con u-stage">
      <div class="u-sub-title">四、适用法律及争议的解决</div>
      <div>凡因本合同引起的或与本合同有关的任何争议，双方应协商解决，协商不成的应提交乙方所在地人民法院，适用中国法律诉讼解决。</div>
    </div>
    <div class="u-con u-stage">
      <div class="u-sub-title">五、协议的生效、延长、修改及终止</div>
      <div class="u-date">
        1、本协议自双方签字盖章之日起生效，合同有效期自
        <span class="u-key">{{data.key_9}}</span>年
        <span class="u-key">{{data.key_10}}</span>月
        <span class="u-key">{{data.key_11}}</span>日 至 
        <span class="u-key">{{data.key_12}}</span>年
        <span class="u-key">{{data.key_13}}</span>月
        <span class="u-key">{{data.key_14}}</span>日止。
      </div>
      <div>2、对本协议的任何补充或修改，都应以书面形式提出，并经双方签字确认后方能生效。</div>
      <div>3、本协议一式二份，双方各持一份，具有同等法律效力。</div>
    </div>

    <div class="u-footer">
      <div class="u-col">
        <div class="u-label">甲方：</div>
        <div class="u-label">甲方（盖章）：</div>
        <div class="u-label">日期：</div>
      </div>
      <div class="u-col">
        <div class="u-label">乙方：</div>
        <div class="u-label">乙方（盖章）：</div>
        <div class="u-label">日期：</div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    data: { type: Object, default: () => {} },
  },
}
</script>
<style lang='less' scoped>
.u-body {
  font-size: 12px;
  color: @color_subTitle;
  line-height: 25px;
  .u-title {
    font-weight: bold;
    font-size: @font_pageTitleSize;
    color: #333;
    text-align: center;
  }
  .u-sub-title {
    font-weight: bold;
    font-size: 14px;
    color: #333;
  }
  .u-row {
    .u-col {
      display: flex;
      .u-label {
        padding-right: 5px;
      }
    }
  }
}
.u-stage {
  margin-top: 20px;
}
.u-date {
  span {
    display: inline-block;
    min-width: 50px;
    position: relative;
    line-height: 18px;
    &::before {
      content: ' ';
      width: 100%;
      height: 1px;
      position: absolute;
      bottom: 0;
      border-bottom: 1px solid @color_subTitle;
    }
  }
}
.u-line-50 {
  display: inline-block;
  min-width: 50px;
  position: relative;
  line-height: 18px;
  &::before {
    content: ' ';
    width: 100%;
    height: 1px;
    position: absolute;
    bottom: 0;
    border-bottom: 1px solid @color_subTitle;
  }
}
.u-line-200 {
  display: inline-block;
  min-width: 200px;
  position: relative;
  line-height: 18px;
  &::before {
    content: ' ';
    width: 100%;
    height: 1px;
    position: absolute;
    bottom: 0;
    border-bottom: 1px solid @color_subTitle;
  }
}
.u-footer {
  display: flex;
  margin-top: 60px;
  .u-col {
    flex: 1;
  }
}
</style>
