<!--
 * @Description:
-->
<template>
  <div class="u-body">
    <div class="u-title">{{  '货运代理协议'}}</div>
    <div class="u-row u-stage">
      <div class="u-col">
        <div class="u-label">甲方：</div>
        <div class="u-value u-key">{{data.key_1}}</div>
      </div>
      <div class="u-col">
        <div class="u-label">地址：</div>
        <div class="u-value u-key">{{data.key_2}}</div>
      </div>
      <div class="u-col ">
        <div class="u-label">联系人：</div>
        <div class="u-value u-key">{{data.key_3}}</div>
      </div>
      <div class="u-col">
        <div class="u-label">电话：</div>
        <div class="u-value u-key">{{data.key_4}}</div>
      </div>
    </div>
    <div class="u-row u-stage">
      <div class="u-col">
        <div class="u-label">乙方：</div>
        <div class="u-value u-key">{{data.key_5}}</div>
      </div>
      <div class="u-col">
        <div class="u-label">地址：</div>
        <div class="u-value u-key">{{data.key_6}}</div>
      </div>
      <div class="u-col ">
        <div class="u-label">联系人：</div>
        <div class="u-value u-key">{{data.key_7}}</div>
      </div>
      <div class="u-col">
        <div class="u-label">电话：</div>
        <div class="u-value u-key">{{data.key_8}}</div>
      </div>
    </div>
    <div class="u-stage">甲、乙双方经过友好协商，在平等自愿的基础上就甲方委托乙方代为安排海运进口货运代理事宜，签订以下协议，以期共同遵守。</div>
    <div class="u-con u-stage">
      <div class="u-sub-title">一、委托事项</div>
      <div>本协议有效期限内，乙方作为代理人接受甲方委托，代为办理甲方进口的货物的进口事宜，具体安排如下事项：</div>
      <div>（ <span class="u-dui u-key"><i v-if="data.key_19" class="el-icon-check"></i></span> ）1. 甲方委托乙方代办报关手续；</div>
      <div>（ <span class="u-dui u-key"><i v-if="data.key_20" class="el-icon-check"></i></span> ）2. 甲方委托乙方代办报检手续；</div>
      <div>（ <span class="u-dui u-key"><i v-if="data.key_21" class="el-icon-check"></i></span> ）3. 甲方委托乙方代办货物从港、站到门运输服务；</div>
      <div>（ <span class="u-dui u-key"><i v-if="data.key_22" class="el-icon-check"></i></span> ）4. 甲方委托乙方代办仓储服务；</div>
      <div>（ <span class="u-dui u-key"><i v-if="data.key_23" class="el-icon-check"></i></span> ）5. 其它<span class="u-line-200 u-key">{{data.key_24}}</span></div>
    </div>
    <div class="u-con u-stage">
      <div class="u-sub-title">二、双方权利及义务</div>
      <div class="u-subtitle-info">（一）甲方权利及义务</div>
      <div>1、甲方应及时向乙方提供进口货物的名称、数量、船名及预计到港日期等相关信息和材料。</div>
      <div>2、甲方如委托乙方报关，应在货物到港前三个工作日内将全套完整的报关报检单据递交给乙方，由于甲方单证晚到、不全等原因造成货物不能及时通关所产生的费用由甲方承担。甲方对单据的真实性、准确性、完整性和及时性负责。</div>
      <div>3、甲方在货物派送前及时向乙方提供甲方盖章并由其授权代表签署的送货书面《送货通知书》，注明送货时间、货物名称、性质、件数、重量、体积、尺码及收货人的名称（姓名）、地址、电话、联系人等详细信息。</div>
      <div>4、货物所有权归甲方所有，乙方按甲方书面《送货通知书》将货物送至甲方指定地点后，甲方需确保当天卸完货及车辆离场，否则甲方需支付乙方相应过夜费；同时，甲方在卸货完毕后应在乙方提供的《货物交接回单》上签收，如货物有短少、破损等问题，甲方必须当场向乙方提出，否则，乙方概不负责。如甲方未在《货物交接回单》上签收，视为甲方确认收货并对货物无任何异议。</div>
      <div>5、甲方不得以任何理由扣留或抵扣应付乙方费用，除非得到乙方的书面许可。</div>
      <div class="u-subtitle-info">（二）乙方权利及义务</div>
      <div>1、乙方根据甲方所提供的单证，在双方商定的时间内完成进口货物的制单、报关、报检和运输等工作。 </div>
      <div>2、如果发生甲方、发货方、船方、海关、检验检疫局和其它政府主管部门等非乙方原因造成甲方损失或额外费用时，乙方应及时通知甲方，并配合甲方将损失和费用降到最低。</div>
      <div>3、乙方应及时将海关、检验机构查验货物的要求通知甲方，但不承担由于查验所造成的外包装破损、货物短缺、损坏、变质、污染的责任及相应的延误责任。</div>
      <div>4、甲方如委托乙方仓储，乙方应对货物进行合理存放，保证货物的安全，提供干净、干燥的仓储，做到货物不污染、不水湿。如因乙方的保管不当造成的货物货损、货差由乙方负责。散货类货物因天气原因，如梅雨季节造成货物的水湿等乙方不承担责任。集装箱货物若集装箱封志完好，乙方不对箱内货物的货损货差、货物灭失承担责任；非集装箱货物，若外包装完好，乙方不对包装内货物的货损货差、货物灭失承担责任。</div>
      <div>5、乙方必须凭甲方签字盖章的书面指令放货，否则由此而引起的后果由乙方负责。乙方只有在收到甲方“放货通知”后严格按“放货通知”的内容放货。如乙方擅自将甲方货物放给他人，乙方需承担全部责任 (甲方如通过传真或QQ发出放货指令，乙方仅对指令内容负责)。</div>
      <div>6、乙方在办理完清关手续后，应提前通知甲方货物到达仓库的确切时间，甲方可派人监督拆箱、灌包、入库（误差控制在0.3%以内），货物如有异常情况或集装箱如遇重大损坏等情况，乙方应及时通知甲方并协助甲方做好取证、应急处理及联系外轮理货等工作，以便甲方办理索赔等相关事宜。</div>
    </div>
    <div class="u-con u-stage">
      <div class="u-sub-title">三、责任的免除</div>
      <div>由于下列原因造成货物灭失、短少、变质、污染、损坏等，乙方不承担法律责任：</div>
      <div>（一）不可抗力。</div>
      <div>（二）货物本身的自然属性。</div>
      <div>（三）货物的合理损耗。</div>
      <div>（四）甲方或收货方本身的过错。</div>
      <div>（五）非乙方原因造成损失。</div>
    </div>
    <div class="u-con u-stage">
      <div class="u-sub-title">四、费用结算</div>
      <div>（一）费用标准和结算方式按本协议附件《报价确认书》约定执行，该附件是本协议不可分割的一部分，具有同等法律效力。</div>
      <div>（二）甲方逾期付款，需支付乙方逾付金额每天0.1%的违约金；同时，乙方在甲方付清所有费用之前有权扣押相关凭证作为质押资料（核销单、提单、税单等相关单据），并可对甲方任何批次货物行使留置权，由此产生的相关责任和费用由甲方承担，与乙方无关。</div>
      <div>（三）本协议为总协议，具体业务须以双方确认的《报价确认书》为准，传真件有效。</div>
    </div>
    <div class="u-con u-stage">
      <div class="u-sub-title">五、联系方式</div>
      <div>任何一方或相关部门（法院、仲裁机构及其他政府行政部门）根据合同首页处的联系方式给另一方发出的通知，若是传真或电子邮件，自发送当日视为送达；若是信函，自发出后第三日视为送达。如因接收方拒收、地址不详或有误、变更联系方式未书面告知发出方致使函件无法送达的，则发出方或相关部门根据合同首页处载明的方式发送的视为已送达，文件退回之日即为送达之日，由此而产生的不利法律后果由接收方自行承担。</div>
    </div>
    <div class="u-con u-stage">
      <div class="u-sub-title"> 六、生效日期及纠纷处理 </div>
      <div>
        （一）本合同自双方盖章之日起生效，有效期自
        <span class="u-line-50 u-key">{{data.key_9}}</span>年
        <span class="u-line-50 u-key">{{data.key_10}}</span>月
        <span class="u-line-50 u-key">{{data.key_11}}</span>日 至 
        <span class="u-line-50 u-key">{{data.key_12}}</span>年
        <span class="u-line-50 u-key">{{data.key_13}}</span>月
        <span class="u-line-50 u-key">{{data.key_14}}</span>日。
        合同期满，如双方同意继续合作，则双方需另行签订合同。
      </div>
      <div>（二）凡因本合同引起的或与本合同有关的任何争议，双方应协商解决，协商不成的均应提交上海海事法院，适用中国法律诉讼解决。</div>
      <div>（三）本协议正本一式两份，双方各执一份。</div>
    </div>

    <div class="u-footer">
      <div class="u-col">
        <div class="u-label">甲方：</div>
        <div class="u-label">盖章：</div>
        <div class="u-label">日期：</div>
      </div>
      <div class="u-col">
        <div class="u-label">乙方：</div>
        <div class="u-label">盖章：</div>
        <div class="u-label">日期：</div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    data: { type: Object, default: () => {} },
  },
}
</script>
<style lang='less' scoped>
.u-body {
  font-size: 12px;
  color: @color_subTitle;
  line-height: 25px;
  .u-title {
    font-weight: bold;
    font-size: @font_pageTitleSize;
    color: #333;
    text-align: center;
  }
  .u-sub-title {
    font-weight: bold;
    font-size: 14px;
    color: #333;
  }
  .u-subtitle-info {
    font-size: 14px;
    color: #333;
  }
  .u-row {
    .u-col {
      display: flex;
      .u-label {
        padding-right: 5px;
      }
    }
  }
}
.u-stage {
  margin-top: 20px;
}
.u-dui {
  display: inline-block;
  min-width: 15px;
}
.u-date {
  span {
    display: inline-block;
    min-width: 50px;
    position: relative;
    line-height: 18px;
    &::before {
      content: ' ';
      width: 100%;
      height: 1px;
      position: absolute;
      bottom: 0;
      border-bottom: 1px solid @color_subTitle;
    }
  }
}
.u-line-50 {
  display: inline-block;
  min-width: 50px;
  position: relative;
  line-height: 18px;
  &::before {
    content: ' ';
    width: 100%;
    height: 1px;
    position: absolute;
    bottom: 0;
    border-bottom: 1px solid @color_subTitle;
  }
}
.u-line-200 {
  display: inline-block;
  min-width: 200px;
  position: relative;
  line-height: 18px;
  &::before {
    content: ' ';
    width: 100%;
    height: 1px;
    position: absolute;
    bottom: 0;
    border-bottom: 1px solid @color_subTitle;
  }
}
.u-footer {
  display: flex;
  margin-top: 60px;
  .u-col {
    flex: 1;
  }
}
</style>
