<!--
 * @Description:
-->
<template>
  <div class="u-body">
    <div class="u-title">{{ '仓储协议' }}</div>
    <div class="u-row u-stage">
      <div class="u-col">
        <div class="u-label">甲方：</div>
        <div class="u-value u-key">{{ data.key_1 }}</div>
      </div>
      <div class="u-col">
        <div class="u-label">地址：</div>
        <div class="u-value u-key">{{ data.key_2 }}</div>
      </div>
      <div class="u-col">
        <div class="u-label">联系人：</div>
        <div class="u-value u-key">{{ data.key_3 }}</div>
      </div>
      <div class="u-col">
        <div class="u-label">电话：</div>
        <div class="u-value u-key">{{ data.key_4 }}</div>
      </div>
    </div>
    <div class="u-row u-stage">
      <div class="u-col">
        <div class="u-label">乙方：</div>
        <div class="u-value u-key">{{ data.key_5 }}</div>
      </div>
      <div class="u-col">
        <div class="u-label">地址：</div>
        <div class="u-value u-key">{{ data.key_6 }}</div>
      </div>
      <div class="u-col">
        <div class="u-label">联系人：</div>
        <div class="u-value u-key">{{ data.key_7 }}</div>
      </div>
      <div class="u-col">
        <div class="u-label">电话：</div>
        <div class="u-value u-key">{{ data.key_8 }}</div>
      </div>
    </div>
    <div class="u-stage">
      根据《中华人民共和国民法典》的规定，甲乙双方在平等、自愿、公平和诚实信用的基础上，根据委托储存计划和仓储能量，经协商一致，就甲方委托乙方提供仓储服务事宜，订立本合同，具体条款如下：
    </div>
    <div class="u-con u-stage">
      <div class="u-sub-title">一、仓储货物基本信息</div>
      <div>具体货物情况以入库时的入库单记载为准。</div>
    </div>
    <div class="u-con u-stage">
      <div class="u-sub-title">二、仓储期限</div>
      <div class="u-date">
        仓储期限：从
        <span class="u-key">{{ data.key_9 }}</span
        >年 <span class="u-key">{{ data.key_10 }}</span
        >月 <span class="u-key">{{ data.key_11 }}</span
        >日 至 <span class="u-key">{{ data.key_12 }}</span
        >年 <span class="u-key">{{ data.key_13 }}</span
        >月 <span class="u-key">{{ data.key_14 }}</span
        >日 止。
      </div>
      <div>
        约定存储期限届满，甲方货物未全部提取走，则视为仓储期限延长，仓储费用按照实际发生的结算。甲方应该按时将仓储费等费用支付给乙方，未将仓储费用支付给乙方情况下，乙方有权留置甲方的货物。
      </div>
    </div>
    <div class="u-con u-stage">
      <div class="u-sub-title">三、甲方权利及义务</div>
      <div>
        1、甲方应当在货物到达前的合理时间内提供到货通知，以便乙方安排库容和操作人员。
      </div>
      <div>
        2、在协议履行期间，甲方有权提出检查仓储物或者提取样品的要求，乙方应当同意。甲方有权就货物的操作、交接、进出仓等事宜对乙方进行指示，并随时了解货物的状态。
      </div>
      <div>
        3、在协议履行期间，甲方如发现乙方的仓库或操作存在潜在或实际的违反法律、法规及政策规定的情况，可立即通知乙方整改。在乙方丧失履行本协议的相关资质或乙方违约经甲方书面警告后10个工作日内仍不消除违约状态的，甲方有权单方解除本协议。
      </div>
      <div>
        4、甲方应如实向乙方书面告知货物信息，包括但不仅限于货物的名称、性质、体积、重量、数量、规格、型号、特殊操作要求、货物的合理码放方式等。甲方保证不存放国家法律法规及政策禁止的违禁品。
      </div>
      <div>
        5、甲方货物需经合乎标准的妥善包装，能经受正常装卸、存储，包装上需有清晰标志。
      </div>
      <div>
        6、甲方存储危险品、易变质物品的，应当按照国家有关危险物品及易变质物品存储的规定对危险物品妥善包装，作出相应标志和标签，并将装卸、存储方法书面提交乙方。
      </div>
      <div>
        7、甲方提货时应做好出库验收，发现问题应当场向乙方提出异议，无问题则应作完好签收。甲方的完好签收视为对货物完好状况的书面确认。
      </div>
      <div>
        8、乙方完成仓储服务，甲方应依照协议约定支付仓储费用。双方协议费用计算如下：
      </div>
      <div>（ √ ）1、以报价确认书为准</div>
      <div>（ ）2、双方特别约定如下：<span class="u-line"></span></div>
    </div>
    <div class="u-con u-stage">
      <div class="u-sub-title">四、乙方权利和义务</div>

      <div>
        1、乙方须遵守国家有关法律法规的规定，按照批准的经营范围经营。提供的仓库应具备安全和防火措施，并满足通风、防水等基本条件。。
      </div>
      <div>
        2、按照甲方的操作要求进行货物的入库装卸和在库管理；因货物属性需要采取特殊保管或装卸措施的，乙方应根据甲方书面指示执行特殊操作。
      </div>
      <div>
        3、乙方在接收入库货物时，有权对货物的外包装进行验收。若入库货物的外包装以及外包装标注事项与到货通知中记载不符的，有权拒收并通知甲方。乙方仅对货物的外包装负责，如果货物的外包装完好，则乙方不对包装内的产品损坏情况和质量瑕疵承担责任。
      </div>
      <div>
        4、甲方存储物品为危险品或易变质物品时，无论乙方事先是否知悉货物真实属性，乙方均得在其认为货物将对仓库、人员或者其他货物或财产构成危险时，将其销毁或使之不能危害，乙方不承担责任。
      </div>
      <div>
        5、乙方有权对货物进行验收，在验收中发现货物溢短，对溢出部分有权拒收，对短少部分有权向甲方主张违约责任。对于货物存在的不良状况，有权要求甲方更换、修理或拒绝接受，否则有权如实编制记录，以明确责任。
      </div>
      <div>
        6、储存期间届满，甲方或者仓单持有人逾期不提取货物时，乙方可催告其在合理期间内提货，并加收仓储费，乙方也可以提存仓储物，由此产生的费用由甲方承担。乙方按照本协议约定提供服务的，有权要求甲方依照合同约定支付仓储费用。
      </div>
      <div>7、乙方必须对甲方的装箱内容及客户资料保密，不得泄露。</div>
    </div>
    <div class="u-con u-stage">
      <div class="u-sub-title">五、违约责任及免责事由</div>

      <div>
        1、因乙方过错导致货物在存储期间的损坏、灭失、短少的，乙方负责赔付甲方所产生的直接损失；
      </div>
      <div>
        2、若甲方违反约定存放易燃、易爆的危险物品或易变质品导致乙方仓库或其他货物受损的，甲方应负责赔偿仓库的清理费用及造成的其他货物的损失；
      </div>
      <div>
        3、易燃、易爆、易渗漏、有毒等危险货物以及易腐、超限等特殊货物，必须在合同中注明，并向乙方提供必要的保管运输技术材料，否则造成的货物毁损、仓库毁损或人身伤亡，由甲方承担赔偿责任直至刑事责任。
      </div>
      <div>
        4、下列原因导致的货物损坏、短少、灭失的，乙方不承担损害赔偿责任：
      </div>
      <div>（1）不可抗力；</div>
      <div>（2）货物自身性质变化或者合理损耗；</div>
      <div>（3）包装缺陷或包装完好但内装货物损坏、短少、灭失的；</div>
      <div>
        （4）甲方、甲方代理人或指定提货人或其他非保管人等第三方原因导致的货物损坏、短少、灭失的；
      </div>
      <div>
        （5）因货物违反国家法律法规被有关国家机关查扣、弃置或做其他处理的。
      </div>
    </div>
    <div class="u-con u-stage">
      <div class="u-sub-title">六、声明及保证</div>
      <div>甲方和乙方均声明和保证：</div>
      <div>1、有权签署并有能力履行本合同。</div>
      <div>2、签署和履行本合同所需的一切手续均已办妥并合法有效。</div>
      <div>
        3、在签署本合同时，任何法院、仲裁机构、行政机关或监管机构均未作出任何足以对自己一方履行本合同产生重大不利影响的判决、裁定、裁决或具体行政行为。
      </div>
      <div>
        4、为签署本合同所需的内部授权程序均已完成，本合同的签署人是合同方的法定代表人或授权代表人。本合同生效后即对合同双方具有法律约束力。
      </div>
    </div>
    <div class="u-con u-stage">
      <div class="u-sub-title">七、争议的解决</div>
      <div>
        凡因本合同引起的或与本合同有关的任何争议，双方应协商解决，协商不成的均应提交乙方所在地人民法院，适用中国法律诉讼解决。
      </div>
    </div>
    <div class="u-con u-stage">
      <div class="u-sub-title">八、补充与附件</div>
      <div>
        1、本合同未尽事宜，依照有关法律、法规执行，法律、法规未作规定的，双方可以达成书面补充协议。本合同的附件和补充协议均为本合同不可分割的组成部分，与本合同具有同等的法律效力。
      </div>
      <div>2、本协议一式两份，甲乙双方各执一份，具有同等法律效力。</div>
    </div>

    <div class="u-footer">
      <div class="u-col">
        <div class="u-label">甲方：</div>
        <div class="u-label">甲方（盖章）：</div>
        <div class="u-label">日期：</div>
      </div>
      <div class="u-col">
        <div class="u-label">乙方：</div>
        <div class="u-label">乙方（盖章）：</div>
        <div class="u-label">日期：</div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    data: { type: Object, default: () => {} }
  }
}
</script>
<style lang='less' scoped>
.u-body {
  font-size: 12px;
  color: $color_subTitle;
  line-height: 25px;
  .u-title {
    font-weight: bold;
    font-size: $font_pageTitleSize;
    color: #333;
    text-align: center;
  }
  .u-sub-title {
    font-weight: bold;
    font-size: 14px;
    color: #333;
  }
  .u-row {
    .u-col {
      display: flex;
      .u-label {
        padding-right: 5px;
      }
    }
  }
}
.u-stage {
  margin-top: 20px;
}
.u-date {
  span {
    display: inline-block;
    min-width: 50px;
    position: relative;
    line-height: 18px;
    &::before {
      content: ' ';
      width: 100%;
      height: 1px;
      position: absolute;
      bottom: 0;
      border-bottom: 1px solid $color_subTitle;
    }
  }
}
.u-line {
  display: inline-block;
  min-width: 200px;
  position: relative;
  line-height: 18px;
  &::before {
    content: ' ';
    width: 100%;
    height: 1px;
    position: absolute;
    bottom: 0;
    border-bottom: 1px solid $color_subTitle;
  }
}
.u-footer {
  display: flex;
  margin-top: 60px;
  .u-col {
    flex: 1;
  }
}
</style>
