<!--
 * @Description:
-->
<template>
  <div class="u-body">
    <div class="u-title">{{  '运输代理合同'}}</div>
    <div class="u-row u-stage">
      <div class="u-col">
        <div class="u-label">甲方：</div>
        <div class="u-value u-key">{{data.key_1}}</div>
      </div>
    </div>
    <div class="u-row u-stage">
      <div class="u-col">
        <div class="u-label">乙方：</div>
        <div class="u-value u-key">{{data.key_5}}</div>
      </div>
    </div>
    <div class="u-stage">
      根据《中华人民共和国民法典》及其他有关法律、法规的规定，甲乙双方经友好协商，就甲方委托乙方安排内陆货物运输代理事宜依法达成以下协议条款，以资共同信守：
    </div>
    <div class="u-con u-stage">
      <div class="u-sub-title">一、甲方责任</div>
      <div>1、甲方应当至迟提前一日，将《发货指令单》以书面形式发送至乙方。</div>
      <div>2、甲方提供的货物必须包装完好，标识完整、清晰、详细，适合装卸、吊装及公路运输，非国家禁运品。</div>
      <div>3、甲方交运易燃、易爆、有毒、腐蚀性、放射性等危险品或易变质品的，应当按照国家有关危险物品运输或易变质物品运输的规定对物品进行妥善包装，制作并张贴危险品或易变质物品的标志和标签，同时应将有关危险品、易变质品的名称、性质、特殊操作措施等以书面形式于交运前提交乙方。</div>
      <div>4、货到目的地后，甲方应安排收货人立即提货，逾期未提货的，乙方有权要求甲方承担违约金，同时乙方有权将货物卸下，由此产生的卸货费、仓储费及相关费用由甲方承担。货到7天后，甲方或其指定的收货人未提取货物，乙方不承担保管责任。</div>
      <div>5、甲方应当对委托乙方出运的货物购买保险，或者委托乙方进行购买；甲方应当将该物的运输保险凭证交付乙方。在货物出险后，甲方有义务协同乙方办理出险索赔的有关手续；乙方办理保险理赔完结，将理赔所得扣除乙方垫付的费用之后，余款交甲方，作为出险货物运输合同的终结。</div>
      <div>6、甲方应依照本协议结算条款的规定，按时、足额向乙方支付运输费用。 </div>
    </div>
    <div class="u-con u-stage">
      <div class="u-sub-title">二、乙方责任</div>
      <div>1、乙方应当具备履行本合同中公路运输业务的合法运营资质，且提供适当的运输工具，配备适格的作业人员。</div>
      <div>2、乙方接货时应当对货物的表面状况进行检查，清点货物数量，并于托运单上签字确认，乙方有权在托运单上就货物表面状况进行批注。乙方仅对货物的表面状况是否完好负责，乙方对货物的质量是否符合需方要求不承担任何责任。</div>
      <div>3、甲方同意乙方对其承接的甲方业务进行部分或者全部的外包，但乙方应保证外包单位具备承办该外包业务的相应资质。</div>
      <div>4、乙方对其责任期间发生的货物的损毁、丢失承担赔偿责任，根据货物损毁、丢失的具体情况，乙方按货物的出厂价格进行部分或全部赔偿，如果货物的损毁是因为不可抗力（包括但不限于自然灾害、战争、政府禁令、罢工等）、货物本身的自然性质变化、货物包装不符合要求以及甲方、甲方收货人或其他第三方的原因而造成的损失，乙方不承担赔偿责任，但应及时通知甲方并采取有效措施，防止损失的扩大。</div>
    </div>
    <div class="u-con u-stage">
      <div class="u-sub-title">三、费用结算</div>
      <div>双方商定运输及仓储费用，采取月结形式，具体费用明细及结算方式由双方另行协商。 </div>
    </div>
    <div class="u-con u-stage">
      <div class="u-sub-title">四、联系方式</div>
      <div>乙方或相关部门（法院、仲裁机构及其他政府行政部门）根据合同首页处的联系方式给甲方发出的通知，若是传真或电子邮件，自发送当日视为送达；若是信函，自发出后第三日视为送达。如因甲方拒收、地址不详或有误、变更联系方式未书面告知乙方致使函件无法送达的，则乙方或相关部门根据合同首页处载明的方式发送的视为已送达，文件退回之日即为送达之日，由此而产生的不利法律后果由甲方自行承担。</div>
    </div>
    <div class="u-con u-stage">
      <div class="u-sub-title">五、适用法律及争议的解决</div>
      <div>凡因本合同引起的或与本合同有关的任何争议，双方应协商解决，协商不成的应提交乙方所在地人民法院，适用中国法律诉讼解决。</div>
    </div>
    <div class="u-con u-stage">
      <div class="u-sub-title">六、协议的生效、延长、修改及终止</div>
      <div class="u-date">
        1、本协议自双方签字盖章之日起生效，合同有效期自
        <span class="u-key">{{data.key_9}}</span>年
        <span class="u-key">{{data.key_10}}</span>月
        <span class="u-key">{{data.key_11}}</span>日 至 
        <span class="u-key">{{data.key_12}}</span>年
        <span class="u-key">{{data.key_13}}</span>月
        <span class="u-key">{{data.key_14}}</span>日止。
      </div>
      <div>2、对本协议的任何补充或修改，都应以书面形式提出，并经双方签字确认后方能生效。</div>
      <div>3、本协议一式二份，双方各持一份，具有同等法律效力。</div>
    </div>

    <div class="u-footer">
      <div class="u-col">
        <div class="u-label">甲方：</div>
        <div class="u-label">甲方（盖章）：</div>
        <div class="u-label">日期：</div>
      </div>
      <div class="u-col">
        <div class="u-label">乙方：</div>
        <div class="u-label">乙方（盖章）：</div>
        <div class="u-label">日期：</div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    data: { type: Object, default: () => {} },
  },
}
</script>
<style lang='less' scoped>
.u-body {
  font-size: 12px;
  color: @color_subTitle;
  line-height: 25px;
  .u-title {
    font-weight: bold;
    font-size: @font_pageTitleSize;
    color: #333;
    text-align: center;
  }
  .u-sub-title {
    font-weight: bold;
    font-size: 14px;
    color: #333;
  }
  .u-row {
    .u-col {
      display: flex;
      .u-label {
        padding-right: 5px;
      }
    }
  }
}
.u-stage {
  margin-top: 20px;
}
.u-date {
  span {
    display: inline-block;
    min-width: 50px;
    position: relative;
    line-height: 18px;
    &::before {
      content: ' ';
      width: 100%;
      height: 1px;
      position: absolute;
      bottom: 0;
      border-bottom: 1px solid @color_subTitle;
    }
  }
}
.u-line {
  display: inline-block;
  min-width: 200px;
  position: relative;
  line-height: 18px;
  &::before {
    content: ' ';
    width: 100%;
    height: 1px;
    position: absolute;
    bottom: 0;
    border-bottom: 1px solid @color_subTitle;
  }
}
.u-footer {
  display: flex;
  margin-top: 60px;
  .u-col {
    flex: 1;
  }
}
</style>
