<!--
 * @Description:
-->
<template>
  <div class="u-body">
    <div class="u-title">{{  '报价确认书'}}</div>
    <div class="u-row u-stage">
      <div class="u-col">
        <div class="u-label">甲方：</div>
        <div class="u-value u-key">{{data.key_1}}</div>
      </div>
    </div>
    <div class="u-row u-stage">
      <div class="u-col">
        <div class="u-label">乙方：</div>
        <div class="u-value u-key">{{data.key_2}}</div>
      </div>
    </div>
    <div class="u-con u-stage">
      <div>一、乙方为甲方进口 <span class="u-line-50 u-key">{{ data.key_3 }}</span>提供<span class="u-sub-title">运输服务</span>报价</div>
      <div>1、陆路运输费：含税价，税率为{{data.freightForwarderTax}}
        <!-- <div v-for="(v, i) of data.key_4" :key="i">
          <span class="u-key">{{ v.portCname + v.portAreaCname }}</span> 至 
          <span class="u-line-50 u-key">{{ (v.doorProvince || '')+(v.doorCity || '')+(v.doorCounty || '')+(v.doorStreet || '') }}</span>（洋山深水港除外） ：陆路运输费为
          <span class="u-key">{{ v.fareAmount }}</span>元/ 
          <span class="u-line-50 u-key">{{ v.containerSize }}</span> 尺（含税价，税率为9%）；
        </div> -->
        <a-table 
        :data="data.key_4"
        :columns="columns"
        :pagination="false"
        >
        <template #categoryName>{{data.key_3}}</template>
          <template #portName="{record}">{{ record.portName }}{{ record.portArea }}</template>
          <template #quoteSummerList="{record}">
            <ul>
                <li 
                  v-for="(item,index) in record.quoteSummerList" 
                  :key="index"
                >
                  {{item.containerCount}}
                </li>
              </ul>
          </template>
          <template #quoteSumList="{record}">
            <ul>
                <li 
                  v-for="(item,index) in record.quoteSummerList" 
                  :key="index"
                >
                  {{item.quoteAmount}}
                </li>
              </ul>
          </template>
        </a-table>
        <!-- <el-table
          :data="data.key_4"
          border
          size="mini"
          width="100%"
        >
          <el-table-column
            label="销售品名"
            property="categoryName"
          >
            <template>
              {{ data.key_3 }}
            </template>
          </el-table-column>
          <el-table-column
            label="港口"
            property="portName"
          >
            <template slot-scope="scope">
              {{ scope.row.portName }}{{ scope.row.portArea }}
            </template>
          </el-table-column>
          <el-table-column
            label="箱型"
            property="containerSizeType"
          >
          </el-table-column>
          <el-table-column
            label="门点"
            property="doorName"
          >
          </el-table-column>
          <el-table-column
            label="报价箱量（单票）"
            property="quoteSummerList"
          >
            <template slot-scope="scope">
              <ul>
                <li 
                  v-for="(item,index) in scope.row.quoteSummerList" 
                  :key="index"
                >
                  {{item.containerCount}}
                </li>
              </ul>
            </template>
          </el-table-column>
          <el-table-column
            label="总报价（元/柜）"
            property="quoteSummerList"
          >
            <template slot-scope="scope">
              <ul>
                <li 
                  v-for="(item,index) in scope.row.quoteSummerList" 
                  :key="index"
                >
                  {{item.quoteAmount}}
                </li>
              </ul>
            </template>
          </el-table-column>
        </el-table> -->
      </div>
      <!-- <div>2、结费期限：甲方可以选择如下第<span class="u-line-50 u-key">{{ data.key_14 }}</span> 种结算方式支付上述费用：</div>

      <div class="u-subtitle-info">（1）运输完成后 
        <span class="u-line-50 u-key">{{ data.key_14 == 1 ? data.key_15 : '' }}</span>付款；
      </div>
      <div>（2）月结：当月费用（以送货日为标准），乙方应于次月15日前发送当月账单给甲方（通过邮件、传真、书面文件、QQ、微信等），甲方收到账单后
        <span class="u-line-50 u-key">{{ data.key_14 == 2 ? data.key_16 : '' }}</span>个工作日 内完成确认，甲方在收到乙方正规发票后
        <span class="u-line-50 u-key">{{ data.key_14 == 3 ? data.key_17 : '' }}</span>个工作日 内付款；
      </div>
      <div>（3）其他结算方式：<span class="u-line-200 u-key">{{data.key_14 == 3 ? data.key_18 : ''}}</span>。</div> -->
      <div>2、结费期限：</div>

      <div class="u-subtitle-info" v-if="data.key_14 == 1">运输完成后 
        <span class="u-line-50 u-key">{{  data.key_15 }}</span>付款；
      </div>
      <div v-if="data.key_14 == 2">月结：当月费用（以送货日为标准），乙方应于次月15日前发送当月账单给甲方（通过邮件、传真、书面文件、QQ、微信等），甲方收到账单后
        <span class="u-line-50 u-key">{{ data.key_17}}</span>个工作日 内完成确认，甲方在收到乙方正规发票后
        <span class="u-line-50 u-key">{{  data.key_16  }}</span>个工作日 内付款；
      </div>
      <div v-if="data.key_14 == 3">其他结算方式：<span class="u-line-200 u-key">{{ data.key_18}}</span>。</div>
    </div>

    
    <div class="u-con u-stage">
      <div class="u-sub-title u-normal">二、乙方不接受甲方任何形式的商业承兑汇票、财司票等票据。乙方开具的发票不作为甲方已付款的依据。</div>
    </div>
    <div class="u-con u-stage">
      <div class="u-sub-title">三、特殊约定：</div>
      <div class="u-subtitle-info">（一）如单柜的货重（港区箱货信息）在27吨（含）至30.5吨（含）之间的，如货物自外港运至上海市内则加收运费100元/柜，洋山运至上海市内则加收运费200元/柜；如货物自上海港运至上海市外，且运输里程数在200公里以内的，则加收运费300元/柜，如运输里程数超过200公里的，则双方另行约定。</div>
      <div class="u-subtitle-info">（二）如单柜的货重（港区箱货信息）高于30.5吨的，运费需经双方协商一致后，方可进行该票货物的报关运输等业务。</div>
      <div class="u-subtitle-info">（三）如因甲方故意、过失而虚报、瞒报实际货物重量或其他原因导致运输车辆超限或超载的，所产生的所有责任均由甲方承担（包括但不限于罚款、转载费用、行政处罚等）。</div>
    </div>
    <div class="u-con u-stage">
      <div class="u-sub-title u-normal">四、其他约定： <span class="u-line-200" v-if="!data.key_31"></span> <span class="u-key">{{ data.key_31 }}</span> </div>
    </div>
    <div class="u-con u-stage">
      <div class="u-sub-title u-normal">五、本《报价确认书》是《货运代理协议》/相关代理协议/服务协议/合作协议或《试做单申请》等不可分割的一部分，具有同等法律效力。本《报价确认书》有效期同主合同有效期一致，但主合同部分条款的无效，并不导致本《报价确认书》无效。</div>
    </div>

    <div class="u-footer">
      <div class="u-col">
        <div class="u-label">甲方：<span class="u-key">{{ data.key_1 }}</span></div>
        <div class="u-label">甲方（盖章）：</div>
        <div class="u-label">日期：</div>
      </div>
      <div class="u-col">
        <div class="u-label">乙方：<span class="u-key">{{ data.key_2 }}</span></div>
        <div class="u-label">乙方（盖章）：</div>
        <div class="u-label">日期：</div>
      </div>
    </div>
  </div>
</template>

<script setup>
import { defineProps,ref } from 'vue';
defineProps({
  data:{
    type:Object,
    default:{}
  }
})
const columns = ref([{
  title:'销售品名',
  dataIndex:'categoryName',
  slotName:'categoryName',
},{
  title:'港口',
  dataIndex:'portName',
  slotName:'portName'
},{
  title:'箱型',
  dataIndex:'containerSizeType',
},{
  title:'门点',
  dataIndex:'doorName',
},{
  title:'报价箱量（单票）',
  dataIndex:'quoteSummerList',
  slotName:'quoteSummerList'
},{
  title:'总报价（元/柜）',
  dataIndex:'quoteSummerList',
  slotName:'quoteSumList'
}
])
</script>
<style lang='less' scoped>
.u-body {
  font-size: 12px;
  color: @color_subTitle;
  line-height: 25px;
  .u-title {
    font-weight: bold;
    font-size: @font_pageTitleSize;
    color: #333;
    text-align: center;
  }
  .u-sub-title {
    font-weight: bold;
    font-size: 14px;
    color: #333;
  }
  .u-subtitle-info {
    font-size: 14px;
    color: #333;
  }
  .u-row {
    .u-col {
      display: flex;
      .u-label {
        padding-right: 5px;
      }
    }
  }
}
.u-stage {
  margin-top: 20px;
}
.u-date {
  span {
    display: inline-block;
    min-width: 50px;
    position: relative;
    line-height: 18px;
    &::before {
      content: ' ';
      width: 100%;
      height: 1px;
      position: absolute;
      bottom: 0;
      border-bottom: 1px solid @color_subTitle;
    }
  }
}
.u-line-50 {
  display: inline-block;
  min-width: 50px;
  position: relative;
  line-height: 18px;
  &::before {
    content: ' ';
    width: 100%;
    height: 1px;
    position: absolute;
    bottom: 0;
    border-bottom: 1px solid @color_subTitle;
  }
}
.u-line-200 {
  display: inline-block;
  min-width: 200px;
  position: relative;
  line-height: 18px;
  &::before {
    content: ' ';
    width: 100%;
    height: 1px;
    position: absolute;
    bottom: 0;
    border-bottom: 1px solid @color_subTitle;
  }
}
.u-check-group {
  display: flex;
  align-items: center;
  .u-check {
    display: inline-flex;
    line-height: 25px;
    width: 12px;
    height: 12px; 
    border-radius: 2px;
    border: 1px solid #333;
    margin: 0 5px;
  }
}
.u-footer {
  display: flex;
  margin-top: 60px;
  .u-col {
    flex: 1;
  }
}
</style>
