<template>
  <div class="certification-box">
    <div class="upload">
      <div class="upload-left">
        <div class="second-title">{{ $t('营业执照') }}</div>
        <a-space direction="vertical" :style="{ width: '100%' }">
          <a-upload
            action="/"
            :fileList="file ? [file] : []"
            :show-file-list="false"
            @before-upload="beforeAvatarUpload"
            :custom-request="uploadfile"
          >
            <template #upload-button>
              <div
                :class="`arco-upload-list-item${
                  file && file.status === 'error'
                    ? ' arco-upload-list-item-error'
                    : ''
                }`"
              >
                <div
                  class="arco-upload-list-picture custom-upload-avatar"
                  v-if="file && file.url"
                >
                  <img :src="file.url" />
                  <div class="arco-upload-list-picture-mask">
                    <IconEdit />
                  </div>
                  <a-progress
                    v-if="file.status === 'uploading' && file.percent < 100"
                    :percent="file.percent"
                    type="circle"
                    size="mini"
                    :style="{
                      position: 'absolute',
                      left: '50%',
                      top: '50%',
                      transform: 'translateX(-50%) translateY(-50%)',
                    }"
                  />
                </div>
                <div class="arco-upload-picture-card" v-else>
                  <div class="arco-upload-picture-card-text">
                    <IconPlus />
                    <div style="margin-top: 10px; font-weight: 600"
                      >上传营业执照</div
                    >
                  </div>
                </div>
              </div>
            </template>
          </a-upload>
        </a-space>
        <div class="upload-prompt">
          {{ $t('照片仅限jpeg、jpg、png格式 且大小不超过10M') }},{{
            $t(
              '请上传彩色原件或加盖企业公章的复印件；非企业单位，请使用登记执照；'
            )
          }}
        </div>
      </div>
      <div class="upload-right">
        <div class="second-title">{{ $t('示例图') }}</div>
        <div class="upload-img">
          <img src="@/assets/images/members/yingyezhizhao.png" alt="" />
        </div>
      </div>
    </div>
    <div class="certification-information">
      <div class="list">
        <div class="list-item">
          <div class="second-title enterprise-title">{{ $t('企业名称') }}</div>
          <a-input
            v-model="formData.enterpriseName"
            placeholder="请输入企业全称"
            allow-clear
          />
        </div>
        <div class="list-item">
          <div class="second-title enterprise-title">
            {{ $t('统一社会信用代码') }}
          </div>
          <a-input
            v-model="formData.enterpriseCode"
            placeholder="请输入统一社会信用代码"
            allow-clear
          />
        </div>
        <div class="list-item">
          <div class="second-title enterprise-title">{{ $t('法人姓名') }}</div>
          <a-input
            v-model="formData.legalName"
            placeholder="请输入企业全称"
            allow-clear
          />
          <div class="input-prompt">
            <div class="prompt-icon">!</div>
            <div>{{ $t('以上信息系统自动识别，请仔细核对并修正') }}</div>
          </div>
        </div>
      </div>
      <div class="list">
        <div class="list-item">
          <div class="second-title enterprise-title">
            {{ $t('企业英文名称') }}
          </div>
          <a-input
            v-model="formData.enterpriseEnName"
            placeholder="请输入企业英文名称"
            allow-clear
          />
        </div>
        <div class="list-item">
          <div class="second-title enterprise-title">{{ $t('企业身份') }}</div>
          <a-select
            multiple
            v-model="formData.enterpriseIdentity"
            placeholder="请选择企业身份"
          >
            <a-option
              v-for="item in enterDataList"
              :key="item.code"
              :label="item.desc"
              :value="item.code"
            >
            </a-option>
          </a-select>
        </div>
      </div>
    </div>
    <div class="certification-bottom">
      <div class="nextStep"
        ><a-button type="primary" @click="nextStep">下一步</a-button>
      </div>
      <div><a-button @click="skip">跳过</a-button> </div>
    </div>
  </div>
</template>

<script lang="ts" setup>
import IconEdit from '@arco-design/web-vue/es/icon/icon-edit';
import IconPlus from '@arco-design/web-vue/es/icon/icon-plus';
import { Message } from '@arco-design/web-vue';
import { useI18n } from 'vue-i18n';
import { reactive, ref } from 'vue';
import { useRoute, useRouter } from 'vue-router';
import { useTentantStore, useUserStore } from '@/store';
import { memberUser } from '@/api/member';
const file = ref();
const fileData = ref();
const route = useRoute();
const router = useRouter();
const userTentant = useTentantStore();
const userStore = useUserStore();
const enterDataList = ref([]);
const { t } = useI18n();
const emits = defineEmits(['nextStep']);
const formData = reactive({
  enterpriseName: '',
  enterpriseCode: '',
  legalName: '',
  enterpriseEnName: '',
  imageUrl: '',
  enterpriseIdentity: [],
});
const getEnterpriseList = async () => {
  const { data } = await memberUser.enterpriseList();
  enterDataList.value = data;
};
getEnterpriseList();
const uploadfile = async (option: any) => {
  file.value = {
    ...option.fileItem,
  };
  console.log(option,"file");
  
  const { data } = await memberUser.fileUpload({
    // paramsType: 'formdata',
    file: fileData.value,
  });
  formData.imageUrl = data.url;
  businessLicenseAnalysis();
};
const businessLicenseAnalysis = async () => {
  const { data } = await memberUser.businessLicenseAnalysis({
    businessLicenseUrl: formData.imageUrl,
  });
  formData.enterpriseName = data.name;
  formData.enterpriseCode = data.registerNumber;
  formData.legalName = data.legalPerson;
};
const beforeAvatarUpload = (files: any) => {
  //   file.value = files;
  if (files.size > 10 * 1000 * 1000) {
    Message.error('图片大小尺寸不超过10MB');
    return false;
  }
  if (files.type.indexOf('image') == -1) {
    Message.error('图片格式仅支持jpg, png');
    return false;
  }
  fileData.value = files;
  return new Promise((resolve) => {
    resolve(true);
  });
};
//下一步
const nextStep = async () => {
  if (formData.enterpriseName == '') {
    Message.error(t('企业名称不能为空'));
    return;
  }
  if (formData.enterpriseCode == '') {
    Message.error(t('统一社会信用代码不能为空'));
    return;
  }
  if (formData.legalName == '') {
    Message.error(t('法定代表人姓名不能为空'));
    return;
  }
  if (formData.enterpriseEnName == '') {
    Message.error(t('企业英文名称不能为空'));
    return;
  }
  if (formData.enterpriseIdentity.length == 0) {
    Message.error(t('企业身份不能为空'));
    return;
  }
  if (formData.imageUrl == '') {
    Message.error(t('营业执照不能为空'));
    return;
  }
  const params = {
    enterpriseId: userTentant?.tenantId,
    tenantId: userTentant?.tenantId,
    businessLicense: formData.imageUrl,
    enterpriseName: formData.enterpriseName,
    enterpriseEnName: formData.enterpriseEnName,
    socialCreditCode: formData.enterpriseCode,
    legalRepresentative: formData.legalName,
    enterpriseIdentityList: formData.enterpriseIdentity,
  };
  const { data } = await memberUser.enterpriseData(params);
  emits('nextStep', formData);
};
//跳过
const skip = () => {
  if (route.query.userId) {
    router.push('/login');
  } else {
    router.push('/');
  }
};
</script>

<style lang="less" scoped>
.certification-container {
  width: 97.5%;
  background: #ffffff;
  border-radius: 12px 12px 0px 0px;
  margin: 12px 15px;
  padding-top: 24px;
  .step {
    width: 570px;
    height: 23px;
    margin: 0 auto;
  }

  .certification-box {
    margin-top: 40px;
    margin-left: 196px;
    padding-bottom: 20px;
    .upload {
      display: flex;
      padding-top: 10px;
      margin: 0 auto;
      width: 70%;
      .arco-upload-picture-card,
      .arco-upload-list-picture {
        width: 170px;
        height: 104px;
      }
      .upload-left {
        width: 50%;
        .avatar-uploader {
          margin-top: 10px;

          .avatar {
            width: 170px;
            height: 102px;
          }
        }

        .avatar-uploader-icon {
          font-size: 28px;
          color: #8c939d;
          width: 170px;
          height: 102px;
          line-height: 70px;
          text-align: center;
          position: relative;
        }
        .upload-title {
          position: absolute;
          top: 65px;
          left: 50px;
          font-size: 12px;
          color: #333333;
        }
        .upload-prompt {
          width: 164px;
          height: 50px;
          font-size: 12px;
          color: rgba(0, 0, 0, 0.43);
          margin-top: 10px;
        }
      }
      .upload-right {
        width: 50%;
        padding-top: 20px;
        display: flex;
        .upload-img {
          width: 100px;
          height: 110px;
          margin-left: 30px;
          img {
            width: 100%;
            height: 100%;
          }
        }
      }
    }
    .certification-information {
      width: 70%;
      margin: 30px auto 0;
      .list {
        display: flex;
        flex-wrap: wrap;
        .list-item {
          width: 50%;
          padding-right: 20px;
          margin-bottom: 20px;
          .enterprise-title {
            margin-bottom: 10px;
          }
          .input-prompt {
            color: #f4be5e;
            font-size: 12px;
            display: flex;
            align-items: center;
            margin-top: 10px;
            .prompt-icon {
              width: 12px;
              height: 12px;
              box-sizing: border-box;
              background: #f4be5e;
              border-radius: 50%;
              line-height: 12px;
              color: #fff;
              text-align: center;
              margin-right: 2px;
            }
          }
        }
      }
    }
    .certification-bottom {
      width: 100%;
      margin-top: 30px;
      margin-left: -83px;
      display: flex;
      justify-content: center;
      .nextStep {
        // width: 50%;
        display: flex;
        margin-right: 20px;
        // padding-bottom: 30px;
      }
    }
  }
}
.second-title {
  color: #848490;
  font-size: 12px;
}
</style>
