<template>
  <div class="finish-box">
    <div class="finish-container">
      <div class="finish-img">
       <icon-storage />
      </div>
      <div class="finish-text">
        {{ $t('企业认证信息已提交，请耐心等待，审核时间大概') }}
        <span style="color: #2969FF">1-2</span>
        {{ $t("个工作日") }}
      </div>
      <div class="finish-button">
        <a-button v-if="status" @click="login" type="primary">
          {{ $t("登录") }}</a-button
        >
        <a-button v-else @click="setting" type="primary">
          {{ $t("首页") }}</a-button
        >
      </div>
    </div>
  </div>
</template>

<script lang="ts" setup>
import {ref} from "vue"
import {useRoute,useRouter} from "vue-router"
const route = useRoute()
const router = useRouter()
const status=ref(false)
if(route.query.userId){
    status.value=true
}
else{
    status.value=false
}
const login=()=>{
    router.push("login")
}
const setting=()=>{
    router.push("/")
}
</script>

<style lang="less" scoped>
.finish-box {
  height: calc(100vh - 140px);
  .arco-icon{
    width: 6rem;
    height: 8rem;
    color: #2969FF;
  }
    padding-top: 194px;
  .finish-img {
    width: 100px;
    height: 88px;
    margin: 0 auto 32px;
    img {
    width: 100px;
    height: 88px;
    }
  }
  .finish-text {
    width: 345px;
    margin: 0 auto;
    color: #666666;
    font-size: 14px;
    text-align: center;
  }
  .finish-button {
    text-align: center;
    margin-top: 20px;
  }
}
</style>