<template>
  <div class="certification-box">
    <div class="person-checkbox">
      <a-radio v-model="formData.personCheck" value="1">
        {{ $t('我是企业法人') }}</a-radio
      >
      <a-radio v-model="formData.personCheck" value="0">{{
        $t('我不是企业法人，我是经办人 ')
      }}</a-radio>
    </div>
    <div class="upload">
      <div class="upload-left">
        <div class="second-title">{{ $t('上传身份证') }}</div>
        <a-space direction="vertical" :style="{ width: '100%' }">
          <a-upload
            action="/"
            :fileList="file ? [file] : []"
            :show-file-list="false"
            @before-upload="beforeAvatarUpload"
            :custom-request="uploadfile"
          >
            <template #upload-button>
              <div
                :class="`arco-upload-list-item${
                  file && file.status === 'error'
                    ? ' arco-upload-list-item-error'
                    : ''
                }`"
              >
                <div
                  class="arco-upload-list-picture custom-upload-avatar"
                  v-if="file && file.url"
                >
                  <img :src="file.url" />
                  <div class="arco-upload-list-picture-mask">
                    <IconEdit />
                  </div>
                  <a-progress
                    v-if="file.status === 'uploading' && file.percent < 100"
                    :percent="file.percent"
                    type="circle"
                    size="mini"
                    :style="{
                      position: 'absolute',
                      left: '50%',
                      top: '50%',
                      transform: 'translateX(-50%) translateY(-50%)',
                    }"
                  />
                </div>
                <div class="arco-upload-picture-card" v-else>
                  <div class="arco-upload-picture-card-text">
                    <IconPlus />
                    <div style="margin-top: 10px; font-weight: 600"
                      >上传身份证正面</div
                    >
                  </div>
                </div>
              </div>
            </template>
          </a-upload>
          <a-upload
            action="/"
            :fileList="file2 ? [file2] : []"
            :show-file-list="false"
            @before-upload="beforeAvatarUpload2"
            @change="uploadfile2"
          >
            <template #upload-button>
              <div
                :class="`arco-upload-list-item${
                  file2 && file2.status === 'error'
                    ? ' arco-upload-list-item-error'
                    : ''
                }`"
              >
                <div
                  class="arco-upload-list-picture custom-upload-avatar"
                  v-if="file2 && file2.url"
                >
                  <img :src="file2.url" />
                  <div class="arco-upload-list-picture-mask">
                    <IconEdit />
                  </div>
                  <a-progress
                    v-if="file2.status === 'uploading' && file2.percent < 100"
                    :percent="file2.percent"
                    type="circle"
                    size="mini"
                    :style="{
                      position: 'absolute',
                      left: '50%',
                      top: '50%',
                      transform: 'translateX(-50%) translateY(-50%)',
                    }"
                  />
                </div>
                <div class="arco-upload-picture-card" v-else>
                  <div class="arco-upload-picture-card-text">
                    <IconPlus />
                    <div style="margin-top: 10px; font-weight: 600"
                      >上传身份证反面</div
                    >
                  </div>
                </div>
              </div>
            </template>
          </a-upload>
        </a-space>
      </div>
      <div class="upload-right">
        <div class="second-title">{{ $t('示例图') }}</div>
        <div>
          <div class="upload-img">
            <img src="@/assets/images/members/idcard.png" alt="" />
          </div>
          <div class="upload-img">
            <img src="@/assets/images/members/idcardReverse.png" alt="" />
          </div>
        </div>
        <div class="upload-prompt">
          {{ $t(' 照片仅限jpeg、jpg、png格式 且大小不超过10M') }}
        </div>
      </div>
    </div>
    <div class="certification-information">
      <div class="input-prompt">
        <div class="prompt-icon">!</div>
        <div>{{ $t('以下信息系统自动识别，请仔细核对并修正') }}</div>
      </div>
      <div class="list">
        <div class="list-item">
          <div class="second-title enterprise-title">
            {{
              formData.personCheck == '1' ? $t('法人姓名') : $t('经办人姓名')
            }}
          </div>
          <a-input
            maxlength="18"
            :placeholder="
              formData.personCheck == '1'
                ? $t('请输入法人姓名')
                : $t('请输入法人姓名')
            "
            v-model="formData.legalName"
          >
          </a-input>
        </div>
        <div class="list-item">
          <div class="second-title enterprise-title">
            {{
              formData.personCheck == '1'
                ? $t('法人身份证')
                : $t('经办人身份证')
            }}
          </div>
          <a-input
            maxlength="18"
            :placeholder="
              formData.personCheck == '1'
                ? $t('请输入法人身份证')
                : $t('请输入经办人身份证')
            "
            v-model="formData.legalCode"
          >
          </a-input>
        </div>
      </div>
      <div>
        <a-checkbox v-model="checked">
          {{ $t('我同意') }}
          {{ Tenant.tenantAbbreviation }}
          {{ $t('对我个人身份信息的保护方法')
          }}<span
            style="color: #2969ff; cursor: pointer"
            @click="privacPolicyShow"
          >
            {{ $t('《') }} {{ Tenant.tenantAbbreviation
            }}{{ $t('隐私条款》') }}</span
          ></a-checkbox
        >
      </div>
    </div>
    <div class="certification-bottom">
      <div class="nextStep">
        <a-button
          v-if="checked && faceStatus"
          @click="handleSubmit"
          type="primary"
        >
          {{ $t('提交') }}</a-button
        >
        <a-button v-else disabled> {{ $t('提交') }}</a-button>
      </div>
      <div>
        <a-button @click="lastStep" class="lastStep">
          {{ $t('上一步') }}</a-button
        >
      </div>
    </div>
    <privac-policy :visible="visible"></privac-policy>
  </div>
</template>

<script lang="ts" setup>
import { Message } from '@arco-design/web-vue';
import privacPolicy from '../../../login/components/privacPolicy.vue';
import { useI18n } from 'vue-i18n';
import { reactive, ref } from 'vue';
import { useRoute, useRouter } from 'vue-router';
import { useTentantStore, useUserStore } from '@/store';
import { memberUser } from '@/api/member';
const imageUrl = ref('');
const route = useRoute();
const emits = defineEmits(['handleSubmit', 'lastStep']);
const { t } = useI18n();
const visible = ref(false);
const Tenant = useTentantStore();
const userStore = useUserStore();
const formData = reactive({
  legalName: '',
  legalCode: '',
  personCheck: '1',
  portrait: '',
  nationalEmblem: '',
});
const props = defineProps({
  enterpriseInformation: {
    type: Object,
    default: () => {},
  },
});
const file = ref(null);
const file2 = ref(null);
const checked = ref(false);
const faceStatus = ref(false);
const isPlatform = ref(false);
const nationalEmblemFile = ref('');
const portraitFile = ref('');
const enterpriseList = ref([]);
const uploadfile = async (option: any) => {
  file.value = {
    ...option.fileItem,
  };

  const { data } = await memberUser.fileUpload({
    // paramsType: 'formdata',
    file: portraitFile.value,
  });
  formData.portrait = data.url;
  idCardAnalysis();
};
const uploadSuccess = async () => {};
const uploadfile2 = async (_, fileItem: any) => {
  file2.value = {
    ...fileItem,
  };
  const { data } = await memberUser.fileUpload({
    // paramsType: 'formdata',
    file: nationalEmblemFile.value,
  });
  formData.nationalEmblem = data.url;
  // idCardAnalysis();
};
const idCardAnalysis = async () => {
  const { data } = await memberUser.idCardAnalysis({
    imageUrl: formData.portrait,
    side: 'face',
  });
  formData.legalName = data.face.name;
  formData.legalCode = data.face.idNumber;
  faceStatus.value = true;
};
const beforeAvatarUpload = (files: any) => {
  //   file.value = files;
  if (files.size > 10 * 1000 * 1000) {
    Message.error('图片大小尺寸不超过10MB');
    return false;
  }

  if (files.type.indexOf('image') == -1) {
    Message.error('图片格式仅支持jpg, png');
    return false;
  }
  portraitFile.value = files;
  return new Promise((resolve) => {
    resolve(true);
  });
};
const beforeAvatarUpload2 = (files: any) => {
  //   file.value = files;
  if (files.size > 10 * 1000 * 1000) {
    Message.error('图片大小尺寸不超过10MB');
    return false;
  }

  if (files.type.indexOf('image') == -1) {
    Message.error('图片格式仅支持jpg, png');
    return false;
  }
  nationalEmblemFile.value = files;
  return new Promise((resolve) => {
    resolve(true);
  });
};
const privacPolicyShow = () => {
  visible.value = true;
};
const handleSubmit = async () => {
  if (formData.legalName == '') {
    if (formData.personCheck == '1') {
      Message.error(t('法定代表人姓名不能为空'));
    } else {
      Message.error(t('经办人姓名不能为空'));
    }
    return;
  }
  if (formData.legalCode == '') {
    if (formData.personCheck == '1') {
      Message.error(t('法定代表人身份证号不能为空'));
    } else {
      Message.error(t('经办人身份证号不能为空'));
    }
    return;
  }
  if (formData.portrait == '') {
    Message.error(t('身份证人像面不能为空'));
    return;
  }
  if (formData.nationalEmblem == '') {
    Message.error(t('身份证国徽面不能为空'));
    return;
  }
  if (formData.personCheck == '1') {
    if (props.enterpriseInformation.legalName != formData.legalName) {
      Message.error(t('法定代表人姓名不一致'));
      return;
    }
  }
  let params = {
    enterpriseId: Tenant?.tenantId,
    tenantId: userStore?.tenantId,
    businessLicense: props.enterpriseInformation.imageUrl,
    enterpriseName: props.enterpriseInformation.enterpriseName,
    enterpriseEnName: props.enterpriseInformation.enterpriseEnName,
    socialCreditCode: props.enterpriseInformation.enterpriseCode,
    legalRepresentative: props.enterpriseInformation.legalName,
    enterpriseIdentityList: props.enterpriseInformation.enterpriseIdentity,
    legalRepresentativeFlag: formData.personCheck,
    portrait: formData.portrait,
    nationalEmblem: formData.nationalEmblem,
    managerName: formData.legalName,
    managerNo: formData.legalCode,
    userId: route.query.userId || userStore.userId,
    isPlatform: isPlatform.value,
  };
  checked.value = false;
  const { data } = await memberUser.enterpriseRegister(params);
  checked.value = true;
  emits('handleSubmit');
};
const lastStep = () => {
  emits('lastStep');
};
</script>

<style lang="less" scoped>
.certification-container {
  width: 97.5%;
  background: #ffffff;
  border-radius: 12px 12px 0px 0px;
  margin: 12px 15px;
  padding-top: 24px;
  .step {
    width: 570px;
    height: 23px;
    margin: 0 auto;
  }
  .certification-box {
    margin-top: 40px;
    margin-left: 196px;
    padding-bottom: 20px;
    .person-checkbox {
      width: 70%;
      margin: 0 auto;
    }
    .upload {
      display: flex;
      padding-top: 10px;
      margin: 0 auto;
      width: 70%;
      .upload-left {
        width: 50%;
        .arco-upload-picture-card,
        .arco-upload-list-picture {
          width: 170px;
          height: 104px;
        }
        .avatar-uploader {
          margin-top: 10px;
          .avatar {
            width: 170px;
            height: 102px;
          }
        }

        .avatar-uploader-icon {
          font-size: 28px;
          color: #8c939d;
          width: 170px;
          height: 102px;
          line-height: 70px;
          text-align: center;
          position: relative;
        }
        .upload-title {
          position: absolute;
          top: 65px;
          left: 50px;
          font-size: 12px;
          color: #333333;
        }
      }
      .upload-right {
        width: 50%;
        padding-top: 20px;
        display: flex;
        .upload-img {
          width: 169px;
          height: 101px;
          margin-left: 30px;
          margin-bottom: 10px;
          img {
            width: 100%;
            height: 100%;
          }
        }
        .upload-prompt {
          width: 164px;
          font-size: 12px;
          color: rgba(0, 0, 0, 0.43);
          margin: 0 0 18px 10px;
          display: flex;
          align-items: flex-end;
        }
      }
    }
    .certification-information {
      width: 70%;
      margin: 30px auto 0;
      .list {
        margin-top: 20px;
        display: flex;
        flex-wrap: wrap;
        .list-item {
          width: 50%;
          padding-right: 20px;
          margin-bottom: 20px;
          .arco-input-wrapper {
            width: 340px;
          }
          .enterprise-title {
            margin-bottom: 10px;
          }
        }
      }
    }
    .input-prompt {
      color: #f4be5e;
      font-size: 12px;
      display: flex;
      align-items: center;
      margin-top: 10px;
      .prompt-icon {
        width: 12px;
        height: 12px;
        box-sizing: border-box;
        background: #f4be5e;
        border-radius: 50%;
        line-height: 12px;
        color: #fff;
        text-align: center;
        margin-right: 2px;
      }
    }
    .certification-bottom {
      width: 100%;
      margin-top: 30px;
      margin-left: -83px;
      display: flex;
      justify-content: center;
      .nextStep {
        // width: 50%;
        display: flex;
        margin-right: 20px;
        // padding-bottom: 30px;
      }
    }
  }
}

.second-title {
  color: #848490;
  font-size: 12px;
}
</style>
