<template>
  <div class="tab-bar-container">
    <a-affix ref="affixRef" :offset-top="offsetTop">
      <div class="tab-bar-box">
        <div class="tab-bar-scroll">
          <div class="tags-wrap">
            <span v-for="(tag, index) in tagList" :key="tag.fullPath" class="arco-tag arco-tag-checked"
              :class="[tag.fullPath === $route.fullPath ? 'link-activated' : '']"
              @click="goto(tag,index)">
              <span class="tag-link">
                {{tag.title}}
              </span>
              <span class="arco-icon-hover arco-tag-icon-hover arco-tag-close-btn" @click.stop="tagClose(tag, index)">
                <icon-close />
              </span>
            </span>
          </div>
        </div>
        <div class="tag-bar-operation"></div>
      </div>
    </a-affix>
  </div>
</template>

<script lang="ts" setup>
  import { ref, computed, watch } from 'vue';
  import { useRouter } from 'vue-router';
  import type { RouteLocationNormalized } from 'vue-router';
  import { listenerRouteChange } from '@/utils/route-listener';
  import { useAppStore, useTabBarStore } from '@/store';
  import type { TagProps } from '@/store/modules/tab-bar/types';

  const appStore = useAppStore();
  const tabBarStore = useTabBarStore();
  const currentIndex = ref(-1);    
  const router = useRouter();
  const affixRef = ref();
  const tagList = computed(() => {
    return tabBarStore.getTabList;
  });
  const offsetTop = computed(() => {
    return appStore.navbar ? 60 : 0;
  });

  watch(
    () => appStore.navbar,
    () => {
      affixRef.value.updatePosition();
    }
  );
  listenerRouteChange((route: RouteLocationNormalized) => {
    if (
      !route.meta.noAffix &&
      !tagList.value.some((tag) => tag.fullPath === route.fullPath)
    ) {
      tabBarStore.updateTabList(route);
    }
  }, true);
  const tagClose = (tag: TagProps, idx: number) => {
    tabBarStore.deleteTag(idx, tag);
    // console.log(idx, '删除')
    if (idx === tagList.value.length) {
      const latest = tagList.value[tagList.value.length - 1];
      router.push({ ...latest });
    }else{
      const latest1 = tagList.value[tagList.value.length - 1];
  
      // router.push({ name: latest.name });
      router.push({ ...latest1 });
    }
  };
  const goto = (tag: TagProps,index) => {
    currentIndex.value=index
    console.log(currentIndex.value,'====8998')
    router.push({ ...tag });
    
  };
</script>

<style scoped lang="less">
  .tab-bar-container {
    position: relative;
    // background-color: var(--color-bg-2);
    background: #E5E6EB;
    box-shadow: inset 2px -2px 4px rgba(0, 0, 0, 0.06);
    position:fixed; 
    z-index:100;
    .tab-bar-box {
      display: flex;
      width: 100vw;
      // padding: 0 0 0 20px;
      // background-color: var(--color-bg-2);
      // border-bottom: 1px solid var(--color-border);
      height: 32px;
      // line-height: 32px;
      .tab-bar-scroll {
        // flex: 1;
        overflow: hidden;
        height: 100%;
        .tags-wrap {
          // padding: 4px 0;
          height: 100%;
          white-space: nowrap;
          overflow-x: auto;

          :deep(.arco-tag) {
            // margin-right: 6px;
            
            cursor: pointer;
            &:first-child {
              .arco-tag-close-btn {
                display: none;
              }
            }
          }
        }
      }
    }

    .tag-bar-operation {
      width: 100px;
      height: 32px;
    }
  }
  .arco-tag {
    padding: 0 14px;
    line-height: 32px;
  }
  .arco-tag-checked {
    height: 100%;
    background-color: transparent;
  }

  .tag-link {
    color: @color-text-4;
    text-decoration: none;
    font-size: 13px;
  }
  .link-activated {
    background-color: #fff;
    .tag-link {
      color: @color-text-5;
    }
    & + .arco-tag-close-btn {
      color: @fill-6;
    }
  }
  :deep(.arco-affix) {
    z-index: 90;
    // background-color: var(--color-bg-2);
    overflow-x: auto;
  }
  .arco-tag{
    position:relative;
  }
  .first-actived:after{
    display:none;
  }
  .arco-tag:after {
       content:'';
       width: 1px;
      height: 20px;
      background: #c8cdd5;
      margin-left: 10px;
      position: absolute;
      right: 0;
      
     }
  .link-activated:after{
    display:none;
  }
.tag-link:hover{
  color:#212121;

}
</style>
