<template>
  <div class="add-info">
    <a-space direction="vertical" size="large" fill>
      <a-descriptions title="基本信息" layout="inline-vertical" :column="4">
        <a-descriptions-item label="申请单号" :span="1">
          {{form.applicationNo}}
        </a-descriptions-item>
        <a-descriptions-item label="合同编号" :span="1">
          {{form.contractNo}}
        </a-descriptions-item>
        <a-descriptions-item label="供应商名称" :span="1">
          {{form.customerName}}
        </a-descriptions-item>
        <a-descriptions-item label="关联合同编号" v-if="!isSf" :span="1">
          {{form.relatedContractNo}}
        </a-descriptions-item>
        <a-descriptions-item label="业务类型" :span="1">
          {{form.businessTypesName}}
        </a-descriptions-item>
        <a-descriptions-item label="签约抬头" :span="1" >
          {{form.signUpName}}
        </a-descriptions-item>
        <a-descriptions-item label="签约日期" :span="1">
          {{form.signUpDate && form.signUpDate.substring(0,10)}}
        </a-descriptions-item>
        <a-descriptions-item label="到期日期" :span="1">
          {{form.dueToDate && form.dueToDate.substring(0,10)}}
        </a-descriptions-item>
        <a-descriptions-item label="签约人" :span="1">
          {{form.contractor}}
        </a-descriptions-item>
        <a-descriptions-item label="签约部门" :span="1" >
          {{form.subordinateDepartmentsCname}}
        </a-descriptions-item>
        <a-descriptions-item label="服务项目" v-if="isSf" :span="1" >
          {{serviceProjectList}}
        </a-descriptions-item>
        <a-descriptions-item label="联系人" v-if="isSf" :span="1" >
          {{form.contact}}
        </a-descriptions-item>
        <a-descriptions-item label="联系人职务" v-if="isSf" :span="1" >
          {{form.contactPosition}}
        </a-descriptions-item>
        <a-descriptions-item label="地址" v-if="isSf" :span="1" >
          {{form.contactAddress}}
        </a-descriptions-item>
        <a-descriptions-item label="联系方式" v-if="isSf" :span="1" >
          {{form.mobilePhone || form.fixedTelephone}}
        </a-descriptions-item>
        <a-descriptions-item label="备注" :span="1" style="width:100% !important;">
          {{form.remark}}
        </a-descriptions-item>
      </a-descriptions>
    </a-space>
  </div>
</template>

<script lang="ts">
import {
  defineComponent,
  onMounted,
  PropType,
  reactive,
  toRefs,
  watch,
  ref,
  computed,
  defineExpose,
  onUnmounted,
  nextTick,
} from 'vue';
import { useRoute, useRouter} from 'vue-router'
import { crmApi } from '@/api/crmApi';
import utils from '@/utils/crm';
import { sessionStrategie,localStrategie } from '@/utils';
import { Message } from '@arco-design/web-vue';

export default defineComponent({
  name: 'BaseFormItem',
  props: {
    isEdit: {
      type: Boolean,
      default: true,
    },
    baseData: {
      type: Object,
      default: {},
    },
    showCancelBtnFlag: {
      type: [Number, String],
    },
    id: {
      type: String,
    },
  },
  emits: ['update:isEdit', 'update:baseData', 'update:showCancelBtnFlag', 'update:id'],
  setup(props, { attrs, emit, slots }) {
    const route = useRoute()
    const router = useRouter()
    console.log(route)
    const query = route.query
    const type = query.type
    
    // query.id = '123'
    // console.log(query,'query')
    const formRef = ref([]);
    const dataMap = reactive({
      isNameRepeat: false,
      isSf: type == '双方协议' ? true:false,
      form: {
				contractTypeCode: '', // 合同类型代码
				contractType: '', // 合同类型
        contractor: '', // 签约人
        contractorId: '', // 签约人ID	
        contactMethods: '', // 联系方式1手机号  2固定电话
        mobilePhone: '', // 手机号
        fixedTelephone: '', // 固定电话
			},
      cancelFormData: {},
      serveScoped: [], // 业务类型
      categoryList: [], // 品类范围
			customOptions: [], // 供应商列表
      relationOptions: [], // 签约抬头列表
    });

    // 供应商名称列表
    const getSupplier = () => {
      let param = {
        relationTypes: '8,9'
      }
      crmApi.supplierName(param).then((res) => {
        console.log(res)
        dataMap.customOptions = res.data
      })
    };
    getSupplier()
    // 获取供应商名称
    const getCustomerName = (v:any) => {
      dataMap.form.customerName = utils.handleLabelByValue(
        dataMap.customOptions,
        v,
        'enterpriseId',
        'name'
      );
    }
    // 搜索供应商
    const handleCustomerSearch = (name: any) => {
      if (name !== '') {
        let param = {
          relationTypes: '8,9',
          name,
        };
        crmApi.supplierName(param).then((res) => {
          if (res.code == 200) {
            dataMap.customOptions = res.data;
            // 暂时保留  解决远程搜索没有当前数据时
            const hasCurrentCustomer = res.data.some(item=>item.name == dataMap.form.customerName)
            if(!hasCurrentCustomer){
              dataMap.customOptions.unshift(
                {
                  name: dataMap.form.customerName,
                  enterpriseId: dataMap.form.customerId
                }
              )
            }
          }
        });
      }
    };

    const serviceProjectList = computed(() => {
      console.log(dataMap.form.services,'dataMap.form.services');
      let services = []
      if(dataMap.form.services !== undefined && dataMap.form.services.length > 0){
        services = dataMap.form.services.map(item => {
          return item.serviceProject
        })
      }
      return services.join('、')
    });


    // // 获取服务项目
    // const serverList = (v:any, arr:any) => {
    //   // if (!arr) {
    //   //   this.rulesContract.businessTypesName = utils.handleLabelByValue(
    //   //     this.businessType,
    //   //     v,
    //   //     'codes',
    //   //     'businessTypesName'
    //   //   )
    //   // }
    //   let param = {
    //     supperiorCodes: v,
    //     codeTypeCode: 'contractservicetype',
    //   }
    //   crmApi.getRelationCodeTypeByCode(param).then((res) => {
    //     // if(!arr){this.rulesContract.services=[]} 
    //     res.data.forEach((item) => {
    //       // item.isChecked = false
    //       item.label = item.codeName
    //       item.value = item.codes
    //       // arr&&arr.forEach((v) => {
    //       //   if (item.serviceProjectCode == v.serviceProjectCode) {
    //       //     item.isChecked = true
    //       //   }
    //       // })
    //     })
    //     dataMap.servicesOptions = res.data
    //   })
    //   // let data = {
    //   //   codeTypeCode: 'suppliercontracttype',
    //   // }
    //   // api.getCodeTypeByCode(data).then((res) => {
    //   //   if (res.code == '200') {
    //   //     this.rulesContract.contractType = res.data[0]?.codeName
    //   //     this.rulesContract.contractName = res.data[0]?.codeName
    //   //     this.rulesContract.contractTypeCode = res.data[0]?.codes
    //   //   }
    //   // })
    // }

    // // 获取业务类型名称
    // const getBusinessTypesName = (v) => {
    //   console.log(dataMap.form.businessTypesCode);
    //   dataMap.form.businessTypesName = utils.handleLabelByValue(
    //     dataMap.serveScoped,
    //     dataMap.form.businessTypesCode,
    //     'codesValues',
    //     'codeName'
    //   );
    //   serverList(v)
    // };

    watch(
      () => props.baseData,
      (val) => {
        console.log('数据变化了');
        dataMap.form = val;
      },
      { immediate: true, deep: true }
    )
    // 监听servicesList
    // watch(
    //   () => dataMap.form.servicesList,
    //   (val) => {
    //     let services = [] as any []
    //     dataMap.servicesOptions.map(item=>{
    //       // item.label
    //       if(val.indexOf(item.value) > -1){
    //         services.push({
    //           serviceProjectCode: item.value,
    //           serviceProject: item.label
    //         })
    //       }
    //     })
    //     dataMap.form.services = services
    //   },
    //   { immediate: true, deep: true }
    // ) 

    watch(
      () => dataMap.form,
      (val) => {
        console.log(val);
      },
      { immediate: true, deep: true }
    );

    watch(
      () => dataMap.id,
      (val) => {
        emit('update:id',val)
      },
      { immediate: true, deep: true }
    );


    return {
      getCustomerName,
      handleCustomerSearch,
      ...toRefs(dataMap),
      formRef,
      serviceProjectList,
    };
  },
});
</script>

<style lang="less" scoped>
.add-info{
  // border: 1px solid rgba(229, 230, 235, 1);
  padding: 20px;
  background-color: #fff;
}
:deep(.arco-col) {
  margin-bottom: 4px !important;
}
:deep(.arco-descriptions-row td){
  width: 25% !important;
}
:deep(.arco-descriptions-item .arco-descriptions-item-value){
  margin-bottom: 24px;
}
</style>