<template>
  <div class="main">
    <nav-header :navConfig="navConfig"
      ><template #detail>
        <div class="statue">
          <dw-tag :class="info.statusNameColor"
            ><template #word> {{ info.statusName }} </template></dw-tag
          >
        </div>
      </template></nav-header
    >
    <div class="info"><base-info :info="info"></base-info></div>
    <div class="tab">
      <a-tabs :active-key="active" @change="tabChange">
        <a-tab-pane key="1" title="付款记录">
          <a-table :columns="columns" :data="tableData" :pagination="false">
            <template #index="record">
              {{ record.rowIndex + 1 }}
            </template>
            <template #chequeNo="{ record }">
              {{ record.chequeNo }}{{ record.draftNo }}
            </template>
            <template #amount="{ record }">
              {{
                (info.currencySymbol || '') + toThousandFilter(record.amount)
              }}
            </template>
            <template #exchangeRate="{ record }">
              {{ Number(record.exchangeRate).toFixed(4) }}
            </template>
            <template #exchangeRateAmount="{ record }">
              {{
                (info.currencySymbol || '') +
                toThousandFilter(record.exchangeRateAmount)
              }}
            </template>
          </a-table>
        </a-tab-pane>
        <a-tab-pane key="2" title="审批记录">
          <approve
            :radioList="radioList"
            :logs="logs"
            @refund="refund"
          ></approve>
        </a-tab-pane>
      </a-tabs>
    </div>
    <pay-modal
      ref="payModalRef"
      @paySure="paySure"
      :paymentType="2"
    ></pay-modal>
  </div>
</template>
<script lang="ts" setup>
import { Modal, Message } from '@arco-design/web-vue';
import { setNumericText } from '@/utils';
import payModal from '../components/payModal.vue';
import baseInfo from '../components/baseInfo.vue';
import approve from '../components/approve.vue';
import navHeader from '@/components/navHeader/index.vue';
import commonApi from '@/utils/commonApi/index';
import { settlementApi } from '@/api/settlementApi/index';
import { ref, reactive, h, onUnmounted } from 'vue';
import { useRoute, useRouter } from 'vue-router';
const route = useRoute();
const active = ref('1');
const detailData = ref({});
const router = useRouter();
const navConfig = reactive({
  title: '退款详情',
  btns: [
    {
      icon: '',
      title: '支付',
      type: '',
      isShow: true,
      value: 'FUNCTION_289',
      callback: () => {
        payModalRef.value.handleClick(detailData.value);
      },
    },
    {
      icon: '',
      title: '撤销退款',
      type: '',
      isShow: true,
      value: 'FUNCTION_290',
      callback: () => {
        hanldeRevoke();
      },
    },
  ],
});
const logs = ref([]);
const radioList = ref([
  {
    label: '审批',
    value: 1,
    code: 'FUNCTION_288',
    isShow: true,
  },
  {
    label: '驳回',
    value: 2,
    code: 'FUNCTION_287',
    isShow: true,
  },
]);
const payModalRef = ref([]);
const info = reactive({
  title: '基本信息',
  list: [],
  status: '',
  no: '',
  currencySymbol: '',
  statusName: '',
  statusNameColor: '',
});
const hanldeRevoke = () => {
  Modal.warning({
    title: '提示',
    hideCancel: false,
    alignCenter: true,
    content: () =>
      h('div', { class: 'info-modal-content' }, [
        h(
          'span',
          { style: 'margin-left: 60px;' },
          '撤销后不可回退，是否确认撤销？'
        ),
      ]),

    cancelText: '取消',
    async onOk() {
      const { code } = await settlementApi.settleReceiptRefundRevoke({
        id: route.query.id,
      });
      if (code == 200) {
        Message.success('撤销成功');
        init();
      }
    },
  });
};
const columns = [
  {
    title: '#',
    slotName: 'index',
  },
  {
    title: '付款公司',
    dataIndex: 'payerName',
  },
  {
    title: '付款方式',
    dataIndex: 'paymentMethodName',
  },
  {
    title: '支付金额',
    slotName: 'amount',
  },
  {
    title: '票据号',
    slotName: 'chequeNo',
  },
  {
    title: '购汇汇率',
    slotName: 'exchangeRate',
  },
  {
    title: '购汇金额',
    slotName: 'exchangeRateAmount',
  },
  {
    title: '付款人',
    dataIndex: 'creatorName',
  },
  {
    title: '付款时间',
    dataIndex: 'createTime',
  },
];
const tabChange = (val: any) => {
  active.value = val;
};
const toThousandFilter = (num) => {
  return setNumericText(Number(num), { commas: true, zeroText: '0.00' });
};
const tableData = ref([]);
const infoList = ref([]);
const paySure = async (form) => {
  const { code, data } = await settlementApi.settleReceiptRefundPayment(form);
  if (code == 200) {
    Message.success('支付完成');
    init();
  }
};
const refund = async (val, textarea) => {
  if (val == 1) {
    const { code, data } = await settlementApi.settleReceiptRefundConsent({
      id: route.query.id,
    });
    if (code == 200) {
      Message.success('审批成功');
      init();
    }
  } else if (val == 2) {
    if (textarea == '') {
      Message.error('请先填写驳回原因');
      return;
    }
    const { code, data } = await settlementApi.settleReceiptRefundReject({
      id: route.query.id,
      textarea: textarea,
    });
    if (code == 200) {
      Message.success('驳回成功');
      init();
    }
  }
};
const init = async () => {
  const { code, data } = await settlementApi.settleReceiptRefundDetail({
    id: route.query.id,
  });
  if (code == 200) {
    detailData.value = data;
    if (data.status == 1 || data.status == 2) {
      active.value = '2';
    } else {
      active.value = '1';
    }
    info.statusNameColor = data.statusNameColor;
    info.statusName = data.statusName;
    info.currencySymbol = data.currencySymbol || '';
    info.no = data.no;
    logs.value = data.logs;
    tableData.value = data.paymentLogs;
    info.list = [
      {
        label: '退款单号',
        key: data.no,
      },
      {
        label: '付款公司',
        key: data.ownerName,
      },
      {
        label: '退款单位',
        key: data.refundName,
      },
      {
        label: '退款账号',
        key: data.refundBank + ' ' + data.refundBankIban,
      },
      {
        label: '收款单号',
        key: data.receiptNo,
        color: '#2969FF',
        callback: (row) => {
          router.push({
            path: '/mos/receipt/detail',
            query: { id: data.receiptId.toString() },
          });
        },
      },
      {
        label: '计划付款日期',
        key: data.plannedRefundTime,
      },
      {
        label: '退款金额',
        key: data.amount,
        slotName: 'amountSymbol',
      },
      {
        label: '已退款金额',
        key: data.payAmount,
        slotName: 'amountSymbol',
      },
      {
        label: '未退款金额',
        key: data.unpaidAmount,
        slotName: 'amountSymbol',
      },
      {
        label: '申请人',
        key: data.creatorName,
      },
      {
        label: '申请部门',
        key: data.departmentName,
      },
      {
        label: '申请日期',
        key: data.createTime,
      },
      {
        label: '退款备注',
        key: data.remark,
      },
    ];
  }
  const res = await commonApi.getRoleByPage('退款明细');
  const codes = res.map((v) => v.functionCode);
  navConfig.btns = navConfig.btns.filter((v) => codes.includes(v.value));
  radioList.value = radioList.value.filter((v) => codes.includes(v.code));
  navConfig.btns.forEach((v) => {
    v.isShow = codes.indexOf(v.value) > -1 ? true : false;
    if (v.value == 'FUNCTION_289') {
      v.isShow = data?.status === 3 || (data?.status === 2 && data.payButton);
    } else if (v.value == 'FUNCTION_290') {
      v.isShow = data?.status === 1 && data.revokeButton;
    }
  });
  radioList.value.forEach((v) => {
    v.isShow = codes.indexOf(v.code) > -1 ? true : false;
    if (v.code == 'FUNCTION_288') {
      v.isShow = data?.status == 1 && data.passButton;
    } else if (v.code == 'FUNCTION_287') {
      v.isShow =
        data.payAmount === 0 &&
        data?.status !== 6 &&
        data?.status !== 5 &&
        data.rejectButton;
    }
  });
};
init();
</script>
<style lang="less" scoped>
.main {
  padding-top: 60px;
  padding-bottom: 1px;
  min-height: calc(~'100vh - 90px');
  background-color: #F2F3F5;
  .no {
    color: #2969ff;
    margin-right: 20px;
  }
  .info {
    margin: 20px;
    background-color: #fff;
  }
  .tab {
    margin: 20px;
    padding: 20px 31px;
    background-color: #fff;
  }
}
</style>