<template>
  <div class="right-side">
    <a-dropdown
      :style="{ width: '420px' }"
      position="bl"
      @popup-visible-change="popupVisibleChange"
    >
      <!-- @select="handleSelect" -->
      <a-button
        ref="searchRef"
        class="nav-btn"
        type="outline"
        :class="[searchword ? 'hasSearch' : '']"
      >
        <template #icon>
          <icon-search />
        </template>
        <span>搜索</span>
      </a-button>
      <template #content>
        <div class="search-wrap" style="padding: 0 16px 16px">
          <h3 style="line-height: 24px; font-size: 16px; color: #212121"
            >搜索</h3
          >
          <a-input-search
            v-model="searchword"
            :style="{ width: '388px' }"
            allow-clear
            @input="searchInput"
            v-bind="$attrs"
          />
        </div>
      </template>
    </a-dropdown>
  </div>
</template>

<script lang="ts">
  import {
    defineComponent,
    onMounted,
    PropType,
    reactive,
    toRefs,
    watch,
    ref,
    computed,
    onUnmounted,
    nextTick,
  } from 'vue';

  export default defineComponent({
    name: 'Search',
    props: {
      modelValue: {
        // 如果父组件 v-model 没有指定参数名，则默认是 modelValue
        type: String,
        default: '',
      },
    },
    emits: ['update:modelValue'],
    setup(props, { attrs, emit, slots }) {
      const searchRef = ref([]);
      const dataMap = reactive({
        timer: null,
        popupVisible: false,
        searchword: '',
      });

      const searchInput = () => {
        // console.log(searchRef.value);
        if (dataMap.timer) {
          clearTimeout(dataMap.timer);
        }
        dataMap.timer = setTimeout(() => {
          // 用户输入停止1500毫秒后
          // 数据双向绑定
          emit('update:modelValue', dataMap.searchword);
        }, 1000);
      };

      const popupVisibleChange = (e: any) => {
        if (e) {
          dataMap.searchword = '';
          emit('update:modelValue', '');
        }
      };

      watch(
        () => props.modelValue,
        (val) => {
          dataMap.searchword = val;
        }
      );

      return {
        ...toRefs(dataMap),
        searchRef,
        searchInput,
        popupVisibleChange,
      };
    },
  });
</script>

<style scoped lang="less">
  .right-side {
    width: auto;
    display: flex;
    padding-right: 20px;
    list-style: none;
    :deep(.locale-select) {
      border-radius: 20px;
    }
    a {
      color: var(--color-text-1);
      text-decoration: none;
    }
    .nav-btn {
      height: 24px;
      padding: 2px 4px;
      border-color: rgb(var(--gray-2));
      color: rgb(var(--gray-8));
      font-size: 14px;
      border: none;
      background-color: #fff;
      &:hover {
        background-color: #eef3ff;
        color: #2969ff;
      }
    }
    .nav-btn.hasSearch {
      background-color: #eef3ff;
      color: #2969ff;
    }
  }
</style>
