<template>
    <div class="approve-box">
        <div class="block ">
            <div :class="[taskRecordStatus == 1 ? 'block-line' : '']">
                <template v-for="(item, index) in taskRecord">
                    <!-- 法务确认  供应商法务确认-->
                    <div :key="index + 't1'" v-if="(item.status == 1 && item.processNodeCode == 'customer_legal_confirm') ||
                        (item.status == 1 && item.processNodeCode == 'supplier_legal_confirm') ||
                        (item.status == 1 && item.processNodeCode == 'framework_customer_legal_confirm') ||
                        (item.status == 1 && item.processNodeCode == 'offer_legal_confirm') ||
                        (item.status == 1 && item.processNodeCode == 'framework_company_legal_confirm')
                    ">
                        <div class="card">
                            <div class="proveTitle1">
                                <span>{{ item.processNodeName }}</span>
                            </div>
                            <div class="proImg">
                                <div class="proveName">
                                    <!-- <p>{{ item.operateUserName }}</p>
                                    <p>{{ item.auditStatusDisplay }}</p> -->
                                </div>
                                <div class="font-time">{{ item.actualCompletionTime }}</div>
                            </div>
                            <div class="data-box-container">
                                <div class="data-box">
                                    <div class="demonstration">签约日期</div>
                                    <!-- {{ signUpDate}} -->
                                    <a-date-picker v-model="signUpDate" format="YYYY-MM-DD" placeholder="选择日期"
                                        size="small">
                                    </a-date-picker>
                                </div>

                                <div class="data-box">
                                    <div class="demonstration">到期日期</div>
                                    <a-date-picker v-model="dueToDate" format="YYYY-MM-DD" placeholder="选择日期"
                                        size="small">
                                    </a-date-picker>
                                </div>
                            </div>
                            <div style="margin-bottom: 5px" class="font-gray">备注</div>
                            <a-textarea type="textarea" :rows="2" placeholder="请输入审批说明" v-model="auditRemark">
                            </a-textarea>
                            <div class="font-color" v-if="contractTypeString == '控货双方协议'"
                                @click="clickControlManagement">
                                指定控货单位
                            </div>
                        </div>
                    </div>
                    <!-- 结算分配 新增报价分配-->
                    <div :key="index + 't1'" v-if="(item.status == 1 && item.processNodeCode == 'customer_settlement_assignation') ||
                        (item.status == 1 && item.processNodeCode == 'offer_settlement_assignation') ||
                        (item.status == 1 && item.processNodeCode == 'try_customer_settlement_assignation')
                    ">
                        <div class="card">
                            <div class="proveTitle1">
                                <span>{{ item.processNodeName }}</span>
                            </div>
                            <div class="proImg">
                                <div class="proveName">
                                    <!-- <p class="font-gray">{{ item.operateUserName }}</p> -->
                                    <!-- <p>{{ item.auditStatusDisplay }}</p> -->
                                </div>
                                <!-- <div class="font-time">{{ item.actualCompletionTime }}</div> -->
                            </div>
                            <a-form :model="formData" ref="formDataVad">
                                <a-table :data="aggregatePriceBook" stripe style="width: 100%"
                                    v-if="aggregatePriceBook.length > 0" :pagination="false" :columns="columns">
                                    <template #columns>
                                        <a-table-column data-index="quotationNo" title="报价单号/销售品名/港口">
                                            <template #cell="{ record }">
                                                <span>{{ record.quotationNo }}/{{ record.categoryName }}/{{
                                                    record.portCname
                                                    }}</span>
                                            </template>
                                        </a-table-column>
                                        <a-table-column data-index="settlement" title="结算员">
                                            <template #cell="{ record, rowIndex }">
                                                <a-form-item :rules="[{ required: true, message: '结算员必填' }]"
                                                    :validate-trigger="['change', 'input']" :hide-label="true"
                                                    :field="`aggregatePriceBook.${rowIndex}.settlementId`"
                                                    :hide-asterisk="true">
                                                    <a-select v-model="record.settlementId" placeholder="请选择"
                                                        :style="{ width: '320px' }">
                                                        <a-option v-for="item in operatorList2" :key="item.userId"
                                                            :value="item.userId">
                                                            {{ item.userName }}
                                                        </a-option>
                                                    </a-select>
                                                </a-form-item>
                                            </template>
                                        </a-table-column>
                                    </template>
                                </a-table>
                            </a-form>
                        </div>
                    </div>
                    <!-- 客服分配 ,新增报价-->
                    <div :key="index + 't'" v-if="
                        (item.status == 1 &&
                            item.processNodeCode == 'customer_service_assignation') ||
                        (item.status == 1 &&
                            item.processNodeCode == 'offer_customer_service_assignation') ||
                        (item.status == 1 &&
                            item.processNodeCode == 'try_customer_service_assignation')
                    ">
                        <div class="card">
                            <div class="proveTitle1">
                                <span>{{ item.processNodeName }}</span>
                            </div>
                            <div class="proImg">
                                <!-- <img :src="item.operateHeadUrl || operateHeadUrlImg" alt="" /> -->
                                <div class="proveName">
                                    <!-- <p class="font-gray">{{ item.operateUserName }}</p>
                                    <p>{{ item.auditStatusDisplay }}</p> -->
                                </div>
                                <!-- <div class="font-time">{{ item.actualCompletionTime }}</div> -->
                            </div>
                            <a-form :model="formData" ref="formDataVad">
                                <a-table :data="aggregatePriceBook" stripe style="width: 100%"
                                    v-if="aggregatePriceBook.length > 0" :pagination="false" :columns="columns">
                                    <template #columns>
                                        <a-table-column data-index="quotationNo" title="报价单号/销售品名/港口">
                                            <template #cell="{ record }">
                                                <span>{{ record.quotationNo }}/{{ record.categoryName }}/{{
                                                    record.portCname
                                                    }}</span>
                                            </template>
                                        </a-table-column>
                                        <a-table-column data-index="payPeople" title="客服经理">
                                            <template #cell="{ record, rowIndex }">
                                                <a-form-item :rules="[{ required: true, message: '客服经理必填' }]"
                                                    :validate-trigger="['change', 'input']" :hide-asterisk="true"
                                                    :hide-label="true"
                                                    :field="`aggregatePriceBook.${rowIndex}.customerServiceManagerId`">
                                                    <a-select v-model="record.customerServiceManagerId"
                                                        placeholder="请选择" :style="{ width: '320px' }">
                                                        <a-option v-for="item in operatorList1" :key="item.userId"
                                                            :label="item.userName" :value="item.userId">
                                                        </a-option>
                                                    </a-select>
                                                </a-form-item>
                                            </template>
                                        </a-table-column>
                                        <a-table-column data-index="payPeople" title="客服专员">
                                            <template #cell="{ record, rowIndex }">
                                                <a-form-item :rules="[{ required: true, message: '客服专员必填' }]"
                                                    :validate-trigger="['change', 'input']" :hide-asterisk="true"
                                                    :hide-label="true"
                                                    :field="`aggregatePriceBook.${rowIndex}.customerCommissionerId`">
                                                    <a-select v-model="record.customerCommissionerId" placeholder="请选择"
                                                        :style="{ width: '320px' }">
                                                        <a-option v-for="item in operatorList" :key="item.userId"
                                                            :label="item.userName" :value="item.userId">
                                                        </a-option>
                                                    </a-select>
                                                </a-form-item>
                                            </template>
                                        </a-table-column>
                                    </template>
                                </a-table>
                            </a-form>
                        </div>
                    </div>
                    <!--法务盖章，供应商法务盖章-->
                    <div v-if="
                        (item.status == 1 &&
                            item.processNodeCode == 'framework_customer_company_seal') ||
                        (item.status == 1 &&
                            item.processNodeCode == 'customer_company_seal') ||
                        (item.status == 1 &&
                            item.processNodeCode == 'offer_company_seal') ||
                        (item.status == 1 &&
                            item.processNodeCode == 'supplier_company_seal') ||
                        (item.status == 1 &&
                            item.processNodeCode == 'framework_company_company_seal')
                    " :key="index + 'f'">
                        <div class="card">
                            <div class="proveTitle1">
                                <span>{{ item.processNodeName }}</span>
                            </div>
                            <div class="proImg">
                                <div class="proveName">
                                    <!-- <p class="font-gray">{{ item.operateUserName }}</p>
                                    <p>{{ item.auditStatusDisplay }}</p> -->
                                </div>
                                <!-- <div class="font-time">{{ item.actualCompletionTime }}</div> -->
                            </div>
                            <div>
                                <a-table v-if="tableDataQuote.length > 0" :data="tableDataQuote" style="width: 100%"
                                    :pagination="false">
                                    <template #columns>
                                        <a-table-column data-index="quotationNo" title="报价单号"></a-table-column>
                                        <a-table-column data-index="settlementDeadline" title="结算方式">
                                            <template #cell="{ record, rowIndex }">
                                                <span v-if="record.settlementDeadline == 1">第一种：业务完成后{{
                                                    record.settlementDeadlineValue
                                                    }}付款</span>
                                                <span v-else-if="record.settlementDeadline == 2">
                                                    第二种：收到账单后{{
                                                    record.workingDays
                                                    }}个工作日个完成确认；收到正规发票后{{
                                                    record.invoiceWorkingDays
                                                    }}个工作日付款
                                                </span>
                                                <span v-else>{{
                                                    record.settlementDeadlineOther
                                                    }}</span>

                                                <span class="ml-10" @click="clickContractOffer(record, rowIndex)">
                                                    <icon-edit />
                                                </span>
                                            </template>
                                        </a-table-column>
                                    </template>
                                </a-table>
                                <div style="margin:5px 0" class="font-gray">备注</div>
                                <a-textarea :rows="2" placeholder="请输入审批说明" v-model="auditRemark">
                                </a-textarea>
                            </div>
                        </div>
                    </div>
                    <!-- 法务审批含加签 -->
                    <div :key="index + 'd'" v-if="
                        item.status == 1 &&
                        item.processNodeCode == 'framework_customer_legal_verify' &&
                        item.isAllowSignature
                    ">
                        <div class="card">
                            <div class="proveTitle1">
                                <span>{{ item.processNodeName }}</span>
                            </div>
                            <div class="proImg">
                                <!-- <img :src="item.operateHeadUrl || operateHeadUrlImg" alt="" /> -->
                                <div class="proveName">
                                    <p class="font-gray">{{ item.operateUserName }}</p>
                                    <p>{{ item.auditStatusDisplay }}</p>
                                </div>
                                <div class="font-time">{{ item.actualCompletionTime }}</div>
                            </div>
                            <div>
                                <div class="">
                                    <a-radio-group v-model="auditStatus" class="mt-16 mb-16">
                                        <a-radio value="1">同意</a-radio>
                                        <a-radio value="2" v-if="
                                        item.processNodeCode != 'customer_price_examiner_verify' &&
                                        item.processNodeCode !== 'customer_vp_verify' &&
                                        item.processNodeCode !== 'customer_warehousing_verify' &&
                                        item.processNodeCode !== 'try_customer_warehousing_verify' &&
                                        item.processNodeCode !== 'try_customer_price_examiner_verify'">
                                            不同意</a-radio>
                                        <a-radio value=" 3">驳回</a-radio>
                                    </a-radio-group>
                                </div>
                                <div>
                                    <p style="font-size: 12px">
                                        加签 共{{ addSignature.length }}人
                                    </p>
                                    <div class="addPeople">
                                        <p v-for="(a, idx) in addSignature" :key="idx">
                                            <img :src="a.image || operateHeadUrlImg" alt="" />
                                            <span>{{ a.name }}</span>
                                            <icon-close-circle @click="closeSignature(a, idx)"
                                                style="margin-left:3px;font-size:12px;" />

                                        </p>
                                        <div class="but">
                                            <a-trigger position="bottom" width="240" trigger="click">
                                                <template #icon>
                                                    <!-- <icon-search /> -->
                                                </template>
                                                <template #content>
                                                    <div style="background:#fff; padding:10px;">
                                                        <a-input size="small" :placeholder="$t('请输入用户名称')"
                                                            v-model="clientName2" @input="inputClientName4" clearable
                                                            class="search-input">
                                                            <template #prefix>
                                                                <icon-search />
                                                            </template>
                                                        </a-input>
                                                        <div class="inputPeo">
                                                            <p v-for="(item, index) in optionSignature" :key="index"
                                                                @click="changeSignature(item)"
                                                                :class="[item.checked ? 'font-color' : '']">
                                                                {{ item.userName }}
                                                            </p>
                                                        </div>
                                                    </div>

                                                </template>
                                                <span @click="addSearch">
                                                    <icon-plus-circle />添加
                                                </span>
                                                <!-- <a-button class="button"
                                                    :style="{position: 'absolute',top:'240px',left:'180px'}">BOTTOM
                                                </a-button> -->
                                            </a-trigger>
                                        </div>
                                    </div>
                                </div>
                                <div style="margin: 5px 0" class="font-gray">备注</div>
                                <a-textarea :rows="2" placeholder="请输入审批说明" v-model="auditRemark">
                                </a-textarea>
                            </div>
                        </div>
                    </div>
                    <!-- 法务会签新 -->
                    <div :key="index + 'c'" v-if="
                    (item.status == 1 && item.processNodeCode == 'customer_multi_sector_countersign') ||
                    (item.status == 1 && item.processNodeCode == 'try_customer_legal_confirm')">
                        <div class="card">
                            <div class="proveTitle1">
                                <span>{{ item.processNodeName }}</span>
                            </div>
                            <div class="proImg">
                                <!-- <div class="proveName">
                                    <p class="font-gray">{{ item.operateUserName }}</p>
                                    <p>{{ item.auditStatusDisplay }}</p>
                                </div>
                                <div class="font-time">{{ item.actualCompletionTime }}</div> -->
                            </div>
                            <div>
                                <div class="">
                                    <a-radio-group v-model="auditStatus" class="mt-16 mb-16">
                                        <a-radio value="1">同意</a-radio>
                                        <a-radio value="2" v-if="
                                            item.processNodeCode !=
                                            'customer_price_examiner_verify' &&
                                            item.processNodeCode !=
                                            'try_customer_price_examiner_verify' &&
                                            item.processNodeCode !== 'customer_vp_verify' &&
                                            item.processNodeCode !== 'customer_warehousing_verify' &&
                                            item.processNodeCode !== 'try_customer_legal_confirm' &&
                                            item.processNodeCode !== 'try_customer_warehousing_verify'
                                        "> 不同意</a-radio>
                                        <a-radio value=" 3">驳回</a-radio>
                                    </a-radio-group>
                                </div>
                                <a-table :data="tableDataQuote" v-if="tableDataQuote.length > 0" style="width: 100%"
                                    :pagination="false">
                                    <template #columns>
                                        <a-table-column data-index="quotationNo" title="报价单号"></a-table-column>
                                        <a-table-column data-index="name" title="是否允许试做">
                                            <template #cell="{ record }">
                                                <a-radio-group v-model="record.isTransport"
                                                    @change="changeRadio($event, record)">
                                                    <a-radio :value="true">是</a-radio>
                                                    <a-radio :value="false">否</a-radio>
                                                </a-radio-group>
                                            </template>
                                        </a-table-column>
                                        <a-table-column title="试做天数及次数">
                                            <template #cell="{ record }">
                                                <div class="select-box">
                                                    <a-select v-model="record.trialDays" placeholder="请选择"
                                                        :disabled="!record.isTransport">
                                                        <a-option v-for="item in [7, 15, 30]" :key="item"
                                                            :label="item + '天'" :value="item">
                                                        </a-option>
                                                    </a-select>
                                                    <a-select v-model="record.trialNumber" placeholder="请选择"
                                                        :disabled="!record.isTransport">
                                                        <a-option v-for="item of 7" :key="item" :label="item + '次'"
                                                            :value="item">
                                                        </a-option>
                                                    </a-select>
                                                </div>
                                            </template>
                                        </a-table-column>
                                    </template>
                                </a-table>

                                <div style="margin: 5px 0" class="font-gray">备注</div>
                                <a-textarea type="textarea" :rows="2" placeholder="请输入审批说明" v-model="auditRemark">
                                </a-textarea>
                            </div>
                        </div>
                    </div>
                    <!-- 审价人 试做审价人 试做云仓审价审批  法务审批不加签，框架营销部门经理，营销部门经理审批，营销中心负责人审批， 供应商运营负责人,法务会签,风控，副总裁,法务盖章-->
                    <div v-if="
                        (item.status == 1 &&
                            item.processNodeCode == 'customer_price_examiner_verify') ||
                        (item.status == 1 &&
                            item.processNodeCode == 'try_customer_price_examiner_verify') ||
                        (item.status == 1 &&
                            item.processNodeCode == 'customer_vp_verify') ||
                        (item.status == 1 &&
                            item.processNodeCode == 'customer_warehousing_verify') ||
                        (item.status == 1 &&
                            item.processNodeCode == 'try_customer_warehousing_verify') ||
                        (item.status == 1 &&
        item.processNodeCode == 'framework_customer_legal_verify' &&
        !item.isAllowSignature) ||
                        (item.status == 1 &&
                            item.processNodeCode == 'framework_customer_director_verify') ||
                        (item.status == 1 &&
                            item.processNodeCode == 'framework_company_director_verify') ||
                        (item.status == 1 &&
                            item.processNodeCode ==
                            'framework_company_director_countersign') ||
                        (item.status == 1 &&
                            item.processNodeCode ==
                            'framework_customer_director_countersign') ||
                        (item.status == 1 &&
                            item.processNodeCode == 'framework_customer_vp_verify') ||
                        (item.status == 1 &&
                            item.processNodeCode == 'framework_customer_vp_verify') ||
                        (item.status == 1 &&
                            item.processNodeCode == 'offer_price_examiner_verify') ||
                        (item.status == 1 &&
                            item.processNodeCode == 'offer_warehousing_verify') ||
                        (item.status == 1 &&
                            item.processNodeCode == 'offer_multi_sector_countersign') ||
                        (item.status == 1 &&
                            item.processNodeCode == 'offer_director_verify') ||
                        (item.status == 1 && item.processNodeCode == 'offer_vp_verify') ||
                        (item.status == 1 &&
                            item.processNodeCode == 'form_legal_verify') ||
                        (item.status == 1 &&
                            item.processNodeCode == 'supplier_director_verify') ||
                        (item.status == 1 &&
                            item.processNodeCode == 'supplier_multi_sector_countersign') ||
                        (item.status == 1 &&
                            item.processNodeCode == 'supplier_director_countersign') ||
                        (item.status == 1 &&
                            item.processNodeCode == 'supplier_vp_verify') ||
                        (item.status == 1 &&
                            item.processNodeCode == 'framework_company_vp_verify') ||
                        (item.status == 1 &&
                            item.processNodeCode == 'customer_director_countersign')
                    " :key="index">
                        <div class="card">
                            <div class="proveTitle1">
                                <span>{{ item.processNodeName }}</span>
                            </div>
                            <div class="proImg">
                                <div class="proveName" v-if="item.auditStatusDisplay">
                                    <!-- <p class="font-gray">{{ item.operateUserName }}</p> -->
                                    <p>{{ item.auditStatusDisplay }}</p>
                                </div>
                                <div class="font-time" v-if='item.actualCompletionTime'>{{ item.actualCompletionTime
                                    }}
                                </div>
                            </div>
                            <div>
                                <a-radio-group v-model="auditStatus" class="mt-16 mb-16">
                                    <a-radio value="1">同意</a-radio>
                                    <a-radio value="2" v-if="
                                    item.processNodeCode != 'customer_price_examiner_verify' &&
                                    item.processNodeCode != 'try_customer_price_examiner_verify' &&
                                    item.processNodeCode !== 'customer_vp_verify' &&
                                    item.processNodeCode !== 'customer_warehousing_verify' &&
                                    item.processNodeCode !== 'try_customer_warehousing_verify' &&
                                    item.processNodeCode !== 'framework_company_director_verify' &&
                                    item.processNodeCode !== 'framework_company_vp_verify' &&
                                    item.processNodeCode !== 'framework_customer_director_verify' &&
                                    item.processNodeCode !== 'framework_customer_vp_verify' &&
                                    item.processNodeCode !== 'offer_price_examiner_verify' &&
                                    item.processNodeCode !== 'offer_warehousing_verify' &&
                                    item.processNodeCode !== 'offer_vp_verify' && (type != 'contract' || item.processNodeCode !== 'supplier_director_verify') &&
                                    item.processNodeCode !== 'supplier_vp_verify' &&
                                    item.processNodeCode !== 'form_legal_verify'">不同意</a-radio>
                                    <a-radio value=" 3">驳回</a-radio>
                                </a-radio-group>


                                <div style="margin-bottom: 5px" class="font-gray">备注</div>
                                <a-textarea :rows="2" placeholder="请输入审批说明" v-model="auditRemark" allow-clear>
                                </a-textarea>
                            </div>
                        </div>
                    </div>

                </template>
                <div class="appBtn" v-if="taskRecordStatus == 1">
                    <a-button plain @click="cancelClick">取消</a-button>
                    <a-button type="primary" @click="saveContract">确定</a-button>
                </div>
            </div>

        </div>
        <div class="block ">
            <div class="proveTitle1" style="margin-bottom:40px">审批进度</div>
            <a-timeline>
                <template v-for="(item, index) in taskRecord" :key="index + 'a'">

                    <!-- 申请人已完成 -->
                    <a-timeline-item v-show="item.status == 3">
                        <div class="card">
                            <div class="proveTitle">
                                <span>{{ item.processNodeName }}</span>
                            </div>
                            <div class="proImg">
                                <!-- <img :src="item.operateHeadUrl || operateHeadUrlImg" alt="" /> -->
                                <div class="proveName">
                                    <p class="font-gray">{{ item.operateUserName }}</p>
                                    <p :class="[
                                        item.auditStatusDisplay == '已确认' ||
                                            item.auditStatusDisplay == '已分配' ||
                                            item.auditStatusDisplay == '已盖章' ||
                                            item.auditStatusDisplay == '同意' ||
                                            item.auditStatusDisplay == '发起申请'
                                            ? 'font-color'
                                            : 'font-red'
                                    ]" style="font-size:14px;padding-left:6px;">
                                        {{ item.auditStatusDisplay }}
                                    </p>

                                </div>
                                <p v-if="item.auditRemark" class="font-gray">{{ item.auditRemark }}</p>
                                <div class="font-time">{{ item.actualCompletionTime }}</div>
                            </div>
                            <!-- 加签审批后有数据 -->
                            <div class="signature-list" v-if="
                                item.processNodeCode == 'framework_customer_legal_verify' &&
                                item.status == 3
                            ">
                                <div>
                                    加签<span class="ml-10">共{{ getCount(item) }}人</span>
                                </div>
                                <!-- 审核后-->
                                <div v-if="item.signatureHasAudit">
                                    <div v-for="(s, sindex) in item.signatureHasAudit" :key="sindex"
                                        class="signature-list-1">
                                        <p>
                                            <img :src="s.operateHeadUrl || operateHeadUrlImg"
                                                :title="s.operateUserName" />
                                            <span :class="[
                                                s.auditStatusDisplay == '同意'
                                                    ? 'font-color'
                                                    : 'font-red'
                                            ]">{{ s.auditStatusDisplay }}</span>
                                        </p>
                                        <span class="fz-12 font-gray">{{ s.auditRemark }}</span>
                                    </div>
                                </div>
                                <!-- 待审核 -->
                                <div v-if="item.signatureToAudit">
                                    <div v-for="(s, sindex1) in item.signatureToAudit" :key="sindex1"
                                        class="signature-list-1">
                                        <p>
                                            <img :src="s.operateHeadUrl || operateHeadUrlImg"
                                                :title="s.operateUserName" />
                                            <span class="font-orange">{{
                                                s.auditStatusDisplay
                                                }}</span>
                                        </p>
                                        <span class="fz-12 font-gray">{{ s.auditRemark }}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a-timeline-item>

                </template>
            </a-timeline>
        </div>
        <!--  报价单结算方式弹窗 -->
        <a-modal title="提示" :visible.sync="dialogVisible" width="40%" :modal="false" @cancel="handleCancel"
            :on-before-ok="clickFormSubmit">
            <div class="select">
                <div class="selectDay">
                    <a-radio v-model="formsettlement.legalSettlementDeadline" :value="1">第一种</a-radio>
                    <p>
                        业务完成后
                        <a-select v-model="formsettlement.legalSettlementDeadlineValue" placeholder="请选择"
                            style="width: 100px" size="mini">
                            <a-option v-for="item in settlementOtions" :key="item.val" :label="item.label"
                                :value="item.val">
                            </a-option>
                        </a-select>
                        付款
                    </p>
                </div>
                <div class="selectDay">
                    <a-radio v-model="formsettlement.legalSettlementDeadline" :value="2">第二种 月结</a-radio>
                    <p>
                        收到账单后
                        <a-select v-model="formsettlement.legalWorkingDays" placeholder=""
                            style="width: 70px; margin-left: 22px" size="mini">
                            <a-option v-for="item in settlementOtions1" :key="item.label" :label="item.label"
                                :value="item.val">
                            </a-option>
                        </a-select>
                        个工作日完成确认
                    </p>
                    <p>
                        收到正规发票后
                        <a-select v-model="formsettlement.legalInvoiceWorkingDays" placeholder="" style="width: 70px"
                            size="mini">
                            <a-option v-for="item in settlementOtions2" :key="item.val" :label="item.label"
                                :value="item.val">
                            </a-option>
                        </a-select>
                        个工作日付款
                    </p>
                </div>
            </div>
        </a-modal>
    </div>
</template>
<script lang="ts">
import { defineComponent, ref, reactive, onMounted, defineEmits, defineExpose, toRefs, nextTick, onBeforeMount } from 'vue';
import { useAppStore, useTentantStore, useUserStore } from '@/store';
import { crmApi } from '@/api/crmApi';
import { Message } from '@arco-design/web-vue';
import { formatTimes } from '@/utils';
export default defineComponent({
    setup(props, { emit, slots, attrs }) {
        const formDataVad = ref()
        const dataMap = reactive({
            columns: [
                {
                    title: '报价单号/销售品名/港口',
                    dataIndex: 'quotationNo',
                },
                {
                    title: '结算员',
                    dataIndex: 'settlement',
                    slotName: 'settlement'
                },
            ],
            columnsCustomer: [
                {
                    title: '报价单号/销售品名/港口',
                    dataIndex: 'quotationNo',
                },
                {
                    title: '客服经理',
                    dataIndex: 'payPeople',
                    slotName: 'payPeople'
                },
                {
                    title: '客服专员',
                    dataIndex: 'payPeople',
                    slotName: 'payPeople'
                },
            ],
            formIndex:0,
            aggregatePriceBookLength: 0,
            aggregatePriceBook: [],
            operateHeadUrlImg: 'http://ates-front.oss-cn-shanghai.aliyuncs.com/zhilian/images/logo/mayibida_logo.png',
            contractTypeString: '', //控货双方协议
            dialogVisible: false,
            contractId: '',
            signUpDate: '',
            dueToDate: '',
            offerLetterDTO: [],
            radioAuditStatus: '',
            formData: {
                aggregatePriceBook: []
            },
            formsettlement: {
                legalSettlementDeadline: 1,
                legalInvoiceWorkingDays: 5,
                legalWorkingDays: 5,
                legalSettlementDeadlineValue: '第一个月'
            },
            tableDataQuote: [], //报价数据
            countersign: {
                userIdList: []
            },
            addSignature: [], //加签人选中列表
            optionSignature: [], //加签人列表
            signatureVal: '',
            auditStatus: 0,
            auditRemark: '',
            taskRecordStatus: 0,
            taskRecord: [],
            detailData: {},
            isShowColor1: false,
            isShowColor2: false,
            isShowColor3: false,
            clientName2: '',
            dialogFormApprove: false,
            settlementOtions: [
                { val: '第一个月', label: '第一个月' },
                { val: '第二个月', label: '第二个月' }
            ],
            settlementOtions1: [
                { val: '5', label: '5' },
                { val: '10', abel: '10' }
            ],
            settlementOtions2: [
                { val: '5', label: '5' },
                { val: '10', abel: '10' },
                { val: '15', label: '15' }
            ],
            operatorList: [],
            operatorList1: [],
            operatorList2: [],
            taskNum: 0,
            distributionType: 0,
            dataType: '',
            taskId: '',
            oldTrial: {
                trialDays: 0,
                trialNumber: 0
            }
        })
        const show = (data, contractType) => {
            console.log(data,'approvedataapprovedataapprovedataapprovedata')
            dataMap.detailData = data
            dataMap.auditStatus = 0
            // dataMap.contractId = '1545662091008192512'
            dataMap.contractId = String(dataMap.detailData.id)
            dataMap.dialogFormApprove = true
            dataMap.businessNo = dataMap.detailData.contractNo
            dataMap.processCode = dataMap.detailData.mosProcessCode

            dataMap.contractType = contractType     //customer, //supplier 合同类型
            dataMap.contractTypeString = dataMap.detailData.contractType
            console.log(dataMap.detailData,'签约日期')
            dataMap.signUpDate = dataMap.detailData.signUpDate
            dataMap.dueToDate = dataMap.detailData.dueToDate
            // dataMap.signUpDate = "2022-05-10 00:00:00"
            // dataMap.dueToDate = '2023-05-19 00:00:00'

            // setTimeout(() => {
            //     getenterpriseidList()
            //     postTaskRecord()
            // })
            Object.keys(data).length > 0 && dataMap.processCode !== null && getenterpriseidList()
            Object.keys(data).length > 0 && dataMap.processCode !== null && postTaskRecord()
        }
        const getenterpriseidList = () => {
            console.log(useUserStore().optEnterpriseId, '个人信息===')
            let params = {
                enterpriseId: useUserStore().optEnterpriseId
            }
            crmApi.getenterpriseidList(params).then((res) => {
                if (res.code == '200') {
                    console.log(res)
                    res.data.map((item) => {
                        item.checked = false
                    })
                    dataMap.optionSignature = res.data
                }
            })

        }
        const postTaskRecord = () => {
            console.log('postTaskRecord',dataMap.detailData)
            let params = {
                // businessNo: "QYFZ1-C-2022-0004",
                // processCode: "customer_contract_approval"
                businessNo: dataMap.businessNo,
                processCode: dataMap.processCode
            }
            crmApi.postTaskRecord(params).then((res) => {
                if (res.code == '200') {
                    console.log(res)

                    res.data.map((item) => {
                        item.id = String(item.id)
                        // 法务会签且是法务 以及试做法务会签
                        if (
                            (item.status == 1 &&
                                item.processNodeCode == 'customer_multi_sector_countersign' &&
                                item.taskNum == 1) ||
                            (item.status == 1 &&
                                item.processNodeCode == 'try_customer_legal_confirm')
                        ) {
                            dataMap.dataType = 2
                            getcontractOfferConfirmationList()
                        } else {
                            dataMap.dataType = ''
                        }
                        //法务盖章 若存在第三种结算方式：结算方式修改
                        if (
                            (item.status == 1 &&
                                item.processNodeCode == 'customer_company_seal') ||
                            (item.status == 1 && item.processNodeCode == 'offer_company_seal')
                        ) {
                            dataMap.dataType = 1
                            getcontractOfferConfirmationList()
                        } else {
                            dataMap.dataType = ''
                        }
                        // 客服分配 offer_customer_service_assignation，结算分配报价
                        if (
                            (item.status == 1 &&
                                item.processNodeCode == 'customer_service_assignation') ||
                            (item.status == 1 &&
                                item.processNodeCode == 'offer_customer_service_assignation') ||
                            (item.status == 1 &&
                                item.processNodeCode == 'try_customer_service_assignation')
                        ) {
                            dataMap.taskNum = item.taskNum
                            dataMap.distributionType = 1
                        }
                        //结算分配
                        if (
                            (item.status == 1 &&
                                item.processNodeCode == 'customer_settlement_assignation') ||
                            (item.status == 1 &&
                                item.processNodeCode == 'offer_settlement_assignation') ||
                            (item.status == 1 &&
                                item.processNodeCode == 'try_customer_settlement_assignation')
                        ) {
                            dataMap.taskNum = item.taskNum
                            dataMap.distributionType = 2
                        }

                        if (
                            (item.status == 1 &&
                                item.processNodeCode == 'customer_service_assignation') ||
                            (item.status == 1 &&
                                item.processNodeCode == 'offer_customer_service_assignation') ||
                            (item.status == 1 &&
                                item.processNodeCode == 'try_customer_service_assignation') ||
                            (item.status == 1 &&
                                item.processNodeCode == 'offer_settlement_assignation') ||
                            (item.status == 1 &&
                                item.processNodeCode == 'customer_settlement_assignation') ||
                            (item.status == 1 &&
                                item.processNodeCode == 'try_customer_settlement_assignation')
                        ) {
                            getcontractOfferDistributionList()
                        }
                    })
                    dataMap.taskRecord = res.data
                    if (dataMap.taskRecord.length>0){
                      dataMap.taskRecordStatus = dataMap.taskRecord[0].status
                    // 客服分配时，默认客服经理为当前操作人
                    dataMap.taskRecord.map(item => {
                        if (item.processNodeName == "客服分配" && item.processNodeCode == "customer_service_assignation") {
                            console.log(item)
                            dataMap.operatorList1 = [
                                {
                                    userId: item.operateUserId,
                                    userName: item.operateUserName
                                }
                            ]
                        }
                    })  
                    }
                    

                } else {
                    Message.error(res.message)
                }
            })
        }
        const saveContract = () => {
            console.log(dataMap.formData.aggregatePriceBook, '客服经理，客服专员')
            if (dataMap.signUpDate == null || dataMap.dueToDate == null) {
                Message.error('签约日期和到期日期不能为空')
                return
            }
            if (dataMap.signUpDate && dataMap.dueToDate) {
                if (new Date(dataMap.signUpDate).getTime() > new Date(dataMap.dueToDate).getTime()) {
                    return Message.error('到期时间不能早于签约时间')
                }
                // 日期格式化YY-mm-dd HH:mm:ss
                dataMap.signUpDate = formatTimes(dataMap.signUpDate)
                dataMap.dueToDate = formatTimes(dataMap.dueToDate)
            }

            if ((dataMap.taskRecord[0].status == 1 && dataMap.taskRecord[0].processNodeCode == 'customer_price_examiner_verify') ||
                (dataMap.taskRecord[0].status == 1 && dataMap.taskRecord[0].processNodeCode == 'try_customer_price_examiner_verify') ||
                (dataMap.taskRecord[0].status == 1 && dataMap.taskRecord[0].processNodeCode == 'customer_vp_verify') ||
                (dataMap.taskRecord[0].status == 1 && dataMap.taskRecord[0].processNodeCode == 'customer_warehousing_verify') ||
                (dataMap.taskRecord[0].status == 1 && dataMap.taskRecord[0].processNodeCode == 'try_customer_warehousing_verify') ||
                (dataMap.taskRecord[0].status == 1 && dataMap.taskRecord[0].processNodeCode == 'framework_customer_legal_verify') ||
                (dataMap.taskRecord[0].status == 1 && dataMap.taskRecord[0].processNodeCode == 'framework_customer_director_verify') ||
                (dataMap.taskRecord[0].status == 1 && dataMap.taskRecord[0].processNodeCode == 'framework_company_director_verify') ||
                (dataMap.taskRecord[0].status == 1 && dataMap.taskRecord[0].processNodeCode == 'framework_company_director_countersign') ||
                (dataMap.taskRecord[0].status == 1 && dataMap.taskRecord[0].processNodeCode == 'framework_customer_director_countersign') ||
                (dataMap.taskRecord[0].status == 1 && dataMap.taskRecord[0].processNodeCode == 'framework_customer_vp_verify') ||
                (dataMap.taskRecord[0].status == 1 && dataMap.taskRecord[0].processNodeCode == 'framework_customer_vp_verify') ||
                (dataMap.taskRecord[0].status == 1 && dataMap.taskRecord[0].processNodeCode == 'offer_price_examiner_verify') ||
                (dataMap.taskRecord[0].status == 1 && dataMap.taskRecord[0].processNodeCode == 'offer_warehousing_verify') ||
                (dataMap.taskRecord[0].status == 1 && dataMap.taskRecord[0].processNodeCode == 'offer_multi_sector_countersign') ||
                (dataMap.taskRecord[0].status == 1 && dataMap.taskRecord[0].processNodeCode == 'offer_director_verify') ||
                (dataMap.taskRecord[0].status == 1 && dataMap.taskRecord[0].processNodeCode == 'offer_vp_verify') ||
                (dataMap.taskRecord[0].status == 1 && dataMap.taskRecord[0].processNodeCode == 'form_legal_verify') ||
                (dataMap.taskRecord[0].status == 1 && dataMap.taskRecord[0].processNodeCode == 'supplier_director_verify') ||
                (dataMap.taskRecord[0].status == 1 && dataMap.taskRecord[0].processNodeCode == 'supplier_multi_sector_countersign') ||
                (dataMap.taskRecord[0].status == 1 && dataMap.taskRecord[0].processNodeCode == 'supplier_director_countersign') ||
                (dataMap.taskRecord[0].status == 1 && dataMap.taskRecord[0].processNodeCode == 'supplier_vp_verify') ||
                (dataMap.taskRecord[0].status == 1 && dataMap.taskRecord[0].processNodeCode == 'framework_company_vp_verify') ||
                (dataMap.taskRecord[0].status == 1 && dataMap.taskRecord[0].processNodeCode == 'customer_multi_sector_countersign') ||
                (dataMap.taskRecord[0].status == 1 && dataMap.taskRecord[0].processNodeCode == 'try_customer_legal_confirm') ||
                (dataMap.taskRecord[0].status == 1 && dataMap.taskRecord[0].processNodeCode == 'customer_director_countersign')) {
                if (dataMap.auditStatus == 0) {
                    return Message.error('请选择审批意见')
                }
            } else {
                dataMap.auditStatus = 1
            }
            if (dataMap.taskRecord[0].status == 1) {
                dataMap.taskId = String(dataMap.taskRecord[0].id)
            }
            //结算分配,客服验证
            if ((dataMap.taskRecord[0].status == 1 && dataMap.taskRecord[0].processNodeCode == 'customer_settlement_assignation') ||
                (dataMap.taskRecord[0].status == 1 && dataMap.taskRecord[0].processNodeCode == 'try_customer_settlement_assignation') ||
                (dataMap.taskRecord[0].status == 1 && dataMap.taskRecord[0].processNodeCode == 'offer_settlement_assignation') ||
                (dataMap.taskRecord[0].status == 1 && dataMap.taskRecord[0].processNodeCode == 'customer_service_assignation') ||
                (dataMap.taskRecord[0].status == 1 && dataMap.taskRecord[0].processNodeCode == 'offer_customer_service_assignation') ||
                (dataMap.taskRecord[0].status == 1 && dataMap.taskRecord[0].processNodeCode == 'try_customer_service_assignation')
            ) {
                console.log(formDataVad.value[0].validate)
                // done(false)
                setTimeout(() => {
                    formDataVad.value[0].validate((error: any, values: any) => {
                        console.log(error, 'yanzheng')
                        if (!error) {
                            saveContactPost()
                            console.log('jiesuan提交')
                        } else {
                            console.log('error submit!!')
                            return false
                        }
                    })
                })
            } else {
                saveContactPost()
                console.log('提交===')
            }
        }
        const saveContactPost = () => {
            //客户合同审批
            if (dataMap.contractType == 'customer') {
                dataMap.formData.aggregatePriceBook.map((item) => {
                    item.distributionId = String(item.id)
                    console.log(dataMap.operatorList, '客服专员')

                    dataMap.operatorList.map((o) => {
                        if (o.userId == item.customerCommissionerId) {
                            item.customerCommissionerId = o.userId
                            item.customerCommissioner = o.userName
                        }
                    })
                    // 客服专员
                    //客服经理
                    dataMap.operatorList1.map((o) => {
                        if (o.userId == item.customerServiceManagerId) {
                            //   item.customerServiceManagerId=item.customerServiceManagerId
                            item.customerManager = o.userName
                        }
                    })
                    //结算远
                    dataMap.operatorList2.map((o) => {
                        if (o.userId == item.settlementId) {
                            item.settlementClerkId = item.settlementId
                            item.settlementClerk = o.userName
                        }
                    })
                })
                let aggregatePriceBookParams = []
                dataMap.formData.aggregatePriceBook.map((i) => {
                    aggregatePriceBookParams.push({
                        distributionId: i.distributionId,
                        customerManager: i.customerManager,
                        customerServiceManagerId: i.customerServiceManagerId,
                        customerCommissioner: i.customerCommissioner,
                        customerCommissionerId: i.customerCommissionerId,
                        settlementClerk: i.settlementClerk,
                        settlementClerkId: i.settlementClerkId
                    })
                })
                dataMap.offerLetterDTO = dataMap.tableDataQuote
                dataMap.offerLetterDTO.map((item) => {
                    if (item.settlementDeadline == 2) {
                        item.settlementDeadlineValue = ''
                        item.legalSettlementDeadlineValue = ''
                    }
                    if (item.settlementDeadline == 1) {
                        item.invoiceWorkingDays = ''
                        item.workingDays = ''
                        item.legalInvoiceWorkingDays = ''
                        item.legalWorkingDays = ''
                    }
                })
                dataMap.countersign.userIdList = []
                if (dataMap.addSignature.length > 0) {
                    dataMap.addSignature.map((item) => {
                        dataMap.countersign.userIdList.push(item.id)
                    })
                }
                if (dataMap.tableDataQuote.length > 0) {
                    dataMap.tableDataQuote.map((item) => {
                        item.quotationId = String(item.id)
                    })
                }
                if ((dataMap.taskRecord[0].status == 1 && dataMap.taskRecord[0].processNodeCode == 'customer_company_seal') ||
                    (dataMap.taskRecord[0].status == 1 && dataMap.taskRecord[0].processNodeCode == 'offer_company_seal')
                ) {
                    let someBool = dataMap.offerLetterDTO.some((item) => {
                        return item.settlementDeadline == 3
                    })
                    if (someBool) {
                        return Message.error('请选择结算方式')
                    }
                }

                const params = {
                    contractId: dataMap.contractId,
                    signUpDate: dataMap.signUpDate,
                    dueToDate: dataMap.dueToDate,
                    offerLetterDTO: dataMap.offerLetterDTO,
                    aggregatePriceBook: aggregatePriceBookParams,
                    countersign:
                        dataMap.countersign.userIdList.length == 0 ? null : dataMap.countersign,
                    auditStatus: dataMap.auditStatus,
                    auditRemark: dataMap.auditRemark,
                    taskId: dataMap.taskId
                }
                console.log(params, '=======')
                crmApi.postcontractReview(params).then((res) => {
                    if (res.code == '200') {
                        console.log(res)
                        postTaskRecord()
                        dataMap.offerLetterDTO = []
                        dataMap.countersign.userIdList = []
                        dataMap.auditStatus = 0
                        dataMap.auditRemark = ''

                        Message.success('审批成功')
                        // this.$emit('changeContractData', params)
                    } else {
                        Message.error(res.message)
                    }
                })
            } else {
                //供应商审批
                let params = {
                    contractId: dataMap.contractId,
                    signUpDate: dataMap.signUpDate,
                    dueToDate: dataMap.dueToDate,
                    auditStatus: dataMap.auditStatus,
                    auditRemark: dataMap.auditRemark,
                    taskId: dataMap.taskId
                }
                crmApi.crmSupplierReview(params).then((res) => {
                    if (res.code == '200') {
                        console.log(res)
                        postTaskRecord()
                        dataMap.offerLetterDTO = []
                        dataMap.countersign.userIdList = []
                        dataMap.auditRemark = ''
                        Message.success('审批成功')
                        dataMap.dialogFormApprove = false
                    } else {
                        Message.error(res.message)
                    }
                })
            }
        }
        const getRole = (key) => {
            crmApi.getRole({ roleType: key }).then((res) => {
                console.log(key, res)
                if (key == 4) {
                    dataMap.operatorList = res.data
                }
                if (key == 5) {
                    let userInfo = useUserStore()
                    console.log(userInfo)
                    console.log(res.data)
                    dataMap.operatorList1 = [
                        {
                            userId: userInfo.userId,
                            userName: userInfo.surName + userInfo.firstName,
                        }
                    ]
                }
                if (key == 6) {
                    dataMap.operatorList2 = res.data
                }
            })
        }
        //获取报价
        const getcontractOfferConfirmationList = () => {
            let params = {
                contractId: dataMap.contractId,
                dataType: dataMap.dataType
            }
            crmApi.getcontractOfferConfirmationList(params).then((res) => {
                if (res.code == '200') {
                    console.log(res, '报价数据')
                    dataMap.tableDataQuote = res.data
                    dataMap.oldTrial = {
                        trialDays: res.data[0].trialDays,
                        trialNumber: res.data[0].trialNumber
                    }
                    console.log(res.data[0].trialDays)
                    console.log(res.data[0].trialNumber)
                }
            })
        }
        //分配报价
        const getcontractOfferDistributionList = () => {
            let params = {
                contractId: dataMap.contractId,
                taskNum: dataMap.taskNum,
                distributionType: dataMap.distributionType
            }
            crmApi.getcontractOfferDistributionList(params).then((res) => {
                if (res.code == '200') {
                    console.log(res, '报价分配数据')
                    res.data.map((item) => {
                        item.customerCommissioner = ''
                        item.settlementClerkId = ''
                        item.settlementClerk = ''
                        item.customerCommissionerId = ''
                        item.distributionId = String(item.id)
                    })
                    dataMap.formData.aggregatePriceBook = res.data
                    dataMap.aggregatePriceBook = res.data
                    dataMap.aggregatePriceBookLength = dataMap.formData.aggregatePriceBook.length
                    dataMap.formData.aggregatePriceBook.length = res.data.length
                    console.log(dataMap.formData.aggregatePriceBook, '报价------')
                }
            })
        }
        //跳转控货
        const clickControlManagement = () => {
            const query = `?controlGoodsCnName=${dataMap.detailData.customerName}&controlGoodsId=${dataMap.detailData.customerId}&signUpDate=${dataMap.signUpDate}&dueToDate=${dataMap.dueToDate}`
            window.open('/mos/CRM/cargoManage/manageUnit' + query, '_blank')

        }
        const clickFormSubmit = (done) => {
            done()
            dataMap.tableDataQuote[dataMap.formIndex] = dataMap.formsettlement
            dataMap.tableDataQuote[dataMap.formIndex].settlementDeadline =
                dataMap.formsettlement.legalSettlementDeadline
            dataMap.tableDataQuote[dataMap.formIndex].settlementDeadlineValue =
                dataMap.formsettlement.legalSettlementDeadlineValue
            dataMap.tableDataQuote[dataMap.formIndex].invoiceWorkingDays =
                dataMap.formsettlement.legalInvoiceWorkingDays
            dataMap.tableDataQuote[dataMap.formIndex].workingDays =
                dataMap.formsettlement.legalWorkingDays
            console.log(dataMap.tableDataQuote, dataMap.formIndex, '---结算确定')
            dataMap.dialogVisible = false
           
        }
        // 编辑报价结算方式
        const clickContractOffer = (row, index) => {
            console.log(row, index)
            dataMap.formIndex = index
            dataMap.dialogVisible = true
            dataMap.formsettlement = Object.assign({}, row)
            if (!dataMap.formsettlement.legalSettlementDeadline) {
                dataMap.formsettlement.legalSettlementDeadline = 1
                dataMap.formsettlement.legalSettlementDeadlineValue = '第一个月'
            }

            dataMap.formsettlement.legalInvoiceWorkingDays = 5
            dataMap.formsettlement.legalWorkingDays = 5
        }
        // 返回加签数据
        const getCount = (item) => {
            console.log(item)
            let length1 = 0,
                length2 = 0
            if (item.signatureHasAudit) {
                length1 = item.signatureHasAudit.length
            }
            if (item.signatureToAudit) {
                length2 = item.signatureToAudit.length
            }

            return length1 + length2
        }

        //    //删除加签人
        const closeSignature = (item, index) => {
            dataMap.addSignature.splice(index, 1)
            dataMap.optionSignature.map((i) => {
                if (i.userId == item.id) {
                    i.checked = false
                }
            })
        }
        //选中加签人
        const changeSignature = (item) => {
            let a = []
            if (item.checked == false) {
                item.checked = true
                dataMap.addSignature.push({
                    name: item.userName,
                    id: item.userId,
                    image: item.headPortrait,
                    checked: item.checked
                })
            } else {
                item.checked = false
                a = dataMap.addSignature.filter((a) => {
                    return a.id != item.userId
                })
                dataMap.addSignature = a
            }
        }
        const changeRadio = (val, row) => {
            if (val == false) {
                row.trialDays = dataMap.oldTrial.trialDays
                row.trialNumber = dataMap.oldTrial.trialNumber
            }
        }
        const cancelClick = () => {
            dataMap.auditStatus=0
            dataMap.auditRemark = ''
            postTaskRecord()
        }
        const inputClientName4=(val)=> {
            if (val) {
                let search = val.toLowerCase()
                let newListData = []
                if (search) {
                    dataMap.optionSignature.filter((item) => {
                        if (item && item.userName) {
                            if (item.userName.toLowerCase().indexOf(search) !== -1) {
                                newListData.push(item)
                            }
                        }

                        dataMap.optionSignature = newListData
                    })
                }
            } else {
                getenterpriseidList()
            }
        }
        const handleCancel = () => {
            dataMap.dialogVisible = false;
        }

        defineExpose({
            show,
        })

        onMounted(() => {
            // postTaskRecord()
            getRole(4) //客服专员
            getRole(5) //客服经理
            getRole(6) //结算远
            // getenterpriseidList()
            // show({}, 'customer')
        })
        return {
            handleCancel,
            inputClientName4,
            cancelClick,
            formDataVad,
            show,
            saveContract,
            postTaskRecord,
            saveContactPost,
            getenterpriseidList,
            getRole,
            getcontractOfferConfirmationList,
            getcontractOfferDistributionList,
            clickControlManagement,
            clickFormSubmit,
            changeRadio,
            changeSignature,
            closeSignature,
            getCount,
            clickContractOffer,
            ...toRefs(dataMap)
        }

    }
})
</script>


<style lang="less" scoped>
:deep(.arco-form-item) {
    margin-bottom: 0;
}

// .approve-box {
//     // padding: 20px;
// }

.card {
    padding: 10px 0 15px 0;
}

.appBtn {
    // position: absolute;
    // top: 18px;
    // right: 59px;
    display: flex;
    justify-content: flex-end;

    .arco-btn {
        margin-left: 15px;

    }

}

.block-line {
    border-bottom: 1px solid #E5E6EB;
    margin-bottom: 40px;
    padding-bottom: 30px;
}

.block {
    // padding: 5px 20px;
    font-size: 12px;
}

.proveTitle {
    margin-top: -7px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    color: #212121;
}

.proveTitle1 {
    font-size: 16px;
    color: #1D2129;
    padding-left: 10px;
    border-left: 4px solid #2969FF;
}

.iconBtn {
    display: flex;
    flex-direction: row-reverse;
    padding: 5px;

    .icon-no,
    .icon-que {
        margin-right: 10px;
    }
}

.proveName {
    // padding: 5px 0;
    display: flex;
    align-items: center;
}

.font-gray {
    color: #8F9095;
}

.proImg {
    padding: 5px 0;

    p {
        margin: 8px 0 0 0;
        font-size: 12px;
    }
}

.fawu {
    display: flex;
    justify-content: space-between;
    padding: 5px;
    font-size: 12px;

    p:nth-child(1) {
        font-size: 12px;
    }
}

.faInput {
    width: 60px;
    margin-left: 5px;
    margin-right: 5px;
}

.addPeople {
    display: flex;
    font-size: 12px;
    align-items: center;

    p {
        display: flex;
        align-items: center;
        padding-right:10px;
    }

    img {
        width: 20px;
        height: 20px;
        border-radius: 100%;
    }
}

.but {
    padding: 7px 5px 5px 5px;
    color: #2969FF;
    position: relative;
}

.inputPeo {
    font-size: 12px;
    margin-left: 10px;
    height: 200px;
    overflow: auto;

    // p {
    //     padding: 5px 0;
    // }
}

.select {
    width: 100%;
    //   display: flex;

    //   justify-content: space-between;
    font-size: 12px;

    .selectDay {
        padding: 5px 0;
    }

    p {
        white-space: nowrap;
        padding: 5px 0;
    }
}

.select-box {
    display: flex;
}

.ml-10 {
    margin-left: 10px;
}

.signature-list-1 {
    margin-top: 10px;
    margin-right: 10px;
}

.signature-list-1 p {
    display: flex;
    align-items: center;

    img {
        width: 20px;
        height: 20px;
        margin-right: 6px;
    }
}

.font-red {
    color: #f64e60;
}

.font-orange {
    color: #ffa800;
}

.font-time {
    padding-top: 8px;
    font-size: 12px;
    color: #8F9095;
}

.data-box-container {
    display: flex;
    margin-bottom: 15px;
}

.data-box {
    margin-right: 20px;
}

.demonstration {
    margin-bottom: 6px;
}

.font-red {
    color: red;
}

.font-color {
    color: #2969FF;
}

.pr-4 {
    padding-right: 4px;
}

.mt-16 {
    margin-bottom: 16px;
}

.mb-16 {
    margin-bottom: 16px;
}
</style>