<template>
  <div class="container">
    <div class="head">
      <button-area>
        <template #left>
          <search-btn v-model="dataMap.searchword" placeholder="任务名称"></search-btn>
          <screen-btn></screen-btn>
          <sync-btn @click="syncData"></sync-btn>
        </template>
        <template #right></template>
      </button-area>
      <div class="table-wrap">
        <a-empty v-if="dataMap.tableData.length == 0" />
        <a-table v-if="dataMap.tableData.length" :data="dataMap.tableData"
          :pagination="dataMap.paginationProps" @page-change="pageChange" @page-size-change="pageSizeChange"
          column-resizable :columns="columns" :bordered="{ wrapper: true, cell: true }">
          <template #taskName="{ record }">
            <a-input v-model="record.taskName" @change="saveChange(record)" />
          </template>
          <template #description="{ record }">
            <a-textarea v-model="record.description" @change="saveChange(record)" :rows="5" />
          </template>
          <template #handleRoleType="{ record }">
            <a-select v-if="record.handleRoleType" v-model="record.handleRoleType" @change="saveChange(record)">
              <a-option v-for="item in dataMap.handleRoleTypeOptions" :label="item.label" :value="item.value"
                :key="item.value">
              </a-option>
            </a-select>
          </template>
          <template #estimatedCompleteRuleType="{ record }">
            <span style="color: rgb(41, 105, 255); cursor: pointer;    white-space: pre;" @click="edit(record)">{{
                estimatedCompleteRuleText(record.estimatedCompleteRuleType, record.estimatedCompleteRule)
            }}</span>

          </template>
          <template #dataStatus="{ record }">
            <a-switch size="small" :checked-value="true" @change="saveChange(record)" :unchecked-value="false"
              v-model="record.dataStatus" />
          </template>
        </a-table>
      </div>
    </div>
  </div>
  <edit-complete-rule-modal ref="editCompleteRuleModalRef" @handleBeforeOk="syncData" />
</template>

<script lang="ts" setup>
import { taskApi } from '@/api';
import { Message } from '@arco-design/web-vue';
import { nextTick, onMounted, ref, reactive, watch, defineEmits } from 'vue';
import editCompleteRuleModal from './components/editCompleteRuleModal.vue'
const editCompleteRuleModalRef = ref<any>(null)
const dataMap = reactive({
  tableData: [] as any[],
  searchword: "",
  selectedKeys: [] as string[],
  paginationProps: {
    'size': 'mini',
    'total': '',
    'current': 1, //  当前页码
    'page-size': 10, // 每页展示的数据条数
    'show-page-size': true,
    'page-size-options': [10, 20, 30, 40, 50],
    'show-total': true,
    'show-jumper': true,
  },
  pageNum: 0,
  pageSize: 10,
  handleRoleTypeOptions: [] as any[],
  rowSelection: {
    type: 'checkbox',
    showCheckedAll: true,
    width: 30,
  },
});
const pageChange = (page: number) => {
  dataMap.paginationProps.current = page;
  dataMap.pageNum = page;
}
const pageSizeChange = (pageSize: number) => {
  dataMap.paginationProps['page-size'] = pageSize;
  dataMap.pageSize = pageSize;
}
const scrollConfig = { y: '100%' };
const columns = [
  { width: 350, title: '任务名称', dataIndex: 'taskName', slotName: 'taskName', },
  { width: 350, title: '任务描述', dataIndex: 'description', slotName: 'description', },
  //  预计完工规则类型: 1-客服预估 2-创建后分钟 3-创建后小时 4-创建后工作日 5-当日次日 6-澳洲非澳洲
  { width: 150, title: '预计完工规则', dataIndex: 'estimatedCompleteRuleType', slotName: 'estimatedCompleteRuleType', },
  // 处理角色类型: 1-审单员 2-客服专员 3-换单员 4-制单员 5-销售员 6-接单员
  { width: 100, title: '处理角色', dataIndex: 'handleRoleType', slotName: 'handleRoleType', },
  // 是否开启 数据状态: 0-禁用 1-启用 
  { width: 90, title: '是否开启', dataIndex: 'dataStatus', slotName: 'dataStatus', },
]
const estimatedCompleteRuleTypeOptions = [
  { value: 1, label: '客服预估' },
  { value: 2, label: '创建后分钟' },
  { value: 3, label: '创建后小时' },
  { value: 4, label: '创建后工作日' },
  { value: 5, label: '当日次日' },
  { value: 6, label: '澳洲非澳洲' },
]

const estimatedCompleteRuleText = (type: number, estimatedCompleteRule: string) => {
  if (type === 1) return '客服预估'
  if (type === 2) return `创建后${estimatedCompleteRule}分钟`
  if (type === 3) return `创建后${estimatedCompleteRule}小时`
  if (type === 4) return `创建后${estimatedCompleteRule}工作日`
  if (type === 4) return `创建后${estimatedCompleteRule}工作日`
  if (estimatedCompleteRule == null) return '未设置'
  let arr = estimatedCompleteRule.split(',')
  if (type === 5) return `任务创建早于当日${arr[0]}:${arr[1]}，当日${arr[2]}:${arr[3]}完成\n任务创建晚于于当日${arr[0]}:${arr[1]}，第二个工作日${arr[4]}:${arr[5]}完成`
  if (type === 6) return `澳洲：任务创建后${arr[0]}个工作日\n非澳洲：任务创建后${arr[1]}个工作日`
}
const getHandleRoleTypeOptions = async () => {
  const { data } = await taskApi.commonSelector({ selectorCode: 'handleRoleType' })
  console.log('getHandleRoleTypeOptions', data);
  dataMap.handleRoleTypeOptions = data.map((el: any) => {
    return { value: el.value, label: el.desc }
  })
}


const edit = (record: any) => {
  editCompleteRuleModalRef.value.handleClick(record)
}
const saveChange = async (record: any,) => {
  await taskApi.taskConfigEditPage(record)
  getData()
}
const getData = async () => {
  const { data } = await taskApi.taskConfigPage({
    keyword: dataMap.searchword,
    pageNum: dataMap.pageNum,
    pageSize: dataMap.pageSize,
  })
  dataMap.paginationProps.total = data.total;
  dataMap.tableData = data.list
}
watch([() => dataMap.searchword, () => dataMap.pageNum, () => dataMap.pageSize,], getData)
getHandleRoleTypeOptions()
const syncData = () => { 
  dataMap.searchword = ''
  getData() }
syncData();

</script>

<style lang="less" scoped>
.table-wrap {
  width: 100%;
  overflow: hidden;
  padding: 0 20px 10px;
  height: calc(~'100% - 70px - 64px');
}

:deep(.arco-table .arco-table-td) {
  vertical-align: top;
}
</style>