<template>
  <a-modal title="新增开票抬头" v-model:visible="dialogVisible" width="60%" class="bank-dialog" :top="100"
    @cancel="dialogVisible = false" :mask-closable="false" :on-before-ok="(done) => { submit(done) }">
    <div class="bank-content">
      <a-form ref="form" :model="datas" :rules="rules" layout="vertical">
        <a-row class="grid-demo" :gutter="[24, 12]">
          <a-col :span="12">
            <a-form-item label="开票抬头" field="enterpriseName">
              <a-input size="small" v-model="datas.enterpriseName" disabled></a-input>
            </a-form-item>
          </a-col>
          <a-col :span="12">
            <a-form-item label="税号" field="taxNo">
              <a-input size="small" v-model="datas.taxNo"></a-input>
            </a-form-item>
          </a-col>
        </a-row>

        <a-row :gutter="20">
          <a-col :span="12">
            <a-form-item label="地址" field="address">
              <a-input size="small" v-model="datas.address"></a-input>
            </a-form-item>
          </a-col>
          <a-col :span="12">
            <a-form-item label="电话" field="telephone">
              <a-input size="small" v-model="datas.telephone"></a-input>
            </a-form-item>
          </a-col>
        </a-row>
        <a-row :gutter="20">
          <a-col :span="12">
            <a-form-item label="币别" field="currency">
              <a-select size="small" v-model="datas.currency" placeholder="请选择">
                <a-option :label="item.label" :value="item.value" v-for="(item, index) in currencyOptions" :key="index">
                </a-option>
              </a-select>
            </a-form-item>
          </a-col>
        </a-row>

        <a-row :gutter="20">
          <a-col :span="12">
            <a-form-item label="开户行" field="bankName">
              <a-input size="small" v-model="datas.bankName"></a-input>
            </a-form-item>
          </a-col>
          <a-col :span="12">
            <a-form-item label="银行账号" field="bankAccount">
              <a-input size="small" v-model="datas.bankAccount"></a-input>
            </a-form-item>
          </a-col>
        </a-row>
      </a-form>
    </div>
  </a-modal>
</template>

<script>
// import api from '@/api'
// import utils from '@/utils'
// import commonApi from '@/views/MOS/commonApi'
import { formatOptions, setNumericText, totalNum } from '@/utils';
import commonApi from '@/utils/commonApi/index';
import { settlementApi } from '@/api/settlementApi/index';
export default {
  components: {},
  data() {
    return {
      dialogVisible: false,
      datas: {
        enterpriseName: '',
        enterpriseId: '',
        taxNo: '',
        address: '',
        telephone: '',
        currency: '',
        bankName: '',
        bankAccount: ''
      },
      currencyOptions: [],
      rules: {
        enterpriseName: [{ required: true, message: '请输入', trigger: '' }],
        taxNo: [{ required: true, message: '请输入', trigger: '' }],
        address: [{ required: true, message: '请输入', trigger: '' }],
        telephone: [{ required: true, message: '请输入', trigger: '' }],
        currency: [{ required: true, message: '请选择', trigger: '' }],
        bankName: [{ required: true, message: '请输入', trigger: '' }],
        bankAccount: [{ required: true, message: '请输入', trigger: '' }]
      }
    }
  },
  computed: {},
  props: {
    form: Object,
    currency: String
  },
  filters: {},
  created() { },
  methods: {
    async init() {
      await this.getCurrencyOptions()
      this.datas.enterpriseName = this.form.payerName || ''
      this.datas.enterpriseId = this.form.payerId || ''
      this.datas.taxNo = this.form.payerTaxNo || ''
      this.datas.address = this.form.payerAddress || ''
      this.datas.telephone = this.form.payerPhone || ''
      this.datas.currency = this.currency || ''
      this.datas.bankName = ''
      this.datas.bankAccount = ''
    },
    openDialog() {
      this.init()
      this.dialogVisible = true
    },
    async getCurrencyOptions() {
      if (!this.currencyOptions.length) {
        this.currencyOptions = formatOptions(
          await commonApi.getCurrency(),
          { value: 'code', label: 'name', symbol: 'symbol' }
        )
      }
    },
    async submit(done) {
      if (await this.$refs.form.validate() !== undefined) return done(false)
      const { code, message, data } = await settlementApi.updateRelationBankAndTitle(this.datas)
      if (code != 200) {
        this.$message.error(message)
        done(false)
        return
      }
      this.$emit('refreshBank', JSON.parse(JSON.stringify(this.datas)))
      this.dialogVisible = false
      done(true)

    }
  },
  watch: {
    dialogVisible(val) {
      if (!val) {
        this.$refs.form.resetFields()
      }
    }
  }
}
</script>

<style lang="less" scoped>
</style>
