<template>
  <a-modal v-model:visible="visible" width="40%" :top="100" @cancel="visible = false" :mask-closable="false"
    :on-before-ok="(done) => { handleBeforeOk(done) }">
    <template #title> 批量新增发票 </template>
    <div>
      <a-form ref="formRef" :model="form" layout="vertical">
        <div style="display: flex;align-items: center;margin-bottom: 10px;">
          <icon-info-circle-fill color="red" />
          <span style="margin-left:10px">输入连号起始发票号码，自动批量添加发票信息</span>
        </div>
        <a-row class="grid-demo" :gutter="[24, 12]">
          <a-col :span="12">
            <a-form-item field="fapiaoCode" label="发票代码" :rules="[{ required: true, message: '请输入' }]"
              :validate-trigger="['change', 'blur']">
              <a-input v-model="form.fapiaoCode" placeholder="请输入" maxlength="18" />
            </a-form-item>
          </a-col>
          <a-col :span="12">
            <a-form-item label="发票数量">
              <a-input v-model="fapiaoNum" disabled placeholder="" maxlength="18" />
            </a-form-item>

          </a-col>

          <a-col :span="12">
            <a-form-item field="fapiaoHeadNo" label="发票号码（起）" :rules="[{ required: true, message: '请输入' }]"
              :validate-trigger="['change', 'blur']">
              <a-input v-model="form.fapiaoHeadNo" placeholder="请输入" maxlength="18" />
            </a-form-item>
          </a-col>
          <a-col :span="12">
            <a-form-item field="fapiaoTailNo" label="发票号码（止）" :rules="[{ required: true, message: '请输入' }]"
              :validate-trigger="['change', 'blur']">
              <a-input v-model="form.fapiaoTailNo" placeholder="请输入" maxlength="18" />
            </a-form-item>
          </a-col>
          <a-col :span="12">
            <a-form-item field="invoiceCode" label="发票类型" :rules="[{ required: true, message: '请选择' }]"
              :validate-trigger="['change', 'blur']">
              <a-select v-model="form.invoiceCode" @change="changeInvoiceType" placeholder="请选择" allow-search>
                <a-option v-for="item in invoiceTypeList" :key="item.value" :value="item.value" :label="item.label">
                </a-option>
              </a-select>
            </a-form-item>
          </a-col>
          <a-col :span="12">
            <a-form-item field="ownerId" label="出票公司" :rules="[{ required: true, message: '请选择出票公司' }]"
              :validate-trigger="['change', 'blur']">
              <a-select v-model="form.ownerId" placeholder="请选择" @change="changeOwner" allow-search>
                <a-option v-for="item in ownerOptions" :key="item.value" :value="item.value" :label="item.label">
                </a-option>
              </a-select>
            </a-form-item>
          </a-col>


        </a-row>
      </a-form>
    </div>
  </a-modal>
</template>
<script lang="ts" setup>
import { Message } from '@arco-design/web-vue';
import { reactive, computed, ref } from 'vue';
import { settlementApi } from '@/api/settlementApi/index';
import commonApi from '@/utils/commonApi/index';
import { setNumericText, formatOptions, totalNum } from '@/utils';
const visible = ref(false);
const form = reactive({
  fapiaoCode: '', //发票代码
  fapiaoHeadNo: '', //发票号码（起）
  fapiaoTailNo: '', //	发票号码（止）
  invoiceCode: '', //发票code
  invoiceName: '', //发票类型
  ownerId: '', //出票公司id
  ownerName: '', //出票公司名称
});
const emits = defineEmits(['handleBeforeOk']);
const handleClick = () => {
  visible.value = true;
  init();
};
const ownerOptions = ref<any>([]); //所属公司
const invoiceTypeList = ref<any[]>([]); //发票类型列表
const formRef = ref();
const changeOwner = async (val: any) => {
  form.ownerName = ownerOptions.value.find((v: any) => v.value == val).label
}
const changeInvoiceType = (val: any) => {
  form.invoiceName = invoiceTypeList.value.find((v: any) => v.value == val).label
}
const init = async () => {
  //发票类型
  invoiceTypeList.value = formatOptions(
    await commonApi.settleBasicEnterpriseInvoice(),
    { value: 'code', label: 'name' }
  )
  const { data } = await settlementApi.memberQueryInvoiceCompany({
    relationTypes: 4
  });
  ownerOptions.value = data.map((v: any) => {
    return { value: v.enterpriseId, label: v.name, };
  });

};
const fapiaoNum = computed(() => {
  let num = 0
  if (form.fapiaoTailNo && form.fapiaoHeadNo) {
    num = Number(form.fapiaoTailNo) - Number(form.fapiaoHeadNo) + 1
  }

  return String(num)
})
const handleBeforeOk = async (done: any) => {
  if (await formRef.value.validate() !== undefined) return done(false)
  // if (!form.fapiaoCode) return Message.error('发票代码不能为空')
  // if (!form.fapiaoHeadNo) return Message.error('发票号码（起）不能为空')
  // if (!form.fapiaoTailNo) return Message.error('发票号码（止）不能为空')
  if (Number(form.fapiaoTailNo) - Number(form.fapiaoHeadNo) < 0) {
    done(false)
    return Message.error('发票号码格式不正确')
  }
  // if (!form.invoiceCode) {
  //   Message.error('发票类型不能为空')
  //   return
  // }
  // if (!form.ownerId) {
  //   Message.error('出票公司不能为空')
  //   return
  // }

  let { code }: any = await settlementApi.invoicePoolAdd(form)
  if (code != 200) return done(false)
  Message.success('批量添加成功')
  done(true)
  emits("handleBeforeOk")
}

defineExpose({ handleClick });
</script>