<template>
  <a-modal v-model:visible="dialogVisible" :on-before-ok="confirm" :width="'50%'" :mask-closable="false" hideCancel :body-style="{

    padding: '0 20px 20px 20px',
    
  }">
    <template #title>关联发票提示</template>
    <p>
      本次关联
      <span class="color-green">{{ associateInvoices.associate }}</span>
      张发票，剩余
      <span class="color-green">{{ associateInvoices.balance }}</span>
      张线下业务发票！
    </p>
    <a-table class="commonTable" :data="associateInvoices.invoices" :scrollConfig="{ y: '100%' }" column-resizable
      :columns="columns" :pagination="false" :bordered="{ wrapper: true, cell: true }">
      <template #taxAmount="{ record }">
        <span>{{ record.currencySymbol }}{{ record.taxAmount }}</span>
      </template>
    </a-table>
  </a-modal>
</template>

<script lang="ts">
export default {
  name: 'TaskPop',
};
</script>

<script setup lang="ts">
import { Message } from '@arco-design/web-vue';
import { defineProps, defineEmits, defineExpose, ref, reactive } from 'vue';
const dialogVisible = ref(false);
const columns = [
  {
    dataIndex: 'taxAmount',
    title: '本次开票金额',
    slotName: 'taxAmount',
    width: 150,
  },
  {
    dataIndex: 'fapiaoNo',
    title: '关联发票号',
    slotName: 'fapiaoNo',
    width: 150
  },
  {
    dataIndex: 'taxAmount',
    title: '关联发票金额',
    slotName: 'taxAmount',
    width: 150
  },
];
const associateInvoices = reactive<any>({})
const openDialog = (associate: any) => {
  for (let key in associate) {
    associateInvoices[key] = associate[key]
  }
  dialogVisible.value = true;
};
const closeDialog = () => {
  dialogVisible.value = false;
};
const confirm = (down: any) => {
  down(true);
};
defineExpose({
  openDialog,
  closeDialog,
});
</script>

<style lang="less" scoped>
// .commonTable {
//   width: calc(~'100% - 40px');
// }
.content {
  position: relative;

  .list-box {
    .list-title {
      position: relative;
      padding-left: 15px;

      &::before {
        content: '';
        width: 4px;
        height: 12px;
        background-color: rgb(var(--primary-6));
        position: absolute;
        border-radius: 25px;
        z-index: 1;
        left: 0;
        top: 50%;
        margin-top: -6px;
      }
    }
  }

  .approvalBts {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
  }
}
</style>

