<template>
  <a-modal v-model:visible="dataMap.visible" width="40%" :top="100" @cancel="handleCancel" :mask-closable="false"
    :on-before-ok="(done) => { handleBeforeOk(done) }">
    <template #title> 绑定付款方 </template>
    <div>
      <a-form ref="formRef" :model="form" layout="vertical">
        <a-row class="grid-demo" :gutter="[24, 12]">
          <a-col :span="12">
            <a-form-item field="ownerName" label="出票公司" :validate-trigger="['change', 'blur']"
              :rules="[{ required: true }]">
              <a-input disabled v-model="form.ownerName" allow-search></a-input>
            </a-form-item>
          </a-col>
          <a-col :span="12">
            <a-form-item field="clientName" label="委托人" :rules="[{ required: true, message: '请输入' }]"
              :validate-trigger="['change', 'blur']">
              <a-input v-model="form.clientName" disabled placeholder="请输入" maxlength="18" />
            </a-form-item>
          </a-col>
          <a-col :span="12">
            <a-form-item field="payerId" label="开票抬头" :rules="[{ required: true, message: '请选择' }]">
              <a-select v-model="form.payerId" placeholder="请选择" allow-search @search="titleSearch"
                @change="invoiceTitleChange">
                <a-option v-for="(item, index) in dataMap.titleOptions" :key="item.id && item.id.toString()"
                  :label="item.label" :value="item.value"></a-option>
              </a-select>
            </a-form-item>
          </a-col>
        </a-row>
        <a-row>
          <a-col :span="24">
            <a-form-item field="selectedKeys" label="可关联付款方" :rules="[{ required: true, message: '请选择' }]">
              <div class="table-row">
                <a-table v-model:selectedKeys="form.selectedKeys" :columns="columns"
                  :bordered="{ wrapper: true, cell: true }" :pagination="false" row-key="id" :data="dataMap.tableData"
                  :row-selection="rowSelection" />
              </div>
            </a-form-item>
          </a-col>
        </a-row>
      </a-form>
    </div>
  </a-modal>
</template>
<script lang="ts" setup>
import { Message } from '@arco-design/web-vue';
import { reactive, ref } from 'vue';
import { settlementApi } from '@/api/settlementApi/index';
import commonApi from '@/utils/commonApi/index';
import { formatOptions } from '@/utils';
const formRef = ref();
const dataMap = reactive({
  titleOptions: [] as any[],
  titleSearchVal: '',
  visible: false,
  tableData: [] as any[]
})
const form = reactive({
  ownerId: '', // 出票公司id
  ownerName: '',
  clientId: '',
  clientName: '',
  payerId: "",
  payerName: "",
  selectedKeys: [] as any[],
});
const rowSelection: any = { type: 'radio' }
const columns = [
  { title: '付款方公司', dataIndex: 'customerName' },
  { title: '合同号', dataIndex: 'contractNo' },
  { title: '签约销售', dataIndex: 'signSalesman' },
]
const emits = defineEmits(['handleBeforeOk']);
const handleClick = (info: any) => {
  dataMap.visible = true;
  form.ownerId = info.ownerId
  form.ownerName = info.ownerName
  form.clientId = info.clientId
  form.clientName = info.clientName
};
const handleCancel = () => {
};
const titleSearch = async (val: string) => {
  dataMap.titleOptions = formatOptions(
    await commonApi.queryRelationByLabelCode({
      relationType: 8,
      name: val
    }),
    { value: 'enterpriseId', label: 'name' }
  )
}
const invoiceTitleChange = (val: any) => {
  form.selectedKeys = []
  getTableData()
}
const getTableData = async () => {

  let { data } = await settlementApi.queryProtocols({
    signedClientId: form.clientId,
    signingCompanyId: form.payerId
  })
  // mock
  if (!data || data.length === 0) {
    dataMap.tableData = []
    return Message.error("未查询到相关信息")
    // let res = { "requestId": "697223A29CF41ED6F8E2F69127357B0EA7B04CF60999AD6098A3A750FA573C19", "timestamp": 1658369836036, "code": "200", "message": "success", "data": [{ "id": 1524579808679620608, "contractNo": "FORM-1544", "customerId": 294, "customerName": "翡筠国际贸易（上海）有限公司", "signSalesman": "胡晓峰", "signSalesmanId": 2694 }] }
    // data = JSON.parse(JSON.stringify([...res.data, ...res.data,]))
    // data[1].id = '222222'
  }
  dataMap.tableData = data
}
const handleBeforeOk = async (done: any) => {
  if (await formRef.value.validate() !== undefined) return done(false)
  if (!form.selectedKeys[0]) {
    done(false)
    return Message.error("请勾选可关联付款方")
  }
  const { code }: any = await settlementApi.bindingPayment({
    id: form.selectedKeys[0],
    signedClientId: form.clientId
  })
  if (code != 200) return done(false)
  done(true)
  emits("handleBeforeOk")
}

defineExpose({ handleClick });
</script>

<style lang="less" scoped>
.table-row {
  width: 100%;
}
</style>