<template>
  <a-modal v-model:visible="visible" width="40%" :top="100" @cancel="handleCancel" :mask-closable="false"
    :on-before-ok="handleBeforeOk">
    <template #title> 编辑发票 </template>
    <div>
      <a-form ref="formRef" :model="form" layout="vertical">
        <a-row class="grid-demo" :gutter="[24, 12]">
          <a-col :span="12">
            <a-form-item field="fapiaoCode" label="发票代码" :rules="[{ required: true, message: '请输入' }]"
              :validate-trigger="['change', 'blur']">
              <a-input v-model="form.fapiaoCode" placeholder="请输入" maxlength="18" />
            </a-form-item>
          </a-col>


          <a-col :span="12">
            <a-form-item field="fapiaoNo" label="发票号码" :rules="[{ required: true, message: '请输入' }]"
              :validate-trigger="['change', 'blur']">
              <a-input v-model="form.fapiaoNo" placeholder="请输入" maxlength="18" />
            </a-form-item>
          </a-col>
          <a-col :span="12">
            <a-form-item field="invoiceName" label="发票类型" :rules="[{ required: true, message: '请选择' }]"
              :validate-trigger="['change', 'blur']">
              <a-select v-model="form.invoiceName" @change="changeInvoiceType" placeholder="请选择" allow-search>
                <a-option v-for="item in invoiceTypeList" :key="item.value" :value="item.value" :label="item.label">
                </a-option>
              </a-select>
            </a-form-item>
          </a-col>
          <a-col :span="12">
            <a-form-item field="ownerId" label="出票公司" :rules="[{ required: true, message: '请选择出票公司' }]"
              :validate-trigger="['change', 'blur']">
              <a-select v-model="form.ownerId" placeholder="请选择" @change="changeOwner" allow-search>
                <a-option v-for="item in ownerOptions" :key="item.value" :value="item.value" :label="item.label">
                </a-option>
              </a-select>
            </a-form-item>
          </a-col>
        </a-row>
      </a-form>
    </div>
  </a-modal>
</template>
<script lang="ts" setup>
import { Message } from '@arco-design/web-vue';
import { reactive, ref } from 'vue';
import { settlementApi } from '@/api/settlementApi/index';
import commonApi from '@/utils/commonApi/index';
import { setNumericText, formatOptions, totalNum } from '@/utils';
const visible = ref(false);
const invoiceCode = ref('');
const form = reactive({
  fapiaoCode: '', //发票代码
  fapiaoNo: '', //发票号码
  invoiceCode: '', //发票code
  invoiceName: '', //发票类型
  ownerId: '', //出票公司id
  ownerName: '', //出票公司名称
});
const emits = defineEmits(['handleBeforeOk']);
const handleClick = (record: any) => {
  visible.value = true;
  init(record);

};

const ownerOptions = ref<any>([]); //所属公司
const feeOptions = ref<any>([]);
const invoiceTypeList = ref<any[]>([]); //发票类型列表
const formRef = ref();
const handleCancel = () => {

};
const changeOwner = async (val: any) => {
  form.ownerName = ownerOptions.value.find((v) => v.value == val).label
}


const changeInvoiceType = (val: any) => {
  console.log('form', form);
  // if (form.invoiceCode == 'BKFP' || form.invoiceCode == 'QTFP') {
  //   feeOptions.value = []



  //   form.items = [
  //     {
  //       itemId: '',
  //       itemName: '',
  //       specificationModel: '',
  //       quantity: '',
  //       unit: '',
  //       unitPrice: '',
  //       taxAmount: ''
  //     }
  //   ]


  // } else {
  //   getCanInvoicedFeeItems()
  // }
}
const init = async (record: any) => {
  //发票类型
  invoiceTypeList.value = formatOptions(
    await commonApi.settleBasicEnterpriseInvoice(),
    { value: 'code', label: 'name' }
  )
  const { data } = await settlementApi.memberQueryInvoiceCompany({
    relationTypes: 4
  });
  ownerOptions.value = data.map((v: any) => {
    return { value: v.enterpriseId, label: v.name, };
  });


  // const { enterprises } = await commonApi.memberQueryUserAuthorithPart(null);
  // ownerOptions.value = enterprises.map((v: any) => {
  //   return { value: v.id, label: v.name };
  // });

  form.fapiaoCode = record.fapiaoCode
  form.fapiaoNo = record.fapiaoNo
  form.invoiceCode = record.invoiceCode
  form.invoiceName = record.invoiceName
  // form.ownerId =.id
  form.ownerName = record.ownerName
  let current = ownerOptions.value.find(v => v.label == record.ownerName)
  form.ownerId = current?.value || ''
};
const invoicePoolUpdate = async () => {
  await settlementApi.invoicePoolUpdate(form)
}
const handleBeforeOk = async (done: any) => {
  if (await formRef.value.validate() !== undefined) return done(false)
  await invoicePoolUpdate()
  done(true)
  emits("handleBeforeOk")
}

defineExpose({ handleClick });
</script>