<template>
  <p>开票项目</p>
  <a-table class="table_wrapper" :bordered="{ wrapper: true, cell: true }" :data="tableData" :columns="columns"
    :pagination="false" :headerCellStyle="{
      backgroundColor: 'red !important',
      color: '#fff'
    }">
    <template #th="{column}">
      <th :class="getClass(column)"></th>
    </template>
    <template #operator="{ record, rowIndex }">
      <div>
        <!-- <span style="padding-right: 5px">{{ rowIndex + 1 }}</span> -->
        <a-popconfirm content="确认删除？" position="right" @ok="deleteItem(record, rowIndex)">
          <a-button type="text" shape="circle">
            <icon-delete />
          </a-button>
        </a-popconfirm>
      </div>
    </template>
    <template #itemName="{ record, rowIndex }">
      <a-select v-model="record.itemId" placeholder="请选择" @change="itemChange($event, record)" allow-search>
        <a-option v-for="item in props.feeOptions" :key="item.value" :value="item.value" :label="item.label">
        </a-option>
      </a-select>
    </template>
    <template #specificationModel="{ record, rowIndex }">
      <a-input v-model="record.specificationModel" placeholder="请输入" maxlength="18" />
    </template>
    <template #quantity="{ record, rowIndex }">
      <a-input-number v-model="record.quantity" @change="quantityChange(record)" placeholder="请输入" maxlength="18"
        :precision="4" :min="0" />
    </template>
    <template #unit="{ record, rowIndex }">
      <a-select v-model="record.unit" placeholder="请选择" allow-search>
        <a-option v-for="item in  ['项', '柜', '箱', '吨']" :key="item" :value="item" :label="item"></a-option>
      </a-select>
    </template>

    <template #unitPrice="{ record, rowIndex }">
      <a-input-number v-model="record.unitPrice" @change="unitPriceChange(record)" placeholder="请输入" maxlength="18"
        :precision="4" :min="0" />
    </template>
    <template #taxAmount="{ record, rowIndex }">
      <a-input-number v-model="record.taxAmount" @change="totalChange(record)" placeholder="请输入" maxlength="18"
        :precision="4" :min="0" />
    </template>
  </a-table>

  <a-button type="text" shape="circle" @click="addTableColumns">
    <icon-plus />新增
  </a-button>
</template>

<script lang="ts" setup>
import { setNumericText } from '@/utils';
import { reactive, ref, defineProps } from 'vue';
type tableDataType = {
  itemId: string  //	费用项目名称	
  itemName: string  //	费用项目名称	
  specificationModel: string  //	规格型号	
  quantity: number  //	数量	
  unit: string  //	单位	
  unitPrice: number  //	单价	
  taxAmount: number  //	金额
}[]
const props = defineProps({ feeOptions: Array, items: Array });


/* 

*/
const columns = [
  { title: '#', slotName: 'operator', dataIndex: 'operator' },
  { title: '项目名称', slotName: 'itemName', dataIndex: 'itemName' },
  { title: '规格型号', slotName: 'specificationModel', dataIndex: 'specificationModel' },
  { title: '数量', slotName: 'quantity', dataIndex: 'quantity' },
  { title: '单位', slotName: 'unit', dataIndex: 'unit' },
  { title: '单价', slotName: 'unitPrice', dataIndex: 'unitPrice' },
  { title: '金额', slotName: 'taxAmount', dataIndex: 'taxAmount' },
]
const tableData = reactive<tableDataType>(props.items)
// let item = {
//   itemId: '1',
//   itemName: 'string',  //	费用项目名称	
//   specificationModel: 'string',  //	规格型号	
//   quantity: 'string',  //	数量	
//   unit: 'string',  //	单位	
//   unitPrice: '1',  //	单价	
//   taxAmount: '1',  //	金额
//   // operator:'22'
// }
// tableData[0] = item
const deleteItem = (record: any, rowIndex: any) => {
  tableData.splice(rowIndex, 1)
}
const addTableColumns = () => {
  tableData.push({
    itemId: '',
    itemName: '',
    specificationModel: '',
    quantity: 0,
    unit: '',
    unitPrice: 0,
    taxAmount: 0,
  })
}
const see = () => {
  console.log('tableData', tableData);
}
const fixedNumber = (num: number) => {
  return Number(setNumericText(num, {}))
}

const itemChange = (evt, row) => {
  let item = props.feeOptions!.find((v) => v.value == evt)
  row.itemName = item.label
}
const quantityChange = (row) => {
  let num = fixedNumber(Number(row.quantity) * Number(row.unitPrice))
  if (!isNaN(num)) {
    row.taxAmount = num
  }
}
const unitPriceChange = (row) => {
  let num = fixedNumber(Number(row.unitPrice) * Number(row.quantity))
  if (!isNaN(num)) {
    row.taxAmount = num
  }
}
const totalChange = (row) => {
  let num = fixedNumber(Number(row.taxAmount) / Number(row.quantity))
  if (!isNaN(num)) {
    row.unitPrice = num
  }
}
const getClass = (column: any) => {
  let arr = ['operator', 'specificationModel']
  return !arr.includes(column.dataIndex) ? 'red' : ''
}
defineExpose({ tableData });

</script>
<style lang="less" scoped>
.add {
  // padding-top: 20px;
}

:deep(.arco-table-th) {
  &.red {
    .arco-table-cell::after {
      content: '*';
      color: red;
    }

  }
}
</style>