<template>
  <a-modal v-model:visible="visible" width="60%" :top="100" @cancel="handleCancel" :mask-closable="false"
    :on-before-ok="handleBeforeOk">
    <template #title> 申请非业务开票 </template>
    <div>
      <a-form ref="formRef" :model="form" layout="vertical">
        <a-row class="grid-demo" :gutter="[24, 12]">
          <a-col :span="8">
            <a-form-item field="ownerId" label="出票公司" :rules="[{ required: true, message: '请选择出票公司' }]"
              :validate-trigger="['change', 'blur']">
              <a-select v-model="form.ownerId" placeholder="请选择" @change="changeOwner" allow-search>
                <a-option v-for="item in ownerOptions" :key="item.value" :value="item.value" :label="item.label">
                </a-option>
              </a-select>

            </a-form-item>
          </a-col>
          <a-col :span="8">
            <a-form-item field="ownerBankIban" label="出票公司开户行、银行账号"
              :rules="[{ required: true, message: '请选择出票公司开户行、银行账号' }]" :validate-trigger="['change', 'blur']">
              <a-select v-model="form.ownerBankIban" placeholder="请选择" allow-search>
                <a-option v-for="item in invoiceBanklist" :key="item.value" :value="item.value" :label="item.label">
                </a-option>
              </a-select>

            </a-form-item>
          </a-col>

          <a-col :span="8">
            <a-form-item field="invoiceCode" label="发票类型" :rules="[{ required: true, message: '请选择' }]"
              :validate-trigger="['change', 'blur']">
              <a-select v-model="invoiceCode" @change="changeInvoiceType" placeholder="请选择" allow-search>
                <a-option v-for="item in invoiceTypeList" :key="item.value" :value="item.value" :label="item.label">
                </a-option>
              </a-select>
            </a-form-item>
          </a-col>

          <a-col :span="8">
            <a-form-item field="currency" label="币别" :rules="[{ required: true, message: '请选择' }]"
              :validate-trigger="['change', 'blur']">
              <a-select v-model="form.currency" @change="currencyChange" placeholder="请选择" allow-search>
                <a-option v-for="item in currencyList" :key="item.value" :value="item.value" :label="item.label">
                </a-option>
              </a-select>
            </a-form-item>
          </a-col>


          <a-col :span="8">
            <a-form-item field="currencyExchangeRate" label="汇率" :rules="[{ required: true, message: '请输入' }]"
              :validate-trigger="['change', 'blur']">
              <a-input v-model="form.currencyExchangeRate" :disabled="form.currency == 'CNY'" placeholder="请输入"
                maxlength="18" />
            </a-form-item>
          </a-col>

          <a-col :span="8">
            <a-form-item field="originalCurrencyAmount" label="开票金额（含税）" :rules="[{ required: true, message: '请输入' }]"
              :validate-trigger="['change', 'blur']">
              <a-input v-model="form.originalCurrencyAmount" placeholder="请输入" maxlength="18"
                @change="changeOriginalCurrencyAmount" />
            </a-form-item>
          </a-col>


          <a-col :span="8">
            <a-form-item field="associateFee" label="关联费用">
              <a-checkbox v-model="form.associateFee">关联费用</a-checkbox>
            </a-form-item>
          </a-col>



          <a-col :span="8">
            <a-form-item field="payerId" label="开票抬头" :rules="[{ required: true, message: '请选择' }]">
              <a-select v-model="form.payerId" placeholder="请选择" allow-search @search="titleSearch"
                @change="invoiceTitleChange">
                <a-option v-for="(item, index) in titleOptions" :key="item.id && item.id.toString()" :label="item.label"
                  :value="item.value"></a-option>
              </a-select>
            </a-form-item>
          </a-col>

          <a-col :span="8">
            <a-form-item field="payerTaxNo" label="税号">
              <a-input v-model="form.payerTaxNo" disabled placeholder="请输入" maxlength="18" />
            </a-form-item>
          </a-col>

          <a-col :span="8">
            <a-form-item field="payerPhone" label="地址、电话" :validate-trigger="['change', 'blur']">
              <a-select v-model="form.payerPhone" @change="changePayerPhone" placeholder="请选择">
                <a-option v-for="item in addressAndPhoneOptions" :key="item.value" :value="item.value"
                  :label="item.label">
                </a-option>
              </a-select>
            </a-form-item>
          </a-col>

          <a-col :span="8">
            <a-form-item field="payerBankIban" label="开户行、银行账号" :rules="[{ required: true, message: '请选择' }]"
              :validate-trigger="['change', 'blur']">
              <a-select v-model="form.payerBankIban" @change="changePayerPhone" placeholder="请选择">
                <a-option v-for="item in payerBankOptions" :key="item.value" :value="item.value" :label="item.label">
                </a-option>
              </a-select>
            </a-form-item>
          </a-col>

          <a-col :span="8">
            <a-form-item field="productCode" label="产品名称" :rules="[{ required: true, message: '请选择' }]"
              :validate-trigger="['change', 'blur']">
              <a-select v-model="form.productCode" @change="changeProduct" placeholder="请选择">
                <a-option v-for="item in productOptions" :key="item.value" :value="item.value" :label="item.label">
                </a-option>
              </a-select>
            </a-form-item>
          </a-col>

        </a-row>
        <invoiceItemTable ref="invoiceItemTableRef" v-if="feeOptions.length > 0" :items="form.items"
          :feeOptions="feeOptions" />

        <a-row class="grid-demo" :gutter="[24, 12]">
          <a-col :span="24">
            <a-form-item field="remark" label="开票要求">
              <a-textarea :rows="2" placeholder="请输入备注" allow-clear v-model="form.remark" />
            </a-form-item>
          </a-col>
        </a-row>


      </a-form>
    </div>
  </a-modal>
</template>
<script lang="ts" setup>
import { Message } from '@arco-design/web-vue';
import { reactive, ref } from 'vue';
import { settlementApi } from '@/api/settlementApi/index';
import { useRoute } from 'vue-router';
import commonApi from '@/utils/commonApi/index';
import { setNumericText, formatOptions, totalNum } from '@/utils';

import invoiceItemTable from './invoiceItemTable.vue';

// 
const invoiceItemTableRef = ref<any>(null)
const route = useRoute();
const visible = ref(false);
const invoiceCode = ref('');
const form = reactive({
  associateFee: false,
  ownerId: '', // 出票公司id
  ownerName: '',
  ownerBankName: '', //出票公司开户行
  ownerBankIban: '', //出票公司银行账号
  invoiceCode: '',
  invoiceName: '',
  invoiceExchangeRate: '',
  invoiceAmount: '', //发票面额
  currency: '',
  currencyName: '',
  currencySymbol: '',
  currencyExchangeRate: '',
  untaxedAmount: '', //开票金额（不含税）本位币（都转成的人民币）
  taxAmount: '', // 开票金额（含税）本位币（都转成的人民币）
  originalCurrencyAmount: '', //原币金额（含税）
  payerId: '', //付款方id
  payerName: '',
  payerTaxNo: '',
  payerBankName: '',
  payerBankIban: '',
  payerAddress: '',
  payerPhone: '',
  remark: '', //开票要求
  invoiceSource: 2, //(1-业务发票,2-非业务发票 (这是指线下业务开票))
  productCode: '',
  productName: '',
  items: [
    {
      itemId: '',
      itemName: '',
      specificationModel: '',
      quantity: '',
      unit: '',
      unitPrice: '',
      taxAmount: ''
    }
  ]
});
const emits = defineEmits(['handleBeforeOk']);
const handleClick = () => {
  visible.value = true;
  init();

};
const departmentsList = ref([]);
const ownerOptions = ref<any>([]); //所属公司
const invoiceBanklist = ref<any>([]); //银行账号列表
const productOptions = ref<any>([]);
const feeOptions = ref<any>([]);

const invoiceTypeList = ref<any[]>([]); //发票类型列表
const titleOptions = ref<any[]>([]); //开票抬头列表
const currencyOptions = ref([]); //币别列表
const addressAndPhoneOptions = ref<any[]>([])
const payerBankOptions = ref<any[]>([])
const isPersonal = ref(false)
const invoice = ref('') // 发票名称+税点
const titleSearchVal = ref("")
const currencyList = ref([]); //币别
const formRef = ref();
const handleCancel = () => {

};


const titleSearch = (val: string) => {
  titleSearchVal.value = val
  getOptions()
}
const getOptions = async () => {
  if (titleSearchVal.value.length < 2) return
  // 开票抬头
  titleOptions.value = formatOptions(
    await commonApi.queryRelationByLabelCode({
      relationType: 8,
      name: titleSearchVal.value
    }),
    { value: 'enterpriseId', label: 'name' }
  )
}

const changeOwner = async (val: any) => {
  resetForm()
  form.ownerName = ownerOptions.value.find((v) => v.value == val).label
  // 查出票公司开户行、银行账号
  initInvoiceBanklistAndInvoiceRange()
  // 查发票类型
  queryRelationInvoiceRangeByEnterpriseId()
  // 产品名称
  settleBasicEnterpriseProduct()
}

// 产品名称
const settleBasicEnterpriseProduct = async () => {
  const res = await settlementApi.settleBasicEnterpriseProduct({
    ownerId: form.ownerId
  })
  const { code, data, message } = res
  if (code !== '200') {
    productOptions.value = []
    Message.error(message)
    return
  }

  productOptions.value = formatOptions(data, {
    value: 'productCode',
    label: 'productName'
  })
  setRequiredFields()
}
// 开票范围 - 发票类型
const queryRelationInvoiceRangeByEnterpriseId = async () => {
  const res = await settlementApi.queryRelationInvoiceRangeByEnterpriseId({
    enterpriseId: form.ownerId
  })
  const { code, data, message } = res
  if (code !== '200') {
    invoiceTypeList.value = []
    invoiceCode.value = ''
    form.invoiceCode = ''
    form.invoiceExchangeRate = ''
    form.invoiceName = ''

    form.items = [
      {
        itemId: '',
        itemName: '',
        specificationModel: '',
        quantity: '',
        unit: '',
        unitPrice: '',
        taxAmount: ''
      }
    ]
    feeOptions.value = []
    Message.error(message)
    return
  }
  //这个按mos基础数据写的
  let invoiceTypes = {
    ZZFP: '增值税专用发票',
    PPFP: '增值税普通发票',
    PPDZ: '增值税普通电子发票',
    ZZDP: '增值税专用电子发票',
    BKFP: '不开票',
    QTFP: '其它发票',
    WFPO: '无发票',
    DKSJ: '抵扣发票收据'
  }
  invoiceTypeList.value = []
  invoiceCode.value = ''
  form.invoiceCode = ''
  form.invoiceExchangeRate = ''
  form.invoiceName = ''

  data.forEach((item: any) => {
    invoiceTypeList.value.push({
      label:
        invoiceTypes[item.invoiceType] +
        ' ' +
        item.invoiceTaxRateDec * 100 +
        '%',
      value: item.id.toString(),
      invoiceCode: item.invoiceType,
      invoiceExchangeRate: item.invoiceTaxRateDec,
      invoiceName: invoiceTypes[item.invoiceType],
      invoiceAmount: item.leafletUpperLimit
    })
  })
  console.log('invoiceTypeList', invoiceTypeList.value);
  setRequiredFields()
}
const resetForm = () => {

  // 清空出票公司、出票公司开户行、银行号、发票类型、产品名称、开票项目
  // this.form.ownerId = '' // 出票公司id
  form.ownerName = ''
  form.ownerBankName = '' //出票公司开户行
  form.ownerBankIban = '' //出票公司银行账号
  form.invoiceCode = ''
  invoiceCode.value = ''
  form.invoiceName = ''
  form.invoiceExchangeRate = ''
  form.invoiceAmount = '' //发票面额
  form.productCode = ''
  form.productName = ''
  form.items = [
    {
      itemId: '',
      itemName: '',
      specificationModel: '',
      quantity: '',
      unit: '',
      unitPrice: '',
      taxAmount: ''
    }
  ]
}
const initInvoiceBanklistAndInvoiceRange = async () => {
  // 查出票公司开户行、银行账号
  invoiceBanklist.value = []
  let { data } = await settlementApi.queryRelationBankByEnterpriseId({
    enterpriseId: form.ownerId
  }
  )
  let list = data
  if (!list) {
    invoiceBanklist.value = []
    form.ownerBankIban = ''
    form.ownerBankName = ''
    return
  }

  Array.isArray(list) &&
    list.forEach((item) => {
      invoiceBanklist.value.push({
        label: item.currency + ' ' + item.bankName + ' ' + item.bankAccount,
        value: item.bankAccount,
        ownerBankName: item.bankName, //出票公司开户行
        ownerBankIban: item.bankAccount, //出票公司银行账号
        currency: item.currency
      })
    })

  if (invoiceBanklist.value.length > 0) {
    form.ownerBankIban = invoiceBanklist.value[0].ownerBankIban
    form.ownerBankName = invoiceBanklist.value[0].ownerBankName
  }
  setRequiredFields()
}
const setRequiredFields = () => {
  // 默认必填字段
  let defaultRequiredFields = [
    [
      'ownerId',
      'ownerBankIban',
      'currency',
      'currencyExchangeRate',
      'invoiceCode',
      'originalCurrencyAmount',
      'payerId'
      // 'productCode' // 这个动态的，有产品列表就必填，没有就不需要必填
    ],
    ['itemId', 'quantity', 'unit', 'unitPrice', 'taxAmount'] //开票项目的必选
  ]

  if (productOptions.value.length > 0) {
    defaultRequiredFields[0].push('productCode')
  }

  if (form.invoiceCode == 'ZZFP') {
    // 增值税专用发票【税号】【地址、电话】【开户行、银行账号】必填
    defaultRequiredFields[0].push(
      ...['payerTaxNo', 'payerPhone', 'payerBankIban']
    )
  } else {
    // 企业
    if (
      (form.invoiceCode == 'PPFP' ||
        form.invoiceCode == 'PPDZ') &&
      !isPersonal
    ) {
      defaultRequiredFields[0].push(...['payerTaxNo'])
    }
  }
  defaultRequiredFields = defaultRequiredFields
}
const convertTaxedOriginalCurrenyToBenweibi = (taxRate?: any) => {
  let amount = Number(form.originalCurrencyAmount)
  let currencyExchangeRate = Number(form.currencyExchangeRate)
  taxRate = Number(taxRate)
  let num = amount * currencyExchangeRate // 本币含税
  if (taxRate) {
    // 本币不含税
    num = num / (1 + taxRate)
  }
  return num + ''
}
const changeOriginalCurrencyAmount = () => {
  form.untaxedAmount = convertTaxedOriginalCurrenyToBenweibi(
    form.invoiceExchangeRate
  ) //本币不含税
  form.taxAmount = convertTaxedOriginalCurrenyToBenweibi() // 本币含税
};
const changeProduct = (val: any) => {
  let item = productOptions.value.find((v: any) => v.value == val)
  form.productName = item.label
}

const invoiceTitleChange = (val: any) => {
  let item = titleOptions.value.find((v) => v.value == val)
  form.payerName = (item && item.label) || ''
  resetInvoiceInfo()
  // 选中开票抬头后自动带出税号、地址、电话、开户行、银行账号
  // 默认值为与开票币别一致的银行账号
  getPayerInfo()
  // 付款方开户行及银行账号
  getPayerBanklist()
}



// 开票项目
const getCanInvoicedFeeItems = async () => {
  const { data } = await settlementApi.settleBasicEnterpriseInvoiceConfig({
    ownerId: form.ownerId,
    taxRate: form.invoiceExchangeRate
  })
  feeOptions.value = []
  data.forEach((v) => {
    feeOptions.value.push({
      value: v.id.toString(),
      label: v.itemName
    })
  })
}



const changeInvoiceType = (val: any) => {
  let item = invoiceTypeList.value.find((v) => v.value == val)
  form.invoiceCode = item.invoiceCode
  form.invoiceExchangeRate = item.invoiceExchangeRate
  form.invoiceName = item.invoiceName
  form.invoiceAmount = item.invoiceAmount

  console.log('form', form);

  if (form.invoiceCode == 'BKFP' || form.invoiceCode == 'QTFP') {
    feeOptions.value = []



    form.items = [
      {
        itemId: '',
        itemName: '',
        specificationModel: '',
        quantity: '',
        unit: '',
        unitPrice: '',
        taxAmount: ''
      }
    ]


  } else {
    getCanInvoicedFeeItems()
  }
}
// 清空税号、地址、开户行、产品名称
const resetInvoiceInfo = () => {
  form.payerTaxNo = ''
  form.payerPhone = ''
  form.payerBankIban = ''
  addressAndPhoneOptions.value = []
  payerBankOptions.value = []
}
const getPayerInfo = async () => {
  const { data } = await settlementApi.queryInvoiceTitleByEnterpriseId({ enterpriseId: form.ownerId })
  if (!data) return Message.error("未查询到该抬头对应的税号和地址电话信息")
  form.payerTaxNo = data[0].taxNo
  data.forEach((item: any) => {
    addressAndPhoneOptions.value.push({
      label: item.address + ' ' + item.telephone,
      value: item.telephone,
      address: item.address
    })
  })
  form.payerAddress = addressAndPhoneOptions.value[0].address
  form.payerPhone = addressAndPhoneOptions.value[0].value
}
const changePayerPhone = (val: any) => {
  let item = addressAndPhoneOptions.value.find((v) => v.value == val)
  form.payerAddress = (item && item.address) || ''
}

const currencyChange = async (val: any) => {
  currencyList.value.forEach((item) => {
    if (item.value == val) {
      form.currencyName = item.label;
      form.currencySymbol = item.value;
    }
  });

  // 查汇率
  const params = {
    convertCode: form.currency,
    ownerId: form.ownerId,
    sourceCode: 'CNY', // 换算币种code
  }
  const { data } = await settlementApi.basicdataEnterpriseCurrencyRate(params)
  if (data && data.exchangeRate) {
    form.currencyExchangeRate = setNumericText(Number(data.exchangeRate), { format: 4 })
  } else {
    form.currencyExchangeRate = ''
  }

};

// 付款方开户行及银行账号
const getPayerBanklist = async () => {
  payerBankOptions.value = []
  let { data } = await settlementApi.queryRelationBankByEnterpriseId(
    { enterpriseId: form.ownerId, })

  let list = data
  if (!list) {
    payerBankOptions.value = []
    form.payerBankIban = ''
    form.payerBankName = ''
    return
  }
  Array.isArray(list) &&
    list.forEach((item) => {
      payerBankOptions.value.push({
        label: item.currency + ' ' + item.bankName + ' ' + item.bankAccount,
        value: item.bankAccount,
        payerBankName: item.bankName,
        payerBankIban: item.bankAccount,
        currency: item.currency
      })
    })

  let item = payerBankOptions.value.find(
    (v) => v.currency == form.currency
  )

  if (item) {
    form.payerBankIban = item.payerBankIban
    form.payerBankName = item.payerBankName
  }
}
const init = async () => {
  try {
    const { data } = await settlementApi.memberQueryInvoiceCompany({
      relationTypes: 4
    });
    ownerOptions.value = data.map((v: any) => {
      return { value: v.enterpriseId, label: v.name, };
    });

  } catch (error) {

  }


  const data = await commonApi.getCurrency();
  currencyList.value = data.map((item: any) => {
    return {
      value: item.code,
      label: item.name,
    };
  });

};

// 项目总价含税和开票金额（含税）人民币要一样
const checkTaxAmount = () => {
  if (feeOptions.value.length == 0) return true
  let items = invoiceItemTableRef.value.tableData
  items = items.filter(v => v.itemId || v.quantity || v.unit || v.unitPrice || v.taxAmount)
  if (feeOptions.value.length > 0 && items.length > 0) {
    let arr = items.map((v) => v.taxAmount || 0)
    let total = totalNum(arr, { commas: false })
    console.log('total-', total, 'taxAmount-', form.taxAmount)
    if (total != form.taxAmount) {
      return false
    } else {
      return true
    }
  }
  return false
}

const handleBeforeOk = async (done) => {
  if (await formRef.value.validate() !== undefined) return done(false)
  if (!checkTaxAmount()) {
    Message.error("项目总价含税和开票金额（含税）人民币要一样")
    return done(false)
  }
  let items = []
  if (feeOptions.value.length == 0) {
    items = undefined
  } else {
    items = invoiceItemTableRef.value.tableData.filter(v => v.itemId || v.quantity || v.unit || v.unitPrice || v.taxAmount)
  }
  const { code } = await settlementApi.invoiceApplicationOther({ ...form, items })
  if (code == 200) {
    done(true)
    Message.success('提交成功')
  } else {
    done(false)
  }

}

defineExpose({ handleClick });
</script>