<template>
  <a-modal v-model:visible="visible" width="90%" :top="100" @cancel="handleCancel" :mask-closable="false"
    :on-before-ok="(done) => { handleBeforeOk(done) }">
    <template #title> 申请开票 </template>
    <div v-if="visible">
      <a-form ref="formRef" :model="form" layout="vertical">
        <a-row class="grid-demo" :gutter="[24, 12]">
          <a-col :span="8">
            <a-form-item field="ownerId" label="出票公司" :validate-trigger="['change', 'blur']">
              <a-select disabled v-model="form.ownerId" placeholder="请选择" allow-search>
                <a-option v-for="item in ownerOptions" :key="item.value" :value="item.value" :label="item.label">
                </a-option>
              </a-select>
            </a-form-item>
          </a-col>
          <a-col :span="8">
            <a-form-item field="ownerBankIban" label="出票公司开户行、银行账号"
              :rules="[{ required: true, message: '请选择出票公司开户行、银行账号' }]" :validate-trigger="['change', 'blur']">
              <a-select v-model="form.ownerBankIban" placeholder="请选择" allow-search>
                <a-option v-for="item in invoiceBanklist" :key="item.value" :value="item.value" :label="item.label">
                </a-option>
              </a-select>

            </a-form-item>
          </a-col>
          <a-col :span="8">
            <a-form-item field="currencyExchangeRate" label="汇率" :rules="[{ required: true, message: '请输入' }]"
              :validate-trigger="['change', 'blur']">
              <a-input v-model="form.currencyExchangeRate" disabled placeholder="请输入" maxlength="18" />
            </a-form-item>
          </a-col>
          <a-col :span="8">
            <a-form-item field="invoiceCode" label="发票类型" :rules="[{ required: true, message: '请选择' }]"
              :validate-trigger="['change', 'blur']">
              <a-select disabled v-model="invoiceCode" @change="changeInvoiceType" placeholder="请选择" allow-search>
                <a-option v-for="item in invoiceTypeList" :key="item.value" :value="item.value" :label="item.label">
                </a-option>
              </a-select>
            </a-form-item>
          </a-col>
          <a-col :span="8">
            <a-form-item label="开票金额（含税）" :validate-trigger="['change', 'blur']">
              <a-input disabled v-model="props.total.taxedOriginalAmountTotal" placeholder="请输入" maxlength="18" />
            </a-form-item>
          </a-col>
          <a-col :span="8">
            <a-form-item label="开票金额（不含税）" :validate-trigger="['change', 'blur']">
              <a-input disabled v-model="props.total.untaxedOriginalAmountTotal" placeholder="请输入" maxlength="18" />
            </a-form-item>
          </a-col>

          <a-col :span="8">
            <a-form-item field="payerId" :rules="[{ required: true, message: '请选择' }]">
              <template #label>
                <div style="display:inline">开票抬头 <span class="extra" @click="bindPayerRefHandleClick">绑定付款方</span></div>
              </template>
              <a-select v-model="form.payerId" placeholder="请选择" allow-search @search="titleSearch"
                @change="invoiceTitleChange">
                <a-option v-for="(item, index) in titleOptions" :key="item.id && item.id.toString()" :label="item.label"
                  :value="item.value"></a-option>
              </a-select>
            </a-form-item>
          </a-col>
          <a-col :span="8">
            <a-form-item field="payerTaxNo" label="税号">
              <a-input v-model="form.payerTaxNo" disabled placeholder="请输入" maxlength="18" />
            </a-form-item>
          </a-col>

          <a-col :span="8">
            <a-form-item field="payerPhone" label="地址、电话" :validate-trigger="['change', 'blur']">
              <a-select v-model="form.payerPhone" @change="changePayerPhone" placeholder="请选择">
                <a-option v-for="item in addressAndPhoneOptions" :key="item.value" :value="item.value"
                  :label="item.label">
                </a-option>
              </a-select>
            </a-form-item>
          </a-col>
          <a-col :span="8">
            <a-form-item field="payerBankIban" :rules="[{ required: true, message: '请选择' }]"
              :validate-trigger="['change', 'blur']">
              <template #label>
                <div style="display:inline">开户行、银行账号 <span class="extra"
                    @click="addBankInfoModalRefOpenDialog">新增</span></div>
              </template>
              <a-select v-model="form.payerBankIban" @change="changePayerPhone" placeholder="请选择">
                <a-option v-for="item in payerBankOptions" :key="item.value" :value="item.value" :label="item.label">
                </a-option>
              </a-select>
            </a-form-item>
          </a-col>
          <a-col :span="8">
            <a-form-item field="associateFee" label="单票开票">
              <a-checkbox v-model="form.isSingleTicket">单票开票</a-checkbox>
            </a-form-item>
          </a-col>
          <a-col :span="8">
            <a-form-item field="associateFee" label="发票备注">
              <a-checkbox-group direction='vertical' v-model="form.invoiceRemark">
                <a-checkbox value="工作编号">工作编号</a-checkbox>
                <a-checkbox value="提单号">提单号</a-checkbox>
                <a-checkbox value="客户业务编号">客户业务编号</a-checkbox>
              </a-checkbox-group>
            </a-form-item>
          </a-col>

        </a-row>
        <invoice-item-table ref="invoiceItemTableRef" v-if="feeOptions.length > 0" :items="form.items"
          :feeOptions="feeOptions" />
        <a-row class="grid-demo" :gutter="[24, 12]">
          <a-col :span="24">
            <a-form-item field="remark" label="开票要求">
              <a-textarea :rows="2" placeholder="请输入备注" allow-clear v-model="form.remark" />
            </a-form-item>
          </a-col>
        </a-row>
        <!-- <invoiceItemTable ref="invoiceItemTableRef" v-if="feeOptions.length > 0" :items="form.items"
          :feeOptions="feeOptions" /> -->
        <!-- 
        <a-row class="grid-demo" :gutter="[24, 12]">
          <a-col :span="24">
            <a-form-item field="remark" label="开票要求">
              <a-textarea :rows="2" placeholder="请输入备注" allow-clear v-model="form.remark" />
            </a-form-item>
          </a-col>
        </a-row> -->


      </a-form>
    </div>
  </a-modal>

  <associated-invoice-modal ref="associatedInvoiceModalRef" />
  <bind-payer-modal ref="bindPayerModalRef" />
  <add-bank-info-modal ref="addBankInfoModalRef" :curreny="props.currentCurrency.currency" :form="form"
    @refreshBank="refreshBank" />
</template>
<script lang="ts" setup>
import { Message } from '@arco-design/web-vue';
import { reactive, ref } from 'vue';
import { settlementApi } from '@/api/settlementApi/index';
import { useRoute } from 'vue-router';
import commonApi from '@/utils/commonApi/index';
import { setNumericText, formatOptions, totalNum } from '@/utils';
import invoiceItemTable from './invoiceItemTable.vue';
import associatedInvoiceModal from './associatedInvoiceModal.vue';
import bindPayerModal from './bindPayerModal.vue';
import addBankInfoModal from './addBankInfoModal.vue';
const props = defineProps({
  checkedList: {
    type: Array,
    default: () => ([] as any[])
  },
  owner: {
    type: Object,
    default: () => ({})
  },
  client: {
    type: Object,
    default: () => ({})
  },
  total: {
    type: Object,
    default: () => ({})
  },
  currentCurrency: {
    type: Object,
    default: () => ({})
  }
});

const invoiceItemTableRef = ref<any>(null)
const associatedInvoiceModalRef = ref<any>(null)
const bindPayerModalRef = ref<any>(null)
const addBankInfoModalRef = ref<any>(null)

const route = useRoute();
const visible = ref(false);
const invoiceCode = ref('');
const form = reactive({
  associateFee: false,
  ownerId: '', // 出票公司id
  ownerName: '',
  ownerBankName: '', //出票公司开户行
  ownerBankIban: '', //出票公司银行账号
  invoiceCode: '',
  invoiceName: '',
  invoiceExchangeRate: '',
  invoiceTaxRate: "", //发票税率
  invoiceAmount: '', //发票面额
  untaxedAmount: '', //开票金额（不含税）本位币（都转成的人民币）
  taxAmount: '', // 开票金额（含税）本位币（都转成的人民币）
  originalCurrencyAmount: '', //原币金额（含税）
  payerId: '', //付款方id
  payerName: '',
  payerTaxNo: '',
  payerBankName: '',
  payerBankIban: '',
  payerAddress: '',
  payerPhone: '',
  remark: '', //开票要求
  invoiceSource: 2, //(1-业务发票,2-非业务发票 (这是指线下业务开票))
  productCode: '',
  productName: '',
  isSingleTicket: false, //是否单票开票(false-否,true-是)
  invoiceRemark: [],// 发票备注
  currencyExchangeRate: '',// 币别汇率
  items: [
    {
      itemId: '',
      itemName: '',
      specificationModel: '',
      quantity: 0,
      unit: '',
      unitPrice: 0,
      taxAmount: 0
    }
  ]
});
const emits = defineEmits(['handleBeforeOk']);
const handleClick = () => {
  visible.value = true;
  initProps();

};
const departmentsList = ref([]);
const ownerOptions = ref<any>([]); //所属公司
const invoiceBanklist = ref<any>([]); //银行账号列表
const productOptions = ref<any>([]);
const feeOptions = ref<any>([]);

const invoiceTypeList = ref<any[]>([]); //发票类型列表
const titleOptions = ref<any[]>([]); //开票抬头列表
const currencyOptions = ref([]); //币别列表
const addressAndPhoneOptions = ref<any[]>([])
const payerBankOptions = ref<any[]>([])
const isPersonal = ref(false)
const invoice = ref('') // 发票名称+税点
const titleSearchVal = ref("")
const currencyList = ref([]); //币别
const formRef = ref();
const handleCancel = () => {

};


const titleSearch = (val: string) => {
  titleSearchVal.value = val
  getOptions()
}
const getOptions = async () => {
  // if (titleSearchVal.value.length < 2) return
  // 开票抬头
  titleOptions.value = formatOptions(
    await commonApi.queryRelationByLabelCode({
      relationType: 8,
      name: titleSearchVal.value
    }),
    { value: 'enterpriseId', label: 'name' }
  )
}

// 开票范围 - 发票类型
const getInvoiceInfo = async () => {
  let item = props.checkedList[0].incomes[0]
  form.invoiceName = item.invoiceName
  form.invoiceCode = item.invoiceCode
  form.invoiceTaxRate = item.invoiceTaxRate
  invoiceCode.value = `${form.invoiceName} ${Number(form.invoiceTaxRate) * 100}%`
  queryRelationInvoiceRangeByEnterpriseIdUseOwner()
}


const queryRelationInvoiceRangeByEnterpriseIdUseOwner = async () => {
  let { item, options }: any = await queryRelationInvoiceRangeByEnterpriseId(form.ownerId)
  invoiceTypeList.value = options
  if (item) {
    let { invoiceCode, invoiceTaxRate, invoiceName, leafletUpperLimit } =
      item
    invoice.value = invoiceCode + invoiceTaxRate
    form.invoiceCode = invoiceCode
    form.invoiceName = invoiceName
    form.invoiceExchangeRate = invoiceTaxRate
    form.invoiceAmount = leafletUpperLimit
    // 不开票、其他发票、无发票、抵扣发票收据、不显示开票项目区域
    if (
      form.invoiceCode != 'BKFP' &&
      form.invoiceCode != 'QTFP' &&
      form.invoiceCode != 'WFPO' &&
      form.invoiceCode != 'DKSJ'
    ) {
      getCanInvoicedFeeItems()
    }
  } else {
    form.invoiceCode = ''
    form.invoiceName = ''
    form.invoiceExchangeRate = ''
    invoice.value = ''
    form.invoiceAmount = ''
  }
}
// 开票范围 - 发票类型
const queryRelationInvoiceRangeByEnterpriseId = async (enterpriseId: string) => {
  const res = await settlementApi.queryRelationInvoiceRangeByEnterpriseId({
    enterpriseId
  })
  const { code, data, message }: any = res
  if (code !== '200') {
    Message.error(message)
    return
  }

  let invoiceTypes: any = {
    ZZFP: '增值税专用发票',
    PPFP: '增值税普通发票',
    PPDZ: '增值税普通电子发票',
    ZZDP: '增值税专用电子发票',
    BKFP: '不开票',
    QTFP: '其它发票',
    WFPO: '无发票',
    DKSJ: '抵扣发票收据'
  }
  let options: any = []
  data.forEach((item: any) => {
    options.push({
      label:
        invoiceTypes[item.invoiceType] +
        ' ' +
        item.invoiceTaxRateDec * 100 +
        '%',
      value: item.invoiceType + item.invoiceTaxRateDec, //只有type的话，值不唯一,默认匹配不上
      invoiceCode: item.invoiceType,
      invoiceTaxRate: item.invoiceTaxRateDec,
      invoiceName: invoiceTypes[item.invoiceType],
      leafletUpperLimit: item.leafletUpperLimit //开票上限
    })
  })

  // 默认带出来的，不能选。需要和出票公司开户行、银行账号 带出来的发票信息做匹配
  const defaultInvoice = props.checkedList[0].incomes[0]
  const { invoiceCode, invoiceName, invoiceTaxRate } = defaultInvoice

  let item = options.find((v: any) => {
    return (
      v.invoiceCode == invoiceCode && v.invoiceTaxRate == invoiceTaxRate
    )
  })
  return { item, options }
}
const refreshBank = async (datas: any) => {
  await getPayerInfo()
  await getPayerBanklist()
  form.payerTaxNo = datas.taxNo
  form.payerPhone = datas.telephone
  form.payerAddress = datas.address
  form.payerBankName = datas.bankName
  form.payerBankIban = datas.bankAccount
};

const resetForm = () => {
  form.items = [
    {
      itemId: '',
      itemName: '',
      specificationModel: '',
      quantity: 0,
      unit: '',
      unitPrice: 0,
      taxAmount: 0
    }
  ]
}
const initInvoiceBanklistAndInvoiceRange = async () => {
  // 查出票公司开户行、银行账号
  invoiceBanklist.value = []
  let { data } = await settlementApi.queryRelationBankByEnterpriseId({
    enterpriseId: form.ownerId
  }
  )
  let list = data
  if (!list) {
    invoiceBanklist.value = []
    form.ownerBankIban = ''
    form.ownerBankName = ''
    return
  }

  Array.isArray(list) &&
    list.forEach((item) => {
      invoiceBanklist.value.push({
        label: item.currency + ' ' + item.bankName + ' ' + item.bankAccount,
        value: item.bankAccount,
        ownerBankName: item.bankName, //出票公司开户行
        ownerBankIban: item.bankAccount, //出票公司银行账号
        currency: item.currency
      })
    })

  if (invoiceBanklist.value.length > 0) {
    form.ownerBankIban = invoiceBanklist.value[0].ownerBankIban
    form.ownerBankName = invoiceBanklist.value[0].ownerBankName
  }
  // setRequiredFields()
}
const changeProduct = (val: any) => {
  let item = productOptions.value.find((v: any) => v.value == val)
  form.productName = item.label
}

const invoiceTitleChange = (val: any) => {
  let item = titleOptions.value.find((v) => v.value == val)
  form.payerName = (item && item.label) || ''
  resetInvoiceInfo()
  // 选中开票抬头后自动带出税号、地址、电话、开户行、银行账号
  // 默认值为与开票币别一致的银行账号
  getPayerInfo()
  // 付款方开户行及银行账号
  getPayerBanklist()
}



// 开票项目
const getCanInvoicedFeeItems = async () => {
  const { data } = await settlementApi.settleBasicEnterpriseInvoiceConfig({
    ownerId: form.ownerId,
    taxRate: form.invoiceExchangeRate
  })
  feeOptions.value = []
  data.forEach((v) => {
    feeOptions.value.push({
      value: v.id.toString(),
      label: v.itemName
    })
  })
}



const changeInvoiceType = (val: any) => {
  let item = invoiceTypeList.value.find((v) => v.value == val)
  form.invoiceCode = item.invoiceCode
  form.invoiceExchangeRate = item.invoiceExchangeRate
  form.invoiceName = item.invoiceName
  form.invoiceAmount = item.invoiceAmount

  console.log('form', form);

  if (form.invoiceCode == 'BKFP' || form.invoiceCode == 'QTFP') {
    feeOptions.value = []



    form.items = [
      {
        itemId: '',
        itemName: '',
        specificationModel: '',
        quantity: 0,
        unit: '',
        unitPrice: 0,//	单价	
        taxAmount: 0
      }
    ]


  } else {
    getCanInvoicedFeeItems()
  }
}
// 清空税号、地址、开户行、产品名称
const resetInvoiceInfo = () => {
  form.payerTaxNo = ''
  form.payerPhone = ''
  form.payerBankIban = ''
  addressAndPhoneOptions.value = []
  payerBankOptions.value = []
}
const getPayerInfo = async () => {
  const { data } = await settlementApi.queryInvoiceTitleByEnterpriseId({ enterpriseId: form.ownerId })
  if (!data) return Message.error("未查询到该抬头对应的税号和地址电话信息")
  form.payerTaxNo = data[0].taxNo
  data.forEach((item: any) => {
    addressAndPhoneOptions.value.push({
      label: item.address + ' ' + item.telephone,
      value: item.telephone,
      address: item.address
    })
  })
  form.payerAddress = addressAndPhoneOptions.value[0].address
  form.payerPhone = addressAndPhoneOptions.value[0].value
}
const changePayerPhone = (val: any) => {
  let item = addressAndPhoneOptions.value.find((v) => v.value == val)
  form.payerAddress = (item && item.address) || ''
}

const currencyChange = async (val: any) => {
  currencyList.value.forEach((item) => {
    if (item.value == val) {
      form.currencyName = item.label;
      form.currencySymbol = item.value;
    }
  });

  // 查汇率
  const params = {
    convertCode: form.currency,
    ownerId: form.ownerId,
    sourceCode: 'CNY', // 换算币种code
  }
  const { data } = await settlementApi.basicdataEnterpriseCurrencyRate(params)
  if (data && data.exchangeRate) {
    form.invoiceExchangeRate = setNumericText(Number(data.exchangeRate), { format: 4 })
  } else {
    form.invoiceExchangeRate = ''
  }

};

// 付款方开户行及银行账号
const getPayerBanklist = async () => {
  payerBankOptions.value = []
  let { data } = await settlementApi.queryRelationBankByEnterpriseId(
    { enterpriseId: form.ownerId, })

  let list = data
  if (!list) {
    payerBankOptions.value = []
    form.payerBankIban = ''
    form.payerBankName = ''
    return
  }

  Array.isArray(list) &&
    list.forEach((item) => {
      payerBankOptions.value.push({
        label: item.currency + ' ' + item.bankName + ' ' + item.bankAccount,
        value: item.bankAccount,
        payerBankName: item.bankName,
        payerBankIban: item.bankAccount,
        currency: item.currency
      })
    })
  let item = payerBankOptions.value.find(
    (v) => v.currency == form.currency
  )

  if (item) {
    form.payerBankIban = item.payerBankIban
    form.payerBankName = item.payerBankName
  }
}
const memberQueryInvoiceCompany = async () => {
  const { data } = await settlementApi.memberQueryInvoiceCompany({
    relationTypes: 4
  });
  ownerOptions.value = data.map((v: any) => {
    return { value: v.enterpriseId, label: v.name, };
  });
  let current = ownerOptions.value.find((v: any) => v.value == props.owner.ownerId)
  if (!current) return Message.error("未找到对应公司")
  form.ownerName = current.label
  form.ownerId = current.value
  // 查税号
  getPayerInfo()
  // 查出票公司开户行、银行账号
  initInvoiceBanklistAndInvoiceRange()
  getInvoiceInfo()
}

const getCurrency = async () => {
  const data = await commonApi.getCurrency();
  currencyList.value = data.map((item: any) => {
    return {
      value: item.code,
      label: item.name,
    };
  });

}
const initProps = async () => {
  memberQueryInvoiceCompany()
  getCurrency()
  form.currencyExchangeRate =
    props.checkedList[0].incomes[0].currencyExchangeRate
  form.items[0].taxAmount = props.total.taxedOriginalAmountTotal
  form.items[0].unitPrice = 1
  form.items[0].quantity = 1
};

// 项目总价含税和开票金额（含税）人民币要一样
const checkTaxAmount = () => {
  if (feeOptions.value.length == 0) return true
  let items = invoiceItemTableRef.value.tableData
  items = items.filter(v => v.itemId || v.quantity || v.unit || v.unitPrice || v.taxAmount)
  if (feeOptions.value.length > 0 && items.length > 0) {
    let arr = items.map((v) => v.taxAmount || 0)
    let total = totalNum(arr, { commas: false })
    console.log('total-', total, 'taxAmount-', form.taxAmount)
    if (total != form.taxAmount) {
      return false
    } else {
      return true
    }
  }
  return false
}
const catchError = (fn: any, msg: string) => {
  Message.error(msg)
  fn(false)
  return false
}
const getItem = (done: any) => {
  let items: any = []
  if (feeOptions.value.length == 0) return
  items = invoiceItemTableRef.value.tableData.filter(v => v.itemId || v.quantity || v.unit || v.unitPrice || v.taxAmount)
  let totalTaxAmount: any = 0;
  for (let item of items) {
    if (!item.itemName) return catchError(done, "未选择项目名称")
    if (!item.quantity) return catchError(done, "未填写数量")
    if (!item.unit) return catchError(done, "未选择单位")
    if (!item.unitPrice) return catchError(done, "未填写单价")
    if (!item.taxAmount) return catchError(done, "未填写金额")
    totalTaxAmount += item.taxAmount
  }
  if (totalTaxAmount != props.total.taxedOriginalAmountTotal) return catchError(done, '开票项目合计金额需等于开票金额')

  return items
}
const handleBeforeOk = async (done: (closed: boolean) => void) => {
  form.invoiceCode = props.checkedList[0].incomes[0]
  if (await formRef.value.validate() !== undefined) return done(false)
  let params = JSON.parse(JSON.stringify(form))
  params.invoiceRemark = form.invoiceRemark.join(',')
  params.clientId = props.client.clientId
  params.clientName = props.client.clientName
  params.currency = props.currentCurrency.currency
  params.currencyName = props.currentCurrency.currencyName
  params.currencySymbol = props.currentCurrency.currencySymbol
  params.originalCurrencyAmount = props.total.taxedOriginalAmountTotal // 原币金额含税
  params.taxAmount = props.total.taxedAmountTotal // 本位币含税
  params.untaxedAmount = props.total.untaxedAmountTotal // 本位币不含税
  params.fees = props.checkedList.map((v: any) => {
    let feeDetailList = v.incomes.map((i: any) => {
      return {
        statementIncomeId: i.id.toString(),
        statementIncomeName: i.feeName,
        statementIncomeCode: i.feeCode,
        originalCurrencyAmount: i.currentInvoiceAmount,
        taxRate: i.invoiceTaxRate
      }
    })
    return {
      statementId: v.id.toString(),
      statementNo: v.no,
      mblNo: v.mblNo ? v.mblNo : v.hblNo,
      feeDetailList
    }
  })
  let items: any = getItem(done)
  if (items === false) return
  let { code, data }: any = await settlementApi.invoiceApplication({ ...params, items })
  if (code != 200) return done(false)
  done(true)
  Message.success('提交成功')
  resetForm()
  emits('handleBeforeOk')
  // data = {
  //   associate: 1,
  //   balance: 4,
  //   currency: 'CNY',
  //   currencyName: '人民币',
  //   invoices: [
  //     {
  //       id: '147651833890161822',
  //       currencySymbol: '￥',
  //       fapiaoNo: '',
  //       payerId: null,
  //       payerName: '江苏冷链物流有限公司1',
  //       taxAmount: 10
  //     },
  //     {
  //       id: '1476518338901618698',
  //       currencySymbol: '￥',
  //       fapiaoNo: '',
  //       payerId: null,
  //       payerName: '江苏冷链物流有限公司1',
  //       taxAmount: 10
  //     },
  //   ]
  // }
  if (!data) return
  associatedInvoiceModalRef.value.openDialog(data)
}
const bindPayerRefHandleClick = () => {
  bindPayerModalRef.value.handleClick({
    ownerId: form.ownerId,
    ownerName: form.ownerName,
    clientId: props.client.clientId,
    clientName: props.client.clientName,
  })
}
const addBankInfoModalRefOpenDialog = () => {
  if (form.payerName === '') return Message.error("请先选择发票抬头")
  addBankInfoModalRef.value.openDialog()
}
getOptions()
defineExpose({ handleClick });
</script>

<style scoped lang="less">
.extra {
  color: rgb(var(--primary-6));
  font-size: 10px;
  cursor: pointer;
}
</style>