<template>
  <div class="right-side">
    <a-button class="nav-btn" type="outline">
      <!-- TODO -->
      <span class="edit-word">编辑表格</span>
      <a-switch v-model="isEditDisabled" :disabled="disabled" size="small" />
    </a-button>
  </div>
</template>

<script lang="ts">
  import { defineComponent, PropType, reactive, toRefs, watch } from 'vue';

  export default defineComponent({
    name: 'EditTable',
    props: {
      // 开关的值
      modelValue: {
        type: Boolean,
        default: false,
      },
      // 开关是否可以编辑的值
      disabled: {
        type: Boolean,
        default: false,
      },
    },
    emits: ['update:modelValue'],
    setup(props,{emit,attrs,slots}) {
      const dataMap = reactive({
        isEditDisabled: props.modelValue || false,
      });

      watch(
        () => props.modelValue,
        (val) => {
          dataMap.isEditDisabled = val;
        }
      );

      watch(
        () => dataMap.isEditDisabled,
        (val) => {
          emit('update:modelValue',val)
        }
      );

      return {
        ...toRefs(dataMap),
      };
    },
  });
</script>

<style scoped lang="less">
  .right-side {
    width: auto;
    display: flex;
    padding-left: 20px;
    align-items: center;
    list-style: none;
    :deep(.locale-select) {
      border-radius: 20px;
    }
    a {
      color: var(--color-text-1);
      text-decoration: none;
    }
    .nav-btn {
      height: 24px;
      padding: 2px 4px;
      border-color: rgb(var(--gray-2));
      color: rgb(var(--gray-8));
      font-size: 14px;
      border: none;
      background-color: #fff;
      margin-right: 12px;
      cursor: default;
      // display: flex;
      // justify-content: center;
      // align-content: center;
      &:hover {
        color: rgb(var(--gray-8));
      }
      .edit-word {
        margin-right: 5px;
      }
    }
    .trigger-btn,
    .ref-btn {
      position: absolute;
      bottom: 14px;
    }
    .trigger-btn {
      margin-left: 14px;
    }
  }
</style>
