<template>
  <navHeader :navConfig="navConfig"></navHeader>
  <div class="newOrder-container">
    <div class="form-container">
      <div class="base-titile">委托信息</div>
      <entrust
        ref="entrustRef"
        @getEntrustInfo="getEntrustInfo"
        :orderBase="orderBase"
      ></entrust>
    </div>
    <div class="form-container">
      <div class="base-titile">提单</div>
      <billOfLading
        ref="billOfLadingRef"
        :clientId="clientId"
        :orderBase="orderBase"
      ></billOfLading>
    </div>
    <div class="form-container">
      <div class="base-titile">货物</div>
      <goods
        ref="goodsRef"
        :salesGoods="salesGoods"
        :orderBase="orderBase"
      ></goods>
    </div>
    <div class="form-container">
      <div class="base-titile">服务</div>
      <service
        ref="serviceRef"
        :serviveItem="serviveItem"
        :orderBase="orderBase"
      ></service>
    </div>
    <div class="form-container" style="margin: 0">
      <div class="base-titile">组织</div>
      <organization
        ref="organizationRef"
        :orderBase="orderBase"
        :contractRow="contractRow"
      ></organization>
    </div>
  </div>
  <div class="new-footer">
    <a-button>关闭</a-button>
    <a-button type="primary" @click="toSave('保存')">保存</a-button>
    <a-button type="primary" @click="toSave('提交')">提交</a-button>
  </div>
</template>
<script lang="ts">
import {
  defineComponent,
  ref,
  watch,
  reactive,
  h,
  toRefs,
  computed,
  onMounted,
  nextTick,
} from 'vue';
import { useRoute } from 'vue-router';
import { useRouter } from 'vue-router';
import { useTabBarStore } from '@/store';
import { runOrderApi } from '@/api/runOrderApi/index';
import navHeader from '@/components/navHeader/index.vue';
import entrust from './components/entrust.vue';
import billOfLading from './components/billOfLading.vue';
import goods from './components/goods.vue';
import service from './components/service.vue';
import organization from './components/organization.vue';
import { Message } from '@arco-design/web-vue';
export default defineComponent({
  name: 'newOrderBill',
  components: {
    entrust,
    billOfLading,
    goods,
    service,
    organization,
    navHeader,
  },
  setup() {
    const route = useRoute();
    const navConfig = reactive({
      title: '新增运单',
    });
    const data = reactive({
      clientId: null,
      getContract: {},
      salesGoods: '',
      orderBase: {},
      serviveItem: [],
      contractRow: {},
    });
    const getEntrustInfo = (val) => {
      if (val.quotationNo) {
        data.getContract = val;
        data.salesGoods = val.categoryName;
        data.serviveItem = val.serviceProject.split(',');
        data.contractRow = val;
      } else {
        data.clientId = val;
      }
    };
    if (route.query.orderLogisticsNo) {
      runOrderApi
        .orderBase({ orderLogisticsNo: route.query.orderLogisticsNo })
        .then((res) => {
          if (res.code == 200) {
            data.salesGoods = res.data.categoryName;
            data.orderBase = res.data;
            if (route.query.type) {
              console.log('copy')
              data.orderBase.copy = true;
            }
          }
        })
     }
     const entrustRef=ref()
     const billOfLadingRef=ref()
     const goodsRef=ref()
     const serviceRef=ref()
     const organizationRef=ref()
      const router=useRouter()
    const tabBarStore = useTabBarStore();
      const tagList = computed(() => {
        return tabBarStore.getTabList;
      });
     const toSave=(type)=>{
        let data=null
        let goodsObj={...goodsRef.value.goodsForm}
         goodsObj.containerList=goodsRef.value.containerNoList.map(item=>{
           return{
            containerNo:item.containerNo.length?item.containerNo.split('\n').join(','):'',
            containerSizeAndType:item.containerSizeAndType
           }
         })
        //  let billOfLadingObj={ ...billOfLadingRef.value.ladingForm}
        //  if(billOfLadingObj.eta) billOfLadingObj.eta=billOfLadingObj.eta+':00'
        //  if(billOfLadingObj.ata) billOfLadingObj.ata=billOfLadingObj.ata+':00'
        //  if(billOfLadingObj.transitDate) billOfLadingObj.transitDate=billOfLadingObj.transitDate+':00'
        let orderLogisticsMosServiceItem=serviceRef.value.checkDatas.map(item=>{
           if(!item.disabled){
              return {
                serviceType:item.serviceType,
                bookingAgencyId:item.bookingAgencyId,
                userJobNumber:item.userJobNumber,
                userId:item.userId
              }
           }
        })
        data={
          ...entrustRef.value.form,
          ...billOfLadingRef.value.ladingForm,
          ...goodsObj,
          orderLogisticsMosServiceItem:orderLogisticsMosServiceItem,
          ...organizationRef.value.orgztForm,
          orderLogisticsNo:route.query.type?'':route.query.orderLogisticsNo||''
        }
      console.log(data);
      if (type == '提交') {
        let p1 = new Promise((resolve, reject) => {
          entrustRef.value.entrustForm.validate((error, values) => {
            if (!error) return resolve();
          });
        });
        let p2 = new Promise((resolve, reject) => {
          billOfLadingRef.value.ladingFormRef.validate((error, values) => {
            if (!error) return resolve();
          });
        });
        let p3 = new Promise((resolve, reject) => {
          goodsRef.value.goodsFormRef.validate((error, values) => {
            if (!error) return resolve();
          });
        });
        let p4 = new Promise((resolve, reject) => {
          organizationRef.value.orgztFormRef.validate((error, values) => {
            if (!error) return resolve();
          });
        });
        Promise.all([p1, p2, p3, p4]).then(() => {
          runOrderApi.submitOrder(data).then((res) => {
            if (res.code == 200) {
              Message.success('提交成功！')
              // 关闭当前页面
              let tag = route
              let idx
              tagList.value.find((item, index) => {
                if (item.fullPath === route.fullPath) {
                  idx = index;
                  return true;
                }
              });
            tabBarStore.deleteTag(idx, tag)
              router.push({
                path: '/mos/runOrder',
              });
            }
          });
        });
      } else {
        runOrderApi.saveOrder(data).then((res) => {
          if (res.code == 200) {
            Message.success('保存成功！')
            // 关闭当前页面
            let tag = route
            let idx
            tagList.value.find((item, index) => {
              if (item.fullPath === route.fullPath) {
                idx = index;
                return true;
              }
            });
            tabBarStore.deleteTag(idx, tag)
            router.push({
              path: '/mos/runOrder',
            });
          }
        });
      }
    };
    return {
      ...toRefs(data),
      toSave,
      navConfig,
      useRouter,
      entrustRef,
      billOfLadingRef,
      goodsRef,
      serviceRef,
      organizationRef,
      getEntrustInfo,
    };
  },
});
</script>
<style lang="less">
.newOrder-container {
  padding: 18px 20px 20px 20px;
  background: #f7f8fa;
  margin: 60px 0;
}
.form-container {
  background: #fff;
  border: 1px solid #e5e6eb;
  padding: 20px;
  margin-bottom: 20px;
  .base-titile {
    font-size: 16px;
    color: #1d2129;
    font-weight: bold;
    margin-bottom: 20px;
  }
}
.new-footer {
  background: #fff;
  border-top: 1px solid #e5e6eb;
  padding: 16px 20px;
  display: flex;
  position: fixed;
  bottom: 0;
  right: 0;
  width: 100%;
  justify-content: flex-end;
  .arco-btn {
    margin-left: 8px;
  }
}
</style>
