<template>
    <a-modal v-model:visible="dialogVisible" @cancel="reset" :on-before-ok="confirm" width="60%" :mask-closable="false">
        <template #title>
            {{ title }}
        </template>
        <div>
            <a-form ref="formRef" layout="vertical" :model="form">
                <a-row :gutter="24">
                    <a-col :span="8">
                        <a-form-item field="statementNo" label="业务编号" :rules="[{ required: true, message: '' }]"
                            :validate-trigger="['change', 'input']">
                            <a-input v-model="form.statementNo" :disabled="true" allow-clear />
                        </a-form-item>
                    </a-col>
                    <a-col :span="8">
                        <a-form-item field="feeCode" label="费用项目" :rules="[{ required: true, message: '请选择' }]">
                            <a-select v-model="form.feeCode" allow-search @search="remoteMethod" @change="changeFee">
                                <a-option v-for="item in feeOptions" :label="item.incomeFeeName"
                                    :value="item.incomeFeeCode" :key="item.incomeFeeCode"></a-option>
                            </a-select>
                        </a-form-item>
                    </a-col>
                    <a-col :span="8">
                        <a-form-item field="currency" label="币别" :rules="[{ required: true, message: '请选择' }]">
                            <a-select v-model="form.currency" @change="changeCurrency">
                                <a-option v-for="(item, index) in currencyOptions" :label="item.code" :value="item.code"
                                    :key="index"></a-option>
                            </a-select>
                        </a-form-item>
                    </a-col>
                </a-row>
                <a-row :gutter="24">
                    <a-col :span="8">
                        <a-form-item field="currencyExchangeRate" label="汇率"
                            :rules="[{ required: true, message: '请输入' }]">
                            <a-input-number v-model="form.currencyExchangeRate" :precision="4"
                                :disabled="currencyExchangeRateDisabled" hide-button />
                        </a-form-item>
                    </a-col>
                    <a-col :span="8">
                        <a-form-item field="unitPrice" label="单价" :rules="[{ required: true, message: '请输入' }]">
                            <!-- <a-input v-model.trim="form.unitPrice" allow-clear /> -->
                            <a-input-number @change="quantityChange" :precision="2" hide-button
                                v-model="form.unitPrice" />
                        </a-form-item>
                    </a-col>
                    <a-col :span="8">
                        <a-form-item field="quantity" label="数量" :rules="[{ required: true, message: '请输入' }]">
                            <a-input-number @change="quantityChange" :precision="2" hide-button
                                v-model="form.quantity" />
                        </a-form-item>
                    </a-col>
                </a-row>
                <a-row :gutter="24">
                    <a-col :span="8">
                        <a-form-item field="taxIncludedAmount" label="金额(含税)"
                            :rules="[{ required: true, message: '请输入' }]">
                            <a-input-number v-model="form.taxIncludedAmount" :precision="2" hide-button
                                @change="totalChange" />
                        </a-form-item>
                    </a-col>
                    <a-col :span="8">
                        <a-form-item field="status" label="费用状态" :rules="[{ required: true, message: '请选择' }]">
                            <!--收入都不允许修改费用状态，编辑和新增都是未确认  -->
                            <a-select v-model="form.status" disabled>
                                <a-option v-for="(item, index) in feeStatusOptions" :label="item.label"
                                    :value="item.value" :key="index"></a-option>
                            </a-select>
                        </a-form-item>
                    </a-col>
                    <a-col :span="8">
                        <a-form-item field="settlerId" label="结算对象" :rules="[{ required: true, message: '请选择' }]">
                            <a-select v-model="form.settlerId" @search="remoteMethod2" allow-search
                                @change="changeSettler">
                                <a-option v-for="(item) in settlerOptions" :label="item.name" :value="item.enterpriseId"
                                    :key="item.enterpriseId"></a-option>
                            </a-select>
                        </a-form-item>
                    </a-col>
                </a-row>
                <a-row :gutter="24">
                    <a-col :span="8">
                        <a-form-item field="invoiceCode" label="发票类型" :rules="[{ required: true, message: '请选择' }]">
                            <a-select v-model="form.invoiceCode" @change="changeInvoice">
                                <a-option v-for="(item, index) in invoiceOptions" :label="item.name" :value="item.code"
                                    :key="index"></a-option>
                            </a-select>
                        </a-form-item>
                    </a-col>
                    <a-col :span="8">
                        <a-form-item field="invoiceTaxRate" label="税率" :rules="[{ required: true, message: '请输入' }]">
                            <a-select v-model="form.invoiceTaxRate">
                                <a-option v-for="(item, index) in invoiceTaxRateOptions"
                                    :label="filterTaxRate(item.taxRate)" :value="item.taxRate" :key="index"></a-option>
                            </a-select>
                        </a-form-item>
                    </a-col>
                    <a-col :span="8">
                        <a-form-item field="refundSign" label="退费标志">
                            <a-checkbox v-model="form.refundSign">退费</a-checkbox>
                        </a-form-item>
                    </a-col>
                </a-row>
                <a-row :gutter="24">
                    <a-col :span="12">
                        <a-form-item field="remark" label="备注">
                            <a-textarea v-model="form.remark" :max-length="300" allow-clear show-word-limit />
                        </a-form-item>
                    </a-col>
                    <a-col :span="12">
                        <a-form-item field="receivableRemark" label="账单备注">
                            <a-textarea v-model="form.receivableRemark" :max-length="300" allow-clear show-word-limit />
                        </a-form-item>
                    </a-col>
                </a-row>
            </a-form>
        </div>
    </a-modal>
</template>

<script lang="ts">
export default {
    name: 'AddIncomePop'
}
</script>

<script setup lang="ts">
import { Message } from '@arco-design/web-vue';
import { settleTrackApi } from '@/api/settleTrackApi/index';
import commonApi from '@/utils/commonApi/index';
import { setNumericText } from '@/utils'
import { defineProps, defineEmits, defineExpose, ref, reactive, computed, nextTick } from 'vue'
const props = defineProps({
    datas: Object,
    logisticsDetail: Object,
    feeType: Number,
    row: Object
})
const dialogVisible = ref(false)
const formRef = ref(null)
const feeOptions = ref([])//费用项目下拉框
const currencyOptions = ref([])//币种下拉框
const invoiceOptions = ref([])//发票类型
const currentInvoice = ref({})//当前选择的发票类型
const invoiceTaxRateOptions = ref([])//税率
const settlerOptions = ref([])//结算对象
const search = ref('') //费用项目搜索条件
const name = ref('') //结算对象搜索条件
const currencyExchangeRateDisabled = ref(true)//汇率是否可编辑
const fromEdit = ref(false)//是否为编辑
const form = reactive({
    id: '',
    statementId: '',
    statementNo: '',
    logisticsId: '', // 新增的时候主表里的id
    feeCode: '',
    feeName: '',
    feeType: '', //1-新增、2-补录、3-调账
    currency: '',
    currencyName: '',
    currencySymbol: '',
    currencyExchangeRate: '',
    invoiceCode: '',
    invoiceName: '',
    invoiceTaxRate: '',
    settlerId: '',
    settlerName: '',
    unitPrice: '',
    quantity: 1,
    taxIncludedAmount: '',
    refundSign: false, //是否退费(0/false-不是、1/true-是)
    remark: '',
    receivableRemark: '',
    status: 1,
    feeSource: 5
})
const feeStatusOptions = ref([
    {
        label: '未确认',
        value: 1
    },
    {
        label: '确认中',
        value: 2
    },
    {
        label: '已确认',
        value: 3
    }
])

const init = async (data) => {
    form.statementId = props.datas.id && props.datas.id.toString()
    form.statementNo = data.no
    form.logisticsId = data.logisticsId
    form.currencyName = data.currencyName
    form.currency = data.currency
    form.currencySymbol = data.currencySymbol
    form.status = 1 // 新增是1，也不用传

    await getFeeOptions()
    await getCurrencyOptions()
    await getInovicesOptions()
    if (!fromEdit.value) {
        await getCurrencyRate()
        await remoteMethod2(props.datas.clientName)
    } else {
        // 所选币别与结算币别不一致时，可修改
        currencyExchangeRateDisabled.value = props.datas.currency == form.currency
        await remoteMethod2(data.settlerName)
        setRateOptions(data.invoiceCode)
    }
}
// 根据当前选中的发票类型设置税率
const setRateOptions = (val) => {
    currentInvoice.value = invoiceOptions.value.find((v) => v.code == val) || {}
    invoiceTaxRateOptions.value = currentInvoice.value.child.filter(item => {
        return item.taxRate != null
    })
    // invoiceTaxRateOptions.value.forEach(item=>{
    //     if(typeof item.taxRate == 'number'){
    //         item.taxRate  = item.taxRate.toString()
    //     }
    // })
}
const remoteMethod = (val) => {
    search.value = val
    getFeeOptions()
}
// 获取结算对象
const remoteMethod2 = async (val) => {
    name.value = val
    await getRelationsOptions()
}
//获取结算对象数据
const getRelationsOptions = async () => {
    if (name.value && name.value.length >= 2) {
        // // 8=客户 9=供应商
        settlerOptions.value = await commonApi.queryRelationByLabelCode({
            relationType: 8,
            name: name.value
        })

        if (!fromEdit.value) {
            // 新增收入，默认选中委托人
            changeSettler(props.datas.clientId)
        }
    }
}
const changeSettler = (val) => {
    let item = settlerOptions.value.find((v) => v.enterpriseId == val)
    if (item) {
        form.settlerId = val
        form.settlerName = item.name
    }
}
// 查询企业币种汇率
const getCurrencyRate = async () => {
    if (!form.currency || !props.datas.currency || !props.datas.ownerId) {
        return
    }
    const param = {
        sourceCode: form.currency,
        convertCode: props.datas.currency,
        ownerId: props.datas.ownerId
    }
    let { code, message, data } = await settleTrackApi.settleBasicCurrencyRate(param)
    if (code == 200) {
        if (data && data.exchangeRate) {
            form.currencyExchangeRate = parseFloat(setNumericText(
                Number(data.exchangeRate),
                { format: 4 }
            ))
        } else {
            form.currencyExchangeRate = ''
        }
    }
    // 所选币别与结算币别不一致时，可修改
    currencyExchangeRateDisabled.value =
        props.datas.currency == form.currency
}
// 获取发票类型
const getInovicesOptions = async () => {
    if (invoiceOptions.value.length > 0) return
    const res = await commonApi.settleBasicEnterpriseInvoice()
    invoiceOptions.value = res
}
// 获取币别
const getCurrencyOptions = async () => {
    const res = await commonApi.getCurrency()
    currencyOptions.value = res
}
// 获取费用项目选项
const getFeeOptions = async () => {
    const res = await settleTrackApi.settleBasicEnterpriseIncomeFee({
        ownerId: props.datas.ownerId,
        search: search.value
    })
    if (res.code == 200) {
        feeOptions.value = res.data
    }
}

// 项目费用变更
const changeFee = (val) => {
    form.feeCode = val
    form.feeName = feeOptions.value.find(
        (v) => v.incomeFeeCode == val
    ).incomeFeeName
    getDefaultInvoice()
}
// 获取费用默认发票
const getDefaultInvoice = async () => {
    const params = {
        id: props.datas.logisticsId,
        feeName: form.feeName
    }
    const res = await settleTrackApi.getLogisticsFeeDefaultInvoice(params)
    if (res.code == 200) {
        setRateOptions(res.data.invoiceCode)
        form.invoiceTaxRate = res.data.invoiceTaxRate
        form.invoiceCode = res.data.invoiceCode
        form.invoiceName = res.data.invoiceName
    }
}
//切换币别事件
const changeCurrency = (val) => {
    form.currency = val
    let item = currencyOptions.value.find((v) => v.code == val)
    form.currencyName = item.name
    form.currencySymbol = item.symbol
    getCurrencyRate()
}
// 单价/数量 输入框修改
const quantityChange = () => {
    let num = Number(form.quantity) * Number(form.unitPrice)
    // fixedNumber(
    //     Number(form.quantity) * Number(form.unitPrice)
    // )

    if (!isNaN(num)) {
        form.taxIncludedAmount = num
    }
}
// const fixedNumber = (num) => {
//     return setNumericText(Number(num))
// }
// 金额变更
const totalChange = (val) => {
    let num = Number(form.taxIncludedAmount) / Number(form.quantity)
    // fixedNumber(
    //     Number(form.taxIncludedAmount) / Number(form.quantity)
    // )

    if (!isNaN(num)) {
        form.unitPrice = num
    }
}
// 发票类型变更
const changeInvoice = (val) => {
    setRateOptions(val)
    // 默认发票税率，用修改费用项目时请求的默认发票类型
    form.invoiceCode = currentInvoice.value.code
    form.invoiceName = currentInvoice.value.name
    form.invoiceTaxRate = ''
    form.invoiceTaxRate = invoiceTaxRateOptions.value.find(
        (v) => v.defaults
    ).taxRate
}
// 税率展示过滤器
const filterTaxRate = (val) => {
    return val * 100 + '%'
}
// 关闭重置
const reset = () => {
    dialogVisible.value = false
    form.id = ''
    form.statementId = ''
    form.statementNo = ''
    form.logisticsId = '' // 新增的时候主表里的id
    form.feeCode = ''
    form.feeName = ''
    form.feeType = '' //1-新增、2-补录、3-调账
    form.currency = ''
    form.currencyName = ''
    form.currencySymbol = ''
    form.currencyExchangeRate = ''
    form.invoiceCode = ''
    form.invoiceName = ''
    form.invoiceTaxRate = ''
    form.settlerId = ''
    form.settlerName = ''
    form.unitPrice = ''
    form.quantity = 1
    form.taxIncludedAmount = ''
    form.refundSign = false //是否退费(0/false-不是、1/true-是)
    form.remark = ''
    form.receivableRemark = ''
    form.status = 1
    form.feeSource = 5
    search.value = ''
    name.value = ''
}


const openDialog = (isEdit) => {
    nextTick(async () => {
        formRef.value && formRef.value.clearValidate()
        fromEdit.value = isEdit
        if (fromEdit.value) {
            await initRow()
        } else {
            await init(props.datas)
        }
        dialogVisible.value = true;
    })
}
const closeDialog = () => {
    dialogVisible.value = false
}
const emits = defineEmits(['refreshDetail'])
const confirm = (down) => {
    formRef.value.validate(async (err, value) => {
        if (!err) {
            console.log(form)
            try {
                form.feeType = props.feeType
                const { code, data } = await settleTrackApi.settleTrackIncome(form)
                if (code == 200) {
                    Message.success('保存成功')
                    emits('refreshDetail')
                    reset()
                }
            } catch (err) {
                console.log(err)
            }
        }
    })
    // emits('save')
    down(false)
}
const title = computed(() => {
    let str = ''
    switch (props.feeType) {
        case 1:
            str = fromEdit.value ? '编辑收入费用' : '新增收入费用'
            break
        case 2:
            str = '补录收入费用'
            break
        case 3:
            str = '调账收入费用'
    }
    return str
})


defineExpose({
    openDialog,
    closeDialog,
})

</script>

<style lang="less" scoped>
</style>

