<template>
    <a-modal v-model:visible="dialogVisible" :on-before-ok="confirm" width="30%"
        :mask-closable="false">
        <template #title>
            毛利小于0，备注填写
        </template>
        <a-form layout="vertical">
            <a-form-item field="remark" label="结算备注">
                <a-textarea v-model="profitZeroRemark" allow-clear />
            </a-form-item>
        </a-form>
    </a-modal>
</template>

<script lang="ts">
export default {
    name: 'ClosePop'
}
</script>

<script setup lang="ts">
import { Message } from '@arco-design/web-vue';
import { reactive, defineEmits, defineExpose, ref } from 'vue'
const dialogVisible = ref(false)
const profitZeroRemark = ref('')
const type = ref('')// income cost review(结算复核)

const openDialog = (typeVlaue) => {
    profitZeroRemark.value = ''
    dialogVisible.value = true;
    type.value = typeVlaue
}
const closeDialog = () => {
    profitZeroRemark.value = ''
    dialogVisible.value = false
}
const emits = defineEmits(['confirmRemark'])
const confirm = (down) => {
    if (!profitZeroRemark.value) {
        Message.error('请填写备注')
        down(false)
        return
    }
    emits('confirmRemark', {
        type: type.value
    })
    down(false)
}


defineExpose({
    openDialog,
    closeDialog,
    dialogVisible,
    profitZeroRemark,
})

</script>

