<template>
  <div class="table_k">
    <div class="tableK_head">
      <div class="head_left">
        <div class="head_title">{{ fees.type }}</div>
        <div>{{ datas.currencySymbol }}{{ toThousandFilter(fees.amount) }}</div>
      </div>
      <div class="head_right">
        <a-space>
          <template v-for="(item, index) in fees.btns" :key="index">
            <a-button v-if="!item.notShow" type="outline" size="mini" :style="{ height: '20px' }"
              @click="item.callback">{{ item.txt }}</a-button>
          </template>
        </a-space>
      </div>
    </div>
    <div class="table_shell" v-for="(item, index) in fees.feetype" :key="index">
      <div class="table_head">
        <div>{{ item.feename }}</div>
        <div>合计:</div>
        <div class="total">{{ datas.currencySymbol
        }}{{ totalNum(item.feeitems && item.feeitems.map((v) => v.localCurrencyAmount)) }}</div>
      </div>
      <a-table :columns="columns" :data="item.feeitems" :pagination="false" :bordered="{ cell: true }">
        <template #feeName="{ record }">
          <span style="cursor:pointer;marginRight:8px" @click="getFeeDetail(record)">{{ record.feeName }}</span>
          <a-space>
            <a-popover position="right" v-if="record.files && record.files.length > 0">
              <icon-attachment style="color:#2969FF" />
              <template #content>
                <div class="file_item" v-for="(file, fileIndex) in record.files" :key="file.id">
                  <span class="file_name" @click="downLoadFile(file)">{{ file.fileName }}</span>
                  <icon-delete @click="deleteFile(file, fileIndex, record.files)" />
                </div>
              </template>
            </a-popover>
            <a-tag size="small" :style="{ 'color': tags.color }" :color="tags.bgColor"
              v-for="(tags, key) in filterStatus(item)" :key="key">{{ tags.name }}</a-tag>
          </a-space>
        </template>
        <template #estimatedAmount="{ record }">
          {{ toThousandFilter(record.estimatedAmount) }}
        </template>
        <template #originalCurrencyAmount="{ record }">
          <span :style="{ color: isRedText(record) ? 'red' : '' }">{{ toThousandFilter(record.originalCurrencyAmount)
          }}</span>
        </template>
      </a-table>
    </div>
  </div>
</template>

<script lang="ts">
export default {
  name: 'CommonTableK'
}
</script>
<script setup lang="ts">
import { Message } from '@arco-design/web-vue';
import { setNumericText } from '@/utils/common.ts'
import { defineProps, reactive,defineEmits } from 'vue'
import { settleTrackApi } from '@/api/settleTrackApi/index';
import axios from '@/api/interceptor';
import lodash from 'lodash'
const props = defineProps({
  fees: {
    type: Object,
    default: {}
  },
  datas: {
    type: Object,
    default: {}
  },
  type: String
})

// 删除附件
const deleteFile = (item, attachIndex, files) => {
  settleTrackApi.settleTrackCostFile({
    id: item.id.toString(),
    type: item.type,
    fileUrl: item.fileUrl
  }).then(res => {
    if (res.code == '200') {
      Message.success('删除成功！')
      files.splice(attachIndex, 1)
    }
  })
}

// 查看附件
const downLoadFile = (row) => {
  let fileUrl = row.fileUrl || ''
  let fileName = row.fileName || ''
  let arr = fileUrl.split('.')
  let suffix = arr[arr.length - 1].toLocaleLowerCase()
  let types = ['png', 'jpg', 'jpeg', 'bmp', 'gif', 'pdf']

  if (suffix && types.indexOf(suffix) > -1) {
    window.open(fileUrl, '_blank')
  } else {
    const row = {
      fileName,
      fileUrl
    }
    handleDownload(row)
    // utils.handleDownload(row)
  }
}
const handleDownload = (row, option = {}) => {
  const { fileName = 'fileName', fileUrl = 'fileUrl' } = option
  const link = document.createElement('a') // 创建a标签
  link.target = '_blank'
  link.download = row[fileName]
  axios(row[fileUrl])
    .then((res) => res.blob())
    .then((blob) => {
      link.href = URL.createObjectURL(blob)
      link.click()
      URL.revokeObjectURL(row[fileUrl])
    })
}

const toThousandFilter = (num) => {
  if (!num) {
    num = 0
  }
  return setNumericText(num, { commas: true, zeroText: '0.00' })
}
// 金额合计
const totalNum = (arr, config = {}) => {
  const initConfig = {
    format: 2, //四舍五入2位
    commas: true,
    zeroText: 0
  }
  config = lodash.merge(initConfig, config)

  // 金额做计算不要千分位
  // 金额展示千分位可选
  let num = arr.reduce((a, b) => {
    a = Number(a || 0)
    b = Number(b || 0)
    return (a += b)
  }, 0)

  let res = 0
  if (config.commas) {
    res = setNumericText(num, {
      format: config.format,
      zeroText: config.zeroText,
      commas: config.commas
    })
  } else {
    res = Number(
      setNumericText(num, {
        format: config.format,
        zeroText: config.zeroText
      })
    )
  }
  return res
}
const columns = [
  {
    title: '费用',
    dataIndex: 'feeName',
    slotName: 'feeName'
  },
  {
    title: '币别',
    dataIndex: 'currency',
  },
  {
    title: '预估金额',
    dataIndex: 'estimatedAmount',
    slotName: 'estimatedAmount'
  },
  {
    title: '实际金额',
    dataIndex: 'originalCurrencyAmount',
    slotName: 'originalCurrencyAmount'
  },
];
const isRedText = (item) => {
  if (props.type == 'income') {
    return item.originalCurrencyAmount < item.estimatedAmount
  } else {
    return item.originalCurrencyAmount > item.estimatedAmount
  }
}

const emits = defineEmits(['getFeeDetail'])

// 点击进入收入详情
const getFeeDetail = (item) => {
  emits('getFeeDetail',item,props.type)
}

const filterStatus = (item) => {
  let status = []
  // 【费用来源=调账】
  // 【是否船公司费用=Ture】
  // 【是否代收代付=Ture】
  if (item.includeAdjustmentFee) {
    status.push({
      name: '调',
      color: '#FF7D00',
      bgColor: '#FFF7E8'
    })
  }
  if (item.proxyFee) {
    status.push({
      name: '代',
      color: '#2969FF',
      bgColor: '#EEF3FF'
    })
  }
  if (item.shipFee) {
    status.push({
      name: '船',
      color: '#00B42A',
      bgColor: '#E8FFEA'
    })
  }
  if (item.refundSign) {
    status.push({
      name: '退',
      color: '#F53F3F',
      bgColor: '#FFECE8'
    })
  }
  // if (item.quasiBadDebtsAmount > 0 || item.badDebtsAmount > 0) {
  //   status.push({
  //     name:'坏',
  //     color:'#F53F3F',
  //      bgColor:''
  //   })
  // }
  return status
}
</script>

<style lang="less" scoped>
.table_head {
  height: 40px;
  display: flex;
  align-items: center;
  background-color: #FFF7E8;
  padding: 0 12px;
  font-size: 14px;
  color: #212121;
  border-left: 1px solid #E5E6EB;
  border-right: 1px solid #E5E6EB;

  div {
    margin-right: 14px;
  }

  .total {
    font-size: 16px;
    color: #FF7D00;
    font-weight: 500;
  }
}

.tableK_head {
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .head_left {
    display: flex;
    font-size: 16px;
    color: #1D2129;
    font-weight: 500;

    .head_title {
      margin-right: 8px;
    }
  }
}

.table_shell {
  margin-bottom: 15px;
}

.file_item {
  display: flex;
  align-items: center;
  justify-content: space-between;

  &:nth-child(n + 2) {
    margin-top: 2px;
  }

  .file_name {
    font-size: 14px;
    color: #2969FF;
    margin-right: 20px;
    flex: 1;
    cursor: pointer;
  }
}
</style>