<!-- 描述列表组件 -->
<template>
    <div class="info_shell">
        <div class="info_title">
            <div class="title_text">基本信息</div>
            <a-popover position="right">
                <div :style="{ marginRight: '18px' }">
                    <icon-star size="14" v-if="(props.datas.attentionLevel ?? '') == ''" />
                    <icon-star-fill size="14" v-else :style="{ color: dataMap.colors[props.datas.attentionLevel - 1] }" />
                </div>
                <template #content>
                    <div class="starList">
                        <span v-for="(color, index) in dataMap.colors" :key="index">
                            <icon-star-fill size="14" :style="{ color: color }" @click="changeLevel(index)"/>
                        </span>
                        <span>
                            <icon-star size="14" @click="cancelLevel()"/>
                        </span>
                    </div>
                </template>
            </a-popover>
            <dw-tag :class="props.datas.statusNameColor">
                <template #word>
                    {{props.datas.statusName }}
                </template>
            </dw-tag>
        </div>
        <div class="info">
            <div class="info_item">
                <div class="info_item_label">结算单号</div>
                <div class="info_item_value">{{ datas.no }}</div>
            </div>
            <div class="info_item">
                <div class="info_item_label">提单号</div>
                <div class="info_item_value">{{ logisticsDetail.mblNo || logisticsDetail.hblNo || '-' }}</div>
            </div>
            <div class="info_item">
                <div class="info_item_label">PI号</div>
                <div class="info_item_value">{{ logisticsDetail.piNo || '-' }}</div>
            </div>
            <div class="info_item">
                <div class="info_item_label">委托人<a-link v-if="logisticsDetail.quotationNo"
                        @click="goQuotation(logisticsDetail.quotationId)">查看报价</a-link>
                </div>
                <div class="info_item_value">{{ datas.clientName || '-' }}</div>
            </div>
            <div class="info_item">
                <div class="info_item_label">客户业务编号</div>
                <div class="info_item_value">{{ logisticsDetail.customerBusinessCode || '-' }}</div>
            </div>
            <div class="info_item">
                <div class="info_item_label">箱型箱量</div>
                <div class="info_item_value">
                    <div v-if="logisticsDetail.containerquantityItem &&
                    logisticsDetail.containerquantityItem.length > 0">
                        <span v-for="(item, index) in logisticsDetail.containerquantityItem" :key="index">
                            {{ item.containerSize }}'{{ item.containerType }}*{{
                                    item.containerQuantity
                            }}</span>
                    </div>
                </div>
            </div>
            <div class="info_item">
                <div class="info_item_label">免箱期</div>
                <div class="info_item_value">{{ logisticsDetail.freeDays || '-' }}天</div>
            </div>
            <div class="info_item">
                <div class="info_item_label">净重(KG)</div>
                <div class="info_item_value">{{ logisticsDetail.netWeight || '-' }}</div>
            </div>
            <div class="info_item">
                <div class="info_item_label">销售品名</div>
                <div class="info_item_value">{{ logisticsDetail.salesGoods || '-' }}</div>
            </div>
            <div class="info_item">
                <div class="info_item_label">港区码头</div>
                <div class="info_item_value">{{ logisticsDetail.portArea || '-' }}<span
                        v-if="logisticsDetail.portArea">-</span>{{ logisticsDetail.wharfName || '-' }}</div>
            </div>
            <div class="info_item">
                <div class="info_item_label">结算备注</div>
                <div class="info_item_value">{{ datas.remark || '-' }}</div>
            </div>
        </div>
    </div>
</template>

<script lang="ts">
export default {
    name: 'DescribeList'
}
</script>
<script setup lang="ts">
import { defineProps, reactive,defineEmits } from 'vue'
import router from '@/router';
const props = defineProps({
    datas: {
        type: Object,
        default: {}
    },
    logisticsDetail: {
        type: Object,
        default: {}
    }
})
const goQuotation = (id) => {
    // 跳转报价单详情页
    // TODO
    router.push({
        path: '/mos/CRM/contract/list/details',
        query: {
            id: id.toString()
        }
    })
}
const emit = defineEmits(['changeLevel'])
const changeLevel = (val) => {
    emit('changeLevel',{
        source:props.datas,
        index:val + 1
    })
}
const cancelLevel = () => {
    emit('changeLevel',{
        source:props.datas,
        index:0
    })
}
const dataMap = reactive({
    colors: [
        'red',
        'orangered',
        'orange',
        'gold',
        'lime',
        'green',
        'cyan',
        'blue',
        'arcoblue',
        'purple',
        'pinkpurple',
        'magenta',
        'gray',
    ],
})
// const getStatus = (type) => {
//     const status = {
//         1: '已接单',
//         2: '业务完成',
//         3: '未复核',
//         4: '已复核',
//         5: '已关账',
//         6: '已开票完成',
//         7: '销账完成'
//     }
//     if (!!type === false) {
//         return ''
//     }
//     return status[type]
// }
</script>

<style lang="less" scoped>
.info_shell {
    padding: 20px 32px;

    .info_title {
        display: flex;
        align-items: center;

        .title_text {
            font-size: 16px;
            color: #1D2129;
            font-weight: 500;
            margin-right: 18px;
        }
    }

    .info {
        margin-top: 23px;
        font-size: 14px;
        display: flex;
        flex-wrap: wrap;

        .info_item {
            width: 25%;

            &:nth-child(n + 5) {
                margin-top: 32px;
            }

            &_label {
                color: #696C70;
            }

            &_value {
                margin-top: 9px;
                color: #212121;
            }
        }

    }
}
</style>