<template>
  <a-modal v-model:visible="dialogVisible" :footer="false" width="65%" :mask-closable="false">
    <template #title>
      {{ type == 'income' ? '收入' : '成本' }}费用明细 -{{ infoData.feeName || '' }}
    </template>
    <!-- 收入费用明细 -->
    <div v-if="type == 'income'">
      <a-tabs v-model="activeName" @change="tabChange" :justify="true">
        <a-tab-pane key="1" title="实际费用">
          <a-form ref="formRef" :model="formData">
            <a-table :columns="incomeColumns" :data="tableDatas" :scroll="scroll" :pagination="false" column-resizable>
              <template #operate="{ record, rowIndex }">
                <template v-if="record.edit">
                  <a-space>
                    <span :style="{ color: 'rgba(41, 105, 255, 1)' }">
                      <icon-check @click="saveEdit(record)" />
                    </span>
                    <span :style="{ color: 'rgba(41, 105, 255, 1)' }">
                      <icon-close @click="cancelEdit(record)" />
                    </span>
                  </a-space>
                </template>
                <template v-else>
                  <a-space>
                    <span :style="{ color: 'rgba(41, 105, 255, 1)' }" v-if="showEditAndDelete(record)">
                      <icon-edit @click="edit(record)" />
                    </span>
                    <a-popconfirm content="确认删除？" position="right" @ok="deleteItem(record)">
                      <span :style="{ color: 'rgba(41, 105, 255, 1)' }" v-if="showEditAndDelete(record)">
                        <icon-delete />
                      </span>
                    </a-popconfirm>
                  </a-space>
                </template>
              </template>
              <!-- 金额 -->
              <template #taxIncludedAmount="{ record, rowIndex }">
                <template v-if="record.edit">
                  <a-form-item :field="`tableDatas.${rowIndex}.taxIncludedAmount`" hide-label
                    :rules="[{ required: true, message: '请输入' }]" :hide-asterisk="true">
                    <a-input-number v-model="record.taxIncludedAmount" :precision="2" hide-button
                      @change="totalChange(record)" />
                  </a-form-item>
                </template>
                <template v-else>{{ record.taxIncludedAmount }}</template>
              </template>
              <!-- 币别 -->
              <template #currency="{ record }">
                <template v-if="record.edit">
                  <a-select v-model="record.currency" @change="changeCurrency($event, record)">
                    <a-option v-for="(item, index) in currencyOptions" :label="item.name" :value="item.code"
                      :key="index">
                    </a-option>
                  </a-select>
                </template>
                <template v-else>{{ record.currency }}</template>
              </template>
              <!-- 汇率 -->
              <template #currencyExchangeRate="{ record, rowIndex }">
                <template v-if="record.edit">
                  <a-form-item :field="`tableDatas.${rowIndex}.currencyExchangeRate`" hide-label
                    :rules="[{ required: true, message: '请输入' }]" :hide-asterisk="true">
                    <a-input-number v-model="record.currencyExchangeRate" :precision="4"
                      :disabled="record.currencyExchangeRateDisabled" hide-button />
                  </a-form-item>
                </template>
                <template v-else>{{ record.currencyExchangeRate }}</template>
              </template>
              <!-- 单价 -->
              <template #unitPrice="{ record, rowIndex }">
                <template v-if="record.edit">
                  <a-form-item :field="`tableDatas.${rowIndex}.unitPrice`" hide-label
                    :rules="[{ required: true, message: '请输入' }]" :hide-asterisk="true">
                    <a-input-number @change="quantityChange(record)" :precision="2" hide-button
                      v-model="record.unitPrice" />
                  </a-form-item>
                </template>
                <template v-else>{{ record.unitPrice }}</template>
              </template>
              <!-- 数量 -->
              <template #quantity="{ record, rowIndex }">
                <template v-if="record.edit">
                  <a-form-item :field="`tableDatas.${rowIndex}.quantity`" hide-label
                    :rules="[{ required: true, message: '请输入' }]" :hide-asterisk="true">
                    <a-input-number @change="quantityChange(record)" :precision="0" hide-button
                      v-model="record.quantity" />
                  </a-form-item>
                </template>
                <template v-else>{{ record.quantity }}</template>
              </template>
              <!-- 结算对象 -->
              <template #settlerName="{ record }">
                <template v-if="record.edit">
                  <a-select v-model="record.settlerId" @search="remoteMethod2" allow-search
                    @change="changeSettler(record)">
                    <a-option v-for="(item) in settlerOptions" :label="item.name" :value="item.enterpriseId"
                      :key="item.enterpriseId"></a-option>
                  </a-select>
                </template>
                <template v-else>{{ record.settlerName }}</template>
              </template>
              <!-- 发票类型 -->
              <template #invoiceName="{ record }">
                <template v-if="record.edit">
                  <a-select v-model="record.invoiceCode" @change="changeInvoice($event, record)">
                    <a-option v-for="(item, index) in invoiceOptions" :label="item.name" :value="item.code"
                      :key="index">
                    </a-option>
                  </a-select>
                </template>
                <template v-else>{{ record.invoiceName }}</template>
              </template>
              <!-- 税率 -->
              <template #invoiceTaxRate="{ record }">
                <template v-if="record.edit">
                  <a-select v-model="record.invoiceTaxRate">
                    <a-option v-for="(item, index) in invoiceTaxRateOptions" :label="filterTaxRate(item.taxRate)"
                      :value="item.taxRate" :key="index">
                    </a-option>
                  </a-select>
                </template>
                <template v-else>{{ record.invoiceTaxRate }}</template>
              </template>
              <!-- 备注 -->
              <template #remark="{ record }">
                <template v-if="record.edit">
                  <a-textarea v-model="record.remark" :max-length="300" allow-clear show-word-limit />
                </template>
                <template v-else>{{ record.remark }}</template>
              </template>
              <!-- 对账备注 -->
              <template #receivableRemark="{ record }">
                <template v-if="record.edit">
                  <a-textarea v-model="record.receivableRemark" :max-length="300" allow-clear show-word-limit />
                </template>
                <template v-else>{{ record.receivableRemark }}</template>
              </template>
              <!-- 状态 -->
              <template #status="{ record }">
                <dw-tag :class="filterStatus(record.status).color">
                  <template #word>
                    {{ filterStatus(record.status).name }}
                  </template>
                </dw-tag>
              </template>
              <!-- 对账单编号 -->
              <template #receivableNo="{ record }">
                <a-link @click="goToUrl('receivableNo', record)" :hoverable="false">{{ record.receivableNo }}
                </a-link>
              </template>
            </a-table>
          </a-form>
        </a-tab-pane>
        <a-tab-pane key="2" title="预估费用">
          <a-table :columns="incomeColumns_1" :data="tableDatas_1" :scroll="scroll" :pagination="false"
            column-resizable>
            <template #operate="{ record }">
              <a-popconfirm content="确认删除？" position="right" @ok="deleteItem(record)">
                <span v-if="showEditAndDelete(record)" :style="{ color: 'rgba(41, 105, 255, 1)' }">
                  <icon-delete />
                </span>
              </a-popconfirm>
            </template>
            <!-- 对账单编号 -->
            <template #receivableNo="{ record }">
              <a-link :hoverable="false">{{ record.receivableNo }}</a-link>
            </template>
          </a-table>
        </a-tab-pane>
      </a-tabs>
    </div>

    <!-- 成本费用明细 -->
    <div v-else-if="type == 'cost'">
      <a-tabs v-model="activeName" @change="tabChange" :justify="true">
        <a-tab-pane key="1" title="实际费用">
          <a-form ref="formRef" :model="formData">
            <a-table :columns="coustColumns" :data="tableDatas" :scroll="scroll" :pagination="false" column-resizable>
              <template #operate="{ record, rowIndex }">
                <template v-if="record.edit">
                  <a-space>
                    <span :style="{ color: 'rgba(41, 105, 255, 1)' }">
                      <icon-check @click="saveEdit(record)" />
                    </span>
                    <span :style="{ color: 'rgba(41, 105, 255, 1)' }">
                      <icon-close @click="cancelEdit(record)" />
                    </span>
                  </a-space>
                </template>
                <template v-else>
                  <a-space>
                    <span :style="{ color: 'rgba(41, 105, 255, 1)' }" v-if="showEditAndDelete(record)">
                      <icon-edit @click="edit(record)" />
                    </span>
                    <a-popconfirm content="确认删除？" position="right" @ok="deleteItem(record)">
                      <span :style="{ color: 'rgba(41, 105, 255, 1)' }" v-if="showEditAndDelete(record)">
                        <icon-delete />
                      </span>
                    </a-popconfirm>
                  </a-space>
                </template>
              </template>
              <!-- 金额 -->
              <template #taxIncludedAmount="{ record, rowIndex }">
                <template v-if="record.edit">
                  <a-form-item :field="`tableDatas.${rowIndex}.taxIncludedAmount`" hide-label
                    :rules="[{ required: true, message: '请输入' }]" :hide-asterisk="true">
                    <a-input-number v-model="record.taxIncludedAmount" :precision="2" hide-button
                      @change="totalChange(record)" />
                  </a-form-item>
                </template>
                <template v-else>{{ record.taxIncludedAmount }}</template>
              </template>
              <!-- 币别 -->
              <template #currency="{ record }">
                <template v-if="record.edit">
                  <a-select v-model="record.currency" @change="changeCurrency($event, record)">
                    <a-option v-for="(item, index) in currencyOptions" :label="item.name" :value="item.code"
                      :key="index">
                    </a-option>
                  </a-select>
                </template>
                <template v-else>{{ record.currency }}</template>
              </template>
              <!-- 汇率 -->
              <template #currencyExchangeRate="{ record, rowIndex }">
                <template v-if="record.edit">
                  <a-form-item :field="`tableDatas.${rowIndex}.currencyExchangeRate`" hide-label
                    :rules="[{ required: true, message: '请输入' }]" :hide-asterisk="true">
                    <a-input-number v-model="record.currencyExchangeRate" :precision="4"
                      :disabled="record.currencyExchangeRateDisabled" hide-button />
                  </a-form-item>
                </template>
                <template v-else>{{ record.currencyExchangeRate }}</template>
              </template>
              <!-- 单价 -->
              <template #unitPrice="{ record, rowIndex }">
                <template v-if="record.edit">
                  <a-form-item :field="`tableDatas.${rowIndex}.unitPrice`" hide-label
                    :rules="[{ required: true, message: '请输入' }]" :hide-asterisk="true">
                    <a-input-number @change="quantityChange(record)" :precision="2" hide-button
                      v-model="record.unitPrice" />
                  </a-form-item>
                </template>
                <template v-else>{{ record.unitPrice }}</template>
              </template>
              <!-- 数量 -->
              <template #quantity="{ record, rowIndex }">
                <template v-if="record.edit">
                  <a-form-item :field="`tableDatas.${rowIndex}.quantity`" hide-label
                    :rules="[{ required: true, message: '请输入' }]" :hide-asterisk="true">
                    <a-input-number @change="quantityChange(record)" :precision="0" hide-button
                      v-model="record.quantity" />
                  </a-form-item>
                </template>
                <template v-else>{{ record.quantity }}</template>
              </template>
              <!-- 结算对象 -->
              <template #settlerName="{ record }">
                <template v-if="record.edit">
                  <a-select v-model="record.settlerId" @search="remoteMethod2" allow-search
                    @change="changeSettler(record)">
                    <a-option v-for="(item) in settlerOptions" :label="item.name" :value="item.enterpriseId"
                      :key="item.enterpriseId"></a-option>
                  </a-select>
                </template>
                <template v-else>{{ record.settlerName }}</template>
              </template>
              <!-- 发票类型 -->
              <template #invoiceName="{ record }">
                <template v-if="record.edit">
                  <a-select v-model="record.invoiceCode" @change="changeInvoice($event, record)">
                    <a-option v-for="(item, index) in invoiceOptions" :label="item.name" :value="item.code"
                      :key="index">
                    </a-option>
                  </a-select>
                </template>
                <template v-else>{{ record.invoiceName }}</template>
              </template>
              <!-- 税率 -->
              <template #invoiceTaxRate="{ record }">
                <template v-if="record.edit">
                  <a-select v-model="record.invoiceTaxRate">
                    <a-option v-for="(item, index) in invoiceTaxRateOptions" :label="filterTaxRate(item.taxRate)"
                      :value="item.taxRate" :key="index">
                    </a-option>
                  </a-select>
                </template>
                <template v-else>{{ record.invoiceTaxRate }}</template>
              </template>
              <!-- 备注 -->
              <template #remark="{ record }">
                <template v-if="record.edit">
                  <a-textarea v-model="record.remark" :max-length="300" allow-clear show-word-limit />
                </template>
                <template v-else>{{ record.remark }}</template>
              </template>
              <!-- 支付方式 -->
              <template #paymentMethodName="{ record }">
                <template v-if="record.edit">
                  <a-select v-model="record.paymentMethodCode" @change="changePayment($event, record)">
                    <a-option v-for="item in paymentMethodCodeOptions" :label="item.codeName" :value="item.codes"
                      :key="item.codes"></a-option>
                  </a-select>
                </template>
                <template v-else>{{ record.paymentMethodName }}</template>
              </template>
              <!-- 支票号 -->
              <template #chequeNo="{ record }">
                <template v-if="record.edit">
                  <a-input v-model="record.chequeNo" hide-button />
                </template>
                <template v-else>{{ record.chequeNo }}</template>
              </template>
              <!-- 发票号 -->
              <template #invoiceNo="{ record }">
                <template v-if="record.edit">
                  <a-input v-model="record.invoiceNo" hide-button />
                </template>
                <template v-else>{{ record.invoiceNo }}</template>
              </template>
              <!-- 附件 -->
              <template #files="{ record }">
                <a-space>
                  <template v-if="record.files && record.files.length > 0">
                    <span>已上传</span>
                    <a-popover position="bottom">
                      <icon-attachment style="color:#2969FF" />
                      <template #content>
                        <div class="file_item" v-for="(file, fileIndex) in record.files" :key="file.id">
                          <span class="file_name" @click="downLoadFile(file)">{{ file.fileName
                          }}</span>
                          <icon-delete v-if="record.edit" @click="deleteFile(file, fileIndex, record.files)" />
                        </div>
                      </template>
                    </a-popover>
                    <span v-if="record.edit">
                      <a-upload :custom-request="(val) => customRequest(val, record)" :show-file-list="false"
                        action="/">
                        <template #upload-button>
                          <icon-upload style="color:#2969FF" />
                        </template>
                      </a-upload>
                    </span>
                  </template>
                  <span v-else>未上传
                    <span v-if="record.edit">
                      <a-upload :custom-request="(val) => customRequest(val, record)" :show-file-list="false"
                        action="/">
                        <template #upload-button>
                          <icon-upload style="color:#2969FF" />
                        </template>
                      </a-upload>
                    </span>
                  </span>
                </a-space>
              </template>
              <!-- 代收代付 -->
              <template #proxyFee="{ record }">
                <template v-if="record.edit">
                  <a-checkbox v-model="record.proxyFee"></a-checkbox>
                </template>
                <span v-else>{{record.proxyFee?'是':'否'}}</span>
              </template>
              <!-- 状态 -->
              <template #status="{ record }">
                <dw-tag :class="filterStatus(record.status).color">
                  <template #word>
                    {{ filterStatus(record.status).name }}
                  </template>
                </dw-tag>
              </template>
              <!-- 请款单号 -->
              <template #writeOffNo="{ record }">
                <a-link @click="goToUrl('writeOffNo', record)" :hoverable="false">{{ record.writeOffNo }}
                </a-link>
              </template>
            </a-table>
          </a-form>
        </a-tab-pane>
      </a-tabs>
    </div>
  </a-modal>
</template>

<script lang="ts">
export default {
  name: 'feeDetailPop'
}
</script>

<script setup lang="ts">
import { Modal, Message } from '@arco-design/web-vue';
import { settleTrackApi } from '@/api/settleTrackApi/index';
import commonApi from '@/utils/commonApi/index';
import { setNumericText } from '@/utils'
import router from '@/router';
import { cloneDeep } from 'lodash'
import { defineProps, defineEmits, defineExpose, ref, reactive, computed, watch } from 'vue'
const props = defineProps({
  datas: Object,
  feeDetail: Object,
  type: String,
})
const formRef = ref(null)
const scroll = {
  x: '100%',
  y: '100%',
};
const activeName = ref('1')
const dialogVisible = ref(false)
const tableDatas = ref([])//实际费用列表
const tableDatas_1 = ref([])//收入-预估费用列表
const incomeColumns = ref([//收入预估金额
  {
    title: '',
    fixed: 'left',
    slotName: 'operate',
    width: '80',
  }, {
    title: '金额(含税)',
    dataIndex: 'taxIncludedAmount',
    slotName: 'taxIncludedAmount',
    width: '150',
    fixed: 'left',
  }, {
    title: '币别',
    dataIndex: 'currency',
    slotName: 'currency',
    width: '150',
  }, {
    title: '汇率',
    dataIndex: 'currencyExchangeRate',
    slotName: 'currencyExchangeRate',
    width: '150'
  }, {
    title: '单价',
    dataIndex: 'unitPrice',
    slotName: 'unitPrice',
    width: '150'
  }, {
    title: '数量',
    dataIndex: 'quantity',
    slotName: 'quantity',
    width: '150'
  }, {
    title: '费用状态',
    dataIndex: 'status',
    slotName: 'status',
    width: '150'
  }, {
    title: '结算对象',
    dataIndex: 'settlerName',
    slotName: 'settlerName',
    width: '200'
  }, {
    title: '发票类型',
    dataIndex: 'invoiceName',
    slotName: 'invoiceName',
    width: '150'
  }, {
    title: '税率',
    dataIndex: 'invoiceTaxRate',
    slotName: 'invoiceTaxRate',
    width: '150'
  }, {
    title: '备注',
    dataIndex: 'remark',
    slotName: 'remark',
    width: '150'
  }, {
    title: '开票中金额',
    dataIndex: 'invoicingAmount',
    slotName: 'invoicingAmount',
    width: '150'
  }, {
    title: '开票金额',
    dataIndex: 'invoicedAmount',
    slotName: 'invoicedAmount',
    width: '150'
  }, {
    title: '销账金额',
    dataIndex: 'writtenOffAmount',
    slotName: 'writtenOffAmount',
    width: '150'
  }, {
    title: '未销账金额',
    dataIndex: 'notWrittenOffAmount',
    slotName: 'notWrittenOffAmount',
    width: '150'
  }, {
    title: '减免金额',
    dataIndex: 'discountAmount',
    slotName: 'discountAmount',
    width: '150'
  }, {
    title: '准坏账金额',
    dataIndex: 'quasiBadDebtsAmount',
    slotName: 'quasiBadDebtsAmount',
    width: '150'
  }, {
    title: '坏账金额',
    dataIndex: 'badDebtsAmount',
    slotName: 'badDebtsAmount',
    width: '150'
  }, {
    title: '箱号',
    dataIndex: 'containerNo',
    slotName: 'containerNo',
    width: '150'
  }, {
    title: '对账单编号',
    dataIndex: 'receivableNo',
    slotName: 'receivableNo',
    width: '150'
  }, {
    title: '对账备注',
    dataIndex: 'receivableRemark',
    slotName: 'receivableRemark',
    width: '150'
  }, {
    title: '登记人',
    dataIndex: 'creatorName',
    slotName: 'creatorName',
    width: '150'
  }, {
    title: '登记时间',
    dataIndex: 'createTime',
    slotName: 'createTime',
    width: '200',
    ellipsis: false,
    tooltip: false,
  }
])
const incomeColumns_1 = ref([//收入预估金额
  {
    title: '',
    fixed: 'left',
    slotName: 'operate',
    width: '80',
  }, {
    title: '金额(含税)',
    dataIndex: 'taxIncludedAmount',
    slotName: 'taxIncludedAmount',
    width: '150',
    fixed: 'left',
  }, {
    title: '币别',
    dataIndex: 'currency',
    slotName: 'currency',
    width: '150',
  }, {
    title: '汇率',
    dataIndex: 'currencyExchangeRate',
    slotName: 'currencyExchangeRate',
    width: '150'
  }, {
    title: '单价',
    dataIndex: 'unitPrice',
    slotName: 'unitPrice',
    width: '150'
  }, {
    title: '数量',
    dataIndex: 'quantity',
    slotName: 'quantity',
    width: '150'
  }, {
    title: '费用状态',
    dataIndex: 'status',
    slotName: 'status',
    width: '150'
  }, {
    title: '结算对象',
    dataIndex: 'settlerName',
    slotName: 'settlerName',
    width: '150'
  }, {
    title: '发票类型',
    dataIndex: 'invoiceName',
    slotName: 'invoiceName',
    width: '150'
  }, {
    title: '税率',
    dataIndex: 'invoiceTaxRate',
    slotName: 'invoiceTaxRate',
    width: '150'
  }, {
    title: '备注',
    dataIndex: 'remark',
    slotName: 'remark',
    width: '150'
  }, {
    title: '开票中金额',
    dataIndex: 'invoicingAmount',
    slotName: 'invoicingAmount',
    width: '150'
  }, {
    title: '开票金额',
    dataIndex: 'invoicedAmount',
    slotName: 'invoicedAmount',
    width: '150'
  }, {
    title: '销账金额',
    dataIndex: 'writtenOffAmount',
    slotName: 'writtenOffAmount',
    width: '150'
  }, {
    title: '未销账金额',
    dataIndex: 'notWrittenOffAmount',
    slotName: 'notWrittenOffAmount',
    width: '150'
  }, {
    title: '减免金额',
    dataIndex: 'discountAmount',
    slotName: 'discountAmount',
    width: '150'
  }, {
    title: '准坏账金额',
    dataIndex: 'quasiBadDebtsAmount',
    slotName: 'quasiBadDebtsAmount',
    width: '150'
  }, {
    title: '坏账金额',
    dataIndex: 'badDebtsAmount',
    slotName: 'badDebtsAmount',
    width: '150'
  }, {
    title: '箱号',
    dataIndex: 'containerNo',
    slotName: 'containerNo',
    width: '150'
  }, {
    title: '对账单编号',
    dataIndex: 'receivableNo',
    slotName: 'receivableNo',
    width: '150'
  }, {
    title: '对账备注',
    dataIndex: 'receivableRemark',
    slotName: 'receivableRemark',
    width: '150'
  }, {
    title: '登记人',
    dataIndex: 'creatorName',
    slotName: 'creatorName',
    width: '150'
  }, {
    title: '登记时间',
    dataIndex: 'createTime',
    slotName: 'createTime',
    width: '200',
    ellipsis: false,
    tooltip: false,
  }

])
const coustColumns = ref([
  {
    title: '',
    fixed: 'left',
    slotName: 'operate',
    width: '80',
  }, {
    title: '金额(含税)',
    dataIndex: 'taxIncludedAmount',
    slotName: 'taxIncludedAmount',
    width: '150',
    fixed: 'left',
  }, {
    title: '币别',
    dataIndex: 'currency',
    slotName: 'currency',
    width: '150',
  }, {
    title: '汇率',
    dataIndex: 'currencyExchangeRate',
    slotName: 'currencyExchangeRate',
    width: '150'
  }, {
    title: '单价',
    dataIndex: 'unitPrice',
    slotName: 'unitPrice',
    width: '150'
  }, {
    title: '数量',
    dataIndex: 'quantity',
    slotName: 'quantity',
    width: '150'
  }, {
    title: '费用状态',
    dataIndex: 'status',
    slotName: 'status',
    width: '150'
  }, {
    title: '结算对象',
    dataIndex: 'settlerName',
    slotName: 'settlerName',
    width: '200'
  }, {
    title: '发票类型',
    dataIndex: 'invoiceName',
    slotName: 'invoiceName',
    width: '150'
  }, {
    title: '税率',
    dataIndex: 'invoiceTaxRate',
    slotName: 'invoiceTaxRate',
    width: '150'
  }, {
    title: '发票号',
    dataIndex: 'invoiceNo',
    slotName: 'invoiceNo',
    width: '150'
  }, {
    title: '代收代付',
    dataIndex: 'proxyFee',
    slotName: 'proxyFee',
    width: '150'
  }, {
    title: '支付方式',
    dataIndex: 'paymentMethodName',
    slotName: 'paymentMethodName',
    width: '150'
  }, {
    title: '支票号',
    dataIndex: 'chequeNo',
    slotName: 'chequeNo',
    width: '150'
  }, {
    title: '附件',
    dataIndex: 'files',
    slotName: 'files',
    width: '200'
  }, {
    title: '备注',
    dataIndex: 'remark',
    slotName: 'remark',
    width: '150'
  }, {
    title: '已付款金额',
    dataIndex: 'writtenOffAmount',
    slotName: 'writtenOffAmount',
    width: '150'
  }, {
    title: '未付款金额',
    dataIndex: 'notWrittenOffAmount',
    slotName: 'notWrittenOffAmount',
    width: '150'
  }, {
    title: '不含税金额',
    dataIndex: 'untaxedAmount',
    slotName: 'untaxedAmount',
    width: '150'
  }, {
    title: '箱号',
    dataIndex: 'containerNo',
    slotName: 'containerNo',
    width: '150'
  }, {
    title: '请款单号',
    dataIndex: 'writeOffNo',
    slotName: 'writeOffNo',
    width: '150'
  }, {
    title: '登记人',
    dataIndex: 'creatorName',
    slotName: 'creatorName',
    width: '150'
  }, {
    title: '登记时间',
    dataIndex: 'createTime',
    slotName: 'createTime',
    width: '200',
    ellipsis: false,
    tooltip: false,
  }
])
const search = ref('') //费用项目搜索条件
const name = ref('') //结算对象搜索条件
const currencyOptions = ref([])//币种下拉
const settlerOptions = ref([])//结算对象下拉
const invoiceOptions = ref([])//发票类型下拉
const invoiceTaxRateOptions = ref([])//税率下拉
const paymentMethodCodeOptions = ref([]) //支付方式下拉
const formData = ref({})//表格行编辑form表单绑定数据


// 保存行编辑
const saveEdit = (record) => {
  // console.log('save edit', record)
  formRef.value.validate(async (err, value) => {
    if (!err) {
      try {
        let res
        if (props.type == 'income') {
          let param = {
            currency: record.currency,
            currencyExchangeRate: record.currencyExchangeRate,
            currencyName: record.currencyName,
            feeCode: record.feeCode,
            feeName: record.feeName,
            feeSource: record.feeSource,
            feeType: record.feeType,
            id: record.id,
            invoiceCode: record.invoiceCode,
            invoiceName: record.invoiceName,
            invoiceTaxRate: record.invoiceTaxRate,
            logisticsId: record.logisticsId,
            quantity: record.quantity,
            receivableRemark: record.receivableRemark,
            refundSign: record.refundSign,
            remark: record.remark,
            settlerId: record.settlerId,
            settlerName: record.settlerName,
            statementId: record.statementId,
            statementNo: record.statementNo,
            status: record.status,
            taxIncludedAmount: record.taxIncludedAmount,
            unitPrice: record.unitPrice,
          }
          res = await settleTrackApi.settleTrackIncome(param)
        } else {
          // console.log(record)
          let param = {
            chequeNo: record.chequeNo,
            currency: record.currency,
            currencyExchangeRate: record.currencyExchangeRate,
            currencyName: record.currencyName,
            feeCode: record.feeCode,
            feeName: record.feeName,
            feeSource: record.feeSource,
            feeType: record.feeType,
            id: record.id,
            invoiceCode: record.invoiceCode,
            invoiceName: record.invoiceName,
            invoiceNo: record.invoiceNo,
            invoiceTaxRate: record.invoiceTaxRate,
            invoices: record.files,
            logisticsId: record.logisticsId,
            paymentMethodCode: record.paymentMethodCode,
            paymentMethodName: record.paymentMethodName,
            proxyFee: record.proxyFee,
            quantity: record.quantity,
            remark: record.remark,
            settlerId: record.settlerId,
            settlerName: record.settlerName,
            statementId: record.statementId,
            statementNo: record.statementNo,
            status: record.status,
            taxIncludedAmount: record.taxIncludedAmount,
            unitPrice: record.unitPrice,
          }
          res = await settleTrackApi.settleTrackCost(param)
        }
        if (res.code == 200) {
          Message.success('保存成功')
          record.edit = false
          emits('refreshDetailItem', record.currency)//传币种参数
          emits('refreshDetail')
        }
      } catch (error) {
        console.log(error)
      }
    }
  })
}
// 跳转页面
const goToUrl = (key, record) => {
  console.log(key)
  if (key === 'receivableNo') {
    //TODO 点击后新开客户对账单详情页面
    router.push({
      path: '/mos/CRM/contract/list/details',
      query: {
        id: record.id.toString()
      }
    })
  } else if (key === 'writeOffNo') {
    //TODO 点击后新开请款单详情页面
    router.push({
      path: '/mos/fundRequest/detail',
      query: {
        id: record.writeOffId.toString()
      }
    })
  }
}
// 取消行编辑
const cancelEdit = (item) => {
  const currentIndex = editRowList.value.findIndex(v => v.id === item.id)
  if (currentIndex != -1) {
    for (let key in editRowList.value[currentIndex]) {
      item[key] = editRowList.value[currentIndex][key]
    }
  }
  editRowList.value.splice(currentIndex, 1)
  item.edit = false
}

// 保存编辑中的数据
const editRowList = ref([])
// 编辑事件
const edit = (item) => {
  editRowList.value.push(cloneDeep(item))
  item.currencyExchangeRateDisabled = props.datas.currency == item.currency
  setRateOptions(item.invoiceCode, item)
  item.edit = true
}
// 删除
const deleteItem = async (item) => {
  // console.log(item)
  let ids = item.id && [item.id.toString()]
  let res
  let isActive = activeName.value == '2'//是否为预估费用
  let param = {
    statementId: isActive ? tableDatas_1.value[0].statementId.toString() : tableDatas.value[0].statementId.toString(),
    ids
  }
  // console.log('param',param)
  if (props.type == 'income') {
    res = isActive ? await settleTrackApi.settleTrackBatchEstimateincome(param) : await settleTrackApi.settleTrackBatchIncome(param)
  } else {
    res = await settleTrackApi.settleTrackBatchCost(param)
  }
  if (res.code == 200) {
    Message.success('删除成功')
    emits('refreshDetailItem')//刷新弹窗详情数据
    emits('refreshDetail')
  }
}
//是否可以编辑/删除
const showEditAndDelete = (item) => {
  let showCheckbox = false
  if (props.type == 'income') {
    //  收入显示判断：非代收代付 AND 非调账(即新增和补录)且费用状态==未确认、确认中  or 调账且费用状态未确认 ）AND (应收关闭未关闭 且 补录未关闭) 
    // 即三个条件： 已确认的不能修改、 代收代付的不能修改 、应收关闭标识=true 且 补录关闭=true不能修改
    showCheckbox = !item.proxyFee && ((item.feeType != 3 && item.status != 3) || (item.feeType == 3 && item.status == 1)) && !(props.datas.incomeMakeUpLock && props.datas.incomeClosed)
  } else {
    // 成本显示判断：
    /**
     * 费用来源 1-接单、2-报关、3-运输、4-仓储、5-结算、6-系统、7-结算调账、8-结算-新增导入成本、9-结算导入成本费用、10-结算导入收入费用、11-换单、12-供应商上传
    AND
    （
      未关账，成本未关闭，是否代收代付=否 AND 核销状态=未核销，可编辑
      OR未关账，成本未关闭，是否代收代付=是 AND 核销状态=未核销 AND 同步收入代理费是否已核销=未核销，可编辑
      OR 未关账，成本已关闭，费用类型(fee_type）=补录AND 补录未关闭 AND 核销状态=未核销，可编辑
      OR 关账后，费用类型=调账，调账中金额+已调账金额 = 0,可编辑
    ）

    业务描述：
    业务完成后无代收代付费用，因此成本关闭后无新的代收代付费用，不用考虑这种情况

    4月需求更新：
    结算单status >= 5 替代以前closed字段，表示已关账
     */
    // mock
    // this.datas.costClosed = true
    // item.feeSource = 1
    // item.feeType = 3
    // item.proxyFee = true
    // item.writeOffStatus = 1
    // item.adjustingAmount = 0
    // item.adjustmentAmount = 2
    // item.syncIncomeProxyFeeWrittenOff = false
    // 费用来源不等于 12 就可以编辑
    showCheckbox =
      (item.feeSource != 12) && ((!props.datas.costClosed && !(props.datas.status >= 5) &&
        !item.proxyFee && item.writeOffStatus == 1) ||
        (!props.datas.costClosed && !(props.datas.status >= 5) &&
          item.proxyFee && item.writeOffStatus == 1 && !item.syncIncomeProxyFeeWrittenOff) || // syncIncomeProxyFeeWrittenOff:同步收入代理费是否已核销(0/false-未核销、1/true-核销)
        (props.datas.costClosed && !(props.datas.status >= 5) && item.feeType == 2 && // 补录
          !props.datas.costMakeUpLock && item.writeOffStatus == 1) ||
        (props.datas.status >= 5 && item.feeType == 3 && // 调账
          item.adjustingAmount + item.adjustmentAmount == 0)) &&
      !(item.receivableNo && item.status == 3) // 有对账单编号并且状态是已确认 ×
  }
  //   this.$set(item, 'showCheckbox', showCheckbox)
  return showCheckbox
}
const tabChange = (val) => {
  activeName.value = val
}

const infoData = computed(() => {
  const data = tableDatas_1.value.length ? tableDatas_1.value : tableDatas.value
  const res = data.length && data[0]
  return res || {}
})
watch(
  () => props.feeDetail,
  (newVal, oldVal) => {
    let data = cloneDeep(newVal)
    if (props.type == 'income') {
      tableDatas.value = data.incomes || []
      tableDatas_1.value = data.estimateIncomes || []
    } else {
      tableDatas.value = data || []
    }
    formData.value.tableDatas = tableDatas.value
    getCurrencyOptions()
    getRelationsOptions()
    getInovicesOptions()
    getPaymentOptions()
  },
  {
    deep: true
  }
)
const customRequest = async (option, record) => {
  // console.log(option)
  const { onSuccess, onError, fileItem } = option
  const { code, data } = await settleTrackApi.fileUpload({
    file: fileItem.file
  })
  if (code == 200) {
    record.files.push({
      fileName: data.fileName,
      fileUrl: data.url
    })
  }
}

// 状态转换
const filterStatus = (val) => {
  let color
  let name
  switch (val) {
    case 1:
      color = 'LC9';
      name = '未确认';
      break
    case 2:
      color = 'LC2';
      name = '确认中';
      break
    case 3:
      color = 'LC2';
      name = '已确认';
      break
    default:
      color = ''
      name = ''
      break
  }
  return {
    color,
    name
  }
}
// 请求支付方式
const getPaymentOptions = async () => {
  const { code, data } = await settleTrackApi.basicdataCodeSelect(['paymentMethod'])
  if (code == 200) {
    paymentMethodCodeOptions.value = data.PaymentMethod
  }
}
// 选择支付方式事件
const changePayment = (val, record) => {
  record.paymentMethodCode = val
  record.paymentMethodName = paymentMethodCodeOptions.value.find(
    (v) => v.codes == val
  ).codeName
}
// 税率展示过滤器
const filterTaxRate = (val) => {
  return val * 100 + '%'
}
// 根据当前选中的发票类型设置税率
const setRateOptions = (val, record) => {
  record.currentInvoice = invoiceOptions.value.find((v) => v.code == val) || {}
  invoiceTaxRateOptions.value = record.currentInvoice.child.filter(item => {
    return item.taxRate != null
  })
}
// 发票类型变更
const changeInvoice = (val, record) => {
  setRateOptions(val, record)
  // 默认发票税率，用修改费用项目时请求的默认发票类型
  record.invoiceCode = record.currentInvoice.code
  record.invoiceName = record.currentInvoice.name
  record.invoiceTaxRate = ''
  record.invoiceTaxRate = invoiceTaxRateOptions.value.find(
    (v) => v.defaults
  ).taxRate
}
// 获取发票类型
const getInovicesOptions = async () => {
  if (invoiceOptions.value.length > 0) return
  const res = await commonApi.settleBasicEnterpriseInvoice()
  invoiceOptions.value = res
}
// 金额变更
const totalChange = (record) => {
  let num = Number(record.taxIncludedAmount) / Number(record.quantity)
  // fixedNumber(
  //     Number(form.taxIncludedAmount) / Number(form.quantity)
  // )

  if (!isNaN(num)) {
    record.unitPrice = num
  }
}
// 单价/数量 输入框修改
const quantityChange = (record) => {
  let num = Number(record.quantity) * Number(record.unitPrice)
  // fixedNumber(
  //     Number(form.quantity) * Number(form.unitPrice)
  // )

  if (!isNaN(num)) {
    record.taxIncludedAmount = num
  }
}
// 获取币别
const getCurrencyOptions = async () => {
  const res = await commonApi.getCurrency()
  currencyOptions.value = res
}
//切换币别事件
const changeCurrency = (val, record) => {
  console.log(val, record)
  let item = currencyOptions.value.find((v) => v.code == val)
  record.currencyName = item.name
  record.currencySymbol = item.symbol
  getCurrencyRate(record)
}
// 查询企业币种汇率
const getCurrencyRate = async (record) => {
  if (!record.currency || !props.datas.currency || !props.datas.ownerId) {
    return
  }
  const param = {
    sourceCode: record.currency,
    convertCode: props.datas.currency,
    ownerId: props.datas.ownerId
  }
  let { code, message, data } = await settleTrackApi.settleBasicCurrencyRate(param)
  if (code == 200) {
    if (data && data.exchangeRate) {
      record.currencyExchangeRate = parseFloat(setNumericText(
        Number(data.exchangeRate),
        { format: 4 }
      ))
    } else {
      record.currencyExchangeRate = ''
    }
  }
  // 所选币别与结算币别不一致时，可修改
  record.currencyExchangeRateDisabled =
    props.datas.currency == record.currency
}
// 获取结算对象
const remoteMethod2 = async (val) => {
  name.value = val
  await getRelationsOptions()
}
//获取结算对象数据
const getRelationsOptions = async () => {
  settlerOptions.value = await commonApi.queryRelationByLabelCode({
    relationType: 8,
    name: name.value
  })
}
// 编辑结算对象
const changeSettler = (record) => {
  let item = settlerOptions.value.find((v) => v.enterpriseId == record.settlerId)
  if (item) {
    record.settlerId = item.enterpriseId
    record.settlerName = item.name
  }
}
// 查看附件
const downLoadFile = (row) => {
  let fileUrl = row.fileUrl || ''
  let fileName = row.fileName || ''
  let arr = fileUrl.split('.')
  let suffix = arr[arr.length - 1].toLocaleLowerCase()
  let types = ['png', 'jpg', 'jpeg', 'bmp', 'gif', 'pdf']

  if (suffix && types.indexOf(suffix) > -1) {
    window.open(fileUrl, '_blank')
  } else {
    const row = {
      fileName,
      fileUrl
    }
    handleDownload(row)
    // utils.handleDownload(row)
  }
}
// 删除附件
const deleteFile = (file, index, fileList) => {
  fileList.splice(index, 1)
}

const openDialog = () => {
  dialogVisible.value = true;
}
const closeDialog = () => {
  dialogVisible.value = false
}
const emits = defineEmits(['refreshDetailItem', 'refreshDetail'])


defineExpose({
  openDialog,
  closeDialog,
})

</script>

<style lang="less" scoped>
.file_item {
  display: flex;
  align-items: center;
  justify-content: space-between;

  &:nth-child(n + 2) {
    margin-top: 2px;
  }

  .file_name {
    font-size: 14px;
    color: #2969FF;
    margin-right: 20px;
    flex: 1;
    cursor: pointer;
  }
}

& /deep/ .arco-tabs-tab {
  outline: none;
}

& /deep/ .arco-form-item {
  margin-bottom: 0;
}
</style>

