<template>
    <a-modal v-model:visible="dialogVisible" :on-before-ok="confirm" width="30%"
        :mask-closable="false">
        <template #title>
            加入账单
        </template>
        <div class="content" v-for="(item, index) in bills" :key="index">
            <div>
                有<span class="color-red">{{ item.currencySymbol }}{{ item.notJoinReceivableAmount }}</span>
                未加入账单，是否添加到以下账单中？
            </div>
            <template v-if="Array.isArray(item.details) && item.details.length > 0">
                <a-radio-group v-model="item.radio" direction="vertical">
                    <a-radio v-for="(i, idx) in item.details" :key="idx" :value="i.id">{{
                            i.no.lastIndexOf('_') >= 0
                                ? i.no.substring(0, i.no.lastIndexOf('_'))
                                : i.no
                    }}
                    </a-radio>
                </a-radio-group>
            </template>
            <p class="no-bill" v-else>暂无对账中的账单！</p>
        </div>
    </a-modal>
</template>

<script lang="ts">
export default {
    name: 'JoinBillPop'
}
</script>

<script setup lang="ts">
import { Message } from '@arco-design/web-vue';
import { defineProps, defineEmits, defineExpose, ref } from 'vue'
const props = defineProps({
    bills: Array
})
const dialogVisible = ref(false)

const openDialog = () => {
    dialogVisible.value = true;
}
const closeDialog = () => {
    dialogVisible.value = false
}
const emits = defineEmits(['confirm'])
const confirm = (down) => {
    emits('confirm', props.bills)
    down(false)
}


defineExpose({
    openDialog,
    closeDialog,
})

</script>

<style lang="less" scoped>
.content {
    margin-bottom: 15px;
}

.color-red {
    color: #f75768;
}

.radio {
    margin-top: 16px;
    font-size: 14px;
    line-height: 22px;
}

.no-bill {
    text-align: center;
}
</style>

