<template>
    <div class="page_head">
        <div class="title_shell">
            <div class="title_left">
                <span class="title">{{props.title}}</span>
                <slot name="tip"></slot>
            </div>
            <div class="title_right">
                <a-space>
                    <slot name="button"></slot>
                </a-space>

                <a-dropdown trigger="click" position="br">
                    <div class="more_button">
                        <icon-more-vertical :style="{ color: '#1669FF', fontSize: '32px' }" />
                    </div>
                    <template #content>
                        <div v-for="(item, index) in props.operateList" :key="index">
                            <a-doption v-if="!item.notShow" @click="item.callback">
                                <span>{{ item.title }}</span>
                            </a-doption>
                        </div>
                    </template>
                </a-dropdown>
            </div>
        </div>
        <div class="data_shell">
            <div class="data_item" v-for="(item, index) in props.infoList" :key="index">
                <span class="data_item_label">{{ item.name }}：</span>
                <span class="data_item_value">{{ item.value }}</span>
            </div>
        </div>
    </div>
</template>

<script lang="ts">
export default {
    name: 'PageHeadE'
}
</script>
<script setup lang="ts">
import { ref, defineProps } from 'vue'
const props = defineProps({
    title:String,
    infoList: {
        type: Array,
        default: []
    },
    operateList: {
        type: Array,
        default: []
    },
})
</script>

<style lang="less" scoped>
.page_head {
    box-sizing: border-box;
    padding: 0 20px;
    background-color: #fff;
}

.title_shell {
    display: flex;
    height: 70px;
    align-items: center;
    justify-content: space-between;

    .title_left {
        display: flex;
        align-items: center;

        .title {
            font-size: 20px;
            font-weight: 500;
            margin-right: 8px;
        }
    }

    .title_right {
        display: flex;

        .more_button {
            height: 32px;
            width: 18px;
            margin-left: 8px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}

.data_shell {
    height: 50px;
    display: flex;
    align-items: center;
    border-top: 1px solid #e5e6eb;

    .data_item {
        margin-right: 32px;

        &_label {
            font-size: 14px;
            color: #696C70;
        }

        &_value {
            font-size: 16px;
            font-weight: 500;
        }
    }
}
</style>