<template>
    <div class="time_locus">
        <a-steps type="dot" direction="vertical"
            :current="dataList.length">
            <a-step v-for="(item, index) in dataList" :key="index">
                <div class="step">
                    <div class="step_content">{{item.value}}</div>
                    <div class="step_text">{{ item.time }}</div>
                </div>
            </a-step>
        </a-steps>
    </div>
</template>

<script lang="ts">
export default {
    name: 'TimeLocus'
}
</script>
<script setup lang="ts">
import { defineProps } from 'vue'
const props = defineProps({
    dataList: {
        type: Array,
        default: {}
    },
})
</script>

<style lang="less">
.time_locus {
    padding: 24px 26px;

    .step {
        margin-left: 10px;

        &_content {
            font-size: 14px;
            line-height: 20px;
            color: #212121;
        }

        &_text {
            font-size: 12px;
            color: #86909C;
        }
    }
}
</style>