<template>
    <a-table :columns="parentcolumns" :scroll="scroll" :data="props.deliveryList" :expandable="expandable"
        :pagination="false" :bordered="{ cell: true }">
        <template #expand-row="{ record }">
            <a-table :columns="columns" :data="record.detailList" :expandable="expandable" :pagination="false"
                :bordered="{ cell: true }">
                <template #containerSize="{ record }">
                    <span v-if="!record.containerSize && !record.containerType">-</span>
                    <span v-else>{{
                            `${record.containerSize}'${record.containerType}`
                    }}</span>
                </template>
                <template #repairType="{ record }">
                    <span>{{
                            filterFumigation(record.repairType)
                    }}</span>
                </template>
                <template #fumigationType="{ record }">
                    <span>{{
                            filterFumigation(record.fumigationType)
                    }}</span>
                </template>
            </a-table>
        </template>
        <template #boxInfo="{ record }">
            <div v-if="record.containerquantityList && record.containerquantityList.length > 0">
                <span v-for="item in record.containerquantityList" :key="item.deliveryId"
                    :style="{ marginRight: '10px' }">
                    {{ item.containerSize }}'{{ item.containerType }}*{{ item.containerQuantity }}
                </span>
            </div>
        </template>
    </a-table>
</template>

<script lang="ts">
export default {
    name: 'TransportTable'
}
</script>
<script setup lang="ts">
import { defineProps, reactive } from 'vue'
const props = defineProps({
    deliveryList: {
        type: Array,
        default: []
    },
})
const scroll = {
    x: '100%',
    y: '100%'
}
const columns = [
    {
        title: '箱号',
        dataIndex: 'containerNo',
        width: '80'
    },
    {
        title: '箱型箱类',
        dataIndex: 'containerSize',
        slotName: 'containerSize',
        width: '100'
    },
    {
        title: '计划运输时间',
        dataIndex: 'estimatedDeliveryTime',
        width: '200'
    },
    {
        title: '提箱时间',
        dataIndex: 'gateOutDate',
        width: '200'
    },
    {
        title: '实际送达时间',
        dataIndex: 'actualDeliveryTime',
        width: '150'
    },
    {
        title: '还箱时间',
        dataIndex: 'containerReturnTime',
        width: '200'
    },
    {
        title: '修箱',
        dataIndex: 'repairType',
        slotName:'repairType',
        width: '80'
    },
    {
        title: '熏蒸',
        dataIndex: 'fumigationType',
        slotName:'fumigationType',
        width: '80'
    },
    {
        title: '备注',
        dataIndex: 'otherTransportation',
        width: '200'
    },
];
const parentcolumns = [
    {
        title: '门点',
        dataIndex: 'deliveryAddress',
        fixed: 'left',
        width: 180,
    },
    {
        title: '箱型箱量',
        slotName: 'boxInfo'
    }
]
const expandable = {
    title: '',
    width: 40,
}
const filterFumigation = (type) => {
    const status = {
        0: '未选择',
        1: '包干',
        2: '未包干'
      }
      return status[type] || '-'
}
</script>

<style lang="less">
</style>