<template>
  <div class="main">
    <nav-header :navConfig="navConfig"><template #detail>
        <div class="statue">
          <dw-tag :class="info.statusNameColor"><template #word> {{ info.statusName }} </template></dw-tag>
        </div>
      </template></nav-header>
    <div class="info">
      <base-info :info="info"></base-info>
    </div>
    <div class="tab">
      <a-tabs default-active-key="1">
        <a-tab-pane key="1" title="发票项目列表">
          <invoice-item v-if="info?.itemDetail&& info?.itemDetail?.items?.length != 0" :data="info.itemDetail.items"
            :currencySymbol="info.currencySymbol" />
        </a-tab-pane>
        <a-tab-pane key="2" title="应收费用明细">
          <fee-table v-if="info?.fees&&info?.fees?.length != 0" :data="info.fees" />
        </a-tab-pane>
      </a-tabs>

    </div>
  </div>
  <a-modal v-model:visible="info.backVisible" :before-close="backModalCancel"
    :on-before-ok="(done) => { backModalOk(done) }">
    <template #title>退回原因</template>
    <div>
      <a-input v-model="info.backText" placeholder="请输入退回原因"></a-input>
    </div>
  </a-modal>

  <print-modal ref="printModalRef" @handleBeforeOk="invoiceDetailPrint" />
  <confirm-modal :info="info" ref="confirmModalRef" @handleBeforeOk="init" />
</template>

<script lang="ts" setup>
import { Modal, Message } from '@arco-design/web-vue';
import baseInfo from '../../components/baseInfo.vue';
import invoiceItem from './components/invoiceItem.vue';
import feeTable from './components/feeTable.vue';
import navHeader from '@/components/navHeader/index.vue';
import printModal from './components/printModal.vue';
import { settlementApi } from '@/api/settlementApi/index';
import { ref, reactive, h } from 'vue';
import { useRoute, useRouter } from 'vue-router';
import confirmModal from './components/confirmModal.vue';
import { cloneDeep } from 'lodash';
const route = useRoute();
const printModalRef = ref<InstanceType<typeof printModal>>()
const confirmModalRef = ref<any>(null)
const router = useRouter();
const adaptData = (arr: any[]) => {
  return arr.map(el => {
    return {
      label: el.label,
      key: el.field,
      isRed: el.isRed,
      isRedRush: el.isRedRush
    }
  })
}
const basicInfoProps = adaptData([
  {
    field: 'fapiaoNo',
    label: '发票号'
  },
  {
    field: 'payerName',
    label: '开票抬头'
  },
  {
    field: 'payerTaxNo',
    label: '纳税人识别号'
  },
  {
    field: 'addressPhone',
    label: '开票抬头地址电话'
  },
  {
    field: 'bankNameIban',
    label: '开票抬头开户行账'
  },
  {
    field: 'ownerName',
    label: '销货单位'
  },
  {
    field: 'invoiceName',
    label: '发票类型'
  },

  {
    field: 'productName',
    label: '产品名称'
  },
  {
    field: 'currency',
    label: '币别'
  },
  {
    field: 'taxAmount',
    label: '金额（含税）'
  },
  {
    field: 'untaxedAmount',
    label: '金额（不含税金额)'
  },
  {
    field: 'tax',
    label: '税额'
  },
  {
    isRedRush: true,
    field: 'oldFapiaoNo',
    label: '原发票号' // 红冲加了这两个字段
  },
  {
    isRedRush: true,
    field: 'redCode',
    label: '红字编码', // 红冲加了这两个字段
    isRed: true
  },
  {
    field: 'creatorName',
    label: '申请人'
  },
  // {
  //   field: 'creatorName',
  //   label: '申请部门'
  // },
  {
    field: 'createTime',
    label: '申请日期'
  },
  {
    field: 'remark',
    label: '开票要求'
  },
  {
    field: 'rollbackReason',
    label: '驳回原因'
  }
])
const info = reactive<{ [key: string]: any }>({
  title: '基本信息',
  fapiaoId: '', // 选择发票时的选项
  list: [] as any[],
  status: '',
  currencySymbol: '',
  no: '',
  statusNameColor: '',
  statusName: '',
  isRedRush: false, // 是否红冲发票
  fees: [] as any[],
  invoiceCode: '',
  id: '',
  chooseFapiao: false,
  fapiaoNoOptions: [] as any[],
  /*   invalidButton	boolean	
非必须作废按钮(false-不显示,true-显示)	invalidInvoiceButton	boolean	
非必须撤销开票按钮(false-不显示,true-显示)	downloadButton	boolean	
非必须下载按钮(false-不显示,true-显示)	previewButton	boolean	
非必须 预览按钮(false-不显示,true-显示)	printButton	boolean	
非必须打印按钮(false-不显示,true-显示)	supplementPrintButton	boolean	
非必须补打按钮(false-不显示,true-显示)	invoiceButton	boolean	
非必须 确认开票按钮(false-不显示,true-显示)	rollbackButton	boolean	
非必须退回按钮(false-不显示,true-显示)	applyRedCodeButton	boolean	
非必须申请红字编码(false-不显示,true-显示)	queryRedCodeButton	boolean	
非必须申请红字编码(false-不显示,true-显示)
  */
  
  invalidButton: false,
  invalidInvoiceButton: false,
  
  downloadButton:false,
  previewButton:false,
  printButton:false,
  supplementPrintButton:false,
  invoiceButton:false,
  rollbackButton:false,
  applyRedCodeButton:false,
  queryRedCodeButton:false,
  backVisible: false,
  backText: '',
  itemDetail: {
    taxAmountTotal: '0',
    taxTotal: "0",
    items: [] as any[]
  }
});
const navConfig = reactive({
  title: '发票详情',
  btns: [
    {
      icon: '',
      title: '作废',
      isShow: ()=>info.invalidButton,
      callback: () => { handleInvalid() }
    },
    {
      icon: '',
      title: '撤销开票',
      isShow: ()=>info.invalidInvoiceButton,
      callback: () => { invoiceDetailRevoke() }
    },
    {
      icon: '',
      title: '下载',
      type: '',
      value: '',
      isShow: ()=>info.downloadButton,
      callback: () => { invoiceDetailDownload() }
    },
    {
      icon: '',
      title: '预览',
      type: '',
      value: '',
      isShow: ()=>info.previewButton,
      callback: () => { preview() }
    },
    {
      icon: '',
      title: '打印',
      type: '',
      value: '',
      isShow: ()=>info.printButton,
      callback: () => { invoicePrint() }
    }, {
      icon: '',
      title: '补打',
      type: '',
      value: '',
      isShow: ()=>info.supplementPrintButton,
      callback: () => { invoicePrint() }

    },
    {
      icon: '',
      title: '确认开票',
      type: '',
      value: '',
      isShow: ()=>info.invoiceButton,
      callback: () => { executeInvoice() }
    },
    {
      icon: '',
      title: '退回',
      type: '',
      value: '',
      isShow: ()=>info.rollbackButton,
      callback: () => { invoiceDetaRollback() }
    },
    {
      icon: '',
      title: '申请红字编码',
      type: '',
      value: '',
      isShow: ()=>info.applyRedCodeButton,
      callback: () => { invoiceApplyRedcode() }
    },
    {
      icon: '',
      title: '查询红字编码',
      type: '',
      value: '',
      isShow: ()=>info.queryRedCodeButton,
      callback: () => { invoicePoolQueryRedcode() }
    },
  ],
});

const handleInvalid = () => {
  Modal.warning({
    title: '提示',
    hideCancel: false,
    alignCenter: true,
    content: () =>
      h('div', { class: 'info-modal-content' }, [
        h(
          'span',
          { style: 'margin-left: 60px;' },
          `是否确认作废发票？`
        ),
      ]),
    cancelText: '取消',
    async onOk() {
      const { code }: any = await settlementApi.invoiceInvalid({ id: info.id })
      if (code == 200) {
        Message.success('作废成功');
        init();
      }
    },
  });
}
const invoiceDetailRevoke = () => {
  Modal.warning({
    title: '提示',
    hideCancel: false,
    alignCenter: true,
    content: () =>
      h('div', { class: 'info-modal-content' }, [
        h(
          'span',
          { style: 'margin-left: 60px;' },
          `是否确认撤销发票？`
        ),
      ]),
    cancelText: '取消',
    async onOk() {
      const { code }: any = await settlementApi.invoiceDetailRevoke({ id: info.id })
      if (code == 200) {
        Message.success('撤销成功');
        init();
      }
    },
  });
}

// 下载 
const invoiceDetailDownload = async () => {
  let { data }: any = await settlementApi.invoiceDetailDownload({ id: info.id })
  window.open(data, '_blank')
}

// 预览
const preview = () => {
  print(true)
}
// 打印 补打
const invoicePrint = () => {
  print(false)
}
const print = async (yl: boolean, fromSupplimentprint?: any) => {
  let { code, data }: any = await settlementApi.invoicePrintMessage({ id: info.id })
  if (code != 200) return
  printModalRef.value!.handleClick(cloneDeep(data), info, yl, fromSupplimentprint)
}
const invoiceDetailPrint = async () => {
  let { code, data }: any = await settlementApi.invoiceDetailPrint({ id: info.id })
  Message.success('打印成功')
}
const init = async () => {
  const { data } = await settlementApi.invoiceDetail({
    id: route.query.id,
  });
// let json = {"requestId":"91DB69C3F86BFE695C818B39AB6A840B9108A0324836127923A80E4A828ECA29","timestamp":1658721978172,"code":"200","message":"success","data":{"id":1519214214119747584,"fapiaoNo":"GM22040003","fapiaoCode":"","oldFapiaoNo":"","oldFapiaoCode":"","oldInvoiceId":null,"payerId":8544,"invoiceType":1,"payerName":"WLH第三付款方","tin":null,"payerTaxNo":"5345345345345","payerAddress":"沙盖单位放假晚IE经发委地址","payerPhone":"15677778888","addressPhone":"沙盖单位放假晚IE经发委地址 15677778888","payerBankName":"WLH第三付款方银行","payerBankIban":"765756756756756756","bankNameIban":"WLH第三付款方银行 765756756756756756","ownerId":377,"ownerName":"上海大微物流科技有限公司","invoiceCode":"QTFP","invoiceName":"其它发票","fapiaoUrl":null,"invoiceExchangeRate":0.00,"createTime":"2022-04-27","productCode":null,"productName":null,"currency":"CNY","currencyName":"人民币","currencySymbol":"¥","originalCurrencyAmount":56.00,"taxAmount":56.00,"untaxedAmount":56.00,"tax":0.00,"status":4,"statusName":"已生效","statusNameColor":"LC2","docking":false,"creator":75098,"creatorName":"wanglh","createEnterpriseId":5657,"createEnterpriseName":"大微集团","redCode":null,"remark":"","rollbackReason":null,"itemDetail":null,"fees":[{"id":1519214214119747585,"statementId":1519188163134025728,"statementNo":"T_MYBD220401031","mblNo":"AS3456908","hblNo":"","mblFileUrl":null,"statementIncomeId":1519212453527089152,"statementIncomeName":"保安费","currency":"CNY","currencyName":"人民币","currencySymbol":"¥","untaxedAmount":56.00,"taxAmount":56.00,"originalCurrencyAmount":56.00,"confirmAmount":6797.00,"isCloseAccount":false,"clientId":8541,"clientName":"WLH全棉时代"}],"applyRedCode":false,"invalidButton":false,"invalidInvoiceButton":false,"downloadButton":false,"previewButton":false,"printButton":false,"supplementPrintButton":false,"invoiceButton":false,"rollbackButton":false,"applyRedCodeButton":false,"queryRedCodeButton":false,"chooseFapiao":false,"qdbz":0}}
// const data = json.data
//   console.log('data',data);
  for (let key in data) {
    
    info[key] = data[key]
  }
  let listKeys = basicInfoProps
  listKeys = listKeys.filter(el => {
    if (data.isRedRush) {
      return el
    } else {
      return !el.isRedRush
    }
  })
  // }
  info.list = listKeys.map((v) => {
    let el: any = cloneDeep(v)
    let arr = ['taxAmount', 'untaxedAmount', 'tax']
    el.key = data[el.key]
    if (arr.includes(v.key)) el.slotName = 'amountSymbol'
    return el
  })
};

// 确认开票
const executeInvoice = async () => {
    // invoiceDetailExecute()

  // return
  if (info.chooseFapiao) {
    // this.$refs.confirmPop.openDialog()
    confirmModalRef.value.handleClick()
  } else {
    invoiceDetailExecute()
  }
}

let backModalOkResolve: any = null
let backModalOkReject: any = null

const backModalOk = (done: any) => {
  if (info.backText === '') {
    done(false)
    Message.error("请填写退回原因")
    backModalOkReject?.()
    return
  }
  done(true)
  backModalOkResolve?.()
}
const backModalCancel = () => {
  backModalOkResolve = null
  backModalOkReject = null
}
const getbackText = () => {
  info.backVisible = true
  return new Promise((resolve, reject) => {
    backModalOkResolve = resolve
    backModalOkReject = reject
  })
}
// 退回
const invoiceDetaRollback = async () => {
  await getbackText()
  await settlementApi.invoiceDetaRollback({
    id: info.id,
    rollbackReason: info.backText
  })
  init();
}

const invoiceDetailExecute = async () => {
  await settlementApi.invoiceDetailExecute({
    invoiceId: info.id.toString(),
    invoicePoolId: info.fapiaoId || ''
  })

  init();
}

// 申请红字编码
const invoiceApplyRedcode = async () => {
  let { code }: any = await settlementApi.invoiceApplyRedcode({
    id: info.id
  })
  if (code != 200) return
  Message.success('申请成功')
  init();
};
// 查询红字编码
const invoicePoolQueryRedcode = async () => {
  let { code }: any = await settlementApi.invoicePoolQueryRedcode({
    id: info.id
  })
  if (code != 200) return

  Message.success('查询成功')
  init()
};

init();

</script>

<style lang="less" scoped>
.main {
  padding-top: 60px;
  // height: 100%;
  padding-bottom: 1px;
  background-color: #f1f1f1;

  .no {
    color: #2969ff;
    margin-right: 20px;
  }

  .info {
    margin: 20px;
    background-color: #fff;
  }

  .tab {
    margin: 20px;
    padding: 20px 31px;
    background-color: #fff;
  }
}
</style>