<template>
  <div class="container">
    <PageHeadE title="供应商账单详情" :infoList="infoList">
      <template #tip>
        <dw-tag :class="pageHead.statusConfig.color">
          <template #word>
            {{ pageHead.statusConfig.status }}
          </template>
        </dw-tag>
      </template>
      <template #button>
        <template v-for="(item, index) in pageHead.btns" :key="index">
          <a-button type="primary" v-if="!item.notShow" @click="item.callback">
            <template #icon v-if="item.icon">
              <component :is="item.icon"></component>
            </template>
            <template #default>{{ item.title }}</template>
          </a-button>
        </template>
      </template>
      <template #infoValue="{ record }">
        {{ billDetail.currencySymbol }}{{ record.value }}
        <span v-if="record.children">
          <a-popover position="right">
            <a-tag size="small" color="#FFECE8" v-if="record.children.name == '税'">
              <span :style="{ color: '#F53F3F' }">{{ record.children.name }}</span>
            </a-tag>
            <a-tag size="small" color="#fff4de" v-else>
              <span :style="{ color: '#ffa800' }">{{ record.children.name }}</span>
            </a-tag>
            <template #content>
              <div class="popup_text">
                {{ billDetail.currencySymbol }}{{ record.children.value }}
              </div>
            </template>
          </a-popover>
        </span>
      </template>
    </PageHeadE>
    <div class="page_content">
      <div class="baseinfo">
        <DescribeList title="基本信息" :data="billDetail" :columns="baseInfoColumn">
          <template #unauditedQuantity="{ record }">
            {{ record.unauditedQuantity || 0 }}/{{ length }}
          </template>
          <template #unauditedQuantitylabel="{ record }">
            {{ record.title }}
            <a-tooltip content="未确认业务数/账单业务总数拼接">
              <icon-info-circle />
            </a-tooltip>
          </template>
          <!-- <template #modifyQuantity="{ record }">
            <dw-tag class="LC1">
              <template #word>
                {{ record.modifyQuantity }}
              </template>
            </dw-tag>
          </template> -->
        </DescribeList>
      </div>
      <div class="table_shell">
        <CostTable ref="costTableRef" @selectChecked="selectChecked" :data="listData" :detail="billDetail"
          @receivableReview="receivableReview" @handleDelete="handleDelete" @handleAddTo="handleAddTo">
        </CostTable>
      </div>
    </div>
  </div>
  <exportPop ref="exportPopRef" type="2"></exportPop>
</template>

<script lang="ts">
export default {
  name: 'billTrackDetail'
}
</script>

<script setup lang="ts">
import { Modal, Message } from '@arco-design/web-vue';
import { reactive, defineEmits, defineExpose, ref, computed } from 'vue'
import { billTrackApi } from '@/api/billTrack';
import PageHeadE from './components/pageHeadE.vue';
import { useRoute } from 'vue-router';
import router from '@/router'
import { setNumericText } from '@/utils';
import DescribeList from './components/describeList.vue';
import CostTable from './components/table.vue';
import exportPop from '../../billTrack/components/exportPop.vue'
const route = useRoute()

const costTableRef = ref('null')
const exportPopRef = ref('null')
/**
 * 费用列表
 */
const listData = ref([]) //业务费用列表
const checkedBill = ref([]) //选中的费用
const selectChecked = (array) => { //表格选中
  console.log(array)
  checkedBill.value = array
  if (array && array.length > 0 && (billDetail.value.status == 2 || billDetail.value.status == 3)) {
    // console.log('确认账单')
    pageHead.btns.find(v => v.title == '确认账单').notShow = false
  } else {
    pageHead.btns.find(v => v.title == '确认账单').notShow = true
  }
}

//账单详情页-追加结算单
const handleAddTo = async (val) => {
  const params = {
    id: route.query.id,
    statementId: val
  }
  const { code } = await billTrackApi.receivableStatementAddTo(params)
  if (code == 200) {
    Message.success('添加成功！')
    costTableRef.value.clearSelect()
    getDetail()
  }
}

//复核确认
const receivableReview = (row) => {
  // console.log(row)
  Modal.info({
    title: '提示',
    content: '确定要复核确认吗?',
    closable: true,
    hideCancel: false,
    onBeforeOk: (done) => {
      let params = {
        id: row.id,
        receivableId: row.statementId
      }
      billTrackApi.receivableReview(params).then(res => {
        if (res.code == 200) {
          done(true)
          Message.success('复核确认成功')
          getDetail()
        } else {
          done(false)
        }
      }).catch(() => {
        done(false)
      })
    }
  });
}

//删除
const handleDelete = (row) => {
  Modal.info({
    title: '提示',
    content: '确定要删除结算单吗?',
    closable: true,
    hideCancel: false,
    onBeforeOk: (done) => {
      let params = {
        id: route.query.id,
        receivableStatementId: row.id
      }
      billTrackApi.receivableStatementDelete(params).then(res => {
        if (res.code == 200) {
          done(true)
          Message.success('删除成功！')
          costTableRef.value.clearSelect()
          getDetail()
        } else {
          done(false)
        }
      }).catch(() => {
        done(false)
      })
    }
  });
}


/**
 * 基本信息
 */
const billDetail = ref({})
const length = computed(() => { //账单业务总数
  return listData.value?listData.value.length:0
})
const baseInfoColumn = ref([
  {
    title: '账单编号',
    dataIndex: 'no',
  }, {
    title: '供应商',
    dataIndex: 'clientName',
  }, {
    title: '所属公司',
    dataIndex: 'ownerName',
  }, {
    title: '业务票数',
    dataIndex: 'unauditedQuantity',
    slotName: 'unauditedQuantity'
  },
  // {
  //   title: '更新业务数',
  //   dataIndex: 'modifyQuantity',
  //   slotName: 'modifyQuantity'
  // }, 
  {
    title: '修改日期',
    dataIndex: 'modifyTime',
  }, {
    title: '确认日期',
    dataIndex: 'confirmTime',
  },
])

/**
 * 页面表头
 */
const pageHead = reactive({
  btns: [
    // {
    //   icon: '',
    //   title: '自定义模板',
    //   notShow: false,
    //   callback: () => {
    //     router.push('/mos/billTrack/customizeTemplate')
    //   }
    // }, 
    {
      icon: '',
      title: 'Excel导出',
      notShow: false,
      callback: () => {
        exportPopRef.value.openDialog(route.query.id)
      }
    },
    {
      icon: '',
      title: '作废',
      notShow: true,
      callback: () => {
        handleInvalid()
      }
    },
    {
      icon: '',
      title: '确认账单',
      notShow: true,
      callback: () => {
        confrimBill()
      }
    }, {
      icon: '',
      title: '撤销确认',
      notShow: true,
      callback: () => {
        handleRevoke()
      }
    },
  ],
  statusConfig: {},//账单状态
})
const infoList = computed(() => {
  const infoList = [{
    name: '账单金额',
    value: ''
  }, {
    name: '已确认金额',
    value: ''
  }, {
    name: '未确认金额',
    value: ''
  }]
  infoList[0].value = formatNum(billDetail.value.amount)
  infoList[0].children = {
    name: '估',
    value: formatNum(billDetail.value.estimatedAmount)
  }
  infoList[1].value = formatNum(billDetail.value.confirmAmount)
  infoList[1].children = {
    name: '税',
    value: formatNum(billDetail.value.confirmAmountTax)
  }
  infoList[2].value = formatNum(billDetail.value.unconfirmedAmount)
  return infoList
})
//确认账单
const confrimBill = () => {
  console.log(checkedBill.value)
  Modal.info({
    title: '提示',
    content: '确定确认对账么？',
    closable: true,
    hideCancel: false,
    onBeforeOk: (done) => {
      done(true)
      Modal.info({
        title: '提示',
        content: '是否关闭收入，请确认',
        closable: true,
        hideCancel: false,
        onBeforeOk: async (doneDeep) => {
          let params = {
            receivableId: checkedBill.value[0].receivableId.toString(),
            details: [],
            closeIncome: true,
          }
          checkedBill.value.forEach((item) => {
            item.costs.forEach((row) => {
              if (!row.confirm) {
                params.details.push({
                  receivableStatementId: item.id.toString(),
                  feeCode: row.feeCode,
                })
              }
            })
          })
          const { code } = await billTrackApi.receivableBatchConfirm(params)
          if (code == 200) {
            doneDeep(true)
            Message.success('确认对账成功')
            costTableRef.value.clearSelect()
            getDetail()
          } else {
            doneDeep(false)
          }
        }
      });
    }
  });
}
// 撤销确认
const handleRevoke = () => {
  Modal.info({
    title: '提示',
    content: '确定撤销确认吗？',
    closable: true,
    hideCancel: false,
    onBeforeOk: async (done) => {
      // TODO 需要进行其他判断
      const { code, data } = await billTrackApi.receivableRollbackConfirm({
        id: route.query.id,
        close: true
      })
      if (code == 200) {
        done(true)
        Message.success('已撤销确认')
        costTableRef.value.clearSelect()
        getDetail()
      } else {
        done(false)
      }
    }
  });
}

//作废
const handleInvalid = () => {
  Modal.info({
    title: '提示',
    content: '是否作废对账单？',
    closable: true,
    hideCancel: false,
    onBeforeOk: async (done) => {
      const { code, data } = await billTrackApi.receivableDiscard(route.query.id)
      if (code == 200) {
        done(true)
        Message.success('作废成功！')
        costTableRef.value.clearSelect()
        getDetail()
      } else {
        done(false)
      }
    }
  });
}


/**
 * 公共
 */
const formatNum = (val) => {
  return setNumericText(val, { commas: true, zeroText: '0.00' })
}
const getDetail = async () => {
  const { code, data } = await billTrackApi.receivableDetail({
    id: route.query.id
  })
  if (code == 200) {
    pageHead.btns.find(v => v.title == '确认账单').notShow = true;
    pageHead.btns.find(v => v.title == '撤销确认').notShow = true;
    pageHead.btns.find(v => v.title == '作废').notShow = false;
    billDetail.value = data
    listData.value = data.statements
    if (listData.value && listData.value.length > 0) {
      listData.value.forEach((item) => {
        item.lastViewTime1 = data.lastViewTime
        item.costs.forEach((row) => {
          row.currencySymbol = data.currencySymbol
          row.status = data.status
        })
      })
    }
    switch (data.status) {
      case 1:
        pageHead.statusConfig = {
          color: 'LC1',
          status: '未复核'
        };
        break;
      case 2:
        pageHead.statusConfig = {
          color: 'LC6',
          status: '未确认'
        };
        break;
      case 3:
        pageHead.statusConfig = {
          color: 'LC3',
          status: '确认中'
        };
        break;
      case 4:
        pageHead.btns.find(v => v.title == '作废').notShow = true;
        pageHead.btns.find(v => v.title == '撤销确认').notShow = false;
        pageHead.statusConfig = {
          color: 'LC2',
          status: '已确认'
        };
        break;
      case 99:
        pageHead.btns.find(v => v.title == '作废').notShow = true;
        pageHead.statusConfig = {
          color: 'LC10',
          status: '已作废'
        };
        break;
      default:
        console.log('')
        break;
    }
  }
}

getDetail()
</script>

<style lang="less">
.container {
  background-color: var(--color-bg-2);
  display: flex;
  flex-direction: column;
  height: calc(~"100vh - 93px");

  .page_content {
    flex: 1;
    background-color: #F7F8FA;
    overflow: auto;
    box-sizing: border-box;
    padding: 0 20px;
    padding-bottom: 20px;

    .baseinfo {
      background-color: var(--color-bg-2);
      margin-top: 20px;
    }

    .table_shell {
      background-color: var(--color-bg-2);
      margin-top: 20px;
      margin-bottom: 20px;
    }
  }
}

& /deep/ .arco-tabs-content {
  padding-top: 0;
}
</style>