<template>
  <!-- 双方协议 -->
  <a-affix :offsetTop="93">
    <a-page-header
      :title="curTitle"
      :show-back="false"
      style="
        background: #fff;
        margin-top: -2px;
        border-bottom: 1px solid var(--color-neutral-3);
      "
    />
  </a-affix>
  <div class="container">
    <!-- 基本信息 style="display:none"-->
    <BaseInfo :contractInfo="contractInfo" ref="BaseInfoRef" @updateIsEdit='updateIsEdit'> </BaseInfo>
    <!-- 报价书 -->
    <Offer v-if="isBaseInfoYesNo&&isBaseEdit" :contractInfo="contractInfo"></Offer>
    <!-- 附件 -->
    <UploadFile
      v-if="isBaseInfoYesNo&&isBaseEdit"
      :contractInfo="contractInfo"
      @onUpdate="getContractInfo"
    ></UploadFile>
    <!-- 底部操作按钮 -->
    <div class="bottomButton" v-show="isBaseEdit">
      <DwButton size="small" @click="handleClose" style="margin-right: 8px">
        关闭
      </DwButton>
      <DwButton type="primary" size="small" @click="submitClick">
        提交
      </DwButton>
    </div>
  </div>
</template>

<script setup>
import { computed, reactive, onMounted, ref } from 'vue';
import { useRoute,useRouter } from 'vue-router';
import { contractManage } from '@/api/contractManage'; //当前页面api
import { Message } from '@arco-design/web-vue';
import { closePage } from '@/views/contractManage/utils.js';
import BaseInfo from './components/baseInfo/index.vue';
import Offer from './components/offer/index.vue';
import UploadFile from './components/uploadFile/index.vue';
const curTitle = computed(() => '合同签约 - ' + route.query.item);
const BaseInfoRef = ref(null);
const route = useRoute();
const router = useRouter()
// 合同id
const isBaseInfoYesNo = computed(() => route.query.contractInfoId);
const isBaseEdit = ref(false)
const updateIsEdit = (n) => { 
  isBaseEdit.value=n
 }
const contractInfo = reactive({});
// 获取详情，并传递下去，不用每次获取，节约流量
const getContractInfo = async () => {
  return await contractManage
    .contractInfo({ id: route.query.contractInfoId })
    .then(({ code, data }) => {
      if (code === '200') {
        Object.assign(contractInfo, data);
      }
    });
};
onMounted(async () => {
  if (route.query.contractInfoId) {
    await getContractInfo();
  }
});
// 动态url获取
const handleUrl = () => {
  const id = route.query.contractInfoId; //存在id则为编辑
  switch (route.query.item) {
    case '双方协议':
    case '试做报价':
      return id ? 'updateDoubleAgreement' : 'addDoubleAgreement';
    case '三方协议':
      return id ? 'updateThirdAgreement' : 'addThirdAgreement';
    case '控货双方协议':
      return id ? 'updateControlDoubleAgreement' : 'addControlDoubleAgreement';
    case '形式协议':
      return id
        ? 'updateContractFormalAgreement'
        : 'addContractFormalAgreement';
    case '补充协议/新增报价':
      return id ? 'updateSupplementaryAgreement' : 'addSupplementaryAgreement';
    default:
      console.error(`${curTitle.value}出错！`);
  }
};

// 提交
const submitClick = () => {
  const params = BaseInfoRef.value.handleParams();
  contractManage[handleUrl()]({
    ...params,
    status: 1,
  }).then(async (res) => {
    if (res.code == 200) {
      
      Message.success('操作成功！');
      router.push({
          path:'/mos/CRM/contract/customerContract/list',
        })
      closePage()
    }
  });
};
// 关闭
const handleClose = () => {
  Modal.warning({
    title: '提示',
    // titleAlign:'start',
    simple: true,
    // hideCancel:false,
    content: '确认关闭当前页面吗？',
    onBeforeOk: (done) => {
      done();
      closePage();
    },
  });
};
</script>

<style lang="less" scoped>
.container {
  padding: 20px 20px 80px 20px;
  background-color: var(--color-fill-2);
}
.bottomButton {
  position: fixed;
  display: flex;
  padding: 16px 20px;
  height: 62px;
  left: 0;
  right: 0;
  bottom: 0;
  background: #ffffff;
  box-shadow: 0px -1px 0px #e5e6eb;
  justify-content: flex-end;
  z-index: 9999;
}
</style>