<template>
  <div class="search_content">
    <div class="top">
      <SelectForm v-model:form="form"> </SelectForm>
    </div>

    <!-- 底部相关 -->
    <div style="height: 32px"></div>
    <div class="add_search">
      <DwButton @click="addSearch" type="text">
        <icon-plus /> 添加筛选条件
      </DwButton>

      <DwButton @click="see" type="text">
        <icon-plus /> see
      </DwButton>
    </div>
  </div>
</template>
<!-- <script>

// export default defineComponent({
//   name: 'SetFilter',
//   inheritAttrs: false,
// });
</script> -->
<script setup lang="ts">
import {
  defineComponent,
  ref,
  useAttrs,
  onMounted,
  h,
  resolveComponent,
  nextTick, watch,
} from 'vue';
import SelectForm from './select/selectForm/index.jsx'
import { filterOption } from '../filter'
// import listVue from '@/components/message-box/list.vue.js';

const props = defineProps({
  filterOption: {
    type: Object
  },
});
const form = ref({
  formItem: [] as any[],
});
const handleData = () => {
  // fieldType 字段数据类型：1-文本 2-整数 3-小数 4-布尔 5-时间 6-日期 7-选择
  handleSetColSelect(filterOption);
  handleSetInitRow(filterOption.filter(el=>el.require));
};
// 第二列 下拉选项值
let typeList = ref<any[]>([]);
const see = () => {
  console.log('see form.value.formItem', form.value.formItem);
}
// 设置第二列下拉数据
const handleSetColSelect = (filterOption:any[]) => {
  typeList.value = filterOption.filter(el=>!el.require).map((item) => {
    return {
      ...item,
      label: item.fieldName,
      value: item.viewSystemFieldId,
    };
  });
};
const handleSetInitRow = (oftenFilters: any) => {
  for (let index = 0; index < oftenFilters.length; index++) {
    form.value.formItem.push.apply(
      form.value.formItem,
      createTemplateData(oftenFilters[index], index, form.value.formItem)
    );
  }
  console.log('form.value.formItem', form.value.formItem);
};
// 生成 行 模板数据
const createTemplateData = (item: any = {}, index: number, parent: any, defaultValue: any[] = []) => {
  return [
    {
      hideLabel: true,
      currentLabel: '',
      currentKey: 'currentValue',
      currentValue: defaultValue[0] || '且', //默认值
      span: 3,
      itemType: () => {
        return h(
          'div',
          {
            style: {
              width: '80px',
              textAlign: 'center',
            },
          },
          index === 0 ? '当' : '且'
        )
      },
    },
    // 2
    {
      currentLabel: '',
      currentKey: 'currentValue',
      currentValue: item.fieldName,
      // innerFormItemDisabled: index < 2 ? false : true,
      span: 6,
      hideLabel: true,
      allowSearch: true,
      multiple: false,
      disabled: item.require,
      itemType: 'select',

      /* 
            change: async ({ item, index: currentIndex, form, e }) => {
              console.log('chang  changeparams',params);
              return
              // 定义当前选择的第二列
              const selectedItem = typeList.value.find((item) => item.value === e);
              // 设置第三列参数以及值
              form.formItem[currentIndex + 1].currentValue = '';
              form.formItem[currentIndex + 1].list =
                fieldTypeMapping[selectedItem.fieldType].list;
      
              // 设置第四列参数以及值
              form.formItem[currentIndex + 2].currentValue =
                fieldTypeMapping[selectedItem.fieldType]?.value; //默认值
              form.formItem[currentIndex + 2].itemType = //渲染类型
                selectedItem.fieldType === 4
                  ? null
                  : fieldTypeMapping[selectedItem.fieldType].itemType;
              // 如果第四列为下拉，则请求下拉列表
              if (selectedItem.fieldType === 7) {
                form.formItem[currentIndex + 2].currentLabel = selectedItem.label;
              }
            },
      */
      list: ({ item: formItem, index: formIndex, form }) => {
        formItem.list = typeList.value;
        console.log('formItem.list', formItem.list);
        // 设置第四列currentLabel  用于调取接口
        if (item.fieldType === 7) {
          const selectedItem = typeList.value.find((item) => item.value === formItem.currentValue) || {};
          form.formItem[formIndex + 2].currentLabel = selectedItem.label;
        }
      },
    // list:(()=>{
    //   console.log(`filterOption.filter(el=>el.require)`,filterOption.filter(el=>!el.require));
    //   return filterOption.filter(el=>el.require).map(el=>{
    //     return {
    //       label:el.fieldName,
    //       value:el.id
    //     }
    //   })
    // })
    },
    // 3
    {
      currentLabel: '',
      currentKey: 'currentValue',
      currentValue: item.relation,
      hideLabel: true,
      disabled: true,
      span: 4,
      itemType: 'input',
      // list: ({ item: formItem, index: formIndex, form }) => {
      //   formItem.list = item.fieldType
      //     ? fieldTypeMapping[item.fieldType].list
      //     : [];
      // },
    },
    // 4
    {
      currentLabel: () => {
        //请求接口的标签名
        return item.fieldName;
      },
      currentKey: item.key,
      currentId: '',
      isLinkage: item.isLinkage,
      linkageKeys: item.linkageKeys,
      currentValue: defaultValue[3], //默认值
      hideLabel: true, //是否隐藏标签
      span: 10, //宽度 24等分
      getParamsFromOut: ({ form, index, item }) => { //额外的参数
        if (item.isLinkage && item.linkageKeys) {
        // console.log(`getParamsFromOut form, index, item`, form, index, item);
          let keys = form.formItem.filter((e) => {
            return item.linkageKeys.includes(e.currentKey)
          })
          if(keys.length===0) return {}
          let t = keys.map((el)=>{
            return {[el.currentKey]: el[el.currentKey]}
          })
          let b = keys.reduce((a,b)=>{
             a[b.currentKey] = b[b.currentKey]
            return a
          },{})
          return b
        }else{
          return {}
        }
      },
      itemType: () => {
        //要渲染的内容
        if (item.fieldType === 4) {
          //为单选按钮 不需要展示
          return null;
        }
        // return fieldTypeMapping[item.fieldType]?.itemType;
        return 'select'
      },
      list: [],
      change({ item, index, form, e }) {
        // console.log('chang params', item);
      }
    },
    //5 删除
    {
      hideLabel: true,
      value: '',
      span: 1,

      itemType: (item, curIndex) => {
        if (index < 4) return ''
        return h(
          resolveComponent('DwButton'),
          {
            type: 'text',
            size: 'mini',
            style: {
              padding: 0,
              width: '24px',
              color: 'rgba(78, 89, 105, 1)',
            },
            onClick: () => {
              form.value.formItem.splice(curIndex - 4, 5);
              // nextTick(() => {
              //   // 删除第一项，需要替换更新第一项
              //   if (form.value.formItem.length === 0) return;
              //   form.value.formItem[0].currentValue = '当';
              //   form.value.formItem[0].itemType = h(
              //     'div',
              //     {
              //       style: {
              //         width: '80px',
              //         textAlign: 'center',
              //       },
              //     },
              //     '当'
              //   );
              // });
            },
          },
          {
            default: () => h(resolveComponent('icon-close')),
          }
        );
      },
    },
  ];
};
// 添加筛选条件
const addSearch = () => {
  // 当前form.formItem的长度
  const formItem = form.value.formItem;
  formItem.push.apply(formItem, createTemplateData({}, formItem.length / 5, formItem));

  // 点击添加筛选条件时 控制滚动条一直保持在底部
  const container = document.getElementsByClassName('arco-form')[0];
  const scrollContainer = document.getElementsByClassName('top')[0];
  nextTick(() => {
    scrollContainer.scrollTop = container.scrollHeight - 334;
  });
};
onMounted(async () => {
  handleData({ data: props.filterOption })
});
</script>


<style lang="less" scoped>
.top {
  width: 100%;
  // padding: 0 16px;
  max-height: 334px;
  overflow-y: scroll;
  // background-color: pink;
  position: relative;
  margin-right: -20px;
  padding: 0 20px;
}

.search_content {
  position: relative;
  width: 100%;

  // background-color: pink;
  :deep(.arco-form-item-content) {
    max-width: none;
  }
}

:deep(.arco-form) {

  // background-color: pink;
  .arco-row {
    width: 651px;
    margin-left: 0;
    margin-right: 0;

    .arco-col {
      padding: 0;
    }

    .arco-col-1 {
      // background-color: pink;
      padding: 0 !important;

      .arco-form-item-content {
        display: flex;
        justify-content: flex-end;
      }

      .arco-form-item-wrapper-col {
        padding: 0;
      }

      // .arco-btn {
      //   float: left;
      // }
    }

    .arco-form-item {
      margin-bottom: 8px;
    }
  }
}

:deep(.add_search) {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 0 16px;
  background-color: #fff;

  .arco-btn {
    padding: 0;

    &:hover {
      background-color: transparent;
    }
  }
}
</style>
