<template>
  <div class="search_content">
    <div class="top">
      <DwForm v-model:form="form"> </DwForm>
    </div>

    <!-- 底部相关 -->
    <div style="height: 32px"></div>
    <div class="add_search">
      <DwButton @click="addSearch" type="text">
        <icon-plus /> 添加筛选条件
      </DwButton>

      <DwButton @click="see" type="text">
        <icon-plus /> see
      </DwButton>
    </div>
  </div>
</template>

<script>
import {
  defineComponent,
  ref,
  useAttrs,
  onMounted,
  h,
  resolveComponent,
  nextTick, watch,
} from 'vue';
import { filterOption } from '../filter.ts'
export default defineComponent({
  name: 'SetFilter',
  inheritAttrs: false,
});
</script>

<script setup>
const props = defineProps({
  initFilters: {
    type: String,
    default: '',
  },
  filterOption: {
    type: Object
  },
  viewSystemId: {
    type: [String, Number],
    default: '',
  },
  viewType: {
    type: [String, Number],
    default: '',
  },
});
// storeForm 缓存当前方法，暂时不做
const emits = defineEmits(['update:initFilters', 'storeForm']);

// fieldType 字段数据类型：1-文本 2-整数 3-小数 4-布尔 5-时间 6-日期 7-选择；根据第二列值确定第四列需要展示什么
const fieldTypeMapping = {
  1: {
    value: '',
    itemType: 'input',
    list: [
      { label: '等于', value: '等于' },
      { label: '不等于', value: '不等于' },
      { label: '包含', value: '包含' },
      { label: '不包含', value: '不包含' },
      { label: '为空', value: '为空' },
      { label: '不为空', value: '不为空' },
    ],
  },
  2: {
    value: '',
    itemType: 'input-number',
    list: [
      { label: '等于', value: '等于' },
      { label: '不等于', value: '不等于' },
      { label: '大于', value: '大于' },
      { label: '大于等于', value: '大于等于' },
      { label: '小于', value: '小于' },
      { label: '小于等于', value: '小于等于' },
      { label: '之内', value: '之内' },
      { label: '为空', value: '为空' },
      { label: '不为空', value: '不为空' },
    ],
  },
  3: {
    value: '',
    itemType: 'input-number',
    list: [
      { label: '等于', value: '等于' },
      { label: '不等于', value: '不等于' },
      { label: '大于', value: '大于' },
      { label: '大于等于', value: '大于等于' },
      { label: '小于', value: '小于' },
      { label: '小于等于', value: '小于等于' },
      { label: '之内', value: '之内' },
      { label: '为空', value: '为空' },
      { label: '不为空', value: '不为空' },
    ],
  },
  4: {
    value: '',
    itemType: 'select',
    list: [
      { label: '是', value: true },
      { label: '否', value: false },
    ],
  },
  5: {
    value: [],
    itemType: 'range-picker',
    list: [{ label: '之内', value: '之内' }],
  },
  6: {
    value: '',
    itemType: 'data-picker',
    list: [
      { label: '之前', value: '之前' },
      { label: '之后', value: '之后' },
      { label: '为空', value: '为空' },
      { label: '不为空', value: '不为空' },
      { label: '今天之前', value: '今天之前' },
      { label: '今天之后', value: '今天之后' },
    ],
  },
  7: {
    value: '',
    itemType: 'select',
    list: [
      { label: '包含', value: '包含' },
      { label: '不包含', value: '不包含' },
    ],
  },
};
// 第二列 下拉选项值
let typeList = ref([]);

// 生成 行 模板数据
const createTemplateData = (item = {}, index, parent, defaultValue = []) => {
  console.log('item', item);
  // console.log('createTemplateData',item,index,parent,defaultValue);
  return [
    // 1
    {
      hideLabel: true,
      currentLabel: '',
      currentKey: 'currentValue',
      currentValue: defaultValue[0] || '且', //默认值
      span: 3,
      itemType: () => {
        return h(
          'div',
          {
            style: {
              width: '80px',
              textAlign: 'center',
            },
          },
          index === 0 ? '当' : '且'
        )
      },
    },
    // 2
    {
      currentLabel: '',
      currentKey: 'currentValue',
      currentValue: item.fieldName,
      // innerFormItemDisabled: index < 2 ? false : true,
      span: 6,
      hideLabel: true,
      allowSearch: true,
      multiple: false,
      disabled: index <4,
      itemType: 'select',
      change: async ({ item, index: currentIndex, form, e }) => {
        // 定义当前选择的第二列
        const selectedItem = typeList.value.find((item) => item.value === e);
        // 设置第三列参数以及值
        form.formItem[currentIndex + 1].currentValue = '';
        form.formItem[currentIndex + 1].list =
          fieldTypeMapping[selectedItem.fieldType].list;

        // 设置第四列参数以及值
        form.formItem[currentIndex + 2].currentValue =
          fieldTypeMapping[selectedItem.fieldType]?.value; //默认值
        form.formItem[currentIndex + 2].itemType = //渲染类型
          selectedItem.fieldType === 4
            ? null
            : fieldTypeMapping[selectedItem.fieldType].itemType;
        // 如果第四列为下拉，则请求下拉列表
        if (selectedItem.fieldType === 7) {
          form.formItem[currentIndex + 2].currentLabel = selectedItem.label;
        }
      },
      list: ({ item: formItem, index: formIndex, form }) => {
        formItem.list = typeList.value;
        console.log('formItem.list',formItem.list);
        // 设置第四列currentLabel  用于调取接口
        if (item.fieldType === 7) {
          const selectedItem = typeList.value.find((item) => item.value === formItem.currentValue) || {};
          form.formItem[formIndex + 2].currentLabel = selectedItem.label;
        }
      },
    },
    // 3
    {
      currentLabel: '',
      currentKey: 'currentValue',
      // currentValue: defaultValue[2],
      currentValue: item.relation,
      hideLabel: true,
      disabled:true,
      span: 4,
      itemType: 'select',
      list: ({ item: formItem, index: formIndex, form }) => {
        formItem.list = item.fieldType
          ? fieldTypeMapping[item.fieldType].list
          : [];
      },
    },
    // 4
    {
      currentLabel: ({ form, index, item: curItem }) => {
        //请求接口的标签名
        return item.fieldName;
      },
      currentKey: 'currentValue',
      currentValue: defaultValue[3], //默认值
      hideLabel: true, //是否隐藏标签
      span: 10, //宽度 24等分
      getParamsFromOut: ({ form, index, item }) => { //额外的参数
        return {
        }
      },
      itemType: () => {
        //要渲染的内容
        if (item.fieldType === 4) {
          //为单选按钮 不需要展示
          return null;
        }
        return fieldTypeMapping[item.fieldType]?.itemType;
      },
      list: [],
    },
    //5 删除
    {
      hideLabel: true,
      value: '',
      span: 1,
      itemType: (item, curIndex) => {
        return h(
          resolveComponent('DwButton'),
          {
            type: 'text',
            size: 'mini',
            style: {
              padding: 0,
              width: '24px',
              color: 'rgba(78, 89, 105, 1)',
            },
            onClick: () => {
              form.value.formItem.splice(curIndex - 4, 5);
              nextTick(() => {
                // 删除第一项，需要替换更新第一项
                if (form.value.formItem.length === 0) return;
                form.value.formItem[0].currentValue = '当';
                form.value.formItem[0].itemType = h(
                  'div',
                  {
                    style: {
                      width: '80px',
                      textAlign: 'center',
                    },
                  },
                  '当'
                );
              });
            },
          },
          {
            default: () => h(resolveComponent('icon-close')),
          }
        );
      },
    },
  ];
};
// 添加筛选条件
const addSearch = () => {
  // 当前form.formItem的长度
  const formItem = form.value.formItem;
  formItem.push.apply(formItem, createTemplateData({}, formItem.length / 5, formItem));

  // 点击添加筛选条件时 控制滚动条一直保持在底部
  const container = document.getElementsByClassName('arco-form')[0];
  const scrollContainer = document.getElementsByClassName('top')[0];
  nextTick(() => {
    scrollContainer.scrollTop = container.scrollHeight - 334;
  });
};
const form = ref({
  // data:{currentValue:''},//!!!!特别注意静态表单不应该配置此项
  formItem: [],
});

// 获取筛选数据 并拼接为字符串
const getPostArr = () => {
  const initFilters = form.value.formItem || [];
  const postArr = [];
  // 转化为 ['且', 6, '包含', Proxy, '且', 20, '', '', '且', 43, '', '', '且', 53, '', Proxy, '且', 70, '', '']
  for (let index = 1; index < initFilters.length + 1; index++) {
    if (index === 1) {
      postArr.push('且');
      continue;
    }
    if (index % 5 === 0) {
      continue;
    }
    if ((index + 1) % 5 === 0) {
      if (
        initFilters[index - 1].multiple &&
        initFilters[index - 1].itemType === 'select'
      ) {
        //如果为选择器 且为多选
        const str = initFilters[index - 1].currentValue.join();
        postArr.push(str);
        continue;
      } else if (initFilters[index - 1].itemType === 'data-picker') {
        //为日期
        const str = initFilters[index - 1].currentValue.join('|||');
        postArr.push(str);
        continue;
      } else {
        //为其他直接取值的
        postArr.push(initFilters[index - 1].currentValue);
        continue;
      }
    }
    postArr.push(initFilters[index - 1].currentValue);
  }
  let strArr = [];
  const params = [];
  // 转化为["且|||6||||||","且|||20||||||","且|||43||||||","且|||53||||||","且|||70||||||"]
  for (let index = 1; index < postArr.length + 1; index++) {
    if (index % 4 === 0) {
      strArr.push(postArr[index - 1]);
      params.push(strArr.join('|||'));
      strArr = [];
      continue;
    }
    strArr.push(postArr[index - 1]);
  }
  const str = JSON.stringify(params);
  console.log('str', str);
  emits('update:initFilters', str);
  return str;
};

// 获取每一项 二维数组
const getAllItem = () => {
  const initFilters = form.value.formItem || [];
  const itemAll = [];
  let item = [];
  for (let index = 1; index < initFilters.length + 1; index++) {
    if (index % 5 === 0) {
      itemAll.push([...item]);
      item = [];
      continue;
    }
    item.push(initFilters[index - 1]);
  }
  return itemAll;
};
// 获取整合后的 list 可用于视图保存
const getSelectItem = () => {
  const initArr = form.value.formItem;
  const paramsArr = [];
  for (let index = 1; index < initArr.length + 1; index++) {
    if ((index + 3) % 5 === 0) {
      paramsArr.push(initArr[index - 1].currentItem);
    }
  }
  return paramsArr;
};
// 处理接口返回的数据，或者暂存的form数据 用于展示form
const handleData = (res) => {
  // fieldType 字段数据类型：1-文本 2-整数 3-小数 4-布尔 5-时间 6-日期 7-选择
  // const oftenFilters = res.data.oftenFilters; //常用
  // const allFilters = res.data.allFilters; //所有
  // handleSetColSelect(allFilters);
  //
  // handleSetInitRow(res.data.oftenFilters);
  handleSetInitRow(filterOption);
  // if (props.initFilters) {
  //   //传入展示的行'["且|||6|||包含|||0,3"]'
  //   // handleStrToForm(props.initFilters);
  // } else {
  //   // 常用展示的行
  // }
};

// 设置第二列下拉数据
const handleSetColSelect = (allFilters) => {
  typeList.value = allFilters.map((item) => {
    return {
      ...item,
      label: item.fieldName,
      value: item.viewSystemFieldId,
    };
  });
};
// 初始化 设置展示的行 常用的/搜索过的
const handleSetInitRow = (oftenFilters) => {
  console.log('oftenFilters', oftenFilters);
  // debugger
  for (let index = 0; index < oftenFilters.length; index++) {
    form.value.formItem.push.apply(
      form.value.formItem,
      createTemplateData(oftenFilters[index], index, form.value.formItem)
    );
  }
  console.log('form.value.formItem', form.value.formItem);
};
// 把返回的字符串 转化为视图form 用户回显
/* 
const handleStrToForm = (str) => {
  const strToArr = JSON.parse(str);
  for (let index = 0; index < strToArr.length; index++) {
    const ItemArr = strToArr[index].split('|||');
    const secondSelect = typeList.value.find(
      (item) => item.value * 1 === ItemArr[1] * 1
    );
    // 设置回显默认值
    const defaultValue = [];
    // 1-文本 2-整数 3-小数 4-布尔 5-时间 6-日期[] 7-选择
    // ItemArr[3] = isArray( ItemArr[3])?: ItemArr[3]*1
    defaultValue[2] = ItemArr[2];
    switch (secondSelect.fieldType * 1) {
      case 6:
        defaultValue[3] = [ItemArr[3], ItemArr[4]];
        break;
      case 7:
        // 多选
        defaultValue[3] = ItemArr[3].split(',').map((val) => val * 1);
        break;
      default:
        // 1 2 3 4 5
        defaultValue[3] = ItemArr[3];
        break;
    }
    for (let itemIndex = 0; itemIndex < ItemArr.length; itemIndex++) {
      const {
        fieldName,
        fieldType,
        oftenFilterFlag,
        renderType,
        selectType,
        selectTypeName,
        viewSystemFieldId,
        viewSystemId,
      } = secondSelect;
      const curItem = {
        fieldName,
        fieldType,
        oftenFilterFlag,
        renderType,
        selectType,
        selectTypeName,
        viewSystemFieldId,
        viewSystemId,
      };
      form.value.formItem = [];
      form.value.formItem.push.apply(
        form.value.formItem,
        createTemplateData(curItem, index, form.value.formItem, defaultValue)
      );
    }
  }
};
*/
// setTimeout(() => {
//   handleStrToForm('["且|||6|||包含|||0"]')//
//   form.value.data.currentValue=666
// }, 3000);
// 暂存当前值，用于回显
const storeForm = () => {
  emits('storeForm', form.value.formItem);
};
// 没有viewSystemId 直接将数据传入筛选器的情况
const setOptions = () => {
}
// watch(form,()=>{
// })
const see = () => {
  console.log('form', form.value);
}
onMounted(async () => {
  handleData({ data: props.filterOption })
  // handleData()
});

defineExpose({
  getPostArr, //导出处理后的数据 |||拼接的字符串
  getAllItem, //二维数组的每一项
  getSelectItem, // 一维数组，用于新增保存视图
  storeForm, //暂存当前筛选项
});
</script>

<style lang="less" scoped>
.top {
  width: 100%;
  // padding: 0 16px;
  max-height: 334px;
  overflow-y: scroll;
  // background-color: pink;
  position: relative;
  margin-right: -20px;
  padding: 0 20px;
}

.search_content {
  position: relative;
  width: 100%;

  // background-color: pink;
  :deep(.arco-form-item-content) {
    max-width: none;
  }
}

:deep(.arco-form) {

  // background-color: pink;
  .arco-row {
    width: 651px;
    margin-left: 0;
    margin-right: 0;

    .arco-col {
      padding: 0;
    }

    .arco-col-1 {
      // background-color: pink;
      padding: 0 !important;

      .arco-form-item-content {
        display: flex;
        justify-content: flex-end;
      }

      .arco-form-item-wrapper-col {
        padding: 0;
      }

      // .arco-btn {
      //   float: left;
      // }
    }

    .arco-form-item {
      margin-bottom: 8px;
    }
  }
}

:deep(.add_search) {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 0 16px;
  background-color: #fff;

  .arco-btn {
    padding: 0;

    &:hover {
      background-color: transparent;
    }
  }
}
</style>
