<template>
  <div class="right-side">
    <a-dropdown
      :style="{ width: '685px','max-height': '488px' }"
      position="bl"
      class="filter-dropdown"
    >
      <a-button
        class="nav-btn"
        type="outline"
        ref="filterRef"
      >
      <!-- :class="[searchContent?'hasSearch':'']" -->
        <template #icon>
          <icon-filter />
        </template>
        <span>筛选</span>
      </a-button>
      <template #content>
        <div class="search-wrap filter-wrap">
          <h3
            style="line-height:24px;font-size: 16px;color: #212121;position: absolute;left: 1px;right: 1px;top:1px;padding: 12px 16px;background:#fff;margin:0;border-radius:4px 4px 0 0;"
          >设置筛选条件</h3>
          <div style="height:48px;"></div>
          <div 
            class="filterList"
            style="max-height: 366px;"
          >
            <!-- TODO 筛选条件列表 -->
            <Content 
              v-model:initFilters="initFilters"
              :filterOption="props.filterOption"
              :viewSystemId='viewSystemId'
              :viewType='viewType'
               ref="contentRef"
               :formArrToEcho="formArrToEcho"
               @storeForm="storeForm"
             >
             </Content>
          </div>
          <p style="height:65px;margin:0;"></p>
          <div 
            class="handle-wrap"
            style="position: absolute;left: 1px;right: 1px;bottom: 1px;height: 64px;padding: 16px;border-top: 1px solid rgba(229, 230, 235, 1);display: flex;justify-content:flex-end;background:#fff;border-radius: 0 0 4px 4px;"
          >
            <a-button
              class="cancleBtn"
              :style="{width: '76px','margin-right': '8px'}"
              @click="cancleClick"
            >取消</a-button>
            <a-button 
              :style="{width: '76px'}"
              type="primary"
              @click="confirmClick"
            >确认</a-button>
          </div>
        </div>
      </template>
    </a-dropdown>
  </div>
</template>

<script lang="ts">
import {
  defineComponent,
  onMounted,
  PropType,
  reactive,
  toRefs,
  watch,
  ref,
  computed,
  onUnmounted,
  nextTick,
} from 'vue';
import Content from './Content.vue'
export default defineComponent({
  components: {
    Content,
  },
  name: 'Filter',
  props: {
    filterOption:{
      type:Object
    },
    pageInitFilters: {
      type: String,
      default: ''
    },
    viewSystemId:{
      type:[String,Number],
      default:''
    },
    viewType:{
      type:[String,Number],
      default:''
    }
  },
  emits: ['update:pageInitFilters'],
  setup(props,{emit,slots,attrs}){
    const filterList = ref([])
    const contentRef=ref<any>(null)
    const dataMap = reactive({
      initFilters: ''
    })
    const filterRef = ref([])
    console.log(`new Date()`,new Date())
    const cancleClick = () => {
      // 1. 筛选项先恢复初始状态  TODO
      console.log('取消')
      console.log(filterRef.value)
      // 2. 关闭下拉框
      filterRef.value.handleClick()
    }
    //#region 设置变量用于回显筛选条件 /////key:当前视图ID value:当前视图筛选项
    let formArrToEcho:any = ref([])
    const storeForm=(data:[]) => { 
      formArrToEcho.value=data
     }
    //#endregion
    const confirmClick = () => {
      // 1. 保存筛选项  TODO
      // 2. 传筛选项数组给父组件  TODO
      // console.log('@@@initFilters',dataMap.initFilters)
      console.log('@@@getSelectItem',contentRef.value.getPostArr())
      // contentRef.value.getPostArr().then(()=>{
      //   filterRef.value.handleClick()
      // })
      emit('update:pageInitFilters',contentRef.value.getPostArr())
      filterRef.value.handleClick()
    }

    watch(
      () => props.pageInitFilters,
      (newValue) => {
        console.log(newValue)
        dataMap.initFilters = newValue
      }
    );

    return {
      storeForm,
      formArrToEcho,
      contentRef,
      ...toRefs(dataMap),
      filterList,
      filterRef,
      cancleClick,
      confirmClick,props
    }
  }
})
</script>

<style lang="less" scoped>
:deep(.arco-trigger-popup-wrapper){
  font-size: 60px;
}
.right-side {
  width: auto;
  display: flex;
  padding-right: 20px;
  list-style: none;
  :deep(.locale-select) {
    border-radius: 20px;
  }
  a {
    color: var(--color-text-1);
    text-decoration: none;
  }
  .nav-btn {
    height:24px;
    padding: 2px 4px;
    border-color: rgb(var(--gray-2));
    color: rgb(var(--gray-8));
    font-size: 14px;
    border:none;
    background-color: #fff;
    &:hover{
      background-color: #EEF3FF;
      color: #2969FF;
    }
  }
}
.filter-dropdown{
  // font-size: 30px;
  :deep(.arco-trigger-popup-wrapper){
    font-size: 60px;
  }
  .arco-dropdown-list-wrapper{
    font-size: 120px;
  }
}


</style>