<template>
  <div class="right-side">
    <a-dropdown :style="{ 'width': '685px', 'max-height': '488px' }" position="bl" class="filter-dropdown"
      v-model="dataMap.visible" :default-popup-visible="false">
      <a-button class="nav-btn" type="outline" ref="filterRef">
        <template #icon>
          <icon-filter />
        </template>
        <span>筛选</span>
      </a-button>
      <template #content>
        <div class="search-wrap filter-wrap">
          <h3 style="
              line-height: 24px;
              font-size: 16px;
              color: #212121;
              position: absolute;
              left: 1px;
              right: 1px;
              top: 1px;
              padding: 12px 16px;
              background: #fff;
              margin: 0;
              border-radius: 4px 4px 0 0;
            ">设置筛选条件</h3>
          <div style="height: 48px"></div>
          <div class="filterList" style="max-height: 366px">

            <a-space direction="vertical" :size="24" class="" style="display: block">
              <a-row class="grid-demo">
                <a-col :span="3">
                  <div class="col-text" style="text-align: center">当</div>
                </a-col>
                <a-col :span="6">
                  <a-input disabled placeholder="" value="所属公司"></a-input>
                </a-col>
                <a-col :span="4" style="margin: 0 8px">
                  <a-input disabled placeholder="等于"></a-input>
                </a-col>
                <a-col :span="10">
                  <a-select @change="changeOwner" style="max-height: 32px !important" placeholder="请选择所属公司">
                    <a-option v-for="item in dataMap.ownerOptions" :key="item.id" :label="item.label" :value="item.id">
                    </a-option>
                  </a-select>
                </a-col>
              </a-row>


              <a-row class="grid-demo">
                <a-col :span="3">
                  <div class="col-text" style="text-align: center">且</div>
                </a-col>
                <a-col :span="6">
                  <a-input disabled placeholder="模板名称"></a-input>
                </a-col>
                <a-col :span="4" style="margin: 0 8px">
                  <a-input disabled placeholder="等于"></a-input>
                </a-col>
                <a-col :span="10">
                  <a-select style="max-height: 32px !important" placeholder="请选择委托人">
                    <a-option v-for="item in dataMap.clientOptions" :key="item.id" :label="item.name" :value="item.id">
                    </a-option>
                  </a-select>
                </a-col>
              </a-row>

              <a-row class="grid-demo">

                <a-col :span="3">
                  <div class="col-text" style="text-align: center">且</div>
                </a-col>
                <a-col :span="6">
                  <a-input disabled placeholder="状态"></a-input>
                </a-col>
                <a-col :span="4" style="margin: 0 8px">
                  <a-input disabled placeholder="包含"></a-input>
                </a-col>


                <a-col :span="10">
                  <a-select style="max-height: 32px !important" placeholder="请选择销售员">
                    <a-option v-for="item in dataMap.ownerOptions" :key="item.id" :label="item.label" :value="item.id">
                    </a-option>
                  </a-select>
                </a-col>

              </a-row>
              <a-row class="grid-demo">
                <a-col :span="3">
                  <div class="col-text" style="text-align: center">且</div>
                </a-col>
                <a-col :span="6">
                  <a-input disabled placeholder="状态"></a-input>
                </a-col>
                <a-col :span="4" style="margin: 0 8px">
                  <a-input disabled placeholder="包含"></a-input>
                </a-col>

                <a-col :span="10">
                  <a-select style="max-height: 32px !important" placeholder="请选择营销部门">
                    <a-option v-for="item in dataMap.ownerOptions" :key="item.id" :label="item.label" :value="item.id">
                    </a-option>
                  </a-select>
                </a-col>
              </a-row>

            </a-space>
          </div>
          <p style="height: 70px; margin: 0"></p>
          <div class="handle-wrap" style="
              position: absolute;
              left: 1px;
              right: 1px;
              bottom: 1px;
              height: 64px;
              padding: 16px;
              border-top: 1px solid rgba(229, 230, 235, 1);
              display: flex;
              justify-content: flex-end;
              background: #fff;
              border-radius: 0 0 4px 4px;
            ">
            <a-button class="cancleBtn" :style="{ 'width': '76px', 'margin-right': '8px' }" @click="cancleClick">取消
            </a-button>
            <a-button :style="{ width: '76px' }" type="primary" @click="confirmClick">确认</a-button>
          </div>
        </div>
      </template>
    </a-dropdown>
  </div>
</template>

<script lang="ts" setup>
import {
  defineComponent,
  onMounted,
  PropType,
  reactive,
  toRefs,
  watch,
  ref,
  computed,
  onUnmounted,
  nextTick,
} from 'vue';
import { crmApi } from '@/api/crmApi';
import commonApi from '@/utils/commonApi/index';
import { formatOptions } from '@/utils';
import { runOrderApi } from '@/api/runOrderApi/index'

const filterRef = ref([]);
const dataMap = reactive<any>({
  ownerOptions: [],
  clientOptions: [],
  owner: {},
  client: {},
  visible: true
})

const changeOwner = (val: any) => {
  dataMap.owner = dataMap.ownerOptions.find((v: any) => v.id == val)
}
const getOwnerOptions = async () => {
  const { enterprises } = await commonApi.memberQueryUserAuthorithPart(null)
  dataMap.ownerOptions = formatOptions(enterprises, {
    value: 'id',
    label: 'name'
  })
  console.log('dataMap.ownerOptions', dataMap.ownerOptions);

}
const getSupperlier = async () => {
  const { data } = await runOrderApi.getSupperlier(null)
  dataMap.clientOptions = data
}
const initOptions = async () => {
  getOwnerOptions()
  getSupperlier()

}
initOptions()
onMounted(() => {
  // filterRef.value.handleClick()

})
</script>

<style lang="less" scoped>
:deep(.arco-trigger-popup-wrapper) {
  font-size: 60px;
}

.right-side {
  width: auto;
  display: flex;
  padding-right: 20px;
  list-style: none;

  :deep(.locale-select) {
    border-radius: 20px;
  }

  a {
    color: var(--color-text-1);
    text-decoration: none;
  }

  .nav-btn {
    height: 24px;
    padding: 2px 4px;
    border-color: rgb(var(--gray-2));
    color: rgb(var(--gray-8));
    font-size: 14px;
    border: none;
    background-color: #fff;

    &:hover {
      background-color: #eef3ff;
      color: #2969ff;
    }
  }
}

.filter-dropdown {

  // font-size: 30px;
  :deep(.arco-trigger-popup-wrapper) {
    font-size: 60px;
  }

  .arco-dropdown-list-wrapper {
    font-size: 120px;
  }
}

.filterList {
  padding: 0 15px;
  overflow-y: auto;
}

.grid-demo {
  align-items: center;
}

.col {
  margin-bottom: 16px;
}

.col-text {
  height: 100%;
  text-align: center;
}
</style>