<template>
  <a-empty v-if="dataMap.tableData.length == 0" />
  <a-table v-if="dataMap.tableData.length" :scroll="scrollConfig" :row-selection="rowSelection"
    @selection-change="selectionParentChange" :data="dataMap.tableData" :pagination="false"
    :bordered="{ wrapper: true, cell: true }" :columns="columns" v-model:selectedKeys="dataMap.parentSelectedKeys"
    :expandable="expandableConfig">
    <template #no="{ record }">
      <span class="no-span">
        {{ record.no }}
      </span>
      <a-tag v-if="record.closed" color="green">已关账</a-tag>
      <a-tag v-else color="gray">未关账</a-tag>
    </template>

    <template #expand-row="{ record, rowIndex }">
      <div class="children-row">
        <a-table :summary="summary" :columns="incomesColumns"
          :row-selection="{ ...rowSelection, showCheckedAll: false }" :scroll="scrollConfig" :data="record.incomes"
          :pagination="false" :bordered="{ wrapper: true, cell: true, headerCell: true, bodyCell: true }"
          v-model:selectedKeys="dataMap.selectedKeys[record.key]" @selection-change="selectionChange($event, record)">
          <template #currentInvoiceAmount="{ record }">
            <a-input-number v-if="!record.isSummary" v-model="record.currentInvoiceAmount"
              @change="dangqiankaipiaojineChange($event, record)" placeholder="请输入" maxlength="18" :precision="4"
              :min="0" />
            <span v-else> {{ record.currentInvoiceAmount }}</span>
          </template>

          <template #currencyExchangeRate="{ record }">
            <span> {{ record.currencyExchangeRate == 1 ? '1.0000' : record.currencyExchangeRate }} </span>
          </template>
          <template #invoiceName="{ record }">
            <span v-if="!record.isSummary">{{ record.invoiceName }}{{ record.invoiceTaxRate * 100 }}%</span>
          </template>
        </a-table>
      </div>

    </template>
  </a-table>
</template>


<script lang="ts" setup>
import { setNumericText, totalNum } from '@/utils';
import {
  defineComponent,
  ref,
  watch,
  reactive,
  h,
  toRefs,
  computed,
  onMounted,
  nextTick,
} from 'vue';
import { settlementApi } from '@/api/settlementApi/index';
const emit = defineEmits(['selectChecked'])
const dataMap = reactive<any>({
  tableData: [],
  parentSelectedKeys: [],// 父表格选中keys
  selectedKeys: {},// 子表格选中keys
  owner: {},
  currentCurrency: {
    currency: '',
    currencyName: '',
    currencySymbol: ''
  }, //原币？
  client: {},
})
const scrollConfig = { x: '100%', y: '100%' }
const rowSelection = reactive({
  type: 'checkbox', showCheckedAll: true, width: 30, fixed: false,
  onlyCurrent: false,
})
const summary = ({ data }: any) => {
  let totalConfirmAmount = 0;
  let totalNotInvoicedAmount = 0;
  let totalCurrentUntaxedAmount = 0;
  let totalCurrentInvoiceAmount = 0;
  if (data.length == 0) return;
  data.forEach((record: any) => {
    totalConfirmAmount = totalNum([totalConfirmAmount, record.confirmAmount])
    totalNotInvoicedAmount = totalNum([totalNotInvoicedAmount, record.notInvoicedAmount])
    totalCurrentUntaxedAmount = totalNum([totalCurrentUntaxedAmount, record.currentUntaxedAmount])
    totalCurrentInvoiceAmount = totalNum([totalCurrentInvoiceAmount, record.currentInvoiceAmount])
  });
  return [
    {
      feeName: '合计',
      // currencySymbol: data[0].currencySymbol,
      confirmAmount: totalConfirmAmount,
      notInvoicedAmount: totalNotInvoicedAmount,
      currentUntaxedAmount: totalCurrentUntaxedAmount,
      currentInvoiceAmount: totalCurrentInvoiceAmount,
      isSummary: true
      // currentUntaxedAmount
    },
  ];
};
const expandableConfig = {
  title: '',
  width: 20,
}

const columns = [
  { title: '业务编号', dataIndex: 'no', slotName: 'no', width: '100' },
  { title: '提单号', dataIndex: 'mblNo', slotName: 'mblNo', width: '100' },
  { title: 'PI号', dataIndex: 'piNo', slotName: 'piNo', width: '100' },
  { title: '销售品名', dataIndex: 'salesGoods', slotName: 'salesGoods', width: '100' },
  { title: '箱型箱量', dataIndex: 'boxTypeBoxVolume', slotName: 'boxTypeBoxVolume', width: '100' },
  { title: '业务完成日期', dataIndex: 'businessCompletionTime', slotName: 'businessCompletionTime', width: '100' },
];
const incomesColumns = [
  { title: '费用名称', dataIndex: 'feeName', slotName: 'feeName', width: '100' },
  { title: '应收金额', dataIndex: 'confirmAmount', feeName: 'confirmAmount', width: '100' },
  // 这个也是含税
  { title: '未开票金额', dataIndex: 'notInvoicedAmount', slotName: 'notInvoicedAmount', width: '100' },
  //这个是含税
  {
    title: '当前开票金额', dataIndex: 'currentInvoiceAmount', slotName: 'currentInvoiceAmount', width: '100',
  },
  //这个也是前端计算
  { title: '当前开票金额（不含税）', dataIndex: 'currentUntaxedAmount', slotName: 'currentUntaxedAmount', width: '100' },
  { title: '汇率', dataIndex: 'currencyExchangeRate', slotName: 'currencyExchangeRate', width: '100' },
  { title: '发票类型', dataIndex: 'invoiceName', slotName: 'invoiceName', width: '100' }
]

const incomeCanInvoiceDetails = async () => {
  let params = {
    "search": "",
    "currency": "CNY",
    "ownerId": 489,
    "clientId": 5510,
    "salespersonId": 424,
    "marketingDepartmentId": 1111,
    // "customerDepartmentId": 59, 
    "feeCodes": [], "shipFee": "",
    "invoiceCode": "",
    "receivableIds": [],
    "ataStartTime": "",
    "ataEndTime": "",
    "actualDeliveryStartTime": "",
    "actualDeliveryEndTime": "",
    "businessCompletionStartTime": "",
    "businessCompletionEndTime": ""
  }
  let { data } = await settlementApi.incomeCanInvoiceDetails(params)
  data.forEach((v: any, index: number) => {
    v.key = v.id
    v.incomes.forEach((i: any) => {
      i.currentInvoiceAmount = i.notInvoicedAmount //当前开票金额初始值和未开票金额一样
      i.key = i.id
      i.currentUntaxedAmount = setNumericText(
        Number(i.notInvoicedAmount) / (1 + i.invoiceTaxRate),
        { zeroText: 0 }
      )
    })
  })

  dataMap.tableData = data


  emitSelectChecked(2)
}
const dangqiankaipiaojineChange = async (val: any, row: any) => {
  // 当前开票金额可改,不能超过未开票金额
  if (
    Math.abs(Number(val)) - Math.abs(row.notInvoicedAmount) > 0 ||
    Number(val) == 0
  ) {
    row.currentInvoiceAmount = row.notInvoicedAmount
    // 当前开票金额不含税也要同步修改
  }
  row.currentUntaxedAmount = setNumericText(Number(row.currentInvoiceAmount) / (1 + row.invoiceTaxRate), { zeroText: 0 })
  emitSelectChecked()
}
// 父级选项变化
const selectionParentChange = (rowKeys: string[]) => {
  // dataMap.selectedKeys = {}
  for (let key in dataMap.selectedKeys) {
    dataMap.selectedKeys[key] = []
  }
  rowKeys.forEach((v: string) => {
    let t = dataMap.tableData.find((i: any) => i.key == v)
    dataMap.selectedKeys[t.key] = t.incomes.map((el: any) => el.key)
  })
  emitSelectChecked()
}
// 子级选项变化
const selectionChange = (rowKeys: string[], record: any) => {
  if (record.incomes.length === rowKeys.length) {
    !dataMap.parentSelectedKeys.includes(record.key) && dataMap.parentSelectedKeys.push(record.key)
  } else {
    let i = dataMap.parentSelectedKeys.indexOf(record.key)
    if (i !== -1) dataMap.parentSelectedKeys.splice(i, 1)
  }
  emitSelectChecked()
}

const mockArr = [{"id":"1498950561936257024","tenantId":1,"no":"L_ATBK01-21000900","closed":false,"mblNo":"q253442","hblNo":null,"piNo":"pi号","boxTypeBoxVolume":null,"salesGoods":"销售品名","businessCompletionTime":"2022-01-11 11:10:43","incomes":[{"id":"1500701954443370496","tenantId":1,"statementId":"1498950561936257024","statementNo":"D_ATBK01220300412","ownerId":489,"ownerName":"上海大微企业发展有限公司","clientId":5510,"clientName":"东兴集团","logisticsId":"1914111211117838","statementCostId":null,"containerNo":null,"feeCode":"03014","feeName":"消费税","feeEnName":null,"lumpSumFee":false,"shipFee":false,"proxyFee":false,"currency":"CNY","currencyName":"人民币","currencyExchangeRate":1,"currencySymbol":"¥","invoiceCode":"ZZFP","invoiceName":"增值税专用发票","invoiceTaxRate":0.06,"settlerId":5657,"settlerName":"大微集团","untaxedAmount":47.17,"taxIncludedAmount":50,"discountAmount":10,"confirmAmount":40,"notInvoicedAmount":40,"currentInvoiceAmount":40,"key":"1500701954443370496","currentUntaxedAmount":"37.74"},{"id":"1498951945641340928","tenantId":1,"statementId":"1498950561936257024","statementNo":"D_ATBK01220300412","ownerId":489,"ownerName":"上海大微企业发展有限公司","clientId":5510,"clientName":"东兴集团","logisticsId":"1914111211117838","statementCostId":null,"containerNo":null,"feeCode":"03001","feeName":"报关费","feeEnName":null,"lumpSumFee":false,"shipFee":false,"proxyFee":false,"currency":"CNY","currencyName":"人民币","currencyExchangeRate":1,"currencySymbol":"¥","invoiceCode":"ZZFP","invoiceName":"增值税专用发票","invoiceTaxRate":0.06,"settlerId":5657,"settlerName":"大微集团","untaxedAmount":94.34,"taxIncludedAmount":100,"discountAmount":0,"confirmAmount":100,"notInvoicedAmount":100,"currentInvoiceAmount":100,"key":"1498951945641340928","currentUntaxedAmount":"94.34"},{"id":"1500658744237023232","tenantId":1,"statementId":"1498950561936257024","statementNo":"D_ATBK01220300412","ownerId":489,"ownerName":"上海大微企业发展有限公司","clientId":5510,"clientName":"东兴集团","logisticsId":"1914111211117838","statementCostId":null,"containerNo":null,"feeCode":"03010","feeName":"滞报金","feeEnName":null,"lumpSumFee":false,"shipFee":false,"proxyFee":false,"currency":"CNY","currencyName":"人民币","currencyExchangeRate":1,"currencySymbol":"¥","invoiceCode":"ZZFP","invoiceName":"增值税专用发票","invoiceTaxRate":0.06,"settlerId":5657,"settlerName":"大微集团","untaxedAmount":94.34,"taxIncludedAmount":100,"discountAmount":0,"confirmAmount":100,"notInvoicedAmount":100,"currentInvoiceAmount":100,"key":"1500658744237023232","currentUntaxedAmount":"94.34"}],"key":"1498950561936257024"}]
const emitSelectChecked = async (type?: number) => {
  await nextTick()
  if (type === 2) {
    emit("selectChecked", mockArr)
    return
  }


  let arr = []
  let keys = dataMap.selectedKeys
  for (let key in keys) {
    if (!keys[key] || keys[key].length == 0) continue
    let item = JSON.parse(JSON.stringify(dataMap.tableData)).find(v => v.key == key)
    item.incomes = item.incomes.filter(v => keys[key].includes(v.key))
    arr.push(item)
  }
  console.log(JSON.stringify(arr));
  emit("selectChecked", arr)

}
incomeCanInvoiceDetails()


</script>

<style scoped>
.no-span {
  display: inline-block;
  margin-right: 20px;
}

.children-row {
  margin: 10px 0 30px 80px;
}
</style>