<template>
  <div class="main">
    <a-form ref="formRef" layout="vertical" :model="data">
      <a-form-item
        label="企业全称"
        field="name"
        class="queryInfo"
        :rules="[{ required: true, message: '企业全称必填' }]"
      >
        <a-input v-model="data.name" @blur="checkBlur(1)" allow-clear />
        <icon-idcard class="icon-box url" @click="clickQuery()"></icon-idcard>
        <!-- <i class="iconfont icon-Vector icon-box url" @click="clickQuery()"></i> -->
      </a-form-item>
      <a-form-item
        label="企业简称"
        field="abbreviation"
        :rules="[{ required: true, message: '企业简称必填' }]"
      >
        <a-input v-model="data.abbreviation" @blur="checkBlur(2)" allow-clear />
      </a-form-item>
      <a-form-item
        label="统一社会信用代码"
        field="creditCode"
        :rules="[
          {
            required: data.inArea == 1 ? true : false,
            message: '统一社会信用代码必填',
          },
        ]"
      >
        <a-input
          v-model="data.creditCode"
          @blur="checkBlur(3)"
          maxlength="18"
          allow-clear
        />
      </a-form-item>
      <a-form-item
        label="助记码"
        field="mnemonicCode"
        :rules="[{ required: true, message: '助记码必填' }]"
      >
        <a-input
          v-model="data.mnemonicCode"
          @blur="checkBlur(4)"
          maxlength="20"
          allow-clear
        />
      </a-form-item>
      <a-form-item label="英文全称" field="nameEn">
        <a-input v-model="data.nameEn" @blur="checkBlur(5)" allow-clear />
      </a-form-item>
      <a-form-item label="英文简称" field="abbreviationEn">
        <a-input
          v-model="data.abbreviationEn"
          @blur="checkBlur(6)"
          allow-clear
        />
      </a-form-item>
      <a-form-item
        label="所在区域"
        field="inArea"
        :rules="[{ required: true, message: '所在区域必填' }]"
      >
        <!-- <a-input v-model="data.inArea" allow-clear /> -->
        <a-select v-model="data.inArea" placeholder="" class="select-w">
          <a-option
            v-for="item of inAreaList"
            :value="item.val"
            :label="item.label"
            :key="item.val"
          />
        </a-select>
      </a-form-item>
      <a-form-item label="常驻国家" field="residentCountryCode">
        <a-select v-model="data.residentCountryCode" allow-search>
          <a-option
            v-for="item of obj.countryListOptions"
            :value="item.countryCode"
            :label="item.countryName"
            :key="item.countryId"
          />
        </a-select>
      </a-form-item>
      <!-- <a-form-item label="上级企业名称" field="upperRelationName">
        <a-select v-model="data.upperRelationName" allow-search>
          <a-option
            v-for="item of obj.upperRelationNameList"
            :value="item.enterpriseId"
            :label="item.name"
            :key="item.enterpriseId"
          />
        </a-select>
      </a-form-item> -->
      <a-form-item label="上级企业名称" field="upperRelationId">
        <a-select
          v-model="data.upperRelationId"
          @search="(val) => handleSearch(val, '上级企业名称')"
          @change="upperRelationIdChange"
          allow-search
        >
          <a-option
            v-for="item of obj.upperRelationNameList"
            :value="item.enterpriseId"
            :label="item.name"
            :key="item.enterpriseId"
          />
        </a-select>
      </a-form-item>
      <a-form-item label="企业中文地址" class="item-address">
        <a-select v-model="data.provinceId" placeholder="省" class="province">
          <a-option
            v-for="item in obj.provinceIdList"
            :key="item.provinceId"
            :label="item.provinceName"
            :value="item.provinceId"
          >
          </a-option>
        </a-select>
        <a-select v-model="data.cityId" placeholder="市" class="city">
          <a-option
            v-for="item in obj.cityList"
            :key="item.cityId"
            :label="item.cityName"
            :value="item.cityId"
          >
          </a-option>
        </a-select>
        <a-select v-model="data.countyId" placeholder="区" class="county">
          <a-option
            v-for="item in obj.countyList"
            :key="item.countyId"
            :label="item.countyName"
            :value="item.countyId"
          >
          </a-option>
        </a-select>
        <a-input
          v-model="data.enterpriseAddress"
          class="adress"
          placeholder="填写详细地址"
        ></a-input>
      </a-form-item>
      <a-form-item label="企业英文地址" field="enterpriseAddressEn">
        <a-input v-model="data.enterpriseAddressEn" allow-clear />
      </a-form-item>
      <a-form-item label="曾用名" field="beforeName">
        <a-input v-model="data.beforeName" allow-clear />
      </a-form-item>
      <a-form-item label="财务名称" field="fiscalName">
        <a-input v-model="data.fiscalName" allow-clear />
      </a-form-item>
      <a-form-item label="财务代码" field="fiscalCode">
        <a-input v-model="data.fiscalCode" allow-clear />
      </a-form-item>
      <a-form-item
        label="是否推送快马智运"
        field="pushKsFlag"
        :rules="[{ required: true, message: '是否推送快马智运必填' }]"
      >
        <a-radio-group v-model="data.pushKsFlag">
          <a-grid :cols="2" :colGap="30">
            <a-grid-item>
              <a-radio value="1">是</a-radio>
            </a-grid-item>
            <a-grid-item>
              <a-radio value="2">否</a-radio>
            </a-grid-item>
          </a-grid>
        </a-radio-group>
      </a-form-item>
      <a-form-item label="成本是否必须" field="pushKsFlag">
        <a-radio-group
          :disabled="data.pushKsFlag != '1'"
          v-model="data.needCostFlag"
        >
          <a-grid :cols="2" :colGap="30">
            <a-grid-item>
              <a-radio value="1">是</a-radio>
            </a-grid-item>
            <a-grid-item>
              <a-radio value="2">否</a-radio>
            </a-grid-item>
          </a-grid>
        </a-radio-group>
      </a-form-item>

      <a-form-item label="肉类协会密码" field="meatAssociationCode">
        <a-input v-model="data.meatAssociationCode" allow-clear />
      </a-form-item>
    </a-form>
    <div class="right">
      <p class="title"><span class="bitian">*</span>企业属性</p>

      <a-checkbox v-model="data.labelBool1">客户</a-checkbox>
      <a-select v-model="data.labelVal1" placeholder="请选择" multiple>
        <a-option
          v-for="item of obj.labelVal1"
          :value="item.labelCode"
          :label="item.labelName"
          :key="item.labelCode"
        />
      </a-select>
      <a-checkbox v-model="data.labelBool2">供应商</a-checkbox>
      <a-select v-model="data.labelVal2" placeholder="请选择" multiple>
        <a-option
          v-for="item of obj.labelVal2"
          :value="item.labelCode"
          :label="item.labelName"
          :key="item.labelCode"
        />
      </a-select>
      <a-checkbox v-model="data.labelBool3">本方公司</a-checkbox>
      <!-- <p class="bttips">企业属性必填</p> -->
    </div>
  </div>
</template>
<script lang="ts">
  import { ref, toRefs, computed, watch, defineComponent, reactive ,onUnmounted} from 'vue';
  import { merchants } from '@/api/merchants/index';
  import { common } from '@/api/common/index';
  import { Message, Modal } from '@arco-design/web-vue';

  export default defineComponent({
    name: 'addkeshang',
    setup(props, { attrs, emit, slots }) {
      let arr: number[] = [];
      let inAreaList = [
        {
          label: '国内',
          val: 1,
        },
        {
          label: '国外',
          val: 2,
        },
      ];
      const obj = reactive({
        countryListOptionsCopy: [],
        countryListOptions: [],
        provinceIdList: [],
        cityList: [],
        countyList: [],
        upperRelationNameList: [],
        labelVal1: [],
        labelVal2: [],
        aa: {
          d: 1,
        },
      });
      const data = reactive({
        name: '', //客户中文名称
        abbreviation: '', //客户中文简称
        creditCode: '', //社会统一信用代码
        mnemonicCode: '', //助记码
        nameEn: '', //客户英文名称
        abbreviationEn: '', //客户英文简称
        companyAttribute: [], //企业属性
        inArea: '', //所在区域
        residentCountryCode: '', //常驻国家
        residentCountryName: '',
        upperRelationId: '', //上级企业ID
        upperRelationName: '', //上级企业名称
        provinceId: '', //省份ID
        cityId: '', //城市ID
        countyId: '', //区县ID
        enterpriseAddress: '', //企业中文地址
        enterpriseAddressEn: '', //企业英文地址
        beforeName: '', //曾用名
        fiscalName: '', //财务名称
        fiscalCode: '', //财务代码
        pushKsFlag: '2', //是否推送快马智运
        meatAssociationCode: '', //肉类协会
        needCostFlag: '2', //成本是否必须
        labelVal1: [], //
        labelVal2: [], //
        labelVal3: [], //
        labelBool1: false, //
        labelBool2: false, //
        labelBool3: false,
      });
      watch(
        () => data.pushKsFlag,
        () => {
          if (data.pushKsFlag == '2') {
            data.needCostFlag = '2';
          }
        }
      );
      const clickQuery = async () => {
        if (!data.name) return;
        let params = {
          id: null,
          columnName: 'name',
          columnValue: data.name,
        };
        check(params, 1, 'query');
      };
      const checkBlur = (v: number) => {
        console.log('values:', v, data.name, data);
        switch (v) {
          case 1:
            if (data.name != '') {
              let params = {
                id: null,
                columnName: 'name',
                columnValue: data.name,
              };
              check(params, 1, '企业全称');
            }
            break;
          case 2:
            if (data.abbreviation != '') {
              let params = {
                id: null,
                columnName: 'abbreviation',
                columnValue: data.abbreviation,
              };
              check(params, 2, '企业简称');
            }
            break;
          case 3:
            if (data.creditCode != '') {
              let params = {
                id: null,
                columnName: 'credit_code',
                columnValue: data.creditCode,
              };
              check(params, 3, '统一社会信用代码');
            }
            break;
          case 4:
            if (data.mnemonicCode != '') {
              let params = {
                id: null,
                columnName: 'mnemonic_code',
                columnValue: data.mnemonicCode,
              };
              check(params, 4, '助记码');
            }
          case 5:
            if (data.nameEn != '') {
              let params = {
                id: null,
                columnName: 'name_en',
                columnValue: data.nameEn,
              };
              check(params, 5, '英文全称');
            }
            break;
          case 6:
            if (data.abbreviationEn != '') {
              let params = {
                id: null,
                columnName: 'abbreviation_en',
                columnValue: data.abbreviationEn,
              };
              check(params, 6, '英文简称');
            }
            break;
          default:
            break;
        }
      };
      const check = async (params: object, n: any, y: any) => {
        let res = await merchants.mosBasicUniqueBusiness(params);
        if (res.data) {
          if (n == 1) {
            queryInfo();
          }
        }
      };
      //查询工商信息
      const queryInfo = () => {
        console.log(data);
        let params = {
          enterpriseName: data.name,
        };
        merchants.mosQueryRelationLienceByOut(params).then((res) => {
          if (res.code == 200 && res.data) {
            data.creditCode = res.data.creditCode;
            emit('getBusinessInfo', res.data);
            // data.mnemonicCode = pinyin.getCamelChars(data.name);
          } else {
            Message.warning('无该企业工商注册信息，请确认公司全称无误');
          }
        });
      };
      const handleSearch = (val, type) => {
        let params = {
          name: val || '',
        };
        merchants.mosQueryRelationByAll(params).then((res) => {
          obj.upperRelationNameList = res.data || [];
        });
      };
      const mosQueryRelationByAll = () => {
        merchants.mosQueryRelationByAll().then((res) => {
          if (res.code == 200) {
            obj.upperRelationNameList = res.data || [];
          } else {
            Message.warning(res.message);
          }
        });
      };
      mosQueryRelationByAll();

      //  企业属性 小类
      const mosQueryAelationAabelAll = () => {
        merchants.mosQueryAelationAabelAll().then((res) => {
          if (res.code == 200) {
            res.data &&
              res.data.forEach((item) => {
                if (item.relationType == 8) {
                  obj.labelVal1.push(item);
                } else if (item.relationType == 9) {
                  obj.labelVal2.push(item);
                }
              });
            // data.mnemonicCode = pinyin.getCamelChars(data.name);
          } else {
            Message.warning(res.message);
          }
        });
      };
      mosQueryAelationAabelAll();

      //国家列表
      const mosCountryList = () => {
        common.getCountry().then((res) => {
          if (res.code == 200) {
            obj.countryListOptions = res.data;
            obj.countryListOptionsCopy = res.data;
          } else {
            Message.warning(res.message);
          }
        });
      };
      mosCountryList();
      //省市区
      const mosProvince = async () => {
        const { data } = await common.getProvince({});
        obj.provinceIdList = data;
      };
      mosProvince();
      const getCity = async (val: any) => {
        const { data } = await common.getCity({ provinceId: val || 0 });
        obj.cityList = data;
      };
      const getCounty = async (val: any) => {
        const { data } = await common.getCounty({ cityId: val || 0 });
        obj.countyList = data;
      };
      const upperRelationIdChange = (val) => {
        obj.upperRelationNameList.forEach((el) => {
          if (el.enterpriseId === val) {
            data.upperRelationName = el.name;
          }
        });
      };
      watch(
        () => data.provinceId,
        (newval, oldval) => {
          getCity(newval);
          if (newval !== oldval && oldval !== '') {
            data.cityId = '';
            data.countyId = '';
          }
        },
        { immediate: false, deep: true }
      );

      watch(
        () => data.cityId,
        (newval, oldval) => {
          getCounty(newval);
          if (newval !== oldval && oldval !== '') {
            data.countyId = '';
          }
        },
        { immediate: false, deep: true }
      );
      const formRef = ref();
      return {
        formRef,
        arr,
        obj,
        inAreaList,
        data,
        clickQuery,
        checkBlur,
        handleSearch,
        upperRelationIdChange,
        check,
      };
    },
  });
</script>
<style lang="less" scoped>
  .main {
    display: flex;

    .right {
      width: 25%;
      border-left: 1px solid #e5e6eb;
      padding: 0 20px 0 33px;
      // flex: 1;
      .title {
        font-size: 14px;
        line-height: 20px;
        color: #696c70;
        margin-bottom: 10px;
        .bitian {
          color: rgb(var(--danger-6));
        }
      }
      .bttips {
        color: rgb(var(--danger-6));
        font-size: 12px;
        margin-top: 10px;
      }
      .arco-checkbox {
        padding-left: 0;
      }
      :deep .arco-select {
        margin-top: 10px;
        margin-bottom: 10px;
      }
    }
  }
  .arco-form {
    width: 75%;
    flex-direction: row;
    flex-wrap: wrap;
    // overflow: hidden;
    // padding-right: 38px;

    .arco-form-item {
      flex: 1 1 calc((100% - 216px) / 3);
      max-width: calc((100% - 216px) / 3);
      margin-top: 24px;
      margin-bottom: 0;
      margin-right: 72px;
      &:nth-of-type(3n) {
        // margin-right: 0px;
      }
      :deep .arco-form-item-label-col {
        margin-bottom: 4px;
      }
    }
    .queryInfo {
      position: relative;
      .url {
        position: absolute;
        right: 0px;
        top: 0px;
        font-size: 20px;
        color: #2969ff;
        cursor: pointer;
      }
    }
    .item-address {
      flex: 1 1 calc(66.66%);
      max-width: calc(66.66% - 72px);
      :deep .arco-select {
        width: calc((100% - 72px) / 3);
      }
    }
  }
</style>
