<template>
  <a-form ref="formRef" layout="vertical" :model="info">
    <a-form-item label="经营单位编码" field="tradeCode">
      <a-input v-model="info.tradeCode" maxlength="10" allow-clear />
    </a-form-item>
    <a-form-item label="组织机构代码" field="organizationCode">
      <a-input v-model="info.organizationCode" maxlength="9" allow-clear />
    </a-form-item>
    <a-form-item label="检验检疫编码" field="ciqCode">
      <a-input v-model="info.ciqCode" maxlength="10" allow-clear />
    </a-form-item>
    <a-form-item label="海关年报有效期" field="customsValidateDate">
      <a-date-picker v-model="info.customsValidateDate" />
    </a-form-item>
    <a-form-item label="汇总征税" field="collectTaxFlag">
      <a-radio-group v-model="info.collectTaxFlag">
        <a-grid :cols="2" :colGap="30">
          <a-grid-item>
            <a-radio value="1">是</a-radio>
          </a-grid-item>
          <a-grid-item>
            <a-radio value="0">否</a-radio>
          </a-grid-item>
        </a-grid>
      </a-radio-group>
      <!-- <a-checkbox v-model="info.collectTaxFlag">汇总征税</a-checkbox> -->
    </a-form-item>
  </a-form>
</template>
<script lang="ts">
  import { ref, toRefs, computed, watch, defineComponent, reactive } from 'vue';
  import { merchants } from '@/api/merchants/index';
  import { common } from '@/api/common/index';
  import { Message, Modal } from '@arco-design/web-vue';
  export default defineComponent({
    name: 'haiguanbeian',
    props: {
      info: {
        type: Object,
        default: () => {},
      },
    },
    setup(props) {
      console.log(props);
      const customsFiling = reactive({
        tradeCode: '', //经营单位编码
        organizationCode: '', //组织机构代码
        ciqCode: '', //检验检疫编码
        customsValidateDate: '', //海关年报有效期
        collectTaxFlag: '0', //汇总征税
      });
      return {
        customsFiling,
      };
    },
  });
</script>
<style lang="less" scoped>
  .arco-form {
    widows: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    // padding-right: 38px;
    .arco-form-item {
      flex: 1 1 calc((100% - 216px) / 4);
      margin-top: 24px;
      margin-bottom: 0;
      margin-right: 72px;
      &:nth-of-type(4n) {
        margin-right: 0px;
      }
      :deep .arco-form-item-label-col {
        margin-bottom: 4px;
      }
    }
    .arco-input-wrapper {
      width: 100%;
    }
    :deep .arco-select {
      width: 100%;
    }
    :deep .arco-picker {
      width: 100%;
    }
  }
</style>
