<template>
  <a-form ref="formRef" layout="vertical" :model="info">
    <a-form-item label="企业类型" field="regType">
      <a-input v-model="info.regType" @blur="checkBlur(1)" allow-clear />
    </a-form-item>
    <a-form-item label="注册号" field="regNumber">
      <a-input v-model="info.regNumber" @blur="checkBlur(2)" allow-clear />
    </a-form-item>
    <a-form-item label="登记机关" field="regOrgName">
      <a-input v-model="info.regOrgName" @blur="checkBlur(3)" allow-clear />
    </a-form-item>
    <a-form-item label="法人代表" field="faRen">
      <a-input v-model="info.faRen" @blur="checkBlur(4)" allow-clear />
    </a-form-item>
    <a-form-item label="经营状态" field="businessStatus">
      <a-input v-model="info.businessStatus" @blur="checkBlur(5)" allow-clear />
    </a-form-item>
    <a-form-item label="注册日期" field="issueTime">
      <a-date-picker v-model="info.issueTime" />
    </a-form-item>
    <a-form-item label="营业期限" field="bussiness">
      <a-input v-model="info.bussiness" allow-clear />
    </a-form-item>
    <a-form-item label="人员规模" field="personSize">
      <a-input v-model="info.personSize" allow-clear />
    </a-form-item>
    <a-form-item label="注册币别" field="issueCurrency">
      <a-input v-model="info.issueCurrency" allow-clear />
    </a-form-item>
    <a-form-item label="注册资本" field="regMoney">
      <a-input v-model="info.regMoney" allow-clear />
    </a-form-item>
    <a-form-item label="所属地区" field="areaName">
      <a-input v-model="info.areaName" allow-clear />
    </a-form-item>
    <a-form-item label="固定电话" field="phone">
      <a-input v-model="info.phone" allow-clear />
    </a-form-item>
    <a-form-item label="公司地址" field="address">
      <a-input v-model="info.address" allow-clear />
    </a-form-item>
    <a-form-item label="邮箱" field="email">
      <a-input v-model="info.email" allow-clear />
    </a-form-item>
    <a-form-item label="网址" field="webSite">
      <a-input v-model="info.webSite" allow-clear />
    </a-form-item>
    <a-form-item label="经营范围" field="bussinessDes">
      <a-input v-model="info.bussinessDes" allow-clear />
    </a-form-item>
  </a-form>
</template>
<script lang="ts">
  import { ref, toRefs, computed, watch, defineComponent, reactive } from 'vue';
  import { merchants } from '@/api/merchants/index';
  import { common } from '@/api/common/index';
  import { Message, Modal } from '@arco-design/web-vue';
  export default defineComponent({
    name: 'zhizhaoxinxi',
    props: {
      costData: {
        type: Array,
        default: () => [],
      },
      info: {
        type: Object,
        default: () => {},
      },
    },
    setup(props) {
      const license = reactive({
        regType: '', //企业类型
        regNumber: '', //注册号
        regOrgName: '', //登记机关
        faRen: '', //法人代表
        businessStatus: '', //经营状态
        issueTime: '', //注册日期
        bussiness: '', //营业期限
        personSize: '', //人员规模
        issueCurrency: '', //注册币别
        regMoney: '', //注册资本
        areaName: '', //所属地区
        phone: '', //固定电话
        address: '', //公司地址
        email: '', //邮箱
        webSite: '', //网址
        bussinessDes: '', //经营范围
      });
      const dataMap = reactive({
        provinceIdList: [],
        cityList: [],
        countyList: [],
      });
      watch(
        () => props.info,
        (newval, oldval) => {
          console.log(newval);
        },
        { immediate: false, deep: true }
      );
      const getProps = () => {
        console.log(props);
      };
      const checkBlur = (v: number) => {
        // console.log('values:', v, license.name, license);
      };

      return {
        // ...toRefs(props),
        license,
        dataMap,
        checkBlur,
        getProps,
      };
    },
  });
</script>
<style lang="less" scoped>
  .main {
    display: flex;
  }
  .arco-form {
    widows: 100%;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    // padding-right: 38px;
    .arco-form-item {
      flex: 1 1 calc((100% - 216px) / 4);
      max-width: calc((100% - 72px) / 4);
      margin-top: 24px;
      margin-bottom: 0;
      padding-right: 0px;
      margin-right: 72px;
      :deep .arco-form-item-label-col {
        margin-bottom: 4px;
      }
      &:nth-of-type(4n) {
        margin-right: 0px;
      }
    }
    .arco-input-wrapper {
      width: 100%;
    }
    :deep .arco-select {
      width: 100%;
    }
    :deep .arco-picker {
      width: 100%;
    }
  }
</style>
