<template>
<a-modal v-model:visible="visible" :width="800"  @ok="handleOk" @cancel="handleCancel">
    <template #title>
      额外费用登记
    </template>
    <a-table :columns="columns" :data="tableData" :pagination="false">
        <template #money="{ record,rowIndex }">
            <a-input v-model="record.name2" />
        </template>
        <template #age="{ record,rowIndex }">
            <a-select v-model="record.name5">
              <a-option>部分签收</a-option>
              <a-option>全部签收</a-option>
            </a-select>
        </template>
    </a-table>
    <div class="newBtn">
       <icon-plus />新增项
    </div>
</a-modal>
</template>

<script lang="ts">
import {
  defineComponent,
  ref,
  watch,
  reactive,
  h,
  toRefs,
  computed,
  onMounted,
  nextTick,
} from 'vue';
export default defineComponent({
    name: 'extraDialog',
    setup(){
       const visible = ref(false);
       const columns=
        [
          {
            title: '费用项目',
            dataIndex: 'name1',
            slotName: 'age'
          },
          {
            title: '币别',
            dataIndex: 'name3',
          },
          {
            title: '费用金额',
            dataIndex: 'name2',
            slotName: 'money'
          }
        ]

       const data=reactive({
          tableData:[
          {
            name1: '1',
            name2: 'Jane Doe',
            name3: 23000,
            name4: '32 Park',
            name5: 'jane.doe'         
          },{
            name1: '1',
            name2: 'Jane Doe',
            name3: 23000,
            name4: '32 Park',
            name5: 'jane.doe'         
          }]

       })
       const handleOk=()=>{
          
       };
      return{
        visible,
        columns,
        handleOk,
        ...toRefs(data)
      }
    }
})
</script>

<style lang="less" scoped>
.newBtn{
    margin-top:23px;
    color: #2969FF;
    cursor: pointer;
    .arco-icon{margin-right:10px;}
}
</style>