<template>
<a-modal v-model:visible="visible" :width="1000"  @before-ok="signSubmit" @cancel="handleCancel">
    <template #title>
      正本签收
    </template>
    <div class="search-title">
        <a-input-search v-model="keyword" :style="{width:'320px'}" placeholder="业务编号/PI号/提单号/委托人"/>
        <div class="title-btn">
            <a-button type="outline" @click="allOrPartSign(1)">部分签收</a-button>
            <a-button type="outline" @click="allOrPartSign(2)">全部签收</a-button>
        </div>
    </div>
    <a-table row-key="orderLogisticsNo" :columns="columns" :data="tableData" :row-selection="rowSelection"
             v-model:selectedKeys="selectedKeys" @page-change="pageChange"  @page-size-change="pageSizeChange" :pagination='pagination'>
        <template #status="{ record,rowIndex }">
          {{record.originalSignatureStatus==1?'部分签收':record.originalSignatureStatus==2?'全部签收':'未签收'}}
        </template>
        <!-- record.error -->
         <template #mark="{ record,rowIndex }">
          <a-input v-model="record.originalExceptionDescription" :error="(record.originalExceptionDescription==''||record.originalExceptionDescription==null)&&record.signatureStatus==1"></a-input>
         </template>
        <template #opt="{ record,rowIndex }">
            <a-select v-model="record.signatureStatus" @change="statusChange(record)">
              <a-option :value="1">部分签收</a-option>
              <a-option :value="2">全部签收</a-option>
            </a-select>
        </template>
    </a-table>
    
</a-modal>
</template>

<script lang="ts">
import { runOrderApi } from '@/api/runOrderApi/index'
import {
  defineComponent,
  ref,
  watch,
  reactive,
  h,
  toRefs,
  computed,
  onMounted,
  nextTick,
} from 'vue';
import { Message  } from '@arco-design/web-vue';
export default defineComponent({
    name: 'signature',
    setup(){
       const visible = ref(false);
       const columns=
        [
          {
            title: '业务编号',
            dataIndex: 'orderLogisticsNo',
          },
          {
            title: 'pi号',
            dataIndex: 'piNo',
          },
          {
            title: '委托人',
            dataIndex: 'clientName',
          },
          {
            title: '正本签收状态',
            dataIndex: 'originalSignatureStatus',
            slotName: 'status'
          },
          {
            title: '签收操作',
            slotName: 'opt'
          },
          {
            title: '备注',
            dataIndex: 'originalExceptionDescription',
            slotName: 'mark'
          }
        ]

       const data=reactive({
          tableData:[],
          selectedKeys:ref([]),
          rowSelection:{
            type: 'checkbox',
            showCheckedAll: true,
            onlyCurrent: false,
          },
          pageNum:1,
          pageSize:10,
          keyword:"",
          pagination:{
            'size': 'mini',
            'total': '',
            'current': 1, //  当前页码
            'page-size': 10, // 每页展示的数据条数
            'show-page-size': true,
            'page-size-options': [10, 20, 30, 40, 50],
            'show-total': true,
            'show-jumper': true,
          },
          params:{

          },
          pageChange(page: number) {
            data.pagination.current = page;
            data.pageNum = page;
            data.getList()
          },
          pageSizeChange(pageSize: number) {
            data.pagination['page-size'] = pageSize;
            data.pageSize = pageSize;
            data.getList()
          },
          getList(){
              runOrderApi.signQuery({
                pageNum:data.pageNum,
                pageSize:data.pageSize,
                keyword:data.keyword
              }).then(res=>{
                console.log(res)
                data.tableData=res.data.list

                data.tableData.forEach(item=>{
                  if(item.originalSignatureStatus==0){
                    item.signatureStatus=''
                  }else{
                    item.signatureStatus=item.originalSignatureStatus
                  }
                })
                 data.pagination.total=res.data.total
              })
          },
          statusChange(item){
          },
          allOrPartSign(order){
            if(data.selectedKeys.length>0){
              data.selectedKeys.forEach(key=>{
                data.tableData.some(item=>{
                  if(item.orderLogisticsNo==key){
                    item.signatureStatus=order
                    return true
                  }
                })
              })
            }else{
              Message.warning('请选择运单')
            }
          },
       })
       const signSubmit=(done)=>{
          let arr=[]
          let error=false
            data.tableData.forEach(item=>{
              if(item.signatureStatus){
                if((item.originalExceptionDescription==''||item.originalExceptionDescription==null)&&item.signatureStatus==1){
                  error=true
                }
                arr.push({
                  orderLogisticsNo:item.orderLogisticsNo,
                  originalSignatureStatus:item.signatureStatus,
                  originalExceptionDescription:item.originalExceptionDescription
                })
              }
            })
            if(error){
              done(false)
            }else{
              runOrderApi.signSubmit(arr).then(res=>{
                if(res.code=='200'){
                  done()
                  data.getList()
                }else{
                  done(false)
                }
              })
            }
       }
       watch(visible,(nVal, oVal) => {
            if(nVal){
              data.getList()
            }
      })
      return{
        visible,
        columns,
        signSubmit,
        ...toRefs(data)
      }
    }
})
</script>

<style lang="less" scoped>
.search-title{
    display: flex;
    justify-content: space-between;
    .title-btn{
      display: flex;
      .arco-btn{
        margin-left:8px;
      }
    }
}
.arco-table{
  margin-top:20px;
}
</style>