<template>
  <a-card
    title="税点及结算方式"
    style="width: 100%; border-top: 0; border-bottom: 0"
  >
    <div v-if="activeKey === '仓储服务'">
      <p>仓储服务税率</p>
      <p>6%</p>
      <p>结算方式</p>
      <p>
        自货物入库之日的第一个月对账并支付，即当月确认并支付上月费用；如未到结费期限需要出库的货物，则甲方应于货物提货前付清其应支付乙方的所有费用。
      </p>
    </div>
    <div v-else>
      <a-form
        :model="form"
        ref="formRef"
        @submit="handleSubmit"
        layout="vertical"
        auto-label-width="100px"
      >
        <p class="title">税点</p>
        <a-row :gutter="16">
          <a-col :span="8">
            <a-form-item field="taxDeadline" label="税金期限" required>
              <a-radio-group v-model="form.taxDeadline">
                <a-radio :value="1">收到《缴款通知书》后当天</a-radio>
                <a-radio :value="2">预收</a-radio>
              </a-radio-group>
            </a-form-item>
          </a-col>
          <a-col :span="8">
            <a-form-item
              field="additionalCostsTax"
              label="额外费用税点"
              required
            >
              <a-select
                v-model="form.additionalCostsTax"
                placeholder=""
                style="width: 200px"
              >
                <a-option label="0%" value="0%"></a-option>
                <a-option label="6%" value="6%"></a-option>
              </a-select>
            </a-form-item>
          </a-col>
          <a-col :span="8">
            <p v-if="offerInfo?.isSingleOpen">运输服务税率:9%</p>
          </a-col>
        </a-row>
        <p class="title">结算方式</p>
        <a-row :gutter="16">
          <a-col :span="24">
            <a-radio-group v-model="form.settlementDeadline">
              <div class="settle_wrapper">
                <a-form-item field="radio" style="width: 150px">
                  <a-radio :value="1" style="width: 150px">第一种</a-radio>
                </a-form-item>
                <a-form-item field="section">
                  <p style="white-space: nowrap"> 业务完成后&nbsp; </p>
                  <a-select
                    v-model="form.settlementDeadlineValue"
                    placeholder=""
                    style="width: 200px"
                  >
                    <a-option label="第一个月" value="第一个月"></a-option>
                    <a-option label="第二个月" value="第二个月"></a-option>
                  </a-select>
                  <p style="white-space: nowrap"> &nbsp; 付款 </p>
                </a-form-item>
              </div>
              <div class="settle_wrapper">
                <a-form-item field="radio" style="width: 150px">
                  <a-radio :value="2" style="width: 150px">第二种 月结</a-radio>
                </a-form-item>
                <a-form-item field="section" style="width: 430px">
                  <p style="white-space: nowrap"> 收到账单后 &nbsp; </p>
                  <a-select
                    v-model="form.workingDays"
                    placeholder=""
                    style="width: 200px"
                  >
                    <a-option label="5" value="5"></a-option>
                    <a-option label="10" value="10"></a-option>
                  </a-select>
                  <p style="white-space: nowrap">&nbsp; 个工作日完成确认 </p>
                </a-form-item>
                <a-form-item field="section" style="width: 430px">
                  <p style="white-space: nowrap"> 收到正规发票后 &nbsp; </p>
                  <a-select
                    v-model="form.invoiceWorkingDays"
                    placeholder=""
                    style="width: 200px"
                  >
                    <a-option label="5" value="5"></a-option>
                    <a-option label="10" value="10"></a-option>
                    <a-option label="15" value="15"></a-option>
                  </a-select>
                  <p style="white-space: nowrap"> &nbsp; 个工作日付款 </p>
                </a-form-item>
              </div>
              <div class="settle_wrapper">
                <a-form-item field="radio" style="width: 150px">
                  <a-radio :value="3" style="width: 150px">第三种 其他</a-radio>
                </a-form-item>
                <a-form-item field="name" style="width: 400px">
                  <a-textarea
                    v-model="form.settlementDeadlineOther"
                    placeholder="请输入"
                  />
                </a-form-item>
              </div>
            </a-radio-group>
          </a-col>
        </a-row>
        <p class="title">其他约定</p>
        <a-row :gutter="16">
          <a-col :span="24"
            ><a-form-item field="remark" style="width: 100%">
              <a-textarea
                v-model="form.remark"
                placeholder="请输入"
              /> </a-form-item
          ></a-col>
        </a-row>
      </a-form>
      <div class="btn_wrapper">
        <DwButton @click="handleSave" type="primary">保存</DwButton>
      </div>
    </div>
  </a-card>
</template>

<script setup>
import { onMounted, reactive, ref, watch } from 'vue';
import { Message } from '@arco-design/web-vue';
import { contractManage } from '@/api/contractManage'; //当前页面api
import { useRoute, useRouter } from 'vue-router';
const formRef = ref(null);
const route = useRoute();
const props = defineProps({
  offerInfo: {
    type: Object,
    default: () => ({}),
  },
  activeKey: [String],
});
const form = reactive({
  taxDeadline: 1,
  additionalCostsTax: '6%',
  settlementDeadline: 1, //第几种
  settlementDeadlineValue: '第一个月',
  workingDays: '5',
  invoiceWorkingDays: '5',
  settlementDeadlineOther: '',
  remark: '',
});
const handleParams = () => {
  const {
    taxDeadline,
    additionalCostsTax,
    settlementDeadline,
    settlementDeadlineValue,
    workingDays,
    invoiceWorkingDays,
    settlementDeadlineOther,
    remark,
  } = form;
  const obj = {};
  if (settlementDeadline === 1) {
    obj.settlementDeadlineValue = settlementDeadlineValue;
  } else if (settlementDeadline === 2) {
    obj.workingDays = workingDays;
    obj.invoiceWorkingDays = invoiceWorkingDays;
  } else if (settlementDeadline === 3) {
    obj.settlementDeadlineOther = settlementDeadlineOther;
  }
  return {
    contractInfoId: route.query.contractInfoId,
    id: route.query.offerBookId,
    taxDeadline,
    remark,
    additionalCostsTax,
    settlementDeadline,
    ...obj,
  };
};
const handleSave = () => {
  formRef.value.validate((result) => {
    console.error(result);
    if (result) return;
    contractManage
      .saveOtherInfo({
        ...handleParams(),
      })
      .then(async (res) => {
        if (res.code == 200) {
          Message.success('操作成功！');
        }
      });
  });
};
watch(
  () => props.offerInfo,
  (newValue) => {},
  {
    immediate: true,
    deep: true,
  }
);
// 回显
onMounted(() => {
  const {
    taxDeadline,
    additionalCostsTax,
    settlementDeadline,
    settlementDeadlineValue,
    workingDays,
    invoiceWorkingDays,
    settlementDeadlineOther,
    remark,
  } = props.offerInfo;

  // taxDeadline: 1,
  //   additionalCostsTax: '6%',
  //   settlementDeadline: 1, //第几种
  //   settlementDeadlineValue: '第一个月',
  //   workingDays: '5',
  //   invoiceWorkingDays: '5',
  //   settlementDeadlineOther: '',
  Object.assign(form, {
    taxDeadline: taxDeadline === null ? 1 : taxDeadline,
    additionalCostsTax: additionalCostsTax === null ? '6%' : additionalCostsTax,
    settlementDeadline: settlementDeadline === null ? 1 : settlementDeadline,
    settlementDeadlineValue:
      settlementDeadlineValue === null ? '第一个月' : settlementDeadlineValue,
    workingDays: workingDays === null ? '5' : workingDays,
    invoiceWorkingDays: invoiceWorkingDays === null ? '5' : invoiceWorkingDays,
    settlementDeadlineOther:
      settlementDeadlineOther === null ? '' : settlementDeadlineOther,
    remark,
  });
  // form.taxDeadline = props.offerInfo
});
</script>

<style lang="less" scoped>
.title {
  font-size: 14px;
  font-weight: 600;
}
.settle_wrapper {
  display: flex;
  align-items: center;
}
.btn_wrapper {
  display: flex;
  justify-content: flex-end;
}
</style>