<template>
  <div class="container">
    <div class="left-side">
      <!-- <screen></screen> -->
      <div class="panel">
        <Banner />
        <!-- <DataPanel />
        <ContentChart /> -->
      </div>
      <!-- <a-grid :cols="24" :col-gap="16" :row-gap="16" style="margin-top: 16px">
        <a-grid-item
          :span="{ xs: 24, sm: 24, md: 24, lg: 12, xl: 12, xxl: 12 }"
        >
          <PopularContent />
        </a-grid-item>
        <a-grid-item
          :span="{ xs: 24, sm: 24, md: 24, lg: 12, xl: 12, xxl: 12 }"
        >
          <CategoriesPercent />
        </a-grid-item>
      </a-grid> -->
    </div>
    <!-- <a-upload :custom-request="customRequest" />
    <a-button type="primary" @click="dowload">下载附件</a-button> -->
  </div>
</template>

<script lang="ts" setup>
import Screen from '@/components/button-area/screen/index.vue';
import Banner from './components/banner.vue';
import DataPanel from './components/data-panel.vue';
import ContentChart from './components/content-chart.vue';
import PopularContent from './components/popular-content.vue';
import CategoriesPercent from './components/categories-percent.vue';
import RecentlyVisited from './components/recently-visited.vue';
import QuickOperation from './components/quick-operation.vue';
import Announcement from './components/announcement.vue';
import Carousel from './components/carousel.vue';
import Docs from './components/docs.vue';

// import { memberUser, LoginData } from '@/api';
// import message from '@arco-design/web-vue/es/message';

// // 文件上传
// const customRequest = async (option: any) => {
//   console.log('option', option);
//   const res: any = await memberUser.upload(option.fileItem);
//   console.log('res', res);
//   if (res.success) {
//     message.success(res.message);
//   }
// };
// // 文件下载

// const dowload = async (data: any) => {
//   const res: any = await memberUser.dowload(data);
//   console.log('res', res);
//   let blob = new Blob([res], { type: 'image/webp' });
//   let url = window.URL.createObjectURL(blob);
//   let link = document.createElement('a');
//   link.href = url;
//   link.download = '你的图片';
//   link.click();
//   URL.revokeObjectURL(url); // 释放内存
//   if (res.success) {
//     message.success(res.message);
//   }
// };
</script>

<script lang="ts">
export default {
  name: 'Dashboard', // If you want the include property of keep-alive to take effect, you must name the component
};
</script>


<style lang="less" scoped>
.container {
  background-color: var(--color-fill-2);
  background-color: #fff;
  // padding: 16px 20px;
  padding-bottom: 20px;
  display: flex;
}

.left-side {
  flex: 1;
  overflow: auto;
}

.right-side {
  width: 280px;
  margin-left: 16px;
}

.panel {
  background-color: var(--color-bg-2);
  border-radius: 4px;
  overflow: auto;
}
:deep(.panel-border) {
  margin-bottom: 0;
  border-bottom: 1px solid rgb(var(--gray-2));
}
.moduler-wrap {
  border-radius: 4px;
  background-color: var(--color-bg-2);
  :deep(.text) {
    font-size: 12px;
    text-align: center;
    color: rgb(var(--gray-8));
  }

  :deep(.wrapper) {
    margin-bottom: 8px;
    text-align: center;
    cursor: pointer;

    &:last-child {
      .text {
        margin-bottom: 0;
      }
    }
    &:hover {
      .icon {
        color: rgb(var(--arcoblue-6));
        background-color: #e8f3ff;
      }
      .text {
        color: rgb(var(--arcoblue-6));
      }
    }
  }

  :deep(.icon) {
    display: inline-block;
    width: 32px;
    height: 32px;
    margin-bottom: 4px;
    color: rgb(var(--dark-gray-1));
    line-height: 32px;
    font-size: 16px;
    text-align: center;
    background-color: rgb(var(--gray-1));
    border-radius: 4px;
  }
}
</style>

<style lang="less" scoped>
// responsive
.mobile {
  .container {
    display: block;
  }
  .right-side {
    // display: none;
    width: 100%;
    margin-left: 0;
    margin-top: 16px;
  }
}
</style>
