<template>
  <div class="container">
    <div class="fixedBt">
      <a-button type="text" @click="reload">刷新</a-button>
      <a-button type="text" @click="goToHistory">查看历史任务</a-button>
    </div>
    <div v-if="!noData">
      <a-tabs :default-active-key="0" @change="tabChange">
        <!-- <div>{{ Tabsconfig }}</div> -->
        <a-tab-pane v-for="(item, index) in TabsConfig" :key="item.key" :title="item.title">
          <component v-if="currentTabIndex === item.key" :is="item.component" :ref="item.tableRef" v-bind="item" @getTodoClassifyCount="getTodoClassifyCount">
          </component>
        </a-tab-pane>
      </a-tabs>
    </div>
    <div v-else>
      <a-empty></a-empty>
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent, ref, reactive, toRefs } from 'vue';
import OceanFreightTable from '@/views/task/components/oceanFreightTable.vue';
import TaxesConfimTable from '@/views/task/components/taxesConfimTable.vue';
import EhcSeachTable from '@/views/task/components/ehcSeachTable.vue';
import DeclarationReceiptTable from '@/views/task/components/declarationReceiptTable.vue';
import GoodsListTable from '@/views/task/components/goodsListTable.vue';
import ElectricDischargeInfoTable from '@/views/task/components/electricDischargeInfoTable.vue';
import UnusualDealTable from '@/views/task/components/unusualDealTable.vue';
import { taskApi } from '@/api/taskApi/index';
import router from '@/router';
export default defineComponent({
  name: 'runOrder',
  components: {
    OceanFreightTable,
    TaxesConfimTable,
    EhcSeachTable,
    DeclarationReceiptTable,
    GoodsListTable,
    ElectricDischargeInfoTable,
    UnusualDealTable,
  },
  setup(props, { emit, slots, attrs }) {
    const oceanFreightTableRef = ref([]);
    const taxesConfimTableRef = ref([]);
    const ehcSeachTableRef = ref([]);
    const dclarationReceiptRef = ref([]);
    const goodsListTableRef = ref([]);
    const electricDischargeInfoRef = ref([]);
    const unusualDealRef = ref([]);
    const TabsConfig= [
        {
          key: 0,
          tableRef: 'oceanFreightTableRef',
          title: '海运费确认',
          component: 'OceanFreightTable',
          dataIndex:'seaFreightConfirmation'
        },
        {
          key: 1,
          tableRef: 'taxesConfimTableRef',
          navRef: 'taskNavBtsRef',
          title: '税金确认',
          component: 'TaxesConfimTable',
          dataIndex:'taxConfirmation'
        },
        {
          key: 2,
          tableRef: 'ehcSeachTableRef',
          title: 'EHC查询',
          component: 'EhcSeachTable',
          dataIndex:'ehcQuery'
        },
        {
          key: 3,
          tableRef: 'dclarationReceiptRef',
          title: '申报回执处理',
          component: 'DeclarationReceiptTable',
          dataIndex:'processingOfDeclarationReceipt'
        },
        {
          key: 4,
          tableRef: 'goodsListTableRef',
          title: '货物清单审核',
          component: 'GoodsListTable',
          dataIndex:'checklistOfGoods'
        },
        {
          key: 5,
          tableRef: 'electricDischargeInfoRef',
          title: '电放信息确认',
          component: 'ElectricDischargeInfoTable',
          dataIndex:'confirmationOfDischargeInformation'
        },
        {
          key: 6,
          tableRef: 'unusualDealRef',
          title: '异常处理',
          component: 'UnusualDealTable',
          dataIndex:'exceptionHandle'
        },
      ]
    const dataMap = reactive({
      searchword: '',
      TabsConfig,
      popCnfig: {
        title: '审核货物清单',
        width: 800,
      },
      currentTabIndex: 0, // 当前tab的索引
      popValue: '', //弹窗内容
      noData:false //全部类型的任务数量是否都为0
    });
    // tab切换
    const tabChange = (v: any) => {
      dataMap.currentTabIndex = v
    };
    //刷新当前页面
    const reload = () => {
      window.location.reload()
    }
    // 查看历史任务
    const goToHistory = ()=>{
      router.push({
        name:'historytask'
      })
    }
    //分类获取待处理的任务数量
    const getTodoClassifyCount = async () => {
      const res = await taskApi.todoClassifyCount()
      if(res.data){
        const flag = Object.values(res.data).every((e:any)=> e === 0)
        dataMap.noData = flag
        if(dataMap.noData) return
        const tempData = TabsConfig.map((item:any)=>{
          if(res.data[item.dataIndex]>0){
            return {
              ...item,
              title:`${item.title}(${res.data[item.dataIndex]})` 
            }
          }
        }).filter(Boolean)
        dataMap.TabsConfig = tempData
      }
    }
    getTodoClassifyCount()
    return {
      oceanFreightTableRef,
      taxesConfimTableRef,
      ehcSeachTableRef,
      dclarationReceiptRef,
      goodsListTableRef,
      electricDischargeInfoRef,
      unusualDealRef,
      getTodoClassifyCount,
      reload,
      goToHistory,
      tabChange,
      ...toRefs(dataMap),
    };
  },
});
</script>

<style lang="less" scoped>
.container {
  background-color: var(--color-bg-2);
  position: relative;
}

.fixedBt {
  position: absolute;
  top: 5px;
  right: 20px;
  z-index: 9;

  .arco-btn {
    margin-left: 10px;
    padding: 0;

    &:hover {
      background-color: transparent;
    }
  }
}

.table-wrap {
  width: 100%;
  overflow: hidden;
  padding: 0 20px;
  height: calc(~'100% - 70px - 64px');
}

.more {
  margin-top: 6px;
}

:deep(.arco-tabs) {
  padding: 0 20px;
}
</style>
