<template>
  <div class="order-preparation-track">
    <button-area>
      <template #left>
        <search-btn
          v-model="searchWord"
          placeholder="业务编号/提单号"
        />
        <filter-btn
          ref="filterBtnRef"
          :view-user-id="viewUserId"
          :view-system-id="viewSystemId"
          v-model:pageInitFilters="pageInitFilters"
        />
        <custom-column
          :view-user-id="viewUserId"
          :view-type="viewType"
          :view-system-id="viewSystemId"
          v-model:pageInitColumns="pageInitColumns"
          @submitSuccess="submitSuccess"
        />
        <export-table
          @click="exportTable"
        />
        <screen-btn />
        <sync-btn @click="syncData" />
      </template>
      <template #right>
        <edit-table v-model="isEditDisabled" disabled />
        <div class="action-row">
          <a-button
            v-if="!singleWindowSwitch"
            type="primary"
            @click="addCustomsDeclaration"
          >
            添加报关单
          </a-button>
          <a-button
            type="primary"
            :disabled="!hasSelectedData"
            @click="handoverDocument(selectedData)"
          >
            单证交接
          </a-button>
          <a-button
            type="primary"
            :disabled="!hasSelectedData"
            @click="batchFinishOrderPreparation(selectedData)"
          >
            制单完成
          </a-button>
        </div>
      </template>
    </button-area>
    <div class="table__wrapper">
      <common-table
        v-if="hasTableData"
        ref="commonTableRef"
        column-resizable
        :url="url"
        :path="path"
        :view-user-id="viewUserId"
        :view-info="viewInfo"
        :searchword="searchWord"
        :view-filter-rule="viewFilterRule"
        :columns="columns"
        :sync-flag="syncFlag"
        :bordered="{ cell: true }"
        :operate-list="operateList"
        :column-update-method="columnUpdate"
        @openFilter="openFilter"
        @getSelectData="getSelectData"
        @paginationWidth="paginationWidth"
        @afterColumnUpdate="syncData"
        @handleCellClick="handleCellClick"
      />
      <a-empty
        v-else
      />
    </div>
    <tab-view
      ref="tabViewRef"
      :view-type="viewType"
      :change-view-id="changeViewId"
      :view-filter-rule="viewFilterRule"
      :pagination-width-num="paginationWidthNum"
      @submitViewHandle="submitViewHandle"
      @submitDelete="submitDelete"
      @currentTabViewId="currentTabViewId"
      @chooseFields="chooseFields"
      @viewFilterRuleChange="viewFilterRuleChange"
      @currentTabviewName="currentTabViewName"
    />
    <tab-view-modal
      v-model="modalVisible"
      :title="tabViewModelTitle"
      :defaultActiveKey="defaultActiveKey"
      v-model:modalParams="modalParams"
      @syncTabViewList="syncTabViewList"
    ></tab-view-modal>
    <register-exception-dialog
      ref="registerExceptionDialogRef"
      :order="currentRow"
      @afterOperation="syncData"
    />
    <matching-exception-dialog
      ref="matchingExceptionDialogRef"
      :order="currentRow"
      @afterOperation="syncData"
    />
    <create-customs-declaration-dialog
      ref="createCustomsDeclarationDialogRef"
      @afterOperation="syncData"
    />
  </div>
</template>

<script lang="ts">
import {
  defineComponent,
  toRefs,
  ref,
  reactive,
  watch,
  onMounted,
  computed,
} from 'vue'
import trackAPI from '@/api/track'
import CommonTable from './components/commonTable.vue'
import RegisterExceptionDialog from './components/registerException.vue'
import MatchingExceptionDialog from './components/matchingException.vue'
import CreateCustomsDeclarationDialog from './components/createCustomsDeclaration.vue'
import { Message } from '@arco-design/web-vue';
import { APPID } from '@/constant'
import { getToken } from '@/utils'
export default defineComponent({
  name: 'order-preparation-track',
  components: {
    CommonTable,
    RegisterExceptionDialog,
    MatchingExceptionDialog,
    CreateCustomsDeclarationDialog,
  },
  setup() {
    const handleCellClick = ({ record, column }: { [key: string]: any }) => {
      pageModel.currentRow = record
      setTimeout(() => {
        if (column.dataIndex === 'manifestComparisonStatusName') {
          matchingExceptionDialogRef.value.toggleVisible()
        }
      })
    }

    const columnUpdate = trackAPI.columnUpdate
    const filterBtnRef = ref()
    const commonTableRef = ref()
    const tabViewRef = ref()
    const registerExceptionDialogRef = ref()
    const matchingExceptionDialogRef = ref()
    const createCustomsDeclarationDialogRef = ref()

    const singleWindowSwitch = ref(false)
    onMounted(() => {
      trackAPI.querySingleWindowSwitch()
        .then(({ code, data }) => {
          if (code === '200') {
            singleWindowSwitch.value = !!data
          }
        })
        .catch(console.log)
    })

    const makeCustomsDeclaration = (record: any) => {
      trackAPI.addDecHead({
        orderId: record.key,
        orderLogisticsNo: record.orderLogisticsNo,
      })
        .then(({ code, data }: { [key: string]: any }) => {
          if (code === '200') {
            const { id, internalCode } = data
            window.open(
              `${import.meta.env.VITE_API_NODE_AEOURL}?id=${id}&IEFlag=I&appId=${APPID}&token=${getToken()}`,
              '_blank',
            )
          }
        })
        .catch(console.error)
    }

    const validateBatchFinishOrderPreparation = (orderList: any[]) => {
      const isOrderFinished = (order: any) => !!order.preparationCompletedTime
      const finishedOrderList = orderList.filter(isOrderFinished)
      if (finishedOrderList.length > 0) {
        Message.error('只能选择尚未制单完成的运单！')
        return false
      }
      return true
    }
    const batchFinishOrderPreparation = (orderList: any[]) => {
      const valid = validateBatchFinishOrderPreparation(orderList)
      if (!valid) return

      const getOrderLogisticsNo = (row: any) => row.orderLogisticsNo
      const orderLogisticsNoList = orderList.map(getOrderLogisticsNo)
      trackAPI.finishOrderPreparation(orderLogisticsNoList)
        .then(({ code }) => {
          if (code === '200') {
            Message.success('制单完成')
            syncData()
          }
        })
        .catch(console.error)
    }

    const pageModel = reactive({
      currentRow: {},
      searchWord: '',
      viewUserId: '',
      viewSystemId: '',
      initFilters: '',
      pageInitFilters: '',
      viewType: '8',
      pageInitColumns: [],
      viewFilterRule: '',
      columns: [],
      initColumns: [],
      syncFlag: 0,
      isEditDisabled: false,
      hasTableData: false,
      url: trackAPI.queryOrderPreparationList,
      path: 'refund/detail',
      viewInfo: {},
      operateList: [
        {
          name: '制作报关单',
          icon: '',
          color: 'rgba(41, 105, 255, 1)',
          // TODO
          isShow: (record: any) => {
            return singleWindowSwitch
          },
          callback: (record: any) => {
            makeCustomsDeclaration(record)
          },
        },
        {
          name: '登记异常',
          icon: '',
          color: 'rgba(41, 105, 255, 1)',
          // TODO
          isShow: (record: any) => {
            return true
          },
          callback: (record: any) => {
            pageModel.currentRow = record
            registerExceptionDialogRef.value.toggleVisible()
          },
        },
        {
          name: '制单完成',
          icon: '',
          color: 'rgba(41, 105, 255, 1)',
          // TODO
          isShow: (record: any) => {
            return true
          },
          callback: (record: any) => {
            batchFinishOrderPreparation([record])
          },
        },
        // {
        //   name: '舰单比对',
        //   icon: '',
        //   color: 'rgba(41, 105, 255, 1)',
        //   // TODO
        //   isShow: (record: any) => {
        //     return true
        //   },
        //   callback: (record: any) => {
        //     pageModel.currentRow = record
        //     setTimeout(() => {
        //       matchingExceptionDialogRef.value.toggleVisible()
        //     })
        //   },
        // },
      ],
      selectedData: [],
      paginationWidthNum: 0,
      changeViewId: '',
      modalVisible: false,
      tabViewModelTitle: '',
      defaultActiveKey: '1',
      modalParams: {},
      currentViewName: '',
    })

    const submitSuccess = (val: any) => {
      tabViewRef.value.getTabViewListFn()
      // 重新获取表头
      tabViewRef.value.getColumns(pageModel.viewUserId);
    };

    const exportTable = async () => {
      const { code, data } = await trackAPI.exportWithPagination(
        // commonTableRef.value.params
      );
      if (code === 200) {
        window.open(data.fileUrl);
      }
    };
    const syncData = () => {
      pageModel.searchWord = ''
      pageModel.viewFilterRule = ''
      pageModel.columns = pageModel.initColumns
      pageModel.syncFlag++
    };

    const validateHandover = (selectedData: any) => {
      const unpreparedOrder = (order: any) => !order.preparationDistributeTime
      const unpreparedOrderList = selectedData.filter(unpreparedOrder)
      if (unpreparedOrderList.length > 0) {
        Message.error('只能选择已经制单派单的运单！')
        return false
      }
      const isOrderReleased = (order: any) => order.clearanceTime
      const releasedOrerList = selectedData.filter(isOrderReleased)
      if (releasedOrerList.length > 0) {
        Message.error('只能选择未报关放行的运单')
        return false
      }
      return true
    }
    const handoverDocument = (selectedData: any) => {
      const valid = validateHandover(selectedData)
      if (!valid) return

      const getOrderLogisticsNo = (order: any) => order.orderLogisticsNo
      trackAPI.handoverDocument(selectedData.map(getOrderLogisticsNo))
        .then(({ code }) => {
          if (code === '200') {
            Message.success('单证交接成功')
            syncData()
          }
        })
        .catch(console.error)
    }

    const openFilter = () => {
      filterBtnRef.value.filterRef.handleClick();
    };

    const getSelectData = (val: any) => {
      pageModel.selectedData = val;
    };
    const hasSelectedData = computed(() => pageModel.selectedData.length > 0)

    const paginationWidth = (val: any) => {
      pageModel.paginationWidthNum = val;
    };

    const submitViewHandle = (param: any) => {
      // return
      // 需要展示视图弹窗
      pageModel.modalVisible = true;
      pageModel.tabViewModelTitle = param.title;
      pageModel.defaultActiveKey = param.defaultActiveKey;
      // 新增视图  编辑视图  复制视图
      // 新增视图 无初始化数据
      // 编辑和复制视图  初始化数据一致
      if (param.title == '新增视图') {
        pageModel.modalParams = {
          initColumns: [],
          initFilters: '',
          ...param,
        };
      } else {
        pageModel.modalParams = {
          initColumns: pageModel.initColumns, // 视图原始展示列
          initFilters: pageModel.initFilters,
          ...param,
        };
      }
    };

    const submitDelete = (id: any) => {
      console.log(id);
      console.log('删除了当前视图  整个页面需要初始化');
    };

    const chooseFields = (val: any) => {
      pageModel.hasTableData = val.length > 0
      // 中间列表 展示列表头  当前展示的 传给公共table的
      pageModel.columns = val;
      // 当前视图表头  刷新时设置为dataMap.columns
      pageModel.initColumns = val;
      // button区域自定义列  定义表头 - -  脑子可能不太好  整这么多表头
      pageModel.pageInitColumns = val;
    };

    const currentTabViewId = (viewId: any) => {
      console.log('接收到视图id的参数了', viewId);
      pageModel.viewUserId = viewId.currentTabViewId;
      pageModel.viewInfo = viewId;
      pageModel.viewSystemId = viewId.viewSystemId;
    };

    const viewFilterRuleChange = (val: any) => {
      // 传给公共table 的筛选项
      pageModel.viewFilterRule = val;
      // 当前视图筛选项  刷新时设置为dataMap.viewFilterRule
      pageModel.initFilters = val;
      // button区域筛选按钮
      pageModel.pageInitFilters = val;
    };

    const currentTabViewName = (val: any) => {
      console.log(val);
      pageModel.currentViewName = val;
    };

    const syncTabViewList = (val: any) => {
      pageModel.changeViewId = val;
      tabViewRef.value.getTabViewListFn();
    };

    watch(
      () => pageModel.searchWord,
      (newval, oldval) => {
        // 改变页面params
        // 重新请求获取列表数据的接口
        // TODO
        // getList(params)
      },
      { immediate: true, deep: true }
    );
    watch(
      () => pageModel.pageInitFilters,
      (newval, oldval) => {
        pageModel.viewFilterRule = newval;
      },
      { immediate: true, deep: true }
    );
    watch(
      () => pageModel.modalParams,
      (newval, oldval) => {
        // console.log('来新数据了modalParams', newval);
      },
      { immediate: true, deep: true }
    );

    const addCustomsDeclaration = () => {
      createCustomsDeclarationDialogRef.value.toggleVisible()
    }

    return {
      filterBtnRef,
      commonTableRef,
      tabViewRef,
      registerExceptionDialogRef,
      matchingExceptionDialogRef,
      createCustomsDeclarationDialogRef,
      singleWindowSwitch,
      ...toRefs(pageModel),
      submitSuccess,
      exportTable,
      syncData,
      handoverDocument,
      openFilter,
      getSelectData,
      paginationWidth,
      submitViewHandle,
      submitDelete,
      currentTabViewId,
      chooseFields,
      viewFilterRuleChange,
      currentTabViewName,
      syncTabViewList,
      addCustomsDeclaration,
      hasSelectedData,
      batchFinishOrderPreparation,
      columnUpdate,
      handleCellClick,
    }
  },
})
</script>

<style lang="less" scoped>
.order-preparation-track {
  background-color: var(--color-bg-2);
  display: flex;
  flex-direction: column;
  height: calc(100vh - 93px);
}

.action-row {
  .arco-btn + .arco-btn {
    margin-left: 10px;
  }
}

.table__wrapper {
  width: 100%;
  overflow: hidden;
  padding: 0 20px;
  height: calc(100% - 70px - 64px);
}
</style>
