<template>
  <div class="button-area">
    <div class="leftBtn">
      <slot name="left"></slot>
    </div>
    <div class="rightBtn">
      <slot name="right"></slot>
    </div>
  </div>
</template>

<script lang="ts" setup></script>

<style scoped lang="less">
  .button-area{
    width: 100vw;
    height: 70px;
    background-color: #fff;
    padding: 23px 20px;
    display: flex;
    justify-content: space-between;
    .leftBtn,
    .rightBtn {
      display: flex;
    }
  }
</style>
