<template>
  <a-affix :offsetTop="93">
    <a-page-header
      :title="curTitle"
      :show-back="false"
      style="
        background: #fff;
        margin-top: -2px;
        border-bottom: 1px solid var(--color-neutral-3);
      "
    />
  </a-affix>
  <!-- 创建报价书-->
  <div class="container">
    <!-- 基本信息 style="display:none"-->
    <BaseInfo
      v-if="isShowBaseInfo"
      :contractInfo="contractInfo"
      :offerInfo="offerInfo"
      :getOfferInfo="getOfferInfo"
      :updatePriceList ='updatePriceList'
      @updateBaseEdit="updateBaseEdit"
    >
    </BaseInfo>
    <!-- 报价书列表  -->
    <PriceList
      v-show="isShowPriceList"
      :contractInfo="contractInfo"
      :offerInfo="offerInfo"
      @onUpdate="onUpdate"
      @updatedActiveKey="updatedActiveKey"
      @updatedOfferInfo="getOfferInfo"
      ref='PriceListRef'
    ></PriceList>
    <!-- 税点以及结算方式 -->

    <div class="bottomButton" v-show="isShowPriceList">
      <DwButton size="small" @click="handleClose" style="margin-right: 8px">
        关闭
      </DwButton>
      <DwButton type="primary" size="small" @click="submitClick">
        完成
      </DwButton>
    </div>
  </div>
</template>

<script setup>
import { computed, reactive, onMounted, ref, watch } from 'vue';
import { useRoute, useRouter } from 'vue-router';
import { contractManage } from '@/api/contractManage'; //当前页面api
import { createOffer } from '@/api/createOffer'; //当前页面api
import BaseInfo from './components/baseInfo/index.vue';
import PriceList from './components/priceList/index.vue';
import { closePage } from '@/views/contractManage/utils.js';
import { useAppStore, useTabBarStore } from '@/store';
import { Message, Modal } from '@arco-design/web-vue';
const route = useRoute();
const router = useRouter();
const isShowPriceList = computed(() =>JSON.stringify(offerInfo) !== '{}'&& isBaseEdit?.value);
// 基本信息 是否处于编辑状态
const isBaseEdit = ref(false);
const updateBaseEdit = (flag) => {
  isBaseEdit.value = flag;
};

const isShowBaseInfo = computed(
  () =>
    JSON.stringify(contractInfo) !== '{}' &&
    (route.query.offerBookId ? JSON.stringify(offerInfo) !== '{}' : true)
);

const curTitle = computed(() =>
  route.query.offerBookId
    ? route.query.item + ' - 编辑报价书'
    : route.query.item + ' - 新建报价书'
);
const contractInfo = reactive({});
const offerInfo = reactive({});
// 获取详情 合同，并传递下去，不用每次获取，节约流量
const getContractInfo = () => {
  const url =
    route.query.item === '补充协议/新增报价' ? 'getDetails' : 'contractInfo';
  contractManage[url]({ id: route.query.contractInfoId }).then(
    ({ code, data }) => {
      if (code === '200') {
        Object.assign(contractInfo, data);
      }
    }
  );
};
const PriceListRef = ref(null)
const updatePriceList = () => { 
  PriceListRef.value.getList()
 }
// 获取详情 报价书，并传递下去，不用每次获取，节约流量
const getOfferInfo = () => {
  route.query.offerBookId &&
    createOffer
      .quoteBookInfo({
        id: route.query.offerBookId,
      })
      .then(({ data, code }) => {
        if (code === '200') {
          Object.assign(offerInfo, data);
        }
      });
};
// 完成
const submitClick = () => {
  contractManage
    .contractOfferComplete({
      id: route.query.offerBookId,
    })
    .then(async (res) => {
      if (res.code == 200) {
        router.push({
          path:'/mos/CRM/contract/list/mutualAgreement',
          query:{...route.query}
        })
        closePage()
        Message.success('操作成功！');
      }
    });
};
// 关闭
const handleClose = () => {
  Modal.warning({
    title: '提示',
    // titleAlign:'start',
    simple: true,
    // hideCancel:false,
    content: '确认关闭当前页面吗？',
    onBeforeOk: (done) => {
      done();
      closePage();
    },
  });
};

onMounted(() => {
  if (route.query.contractInfoId) {
    getContractInfo();
  }
  if (route.query.offerBookId) {
    getOfferInfo();
  }
});

const onUpdate = () => {
  if (route.query.contractInfoId) {
    getContractInfo();
  }
  if (route.query.offerBookId) {
    getOfferInfo();
  }
};
</script>

<style lang="less" scoped>
.container {
  padding: 20px 20px 80px 20px;
  background-color: var(--color-fill-2);
}

.bottomButton {
  position: fixed;
  display: flex;
  padding: 16px 20px;
  height: 62px;
  left: 0;
  right: 0;
  bottom: 0;
  background: #ffffff;
  box-shadow: 0px -1px 0px #e5e6eb;
  justify-content: flex-end;
  z-index: 1;
}
</style>