// ==============breakpoint============

// Extra small screen / phone
@screen-xs: 480px;

// Small screen / tablet
@screen-sm: 576px;

// Medium screen / desktop
@screen-md: 768px;

// Large screen / wide desktop
@screen-lg: 992px;

// Extra large screen / full hd
@screen-xl: 1200px;

// Extra extra large screen / large desktop
@screen-xxl: 1600px;


@mos-bg-header: #1b193c;
@mos-bg-header-hover: rgba(255, 255, 255, 0.12);
@mos-text-1: rbg(255, 255, 255, .5);

@color-text-4: #696C70;
@color-text-5: #212121;

@fill-6: #4E5969;

@color_subTitle:#5d6884; //副标题
@font_pageTitleSize: 24px; //界面标题