<template>
  <a-tag v-bind="attrs">
    <template #icon>
      <slot name="icon"></slot>
      <!-- <icon-star/> -->
    </template>
    <slot name="word"></slot>
  </a-tag>
</template>

<script lang="ts">
import {
  defineComponent,
  onMounted,
  reactive,
  toRefs,
  watch,
  ref,
  computed,
} from 'vue';

export default defineComponent({
  name: 'Tag',
  props: {
    modelValue: { // 如果父组件 v-model 没有指定参数名，则默认是 modelValue
      type: String,
      default: ''
    },
  },
  emits: ['update:modelValue'],
  setup(props, { attrs, emit, slots }) {
    const dataMap = reactive({
      // tagword: ''
    });

    return {
      // ...toRefs(dataMap),
      attrs
    };
  },
});
</script>

<style scoped lang="less">
.LC1{
  color: rgba(245, 63, 63, 1);
  background: rgba(255, 236, 232, 1);
}
.LC2{
  color: rgba(0, 180, 42, 1);
  background-color: rgba(232, 255, 234, 1);
}
.LC3{
  color: rgba(15, 198, 194, 1);
  background-color: rgba(232, 255, 251, 1);
}
.LC4{
  color: rgba(255, 125, 0, 1);
  background-color: rgba(255, 247, 232, 1);
}
.LC5{
  color: rgba(247, 114, 52, 1);
  background-color: rgba(255, 243, 232, 1);
}
.LC6{
  color: rgba(247, 186, 30, 1);
  background-color: rgba(255, 252, 232, 1);
}
.LC7{
  color: rgba(114, 46, 209, 1);
  background-color: rgba(245, 232, 255, 1);
}
.LC8{
  color: rgba(245, 49, 157, 1);
  background-color: rgba(255, 232, 241, 1);
}
.LC9{
  color: rgba(41, 105, 255, 1);
  background-color: rgba(238, 243, 255, 1);
}
.LC10{
  color: rgba(78, 89, 105, 1);
  background-color: rgba(229, 230, 235, 1);
}
</style>