<template>
  <div class="header"> 企业详情 </div>
  <div class="container">
    <!-- <div class="title">新增企业</div> -->
    <a-card>
      <Base
        ref="base"
        @getBusinessInfo="getBusinessInfo"
        @updateStatus="updateStatus"
      ></Base>
    </a-card>
    <a-tabs default-active-key="1">
      <a-tab-pane key="1" title="执照信息">
        <license ref="license"></license>
      </a-tab-pane>
      <a-tab-pane key="2">
        <template #title>海关备案信息</template>
        <customsFiling ref="customsFiling"></customsFiling>
      </a-tab-pane>
      <a-tab-pane key="3">
        <template #title>联系人</template>
        <contacts ref="contacts"></contacts>
      </a-tab-pane>
      <a-tab-pane key="4">
        <template #title>合同信息</template>
        <contract ref="contract"></contract>
      </a-tab-pane>
      <a-tab-pane key="5">
        <template #title>开票信息</template>
        <invoice ref="invoice"></invoice>
      </a-tab-pane>
      <a-tab-pane key="6">
        <template #title>开票范围</template>
        <invoicingRange ref="invoicingRange"></invoicingRange>
      </a-tab-pane>
      <a-tab-pane key="7">
        <template #title>银行账号信息</template>
        <bank ref="bank"></bank>
      </a-tab-pane>
      <a-tab-pane key="8">
        <template #title>门点信息</template>
        <store ref="store"></store>
      </a-tab-pane>
      <a-tab-pane key="9">
        <template #title>常用提单抬头</template>
        <rise ref="rise"></rise>
      </a-tab-pane>
    </a-tabs>
  </div>
</template>
<script lang="ts">
  import { ref, toRefs, computed, watch, defineComponent, reactive } from 'vue';
  import { merchants } from '@/api/merchants/index';
  import { useRouter } from 'vue-router';
  import type { RouteLocationNormalized } from 'vue-router';
  import { listenerRouteChange } from '@/utils/route-listener';
  import { useAppStore, useTabBarStore } from '@/store';
  import { Message, Modal } from '@arco-design/web-vue';

  import Base from './detailComponents/base.vue';
  import license from './detailComponents/license.vue';
  import customsFiling from './detailComponents/customsFiling.vue';
  import contacts from './detailComponents/contacts.vue';
  import contract from './detailComponents/contract.vue';
  import invoice from './detailComponents/invoice.vue';
  import invoicingRange from './detailComponents/invoicingRange.vue';
  import bank from './detailComponents/bank.vue';
  import store from './detailComponents/store.vue';
  import rise from './detailComponents/rise.vue';

  import { useRoute, useRouter } from 'vue-router';
  const route = useRoute();
  const router = useRouter();
  // 1465950078888099859   test
  // 1544922219184185344   dev
  export default defineComponent({
    name: 'merchantsDetail',
    components: {
      Base,
      license,
      customsFiling,
      contacts,
      contract,
      invoice,
      invoicingRange,
      bank,
      store,
      rise,
    },
    setup() {
      // const formRef = ref();
      const dataMap = reactive({
        status: false,
        // orderLogisticsNo: route.query.id,
      });
      const functionMap = reactive({
        enterDiv(n: number) {
          console.log(n);
        },
        updateStatus(v) {
          console.log(v);
          dataMap.status = v;
        },
      });

      let info = ref({});
      const base = ref();
      const baseObj = ref();
      const license = ref();
      const customsFiling = ref();
      const getBusinessInfo = (obj: any) => {
        console.log(obj);
        info.value = obj;
        info.value.organizationCode = obj.companyCode;
      };
      const submit = async () => {
        let arr = [];
        // let arr2 = [];
        let arrrr1 = [];
        let arrrr2 = [];
        let obj1 = {};
        let obj2 = {};
        let baseData = base.value.fromData;
        let baseObjData = base.value.obj;
        let licenseData = license.value.info;
        let customsFilingData = customsFiling.value.info;
        console.log(baseData, baseObjData, licenseData, customsFilingData);
        if (baseData.labelBool1 && baseData.labelVal1.length > 0) {
          obj1.relationType = 8;
          baseObjData.labelVal1.forEach((item) => {
            if (baseData.labelVal1.includes(item.labelCode)) {
              arrrr1.push({
                labelCodeId: item.id,
                labelCode: item.labelCode,
                labelName: item.labelName,
              });
            }
          });
          obj1.detailDTOS = arrrr1;
        }
        if (baseData.labelBool2 && baseData.labelVal2.length > 0) {
          obj2.relationType = 9;
          baseObjData.labelVal2.forEach((item) => {
            if (baseData.labelVal2.includes(item.labelCode)) {
              arrrr2.push({
                labelCodeId: item.id,
                labelCode: item.labelCode,
                labelName: item.labelName,
              });
            }
          });
          obj2.detailDTOS = arrrr2;
        }
        if (baseData.labelBool3) {
          arr.push({ relationType: 4 });
        }
        arr = arr
          .concat(obj1, obj2)
          .filter((value) => Object.keys(value).length !== 0);
        console.log(arr);
        let relationLicenseDTO = {
          regType: licenseData.regType, //企业类型
          regNumber: licenseData.regNumber, //注册号
          regOrgName: licenseData.regOrgName, //登记机关
          faRen: licenseData.faRen, //法人代表
          businessStatus: licenseData.businessStatus, //经营状态
          issueTime: licenseData.issueTime, //注册日期
          bussiness: licenseData.bussiness, //营业期限
          personSize: licenseData.personSize, //人员规模
          issueCurrency: licenseData.issueCurrency, //注册币别
          regMoney: licenseData.regMoney, //注册资本
          areaName: licenseData.areaName, //所属地区
          phone: licenseData.phone, //固定电话
          address: licenseData.address, //公司地址
          email: licenseData.email, //邮箱
          webSite: licenseData.webSite, //网址
          bussinessDes: licenseData.bussinessDes, //经营范围
        };
        let params = {
          relationType: 1,
          dataStatus: baseData.dataStatus, //状态
          id: null, //客户id
          name: baseData.name, //客户中文名称
          abbreviation: baseData.abbreviation, //客户中文简称
          creditCode: baseData.creditCode, //社会统一信用代码
          mnemonicCode: baseData.mnemonicCode, //助记码
          nameEn: baseData.nameEn, //客户英文名称
          abbreviationEn: baseData.abbreviationEn, //客户英文简称
          relationBusinessLabelDTOlist: arr, //企业属性
          inArea: baseData.inArea, //所在区域
          residentCountryCode: baseData.residentCountryCode, //常驻国家
          provinceId: baseData.provinceId, //省份ID
          cityId: baseData.cityId, //城市ID
          countyId: baseData.countyId, //区县ID
          enterpriseAddress: baseData.enterpriseAddress, //企业中文地址
          enterpriseAddressEn: baseData.enterpriseAddressEn, //企业英文地址
          upperRelationId: baseData.upperRelationId, //上级企业ID
          upperRelationName: baseData.upperRelationName, //上级企业名称
          beforeName: baseData.beforeName, //曾用名
          fiscalName: baseData.fiscalName, //财务名称
          fiscalCode: baseData.fiscalCode, //财务代码,
          pushKsFlag: baseData.pushKsFlag == 1 ? true : false, //是否推送快马智运
          meatAssociationCode: baseData.meatAssociationCode,

          relationLicenseDTO: relationLicenseDTO,

          tradeCode:
            customsFilingData.tradeCode == ''
              ? null
              : customsFilingData.tradeCode,
          organizationCode:
            customsFilingData.organizationCode == ''
              ? null
              : customsFilingData.organizationCode,
          ciqCode:
            customsFilingData.ciqCode == '' ? null : customsFilingData.ciqCode,
          customsValidateDate: customsFilingData.customsValidateDate,
          collectTaxFlag: customsFilingData.collectTaxFlag,
        };
        merchants.mosSaveRelation(params).then((res) => {
          if (res.code == 200) {
          } else {
            Message.warning('无该企业工商注册信息，请确认公司全称无误');
          }
        });
      };
      return {
        info,
        base,
        license,
        customsFiling,
        getBusinessInfo,
        submit,
        ...toRefs(dataMap),
        ...toRefs(functionMap),
      };
    },
  });
</script>

<style lang="less" scoped>
  .arco-card-body {
    width: 100%;
    height: 100%;
  }
  .header {
    width: 100%;
    height: 70px;
    // margin-top: 32px;
    line-height: 70px;
    padding-left: 21px;
    background: #ffffff;
    box-shadow: 0px 1px 0px #e5e6eb;
    font-family: 'PingFang SC';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    color: #1d2129;
  }
  .container {
    width: 100%;
    // display: flex;
    // overflow: auto;
    // height: calc(100vh - 180px);
    padding: 18px !important;
    font-family: 'PingFang SC';
    font-style: normal;
    background: #f2f3f5;
    .arco-card {
      padding: 20px;
      border: 1px solid #e5e6eb;
      margin-bottom: 20px;
      background: #ffffff;
      // overflow-y: auto;
      :deep .arco-card-body {
        padding: 0;
      }
    }
    .left {
      margin-right: 20px;
      width: 66%;

      height: 100%;
      .steps {
        padding: 8px 20% 20px;
        border-bottom: 1px solid #e5e6eb;
      }
    }
    .right {
      flex: 1;
      overflow: auto;
      height: 100%;
    }
    .arco-tabs {
      border: 1px solid var(--color-neutral-3);
      margin-bottom: 20px;
      background: #fff;
    }
    :deep .arco-tabs-content {
      padding: 23px 32px;
    }
  }
</style>
