<template>
  <div class="component-common-table">
    <!-- :columns="commonColumn.slice(0,20)"   // 表格渲染慢的原因是  列数太多 -->
    <!-- 多选不可选中  因为后台缺少key字断 -->
    <!-- <span class="icon iconfont icon-zhankai16px1px"></span> -->
    <!-- :loading="loading" -->
    <a-table
      class="commonTable"
      :columns="commonColumn"
      :data="commonTableData"
      :row-selection="rowSelection"
      :scroll="scroll"
      :pagination="false"
      :loading="loading"
      column-resizable
      @sorter-change="sortChange"
      @column-resize="columnResize"
      @select="selectHandle"
      @select-all="selectAll"
      @selection-change="selectionChange"
      v-model:selectedKeys="selectedKeys"
    >
      <!-- 操作列 处理 -->
      <template #operatetitle>
        <div class="overBgTitle"></div>
      </template>
      <template #operate="{ record }">
        <div v-if="record.edit">
          <span
            :style="{
              color: 'rgba(41, 105, 255, 1)',
              padding: '0 10px 0 3px',
            }"
            @click="save(record)"
            ><icon-check
          /></span>
          <span
            :style="{
              color: 'rgba(41, 105, 255, 1)',
              padding: '0 10px 0 3px',
            }"
            @click="cancel(record)"
            ><icon-close
          /></span>
        </div>
        <div v-else>
          <span
            v-for="(item, index) in operateList"
            :key="index"
            v-show="item.isShow && item.isShow(record)"
            @click="item.callback && item.callback(record)"
            :style="{
              color: item.color,
              padding: '0 10px 0 3px',
            }"
          >
            <span v-if="item.name == '编辑'"><icon-edit /></span>
            <span v-else-if="item.name == '删除'"><icon-delete /></span>

            <span v-else>{{ item.name }}</span></span
          >
        </div>

        <!-- {{item.name}} -->

        <!-- <a-dropdown trigger="click" position="bl">
          <a-button size="mini" class="operateBtn">
            <template #icon>
              <icon-more-vertical />
            </template>
          </a-button>
          <template #content>
           
          </template>
        </a-dropdown> -->
      </template>
      <!-- 费用项目 -->
      <template #feeName="{ record }">
        <div v-if="record.edit">
          <a-select
            v-model="record.feeCode"
            @change="(value) => feeChange(value, record)"
            placeholder="请选择费用名称"
            allow-create
          >
            <a-option
              v-for="(item, index) in costList"
              :key="index"
              :value="item.value"
              >{{ item.label }}</a-option
            >
          </a-select></div
        >
        <span v-else>{{ record.feeName }}</span>
      </template>
      <!-- 币别 -->
      <template #currencyName="{ record }">
        <div v-if="record.edit">
          <a-select
            v-model="record.currency"
            placeholder="请选择币别"
            @change="(value) => currencyChange(value, record)"
            allow-create
          >
            <a-option
              v-for="(item, index) in currencyList"
              :key="index"
              :value="item.value"
              >{{ item.label }}</a-option
            >
          </a-select></div
        >
        <span v-else>{{ record.currencyName }}</span>
      </template>
      <!-- 汇率 -->
      <template #currencyExchangeRate="{ record }">
        <div v-if="record.edit">
          <a-input-number
            :precision="4"
            :step="0.0001"
            v-model="record.currencyExchangeRate"
            placeholder="请填写汇率"
            allow-clear
        /></div>
        <div v-else>{{ record.currencyExchangeRate }}</div>
      </template>
      <!-- 单价 -->
      <template #unitPrice="{ record }">
        <div v-if="record.edit">
          <a-input-number
            :precision="2"
            :step="0.01"
            v-model="record.unitPrice"
            placeholder="请填写单价"
            allow-clear
        /></div>
        <div v-else>{{ toThousandFilter(record.unitPrice) }}</div>
      </template>
      <!-- 数量 -->
      <template #quantity="{ record }">
        <div v-if="record.edit">
          <a-input-number
            :precision="0"
            :step="1"
            v-model="record.quantity"
            placeholder="请填写数量"
            allow-clear
        /></div>
        <div v-else>{{ record.quantity }}</div>
      </template>
      <!-- 金额 -->
      <template #taxIncludedAmount="{ record }">
        <div v-if="record.edit">
          <a-input-number
            :precision="2"
            :step="0.01"
            v-model="record.taxIncludedAmount"
            placeholder="请填写金额"
            allow-clear
        /></div>
        <div v-else>{{ toThousandFilter(record.taxIncludedAmount) }}</div>
      </template>
      <!-- 支付对象 -->
      <template #settlerName="{ record }">
        <div v-if="record.edit">
          <a-select
            v-model="record.settlerId"
            placeholder="请选择"
            @search="getSeller"
            @change="(value) => sellerChange(value, record)"
            :filter-option="false"
            allow-search
          >
            <a-option
              v-for="item in sellerList"
              :key="item.value"
              :value="item.value"
              :label="item.label"
            ></a-option> </a-select
        ></div>
        <span v-else>{{ record.settlerName }}</span>
      </template>
      <!-- 支付方式 -->
      <template #paymentMethodName="{ record }">
        <div v-if="record.edit">
          <a-select
            v-model="record.paymentMethodCode"
            placeholder="请选择支付方式"
            @change="(value) => paymentMethodChange(value, record)"
            allow-create
          >
            <a-option
              v-for="(item, index) in paymentMethod"
              :key="index"
              :value="item.value"
              >{{ item.label }}</a-option
            >
          </a-select></div
        >
        <span v-else>{{ record.paymentMethodName }}</span>
      </template>
      <!-- 发票类型 -->
      <template #invoiceName="{ record }">
        <div v-if="record.edit">
          <a-select
            v-model="record.invoiceCode"
            placeholder="请选择发票类型"
            @change="(value) => invoceChange(value, record)"
            allow-create
          >
            <a-option
              v-for="item in invoList"
              :key="item.code"
              :value="item.code"
              >{{ item.name }}</a-option
            >
          </a-select></div
        >
        <span v-else>{{ record.invoiceName }}</span>
      </template>
      <!-- 发票说率 -->
      <template #invoiceTaxRate="{ record }">
        <div v-if="record.edit">
          <a-select
            v-model="record.invoiceTaxRate"
            placeholder="请选择发票税率"
            @change="(value) => invoceChange(value, record)"
            allow-create
          >
            <a-option
              v-for="item in taxList"
              :key="item.value"
              :value="item.value"
              >{{ item.label }}</a-option
            >
          </a-select></div
        >
        <div v-else>{{ record.paymentMethodName }}</div>
      </template>
      <!-- 发票号 -->
      <template #invoiceNo="{ record }">
        <div v-if="record.edit">
          <a-input
            v-model="record.invoiceNo"
            placeholder="请填写发票号"
            allow-clear
        /></div>
        <div v-else>{{ record.invoiceNo }}</div>
      </template>
      <!-- 支票号 -->
      <template #chequeNo="{ record }">
        <div v-if="record.edit">
          <a-input
            v-model="record.chequeNo"
            placeholder="请填写发票号"
            allow-clear
        /></div>
        <div v-else>{{ record.chequeNo }}</div>
      </template>
      <!-- 附件 -->
      <template #fileUrls="{ record }">
        <div style="display: flex; justify-content: space-between">
          <span v-if="record.fileUrls && record.fileUrls.length > 0">
            <a-popover>
              <a-button><icon-attachment /></a-button>
              <template #content>
                <p
                  v-for="(item, index) in record.fileUrls"
                  :key="index"
                  style="display: flex; justify-content: space-between"
                  class="cp"
                >
                  <span
                    style="color: #2969ff; margin-right: 10px"
                    @click="upload(item)"
                    >{{ item.fileName }}</span
                  >
                  <span @click="removeFile(record, item)"><icon-delete /></span
                ></p>
              </template>
            </a-popover>
          </span>
          <!--  -->
          <a-upload
            v-if="record.edit"
            action="/"
            style="padding-top: 6px"
            :custom-request="(value) => customRequest(value, record)"
            :show-file-list="false"
          >
            <template #upload-button>
              <span style="color: #2969ff">
                <icon-upload />
              </span> </template
          ></a-upload>
        </div>
        <!-- <div v-else>
          <div v-for="(item, index) in record.fileUrls" class="cp" :key="index" style="color: #2969ff" @click="upload(item)">{{
            item.fileName
          }}</div>
        </div> -->
      </template>
      <!-- 备注 -->
      <template #remark="{ record }">
        <div v-if="record.edit">
          <a-input v-model="record.remark" placeholder="请填写备注" allow-clear
        /></div>
        <span v-else>{{ record.remark }}</span>
      </template>
      <!-- 星标列 处理 -->
      <template #startitle>
        <div></div>
      </template>
      <template #star="{ record }">
        <a-popover position="right">
          <icon-star
            size="14"
            v-if="record.star == 0"
            style="cursor: pointer"
          />
          <icon-star-fill
            size="14"
            v-else
            :style="{ color: colors[record.star] }"
          />
          <template #content>
            <div class="starList">
              <span v-for="(color, index) in colors" :key="index">
                <icon-star-fill size="14" :style="{ color: color }" />
              </span>
              <span>
                <icon-star size="14" />
              </span>
            </div>
          </template>
        </a-popover>
      </template>

      <!-- TODO 任务和异常需要添加跳转链接 -->

      <!-- 任务列 处理 -->
      <template #task="{ record }">
        <span
          v-if="record.taskNum > 0"
          style="color: rgba(240, 59, 59, 1)"
          class="cp"
        >
          <i class="icon iconHover"> <icon-list size="14" /> </i
          >{{ record.taskNum }}
        </span>
        <span v-else>
          <i class="icon">
            <icon-list size="14" />
          </i>
        </span>
      </template>

      <!-- 异常列 处理 -->
      <template #abnormal="{ record }">
        <span
          v-if="record.taskNum > 0"
          style="color: rgba(240, 59, 59, 1)"
          class="cp"
        >
          <i class="icon iconHover"> <icon-exclamation-circle size="14" /> </i
          >{{ record.abnormalNum }}
        </span>
        <span v-else>
          <i class="icon">
            <icon-exclamation-circle size="14" />
          </i>
        </span>
      </template>

      <!-- 消息列 处理 -->
      <template #infotitle>
        <!-- {{column}} -->
        <div>消息</div>
      </template>
      <template #info="{ record }">
        <span
          v-if="record.taskNum > 0"
          style="color: rgba(41, 105, 255, 1)"
          class="cp"
        >
          <i class="icon iconHoverGreen"> <icon-message size="14" /> </i
          >{{ record.infoNum }}
        </span>
        <span v-else>
          <i class="icon">
            <icon-message size="14" />
          </i>
        </span>
      </template>

      <!-- 筛选列 表头处理 -->
      <template #filterable="{ column }">
        <div>
          {{ column.title }}
          <span class="filterBtn" @click.stop="filterHandle">
            <icon-filter />
          </span>
        </div>
      </template>

      <!-- 状态列 处理 -->
      <template #status="{ record, column }">
        <div>
          <dw-tag :class="record[column.color]">
            <template #icon>
              <!-- <icon-star/> -->
            </template>
            <template #word>
              {{ record[column.dataIndex] }}
            </template>
          </dw-tag>
        </div>
      </template>
    </a-table>
  </div>
</template>

<script lang="ts">
import {
  defineComponent,
  onMounted,
  PropType,
  reactive,
  toRefs,
  watch,
  ref,
  h,
  defineExpose,
  computed,
  onUnmounted,
  nextTick,
} from 'vue';
import {
  updateFieldWidth,
  getTaskNum,
  getRiskNum,
  getInfoNum,
} from '@/api/base';
import { filter } from 'lodash';
import router from '@/router';
import { setNumericText } from '@/utils';
import { memberUser } from '@/api/member';
import commonApi from '@/utils/commonApi/index';
import { settlementApi } from '@/api/settlementApi/index';
import { runOrderApi } from '@/api/runOrderApi/index';
import { Message } from '@arco-design/web-vue';
export default defineComponent({
  name: 'CommonTableSettle',
  props: {
    // 数据请求接口名
    url: {
      type: Function,
      require: true,
    },
    // 视图id
    viewUserId: {
      type: String,
      require: true,
    },
    viewInfo: {
      type: Object,
      require: true,
    },
    searchword: {
      type: String,
      default: '',
    },
    path: { type: String, default: '' },
    viewFilterRule: {
      type: String,
      default: '',
    },
    // 表格列字段配置
    columns: {
      // type: Array as PropType<TableColumnCtx[]>,
      type: Array,
      require: true,
      default: () => [],
    },
    operateList: {
      type: Array,
      default: () => [],
    },
    syncFlag: {
      type: Number,
    },
  },
  emits: ['openFilter', 'getSelectData', 'paginationWidth'],
  // setup(props,context){
  setup(props, { attrs, emit, slots }) {
    const commonTable = ref();
    const selectedKeys = ref([]);
    let data = reactive([]);
    const dataMap = reactive({
      costList: [],
      currencyList: [],
      sellerList: [],
      paymentMethod: [],
      invoList: [],
      rowList: {},
      taxList: [],
      oldSyncFlag: 0,
      titleSlotName: [] as any[],
      timer: null,
      props,
      params: {
        viewUserId: props.viewUserId, // 用户视图ID 必须
        keyword: props.searchword, // 搜索关键字
        pageNum: 1, // 当前页-默认为1
        pageSize: 10, // 每页大小-默认为10
        viewFilterRule: '', //筛选规则: 整体为字符串数组JSON格式数组，单条规则之间分割符为|||
        orderByViewSystemFieldId: '', // 排序字段的系统视图字段ID
        orderByType: '', //排序类型: 降序-desc 升序-asc
      },
      rowSelection: {
        type: 'checkbox',
        showCheckedAll: true,
        width: 30,
        fixed: true,
      },
      commonColumn: [] as any[],
      commonTableData: [] as any[],
      loading: false,
      tData: Array<any>(),
      tLoading: false,
      tTotal: 0,
      // tParams: props.params,
      // tColumns: props.columns,
      // numberText: props.numberText,
      page: 1,
      size: 10,
      // disableList: props.disableList,
      radio: '',
      radioSelect: '',
      bodyHeight: document.body.clientHeight,
      // 点击行选择器时触发
      selectHandle(rowKeys: string, rowKey: string, record: any) {
        console.log(record, '点击行选择器时触发');
      },
      colors: [
        'red',
        'orangered',
        'orange',
        'gold',
        'lime',
        'green',
        'cyan',
        'blue',
        'arcoblue',
        'purple',
        'pinkpurple',
        'magenta',
        'gray',
      ],
      // 排序调整
      sortChange(dataIndex: string, direction: string) {
        // console.log('dsdawdbh但是你就打算打卡')
        // console.log(dataIndex,direction)
        const viewSystemFieldId = props.columns.find(
          (p) => p.fieldInterface === dataIndex
        ).viewSystemFieldId;
        // console.log(viewSystemFieldId)
        dataMap.params.orderByViewSystemFieldId = direction
          ? viewSystemFieldId
          : '';
        dataMap.params.orderByType = direction
          ? direction.replace('end', '')
          : '';
      },
      // 列宽调整方法
      columnResize(dataIndex: string, width: number) {
        if (dataMap.timer) {
          clearTimeout(dataMap.timer);
        }
        dataMap.timer = setTimeout(() => {
          // 用户输入停止1500毫秒后
          // 数据双向绑定
          console.log(dataIndex, width, '调整列块');
          // const currentItem = props.columns.filter((item:any) => item.fieldInterface == dataIndex)
          const viewUserFieldId = props.columns.find(
            (p) => p.fieldInterface === dataIndex
          ).viewUserFieldId;
          console.log(viewUserFieldId);
          let params = {
            viewUserFieldId: String(viewUserFieldId),
            fieldShowsWidth: width,
          };
          updateFieldWidth(params).then((res) => {
            if (res.code == 200) {
              console.log('请求后台列宽接口了');
            }
          });
          // emit('update:modelValue', dataMap.searchWord);
        }, 500);
      },

      selectAll(checked: boolean) {
        console.log('=======', checked);
      },
      // 多选 表格  已选项集合
      selectionChange(rowKeys: string) {
        console.log(selectedKeys, 'selectedKeys');

        // console.log('=======', rowKeys[0]);
        emit('getSelectData', rowKeys);
      },
      filterHandle() {
        console.log('打开筛选');
        emit('openFilter', '');
      },
    });
    const scroll = {
      x: '100%',
      y: '90%',
    };
    const toThousandFilter = (num) => {
      return setNumericText(Number(num), { commas: true, zeroText: '0.00' });
    };
    const spanMethod = ({ rowIndex, columnIndex }) => {
      // console.log(columnIndex)
      if (rowIndex >= 0 && columnIndex === 0) {
        return {
          // rowspan: 1,
          colspan: 2,
        };
      }
    };
    watch(
      () => props.columns,
      (nVal, oVal) => {
        // console.log(nVal)
        dataMap.commonColumn = nVal.map((item: any) => {
          let align = 'left';
          if (
            item.renderType == '整数' ||
            item.renderType == '2位小数' ||
            item.renderType == '3位小数' ||
            item.renderType == '4位小数'
          ) {
            align = 'right';
          }
          let renderType;
          renderType = ({ record, column, rowIndex }) => {
            let index = column.dataIndex;
            return h(
              'span',
              {
                style: {
                  'font-size': '12px',
                  'background': 'rgba(255, 247, 232, 1)',
                  'color': 'rgba(255, 125, 0, 1)',
                  'padding': '3px 8px',
                },
              },
              // 子 VNodes, （可选的）
              [record[index]]
            );
          };
          let renderLink;
          renderLink = ({ record, column, rowIndex }) => {
            let index = column.dataIndex;
            return h(
              'span',
              {
                style: {
                  color: 'rgba(41, 105, 255, 1)',
                  cursor: 'pointer',
                },
                onclick: () => {
                  // todo
                  if (index == 'statementNo') {
                    router.push({
                      name: props.path,
                      query: {
                        id: record.key || record.id,
                      },
                    });
                  }
                  console.log(record.id);
                  // console.log(column);
                  console.log(index, props.path, '跳转地址');
                },
              },
              // 子 VNodes, （可选的）
              [record[index]]
            );
          };
          let newItem = {
            dataIndex: item.fieldInterface, // 列信息的标识，对应 TableData 中的数据
            title: item.fieldName, // 列标题 string | RenderFunction
            width: item.fieldShowsWidth, // 列宽度
            align: align, // 对齐方向'left' | 'center' | 'right'
            fixed: item.freezeFlag ? 'left' : '', // 固定位置 'left' | 'right'
            ellipsis: true, // 是否显示省略号
            tooltip: true, // 是否在显示省略号时显示文本提示。可填入 tooltip 组件属性 boolean | Record<string, any> TODO
            sortable: item.orderDyFlag
              ? { sortDirections: ['ascend', 'descend'] }
              : '',
          };

          if (item.filterFlag) {
            newItem.titleSlotName = 'filterable';
          }
          if (item.renderType == '星标') {
            newItem.titleSlotName = 'startitle';
            newItem.slotName = 'star';
          }
          // 任务  异常  消息
          if (item.renderType == '任务') {
            newItem.slotName = 'task';
          }
          if (item.renderType == '异常') {
            newItem.slotName = 'abnormal';
          }
          if (item.renderType == '消息') {
            newItem.titleSlotName = 'infotitle';
            newItem.slotName = 'info';
          }
          if (item.renderType == '跳转链接文本') {
            // newItem.slotName = 'jumplink'
            newItem.render = renderLink;
          }
          if (item.renderType == '状态') {
            console.log(item, '^^^^^^^^^');
          }
          if (item.renderType == '状态') {
            // newItem.render = renderType;
            newItem.slotName = 'status';
            newItem.color = item.fieldInterface + 'Color';
          }
          if (item.filterFlag) {
            // newItem.titleSlotName = item.fieldInterface;
            dataMap.titleSlotName.push(item.fieldInterface);
          }

          if (item.renderType == '标签') {
            console.log(item, '^^^^^^^^^');
          }
          if (item.editFlag) {
            newItem.slotName = item.fieldInterface;
          }
          return newItem;
        });
        console.log(props.operateList, '=========');
        props.operateList.length > 0 &&
          dataMap.commonColumn.unshift({
            dataIndex: 'operate', // 列信息的标识，对应 TableData 中的数据
            title: '', // 列标题 string | RenderFunction
            width: 90, // 列宽度
            align: 'center',
            fixed: 'left', // 固定位置 'left' | 'right'
            ellipsis: false, // 是否显示省略号
            tooltip: false, // 是否在显示省略号时显示文本提示。可填入 tooltip 组件属性 boolean | Record<string, any>
            slotName: 'operate',
            titleSlotName: 'operatetitle',
          });
      },
      { immediate: true, deep: true }
    );

    watch(
      () => props,
      (nVal, oVal) => {
        const noSync = nVal.syncFlag == dataMap.oldSyncFlag;
        dataMap.params = {
          viewUserId: nVal.viewUserId, // 用户视图ID 必须
          viewSystemId: nVal.viewInfo.viewSystemId, // 系统视图ID 必须
          keyword: nVal.searchword, // 搜索关键字
          pageNum: dataMap.params.pageNum, // 当前页-默认为1
          pageSize: dataMap.params.pageSize, // 每页大小-默认为10
          viewFilterRule: noSync ? nVal.viewFilterRule : '', //筛选规则: 整体为字符串数组JSON格式数组，单条规则之间分割符为|||
          orderByViewSystemFieldId: noSync
            ? dataMap.params.orderByViewSystemFieldId
            : '', // 排序字段的系统视图字段ID
          orderByType: noSync ? dataMap.params.orderSort : '', //排序类型: 降序-desc 升序-asc
        };
        dataMap.oldSyncFlag = nVal.syncFlag;
      },
      { immediate: true, deep: true }
    );

    const getList = (params: any) => {
      const URL = props.url;
      URL!(params).then((res: any) => {
        if (res.code == 200) {
          data = res.data.list;
          // res.data.list.forEach((item) => {
          //   item.fileUrls = [];
          // });
          dataMap.commonTableData = res.data.list;
          dataMap.loading = false;
          console.log(dataMap.loading, 'dataMap.loading');

          const hasTask = dataMap.commonColumn.some(
            (item) => item.dataIndex == 'taskNumber'
          );
          const hasRisk = dataMap.commonColumn.some(
            (item) => item.dataIndex == 'riskNumber'
          );
          const hasInfo = dataMap.commonColumn.some(
            (item) => item.dataIndex == 'messageNumber'
          );
          const keyList = dataMap.commonTableData.map((item) => item.key);
          const getTaskNumParams = {
            businessNoList: keyList.join(','),
          };
          hasTask &&
            keyList.length > 0 &&
            getTaskNum(getTaskNumParams).then((res) => {
              const taskOver = res.data.filter((item: any) => item.taskNum > 0);
              console.log('taskOver:', taskOver);
              taskOver.map((task: any) => {
                dataMap.commonTableData.forEach((tableData: any) => {
                  if (tableData.key == task.businessNo) {
                    tableData.taskNum = task.taskNum;
                  }
                });
              });
            });

          hasRisk &&
            keyList.length > 0 &&
            getRiskNum(getTaskNumParams).then((res) => {
              const riskOver = res.data.filter((item: any) => item.riskNum > 0);
              console.log('riskOver:', riskOver);
              riskOver.map((risk: any) => {
                dataMap.commonTableData.forEach((tableData: any) => {
                  if (tableData.key == risk.businessNo) {
                    tableData.abnormalNum = risk.riskNum;
                  }
                });
              });
            });
          hasInfo &&
            keyList.length > 0 &&
            getInfoNum(getTaskNumParams).then((res) => {
              console.log(res, '==============');
              const infoOver = res.data.filter(
                (item: any) => item.messageNum > 0
              );
              infoOver.map((info: any) => {
                dataMap.commonTableData.forEach((tableData: any) => {
                  if (tableData.key == info.businessNo) {
                    tableData.infoNum = info.messageNum;
                  }
                });
              });
            });
        }
      });
    };

    // 深度监听params 变化时请求列表接口  更新列表数据
    watch(
      () => dataMap.params,
      (nVal, oVal) => {
        dataMap.loading = true;
        dataMap.params.viewUserId && getList(nVal);
      },
      { immediate: true, deep: true }
    );
    //获取项目费用
    const getCostFee = async () => {
      const { code, data } = await runOrderApi.costFee({ ownerId: 489 });
      if (code == 200) {
        dataMap.costList = data.map((item) => {
          return { label: item.costFeeName, value: item.costFeeCode };
        });
      }
    };
    //费用项目修改
    const feeChange = (value, record) => {
      dataMap.costList.forEach((item) => {
        if (item.value == value) {
          record.feeName = item.label;
        }
      });
    };
    //获取币别
    const getCurrency = async () => {
      const data = await commonApi.getCurrency();
      dataMap.currencyList = data.map((item) => {
        return {
          value: item.code,
          label: item.name,
        };
      });
    };
    const currencyChange = async (value, record) => {
      dataMap.currencyList.forEach((item) => {
        if (item.value == value) {
          record.currencyName = item.label;
        }
      });
    };
    // 支付对象
    const getSeller = async (v) => {
      const data = await commonApi.queryRelationByLabelCode({ name: v });
      dataMap.sellerList = data.map((item) => {
        return { label: item.name, value: item.enterpriseId };
      });
    };
    const sellerChange = async (val, record) => {
      dataMap.sellerList.forEach((item) => {
        if (item.value == val) {
          record.settlerName = item.label;
        }
      });
    };
    const getPayMethod = async () => {
      const { code, data } = await settlementApi.basicdataCodeSelect([
        'paymentMethod',
      ]);
      if (code == 200) {
        data.PaymentMethod.forEach((item) => {
          dataMap.paymentMethod.push({
            value: item.codes,
            label: item.codeName,
          });
        });
      }
    };
    const paymentMethodChange = async (val, record) => {
      dataMap.paymentMethod.forEach((item) => {
        if (item.value == val) {
          record.paymentMethodName = item.label;
        }
      });
    };
    //发票类型
    const getInvoList = async () => {
      dataMap.invoList = await commonApi.settleBasicEnterpriseInvoice();
      dataMap.taxList = [];
    };
    const invoceChange = (val, record) => {
      dataMap.invoList.forEach((item) => {
        if (item.code == val) {
          record.invoiceName = item.name;
          dataMap.taxList = item.child.map((v) => {
            return {
              value: v.taxRate,
              label: Number(v.taxRate) * 100 + '%',
            };
          });
        }
      });
    };
    //编辑保存
    const save = async (record) => {
      let params = {
        boxTypeBoxVolume: record.boxTypeBoxVolume,
        chequeNo: record.chequeNo,
        clientId: record.clientId,
        clientName: record.clientName,
        closed: record.closed,
        containerNo: record.containerNo,
        costClosed: record.costClosed,
        createTime: record.createTime,
        creator: record.creator,
        creatorName: record.creatorName,
        currency: record.currency,
        currencyExchangeRate: record.currencyExchangeRate,
        currencyName: record.currencyName,
        currencySymbol: record.currencySymbol,
        disburse: record.disburse,
        feeCode: record.feeCode,
        feeEnName: record.feeEnName,
        feeName: record.feeName,
        feeSource: record.feeSource,
        feeType: record.feeType,
        hblNo: record.hblNo,
        id: record.id.toString(),
        incomeClosed: record.incomeClosed,
        invoiceCode: record.invoiceCode,
        invoiceName: record.invoiceName,
        invoiceNo: record.invoiceNo,
        invoiceTaxRate: record.invoiceTaxRate,
        invoices: record.fileUrls,
        logisticsId: record.logisticsId,
        lumpSumFee: record.lumpSumFee,
        mblNo: record.mblNo,
        modifier: record.modifier,
        modifyTime: record.modifyTime,
        notWrittenOffAmount: record.notWrittenOffAmount,
        ownerId: record.ownerId,
        ownerName: record.ownerName,
        paymentMethodCode: record.paymentMethodCode,
        paymentMethodName: record.paymentMethodName,
        proxyFee: record.proxyFee,
        quantity: record.quantity,
        refundSign: record.refundSign,
        remark: record.remark,
        settlerId: record.settlerId,
        settlerName: record.settlerName,
        shipFee: record.shipFee,
        statementCurrency: record.statementCurrency,
        statementId: record.statementId,
        statementNo: record.statementNo,
        status: record.status,
        taxIncludedAmount: record.taxIncludedAmount,
        tenantId: record.tenantId,
        unitPrice: record.unitPrice,
        untaxedAmount: record.untaxedAmount,
        writeOffId: record.writeOffId,
        writeOffNo: record.writeOffNo,
        writeOffStatus: record.writeOffStatus,
        writeOffType: record.writeOffType,
        writingOffAmount: record.writingOffAmount,
        writtenOffAmount: record.writtenOffAmount,
      };
      const { code } = await settlementApi.settleTrackCost(params);
      if (code == 200) {
        record.edit = false;
        getList(dataMap.params);
        Message.success('编辑成功');
      }
      console.log(record, '编辑保存');
    };
    const cancel = async (record) => {
      record.edit = false;
      getList(dataMap.params);
    };
    // 自定义上传
    const customRequest = (option, record) => {
      console.log(option, 'option');

      memberUser.fileUpload({ file: option.fileItem.file }).then((res) => {
        if (res.code == 200) {
          record.fileUrls.push({
            id: option.fileItem.uid,
            fileName: res.data.fileName,
            fileUrl: res.data.url,
          });
        }
      });
    };
    const removeFile = (record, item) => {
      console.log(record.fileUrls, item, 'fileUrls');
      record.fileUrls = record.fileUrls.filter((row) => row.id != item.id);
      console.log(record.fileUrls, item, 'fileUrls');
    };
    const upload = (item) => {
      window.open(item.fileUrl);
    };
    onMounted(() => {
      getCostFee();
      getCurrency();
      getSeller('');
      getPayMethod();
      getInvoList();
    });
    return {
      data,
      scroll,
      getList,
      sellerChange,
      save,
      upload,
      paymentMethodChange,
      customRequest,
      removeFile,
      cancel,
      invoceChange,
      toThousandFilter,
      feeChange,
      currencyChange,
      ...toRefs(dataMap),
      // rowSelection,
      selectedKeys,
      spanMethod,
    };
  },
});
</script>

<style lang="less" scoped>
.commonTable {
  // width: calc(~"100vh - 40px");
  width: calc(~'100vh - 0px');
  width: calc(~'100vw - 40px');
}
:deep(.arco-table-container) {
  width: auto;
}
:deep(.arco-table-container .arco-table-content) {
  display: flex;
  flex-direction: column;
  width: auto;
  height: 100%;
}
:deep(.arco-table-pagination) {
  position: fixed;
  right: 20px;
  bottom: 20px;
  z-index: 2;
}
.component-common-table {
  height: 100%;
}
.filterBtn {
  width: 22px;
  height: 22px;
  display: inline-block;
  text-align: center;
  line-height: 22px;
  // margin-left: 3px;
  cursor: pointer;
  &:hover {
    background-color: var(--color-neutral-3);
    border-radius: 2px;
  }
}
.filterIcon {
  position: absolute;
  right: 4px;
  top: 50%;
  margin-top: -12px;
  height: 24px;
  width: 24px;
  font-size: 12px;
  border-radius: 2px;
  line-height: 24px;
  text-align: center;
  &:hover {
    background: #e5e6eb;
  }
}
.starList {
  span {
    margin: 0 4px;
    cursor: pointer;
  }
}
.operateBtn {
  // width: 20px;
  // height: 20px;
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -12px;
}
.overBgTitle {
  width: 2px;
  height: 40px;
  position: absolute;
  left: -1px;
  top: 0;
  background-color: var(--color-neutral-2);
}
.overBg {
  width: 1px;
  height: 40px;
  top: 0;
  left: -1px;
  background-color: var(--color-bg-1);
  position: absolute;
}
:deep(.arco-table-tr) {
  &:hover {
    .overBg {
      background-color: var(--color-neutral-1);
    }
  }
}
:deep(.arco-table-tr-checked .overBg) {
  background-color: var(--color-neutral-1);
}

.icon {
  width: 24px;
  height: 24px;
  display: inline-block;
  text-align: center;
  line-height: 24px;
  border-radius: 2px;
}
.iconHover {
  &:hover {
    background: rgba(245, 63, 63, 0.3);
  }
}
.iconHoverGreen {
  &:hover {
    background: rgba(41, 105, 255, 0.3);
  }
}
</style>
