<template>
  <div>
    <!-- <div class="btn">
      <a-button type="primary">批量下载</a-button>
    </div> -->
    <a-table :columns="columns" :data="tableData" :pagination="false">
      <template #fileName="{ record }">
        <span style="color: #2969ff" class="cp" @click="upload(record)">{{
          record.fileName
        }}</span>
      </template>
    </a-table>
  </div>
</template>
<script lang="ts" setup>
import { reactive, ref } from 'vue';
defineProps({
  columns: {
    type: Array,
    default: [],
  },
  tableData: {
    type: Array,
    default: [],
  },
});
const upload = (row) => {
  window.open(row.fileUrl);
};
</script>
<style lang="less" scoped>
.btn {
  display: flex;
  height: 50px;
  align-items: center;
  justify-content: flex-end;
}
</style>