<template>
  <a-modal
    v-model:visible="visible"
    :mask-closable="false"
    :width="800"
    @before-ok="ok"
    @before-cancel="cancel"
    @cancel="cancel"
    :ok-loading="false"
    :body-style="{
      'max-height': '60vh',
      'min-height': '250px',
      'overflow-y': 'auto',
    }"
  >
    <template #title> 批量添加单证 </template>
    <div class="list">
      <a-checkbox-group v-model="data" v-for="item in list" :key="index">
        <a-checkbox :value="item.documentType" :disabled="item.checkFlag">{{
          item.documentName
        }}</a-checkbox>
      </a-checkbox-group>
    </div>
  </a-modal>
</template>
<script lang="ts">
  import {
    defineComponent,
    ref,
    watch,
    reactive,
    h,
    toRefs,
    computed,
    onMounted,
    nextTick,
  } from 'vue';
  import { receiptDocumentsApi } from '@/api/receiptDocumentsApi/index';
  import { examineApi } from '@/api/examine/index';
  import { useRoute } from 'vue-router';
  import { Message } from '@arco-design/web-vue';
  export default defineComponent({
    components: {},
    setup(props, ctx) {
      const route = useRoute();
      const dataMap = reactive({
        visible: false,
        data: [],
        list: [],
      });
      const functionMap = reactive({
        show() {
          // functionMap.getRelationOrderList();
          dataMap.visible = true;
          functionMap.windowAddDocument();
        },
        windowAddDocument() {
          let params = {
            orderLogisticsNo: route.query.orderLogisticsNo,
          };
          examineApi.windowAddDocument(params).then((res) => {
            dataMap.list = res.data;
            // dataMap.tableData.forEach((item) => {
            //   item.checked = 0;
            // });
          });
        },

        ok(done) {
          let arr = [];
          if (dataMap.data.length == 0) {
            done(true);
          }
          dataMap.list.forEach((item) => {
            if (dataMap.data.includes(item.documentType)) {
              arr.push({
                name: item.documentName,
                type: item.documentType,
              });
            }
          });
          ctx.emit('addDocument', arr);
          dataMap.visible = false;
        },
        cancel() {
          dataMap.data = [];
          dataMap.visible = false;
        },
      });
      return {
        ...toRefs(dataMap),
        ...toRefs(functionMap),
      };
    },
  });
</script>
<style lang="less" scoped>
  .list {
    display: flex;
    // flex-direction: row;
    flex-wrap: wrap;
    .arco-checkbox-group {
      flex: 1 1 calc((100% - 100px) / 5);
      max-width: calc((100% - 100px) / 5);
      margin-right: 20px;
    }
  }
  .keyword {
    margin-bottom: 24px;
  }
  .table {
    min-height: 200px;
    max-height: 500px;
    overflow-y: auto;
  }
  .fujian {
    color: var(--color-text-2);
    font-size: 14px;
    margin-top: 0;
    margin-bottom: 4px;
  }
</style>
