<template>
  <div class="base-container">
    <div class="header">基本信息</div>
    <a-form ref="formRef" layout="vertical" :model="fromData">
      <a-form-item label="PI号" field="piNo">
        <div v-if="hover1" class="item-div" @mouseenter="enterDiv('hover1')">{{
          fromData.piNo || '-'
        }}</div>
        <a-input
          v-else
          :disabled="![0, 10, 11].includes(detail.status)"
          ref="hover1Ref"
          @blur="blur('hover1')"
          v-model.number="fromData.piNo"
          @mouseleave="leaveEdit('hover1')"
          allow-clear
        />
      </a-form-item>
      <a-form-item label="委托人" field="clientId">
        <div v-if="hover2" class="item-div" @mouseenter="enterDiv('hover2')">{{
          fromData.clientNameZh || '-'
        }}</div>
        <a-select
          v-else
          :disabled="![0, 10, 11].includes(detail.status)"
          v-model="fromData.clientId"
          ref="hover2Ref"
          @blur="blur('hover2')"
          @search="(val) => handleSearch(val, '委托人')"
          @mouseleave="leaveEdit('hover2')"
          allow-search
        >
          <a-option
            v-for="item of clientIdList"
            :value="item.enterpriseId"
            :label="item.name"
            :key="item.enterpriseId"
          />
        </a-select>
      </a-form-item>
      <a-form-item label="国内买家" field="domesticBuyerId">
        <div v-if="hover3" class="item-div" @mouseenter="enterDiv('hover3')">{{
          fromData.domesticBuyerNameZh || '-'
        }}</div>
        <a-select
          v-else
          :disabled="[22].includes(detail.status)"
          ref="hover3Ref"
          @blur="blur('hover3')"
          @search="(val) => handleSearch(val, '国内买家')"
          @mouseleave="leaveEdit('hover3')"
          v-model="fromData.domesticBuyerId"
          allow-search
        >
          <a-option
            v-for="item of buyerList"
            :value="item.enterpriseId"
            :label="item.name"
            :key="item.enterpriseId"
          />
        </a-select>
      </a-form-item>
      <a-form-item label="起运港" field="portOfLoadingEn">
        <div v-if="hover4" class="item-div" @mouseenter="enterDiv('hover4')">{{
          fromData.portOfLoadingEn || '-'
        }}</div>
        <a-select
          v-else
          :disabled="![0, 10, 11].includes(detail.status)"
          ref="hover4Ref"
          @blur="blur('hover4')"
          :filter-option="filterHandlePort"
          @mouseleave="leaveEdit('hover4')"
          @change="(val) => changeport(val, '1')"
          v-model="fromData.portOfLoadingZh"
          allow-search
        >
          <a-option
            v-for="item of searchPortData"
            :value="item.seaportName"
            :label="item.seaportEnName"
            :key="item.seaportName"
          >
            <div class="search-foot">
              <span>{{ item.seaportName }}</span>
              <span>{{ item.seaportEnName }}</span>
            </div></a-option
          >
        </a-select>
      </a-form-item>
      <a-form-item label="目的港" field="portOfDischarge">
        <div v-if="hover5" class="item-div" @mouseenter="enterDiv('hover5')">{{
          fromData.portOfDischargeEn || '-'
        }}</div>
        <a-select
          v-else
          :disabled="![0, 10, 11, 12].includes(detail.status)"
          ref="hover5Ref"
          @blur="blur('hover5')"
          :filter-option="filterHandlePort"
          @mouseleave="leaveEdit('hover5')"
          @change="(val) => changeport(val, '2')"
          v-model="fromData.portOfDischargeZh"
          allow-search
        >
          <a-option
            v-for="item of portList"
            :value="item.seaportName"
            :label="item.seaportEnName"
            :key="item.seaportName"
          >
            <div class="search-foot">
              <span>{{ item.seaportName }}</span>
              <span>{{ item.seaportEnName }}</span>
            </div></a-option
          >
        </a-select>
      </a-form-item>
      <a-form-item label="预计到港时间" field="eta">
        <div v-if="hover6" class="item-div" @mouseenter="enterDiv('hover6')">{{
          fromData.eta || '-'
        }}</div>
        <a-date-picker
          v-else
          ref="hover6Ref"
          @blur="blur('hover6')"
          v-model="fromData.eta"
          show-time
          format="YYYY-MM-DD HH:mm:ss"
          @mouseleave="leaveEdit('hover6')"
        />
      </a-form-item>
      <a-form-item label="经营单位" field="fullCo">
        <div class="item-div">{{ fromData.fullCo || '-' }}</div>
      </a-form-item>
      <a-form-item label="客服专员" field="operator">
        <div v-if="hover7" class="item-div" @mouseenter="enterDiv('hover7')">{{
          fromData.operator || '-'
        }}</div>
        <a-select
          v-else
          :disabled="![0, 10, 11].includes(detail.status)"
          ref="hover7Ref"
          @blur="blur('hover7')"
          @mouseleave="leaveEdit('hover7')"
          v-model="fromData.operatorId"
          allow-search
        >
          <a-option
            v-for="item of customerServiceList"
            :value="item.userId"
            :label="item.userName"
            :key="item.userId"
          />
        </a-select>
      </a-form-item>
    </a-form>
  </div>
</template>
<script lang="ts">
import { ref, toRefs, computed, watch, defineComponent, reactive } from 'vue';
import { merchants } from '@/api/merchants/index';
import { emailApi } from '@/api/email/index';
import { examineApi } from '@/api/examine/index';
import { common } from '@/api/common/index';
import { Message, Modal } from '@arco-design/web-vue';
import { useRoute, useRouter } from 'vue-router';

export default defineComponent({
  name: 'shendanxq',
  props: {
    // detail: {
    //   type: Object,
    //   default: () => {},
    // },
  },
  setup(props, { attrs, emit, slots }) {
    const route = useRoute();
    const router = useRouter();
    const hover1Ref = ref<any>(null);
    const hover2Ref = ref<any>(null);
    const hover3Ref = ref<any>(null);
    const hover4Ref = ref<any>(null);
    const hover5Ref = ref<any>(null);
    const hover6Ref = ref<any>(null);
    const hover7Ref = ref<any>(null);
    const hover8Ref = ref<any>(null);
    const hoverRef = [
      hover1Ref,
      hover2Ref,
      hover3Ref,
      hover4Ref,
      hover5Ref,
      hover6Ref,
      hover7Ref,
      hover8Ref,
    ];
    const hoverObj = reactive({
      hover1: true, //
      hover2: true, //
      hover3: true, //
      hover4: true, //
      hover5: true, //
      hover6: true, //
      hover7: true, //
    });

    const dataMap = reactive({
      fromData: {
        piNo: '', //PI号
        clientId: '', //委托人
        clientNameZh: '', //
        domesticBuyerId: '', //
        domesticBuyerNameZh: '', //国内买家
        portOfLoadingEn: '', //起运港
        portOfLoadingZh: '', //起运港
        portOfLoading: '', //
        portOfDischargeEn: '', //目的港
        portOfDischargeZh: '',
        portOfDischarge: '', //
        eta: '', //预计到港时间
        fullCo: '', //经营单位
        operator: '', //客服专员
        operatorId: '',
      },
      detail: {},
      clientIdList: [], //委托人
      buyerList: [], //国内买家
      searchPortData: [], //港口
      portList: [], //港口
      customerServiceList: [], //客服专员
    });
    const functionMap = reactive({
      init() {
        functionMap.getMosBuyerList2();
        functionMap.getRole();
        functionMap.examineOrder();
        functionMap.getPortList();
      },
      examineOrder() {
        let params = {
          orderLogisticsNo: route.query.orderLogisticsNo,
        };
        examineApi.examineOrder(params).then((res: any) => {
          if (res.code == 200) {
            dataMap.fromData = res.data || {};
            dataMap.detail = res.data || {};
            dataMap.fromData.portOfLoadingEn =
              res.data.orderLogisticsExtVO.portOfLoadingEn;
              dataMap.fromData.portOfLoadingZh =
              res.data.orderLogisticsExtVO.portOfLoadingZh;
            dataMap.fromData.portOfDischargeEn =
              res.data.orderLogisticsExtVO.portOfDischargeEn;
              dataMap.fromData.portOfDischargeZh =
              res.data.orderLogisticsExtVO.portOfDischargeZh;
            dataMap.fromData.eta = res.data.orderLogisticsExtVO.eta;
            dataMap.fromData.operator =
              res.data.logisticsBelongingInforVO.operator;
            dataMap.fromData.operatorId =
              res.data.logisticsBelongingInforVO.operatorId;

            console.log(dataMap.fromData);
            emit('updateDetail', res.data);
          }
        });
      },
      getMosBuyerList2(queryString: any) {
        let params = {
          relationType: 8,
          name: queryString || '',
          hasTradeCode: '',
        };
        emailApi.getMosBuyerList2(params).then((res) => {
          dataMap.clientIdList = res.data;
          dataMap.buyerList = res.data;
        });
      },
      getPortList() {
        common.getPortList().then((res) => {
          dataMap.searchPortData = res.data;
        });
        common
          .portAreaList({
            countryId: 104,
          })
          .then((res) => {
            if (res.code == 200) {
              dataMap.portList = res.data;
            }
          });
      },

      getRole() {
        let params = {
          roleType: 4,
        };
        emailApi.getRole(params).then((res) => {
          dataMap.customerServiceList = res.data;
        });
      },
      enterDiv(m: any) {
        // hoverObj.hover1 = false;
        hoverObj[m] = false;
      },
      enterEdit(m: any) {
        hoverObj[m] = false;
      },
      leaveEdit(m: any) {
        let index = m.split('hover')[1];
        let actRef = hoverRef[index - 1];
        if (!actRef) return;
        let el = actRef.value.$el;
        if (!el) return;
        let element: any = null;
        if (el.querySelector) {
          element = el.querySelector('input');
        }
        if (!element) {
          element = el.nextElementSibling?.querySelector('input');
        }
        if (element === document.activeElement) return;
        hoverObj[m] = true;
      },
      blur(m: any, y?: any, f?: any) {
        hoverObj[m] = true;
        functionMap.examineEdit();
      },
      changeport(val, n) {
        console.log(val, n);
        if(n==1){
          if(n==1){
         dataMap.fromData.portOfLoading = dataMap.searchPortData.find(
            (item) => item.seaportName === val
          ).seaportCode;
        }else{
           dataMap.fromData.portOfDischarge = dataMap.portList.find(
            (item) => item.seaportName === val
          ).seaportCode;
        }
        }
        // dataMap.searchPortData.forEach((item) => {
        //   if (val == item.seaportName) {
        //     dataMap.fromData[n] = item.seaportName;
        //     console.log(11);
        //   }
        // });
      },
      handleSearch(val, type) {
        let params = {
          relationType: 8,
          name: val || '',
          hasTradeCode: '',
        };
        emailApi.getMosBuyerList2(params).then((res) => {
          if (type == '委托人') {
            dataMap.clientIdList = res.data;
          } else {
            dataMap.buyerList = res.data;
          }
        });
      },
      // 港模糊查询
      filterHandlePort(val, option) {
        return (
          option.label.toLowerCase().indexOf(val.toLowerCase()) > -1 ||
          option.value.indexOf(val) > -1
        );
      },
      examineEdit() {
        let params = {
          orderLogisticsByMailDTO: {
            orderLogisticsNo: route.query.orderLogisticsNo,
            piNo: dataMap.fromData.piNo,
            clientId: dataMap.fromData.clientId,
            clientNameZh: dataMap.fromData.clientNameZh,
            domesticBuyerId: dataMap.fromData.domesticBuyerId,
            domesticBuyerNameZh: dataMap.fromData.domesticBuyerNameZh,
            portOfLoadingZh: dataMap.fromData.portOfLoadingZh,
            portOfLoading: dataMap.fromData.portOfLoading,
            portOfDischargeZh: dataMap.fromData.portOfDischargeZh,
            portOfDischarge: dataMap.fromData.portOfDischarge,
            eta: dataMap.fromData.eta,
            fullCo: dataMap.fromData.fullCo,
            operator: dataMap.fromData.operator,
            operatorId: dataMap.fromData.operatorId,
          },
        };
        examineApi.examineEdit(params).then((res) => {
          if (res.code == 200) {
            functionMap.examineOrder();
          }
        });
      },
    });

    functionMap.init();
    return {
      hover1Ref,
      hover2Ref,
      hover3Ref,
      hover4Ref,
      hover5Ref,
      hover6Ref,
      hover7Ref,
      hover8Ref,
      ...toRefs(dataMap),
      ...toRefs(functionMap),
      ...toRefs(hoverObj),
    };
  },
});
</script>
<style lang="less" scoped>
.base-container {
  .header {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;

    color: #1d2129;
  }
  // display: flex;
}
.search-foot {
  width: 100%;
  display: flex;
  justify-content: space-between;
  span:first-of-type {
    margin-right: 20px;
  }
}
.arco-form {
  width: 100%;
  flex-direction: row;
  flex-wrap: wrap;
  // padding-right: 38px;
  .arco-form-item {
    flex: 1 1 calc((100% - 216px) / 4);
    max-width: calc((100% - 216px) / 4);
    margin-top: 24px;
    margin-bottom: 0;
    margin-right: 72px;
    &:nth-of-type(4n) {
      margin-right: 0px;
    }
    :deep .arco-form-item-label-col {
      margin-bottom: 4px;
    }
    .item-div {
      width: 100%;
      height: 32px;
      line-height: 32px;
      &:hover {
        background: #e5e6ebcc;
      }
    }
    .hoverActive {
    }
  }

  .arco-input-wrapper {
    width: 100%;
  }
  :deep .arco-select {
    width: 100%;
  }
}
</style>
