<template>
  <div class="documentTab">
    <div class="header">
      <div class="header-left"
        ><a-button type="outline" @click="addDoc">新增单证</a-button></div
      >
      <div class="header-right">
        <a-dropdown :popup-max-height="false" @select="batchSetting">
          <a-button type="outline">批量设置 <icon-down /></a-button>
          <template #content>
            <a-dgroup title="文件类型">
              <a-doption value="1">草稿件</a-doption>
              <a-doption value="2">彩扫件</a-doption>
            </a-dgroup>
            <a-dgroup title="状态">
              <a-doption value="3">有误</a-doption>
              <a-doption value="4">无误</a-doption>
              <a-doption value="5">缺失</a-doption>
            </a-dgroup>
          </template>
        </a-dropdown>
        <a-button type="outline" @click="batchDown">批量下载</a-button>
        <a-popconfirm content="确认删除？" @before-ok="batchDel">
          <a-button type="outline" status="danger">批量删除</a-button>
        </a-popconfirm>
      </div>
    </div>
    <a-table
      :columns="columns"
      :data="tableData"
      row-key="id"
      :scroll="scroll"
      :row-selection="rowSelection"
      v-model:selectedKeys="selectedKeys"
      :pagination="false"
    >
      <!-- <template #operate="{ record, rowIndex }" :width="record.width">
        {{ rowIndex + 1 }}
      </template> -->
      <template #documentsCategory="{ record, rowIndex }" :width="record.width">
        <a-select
          v-model="record.documentsCategory"
          @change="changeRow(record, rowIndex)"
        >
          <a-option
            label="草稿"
            :value="1"
            v-if="!['自动证', '核销单'].includes(record.documentName)"
          ></a-option>
          <a-option label="彩扫" :value="2"></a-option>
        </a-select>
      </template>
      <template #status="{ record, rowIndex }">
        <a-select v-model="record.status" @change="changeRow(record, rowIndex)">
          <a-option label="有误" :value="0"></a-option>
          <a-option label="无误" :value="1"></a-option>
          <a-option label="缺失" :value="2"></a-option>
        </a-select>
      </template>
      <template #problemDescription="{ record, rowIndex }">
        <a-input
          v-model="record.problemDescription"
          @blur="problemBlur(record)"
          allow-clear
        />
      </template>
      <template #files="{ record, rowIndex }">
        <div v-for="(item, i) in record.files" :key="i">
          <div class="fileList">
            <!-- <span @click="openFile(item)" class="file-class">{{
              item.fileName
            }}</span> -->
            <a :href="item.fileUrl" target="_blank" class="file-class">{{
              item.fileName
            }}</a>
            <icon-delete
              @mouseenter="enterDiv(record)"
              @click="delFile(item)"
            ></icon-delete>
          </div> </div
      ></template>
      <template #handle="{ record, rowIndex }" :width="record.width">
        <div @mouseenter="enterDiv(record)">
          <a-upload accept :show-file-list="false" :custom-request="request">
            <template #upload-button>
              <icon-upload></icon-upload>
            </template>
          </a-upload>
          <icon-drive-file
            class="handle-icon"
            @click="openFileLog(record)"
          ></icon-drive-file>
          <icon-delete
            class="handle-icon"
            @click="delRow(record)"
          ></icon-delete>
        </div>
      </template>
    </a-table>
    <div class="main"> </div>
  </div>
  <add-document ref="addDocumentRef" @addDocument="addDocument"></add-document>
  <files-log ref="filesLogRef"></files-log>
</template>
<script lang="ts">
  import { ref, toRefs, computed, watch, defineComponent, reactive } from 'vue';
  import { examineApi } from '@/api/examine/index';
  import { common } from '@/api/common/index';
  import { Message, Modal } from '@arco-design/web-vue';
  import { useRoute } from 'vue-router';
  import addDocument from './addDocumentDialog.vue';
  import filesLog from './filesLogDialog.vue';
  export default defineComponent({
    name: 'haiguanbeian',
    // props: {
    //   info: {
    //     type: Object,
    //     default: () => {},
    //   },
    // },
    components: {
      addDocument,
      filesLog,
    },
    setup(props, ctx) {
      const route = useRoute();
      const dataMap = reactive({
        row: {},
        tableData: [],
        selectedKeys: ref([]),
        rowSelection: reactive({
          type: 'checkbox',
          showCheckedAll: true,
          onlyCurrent: false,
        }),
        scroll: {
          x: '100%',
          y: '410px',
        },
        columns: [
          // {
          //   slotName: 'operate',
          //   title: '#',
          //   dataIndex: 'index',
          //   width: 50,
          // },
          {
            slotName: 'documentName',
            title: '单证名称',
            dataIndex: 'documentName',
            width: 140,
          },
          {
            slotName: 'documentsCategory',
            title: '文件类型',
            dataIndex: 'documentsCategory',
          },
          {
            slotName: 'status',
            title: '状态',
            dataIndex: 'status',
          },
          {
            slotName: 'problemDescription',
            title: '问题',
            dataIndex: 'problemDescription',
          },
          {
            slotName: 'files',
            title: '文件',
            dataIndex: 'files',
          },
          {
            slotName: 'handle',
            title: '操作',
            dataIndex: 'handle',
            width: '100',
          },
        ],
      });
      const functionMap = reactive({
        getAuditDocumentList() {
          let params = {
            orderLogisticsNo: route.query.orderLogisticsNo,
          };
          examineApi.getAuditDocumentList(params).then((res: any) => {
            if (res.code == 200) {
              dataMap.tableData = res.data.auditDocuments || [];
              ctx.emit('updateRes', dataMap.tableData);
            }
          });
        },
        addDoc() {
          addDocumentRef.value.show();
        },
        //添加单证
        addDocument(val: any) {
          console.log(val);
          let arr = [];
          val.forEach((item) => {
            let obj = {
              id: null,
              orderLogisticsNo: route.query.orderLogisticsNo,
              documentsCategory: ['自动证', '核销单'].includes(item.name)
                ? 2
                : 1,
              status: '',
              documentType: item.type,
              problemDescription: '',
            };
            arr.push(obj);
          });
          examineApi.batchSaveUpdateAuditDocument(arr).then((res: any) => {
            if (res.code == 200) {
              functionMap.getAuditDocumentList();
            }
          });
        },
        //改变单条数据
        changeRow(row, index) {
          console.log(row);
          let params = {
            id: String(row.id),
            orderLogisticsNo: route.query.orderLogisticsNo,
            documentsCategory: row.documentsCategory,
            status: row.status,
            documentType: row.documentType,
            problemDescription: row.problemDescription,
          };
          examineApi.SaveUpdateAuditDocument(params).then((res) => {
            if (res.code == '200') {
              functionMap.getAuditDocumentList();
            }
          });
        },
        //问题描述
        problemBlur(row) {
          if (row.status == 0 || row.status == 2) {
            functionMap.changeRow(row);
          }
        },
        //批量设置
        batchSetting(type) {
          console.log(type);
          if (dataMap.selectedKeys.length == 0) {
            Message.warning('请先选择单证');
            return;
          }
          let arr1 = [];
          let arr2 = [];
          dataMap.selectedKeys.forEach((item) => {
            arr1.push(item);
          });
          dataMap.tableData.forEach((item) => {
            if (arr1.includes(item.id)) {
              if (type == 1 || type == 2) {
                if (
                  item.documentName == '自动证' ||
                  item.documentName == '核销单'
                ) {
                  let obj = {
                    id: String(item.id),
                    orderLogisticsNo: route.query.orderLogisticsNo,
                    documentsCategory: 2,
                    status: item.status,
                    documentType: item.documentType,
                    problemDescription: item.problemDescription,
                  };
                  arr2.push(obj);
                } else {
                  let obj = {
                    id: String(item.id),
                    orderLogisticsNo: route.query.orderLogisticsNo,
                    documentsCategory: type,
                    status: item.status,
                    documentType: item.documentType,
                    problemDescription: item.problemDescription,
                  };
                  arr2.push(obj);
                }
              } else {
                let obj = {
                  id: String(item.id),
                  orderLogisticsNo: route.query.orderLogisticsNo,
                  documentsCategory: item.documentsCategory,
                  status: type - 3,
                  documentType: item.documentType,
                  problemDescription: item.problemDescription,
                };
                arr2.push(obj);
              }
            }
          });
          examineApi.batchSaveUpdateAuditDocument(arr2).then((res: any) => {
            if (res.code == 200) {
              functionMap.getAuditDocumentList();
            }
          });
        },
        //批量下载
        batchDown() {
          if (dataMap.selectedKeys.length == 0) {
            Message.warning('请先选择单证');
            return;
          }
          console.log(dataMap.selectedKeys);
          let params = {
            ids: dataMap.selectedKeys.join(),
          };
          examineApi.batchDownloadAuditFile(params).then((res: any) => {
            if (res.type == 'application/json') {
              // json信息展示
              functionMap.handlerResponseError(res);
            } else {
              let blob = new Blob([res], { type: 'application/zip' });
              let url = window.URL.createObjectURL(blob);
              const link = document.createElement('a');
              link.href = url;
              link.download = name;
              link.click();
              URL.revokeObjectURL(url); // 释放内存
            }
          });
        },
        handlerResponseError(data) {
          const _this = this;
          const fileReader = new FileReader();
          fileReader.onload = function () {
            try {
              const jsonData = JSON.parse(fileReader.result); // 说明是普通对象数据，后台转换失败
              Message.error(jsonData.message);
            } catch (err) {
              // 解析成对象失败，说明是正常的文件流
              console.log('success...');
            }
          };
          fileReader.readAsText(data);
        },
        //批量删除
        batchDel(done) {
          if (dataMap.selectedKeys.length == 0) {
            Message.warning('请先选择单证');
            done(true);
            return;
          }
          let arr = [];
          dataMap.selectedKeys.forEach((item) => {
            arr.push(String(item));
          });
          examineApi
            .batchDeleteAuditDocument({ ids: arr.join() })
            .then((res) => {
              if (res.code == '200') {
                functionMap.getAuditDocumentList();
              }
            });

          done(true);
        },
        //打开文件
        openFile(item) {
          let params = {
            fileUrl: item.fileDown,
            name: item.fileName,
          };
          common.getFileDownload(params).then((response) => {
            let blob = new Blob([response], { type: 'application/jpg' });
            let url = window.URL.createObjectURL(blob);
            const link = document.createElement('a');
            link.href = url;
            link.download = item.fileName;
            link.click();
            URL.revokeObjectURL(url); // 释放内存
          });
        },
        //删除文件
        delFile(item) {
          let params = {
            id: String(item.id),
          };
          examineApi.deleteDocumentFile(params).then((res) => {
            if (res.code == 200) {
              functionMap.getAuditDocumentList();
            }
          });
        },
        // 移入
        enterDiv(item) {
          dataMap.row = item;
        },
        //上传文件
        request(option) {
          common.fileUpload({ file: option.fileItem.file }).then((res) => {
            let params = {
              logisticsAuditDocumentId: String(dataMap.row.id),
              documentsCategory: dataMap.row.documentsCategory,
              fileName: res.data.fileName,
              fileUrl: res.data.url,
              fileDown: res.data.url,
            };
            examineApi.addDocumentFile(params).then((res) => {
              if (res.code == 200) {
                functionMap.getAuditDocumentList();
              }
            });
          });
        },
        openFileLog(item) {
          filesLogRef.value.show(item);
        },
        delRow(item) {
          Modal.warning({
            title: '提示',
            content: '是否确认删除？',
            okText: '确定',
            cancelText: '取消',
            hideCancel: false,
            onOk: () => {
              let params = {
                id: String(item.id),
              };
              examineApi.deleteDocument(params).then((res) => {
                if (res.code == 200) {
                  Message.success('删除成功');
                  functionMap.getAuditDocumentList();
                }
              });
            },
          });
        },
      });

      functionMap.getAuditDocumentList();
      const addDocumentRef = ref(null);
      const filesLogRef = ref(null);
      return {
        ...toRefs(dataMap),
        ...toRefs(functionMap),
        addDocumentRef,
        filesLogRef,
      };
    },
  });
</script>
<style lang="less" scoped>
  .documentTab {
    // height: 460px;
    // overflow-y: auto;
    .header {
      width: 100%;
      margin-bottom: 8px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      .header-right {
        .arco-btn {
          margin-left: 8px;
        }
      }
    }
    .fileList {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-top: 4px;
      &:nth-child(1) {
        margin-top: 0px;
      }
      .file-class {
        width: 80%;
        overflow: hidden; /* 移除隐藏 */
        text-overflow: ellipsis; /* 省略号 */
        white-space: nowrap; /* 禁止文字自动换行 */
      }
    }
    .handle-icon {
      margin-left: 10px;
    }
  }
</style>
