<template>
  <div class="emailTab">
    <div class="header">
      <a-button
        type="text"
        @click="cancleRelationMail"
        :disabled="!dataList.length"
        ><template #icon> <icon-stop /> </template>取消关联</a-button
      >
      <a-button
        type="text"
        @click="toReply('回复邮件')"
        :disabled="!dataList.length"
        ><template #icon> <icon-reply /> </template>回复</a-button
      >
      <a-button
        type="text"
        @click="toReply('转发邮件')"
        :disabled="!dataList.length"
        ><template #icon> <icon-share-internal /> </template>转发</a-button
      >
      <a-button type="text" @click="toFile()" :disabled="!dataList.length"
        ><template #icon> <icon-drive-file /> </template>提取文件</a-button
      >
      <a-button type="text" @click="toWrite"
        ><template #icon> <icon-edit /> </template>写邮件</a-button
      >
    </div>
    <div class="main">
      <div class="email-list">
        <div class="email-list-total">共计（{{ dataList.length }}）</div>
        <div
          class="email-item"
          :class="{ 'item-active': item.id == id }"
          v-for="(item, index) in dataList"
          :key="index"
          @click="changeDetail(item)"
        >
          <div class="email-item-header">
            <div class="name">{{
              item.emailFormAddress.match(/(\S*)@/)[1]
            }}</div>
            <div class="date">{{ item.emailSentDate }}</div>
          </div>
          <div class="email-item-content"
            ><span>{{ item.emailSubject }}</span
            ><icon-reply class="color-blue" v-if="item.emailIsReply" />
            <icon-reply v-if="!item.emailIsReply" />
            <icon-share-internal v-if="item.emailIsForward" />
            <!-- <icon-email v-if="item.initialFlag" /> -->
          </div>
        </div>
      </div>
      <div class="email-content">
        <div class="email-content-header">
          <div class="title-txt"> {{ detail.emailSubject }}</div>
          <div></div>
        </div>
        <div class="email-content-date">
          <div class="date-name"> {{ detail.emailFormAddress }}</div>
          <div class="date-date">{{ detail.emailSentDate }}</div>
        </div>
        <div class="email-content-attachment">
          <!-- <a
            :href="record.fileUrl"
            target="_blank"
            v-for="(file, index) in detail.mailInfoFileDTOS"
            :key="index"
            class="attachment-item"
            >{{ file.fileName }}</a
          > -->
          <div
            v-for="(file, index) in detail.mailInfoFileDTOS"
            @click="toDown(file.fileUrl, file.fileName)"
            :key="index"
            class="attachment-item"
          >
            {{ file.fileName }}
          </div>
        </div>
        <div class="line"></div>
        <div class="email-main" v-html="detail.emailContent"></div>
      </div>
    </div>
  </div>
  <Write ref="writeRef" @updateList="updateList"></Write>
  <Reply ref="replyRef" @updateList="updateList"></Reply>
  <file ref="fileRef" @updateDoc="updateDoc"></file>
</template>
<script lang="ts">
  import { ref, toRefs, computed, watch, defineComponent, reactive } from 'vue';
  import { examineApi } from '@/api/examine/index';
  import { emailApi } from '@/api/email/index';
  import { common } from '@/api/common/index';
  import { Message, Modal } from '@arco-design/web-vue';
  import { useRoute } from 'vue-router';
  import Write from './writeEmailDialog.vue';
  import Reply from './replyEmailDialog.vue';
  import file from './fileDialog.vue';
  export default defineComponent({
    name: 'haiguanbeian',
    // props: {
    //   info: {
    //     type: Object,
    //     default: () => {},
    //   },
    // },
    components: {
      Write,
      Reply,
      file,
    },
    setup(props, { attrs, emit, slots }) {
      const route = useRoute();
      const dataMap = reactive({
        show: true, //
        keyWord: '',
        id: '',
        dataList: [],
        detail: {},
      });
      const functionMap = reactive({
        examineEmailList() {
          let params = {
            orderLogisticsNo: route.query.orderLogisticsNo,
          };
          examineApi.examineEmailList(params).then((res) => {
            if (res.code == 200) {
              dataMap.dataList = res.data || [];
              if (!dataMap.id) {
                dataMap.id = dataMap.dataList[0].id;
                dataMap.detail = dataMap.dataList[0];
              }
            }
          });
        },
        updateList() {
          functionMap.examineEmailList();
        },
        //取消关联
        async cancleRelationMail() {
          let params = {
            mailInfoId: dataMap.detail.id,
          };
          const res = await emailApi.cancleRelationMail(params);
          if (res.code == 200) {
            dataMap.id = '';
            dataMap.detail = '';
            functionMap.examineEmailList();
          }
        },
        //回复/转发/编辑 邮件
        toReply(type) {
          replyRef.value.show(dataMap.detail, type);
        },
        //写邮件
        toWrite() {
          writeRef.value.show(dataMap.detail);
        },
        toFile() {
          fileRef.value.show(dataMap.detail);
        },
        //点击列表
        changeDetail(item) {
          dataMap.id = item.id;
          dataMap.detail = item;
        },
        toDown(url, name) {
          let params = {
            fileUrl: url,
            name: name,
          };
          common.getFileDownload(params).then((response) => {
            let blob = new Blob([response]);
            let url = window.URL.createObjectURL(blob);
            const link = document.createElement('a');
            link.href = url;
            link.download = name;
            link.click();
            URL.revokeObjectURL(url); // 释放内存
          });
        },
        updateDoc() {
          functionMap.examineEmailList();
          emit('updateDoc');
        },
      });
      functionMap.examineEmailList();
      const writeRef = ref(null);
      const replyRef = ref(null);
      const fileRef = ref(null);
      return {
        ...toRefs(dataMap),
        ...toRefs(functionMap),
        writeRef,
        replyRef,
        fileRef,
      };
    },
  });
</script>
<style lang="less" scoped>
  .emailTab {
    height: 460px;
    // overflow-y: auto;
    .color-blue {
      color: #2969ff;
    }
    .header {
      width: 100%;
      height: 36px;
      border-bottom: 1px solid #f2f3f5;
      display: flex;
      align-items: center;
    }
    .main {
      padding: 16px 0px;
      display: flex;
      .email-list {
        width: 320px;
        height: 400px;
        overflow-y: auto;
        margin-right: 20px;
        padding-right: 20px;
        border-right: 1px solid #f2f3f5;
        .email-list-total {
          font-size: 12px;
          line-height: 20px;
          color: #4e5969;
          border-bottom: 1px solid #2969ff;
        }

        .email-item {
          padding: 5px 12px;
          margin-bottom: 12px;
          &:hover {
            background: #f2f3f5;
            cursor: pointer;
          }
          .email-item-header {
            display: flex;
            justify-content: space-between;
            line-height: 20px;
            font-size: 14px;
            .name {
              color: #212121;
            }
            .date {
              color: #86909c;
            }
          }
          .email-item-content {
            display: flex;
            justify-content: space-between;
            line-height: 20px;
            font-size: 14px;
            margin-top: 4px;
          }
        }
        .item-active {
          background: #f2f3f5;
        }
      }
      .email-content {
        flex: 1;
        height: 400px;
        overflow-y: auto;
        // height: 100px;
        .email-content-header {
          display: flex;
          align-items: center;
          height: 28px;
          .title-txt {
            max-width: 577px;
            // width: 577px;
            font-weight: 500;
            font-size: 20px;
            color: #212121;
            overflow: hidden; /* 移除隐藏 */
            text-overflow: ellipsis; /* 省略号 */
            white-space: nowrap; /* 禁止文字自动换行 */
          }
        }
        .email-content-date {
          display: flex;
          height: 20px;
          line-height: 20px;
          margin-top: 16px;
          font-size: 14px;
          .date-name {
            color: #212121;
          }
          .date-date {
            margin-left: 20px;
            color: #86909c;
          }
        }
        .email-content-attachment {
          display: flex;
          margin-top: 16px;
          .attachment-item {
            // height: 30px;
            flex: 1 1 calc((100% - 32px) / 4);
            max-width: calc((100% - 32px) / 4);
            cursor: pointer;
            padding: 5px 16px;
            background: #f7f8fa;
            border-radius: 2px;
            font-size: 14px;
            color: #212121;
            margin-right: 8px;
            margin-bottom: 8px;
            overflow: hidden; /* 移除隐藏 */
            text-overflow: ellipsis; /* 省略号 */
            white-space: nowrap; /* 禁止文字自动换行 */
            &:nth-of-type(4n) {
              margin-right: 0px;
            }
          }
        }
        .line {
          width: 100%;
          height: 1px;
          background: #e5e6eb;
          margin-top: 20px;
          margin-bottom: 20px;
        }
        :deep .email-main {
          width: 100%;
          max-width: 100%;
          overflow: hidden;
          :deep image {
            width: 100%;
          }
        }
      }
    }
  }
</style>
