<template>
  <a-modal
    v-model:visible="visible"
    :mask-closable="false"
    :width="800"
    @before-ok="ok"
    @before-cancel="cancel"
    :ok-loading="false"
    :body-style="{
      'max-height': '60vh',
      'min-height': '250px',
      'overflow-y': 'auto',
    }"
  >
    <template #title> 文件上传日志 </template>
    <a-table :columns="columns" :data="tableData" :pagination="false">
      <template #operate="{ record, rowIndex }">
        {{ rowIndex + 1 }}
      </template>
    </a-table>
  </a-modal>
</template>
<script lang="ts">
  import { ref, toRefs, computed, watch, defineComponent, reactive } from 'vue';
  import { merchants } from '@/api/merchants/index';
  import { common } from '@/api/common/index';
  import { Message, Modal } from '@arco-design/web-vue';
  import { useRoute } from 'vue-router';
  import { useAppStore, useTentantStore, useUserStore } from '@/store';
  import { examineApi } from '@/api/examine';
  export default defineComponent({
    name: 'haiguanbeian',
    // props: {
    //   info: {
    //     type: Object,
    //     default: () => {},
    //   },
    // },
    setup(props) {
      const route = useRoute();
      const columns = [
        {
          slotName: 'fileName',
          title: '文件名',
          dataIndex: 'fileName',
        },
        {
          slotName: 'documentsCategory',
          title: '单证种类',
          dataIndex: 'documentsCategory',
        },
        {
          slotName: 'createTime',
          title: '时间',
          dataIndex: 'createTime',
        },
        {
          slotName: 'createUserName',
          title: '上传人',
          dataIndex: 'createUserName',
        },
      ];

      const dataMap = reactive({
        visible: false,
        tableData: [
          {
            dueToDate: '11',
          },
        ],
      });
      const functionMap = reactive({
        show(item) {
          dataMap.visible = true;
          functionMap.getExamineHistory(item);
        },
        getExamineHistory(item) {
          let params = {
            orderLogisticsNo: route.query.orderLogisticsNo,
            documentType: item.documentType,
          };
          examineApi.getExamineHistory(params).then((res) => {
            if (res.code == 200) {
              dataMap.tableData = res.data;
              dataMap.tableData.forEach((item) => {
                if (item.documentsCategory == 1) {
                  item.documentsCategory = '草稿';
                } else if (item.documentsCategory == 2) {
                  item.documentsCategory = '彩扫';
                }
              });
            }
          });
        },
        ok(done) {
          let arr = [];
          if (dataMap.data.length == 0) {
            done(true);
          }
          dataMap.list.forEach((item) => {
            if (dataMap.data.includes(item.documentType)) {
              arr.push({
                name: item.documentName,
                type: item.documentType,
              });
            }
          });
          ctx.emit('addDocument', arr);
          dataMap.visible = false;
        },
        cancel() {
          dataMap.data = [];
          dataMap.visible = false;
        },
      });
      // functionMap.mosContractInfo();
      return {
        columns,
        ...toRefs(dataMap),
        ...toRefs(functionMap),
      };
    },
  });
</script>
<style lang="less" scoped></style>
