<template>
  <div class="right-container">
    <div class="right-top">
      <div class="title">审单进度概览</div>
      <a-timeline class="timeline">
        <a-timeline-item
          v-for="(act, index) in logList"
          :key="index"
          dotColor="#1BC5BD"
          placement="top"
          :label="act.time"
        >
          <div v-for="item in act.list">
            {{ item }}
          </div>
        </a-timeline-item>
      </a-timeline>
    </div>
    <div class="right-bottom">
      <div class="title">当前审单结果</div>
      <div class="errTxt-box">
        <div v-for="item in errList" :key="item" class="errTxt">
          {{ item.documentsCategory == 1 ? '草稿件' : '彩扫件' }}：{{
            item.documentName
          }}-{{ item.status == 2 ? '缺失' : '有误'
          }}{{ item.problemDescription ? '，' + item.problemDescription : '' }}
        </div>
      </div>

      <a-textarea v-model="remarks" />
      <div class="send" @click="sendMark()"
        ><a-button type="primary" size="small">发送</a-button></div
      >
    </div>
  </div>
</template>
<script lang="ts">
  import { ref, toRefs, computed, watch, defineComponent, reactive } from 'vue';
  import { merchants } from '@/api/merchants/index';
  import { common } from '@/api/common/index';
  import { Message, Modal } from '@arco-design/web-vue';
  import { useRoute } from 'vue-router';
  import { examineApi } from '@/api/examine';
  export default defineComponent({
    setup(props, { attrs, emit, slots }) {
      const route = useRoute();
      const dataMap = reactive({
        show: true, //
        logList: [],
        errList: [],
        remarks: '',
      });
      const functionMap = reactive({
        change(val) {
          console.log(val);
          functionMap.mosRiseList();
        },
        getMarkList() {
          let params = {
            orderLogisticsNo: route.query.orderLogisticsNo,
          };
          let arr = [];
          examineApi.getMarkList(params).then((res) => {
            if (res.code == 200) {
              dataMap.logList = res.data || [];
              dataMap.logList.forEach((item) => {
                item.time = item.createTime + '    ' + item.createUserName;
                item.list = JSON.parse(item.displayText);
              });
            }
          });
        },
        updateRes(data) {
          console.log(data);
          let list = [];
          data.forEach((item) => {
            if (item.status == 0 || item.status == 2) {
              list.push(item);
            }
          });
          dataMap.errList = list;
        },
        mosRiseList() {
          let params = {
            realtionId: route.query.id,
            // realtionId: '1541717893711548416',
            keyWord: dataMap.keyWord,
          };
          merchants.mosRiseList(params).then((res) => {
            if (res.code == 200) {
              dataMap.tabData = res.data || [];
            }
          });
        },
        sendMark() {
          emit('sendMark');
        },
      });
      functionMap.getMarkList();
      return {
        ...toRefs(dataMap),
        ...toRefs(functionMap),
      };
    },
  });
</script>
<style lang="less" scoped>
  .arco-timeline-item {
    min-height: auto;
  }
  .right-container {
    padding: 20px 20px 20px 0;
    display: flex;
    flex-direction: column;
    .right-top {
      width: 100%;
      height: 50%;
      overflow-y: auto;
      background: #fff;
      border: 1px solid #e5e6eb;
      //
      .title {
        padding: 20px;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        color: #1d2129;
        border-bottom: 1px solid #e5e6eb;
      }
      .timeline {
        padding: 20px;
        height: 300px;
        overflow-y: auto;
      }
      :deep .arco-timeline-item {
        margin-bottom: 16px;
      }
    }
    .right-bottom {
      margin-top: 20px;
      width: 100%;
      // height: calc(100vh - 182px);
      // height: 50%;
      flex: 1;
      // height: 328px;
      padding: 12px 20px 20px;
      overflow-y: auto;
      background: #fff;
      border: 1px solid #e5e6eb;
      .title {
        font-weight: 500;
        font-size: 14px;
        line-height: 22px;
        color: #212121;
        padding-bottom: 12px;
        margin-bottom: 10px;
        border-bottom: 1px solid #e5e6eb;
      }
      .errTxt-box {
        height: 200px;
        overflow-y: auto;
        .errTxt {
          font-size: 14px;
          line-height: 20px;
          color: #3f4254;
        }
      }
      .send {
        display: flex;
        flex-direction: row-reverse;
      }
    }
  }
</style>
