<template>
  <a-modal
    v-model:visible="visible"
    :mask-closable="false"
    :width="800"
    @before-ok="handleSubmit"
    unmountOnClose
    :ok-loading="false"
    :body-style="{
      'max-height': '60vh',
      'min-height': '250px',
      'overflow-y': 'auto',
    }"
  >
    <template #title> 立即回复 </template>
    <div class="account"
      ><a-select v-model="fromData.account" :bordered="false">
        <a-option
          v-for="item of accountList"
          :value="item.id"
          :label="item.emailAddress"
          :key="item.id"
        /> </a-select
    ></div>

    <a-form
      ref="formRef"
      layout="horizontal"
      :model="fromData"
      auto-label-width
    >
      <a-form-item label="收件人" field="receive" class="w60">
        <a-select
          v-model="fromData.receive"
          multiple
          :max-tag-count="1"
          allow-search
          allow-create
        >
          <a-option
            v-for="item of receiveList"
            :value="item"
            :label="item"
            :key="item"
          />
        </a-select>
      </a-form-item>
      <a-form-item label="抄送人" field="cc" class="w60">
        <a-select
          v-model="fromData.cc"
          multiple
          :max-tag-count="1"
          allow-search
          allow-create
        >
          <a-option
            v-for="item of receiveList"
            :value="item"
            :label="item"
            :key="item"
          />
        </a-select>
      </a-form-item>
      <a-form-item label="主题" field="theme" class="w60">
        <a-input v-model="fromData.theme" allow-clear />
      </a-form-item>
    </a-form>
    <QuillEditor
      v-model:content="html"
      class="quillEditorRef"
      style="min-height: 200px"
      ref="quillEditorRef"
      :options="options"
      @blur="onEditorBlur($event)"
      @focus="onEditorFocus($event)"
      @change="onEditorChange($event)"
    />
    <template #footer>
      <div class="footer">
        <a-button @click="cancel()">取消</a-button>
        <a-button type="primary" @click="writeEmail(2)">发送</a-button>
      </div>
    </template>
  </a-modal>
</template>
<script lang="ts">
import {
  defineComponent,
  ref,
  watch,
  reactive,
  h,
  toRefs,
  computed,
  onMounted,
  nextTick,
} from 'vue';
import { receiptDocumentsApi } from '@/api/receiptDocumentsApi/index';
import { Message, Modal } from '@arco-design/web-vue';
import { emailApi } from '@/api/email/index';
import { common } from '@/api/common/index';
import { useRoute } from 'vue-router';
import { contractManage } from '@/api/contractManage';
import itemVue from '@/components/menu/item.vue';
import components from '@/components';
import { QuillEditor } from '@vueup/vue-quill';
import '@vueup/vue-quill/dist/vue-quill.snow.css';
import '@vueup/vue-quill/dist/vue-quill.bubble.css';
export default defineComponent({
  props: {},
  components: {
    QuillEditor,
  },
  setup(props, ctx) {
    const route = useRoute();
    const visible = ref(false);
    const globalOptions = {
      debug: 'info',
      modules: {
        toolbar: {
          container: [
            ['bold', 'italic', 'underline', 'strike'],
            ['blockquote', 'code-block'],
            [{ header: 1 }, { header: 2 }],
            [{ list: 'ordered' }, { list: 'bullet' }],
            [{ script: 'sub' }, { script: 'super' }],
            [{ indent: '-1' }, { indent: '+1' }],
            [{ direction: 'rtl' }],
            [{ size: ['small', false, 'large', 'huge'] }],
            [{ header: [1, 2, 3, 4, 5, 6, false] }],
            [{ color: [] }, { background: [] }],
            [{ font: [] }],
            [{ align: [] }],
            ['clean', 'link', 'image'],
            ['addBtn'],
          ], // 自定义工具栏选项
        },
      },
      placeholder: '请输入...',
      readOnly: false,
      theme: 'snow',
    };
    const dataMap = reactive({
      options: globalOptions,
      accountList: [],
      detail: {},
      orderLogisticsNo: '',
      receiveList: [],
      files: [],
      fromData: {
        account: '',
        receive: [],
        cc: [],
        theme: '',
      },
      html: '',

      // accountList: [],
    });
    // watch(
    //   () => props.emailDetail,
    //   (newval, oldval) => {
    //     console.log(newval, oldval);
    //   },
    //   { immediate: false, deep: true }
    // );
    const functionMap = reactive({
      show(detail, emailHTML) {
        visible.value = true;
        dataMap.detail = detail;
        setTimeout(() => {
          // dataMap.html = quillEditorRef.value.pasteHTML(emailHTML);
          let html = '<br/><br/>' + emailHTML;
          dataMap.html = quillEditorRef.value.pasteHTML(html);
        });
        dataMap.fromData.receive = detail.emailFormAddress;
        dataMap.fromData.cc = detail.emailCcAddress
          ? detail.emailCcAddress.split(',')
          : [];
        dataMap.fromData.theme = detail.emailSubject;

        functionMap.getEmails();
      },
      //账户列表
      async getEmails() {
        const res = await emailApi.getEmails();
        if (res.code == 200) {
          dataMap.accountList = res.data;
          dataMap.accountList.forEach((item) => {
            if (item.defaultFlag) {
              dataMap.fromData.account = item.id;
              functionMap.getReceiverList(item.emailAddress);
            }
          });
        }
      },
      //收件人列表
      getReceiverList(emailAddress) {
        let params = {
          emailAddress: emailAddress,
        };
        emailApi.getReceiverList(params).then((res) => {
          dataMap.receiveList = res.data;
        });
      },
      onEditorBlur(editor) {},
      onEditorFocus(editor) {},
      onEditorChange({ editor, html, text }) {
        console.log(1);
      },
      cancel() {
        console.log(111);
        dataMap.fromData.account = '';
        dataMap.fromData.receive = [];
        dataMap.fromData.cc = [];
        dataMap.fromData.theme = '';
        dataMap.files = [];
        dataMap.html = '';
        visible.value = false;
      },
      writeEmail(n) {
        let account = '';
        dataMap.accountList.forEach((item) => {
          if (item.id == dataMap.fromData.account) {
            account = item.emailAddress;
          }
        });
        console.log(dataMap.fromData.receive);
        let receive = dataMap.fromData.receive.join(';');
        let cc = dataMap.fromData.cc.join(';');
        let params = {
          // mailInfoId:this.mailInfoId,
          mailAddType: 1,
          emailAddress: account, //发件人的邮箱地址
          emailToAddress: receive, //收件人地址
          emailCcAddress: cc, //
          emailSubject: dataMap.fromData.theme, //主题
          emailContent: quillEditorRef.value.getHTML(dataMap.html),
          orderLogisticsNo: route.query.orderLogisticsNo,
        };
        emailApi.writeEmail(params).then((res) => {
          if (res.code == 200) {
            functionMap.cancel();
            Message.success('发送成功！');
          }

          // dataMap.files.push({
          //   fileName: res.data.fileName,
          //   fileUrl: res.data.url,
          // });
          // addTableColumns(res.data);
        });
      },

      handleSubmit(done) {
        done();
      },
    });
    const runRef = ref(null);
    const quillEditorRef = ref(null);
    return {
      visible,
      ...toRefs(dataMap),
      ...toRefs(functionMap),
      runRef,
      quillEditorRef,
    };
  },
});
</script>
<style lang="less" scoped>
.modal-class {
  height: 300px !important;
  overflow-y: auto;
}
:deep .arco-modal-body {
  height: 300px !important;
  overflow-y: auto;
}
.account {
  width: 300px;
  margin-bottom: 20px;
}
.arco-form {
  width: 100%;
  .w60 {
    width: 60%;
  }
}
.arco-form-item-content-flex {
  width: 100%;
}
.file-box {
  display: flex;
  flex-wrap: wrap;
  margin-top: 8px;
  .item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 30px;
    line-height: 30px;
    width: 228px;
    padding-left: 16px;
    padding-right: 16px;
    background: #f7f8fa;
    border-radius: 2px;
    font-size: 14px;
    color: #212121;
    margin-right: 8px;
    margin-bottom: 8px;

    &:nth-of-type(3n) {
      margin-right: 0px;
    }
    .name {
      flex: 1;
      overflow: hidden; /* 移除隐藏 */
      text-overflow: ellipsis; /* 省略号 */
      white-space: nowrap; /* 禁止文字自动换行 */
    }
    .del {
      margin-left: 16px;
      cursor: pointer;
    }
  }
}
.editor {
}
.footer {
  .arco-btn {
    margin-left: 12px;
  }
}
</style>
