<script lang="tsx">
import { defineComponent, useAttrs } from 'vue';

  export default defineComponent({
    emit: ['hide'],
    setup (props, ctx) {
      const attrs = useAttrs()
      const handleClick = () => {
        ctx.emit('hide', false)
      }
      function renderMenuItem () {
        return (
          <div class='m-menu-item'>
            <router-link to={ attrs.pageRoute || '/' } class='m-item-title' onClick={() => handleClick()}>
              { attrs.menuName }
            </router-link>
          </div>
        )
      }
      return () => (
        <>
          {renderMenuItem()}
        </>
      );
    },
  });
</script>

<style lang="less" scoped>
.m-menu-item {
  width: 172px;
  height: 36px;
  border-radius: 4px;
  color: var(--color-text-1);
  padding-left: 8px;
  line-height: 36px;
  &:hover {
    /* 主色/浅色、白底悬浮 */
    background: #EEF3FF;
  }
}
a {
  text-decoration: none;
  color: var(--color-text-1);
}
</style>
