<template>
  <div class="m-trigger-container" ref="container"></div>
  <a-trigger :popup-visible="popupVisible" :popup-style="{ width: '100%', 'z-index': 1007 }"
    :popup-container="container" :mouse-enter-delay="500">
    <!-- @mouseenter.stop="tooglePopup(true)" @mouseleave.stop="tooglePopup(false)"-->
    <div class="m-menu" @mouseenter.stop="tooglePopup(true)">
      <div class="m-menu-item-header" v-for="m of appRoute" :key="m.menuId"
        @mouseenter.stop="mouseEnter($event, m.menuId)">
        <template v-if="m.children && m.children.length > 0">
          <a-badge :max-count="99" :count="todoNum[m.menuId] || 0">
            <a class="m-menu-itemInner">
              {{ m.menuName }}
              <svg fill="none" stroke="currentColor" stroke-width="4" viewBox="0 0 48 48" width="1em" height="1em"
                class="arco-vue-icon arco-react-icon-down">
                <path d="M39.6 17.443 24.043 33 8.487 17.443"></path>
              </svg>
            </a>
          </a-badge>
        </template>
        <a-badge :max-count="99" :count="todoNum[m.menuId] || 0" v-else>
          <router-link :to="m.pageRoute" class="m-menu-itemInner">
            {{ m.menuName }}
          </router-link>
        </a-badge>
      </div>
    </div>
    <template #content v-if="mChildren && mChildren.length">
      <a-row align="start" class="m-menu-content" @mouseenter.stop="tooglePopup(true)"
        @mouseleave.stop="tooglePopup(false)">
        <a-col class="m-menu-col" :span="4" v-for="c of mChildren" :key="c.menuId">
          <m-sub-item v-bind="c" @hide="tooglePopup"> </m-sub-item>
        </a-col>
      </a-row>
      <div class="m-menu-mask" @mouseenter.stop="tooglePopup(false)"></div>
    </template>
  </a-trigger>
</template>
<script setup lang="ts">
import useState from '@/hooks/useState';
import { useRouterStore } from '@/store';
import { ref, computed, onMounted } from 'vue';
import useMenuTree from '.';
import MSubItem from './subItem.vue';
import { common } from '@/api/common/index'
import { getToken } from '@/utils';
// 定时请求菜单代办数量
onMounted(() => {
  getTodoNum()
})
const todoNum = ref({})
const timer = ref(null)
const getTodoNum = () => {
  const token = getToken()
  if (token) {
    common.commonTodo().then(res => {
      if (res.code == 200) {
        todoNum.value = {
          99: res.data.risk,
          98: res.data.task
        }
      }
    })
  }
  clearTimeout(timer.value)
  timer.value = setTimeout(() => {
    getTodoNum()
  }, 5000)
}
// 设置trigger
const [popupVisible, setPopupVisible] = useState(false);
const tooglePopup = (e: boolean) => {
  setPopupVisible(e);
};
const container = ref();
const useRouter = useRouterStore();
const appRoute = computed(() => {
  console.log('useRouter', useRouter.ROUTER);
  return useRouter.ROUTER;
});

const mentList = ref([]);
const [mChildren, setMChildren] = useState([]);
const mouseEnter = (e: any, menuId: number) => {
  setMChildren(appRoute.value.find((v: any) => v.menuId === menuId)?.children);
};
</script>
<style lang="less" scoped>
:deep(.arco-trigger-popup) {
  z-index: 1007 !important;
}

.m-menu {
  display: flex;
  height: 100%;
  width: max-content;

  &-item-header {
    display: flex;
    padding: 18px 8px;
    align-items: center;

    &:hover .m-menu-itemInner {
      color: var(--color-white);
      background-color: rgba(255, 255, 255, 0.12);

      svg {
        transform: rotate(180deg);
      }
    }
  }

  &-itemInner {
    padding: 6px 12px;
    border-radius: 2px;
    color: rgba(255, 255, 255, 0.5);
    position: relative;
    font-weight: 500;
    cursor: pointer;
    text-decoration: none;
    line-height: 22px;
    border-radius: 12px;
  }

  svg {
    font-size: 12px;
    stroke-width: 6px;
    vertical-align: -1px;
    margin-left: 4px;
    transition: all 0.2s;
  }

  // hover
  &-itemHover &-itemInner {
    background-color: var(--color-fill-2);
    transform: rotate(180deg);
  }
}

.arco-vue-icon[stroke='currentColor'] {
  stroke: currentColor;
  fill: none;
}

.arco-vue-icon {
  display: inline-block;
  color: inherit;
  font-style: normal;
  width: 1em;
  height: 1em;
  vertical-align: -2px;
  stroke: currentColor;
}

.m-trigger-container {
  width: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
}

.m-menu-content {
  width: 100%;
  background-color: #fff;
  padding: 46px 39px;
  position: relative;
  z-index: 98;
  transition: all 0.3s cubic-bezier(0.16, 1, 0.3, 1);

  .m-menu-col {
    &:nth-child(n + 7) {
      margin-top: 46px;
    }
  }
}

.m-menu-mask {
  width: 100vw;
  height: 100vh;
  background-color: var(--color-mask-bg);
  top: 0;
  left: 0;
  z-index: 90;
}

:deep(.arco-badge-number) {
  top: 0;
  right: 0;
  box-shadow: 0 0 0 1px var(--color-bg-2);
}
</style>