<script lang="tsx">
import { defineComponent, useAttrs } from 'vue';
import MMenuItem from './item.vue'
  export default defineComponent({
    emits: ['hide'],
    setup (props, ctx) {
      const attrs = useAttrs();
      const handleClick = () => {
        ctx.emit('hide', false);
      };
      function renderSubMenu () {
        return (
          <div class='m-sub-item'>
            { (attrs.children && (attrs?.children as any).length > 0) ?
              (<div class='m-sub-title'>{ attrs.menuName }</div>) :
              (<router-link to={ attrs.pageRoute || '/' } class='m-sub-title' onClick={ handleClick }>
                { attrs.menuName }
              </router-link>)
            }
            {
              ((attrs.children || []) as any).map((v: any) => {
                return <MMenuItem {...v } onHide={ handleClick } />
              })
            }
          </div>
        )
      }
      return () => (
        <>
          {renderSubMenu()}
        </>
      );
    },
  });
</script>

<style lang="less" scoped>
@menu-sub-top: 46px;
.m-sub-item {
  .m-sub-title {
    padding-left: 8px;
    color: rgb(var(--primary-6));
    font-weight: bold;
    line-height: 24px;
    margin-bottom: 8px;
  }
}
a {
  text-decoration: none;
}
</style>
