<template>
  <div class="container">
    <div>
      <button-area>
        <template #left>
          <search-btn v-model="searchword" placeholder="委托人/业务编号/客户业务编号/提单号"></search-btn>

          <!-- @click="searchBtnClick" -->
          <filter-btn v-model:pageInitFilters="pageInitFilters" :viewUserId="viewUserId" :viewSystemId="viewSystemId"
            ref="filterRef"></filter-btn>
          <custom-column v-model:pageInitColumns="pageInitColumns" :viewUserId="viewUserId" :viewType="viewType"
            :viewSystemId="viewSystemId" @submitSuccess="submitSuccess"></custom-column>
          <export-table @click="exportTable"></export-table>
          <screen-btn></screen-btn>
          <!-- 刷新按钮执行列表初始化 -->
          <sync-btn @click="syncData"></sync-btn>
        </template>
        <template #right>
          <!-- :disabled="true"  禁用编辑按钮 -->
          <!-- <edit-table v-model="isEditDisabled" ></edit-table> -->
          <a-button type="primary" :style="{ 'margin-right': '8px' }" @click="showStatisticsDialog()">
            <template #icon>
              <icon-plus />
            </template>
            <span>统计</span>
          </a-button>
          <a-button type="primary" :disabled=closeButton.cost :style="{ 'margin-right': '8px' }"
            @click="handleCloseBtn(0)">
            <span>成本关闭</span>
          </a-button>
          <a-button type="primary" :disabled=closeButton.income :style="{ 'margin-right': '8px' }"
            @click="handleCloseBtn(1)">
            <span>收入关闭</span>
          </a-button>
        </template>
      </button-area>
      <!-- {{modalVisible}} -->

      <div class="table-head-F">
        <div class="table-head">
          总箱量:
          <span class="table-head-num">{{ totalBoxVolume }}</span>
          大:
          <span class="table-head-num">{{ totalBigBox }}</span>
          小:
          <span class="table-head-num">{{ totalSmallBox }}</span>
        </div>
      </div>
      <div class="table-wrap">
        <a-empty v-if="!hasTabData"></a-empty>
        <MyTable v-else :url="url" :path="detailPath" :viewUserId="viewUserId" :viewInfo="viewInfo"
          :searchword="searchword" :viewFilterRule="viewFilterRule" :columns="columns" :syncFlag="syncFlag"
          column-resizable :bordered="{ cell: true }" :operateList="operateList" @openFilter="openFilter"
          @getSelectData="getSelectData" @paginationWidth="paginationWidth" @updateTable="updateTable"
          @changeLevel="changeLevel" ref="commonTableRef">
        </MyTable>

      </div>

      <tab-view :viewType="viewType" :changeViewId="changeViewId" @submitViewHandle="submitViewHandle"
        @submitDelete="submitDelete" @currentTabViewId="currentTabViewId" @chooseFields="chooseFields"
        @viewFilterRuleChange="viewFilterRuleChange" @currentTabviewName="currentTabviewName"
        :paginationWidthNum="paginationWidthNum" ref="tabViewRef"></tab-view>

      <tab-view-modal v-model="modalVisible" :title="tabViewModelTitle" :defaultActiveKey="defaultActiveKey"
        v-model:modalParams="modalParams" @syncTabViewList="syncTabViewList"></tab-view-modal>
      <!--         :viewUserId="tabHandleViewUserId"
        :viewSystemId="viewSystemId"
        :viewName="viewName"
        :viewType="viewType" -->
    </div>
  </div>
  <!-- 额外费用登记 -->
  <statistics-dialog ref="statisticsDialogRef"></statistics-dialog>
  <!-- 对话框B -->
  <CloseModal ref="closeModalRef"></CloseModal>
</template>

<script lang="ts" setup>
</script>

<script lang="ts">
import {
  defineComponent,
  ref,
  watch,
  reactive,
  h,
  toRefs,
  computed,
  onMounted,
  nextTick,
} from 'vue';
import { settleTrackApi } from '@/api/settleTrackApi/index'
import MyTable from './components/my-table.vue'
import { Modal } from '@arco-design/web-vue';
import statisticsDialog from './components/statisticsDialog.vue'
import CloseModal from './components/close-modal.vue'
export default defineComponent({
  name: 'settleTrack',
  components: { MyTable, statisticsDialog, CloseModal },
  setup() {
    const filterRef = ref([])
    const commonTableRef = ref([])
    const tabViewRef = ref<any>(null)
    const dataMap = reactive({
      hasTabData: false,//表格是否为空
      selectedData: [], // 表格已选择的数据   用于右侧按钮操作时的数据 
      syncFlag: 0, // 刷新标志
      detailPath: 'settleTrack/detail',
      url: settleTrackApi.getSettleTrackPage, // 表格请求的地址  不同的列表页  地址会变化
      viewType: '23', // 结算单代码 23
      viewUserId: '', // 用户视图ID
      changeViewId: '',
      tabHandleViewUserId: '', // 用户视图ID
      viewInfo: {}, // 用户视图ID 系统视图ID
      viewSystemId: '', // 用户视图ID 系统视图ID
      viewFilterRule: '', // 视图筛选项
      initFilters: '', // 保存视图原始筛选项
      columns: [], // 动态表头表头
      initColumns: [], // 保存视图原始表头
      pageInitColumns: [], // 页面自定义列信息
      modalParams: {}, // 视图弹框配置
      pageInitFilters: '',
      filterlist: [],
      customcolumn: {},
      operateList: [],
      // params: {
      //   viewUserId: '', // 用户视图ID
      //   keyword: '',
      //   pageNum: 1, // 当前页-默认为1	
      //   pageSize:10, // 每页大小-默认为10	
      //   viewFilterRule: '', //筛选规则: 整体为字符串数组JSON格式数组，单条规则之间分割符为|||
      //   orderByViewSystemFieldId:'', // 排序字段的系统视图字段ID	
      //   orderByType: '',//排序类型: 降序-desc 升序-asc
      // },
      searchword: '',
      searchPopupVisible: false,
      isEditDisabled: false, //
      PaginationProps: {
        'size': 'mini',
        'total': 100000,
        'current': 1, //  当前页码
        'show-page-size': true,
        'page-size-options': [10, 20, 30, 40, 50],
        'show-total': true,
        'show-jumper': true
      },
      modalVisible: false, // 控制新增/编辑/复制视图弹窗是否显示
      tabViewModelTitle: '新增视图', // 视图弹窗title
      defaultActiveKey: '1', // 视图默认展示的tab标签 类型string
      paginationWidthNum: 0,
      currentViewName: '',
      viewName: '',
      closeButton: {
        cost: true,
        income: true
      }
    });

    // 导出当前搜索条件下的数据
    const exportTable = async () => {
      // console.log(commonTableRef.value.params)
      const { data } = await settleTrackApi.SettleTrackExcelExport(commonTableRef.value.params)
      window.open(data.fileUrl);
    };

    const syncData = () => {
      dataMap.searchword = ''
      dataMap.viewFilterRule = ""
      dataMap.columns = dataMap.initColumns
      dataMap.syncFlag++
    };


    const chooseFields = (val: any) => {
      console.log(val)
      console.log('---------表头表头-----------')
      if (val.length > 0) {
        dataMap.hasTabData = true
      } else {
        dataMap.hasTabData = false
      }
      // 中间列表 展示列表头  当前展示的 传给公共table的
      dataMap.columns = val
      // 当前视图表头  刷新时设置为dataMap.columns
      dataMap.initColumns = val
      // button区域自定义列  定义表头 - -  脑子可能不太好  整这么多表头
      dataMap.pageInitColumns = val
    }

    const viewFilterRuleChange = (val: any) => {
      console.log(val)
      // 传给公共table 的筛选项
      dataMap.viewFilterRule = val
      // 当前视图筛选项  刷新时设置为dataMap.viewFilterRule
      dataMap.initFilters = val
      // button区域筛选按钮
      dataMap.pageInitFilters = val
    }

    const currentTabViewId = (viewId: object) => {
      console.log('接收到视图id的参数了', viewId)
      dataMap.viewUserId = viewId.currentTabViewId
      dataMap.viewInfo = viewId
      dataMap.viewSystemId = viewId.viewSystemId
    }

    const submitViewHandle = (param: any) => {
      console.log('从视图组件传来的参数：', param)
      // return
      // 需要展示视图弹窗
      dataMap.modalVisible = true
      dataMap.tabViewModelTitle = param.title
      dataMap.defaultActiveKey = param.defaultActiveKey
      // 新增视图  编辑视图  复制视图
      // 新增视图 无初始化数据
      // 编辑和复制视图  初始化数据一致
      if (param.title == '新增视图') {
        dataMap.modalParams = {
          initColumns: [],
          initFilters: '',
          ...param
        }
      } else {
        dataMap.modalParams = {
          initColumns: dataMap.initColumns, // 视图原始展示列
          initFilters: dataMap.initFilters,
          ...param
        }
      }
      console.log('dataMap.modalParams:', dataMap.modalParams)
    }

    const openFilter = () => {
      console.log('需要打开筛选。。。')
      filterRef.value.filterRef.handleClick()
    }

    const submitDelete = (id: any) => {
      console.log(id)
      console.log('删除了当前视图  整个页面需要初始化')
    }

    //自定义列修改提交
    const submitSuccess = (val: any) => {
      console.log(val)
      console.log(tabViewRef.value, 'tabViewRef.value')
      // tabViewRef.value.getTabViewListFn()
      // 重新获取表头
      tabViewRef.value.getColumns(dataMap.viewUserId)
    }

    watch(
      () => dataMap.searchword,
      (newval, oldval) => {
        console.log('来新数据了', newval)
        // 改变页面params
        // 重新请求获取列表数据的接口
        // TODO
        // getList(params)
      },
      { immediate: true, deep: true }
    )
    watch(
      () => dataMap.pageInitFilters,
      (newval,oldval) => {
        console.log('来新数据了',newval)
        dataMap.viewFilterRule = newval
      },
      { immediate: true,deep: true }
    )

    // 多选数据
    const getSelectData = (val: any) => {
      dataMap.selectedData = val
      console.log(val)
      // 当前用户功能权限包含【成本关闭】  且 选中【状态=业务完成】条数>0
      //  =》 成本关闭：状态大于等于业务完成且成本关闭 未关闭
      let costClose = val.some(item => item.status >= 2 && !item.costClosed)
      //  =》 收入关闭：状态大于等于业务完成且收入关闭 未关闭
      let incomeClose = val.some(item => item.status >= 2 && !item.incomeClosed)
      dataMap.closeButton.cost = !costClose
      dataMap.closeButton.income = !incomeClose
    }
    const closeModalRef = ref(null)
    // 成本关闭0，收入关闭1 事件
    const handleCloseBtn = (val) => {
      let data = dataMap.selectedData.map(item => {
        return {
          id: item.key,
          no: item.no
        }
      })
      console.log(data)
      if (val === 0) {
        settleTrackApi.costBatchClose(data).then(res => {
          if (res.code === '200') {
            closeModalRef.value.content = `共选择${res.data.total}条业务，成功${res.data.success}条`
            closeModalRef.value.contentTip = res.data.failures
            closeModalRef.value.visible = true
            syncData()
          }
        })
      } else if (val === 1) {
        settleTrackApi.incomeBatchClose(data).then(res => {
          if (res.code === '200') {
            closeModalRef.value.content = `共选择${res.data.total}条业务，成功${res.data.success}条`
            closeModalRef.value.contentTip = res.data.failures
            closeModalRef.value.visible = true
            syncData()
          }
        })
      }
    }

    const paginationWidth = (val: any) => {
      console.log(val)
      dataMap.paginationWidthNum = val
    }

    const currentTabviewName = (val: any) => {
      console.log(val)
      dataMap.currentViewName = val
    }

    const syncTabViewList = (val: any) => {
      console.log('需要刷新视图列表', val)
      dataMap.changeViewId = val
      tabViewRef.value.getTabViewListFn()
    }

    // modalParams
    watch(
      () => dataMap.modalParams,
      (newval, oldval) => {
        console.log('来新数据了modalParams', newval)
      },
      { immediate: true, deep: true }
    )

    // 统计弹窗
    const statisticsDialogRef = ref(null)
    const showStatisticsDialog = () => {
      // console.log(statisticsDialogRef)
      statisticsDialogRef.value.visible = true
      statisticsDialogRef.value.getList(commonTableRef.value.params)
    }

    // 表格数据更新触发
    const updateTable = (params) => {
      console.log(params)
      getBoxVolumnData(params)
    }

    // 显示箱量
    function getBoxVolumnData(params) {
      settleTrackApi.getBoxVolumnStatistics(params).then(res => {
        if (res.code === '200') {
          boxVolumn.totalBoxVolume = res.data.totalBoxVolume
          boxVolumn.totalBigBox = res.data.totalBigBox
          boxVolumn.totalSmallBox = res.data.totalSmallBox
        }
      })
    }
    const boxVolumn = reactive({
      totalBoxVolume: 0,
      totalBigBox: 0,
      totalSmallBox: 0,
    })
    const changeLevel = (val) => {
      if (val.level === 0) {
        settleTrackApi.cancelSubscribe({
          statementId: val.source.key
        }).then(res => {
          if (res.code == 200) {
            val.source.level = null
          }
        })
      } else if (val.level > 0) {
        settleTrackApi.settleTrackSubscribe({
          statementId: val.source.key,
          level: val.level
        }).then(res => {
          if (res.code == 200) {
            val.source.level = val.level
          }
        })
      }
    }

    return {
      commonTableRef,
      exportTable,
      syncData,
      ...toRefs(dataMap),
      ...toRefs(boxVolumn),
      // columns,
      // data,
      // PaginationProps,
      chooseFields,
      viewFilterRuleChange,
      currentTabViewId,
      submitViewHandle,
      submitDelete,
      openFilter,
      filterRef,
      getSelectData,
      paginationWidth,
      currentTabviewName,
      statisticsDialogRef,
      closeModalRef,
      submitSuccess,
      tabViewRef,
      syncTabViewList,
      showStatisticsDialog,
      updateTable,
      handleCloseBtn,
      changeLevel,
    }

  },
});
</script>

<style lang="less" scoped>
.container {
  background-color: var(--color-bg-2);
  // max-width: 100%;
  display: flex;
  height: calc(~"100vh - 93px");
}

.table-wrap {
  width: 100%;
  overflow: hidden;
  padding: 0 20px;
  height: calc(~"100% - 70px - 64px - 50px");
}

.table-head-F {
  height: 50px;
  box-sizing: border-box;
  padding: 0 20px;

  .table-head {
    display: flex;
    height: 100%;
    align-items: center;
    position: relative;
    color: #696C70;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      height: 1px;
      width: 100%;
      background-color: #e5e6eb;
    }

    .table-head-num {
      font-size: 16px;
      font-weight: 500;
      margin-right: 40px;
      margin-left: 10px;
      color: #000000;
    }
  }
}
</style>
