<template>
  <div class="container">
    <div class="head">
      <button-area>
        <template #left>
          <search-btn v-model="dataMap.searchword" placeholder="异常名称"></search-btn>
          <screen-btn></screen-btn>
          <sync-btn @click="syncData"></sync-btn>
        </template>
        <template #right></template>
      </button-area>
      <div class="table-wrap">
        <a-empty v-if="dataMap.tableData.length == 0" />
        <a-table v-if="dataMap.tableData.length" :data="dataMap.tableData" :pagination="dataMap.paginationProps"
          @page-change="pageChange" @page-size-change="pageSizeChange" column-resizable :columns="columns"
          :bordered="{ wrapper: true, cell: true }">
          <template #riskName="{ record }">
            <a-input v-model="record.riskName" @change="saveChange(record)" />
          </template>
          <template #description="{ record }">
            <a-textarea v-model="record.description" @change="saveChange(record)" :rows="5" />
          </template>
          <template #handleRoleType="{ record }">
            <a-select v-model="record.handleRoleType" @change="saveChange(record)">
              <a-option v-for="item in dataMap.handleRoleTypeOptions" :label="item.label" :value="item.value"
                :key="item.value">
              </a-option>
            </a-select>
          </template>
          <template #configData="{ record }">
            <rule-list :id="record.ultRiskConfigId" @syncData="getData" :configData="record.configData"
              :configDataEditFlag="record.configDataEditFlag" />
          </template>
          <template #dataStatus="{ record }">
            <a-switch size="small" :checked-value="true" @change="saveChange(record)" :unchecked-value="false"
              v-model="record.dataStatus" />
          </template>
        </a-table>
      </div>
    </div>
  </div>
</template>

<script lang="ts" setup>
import { taskApi } from '@/api';
import { Message } from '@arco-design/web-vue';
import { nextTick, onMounted, ref, reactive, watch, defineEmits } from 'vue';
import ruleList from './ruleList.vue'
const dataMap = reactive({
  tableData: [] as any[],
  searchword: "",
  selectedKeys: [] as string[],
  paginationProps: {
    'size': 'mini',
    'total': '',
    'current': 1, //  当前页码
    'page-size': 10, // 每页展示的数据条数
    'show-page-size': true,
    'page-size-options': [10, 20, 30, 40, 50],
    'show-total': true,
    'show-jumper': true,
  },
  pageNum: 0,
  pageSize: 10,
  handleRoleTypeOptions: [] as any[],
  rowSelection: {
    type: 'checkbox',
    showCheckedAll: true,
    width: 30,
  },
});
const pageChange = (page: number) => {
  dataMap.paginationProps.current = page;
  dataMap.pageNum = page;
}
const pageSizeChange = (pageSize: number) => {
  dataMap.paginationProps['page-size'] = pageSize;
  dataMap.pageSize = pageSize;
}
const scrollConfig = { y: '100%' };
const columns = [
  { width: 350, title: '异常名称', dataIndex: 'riskName', slotName: 'riskName', },
  { width: 350, title: '异常描述', dataIndex: 'description', slotName: 'description', },
  { width: 350, title: '异常规则', dataIndex: 'configData', slotName: 'configData', },
  { width: 100, title: '责任人', dataIndex: 'handleRoleType', slotName: 'handleRoleType', },
  { width: 90, title: '是否开启', dataIndex: 'dataStatus', slotName: 'dataStatus', },
]
const estimatedCompleteRuleTypeOptions = [
  { value: 1, label: '客服预估' },
  { value: 2, label: '创建后分钟' },
  { value: 3, label: '创建后小时' },
  { value: 4, label: '创建后工作日' },
  { value: 5, label: '当日次日' },
  { value: 6, label: '澳洲非澳洲' },
]

const getHandleRoleTypeOptions = async () => {
  const { data } = await taskApi.commonSelector({ selectorCode: 'handleRoleType' })
  dataMap.handleRoleTypeOptions = data.map((el: any) => {
    return { value: el.value, label: el.desc }
  })
}


const saveChange = async (record: any,) => {
  await taskApi.riskConfigEditPage(record)
  getData()
}
const getData = async () => {
  const { data } = await taskApi.riskConfigPage({
    keyword: dataMap.searchword,
    pageNum: dataMap.pageNum,
    pageSize: dataMap.pageSize,
  })
  dataMap.paginationProps.total = data.total;
  dataMap.tableData = data.list
}
watch([() => dataMap.searchword, () => dataMap.pageNum, () => dataMap.pageSize,], getData)
getHandleRoleTypeOptions()
const syncData = () => { 
  dataMap.searchword = ''
  getData()
 }
syncData();

</script>

<style lang="less" scoped>
.table-wrap {
  width: 100%;
  overflow: hidden;
  padding: 0 20px 10px;
  height: calc(~'100% - 70px - 64px');
}

:deep(.arco-table .arco-table-td) {
  vertical-align: top;
}
</style>