<template>
  <div class="row">
    <template v-for="(el, i) in dataMap.list">
      <template v-if="el.type === 'date'">
        <a-time-picker class="int" @change="(val) => { dateChange(val, el, i) }" format='HH:mm' disable-confirm
          placeholder="" size="mini" style="width: 80px; margin: 0 10px 5px;display: contents;" v-model="el.value" />
      </template>
      <template v-else-if="el.type === 'input'">
        <a-input class="int" @change="(val) => { inputChange(val, el, i) }" v-model='el.value' :max-length='3'
          size="mini" />
      </template>
      <template v-else-if="el.type==='text'">
        <span style="display: inline-block;margin: 3px 0;">
          {{ el.value }}
        </span>
      </template>
      <template v-else-if="el.type==='space'">
      <div style="width: 100%;"></div>
      </template>
    </template>
  </div>

</template>


<script lang="ts">
import abnormalRuleList from './abnormalRuleList'
import { ref, defineComponent, onMounted, useAttrs, reactive, watch, h } from 'vue'
import { taskApi } from '@/api'
import { Message } from '@arco-design/web-vue'
export default defineComponent({
  emit: ['syncData'],
  props: ['id', 'configDataEditFlag', 'configData'],
  setup(props, ctx) {
    const dataMap = reactive({
      configData: [] as any[],
      list: [] as any[],
      text: abnormalRuleList[props.id],
      textArr: [] as any[],
    })

    function dateChange(val: string, el: any, i: number) {
      if (i === 1) {
        dataMap.list[5] = { value: dataMap.list[1].value, type: 'text' }
      }
      let vals = dataMap.list.filter(el => el.type !== 'text' && el.value).map(el => el.value)
      vals = vals.map(el => el.split(':')).flat()
      saveChange(vals)
    }
    function inputChange(val: string, el: any, i: number) {
      if (Number(val) <= 0) return Message.error("请填写大于0的整数")
      let vals = dataMap.list.filter(el => el.type !== 'text' && el.value).map(el => el.value)
      saveChange(vals)
    }
    async function saveChange(vals: string[]) {
      await taskApi.riskConfigEditPage({
        ultRiskConfigId: props.id,
        configData: vals.join(',')
      })
      ctx.emit('syncData')
    }
    watch(() => props.id, () => {
      dataMap.text = abnormalRuleList[props.id]
      if (props.configData) {
        dataMap.configData = props.configData.split(',')
      }
      let reg = /(【.*?】)/g
      dataMap.textArr = dataMap.text.split(reg)
      dataMap.textArr = dataMap.textArr.map((e: any, i: number) => {
        let ne: any = {};
        if (e.includes('【')) {
          if (props.id === 47) {
            let date = `${dataMap.configData.shift()}:${dataMap.configData.shift()}`
            ne = {
              type: 'date',
              value: date,
            }
          } else {
            ne = {
              type: 'input',
              value: dataMap.configData.shift()
            }
          }
        } else {
          ne = {
            value: e,
            type: 'text'
          }
        }
        return ne
      })

      if (props.id === 47) {
        dataMap.textArr[7] = JSON.parse(JSON.stringify(dataMap.textArr[5]))
        dataMap.textArr[5] = { value: dataMap.textArr[1].value, type: 'text' }
      }

      dataMap.textArr = dataMap.textArr.map(el => {
        if (el.type === 'text') {
          if (el.value.includes('\n')) {
            el.value = el.value.split('\n').map(v=>({type:'text',value:v}))
            el.value.splice(1,0,{type:'space',value:''})
            el = el.value
            console.log('el',el);
          }
          // console.log('el');
        }
        
        return el
      }).flat()
      dataMap.list = dataMap.textArr
      console.log('dataMap.list', dataMap.list);
    }, {
      immediate: true
    })
    return {
      dataMap,
      dateChange,
      inputChange,
    }
  }
})
</script>

<style lang="less" scoped>
.row {
  display: flex;
  align-items: center;
  margin-left: 10px;
  cursor: pointer;
  flex-wrap: wrap;
  line-height: 20px;

  .int {
    width: 50px;
    height: 22px;
    margin: 0 10px;
    text-align: center;
    white-space: break-spaces;
    display: inline;
  }
}
</style>