<template>
  <!-- 报价书 -->
  <!-- <a-card title="报价确认书" :bordered="false" :style="{ width: '100%' }"> -->
  <div class="priceList">
    <a-tabs @change="handleChange" class="tabs" :active-key="activeKey">
      <a-tab-pane key="清关运输" title="清关运输" v-if="showTrans">
        <!-- 整箱 -->
        <div v-if="offerInfo.packingTypeName === '整箱'">
          <a-table
            :columns="columns"
            :data="data"
            :pagination="false"
            class="table_wrapper"
          >
            <template #num="{ rowIndex }">
              <div>
                {{ rowIndex + 1 }}
              </div>
            </template>
            <template #operator="{ record, rowIndex }">
              <a-dropdown trigger="click" position="bl">
                <a-button
                  size="mini"
                  type="text"
                  class="operateBtn"
                  v-show="rowIndex || data.length === 1"
                >
                  <template #icon>
                    <icon-more-vertical />
                  </template>
                </a-button>
                <template #content>
                  <a-doption v-for="(item, index) in operateList" :key="index">
                    <span
                      v-if="item.name === '删除'"
                      @click="
                        item.confirmDelete &&
                          item.confirmDelete({ record, done })
                      "
                      :style="{ color: item.color, padding: '0 10px 0 3px' }"
                      >{{ item.name }}</span
                    >
                    <span
                      v-else
                      @click="
                        item.callback && item.callback({ record, rowIndex })
                      "
                      :style="{ color: item.color, padding: '0 10px 0 3px' }"
                      >{{ item.name }}</span
                    >
                    <!-- {{item.name}} -->
                  </a-doption>
                </template>
              </a-dropdown>
            </template>
            <!-- 柜数 -->
            <template #containerCount="{ record: { quoteSummerList } }">
              <div v-if="quoteSummerList && quoteSummerList.length > 1">
                <p v-for="(item, index) in quoteSummerList" :key="index">
                  {{ item.containerCount }}
                </p>
              </div>
              <div v-else>
                {{
                  (quoteSummerList && quoteSummerList.length === 1 && '单柜') ||
                  '--'
                }}
              </div>
            </template>
            <!-- 报价 -->
            <template #quoteAmount="{ record: { quoteSummerList } }">
              <!-- <span v-if="quoteSummerList">{{record.quoteSummerList}}</span> -->
              <div
                v-if="
                  Array.isArray(quoteSummerList) && quoteSummerList.length > 0
                "
              >
                <div v-for="(item, i) in quoteSummerList" :key="i">
                  <a-tooltip
                    v-if="item.isLessThanBasePrice"
                    class="item"
                    effect="dark"
                    content="低于基准价需要特批"
                    placement="right"
                  >
                    <span style="color: red">{{ item.quoteAmount }}</span>
                  </a-tooltip>
                  <p v-else>
                    {{ item.quoteAmount }}
                  </p>
                </div>
              </div>
              <div v-else>
                {{ '--' }}
              </div>
            </template>
            <!-- 运价 -->
            <template #freightAmount="{ record: { quoteSummerList } }">
              <div v-if="quoteSummerList && quoteSummerList.length > 1">
                <p v-for="(item, index) in quoteSummerList" :key="index">
                  {{ item.freightAmount }}
                </p>
              </div>

              <div v-else>
                {{
                  (quoteSummerList &&
                    quoteSummerList.length === 1 &&
                    quoteSummerList[0].freightAmount) ||
                  '--'
                }}
              </div>
            </template>
            <template #quoteAmountTitle>
              <div>
                报价{{
                  offerInfo.quotationWay == 1 ? '（元/柜）' : '（元/吨）'
                }}
              </div>
            </template>
            <template #freightAmountTitle>
              <div>
                运价{{
                  offerInfo.quotationWay == 1 ? '（元/柜）' : '（元/吨）'
                }}
              </div>
            </template>
          </a-table>
          <DwButton
            type="text"
            style="margin: 10px 0 0 -15px"
            @click="showCreate"
          >
            <icon-plus size="mini" />
            新建
          </DwButton>
          <a-card title="费用范围" style="width: 100%; border-bottom: 0">
            <p style="font-size: 16px">包干费用</p>
            <p
              ><span
                v-for="(item, index) in offerInfo?.offerCostItemList?.filter(
                  (curItem) => curItem.isLumpSum
                )"
                :key="index"
                >{{ item.costItemCname }}、</span
              ></p
            >
            <p style="font-size: 16px">非包干费用</p>
            <p
              ><span
                v-for="(item, index) in offerInfo?.offerCostItemList?.filter(
                  (curItem) => !curItem.isLumpSum
                )"
                :key="index"
                >{{ item.costItemCname }}、</span
              ></p
            >
          </a-card>

          <TaxSettle
            :contractInfo="contractInfo"
            :offerInfo="offerInfo"
            :activeKey="activeKey"
          ></TaxSettle>
        </div>

        <!-- 散货 cfs -->
        <div
          v-if="
            offerInfo.packingTypeName === '大型散货' ||
            offerInfo.packingTypeName === 'CFS'
          "
        >
          <a-card title="费用范围" style="width: 100%; border-bottom: 0">
            <CostItem
              :offerInfo="offerInfo"
              :contractInfo="contractInfo"
            ></CostItem>
          </a-card>
          <TaxSettle
            :contractInfo="contractInfo"
            :offerInfo="offerInfo"
            :activeKey="activeKey"
          ></TaxSettle>
          <UploadFileOffer
            :contractInfo="contractInfo"
            :offerInfo="offerInfo"
            @onUpdate="onUpdate"
          ></UploadFileOffer>
        </div>

        <a-modal
          v-model:visible="modelVisible"
          width="90vw"
          :mask-closable="false"
        >
          <template #title> {{ modalParams.title }} </template>
          <div style="height: 70vh; overflow: scroll-y" v-if="modelVisible">
            <AddPrice ref="AddPriceRef" :modalParams="modalParams"></AddPrice>
          </div>
          <template #footer>
            <div class="bottomButton">
              <DwButton
                size="small"
                @click="modelVisible = false"
                style="margin-right: 8px"
              >
                取消
              </DwButton>
              <DwButton type="primary" size="small" @click="confirmSave">
                确定
              </DwButton>
            </div>
          </template>
        </a-modal>
      </a-tab-pane>
      <a-tab-pane
        key="仓储服务"
        title="仓储服务"
        v-if="offerServiceList?.includes('仓储')"
      >
        <UploadFileStore
          :offerInfo="offerInfo"
          :contractInfo="contractInfo"
          @onUpdate="onUpdate"
        ></UploadFileStore>
      </a-tab-pane>
    </a-tabs>
  </div>
  <!-- </a-card> -->
</template>

<script setup>
import { nextTick, onMounted, ref, watch, reactive, computed, h } from 'vue';
import { useRouter, useRoute } from 'vue-router';
import { createOffer } from '@/api/createOffer'; //当前页面api
import AddPrice from '../../addPrice/index.vue';
import TaxSettle from '../taxSettle/index.vue';
import UploadFileStore from '../uploadFileStore/index.vue';
import UploadFileOffer from '../uploadFileOffer/index.vue';
import CostItem from '../costItem/index.vue';
import { contractManage } from '@/api/contractManage';
import { Modal } from '@arco-design/web-vue';
const AddPriceRef = ref(null);
const router = useRouter();
const route = useRoute();
const props = defineProps({
  offerInfo: {
    type: Object,
    default: () => ({}),
  },
  contractInfo: {
    type: Object,
    default: () => ({}),
  },
});
const emits = defineEmits(['updatedActiveKey', 'onUpdate', 'updatedOfferInfo']);
const columns = computed(() => {
  const flag = props.offerInfo.isSingleOpen;
  const col = [
    {
      title: '#',
      slotName: 'num',
      width: 90,
    },
    {
      title: '',
      slotName: 'operator',
      width: 90,
    },
    {
      title: '港口',
      dataIndex: 'portName',
    },
    {
      title: '港区',
      dataIndex: 'portArea',
    },
    {
      title: '门点',
      dataIndex: 'doorName',
    },
    {
      title: '箱型箱类',
      dataIndex: 'containerSizeType',
    },
    {
      title: '柜数(柜)',
      slotName: 'containerCount',
    },
    {
      title: '报价',
      slotName: 'quoteAmount',
      titleSlotName: 'quoteAmountTitle',
    },
    {
      title: '运价',
      slotName: 'freightAmount',
      titleSlotName: 'freightAmountTitle',
    },
  ];
  return flag ? col : col.pop() && col;
});
const data = reactive([]);
const offerServiceList = ref([]);

const getList = () => {
  createOffer.quoteDetailList({ id: route.query.offerBookId }).then((res) => {
    data.length = 0;
    data.push.apply(data, res.data);
  });
};
watch(
  () => route.query.offerBookId,
  (n) => {
    if (n) {
      // 根据url id去请求接口，拿到数据
      n && getList();
    }
  },
  {
    immediate: true,
  }
);
watch(
  () => props.offerInfo,
  (v) => {
    offerServiceList.value = v.offerServiceList?.map(
      (item) => item.serviceProject
    );
    activeKey.value = !offerServiceList.value.includes('仓储')
      ? '清关运输'
      : activeKey.value;
  },
  {
    deep: true,
  }
);
// 操作按钮配置

//#region 弹窗，关于创建报价书
const ModalTitle = {
  add: '新增报价测算',
  addMore: '添加报价测算',
  edit: '编辑报价测算',
};
const modalParams = reactive({
  title: '报价测算',
  record: {},
  index: '',
  ModalTitle,
});
// 获取详情 --用于编辑
const getDetails = (record) => {
  return new Promise((resolve, reject) => {
    contractManage.quoteDetailInfo({ id: record.id }).then(({ code, data }) => {
      if (code === '200') {
        const newData = { ...data },
          lump = [],
          noLump = [];
        data.costItemList.map((item) => {
          if (data.standardProductsId) {
            if (item.isLumpSum) {
              lump.push({ ...item });
            } else {
              noLump.push({ ...item });
            }
          } else {
            return item;
          }
        });
        newData.lump = lump;
        newData.noLump = noLump;
        resolve(newData);
      } else {
      }
    });
  });
};
const modelVisible = ref(false);
// 新建 --二次添加
const showCreate = () => {
  modelVisible.value = true;
  if (data.length >= 1) {
    modalParams.title = ModalTitle.addMore;
    modalParams.index = 'addMore';
  } else {
    modalParams.title = ModalTitle.add;
    modalParams.index = '';
  }
};
// 确定
// const getParams = () => {
//   const params = AddPriceRef.value.getParams();
//   return params;
// };
const confirmSave = async () => {
  const param = await AddPriceRef.value.getParams();
  if (!param) return;
  const url =
    modalParams.title === modalParams.ModalTitle.edit
      ? 'updateQuoteDetail'
      : 'addQuoteDetail';
  createOffer[url](param)
    .then(({ code, data }) => {
      if (code === '200') {
        modelVisible.value = false;
        getList();
        emits('updatedOfferInfo');
      } else {
        return Promise.reject();
      }
    })
    .catch(() => {
      return Promise.reject();
    });
};
//#endregion
const operateList = reactive([
  {
    name: '删除',
    color: 'rgba(245, 63, 63, 1)',
    confirmDelete: ({ record, done }) => {
      Modal.warning({
        title: '提示',
        content: '确认删除吗?',
        closable: true,
        hideCancel: false,
        onBeforeOk: (done) => {
          createOffer
            .deleteQuoteDetail({ id: record.id })
            .then(({ code, data }) => {
              if (code === '200') {
                getList();
                done(true);
              } else {
                done(false);
                return Promise.reject();
              }
            })
            .catch(() => {
              done(false);
              return Promise.reject();
            });
        },
      });
    },
  },
  {
    name: '编辑',
    color: 'rgba(41, 105, 255, 1)',
    callback: ({ record, rowIndex }) => {
      getDetails(record).then((res) => {
        modelVisible.value = true;
        modalParams.title = ModalTitle.edit;
        modalParams.row = { ...res, detailsId: record.id };
        modalParams.index = rowIndex;
      });
    },
  },
]);
// const offerServiceList = computed(() =>
//   props.offerInfo.offerServiceList?.map((item) => item.serviceProject)
// );
// 清关运输是否展示
const showTrans = computed(() => {
  if (offerServiceList.value?.length >= 2) {
    return true;
  } else if (offerServiceList.value?.length === 1) {
    if (offerServiceList.value?.includes('仓储')) {
      return false;
    }
    return true;
  }
  return false;
});
const activeKey = ref(offerServiceList?.[1]);
const handleChange = (e) => {
  activeKey.value = e;
  emits('updatedActiveKey', e);
};

const onUpdate = () => {
  emits('onUpdate');
};
defineExpose({
  getList,
});
</script>
<style lang="less" scoped>
.priceList {
  .tabs {
    // padding: 20px;
  }
}
// 第一二列样式处理
.table_wrapper {
  :deep(thead tr th:nth-child(1).arco-table-th) {
    border-right: none;
    padding: 0;
  }
  :deep(tr td:nth-child(1)) {
    border-right: none;
    padding: 0;
  }
  :deep(tr td:nth-child(2) span.arco-table-cell) {
    padding: 0;
  }
}
</style>
