<template>
  <div class="container">
    <div>
      <button-area>
        <template #left>
          <filter-select @filterParams="filterChange" ref="filterSelectRef" />
          <screen-btn></screen-btn>
          <sync-btn @click="syncData"></sync-btn>
          <export-table @click="exportTable2"></export-table>
        </template>
      </button-area>
      <div :class="`table-wrap ${dataMap.emptyShow? 'noData' : ''}`">
        <s-empty v-if="dataMap.emptyShow" @click="openFilter" />
        <index-settle @openFilter="openFilter" :syncFlag="dataMap.syncFlag" :filterParams="dataMap.filterParams"
          @tableDataChange="tableDataChange" ref="indexSettleRef">
        </index-settle>

      </div>
    </div>
  </div>
</template>

<script lang="ts" setup>
import {
  defineComponent,
  ref,
  watch,
  reactive,
  h,
  toRefs,
  computed,
  onMounted,
  nextTick,
} from 'vue';
import filterSelect from './components/filterSelect.vue'
import sEmpty from './components/sEmpty.vue'
// import tableInvoice from './components/tableInvoice.vue'
import headerD from '@/components/navHeader/headerD.vue';
import { formatOptions, setNumericText, totalNum } from '@/utils';
import commonApi from '@/utils/commonApi/index';
import { Message } from '@arco-design/web-vue';
// import addStandingModal from './components/addStandingModal.vue'
import indexSettle from './components/indexSettle.vue'
import { runOrderApi } from '@/api';
const addStandingModalRef = ref<any>(null);
const indexSettleRef = ref<any>(null);
const filterSelectRef = ref<any>(null);
const dataMap = reactive<any>({
  syncFlag: 0,
  emptyShow: true,
  filterParams: {}
})

const filterChange = (params: any) => {
  dataMap.filterParams = params
}
const openFilter = () => {
  filterSelectRef.value.open()
}
const syncData = async () => {
  dataMap.syncFlag++;

}
const tableDataChange = (tableData: any[]) => {
  dataMap.emptyShow = tableData.length === 0
}
const exportTable2 = async () => {
  const res:any = await runOrderApi.exportStanding(dataMap.filterParams);
  let blob = new Blob([res], {
    type: 'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet;charset=utf-8'
  })
  let url = window.URL.createObjectURL(blob)
  const link = document.createElement('a') // 创建a标签
  link.href = url
  link.download = '客户台账'
  link.click()
  URL.revokeObjectURL(url) // 释放内存

};
</script> 
<style lang="less" scoped>
.container {
  background-color: var(	--color-bg-2);
  display: flex;
  height: calc(~"100vh - 93px");
}
.table-wrap{
  width:100%;
  overflow: hidden;
  padding: 0 20px;
  height: calc(~"100% - 70px - 64px");
}
.noData{
  border:1px solid var(--color-fill-2);
  padding: 0;
  width:calc(100% - 40px);
  margin: 0 19px;
  height: calc(~"100% - 90px");
}

.info-modal-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header {
  margin: 0 25px;
  padding: 15px 0 20px;
  font-size: 14px;
  color: #696c70;
  display: flex;
  border-top: 1px solid #f1f1f1;

  .item {
    padding-right: 32px;
    display: flex;

    .item_value {
      color: #000;
    }
  }
}
</style>
