<template>
  <div class="header-title"> 换单详情</div>
  <div class="container">

    <div class="left">
      <a-card>
        <div class="steps">
          <a-steps :current="steps" :changeable="changeAble" @change="setCurrent">
            <a-step>单证交接</a-step>
            <a-step>换单准备</a-step>
            <a-step>换单执行</a-step>
          </a-steps>
        </div>
        <step1 v-if="steps == 1" @updateInfo="updateInfo" ref="step1Ref"></step1>
        <step2 v-if="steps == 2" :info="info" @updateInfo="updateInfo"></step2>
        <step3 v-if="steps == 3" ref="step3Ref" @updateInfo="updateInfo"></step3>
      </a-card>
    </div>
    <div class="right">
      <a-card>
        <change-info :info="info" @updateInfo="updateInfo"></change-info>
      </a-card>
    </div>
  </div>
</template>
<script lang="ts" setup>
import step1 from './components/step1.vue';
import step2 from './components/step2.vue';
import step3 from './components/step3.vue';
import { changeOrderApi } from '@/api/changeOrderApi/index';
import changeInfo from './components/changeInfo.vue';
import { reactive, ref, nextTick } from 'vue';
import { useRoute, useRouter } from 'vue-router';
const route = useRoute();
const router = useRouter();
const orderLogisticsNo = route.query.orderLogisticsNo || 'T_MYBD220501137';
const steps = ref(1);
const info = ref({});
const step1Ref = ref();
const step3Ref = ref();
const changeAble = ref(true)
//获取详情
const getInfo = async () => {
  const { data } = await changeOrderApi.mosRunOrderDetail({
    orderLogisticsNo: orderLogisticsNo,
  });
  info.value = data;
  info.value.exchangedoSchedule = data.exchangedoSchedule
  steps.value = data.exchangedoSchedule
  if (data.exchangedoSchedule==4){
    steps.value=3
  }else{
    steps.value = data.exchangedoSchedule
  }
  if (steps.value == 1) {
    nextTick(()=>{step1Ref.value.show(data)})
    
  }
  if (steps.value == 3) {
    nextTick(()=>{
       step3Ref.value.show(data)
    })
   
  }

};
getInfo();
const updateInfo = (val) => {
  console.log(val,'反馈更新详情')
  getInfo()
  if (val == 'sign') {
    steps.value = 2
  }
};
const setCurrent = (current) => {
  // if(current==2){
  //   getInfo();

  // }
  if (current <= info.value.exchangedoSchedule) {
    steps.value = current
  } else {
    if (info.value.exchangedoSchedule==4){
      steps.value=3
    }else{
      steps.value = info.value.exchangedoSchedule
    }
    

  }



}
</script>
<style lang="less" scoped>
.header-title{
  width:100%;
  height:70px;
  padding:20px;
  font-size:20px;
  display:flex;
  align-items:center;
}
.arco-card {
  height:100%;
  overflow:auto;
}
.arco-card-body {
  height: 100%;
}

.container {
  width: 100%;
  display: flex;
  overflow: auto;
  // height: 100vh;
  padding: 20px 21px;
  background-color: #f7f8fa;

  .left {
    margin-right: 20px;
    width: 66%;
    height: calc(100vh - 200px);
    overflow: auto;
    border: 1px solid #e5e6eb;
    .steps {
      padding: 8px 20% 20px;
      // border-bottom: 1px solid #e5e6eb;
    }
  }

  .right {
    flex: 1;
    overflow: auto;
    height: calc(100vh - 200px);
    border: 1px solid #e5e6eb;
  }
  .arco-card-bordered{
   border:none;
  }
}
</style>