<template>
  <div class="container">
    <div>
      <button-area>
        <template #left>
          <search-btn v-model="searchword" placeholder="运单编号/别名/提单号/PI/送货箱号"></search-btn>

          <!-- @click="searchBtnClick" -->
          <filter-btn v-model:pageInitFilters="pageInitFilters" :viewUserId="viewUserId" :viewSystemId="viewSystemId"
            ref="filterRef"></filter-btn>
          <custom-column v-model:pageInitColumns="pageInitColumns" :viewUserId="viewUserId" :viewType="viewType"
            :viewSystemId="viewSystemId" @submitSuccess="submitSuccess"></custom-column>
          <export-table @click="exportTable"></export-table>
          <screen-btn></screen-btn>
          <!-- 刷新按钮执行列表初始化 -->
          <sync-btn @click="syncData"></sync-btn>
        </template>
        <template #right>
          <!-- :disabled="true"  禁用编辑按钮 -->
          <edit-table v-model="isEditDisabled"></edit-table>

          <a-button type="primary" :style="{width:'134px',height: '30px','margin-right': '8px'}"
            @click="clickDocuments">
            <template #icon>
              <icon-user-group />
            </template>
            <span>批量单证交接</span>
          </a-button>
          <a-button type="primary" :style="{width:'134px',height: '30px','margin-right': '8px'}"
            @click="getCompleteList" :disabled="isDisableBtn">
            <template #icon>
              <icon-check-square />
            </template>
            <span>换单准备完成</span>
          </a-button>
          <a-button type="primary" :style="{width:'134px',height: '30px','margin-right': '8px'}" @click="getExpenseList"
            :disabled="isDisableBtn">
            <template #icon>
              <icon-launch />
            </template>
            <span>批量换单派出</span>
          </a-button>
          <a-button type="primary" :style="{width:'134px',height: '30px'}" @click="clickChangeOrder">
            <template #icon>
              <icon-message />
            </template>
            <span>批量换单反馈</span>
          </a-button>
        </template>
      </button-area>
      <!-- {{modalVisible}} -->

      <div class="table-wrap">
       
        <CommonTableChangeOrder :url="url" :viewUserId="viewUserId" :viewInfo="viewInfo" :searchword="searchword"
          :viewFilterRule="viewFilterRule" :columns="columns" :syncFlag="syncFlag" column-resizable
          :bordered="{cell:true}" @openFilter="openFilter" @getSelectData="getSelectData"
          @paginationWidth="paginationWidth" ref="commonTableRef" :isEditDisabled="isEditDisabled" @pageSize1="pageSize1" @pageNum1="pageNum1">
        </CommonTableChangeOrder>
        <!-- :operateList="operateList" -->

      </div>

      <tab-view :viewType="viewType" :changeViewId="changeViewId" @submitViewHandle="submitViewHandle"
        @submitDelete="submitDelete" @currentTabViewId="currentTabViewId" @chooseFields="chooseFields"
        @viewFilterRuleChange="viewFilterRuleChange" @currentTabviewName="currentTabviewName"
        :paginationWidthNum="paginationWidthNum" ref="tabViewRef"></tab-view>

      <tab-view-modal v-model="modalVisible" :title="tabViewModelTitle" :defaultActiveKey="defaultActiveKey"
        v-model:modalParams="modalParams" @syncTabViewList="syncTabViewList"></tab-view-modal>
      <!--         :viewUserId="tabHandleViewUserId"
        :viewSystemId="viewSystemId"
        :viewName="viewName"
        :viewType="viewType" -->
    </div>
    <!-- 批量单证交接 -->
    <diaDocuments ref="diaDocumentsRef"></diaDocuments>
    <!-- 批量换单反馈 -->
    <diaChangeOrder ref="diaChangeOrderRef"></diaChangeOrder>
  </div>

</template>


<script lang="ts">
import {
  defineComponent,
  ref,
  watch,
  reactive,
  h,
  toRefs,
  computed,
  onMounted,
  nextTick,
} from 'vue';
import { runOrderApi } from '@/api/runOrderApi'
import CommonTableChangeOrder from './components/common-table/index.vue';
import diaDocuments from './components/diaDocuments.vue'
import diaChangeOrder from './components/diaChangeOrder.vue'
import { changeOrderApi } from '@/api/changeOrderApi/index';
import { Message } from '@arco-design/web-vue';
export default defineComponent({
    components: {
        CommonTableChangeOrder,
        diaDocuments,
        diaChangeOrder
    },
  name: 'changeOrder', 
  setup(props,{emit,slots,attrs}) {
    const filterRef = ref([])
    const commonTableRef = ref([])
    const tabViewRef = ref<any>(null)
    const dataMap = reactive({
      isDisableBtn:true,
      triggerVisible:false,
     url: runOrderApi.changeOrderList,// 表格请求的地址  不同的列表页  地址会变化
      hasTabData: false,
      selectedData: [], // 表格已选择的数据   用于右侧按钮操作时的数据 
      syncFlag: 0, // 刷新标志
      viewType: '7', // 运单列表代码 1
      viewUserId: '', // 用户视图ID
      changeViewId: '',
      tabHandleViewUserId: '', // 用户视图ID
      viewInfo: {}, // 用户视图ID 系统视图ID
      viewSystemId: '', // 用户视图ID 系统视图ID
      viewFilterRule: '', // 视图筛选项
      initFilters: '', // 保存视图原始筛选项
      columns: [], // 动态表头表头
      initColumns: [], // 保存视图原始表头
      pageInitColumns: [], // 页面自定义列信息
      modalParams: {}, // 视图弹框配置
      pageInitFilters: '',
      filterlist: [],
      customcolumn: {},
      pageSize:10,
      pageNum:1,
      operateList: [
        {
          name:'编辑',
          icon:'',
          color: 'rgba(41, 105, 255, 1)',
          // TODO 
          isShow: (record:any) => {
            // TODO
            // 根据record里面的字断判断
            return false
          },
          callback:(id:any)=>{
            console.log('00000', id)
            // TODO
          }
        },
        {
          name:'复制',
          icon:'',
          color: 'rgba(41, 105, 255, 1)',
          isShow: (record:any) => {
            // TODO
            // 根据record里面的字断判断
            console.log(record)
            return false
          },
          callback:(id:any)=>{
            console.log('first', id)
            // TODO
          }
        },
        {
          name:'删除',
          icon:'',
          color: 'rgba(245, 63, 63, 1)',
          isShow: (record:any) => {
            // TODO
            // 根据record里面的字断判断
            return true
          },
          callback:(id:any)=>{
            console.log('22222', id)
            // TODO
            // 先弹框确认 再删除
          }
        }
      ],
      // params: {
      //   viewUserId: '', // 用户视图ID
      //   keyword: '',
      //   pageNum: 1, // 当前页-默认为1  
      //   pageSize:10, // 每页大小-默认为10 
      //   viewFilterRule: '', //筛选规则: 整体为字符串数组JSON格式数组，单条规则之间分割符为|||
      //   orderByViewSystemFieldId:'', // 排序字段的系统视图字段ID  
      //   orderByType: '',//排序类型: 降序-desc 升序-asc
      // },
      searchword: '',
      searchPopupVisible: false,
      isEditDisabled: false, // 是否可编辑
      PaginationProps: {
        'size': 'mini',
        'total': 100000,
        'current': 1, //  当前页码
        'show-page-size': true,
        'page-size-options': [10, 20, 30, 40, 50],
        'show-total': true,
        'show-jumper': true
      },
      modalVisible: false, // 控制新增/编辑/复制视图弹窗是否显示
      tabViewModelTitle: '新增视图', // 视图弹窗title
      defaultActiveKey: '1', // 视图默认展示的tab标签 类型string
      paginationWidthNum: 0,
      currentViewName: '',
      viewName: '',
    });
    const pageSize1=(val)=>{
      console.log(val, '分页--===');
      dataMap.pageSize=val

    }
    const pageNum1= (val) => {
      console.log(val,'分页+++++++');
      dataMap.pageNum = val

    }
    const exportTable = () => {
      console.log('导出数据');
      // 导出当前搜索条件下的数据
      console.log(commonTableRef.value.params)
      
      const params = {
        keyWord: dataMap.searchword,
        viewSql: '',
        pageNum: dataMap.pageNum,
        pageSize:dataMap.pageSize,
        viewUserId: dataMap.viewUserId,//
        viewSystemId: dataMap.viewSystemId,//
        viewFilterRule: dataMap.viewFilterRule,
        orderByViewSystemFieldId: '',
        orderByType: '',
      }
      changeOrderApi.exportList(params).then((response: any) => {
        let blob = new Blob([response], {
          type: 'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet;charset=utf-8'
        })
        let url = window.URL.createObjectURL(blob)
        let link = document.createElement('a') // 创建a标签
        link.href = url
        link.download = '换单列表'
        link.click()
        URL.revokeObjectURL(url) // 释放内存
      })
    };

    const syncData = () => {
      dataMap.searchword = ''
      dataMap.viewFilterRule = ""
      dataMap.columns = dataMap.initColumns
      dataMap.syncFlag++
    };


    const chooseFields = (val:any) => {
      console.log(val)
      console.log('---------表头表头-----------')
      if(val.length > 0){
        dataMap.hasTabData = true
      } else {
        dataMap.hasTabData = false
      }
      // 中间列表 展示列表头  当前展示的 传给公共table的
      dataMap.columns = val
      // 当前视图表头  刷新时设置为dataMap.columns
      dataMap.initColumns = val
      // button区域自定义列  定义表头 - -  脑子可能不太好  整这么多表头
      dataMap.pageInitColumns = val
    }

    const viewFilterRuleChange = (val: any) => {
      console.log(val)
      // 传给公共table 的筛选项
      dataMap.viewFilterRule = val
      // 当前视图筛选项  刷新时设置为dataMap.viewFilterRule
      dataMap.initFilters = val
      // button区域筛选按钮
      dataMap.pageInitFilters = val
    }

    const currentTabViewId = (viewId:object) => {
      console.log('接收到视图id的参数了' ,viewId)
      dataMap.viewUserId = viewId.currentTabViewId
      dataMap.viewInfo = viewId
      dataMap.viewSystemId = viewId.viewSystemId
    }

    const submitViewHandle = (param: any) => {
      console.log('从视图组件传来的参数：', param)
      // return
      // 需要展示视图弹窗
      dataMap.modalVisible = true
      dataMap.tabViewModelTitle = param.title
      dataMap.defaultActiveKey = param.defaultActiveKey
      // 新增视图  编辑视图  复制视图
      // 新增视图 无初始化数据
      // 编辑和复制视图  初始化数据一致
      if(param.title == '新增视图'){
        dataMap.modalParams = {
          initColumns: [],
          initFilters: '',
          ...param
        }
      } else {
        dataMap.modalParams = {
          initColumns: dataMap.initColumns, // 视图原始展示列
          initFilters: dataMap.initFilters,
          ...param
        }
      }
      console.log('dataMap.modalParams:', dataMap.modalParams)
    }

    const openFilter=()=>{
      console.log('需要打开筛选。。。')
      filterRef.value.filterRef.handleClick()
    }
    
    const submitDelete=(id:any) => {
      console.log(id)
      console.log('删除了当前视图  整个页面需要初始化')
    }

    const submitSuccess = (val:any) => {
      console.log(val)
      console.log('')
      console.log(tabViewRef.value,'tabViewRef.value')
      // tabViewRef.value.getTabViewListFn()
      // 重新获取表头
      tabViewRef.value.getColumns(dataMap.viewUserId)
    }

    watch(
      () => dataMap.searchword,
      (newval,oldval) => {
        console.log('来新数据了',newval)
        // 改变页面params
        // 重新请求获取列表数据的接口
        // TODO
        // getList(params)
      },
      { immediate: true,deep: true }
    )
    watch(
      () => dataMap.pageInitFilters,
      (newval, oldval) => {
        console.log('来新数据了', newval)
        dataMap.viewFilterRule = newval
      },
      { immediate: true, deep: true }
    )
    // 多选数据
    const getSelectData = (val:any) => {
      dataMap.selectedData = val
      if(val&&val.length>0){
         dataMap.isDisableBtn=false
      }else{
        dataMap.isDisableBtn = true
      }
     
      console.log(val,123)
    }

    const paginationWidth = (val:any) => {
      console.log(val)
      dataMap.paginationWidthNum = val
    }

    const currentTabviewName = (val:any) => {
      console.log(val)
      dataMap.currentViewName = val
    }

    const syncTabViewList = (val:any) => {
      console.log('需要刷新视图列表',val)
      dataMap.changeViewId = val
      tabViewRef.value.getTabViewListFn()
    }

    // modalParams
    watch(
      () => dataMap.modalParams,
      (newval,oldval) => {
        console.log('来新数据了modalParams',newval)
      },
      { immediate: true,deep: true }
    )
    const diaDocumentsRef=ref(null)

    const clickDocuments=()=>{
        console.log(diaDocumentsRef.value)
      diaDocumentsRef.value.show(dataMap.viewUserId)
    }
    const diaChangeOrderRef = ref(null)

    const clickChangeOrder= () => {
      console.log(diaChangeOrderRef.value)
      diaChangeOrderRef.value.show(dataMap.viewUserId)
    }
    const triggerVisible1=()=>{
      console.log(dataMap.triggerVisible)
      dataMap.triggerVisible=false
    }
    const getExpenseList=async ()=>{
      const params =
      {
        orderLogisticsNoList:dataMap.selectedData.join(',')
      } 
      const {code, data } = await changeOrderApi.getExpenseList(params)
      if(code=='200'){
        Message.success('换单派出成功')
        syncData()
        
      }
    }
    const getCompleteList = async () => {
      const params ={orderLogisticsNoList: dataMap.selectedData.join(',')}
      const { code, data } = await changeOrderApi.getCompleteList(params)
      if (code == '200') {
        Message.success('换单准备完成')
        syncData()
      }
    }
    return {
      pageNum1,
      pageSize1,
      getCompleteList,
      getExpenseList,
      triggerVisible1,
      commonTableRef,
      exportTable,
      syncData,
      ...toRefs(dataMap),
      // columns,
      // data,
      // PaginationProps,
      chooseFields,
      viewFilterRuleChange,
      currentTabViewId,
      submitViewHandle,
      submitDelete,
      openFilter,
      filterRef,
      getSelectData,
      paginationWidth,
      currentTabviewName,
      submitSuccess,
      tabViewRef,
      syncTabViewList,
        clickDocuments,
        diaDocumentsRef,
      clickChangeOrder,
     diaChangeOrderRef

    }
    
  },
});
</script>

<style lang="less" scoped>
.container {
  background-color: var(  --color-bg-2);
  // max-width: 100%;
  display: flex;
  height: calc(~"100vh - 93px");
}
.table-wrap{
  width:100%;
  overflow: hidden;
  padding: 0 20px;
  height: calc(~"100% - 70px - 64px");
}
</style>

