<template>
  <a-modal v-model:visible="dataMap.visible" width="80%" align-center @cancel="handleCancel"
    :on-before-ok="handleBeforeOk" :mask-closable="false">
    <template #title> 模板基础配置 </template>
    <div class="container">
      <a-form ref="formRef" :model="form" layout="vertical">
        <a-row class="grid-demo" :gutter="[24, 12]">
          <!-- <a-col :span="24">
          <span class="sm-title">基础模板配置</span>
        </a-col> -->
          <a-col :span="12">
            <a-form-item field="standingBookName" label="模板名称" :rules="[{ required: true, message: '请输入' }]"
              :validate-trigger="['change', 'blur']">
              <a-input v-model="form.standingBookName" placeholder="请输入" maxlength="18" />
            </a-form-item>
          </a-col>
          <a-col :span="12">
            <a-form-item field="customerId" label="模板对应客户" :validate-trigger="['change', 'blur']"
              :rules="[{ required: true, message: '请选择' }]"
            >
              <a-select v-model="form.customerId" placeholder="请选择" multiple :max-tag-count="1"
                @search="getCustomerOptions" allow-clear>
                <a-option v-for="item in dataMap.customerOptions" :value="item.value" :label="item.label">{{ item.label
                }}
                </a-option>
              </a-select>
            </a-form-item>
          </a-col>
          <a-col :span="12">
            <a-form-item field="deleteFlag" label="状态" :validate-trigger="['change', 'blur']"
              :rules="[{ required: true, message: '请选择' }]">
              <a-switch size="small" :checked-value="false" :unchecked-value="true" v-model="form.deleteFlag" />
            </a-form-item>
          </a-col>
          <a-col :span="12">
            <a-form-item field="sendFlag" label="是否推送至日报" :validate-trigger="['change', 'blur']"
              :rules="[{ required: true, message: '请选择' }]">
              <a-switch size="small" :checked-value="0" :unchecked-value="1" v-model="form.sendFlag" />
            </a-form-item>
          </a-col>
          <a-col :span="24">
            <a-form-item field="remark" label="备注" :validate-trigger="['change', 'blur']">
              <a-textarea :rows="2" placeholder="请输入备注" allow-clear v-model="form.remark" />
            </a-form-item>
          </a-col>
          <!-- <a-col :span="24">
          <span class="sm-title">台账字段配置</span>
        </a-col> -->
          <a-col :span="24">
            <!-- <a-form-item field="fieldInterfaces" label="台账字段" :validate-trigger="['change', 'blur']">
              <a-transfer one-way :title="['待选字段', '已选字段']" :data="dataMap.fieldOptions" v-model="form.fieldInterfaces"
                show-search />
            </a-form-item> -->

            <!-- TODO 自定义列 -->
            <Content v-if="dataMap.visible" v-model:initColumns="form.fieldInterfaces"
              :viewSystemId='dataMap.viewSystemId' :viewType='dataMap.viewType' @fieldOptions="getFieldOptions"
              ref="contentRef"></Content>
          </a-col>
        </a-row>
      </a-form>
    </div>

  </a-modal>

</template>

<script lang="ts" setup>
import { runOrderApi } from '@/api';
import { Message } from '@arco-design/web-vue';
import { reactive, watch, ref, nextTick } from 'vue';
import Content from './Content.vue'

const formRef = ref<any>(null)
const dataMap = reactive({
  visible: false,
  fieldOptions: [] as { label: string, value: string, disabled: boolean, fieldColumn: string }[],
  customerOptions: [] as { label: string, value: string }[],
  initColumns: [] as any[],
  viewType: 1, viewSystemId: ''
})
const contentRef = ref<any>(null)
const emit = defineEmits(["handleBeforeOk"])
const form = reactive({
  id: "",
  standingBookName: "",// 模板名称
  deleteFlag: false, // 状态: false-启用 true-禁用
  sendFlag: 1, // 是否推送至报表: 0-是 1-否
  remark: "",//备注 
  customerId: [],
  fieldInterfaces: [] as any[]
})
const init = () => {
  form.id = ''
  form.standingBookName = ''
  form.deleteFlag = false
  form.sendFlag = 1
  form.remark = ''
  form.customerId = []
  form.fieldInterfaces.length = 0
  form.fieldInterfaces = []
  // nextTick().then(()=>{
  // contentRef.value.clearAll()
  // })
}
const handleClick = (params?: any) => {
  dataMap.visible = true
  if (!params) return init()
  form.id = params.id
  form.standingBookName = params.standingBookName
  form.deleteFlag = params.deleteFlag
  form.sendFlag = params.sendFlag
  form.remark = params.remark
  form.customerId = params.customerList.map((e: any) => e.customerId)
  if (params.fieldInterface) form.fieldInterfaces = params.fieldInterface.split(",").map(el => {
    return {
      fieldName: el
    }
  })
}
const getCustomerOptions = async (name: string = '') => {
  const { data } = await runOrderApi.standingBusiness({ name })
  dataMap.customerOptions = data.list.map((v: any) => {
    return { value: v.id, label: v.name }
  })
}
const getFieldOptions = async (arr: any[]) => {
  dataMap.fieldOptions = arr
}
const handleBeforeOk = async (done: any) => {
  if (await formRef.value.validate() !== undefined) return done(false)
  if (form.fieldInterfaces.length == 0) {
    Message.error("请选择台账字段"); done(false)
    return
  }
  // debugger
  let params: any = form
  let fieldInterfaces = form.fieldInterfaces.map(el => el.value)
  let arr = dataMap.fieldOptions.filter((v) => fieldInterfaces.includes(v.value))
  params.fieldInterface = arr.map(v => v.value).join(',')
  params.fieldName = arr.map(v => v.label).join(',')
  params.fieldColumn = arr.map(v => v.fieldColumn).join(',')
  params.fieldInterfaces = undefined
  const { code } = await runOrderApi.saveStanding(params)
  if (code != 200) return done(false)
  Message.success("操作成功")
  done(true)
  dataMap.visible = false
  emit('handleBeforeOk')
}
const handleCancel = () => { }
getCustomerOptions()
defineExpose({ handleClick })
</script>

<style>
.sm-title {
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: #4E5969;
}

.container {
  height: 450px;

  /* overflow: scroll; */
  /* overflow-y: auto; */

}
</style>