<template>
  <a-modal title="确认开票" :visible.sync="dataMap.visible" width="30%" :before-close="handleClose"
    :on-before-ok="(done) => { handleBeforeOk(done) }">
    <a-select v-model="dataMap.fapiaoId" placeholder="请选择" allow-search>
      <a-option v-for="item in dataMap.fapiaoNoOptions" :key="item.value" :value="item.value" :label="item.label"> {{
          item.label
      }}
      </a-option>
    </a-select>
  </a-modal>
</template>
<script lang="ts" setup>
import { settlementApi } from '@/api';
import { Message } from '@arco-design/web-vue';
import { nextTick, ref, reactive, watch } from 'vue';
const props = defineProps<{
  info: {
    [key: string]: any
  }
}>()
const emits = defineEmits(['handleBeforeOk']);
const dataMap = reactive({
  visible: false,
  fapiaoNoOptions: [] as any[],
  fapiaoId: '',
})
// 发票号列表
const invoiceDetaiFapiaoList = async () => {
  dataMap.fapiaoNoOptions = []
  let { data } = await settlementApi.invoiceDetaiFapiaoList({ id: props.info.id })
  if (!data || data.length === 0) return
  dataMap.fapiaoNoOptions = data.map((v: any) => {
    return {
      value: v.id.toString(),
      label: v.fapiaoNo
    }
  })
}
const handleClick = async () => {
  invoiceDetaiFapiaoList()
  dataMap.visible = true
}
const handleBeforeOk = async (done: any) => {
  if (!dataMap.fapiaoId) {
    Message.error("请选择发票")
    return done(false)
  }
  const { code, data }: any = await settlementApi.invoiceDetailExecute({
    invoiceId: props.info.id.toString(),
    invoicePoolId: dataMap.fapiaoId
  })
  if (code != 200) return
  emits('handleBeforeOk')
  Message.success("操作成功")
  done(true)
}
const handleClose = () => {

}

// setTimeout(() => {
//   invoiceDetaiFapiaoList()
// }, 1000);
defineExpose({ handleClick });
</script>