<template>
  <a-table :columns="columns" :bordered="{ wrapper: true, cell: true }" :pagination="false"
    v-bind="$attrs">
    <template #isCloseAccount="{ record }">
      <dw-tag :class="record.isCloseAccount ? 'LC2' : 'LC10'"><template #word> {{ record.isCloseAccount ? '已关账)' : '未关账'
      }}</template>
      </dw-tag>
    </template>
    <template #originalCurrencyAmount="{ record }">
      <invoice-amount :currencySymbol="record.currencySymbol" :amount="record.originalCurrencyAmount" />
    </template>
    <template #taxAmount="{ record }">
      <invoice-amount :currencySymbol="record.currencySymbol" :amount="record.taxAmount" />
    </template>
  </a-table>
</template>

<script lang="ts" setup>
import { reactive, watch } from 'vue';
import invoiceAmount from './invoiceAmount.vue'
const columns: any[] = [
  { title: '业务编号', slotName: 'statementNo', dataIndex: 'statementNo' },
  { title: '提单号', slotName: 'mblNo', dataIndex: 'mblNo' },
  // { title: '提单附件', slotName: 'itemName', dataIndex: 'itemName' },
  { title: '是否关账', slotName: 'isCloseAccount', dataIndex: 'isCloseAccount' },
  { title: '费用名称', slotName: 'statementIncomeName', dataIndex: 'statementIncomeName' },
  { title: '原币金额', slotName: 'originalCurrencyAmount', dataIndex: 'originalCurrencyAmount' },
  { title: '原币开票金额', slotName: 'originalCurrencyAmount', dataIndex: 'originalCurrencyAmount' },
  { title: '本币开票金额', slotName: 'taxAmount', dataIndex: 'taxAmount' },
  { title: '委托人', slotName: 'clientName', dataIndex: 'clientName' },
]
</script>