<template>
  <span v-if="props.amount !== undefined" :class="props.amount >= 0 ? '' : 'red'">
    {{ currencySymbolAmount(props.currencySymbol, props.amount, props.format) }}
  </span>
</template>

<script lang="ts" setup>
import { setNumericText } from '@/utils';

const props = withDefaults(defineProps<{
  currencySymbol: string,
  amount: number
  format: number
}>(), {
  format: 2
})
// 获得 币别+两位小数
const currencySymbolAmount = (symbol: string, num: number, format = 2) => symbol + setNumericText(num, { format, zeroText: '0.00', commas: true });
</script>
<style lang="less" scoped>
.red {
  color: red;
}
</style>