<template>
  <a-table :summary="summary" :columns="columns" :bordered="{ wrapper: true, cell: true }" :pagination="false"
    v-bind="$attrs">

    <template #unitPrice="{ record }">
      <invoice-amount :currencySymbol="props.currencySymbol" :amount="record.unitPrice" :format="4" />
    </template>
    <template #untaxedAmount="{ record }">
      <invoice-amount :currencySymbol="props.currencySymbol" :amount="record.untaxedAmount" />
    </template>
    <template #tax="{ record }">
      <invoice-amount :currencySymbol="props.currencySymbol" :amount="record.tax" />
    </template>
    <template #taxAmount="{ record }">
      <invoice-amount :currencySymbol="props.currencySymbol" :amount="record.taxAmount" />
    </template>
  </a-table>
</template>

<script lang="ts" setup>
import { totalNum } from '@/utils';
import invoiceAmount from './invoiceAmount.vue'
const props = defineProps<{
  currencySymbol: string
}>()
const columns: any[] = [
  { title: '开票项目', slotName: 'itemName', dataIndex: 'itemName' },
  { title: '规格型号', slotName: 'specificationModel', dataIndex: 'specificationModel' },
  { title: '数量', slotName: 'quantity', dataIndex: 'quantity' },
  { title: '单位', slotName: 'unit', dataIndex: 'unit' },
  { title: '单价', slotName: 'unitPrice', dataIndex: 'unitPrice' },
  { title: '金额（不含税）', slotName: 'untaxedAmount', dataIndex: 'untaxedAmount' },
  { title: '税额', slotName: 'tax', dataIndex: 'tax' },
  { title: '金额（含税）', slotName: 'taxAmount', dataIndex: 'taxAmount' },
]

const summary = ({ data }: any) => {
  let totalUntaxedAmount = 0;
  let totalTax = 0;
  let totalTaxAmount = 0;
  if (data.length == 0) return false

  data.forEach((record: any) => {
    totalUntaxedAmount = totalNum([totalUntaxedAmount, record.untaxedAmount], { commas: false })
    totalTax = totalNum([totalTax, record.tax],{ commas: false })
    totalTaxAmount = totalNum([totalTaxAmount, record.taxAmount],{ commas: false })
  });
  return [
    {
      itemName: '合计',
      untaxedAmount: totalUntaxedAmount,
      tax: totalTax,
      taxAmount: totalTaxAmount,
    },
  ];
};
</script>