<template>
  <!-- v-if 为了再次走iframe onload -->
  <a-modal title="提示" :visible.sync="showIframe" width="50%" :before-close="handleClose">
    <div v-if="showIframe" class="content">
      <!-- <div v-if="loading" style="text-align: center">加载中...</div> -->
      <iframe width="100%" height="100%" frameborder="0" id="child"
        src="https://test_invoice.mayizhilian.net/template/index.html"></iframe>
    </div>

  </a-modal>
</template>
<script lang="ts" setup>
import { IframeHTMLAttributes, nextTick, ref } from 'vue';
const emits = defineEmits(['handleBeforeOk']);
const showIframe = ref(false)
const handleClick = async (params: any, info: any, yl: boolean, fromSupplimentprint: any) => {
  showIframe.value = true
  await nextTick()
  const iFrame: any = document.getElementById('child')
  iFrame.onload = () => {
    iFrame.contentWindow.postMessage(
      {
        params,
        invoiceType: info.invoiceCode,
        yl,
        qdbz: info.qdbz //清单标志
      },
      '*'
    )
  }

  window.onmessage = (event) => {
    if (event.data == 'success') {
      console.log('打印成功')
      // this.loading = false
      // this.showIframe = false
      showIframe.value = false

      // 更新打印状态,补打和预览不需要更新
      if (!yl && !fromSupplimentprint) {
        // this.invoiceDetailPrint()
        emits('handleBeforeOk')
      }
    } else {
      console.log('打印失败')
      //打印调用失败
      // this.loading = false
    }
  }
}
const handleBeforeOk = () => {

}
const handleClose = () => {

}
defineExpose({ handleClick });
</script>