<template>
  <div class="container">
    <div>
      <button-area>
        <template #left>
          <search-btn v-model="dataMap.searchword" placeholder="台账模板名称"></search-btn>
          <screen-btn></screen-btn>
          <sync-btn @click="syncData"></sync-btn>
        </template>
        <template #right>
          <a-button type="primary" :style="{
            'width': '158px',
            'height': '30px',
            'margin-right': '8px',
          }" @click="add">
            <template #icon>
              <icon-plus />
            </template>
            <span>新增台账模板</span>
          </a-button>
        </template>
      </button-area>
      <div class="table-wrap">
        <a-empty v-if="dataMap.tableData.length == 0" />
        <a-table v-if="dataMap.tableData.length" :data="dataMap.tableData" :columns="columns"
          :bordered="{ wrapper: true, cell: true }">
          <template #operatetitle>
            <div class="overBgTitle"></div>
          </template>
          <template #operate="{ record }">
            <a-dropdown trigger="click" position="bl">
              <a-button size="mini" class="operateBtn">
                <template #icon>
                  <icon-more-vertical />
                </template>
              </a-button>
              <template #content>
                <a-doption v-for="(item, index) in operateList" :key="index" v-show="item.isShow && item.isShow(record)"
                  @click="item.callback && item.callback(record)">
                  <span :style="{ color: item.color, padding: '0 10px 0 3px' }">{{
                      item.name
                  }}</span>
                </a-doption>
              </template>
            </a-dropdown>
          </template>
          <template #deleteFlag="{ record }">
            <a-tag :color="record.deleteFlag ? 'red' : 'green'">{{
                record.deleteFlag ? '停用' : '启用'
            }}</a-tag>
          </template>
        </a-table>
      </div>
    </div>
  </div>
  <add-template-modal ref="addTemplateModalRef" @handleBeforeOk="getData" />
</template>
<script lang="ts" setup>
import { Modal, Message } from '@arco-design/web-vue';
import { reactive, h, watch, ref } from 'vue'
import { runOrderApi } from '@/api/runOrderApi/index'
import addTemplateModal from './components/addTemplateModal.vue'
const addTemplateModalRef = ref<any>(null)
const dataMap = reactive({
  searchword: "",
  tableData: [] as any[]
})
const operateList = [
  {
    name: '编辑',
    color: 'rgba(41, 105, 255, 1)',
    isShow: (e:any) => true,
    callback: (e: any) => { edit(e) }
  },
  {
    name: '删除',
          color: 'rgba(245, 63, 63, 1)',
    isShow: (e:any) => true,
    callback: (e: any) => { del(e) }
  },
]
const columns = [

  {
    dataIndex: 'operate', title: '操作', slotName: 'operate',
    titleSlotName: 'operatetitle',
  },
  { dataIndex: 'standingBookName', title: '台账模版名称' },
  { dataIndex: 'createUserName', title: '创建人' },
  { dataIndex: 'sendFlagText', title: '推送至客户端日报' },
  { dataIndex: 'updateTime', title: '最新更新日期' },
  { dataIndex: 'deleteFlag', slotName: "deleteFlag", title: '状态' },
  { dataIndex: 'remark', title: '备注' }
];
const edit = (record: any) => {
  addTemplateModalRef.value.handleClick(record)
}
const add = () => {
  addTemplateModalRef.value.handleClick()
}
const del = async (record: any) => {
  Modal.warning({
    title: '提示',
    hideCancel: false,
    alignCenter: true,
    content: () =>
      h('div', { class: 'info-modal-content' }, [
        h(
          'span',
          { style: 'margin-left: 60px;' },
          `是否确认删除${record.standingBookName}模板？`
        ),
      ]),
    cancelText: '取消',
    async onOk() {
      const { code } = await runOrderApi.deleteStanding({ id: record.id })
      if (code == 200) {
        Message.success('删除成功');
        getData();
      }
    },
  });
}
const getData = async () => {
  const { data } = await runOrderApi.standingTemplateList({ keyWord: dataMap.searchword })
  if(!data) return dataMap.tableData = []
  dataMap.tableData = data.map((el: any) => {
    return {
      ...el,
      sendFlagText: el.sendFlag ? '否' : '是'
    }
  })
}
const syncData = async () => {
  dataMap.searchword = ''
  getData()
}

watch(() => dataMap.searchword, getData)
getData()
</script>

<style lang="less" scoped>
.container {
  background-color: var(--color-bg-2);
  // max-width: 100%;
  display: flex;
  height: calc(~'100vh - 93px');
}

.operateBtn {
  // width: 20px;
  // height: 20px;
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -12px;
}

.table-wrap {
  width: 100%;
  overflow: hidden;
  padding: 0 20px;
  height: calc(~'100% - 70px - 64px');
}

.info-modal-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header {
  margin: 0 25px;
  padding: 15px 0 20px;
  font-size: 14px;
  color: #696c70;
  display: flex;
  border-top: 1px solid #f1f1f1;

  .item {
    padding-right: 32px;
    display: flex;

    .item_value {
      color: #000;
    }
  }
}


.operateBtn {
  // width: 20px;
  // height: 20px;
  position: absolute;
  left: -10px;
  top: 50%;
  margin-top: -12px;
}

.overBgTitle {
  width: 2px;
  height: 40px;
  position: absolute;
  left: -1px;
  top: 0;
  background-color: var(--color-neutral-2);
}

.overBg {
  width: 1px;
  height: 40px;
  top: 0;
  left: -1px;
  background-color: var(--color-bg-1);
  position: absolute;
}

:deep(.arco-table-td-content) {
  position: relative;
}

:deep(.arco-table-tr) {
  &:hover {
    .overBg {
      background-color: var(--color-neutral-1);
    }
  }
}

:deep(.arco-table-tr-checked .overBg) {
  background-color: var(--color-neutral-1);
}

.icon {
  width: 24px;
  height: 24px;
  display: inline-block;
  text-align: center;
  line-height: 24px;
  border-radius: 2px;
}

.iconHover {
  &:hover {
    background: rgba(245, 63, 63, 0.3);
  }
}

.iconHoverGreen {
  &:hover {
    background: rgba(41, 105, 255, 0.3);
  }
}
</style>
