<template>
  <div>
    <a-modal
      v-model:visible="visible"
      @ok="handleOk"
      :mask-closable="false"
      @cancel="handleCancel"
      width="60%"
    >
      <template #title> 核对费用 </template>
      <div
        ><a-tabs default-active-key="1">
          <a-tab-pane key="1" title="业务编号">
            <a-table
              :columns="columns"
              :data="selectData"
              :summary="summary"
              :pagination="false"
            >
              <template #taxIncludedAmount="{ record }">
                {{
                  record.currencySymbol +
                  toThousandFilter(record.taxIncludedAmount)
                }}
              </template>
            </a-table>
          </a-tab-pane>
          <a-tab-pane key="2" title="发票">
            <a-table
              :columns="columns_1"
              :data="invoiceList"
              :pagination="false"
            >
              <template #index="record">
                {{ record.rowIndex + 1 }}
              </template>
              <template #invoiceTaxRate="{ record }">
                {{ Number(record.invoiceTaxRate) * 100 + '%' }}
              </template>
              <template #total="{ record }">
                {{ toThousandFilter(record.total) }}
              </template>
            </a-table>
          </a-tab-pane>
          <a-tab-pane key="3" title="支票">
            <a-table :columns="columns_2" :data="data" :pagination="false">
              <template #index="record">
                <div></div>
                {{ record.rowIndex + 1 }}
              </template>
              <template #amount="{ record }">
                {{ toThousandFilter(record.amount) }}
              </template>
            </a-table>
          </a-tab-pane>
        </a-tabs></div
      >
    </a-modal>
  </div>
</template>
<script lang="ts" setup>
import { computed, ref } from 'vue';
import { setNumericText } from '@/utils';
const props = defineProps({ selectData: Array });
const visible = ref(false);
const data = ref([]);
const invoiceList = ref([]);
const columns = [
  {
    title: '业务编号',
    dataIndex: 'statementNo',
    summaryCellStyle: (record) => {
      return {
        backgroundColor: '#FFF7E8',
      };
    },
  },
  {
    title: '金额',
    slotName: 'taxIncludedAmount',
    summaryCellStyle: (record) => {
      return {
        backgroundColor: '#FFF7E8',
        color: '#FF7D00',
      };
    },
  },
];
const columns_1 = [
  {
    title: '#',
    slotName: 'index',
  },
  {
    title: '发票号',
    dataIndex: 'invoiceNo',
  },
  {
    title: '发票类型',
    dataIndex: 'invoiceName',
  },
  {
    title: '税率',
    slotName: 'invoiceTaxRate',
  },
  {
    title: '发票金额',
    slotName: 'total',
  },
];
const columns_2 = [
  {
    title: '#',
    slotName: 'index',
  },
  {
    title: '支票号',
    dataIndex: 'chequeNo',
  },
  {
    title: '支票金额',
    slotName: 'amount',
  },
];
const init = () => {
  let total = 0;
  data.value = props.selectData?.reduce((t, v) => {
    const hasValue = t.findIndex((o) => {
      const keys = ['chequeNo'];
      const find = keys.every((e) => v[e] === o[e]);
      return find;
    });
    hasValue === -1 && t.push(v);
    hasValue !== -1 &&
      (t[hasValue]['amount'] =
        Number(t[hasValue]['taxIncludedAmount']) +
        Number(v['taxIncludedAmount']));
    return t;
  }, []);
  invoiceList.value = props.selectData?.reduce((t, v) => {
    const hasValue = t.findIndex((o) => {
      const keys = ['invoiceName', 'invoiceTaxRate', 'invoiceNo'];
      const find = keys.every((e) => v[e] === o[e]);
      return find;
    });
    hasValue === -1 && t.push(v);
    hasValue !== -1 &&
      (t[hasValue]['total'] =
        Number(t[hasValue]['taxIncludedAmount']) +
        Number(v['taxIncludedAmount']));
    return t;
  }, []);
};

const handleClick = () => {
  visible.value = true;
  init();
};
const toThousandFilter = (num) => {
  return setNumericText(Number(num), { commas: true, zeroText: '0.00' });
};
const handleOk = () => {
  visible.value = false;
};
const handleCancel = () => {
  visible.value = false;
};
const summary = ({ columns, data }) => {
  let total = 0;
  if (data.length == 0) return;
  data.forEach((record) => {
    total += Number(record.taxIncludedAmount);
  });
  console.log(data[0].currencySymbol, 'Data');

  return [
    {
      statementNo: '合计',
      currencySymbol: data[0].currencySymbol,
      taxIncludedAmount: total,
    },
  ];
};

defineExpose({ handleClick });
</script>