<template>
  <div>
    <a-table
      :columns="columns"
      :data="data"
      :pagination="false"
      :scroll="scroll"
    >
      <template #th="{ column }">
        <th :class="getClass(column)"></th>
      </template>

      <template #operation="{ record, rowIndex }">
        <icon-delete
          v-show="data.length > 1"
          @click="handleDelete(record, rowIndex)"
        />

        <span class="tag tag-bad" v-show="record.repeat">重</span>
      </template>

      <template #statementId="{ record, rowIndex }">
        <a-select
          size="small"
          allow-search
          v-model="record.statementId"
          placeholder="请选择业务编号"
          @change="(value) => changeStatement(value, record)"
          @keydown="(e) => keydown(e, 'statementId', true)"
          :class="'statement' + rowIndex"
        >
          <a-option
            :label="item.label"
            :value="item.value"
            v-for="(item, index) in options1"
            :key="index"
          >
          </a-option>
        </a-select>
      </template>

      <template #feeCode="{ record, rowIndex }">
        <a-select
          size="small"
          allow-search
          v-model="record.feeCode"
          placeholder="请选择费用名称"
          @search="getFeeOptions"
          @change="(value) => changeFee(value, record)"
          @keydown="(e) => keydown(e, 'feeCode', true)"
        >
          <a-option
            :label="item.label"
            :value="item.value"
            v-for="(item, index) in options2"
            :key="index"
          >
          </a-option>
        </a-select>
      </template>

      <template #unitPrice="{ record, rowIndex }">
        <a-input-number
          :precision="2"
          :step="0.01"
          :min="0"
          @change="(value) => quantityChange(value, record)"
          @keydown="(e) => keydown(e, 'unitPrice', false, rowIndex)"
          v-model="record.unitPrice"
          allow-clear
        />
      </template>

      <template #currency="{ record, rowIndex }">
        <a-select
          size="small"
          allow-search
          v-model="record.currency"
          placeholder="请选择"
          :id="'currency' + rowIndex"
          @change="(value) => handleCurrency(value, record)"
          @keydown="(e) => keydown(e, 'currency', true)"
        >
          <a-option
            :label="item.label"
            :value="item.value"
            v-for="(item, index) in options3"
            :key="index"
          >
          </a-option>
        </a-select>
      </template>
      <template #currencyExchangeRate="{ record, rowIndex }">
        <a-input-number
          :precision="4"
          :step="0.0001"
          :min="0"
          @keydown="(e) => keydown(e, 'currencyExchangeRate', false, rowIndex)"
          :disabled="currencyExchangeRateDisabled"
          v-model="record.currencyExchangeRate"
          allow-clear
        />
      </template>
      <template #quantity="{ record, rowIndex }">
        <a-input-number
          :precision="4"
          :step="0.0001"
          :min="0"
          @keydown="(e) => keydown(e, 'quantity', false, rowIndex)"
          v-model.trim="record.quantity"
          @change="(value) => quantityChange(value, record)"
          allow-clear
        />
      </template>
      <template #taxIncludedAmount="{ record, rowIndex }">
        <span>{{ record.taxIncludedAmount || '-' }}</span>
      </template>
      <template #clientName="{ record, rowIndex }">
        <span>{{ record.clientName || '-' }}</span>
      </template>
      <template #boxTypeBoxVolume="{ record, rowIndex }">
        <span>{{ record.boxTypeBoxVolume || '-' }}</span>
      </template>

      <template #mblNo="{ record, rowIndex }">
        <span>{{ record.mblNo || '-' }}</span>
      </template>
      <template #hblNo="{ record, rowIndex }">
        <span>{{ record.hblNo || '-' }}</span>
      </template>

      <template #settlerId="{ record, rowIndex }">
        <a-select
          size="small"
          allow-search
          v-model="record.settlerId"
          placeholder="请输入查询"
          @search="getSettlers"
          @change="(value) => changeSettler(value, record, rowIndex)"
          @keydown="(e) => keydown(e, 'settlerId', true)"
        >
          <a-option
            :label="item.label"
            :value="item.value"
            v-for="(item, index) in record.options9"
            :key="index"
          >
          </a-option>
        </a-select>
      </template>

      <template #paymentMethodCode="{ record, rowIndex }">
        <a-select
          size="small"
          allow-search
          v-model="record.paymentMethodCode"
          placeholder="请选择"
          @change="(value) => changePayment(value, record)"
          @keydown="(e) => keydown(e, 'paymentMethodCode', true)"
        >
          <a-option
            :label="item.label"
            :value="item.value"
            v-for="(item, index) in options5"
            :key="index"
          >
          </a-option>
        </a-select>
      </template>
      <template #proxyFee="{ record, rowIndex }">
        <div>
          <a-checkbox v-model="record.proxyFee"></a-checkbox>
        </div>
      </template>
      <template #status="{ record, rowIndex }">
        <a-select
          size="small"
          allow-search
          v-model="record.status"
          placeholder="请选择"
          @keydown="(e) => keydown(e, 'status', true)"
        >
          <a-option
            :label="item.label"
            :value="item.value"
            v-for="(item, index) in options6"
            :key="index"
          >
          </a-option>
        </a-select>
      </template>

      <template #chequeNo="{ record, rowIndex }">
        <a-input
          @keydown="(e) => keydown(e, 'chequeNo', false, rowIndex)"
          v-model="record.chequeNo"
          allow-clear
        />
      </template>

      <template #invoiceCode="{ record, rowIndex }">
        <a-select
          size="small"
          allow-search
          v-model="record.invoiceCode"
          placeholder="请选择"
          @change="(value) => changeInvoice(value, record)"
          @keydown="(e) => keydown(e, 'invoiceCode', true)"
        >
          <a-option
            :label="item.label"
            :value="item.value"
            v-for="(item, index) in options7"
            :key="index"
          >
          </a-option>
        </a-select>
      </template>
      <template #invoiceTaxRate="{ record, rowIndex }">
        <a-select
          size="small"
          allow-search
          v-model="record.invoiceTaxRate"
          placeholder="请选择"
          @change="queryFiles(record)"
          @keydown="(e) => keydown(e, 'invoiceTaxRate', true)"
        >
          <a-option
            :label="item.label"
            :value="item.value"
            v-for="(item, index) in record.options8"
            :key="index"
          >
          </a-option>
        </a-select>
      </template>
      <template #invoiceNo="{ record, rowIndex }">
        <a-input
          @keydown="(e) => keydown(e, 'invoiceNo', false)"
          @change="queryFiles(record)"
          v-model="record.invoiceNo"
          allow-clear
        />
      </template>

      <template #invoices="{ record, rowIndex }">
        <span v-if="record.invoices && record.invoices.length > 0">
          <a-popover>
            <a-button><icon-attachment /></a-button>
            <template #content>
              <p
                v-for="(item, index) in record.invoices"
                :key="index"
                class="cp"
                style="display: flex; justify-content: space-between"
              >
                <span
                  style="color: #2969ff; margin-right: 10px"
                  @click="upload(item)"
                  >{{ item.fileName }}</span
                >
                <span @click="removeFile(record, item)"><icon-delete /></span
              ></p>
            </template>
          </a-popover>
        </span>
        <a-upload
          action="/"
          style="padding-top: 6px"
          :custom-request="(value) => customRequest(value, record)"
          :show-file-list="false"
        >
          <template #upload-button>
            <span style="color: #2969ff"> <icon-upload />上传 </span>
          </template></a-upload
        >
      </template>

      <template #remark="{ record, rowIndex }">
        <a-input
          @keydown="(e) => keydown(e, 'remark', false)"
          @input="(val) => (record.remark = record.remark.substring(0, 300))"
          placeholder="请输入备注，300字以内"
          v-model="record.remark"
          allow-clear
        />
      </template>
    </a-table>
    <a-button type="text" class="add" @click="addFee">
      <icon-plus /> 添加费用
    </a-button>
  </div>
</template>
<script lang="ts" setup>
import { formatOptions, setNumericText, totalNum } from '@/utils';
import { Message, Button } from '@arco-design/web-vue';
import { settlementApi } from '@/api/settlementApi/index';
import utils from '@/utils/crm';
import { memberUser } from '@/api/member';
import commonApi from '@/utils/commonApi/index';
import { onMounted, ref, reactive, nextTick, computed } from 'vue';
const scroll = {
  x: '100%',
  y: '100%',
};
const visible = ref(false);
const options1 = ref([]);
const options2 = ref([]);
const options3 = ref([]);
const options4 = ref([]);
const options5 = ref([]);
const options7 = ref([]);
const options8 = ref([]);
const file = ref('');
const options6 = [
  {
    label: '未确认',
    value: 1,
  },
  {
    label: '确认中',
    value: 2,
  },
  {
    label: '已确认',
    value: 3,
  },
];
const params = {
  statementId: '',
  statementNo: '',
  logisticsId: '',
  feeCode: '',
  feeName: '',
  // feeType: '',
  proxyFee: false,
  repeat: '',
  status: 3,
  currency: '',
  currencyName: '',
  currencySymbol: '',
  currencyExchangeRate: '',
  invoiceCode: '',
  invoiceName: '',
  invoiceTaxRate: '',
  invoiceNo: '',
  chequeNo: '',
  settlerId: '',
  settlerName: '',
  paymentMethodCode: '',
  paymentMethodName: '',
  unitPrice: '',
  quantity: 1,
  taxIncludedAmount: '',
  refundSign: '',
  remark: '',
  invoices: [],
  clientName: '',
  clientId: '',
  boxTypeBoxVolume: '',
  mblNo: '',
  statementCurrency: '',
  mid: 1,
  options8: [], // 税率列表
  options9: [], // 支付对象列表
};
const getClass = (column: any) => {
  let arr = [
    '操作',
    '金额（含税）',
    '委托人',
    '箱型箱量',
    'MB/L',
    'HB/L',
    '代付',
    '支票号',
    '发票号',
    '附件',
    '备注',
  ];
  return !arr.includes(column.title) ? 'red' : '';
};
const currencyExchangeRateDisabled = ref(true);
const data = ref([JSON.parse(JSON.stringify(params))]);
const handleDelete = async (row, index) => {
  data.value.splice(index, 1);
};
const columns = [
  {
    title: '操作',
    dataIndex: 'operation',
    fixed: 'left',
    width: 90,
    ellipsis: true,
    tooltip: true,
    slotName: 'operation',
  },
  {
    title: '业务编号',
    dataIndex: 'statementId',
    fixed: 'left',
    width: 240,
    ellipsis: true,
    tooltip: true,
    slotName: 'statementId',
  },
  {
    title: '费用名称',
    dataIndex: 'feeCode',
    fixed: 'left',
    width: 200,
    ellipsis: true,
    tooltip: true,
    slotName: 'feeCode',
  },
  {
    title: '单价',
    dataIndex: 'unitPrice',
    fixed: 'left',
    width: 160,
    slotName: 'unitPrice',
  },
  {
    title: '币别',
    dataIndex: 'currency',
    slotName: 'currency',
    width: 160,
  },
  {
    title: '汇率',
    dataIndex: 'currencyExchangeRate',
    slotName: 'currencyExchangeRate',
    width: 120,
  },
  {
    title: '数量',
    dataIndex: 'quantity',
    slotName: 'quantity',
    width: 140,
  },
  {
    title: '金额（含税）',
    dataIndex: 'taxIncludedAmount',
    slotName: 'taxIncludedAmount',
    width: 120,
  },
  {
    title: '委托人',
    dataIndex: 'clientName',
    slotName: 'clientName',
    width: 120,
  },
  {
    title: '箱型箱量',
    dataIndex: 'boxTypeBoxVolume',
    slotName: 'boxTypeBoxVolume',
    width: 120,
  },
  {
    title: 'MB/L',
    dataIndex: 'mblNo',
    slotName: 'mblNo',
    width: 120,
  },
  {
    title: 'HB/L',
    dataIndex: 'hblNo',
    slotName: 'hblNo',
    width: 120,
  },
  {
    title: '支付对象',
    dataIndex: 'settlerId',
    slotName: 'settlerId',
    width: 200,
  },
  {
    title: '支付方式',
    dataIndex: 'paymentMethodCode',
    slotName: 'paymentMethodCode',
    width: 180,
  },
  {
    title: '代付',
    dataIndex: 'proxyFee',
    slotName: 'proxyFee',
    width: 120,
  },
  {
    title: '费用状态',
    dataIndex: 'status',
    slotName: 'status',
    width: 140,
  },
  {
    title: '支票号',
    dataIndex: 'chequeNo',
    slotName: 'chequeNo',
    width: 120,
  },
  {
    title: '发票类型',
    dataIndex: 'invoiceCode',
    slotName: 'invoiceCode',
    width: 160,
  },
  {
    title: '税率',
    dataIndex: 'invoiceTaxRate',
    slotName: 'invoiceTaxRate',
    width: 160,
  },
  {
    title: '发票号',
    dataIndex: 'invoiceNo',
    slotName: 'invoiceNo',
    width: 120,
  },
  {
    title: '附件',
    dataIndex: 'invoices',
    slotName: 'invoices',
    width: 120,
  },
  {
    title: '备注',
    dataIndex: 'remark',
    slotName: 'remark',
    width: 200,
  },
];
// 处理导入数据
const handleImportData = (data1: any) => {
  handleRepeat(data1, true);
  console.log(data.value, data1, 'Data');

  // 如果上一行没值，删掉那一行
  const last = data.value[data.value.length - 1] || {};
  if (
    !last.statementId ||
    !last.feeCode ||
    !last.unitPrice ||
    !last.currency ||
    !last.currencyExchangeRate ||
    !last.quantity ||
    !last.settlerId ||
    !last.paymentMethodCode ||
    !last.status ||
    !last.invoiceCode ||
    last.invoiceTaxRate === ''
  ) {
    data.value.splice(data.value.length - 1, 1);
  }
  data1.reduce((t, v) => {
    v.mid = t + 1;
    // 支付对象、费用名称对不上
    if (!options2.value.some((i) => v.feeCode == i.value)) {
      options2.value.push({
        value: v.feeCode,
        label: v.feeName,
      });
    }

    if (!options4.value.some((i) => v.settlerId == i.value)) {
      options4.value.push({
        value: v.settlerId,
        label: v.settlerName,
      });
    }
    v.options9 = JSON.parse(JSON.stringify(options4.value));

    // 发票税点
    setRateOptions(v.invoiceCode, v, true);

    return v.mid;
  }, maxId);

  data.value.push(...data1);
};
const maxId = computed(() => {
  const ids = data.value.map((item) => item.mid);
  return (ids.length && Math.max(...data.value.map((item) => item.mid))) || 1;
});
const keydown = (e, prop, isSelect, index) => {
  console.log(e, prop, 'tab建');
  //   if (prop == 'unitPrice' && e.which === 9) {
  //     // 冻结列tab切换焦点的问题
  //     document.getElementById('currency' + index).focus();
  //     e.preventDefault();
  //   }

  //   if (prop == 'quantity' && e.which === 9) {
  //     // 支付对象被冻结列挡住
  //     const scroll = document.querySelector('.el-table__body-wrapper');
  //     const scrollLeft =
  //       document.querySelector('.settler').offsetLeft - scroll.clientWidth / 2;
  //     scroll.scrollLeft = scrollLeft;
  //   }
  //   if (prop == 'unitPrice' && e.which === 9) {
  //     // 币别被冻结列挡住
  //     console.log(
  //       document.querySelector('.currency'),
  //       "document.querySelector('.currency')"
  //     );

  //     const scroll = document.querySelector('.arco-table-tr');
  //     const scrollLeft =
  //       document.querySelector('.currency').offsetLeft - scroll.clientWidth / 2;
  //     scroll.scrollLeft = scrollLeft;
  //   }

  if ((e.which === 9 && prop == 'remark') || (e.which === 40 && !isSelect)) {
    console.log('remark备注tab键');

    // tab 和下键
    addFee(e);
  }
};
// 自定义上传
const customRequest = (option, record) => {
  memberUser.fileUpload({ file: option.fileItem.file }).then((res) => {
    if (res.code == 200) {
      Message.success('上传成功');
      record.invoices.push({
        id: option.fileItem.uid,
        fileName: res.data.fileName,
        fileUrl: res.data.url,
      });
    }
  });
};
const removeFile = (record, item) => {
  record.invoices = record.invoices.filter((row) => row.id != item.id);
};
const changePayment = (val, row) => {
  row.paymentMethodName = utils.handleLabelByValue(options5.value, val);
};
const changeInvoice = (val, row) => {
  setRateOptions(val, row);
  queryFiles(row);
};
//查询成本票附件
const queryFiles = async (row: any) => {
  // 发票类型，税率，发票号，三个条件的并集，显示到附件中
  if (row.invoiceCode && row.invoiceTaxRate >= 0 && row.invoiceNo) {
    let { invoiceCode, invoiceTaxRate, invoiceNo } = row;
    let res = await settlementApi.settleTrackCostInvoiceFiles({
      invoiceCode,
      invoiceTaxRate,
      invoiceNo,
    });
    let { code, data } = res;
    if (code == '200') {
      (row.invoices || []).push(...(data || []));
    }

    // 包含2部分：自己上传的还未保存+根据发票信息查出来的
  }
};
const quantityChange = (val, row) => {
  row.taxIncludedAmount = Number(row.quantity) * Number(row.unitPrice);
  row.taxIncludedAmount = setNumericText(row.taxIncludedAmount, {
    format: 2,
  });
};
const addFee = (e: any) => {
  if (data.value.length > 0) {
    const last = data.value[data.value.length - 1];
    console.log(last, data.value.length, 'lasr');

    if (
      last.statementId &&
      last.feeCode &&
      last.unitPrice &&
      last.currency &&
      last.currencyExchangeRate &&
      last.quantity &&
      last.settlerId &&
      last.paymentMethodCode &&
      last.status &&
      last.invoiceCode &&
      last.invoiceTaxRate !== ''
    ) {
      const newFee = JSON.parse(JSON.stringify(last));
      newFee.repeat = true;
      newFee.mid = Number(maxId) + 1;
      data.value.push(newFee);
      console.log(
        document.querySelector(
          `.arco-table-tr .statement${data.value.length - 1} input`
        ),
        'querySelector'
      );

      // 第一个元素聚焦
      nextTick(() => {
        document
          .querySelector(
            `.arco-table-tr .statement${data.value.length - 1} input`
          )
          .focus();
        e.preventDefault();
      });
    } else {
      Message.error('请先完善最后一条费用信息');
      nextTick(() => {
        document
          .querySelector(
            `.arco-table-tr .statement${data.value.length - 1} input`
          )
          .focus();
        e.preventDefault();
      });
    }
  } else {
    data.value = [JSON.parse(JSON.stringify(params))]; // 导入的时候可能会把第一条删掉，且导入失败的情况
  }
};

const changeStatement = (val, row) => {
  let item = options1.value.find((v) => v.value == val) || {};
  row.ownerId = item.ownerId || '';
  row.statementNo = item.label || '';
  row.logisticsId = item.logisticsId ? item.logisticsId.toString() : '';
  row.clientName = item.clientName || '';
  row.clientId = item.clientId ? item.clientId.toString() : '';
  row.boxTypeBoxVolume = item.boxTypeBoxVolume || '';
  row.mblNo = item.mblNo || '';
  row.statementCurrency = item.currency || '';
  getDefaultInvoice(row);
  handleCurrency(row.currency, row);
};
// 查询企业币种汇率
const handleChageCurrency = async (v: any, row: any) => {
  const params = {
    sourceCode: v,
    convertCode: row.statementCurrency,
    ownerId: row.ownerId,
  };
  const res = await commonApi.settleBasicCurrencyRate(params);
  row.currencyExchangeRate = Number(res.exchangeRate);
  console.log(row.currencyExchangeRate, 'row.currencyExchangeRate');
};
const handleCurrency = async (v: any, row: any) => {
  // 所选币别和公司结算币别一致时，汇率默认为1，并禁用文本框，不可修改
  const res = v === row.statementCurrency;
  handleChageCurrency(v, row);
  currencyExchangeRateDisabled.value = res;
  row.currencyName = utils.handleLabelByValue(options3.value, v);
  row.currencySymbol = utils.handleLabelByValue(
    options3.value,
    v,
    'value',
    'symbol'
  );
  await statementCostRepeat(row);
  handleRepeat([row]);
};
// 获取费用默认发票
const getDefaultInvoice = async (row: any) => {
  if (row.logisticsId && row.feeName) {
    const params = {
      id: row.logisticsId,
      feeName: row.feeName,
    };
    const res = await commonApi.getDefaultInvoice(params);
    setRateOptions(res.invoiceCode, row, true);
    row.invoiceTaxRate = res.invoiceTaxRate;
  }
};
const handleRepeat = (list: any, fromImport = false) => {
  // 接口查出来重复的就直接展示重，接口不重复，叠加校验页面业务编号和费用名称是否重复
  let totalLine = [];
  if (fromImport) {
    totalLine = data.value.concat(list);
  } else {
    totalLine = data.value;
  }
  list.forEach((v) => {
    if (!v.repeat) {
      // 校验页面费用名称是否重复
      // 排查掉当前条
      let feeCodes = totalLine
        .filter((i) => i.mid != v.mid)
        .reduce((t, v) => {
          return t.concat({ feeCode: v.feeCode, statementNo: v.statementNo });
        }, []);

      v.repeat = feeCodes.some((i) => {
        return i.feeCode == v.feeCode && i.statementNo == v.statementNo;
      });
    }
  });
};
const setRateOptions = (val: any, row: any, setRate: any) => {
  const currentInvoice = options7.value.find((v) => v.value == val) || {};
  row.invoiceName = currentInvoice.name;
  row.invoiceCode = currentInvoice.code;
  const child = currentInvoice.child;
  child && child.forEach((v) => (v.taxRateName = v.taxRate * 100 + '%'));
  row.options8 = formatOptions(child, {
    value: 'taxRate',
    label: 'taxRateName',
  });

  if (setRate) return;

  // 设置默认税率
  const item = row.options8.find((v) => v.defaults) || {};
  row.invoiceTaxRate = item.taxRate || row.options8[0].taxRate;
};
// 费用是否重复
const statementCostRepeat = async (row: any) => {
  if (row.statementId && row.feeCode && row.currency) {
    const params = {
      statementId: row.statementId,
      feeCode: row.feeCode,
      currency: row.currency,
    };
    const res = await settlementApi.statementCostRepeat(params);
    const { code, data } = res;
    if (code == '200') {
      row.repeat = data || false;
    }
  }
};
const setDefaultVal = () => {
  data.value[0].currency = 'CNY';
  data.value[0].currencyName = utils.handleLabelByValue(
    options3.value,
    data.value[0].currency
  );
  data.value[0].currencySymbol = utils.handleLabelByValue(
    options3.value,
    data.value[0].currency,
    'value',
    'symbol'
  );
  data.value[0].currencyExchangeRate = 1.0;
  // 默认银行转账
  data.value[0].paymentMethodCode = utils.handleLabelByValue(
    options5.value,
    '银行转账',
    'label',
    'value'
  );
  data.value[0].paymentMethodName = utils.handleLabelByValue(
    options5.value,
    data.value[0].paymentMethodCode
  );
};
const getFeeOptions = async (v = '') => {
  const params = { search: v };
  options2.value = formatOptions(
    await commonApi.settleBasicEnterpriseCostFee(params),
    {
      value: 'costFeeCode',
      label: 'costFeeName',
    }
  );
};
const changeFee = async (val: any, row: any) => {
  row.feeName = utils.handleLabelByValue(options2.value, val);
  getDefaultInvoice(row);
  await statementCostRepeat(row);
  handleRepeat([row]);
};
const getSettlers = async (v = '', row: any, type: any) => {
  const params = { name: v };
  row.options9 = formatOptions(
    await commonApi.queryRelationByLabelCode(params),
    { value: 'enterpriseId', label: 'name' }
  );
  options4.value = type && row.options9;
};
const changeSettler = (val: any, row: any) => {
  row.settlerName = utils.handleLabelByValue(row.options9, val);
};
const init = async () => {
  // 业务编号
  options1.value = formatOptions(
    await commonApi.statementUnclosed({ ownerId: '' }),
    { value: 'id', label: 'no', string: true }
  );
  // 币别
  options3.value = formatOptions(await commonApi.getCurrency(), {
    value: 'code',
    label: 'name',
  });
  // 支付方式
  options5.value = formatOptions(
    (await commonApi.getPaymentOptions())?.PaymentMethod,
    { value: 'codes', label: 'codeName' }
  );

  // 发票类型
  options7.value = formatOptions(
    await commonApi.settleBasicEnterpriseInvoice(),
    {
      value: 'code',
      label: 'name',
    }
  );
  // 费用名称
  getFeeOptions();
  // 支付对象
  getSettlers('', data.value[0], 'first');

  setDefaultVal();
};
onMounted(() => {
  init();
});
defineExpose({ data, handleImportData });
</script>
<style lang="less" scoped>
.add {
  margin-top: 20px;
}
:deep(.arco-table-th) {
  &.red {
    .arco-table-cell::after {
      content: '*';
      color: red;
    }
  }
}
.tag {
  border-radius: 5px;
  margin-left: 3px;
  padding: 2px 4px;
}
.tag-bad {
  background: #ffe2e5;
  color: #f64e60;
}
</style>