<template>
  <div>
    <a-modal
      v-model:visible="visible"
      width="60%"
      :mask-closable="false"
      :modal-style="{
        'max-height': '650px',
        'min-height': '250px',
      }"
      :body-style="{
        padding: '24px 0 0',
      }"
    >
      <template #title> 确认导入费用 </template>
      <div>
        <a-form :model="formData" ref="formDataVad">
          <a-table
            :scroll="scroll"
            :columns="columns"
            :data="formData.tableForm"
            :pagination="false"
          >
            <template #checkMsg="{ record, rowIndex }">
              <div
                style="color: red"
                v-for="(item, index) in record.checkMsg"
                :key="index"
                ><icon-exclamation-circle />{{ item.errorMsgs }}</div
              >
            </template>
            <template #statementNo="{ record, rowIndex }">
              <a-form-item
                :rules="[{ required: true, message: ' ' }]"
                :hide-asterisk="true"
                :validate-trigger="['change', 'input']"
                style="margin: 10px 0 0 -30px; width: 100%"
                :field="`tableForm.${rowIndex}.statementNo`"
              >
                <a-select
                  size="small"
                  style="width: 240px"
                  allow-search
                  v-model="record.statementNo"
                  placeholder="请输入"
                  @search="querySearchAsyncStatementNo"
                  @change="(value) => changeStatement(value, record)"
                >
                  <a-option
                    :label="item.statementNo"
                    :value="item.statementNo"
                    v-for="(item, index) in options1"
                    :key="index"
                  >
                  </a-option>
                </a-select>
              </a-form-item>
            </template>
            <template #mblNo="{ record, rowIndex }">
              <a-form-item
                :rules="[{ required: true, message: ' ' }]"
                :hide-asterisk="true"
                :validate-trigger="['change', 'input']"
                style="margin: 10px 0 0 -30px"
                :field="`tableForm.${rowIndex}.mblNo`"
              >
                <a-select
                  size="small"
                  allow-search
                  v-model="record.mblNo"
                  placeholder="请输入"
                  @search="querySearchAsyncMblNo"
                  @change="(value) => changeMblNo(value, record)"
                >
                  <a-option
                    :label="item.mblNo"
                    :value="item.mblNo"
                    v-for="(item, index) in options2"
                    :key="index"
                  >
                  </a-option>
                </a-select>
              </a-form-item> </template
          ></a-table> </a-form
      ></div>
      <template #footer>
        <div class="footer">
          <div class="left">
            共{{ total }}条，正确 {{ success }} 条，错误{{ failed }}条</div
          >
          <div class="right">
            <a-button type="primary" :loading="loading" @click="save"
              >确认</a-button
            >
            <a-button @click="handleCancel" style="margin-left: 20px"
              >取消</a-button
            ></div
          ></div
        >
      </template>
    </a-modal>
  </div>
</template>
<script lang="ts" setup>
import { ref, reactive, inject } from 'vue';
import { settlementApi } from '@/api/settlementApi/index';
import { Message } from '@arco-design/web-vue';
const visible = ref(false);
// const tableForm = ref([]);
const options1 = ref([]);
const options2 = ref([]);
const total = ref(0);
const success = ref(0);
const failed = ref(0);
const loading = ref(false);
const formData = reactive({
  tableForm: [],
});
const formDataVad = ref([]);
const scroll = {
  x: '100%',
  y: '100%',
};
const initImportData = inject('initImportData');
const columns = [
  {
    title: '提示',
    dataIndex: 'checkMsg',
    slotName: 'checkMsg',
    width: 150,
    fixed: 'left',
  },
  {
    title: '业务编号',
    dataIndex: 'statementNo',
    slotName: 'statementNo',
    width: 240,
    fixed: 'left',
  },
  {
    title: 'MB/L',
    dataIndex: 'mblNo',
    slotName: 'mblNo',
    width: 200,
    fixed: 'left',
  },
  {
    title: '费用名称',
    dataIndex: 'feeName',
    width: 200,
  },
  {
    title: '币别',
    dataIndex: 'currency',
    width: 120,
  },
  {
    title: '汇率',
    dataIndex: 'currencyExchangeRate',
    width: 120,
  },
  {
    title: '支付对象',
    dataIndex: 'settlerName',
    width: 120,
    tooltip: true,
    ellipsis: true,
  },
  {
    title: '支付方式',
    dataIndex: 'paymentMethodName',
    width: 120,
  },
  {
    title: '发票类型',
    dataIndex: 'invoiceName',
    slotName: 'invoiceName',
    width: 120,
    tooltip: true,
    ellipsis: true,
  },
  {
    title: '发票号',
    dataIndex: 'invoiceNo',
    width: 120,
  },
  {
    title: '支票号',
    dataIndex: 'chequeNo',
    width: 120,
  },
  {
    title: '备注',
    dataIndex: 'remark',
    width: 200,
    tooltip: true,
    ellipsis: true,
  },
];
const handleClick = (v: any, type: any) => {
  visible.value = true;
  const res = JSON.parse(JSON.stringify(v));
  const fee = type === 3 ? res.portAreaFee : type == 4 ? res : res.standardFee;
  formData.tableForm = handleData(fee, type);
  total.value = type === 4 ? res.length : res.totalCount || 0;
  success.value = type === 4 ? res.length : res.okCount || 0;
  failed.value = res.errorCount || 0;
  //   querySearchAsyncStatementNo();
  //   querySearchAsyncMblNo();
};
const handleData = (data: any, type: any) => {
  const res =
    data &&
    data.reduce((t, v) => {
      // isEdit只有提单号或业务编号时为false
      v.isEdit = isIncludeOnly(v.checkMsg);
      // rpa数据增加rpaFeeId
      if (type == 4) {
        v.rpaFeeId = v.id.toString();
        v.proxyFee = !!v.proxyFee;
      }
      return t.concat(v);
    }, []);
  return res;
};
const isIncludeOnly = (v: any) => {
  // 检验只包含（提单号或业务编号错误）的数据
  return v.some((i: any) => i.type !== '105' && i.type !== '106');
};
const querySearchAsyncStatementNo = async (v = '') => {
  const params = { orderNo: v || '' };
  const res = await settlementApi.settleImportFeeGetMbl(params);
  const { code, data } = res;
  if (code == '200') {
    options1.value = data;
  }
};
const querySearchAsyncMblNo = async (v = '') => {
  const params = { mblNo: v || '' };
  const res = await settlementApi.settleImportFeeGetNo(params);
  const { code, data } = res;
  if (code == '200') {
    options2.value = data;
  }
};
const changeMblNo = async (v: any, row: any) => {
  options2.value.forEach((item) => {
    if (item.mblNo == v) {
      row.checkMsg = item.statements[0]
        ? row.checkMsg.filter((v) => v.type !== '106')
        : row.checkMsg;
      row.checkMsg = item.mblNo
        ? row.checkMsg.filter((v) => v.type !== '105')
        : row.checkMsg;
      row.statementNo = item.statements[0].statementNo;
    }
  });
};
const changeStatement = (v: any, row: any) => {
  options1.value.forEach((item) => {
    if (item.statementNo == v) {
      row.statementId = item.statementId.toString();
      row.logisticsId = item.logisticsId.toString();
      row.logisticsNo = item.logisticsNo.toString();
      row.mblNo = item.mblNo;
      row.checkMsg = item.statementNo
        ? row.checkMsg.filter((v) => v.type !== '106')
        : row.checkMsg;
      row.checkMsg = item.mblNo
        ? row.checkMsg.filter((v) => v.type !== '105')
        : row.checkMsg;
    }
  });
};
const save = () => {
  // loading.value = true;
  const data = handleSave(formData.tableForm);
  formDataVad.value.validate((error: any, values: any) => {
    if (!error) {
      initImportData(data);
      handleCancel();
    } else {
      Message.error('请输入完整信息');
    }
  });
};
const handleSave = (data: any) => {
  const res = data.reduce((t, v) => {
    if (v.checkMsg.length == 0) {
      return t.concat(v);
    }
    return t.concat();
  }, []);
  return JSON.parse(JSON.stringify(res));
};
const handleCancel = () => {
  visible.value = false;
};
defineExpose({ handleClick });
</script>
<style lang="less" scoped>
.footer {
  display: flex;
  justify-content: space-between;
}
:deep(.arco-col-19) {
  width: 100%;
}
</style>