<template>
  <a-modal
    v-model:visible="visible"
    @cancel="handleCancel"
    :mask-closable="false"
    :on-before-ok="handleBeforeOk"
  >
    <template #title> 编辑发票 </template>
    <div>
      <a-form ref="formRef" :model="form" layout="vertical">
        <a-row class="grid-demo" :gutter="[24, 12]">
          <a-col :span="12">
            <a-form-item
              field="invoiceCode"
              label="发票类型"
              :rules="[{ required: true, message: '请选择发票类型' }]"
              :validate-trigger="['change', 'blur']"
            >
              <a-select
                v-model="form.invoiceCode"
                placeholder="请选择"
                @change="invoceChange"
              >
                <a-option
                  v-for="item in invoiceList"
                  :key="item.code"
                  :value="item.code"
                  :label="item.name"
                ></a-option>
              </a-select>
            </a-form-item>
          </a-col>
          <a-col :span="12">
            <a-form-item
              field="invoiceTaxRate"
              label="税率"
              :rules="[{ required: true, message: '请选择税率' }]"
              :validate-trigger="['change', 'blur']"
            >
              <a-select v-model="form.invoiceTaxRate" placeholder="请选择">
                <a-option
                  v-for="item in taxList"
                  :key="item.value"
                  :value="item.value"
                  :label="item.label"
                ></a-option>
              </a-select>
            </a-form-item>
          </a-col>
          <a-col :span="12">
            <a-form-item
              field="invoiceNo"
              label="发票号"
              :rules="[{ required: true, message: '请输入发票号' }]"
              :validate-trigger="['change', 'blur']"
            >
              <a-input-number v-model="form.invoiceNo" class="input-demo" />
            </a-form-item>
          </a-col>
          <a-col :span="12">
            <a-form-item
              field="settlerId"
              label="支付对象"
              :rules="[{ required: true, message: '请选择支付对象' }]"
              :validate-trigger="['change', 'blur']"
            >
              <a-select
                v-model="form.settlerId"
                placeholder="请选择"
                @search="fetchSuggestions"
                @change="sellerChange"
                :filter-option="false"
                allow-search
              >
                <a-option
                  v-for="item in sellerList"
                  :key="item.value"
                  :value="item.value"
                  :label="item.label"
                ></a-option>
              </a-select>
            </a-form-item>
          </a-col>
        </a-row>
      </a-form>
    </div>
  </a-modal>
</template>
<script lang="ts" setup>
import dayjs from 'dayjs';
import { Message } from '@arco-design/web-vue';
import { reactive, ref } from 'vue';
import { settlementApi } from '@/api/settlementApi/index';
import { useRoute } from 'vue-router';
const route = useRoute();
import commonApi from '@/utils/commonApi/index';
const visible = ref(false);
const form = reactive({
  ids: [], // 费用ids
  invoiceCode: '', // 发票类型
  invoiceName: '',
  invoiceTaxRate: '', // 税率
  invoiceNo: '', // 发票号
  settlerId: '', // 支付对象id
  settlerName: '', // 支付对象name
});
const props = defineProps({ selectData: Array });
const emits = defineEmits(['handleBeforeOk']);
const handleClick = () => {
  visible.value = true;
  init();
};
const sellerList = ref([]);
const invoiceList = ref([]); //所属对象
const taxList = ref([]);
const formRef = ref();
const handleCancel = () => {
  visible.value = false;
  form.invoiceCode = '';
  form.invoiceName = '';
  form.invoiceTaxRate = '';
  form.invoiceNo = '';
  form.settlerId = '';
  form.settlerName = '';
};
const handleBeforeOk = (done: any) => {
  window.setTimeout(() => {
    formRef.value.validate(async (error: any, values: any) => {
      if (!error) {
        const { code } = await settlementApi.statementCostBatchInvoice(form);
        if (code == 200) {
          emits('syncData');
          done();
        }
      } else {
        done(false);
      }
    });
  });
};
const fetchSuggestions = async (v) => {
  const params = { name: v };
  const data = await commonApi.queryRelationByLabelCode(params);
  sellerList.value = data.map((item) => {
    return { label: item.name, value: item.enterpriseId };
  });
};
const sellerChange = async (val) => {
  sellerList.value.forEach((item) => {
    if (item.value == val) {
      form.settlerName = item.label;
    }
  });
};
const invoceChange = (val) => {
  invoiceList.value.forEach((item) => {
    if (val == item.code) {
      console.log(item, 'val');
      taxList.value = item.child.map((v) => {
        return {
          value: v.taxRate,
          label: Number(v.taxRate) * 100 + '%',
        };
      });
      form.invoiceName = item.name;
    }
  });
};
const init = async () => {
  const data = await commonApi.settleBasicEnterpriseInvoice();
  invoiceList.value = data;
  form.ids = props.selectData.reduce((t, o) => {
    return t.concat(o.id.toString());
  }, []);
  fetchSuggestions();
};

defineExpose({ handleClick });
</script>