<template>
  <div>
    <a-modal
      v-model:visible="visible"
      :hide-cancel="true"
      :footer="false"
      :top="100"
      :mask-closable="false"
      :align-center="false"
      width="70%"
    >
      <template #title> 打印 </template>

      <div id="print">
        <div
          class="u-wrapper page-break-after"
          v-for="(i, index) of dataConfig"
          :key="index"
        >
          <div class="u-title font-bold3">{{ i.title }}</div>
          <a-row class="u-row" :gutter="20">
            <a-col
              v-for="(o, oIndex) of i.data"
              :key="oIndex"
              :span="o.span || 12"
              class="u-col"
            >
              <div class="u-label">{{ o.label }}</div>
              <div class="u-value">{{ detailData[o.prop] || '-' }}</div>
            </a-col>
          </a-row>

          <table cellspacing="0" cellpadding="0" border="0" class="mt40">
            <thead>
              <tr>
                <td>支付对象</td>
                <td>金额</td>
              </tr>
            </thead>
            <tbody>
              <tr v-for="(item, index) in reimbursementCosts" :key="index">
                <td>{{ item.receiverName }}</td>
                <td class="align-right">
                  {{ detailData.currencySymbol
                  }}{{ toThousandFilter(item.total) }}
                </td>
              </tr>
            </tbody>
          </table>

          <div class="mt40" v-if="detailData.type == 4">
            <p class="font-bold3">核销借款单明细</p>
            <table cellspacing="0" cellpadding="0" border="0">
              <thead>
                <tr>
                  <td>借款单号</td>
                  <td>借款金额</td>
                  <td>核销金额</td>
                  <td>支付对象</td>
                </tr>
              </thead>
              <tbody>
                <tr
                  v-for="(item, index) in detailData.reimbursementLoans"
                  :key="index"
                >
                  <td>{{ item.loanNo }}</td>
                  <td class="align-right">
                    {{ detailData.currencySymbol
                    }}{{ toThousandFilter(item.amount) }}
                  </td>
                  <td class="align-right">
                    {{ detailData.currencySymbol
                    }}{{ toThousandFilter(item.repaymentAmount) }}
                  </td>
                  <td>{{ item.sellerName }}</td>
                </tr>
              </tbody>
            </table>
          </div>

          <div class="mt40" v-if="detailData.type == 3">
            <p class="font-bold3">支票明细</p>
            <table cellspacing="0" cellpadding="0" border="0">
              <thead>
                <tr>
                  <td>支票号</td>
                  <td>金额</td>
                </tr>
              </thead>
              <tbody>
                <tr
                  v-for="(item, index) in detailData.chequeDetails"
                  :key="index"
                >
                  <td>{{ item.chequeNo }}</td>
                  <td class="align-right">
                    {{ detailData.currencySymbol
                    }}{{ toThousandFilter(item.amount) }}
                  </td>
                </tr>
              </tbody>
            </table>
          </div>

          <div class="u-approve">
            <span>审批人：</span>
            <span v-for="(x, xIndex) of dataApprove" :key="xIndex">
              {{ xIndex == 0 ? '' : '→ ' }}
              {{ x.creatorName }}{{ x.createTime }}
            </span>
            <span v-if="dataApprove.length > 0">→ 财务</span>
          </div>
        </div>
      </div>
      <div class="btn">
        <a-button v-print="'#print'" type="primary">打印</a-button>
      </div>
    </a-modal>
  </div>
</template>
<script lang="ts" setup>
import { ref, watch } from 'vue';
import { setNumericText } from '@/utils';
import { settlementApi } from '@/api/settlementApi/index';
const visible = ref(false);
// const props = defineProps({
//   detailData: Object,
// });
const dataApprove = ref([]);
const detailData = ref([]);
const typeName = ref([]);
const reimbursementCosts = ref([]);
const dataConfig = [
  {
    title: '',
    data: [
      { prop: 'reimbursementEnterpriseName', label: '公司' },
      { prop: 'no', label: '请款单号' },
      { prop: 'createTime', label: '报销日期' },
      { prop: 'amountWithSymbol', label: '报销金额' },
      { prop: 'feeNames', label: '费用名称', span: 24 },
      { prop: 'creatorName', label: '申请人', span: 24 },
    ],
    dataApprove: [],
  },
  {
    title: '',
    data: [
      { prop: 'reimbursementEnterpriseName', label: '公司' },
      { prop: 'no', label: '请款单号' },
      { prop: 'createTime', label: '报销日期' },
      { prop: 'amountWithSymbol', label: '报销金额' },
      { prop: 'feeNames', label: '费用名称', span: 24 },
      { prop: 'creatorName', label: '申请人', span: 24 },
    ],
    dataApprove: [],
  },
];
const handleClick = async (id) => {
  visible.value = true;
  const { code, data } = await settlementApi.settleReimburseDetail({
    id: id,
  });
  if (code != 200) return;
  setTypeName(data.type);
  reimbursementCosts.value = data.reimbursementCosts.reduce(
    (prev, cur, currentIndex) => {
      if (currentIndex == 0) {
        if (cur.receiverId) {
          return [
            {
              receiverId: cur.receiverId,
              receiverName: cur.receiverName,
              total: cur.amount,
            },
          ];
        } else {
          return [];
        }
      } else {
        let item = prev.find((v) => v.receiverId == cur.receiverId);
        if (item) {
          item.total = item.total + cur.amount;
        } else {
          prev.push({
            receiverId: cur.receiverId,
            receiverName: cur.receiverName,
            total: cur.amount,
          });
        }
        return prev;
      }
    },
    []
  );
  data.feeNames = data.reimbursementCosts.map((v) => v.feeName).join(',');
  data.amountWithSymbol = data.currencySymbol + toThousandFilter(data.amount);

  detailData.value = data;
  dataApprove.value =
    (data.loanApproveLogs &&
      data.loanApproveLogs.filter((v) => v.result == 1)) ||
    [];
};
const setTypeName = (v) => {
  console.log(v, 'title');

  let types = {
    1: '现金',
    2: '银行',
    3: '支票',
    4: '借款',
  };
  typeName.value = types[v];
  dataConfig[0].title = typeName.value + '报销（记账联）';
  dataConfig[1].title = typeName.value + '报销（付款联）';
  console.log(typeName.value, 'typeName.value');
};
const toThousandFilter = (val) => {
  return setNumericText(val, { commas: true });
};
const handleOk = () => {
  visible.value = false;
};
const handleCancel = () => {
  visible.value = false;
};
defineExpose({
  handleClick,
});
</script>
<style lang="less" scoped>
.u-cos {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 10px;
  .u-title {
    font-size: 14px;
  }
}
.u-wrapper {
  margin: 20px 40px 60px;
  overflow: hidden;
  font-size: 14px;
  color: #333;
  line-height: 40px;

  .u-title {
    text-align: center;
    padding: 20px 0 40px;
    width: 100%;
  }
  .u-row {
    .u-col {
      display: flex;

      .u-label {
        // width: 30%;
        width: 200px;
      }
      .u-value {
        flex: 1;
      }
    }
  }
  .u-approve {
    padding: 50px 10px 0;
  }
  .print-table {
    margin-top: 20px;
  }
  table {
    width: 80%;
    text-align: center;
    border-right: 1px solid #666666;
    border-bottom: 1px solid #666666;
    td {
      border-left: 1px solid #666666;
      border-top: 1px solid #666666;
      padding: 0 10px;
      width: 100px;
      word-break: break-all;
    }
    .align-right {
      text-align: right;
    }
  }
}

.page-break-after {
  page-break-after: always;
}
::v-deep {
  .el-row {
    // width: 80%;
    margin: 0 auto !important;
  }
}
.mt40 {
  margin-top: 40px;
}
.font-bold3 {
  color: #333333;
  font-weight: bold;
}

@media print {
  .u-wrapper {
    margin: 0;
  }
}
.btn {
  display: flex;
  justify-content: center;
}
</style>
