<template>
  <div>
    <a-modal
      v-model:visible="visible"
      :on-before-ok="handleBeforeOk"
      @cancel="handleCancel"
      width="60%"
      :mask-closable="false"
    >
      <template #title> {{ Title }} </template>
      <div>
        <a-form ref="formRef" :model="form" layout="vertical">
          <a-row class="grid-demo" :gutter="[24, 12]">
            <a-col :span="12">
              <a-form-item
                field="reimbursementEnterpriseId"
                label="报销公司"
                :rules="[{ required: true, message: '请输入报销公司' }]"
                :validate-trigger="['change', 'blur']"
              >
                <a-select
                  v-model="form.reimbursementEnterpriseId"
                  placeholder="请选择"
                  @search="fetchSuggestions"
                  @change="sellerChange"
                  :filter-option="false"
                  allow-search
                >
                  <a-option
                    v-for="item in payerList"
                    :key="item.value"
                    :value="item.value"
                    :label="item.label"
                  ></a-option>
                </a-select>
              </a-form-item>
            </a-col>
            <a-col :span="12" v-if="form.type == 1">
              <a-form-item
                field="payeeUserId"
                label="收款人"
                :rules="[{ required: true, message: '请选择收款人' }]"
                :validate-trigger="['change', 'blur']"
              >
                <a-select
                  v-model="form.payeeUserId"
                  placeholder="请选择"
                  @change="payeeUserChange"
                >
                  <a-option
                    v-for="item in payeeUserList"
                    :key="item.value"
                    :value="item.value"
                    :label="item.label"
                  ></a-option>
                </a-select>
              </a-form-item>
            </a-col>
            <a-col :span="12">
              <a-form-item
                field="departmentName"
                label="申请部门"
                :rules="[{ required: true, message: '请选择申请部门' }]"
                :validate-trigger="['change', 'blur']"
              >
                <a-select
                  v-model="form.department"
                  placeholder="请选择"
                  @change="departChange"
                >
                  <a-option
                    v-for="item in departmentsList"
                    :key="item.value"
                    :value="item.value"
                    :label="item.name"
                  ></a-option>
                </a-select>
              </a-form-item>
            </a-col>
            <a-col :span="24">
              <a-form-item field="备注" label="备注">
                <a-textarea
                  v-model="form.remark"
                  placeholder="备注"
                  allow-clear
                />
              </a-form-item>
            </a-col>
          </a-row>
        </a-form>
        <div class="loan" v-if="form.type == 4">
          <div class="loan_title">
            <div class="left">
              <div class="vertical"></div>
              <span class="font">借款记录</span></div
            >
            <div class="right">
              <a-input-search
                v-model.trim="searchValue"
                :style="{ width: '320px' }"
                placeholder="请输入"
                @input="search"
                @keyup.enter="search"
              />
            </div>
          </div>
          <div class="loan_table">
            <a-table
              row-key="id"
              :pagination="false"
              :columns="columns"
              :data="tableData"
              @select="selectionChange"
              @select-all="selectAll"
              :row-selection="rowSelection"
            >
              <template #loanNo="{ record }">
                <span style="color: #2969ff" @click="goLoan(record)">{{
                  record.loanNo
                }}</span>
              </template>
              <template #amount="{ record }">
                <span>{{ toThousandFilter(record.amount) }}</span>
              </template>
              <template #nonPaymentAmount="{ record }">
                <span>{{ toThousandFilter(record.nonPaymentAmount) }}</span>
              </template>
              <template #currentRepaymentAmount="{ record }">
                <span>{{
                  toThousandFilter(record.currentRepaymentAmount)
                }}</span>
              </template>
            </a-table>
          </div>
        </div>
      </div>
      <div class="footer">
        <a-alert
          v-if="isMore && form.type === 4"
          type="warning"
          :style="{ width: '200px' }"
          >报销金额大于还款金额</a-alert
        >
        合计：￥{{ toThousandFilter(form.amount) }}</div
      >
    </a-modal>
  </div>
</template>
<script lang="ts" setup>
import { Message } from '@arco-design/web-vue';
import commonApi from '@/utils/commonApi/index';
import { setNumericText } from '@/utils';
import { settlementApi } from '@/api/settlementApi/index';
import { reactive, ref, nextTick, onMounted } from 'vue';
import { useUserStore } from '@/store';
import { useRouter } from 'vue-router';
const userStore = useUserStore();
const router = useRouter();
const visible = ref(false);
const formRef = ref([]);
const tableData = ref([]);
const payerList = ref([]);
const currentAmount = ref(0);
const Title = ref('');
const searchValue = userStore.userName;
const payeeUserList = ref([]);
const selectData = ref([]);
const isMore = ref(false);
const departmentsList = ref([]);
const form = reactive({
  feeIds: '', // 费用id
  amount: '', // 报销金额
  loan: [], // 借款id集合(借款报销 才赋值)
  type: '', // 申请类型(1-现金报销、2-银行报销、3-支票报销、4-借款报销)
  reimbursementEnterpriseId: '', // 报销公司id
  reimbursementEnterpriseName: '', // 报销公司名称
  payeeUserId: '', // 收款人id
  payeeUserName: '', // 收款人名称
  departmentName: '',
  department: '',
  remark: '', // 备注
});
const rowSelection = {
  type: 'checkbox',
  showCheckedAll: true,
};
const columns = [
  {
    title: '借款单号',
    slotName: 'loanNo',
  },
  {
    title: '业务编号',
    dataIndex: 'settlementNos',
  },
  {
    title: '支付对象',
    dataIndex: 'sellerName',
  },
  {
    title: '借款金额',
    slotName: 'amount',
  },
  {
    title: '未还款金额',
    slotName: 'nonPaymentAmount',
  },
  {
    title: '本次还款金额',
    slotName: 'currentRepaymentAmount',
  },
  {
    title: '借款日期',
    dataIndex: 'loanTime',
  },
  {
    title: '借款备注',
    dataIndex: 'remark',
  },
];

const emits = defineEmits(['handleBeforeOk']);
const toThousandFilter = (num) => {
  return setNumericText(Number(num), { commas: true, zeroText: '0.00' });
};
const goLoan = (item) => {
  router.push({
    name: 'loan/detail',
    query: {
      id: item.id,
    },
  });
};
const selectionChange = (rowKeys, rowkey, record) => {
  const selectData = tableData.value.filter((item) =>
    rowKeys.includes(item.id)
  );
  const isIn = selectData.some((v) => v.id === record.id);
  if (isIn) {
    if (currentAmount.value - record.nonPaymentAmount > 0) {
      record.currentRepaymentAmount = record.nonPaymentAmount;
      currentAmount.value -= record.nonPaymentAmount;
      handleDisable(selectData);
    } else {
      record.currentRepaymentAmount = currentAmount.value;
      currentAmount.value -= record.currentRepaymentAmount;
      handleDisable(selectData, false);
    }
  } else {
    currentAmount.value += record.currentRepaymentAmount;
    record.currentRepaymentAmount = 0;
    handleDisable(selectData);
  }
  selectionChange1(selectData);
};
const handleDisable = (arr, dis = true) => {
  const ids = (arr || []).map((v) => v.id.toString());
  tableData.value.forEach((v) => {
    if (!ids.includes(v.id.toString())) {
      v.disabled = !dis;
    } else {
      v.disabled = false;
    }
  });
};
const selectAll = (rowKey) => {
  currentAmount.value = form.amount;
  if (rowKey) {
    tableData.value.forEach((row, i) => {
      if (currentAmount.value - row.nonPaymentAmount > 0) {
        // 当报销金额大于当条借款单未还款金额，启用所有借款单复选框
        row.currentRepaymentAmount = row.nonPaymentAmount;
        currentAmount.value -= row.nonPaymentAmount;
        handleDisable(tableData.value);
      } else {
        // 报销金额小于当条借款单未还款金额，则补足本次报销金额，其他借款单复选框禁用
        row.currentRepaymentAmount = currentAmount.value;
        currentAmount.value -= row.currentRepaymentAmount;
        handleDisable(tableData.value, false); // 未勾选的，禁用复选框
      }
    });
  } else {
    tableData.value.forEach((row) => {
      row.disabled = false;
      row.currentRepaymentAmount = 0;
    });
  }
  selectionChange1(tableData.value);
  console.log(rowKey, 'rowKey');
};
const selectionChange1 = (row: any) => {
  form.loan = row.reduce((t, i) => {
    return t.concat({
      loanId: i.loanId,
      amount: i.currentRepaymentAmount,
    });
  }, []);
  const res = row.reduce((t, i) => {
    if (!isNaN(Number(i.currentRepaymentAmount))) {
      return (t += Number(i.currentRepaymentAmount));
    }
    return (t += 0);
  }, 0);
  isMore.value = form.amount > res;
};

const handleClick = async ({ title, type, data }) => {
  visible.value = true;
  Title.value = title;
  form.type = type;
  selectData.value = data;
  getDepart();
  await nextTick(() => {
    handleData(data, type);
  });
};
onMounted(() => {
  fetchSuggestions();
  getPayeeUser();
});
const search = async () => {
  let params = {
    ownerId: form.reimbursementEnterpriseId,
    search: searchValue,
  };
  const { code, data } = await settlementApi.settleReimburseLoan(params);
  if (code != 200) return;
  data &&
    data.forEach((v) => {
      v.isDisabled = true;
    });
  tableData.value = data || [];
};
const handleData = (data: any, type: Number) => {
  form.feeIds = data.reduce((t, i) => {
    return t.concat(i.id.toString());
  }, []);
  form.amount = data.reduce((t, i) => {
    if (!isNaN(Number(i.taxIncludedAmount))) {
      return (t += Number(i.taxIncludedAmount));
    }
    return (t += 0);
  }, 0);
  currentAmount.value = form.amount;
  const owner = data && payerList.value.find((v) => v.value == data[0].ownerId);
  if (owner) {
    form.reimbursementEnterpriseId = owner.value;
    form.reimbursementEnterpriseName = owner.label;
    type == 4 && search();
  }
  const payeeUser =
    data && payeeUserList.value.find((v) => v.value == userStore.userId);
  if (payeeUser) {
    form.payeeUserName = payeeUser.label;
    form.payeeUserId = payeeUser.value;
  }
  console.log(owner, 'payeeUser');
};
const fetchSuggestions = async () => {
  const res = await commonApi.memberQueryUserAuthorithPart();
  payerList.value = res.map((v) => {
    return { value: v.enterpriseId, label: v.name };
  });
};
const getDepart = async () => {
  const { code, data } = await settlementApi.departmentsCanapply({
    currency: selectData.value[0].currency,
  });
  if (code == 200) {
    departmentsList.value = data;
  }
};
const departChange = (val) => {
  departmentsList.value.forEach((item) => {
    if (item.value == val) {
      form.departmentName = item.name;
    }
  });
};
const payeeUserChange = (val) => {
  payeeUserList.value.forEach((item) => {
    if (val == item.value) {
      form.payeeUserName = item.label;
    }
  });
};
const sellerChange = (val) => {
  payerList.value.forEach((item) => {
    if (item.value == val) {
      search();
      form.reimbursementEnterpriseName = item.label;
    }
  });
};
const getPayeeUser = async () => {
  const data = await commonApi.getMembersByEnterpriseid();
  payeeUserList.value = data.map((v) => {
    return { value: v.userId, label: v.userName };
  });
};
//getMembersByEnterpriseid
const handleBeforeOk = (done: any) => {
  window.setTimeout(() => {
    formRef.value.validate(async (error: any, values: any) => {
      if (!error) {
        const { code } = await settlementApi.settleReimburseApply(form);
        if (code == 200) {
          Message.success('提交成功');
          visible.value = false;
          emits('syncData');
          done();
        }
      } else {
        done(false);
      }
    });
  });
};
const handleCancel = () => {
  visible.value = false;
};
defineExpose({ handleClick });
</script>
<style lang="less" scoped>
.loan {
  .loan_title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .left {
      display: flex;
      align-items: center;
    }
  }
  .loan_table {
    margin: 20px 0;
  }
}
.footer {
  display: flex;
  align-items: center;
}
</style>