<template>
  <div>
    <a-modal
      v-model:visible="visible"
      :on-before-ok="handleBeforeOk"
      @cancel="handleCancel"
      :mask-closable="false"
    >
      <template #title> Title </template>
      <div>
        <a-form ref="formRef" :model="form" layout="vertical">
          <a-row class="grid-demo" :gutter="[24, 12]">
            <a-col :span="24">
              <a-form-item
                field="taxIncludedAmount"
                label="总金额"
                :rules="[{ required: true, message: '请输入总金额' }]"
                :validate-trigger="['change', 'blur']"
              >
                <a-input-number
                  disabled
                  v-model="form.taxIncludedAmount"
                  class="input-demo"
                />
              </a-form-item>
            </a-col>
            <a-col :span="24">
              <a-form-item
                field="amount"
                @input="amountChange"
                label="拆分金额"
                :rules="[{ required: true, message: '请输入总金额' }]"
                :validate-trigger="['change', 'blur']"
              >
                <a-input-number v-model="form.amount" class="input-demo" />
              </a-form-item>
            </a-col>
            <a-col :span="24">
              <a-form-item
                field="lave"
                label="剩余金额"
                :rules="[{ required: true, message: '请输入总金额' }]"
                :validate-trigger="['change', 'blur']"
              >
                <a-input-number
                  v-model="form.lave"
                  disabled
                  class="input-demo"
                />
              </a-form-item>
            </a-col>
          </a-row>
        </a-form>
      </div>
    </a-modal>
  </div>
</template>
<script lang="ts" setup>
import { Message } from '@arco-design/web-vue';
import { settlementApi } from '@/api/settlementApi/index';
import { reactive, ref } from 'vue';
const visible = ref(false);
const formRef = ref([]);
const form = reactive({
  taxIncludedAmount: 0,
  amount: 0,
  lave: 0,
  id: '',
});
const detailData = ref([]);
const amountChange = (val) => {
  form.lave = form.taxIncludedAmount - Number(val.target._value);
};
const emits = defineEmits(['handleBeforeOk']);
const handleClick = (row) => {
  visible.value = true;
  form.id = row.id.toString();
  form.taxIncludedAmount = row.taxIncludedAmount;
  form.lave = row.taxIncludedAmount;
};
const handleBeforeOk = (done: any) => {
  window.setTimeout(async () => {
    const value = await formRef.value.validate();
    if (!value) {
      if (form.amount > form.taxIncludedAmount) {
        Message.error('拆分金额需小于总金额');
        return;
      }
      const { code } = await settlementApi.statementCostSplit(form);
      if (code != 200) return;
      Message.success('拆分费用成功');
      visible.value = false;
      emits('syncData');
      done();
    } else {
      done(false);
    }
  });
};
const handleCancel = () => {
  visible.value = false;
};
defineExpose({ handleClick });
</script>
<style lang="less" scoped>
</style>