<template>
  <div
    ><a-modal v-model:visible="visible" :mask-closable="false">
      <template #title> 请选择导入模板 </template>
      <div>
        <a-select v-model="form.type" placeholder="请选择模板">
          <a-option
            v-for="(item, index) in options"
            :key="index"
            :label="item.label"
            :value="item.value"
          ></a-option> </a-select
      ></div>
      <template #footer>
        <a-button type="text" v-if="isTemplate" @click="handleDownload"
        style="margin-right:15px"
          >下载模板</a-button
        >
        <a-upload
          action="/"
          style="padding-top: 6px"
          :custom-request="customRequest"
          v-if="isTemplate"
          :show-file-list="false"
        >
          <template #upload-button>
            <a-button type="primary" :loading="loading">导入</a-button>
          </template></a-upload
        >
        <a-button v-else type="primary" @click="handleCheckFee">导入</a-button>
        <a-button @click="handleCancel">取消</a-button>
      </template>
    </a-modal>
    <importModal ref="importRef"></importModal
  ></div>
</template>
<script lang="ts" setup>
import importModal from './importModal.vue';
import { settlementApi } from '@/api/settlementApi/index';
import { ref, reactive, computed } from 'vue';
const visible = ref(false);
const importRef = ref([]);
const options = [
  { value: 1, label: '标准' },
  { value: 2, label: '换单费用' },
  { value: 3, label: '上港费用' },
  { value: 4, label: '查验费用' },
];
const loading = ref(false);
const form = reactive({
  type: 1,
});
const isTemplate = computed(() => {
  return form.type !== 4;
});
const customRequest = async ({ fileItem = {} }) => {
  loading.value = true;
  const uploadApi =
    form.type === 3
      ? settlementApi.settleImportFeeUploadPort
      : settlementApi.settleImportFeeUploadStandard;
  const res = await uploadApi({ file: fileItem.file });
  loading.value = false;
  const { code, data } = res;
  if (code == '200') {
    visible.value = false;
    importRef.value.handleClick(data, form.type);
  }
};
const handleClick = () => {
  visible.value = true;
};
const handleDownload = async () => {
  const { code, data } = await settlementApi.settleImportFeeGetTemplate({
    type: form.type,
  });
  if (code == 200) {
    window.open(data.url);
  }
};
const handleCheckFee = async () => {
  const { code, data } = await settlementApi.settleSupplierListRPANoImport();
  if (code == 200) {
    visible.value = false;
    data &&
      data.forEach((v) => {
        v.invoices = v.files;
      });
    importRef.value.handleClick(data, form.type);
  }
};
const handleCancel = () => {
  visible.value = false;
};
defineExpose({ handleClick });
</script>