<template>
  <div>
    <a-modal
      v-model:visible="visible"
      width="60%"
      @ok="handleOk"
      :body-style="{
        padding: '20px',
      }"
      @cancel="handleCancel"
    >
      <template #title> {{ title }} </template>
      <div>
        <a-input
          v-model="value"
          placeholder="请输入"
          @press-enter="pressEnter"
          allow-clear
        >
          <template #suffix>
            <icon-search />
          </template>
        </a-input>
        <a-table :columns="columns" :data="columnData" :scroll="scroll" />
      </div>
    </a-modal>
  </div>
</template>
<script lang="ts" setup>
import { reactive, ref } from 'vue';
const visible = ref(false);
defineProps({
  title: {
    type: String,
    default() {
      return '批量换单反馈';
    },
  },
  url: {
    type: String,
    default() {
      return '';
    },
  },
});
const handleClick = () => {
  visible.value = true;
};
const scroll = {
  x: "100%",
  y: 200,
};
const value = ref('');
const handleOk = () => {
  visible.value = false;
};
const handleCancel = () => {
  visible.value = false;
};
//【业务编号、MB/L No.、HB/L No.、换单派单时间、交接结果、异常类型、异常描述】
const columns = [
  {
    title: '业务编号',
    dataIndex: 'name',
  },
  {
    title: 'MB/L',
    dataIndex: 'mblNo',
  },
];
const columnData = reactive([]);
const pressEnter = () => {};
const getList = () => {};
defineExpose({
  handleClick,
});
</script>
<style lang="less" scoped>
.arco-input-wrapper {
  width: 388px;
  margin-bottom: 20px;
}
</style>