<template>
  <div class="info">
    <div class="title">
      <span class="font">换单信息 </span>
    </div>
    <div class="main">
      <div class="item" style="padding-top: 24px">
        <div class="item_top"> 业务编号 </div>
        <div class="item_bottom"> {{ info.orderLogisticsNo }} </div>
      </div>
      <div class="item">
        <div class="item_top"> MB/L No. </div>
        <!-- <div class="item_bottom"> {{ info.mblNo || '-' }} </div> -->
        <div class="item_bottom">
          <span v-if="mouse.selectRef1" @mouseenter="mouseEnter('selectRef1')">
            {{ info.mblNo || '-' }}</span>
          <a-input v-else v-model="info.mblNo" placeholder="" @blur="handleChange(info.mblNo, 'mblNo', 'selectRef1')"
            ref='selectRef1' :disabled="info.exchangedoSchedule==4" />

        </div>
      </div>
      <div class="item">
        <div class="item_top"> HB/L No. </div>
        <div class="item_bottom">
          <span v-if="mouse.selectRef2" @mouseenter="mouseEnter('selectRef2')">
            {{ info.hblNo || '-' }}</span>
          <a-input v-else v-model="info.hblNo" placeholder="" @blur="handleChange(info.mblNo, 'mblNo', 'selectRef2')"
            ref='selectRef2' :disabled="info.exchangedoSchedule==4" />
        </div>
      </div>
      <div class="item">
        <div class="item_top"> 船公司 </div>
        <div class="item_bottom">
          <span v-if="mouse.selectRef3" @mouseenter="mouseEnter('selectRef3')">{{ info.carrierName || '-'
            }}</span>
          <a-select v-else v-model="info.carrierName" allow-search ref='selectRef3'
            @change="handleChange(info.carrierName, 'carrier','selectRef3')" @blur="selectBlur('selectRef3')"
            :filter-option="filterHandlePort" :disabled="info.exchangedoSchedule==4">
            <a-option v-for="item of dataMap.shipList" :value="item.shippingCompanyCode">
              {{ item.shippingCompanyName }}
            </a-option>
          </a-select>
        </div>
      </div>
      <div class="item">
        <div class="item_top"> 预计到港日期 </div>
        <div class="item_bottom">
          <span v-if="mouse.selectRef4" @mouseenter="mouseEnter('selectRef4')">{{ info.eta || '-'}}</span>
          <a-date-picker show-time v-model="info.eta" format="YYYY-MM-DD HH:mm:ss" ref='selectRef4'
            @change="handleChange(info.eta, 'eta', 'selectRef4')" v-else @blur="selectBlur('selectRef4')" />
        </div>
      </div>
      <div class="item">
        <div class="item_top"> 实际到港日期 </div>
        <div class="item_bottom">
          <a-date-picker show-time v-model="info.ata" format="YYYY-MM-DD HH:mm:ss"
            @change="handleChange(info.ata, 'ata')" v-if="true" />
          <span v-else>{{ info.ata }}</span>
        </div>
        <!-- <div class="item_bottom">
          <span>{{ info.ata || '-' }}</span>
        </div> -->
      </div>
      <div class="item">
        <div class="item_top"> 提单方式 </div>
        <div class="item_bottom">
          <div>{{ info.blRequirementsName }}</div>
        </div>
      </div>
      <div class="item">
        <div class="item_top"> 是否需要转船证明 </div>
        <div class="item_bottom">
          <a-radio-group @change="handleChange(info.transshipmentCertificate, 'transshipmentCertificate')"
            v-model="info.transshipmentCertificate" allow-search v-if="true">
            <a-radio :value="0">否</a-radio>
            <a-radio :value="1">是</a-radio>
          </a-radio-group>
          <span v-else>{{ info.transshipmentCertificate ? '否' : '是' }}</span>
        </div>
      </div>
      <div class="item">
        <div class="item_top"> 委托人 </div>
        <div class="item_bottom">
          <span>{{ info.clientName || '-' }}</span>
        </div>
      </div>
      <div class="item">
        <div class="item_top"> 接单日期 </div>
        <div class="item_bottom"> {{ info.createTime || '-' }} </div>
      </div>
      <div class="item">
        <div class="item_top"> 免箱天数 </div>
        <div class="item_bottom">
          <span v-if="mouse.selectRef5" @mouseenter="mouseEnter('selectRef5')">{{ info.freeDays || '-'
            }}</span>
          <a-input v-model="info.freeDays" placeholder="" @blur="handleChange(info.freeDays, 'freeDays','selectRef5')"
            v-else ref="selectRef5">
          </a-input>
        </div>
      </div>
      <div class="item">
        <div class="item_top"> 箱型箱量 </div>
        <div class="item_bottom">
          <div>{{ info.containerquantity }}</div>
        </div>
      </div>
      <div class="item">
        <div class="item_top"> 运输供应商 </div>
        <div class="item_bottom"> {{ info.bookingAgencyName || '-' }} </div>
      </div>
      <div class="item">
        <div class="item_top"> 换单员 </div>
        <div class="item_bottom">
          <span v-if="mouse.selectRef6" @mouseenter="mouseEnter('selectRef6')">{{ info.changeOrder || '-'
            }}</span>
          <a-select v-model="info.changeOrderUserId" allow-search @blur="selectBlur('selectRef6')"
            @change="handleChange(info.changeOrderUserId, 'changeOrderUserId','selectRef6')" v-else ref="selectRef6">
            <a-option v-for="item of dataMap.operatorList1" :value="item.userId">
              {{ item.userName }}
            </a-option>
          </a-select>
        </div>
      </div>
      <div class="item">
        <div class="item_top"> 客服专员 </div>
        <div class="item_bottom">
          {{ info.operator || '-' }}
        </div>
      </div>
    </div>
  </div>
</template>
<script lang="ts" setup>
import { reactive, defineProps, computed, defineEmits, watch, ref, nextTick } from 'vue';
import { runOrderApi } from '@/api/runOrderApi'
import { crmApi } from '@/api/crmApi';
import { useRoute } from 'vue-router';
const route = useRoute();
const orderLogisticsNo = route.query.orderLogisticsNo || 'T_MYBD220501137';
const props = defineProps({
  info: {
    type: Object,
  },
});
const emits = defineEmits(['handleChange']);
const blRequirements = computed(() => {
  if (props.info.blRequirements == 1) { return "正本" }
  if (props.info.blRequirements == 2) { return "电放" }
  if (props.info.blRequirements == 3) { return "Seaway Bill" }

})
const containerquantityItem = computed(() => {
  let arr = []
  if (props.info.containerquantityItem && props.info.containerquantityItem.length > 0) {
    props.info.containerquantityItem.forEach((item) => {
      if (item.containerQuantity > 0) {
        arr.push(
          `${item.containerSize}'${item.containerType}*${item.containerQuantity}`
        )
      }
    })
  }
  return arr.toString() || '-'
})
const dataMap = reactive({
  operatorList1: [],
  shipList: [],
})
const getRole = (key) => {
  crmApi.getRole({ roleType: key }).then((res) => {
    console.log(key, res)
    if (key == 7) {
      dataMap.operatorList1 = res.data
    }

  })
}
const handleChange = (columnValue, columnName,str) => {
  mouse[str] = true
  runOrderApi.updateOrderTxt({
    orderLogisticsNo: orderLogisticsNo,
    columnName: columnName,
    columnValue: columnValue
    // columnValue: record[columnName] == '是' ? '1' : record[columnName] == '否' ? '0' : record[columnName]
  }).then(res => {
    if (res.code == 200) {
      emits('updateInfo')

      // getList(dataMap.params)
    }
  })
}
// 船公司
const baseCompany = () => {
  runOrderApi.baseCompany().then(res => {
    if (res.code == 200) {
      dataMap.shipList = res.data

    }
  })
}
baseCompany()
getRole(7)
const mouse = reactive({
  selectRef1: true,
  selectRef2: true,
  selectRef3: true,
  selectRef4:true,
  selectRef5:true,
  selectRef6:true,
  visible2: false,
})
const selectRef = ref<any>(null)
const selectRef1 = ref<any>(null)
const selectRef2 = ref<any>(null)
const selectRef3 = ref<any>(null)
const selectRef4 = ref<any>(null)
const selectRef5 = ref<any>(null)
const selectRef6 = ref<any>(null)

const mouseEnter = async (val) => {
  // 移入
  if (val) {
    mouse[val] = false
    await nextTick()
    if (val == 'selectRef3') {
      console.log(selectRef3.value)
      selectRef3.value.$el.nextElementSibling.querySelector('input').focus()
    }
    if (val == 'selectRef1') {
      selectRef1.value.focus()
    }
    if ( val == 'selectRef2') {
      selectRef2.value.focus()
    }
    if (val == 'selectRef5') {
      selectRef5.value.focus()
    }
    if (val =='selectRef4'){
      selectRef4.value.$el.nextElementSibling.querySelector('input').focus()
    }
    if (val == 'selectRef6') {
      selectRef6.value.$el.nextElementSibling.querySelector('input').focus()
    }
    

  }
}
const selectBlur = async (val,str) => {
  console.log(val, '失去焦点===', str)
  // 移出
    mouse[val] = true
    // mouse[val] = !mouse[val]
  // await nextTick()
  // if (val == 'selectRef4') {
  //   selectRef4.value.$el.nextElementSibling.querySelector('input').blur()
  // }
    
}
const mouseLeave = async (val) => {
  // 移出
  // mouse[val] = true
}
// 港模糊查询
const filterHandlePort = (val, option) => {
  return option.label.toLowerCase().indexOf(val.toLowerCase()) > -1 || option.value.indexOf(val) > -1
}



</script>
<style lang="less" scoped>
.info {
  padding: 4px 17px;

  .title {}

  .item {
    padding-top: 31px;

    .item_top {
      color: #696c70;
      font-size: 14px;
      padding-bottom: 9px;
    }

    .item_bottom {
      width:100%;
      line-height:32px;
      color: #212121;
      span{
        display:inline-block;
        width: 100%;
          line-height: 32px;
      }
    }
  }
}

:deep(.arco-picker) {
  width: 100%;
}
:deep(.arco-picker:hover) {
  background: #fff;
  border-color: #2969FF;
}
</style>