<template>
    <a-modal v-model:visible="visible" :width="1000" @before-ok="signSubmit" @cancel="handleCancel"
        :mask-closable="false">
        <template #title>
            批量换单反馈
        </template>
        <div class="search-title">
            <a-input-search v-model="keyword" :style="{ width: '320px' }" placeholder="业务编号、MB/L No."
                @input="searchInput" @search="searchInput" />
            <div class="title-btn">
            </div>
        </div>
        <a-table :columns="columns" :data="tableData" column-resizable :bordered="{ cell: true }" :pagination="false">
            <template #columns>
                <a-table-column title="业务编号" dataIndex="orderLogisticsNo" width="120">
                </a-table-column>
                <a-table-column title="MB/L No" width="130">
                    <template #cell="{ record, rowIndex }">
                        <a-input v-model="record.mblNo" :style="{ width: '120px' }">
                        </a-input>
                    </template>
                </a-table-column>
                <a-table-column title="靠泊码头" width="120">
                    <template #cell="{ record, rowIndex }">
                        <a-select placeholder="请选择" v-model="record.wharfName"
                            @popup-visible-change="(val) => changePort(val, record.portOfDischarge)" allow-clear>
                            <a-option v-for="(item, index) in  portListData" :key="index" :value="item.mosWharf">
                                {{ item.mosWharf }}</a-option>
                        </a-select>
                    </template>
                </a-table-column>
                <!-- 反馈结果 -->
                <a-table-column title="反馈结果" width="120">
                    <template #cell="{ record, rowIndex }">
                        <a-select v-model="record.dispatchFeedback" placeholder="请选择" allow-clear>
                            <a-option :value="0">完成</a-option>
                            <a-option :value="1">需二程</a-option>
                            <a-option :value="2">异常</a-option>
                        </a-select>
                    </template>
                </a-table-column>
                <!-- 二程换单员 -->
                <a-table-column title="二程换单员" width="120">
                    <template #cell="{ record, rowIndex }">
                        <a-select v-model="record.changeOrderId" placeholder="请选择换单员" @search="handleSearch"
                            :filter-option="false" allow-search @focus="focusSelect" allow-clear>
                            <a-option v-for="(item, index) in  operatorList1" :key="index" :value="item.userId">
                                {{item.userName }}</a-option>
                        </a-select>
                    </template>
                </a-table-column>
                <a-table-column title="异常描述" width="120">
                    <template #cell="{ record, rowIndex }">
                        <a-input v-model="record.abnormalCause" :style="{ width: '120px' }"
                            :disabled="record.dispatchFeedback!=2">
                        </a-input>
                    </template>
                </a-table-column>
                <a-table-column title="异常处理角色" width="120">
                    <template #cell="{ record, rowIndex }">
                        <a-select v-model="record.abnormalHandleUserType" placeholder="异常处理角色"
                            :disabled="record.dispatchFeedback!=2" allow-clear
                            @change="changeAbnormalHand(record.abnormalHandleUserType, rowIndex)">
                            <a-option :value="0">客服专员</a-option>
                            <a-option :value="1">换单员</a-option>
                        </a-select>
                    </template>
                </a-table-column>
                <a-table-column title="异常处理人" width="120">
                    <template #cell="{ record, rowIndex }">
                        <a-select v-model="record.abnormalHandleUserId" placeholder="请选择异常处理人"
                            v-if="record.abnormalHandleUserType==1" @search="handleSearchAbnormal"
                            :filter-option="false" allow-search @focus="focusSelect"
                            :disabled="record.dispatchFeedback!=2" allow-clear>
                            <a-option v-for="(item, index) in  operatorList1" :key="index" :value="item.userId">
                                {{item.userName }}</a-option>
                        </a-select>
                        <a-select v-model="record.abnormalHandleUserId" placeholder="请选择异常处理人"
                            v-if="record.abnormalHandleUserType==0" @search="handleSearchAbnormal"
                            :filter-option="false" allow-search @focus="focusSelect"
                            :disabled="record.dispatchFeedback!=2" allow-clear>
                            <a-option v-for="(item, index) in  operatorList" :key="index" :value="item.userId">
                                {{item.userName }}</a-option>
                        </a-select>
                    </template>
                </a-table-column>
            </template>
        </a-table>

    </a-modal>
</template>

<script lang="ts">
import { runOrderApi } from '@/api/runOrderApi/index'
import {
    defineComponent,
    ref,
    watch,
    reactive,
    h,
    toRefs,
    computed,
    onMounted,
    nextTick,
} from 'vue';
import { Message } from '@arco-design/web-vue';
import { changeOrderApi } from '@/api/changeOrderApi/index';
import { crmApi } from '@/api/crmApi';
export default defineComponent({
    name: 'signature',
    setup() {
        const visible = ref(false);
        const columns = [
            {
                title: '业务编号',
                dataIndex: 'orderLogisticsNo',
                slotName: 'orderLogisticsNo'
            },
            {
                title: 'MB/L No',
                dataIndex: 'mblNo',
                slotName: 'mblNo'
            },
            {
                title: '靠泊码头',
                dataIndex: 'wharfName',
                slotName: 'wharfName'
            },
            {
                title: '换单派出时间',
                dataIndex: 'dispatchTime',
            },
            {
                title: '反馈结果',
                dataIndex: 'dispatchFeedback',
                slotName: 'dispatchFeedback'
            },
            {
                title: '二程换单员',
                dataIndex: 'changeOrderName',
                slotName: 'changeOrderName'
            },
            {
                title: '异常描述',
                dataIndex: 'abnormalCause',
                slotName: 'abnormalCause'
            },
            {
                title: '异常处理角色',
                dataIndex: 'abnormalHandleUserType',
                slotName: 'abnormalHandleUserType'
            },

            {
                title: '异常处理人',
                dataIndex: 'abnormalHandleUserName',
                slotName: 'abnormalHandleUserName'
            },


        ];
        const dataMap = reactive({
            operatorList:[],
            operatorList1:[],
            operatorList2:[],
            portListData:[],

           
            keyword:'',
            radioValue: '1',
            selectValue: '换单单证交接异常',
            tableData: []
        });

        const signSubmit = (done) => {
            let arr = []
            let error = false
            dataMap.tableData.forEach(item => {
                dataMap.operatorList1.map((o)=>{
                    if(item.changeOrderId==o.userId){
                        item.changeOrderName = o.userName
                    }
                })
                if (item.abnormalHandleUserType==0){
                    dataMap.operatorList.map((o) => {
                        if (item.abnormalHandleUserId == o.userId) {
                            item.abnormalHandleUserName = o.userName
                        }
                    })

                }else{
                    dataMap.operatorList1.map((o) => {
                        if (item.abnormalHandleUserId == o.userId) {
                            item.abnormalHandleUserName = o.userName
                        }
                    })
                }
                
            })
            console.log(dataMap.tableData)
            arr=dataMap.tableData
            if (error) {
                done(false)
            } else {
                changeOrderApi.postFeedbackEdit(arr).then(res => {
                    if (res.code == '200') {
                        done()
                        // data.getList()
                        visible.value = false
                    } else {
                        done(false)
                    }
                })
            }
        }
        watch(visible, (nVal, oVal) => {
            if (nVal) {
                getFeedbackList()
            }
        })
        // 列表查询
      const  getFeedbackList=async()=>{
          const params={
              viewUserId: dataMap.viewUserId,
              keyword: dataMap.keyword,
          }
          const { data } = await changeOrderApi.getFeedbackList(params)
         dataMap.tableData=data

      }
        const  searchInput=(val)=>{
            dataMap.keyword=val
            getFeedbackList()
        }
        const show = (viewUserId)=>{
          dataMap.viewUserId = viewUserId
          visible.value=true
            dataMap.keyword=''
            getRole(7)//换单员
            getRole(4) //客服专员

      }
        const focusSelect = () => {
            getRole(7)//换单员
        }
        const handleSearch = (value) => {
            if (value) {
                dataMap.operatorList1 = dataMap.operatorList1.filter(item => item.userName.indexOf(value) >= 0)
            } else {
                getRole(7)//换单员
            }
        }
        //异常处理人
        const handleSearchAbnormal = (value) => {
            if (value) {
                dataMap.operatorList2 = dataMap.operatorList2.filter(item => item.userName.indexOf(value) >= 0)
            } else {
                getRole(7)//换单员
            }
        }
 
        const getRole = (key) => {
            crmApi.getRole({ roleType: key }).then((res) => {
                if (key == 4) {
                    dataMap.operatorList = res.data
                }
              
                if (key == 7) {
                    dataMap.operatorList1 = res.data
                    dataMap.operatorList2 = res.data
                }

            })
        }
        const changePort = (val, portCode) => {
            console.log(val, portCode,'显示下拉')
            if(val){
                // getPortList(portCode)
                
                getPortList('CNSHA')
            }
            
        }
        const getPortList = async (portCode) => {
            const { code, data } = await changeOrderApi.getPortList({
                portCode: portCode,
            })
            dataMap.portListData=data
            console.log(code, data)
        }
        const changeAbnormalHand=(val,index)=>{
                    dataMap.tableData[index].abnormalHandleUserId=''
        }
        return {
            changeAbnormalHand,
            changePort,
            getPortList,
            handleSearchAbnormal,
            handleSearch,
            focusSelect,
            show,
            getFeedbackList,
            visible,
            columns,
            signSubmit,
            searchInput,
            getRole,
            ...toRefs(dataMap)
        }
    }
})
</script>

<style lang="less" scoped>
.search-title {
    display: flex;
    justify-content: space-between;

    .title-btn {
        display: flex;

        .arco-btn {
            margin-left: 8px;
        }
    }
}

.arco-table {
    margin-top: 20px;
    max-height: 300px;
}
</style>