<template>
    <a-modal v-model:visible="visible" :width="1000" @before-ok="signSubmit" @cancel="handleCancel"
        :mask-closable="false">
        <template #title>
            批量单证交接
        </template>
        <div class="search-title">
            <a-input-search v-model="selectValue" :style="{ width: '320px' }" placeholder="业务编号、MB/L No.、HB/L No"
                @input="searchInput" @search="searchInput" />
            <div class="title-btn">
            </div>
        </div>
        <a-table :columns="columns" :data="tableData" column-resizable :bordered="{cell:true}" :pagination="false">
            <template #mblNo="{ record,rowIndex }">
                <a-input v-model="record.mblNo" :style="{ width: '120px' }">
                </a-input>
            </template>
            <template #hblNo="{ record,rowIndex }">
                <a-input v-model="record.hblNo" :style="{ width: '120px' }">
                </a-input>
            </template>
            <template #blFlag="{ record,rowIndex }">
                <a-select v-model="record.blFlag" placeholder="请选择" @change="changeBlFlage(record.blFlag, rowIndex)"
                    allow-clear>
                    <a-option :value="1">提单无误</a-option>
                    <a-option :value="0">提单异常</a-option>
                </a-select>
            </template>
            <template #exceptionType="{ record,rowIndex }">
                <a-select v-model="record.exceptionType" placeholder="请选择" :disabled="record.isDisable" allow-clear>
                    <a-option>换单单证交接异常</a-option>
                    <!-- <a-option :value="0">其他</a-option>
                    <a-option :value="1">点放信息异常</a-option> -->
                </a-select>
            </template>
            <template #remark="{ record,rowIndex }">
                <a-input v-model="record.remark" :disabled="record.isDisableRemark">
                </a-input>
            </template>
        </a-table>

    </a-modal>
</template>

<script lang="ts">
import { runOrderApi } from '@/api/runOrderApi/index'
import {
    defineComponent,
    ref,
    watch,
    reactive,
    h,
    toRefs,
    computed,
    onMounted,
    nextTick,
} from 'vue';
import { Message } from '@arco-design/web-vue';
import { changeOrderApi } from '@/api/changeOrderApi/index';
import { crmApi } from '@/api/crmApi';
export default defineComponent({
    name: 'signature',
    setup() {
        const visible = ref(false);
        const columns = [
            {
                title: '业务编号',
                dataIndex: 'orderLogisticsNo',
                slotName: 'orderLogisticsNo',
                width: 170,
            },
            {
                title: 'MB/L No',
                dataIndex: 'mblNo',
                slotName: 'mblNo'
            },
            {
                title: 'HB/L No',
                dataIndex: 'hblNo',
                slotName: 'hblNo'
            },
            {
                title: '换单派单时间',
                dataIndex: 'exchangedoDistributeTime',
                width: 170,
            },
            {
                title: '交接结果',
                dataIndex: 'blFlag',
                slotName: 'blFlag',
                 width: 150,
            },
            {
                title: '异常类型',
                dataIndex: 'exceptionType',
                slotName: 'exceptionType',
                 width: 150,
            },
            {
                title: '异常描述',
                dataIndex: 'remark',
                slotName: 'remark',
                 width: 150,
            },

        ];
        const dataMap = reactive({
            radioValue:'1',
            selectValue:'',
            tableData:[],
    });

        const changeBlFlage=(val,index)=>{
              if(val==1){
                  dataMap.tableData[index].isDisable=true
                  dataMap.tableData[index].isDisableRemark = true
                  dataMap.tableData[index].exceptionType=''
                  dataMap.tableData[index].remark = ''
              }else{
                  dataMap.tableData[index].isDisable = false
                  dataMap.tableData[index].isDisableRemark = false
                  dataMap.tableData[index].exceptionType = '换单单证交接异常'
              }
        }

        const signSubmit = (done) => {
            let arr = []
            let error = false
            dataMap.tableData.forEach(item => {
                // todo 加字段
            })
            arr = dataMap.tableData
            if (error) {
                done(false)
            } else {
                changeOrderApi.postFeedbackEditDocument(arr).then(res => {
                    if (res.code == '200') {
                        done()
                        visible.value = false
                    } else {
                        done(false)
                    }
                })
            }
        }
        // watch(visible, (nVal, oVal) => {
        //     if (nVal) {
        //         data.getList()
        //     }
        // })
        const searchInput = (val) => {
            dataMap.keyword = val
            postHandoverList()
        }
        // 列表查询
        const postHandoverList = async () => {
            const params = {
                viewUserId: dataMap.viewUserId,
                keyword: dataMap.keyword,
            }
            const { data } = await changeOrderApi.postHandoverList(params)
            data.map((item)=>{
                item.isDisable=false
                item.isDisableRemark = false
            })
            dataMap.tableData = data

        }
        const show = (viewUserId) => {
            dataMap.viewUserId = viewUserId
            visible.value = true
            dataMap.keyword = ''
            postHandoverList()
            // getRole(4) //客服专员

        }
        return {
            changeBlFlage,
            postHandoverList,
            show,
            visible,
            columns,
            signSubmit,
            searchInput,
            ...toRefs(dataMap)
        }
    }
})
</script>

<style lang="less" scoped>
.search-title {
    display: flex;
    justify-content: space-between;

    .title-btn {
        display: flex;

        .arco-btn {
            margin-left: 8px;
        }
    }
}

.arco-table {
    margin-top: 20px;
    max-height: 300px;
}
</style>