<template>
  <div class="main">
    <div class="info">
      <div class="info_top">
        <div class="vertical"></div>
        <span class="font">换单信息登记 </span>
      </div>
      <div class="info_grid">
        <a-form :model="form" layout="vertical">
          <a-row class="grid-demo" :gutter="[24, 12]">
            <a-col :span="8">
              <a-form-item field="shippingAgentName" label="船代">
                <span v-if="mouse.selectRef" @mouseenter="mouseLeave('selectRef')" class="info-txt">{{
                  form.shippingAgentName||'-'
                  }}</span>
                <a-select v-model="form.shippingAgentName" placeholder="请选择船代" @search="handleSearch" v-else
                  :filter-option="false" allow-search @focus="focusSelect" @change="changeShip" ref="selectRef"
                  @mouseleave="mouseLeave()" @blur="blurSelect('selectRef')"
                  @popup-visible-change="(val) => changeVisable(val, 'selectRef')">
                  <a-option v-for="(item, index) in  shippArrayOptions.value" :key="index" :value="item.id">{{
                    item.name
                    }}
                  </a-option>
                </a-select>
              </a-form-item>
            </a-col>
            <a-col :span="8">
              <a-form-item field="freightForwardingAddress" label="货代地址">
                <span v-if="mouse.selectRef1" @mouseenter="mouseLeave('selectRef1')" class="info-txt">{{
                  form.freightForwardingAddress ||'-'
                  }}</span>
                <a-input v-model="form.freightForwardingAddress" @blur="changeAddress" v-else @mouseleave="mouseLeave()"
                  ref="selectRef1" />
              </a-form-item>
            </a-col>
            <a-col :span="8">
              <a-form-item field="planExchangeTime" label="预计换单时间">
                <span v-if="mouse.selectRef2" @mouseenter="mouseLeave('selectRef2')" class="info-txt">{{
                  form.planExchangeTime ||'-'
                  }}</span>
                <a-date-picker show-time v-model="form.planExchangeTime" format="YYYY-MM-DD HH:mm:ss" @change="onChange"
                  @select="onSelect" @ok="onOk" v-else @mouseleave="mouseLeave()" ref="selectRef2"
                  :disabled-date="disabledDate" @blur="blurSelect('selectRef2')"
                  @popup-visible-change="(val) => changeVisable(val, 'selectRef2')" style="width:100%" />
              </a-form-item>
            </a-col>
            <a-col :span="8">
              <a-form-item field="containerCheck" label="是否有压箱支票">

                <!-- <a-radio style="margin-right: 60px" v-model="form.containerCheck" :value="0">
                  是
                </a-radio>
                <a-radio v-model="form.containerCheck" :value="1"> 否 </a-radio> -->
                <a-radio-group v-model="form.containerCheck" @change="changeRadio">
                  <a-radio :value="1">是</a-radio>
                  <a-radio :value="0">否</a-radio>
                </a-radio-group>
              </a-form-item>
            </a-col>
          </a-row>
        </a-form>
      </div>
    </div>
    <div class="ocean">
      <div class="ocean_top">
        <div class="vertical"></div>
        <span class="font">海运费登记</span>
        <span class="confirm" v-if="form.seaFreightStatusName">
          <DwTag :class="form.seaFreightStatusColor">
            <template #word>
              {{ form.seaFreightStatusName }}
            </template>
          </DwTag>
        </span>
      </div>
      <div class="ocean_grid">
        <div class="radio_val">
          <a-radio style="margin-right: 60px" v-model="form.seaPaymentType" :disabled="true" :value="1"> 预付 </a-radio>
          <a-radio v-model="form.seaPaymentType" :disabled="true" :value="2"> 到付 </a-radio>
        </div>
        <a-form :model="form" layout="vertical" v-if="form.seaPaymentType == 2">
          <a-row class="grid-demo" :gutter="[24, 12]">
            <a-col :span="8">
              <a-form-item field="usdAmount" label="海运费美元金额">
                <div style="width:100%">
                  <!-- <a-input v-model="form.usdAmount" maxlength="18" /> -->
                  <a-input-number placeholder="海运费美元金额" :precision="2" v-model="form.usdAmount" :min="0"
                    @blur="blurusdAmount" />
                </div>
              </a-form-item>
            </a-col>
            <a-col :span="8">
              <a-form-item field="exchangeRate" label="汇率">
                <div style="width:100%">
                  <!-- <a-input v-model="form.exchangeRate" maxlength="18" /> -->
                  <a-input-number placeholder="汇率" :precision="4" v-model="form.exchangeRate" :min="0"
                    @blur="blurexchangeRate" />
                </div>
              </a-form-item>
            </a-col>
            <a-col :span="8">
              <a-form-item field="cnyAmount" label="人民币金额">
                <div style="width:100%">
                  <a-input-number placeholder="" :precision="2" v-model="form.cnyAmount" :min="0" disabled />
                </div>
              </a-form-item>
            </a-col>
            <a-col :span="8">
              <a-form-item field="paymentName" label="支付对象">
                <a-select v-model="form.paymentName" placeholder="支付对象" @search="handleSearchPay" :filter-option="false"
                  allow-search @focus="focusSelect">
                  <a-option v-for="(item, index) in  shippArrayOptions.value" :key="index" :value="item.paymentName">{{
                    item.name
                    }}
                  </a-option>
                </a-select>
              </a-form-item>
            </a-col>
            <a-col :span="8">
              <a-form-item field="paymentName" label="支付时间" v-if="form.seaFreightStatus == 1">
                <div>{{ form.seaPaymentTime || '-' }}</div>

              </a-form-item>
            </a-col>
            <a-col :span="8">
              <a-form-item field="paymentName" label="确认时间" v-if="form.seaFreightStatus == 1">
                <div>{{ form.seaConfirmTime || '-' }}</div>
              </a-form-item>
            </a-col>
          </a-row>
        </a-form>
        <div class="btn_box">
          <a-button type="primary" @click="saveSeaFreight" v-if="form.seaPaymentType == 2 && form.seaFreightStatus==null">提交
          </a-button>
        </div>
      </div>
    </div>
    <div class="abnormal">
      <div class="abnormal_top">
        <div class="vertical"></div>
        <span class="font">异常登记</span>
      </div>
      <div class="table">

        <a-table :columns="columns" :data="form.exceptionVO" :pagination="false">
          <template #index="{ record, rowIndex }" class="operate">
            <!-- {{ rowIndex + 1 }} -->
            <span>
              <icon-delete @click="deleteRow(rowIndex)" v-if="record.isDelete" />
            </span>
          </template>
          <template #exceptionType="{ record, rowIndex }">
            <div v-if="!record.isDelete">
              <span> {{ record.exceptionName }}</span>
            </div>
            <a-select v-model="record.exceptionType" :disabled="!record.isDelete" v-else>
              <a-option v-for="item of typeList" :label="item.label" :value="item.id"
                @click="record.costName = item.label" :disabled="item.disabled">
                {{ item.label }}</a-option>
            </a-select>
          </template>
          <template #exceptionDescribe="{ record, rowIndex }">
            <div v-if="!record.isDelete">
              <span>{{ record.exceptionDescribe}} </span>

            </div>
            <a-textarea placeholder="请输入异常描述" allow-clear v-model="record.exceptionDescribe"
              :auto-size="{ minRows: 1, maxRows: 1 }" :disabled="!record.isDelete" v-else />
          </template>
          <template #status="{ record, rowIndex }">
            <span v-if="record.status == 0"> 待处理</span>
            <span v-if="record.status == 1">已处理</span>
            <span v-if="record.status == 2">已关闭</span>
          </template>
        </a-table>
        <div class=" newBtn" v-if="info.exchangedoSchedule == 2">
          <a-button type="text" @click="add()">
            <icon-plus />新增
          </a-button>
          <a-button type="primary" @click="saveExpection">保存</a-button>
        </div>
      </div>
      <!-- <div class="btn_box" v-if="info.exchangedoSchedule != 3">
        <a-button style="margin-right: 12px" type="primary" @click="clickcomplete" v-if="form.preparationCompleteFlag">
          准备完毕
        </a-button>
        <a-button type="primary" @click="assign" v-if="form.dispatchExpenseFlag">换单派出</a-button>
      </div> -->
    </div>
  </div>
  <div class="btn_box" v-if="info.exchangedoSchedule != 3">
    <a-button style="margin-right: 12px" type="primary" @click="clickcomplete" v-if="form.preparationCompleteFlag"
      :disabled="form.seaPaymentType == 2 && form.seaFreightStatus==null">
      准备完成
    </a-button>
    <a-button type="primary" @click="assign" v-if="form.dispatchExpenseFlag">换单派出</a-button>
  </div>
</template>
<script lang="ts" setup>
import { reactive, ref, useAttrs, nextTick,h } from 'vue';
import { changeOrderApi } from '@/api/changeOrderApi/index';
import { runOrderApi } from '@/api/runOrderApi/index';
import { useRoute } from 'vue-router';
import { Message, Modal } from '@arco-design/web-vue';
const route = useRoute();
const form = ref({});
const props = defineProps({
  info: {
    type: Object,
  },
});
const attrs = useAttrs() as any
const orderLogisticsNo = route.query.orderLogisticsNo || 'T_MYBD220501137';
const columnData = reactive([]);
const shippArrayOptions = reactive([]);
const typeList = reactive([
  {
    id: 'exception004',
    label: '换单准备其他',
    disabled:false,
  },
  {
    id: 'exception003',
    label: '电放信息异常',
    disabled: false,
  },
])
const formOcean = reactive({
  seaPaymentType: 4,
  usdAmount: 0,
  exchangeRate: 0,
  cnyAmount: '',
  paymentName: '',
});

const columns = [
  {
    title: '',
    dataIndex: 'index',
    slotName: 'index'
  },
  {
    title: '异常类型',
    dataIndex: 'exceptionType',
    slotName: 'exceptionType',
    width: 120,
  },
  {
    title: '异常描述',
    dataIndex: 'exceptionDescribe',
    slotName: 'exceptionDescribe',
    width: 180,
  },
  {
    title: '状态',
    dataIndex: 'status',
    slotName: 'status',
    width: 100,
  },
  {
    title: '登记人',
    dataIndex: 'createUserName',
    width:100,
  },
  {
    title: '登记时间',
    dataIndex: 'createTime',
    width: 150,
  },
  {
    title: '处理人',
    dataIndex: 'updateUserName',
    width: 100,
  },
  {
    title: '处理完成时间',
    dataIndex: 'updateTime',
    width: 150,
  },
];
const mouse = reactive({
  selectRef: true,
  selectRef1: true,
  selectRef2: true,
  visible: false,
  visibleSel:false,
})

const disabledDate=(time)=> {
  console.log(time)
  // return time.getTime() >Date.now(); //禁止选择今天以后的时间
  return time.getTime() < Date.now() - 8.64e7;//禁止选择今天以前的时间
}

const data = reactive([]);
const mosChangeOrderDetailGetPreparation = async () => {
  const { data } = await changeOrderApi.mosChangeOrderDetailGetPreparation({
    orderLogisticsNo: orderLogisticsNo,
  });
  form.value = data;
  form.value.usdAmount = data.usdAmount ? data.usdAmount:0
  form.value.exchangeRate = data.exchangeRate ? data.exchangeRate : 0
  form.value.cnyAmount = data.cnyAmount ? data.cnyAmount : 0
  
  form.value.exceptionVO = data.exceptionVO ? data.exceptionVO : []
  form.value.exceptionVO.map((item) => {
    item.isDelete = false
  })
  form.value.exceptionNum = data.exceptionNum ? data.exceptionNum : 0
  // emits('updateInfo');
};
const emits = defineEmits(['assignHttp']);
mosChangeOrderDetailGetPreparation();
// 海运费登记
const saveSeaFreight = async () => {
  if (form.value.seaPaymentType==2){
   if (!form.value.paymentName){
   return  Message.error("请输入支付对象")
  } 
  }
  
  let params = {
    seaPaymentType: form.value.seaPaymentType,
    orderLogisticsNo: orderLogisticsNo,
    paymentId: form.value.paymentId,
    paymentName: form.value.paymentName,
    usdAmount: form.value.usdAmount,
    cnyAmount: form.value.cnyAmount,
    exchangeRate: form.value.exchangeRate,
  };
  const { data } = await changeOrderApi.detailSeaFreightRegister(params);
  mosChangeOrderDetailGetPreparation();
};
const assign = async () => {
  if (form.seaFreightStatus == 0) {
    Message.error("海运费未确认，无法换单派出！")
    return
  }
  assignHttp();
};
// 换单完成
const assignHttp = async () => {
  
  const { code } = await changeOrderApi.detailDispatchComplete({
    orderLogisticsNo: orderLogisticsNo,
  });
  console.log(code, '换单准备')
  emits('updateInfo');
};

//准备完毕
const clickcomplete = async () => {
  if (form.value.exceptionNum > 0){
    Modal.warning({
      title: '提示',
      hideCancel: false,
      alignCenter: true,
      content: () =>
        h('div', { class: 'info-modal-content' }, [
          h(
            'span',
            { style: 'display:block;text-align:center' },
            '尚有待处理的异常，是否确认准备完成？'
          ),
        ]),

      cancelText: '取消',
      async onOk() {
        await changeOrderApi.detailDispatchExpense({
          orderLogisticsNo: orderLogisticsNo,
        });
        Message.success('准备完成');
      },
    });
  }else{
    const { code } = await changeOrderApi.detailDispatchExpense({
    orderLogisticsNo: orderLogisticsNo,
  }); 
    Message.success('准备完成');
  }
 

}

const getShipList = async () => {
  const { data } = await runOrderApi.getBusinessUnitList({ labelCode: 'ShippingAgency', });

  shippArrayOptions.value = data
  console.log(shippArrayOptions.value, '船带公司')
}
getShipList()
const handleSearch = (value) => {
  if (value) {
    shippArrayOptions.value = shippArrayOptions.value.filter(item => item.name.indexOf(value) >= 0)
  } else {
    getShipList()
  }
}
const handleSearchPay = (value) => {
  if (value) {
    shippArrayOptions.value = shippArrayOptions.value.filter(item => item.name.indexOf(value) >= 0)
  } else {
    getShipList()
  }
}
const focusSelect = () => {
  getShipList()
}


const add = () => {
  form.value.exceptionVO.push({
    exceptionType: 'exception004',
    exceptionDescribe: "",
    status: "",
    createUserName: "",
    createTime: "",
    updateUserName: "",
    updateTime: "",
    isDelete: true,
    orderLogisticsNo: orderLogisticsNo
  })

}
const deleteRow = (index) => {
  form.value.exceptionVO.splice(index, 1)
}
const saveExpection = async () => {
  const params = []
  form.value.exceptionVO.map((item) => {
    if(item.isDelete==true){
      params.push({
        exceptionType: item.exceptionType,
        exceptionDescribe: item.exceptionDescribe,
        orderLogisticsNo: orderLogisticsNo
      })
    }
   
  })

  const {code, data } = await changeOrderApi.detailSaveException(params)
 if(code==200){
   mosChangeOrderDetailGetPreparation()
  }
   
  console.log(data, '异常信息')

}

//换单信息登记
const infoDetail = reactive({
  shippingAgent: '',
  shippingAgentName: '',//船代供应商中文名称	
  shippingAgentNameEn: '',//船代供应商英文名称	
  freightForwardingAddress: '',//货代地址	
  planExchangeTime: '',
  containerCheck: 0,
})
const changeShip = (val) => {
  console.log(val)
  shippArrayOptions.value.map((item) => {
    if (val == item.id) {
      form.value.shippingAgent = item.id
      form.value.shippingAgentName = item.name
      form.value.shippingAgentNameEn = item.nameEn
    }
  })
  registerLogisticsDetail()
}
const changeAddress = (val) => {
  mouse.selectRef1 = true
  registerLogisticsDetail()
}

const changeRadio = (val) => {
  registerLogisticsDetail()
}
const onChange = (dateString, date) => {
  console.log('onChange: ', dateString, date);
  registerLogisticsDetail()
}
const registerLogisticsDetail = async () => {
  console.log('换单信息登记')
  let params = {
    orderLogisticsNo: orderLogisticsNo,
    shippingAgent: form.value.shippingAgent,//船代供应商id	
    shippingAgentName: form.value.shippingAgentName,//船代供应商中文名称	
    shippingAgentNameEn: form.value.shippingAgentNameEn,//船代供应商英文名称	
    freightForwardingAddress: form.value.freightForwardingAddress,//货代地址	
    planExchangeTime: form.value.planExchangeTime,
    containerCheck: form.value.containerCheck,
  }
  const { data } = await changeOrderApi.registerLogisticsDetail(params);

}
const onSelect = (dateString, date) => {

  console.log('onSelect', dateString, date);
}



const onOk = (dateString, date) => {
  console.log('onOk: ', dateString, date);
}

const selectRef = ref<any>(null)
const selectRef1 = ref<any>(null)
const selectRef2 = ref<any>(null)

//下拉面板是否显示
const changeVisable=(val,str)=>{
  if (str =='selectRef2'){
     mouse.visible=val
  }
  if (str == 'selectRef') {
    mouse.visibleSel = val
  }
  if(!val){
    mouse[str] = true
  }
}

const blurSelect = (val, ref) => {
  mouse[val] = true
}
const mouseLeave = async (val) => {
  // 移入
  if (val) {
    mouse[val] = false
    await nextTick()
    if (val == 'selectRef') {
      selectRef.value.$el.nextElementSibling.querySelector('input').focus()
    }
    if (val == 'selectRef1') {
      selectRef1.value.focus()
    }
    if (val == 'selectRef2') {
      selectRef2.value.$el.nextElementSibling.querySelector('input').focus()
    }

  } else {
    mouse.selectRef1 = true
    //日期面板是否打开
    if (mouse.visible) {
      mouse.selectRef2 = false
    } else {
      mouse.selectRef2 = true
    }
    //下拉面板是否打开
    if (mouse.visibleSel) {
      mouse.selectRef = false
    } else {
      mouse.selectRef = true
    }


  }


}
const blurexchangeRate = (val) => {
  form.value.exchangeRate = Number(val.target._value)
  form.value.cnyAmount = (Number(form.value.usdAmount) * Number(val.target._value))

}
const blurusdAmount = (val) => {
  form.value.usdAmount = Number(val.target._value)
  if (Number(form.value.exchangeRate)>0){
    form.value.cnyAmount = (Number(form.value.exchangeRate)* Number(val.target._value))
  }
  

}

</script>
<style lang="less" scoped>
.main {
  height:calc(100vh - 350px);
  max-height: 537px;
    overflow-y: auto;
    overflow-x:hidden;
  .confirm {
    margin-left: 8px;
  }

  .stay {
    color: #3491fa;
    background-color: #e8f7ff;
  }

  .info {
    margin: 16px 0;
    border-bottom: 1px solid #e5e6eb;

    .info_top {
      display: flex;
    }

    .info_grid {
      margin-top: 16px;
    }
  }

  .ocean {
    padding: 16px 0;
    border-bottom: 1px solid #e5e6eb;

    .ocean_top {
      display: flex;
    }

    .ocean_grid {
      .radio_val {
        margin: 20px 0;
      }
    }
  }

  .abnormal {
    margin: 16px 0;

    .abnormal_top {
      display: flex;
    }

    .table {
      margin-top: 10px;
    }
  }


}

.newBtn {
  // width: 100px;
  margin-top: 23px;
  color: #2969FF;
  cursor: pointer;
  display: flex;
  width: 100%;
  justify-content: space-between;

  .arco-icon {
    margin-right: 6px;
  }
}

:deep(.arco-picker:hover) {
  background: #fff;
  border-color: #2969FF;
}
.info-txt{
  width:100%;
  height:32px;
  color:#212121;
}
:deep(.arco-card) {
  height: calc(100vh - 200px);
}
    .btn_box {
      display: flex;
      margin-top: 20px;
      justify-content: flex-end;
      align-items:center;
    }
</style>