<template>
  <div class="main">
    <div class="exeRecord">
      <div class="exeRecord_top">
        <div class="vertical"></div>
        <span class="font">换单执行记录</span>
      </div>
      <div class="steps-box">
        <template v-for="item in detailList" :key="item.id">
          <div class="exeRecord_grid">
            <div class="grid_item">
              <div class="item_top"> 换单员 </div>
              <div class="item_bottom">{{ item.changeOrderName }}</div>
            </div>
            <div class="grid_item">
              <div class="item_top"> 换单派出时间 </div>
              <div class="item_bottom">{{ item.dispatchTime }}</div>
            </div>
            <div class="grid_item">
              <div class="item_top"> 换单反馈时间 </div>
              <div class="item_bottom">{{ item.dispatchFeedbackTime }}</div>
            </div>
            <div class="grid_item" v-if="item.dispatchFeedback1 == 1">
              <div class="item_top"> 二程换单员 </div>
              <div class="item_bottom">{{ item.changeOrderName }}</div>
            </div>
            <div class="grid_item" v-if="item.dispatchFeedback1 == 2">
              <div class="item_top"> 异常类型 </div>
              <div class="item_bottom">{{ item.abnormalType == 1 ? '换单执行其他异常' : '' }}</div>
            </div>
            <div class="grid_item" v-if="item.dispatchFeedback1 == 2">
              <div class="item_top"> 异常处理人 </div>
              <div class="item_bottom">{{ item.abnormalHandleUserName }}</div>
            </div>
            <div class="grid_item" v-if="item.dispatchFeedback1 == 2">
              <div class="item_top"> 异常原因 </div>
              <div class="item_bottom">{{ item.abnormalCause }}</div>
            </div>
          </div>
          <div v-if="item.dispatchFeedback1 == null && hasAccess">
            <div class="exe_radio">
              <!-- <a-radio-group v-model="item.dispatchFeedback"> -->
              <a-radio class="grid_item" :value="0" v-model="item.dispatchFeedback">换单完成，无需换单 </a-radio>
              <a-radio class="grid_item" :value="1" v-model="item.dispatchFeedback"> 换单完成，需再换单 </a-radio>
              <a-radio class="grid_item" :value="2" v-model="item.dispatchFeedback"> 换单异常</a-radio>
              <!-- </a-radio-group> -->
            </div>
            <div class="exe_form">
              <a-form :model="form" layout="vertical">
                <a-row class="grid-demo" :gutter="[24, 12]">
                  <a-col :span="8" v-if="item.dispatchFeedback == 1">
                    <a-form-item field="usdAmount" label="二程换单员">
                      <a-select v-model="item.changeOrderId" placeholder="请选择换单员" @search="handleSearch"
                        :filter-option="false" allow-search @focus="focusSelect">
                        <a-option v-for="(item, index) in  operatorList1" :key="index" :value="item.userId">{{
                        item.userName
                        }}
                        </a-option>
                      </a-select>
                    </a-form-item>
                  </a-col>
                  <a-col :span="8" v-if="item.dispatchFeedback == 2">
                    <a-form-item field="cnyAmount" label="异常处理人">
                      <a-select v-model="item.abnormalHandleUserType" placeholder="异常类型">
                        <a-option :value="0">客服专员</a-option>
                        <a-option :value="1">换单员</a-option>
                      </a-select>

                      <a-select v-model="item.abnormalHandleUserName" placeholder="请选择换单员" @search="handleSearch"
                        disabled :filter-option="false" allow-search @focus="focusSelect"
                        v-if='item.abnormalHandleUserType == 1'>
                        <a-option v-for="(item, index) in  operatorList1" :key="index" :value="item.userId">
                          {{ item.userName }}</a-option>
                      </a-select>
                      <a-select v-model="item.abnormalHandleUserName" placeholder="请选择客服专员" disabled
                        :filter-option="false" allow-search v-if='item.abnormalHandleUserType == 0'>
                        <a-option v-for="(item, index) in  operatorList" :key="index" :value="item.userId">
                          {{ item.userName }}</a-option>
                      </a-select>
                    </a-form-item>
                  </a-col>
                  <a-col :span="8" v-if="item.dispatchFeedback == 2">
                    <a-form-item field="exchangeRate" label="异常类型">
                      <a-select v-model="item.abnormalType" placeholder="异常类型">
                        <a-option :value="1">换单执行其他异常
                        </a-option>
                      </a-select>
                    </a-form-item>
                  </a-col>

                  <a-col :span="24" v-if="item.dispatchFeedback == 2">
                    <a-form-item field="paymentName" label="异常原因">
                      <a-textarea v-model="item.abnormalCause" />
                    </a-form-item>
                  </a-col>
                </a-row>
              </a-form>
            </div>
            <div class="btn_box">
              <a-button type="primary" @click="clickSubmit(item)">确定</a-button>
            </div>
          </div>
        </template>
      </div>
    </div>
    <div class="historyRecord">
      <div class="historyRecord_top">
        <div class="vertical"></div>
        <span class="font">换单历史记录</span>
      </div>

      <template v-for="item in historyList" :key="item.id">
        <div class="his_grid">
          <div class="grid_item mb-20">
            <div class="item_top"> 换单员 </div>
            <div class="item_bottom">{{ item.changeOrderName }}</div>
          </div>
          <div class="grid_item mb-20">
            <div class="item_top"> 换单派出时间 </div>
            <div class="item_bottom">{{ item.dispatchTime }}</div>
          </div>
          <div class="grid_item mb-20">
            <div class="item_top"> 换单反馈时间 </div>
            <div class="item_bottom">{{ item.dispatchFeedbackTime }}</div>
          </div>
          <div class="grid_item pb-20" v-if="item.dispatchFeedback1 == 1">
            <div class="item_top"> 二程换单员 </div>
            <div class="item_bottom">{{ item.changeOrderName }}</div>
          </div>
          <div class="grid_item pb-20" v-if="item.dispatchFeedback1 == 2">
            <div class="item_top"> 异常类型 </div>
            <div class="item_bottom">{{ item.abnormalType == 1 ? '换单执行其他异常' : '' }}</div>
          </div>
          <div class="grid_item pb-20" v-if="item.dispatchFeedback1 == 2">
            <div class="item_top"> 异常处理人 </div>
            <div class="item_bottom">{{ item.abnormalHandleUserName }}</div>
          </div>
          <div class="grid_item pb-20" v-if="item.dispatchFeedback1 == 2">
            <div class="item_top"> 异常原因 </div>
            <div class="item_bottom">{{ item.abnormalCause }}</div>
          </div>
        </div>
      </template>

    </div>
  </div>
</template>
<script lang="ts">
import { defineComponent, ref, reactive, onMounted, defineEmits, toRefs } from 'vue';
import { useRouter } from 'vue-router'
import { Message } from '@arco-design/web-vue';
import { changeOrderApi } from '@/api/changeOrderApi/index';
import { crmApi } from '@/api/crmApi';
export default defineComponent({
  emits: ['updateInfo'],
  setup(props, { emit, slots, attrs}) {
    const router = useRouter();
    const query = router.currentRoute.value.query; // 路径参数
    const dataMap = reactive({
      detailInfo: {},
      radioValue: 0,
      orderLogisticsNo: query.orderLogisticsNo,
      form: {},
      operatorList: [],
      operatorList1: [],
      detailList: [],
      historyList:[],
      hasAccess:false
    })
    const clickSubmit = async (item) => {
      console.log(item, '换单员id')
      dataMap.operatorList1.map((i) => {
        if (i.userId == item.changeOrderId) {
          item.changeOrderName = i.userName
        }
      })
      const params = {
        id: item.id,//换单执行主键id	
        orderLogisticsNo: dataMap.orderLogisticsNo,//必须 物流订单编号	
        dispatchFeedbackTime: item.dispatchFeedbackTime,//	string 非必须 换单反馈时间: 	
        dispatchFeedback: item.dispatchFeedback,//必须 换单反馈结果 0 - 换单完成，无需再次换单 1 - 换单完成，需再次换单 2 - 换单异常
        planExchangeNextTime: '',//预计下次换单时间: 格式yyyy - MM - dd HH: mm: ss
        abnormalType: item.dispatchFeedback == 2 ? 1 : '',//异常类型: 1 - 换单执行其他异常		
        changeOrderId: item.dispatchFeedback == 1 ? item.changeOrderId : '',//换单员id	
        changeOrderName: item.dispatchFeedback == 1 ? item.changeOrderName : '',//非必须换单员名称	
        abnormalHandleUserType: item.dispatchFeedback == 2 ? item.abnormalHandleUserType : '',//异常处理人类型 0 - 客服专员 1 - 换单员	
        abnormalHandleUserId: item.dispatchFeedback == 2 ? item.abnormalHandleUserId : '',//异常处理人id
        abnormalHandleUserName: item.dispatchFeedback == 2 ? item.abnormalHandleUserId : '',//异常处理名称
        abnormalCause: item.dispatchFeedback == 2 ? item.abnormalCause : '',//异常原因
      }
      const { code, data } = await changeOrderApi.detailFeedback(params)
      if (code == 200) {
        Message.success('反馈成功')
        emit('updateInfo')
        getRecordDetail()
      }
    }
    const getRecordDetail = async () => {
      const params = {
        orderLogisticsNo: dataMap.orderLogisticsNo,//必须 物流订单编号	
      }
      const { data } = await changeOrderApi.getRecordDetail(params)
      dataMap.detailList = data.todoList
      dataMap.historyList =data.historyList
      dataMap.hasAccess = data.hasAccess
      dataMap.detailList.map((item) => {
        item.abnormalType = 1
        item.dispatchFeedback1 = item.dispatchFeedback
      })


    }
    const getRole = (key) => {
      crmApi.getRole({ roleType: key }).then((res) => {
        console.log(key, res)
        if (key == 4) {
          res.data.map((item) => {
            item.userId = String(item.userId)
          })
          dataMap.operatorList = res.data

        }
        if (key == 7) {
          dataMap.operatorList1 = res.data
        }

      })
    }
    const handleSearch = (value) => {
      if (value) {
        dataMap.operatorList1 = dataMap.operatorList1.filter(item => item.userName.indexOf(value) >= 0)
      } else {
        getRole(7)//换单员
      }
    }
    const show = (detailInfo) => {
      dataMap.detailInfo = detailInfo


    }
    const focusSelect = () => {
      getRole(7)//换单员
    }
    onMounted(() => {
      getRecordDetail()
      getRole(7)//换单员
      getRole(4)//客服专员

    })
    return {
      show,
      handleSearch,
      getRole,
      getRecordDetail,
      clickSubmit,
      ...toRefs(dataMap)
    }


  }
})

</script>
<style lang="less" scoped>
.main {
  margin-top: 20px;
    height: calc(100vh - 340px);
      max-height: 537px;
      overflow-y: auto;
      overflow-x: hidden;

  .btn_box {
    display: flex;
    margin-top: 20px;
    justify-content: flex-end;
  }

  .grid_item {
    width: 33%;
    font-size: 14px;
    // padding: 16px 0 0 0;
   

    .item_top {
      color: #696c70;
    }

    .item_bottom {
      color: #212121;
      margin-top: 9px;
    }
  }
  .mb-20{
    padding-top:20px;
    margin-bottom: 20px;
  }
  .pb-20{
    padding-bottom: 20px;
  }

  .exeRecord {
    padding: 16px 0;
    border-bottom: 1px solid #e5e6eb;

    .exeRecord_top {
      display: flex;
    }

    .exeRecord_grid {
      padding: 16px 0;
      width: 100%;
      display: flex;
      flex-wrap: wrap;
    }
  }

  .historyRecord {
    padding: 20px 0;

    .historyRecord_top {
      display: flex;
    }

    .his_grid {
      display: flex;
      width: 100%;
      flex-wrap: wrap;
      // padding: 20px 0;
      border-bottom: 1px solid #e5e6eb;

      .top {
        margin-top: 32px;
      }
    }
  }

  .exe_radio {
    padding: 16px 0;
  }
}
:deep(.arco-card){
height: calc(100vh - 200px);
}
</style>