<template>
  <div class="main">
    <div class="document">
      <div class="join">
        <div class="vertical"></div>
        <span class="font">单证交接 </span>
      </div>
      <div class="radio_box">
        <a-radio-group v-model="radioVal">
          <a-radio :value="1" :disabled="detailInfo.exchangedoSchedule == 1?false : true">提单无误</a-radio>
          <a-radio :value="0" :disabled="detailInfo.exchangedoSchedule == 1?false : true">提单异常</a-radio>
        </a-radio-group>
      </div>
      <div class="btn_box" v-if="radioVal == 1 && detailInfo.exchangedoSchedule == 1 ? true : false">
        <a-button type="primary" @click="mosChangeOrderDetailSign">签收</a-button>
      </div>
      <div class="problem" v-if="radioVal == 0">
        <p class="problem_txt">请选择单证问题类型及录入问题描述</p>
        <div class="problem_box">
          <a-select v-model="documentsType" :disabled="detailInfo.exchangedoSchedule == 1 ? false : true"
            :style="{ 'width': '120px', 'margin-bottom': '16px' }" placeholder="请选择">
            <a-option :auto-size="true" :style="{ height: '54x' }" v-for="item in documentsTypeList" :key="item.id"
              :label="item.label" :value="item.id" :disabled="item.disabled">
            </a-option>
          </a-select>
          <a-textarea placeholder="填输入异常原因" :disabled="detailInfo.exchangedoSchedule == 1 ? false : true"
            v-model="documentsDescribe" allow-clear />
          <div class="btn_box" v-if="radioVal == 0 && detailInfo.exchangedoSchedule == 1 ? true : false">
            <a-button type="primary" @click="mosChangeOrderDetailBack">退回</a-button>
          </div>
        </div>
      </div>
    </div>
    <div class="record">
      <div class="join">
        <div class="vertical"></div>
        <span class="font">交接记录 </span>
      </div>
      <div class="table">
        <a-table :pagination="false" :columns="columns" :data="listData" :scroll="scroll">
          <template #index="{ record, rowIndex }">
            <div>{{ rowIndex + 1 }}</div>
          </template>
        </a-table>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import {
  defineComponent,
  ref,
  reactive,
  onMounted,
  defineEmits,
  toRefs,
} from 'vue';
import { useRouter } from 'vue-router';
import { Message } from '@arco-design/web-vue';
import { changeOrderApi } from '@/api/changeOrderApi/index';

export default defineComponent({
  emits: ['updateInfo'],
  setup(props, { emit, slots, attrs }) {
    const router = useRouter();
    const query = router.currentRoute.value.query; // 路径参数
    const dataMap = reactive({
      scroll: {
        x: 800,
        y: 400,
      },
      detailInfo: {},
      listData: [],
      displayFlag: false,
      radioVal: 1,
      documentsType: 1,
      documentsDescribe: '',
      documentsTypeList: [{ id: 1, label: '单证异常', disabled: true }],
      columns: [
        {
          title: '#',
          slotName: 'index',
          width: 50,
        },
        {
          title: '创建人',
          dataIndex: 'createUserName',
        },
        {
          title: '创建时间',
          dataIndex: 'createTime',
          ellipsis: true,
          tooltip: true,
        },
        {
          title: '交接类型',
          dataIndex: 'documentHandoverType',
        },
        {
          title: '签收人',
          dataIndex: 'signForName',
        },
        {
          title: '签收时间',
          dataIndex: 'signForTime',
          ellipsis: true,
          tooltip: true,
        },
        {
          title: '退回人',
          dataIndex: 'backName',
        },
        {
          title: '退回时间',
          dataIndex: 'backTime',
          ellipsis: true,
          tooltip: true,
        },
      ],
    });
    const show = (detailInfo) => {
      dataMap.detailInfo = detailInfo;
      mosChangeOrderDetailGetDocument()
      // dataMap.displayFlag = detailInfo.displayFlag
    };
    //交接记录
    const orderLogisticsNo = query.orderLogisticsNo || 'T_MYBD220501137';
    const mosChangeOrderDetailGetDocument = async () => {
      const { data } = await changeOrderApi.mosChangeOrderDetailGetDocument({
        orderLogisticsNo: orderLogisticsNo,
      });
      console.log(data, '交接记录');
      // if (data.blFlag == 0 || data.blFlag == 1) {
      //   dataMap.displayFlag = true;
      //   dataMap.radioVal = data.blFlag;
      // } else {
      //   dataMap.displayFlag = false;
      // }
      data.orderLogisticsExchangedoDocumentList.map((item) => {
        item.documentHandoverType =item.documentHandoverType == 1 ? '一程换单' : '二程换单';
      });
      dataMap.listData = data.orderLogisticsExchangedoDocumentList;
    };
    //签收
    const mosChangeOrderDetailSign = async () => {
      const { code, data } = await changeOrderApi.mosChangeOrderDetailSign({
        orderLogisticsNo: orderLogisticsNo,
      });
      if (code == 200) {
        Message.success('签收成功');
      }
      emit('updateInfo', 'sign');
      mosChangeOrderDetailGetDocument();
    };
    //退回

    const mosChangeOrderDetailBack = async () => {
      const { code,data } = await changeOrderApi.mosChangeOrderDetailBack({
        orderLogisticsNo: orderLogisticsNo,
        remark: dataMap.documentsDescribe,
      });
      if (code == 200) {
        Message.success('退回成功');
      }
      emit('updateInfo');
      mosChangeOrderDetailGetDocument();
    };

    onMounted(() => {
      // mosChangeOrderDetailGetDocument();
    });

    return {
      query,
      show,
      ...toRefs(dataMap),
      mosChangeOrderDetailGetDocument,
      mosChangeOrderDetailSign,
      mosChangeOrderDetailBack,
    };
  },
});
</script>
<style lang="less" scoped>
.main {
  .document {
    padding: 20px 10px;
  }

  .join {
    font-size: 16px;
    display: flex;
    color: #1d2129;
  }

  .record {
    padding: 20px 10px;
    border-top: 1px solid #e5e6eb;

    // border-bottom: 1px solid #e5e6eb;
    .table {
      margin-top: 16px;

      .arco-card-body {
        display: none;
      }
    }
  }

  .radio_box {
    margin: 16px 0;
  }

  .btn_box {
    display: flex;
    margin-top: 20px;
    justify-content: flex-end;
  }

  .problem {
    margin: 5px;

    .problem_txt {
      font-size: 12px;
      color: #86909c;
    }
  }
}
:deep(.arco-card) {
  height: calc(100vh - 200px);
}
</style>