<template>
  <div class="mainApprove">
    <div class="confirm" v-if="!notShow">
      <div class="title">
        <div class="vertical"></div>
        <span class="font">审批</span>
      </div>
      <div class="radio">
        <a-radio-group v-model="radio">
          <a-radio
            v-show="item.isShow"
            v-for="item in radioList"
            :key="item.value"
            :value="item.value"
            >{{ item.label }}</a-radio
          >
        </a-radio-group>
      </div>
      <div class="remark">
        <div style="margin-bottom: 20px">备注</div>
        <a-textarea v-model="textarea" placeholder="请输入" allow-clear />
        <div class="btn">
          <a-button style="margin-right: 20px" @click="cancel">取消</a-button>
          <a-button type="primary" @click="save">确定</a-button>
        </div>
      </div>
    </div>
    <div class="record">
      <div class="title">
        <div class="vertical"></div>
        <span class="font">审批流程 </span>
      </div>
      <div class="timeLine">
        <a-timeline>
          <a-timeline-item
            v-for="(item, index) in logs"
            :key="index"
            :label="item.createTime"
          >
            {{ item.nodeName }}
            <br />
            <a-typography-text
              type="secondary"
              :style="{ fontSize: '12px', marginTop: '4px' }"
            >
              {{ item.creatorName }}
            </a-typography-text>
            <a-typography-text
              type="secondary"
              :style="{
                fontSize: '12px',
                marginTop: '4px',
                marginLeft: '4px',
                color: '#2969FF',
              }"
            >
              {{ mapKey(item.result) }}
            </a-typography-text>
            <br />
            <a-typography-text
              type="secondary"
              :style="{ fontSize: '12px', marginTop: '4px' }"
            >
              {{ item.remark }}
            </a-typography-text>
          </a-timeline-item>
        </a-timeline>
      </div>
    </div>
  </div>
</template>
<script lang="ts" setup>
import { ref, watch,computed } from 'vue';
const props=defineProps({
  radioList: {
    default: Array,
  },
  logs: {
    default: Array,
  },
});
const notShow=computed(()=>{
return props.radioList.every(item=>item.isShow==false)
})
// watch(()=>props.radioList,(val)=>{
// notShow.value=
// console.log(notShow,"notShow");
// })
 


const emits = defineEmits(['save']);
const textarea = ref('');
const radio = ref(0);
const save = () => {
  emits('refund', radio.value, textarea.value);
};
const mapKey = (result) => {
  if (result == 0) {
    return '驳回';
  } else if (result == 1) {
    return '同意';
  } else if (result == 2) {
    return '撤销';
  } else if (result == 3) {
    return '作废';
  }
};
const cancel = () => {
  textarea.value = '';
  radio.value = 0;
};
</script>
<style lang="less" scoped>
.mainApprove {
  background-color: #fff;
  .title {
    display: flex;
  }
  .confirm {
    padding-bottom: 20px;
    border-bottom: 1px solid #f2f3f5;
    .radio {
      margin: 16px 0 20px;
    }
    .remark {
      color: #696c70;
      font-size: 14px;
    }
    .btn {
      display: flex;
      margin-top: 20px;
      justify-content: flex-end;
    }
  }
  .record {
    padding-top: 20px;
    .timeLine {
      margin: 30px 10px;
    }
  }
}
</style>