<template>
  <div class="info">
    <div class="title">
      <div class="vertical"></div>
      <span class="font">{{ info.title }} </span>
    </div>
    <div class="text">
      <div class="item" v-for="item in info.list" :key="item.key">
        <div class="item-top">{{ item.label }}</div>
        <div  class="item-bottom" :class="isRed(item)" @click="item.callback">
          <div v-if="item.slotName == 'amountSymbol'">{{
            (info.currencySymbol || '') + toThousandFilter(item.key)
          }}</div>
          <div v-else-if="item.slotName == 'toNos'">
            <template v-if="item.key && item.key.length">
              <span
                class="cp"
                v-for="(n, i) in (item.key && item.key) || []"
                :key="i"
                :style="{ color: item.color }"
                @click="item.callback && item.callback(n, item)"
              >
                {{ n.no || '-' }}
                {{ i + 1 != item.key.length ? ', ' : '' }}
              </span>
            </template>
          </div>
          <div v-else :style="{ color: item.color }">{{ item.key || '-' }}</div>
        </div>
      </div>
    </div>
  </div>
</template>
<script lang="ts" setup>
import { defineProps, reactive } from 'vue';
import { setNumericText } from '@/utils';
const props = defineProps({
  info: Object,
});
const toThousandFilter = (num) => {
  return setNumericText(Number(num), { commas: true, zeroText: '0.00' });
};
const isRed = (item:any)=>{
  return item.isRed&&Number(item.key)<0
}
</script>
<style lang="less" scoped>
.info {
  padding: 20px 12px;
  .title {
    display: flex;
    .status {
      margin-left: 5px;
      margin-top: -2px;
    }
  }
  .text {
    display: flex;
    flex-wrap: wrap;
    .item {
      margin-top: 31px;
      width: 25%;
      .item-top {
        color: var(--color-text-2);
      }
      .item-bottom {
        color: var(--color-text-1);
        margin-top: 9px;
      }
    }
  }
}
</style>