<template>
  <a-modal
    v-model:visible="visible"
    @cancel="handleCancel"
    :mask-closable="false"
    :on-before-ok="handleBeforeOk"
    unmountOnClose
  >
    <template #title> 支付 </template>
    <div>
      <a-form :model="form" ref="formRef" layout="vertical">
        <a-row class="grid-demo" :gutter="[24, 12]">
          <a-col :span="24">
            <a-form-item
              field="payerId"
              label="付款公司"
              :rules="[{ required: true, message: '请选择付款公司' }]"
              :validate-trigger="['change', 'blur']"
            >
              <a-select
                v-model="form.payerId"
                placeholder="请选择"
                @search="getPayer"
                @change="payerChange"
                :filter-option="false"
                allow-search
              >
                <a-option
                  v-for="item in payerList"
                  :key="item.value"
                  :value="item.value"
                  :label="item.label"
                ></a-option>
              </a-select>
            </a-form-item>
          </a-col>
          <a-col :span="24">
            <a-form-item
              field="bankIban"
              label="开户银行"
              :rules="[{ required: true, message: '请选择开户银行' }]"
              :validate-trigger="['change', 'blur']"
            >
              <a-select
                v-model="form.bankIban"
                placeholder="请选择"
                @change="bankChange"
              >
                <a-option
                  v-for="item in bankList"
                  :key="item.value"
                  :value="item.value"
                  :label="item.label"
                ></a-option>
              </a-select>
            </a-form-item>
          </a-col>
          <a-col :span="24">
            <a-form-item field="payTime" label="付款日期">
              <a-date-picker
                style="width: 100%"
                format="YYYY-MM-DD hh:mm:ss"
                v-model="form.payTime"
              />
            </a-form-item>
          </a-col>
        </a-row>
      </a-form>
    </div>
  </a-modal>
</template>
<script lang="ts" setup>
import { reactive, ref, computed } from 'vue';
import { settlementApi } from '@/api/settlementApi/index';
import { useRoute } from 'vue-router';
import { Message } from '@arco-design/web-vue';
const route = useRoute();
import commonApi from '@/utils/commonApi/index';
const emits = defineEmits(['handleBeforeOk']);
const visible = ref(false);
const loading = ref(false);
const formRef = ref([]);
const detailData = ref([]);
const form = reactive({
  refId: route.query.id, //请款id
  payerId: '', // 付款方id
  payerName: '', // 付款方名称
  bankName: '', // 付款银行
  bankIban: '', // 付款账户
  payTime: '', // 付款时间
});
const handleClick = (data) => {
  visible.value = true;
  detailData.value = data;
};
const bank = ref('');
const payerList = ref([]); //所属对象
const bankList = ref([]); //开户银行
const handleCancel = () => {
  visible.value = false;
  form.payerId = ''; //付款方id
  form.bankIban = '';
  form.payerName = ''; //付款方名称
  form.bankName = '';
  form.payTime = '';
};
const handleBeforeOk = (done: any) => {
  window.setTimeout(() => {
    formRef.value.validate(async (error: any, values: any) => {
      if (!error) {
        await emits('payEndSure', form);
        done();
      } else {
        done(false);
      }
    });
  });
};
const payerChange = (val) => {
  payerList.value.forEach((item) => {
    if (item.value == val) {
      form.payerName = item.label;
      getBankList();
    }
  });
};
const getBankList = async () => {
  bankList.value = [];
  const { code, data } = await settlementApi.queryRelationBankByEnterpriseId({
    enterpriseId: form.payerId,
  });
  if (code == 200) {
    data.forEach((item) => {
      bankList.value.push({
        label: item.currency + ' ' + item.bankName + ' ' + item.bankAccount,
        value: item.bankAccount,
        currency: item.currency,
        bankName: item.bankName,
      });
      form.bankName = bankList.value[0].bankName;
      form.bankIban = bankList.value[0].value;
    });
  }
};
const bankChange = (val) => {
  bankList.value.forEach((item) => {
    if (item.value == val) {
      form.bankName = item.bankName;
    }
  });
};
const getPayer = async (name: String) => {
  const res = await commonApi.memberQueryUserAuthorithPart({
    name: name,
  });
  payerList.value = res.map((v) => {
    return { value: v.enterpriseId, label: v.name };
  });
};
const init = async () => {
  getPayer('');
};
init();
defineExpose({ handleClick, handleCancel });
</script>