<template>
  <a-modal
    v-model:visible="visible"
    @cancel="handleCancel"
    :mask-closable="false"
    width="50%"
    :on-before-ok="handleBeforeOk"
    unmountOnClose
  >
    <template #title> 支付 </template>
    <div>
      <a-form :model="form" ref="formRef" layout="vertical">
        <a-row class="grid-demo" :gutter="[24, 12]">
          <a-col :span="12">
            <a-form-item
              field="payerId"
              label="所属公司"
              :rules="[{ required: true, message: '请选择所属公司' }]"
              :validate-trigger="['change', 'blur']"
            >
              <a-select
                v-model="form.payerId"
                placeholder="请选择"
                @search="getPayer"
                @change="payerChange"
                :filter-option="false"
                allow-search
              >
                <a-option
                  v-for="item in payerList"
                  :key="item.value"
                  :value="item.value"
                  :label="item.label"
                ></a-option>
              </a-select>
            </a-form-item>
          </a-col>
          <a-col :span="12">
            <a-form-item
              field="paymentMethodCode"
              label="支付方式"
              :rules="[{ required: true, message: '请选择支付方式' }]"
              :validate-trigger="['change', 'blur']"
            >
              <a-select
                v-model="form.paymentMethodCode"
                placeholder="请选择"
                @change="payTypeChange"
              >
                <a-option
                  v-for="item in payType"
                  :key="item.value"
                  :value="item.value"
                  :label="item.label"
                ></a-option>
              </a-select>
            </a-form-item>
          </a-col>
          <a-col :span="12">
            <a-form-item
              field="amount"
              label="实付金额"
              :rules="[{ required: true, message: '请输入实付金额' }]"
              :validate-trigger="['change', 'blur']"
            >
              <a-input-number
                v-model="form.amount"
                @change="exchangeRateChange"
                class="input-demo"
              />
            </a-form-item>
          </a-col>
          <a-col :span="12" v-if="form.paymentMethodCode == '6801'">
            <a-form-item
              field="bankAccount"
              label="开户银行"
              :rules="[{ required: true, message: '请选择开户银行' }]"
              :validate-trigger="['change', 'blur']"
            >
              <a-select
                v-model="form.bankAccount"
                placeholder="请选择"
                @change="bankChange"
              >
                <a-option
                  v-for="item in bankList"
                  :key="item.value"
                  :value="item.value"
                  :label="item.label"
                ></a-option>
              </a-select>
            </a-form-item>
          </a-col>
          <a-col :span="12" v-if="form.paymentMethodCode == '6803'">
            <a-form-item
              field="chequeNo"
              label="支票号"
              :rules="[{ required: true, message: '请选择支票号' }]"
              :validate-trigger="['change', 'blur']"
            >
              <a-select
                :loading="loading"
                v-model="form.chequeNo"
                @search="handleSearch"
                @change="chequeNoChange"
                :filter-option="false"
                allow-search
              >
                <a-option
                  v-for="item of chequeNoList"
                  :value="item"
                  :key="item.chequeNo"
                  >{{ item.chequeNo }}</a-option
                >
              </a-select>
            </a-form-item>
          </a-col>
          <a-col :span="12" v-if="form.paymentMethodCode == '6803'">
            <a-form-item field="开户银行" label="开户银行">
              <a-input disabled v-model="bank.label" />
            </a-form-item>
          </a-col>
          <a-col :span="12" v-if="form.paymentMethodCode == '6804'">
            <a-form-item
              field="draftNo"
              label="汇票号"
              :rules="[{ required: true, message: '请选择汇票号' }]"
              :validate-trigger="['change', 'blur']"
            >
              <a-select
                :loading="loading"
                v-model="form.draftNo"
                @search="searchDraftNo"
                @change="draftNoChange"
                :filter-option="false"
                allow-search
              >
                <a-option
                  v-for="item of draftNoList"
                  :value="item.draftNo"
                  :key="item.draftNo"
                  >{{ item.draftNo }}</a-option
                >
              </a-select>
            </a-form-item>
          </a-col>
          <a-col
            :span="12"
            v-if="form.currency && form.currency != detailData.currency"
          >
            <a-form-item label="购汇汇率" prop="exchangeRate">
              <a-input
                size="small"
                @change="exchangeRateChange"
                v-model="form.exchangeRate"
              ></a-input>
            </a-form-item>
          </a-col>
          <a-col
            :span="12"
            v-if="form.currency && form.currency != detailData.currency"
          >
            <a-form-item label="购汇金额" prop="exchangeRateAmount">
              <a-input
                size="small"
                disabled
                v-model="form.exchangeRateAmount"
              ></a-input>
            </a-form-item>
          </a-col>
        </a-row>
      </a-form>
    </div>
  </a-modal>
</template>
<script lang="ts" setup>
import { reactive, ref, computed } from 'vue';
import { settlementApi } from '@/api/settlementApi/index';
import { useRoute } from 'vue-router';
import { Message } from '@arco-design/web-vue';
const route = useRoute();
import commonApi from '@/utils/commonApi/index';
const emits = defineEmits(['handleBeforeOk']);
const visible = ref(false);
const loading = ref(false);
const formRef = ref([]);
const props = defineProps({
  paymentType: Number,
});
const detailData = ref([]);
const form = reactive({
  refId: route.query.id, //请款id
  payerId: '', //付款方id
  currency: '',
  payerName: '', //付款方名称
  paymentMethodCode: '', //支付方式code
  paymentMethodName: '', //支付方式名称
  amount: '', //付款金额
  bankAccount: '', //付款账户
  bankName: '',
  paymentType: props.paymentType, //付款类型(1-借款,2-退款,3-请款,4-报销)
  chequeNo: '', //支票号
  draftNo: '', //汇票号
  exchangeRate: '', //购汇汇率
  exchangeRateAmount: '', //购汇金额
});
form.paymentType = computed(() => {
  return props.paymentType;
});
const exchangeRateChange = (num) => {
  form.exchangeRateAmount = form.exchangeRate * form.amount || '';
};
const handleClick = (data) => {
  visible.value = true;
  form.amount = data.unpayAmount;
  if (form.paymentType == 2) {
    form.amount = data.unpaidAmount;
  }
  detailData.value = data;
  init();
};
const bank = ref('');
const payerList = ref([]); //所属对象
const bankList = ref([]); //开户银行
const payType = ref([]); //支付方法
const chequeNoList = ref([]);
const draftNoList = ref([]);
const handleCancel = () => {
  visible.value = false;
  form.payerId = ''; //付款方id
  form.currency = '';
  form.payerName = ''; //付款方名称
  form.paymentMethodCode = ''; //支付方式code
  form.paymentMethodName = ''; //支付方式名称
  form.amount = ''; //付款金额
  form.bankAccount = ''; //付款账户
  form.bankName = '';
  form.chequeNo = ''; //支票号
  form.draftNo = ''; //汇票号
  form.exchangeRate = ''; //购汇汇率
  form.exchangeRateAmount = ''; //购汇金额
};
const handleBeforeOk = (done: any) => {
  window.setTimeout(() => {
    formRef.value.validate(async (error: any, values: any) => {
      if (!error) {
        if (form.paymentType == 1 || form.paymentType == 3) {
          if (detailData.value.unpayAmount < form.amount) {
            Message.error('支付金额必须小于未支付金额');
            done(false);
            return;
          }
        } else if (form.paymentType == 2) {
          if (detailData.value.unpaidAmount < form.amount) {
            Message.error('支付金额必须小于未支付金额');
            done(false);
            return;
          }
        }

        await emits('paySure', form);
        done();
      } else {
        done(false);
      }
    });
  });
};
const chequeNoChange = (val) => {
  bank.value = val.currencyCode + ' ' + val.payBank + ' ' + val.payAccount;
  form.bankAccount = val.payAccount;
  form.currency = val.currencyCode;
  form.bankName = val.payBank;
  form.chequeNo = val.chequeNo;
};
const payerChange = (val) => {
  form.bankAccount = '';
  form.currency = '';
  form.bankName = '';
  form.bankAccount = '';
  form.chequeNo = '';
  form.draftNo = '';
  payerList.value.forEach((item) => {
    if (item.value == val) {
      form.payerName = item.label;
      getBankList();
    }
  });
};
const getBankList = async () => {
  bankList.value = [];
  const { code, data } = await settlementApi.queryRelationBankByEnterpriseId({
    enterpriseId: form.payerId,
  });
  if (code == 200) {
    data.forEach((item) => {
      bankList.value.push({
        label: item.currency + ' ' + item.bankName + ' ' + item.bankAccount,
        value: item.bankAccount,
        currency: item.currency,
        bankName: item.bankName,
      });
    });
    bank.value =
      bankList &&
      bankList.value.find((v) => v.currency == detailData.value.currency);
    console.log(bankList.value,bank, 'bank');
    if (bank.value) {
      form.bankAccount = bank.value.value; //付款账户
      form.bankName = bank.value.bankName;
    }
  }
};
const bankChange = (val) => {
  bankList.value.forEach((item) => {
    if (item.value == val) {
      form.currency = item.currency;
      form.bankName = item.bankName;
    }
  });
};
const handleSearch = (val) => {
  console.log(val, 'chequeNo');
  if (val.length > 2) {
    loading.value = true;
    window.setTimeout(async () => {
      chequeNoList.value = await commonApi.getSettleListCheque({
        no: val,
        ownerId: form.payerId,
      });
      loading.value = false;
    });
  }
};
const searchDraftNo = async (val) => {
  if (val.length > 2) {
    draftNoList.value = await commonApi.getSettleListDraft({
      no: val,
      ownerId: form.payerId,
    });
  }
};
const payTypeChange = (val) => {
  if (val == '6801' || val == '6804') {
    getBankList();
  }
  payType.value.forEach((item) => {
    if (item.value == val) {
      form.paymentMethodName = item.label;
    }
  });
};
const getPayer = async (name: String) => {
  const res = await commonApi.memberQueryUserAuthorithPart({
    name: name,
  });
  payerList.value = res.map((v) => {
    return { value: v.enterpriseId, label: v.name };
  });
};
const init = async () => {
  getPayer('');
  const { code, data } = await settlementApi.basicdataCodeSelect([
    'paymentMethod',
  ]);
  if (code == 200) {
    data.PaymentMethod.forEach((item) => {
      payType.value.push({
        value: item.codesValues,
        label: item.codeName,
      });
    });
  }
};
defineExpose({ handleClick, handleCancel });
</script>