<template>
  <a-table :columns="columns" :data="tableData" :pagination="false">
    <template #operate="{ record, rowIndex }" v-if="!show">
      <!-- <i
        class="iconfont icon-qingchuneirong16px1px"
        @click="toDel(record, rowIndex)"
      ></i> -->
      <icon-close @click="toDel(record, rowIndex)" class="cp"></icon-close>
    </template>
    <template #currency="{ record, rowIndex }">
      <div v-if="show">{{ record.currency }}</div>
      <a-select v-else v-model="record.currency">
        <a-option
          v-for="item of ecurrencyList"
          :value="item.currencyCode"
          :label="item.currencyCode"
          :key="item.currencyCode"
        />
      </a-select>
    </template>
    <template #bankName="{ record, rowIndex }">
      <div v-if="show">{{ record.bankName }}</div>
      <a-input v-else v-model="record.bankName" />
    </template>
    <template #bankAccount="{ record, rowIndex }">
      <div v-if="show">{{ record.bankAccount }}</div>
      <a-input v-else v-model="record.bankAccount" />
    </template>
    <template #fiscalCode="{ record, rowIndex }">
      <div v-if="show">{{ record.fiscalCode }}</div>
      <a-input v-else v-model="record.fiscalCode" />
    </template>
    <template #defaultFlag="{ record, rowIndex }">
      <a-radio :disabled="show||!record.id" v-model="defaultFlagId" :value="record.id"  />
    </template>
    <template #factoringFlag="{ record, rowIndex }">
      <a-checkbox  :disabled="show"  v-model="record.factoringFlag" />
    </template>
  </a-table>
  <div class="btn_box1" v-if="show">
    <a-button type="primary" class="btn btn_edit" @click="toEdit"
      >编辑</a-button
    >
  </div>
  <div class="btn_box2" v-else>
    <a-button type="text" class="btn_add" @click="toAdd">+ 新增</a-button>
    <div>
      <a-button class="btn btn_cancel" @click="toCancel">取消</a-button>
      <a-button type="primary" class="btn btn_save" @click="toSave"
        >保存</a-button
      >
    </div>
  </div>
</template>
<script lang="ts">
  import { toRefs, computed, watch, defineComponent, reactive } from 'vue';
  import { merchants } from '@/api/merchants/index';
  import { common } from '@/api/common/index';
  import { Message, Modal } from '@arco-design/web-vue';
  import { useRoute } from 'vue-router';
import { clone, cloneDeep } from 'lodash';
  export default defineComponent({
    name: 'haiguanbeian',

    setup(props) {
      const route = useRoute();
      const columns = [
        {
          slotName: 'operate',
          title: '',
          dataIndex: '',
        },
        {
          slotName: 'currency',
          title: '币别',
          dataIndex: 'currency',
        },
        {
          slotName: 'bankName',
          title: '开户银行',
          dataIndex: 'bankName',
        },
        {
          slotName: 'bankAccount',
          title: '银行账号',
          dataIndex: 'bankAccount',
        },
        {
          slotName: 'fiscalCode',
          title: '财务代码',
          dataIndex: 'fiscalCode',
        },
        {
          slotName: 'defaultFlag',
          title: '默认',
          dataIndex: 'defaultFlag',
        },
        {
          slotName: 'factoringFlag',
          title: '保理',
          dataIndex: 'factoringFlag',
        },
      ];

      const dataMap = reactive({
        show: true, //
        ecurrencyList: [],
        tableData: [],
        cloneTableData: [],
        isChange: false,
        init: false,
        defaultFlagId: 0,
      });
      const functionMap = reactive({
        toEdit() {
          dataMap.show = false;
        },
        toAdd() {
          dataMap.tableData.push({
            bankName: '',
            bankAccount: '',
            currency: '',
            fiscalCode: '',
            defaultFlag: dataMap.tableData.length == 0 ? true : false,
            factoringFlag: false,
          });
        },
        toDel(item: Object, i: number) {
          console.log(item, i);
          if (item.id) {
            let params = {
              id: item.id.toString(),
            };
            merchants.mosBankDel(params).then((res) => {
              if (res.code == 200) {
                dataMap.tableData.splice(i, 1);
              }
            });
          } else {
            dataMap.tableData.splice(i, 1);
          }
        },
        toCancel() {
          let a = JSON.stringify(dataMap.cloneTableData)===JSON.stringify(dataMap.tableData)
          if(a) {
            dataMap.show = true;
          } else{
            Modal.warning({
              title: '提示',
              hideCancel: false,
              alignCenter: true,
              content: '信息发生了变更,是否需要保存？',
              cancelText: '取消',
              onOk:()=>{
                 functionMap.toSave();
                dataMap.show = true;
              },
              onCancel:()=>{
                dataMap.tableData = cloneDeep(dataMap.cloneTableData)
                dataMap.show = true;
              }
            });
          }
        },
        toSave() {
          dataMap.tableData.forEach((item) => {
            item.relationId = route.query.id;
            item.defaultFlag = item.id===dataMap.defaultFlagId
          });
          let params = dataMap.tableData;
          merchants.mosBankUp(params).then((res) => {
            if (res.code == 200) {
              functionMap.mosBankList();
              dataMap.show = true;
            }
          });
        },
        mosBankList() {
          let params = {
            relationId: route.query.id,
          };
          merchants.mosBankList(params).then((res) => {
            if (res.code == 200) {
              dataMap.tableData = res.data || [];
              console.log('dataMap.tableData',dataMap.tableData);
              dataMap.isChange = false;
              dataMap.init = true;
              dataMap.defaultFlagId = dataMap.tableData.find(e=>e.defaultFlag)?.id||0
              dataMap.cloneTableData = cloneDeep(res.data)

            }
          });
        },
        getCurrency() {
          common.getCurrency().then((res) => {
            if (res.code == 200) {
              dataMap.ecurrencyList = res.data;
            }
          });
        },
      });

      functionMap.mosBankList();
      functionMap.getCurrency();
      return {
        columns,
        ...toRefs(dataMap),
        ...toRefs(functionMap),
      };
    },
  });
</script>
<style lang="less" scoped>
  .btn_box1 {
    display: flex;
    justify-content: flex-end;
    margin-top: 16px;
    .btn {
      width: 60px;
      height: 32px;
      border-radius: 2px;
      text-align: center;
      line-height: 32px;
    }
    .btn_edit {
      background: #2969ff;
    }
  }
  .btn_box2 {
    display: flex;
    justify-content: space-between;
    margin-top: 16px;
    .btn {
      width: 60px;
      height: 32px;
      border-radius: 2px;
      text-align: center;
      line-height: 32px;
      margin-left: 12px;
    }
    .btn_add {
      width: 80px;
    }
    .btn_cancel {
      // background: #2969ff;
    }
    .btn_save {
      // background: #2969ff;
    }
  }
</style>
