<template>
  <div class="main">
    <div class="baseInfo">
      <div class="header"
        ><div class="jbxx">基本信息</div>
        <a-switch
          v-model="fromData.dataStatus"
          size="small"
          class="switch"
          @change="mosBasicSaveOrUpdate"
        />
      </div>
      <a-form
        ref="formRef"
        layout="vertical"
        :model="fromData"
        @click.self="formClick"
      >
        <a-form-item label="企业全称" field="name" class="queryInfo">
          <div
            v-if="hover1"
            class="item-div"
            @mouseenter="enterDiv('hover1', 1)"
            >{{ fromData.name || '-' }}</div
          >
          <a-input
            v-else
            @blur="blur('hover1', 'name')"
            ref="hover1Ref"
            v-model="fromData.name"
            allow-clear
            @mouseleave="leaveEdit('hover1', 'name')"
          />
          <icon-idcard @click="checkName" class="icon-box url"></icon-idcard>
          <!-- <i class="iconfont icon-Vector icon-box url"></i> -->
        </a-form-item>
        <a-form-item label="企业简称" field="abbreviation">
          <div
            v-if="hover2"
            class="item-div"
            @mouseenter="enterDiv('hover2', 2)"
            >{{ fromData.abbreviation || '-' }}</div
          >
          <a-input
            v-else
            ref="hover2Ref"
            @blur="blur('hover2', 'abbreviation')"
            @mouseleave="leaveEdit('hover2', 'abbreviation')"
            v-model="fromData.abbreviation"
            allow-clear
          />
        </a-form-item>
        <a-form-item label="统一社会信用代码" field="creditCode">
          <div
            v-if="hover3"
            class="item-div"
            @mouseenter="enterDiv('hover3', 3)"
            >{{ fromData.creditCode || '-' }}</div
          >
          <a-input
            v-else
            @mouseleave="leaveEdit('hover3', 'creditCode', 'credit_code')"
            ref="hover3Ref"
            v-model="fromData.creditCode"
            maxlength="18"
            @blur="blur('hover3', 'creditCode', 'credit_code')"
            allow-clear
          />
        </a-form-item>
        <a-form-item label="助记码" field="mnemonicCode">
          <div
            v-if="hover4"
            class="item-div"
            @mouseenter="enterDiv('hover4', 4)"
            >{{ fromData.mnemonicCode }}</div
          >
          <a-input
            v-else
            @mouseleave="leaveEdit('hover4', 'mnemonicCode', 'mnemonic_code')"
            ref="hover4Ref"
            v-model="fromData.mnemonicCode"
            maxlength="20"
            @blur="blur('hover4', 'mnemonicCode', 'mnemonic_code')"
            allow-clear
          />
        </a-form-item>
        <a-form-item label="英文全称" field="nameEn">
          <div
            v-if="hover5"
            class="item-div"
            @mouseenter="enterDiv('hover5', 5)"
            >{{ fromData.nameEn || '-' }}</div
          >
          <a-input
            v-else
            v-model="fromData.nameEn"
            @mouseleave="leaveEdit('hover5', 'nameEn', 'name_en')"
            @blur="blur('hover5', 'nameEn', 'name_en')"
            ref="hover5Ref"
            allow-clear
          />
        </a-form-item>
        <a-form-item label="英文简称" field="abbreviationEn">
          <div
            v-if="hover6"
            class="item-div"
            @mouseenter="enterDiv('hover6', 6)"
            >{{ fromData.abbreviationEn || '-' }}</div
          >
          <a-input
            v-else
            ref="hover6Ref"
            @mouseleave="
              leaveEdit('hover6', 'abbreviationEn', 'abbreviation_en')
            "
            @blur="blur('hover6', 'abbreviationEn', 'abbreviation_en')"
            v-model="fromData.abbreviationEn"
            allow-clear
          />
        </a-form-item>
        <a-form-item label="所在区域" field="inArea">
          <div
            v-if="hover7"
            class="item-div"
            @mouseenter="enterDiv('hover7', 7)"
            >{{ fromData.inArea == 1 ? '国内' : '国外' }}</div
          >
          <a-select
            v-else
            @mouseleave="leaveEdit('hover7')"
            v-model="fromData.inArea"
            @blur="blur('hover7', 'inArea', 'in_area')"
            ref="hover7Ref"
            class="select-w"
          >
            <a-option
              v-for="item of inAreaList"
              :value="item.val"
              :label="item.label"
              :key="item.val"
            />
          </a-select>
        </a-form-item>
        <a-form-item label="常驻国家" field="residentCountryCode">
          <div
            v-if="hover8"
            class="item-div"
            @mouseenter="enterDiv('hover8', 8)"
            >{{ fromData.residentCountryName || '-' }}</div
          >
          <a-select
            v-else
            @mouseleave="leaveEdit('hover8')"
            @blur="
              blur('hover8', 'residentCountryCode', 'residentCountry_code')
            "
            v-model="fromData.residentCountryCode"
            ref="hover8Ref"
            allow-search
          >
            <a-option
              v-for="item of obj.countryListOptions"
              :value="item.countryCode"
              :label="item.countryName"
              :key="item.countryId"
            />
          </a-select>
        </a-form-item>
        <a-form-item label="上级企业名称" field="upperRelationName">
          <div
            v-if="hover9"
            class="item-div"
            @mouseenter="enterDiv('hover9', 9)"
            >{{ fromData.upperRelationName || '-' }}</div
          >
          <a-select
            v-else
            @mouseleave="leaveEdit('hover9')"
            v-model="fromData.upperRelationId"
            @blur="blur('hover9', 'upperRelationName', 'upperRelation_name')"
            @search="(val) => handleSearch(val, '上级企业名称')"
            @change="upperRelationNameChange"
            ref="hover9Ref"
            allow-search
          >
            <a-option
              v-for="item of obj.upperRelationNameList"
              :value="item.enterpriseId"
              :label="item.name"
              :key="item.enterpriseId"
            />
          </a-select>
        </a-form-item>

        <a-form-item
          label="企业中文地址"
          class="item-address"
          field="enterpriseAddress"
        >
          <div
            v-if="hover10"
            class="item-div"
            @mouseenter="enterDiv('hover10', 10)"
          >
            {{
              `${
                fromData.provinceName +
                  fromData.cityName +
                  fromData.countyName +
                  (fromData.enterpriseAddress || '') || '-'
              }`
            }}
          </div>
          <template v-else>
            <div
              style="display: flex"
              ref="hover10Ref"
              @mouseleave="leaveEdit('hover10')"
            >
              <a-select
                v-model="fromData.provinceId"
                placeholder="省"
                ref="hover10Ref"
                @click="hover10Flag = true"
                class="province select-c"
              >
                <a-option
                  v-for="item in obj.provinceIdList"
                  :key="item.provinceId"
                  :label="item.provinceName"
                  :value="item.provinceId"
                >
                </a-option>
              </a-select>
              <a-select
                v-model="fromData.cityId"
                placeholder="市"
                class="city select-c"
              >
                <a-option
                  v-for="item in obj.cityList"
                  :key="item.cityId"
                  :label="item.cityName"
                  :value="item.cityId"
                >
                </a-option>
              </a-select>
              <a-select
                v-model="fromData.countyId"
                placeholder="区"
                class="county select-c"
                @change="countyChange"
              >
                <a-option
                  v-for="item in obj.countyList"
                  :key="item.countyId"
                  :label="item.countyName"
                  :value="item.countyId"
                >
                </a-option>
              </a-select>
              <a-input
                v-model="fromData.enterpriseAddress"
                class="adress"
                placeholder="填写详细地址"
                @change="enterpriseAddressChange"
              ></a-input>
            </div>
          </template>
        </a-form-item>
        <a-form-item label="企业英文地址" field="enterpriseAddressEn">
          <div
            v-if="hover11"
            class="item-div"
            @mouseenter="enterDiv('hover11', 11)"
            >{{ fromData.enterpriseAddressEn || '-' }}</div
          >
          <a-input
            v-else
            @mouseleave="leaveEdit('hover11')"
            v-model="fromData.enterpriseAddressEn"
            @blur="
              blur('hover11', 'enterpriseAddressEn', 'enterprise_address_en')
            "
            ref="hover11Ref"
            allow-clear
          />
        </a-form-item>
        <a-form-item label="曾用名" field="beforeName">
          <div
            v-if="hover12"
            class="item-div"
            @mouseenter="enterDiv('hover12', 12)"
            >{{ fromData.beforeName || '-' }}</div
          >
          <a-input
            v-else
            @mouseleave="leaveEdit('hover12')"
            ref="hover12Ref"
            v-model="fromData.beforeName"
            @blur="blur('hover12', 'beforeName', 'before_name')"
            allow-clear
          />
        </a-form-item>
        <a-form-item label="财务名称" field="fiscalName">
          <div
            v-if="hover13"
            class="item-div"
            @mouseenter="enterDiv('hover13', 13)"
            >{{ fromData.fiscalName || '-' }}</div
          >
          <a-input
            v-else
            @mouseenter="enterEdit('hover13')"
            ref="hover13Ref"
            @blur="blur('hover13', 'fiscalName', 'fiscal_name')"
            @mouseleave="leaveEdit('hover13')"
            v-model="fromData.fiscalName"
            allow-clear
          />
        </a-form-item>
        <a-form-item label="财务代码" field="fiscalCode">
          <div
            v-if="hover14"
            class="item-div"
            @mouseenter="enterDiv('hover14', 14)"
            >{{ fromData.fiscalCode || '-' }}</div
          >
          <a-input
            v-else
            @mouseenter="enterEdit('hover14')"
            @blur="blur('hover14', 'fiscalCode', 'fiscal_code')"
            ref="hover14Ref"
            @mouseleave="leaveEdit('hover14')"
            v-model="fromData.fiscalCode"
            allow-clear
          />
        </a-form-item>
        <a-form-item label="是否推送快马智运" field="pushKsFlag">
          <div
            v-if="hover15"
            class="item-div"
            @mouseenter="enterDiv('hover15', 15)"
            >{{ fromData.pushKsFlag == '1' ? '是' : '否' }}</div
          >
          <a-radio-group
            v-else
            @mouseenter="enterEdit('hover15')"
            @mouseleave="leaveEdit('hover15')"
            ref="hover15Ref"
            v-model="fromData.pushKsFlag"
            @change="mosBasicSaveOrUpdate"
          >
            <a-grid :cols="2" :colGap="80">
              <a-grid-item>
                <a-radio value="1">是</a-radio>
              </a-grid-item>
              <a-grid-item>
                <a-radio value="2">否</a-radio>
              </a-grid-item>
            </a-grid>
          </a-radio-group>
        </a-form-item>
        <a-form-item label="成本是否必须" field="needCostFlag">
          <div
            v-if="hover21"
            class="item-div"
            @mouseenter="enterDiv('hover21', 21)"
            >{{ fromData.needCostFlag == '1' ? '是' : '否' }}</div
          >
          <a-radio-group
            v-else
            :disabled="fromData.pushKsFlag != '1'"
            @mouseenter="enterEdit('hover21')"
            @mouseleave="leaveEdit('hover21')"
            @change="mosBasicSaveOrUpdate"
            ref="hover21Ref"
            v-model="fromData.needCostFlag"
          >
            <a-grid :cols="2" :colGap="80">
              <a-grid-item>
                <a-radio value="1">是</a-radio>
              </a-grid-item>
              <a-grid-item>
                <a-radio value="2">否</a-radio>
              </a-grid-item>
            </a-grid>
          </a-radio-group>
        </a-form-item>
        <a-form-item label="肉类协会密码" field="meatAssociationCode">
          <div
            v-if="hover16"
            class="item-div"
            @mouseenter="enterDiv('hover16', 16)"
            >{{ fromData.meatAssociationCode || '-' }}</div
          >
          <a-input
            v-else
            @mouseenter="enterEdit('hover16')"
            ref="hover16Ref"
            @mouseleave="leaveEdit('hover16')"
            @blur="
              blur('hover16', 'meatAssociationCode', 'meatAssociation_code')
            "
            v-model="fromData.meatAssociationCode"
            allow-clear
          />
        </a-form-item>
      </a-form>
    </div>
    <!-- @mouseenter="enterEdit('hover20')"
      @mouseleave="leaveEdit('hover20')" -->
    <div class="right">
      <p class="title">企业属性</p>
      <!--  :disabled="hover20" mosBasicSaveOrUpdate -->
      <a-checkbox
        v-model="obj.labelBool1"
        @change="enterpriseValChange2('labelBool1')"
        >客户</a-checkbox
      >
      <!--  :disabled="hover20" -->
      <a-select
        v-model="obj.labelVal1"
        @change="enterpriseValChange('labelVal1')"
        placeholder="请选择"
        ref="hover20Ref"
        multiple
      >
        <a-option
          v-for="item of obj.labelList1"
          :value="item.labelCode"
          :label="item.labelName"
          :key="item.labelCode"
        />
      </a-select>
      <!-- :disabled="hover20" -->
      <a-checkbox
        v-model="obj.labelBool2"
        @change="enterpriseValChange2('labelBool2')"
        >供应商</a-checkbox
      >
      <!-- :disabled="hover20" -->

      <a-select
        v-model="obj.labelVal2"
        @change="enterpriseValChange('labelVal2')"
        placeholder="请选择"
        multiple
      >
        <a-option
          v-for="item of obj.labelList2"
          :value="item.labelCode"
          :label="item.labelName"
          :key="item.labelCode"
        />
      </a-select>
      <!-- :disabled="hover20" -->
      <a-checkbox v-model="obj.labelBool3" @change="mosBasicSaveOrUpdate"
        >本方公司</a-checkbox
      >
      <!-- <div >{{`hover10${hover10}`}}</div> -->
    </div>
  </div>
</template>
<script lang="ts">
  import {
    ref,
    toRefs,
    computed,
    watch,
    defineComponent,
    reactive,
    nextTick,
    onUnmounted,
  } from 'vue';
  import { merchants } from '@/api/merchants/index';
  import { common } from '@/api/common/index';
  import { Message, Modal } from '@arco-design/web-vue';
  import { useRoute, useRouter } from 'vue-router';
  import addressSelect from '../components/addressSelect.vue';
  import { debounce } from 'lodash';
  export default defineComponent({
    name: 'addkeshang',
    components: { addressSelect },
    setup(props, { attrs, emit, slots }) {
      const route = useRoute();
      const router = useRouter();
      const fromData = ref({
        dataStatus: '', //
        name: '', //客户中文名称
        abbreviation: '', //客户中文简称
        creditCode: '', //社会统一信用代码
        mnemonicCode: '', //助记码
        nameEn: '', //客户英文名称
        abbreviationEn: '', //客户英文简称
        companyAttribute: [], //企业属性
        inArea: '', //所在区域
        residentCountryCode: '', //常驻国家
        residentCountryName: '',
        upperRelationId: '', //上级企业ID
        upperRelationName: '', //上级企业名称
        provinceId: '', //省份ID
        cityId: '', //城市ID
        countyId: '', //区县ID
        enterpriseAddress: '', //企业中文地址
        enterpriseAddressEn: '', //企业英文地址
        beforeName: '', //曾用名
        fiscalName: '', //财务名称
        fiscalCode: '', //财务代码
        pushKsFlag: '2', //是否推送快马智运
        needCostFlag: '2', //成本是否必须
        meatAssociationCode: '', //肉类协会
      });
      const mosBasicDetailKS = () => {
        merchants.mosBasicDetailKS({ id: route.query.id }).then((res) => {
          if (res.code == 200) {
            console.log('res', res.data);
            fromData.value = res.data.relationVO;
            fromData.value.pushKsFlag = res.data.relationVO.pushKsFlag
              ? '1'
              : '2';
            fromData.value.needCostFlag = res.data.relationVO.needCostFlag
              ? '1'
              : '2';
            dataMap.relationTypeVO = res.data.relationTypeVO;

            res.data.relationTypeVO.forEach((item) => {
              if (item.relationType == 8) {
                if (!item.relationLabelVOS) return;
                item.relationLabelVOS.forEach((ele) => {
                  obj.labelVal1.push(ele.labelCode);
                });
                obj.labelBool1 = true;
              }
              if (item.relationType == 9) {
                if (!item.relationLabelVOS) return;
                item.relationLabelVOS.forEach((ele) => {
                  obj.labelVal2.push(ele.labelCode);
                });
                obj.labelBool2 = true;
              }
              if (item.relationType == 4) {
                obj.labelBool3 = true;
              }
            });
          }
        });
      };
      mosBasicDetailKS();

      const dataMap = reactive({
        relationTypeVO: {},
        hoverIndex: '',
        why: '',
        // orderLogisticsNo: route.query.id,
      });

      let inAreaList = [
        {
          label: '国内',
          val: 1,
        },
        {
          label: '国外',
          val: 2,
        },
      ];
      const obj = reactive({
        countryListOptionsCopy: [],
        countryListOptions: [],
        provinceIdList: [],
        cityList: [],
        countyList: [],
        upperRelationNameList: [],
        labelList1: [],
        labelList2: [],
        labelVal1: [], //
        labelVal2: [], //
        labelVal3: [], //
        labelBool1: false, //
        labelBool2: false, //
        labelBool3: false,
        // doorPointIds:[],
        // doorPoint:''
      });

      // watch(()=>addInfo.bas.doorPoint,()=>{

      // },{immediate: true, deep: true})

      const hover1Ref = ref<any>(null);
      const hover2Ref = ref<any>(null);
      const hover3Ref = ref<any>(null);
      const hover4Ref = ref<any>(null);
      const hover5Ref = ref<any>(null);
      const hover6Ref = ref<any>(null);
      const hover7Ref = ref<any>(null);
      const hover8Ref = ref<any>(null);
      const hover9Ref = ref<any>(null);
      const hover10Ref = ref<any>(null);
      const hover11Ref = ref<any>(null);
      const hover12Ref = ref<any>(null);
      const hover13Ref = ref<any>(null);
      const hover14Ref = ref<any>(null);
      const hover15Ref = ref<any>(null);
      const hover16Ref = ref<any>(null);
      const hover20Ref = ref<any>(null);
      const hover21Ref = ref<any>(null);
      const hoverRef = [
        hover1Ref,
        hover2Ref,
        hover3Ref,
        hover4Ref,
        hover5Ref,
        hover6Ref,
        hover7Ref,
        hover8Ref,
        hover9Ref,
        hover10Ref,
        hover11Ref,
        hover12Ref,
        hover13Ref,
        hover14Ref,
        hover15Ref,
        hover16Ref,
        hover20Ref,
        hover21Ref,
      ];
      const hoverObj = reactive({
        hover1: true, //
        hover2: true, //
        hover3: true, //
        hover4: true, //
        hover5: true, //
        hover6: true, //
        hover7: true, //
        hover8: true, //
        hover9: true, //
        hover10: true, //
        hover11: true, //
        hover12: true, //
        hover13: true, //
        hover14: true, //
        hover15: true, //
        hover16: true, //
        hover20: false, //
        hover21: true, //
        timer: null,
        hover10Flag: false, // 由于是多列选择器 在这用变量特殊处理 默认为false  为true表示选择中 不可关闭
      });
      const fun = reactive({
        enterDiv(m: any, index: number) {
          hoverObj[m] = false;
        },
        enterEdit(m: any) {},
        focus(m) {
          console.log(m);
        },
        async blur(m: any, y?: any, f?: any) {
          let arr = [
            'name',
            'abbreviation',
            'creditCode',
            'mnemonicCode',
            'nameEn',
            'abbreviationEn',
          ];
          let params = {
            id: route.query.id,
            columnName: f || y,
            columnValue: fromData.value[y],
          };
          if (arr.includes(y) && fromData.value[y] != '') {
            check(params);
          }
          hoverObj[m] = true;
          fun.mosBasicSaveOrUpdate();
        },
        checkName() {
          check({
            id: route.query.id,
            columnName: 'name',
            columnValue: fromData.value.name,
          });
        },
        async enterpriseValChange2(key: string) {
          await nextTick();
          let key2 = '';
          if (key === 'labelBool1') key2 = 'labelVal1';
          if (key === 'labelBool2') key2 = 'labelVal2';
          if (!obj[key]) {
            obj[key2] = [];
          }
          fun.mosBasicSaveOrUpdate();
        },
        async enterpriseValChange(key: string) {
          await nextTick();
          let key2 = '';
          if (key === 'labelVal1') key2 = 'labelBool1';
          if (key === 'labelVal2') key2 = 'labelBool2';
          obj[key2] = obj[key].length !== 0;
          fun.mosBasicSaveOrUpdate();
        },
        formClick() {
          hoverObj.hover10Flag = false;
          hoverObj.hover10 = true;
        },
        leaveEdit(m: any, y?: any, f?: any) {
          if (m === 'hover21') {
            hoverObj[m] = true;
          }
          if (m === 'hover10') {
            if (hoverObj['hover10Flag']) {
              return;
            } else {
              hoverObj[m] = true;
            }
          }
          // hoverObj['hover10'] = true
          let index = m.split('hover')[1];
          let actRef = hoverRef[index - 1];
          if (!actRef) return;
          let el = actRef.value.$el;
          if (!el) return;
          let element: any = null;
          if (el.querySelector) {
            element = el.querySelector('input');
          }
          if (!element) {
            element = el.nextElementSibling?.querySelector('input');
          }
          if (element === document.activeElement) return;
          hoverObj[m] = true;
        },
        upperRelationNameChange(val) {
          fromData.value.upperRelationName = obj.upperRelationNameList.find(
            (e) => e.enterpriseId === val
          ).name;
        },
        async enterpriseAddressChange(val) {
          await nextTick();
          hoverObj['hover10'] = true;
          console.log('enterpriseAddressChange', val);
          console.log(`hoverObj[hover10] `, hoverObj['hover10']);
          fun.mosBasicSaveOrUpdate();
        },
        async countyChange(val) {
          hoverObj['hover10'] = true;
          hoverObj['hover10Flag'] = true;
          fun.mosBasicSaveOrUpdate();
          await nextTick();
          fromData.value.provinceName = obj.provinceIdList.find(
            (el) => el.provinceId === fromData.value.provinceId
          ).provinceName;
          fromData.value.cityName = obj.cityList.find(
            (el) => el.cityId === fromData.value.cityId
          ).cityName;
          fromData.value.countyName = obj.countyList.find(
            (el) => el.countyId === fromData.value.countyId
          ).countyName;
        },
        mosBasicSaveOrUpdate: debounce(() => {
          fun.mosBasicSaveOrUpdateFn();
        }, 100),
        async mosBasicSaveOrUpdateFn() {
          await nextTick();
          let arr = [];
          // let arr2 = [];
          let arrrr1 = [];
          let arrrr2 = [];
          let obj1 = {};
          let obj2 = {};
          if (obj.labelBool1 && obj.labelVal1.length > 0) {
            obj1.relationType = 8;
            obj.labelList1.forEach((item) => {
              if (obj.labelVal1.includes(item.labelCode)) {
                arrrr1.push({
                  labelCodeId: item.id,
                  labelCode: item.labelCode,
                  labelName: item.labelName,
                });
              }
            });
            obj1.detailDTOS = arrrr1;
          }
          if (obj.labelBool2 && obj.labelVal2.length > 0) {
            obj2.relationType = 9;
            obj.labelList2.forEach((item) => {
              if (obj.labelVal2.includes(item.labelCode)) {
                arrrr2.push({
                  labelCodeId: item.id,
                  labelCode: item.labelCode,
                  labelName: item.labelName,
                });
              }
            });
            obj2.detailDTOS = arrrr2;
          }
          if (obj.labelBool3) {
            arr.push({ relationType: 4 });
          }
          arr = arr
            .concat(obj1, obj2)
            .filter((value) => Object.keys(value).length !== 0);
          // console.log(arr);
          let params = {
            relationType: 1,
            dataStatus: fromData.value.dataStatus, //状态
            id: route.query.id, //客户id
            name: fromData.value.name, //客户中文名称
            abbreviation: fromData.value.abbreviation, //客户中文简称
            creditCode: fromData.value.creditCode, //社会统一信用代码
            mnemonicCode: fromData.value.mnemonicCode, //助记码
            nameEn: fromData.value.nameEn, //客户英文名称
            abbreviationEn: fromData.value.abbreviationEn, //客户英文简称

            inArea: fromData.value.inArea, //所在区域
            residentCountryCode: fromData.value.residentCountryCode, //常驻国家
            provinceId: fromData.value.provinceId, //省份ID
            cityId: fromData.value.cityId, //城市ID
            countyId: fromData.value.countyId, //区县ID
            enterpriseAddress: fromData.value.enterpriseAddress, //企业中文地址
            enterpriseAddressEn: fromData.value.enterpriseAddressEn, //企业英文地址
            upperRelationId: fromData.value.upperRelationId, //上级企业ID
            upperRelationName: fromData.value.upperRelationName, //上级企业名称
            beforeName: fromData.value.beforeName, //曾用名
            fiscalName: fromData.value.fiscalName, //财务名称
            fiscalCode: fromData.value.fiscalCode, //财务代码,
            pushKsFlag: fromData.value.pushKsFlag == '1' ? true : false, //是否推送快马智运
            needCostFlag: fromData.value.needCostFlag == '1' ? true : false, //成本是否必须
            meatAssociationCode: fromData.value.meatAssociationCode,
            relationBusinessLabelDTOlist: arr, //企业属性
          };
          merchants.mosBasicSaveOrUpdate(params).then((res) => {
            if (res.code == 200) {
              // dataMap.tabData = res.data || [];
            }
          });
        },
      });
      watch(
        () => fromData.value.pushKsFlag,
        () => {
          if (fromData.value.pushKsFlag == '2') {
            fromData.value.needCostFlag = '2';
          }
        }
      );
      const check = async (params: object) => {
        let res = await merchants.mosBasicUniqueBusiness(params);
      };
      const checkBlur = (v: number) => {
        switch (v) {
          case 1:
            if (data.name != '') {
              let params = {
                id: route.query.id,
                columnName: 'name',
                columnValue: data.name,
              };
              check(params, 1, '企业全称');
            }
            break;
          case 2:
            if (data.abbreviation != '') {
              let params = {
                id: route.query.id,
                columnName: 'abbreviation',
                columnValue: data.abbreviation,
              };
              check(params, 2, '企业简称');
            }
            break;
          case 3:
            if (data.creditCode != '') {
              let params = {
                id: route.query.id,
                columnName: 'credit_code',
                columnValue: data.creditCode,
              };
              check(params, 3, '统一社会信用代码');
            }
            break;
          case 4:
            if (data.mnemonicCode != '') {
              let params = {
                id: route.query.id,
                columnName: 'mnemonic_code',
                columnValue: data.mnemonicCode,
              };
              check(params, 4, '助记码');
            }
          case 5:
            if (data.nameEn != '') {
              let params = {
                id: route.query.id,
                columnName: 'name_en',
                columnValue: data.nameEn,
              };
              check(params, 5, '英文全称');
            }
            break;
          case 6:
            if (data.abbreviationEn != '') {
              let params = {
                id: route.query.id,
                columnName: 'abbreviation_en',
                columnValue: data.abbreviationEn,
              };
              check(params, 6, '英文简称');
            }
            break;
          default:
            break;
        }
      };
      const handleSearch = (val, type) => {
        let params = {
          name: val || '',
        };
        merchants.mosQueryRelationByAll(params).then((res) => {
          obj.upperRelationNameList = res.data || [];
        });
      };
      const mosQueryRelationByAll = () => {
        merchants.mosQueryRelationByAll().then((res) => {
          if (res.code == 200) {
            obj.upperRelationNameList = res.data || [];
          } else {
            Message.warning(res.message);
          }
        });
      };
      mosQueryRelationByAll();

      //  企业属性 小类
      const mosQueryAelationAabelAll = () => {
        merchants.mosQueryAelationAabelAll().then((res) => {
          if (res.code == 200) {
            res.data &&
              res.data.forEach((item) => {
                if (item.relationType == 8) {
                  obj.labelList1.push(item);
                } else if (item.relationType == 9) {
                  obj.labelList2.push(item);
                }
              });
            // data.mnemonicCode = pinyin.getCamelChars(data.name);
          } else {
            Message.warning(res.message);
          }
        });
      };
      mosQueryAelationAabelAll();

      //国家列表
      const mosCountryList = () => {
        common.getCountry().then((res) => {
          if (res.code == 200) {
            obj.countryListOptions = res.data;
            obj.countryListOptionsCopy = res.data;
          } else {
            Message.warning(res.message);
          }
        });
      };
      mosCountryList();
      //省市区
      const mosProvince = async () => {
        const { data } = await common.getProvince({});
        obj.provinceIdList = data;
      };
      mosProvince();
      const getCity = async (val: any) => {
        const { data } = await common.getCity({ provinceId: val || 0 });
        obj.cityList = data;
      };
      const getCounty = async (val: any) => {
        const { data } = await common.getCounty({ cityId: val || 0 });
        obj.countyList = data;
      };
      watch(
        () => fromData.value.provinceId,
        (newval, oldval) => {
          getCity(newval);
          if (newval !== oldval && oldval !== '') {
            fromData.value.cityId = '';
            fromData.value.countyId = '';
          }
          if (!newval) return;
          fun.mosBasicSaveOrUpdate();
        },
        { immediate: false, deep: true }
      );

      watch(
        () => fromData.value.cityId,
        (newval, oldval) => {
          getCounty(newval);
          if (newval !== oldval && oldval !== '') {
            fromData.value.countyId = '';
          }
          if (!newval) return;
          fun.mosBasicSaveOrUpdate();
        },
        { immediate: false, deep: true }
      );
      watch(
        () => fromData.value.countyId,
        (newval) => {
          if (!newval) return;
          fun.mosBasicSaveOrUpdate();
        },
        { immediate: false, deep: true }
      );
      const formRef = ref(null);

      const focusHandler = () => {
        // var type = event.target.nodeName.toLowerCase();
      };
      document.body.addEventListener('focus', focusHandler, true);

      onUnmounted(() => {
        document.body.removeEventListener('focus', focusHandler, true);
      });

      return {
        hover1Ref,
        hover2Ref,
        hover3Ref,
        hover4Ref,
        hover5Ref,
        hover6Ref,
        hover7Ref,
        hover8Ref,
        hover9Ref,
        hover10Ref,
        hover11Ref,
        hover12Ref,
        hover13Ref,
        hover14Ref,
        hover15Ref,
        hover16Ref,
        hover20Ref,
        hover21Ref,
        formRef,
        fromData,
        obj,
        inAreaList,
        checkBlur,
        check,
        ...toRefs(fun),
        ...toRefs(dataMap),
        ...toRefs(hoverObj),
        handleSearch,
      };
    },
  });
</script>
<style lang="less" scoped>
  .select-c {
    width: 1000px;
  }
  .adress {
    width: 220px !important;
  }
  .main {
    display: flex;
    .baseInfo {
      width: 75%;
      .header {
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;

        color: #1d2129;
        display: flex;
        .jbxx {
          width: 140px;
          margin-top: -4px;
          vertical-align: top;
        }
        // align-items: center;
        .switch {
          margin-left: 16px;
        }
        .header_laber {
          display: flex;
          align-items: flex-start;
          flex-wrap: wrap;
        }

        .scopeStuse {
          min-width: 70px;
          height: 20px;
          font-size: 12px;
          border-radius: 4px;
          margin-left: 16px;
          margin-bottom: 8px;
          // padding: 0 8px;
          padding-left: 8px;
          padding-right: 8px;
          line-height: 20px;
          font-family: PingFangSC-Regular, PingFang SC;
          text-align: center;
        }
        .yellowStatus {
          color: #ffa800;
          background-color: #fde2ad;
        }
        .blueStatus {
          color: #3699ff;
          background-color: #e1f0ff;
        }
      }
    }
    .right {
      width: 25%;
      border-left: 1px solid #e5e6eb;
      padding: 0 20px 0 33px;
      // flex: 1;
      .title {
        font-size: 14px;
        line-height: 20px;
        color: #696c70;
        margin-bottom: 10px;
      }
      .arco-checkbox {
        padding-left: 0;
      }
      :deep .arco-select {
        margin-top: 10px;
        margin-bottom: 10px;
        background: #fff;
        svg {
          display: none;
        }
        .arco-tag {
          background-color: #f2f3f5;
          color: #1d2129;
          border: none;
          margin-top: 3px;
        }
      }
      // .main .right[data-v-0ca6288b] .arco-select
    }
  }
  .arco-form {
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    // padding-right: 38px;
    .arco-form-item {
      flex: 1 1 calc((100% - 216px) / 3);
      max-width: calc((100% - 216px) / 3);
      margin-top: 24px;
      margin-bottom: 0;
      margin-right: 72px;
      &:nth-of-type(3n) {
        // margin-right: 0px;
      }
      :deep .arco-form-item-label-col {
        margin-bottom: 4px;
      }
      :deep .arco-form-item-label {
        color: #4e5969;
      }
      :deep .arco-form-item-content-wrapper {
        color: #212121;
      }
      .item-div {
        width: 100%;
        height: 100%;
      }
    }
    .queryInfo {
      position: relative;
      .url {
        position: absolute;
        right: 0px;
        top: 0px;
        font-size: 20px;
        color: #2969ff;
        cursor: pointer;
      }
    }
    .arco-input-wrapper {
      width: 100%;
    }
    :deep .arco-select {
      width: 100%;
    }
    .item-address {
      flex: 1 1 66.66%;
      max-width: calc(66.66% - 72px);
      :deep .arco-select {
        width: calc((100% - 72px) / 3);
      }
    }
  }
</style>
