<template>
  <a-table :columns="columns" :data="tableData" :pagination="false">
    <template #operate="{ record, rowIndex }" v-if="!show">
      <icon-close @click="toDel(record, rowIndex)" class="cp"></icon-close>
      <!-- <i
        class="iconfont icon-qingchuneirong16px1px"
        @click="toDel(record, rowIndex)"
      ></i> -->
    </template>
    <template #fullName="{ record, rowIndex }">
      <div v-if="show">{{ record.fullName }}</div>
      <a-input v-else v-model="record.fullName" />
    </template>
    <template #position="{ record, rowIndex }">
      <div v-if="show">{{ record.position }}</div>
      <a-input v-else v-model="record.position" />
    </template>
    <template #email="{ record, rowIndex }">
      <div v-if="show">{{ record.email }}</div>
      <a-input v-else v-model="record.email" />
    </template>
    <template #mobilePhone="{ record, rowIndex }">
      <div v-if="show">{{ record.mobilePhone }}</div>
      <a-input v-else v-model="record.mobilePhone" />
    </template>
    <template #expressAddress="{ record, rowIndex }">
      <div v-if="show">{{ record.expressAddress }}</div>
      <a-input v-else v-model="record.expressAddress" />
    </template>
    <template #defaultFlag="{ record, rowIndex }">
      <a-checkbox v-if="show" v-model="record.defaultFlag" disabled />
      <a-checkbox v-else v-model="record.defaultFlag" />
    </template>
  </a-table>
  <div class="btn_box1" v-if="show">
    <a-button type="primary" class="btn btn_edit" @click="toEdit"
      >编辑</a-button
    >
  </div>
  <div class="btn_box2" v-else>
    <a-button type="text" class="btn_add" @click="toAdd">+ 新增</a-button>
    <div>
      <a-button class="btn btn_cancel" @click="toCancel">取消</a-button>
      <a-button type="primary" class="btn btn_save" @click="toSave"
        >保存</a-button
      >
    </div>
  </div>
</template>
<script lang="ts">
  import { ref, toRefs, computed, watch, defineComponent, reactive } from 'vue';
  import { useRoute } from 'vue-router';
  import { merchants } from '@/api/merchants/index';
  import { common } from '@/api/common/index';
  import { Message, Modal } from '@arco-design/web-vue';
import { cloneDeep, differenceWith, matches } from 'lodash';
  export default defineComponent({
    name: 'haiguanbeian',
    setup(props) {
      const route = useRoute();
      const columns = [
        {
          slotName: 'operate',
          title: '',
          dataIndex: '',
        },
        {
          slotName: 'fullName',
          title: '姓名',
          dataIndex: 'fullName',
        },
        {
          slotName: 'position',
          title: '职务',
          dataIndex: 'position',
        },
        {
          slotName: 'email',
          title: '邮箱',
          dataIndex: 'email',
        },
        {
          slotName: 'mobilePhone',
          title: '手机',
          dataIndex: 'mobilePhone',
        },
        {
          slotName: 'expressAddress',
          title: '联系地址',
          dataIndex: 'expressAddress',
        },
        {
          slotName: 'defaultFlag',
          title: '默认',
          dataIndex: 'defaultFlag',
        },
      ];

      const dataMap = reactive({
        show: true, //
        tableData: [ ] as any [],
        cloneTableData: [ ] as any [],
      });
      const functionMap = reactive({
        toEdit() {
          dataMap.show = false;
        },
        toAdd() {
          dataMap.tableData.push({
            fullName: '', //姓名
            position: '', //职务
            email: '', //邮箱
            mobilePhone: '', //手机
            expressAddress: '', //快递地址
            defaultFlag: dataMap.tableData.length == 0 ? true : false, //是否默认: 0-不默认，1-默认
          });
        },
        toDel(item: Object, i: number) {
          console.log(item, i);
          if (item.id) {
            let params = {
              id: item.id.toString(),
            };
            merchants.mosContactsDelete(params).then((res) => {
              if (res.code == 200) {
                dataMap.tableData.splice(i, 1);
                dataMap.cloneTableData.splice(i, 1);
                
              }
            });
          } else {
            dataMap.tableData.splice(i, 1);
            dataMap.cloneTableData.splice(i, 1);
          }
        },
        toCancel() {
          let a = JSON.stringify(dataMap.cloneTableData)===JSON.stringify(dataMap.tableData)
          if(a) {
            dataMap.show = true;
          } else{
            Modal.warning({
              title: '提示',
              hideCancel: false,
              alignCenter: true,
              content: '信息发生了变更,是否需要保存？',
              cancelText: '取消',
              onOk:()=>{
                functionMap.toSave()
                 dataMap.show = true;
              },
              onCancel:()=>{
                dataMap.tableData = dataMap.cloneTableData
                dataMap.show = true;
              }
            });
          }
          

        },
        toSave() {
          dataMap.tableData.forEach((item) => {
            item.relationId = route.query.id;
          });
          // dataMap.show = false;
          let params = dataMap.tableData;
          merchants.mosContactsUp(params).then((res) => {
            if (res.code == 200) {
              dataMap.tableData = res.data || [];
              dataMap.cloneTableData = cloneDeep(res.data)
              dataMap.show = true;
            } else {
              // $msg.error(res.message);
            }
          });
        },
        mosContactsList() {
          let params = {
            relationId: route.query.id,
          };
          merchants.mosContactsList(params).then((res) => {
            if (res.code == 200) {
              dataMap.tableData = res.data;
              dataMap.cloneTableData = cloneDeep(res.data)
            } else {
              // $msg.error(res.message);
            }
          });
        },
      });
      functionMap.mosContactsList();
      return {
        columns,
        ...toRefs(dataMap),
        ...toRefs(functionMap),
      };
    },
  });
</script>
<style lang="less" scoped>
  .iconfont {
    cursor: pointer;
  }
  .btn_box1 {
    display: flex;
    justify-content: flex-end;
    margin-top: 16px;
    .btn {
      width: 60px;
      height: 32px;
      border-radius: 2px;
      text-align: center;
      line-height: 32px;
    }
    .btn_edit {
      background: #2969ff;
    }
  }
  .btn_box2 {
    display: flex;
    justify-content: space-between;
    margin-top: 16px;
    .btn {
      width: 60px;
      height: 32px;
      border-radius: 2px;
      text-align: center;
      line-height: 32px;
      margin-left: 12px;
    }
    .btn_add {
      width: 80px;
    }
    .btn_cancel {
      // background: #2969ff;
    }
    .btn_save {
      // background: #2969ff;
    }
  }
</style>
