<template>
  <a-table :columns="columns" :data="tableData" :pagination="false">
    <template #operate="{ record, rowIndex }">
      {{ rowIndex + 1 }}
    </template>
  </a-table>
</template>
<script lang="ts">
  import { ref, toRefs, computed, watch, defineComponent, reactive } from 'vue';
  import { merchants } from '@/api/merchants/index';
  import { common } from '@/api/common/index';
  import { Message, Modal } from '@arco-design/web-vue';
  import { useRoute } from 'vue-router';
  import { useAppStore, useTentantStore, useUserStore } from '@/store';
  export default defineComponent({
    name: 'haiguanbeian',
    // props: {
    //   info: {
    //     type: Object,
    //     default: () => {},
    //   },
    // },
    setup(props) {
      const route = useRoute();
      const columns = [
        {
          slotName: 'operate',
          title: '#',
          dataIndex: 'index',
        },
        {
          slotName: 'contractNo',
          title: '合同编号',
          dataIndex: 'contractNo',
        },
        {
          slotName: 'contractSpecies',
          title: '合同种类',
          dataIndex: 'contractSpecies',
        },
        {
          slotName: 'contractType',
          title: '流程类型',
          dataIndex: 'contractType',
        },
        {
          slotName: 'signUpName',
          title: '签约公司',
          dataIndex: 'signUpName',
        },
        {
          slotName: 'signUpDate',
          title: '签约日',
          dataIndex: 'signUpDate',
        },
        {
          slotName: 'dueToDate',
          title: '到期日',
          dataIndex: 'dueToDate',
        },
        {
          slotName: 'signSalesman',
          title: '签约人',
          dataIndex: 'signSalesman',
        },
      ];

      const dataMap = reactive({
        show: true, //
        tableData: [
          {
            dueToDate: '11',
          },
        ],
      });
      // 获取当前企业id
      const getEnterpriseId = async ()=>{
        const {data,code} = await merchants.mosBasicDetailKS({ id: route.query.id })
        if(code!=200) return
        return data?.relationVO?.enterpriseId||""
      }
      const functionMap = reactive({
      async  mosContractInfo() {
          let params = {
            customerId: await getEnterpriseId(),
          };
          merchants.mosContractInfo(params).then((res) => {
            if (res.code == 200) {
              dataMap.tableData = res.data;
            } else {
              // $msg.error(res.message);
            }
          });
        },
      });
      functionMap.mosContractInfo();
      return {
        columns,
        ...toRefs(dataMap),
        ...toRefs(functionMap),
      };
    },
  });
</script>
<style lang="less" scoped></style>
