<template>
  <div class="main">
    <a-form ref="formRef" layout="vertical" :model="fromData">
      <a-form-item label="经营单位编码" field="tradeCode">
        <div v-if="hover1" class="item-div" @mouseenter="enterDiv('hover1')">{{
          fromData.tradeCode || '-'
        }}</div>
        <a-input
          v-else
          @mouseleave="leaveEdit('hover1')"
          @blur="blur('hover1')"
          v-model="fromData.tradeCode"
          maxlength="10"
          ref="hover1Ref"
          allow-clear
        />
      </a-form-item>
      <a-form-item label="组织机构代码" field="organizationCode">
        <div v-if="hover2" class="item-div" @mouseenter="enterDiv('hover2')">{{
          fromData.organizationCode || '-'
        }}</div>
        <a-input
          v-else
          @mouseleave="leaveEdit('hover2')"
          ref="hover2Ref"
          v-model="fromData.organizationCode"
          @blur="blur('hover2')"
          maxlength="9"
          allow-clear
        />
      </a-form-item>
      <a-form-item label="检验检疫编码" field="ciqCode">
        <div v-if="hover3" class="item-div" @mouseenter="enterDiv('hover3')">{{
          fromData.ciqCode || '-'
        }}</div>
        <a-input
          v-else
          @mouseleave="leaveEdit('hover3')"
          @blur="blur('hover3')"
          ref="hover3Ref"
          v-model="fromData.ciqCode"
          maxlength="10"
          allow-clear
        />
      </a-form-item>
      <a-form-item label="海关年报有效期" field="customsValidateDate">
        <div v-if="hover4" class="item-div" @mouseenter="enterDiv('hover4')">{{
          fromData.customsValidateDate || '-'
        }}</div>
        <a-date-picker
          v-else
          @mouseleave="leaveEdit('hover4')"
          @blur="blur('hover4')"
          ref="hover4Ref"
          v-model="fromData.customsValidateDate"
          @popup-visible-change="(val) => changeVisable(val, 'hover4')"
        />
      </a-form-item>
      <a-form-item field="collectTaxFlag" label="汇总征税">
        <div v-if="hover5" @mouseenter="enterDiv('hover5')" class="item-div">{{
          fromData.collectTaxFlag == 0 ? '否' : '是'
        }}</div>
        <!-- <a-checkbox v-else class="item-div" v-model="fromData.collectTaxFlag"
          >汇总征税</a-checkbox
        > -->
        <a-radio-group
          v-else
          v-model="fromData.collectTaxFlag"
          ref="hover5Ref"
          @blur="blur('hover5')"
          @mouseleave="leaveEdit('hover5')"
        >
          <a-grid :cols="2" :colGap="30">
            <a-grid-item>
              <a-radio
                :default-checked="fromData.collectTaxFlag === 1"
                :value="1"
                >是</a-radio
              >
            </a-grid-item>
            <a-grid-item>
              <a-radio
                :default-checked="fromData.collectTaxFlag === 0"
                :value="0"
                >否</a-radio
              >
            </a-grid-item>
          </a-grid>
        </a-radio-group>
      </a-form-item>
    </a-form>
  </div>
</template>
<script lang="ts">
  import {
    ref,
    toRefs,
    computed,
    watch,
    defineComponent,
    reactive,
    reactive,
  } from 'vue';
  import { merchants } from '@/api/merchants/index';
  import { common } from '@/api/common/index';
  import { Message, Modal } from '@arco-design/web-vue';
  import { useRoute } from 'vue-router';
  export default defineComponent({
    name: 'haiguanbeian',
    // props: {
    //   info: {
    //     type: Object,
    //     default: () => {},
    //   },
    // },
    setup(props) {
      const route = useRoute();
      const fromData = ref({
        tradeCode: '', //经营单位编码
        organizationCode: '', //组织机构代码
        ciqCode: '', //检验检疫编码
        customsValidateDate: '', //海关年报有效期
        collectTaxFlag: 0, //汇总征税
      });
      const mosBasicDetailKS = () => {
        merchants.mosBasicDetailKS({ id: route.query.id }).then((res) => {
          if (res.code == 200) {
            fromData.value = res.data.relationVO;
            fromData.value.collectTaxFlag = res.data.relationVO.collectTaxFlag
              ? 0
              : 1;
          } else {
            Message.warning(res.message);
          }
        });
      };
      mosBasicDetailKS();
      const hover1Ref = ref<any>(null);
      const hover2Ref = ref<any>(null);
      const hover3Ref = ref<any>(null);
      const hover4Ref = ref<any>(null);
      const hover5Ref = ref<any>(null);
      const hover6Ref = ref<any>(null);
      const hover7Ref = ref<any>(null);
      const hover8Ref = ref<any>(null);
      const hover9Ref = ref<any>(null);
      const hover10Ref = ref<any>(null);
      const hover11Ref = ref<any>(null);
      const hover12Ref = ref<any>(null);
      const hover13Ref = ref<any>(null);
      const hover14Ref = ref<any>(null);
      const hover15Ref = ref<any>(null);
      const hover16Ref = ref<any>(null);
      const hover20Ref = ref<any>(null);
      const hoverRef = [
        hover1Ref,
        hover2Ref,
        hover3Ref,
        hover4Ref,
        hover5Ref,
        hover6Ref,
        hover7Ref,
        hover8Ref,
        hover9Ref,
        hover10Ref,
        hover11Ref,
        hover12Ref,
        hover13Ref,
        hover14Ref,
        hover15Ref,
        hover16Ref,
        hover20Ref,
      ];
      const hoverObj = reactive({
        hover1: true, //
        hover2: true, //
        hover3: true, //
        hover4: true,
        hover4Visible: false, //
        hover5: true, //
        hover6: true, //
        hover7: true, //
        hover8: true, //
        hover9: true, //
        hover10: true, //
        hover11: true, //
        hover12: true, //
        hover13: true, //
        hover14: true, //
        hover15: true, //
        hover16: true, //
        hover20: true, //
      });
      const functionObj = reactive({
        enterDiv(m: any) {
          // hoverObj.hover1 = false;
          hoverObj[m] = false;
        },
        enterEdit(m: any) {
          hoverObj[m] = false;
        },
        leaveEdit(m: any, y?: any, f?: any) {
          if (m === 'hover4' && hoverObj.hover4Visible) return;
          let index = m.split('hover')[1];
          let actRef = hoverRef[index - 1];
          if (!actRef) return;
          let el = actRef.value.$el;
          if (!el) return;
          let element: any = null;
          if (el.querySelector) {
            element = el.querySelector('input');
          }
          if (!element) {
            element = el.nextElementSibling?.querySelector('input');
          }
          if (element === document.activeElement) return;
          hoverObj[m] = true;
        },
        blur(m: any) {
          hoverObj[m] = true;
          functionObj.mosSaveCustomsRecord();
        },
        //下拉面板是否显示
        changeVisable(val?: any, str?: any) {
          hoverObj.hover4Visible = val;
          if (!val) hoverObj[str] = true;
        },
        mosSaveCustomsRecord() {
          let params = {
            relationId: route.query.id,
            tradeCode: fromData.value.tradeCode || null,
            organizationCode: fromData.value.organizationCode || null,
            ciqCode: fromData.value.ciqCode || null,
            customsValidateDate: fromData.value.customsValidateDate,
            collectTaxFlag: fromData.value.collectTaxFlag == 0 ? false : true,
          };
          merchants.mosSaveCustomsRecord(params).then((res) => {
            if (res.code == 200) {
              // dataMap.tabData = res.data || [];
            }
          });
        },
      });
      return {
        hover1Ref,
        hover2Ref,
        hover3Ref,
        hover4Ref,
        hover5Ref,
        hover6Ref,
        hover7Ref,
        hover8Ref,
        hover9Ref,
        hover10Ref,
        hover11Ref,
        hover12Ref,
        hover13Ref,
        hover14Ref,
        hover15Ref,
        hover16Ref,
        hover20Ref,
        fromData,
        ...toRefs(hoverObj),
        ...toRefs(functionObj),
      };
    },
  });
</script>
<style lang="less" scoped>
  .main {
    display: flex;
  }
  .arco-form {
    widows: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    // padding-right: 38px;
    .arco-form-item {
      flex: 1 1 calc((100% - 90px) / 4);
      max-width: calc((100% - 30px) / 4);
      margin-top: 24px;
      margin-bottom: 0;
      margin-right: 30px;
      &:nth-of-type(4n) {
        margin-right: 0px;
      }
      :deep .arco-form-item-label-col {
        margin-bottom: 4px;
      }

      .item-div {
        width: 100%;
        height: 100%;
      }
    }
    .arco-input-wrapper {
      width: 100%;
    }
    :deep .arco-select {
      width: 100%;
    }
    :deep .arco-picker {
      width: 100%;
    }
  }
</style>
