<template>
  <a-table :columns="columns" :data="tableData" :pagination="false">
    <template
      #operate="{ record, rowIndex }"
      v-if="!show"
      :width="record.width"
    >
      <icon-close @click="toDel(record, rowIndex)" class="cp"></icon-close>
    </template>
    <template #invoiceType="{ record, rowIndex }">
      <div v-if="show">{{ filter1(record.invoiceType) }}</div>
      <a-select v-else v-model="record.invoiceType"
        @change="invoiceChange"
      >
        <a-option
          v-for="item of ecurrencyList"
          :value="item.value"
          :label="item.label"
          :key="item.value"
        />
      </a-select>
    </template>
    <template #invoiceTaxRate="{ record, rowIndex }">
      <div v-if="show">{{ record.invoiceTaxRate }}</div>
      <a-select v-else v-model="record.invoiceTaxRate" @change="invoiceChange">
        <a-option
          v-for="item of ecurrencyList1"
          :value="item.value"
          :label="item.label"
          :key="item.value"
        />
      </a-select>
      <!-- <a-input v-else v-model="record.invoiceTaxRate" /> -->
    </template>
    <template #leafletUpperLimit="{ record, rowIndex }">
      <div v-if="show">{{ record.leafletUpperLimit }}</div>
      <a-input-number
        v-else
        v-model="record.leafletUpperLimit"
        :precision="4"
        :min="0"
        :max="1000000"
      />
    </template>
  </a-table>
  <div class="btn_box1" v-if="show">
    <a-button type="primary" class="btn btn_edit" @click="toEdit"
      >编辑</a-button
    >
  </div>
  <div class="btn_box2" v-else>
    <a-button type="text" class="btn_add" @click="toAdd">+ 新增</a-button>
    <div>
      <a-button class="btn btn_cancel" @click="toCancel">取消</a-button>
      <a-button type="primary" class="btn btn_save" @click="toSave"
        >保存</a-button
      >
    </div>
  </div>
</template>
<script lang="ts">
  import { ref, toRefs, computed, watch, defineComponent, reactive } from 'vue';
  import { merchants } from '@/api/merchants/index';
  import { common } from '@/api/common/index';
  import { Message, Modal } from '@arco-design/web-vue';
  import { useRoute } from 'vue-router';
import { cloneDeep } from 'lodash';
  export default defineComponent({
    name: 'haiguanbeian',
    setup(props) {
      const route = useRoute();
      const columns = [
        {
          slotName: 'operate',
          title: '',
          dataIndex: '',
          width: 30,
        },
        {
          slotName: 'invoiceType',
          title: '发票类型',
          dataIndex: 'invoiceType',
        },
        {
          slotName: 'invoiceTaxRate',
          title: '发票税率（%）',
          dataIndex: 'invoiceTaxRate',
        },
        {
          slotName: 'leafletUpperLimit',
          title: '单张开票额度上限',
          dataIndex: 'leafletUpperLimit',
        },
      ];

      const dataMap = reactive({
        show: true, //
        ecurrencyList: [
          {
            label: '增值税普通发票',
            value: 'PPFP',
          },
          {
            label: '增值税专用发票',
            value: 'ZZFP',
          },
          {
            label: '增值税普通电子发票',
            value: 'PPDZ',
          },
          {
            label: '增值税专用电子发票',
            value: 'ZZDP',
          },
          {
            label: '其他发票',
            value: 'QTFP',
          },
          {
            label: '不开票',
            value: 'BKFP',
          },
        ],
        ecurrencyList1: [
          {
            label: '0',
            value: '0',
          },
          {
            label: '1',
            value: '1',
          },
          {
            label: '3',
            value: '3',
          },
          {
            label: '6',
            value: '6',
          },
          {
            label: '9',
            value: '9',
          },
          {
            label: '13',
            value: '13',
          },
        ],
        tableData: [] as any[],
        cloneTableData: [] as any[],
      });
      const functionMap = reactive({
        toEdit() {
          dataMap.show = false;
        },
        toAdd() {
          dataMap.tableData.push({
            invoiceType: '',
            invoiceTaxRate: '',
            leafletUpperLimit: '',
          });
        },
        toDel(item: Object, i: number) {
          console.log(item, i);
          if (item.id) {
            let params = {
              id: item.id.toString(),
            };
            merchants.mosInvoiceRangeDelete(params).then((res) => {
              if (res.code == 200) {
                dataMap.tableData.splice(i, 1);
                dataMap.cloneTableData.splice(i, 1);
                
              }
            });
          } else {
            dataMap.tableData.splice(i, 1);
            dataMap.cloneTableData.splice(i, 1);
          }
        },
        toCancel() {
          let a = JSON.stringify(dataMap.cloneTableData)===JSON.stringify(dataMap.tableData)
          if(a) {
            dataMap.show = true;
          } else{
            Modal.warning({
              title: '提示',
              hideCancel: false,
              alignCenter: true,
              content: '信息发生了变更,是否需要保存？',
              cancelText: '取消',
              onOk:()=>{
                functionMap.toSave();
                 dataMap.show = true;
              },
              onCancel:()=>{
                dataMap.tableData =cloneDeep(dataMap.cloneTableData)
                dataMap.show = true;
              }
            });
          }

        },
        toSave() {
          if(!functionMap.invoiceChange()) return
          dataMap.tableData.forEach((item) => {
            item.relationId = route.query.id;
          });
          let params = dataMap.tableData;
          merchants.mosInvoiceRangeUp(params).then((res) => {
            if (res.code == 200) {
              functionMap.mosInvoiceRangeQuery()
              dataMap.show = true;
            }
          });
        },
        invoiceChange(){
          if(!dataMap.tableData.every(el=>el.invoiceType)) {
            Message.error("请选择发票类型")
            return false
          } 

          let arr =  dataMap.tableData.map(el=>el.invoiceType + el.invoiceTaxRate)
          if(arr.length===new Set(arr).size) {
              return true
          }
          Message.error("发票类型＋发票税率不能重复。")
          return false
        },
        mosInvoiceRangeQuery() {
          let params = {
            relationId: route.query.id,
          };
          merchants.mosInvoiceRangeQuery(params).then((res) => {
            if (res.code == 200) {
              dataMap.tableData = res.data.map(el=>{
                el.invoiceTaxRate = el.invoiceTaxRate+''
                return el
              });
                 dataMap.cloneTableData = cloneDeep(dataMap.tableData)   
            }
          });
        },
        filter1(value) {
          let Type = {
            PPFP: '增值税普通发票',
            ZZFP: '增值税专用发票',
            PPDZ: '增值税普通电子发票',
            ZZDP: '增值税专用电子发票',
            QTFP: '其他发票',
            BKFP: '不开票',
          };
          return Type[value];
        },
      });
      functionMap.mosInvoiceRangeQuery();
      return {
        columns,
        ...toRefs(dataMap),
        ...toRefs(functionMap),
      };
    },
  });
</script>
<style lang="less" scoped>
  .btn_box1 {
    display: flex;
    justify-content: flex-end;
    margin-top: 16px;
    .btn {
      width: 60px;
      height: 32px;
      border-radius: 2px;
      text-align: center;
      line-height: 32px;
    }
    .btn_edit {
      background: #2969ff;
    }
  }
  .btn_box2 {
    display: flex;
    justify-content: space-between;
    margin-top: 16px;
    .btn {
      width: 60px;
      height: 32px;
      border-radius: 2px;
      text-align: center;
      line-height: 32px;
      margin-left: 12px;
    }
    .btn_add {
      width: 80px;
    }
    .btn_cancel {
      // background: #2969ff;
    }
    .btn_save {
      // background: #2969ff;
    }
  }
</style>
