<template>
  <a-form :model="form" layout="vertical">
    <a-row class="grid-demo" :gutter="[24, 12]">
      <a-col :span="8">
        <a-form-item field="taxNo" label="税号">
          <span v-if="mouse.s1" @mouseenter="mouseLeave('s1')">{{ form.taxNo || '-' }}</span>
          <a-input v-else  @blur="mouseLeave()"  v-model="form.taxNo" ref="s1Ref" @change="s1Change" />
        </a-form-item>
      </a-col>
      <a-col :span="8">
        <a-form-item field="taxNature" label="纳税人性质">
          <span v-if="mouse.s2" @mouseenter="mouseLeave('s2')">{{
              taxNatureText || '-'
          }}</span>
          <a-select v-model="form.taxNature" placeholder="请选择" v-else :filter-option="false" allow-search
            @change="s2Change" ref="s2Ref"  @blur="blurSelect('s2')"
            @popup-visible-change="(val) => changeVisable(val, 's2')"
            >
            <a-option v-for="(item, index) in  taxNatureList" :key="item.value" :label="item.label" :value="item.value">
              {{ item.label }}</a-option>
          </a-select>
        </a-form-item>
      </a-col>
    </a-row>
  </a-form>
  <a-table :columns="columns" :data="tableData" :pagination="false">
    <template #operate="{ record, rowIndex }" v-if="!show" :width="record.width">
      <icon-close @click="toDel(record, rowIndex)" class="cp"></icon-close>
    </template>
    <template #taxNo="{ record, rowIndex }">
      <div v-if="show">{{ record.taxNo }}</div>
      <a-input v-else v-model="record.taxNo" />
    </template>
    <template #taxNature="{ record, rowIndex }">
      <div v-if="show">{{ filter1(record.taxNature) }}</div>
      <a-select v-else v-model="record.taxNature">
        <a-option v-for="item of taxNatureList" :value="item.value" :label="item.label" :key="item.value" />
      </a-select>
    </template>
    <template #address="{ record, rowIndex }">
      <div v-if="show">{{ record.address }}</div>
      <a-input v-else v-model="record.address" />
    </template>
    <template #telephone="{ record, rowIndex }">
      <div v-if="show">{{ record.telephone }}</div>
      <a-input v-else v-model="record.telephone" />
    </template>
    <template #defaultFlag="{ record, rowIndex }">
      <a-checkbox v-if="show" v-model="record.defaultFlag" disabled />
      <a-checkbox v-else v-model="record.defaultFlag" />
    </template>
  </a-table>
  <div class="btn_box1" v-if="show">
    <a-button type="primary" class="btn btn_edit" @click="toEdit">编辑</a-button>
  </div>
  <div class="btn_box2" v-else>
    <a-button type="text" class="btn_add" @click="toAdd">+ 新增</a-button>
    <div>
      <a-button class="btn btn_cancel" @click="toCancel">取消</a-button>
      <a-button type="primary" class="btn btn_save" @click="toSave">保存</a-button>
    </div>
  </div>
</template>
<script lang="ts">
import { ref, toRefs, computed, watch, defineComponent, reactive, nextTick } from 'vue';
import { merchants } from '@/api/merchants/index';
import { common } from '@/api/common/index';
import { Message, Modal } from '@arco-design/web-vue';
import { useRoute } from 'vue-router';
import { cloneDeep } from 'lodash';
export default defineComponent({
  name: 'haiguanbeian',
  // props: {
  //   info: {
  //     type: Object,
  //     default: () => {},
  //   },
  // },
  setup(props) {
    const route = useRoute();
    const columns = [
      {
        slotName: 'operate',
        title: '',
        dataIndex: '',
        width: 30,
      },
      {
        slotName: 'address',
        title: '地址',
        dataIndex: 'address',
      },
      {
        slotName: 'telephone',
        title: '电话',
        dataIndex: 'telephone',
      },
      {
        slotName: 'defaultFlag',
        title: '默认',
        dataIndex: 'defaultFlag',
      },
    ];

    const form = reactive({
      taxNo: '',
      taxNature: 1,
    })
    const taxNatureText = computed(() => {
      let text = dataMap.taxNatureList.find(e => {
        return e.value === form.taxNature
      })?.label || ""
      return text
    })
    const dataMap = reactive({
      show: true, //
      // focusFlag: false,// 是否存在聚焦状态 聚焦状态下 其余地方hover不开启输入
      taxNatureList: [
        {
          label: '一般纳税人',
          value: 1,
        },
        {
          label: '小规模纳税人',
          value: 2,
        },
      ],
      tableData: [],
      cloneTableData: [],// 用作保存数据的备份
    });
    const functionMap = reactive({
      toEdit() {
        dataMap.show = false;
      },
      toAdd() {
        dataMap.tableData.push({
          taxNo: '',
          taxNature: '',
          address: '',
          telephone: '',
          defaultFlag: dataMap.tableData.length == 0 ? true : false,
        });
      },
      toDel(item: Object, i: number) {
        if (item.id) {
          let params = {
            id: item.id.toString(),
          };
          merchants.mosInvoiceDel(params).then((res) => {
            if (res.code == 200) {
              dataMap.tableData.splice(i, 1);
              dataMap.cloneTableData = cloneDeep(dataMap.tableData)
            }
          });
        } else {
          dataMap.tableData.splice(i, 1);
          dataMap.cloneTableData = cloneDeep(dataMap.tableData)
        }
      },
      toCancel() {
          let a = JSON.stringify(dataMap.cloneTableData)===JSON.stringify(dataMap.tableData)
          if(a) {
            dataMap.show = true;
          } else{
            Modal.warning({
              title: '提示',
              hideCancel: false,
              alignCenter: true,
              content: '信息发生了变更,是否需要保存？',
              cancelText: '取消',
              onOk:()=>{
                functionMap.toSave();
                dataMap.show = true;
              },
              onCancel:()=>{
                dataMap.tableData = cloneDeep(dataMap.cloneTableData)
                dataMap.show = true;
              }
            });
          }
      },
    toSave() {
        if(!functionMap.invoiceChange()) return
        dataMap.tableData.forEach((item) => {
          item.relationId = route.query.id;
        });
        let params = {
          relationId: route.query.id,
          taxNo: form.taxNo,
          taxNature: form.taxNature,
          relationInvoiceTitleDTOS: dataMap.tableData,
        };
        merchants.mosInvoiceUp(params).then((res) => {
          if (res.code == 200) {
            dataMap.tableData = res.data || [];
            dataMap.show = true;
          } else {
            // $msg.error(res.message);
          }
        });
      },
      invoiceChange(){
        if(!dataMap.tableData.every(el=>el.address)) {
          Message.error("未填写地址")
          return false
        }
        if(!dataMap.tableData.every(el=>el.telephone)) {
          Message.error("未填写电话")
          return false
        }
        return true
      },
      mosInvoiceTitleDetailList() {
        let params = {
          relationId: route.query.id,
        };
        merchants.mosInvoiceTitleDetailList(params).then((res) => {
          if (res.code == 200) {
            dataMap.tableData = res.data;
            dataMap.cloneTableData = cloneDeep(res.data)
            if (res.data.length !== 0) {
              form.taxNo = res.data[0].taxNo
              form.taxNature = res.data[0].taxNature
            }
          }
        });
      },
      filter1(value) {
        let Type = {
          1: '一般纳税人',
          2: '小规模纳税人',
        };
        return Type[value];
      },
    });
    const mouse = reactive({
      s1: true,
      s2: true,
      vs2: false,
    })
    const s1Ref = ref<any>(null)
    const s2Ref = ref<any>(null)
    const s1Change = async (val: string) => {
      console.log('s1Change');
      functionMap.toSave()
    }
    const s2Change = async (val: string) => {
      functionMap.toSave()
    }
    const blurSelect = (val: 's1' | 's2') => {
      mouse[val] = true
    }
    const mouseLeave = async (val?: any) => {
      if (val) {
        mouse[val] = false
      } else {
        mouse.s1 = true
        if (mouse.vs2) {
          mouse.s2 = false
        } else {
          mouse.s2 = true
        }
      }
    }
    //下拉面板是否显示
    const changeVisable = (val?: any, str?: any) => {
      if (str == 's2') {
        mouse.vs2 = val
      }
      if (!val) {
        mouse[str] = true
      }
    }

    functionMap.mosInvoiceTitleDetailList();
    return {
      columns,
      ...toRefs(dataMap),
      ...toRefs(functionMap), form, mouse,
      s1Ref,
      s2Ref,
      mouseLeave,
      s1Change,
      s2Change,
      changeVisable, taxNatureText,
      blurSelect
    };
  },
});
</script>
<style lang="less" scoped>
.btn_box1 {
  display: flex;
  justify-content: flex-end;
  margin-top: 16px;

  .btn {
    width: 60px;
    height: 32px;
    border-radius: 2px;
    text-align: center;
    line-height: 32px;
  }

  .btn_edit {
    background: #2969ff;
  }
}

.btn_box2 {
  display: flex;
  justify-content: space-between;
  margin-top: 16px;

  .btn {
    width: 60px;
    height: 32px;
    border-radius: 2px;
    text-align: center;
    line-height: 32px;
    margin-left: 12px;
  }

  .btn_add {
    width: 80px;
  }

  .btn_cancel {
    // background: #2969ff;
  }

  .btn_save {
    // background: #2969ff;
  }
}
</style>
