<template>
  <div class="main">
    <a-form ref="formRef" layout="vertical" :model="info">
      <a-form-item label="企业类型" field="regType">
        <div v-if="hover1" class="item-div" @mouseenter="enterDiv('hover1')">{{
          fromData.regType || '-'
        }}</div>
        <a-input
          v-else
          @mouseenter="enterEdit('hover1')"
            ref="hover1Ref"
          @mouseleave="leaveEdit('hover1')"
            @blur="blur('hover1' )"
          v-model="fromData.regType"
          allow-clear
        />
      </a-form-item>
      <a-form-item label="注册号">
        <div v-if="hover2" class="item-div" @mouseenter="enterDiv('hover2')">{{
          fromData.regNumber || '-'
        }}</div>
        <a-input
          v-else
          @mouseenter="enterEdit('hover2')"
          @mouseleave="leaveEdit('hover2')"
          v-model="fromData.regNumber"
            ref="hover2Ref"
            @blur="blur('hover2' )"
          allow-clear
        />
      </a-form-item>
      <a-form-item label="登记机关" field="regOrgName">
        <div v-if="hover3" class="item-div" @mouseenter="enterDiv('hover3')">{{
          fromData.regOrgName || '-'
        }}</div>
        <a-input
          v-else
          ref="hover3Ref"
          @blur="blur('hover3' )"
          @mouseenter="enterEdit('hover3')"
          @mouseleave="leaveEdit('hover3')"
          v-model="fromData.regOrgName"
          allow-clear
        />
      </a-form-item>
      <a-form-item label="法人代表" field="faRen">
        <div v-if="hover4" class="item-div" @mouseenter="enterDiv('hover4')">{{
          fromData.faRen || '-'
        }}</div>
        <a-input
          v-else
          @mouseenter="enterEdit('hover4')"
          @mouseleave="leaveEdit('hover4')"
          v-model="fromData.faRen"
                    ref="hover4Ref"
          @blur="blur('hover4' )"
          allow-clear
        />
      </a-form-item>
      <a-form-item label="经营状态" field="businessStatus">
        <div v-if="hover5" class="item-div" @mouseenter="enterDiv('hover5')">{{
          fromData.businessStatus || '-'
        }}</div>
        <a-input
          v-else
          @mouseenter="enterEdit('hover5')"
          @mouseleave="leaveEdit('hover5')"
          v-model="fromData.businessStatus"
          ref="hover5Ref"
          @blur="blur('hover5' )"
          allow-clear
        />
      </a-form-item>
      <a-form-item
        label="注册日期"
        field="issueTime"
     
      >
        <div v-if="hover6" class="item-div"
         @mouseenter="enterDiv('hover6')"
        >{{
          fromData.issueTime || '-'
        }}</div>
        <a-date-picker v-else v-model="fromData.issueTime" 
          ref="hover6Ref"
          @blur="blur('hover6' )"
          @mouseenter="enterEdit('hover6')"
          @mouseleave="leaveEdit('hover6')"
        />
      </a-form-item>
      <a-form-item label="营业期限" field="bussiness" >
        <div v-if="hover7" class="item-div" 
         @mouseenter="enterDiv('hover7')"
        >{{
       bussinessFilter(fromData.bussiness)   || '-'
        }}</div>
       <a-range-picker
          v-else
          ref="hover7Ref"
          v-model="fromData.bussiness"
          @blur="blur('hover7')"
          @mouseenter="enterEdit('hover7')"
          @mouseleave="leaveEdit('hover7')"
   />

      </a-form-item>
      <a-form-item label="人员规模" field="personSize">
        <div v-if="hover8" class="item-div" @mouseenter="enterDiv('hover8')">{{
          fromData.personSize || '-'
        }}</div>
        <a-input
          v-else
          @mouseenter="enterEdit('hover8')"
          @mouseleave="leaveEdit('hover8')"
          ref="hover8Ref"
          @blur="blur('hover8' )"
          v-model="fromData.personSize"
          allow-clear
        />
      </a-form-item>
      <a-form-item label="注册币别" field="issueCurrency">
        <div v-if="hover9" class="item-div" @mouseenter="enterDiv('hover9')">{{
          fromData.issueCurrency || '-'
        }}</div>
        <a-input
          v-else
          @mouseenter="enterEdit('hover9')"
          @mouseleave="leaveEdit('hover9')"
          v-model="fromData.issueCurrency"
          ref="hover9Ref"
          @blur="blur('hover9' )"
          allow-clear
        />
      </a-form-item>
      <a-form-item label="注册资本" field="regMoney">
        <div
          v-if="hover10"
          class="item-div"
          @mouseenter="enterDiv('hover10')"
          >{{ fromData.regMoney || '-' }}</div
        >
        <a-input
          v-else
          @mouseenter="enterEdit('hover10')"
          @mouseleave="leaveEdit('hover10')"
          v-model="fromData.regMoney"
          ref="hover10Ref"
          @blur="blur('hover10' )"
          allow-clear
        />
      </a-form-item>
      <a-form-item label="所属地区" field="areaName">
        <div
          v-if="hover11"
          class="item-div"
          @mouseenter="enterDiv('hover11')"
          >{{ fromData.areaName || '-' }}</div
        >
        <a-input
          v-else
          @mouseenter="enterEdit('hover11')"
          @mouseleave="leaveEdit('hover11')"
          v-model="fromData.areaName"
          ref="hover11Ref"
          @blur="blur('hover11' )"
          allow-clear
        />
      </a-form-item>
      <a-form-item label="固定电话" field="phone">
        <div
          v-if="hover12"
          class="item-div"
          @mouseenter="enterDiv('hover12')"
          >{{ fromData.phone || '-' }}</div
        >
        <a-input
          v-else
          @mouseenter="enterEdit('hover12')"
          @mouseleave="leaveEdit('hover12')"
          ref="hover12Ref"
          @blur="blur('hover12' )"
          v-model="fromData.phone"
          allow-clear
        />
      </a-form-item>
      <a-form-item label="公司地址" field="address">
        <div
          v-if="hover13"
          class="item-div"
          @mouseenter="enterDiv('hover13')"
          >{{ fromData.address || '-' }}</div
        >
        <a-input
          v-else
          @mouseenter="enterEdit('hover13')"
          @mouseleave="leaveEdit('hover13')"
          ref="hover13Ref"
          @blur="blur('hover13' )"
          v-model="fromData.address"
          allow-clear
        />
      </a-form-item>
      <a-form-item label="邮箱" field="email">
        <div
          v-if="hover14"
          class="item-div"
          @mouseenter="enterDiv('hover14')"
          >{{ fromData.email || '-' }}</div
        >
        <a-input
          v-else
          @mouseenter="enterEdit('hover14')"
          @mouseleave="leaveEdit('hover14')"
          v-model="fromData.email"
          ref="hover14Ref"
          @blur="blur('hover14' )"
          allow-clear
        />
      </a-form-item>
      <a-form-item label="网址" field="webSite">
        <div
          v-if="hover15"
          class="item-div"
          @mouseenter="enterDiv('hover15')"
          >{{ fromData.webSite || '-' }}</div
        >
        <a-input
          v-else
          @mouseenter="enterEdit('hover15')"
          @mouseleave="leaveEdit('hover15')"
          ref="hover15Ref"
          @blur="blur('hover15' )"
          v-model="fromData.webSite"
          allow-clear
        />
      </a-form-item>
      <a-form-item label="经营范围" field="bussinessDes" class="w100">
        <div
          v-if="hover16"
          class="item-div"
          @mouseenter="enterDiv('hover16')"
          >{{ fromData.bussinessDes || '-' }}</div
        >
        <a-textarea
          v-else
          @mouseenter="enterEdit('hover16')"
          @mouseleave="leaveEdit('hover16')"
          ref="hover16Ref"
          @blur="blur('hover16' )"
          v-model="fromData.bussinessDes"
          auto-size
          allow-clear
        />
      </a-form-item>
    </a-form>
  </div>
</template>
<script lang="ts">
  import {
    ref,
    toRefs,
    computed,
    watch,
    defineComponent,
    reactive,
    reactive,
  } from 'vue';
  import { merchants } from '@/api/merchants/index';
  import { common } from '@/api/common/index';
  import { Message, Modal } from '@arco-design/web-vue';
  import { useRoute } from 'vue-router';
  export default defineComponent({
    name: 'zhizhaoxinxi',
    // props: {
    //   costData: {
    //     type: Array,
    //     default: () => [],
    //   },
    //   info: {
    //     type: Object,
    //     default: () => {},
    //   },
    // },
    setup(props) {
      const route = useRoute();
      const fromData = ref({
        regType: '', //企业类型
        regNumber: '', //注册号
        regOrgName: '', //登记机关
        faRen: '', //法人代表
        businessStatus: '', //经营状态
        issueTime: '', //注册日期
        bussiness: '', //营业期限
        personSize: '', //人员规模
        issueCurrency: '', //注册币别
        regMoney: '', //注册资本
        areaName: '', //所属地区
        phone: '', //固定电话
        address: '', //公司地址
        email: '', //邮箱
        webSite: '', //网址
        bussinessDes: '', //经营范围
      });
      const mosRelationLience = () => {
        merchants
          .mosRelationLience({ relationId: route.query.id })
          .then((res) => {
            if (res.code == 200) {
              fromData.value = res.data;
              let bussiness =fromData.value.bussiness.split(' 至 ') 
              if(bussiness.length>1){
              fromData.value.bussiness = bussiness
              }else{
              fromData.value.bussiness = []
              }
            }
          });
      };
      mosRelationLience();
      const  hover1Ref = ref<any>(null)
      const  hover2Ref = ref<any>(null)
      const  hover3Ref = ref<any>(null)
      const  hover4Ref = ref<any>(null)
      const  hover5Ref = ref<any>(null)
      const  hover6Ref = ref<any>(null)
      const  hover7Ref = ref<any>(null)
      const  hover8Ref = ref<any>(null)
      const  hover9Ref = ref<any>(null)
      const  hover10Ref = ref<any>(null)
      const  hover11Ref = ref<any>(null)
      const  hover12Ref = ref<any>(null)
      const  hover13Ref = ref<any>(null)
      const  hover14Ref = ref<any>(null)
      const  hover15Ref = ref<any>(null)
      const  hover16Ref = ref<any>(null)
      const  hover20Ref = ref<any>(null)
      const hoverRef = [
        hover1Ref,hover2Ref,hover3Ref,hover4Ref,hover5Ref,hover6Ref,hover7Ref,hover8Ref,hover9Ref,hover10Ref,hover11Ref,hover12Ref,hover13Ref,hover14Ref,hover15Ref,hover16Ref,hover20Ref
      ]
      const hoverObj = reactive({
        hover1: true, //
        hover2: true, //
        hover3: true, //
        hover4: true, //
        hover5: true, //
        hover6: true, //
        hover7: true, //
        hover8: true, //
        hover9: true, //
        hover10: true, //
        hover11: true, //
        hover12: true, //
        hover13: true, //
        hover14: true, //
        hover15: true, //
        hover16: true, //
        hover20: true, //
      });
      const functionMap = reactive({
        enterDiv(m: any) {
          // hoverObj.hover1 = false;
          hoverObj[m] = false;
        },
        enterEdit(m: any) {
          hoverObj[m] = false;
        },
        leaveEdit(m: any, y?: any, f?: any) {
          let index = m.split('hover')[1]
          let actRef = hoverRef[index-1]
          if(!actRef) return
          let el = actRef.value.$el
          if(!el) return 
            let element:any = null
            if(el.querySelector){
               element = el.querySelector('input')
            }
            if(!element){
              element = el.nextElementSibling?.querySelector('input')
            }
          if(element=== document.activeElement) return
            hoverObj[m] = true
        },
        blur(m: any, y?: any, f?: any) {
            hoverObj[m] = true;
           functionMap.mosSaveLience();
        },
        bussinessFilter(bussiness:any){
          if(!bussiness) return ''
          return bussiness.join(' 至 ')
        },
        mosSaveLience() {
          let params = {
            relationId: route.query.id,
            regType: fromData.value.regType, //企业类型
            regNumber: fromData.value.regNumber, //注册号
            regOrgName: fromData.value.regOrgName, //登记机关
            faRen: fromData.value.faRen, //法人代表
            businessStatus: fromData.value.businessStatus, //经营状态
            issueTime: fromData.value.issueTime, //注册日期
            bussiness: typeof fromData.value.bussiness==='object'?fromData.value.bussiness.join(' 至 '):fromData.value.bussiness, //营业期限
            personSize: fromData.value.personSize, //人员规模
            issueCurrency: fromData.value.issueCurrency, //注册币别
            regMoney: fromData.value.regMoney, //注册资本
            areaName: fromData.value.areaName, //所属地区
            phone: fromData.value.phone, //固定电话
            address: fromData.value.address, //公司地址
            email: fromData.value.email, //邮箱
            webSite: fromData.value.webSite, //网址
            bussinessDes: fromData.value.bussinessDes, //经营范围
          };
          merchants.mosSaveLience(params).then((res) => {
            if (res.code == 200) {
              // dataMap.tabData = res.data || [];
            }
          });
        },
      });
      const license = reactive({
        regType: '', //企业类型
        regNumber: '', //注册号
        regOrgName: '', //登记机关
        faRen: '', //法人代表
        businessStatus: '', //经营状态
        issueTime: '', //注册日期
        bussiness:[], //营业期限
        personSize: '', //人员规模
        issueCurrency: '', //注册币别
        regMoney: '', //注册资本
        areaName: '', //所属地区
        phone: '', //固定电话
        address: '', //公司地址
        email: '', //邮箱
        webSite: '', //网址
        bussinessDes: '', //经营范围
      });

      return {
        // ...toRefs(props),
        hover1Ref,hover2Ref,hover3Ref,hover4Ref,hover5Ref,hover6Ref,hover7Ref,hover8Ref,hover9Ref,hover10Ref,hover11Ref,hover12Ref,hover13Ref,hover14Ref,hover15Ref,hover16Ref,hover20Ref,
        fromData,
        ...toRefs(hoverObj),
        ...toRefs(functionMap),
        license,
      };
    },
  });
</script>
<style lang="less" scoped>
  .main {
    display: flex;
  }
  .arco-form {
    widows: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    // padding-right: 38px;
    .arco-form-item {
      flex: 1 1 calc((100% - 90px) / 4);
      max-width: calc((100% - 30px) / 4);
      overflow: hidden;
      margin-top: 24px;
      margin-bottom: 0;
      padding-right: 0px;
      margin-right: 30px;
      :deep .arco-form-item-label-col {
        margin-bottom: 4px;
      }
      &:nth-of-type(4n) {
        margin-right: 0px;
      }
      .item-div {
        width: 100%;
        height: 100%;
      }
    }
    .w100 {
      flex: 1 1 100%;
      max-width: 100%;
    }
    .arco-input-wrapper {
      width: 100%;
    }
    :deep .arco-select {
      width: 100%;
    }
    :deep .arco-picker {
      width: 100%;
    }
    :deep .arco-textarea-wrapper {
      width: 100%;
    }
  }
</style>
