<template>
  <a-input
    :style="{ width: '320px' }"
    v-model="keyWord"
    class="search"
    placeholder="搜索关键字"
    allow-clear
    @change="change"
  >
    <template #prefix>
      <icon-search />
    </template>
  </a-input>
<!-- 

    <div class="box">
    <div class="box-left color1">收货人</div>
    <div class="box-right">
      <div class="item" v-for="item in tabData" :key="item.content">
        <a-tooltip
          :content="item.content"
          position="tl"
          background-color="black"
        >
          <div class="item-content">{{ item.content }}</div></a-tooltip
        >
        <div class="item-icon" @click="mosRiseDel(item)"
          ><icon-close class="cp"></icon-close>
        </div>
      </div>
    </div>
  </div>
 -->

   <div class="box" v-for="(tab,i) in tabList" :key="tab.label">
    <div class="box-left" :class="`color${i+1}`">{{tab.label}}</div>
    <div class="box-right">
      <div class="item" v-for="item in tab.tabData" :key="item.content">
        <a-tooltip
          :content="item.content"
          position="tl"
          background-color="black"
        >
          <div class="item-content">{{ item.content }}</div></a-tooltip
        >
        <div class="item-icon" @click="mosRiseDel(item)"
          ><icon-close class="cp"></icon-close>
        </div>
      </div>
    </div>
  </div>
</template>
<script lang="ts">
  import { ref, toRefs, computed, watch, defineComponent, reactive } from 'vue';
  import { merchants } from '@/api/merchants/index';
  import { common } from '@/api/common/index';
  import { Message, Modal } from '@arco-design/web-vue';
  import { useRoute } from 'vue-router';
  export default defineComponent({
    name: 'haiguanbeian',
    setup(props) {
      const route = useRoute();
      const dataMap = reactive({
        show: true, //
        keyWord: '',
        tabList:[] as any[], 
        tabData:[] as any[], 
      });
      const functionMap = reactive({
        change(val) {
          console.log(val);
          functionMap.mosRiseList();
        },
        mosRiseList() {
          let params = {
            realtionId: route.query.id,
            keyWord: dataMap.keyWord,
          };
          merchants.mosRiseList(params).then((res) => {
            if (res.code == 200) {
              dataMap.tabData = res.data || [];
              /* type	integer	: 1-收货人 2-发货人 3-通知人 */
              let arr = ['收货人','发货人','通知人']
              dataMap.tabList = arr.map((el:any,i:number)=>{
                return {
                  label:el,
                  tabData:dataMap.tabData.filter((v:any)=>{
                    return v.type==i+1
                  })
                }
              })
            }
          });
        },
        mosRiseDel(item) {
          let params = {
            id: item.id.toString(),
          };
          merchants.mosRiseDel(params).then((res) => {
            if (res.code == 200) {
              functionMap.mosRiseList();
            }
          });
        },
      });
      functionMap.mosRiseList();
      return {
        ...toRefs(dataMap),
        ...toRefs(functionMap),
      };
    },
  });
</script>
<style lang="less" scoped>
  .search {
    margin-bottom: 20px;
  }
  .box {
    display: flex;
    .color1 {
      background: #e8ffea;
    }
    .color2 {
      background: #e8f7ff;
    }
    .color3 {
      background: #f5e8ff;
    }
    .box-left {
      width: 66px;
      height: 40px;
      text-align: center;
      line-height: 40px;
      margin-right: 12px;
      font-weight: 500;
      font-size: 14px;
      color: #212121;
    }
    .box-right {
      display: flex;
      flex: 1;
      flex-wrap: wrap;
      .item {
        display: flex;
        flex: 1 1 262px;
        justify-content: space-between;
        align-items: center;
        width: 262px;
        max-width: 262px;
        height: 40px;
        padding: 12px;
        background: #f7f8fa;
        border-radius: 2px;
        margin-right: 85px;
        margin-bottom: 24px;
        font-size: 14px;
        color: #212121;
        .item-content {
          width: 208px;
          // line-height: 40px;
          overflow: hidden; /* 移除隐藏 */
          text-overflow: ellipsis; /* 省略号 */
          white-space: nowrap; /* 禁止文字自动换行 */
        }
        .item-icon {
          width: 8px;
          height: 8px;
          display: flex;
          align-items: center;
          cursor: pointer;
        }
      }
    }
  }
</style>
