<template>
  <a-modal
    v-model:visible="visible"
    :mask-closable="false"
    :width="800"
    @before-ok="handleSubmit"
    unmountOnClose
    :ok-loading="false"
  >
    <template #title> 门点信息 </template>
    <a-form ref="formRef" layout="vertical" :model="fromData" v-if="visible">
      <p class="w100">门点地址</p>
      <a-form-item field="provinceId" class="w25">
        <a-select v-model="fromData.provinceId" placeholder="省" allow-search>
          <a-option
            v-for="item in provinceIdList"
            :key="item.provinceId"
            :label="item.provinceName"
            :value="item.provinceId"
          />
        </a-select>
      </a-form-item>
      <a-form-item label="" field="cityId" class="w25">
        <a-select v-model="fromData.cityId" placeholder="市" allow-search>
          <a-option
            v-for="item in cityList"
            :key="item.cityId"
            :label="item.cityName"
            :value="item.cityId"
          />
        </a-select>
      </a-form-item>
      <a-form-item field="countyId" class="w25">
        <a-select v-model="fromData.countyId" placeholder="区" allow-search>
          <a-option
            v-for="item in countyList"
            :key="item.countyId"
            :label="item.countyName"
            :value="item.countyId"
          />
        </a-select>
      </a-form-item>
      <a-form-item field="townshipId" class="w25">
        <a-select v-model="fromData.townshipId" placeholder="街道" allow-search>
          <a-option
            v-for="item in townshipList"
            :key="item.townshipId"
            :label="item.townshipName"
            :value="item.townshipId"
          />
        </a-select>
      </a-form-item>
      <a-form-item label="详细地址" field="address">
        <a-input
          class="address"
          v-model.number="fromData.address"
          placeholder="请输入带有“道路名+门牌号”的地址"
          allow-clear
        />
      </a-form-item>
      <a-form-item label="其它运输要求" field="remark">
        <a-textarea
          v-model="fromData.remark"
          class="remark"
          placeholder="请输入"
          allow-clear
        />
      </a-form-item>
    </a-form>
    <p class="title">联系人明细</p>
    <a-table :columns="columns" :data="contactList" :pagination="false">
      <template #operate="{ record, rowIndex }">
        <!-- <i
        class="iconfont icon-qingchuneirong16px1px"
        @click="toDel(record, rowIndex)"
      ></i> -->
        {{ rowIndex + 1 }}
      </template>
      <template #fullName="{ record, rowIndex }">
        <a-input v-model="record.fullName" />
      </template>
      <template #mobilePhone="{ record, rowIndex }">
        <a-input v-model="record.mobilePhone" />
      </template>
      <template #defaultFlag="{ record, rowIndex }">
        <a-radio v-model="defaultFlagId" :value="record.id"  />
      </template>
      <template #del="{ record, rowIndex }">
        <icon-close @click="del(record, rowIndex)" class="cp"></icon-close>
      </template>
    </a-table>
    <div class="btn_box2">
      <a-button type="text" class="btn_add" @click="add">+ 新增</a-button>
    </div>
  </a-modal>
</template>
<script lang="ts">
  import {
    defineComponent,
    ref,
    watch,
    reactive,
    h,
    toRefs,
    computed,
    onMounted,
    nextTick,
  } from 'vue';
  import { receiptDocumentsApi } from '@/api/receiptDocumentsApi/index';
  import { merchants } from '@/api/merchants/index';
  import { common } from '@/api/common/index';
  import { useRoute } from 'vue-router';
  import itemVue from '@/components/menu/item.vue';
  import { Message } from '@arco-design/web-vue';
  export default defineComponent({
    props: {
      // emailID: {
      //   type: String || Number,
      //   default: '' || 0,
      // },
      // emailDetail: {
      //   type: Object,
      //   default: {},
      // },
    },

    setup(props, { attrs, emit, slots }) {
      const route = useRoute();
      const visible = ref(false);
      let idCount = 0;
      const columns = [
        {
          slotName: 'operate',
          title: '#',
          dataIndex: '',
        },
        {
          slotName: 'fullName',
          title: '联系人',
          dataIndex: 'fullName',
        },
        {
          slotName: 'mobilePhone',
          title: '电话',
          dataIndex: 'mobilePhone',
        },
        {
          slotName: 'defaultFlag',
          title: '默认',
          dataIndex: 'defaultFlag',
        },
        {
          slotName: 'del',
          title: '删除',
          dataIndex: '',
        },
      ];
      const dataMap = reactive({
        detail: {},
        orderLogisticsNo: '',
        defaultFlagId: '',
        emailID: '',
        contactList: [] as any[] ,
        fromData: {
          storeAddress: '',
          province: '',
          provinceId: '',
          city: '',
          cityId: '',
          county: '',
          countyId: '',
          township: '',
          townshipId: '',
          address: '',
          remark: '',
        },
        provinceIdList: [],
        cityList: [],
        countyList: [],
        townshipList: [],
        storeAddressList: [],
        defultFlag: false,
        iddd: null,
      });
      // watch(
      //   () => props.emailDetail,
      //   (newval, oldval) => {
      //   },
      //   { immediate: false, deep: true }
      // );
      const functionMap = reactive({
        show(val) {
          if (val) {
            nextTick().then(()=>{

            dataMap.fromData.storeAddress =
              val.province + val.city + val.county + val.township + val.address;
            dataMap.fromData.province = val.province;
            dataMap.fromData.provinceId = val.provinceId;
            dataMap.fromData.city = val.city;
            dataMap.fromData.cityId = val.cityId;
            dataMap.fromData.county = val.county;
            dataMap.fromData.countyId = val.countyId;
            dataMap.fromData.township = val.township;
            dataMap.fromData.townshipId = val.townshipId;
            dataMap.fromData.address = val.address;
            dataMap.fromData.remark = val.remark;
            dataMap.iddd = val.id;
            dataMap.defultFlag = val.defultFlag;
            dataMap.contactList = val.contactList;
            dataMap.defaultFlagId = val.contactList.find(e=>e.defaultFlag)?.id||""
            })
          }else{
            dataMap.fromData.storeAddress =''
            dataMap.fromData.province = ''
            dataMap.fromData.provinceId = ''
            dataMap.fromData.city = ''
            dataMap.fromData.cityId = ''
            dataMap.fromData.county = ''
            dataMap.fromData.countyId = ''
            dataMap.fromData.township = ''
            dataMap.fromData.townshipId = ''
            dataMap.fromData.address = ''
            dataMap.fromData.remark = ''
            dataMap.iddd = null
            dataMap.defultFlag = false
            dataMap.contactList = []
          }

          visible.value = true;
        },
        add() {
          let nId = `new_${idCount++}`
          dataMap.contactList.push({
            fullName: '',
            mobilePhone: '',
            // defaultFlag: dataMap.contactList.length == 0&&dataMap.defaultFlagId==0,
            id:nId
          });
          if(dataMap.defaultFlagId == ''){
            dataMap.defaultFlagId = nId
          }
        },
        del(item, index) {
          dataMap.contactList.splice(index, 1);
          if(dataMap.contactList.length!=0){
            dataMap.defaultFlagId = dataMap.contactList[0].id
          }
        },
        handleSubmit(done) {
          let contactListFlag = false
          let contactList = dataMap.contactList.filter((item) => {
            if((item.fullName&&!item.mobilePhone)||(item.mobilePhone&&!item.fullName)) contactListFlag = true
            return item.fullName && item.mobilePhone;
          });
          if(contactListFlag) {
             Message.error("门点联系人和电话为必填项")
             done(false)
            return 
          }
          contactList = contactList.map(el=>{
            el.defaultFlag = dataMap.defaultFlagId==el.id?1:0
            return el
          })

          let province;
          dataMap.provinceIdList.forEach((item) => {
            if (dataMap.fromData.provinceId == item.provinceId) {
              province = item.provinceName;
            }
          });
          let city;
          dataMap.cityList?.forEach((item) => {
            if (dataMap.fromData.cityId == item.cityId) {
              city = item.cityName;
            }
          });
          let county;
          dataMap.countyList?.forEach((item) => {
            if (dataMap.fromData.countyId == item.countyId) {
              county = item.countyName;
            }
          });
          let township;
          dataMap.townshipList?.forEach((item) => {
            if (dataMap.fromData.townshipId == item.townshipId) {
              township = item.townshipName;
            }
          });

          let params = {
            relationId: route.query.id,
            province: province,
            provinceId: dataMap.fromData.provinceId,
            city: city,
            cityId: dataMap.fromData.cityId,
            county: county,
            countyId: dataMap.fromData.countyId,
            township: township,
            townshipId: dataMap.fromData.townshipId,
            address: dataMap.fromData.address,
            remark: dataMap.fromData.remark,
            defultFlag: dataMap.defultFlag,
            id: dataMap.iddd,
            contactList: contactList,
          };
          // formRef.value.validate((error, values) => {
          //   if (!error) {
          //     save();
          //   } else {
          //     return;
          //   }
          // });
          merchants.mosSaveRelationDoorInfo(params).then((res) => {
            // dataMap.searchPortData = res.data;
            if (res.code == 200) {
              emit('update');
              done();
            } else {
              done(false);
            }
          });
        },
        toDel(item) {},
        deleteItem(item) {},
      });

      const handleOk = () => {};
      //省市区
      const mosProvince = async () => {
        const { data } = await common.getProvince({});
        dataMap.provinceIdList = data;
      };
      mosProvince();
      const getCity = async (val: any) => {
        const { data } = await common.getCity({ provinceId: val || 0 });
        dataMap.cityList = data;
      };
      const getCounty = async (val: any) => {
        const { data } = await common.getCounty({ cityId: val || 0 });
        dataMap.countyList = data;
      };
      const getTownship = async (val: any) => {
        const { data } = await common.getTownship({ countyId: val || 0 });
        dataMap.townshipList = data;
      };
      watch(
        () => dataMap.fromData.provinceId,
        (newval, oldval) => {
          getCity(newval);
          if (newval !== oldval && oldval !== '') {
            dataMap.fromData.cityId = '';
            dataMap.fromData.countyId = '';
            dataMap.fromData.townshipId = '';
          }
        },
        { immediate: false, deep: true }
      );

      watch(
        () => dataMap.fromData.cityId,
        (newval, oldval) => {
          getCounty(newval);
          if (newval !== oldval && oldval !== '') {
            dataMap.fromData.countyId = '';
            dataMap.fromData.townshipId = '';
          }
        },
        { immediate: false, deep: true }
      );
      watch(
        () => dataMap.fromData.countyId,
        (newval, oldval) => {
          getTownship(newval);
          if (newval !== oldval && oldval !== '') {
            dataMap.fromData.townshipId = '';
          }
        },
        { immediate: false, deep: true }
      );
      const formRef = ref(null);
      return {
        visible,
        columns,
        ...toRefs(dataMap),
        ...toRefs(functionMap),
        formRef,
        handleOk,
      };
    },
  });
</script>
<style lang="less" scoped>
  .arco-form {
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    .w100 {
      width: 100%;
      margin-top: 0px;
      margin-bottom: 0px;
      color: var(--color-text-2);
      font-size: 14px;
      white-space: normal;
    }
    .arco-form-item {
      :deep .arco-form-item-label-col {
        margin-bottom: 4px;
      }
      :deep .arco-picker,
      .arco-select {
        width: 100%;
        // padding-right: 0;
      }
    }
    .w25 {
      width: 25%;
    }
    .address,
    .remark {
      width: 60%;
    }
  }
  .title {
    margin-top: 0px;
    margin-bottom: 0px;
    color: var(--color-text-2);
    font-size: 14px;
    white-space: normal;
  }
  .btn_box2 {
    display: flex;
    justify-content: space-between;
    margin-top: 16px;
    .btn {
      width: 60px;
      height: 32px;
      border-radius: 2px;
      text-align: center;
      line-height: 32px;
      margin-left: 12px;
    }
    .btn_add {
      width: 80px;
    }
  }
  .fujian {
    color: var(--color-text-2);
    font-size: 14px;
    margin-top: 0;
    margin-bottom: 4px;
  }
</style>
