<template>
  <a-table :columns="columns" :data="tableData" :pagination="false">
    <template #operate="{ record, rowIndex }">
      <!-- <div class="df">
        <icon-edit class="cp" @click="edit(record)"></icon-edit>
        <icon-close class="cp ml8" @click="del(record)"></icon-close
      ></div> -->
      <a-dropdown trigger="click" position="bl">
        <a-button size="mini">
          <template #icon>
            <icon-more-vertical />
          </template>
        </a-button>
        <template #content>
          <a-doption @click="edit(record)">编辑</a-doption>
          <a-doption @click="del(record)">删除</a-doption>
        </template>
      </a-dropdown>
    </template>
    <template #store="{ record, rowIndex }" :width="record.width">
      {{ record.province }}{{ record.city }}{{ record.county
      }}{{ record.township }}
    </template>
    <template #defaultFlag="{ record, rowIndex }">
      <a-radio v-model="defaultFlagId" :value="record.id"  @change="saveDefault" />
    </template>
  </a-table>

  <div class="btn_box2">
    <a-button type="text" class="btn_add" @click="toAdd">+ 新增</a-button>
  </div>
  <store-dialog ref="storeDialogRef" @update="update"></store-dialog>
</template>
<script lang="ts">
  import { ref, toRefs, computed, watch, defineComponent, reactive } from 'vue';
  import { merchants } from '@/api/merchants/index';
  import { common } from '@/api/common/index';
  import { Message, Modal } from '@arco-design/web-vue';
  import { useRoute } from 'vue-router';
  import storeDialog from './storeDialog.vue';
  export default defineComponent({
    name: 'haiguanbeian',
    // props: {
    //   info: {
    //     type: Object,
    //     default: () => {},
    //   },
    // },
    components: {
      storeDialog,
    },
    setup(props) {
      const route = useRoute();
      const columns = [
        {
          slotName: 'operate',
          title: '#',
          dataIndex: 'index',
          width: 50,
        },
        {
          slotName: 'store',
          title: '门点',
          dataIndex: 'store',
          width: 200,
        },
        {
          slotName: 'address',
          title: '详细地址',
          dataIndex: 'address',
          width: 200,
        },
        {
          slotName: 'contact',
          title: '默认联系人/手机',
          dataIndex: 'contact',
          width: 150,
        },
        {
          slotName: 'remark',
          title: '其他运输要求',
          dataIndex: 'remark',
          width: 150,
        },
        {
          slotName: 'defaultFlag',
          title: '默认',
          dataIndex: 'defaultFlag',
          width: 100,
        },
      ];

      const dataMap = reactive({
        show: true, //
        defaultFlagId: 0,
        tableData: [],
      });
      const functionMap = reactive({
        toEdit() {
          dataMap.show = false;
        },
        toAdd() {
          storeDialogRef.value.show();
        },
        edit(item) {
          storeDialogRef.value.show(item);
        },
        del(row) {
          let params = {
            id: row.id.toString(),
          };
          merchants.mosDeleteRelationDoor(params).then((res) => {
            if (res.code == 200) {
              dataMap.tableData = res.data || [];
            }
          });
        },
        update() {
          functionMap.mosDoorList();
        },
        mosDoorList() {
          let params = {
            relationId: route.query.id,
          };
          merchants.mosDoorList(params).then((res) => {
            if (res.code == 200) {
              dataMap.tableData = res.data || [];
              dataMap.tableData = dataMap.tableData.map(el=>{
                // el.contactList
                let defaultContact = el.contactList.find(e=>e.defaultFlag)
                if(defaultContact){
                  el.contact = `${defaultContact.fullName||""}/${defaultContact.mobilePhone||''}`
                }
                return  el
              })
              dataMap.defaultFlagId = dataMap.tableData.find(e=>e.defaultFlag)?.id||0

            }
          });
        },
        saveDefault(val){
          merchants.mosRelationDoorDefaultBank({id:val})
        },
      });
      functionMap.mosDoorList();
      const storeDialogRef = ref(null);
      return {
        columns,
        ...toRefs(dataMap),
        ...toRefs(functionMap),
        storeDialogRef,
      };
    },
  });
</script>
<style lang="less" scoped>
  .df {
    display: flex;
    .ml8 {
      margin-left: 8px;
    }
  }
  .btn_box2 {
    display: flex;
    justify-content: space-between;
    margin-top: 16px;
    .btn {
      width: 60px;
      height: 32px;
      border-radius: 2px;
      text-align: center;
      line-height: 32px;
      margin-left: 12px;
    }
    .btn_add {
      width: 80px;
    }
    .btn_cancel {
      // background: #2969ff;
    }
    .btn_save {
      // background: #2969ff;
    }
  }
</style>
