<template>
  <a-modal
    v-model:visible="visible"
    :on-before-ok="handleBeforeOk"
    :on-before-cancel="onCancelFn"
    :mask-closable="false"
    modal-class="tab-view-modal"
    :modal-style="{ width: '1000px' }"
    :body-style="{
      padding: '24px 0 0',
    }"
    unmountOnClose
  >
    <!-- @cancel="handleCancel"  -->
    <template #title>
      {{ title }}
    </template>
    <div class="tabViewName">
      <!-- {{trendsColumns}} -->
      <a-form
        ref="formRef"
        :model="basicFormData"
        layout="vertical"
        :style="{ 'width': '100%', 'margin-bottom': '0' }"
        @submit="handleSubmit"
      >
        <a-row :gutter="72">
          <a-col :span="8">
            <a-form-item
              field="costItemCname"
              label="费用名称"
              label-col-flex="100px"
              :rules="[{ required: true, message: '' }]"
            >
              <a-input v-model="basicFormData.costItemCname" disabled />
            </a-form-item>
          </a-col>
          <a-col
            :span="8"
            v-for="(item, index) in showTrendsColumns"
            :key="index"
          >
            <!-- {{ item }} -->
            <a-form-item
              field="portId"
              :label="item.title"
              label-col-flex="80px"
              v-if="item.dataIndex == 'portCname'"
              :rules="[{ required: true, message: '请选择港口' }]"
            >
              <!-- 港口 -->
              <a-select
                allow-clear
                allow-search
                placeholder="请选择港口"
                v-model="basicFormData.portId"
                @change="getSelectPort"
              >
                <a-option
                  v-for="(item, index) in portOption"
                  :key="index"
                  :label="item.seaportName"
                  :value="item.seaportId"
                ></a-option>
              </a-select>
            </a-form-item>
            <!-- 港区 -->
            <a-form-item
              field="portAreaCname"
              :label="item.title"
              label-col-flex="80px"
              v-if="item.dataIndex == 'portAreaCname'"
              :rules="[{ required: true, message: '请选择港区' }]"
            >
              <a-select
                allow-clear
                placeholder="请选择港区"
                v-model="basicFormData.portAreaCname"
                @change="getMosPort"
              >
                <a-option
                  v-for="(item, index) in mosPortAreaOptions"
                  :key="index"
                  :label="item.mosPortArea"
                  :value="item.mosPortArea"
                ></a-option>
              </a-select>
            </a-form-item>
            <!-- 箱型 -->
            <a-form-item
              field="containerSize"
              :label="item.title"
              label-col-flex="80px"
              v-if="item.dataIndex == 'containerSize'"
              :rules="[{ required: true, message: '请选择箱型' }]"
            >
              <a-select
                allow-clear
                placeholder="请选择箱型"
                v-model="basicFormData.containerSize"
              >
                <a-option
                  v-for="(item, index) in containerSizeOption"
                  :key="index"
                  :label="item.codeName"
                  :value="item.codeName"
                ></a-option>
              </a-select>
            </a-form-item>
            <!-- 箱类 -->
            <a-form-item
              field="containerType"
              :label="item.title"
              label-col-flex="80px"
              v-if="item.dataIndex == 'containerType'"
              :rules="[{ required: true, message: '请选择箱类' }]"
            >
              <a-select
                allow-clear
                placeholder="请选择箱类"
                v-model="basicFormData.containerType"
                ref="containerType"
              >
                <a-option
                  v-for="(item, index) in containerTypeOption"
                  :key="index"
                  :label="item.codeName"
                  :value="item.codeName"
                ></a-option>
              </a-select>
            </a-form-item>
            <!-- 品类 -->
            <a-form-item
              field="goodsName"
              :label="item.title"
              label-col-flex="80px"
              v-if="item.dataIndex == 'goodsName'"
              :rules="[{ required: true, message: '请选择品类' }]"
            >
              <a-select
                allow-clear
                placeholder="请选择品类"
                v-model="basicFormData.goodsName"
                @change="getSelectChangePI"
              >
                <a-option
                  v-for="(item, index) in goodsNameOption"
                  :key="index"
                  :label="item"
                  :value="item"
                ></a-option>
              </a-select>
            </a-form-item>
            <!-- 销售品名 -->
            <a-form-item
              field="saleCategoryName"
              :label="item.title"
              label-col-flex="80px"
              v-if="item.dataIndex == 'categoryName'"
              :rules="[{ required: true, message: '请选择销售品名' }]"
            >
              <a-select
                allow-clear
                multiple
                max-tag-count="1"
                placeholder="请选择销售品名"
                v-model="basicFormData.saleCategoryName"
                @change="categoryList"
                style="max-height: 32px !important"
              >
                <a-option
                  v-for="(item, index) in piNameOptions"
                  :key="index"
                  :label="item"
                  :value="item"
                ></a-option>
              </a-select>
            </a-form-item>
            <!-- 供应商 -->
            <a-form-item
              field="supplierId"
              :label="item.title"
              label-col-flex="80px"
              v-if="item.dataIndex == 'supplierCname'"
              :rules="[{ required: true, message: '请选择供应商' }]"
            >
              <a-select
                allow-clear
                allow-search
                :filter-option="false"
                placeholder="请选择供应商"
                v-model="basicFormData.supplierId"
                @search="handleSupplierSearch"
                @change="supplier"
              >
                <a-option
                  v-for="item in supplierOptions"
                  :key="item.enterpriseId"
                  :label="item.name"
                  :value="item.enterpriseId"
                ></a-option>
              </a-select>
            </a-form-item>
            <!-- 船公司 -->
            <a-form-item
              field="carrierId"
              :label="item.title"
              label-col-flex="80px"
              v-if="item.dataIndex == 'carrierCode'"
              :rules="[{ required: true, message: '请选择船公司' }]"
            >
              <a-select
                allow-clear
                allow-search
                placeholder="请选择船公司"
                v-model="basicFormData.carrierId"
                @change="carryList"
              >
                <a-option
                  v-for="(item, index) in shipCompanyOptions"
                  :key="index"
                  :label="item.shippingCompanyName"
                  :value="item.shippingCompanyId"
                ></a-option>
              </a-select>
            </a-form-item>
            <!-- 门点 -->
            <a-form-item
              field="doorPoint"
              :label="item.title"
              label-col-flex="80px"
              v-if="item.dataIndex == 'doorProvince'"
              :rules="[{ required: true, message: '请选择门点' }]"
            >
              <door-point
                ref="cascaderAddr"
                v-model:doorPointId="basicFormData.doorIds"
                v-model:doorPoint="basicFormData.doorPoint"
                @change="getCostDoor"
              ></door-point>
            </a-form-item>
            <!-- 币别 -->
            <a-form-item
              field="currency"
              :label="item.title"
              label-col-flex="80px"
              v-if="item.dataIndex == 'currency'"
              :rules="[{ required: true, message: '请选择币别' }]"
            >
              <a-select
                allow-clear
                placeholder="请选择币别"
                v-model="basicFormData.currency"
              >
                <a-option
                  v-for="item in currencyOption"
                  :key="item.currencyId"
                  :label="item.currencyCode"
                  :value="item.currencyCode"
                ></a-option>
              </a-select>
            </a-form-item>
          </a-col>
          <a-col :span="8" v-if="basicFormData.accountingRules == '1'">
            <a-form-item
              field="unitPrice"
              label="单价"
              label-col-flex="100px"
              :rules="[{ required: true, message: '请输入单价' }]"
            >
              <a-input-number
                v-model="basicFormData.unitPrice"
                placeholder="请输入单价"
              />
              <a-select placeholder="请选择" v-model="basicFormData.unit">
                <a-option
                  v-for="item in price"
                  :key="item.id"
                  :label="item.label"
                  :value="item.value"
                ></a-option>
              </a-select>
            </a-form-item>
          </a-col>
          <a-col :span="8">
            <a-form-item
              field="dateTimer"
              label="有效期"
              label-col-flex="80px"
              :rules="[{ required: true, message: '请选择' }]"
            >
              <a-range-picker
                v-model="basicFormData.dateTimer"
                @change="onChange"
                @select="onSelect"
                style="width: 309px"
              />
            </a-form-item>
          </a-col>
          <a-col :span="8">
            <a-form-item
              field="accountingRules"
              label="计费规则"
              label-col-flex="80px"
            >
              <a-radio-group v-model="basicFormData.accountingRules">
                <a-radio :disabled="hasSection" value="1">固定值</a-radio>
                <a-radio :disabled="!hasSection" value="2">区间值</a-radio>
              </a-radio-group>
            </a-form-item>
          </a-col>
        </a-row>
        <!-- <a-row 
          :gutter="16" 
          v-if="basicFormData.accountingRules == '2'"
          style="border: 1px solid var(--color-neutral-3);padding: 20px 5px;border-radius: 4px;margin-bottom:10px;"
        >
          <a-col 
            :span="12"
            v-for="(item, index) in intervalList"
            :key="index"
            class="sectionCol"
          >
            <div style="background:var(--color-fill-2);">
              <a-input-number
                v-model="item.intervalStartValue"
                class="input-demo-section"
                @blur="startValue($event, index, 'startValue')"
              />
              <icon-minus size='10' />
              <a-input-number
                v-model="item.intervalEndValue"
                class="input-demo-section"
                @blur="startValue($event, index, 'endValue')"
              />
              <a-select
                allow-clear
                placeholder="请选择"
                v-model="item.intervalValueUnit"
                :disabled="item.isDisabled"
                @change="intervalValueUnitChange(item.intervalValueUnit)"
                class="select-demo-section"
              >
                <a-option
                  v-for="item in price1"
                  :key="item.id"
                  :label="item.label"
                  :value="item.value"
                ></a-option>
              </a-select>
              <a-input-number
                v-model="item.intervalUnitPrice"
                placeholder="请输入"
                class="input-demo-section"
              />
              <a-select
                allow-clear
                placeholder="请选择"
                v-model="item.intervalUnit"
                :disabled="item.isDisabled"
                @change="intervalUnitChange(item.intervalUnit)"
                class="select-demo-section"
              >
                <a-option
                  v-for="item in price3"
                  :key="item.id"
                  :label="item.label"
                  :value="item.value"
                ></a-option>
              </a-select>
              <icon-close
                v-if="item.id > 0" 
                @click="cutAccountingRules(index)"
                class="cp"
                size="12"
                style="margin-left: 8px;color:var(--color-text-1);"
              />
            </div>
          </a-col>
          <div style="width: 800px;padding-top: 10px;">
            <span @click="addAccountingRules" class="addSection cp">添加区间</span>
          </div>
        </a-row> -->
        <a-row :gutter="16">
          <a-col :span="24">
            <a-form-item field="remark" label="备注" label-col-flex="100px">
              <a-textarea
                v-model="basicFormData.remark"
                placeholder="请输入备注信息，限制144个字"
                @change="remarkInput"
                :max-length="{ length: 144, errorOnly: true }"
                :auto-size="{
                  minRows: 3,
                  maxRows: 3,
                }"
                allow-clear
                show-word-limit
              />
            </a-form-item>
          </a-col>
        </a-row>
      </a-form>
    </div>
  </a-modal>
</template>

<script lang="ts">
import {
  defineComponent,
  onMounted,
  PropType,
  reactive,
  toRefs,
  watch,
  ref,
  computed,
  onUnmounted,
  nextTick,
} from 'vue';
import { Message, Modal } from '@arco-design/web-vue';
import { crmApi } from '@/api/crmApi';
import utils from '@/utils/crm';
import lodash from 'lodash';

export default {
  name: 'TabViewModal',
  props: {
    // 弹窗是否显示
    modelValue: {
      type: Boolean,
    },
    // 弹窗title
    title: {
      type: String,
    },
    //
    costCode: {
      type: String,
    },
    costName: {
      type: String,
    },
    trendsColumns: {
      type: Array,
      default: () => [],
    },
    drawerData: {
      type: Object,
      default: () => {},
    },
    drawerType: {
      type: String,
      default: 'create',
    },
  },
  emits: ['update:modelValue', 'syncData'],
  setup(props, { emit, slots, attrs }) {
    const formRef = ref([]);
    const remarkInput = (val) => {
      dataMap.basicFormData.remark = dataMap.basicFormData.remark.substring(
        0,
        144
      );
      console.log(dataMap.basicFormData.remark, 'remark');
    };
    const dataMap = reactive({
      visible: props.modelValue || false,
      title: props.title,
      // hasSection: false,
      basicFormData: {
        costItemCode: '', // 费用编码
        costItemCname: '', // 费用名称
        currency: 'CNY', // 币别
        portId: '', // 港口id
        portAreaCname: '', // 港区名
        supplierCname: '',
        supplierId: '', // 供应商
        saleCategoryName: [], //销售品名
        value1: '',
        value2: '',
        value3: '',
        dateTimer: '', // 有效期
        accountingRules: '1', // 计费规则
        remark: '', // 备注
      },
      // 区间数组
      intervalList: [
        {
          id: 0,
          intervalStartValue: null, //开始值
          intervalEndValue: null, // 结束值
          intervalValueUnit: null, // 区间值单位1
          intervalUnitPrice: null, // 计费
          intervalUnit: null, // 区间值单位2
        },
        {
          id: 1,
          intervalStartValue: null, //开始值
          intervalEndValue: null, // 结束值
          intervalValueUnit: null, // 区间值单位1
          intervalUnitPrice: null, // 计费
          intervalUnit: null, // 区间值单位2
        },
      ],
      portOption: [], // 港口
      mosPortAreaOptions: [], // 港区
      containerSizeOption: [], // 箱型
      containerTypeOption: [], // 箱类
      goodsNameOption: [], // 品类
      piNameOptions: [], // 销售品名
      currencyOption: [], // 币别列表
      shipCompanyOptions: [], // 船公司
      supplierOptions: [], // 供应商列表
      price: [], // 固定单位
    });

    // 港口
    const getPort = () => {
      crmApi.port({ countryId: 104 }).then((res) => {
        if (res.code == 200) {
          dataMap.portOption = res.data;
        }
      });
    };
    // 港区
    const getSelectPort = (v: any) => {
      dataMap.basicFormData.portCode = utils.handleLabelByValue(
        dataMap.portOption,
        v,
        'seaportId',
        'seaportCode'
      );
      console.log(dataMap.basicFormData.portCode, 'code');
      dataMap.basicFormData.portId = v;
      dataMap.basicFormData.portCname = utils.handleLabelByValue(
        dataMap.portOption,
        v,
        'seaportId',
        'seaportName'
      );
      crmApi
        .portArea({ portCode: dataMap.basicFormData.portCode })
        .then((res) => {
          dataMap.mosPortAreaOptions = res.data;
          dataMap.mosPortAreaOptions.unshift({
            mosPortArea: '不限',
          });
          const inMosPortArea = dataMap.mosPortAreaOptions.some(
            (item) => item.mosPortArea == dataMap.basicFormData.portAreaCname
          );
          if (!inMosPortArea) {
            dataMap.basicFormData.portAreaCname = '';
          }
          console.log(res.data, '1234');
        });
    };

    // 箱型箱量
    const getContainerList = () => {
      crmApi
        .containerSizeList({ codeTypeCode: 'containersize' })
        .then((res) => {
          if (res.code == '200') {
            dataMap.containerSizeOption = res.data;
          }
        });
      crmApi
        .containerSizeList({ codeTypeCode: 'containertype' })
        .then((res) => {
          if (res.code == '200') {
            dataMap.containerTypeOption = res.data;
          }
        });
    };
    //品类
    const getCategory = () => {
      crmApi.category().then((res) => {
        if (res.code == 200) {
          dataMap.goodsNameOption = res.data;
          dataMap.piNameOptions = [];
        }
      });
    };
    // 销售品类
    const getSelectChangePI = (item, flag) => {
      if (!flag) {
        dataMap.basicFormData.saleCategoryName = [];
      }
      console.log('品类选择改变');

      crmApi.categoryBy({ categoryName: item }).then((res) => {
        if (res.code == 200) {
          console.log(res.data, '123455555555555');
          dataMap.piNameOptions = res.data;
          dataMap.piNameOptions.unshift('不限');
        }
      });
    };

    // 币别
    const getCurrency = async () => {
      crmApi.costCenterDropDown().then((res) => {
        if (res.code == 200) {
          dataMap.currencyOption = res.data;
        }
      });
    };
    // 船公司
    const getShippingCompany = () => {
      crmApi.shippingCompany().then((res) => {
        if (res.code == 200) {
          dataMap.shipCompanyOptions = res.data;
        }
      });
    };
    const carryList = (v: any) => {
      dataMap.basicFormData.carrierId = v;
      dataMap.basicFormData.carrierCname = utils.handleLabelByValue(
        dataMap.shipCompanyOptions,
        v,
        'shippingCompanyId',
        'shippingCompanyName'
      );
      dataMap.basicFormData.carrierCode = utils.handleLabelByValue(
        dataMap.shipCompanyOptions,
        v,
        'shippingCompanyId',
        'shippingCompanyCode'
      );
    };
    // 供应商
    const getSupplier = () => {
      crmApi.supplier({ relationType: 9 }).then((res) => {
        if (res.code == 200) {
          console.log(res.data, '1234555555');
          dataMap.supplierOptions = res.data;
          dataMap.supplierOptions.unshift({
            enterpriseId: 0, // 不限的特殊id
            name: '不限',
          });
          console.log(dataMap.basicFormData, '回显数据');
          // 编辑的数据的供应商不在50条供应商数据中的时候，手动添加
          if (
            dataMap.basicFormData.supplierId &&
            dataMap.basicFormData.supplierCname
          ) {
            let hasSupplierOption = dataMap.supplierOptions.some(
              (item) => item.name == dataMap.basicFormData.supplierCname
            );
            if (!hasSupplierOption) {
              dataMap.supplierOptions.unshift({
                enterpriseId: dataMap.basicFormData.supplierId,
                name: dataMap.basicFormData.supplierCname,
              });
            }
          }
        }
      });
    };
    const supplier = (v: any) => {
      dataMap.basicFormData.supplierCname = utils.handleLabelByValue(
        dataMap.supplierOptions,
        v,
        'enterpriseId',
        'name'
      );
      let hasWarehouseName = props.trendsColumns.some(
        (item) => item.value == 'warehouseName'
      );
      if (hasWarehouseName) {
        //获取仓库名称数据
        dataMap.basicFormData.warehouseName = '';
        dataMap.getWarehouseNameOptions(dataMap.basicFormData.supplierCname);
      }
    };
    const handleSupplierSearch = (name: any) => {
      dataMap.basicFormData.supplierId=""
      if (name !== '') {
        let param = {
          relationType: 9,
          name,
        };
        crmApi.supplier(param).then((res) => {
          if (res.code == 200) {
            dataMap.supplierOptions = res.data;
            console.log(dataMap.supplierOptions,"dataMap.supplierOptions23424");
            
            dataMap.supplierOptions.unshift({
              enterpriseId: 111111, // 不限的特殊id
              name: '不限',
            });
          }
        });
      }
    };

    //查询费用项单位
    const getCostUnitType1 = () => {
      //计费单位
      let params1 = {
        type: 1,
        costItemCode: dataMap.basicFormData.costItemCode,
      };
      crmApi.getCostUnit(params1).then((res) => {
        // console.log(res)
        if (res.code == 200) {
          if (res.data.length > 0) {
            res.data.forEach((item) => {
              item.value = item.unit;
              item.label = item.unit;
            });
            console.log(res.data);
            dataMap.price = res.data;
            dataMap.price3 = res.data;
            dataMap.basicFormData.unit = res.data[0].value;
            // 新增的时候 添加默认区间单位
            // intervalUni
            console.log(dataMap.intervalList);
            if (
              dataMap.intervalList.length > 0 &&
              !dataMap.intervalList[0].intervalUnit
            ) {
              dataMap.intervalList[0].intervalUnit = res.data[0].value;
            }
          } else {
            // dataMap.$message.warning(this.$t('该成本费用无单位，请联系管理员'));
            // dataMap.$emit('input', true);
            dataMap.price = [];
            dataMap.price3 = [];
          }
        }
      });
    };

    const getCostUnitType2 = () => {
      // 区间值单位
      let params1 = {
        type: 2,
        costItemCode: dataMap.basicFormData.costItemCode,
      };
      crmApi.getCostUnit(params1).then((res) => {
        if (res.code == 200) {
          console.log(res, 'cangchufei');
          if (res.data.length == 0) {
            // dataMap.hasSection = true;
          } else {
            res.data.forEach((item) => {
              item.value = item.unit;
              item.label = item.unit;
            });
            console.log(res.data);
            dataMap.price1 = res.data;
            // 新增的时候 添加默认区间单位
            // intervalValueUnit
            if (!dataMap.intervalList[0].intervalValueUnit) {
              dataMap.intervalList[0].intervalValueUnit = res.data[0].value;
            }
          }
        }
      });
    };
    // 新增区间
    // const addAccountingRules = () => {
    //   const item = lodash.last(dataMap.intervalList)
    //   // 区间结束值存在且不能小于结束值
    //   if(item.intervalEndValue && item.intervalStartValue - item.intervalEndValue > 0){
    //     dataMap.$message.warning(this.$t('区间开始值不能大于结束值'))
    //     return
    //   }
    //   let addItem = {
    //     intervalEndValue: '',
    //     intervalStartValue: '',
    //     intervalUnit: item.intervalUnit,
    //     intervalUnitPrice: '',
    //     intervalValueUnit: item.intervalValueUnit
    //   }
    //   if(item.intervalEndValue){
    //     addItem.intervalStartValue = parseInt(item.intervalEndValue) + 1
    //   }
    //   // console.log(item)
    //   // item.intervalEndValue
    //   // item.intervalStartValue
    //   // console.log(this.intervalList);
    //   dataMap.intervalList.push({
    //     ...addItem,
    //     id: dataMap.intervalList.length,
    //     isDisabled: true
    //   })
    // }
    // 删除区间
    // const cutAccountingRules = (id:any) => {
    //   if (id !== 0) {
    //     dataMap.intervalList.splice(id, 1)
    //   }
    //   dataMap.intervalList.forEach((item,index) => {
    //     // console.log(item,index)
    //     // 确保id和index一致 新增的时候id不会重复
    //     item.id = index
    //   });
    // }
    // 修改区间值单位1
    const intervalValueUnitChange = (value: any) => {
      dataMap.intervalList.forEach((item, index) => {
        console.log(item, index);
        if (index > 0) {
          item.intervalValueUnit = value;
        }
      });
    };
    // 修改区间值单位2
    const intervalUnitChange = (value) => {
      dataMap.intervalList.forEach((item, index) => {
        console.log(item, index);
        if (index > 0) {
          item.intervalUnit = value;
        }
      });
    };
    // const startValue = (e,index,flag) => {
    //   console.log(index)
    //   if (e.target._value === null || e.target._value === '') {
    //     dataMap.$message.warning(dataMap.$t('不能为空或空格'))
    //     return
    //   } else if (e.target._value === '0') {
    //     dataMap.$message.warning(dataMap.$t('不能为0'))
    //     return
    //   }
    //   if(flag == 'endValue'){
    //     // 判断区间开始值是否大于结束值
    //     if(dataMap.intervalList[index].intervalStartValue - e.target._value > 0){
    //       dataMap.$message.warning(dataMap.$t('区间开始值不能大于结束值'))
    //     }
    //     if(index < this.intervalList.length - 1){
    //       if(dataMap.intervalList[index+1].intervalStartValue && dataMap.intervalList[index+1].intervalStartValue - e.target._value <= 0){
    //         dataMap.$message.warning(dataMap.$t('区间值不能有交集'))
    //       }
    //     }
    //   } else {
    //     if(dataMap.intervalList[index].intervalEndValue && dataMap.intervalList[index].intervalEndValue < e.target._value){
    //       dataMap.$message.warning(dataMap.$t('区间开始值不能大于结束值'))
    //     }
    //     if(index > 0){
    //       if(dataMap.intervalList[index-1].intervalEndValue && dataMap.intervalList[index-1].intervalEndValue - e.target._value >= 0){
    //         dataMap.$message.warning(dataMap.$t('区间值不能有交集'))
    //       }
    //     }
    //   }
    // }

    // const handleSubmit = ({values, errors}) => {
    //   console.log('values:', values, '\nerrors:', errors)
    // }
    const costCenterAdd = (param: any) => {
      crmApi.costCenterAdd(param).then((res) => {
        if (res.code == '200') {
          Message.success({
            content: '添加成功',
            position: 'top',
          });
          dataMap.visible = false;
          dataMap.basicFormData = {
            costItemCode: dataMap.basicFormData.costItemCode,
            costItemCname: dataMap.basicFormData.costItemCname,
            currency: 'CNY',
          };
          emit('syncData', '');
        } else {
          Message.warning({
            content: 'res.message',
            position: 'top',
          });
        }
      });
    };
    const submitData = () => {
      // 创建
      if (props.drawerType === 'create') {
        // if (data.accountingRules === 2) {
        //   console.log(data.accountingRules)
        // }
        // if (this.$refs.basicForm) {
        //   this.$refs.basicForm.clearValidate()
        // }
        let param = {
          ...dataMap.basicFormData,
          categoryName:
            dataMap.basicFormData.saleCategoryName &&
            dataMap.basicFormData.saleCategoryName.join(','),
          id: '',
        };
        crmApi.checkCost(param).then((res) => {
          if (res.code == '200') {
            if (res.data) {
              // res.data 为true时有重复
              Modal.warning({
                title: '提示',
                content: '存在相同条件的有效成本，请确认是否保存',
                okText: '确定',
                cancelText: '取消',
                hideCancel: false,
                onOk: () => {
                  costCenterAdd(param);
                },
              });
            } else {
              costCenterAdd(param);
            }
          } else {
            console.log('eeeeerror取消');
          }
        });
        // 复制
      } else if (props.drawerType === 'copy') {
        // if (this.$refs.basicForm) {
        //   this.$refs.basicForm.clearValidate()
        // }
        console.log(dataMap.basicFormData.saleCategoryName);
        let param = {
          ...dataMap.basicFormData,
          categoryName:
            dataMap.basicFormData.saleCategoryName &&
            dataMap.basicFormData.saleCategoryName.join(','),
          id: '',
        };
        console.log(props.drawerType);
        crmApi.checkCost(param).then((res) => {
          if (res.data) {
            // res.data 为true时有重复
            Modal.warning({
              title: '提示',
              content: '存在相同条件的有效成本，请确认是否保存',
              okText: '确定',
              cancelText: '取消',
              hideCancel: false,
              onOk: () => {
                costCenterAdd(param);
              },
            });
          } else {
            costCenterAdd(param);
          }
        });
      } else {
        // if (this.$refs.basicForm) {
        //   this.$refs.basicForm.clearValidate()
        // }
        crmApi.checkCost(dataMap.basicFormData).then((res) => {
          if (res.data) {
            // res.data 为true时有重复
            Modal.warning({
              title: '提示',
              content: '存在相同条件的有效成本，请确认是否保存',
              okText: '确定',
              cancelText: '取消',
              hideCancel: false,
              onOk: () => {
                let parmas = {
                  ...dataMap.basicFormData,
                  categoryName:
                    dataMap.basicFormData.saleCategoryName &&
                    dataMap.basicFormData.saleCategoryName.join(','),
                };
                crmApi.costCenterEdit(parmas).then((res) => {
                  if (res.code == '200') {
                    Message.success({
                      content: '编辑成功',
                      position: 'top',
                    });
                    dataMap.visible = false;
                    dataMap.basicFormData = {
                      costItemCode: dataMap.basicFormData.costItemCode,
                      costItemCname: dataMap.basicFormData.costItemCname,
                      currency: 'CNY',
                    };
                    emit('syncData', '');
                  } else {
                    Message.warning({
                      content: 'res.message',
                      position: 'top',
                    });
                  }
                });
              },
            });
          } else {
            console.log(dataMap.basicFormData.saleCategoryName);
            let parmas = {
              ...dataMap.basicFormData,
              categoryName:
                dataMap.basicFormData.saleCategoryName &&
                dataMap.basicFormData.saleCategoryName.join(','),
            };
            crmApi.costCenterEdit(parmas).then((res) => {
              if (res.code == '200') {
                Message.success({
                  content: '编辑成功',
                  position: 'top',
                });
                dataMap.visible = false;
                dataMap.basicFormData = {
                  costItemCode: dataMap.basicFormData.costItemCode,
                  costItemCname: dataMap.basicFormData.costItemCname,
                  currency: 'CNY',
                };
                emit('syncData', '');
              } else {
                Message.warning({
                  content: 'res.message',
                  position: 'top',
                });
              }
            });
          }
        });
      }
    };

    const handleBeforeOk = (done: any) => {
      // 异步请求结束成功之后再关闭弹框 关闭弹框时执行done()方法
      // formRef.value.handleSubmit()
      formRef.value.validate((err) => {
        if (!err) {
          submitData();
        }
      });
      // submitData();

      done(false);
    };

    const onCancelFn = (done: any) => {
      dataMap.basicFormData = {
        costItemCode: dataMap.basicFormData.costItemCode,
        costItemCname: dataMap.basicFormData.costItemCname,
        currency: 'CNY',
      };
      dataMap.visible = false;
    };

    // 显示
    const hasSection = computed(() => {
      const data = props.trendsColumns.some(
        (item: any) => item.dataIndex == 'accountingRules'
      );
      if (data) {
        dataMap.basicFormData.accountingRules = '2';
      } else {
        dataMap.basicFormData.accountingRules = '1';
      }

      return data;
    });

    // 新增展示字断处理
    const showTrendsColumns = computed(() => {
      const data = props.trendsColumns.filter(
        (item: any) => item.dataIndex !== 'accountingRules'
      );
      console.log(data);
      return data;
    });

    watch(
      () => props.drawerData,
      (nVal, oVal) => {
        console.log(123, nVal);
        dataMap.basicFormData = {
          ...dataMap.basicFormData,
          ...nVal,
        };
        if (dataMap.basicFormData.portId) {
          getSelectPort(dataMap.basicFormData.portId);
        }

        if (dataMap.basicFormData.goodsName) {
          getSelectChangePI(dataMap.basicFormData.goodsName, true);
        }

        // dataMap.basicFormData.portAreaCname = nVal.portAreaCname;
        if (
          dataMap.basicFormData.doorIds &&
          dataMap.basicFormData.doorProvince
        ) {
          dataMap.basicFormData.doorPoint =
            dataMap.basicFormData.doorProvince +
            '/' +
            dataMap.basicFormData.doorCity +
            '/' +
            dataMap.basicFormData.doorCounty +
            '/' +
            dataMap.basicFormData.doorStreet;
        }
      },
      { immediate: true, deep: true }
    );
    watch(
      () => dataMap.basicFormData.doorPoint,
      (val) => {
        getSupplier();

        console.log(val, '门店信息来了');
        if (val) {
          nextTick(() => {
            formRef.value.validateField('doorPoint'); //单独校验门点表单
          });
          let dp = val.split('/');
          dataMap.basicFormData.doorProvince = dp[0];
          dataMap.basicFormData.doorCity = dp[1];
          dataMap.basicFormData.doorCounty = dp[2];
          dataMap.basicFormData.doorStreet = dp[3];
        }
      },
      { immediate: true, deep: true }
    );
    watch(
      () => props.costName,
      (nVal, oVal) => {
        console.log(123, nVal);
        dataMap.basicFormData.costItemCname = nVal;
      },
      { immediate: true, deep: true }
    );
    watch(
      () => props.costCode,
      (nVal, oVal) => {
        console.log(123, nVal);
        dataMap.basicFormData.costItemCode = nVal;
      },
      { immediate: true, deep: true }
    );

    watch(
      () => props.modelValue,
      (val) => {
        dataMap.visible = val;
        console.log(123);
        dataMap.piNameOptions = [];
      }
    );

    watch(
      () => dataMap.visible,
      (nVal, oVal) => {
        emit('update:modelValue', nVal);
      },
      { immediate: true, deep: true }
    );

    watch(
      () => dataMap.basicFormData,
      (nVal, oVal) => {
        console.log(nVal);
      },
      { immediate: true, deep: true }
    );

    watch(
      () => dataMap.basicFormData.dateTimer,
      (nVal, oVal) => {
        // 年月日 时分秒
        if (nVal) {
          dataMap.basicFormData.validityStartDate = nVal[0] + ' 00:00:00';
          dataMap.basicFormData.validityEndDate = nVal[1] + ' 00:00:00';
        }
      },
      { immediate: true, deep: true }
    );

    // watch(
    //   () => dataMap.basicFormData.saleCategoryName,
    //   (nVal, oVal) => {
    //     if(nVal.length > 0){
    //       dataMap.basicFormData.categoryName = nVal.join(',')
    //     } else {
    //       dataMap.basicFormData.categoryName = ''
    //     }
    //   },
    //   { immediate: true, deep: true }
    // );

    onMounted(() => {
      getPort();
      getCurrency();
      getCostUnitType1();
      getCostUnitType2();
      getContainerList();
      getCategory();
      getShippingCompany();
    });

    return {
      hasSection,
      getSelectPort, // 港口
      supplier, // 供应商
      handleSupplierSearch, // 供应商搜索
      carryList,
      remarkInput,
      showTrendsColumns,
      getSelectChangePI,
      // addAccountingRules,
      // cutAccountingRules,
      intervalValueUnitChange,
      intervalUnitChange,
      // startValue,

      formRef,
      ...toRefs(dataMap),
      handleBeforeOk,
      onCancelFn,
    };
  },
};
</script>

<style scoped lang="less">
// :deep(.arco-modal-body){
// }
.tabViewName {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  padding: 0 20px;
}
.a-tab-box {
  max-height: 380px;
  // overflow:auto!important;
}
@media screen and (max-width: 1300px) {
  .a-tab-box {
    max-height: 200px;
  }
}
@media screen and (max-width: 1500px) {
  .a-tab-box {
    max-height: 260px;
    // max-height: 400px;
  }
}

@media screen and (min-width: 1900px) {
  .a-tab-box {
    max-height: 380px;
  }
}

:deep(.arco-tabs-nav) {
  margin: 0 16px;
}
:deep(.arco-tabs-pane) {
  &::before,
  &::after {
    content: '';
    position: absolute;
    left: 0;
    top: 56px;
    height: 1px;
    width: 17px;
    background-color: #fff;
    border-radius: 4px;
    z-index: 12222222;
  }
  &::after {
    left: auto;
    right: 0;
  }
}
.customColumnWrapBig {
  border-top: 1px solid rgba(229, 230, 235, 1);
  border-radius: 4px;
  &::before,
  &::after {
    content: '';
    position: absolute;
    left: 16px;
    top: 56px;
    height: 4px;
    width: 4px;
    // background-color: pink;
    border-radius: 4px;
    border: 1px solid rgba(229, 230, 235, 1);
    border-top: none;
    border-right: none;
    transform: rotate(90deg);
  }
  &::after {
    left: auto;
    right: 16px;
    transform: rotate(180deg);
  }
}
.customColumnWrap {
  // background-color: pink;
  padding: 0 16px;
  height: 100%;
  max-height: 380px;
  overflow: auto !important;
  position: relative;

  .customColumn {
    padding: 0 16px;
    border: 1px solid rgba(229, 230, 235, 1);
    border-bottom: none;
    border-top: none;
    border-radius: 4px 4px 0 0;
  }
}
:deep(.arco-table-td) {
  border: none;
}
:deep(.arco-row) {
  margin-bottom: 0;
}
:deep(.arco-form-item-label-col) {
  width: 120px;
  flex: 0 0 10%;
}
:deep(.arco-form-item-wrapper-col) {
  flex: 0 0 90%;
}
:deep(.input-demo-section) {
  width: 75px;
}
:deep(.select-demo-section) {
  width: 95px;
}
.addSection {
  padding: 25px 10px 0;
  color: rgb(22, 93, 255);
}
.sectionCol {
  margin-bottom: 10px;
}
</style>
