<template>
  <div class="right-side">
    <a-dropdown
      :style="{ 'width': '685px', 'max-height': '488px' }"
      position="bl"
      class="filter-dropdown"
    >
      <a-button class="nav-btn" type="outline" ref="filterRef">
        <!-- :class="[searchContent?'hasSearch':'']" -->
        <template #icon>
          <icon-filter />
        </template>
        <span>筛选</span>
      </a-button>
      <template #content>
        <div class="search-wrap filter-wrap">
          <h3
            style="
              line-height: 24px;
              font-size: 16px;
              color: #212121;
              position: absolute;
              left: 1px;
              right: 1px;
              top: 1px;
              padding: 12px 16px;
              background: #fff;
              margin: 0;
              border-radius: 4px 4px 0 0;
            "
            >设置筛选条件</h3
          >
          <div style="height: 48px"></div>
          <div class="filterList" style="max-height: 366px">
            <!-- {{ showFilterData }} -->
            
                      <!-- {{PortAreaOption}} -->
            <a-space
              direction="vertical"
              :size="24"
              class=""
              style="display: block"
            >
              <a-row
                class="grid-demo"
                v-for="(item,i) in showFilterData"
                :key="item.id"
              >
                <a-col :span="3">
                  <div v-if="i == 0" style="text-align: center">当</div>
                  <div v-else style="text-align: center">且</div>
                </a-col>
                <a-col :span="6">
                  <div>
                    <a-input
                      v-if="item.value == 'containerType'"
                      disabled
                      v-model="containerLable"
                    ></a-input>
                    <a-input
                      v-if="item.value == 'portAreaCname'"
                      disabled
                      v-model="portLable"
                    ></a-input>
                    <a-input
                      v-if="
                        item.value !== 'containerType' &&
                        item.value !== 'portAreaCname'
                      "
                      disabled
                      v-model="item.name"
                    ></a-input>
                  </div>
                </a-col>
                <a-col :span="4" style="margin: 0 8px">
                  <div>
                    <a-input disabled v-model="includes"></a-input>
                  </div>
                </a-col>
                <a-col :span="10">
                  <div>
                    <!-- 门点 -->
                    <door-point
                      v-model:doorPointId="filterParams.doorPointId"
                      v-model:doorPoint="filterParams.doorPoint"
                      v-if="item.value == 'doorProvince'"
                    ></door-point>
                    <!-- 箱类 -->
                    <a-select
                      v-if="item.value == 'containerType'"
                      allow-clear
                      placeholder="请选择箱型箱类"
                      v-model="filterParams.containerSizeTypeList"
                      multiple
                      max-tag-count="1"
                      style="max-height: 32px !important"
                    >
                      <a-option
                        v-for="(item, index) in containerSizeTypeOption"
                        :key="index"
                        :label="item"
                        :value="item"
                      ></a-option>
                    </a-select>
                    <!-- 港口 -->
                    <a-select
                      v-if="item.value == 'portCname'"
                      allow-clear
                      placeholder="请选择港口"
                      v-model="filterParams.portCode"
                      multiple
                      max-tag-count="1"
                      style="max-height: 32px !important"
                    >
                      <a-option
                        v-for="(item, index) in portOption"
                        :key="index"
                        :label="item.seaportName"
                        :value="item.seaportCode"
                      ></a-option>
                    </a-select>
                    <!-- 港口港区 -->
                    <a-select
                      placeholder="请选择港口港区"
                      multiple
                      allow-clear
                      max-tag-count="1"
                      v-if="item.value == 'portAreaCname'"
                      v-model="filterParams.portArea"
                      style="max-height: 32px !important"
                    >
                      <a-optgroup
                        :label="item.seaportName"
                        v-for="item in PortAreaOption"
                        :key="item.seaportId"
                      >
                        <a-option
                          v-for="(o, index) in item.basicdataWharfPortArea"
                          :key="index"
                          :label="o.mosPortArea"
                          :value="o.mosPortArea"
                        ></a-option>
                      </a-optgroup>
                    </a-select>
                    <!-- 供应商 -->
                    <a-select
                      allow-clear
                      allow-search
                      :filter-option="false"
                      placeholder="请选择供应商"
                      v-if="item.value == 'supplierCname'"
                      v-model="filterParams.supplierId"
                      @search="handleSupplierSearch"
                    >
                      <a-option
                        v-for="item in supplierOptions"
                        :key="item.enterpriseId"
                        :label="item.name"
                        :value="item.enterpriseId"
                      ></a-option>
                    </a-select>
                    <!-- 船公司 -->
                    <a-select
                      allow-clear
                      allow-search
                      placeholder="请选择船公司"
                      v-if="item.value == 'carrierCode'"
                      v-model="filterParams.carrierCname"
                    >
                      <a-option
                        v-for="(item, index) in shipCompanyOptions"
                        :key="index"
                        :label="item.shippingCompanyName"
                        :value="item.shippingCompanyName"
                      ></a-option>
                    </a-select>
                    <!-- 品类 -->
                    <a-select
                      allow-clear
                      multiple
                      max-tag-count="1"
                      placeholder="请选择品类"
                      v-if="item.value == 'goodsName'"
                      v-model="filterParams.goodsName"
                      style="max-height: 32px !important"
                    >
                      <a-option
                        v-for="(item, index) in goodsNameOption"
                        :key="index"
                        :label="item"
                        :value="item"
                      ></a-option>
                    </a-select>
                    <!-- 销售品名 -->
                    <a-select
                      allow-clear
                      multiple
                      max-tag-count="1"
                      placeholder="请选择销售品名"
                      v-if="item.value == 'categoryName'"
                      v-model="filterParams.categoryName"
                      style="max-height: 32px !important"
                    >
                      <a-option
                        v-for="(item, index) in descriptionList"
                        :key="index"
                        :label="item"
                        :value="item"
                      ></a-option>
                    </a-select>
                    <!-- 状态 -->
                    <a-select
                      v-if="item.value == 'status'"
                      multiple
                      max-tag-count="1"
                      style="max-height: 32px !important"
                      v-model="filterParams.status"
                      placeholder="请选择状态"
                    >
                      <a-option
                        v-for="item in costWay"
                        :key="item.id"
                        :label="item.code"
                        :value="item.id"
                      ></a-option>
                    </a-select>
                  </div>
                </a-col>
              </a-row>
            </a-space>
          </div>
          <p style="height: 70px; margin: 0"></p>
          <div
            class="handle-wrap"
            style="
              position: absolute;
              left: 1px;
              right: 1px;
              bottom: 1px;
              height: 64px;
              padding: 16px;
              border-top: 1px solid rgba(229, 230, 235, 1);
              display: flex;
              justify-content: flex-end;
              background: #fff;
              border-radius: 0 0 4px 4px;
            "
          >
            <a-button
              class="cancleBtn"
              :style="{ 'width': '76px', 'margin-right': '8px' }"
              @click="cancleClick"
              >取消</a-button
            >
            <a-button
              :style="{ width: '76px' }"
              type="primary"
              @click="confirmClick"
              >确认</a-button
            >
          </div>
        </div>
      </template>
    </a-dropdown>
  </div>
</template>

<script lang="ts">
import {
  defineComponent,
  onMounted,
  PropType,
  reactive,
  toRefs,
  watch,
  ref,
  computed,
  onUnmounted,
  nextTick,
} from 'vue';
import { crmApi } from '@/api/crmApi';

export default defineComponent({
  name: 'Filter',
  props: {
    filterData: {
      type: Array,
      default: [],
    },
    filterParamsSync: {
      type: [Number, String],
    },
    filterParams: {
      type:Object,
      default: {}
    }
  },
  emits: ['getFilter', 'update:filterParams'],
  setup(props, { emit, slots, attrs }) {
    const filterList = ref([]);
    const dataMap = reactive({
      containerLable: '箱型箱类',
      portLable: '港口港区',
      showFilterData: [],
      initFilters: '',
      includes: '包含',
      costWay: [
        { id: 1, code: '未生效' },
        { id: 2, code: '生效中' },
        { id: 3, code: '已失效' },
      ],
      filterParams: {
        doorPoint: '',
        doorPointId: [],
      },
      portOption: [], // 港口集合
      PortAreaOption: [], // 港口港区
      supplierOptions: [], // 供应商列表
      containerSizeTypeOption: [], // 箱型箱类
      goodsNameOption: [], // 品类
      piNameOptions: [], // 销售品名
      descriptionList: [], // 品类
      shipCompanyOptions: [], // 船公司
    });
    const filterRef = ref([]);

    // 港口
    const getPort = () => {
      crmApi.port({ countryId: 104 }).then((res) => {
        if (res.code == 200) {
          dataMap.portOption = res.data;
        }
      });
    };
    // 港口港区
    const getPortAreaList = () => {
      crmApi.portAreaList({ countryId: 104 }).then((res) => {
        if (res.code == 200) {
          dataMap.PortAreaOption = res.data;
          console.log(res, '港口港区res');
        }
      });
    };

    // 供应商
    const getSupplier = () => {
      crmApi.supplier({ relationType: 9 }).then((res) => {
        if (res.code == 200) {
          dataMap.supplierOptions = res.data;
          console.log(dataMap.supplierOptions);
        }
      });
    };
    const handleSupplierSearch = (name: any) => {
      if (name !== '') {
        let param = {
          relationType: 9,
          name,
        };
        crmApi.supplier(param).then((res) => {
          if (res.code == 200) {
            dataMap.supplierOptions = res.data;
          }
        });
      }
    };
    // 船公司
    const getShippingCompany = () => {
      crmApi.shippingCompany().then((res) => {
        if (res.code == 200) {
          dataMap.shipCompanyOptions = res.data;
        }
      });
    };

    // 常用箱型箱类
    const getContainerSizeTypeOption = () => {
      crmApi.containerSizeTypeOption().then((res) => {
        if (res.code == 200) {
          console.log(res.data, '12345555551234555555');
          dataMap.containerSizeTypeOption = res.data;
        }
      });
    };

    //品类
    const getCategory = () => {
      crmApi.category().then((res) => {
        if (res.code == 200) {
          dataMap.goodsNameOption = res.data;
        }
      });
    };
    // 获取所有品名
    const getDescription = () => {
      crmApi.getAllDescription().then((res) => {
        if (res.code == '200') {
          dataMap.descriptionList = res.data
          console.log(res.data,'res.datares.datares.data')
        }
      })
    }


    const cancleClick = () => {
      // 1. 筛选项先恢复初始状态  TODO
      console.log('取消');
      dataMap.filterParams = {};
      // 2. 关闭下拉框
      filterRef.value.handleClick();
    };

    const confirmClick = () => {
      // 1. 保存筛选项  TODO
      // 2. 传筛选项数组给父组件  TODO
      console.log(dataMap.filterParams);
      if (dataMap.filterParams.portCode) {
        dataMap.filterParams.portList = dataMap.filterParams.portCode.map(
          (item) => {
            return { portCode: item };
          }
        );
      }
      if (dataMap.filterParams.doorPointId && dataMap.filterParams.doorPointId.length == 0) {
        dataMap.filterParams.doorDTOList = []
      }
      if (dataMap.filterParams.doorPointId && dataMap.filterParams.doorPointId.length > 0) {
        dataMap.filterParams.doorDTOList = []
        dataMap.filterParams.doorDTOList.push({
          doorIds:dataMap.filterParams.doorPointId
        })
      }
      emit('getFilter', dataMap.filterParams);
      // 3. 关闭下拉框
      filterRef.value.handleClick();
    };

    watch(
      () => dataMap.filterParams.doorPointId,
      (nVal) => {
        console.log(nVal);
      },
      { immediate: true, deep: true }
    );

    watch(
      () => props.filterData,
      (nVal) => {
        // dataMap.showFilterData =
        const hasPortArea =
          nVal.length > 0 && nVal.some((item) => item.value == 'portAreaCname');
        console.log('来了数据', hasPortArea);
        if (hasPortArea) {
          dataMap.showFilterData = nVal.filter(
            (item) => item.value !== 'portCname'
          );
        }
        const hasContainerType =
          nVal.length > 0 && nVal.some((item) => item.value == 'containerType');
        console.log('来了数据', hasPortArea);
        if (hasContainerType) {
          dataMap.showFilterData = nVal.filter(
            (item) => item.value !== 'containerSize'
          );
        }

        if (hasPortArea && hasContainerType) {
          dataMap.showFilterData = nVal.filter(
            (item) => item.value !== 'portCname'
          );
          dataMap.showFilterData = dataMap.showFilterData.filter(
            (item) => item.value !== 'containerSize'
          );
        }

        if (!hasPortArea && !hasContainerType) {
          dataMap.showFilterData = nVal;
        }
      },
      { immediate: true, deep: true }
    );

    onMounted(() => {
      getPort();
      getSupplier();
      getContainerSizeTypeOption();
      getPortAreaList()
      getCategory()
      getDescription()
      getShippingCompany()
    });

    watch(
      () => dataMap.filterParams,
      (nVal) => {
        console.log(nVal);
        emit('update:filterParams',nVal)
      },
      { immediate: true, deep: true }
    );

    watch(
      () => props.filterParamsSync,
      (nval) => {
        console.log(nval, 'props.filterParamsSync');
        dataMap.filterParams = {};
      },
      { immediate: true, deep: true }
    );

    return {
      handleSupplierSearch,
      ...toRefs(dataMap),
      filterList,
      filterRef,
      cancleClick,
      confirmClick,
    };
  },
});
</script>

<style lang="less" scoped>
:deep(.arco-trigger-popup-wrapper) {
  font-size: 60px;
}
.right-side {
  width: auto;
  display: flex;
  padding-right: 20px;
  list-style: none;
  :deep(.locale-select) {
    border-radius: 20px;
  }
  a {
    color: var(--color-text-1);
    text-decoration: none;
  }
  .nav-btn {
    height: 24px;
    padding: 2px 4px;
    border-color: rgb(var(--gray-2));
    color: rgb(var(--gray-8));
    font-size: 14px;
    border: none;
    background-color: #fff;
    &:hover {
      background-color: #eef3ff;
      color: #2969ff;
    }
  }
}
.filter-dropdown {
  // font-size: 30px;
  :deep(.arco-trigger-popup-wrapper) {
    font-size: 60px;
  }
  .arco-dropdown-list-wrapper {
    font-size: 120px;
  }
}
.filterList {
  padding: 0 15px;
  overflow-y: auto;
}
.grid-demo {
  align-items: center;
}
</style>