<template>
  <div 
    class="component-common-table"
    :class="isFullscreen ? 'fullscreen' : ''"
  >
    <a-table
      :columns="columns"
      :data="costData"
      :row-selection="rowSelection"
      :scroll="scroll"
      :pagination="pagination"
      @page-change="pageChange"
      @page-size-change="pageSizeChange"
      @sorter-change="sortChange"
      @select="selectHandle"
      @select-all="selectAll"
      @selection-change="selectionChange"
      class="commonTable"
      v-bind="$attrs"
      v-model:selectedKeys="selectedKeys"
    > 
      <!-- 操作列 处理 -->
      <template #operatetitle>
        <div class="overBgTitle"></div>
      </template>
      <template #operate="{ record }">
        <!-- {{record.key}} -->
        <div class="overBg">
        </div>
        <a-dropdown trigger="click" position="bl">
          <a-button size="mini" type="text" class="operateBtn">
            <template #icon>
              <icon-more-vertical />
            </template>
          </a-button>
          <template #content>
            <a-doption 
              v-for="(item,index) in operateList"
              :key="index"
              v-show="item.isShow && item.isShow(record)"
              @click="item.callback && item.callback(record)"
            >
              <span :style="{color:item.color,padding: '0 10px 0 3px'}">{{item.name}}</span>
              <!-- {{item.name}} -->

            </a-doption>
          </template>
        </a-dropdown>
        
      </template>

      <!-- 筛选列 表头处理 -->
      <template #filterable="{column}">
        <div>
          {{column.title}}
          <span class="filterBtn" @click.stop="filterHandle">
            <icon-filter />
          </span>
          <!-- <filter-btn
            v-model:pageInitFilters="pageInitFilters"
          ></filter-btn> -->
        </div>
      </template>

      <!-- 状态列 处理 -->
      <template #status="{ record, column }">
        <div>
          <dw-tag class="LC3" v-if="record[column.dataIndex] == 1">
            <template #word>
              未生效
              <span v-if="record[column.dataIndex] == 2">生效中</span>
              <span v-if="record[column.dataIndex] == 3">已失效</span>
              <!-- {{record[column.dataIndex]}} -->
            </template>
          </dw-tag>
          <dw-tag class="LC2" v-if="record[column.dataIndex] == 2">
            <template #word>
              生效中
              <span v-if="record[column.dataIndex] == 3">已失效</span>
              <!-- {{record[column.dataIndex]}} -->
            </template>
          </dw-tag>
          <dw-tag class="LC10" v-if="record[column.dataIndex] == 3">
            <template #word>
              已失效
              <!-- {{record[column.dataIndex]}} -->
            </template>
          </dw-tag>
          <!-- {{record[column.color]}} -->
          <!-- {{column.color}} -->
        </div>
      </template>
      <template #validityStartDate="{record}">{{formatTime(record.validityStartDate)}}</template>
      <template #validityEndDate="{record}">{{formatTime(record.validityEndDate)}}</template>
      <!-- 门点 -->
      <template #doorProvince="{record}">{{formalDoorProvince(record)}}</template>
      <template #carrierCode="{record}">{{record.carrierCname}}</template>
    </a-table>
  </div>
</template>

<script lang="ts">
import {
  defineComponent,
  onMounted,
  reactive,
  toRefs,
  watch,
  ref,
  h,
  defineExpose,
  computed,
  nextTick,
} from 'vue';

export default defineComponent({
  name: 'costTable',
  props: {
    // 表格列字段配置
    columns: {
      type: Array,
      default: () => [],
    },
    costData: {
      type: Array,
      default: () => [],
    },
    params: {
      type: Object,
      default: () => {},
    },
    pagination: {
      type: Object,
      default: () => {},
    },
    operateList: {
      type: Array,
      default: () => [],
    },
    isFullscreen: {
      type: Boolean,
      default: false,
    }
  },
  emits: ['openFilter', 'getSelectData', 'update:pagination','update:params'],
  // setup(props,context){
  setup(props, { attrs, emit, slots }) {
    const selectedKeys = ref([]);
    let data = reactive([]);

    const dataMap = reactive({
      oldSyncFlag: 0,
      titleSlotName: [] as any[],
      timer: null,
      props,
      rowSelection: {
        type: 'checkbox',
        showCheckedAll: true,
        width: 30,
        fixed: true,
        onlyCurrent:true,
      },
      commonColumn: [] as any[],
      commonTableData: [] as any[],
      loading: false,
      pageChange(page: number) {
        console.log('当前page改变了：', page);
        props.pagination.current = page
        props.params.pageNum = page
        nextTick().then(()=>{
          emit('update:pagination',props.pagination)
          emit('update:params',props.params)
        })
      },
      pageSizeChange(pageSize: number) {
        console.log('当前page显示数改变了：', pageSize);
        props.pagination['page-size'] = pageSize
        props.params.pageSize = pageSize
        nextTick().then(()=>{
          emit('update:pagination',props.pagination)
          emit('update:params',props.params)
        })
      },
      // 点击行选择器时触发
      selectHandle(rowKeys: string, rowKey: string, record: any) {
        console.log(rowKeys, rowKey, record, '点击行选择器时触发');
      },

      // 排序调整
      sortChange(dataIndex: string, direction: string) {
        // console.log('dsdawdbh但是你就打算打卡')
        // console.log(dataIndex,direction)
        // orderPiType	integer	排序方式   0-升序ascend 1-降序descend
        props.params.costString = dataIndex
        if(direction == ''){
          props.params.orderPiType = ''
        } else {
          props.params.orderPiType = direction == 'ascend'?0:1
        }
      },

      selectAll(checked: boolean) {
        console.log('=======', checked);
      },
      // 多选 表格  已选项集合
      selectionChange(rowKeys: string) {
        // console.log('=======', rowKeys[0]);
        nextTick().then(() => {
          emit('getSelectData',rowKeys)
        })  
      },
      filterHandle(){
        console.log('打开筛选')
        nextTick().then(() => {
          emit('openFilter','')
        })  
      },
      // 展示起止时间
      formatTime(time){
        if(time){
          return time.substring(0,10)
        }else{
          return time
        }
      },
      // 展示门点
      formalDoorProvince(row){
        let address = ''
        if(row.doorProvince && row.doorProvince != 'null'){
          address += row.doorProvince
        }else {
          return address
        }
        if(row.doorCity && row.doorCity != 'null'){
          address = address + '\/' + row.doorCity
        }else{
          return address
        }
        if(row.doorCounty && row.doorCounty != 'null'){
          address = address + '\/' + row.doorCounty
        }else{
          return address
        }
        if(row.doorStreet && row.doorStreet != 'null'){
          address = address + '\/' + row.doorStreet
        }else{
          return address
        }
        return address
      }
    });

    const scroll = {
      x: '100%',
      y: '100%',
    };

    return {
      data,
      scroll,
      ...toRefs(dataMap),
      selectedKeys,
    };
  },
});
</script>

<style lang="less" scoped>

.commonTable {
  width: calc(~'100vw - 275px');
  height: calc(~'100vh - 262px');
}
:deep(.arco-table-container) {
  width: auto;
}
:deep(.arco-table-container .arco-table-content) {
  display: flex;
  flex-direction: column;
  width: auto;
  height: 100%;
}
:deep(.arco-table-pagination) {
  position: fixed;
  right: 20px;
  bottom: 20px;
  z-index: 2;
}
.component-common-table {
  height: calc(~'100vh - 262px');
}
.component-common-table.fullscreen {
  height: calc(~'100vh - 195px');
}
.filterBtn{
  width: 22px;
  height: 22px;
  display: inline-block;
  text-align: center;
  line-height: 22px;
  // margin-left: 3px;
  cursor: pointer;
  &:hover{
    background-color: var(--color-neutral-3);
    border-radius: 2px;
  }
}
.filterIcon {
  position: absolute;
  right: 4px;
  top: 50%;
  margin-top: -12px;
  height: 24px;
  width: 24px;
  font-size: 12px;
  border-radius: 2px;
  line-height: 24px;
  text-align: center;
  &:hover {
    background: #e5e6eb;
  }
}
.starList{
  span{
    margin: 0 4px;
    cursor: pointer;
  }
}
.operateBtn{
  // width: 20px;
  // height: 20px;
  position: absolute;
  left:0;
  top:50%;
  margin-top: -12px;
}
.overBgTitle{
  width: 2px;
  height: 40px;
  position: absolute;
  left: -1px;
  top:0;
  background-color: var(--color-neutral-2) ;
}
.overBg{
  width: 1px;
  height: 40px;
  top: 0;
  left: -1px;
  background-color: var(--color-bg-1);
  position: absolute;
}
:deep(.arco-table-tr){
  &:hover{
    .overBg{
      background-color: var(--color-neutral-1);
    }
  }
}
:deep(.arco-table-tr-checked .overBg){
  background-color: var(--color-neutral-1);
}

.icon{
  width:24px;
  height: 24px; 
  display:inline-block;
  text-align: center;
  line-height: 24px;
  border-radius: 2px;
  
}
.iconHover{
  &:hover{
    background: rgba(245, 63, 63, .3);
  }
}
.iconHoverGreen{
  &:hover{
    background: rgba(41, 105, 255, .3);
  }
}
:deep(.arco-table-border-cell .arco-table-td:first-child){
  border-right:none;
}
</style>
