<template>
  <div v-if="hasLoad">
    <a-input-search
      style="margin-bottom: 8px; max-width: 240px"
      v-model="searchKey"
      placeholder="费用名称"
      allow-clear
    />
    <a-tree
      :data="treeData"
      block-node
      :default-expanded-keys="['0-0']"
      @select="selectHandle"
    >
      <template #title="nodeData">
        <template
          v-if="((index = getMatchIndex(nodeData?.title)), index < 0)"
          >{{ nodeData?.title }}</template
        >
        <span v-else>
          {{ nodeData?.title?.substr(0, index) }}
          <span style="color: var(--color-primary-light-4)">
            {{ nodeData?.title?.substr(index, searchKey.length) }} </span
          >{{ nodeData?.title?.substr(index + searchKey.length) }}
        </span>
      </template>
    </a-tree>
  </div>
</template>

<script lang="ts">
import {
  defineComponent,
  ref,
  watch,
  reactive,
  h,
  toRefs,
  computed,
  onMounted,
  nextTick,
} from 'vue';
import lodash from 'lodash';
import { crmApi } from '@/api/crmApi';

export default defineComponent({
  name: 'costLeftFilter',
  props: {
    costCode: {
      type: String,
      default: ''
    },
    costName: {
      type: String,
      default: ''
    }
  },
  emits: ['update:costCode', 'update:costName'],
  setup(props, { emit, slots, attrs }) {
    const searchKey = ref('');
    const dataMap = reactive({
      hasLoad: false,
      originTreeData: [
        {
          title: '',
          key: '0-0',
          children: [
            {
              title: '',
              key: '',
            },
          ],
        },
        {
          title: '',
          key: '0-1',
          children: [
            {
              title: '',
              key: '',
            },
          ],
        },
        {
          title: '',
          key: '0-2',
          children: [
            {
              title: '',
              key: '',
            },
          ],
        },
        {
          title: '',
          key: '0-3',
          children: [
            {
              title: '',
              key: '',
            },
          ],
        },
        {
          title: '',
          key: '0-4',
          children: [
            {
              title: '',
              key: '',
            },
          ],
        },
        {
          title: '',
          key: '0-5',
          children: [
            {
              title: '',
              key: '',
            },
          ],
        },
        {
          title: '',
          key: '0-6',
          children: [
            {
              title: '',
              key: '',
            },
          ],
        },
        {
          title: '',
          key: '0-7',
          children: [
            {
              title: '',
              key: '',
            },
          ],
        },
        {
          title: '',
          key: '0-7',
          children: [
            {
              title: '',
              key: '',
            },
          ],
        },
        {
          title: '',
          key: '0-8',
          children: [
            {
              title: '',
              key: '',
            },
          ],
        },
        {
          title: '',
          key: '0-9',
          children: [
            {
              title: '',
              key: '',
            },
          ],
        },
        {
          title: '',
          key: '0-10',
          children: [
            {
              title: '',
              key: '',
            },
          ],
        },
        {
          title: '',
          key: '0-11',
          children: [
            {
              title: '',
              key: '',
            },
          ],
        },
        {
          title: '',
          key: '0-12',
          children: [
            {
              title: '',
              key: '',
            },
          ],
        },
        {
          title: '',
          key: '0-13',
          children: [
            {
              title: '',
              key: '',
            },
          ],
        },
        {
          title: '',
          key: '0-14',
          children: [
            {
              title: '',
              key: '',
            },
          ],
        },
        {
          title: '',
          key: '0-15',
          children: [
            {
              title: '',
              key: '',
            },
          ],
        },
      ],
    });

    const treeData = computed(() => {
      // if (!searchKey.value) return originTreeData;
      if (!searchKey.value) return dataMap.originTreeData;
      return searchData(searchKey.value);
    });

    function searchData(keyword: string) {
      const loop = (data: any) => {
        const result = [];
        data.forEach((item: any) => {
          if (item.title.toLowerCase().indexOf(keyword.toLowerCase()) > -1) {
            result.push({ ...item });
          } else if (item.children) {
            const filterData = loop(item.children);
            if (filterData.length) {
              result.push({
                ...item,
                children: filterData,
              });
            }
          }
        });
        return result;
      };

      return loop(dataMap.originTreeData);
    }

    function getMatchIndex(title: any) {
      if (!searchKey.value) return -1;
      return title.toLowerCase().indexOf(searchKey.value.toLowerCase());
    }

    // 处理侧边栏数据结构
    const getNavList = (data: any) => {
      data = lodash.map(data, (item,index) => {
        let res = {};
        res.title = item.stage;
        res.key = '0-' + index;
        res.disabled = true;
        res.children = [];
        if (!Array.isArray(item.fees)) {
          getNavList(item.fees);
        } else {
          lodash.forEach(item.fees, (v) => {
            res.children.push({
              title: v.feeName,
              key: v.feeCode,
              labelParent: item.stage,
              allowLumpSumFee: v.allowLumpSumFee, // 是否允许包干(1:允许 0:不允许)
              lumpSumFee: v.lumpSumFee, // 是包干费用(0/false-非包干、1/true-包干)
            });
          });
        }
        return res;
      });
      return data;
    };

    const selectHandle = (selectedKeys: any, data: any) => {
      // console.log(selectedKeys)
      nextTick().then(() => {
        // console.log(selectedKeys)
        // console.log(data.node.title)
        emit('update:costCode',...selectedKeys)
        emit('update:costName',data.node.title)
      })
    };

    // watch(
    //   () => dataMap.searchword,
    //   (newval, oldval) => {
    //     console.log('来新数据了', newval);
    //     // 改变页面params
    //     // 重新请求获取列表数据的接口
    //     // TODO
    //     // getList(params)
    //   },
    //   { immediate: true }
    // );

    const getCost = async () => {
      let params = {
        costFlg: true,
      };
      const { data } = await crmApi.costCenterFei(params);
      console.log(data);
      const navList = getNavList(data);
      console.log(navList);
      dataMap.originTreeData = navList;
      console.log(dataMap.originTreeData,"dataMap.originTreeData");
      
      dataMap.hasLoad = true
    };

    onMounted(async () => {
      await getCost();
    });

    return {
      getNavList,
      ...toRefs(dataMap),
      searchKey,
      treeData,
      getMatchIndex,
      selectHandle,
    };
  },
});
</script>

<style lang="less" scoped>
:deep(.arco-tree-node-disabled){
  .arco-tree-node-title{
    cursor: default !important;
    color: var(--color-text-1);
  }
}
:deep(.arco-tree-node){
  &:hover{
    background-color: var(--color-fill-2);
  }
}
:deep(.arco-tree-node-selected){
  background-color: var(--color-fill-2);
}
</style>