<template>
    <div class="container">
        <a-modal v-model:visible="visible" title="新增控货提单号" @cancel="handleCancel" @before-ok="handleBeforeOk"
            :width="326" :mask-closable="false">
            <a-form ref="formRef" :size="form.size" :model="form" @submit="handleSubmit" layout="vertical">
                <a-form-item field="blNo" label="提单号" :rules="[{ required: true, message: '提单号必填' }]"
                    :validate-trigger="['change', 'input']">
                    <a-input v-model="form.blNo" placeholder="请输入提单号" />
                </a-form-item>
            </a-form>
        </a-modal>
    </div>
</template>

<script lang="ts">
import { defineComponent, ref, reactive, onMounted, defineEmits } from 'vue';
import { crmApi } from '@/api/crmApi';
import { useRouter } from 'vue-router'
import { Message } from '@arco-design/web-vue';

export default defineComponent({
    setup(props, { emit, slots, attrs }) {
        const router = useRouter();
        const formRef = ref()
        const query = router.currentRoute.value.query; // 路径参数
        const form = reactive({
            size: 'medium',
            blNo: '',
            id:'',

        });

        const visible = ref(false)
        const show = (row) => {
            if(row){
                form.id=row.id
                form.blNo = row.blNo
                console.log(form, row,'====form')
            }else{
                form.blNo=''
            }
            visible.value = true
        }
        const close = () => {
            visible.value = false
        }
        const handleCancel = () => {
            console.log()

        }
        const handleBeforeOk = (done) => {
            setTimeout(() => {
                formRef.value.validate(async (error: any, values: any) => {
                    if (error) {
                        done(false)
                        return
                    }
                let params = {
                    blNo: form.blNo,
                    id: form.id
                }
                crmApi.postSaveSeaTransport(params).then((res) => {
                    if (res.code == '200') {
                        if (!form.id) {
                            Message.success('新增成功')

                        } else {
                            Message.success('修改成功')
                        }
                        emit('saveForm')
                        visible.value = false


                    } else {
                        Message.error(res.message)
                    }
                })
            })
            })

        }





        onMounted(() => {

        })

        return {
            visible,
            show,
            close,
            handleCancel,
            handleBeforeOk,
            form,
           
            router,
            query,
            formRef,


        }
    }
})


</script>

<style lang="less" scoped>
</style>


