<template>
  <div class="gocertification-page">
    <div class="title">{{ $t('企业认证') }}</div>
    <div class="certification-container">
      <div class="step">
        <a-steps :current="step">
      <a-step>企业认证</a-step>
      <a-step>个人证件</a-step>
      <a-step>完成</a-step>
    </a-steps>
        <!-- <img v-if="step == 0" src="@/assets/images/members/step1.png" alt="" />
        <img v-if="step == 1" src="@/assets/images/members/step_2.png" alt="" />
        <img v-if="step == 2" src="@/assets/images/members/step3.png" alt="" /> -->
      </div>
      <enterpise-certification
        v-if="step == 1"
        @nextStep="nextStep"
      ></enterpise-certification>
      <personal-certification
        :enterpriseInformation="enterpriseInformation"
        v-if="step == 2"
        @lastStep="lastStep"
        @handleSubmit="handleSubmit"
      ></personal-certification>
      <finish v-if="step == 3"></finish>
    </div>
  </div>
</template>
<script lang="ts" setup>
import { reactive, ref } from 'vue';
import enterpiseCertification from './components/enterpiseCertification.vue';
import personalCertification from './components/personalCertification.vue';
import finish from './components/finish.vue';
import { getUserRouters } from '@/router/guard/utils';
import { useRoute } from 'vue-router';
const userRouter=getUserRouters()
const step = ref(1);
const route=useRoute()
const enterpriseInformation = reactive({
  enterpriseCode: '',
  enterpriseEnName: '',
  enterpriseIdentity: '',
  enterpriseName: '',
  imageUrl: '',
  legalName: '',
});
console.log(userRouter,"userRouter");

// if(route.query.isPlatform==true){
//   step.value=1
// }else{
//   step.value=3
// }
const nextStep = (data: any) => {
  enterpriseInformation.enterpriseCode = data.enterpriseCode;
  enterpriseInformation.enterpriseEnName = data.enterpriseEnName;
  enterpriseInformation.enterpriseIdentity = data.enterpriseIdentity;
  enterpriseInformation.enterpriseName = data.enterpriseName;
  enterpriseInformation.imageUrl = data.imageUrl;
  enterpriseInformation.legalName = data.legalName;
  step.value = 2;
};
const lastStep = () => {
  step.value = 1;
};
const handleSubmit = () => {
  step.value = 3;
  getRouter();
};
const getRouter = async () => {
  await getUserRouters();
};
</script>
<style lang="less" scoped>
.gocertification-page {
  width: 100%;
  height: 100vh;
  //   padding: 20px;
  overflow: auto;
  .certification-container {
    width: 97.5%;
    background: #ffffff;
    border-radius: 12px 12px 0px 0px;
    margin: 12px 15px;
    padding-top: 24px;
    // padding-bottom: 20px;
    .step {
      width: 570px;
      height: 23px;
      margin: 0 auto;
      img {
        width: 100%;
        height: 100%;
      }
    }
  }
  .title {
    font-size: 16px;
    color: #333333;
    font-weight: 600;
    margin-left: 15px;
    width: 98.5%;
    height: 48px;
    border-bottom: 1px solid #e6e6e6;
    padding-top: 12px;
  }
  .second-title {
    color: #848490;
    font-size: 12px;
  }
}
</style>
