<template>
  <div>
    <a-form :model="form" ref="formRef" layout="vertical">
      <a-form-item
        field="portCode"
        label="港口"
        label-col-flex="70px"
        :rules="[{ required: true, message: '港口不能为空' }]"
      >
        <a-select v-model="form.portCode" placeholder="请选择港口" allow-search>
          <a-option
            v-for="item of portList"
            :key="item.value"
            :value="item.value"
            :label="item.label"
          />
        </a-select>
      </a-form-item>
    </a-form>
    <CostItem
      :selectedLump="costItemData.selectedLump"
      :selectedNoLump="costItemData.selectedNoLump"
      v-model:selectedLumpData="costItemData.selectedLumpData"
      v-model:selectedNoLumpData="costItemData.selectedNoLumpData"
    ></CostItem>
    <div class="btn_wrapper">
      <DwButton @click="handleSave" type="primary">保存</DwButton>
    </div>
  </div>
</template>

  
<script setup>
import { onMounted, reactive, ref, watch } from 'vue';
import CostItem from '../../addPrice/components/CostItem.vue';
import { Message } from '@arco-design/web-vue';
import { contractManage } from '@/api/contractManage'; //当前页面api
import { useRoute } from 'vue-router';
import { createOffer } from '@/api/createOffer';
const route = useRoute();
//#region  清关运输 费用范围
const props = defineProps({
  offerInfo: {
    type: Object,
    default: () => ({}),
  },
  contractInfo: {
    type: Object,
    default: () => ({}),
  },
});
const formRef = ref(null);
const portList = ref([]);
// 港口
contractManage.port({ countryId: 104 }).then((res) => {
  portList.value = res.data.map((curItem) => ({
    ...curItem,
    value: curItem.seaportCode,
    label: curItem.seaportName,
  }));
});
// 获取默认包干非包干

const form = reactive({
  portCode: '',
});
const costItemData = reactive({
  selectedLump: [], //选择的包干
  selectedNoLump: [],
  selectedLumpData: [],
  selectedNoLumpData: [],
});

// 获取费用包/非包干费的默认值
const getCostItemList = async (packingTypeCode) => {
  const res = await createOffer.costItemList({
    packingTypeCode,
  });
  if (res.code === '200' && !res.data.length) return [];
  return res.data;
};

watch(
  () => props.offerInfo.packingTypeCode,
  async (v) => {
    form.portCode = props.offerInfo.portCode;
    const selectedLump = [];
    const selectedNoLump = [];
    const selectedLumpData = [];
    const selectedNoLumpData = [];
    const { offerCostItemList = [] } = props.offerInfo;
    // 通过判断是否有值 来判断是新建，还是编辑
    if (offerCostItemList) {
      offerCostItemList.forEach((item) => {
        if (item.isLumpSum) {
          selectedLump.push(item.costItemCode);
          selectedLumpData.push(item);
        } else {
          selectedNoLump.push(item.costItemCode);
          selectedNoLumpData.push(item);
        }
      });
    } else {
      const res = await getCostItemList(v);
      res.forEach((item) => {
        if (item.lumpSumFee) {
          selectedLump.push(item.feeCode);
          selectedLumpData.push(item);
        } else {
          selectedNoLump.push(item.feeCode);
          selectedNoLumpData.push(item);
        }
      });
    }
    Object.assign(costItemData, {
      selectedLump,
      selectedNoLump,
      selectedLumpData,
      selectedNoLumpData,
    });
  },
  { immediate: true }
);

const handleParams = () => {
  const portCname = portList.value.find(
    (item) => item.value === form.portCode
  )?.label;
  return {
    contractInfoId: route.query.contractInfoId,
    contractOfferConfirmationId: route.query.offerBookId,
    costItemList: [
      ...costItemData.selectedLumpData,
      ...costItemData.selectedNoLumpData,
    ],
    portCname,
    portCode: form.portCode,
  };
};
const handleSave = () => {
  // 验证表单
  formRef.value.validate((result) => {
    if (result) return;
    contractManage
      .BulkCargoSaveQuote({
        ...handleParams(),
      })
      .then(async (res) => {
        if (res.code == 200) {
          Message.success('操作成功！');
        }
      });
  });
};
//#endregion
</script>

<style lang="less" scoped>
.btn_wrapper {
  display: flex;
  justify-content: flex-end;
  margin-top: 16px;
}
</style>