<template>
  <div class="container"
    ><div>
      <button-area>
        <template #left>
          <search-btn
            v-model="searchword"
            placeholder="业务编号/提单号"
          ></search-btn>

          <!-- @click="searchBtnClick" -->
          <filter-btn
            v-model:pageInitFilters="pageInitFilters"
            :viewUserId="viewUserId"
            :viewSystemId="viewSystemId"
            ref="filterRef"
          ></filter-btn>
          <export-table @click="exportTable"></export-table>
          <screen-btn></screen-btn>
          <!-- 刷新按钮执行列表初始化 -->
          <sync-btn @click="syncData"></sync-btn>
        </template>
        <template #right>
          <a-button type="primary" @click="goReimburse">批量同意</a-button>
        </template>
      </button-area></div
    >
    <div class="table">
      <a-table
        :columns="columns"
        :data="tableData"
        :pagination="PaginationProps"
        :loading="loading"
        :draggable="true"
        v-model:selectedKeys="parentSelectedKeys"
        :row-selection="rowSelection"
        row-key="id"
        @selection-change="selectionParentChange"
        @page-change="pageChange"
        @page-size-change="pageSizeChange"
        :expandable="expandable"
      >
        <template #index="{ record, rowIndex }">
          <div>
            {{ rowIndex + 1 }}
          </div>
        </template>
        <template #statementNo="{ record, rowIndex }">
          <div style="color: #2969ff" @click="goState(record)">
            {{ record.statementNo }}
          </div>
        </template>
        <template #expand-row="{ record }">
          <a-table
            :columns="columnChild"
            :data="record.details"
            :pagination="false"
            row-key="id"
            v-model:selectedKeys="selectedKeys[record.id]"
            :row-selection="{ ...rowSelection, showCheckedAll: false }"
            :expandable="expandable_1"
          >
            <template #operate="{ record }">
              <div>
                <a-button type="primary" style="margin-right: 10px"
                  >同意</a-button
                >
                <a-button type="primary" status="danger">驳回</a-button></div
              >
            </template>
            <template #taxIncludedAmount="{ record }">
              <div>
                {{ record.currencySymbol }}
                {{ toThousandFilter(record.taxIncludedAmount) }}
              </div>
            </template>
          </a-table>
        </template>
      </a-table>
    </div>
  </div>
</template>
<script lang="ts" setup>
import { settlementApi } from '@/api/settlementApi/index';
import { cloneDeep } from 'lodash';
import { setNumericText } from '@/utils';
import { ref, reactive, onMounted, nextTick } from 'vue';
import { useRouter } from 'vue-router';
const router = useRouter();
const columns = [
  {
    title: '序号',
    slotName: 'index',
    width: '80',
    fixed: 'left',
  },
  {
    title: '业务编号',
    dataIndex: 'statementNo',
    slotName: 'statementNo',
    width: '200',
    ellipsis: true,
    tooltip: true,
  },
  {
    title: 'MB/L',
    dataIndex: 'mblNo',
    width: '120',
    ellipsis: true,
    tooltip: true,
  },
  {
    title: 'PI号',
    dataIndex: 'piNo',
    slotName: 'piNo',
    width: '120',
    ellipsis: true,
    tooltip: true,
  },
  {
    title: '销售品名',
    dataIndex: 'salesGoods',
    slotName: 'salesGoods',
    width: '120',
    ellipsis: true,
    tooltip: true,
  },
  {
    title: '箱型箱量',
    dataIndex: 'piboxTypeBoxVolumeNo',
    slotName: 'boxTypeBoxVolume',
    width: '120',
    ellipsis: true,
    tooltip: true,
  },
  {
    title: '港区',
    dataIndex: 'portArea',
    slotName: 'portArea',
    width: '120',
    ellipsis: true,
    tooltip: true,
  },
  {
    title: '到港日期',
    dataIndex: 'ata',
    slotName: 'ata',
    width: '120',
    ellipsis: true,
    tooltip: true,
  },
  {
    title: '提箱日期',
    dataIndex: 'suitcaseTime',
    slotName: 'suitcaseTime',
    width: '120',
    ellipsis: true,
    tooltip: true,
  },
  {
    title: '业务完成日期',
    dataIndex: 'businessCompletionTime',
    slotName: 'businessCompletionTime',
    width: '120',
    ellipsis: true,
    tooltip: true,
  },
  {
    title: '客服专员',
    dataIndex: 'customerCommissionerName',
    slotName: 'customerCommissionerName',
    width: '120',
    ellipsis: true,
    tooltip: true,
  },
  {
    title: '客服经理',
    dataIndex: 'customerManagerName',
    slotName: 'customerManagerName',
    width: '120',
    ellipsis: true,
    tooltip: true,
  },
  {
    title: '客服部门',
    dataIndex: 'customerDepartmentName',
    slotName: 'customerDepartmentName',
    width: '120',
    ellipsis: true,
    tooltip: true,
  },
];
const scroll = {
  x: '100%',
  y: '100%',
};
const loading = ref(false);
const PaginationProps = reactive({
  'size': 'mini',
  'total': '',
  'current': 1, //  当前页码
  'page-size': 10, // 每页展示的数据条数
  'show-page-size': true,
  'page-size-options': [10, 20, 30, 40, 50],
  'show-total': true,
  'show-jumper': true,
});
const columnChild = [
  {
    title: '操作',
    slotName: 'operate',
    width: '200',
  },
  {
    title: '费用项目',
    dataIndex: 'feeName',
    slotName: 'feeName',
    width: '120',
    ellipsis: true,
    tooltip: true,
  },
  {
    title: '金额',
    dataIndex: 'taxIncludedAmount',
    slotName: 'taxIncludedAmount',
    width: '120',
    ellipsis: true,
    tooltip: true,
  },
  {
    title: '汇率',
    dataIndex: 'currencyExchangeRate',
    slotName: 'currencyExchangeRate',
    width: '120',
    ellipsis: true,
    tooltip: true,
  },
  {
    title: '结算对象',
    dataIndex: 'supplierName',
    slotName: 'supplierName',
    width: '120',
    ellipsis: true,
    tooltip: true,
  },
  {
    title: '箱号',
    dataIndex: 'containerNo',
    slotName: 'containerNo',
    width: '120',
    ellipsis: true,
    tooltip: true,
  },
  {
    title: '发票号',
    dataIndex: 'invoiceNo',
    slotName: 'invoiceNo',
    width: '120',
    ellipsis: true,
    tooltip: true,
  },
  {
    title: '上报时间',
    dataIndex: 'createTime',
    slotName: 'createTime',
    width: '120',
    ellipsis: true,
    tooltip: true,
  },
  {
    title: '审批时间',
    dataIndex: 'approvalTime',
    slotName: 'approvalTime',
    width: '120',
    ellipsis: true,
    tooltip: true,
  },
  {
    title: '备注',
    dataIndex: 'remark',
    slotName: 'remark',
    width: '200',
    ellipsis: true,
    tooltip: true,
  },
];
const expandable = {
  title: '',
  width: 40,
};
const expandable_1 = {
  title: '',
  width: 60,
};
const selectedKeys = ref([]);
const parentSelectedKeys = ref([]);
const toThousandFilter = (num) => {
  return setNumericText(Number(num), { commas: true, zeroText: '0.00' });
};
const goState = (record: any) => {
  router.push({
    name: 'settleTrack/detail',
    query: {
      id: record.statementId.toString(),
    },
  });
};
// 父级选项变化
const selectionParentChange = (rowKeys: string[]) => {
  for (let key in selectedKeys.value) {
    selectedKeys.value[key] = [];
  }
  rowKeys.forEach((v: string) => {
    let t = tableData.value.find((i: any) => i.id == v);
    selectedKeys.value[t.id] = t.details.map((el: any) => el.id);
  });
  console.log(selectedKeys.value, 'selectedKeys.value');

  emitSelectChecked();
};
const emitSelectChecked = async (type?: number) => {
  await nextTick();
  let arr = [];
  let keys = selectedKeys.value;
  for (let key in keys) {
    if (!keys[key] || keys[key].length == 0) continue;
    let item = cloneDeep(tableData.value).find((v) => v.id == key);
    item.details = item.details.filter((v) => keys[key].includes(v.id));
    arr.push(item);
    console.log(arr,"arr");
  }
  //   emit("selectChecked", arr)
};
const tableData = ref([]);
const searchword = ref('');
const rowSelection = reactive({
  type: 'checkbox',
  showCheckedAll: true,
  checkStrictly: true,
  onlyCurrent: false,
});
const expandedKeys = ref([]);
const params = reactive({
  search: '', // 检索框
  ataStart: '', // 起始到港日期
  ataEnd: '', // 结束到港日期
  businessCompletionTimeStart: '', // 起始业务完成日期
  businessCompletionTimeEnd: '', // 结束业务完成日期
  createTimeStart: '', // 起始上报日期
  createTimeEnd: '', // 结束上报日期
  approvalTimeStart: '', // 起始审批日期
  approvalTimeEnd: '', // 结束审批日期
  sortFiled: '', // 排序字段 1.上传日期 2.到港日期 3.提箱日期 4.业务结束日期
  sortType: 0, // 结束审批日期 0:降序 1:升序
  customerCommissionerName: '', // 客服专员
  customerManagerName: '', // 客服经理
  mainSalespersonName: '', // 销售
  settlementClerkName: '', // 结算
  supplierIds: [], // 结算对象
  status: [], // 费用状态(0-未审批、1-已审批、2-已驳回)
  feeCodes: [], // 费用类型
  customerDepartmentIds: [], // 客服部门
  pageNum: 1,
  pageSize: 10,
});
//页面导出
const exportTable = () => {};
const init = async () => {
  loading.value = true;
  const { code, data } = await settlementApi.settleSupplierList({
    ...params,
  });
  PaginationProps.total = data.total;
  loading.value = false;
  tableData.value = data.list;
};
const pageChange = (page: number) => {
  PaginationProps.current = page;
  params.pageNum = page;
};
const pageSizeChange = (pageSize: number) => {
  PaginationProps['page-size'] = pageSize;
  params.pageSize = pageSize;
};
onMounted(() => {
  init();
});
</script>
<style lang="less" scoped>
.container {
  background-color: var(--color-bg-2);
  // max-width: 100%;
  //   display: flex;
  height: calc(~'100vh - 93px');
  .table {
    margin: 20px;
    z-index: 999;
  }
}
</style>