<template>
  <div class="container">
    <div>
      <button-area>
        <template #left>
          <search-btn v-model="searchword" placeholder="发票号/委托人/开票抬头/业务编号"></search-btn>
          <!-- @click="searchBtnClick" -->
          <filter-btn v-model:pageInitFilters="pageInitFilters" :viewUserId="viewUserId" :viewSystemId="viewSystemId"
            ref="filterRef"></filter-btn>
          <custom-column v-model:pageInitColumns="pageInitColumns" :viewUserId="viewUserId" :viewType="viewType"
            :viewSystemId="viewSystemId" @submitSuccess="submitSuccess"></custom-column>
          <export-table @click="exportTable"></export-table>
          <screen-btn></screen-btn>
          <!-- 刷新按钮执行列表初始化 -->
          <sync-btn @click="syncData"></sync-btn>
        </template>
        <template #right>
          <!-- :disabled="true"  禁用编辑按钮 -->
          <edit-table v-model="isEditDisabled" :disabled="true"></edit-table>
          <a-button v-if="selectedData.length != 0" @click="batchReceipt" type="primary" :style="{
            'height': '30px',
            'margin-right': '8px',
          }">
            <template #icon>
              <icon-plus />
            </template>
            <span>批量签收</span>
          </a-button>


          <a-button @click="batchInvoice" type="primary" v-if="selectedData.length != 0" :style="{
            'width': '108px',
            'height': '30px',
            'margin-right': '8px',
          }">
            <template #icon>
              <icon-plus />
            </template>
            <span>批量开票</span>
          </a-button>

          <a-button @click="batchReject" type="primary" v-if="selectedData.length != 0" :style="{
            'width': '108px',
            'height': '30px',
            'margin-right': '8px',
          }">
            <template #icon>
              <icon-plus />
            </template>
            <span>批量驳回</span>
          </a-button>
          <a-button @click="$router.push('invoiceManage/requestInvoice')" type="primary" :style="{
            'width': '108px',
            'height': '30px',
            'margin-right': '8px',
          }">
            <template #icon>
              <icon-plus />
            </template>
            <span>申请开票</span>
          </a-button>
          <a-button type="primary" :style="{
            'width': '158px',
            'height': '30px',
            'margin-right': '8px',
          }" @click="openOfflineBusinessInvoiceModal">
            <template #icon>
              <icon-plus />
            </template>
            <span>申请非业务开票</span>
          </a-button>

        </template>
      </button-area>

      <div class="table-wrap">
        <a-empty v-if="!hasTabData"></a-empty>
        <CommonTableSettle v-else :url="url" :path="path" :viewUserId="viewUserId" :viewInfo="viewInfo"
          :searchword="searchword" :viewFilterRule="viewFilterRule" :columns="columns" :syncFlag="syncFlag"
          column-resizable :bordered="{ cell: true }" :operateList="operateList" @openFilter="openFilter"
          @getSelectData="getSelectData" @paginationWidth="paginationWidth" ref="commonTableRef">
        </CommonTableSettle>
      </div>
      <tab-view :viewType="viewType" :changeViewId="changeViewId" @submitViewHandle="submitViewHandle"
        @submitDelete="submitDelete" @currentTabViewId="currentTabViewId" @chooseFields="chooseFields"
        @viewFilterRule="viewFilterRule" @viewFilterRuleChange="viewFilterRuleChange"
        @currentTabviewName="currentTabviewName" :paginationWidthNum="paginationWidthNum" ref="tabViewRef"></tab-view>
      <tab-view-modal v-model="modalVisible" :title="tabViewModelTitle" :defaultActiveKey="defaultActiveKey"
        v-model:modalParams="modalParams" @syncTabViewList="syncTabViewList"></tab-view-modal>
      <print-modal ref="printRef" :detailData="detailData"></print-modal>
      <!-- <apply-invoice-modal ref="applyInvoiceModalRef" @syncData="syncData"></apply-invoice-modal> -->

    </div>
  </div>
  <offline-business-invoice-modal ref="offlineBusinessInvoiceModalRef" />

</template>


<script lang="ts">
import {
  defineComponent,
  ref,
  watch,
  reactive,
  h,
  toRefs,
  computed,
  onMounted,
  nextTick,
} from 'vue';
import { settlementApi } from '@/api/settlementApi/index';
import { useUserStore } from '@/store';
import commonApi from '@/utils/commonApi/index';
import { Modal, Message, Button } from '@arco-design/web-vue';
import { useRouter } from 'vue-router';
import offlineBusinessInvoiceModal from './components/offlineBusinessInvoiceModal.vue'
const router = useRouter()
export default defineComponent({
  name: '',
  components: { offlineBusinessInvoiceModal },
  setup(props, { emit, slots, attrs }) {
    const offlineBusinessInvoiceModalRef = ref<any>(null);
    const filterRef = ref([]);
    const printRef = ref([]);
    const userStore = useUserStore();
    const tabViewRef = ref<any>(null);
    const commonTableRef = ref([]);
    const dataMap = reactive({
      hasTabData: false,
      detailData: {},
      applyIs: false,
      applyNoIs: false,
      selectedData: [], // 表格已选择的数据   用于右侧按钮操作时的数据
      syncFlag: 0, // 刷新标志
      path: 'invoiceManage/detail',
      url: settlementApi.settleInvoicePage, // 表格请求的地址  不同的列表页  地址会变化
      viewType: '27', // 运单列表代码 1
      viewUserId: '', // 用户视图ID
      changeViewId: '',
      tabHandleViewUserId: '', // 用户视图ID
      viewInfo: {}, // 用户视图ID 系统视图ID
      viewSystemId: '', // 用户视图ID 系统视图ID
      viewFilterRule: '', // 视图筛选项
      initFilters: '', // 保存视图原始筛选项
      columns: [], // 动态表头表头
      initColumns: [], // 保存视图原始表头
      pageInitColumns: [], // 页面自定义列信息
      modalParams: {}, // 视图弹框配置
      pageInitFilters: '',
      filterlist: [],
      customcolumn: {},
      operateList: [
        {
          name: '预览',
          icon: '',
          color: 'rgba(41, 105, 255, 1)',
          isShow: (record: any) => {
            return record.status == 4 && record.invoiceCode == 'PPDZ';
          },
          callback: async (record: any) => {
            let url = record.fapiaoUrl
            if (!url) {
              const { data } = await settlementApi.invoiceDetailDownload({ id: record.id.toString() })
              window.open(data, '_blank')
            } else {
              window.open(url, '_blank')
            }
          }
        },
        {
          name: '签收',
          icon: '',
          color: 'rgba(41, 105, 255, 1)',
          isShow: (record: any) => {
            if (record.invoiceCode != 'PPDZ' && record.invoiceCode != 'ZZDP') return false;
            return userStore.userId == record.creator
          },
          callback: async (record: any) => {
            const { code } = await settlementApi.invoiceConnecteExecute({ ids: record.key })
            if (code == 200) {
              Message.success('签收成功');
              syncData();
            }
          },
        },
        {
          name: '作废',
          icon: '',
          color: 'rgba(41, 105, 255, 1)',
          // TODO
          isShow: (record: any) => {
            // return true
            return record.status == 4 && record.writeOffAmount == 0 && record.invoiceType != 2
          },
          callback: async (record: any) => {
            Modal.warning({
              title: '提示',
              hideCancel: false,
              alignCenter: true,
              content: () =>
                h('div', { class: 'info-modal-content' }, [
                  h(
                    'span',
                    { style: 'margin-left: 60px;' },
                    `是否确认作废${record.fapiaoNo}发票？`
                  ),
                ]),
              cancelText: '取消',
              async onOk() {
                const { code } = await settlementApi.invoiceInvalid({ id: record.key })
                if (code == 200) {
                  Message.success('作废成功');
                  syncData();
                }
              },
            });
          },
        },

        {
          name: '打印',
          icon: '',
          color: 'rgba(41, 105, 255, 1)',
          // TODO
          isShow: (record: any) => {
            return record.showPrintBtn;
          },
          callback: (record: any) => {
            dataMap.detailData = record;
            printRef.value.handleClick();
          },
        },

      ],
      searchword: '',
      searchPopupVisible: false,
      isEditDisabled: false, //
      tabViewData: [],
      PaginationProps: {
        'size': 'mini',
        'total': 100000,
        'current': 1, //  当前页码
        'show-page-size': true,
        'page-size-options': [10, 20, 30, 40, 50],
        'show-total': true,
        'show-jumper': true,
      },
      modalVisible: false, // 控制新增/编辑/复制视图弹窗是否显示
      tabViewModelTitle: '新增视图', // 视图弹窗title
      defaultActiveKey: '1', // 视图默认展示的tab标签 类型string
      paginationWidthNum: 0,
      currentViewName: '',
      viewName: '',
    });

    const applyInvoiceModalRef = ref([]);
    // 申请开票
    const requestInvoice = () => {
      router.push({
        name: '/mos/invoiceManage/requestInvoice',
      });
    }


    // 根据选中id获取整个数组
    const getSelectDataList = () => {
      return dataMap.selectedData.map(el => {
        return commonTableRef.value.commonTableData.find(item => item.key === el)
      }).filter(el => !!el)

    }

    // 批量签收
    const batchReceipt = async () => {
      let list = getSelectDataList()
      if (list.every(el => el.status != 4 || el.creator != userStore.userId)) {
        return Message.error('有发票不符合签收条件，发票状态必须为待交接且申请人是自己！');
      }

      const { code } = await settlementApi.invoiceConnecteExecute({ ids: dataMap.selectedData.join(',') })
      if (code == 200) {
        Message.success('签收成功');
        syncData();
      }

    }
    // 批量开票
    const batchInvoice = async () => {
      let list = getSelectDataList()
      let ownerIds = [...new Set(list.map(el => el.ownerId))]
      if (ownerIds.length > 1) return Message.error("只能选择同一销货公司")
      const { code } = await settlementApi.invoiceExecute({ ids: dataMap.selectedData.join(','), ownerId: ownerIds[0] })
      if (code == 200) {
        Message.success('开票成功');
        syncData();
      }

    }
    // 批量驳回
    const batchReject = async () => {
      const { code } = await settlementApi.invoiceRevoke({ ids: dataMap.selectedData.join(',') }, {
        ids: dataMap.selectedData,
        rollbackReason: '批量驳回'
      })
      if (code == 200) {
        Message.success('驳回成功');
        syncData();
      }

    }

    const openOfflineBusinessInvoiceModal = () => {
      offlineBusinessInvoiceModalRef.value.handleClick()
    }
    const exportTable = async () => {
      const { code, data } = await settlementApi.invoiceExport(
        commonTableRef.value.params
      );
      if (code == 200) {
        window.open(data.fileUrl);
      }
    };


    const syncData = () => {
      dataMap.searchword = '';
      dataMap.viewFilterRule = '';
      dataMap.columns = dataMap.initColumns;
      dataMap.syncFlag++;
    };

    const chooseFields = (val: any) => {
      if (val.length > 0) {
        dataMap.hasTabData = true;
      } else {
        dataMap.hasTabData = false;
      }
      // 中间列表 展示列表头  当前展示的 传给公共table的
      dataMap.columns = val;
      // 当前视图表头  刷新时设置为dataMap.columns
      dataMap.initColumns = val;
      dataMap.pageInitColumns = val
    };
    const viewFilterRule = (val: any) => {
      // 传给公共table 的筛选项
      dataMap.viewFilterRule = val;
      // 当前视图筛选项  刷新时设置为dataMap.viewFilterRule
      dataMap.initFilters = val;
      // button区域筛选按钮
      dataMap.pageInitFilters = val;
    };
    const viewFilterRuleChange = (val: any) => {
      // 传给公共table 的筛选项
      dataMap.viewFilterRule = val;
      // 当前视图筛选项  刷新时设置为dataMap.viewFilterRule
      dataMap.initFilters = val;
      // button区域筛选按钮
      dataMap.pageInitFilters = val;
    };
    const currentTabViewId = (viewId: object) => {
      dataMap.viewUserId = viewId.currentTabViewId;
      dataMap.viewInfo = viewId;
      dataMap.viewSystemId = viewId.viewSystemId;
    };

    const submitViewHandle = (param: any) => {
      // return
      // 需要展示视图弹窗
      dataMap.modalVisible = true;
      dataMap.tabViewModelTitle = param.title;
      dataMap.defaultActiveKey = param.defaultActiveKey;
      // 新增视图  编辑视图  复制视图
      // 新增视图 无初始化数据
      // 编辑和复制视图  初始化数据一致
      if (param.title == '新增视图') {
        dataMap.modalParams = {
          initColumns: [],
          initFilters: '',
          ...param,
        };
      } else {
        dataMap.modalParams = {
          initColumns: dataMap.initColumns, // 视图原始展示列
          initFilters: dataMap.initFilters,
          ...param,
        };
      }
    };

    const openFilter = () => {
      filterRef.value.filterRef.handleClick();
    };

    const submitDelete = (id: any) => {
    };

    const submitSuccess = (val: any) => {
      tabViewRef.value.getColumns(dataMap.viewUserId);
    };
    watch(
      () => dataMap.pageInitFilters,
      (newval, oldval) => {
        dataMap.viewFilterRule = newval;
      },
      { immediate: true, deep: true }
    );

    // 多选数据
    const getSelectData = (val: any) => {
      dataMap.selectedData = val;
    };
    const paginationWidth = (val: any) => {
      dataMap.paginationWidthNum = val;
    };

    const currentTabviewName = (val: any) => {
      dataMap.currentViewName = val;
    };

    const syncTabViewList = (val: any) => {
      dataMap.changeViewId = val;
      tabViewRef.value.getTabViewListFn();
    };

    // modalParams
    watch(
      () => dataMap.modalParams,
      (newval, oldval) => {
      },
      { immediate: true, deep: true }
    );


    const signatrueDialogRef = ref(null);
    const showsignDialog = () => {
      signatrueDialogRef.value.visible = true;
    };
    const extraDialogRef = ref(null);
    const showextraDialog = () => {
      extraDialogRef.value.visible = true;
    };
    const init = async () => {
      const res = await commonApi.getRoleByPage('MOS_PAGE_0017');
      // applyIs:true,
      // applyNoIS:true,
      const btnList = res.map((item) => {
        return item.functionCode;
      });
      if (btnList.indexOf('FUNCTION_293') > -1) {
        dataMap.applyNoIs = true;
      } else {
        dataMap.applyNoIs = false;
      }
      if (btnList.indexOf('FUNCTION_292') > -1) {
        dataMap.applyIs = true;
      } else {
        dataMap.applyIs = false;
      }
    };
    init();
    return {
      exportTable,
      syncData,
      printRef,
      init,
      ...toRefs(dataMap),
      // columns,
      // data,
      // PaginationProps,
      chooseFields,
      viewFilterRule,
      currentTabViewId,
      submitViewHandle,
      submitDelete,
      openFilter,
      filterRef,
      viewFilterRuleChange,
      getSelectData,
      paginationWidth,
      currentTabviewName,
      showsignDialog,
      signatrueDialogRef,
      extraDialogRef,
      submitSuccess,
      tabViewRef,
      commonTableRef,
      openOfflineBusinessInvoiceModal,
      offlineBusinessInvoiceModalRef,
      syncTabViewList,
      requestInvoice,
      batchReceipt,
      batchReject,
      batchInvoice,
    };
  },
});
</script>

<style lang="less" scoped>
.container {
  background-color: var(--color-bg-2);
  // max-width: 100%;
  display: flex;
  height: calc(~'100vh - 93px');
}

.table-wrap {
  width: 100%;
  overflow: hidden;
  padding: 0 20px;
  height: calc(~'100% - 70px - 64px');
}

.info-modal-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
</style>
