<template>
    <a-modal width="auto" v-model:visible="visible" :closable="false"
    :hide-cancel="true" :simple="true" :mask-closable="false">
        <template #title>
            提示
        </template>
        <div class="modal_content">
            <div>{{content}}</div>
            <div class="content_tip">
                <div v-for="(item,index) in contentTip" :key="index">{{item}}</div>
            </div>
        </div>
    </a-modal>
</template>

<script lang="ts">
import {ref,reactive,toRefs,defineComponent} from 'vue'
export default defineComponent({
    name:'CloseModal',
    setup(props) {
        const visible = ref(false)
        const content = ref('')
        const contentTip = ref([])
        return {
            visible,
            content,
            contentTip,
        }
    }
})
</script>

<style lang="less" scoped>
.modal_content{
    min-width: 300px;
    .content_tip{
        margin-top: 10px;
        color: rgb(246, 78, 96);
    }
}
</style>