<template>
<a-modal v-model:visible="visible" :width="1000" :footer="true" :mask-closable="false">
    <template #title>
      统计
    </template>
    <a-table row-key="orderLogisticsNo" :columns="columns" :data="tableData" :pagination="false" :loading="loading">
         <template #mark="{ record,rowIndex }">
          <a-input v-model="record.originalExceptionDescription" :error="(record.originalExceptionDescription==''||record.originalExceptionDescription==null)&&record.signatureStatus==1"></a-input>
         </template>
    </a-table>
    
</a-modal>
</template>

<script lang="ts">
import { settleTrackApi } from '@/api/settleTrackApi/index.ts'
import {
  defineComponent,
  ref,
  watch,
  reactive,
  h,
  toRefs,
  computed,
  onMounted,
  nextTick,
} from 'vue';
import { Message  } from '@arco-design/web-vue';
export default defineComponent({
    name: 'signature',
    setup(){
       const visible = ref(false);
       const columns=
        [
          {
            title: '币别',
            dataIndex: 'currency',
          },
          {
            title: '收入',
            dataIndex: 'incomeAmount',
          },
          {
            title: '成本',
            dataIndex: 'costAmount',
          },
          {
            title: '代收',
            dataIndex: 'proxyAmount',
          },
          {
            title: '利润',
            dataIndex: 'profitAmount',
          },
          {
            title: '对账未开票',
            dataIndex: 'incomeNotInvoicedAmount',
          },
          {
            title: '开票未收款',
            dataIndex: 'incomeCanWrittenOffAmount',
          },
        //   {
        //     title: '备注',
        //     dataIndex: 'originalExceptionDescription',
        //     slotName: 'mark'
        //   }
        ]

       const data=reactive({
          tableData:[],
          loading:false,
       })
       function getList(val:any){
          // console.log(val)//筛选条件
          data.loading = true
          settleTrackApi.getStatisticsData(val).then(res=>{
            data.loading = false
            if(res.code == 200){
              data.tableData = res.data
            }
          }).catch(()=>{
            data.loading = false
          })
        }

      return{
        visible,
        columns,
        getList,
        ...toRefs(data)
      }
    }
})
</script>

<style lang="less" scoped>
.arco-table{
  margin-top:20px;
}
</style>