<template>
  <div class="detail-container">
    <div class="header">
      <div class="header-left">{{ detail.orderLogisticsNo }}</div>
      <div class="header-right"
        ><a-button
          type="primary"
          size="small"
          @click="saveSubmit"
          v-if="!detail.orderLogisticsExtVO.reviewerFlowTime"
          ><template #icon> <icon-check-square /> </template>审单流转</a-button
        ><a-button
          type="primary"
          size="small"
          @click="completeExamine"
          class="ml8"
          v-if="detail.documentReviewStatus != 2"
          ><template #icon> <icon-check-square /> </template>审单完成</a-button
        ></div
      >
    </div>
    <div class="main">
      <div class="main-left">
        <a-card>
          <Base ref="baseRef" @updateDetail="updateDetail"></Base>
        </a-card>
        <a-tabs
          default-active-key="1"
          @change="changeTab"
          :class="{ width100: tabIndex != '1' }"
        >
          <a-tab-pane key="1">
            <template #title>单证信息</template>
            <document-tab
              ref="documentTabRef"
              @updateRes="updateRes"
            ></document-tab>
          </a-tab-pane>
          <a-tab-pane key="2">
            <template #title>邮件</template>
            <email-tab ref="emailTabRef" @updateDoc="updateDoc"></email-tab>
          </a-tab-pane>
        </a-tabs>
      </div>
      <right
        class="main-right"
        ref="rightRef"
        @sendMark="sendMark"
        v-show="tabIndex == '1' && isShow"
      ></right>
    </div>
  </div>
  <sendEmail ref="sendEmailRef"></sendEmail>
  <a-modal v-model:visible="visible" @ok="handleOk" @cancel="handleCancel">
    <template #title>提示</template>
    <div class="tips">该运单尚有单证存在异常，是否确认完成审单</div>
    <a-textarea v-model="remark" placeholder="请输入审单情况备注" />
  </a-modal>
</template>
<script lang="ts">
  import { ref, toRefs, computed, defineComponent, reactive, watch } from 'vue';
  import { useRoute, useRouter } from 'vue-router';
  import { examineApi } from '@/api/examine/index';
  import { Message, Modal } from '@arco-design/web-vue';
  import Base from './detailComponents/base.vue';
  import documentTab from './detailComponents/documentTab.vue';
  import emailTab from './detailComponents/emailTab.vue';
  import right from './detailComponents/right.vue';
  import sendEmail from './detailComponents/sendEmailDialog.vue';
  export default defineComponent({
    name: 'jfd',
    components: {
      Base,
      documentTab,
      emailTab,
      right,
      sendEmail,
    },
    setup() {
      const route = useRoute();
      const dataMap = reactive({
        orderLogisticsNo: '',
        detail: {
          orderLogisticsExtVO: {
            reviewerFlowTime: '',
          },
        },
        visible: false,
        remark: '',
        status: null,
        tabIndex: '1',
        isShow: true,
      });
      // watch(
      //   () => dataMap.tabIndex,
      //   (newval, oldval) => {
      //     if(newval==1){
      //       dataMap.isShow == true
      //     }
      //   },
      //   { immediate: false, deep: true }
      // );
      const functionMap = reactive({
        updateDetail(val) {
          dataMap.detail = val;
          console.log(dataMap.detail);
        },
        //更新审单结果
        updateRes(data) {
          rightRef.value.updateRes(data);
        },
        //审单流转
        saveSubmit() {
          let ok = {
            orderLogisticsNo: route.query.orderLogisticsNo,
            operationType: 3,
            remark: '',
          };
          examineApi.examineSaveSubmit(ok).then((res) => {
            if (res.code == '200') {
              Message.success('审单流转成功！');
              rightRef.value.getMarkList();
            }
          });
        },
        //审单完成
        completeExamine() {
          console.log(documentTabRef.value.tableData);
          let data = documentTabRef.value.tableData;
          let err = [];
          data.forEach((item) => {
            if (item.status == 0 || item.status == 2) {
              err.push(item);
            }
          });
          if (err.length > 0) {
            dataMap.visible = true;
            // Message.error('该运单尚有单证存在异常，是否确认完成审单');
            return;
          } else {
            let ok = {
              orderLogisticsNo: route.query.orderLogisticsNo,
              operationType: 2,
              remark: '',
            };
            examineApi.examineSaveSubmit(ok).then((res) => {
              if (res.code == '200') {
                Message.success('审单完成成功！');
                rightRef.value.getMarkList();
              }
            });
          }
        },
        handleOk() {
          // if (dataMap.remark) {
          //   let params = {
          //     displayText: JSON.stringify([dataMap.remark]),
          //     orderLogisticsNo: route.query.orderLogisticsNo,
          //   };
          //   examineApi.saveMark(params).then((res) => {
          //     if (res.code == '200') {
          //       rightRef.value.getMarkList();
          //     }
          //   });
          // }
          let ok = {
            orderLogisticsNo: route.query.orderLogisticsNo,
            operationType: 2,
            remark: dataMap.remark?JSON.stringify([dataMap.remark]):'',
          };
          examineApi.examineSaveSubmit(ok).then((res) => {
            if (res.code == '200') {
              Message.success('审单完成成功！');
              rightRef.value.getMarkList();
            }
          });
          dataMap.remark = '';
          dataMap.visible = false;
        },
        handleCancel() {},
        //切换页签
        changeTab(v) {
          dataMap.tabIndex = v;
        },
        //发送
        sendMark() {
          console.log(documentTabRef.value.tableData);
          let data = documentTabRef.value.tableData;
          //单证种类或状态没选
          let err = [];
          data.forEach((item) => {
            if (!item.documentsCategory || item.status == null) {
              err.push(item);
            }
          });
          if (err.length > 0) {
            Message.error('存在无审单结果的单证，请完善审单结果');
            return;
          }
          //有误但没备注
          let err1 = [];
          data.forEach((item) => {
            if (item.status == 0 && item.problemDescription == '') {
              err1.push(item);
            }
          });
          if (err1.length > 0) {
            Message.error('单证状态有误时，问题为必填！');
            return;
          }
          let arr: any = [];
          data.forEach((item) => {
            if (item.status == '0') {
              if (item.documentsCategory == 1) {
                arr.push(
                  `草稿件：${item.documentName}-有误，${item.problemDescription}`
                );
              } else if (item.documentsCategory == 2) {
                arr.push(
                  `彩扫件：${item.documentName}-有误，${item.problemDescription}`
                );
              } else {
                arr.push(
                  `${item.documentName}-有误，${item.problemDescription}`
                );
              }
            }
            if (item.status == '2') {
              if (item.documentsCategory == 1) {
                arr.push(
                  `草稿件：${item.documentName}-缺失${
                    item.problemDescription
                      ? '，' + item.problemDescription
                      : ''
                  }`
                );
              } else if (item.documentsCategory == 2) {
                arr.push(
                  `彩扫件：${item.documentName}-缺失${
                    item.problemDescription
                      ? '，' + item.problemDescription
                      : ''
                  }`
                );
              } else {
                arr.push(
                  `${item.documentName}-缺失${
                    item.problemDescription
                      ? '，' + item.problemDescription
                      : ''
                  }`
                );
              }
            }
          });
          let displayText = rightRef.value.remarks;
          let email = JSON.parse(JSON.stringify(displayText));
          email = email + `<div>${arr.join(';')}</div>`;
          arr.push(displayText);
          if (arr) {
            let ok = {
              orderLogisticsNo: route.query.orderLogisticsNo,
              displayText: JSON.stringify(arr),
            };
            examineApi.saveMark(ok).then((res) => {
              if (res.code == '200') {
                rightRef.value.getMarkList();
                rightRef.value.remarks = '';
              }
            });
          }
          if (emailTabRef.value.dataList.length) {
            sendEmailRef.value.show(emailTabRef.value.dataList[0], email);
          }
        },
        //更新文档页签
        updateDoc() {
          documentTabRef.value.getAuditDocumentList();
        },
      });
      // watch(
      //   () => baseRef.value.fromData.status,
      //   (newval, oldval) => {
      //     dataMap.status = status;
      //   },
      //   { immediate: false, deep: true }
      // );
      const baseRef = ref(null);
      const documentTabRef = ref();
      const emailTabRef = ref();
      const rightRef = ref(null);
      const sendEmailRef = ref(null);
      return {
        ...toRefs(dataMap),
        ...toRefs(functionMap),
        baseRef,
        documentTabRef,
        emailTabRef,
        rightRef,
        sendEmailRef,
      };
    },
  });
</script>

<style lang="less" scoped>
  .detail-container {
    width: 100%;

    background: #f2f3f5;
    .header {
      width: 100%;
      height: 70px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 20px;
      background: #ffffff;
      box-shadow: 0px 1px 0px #e5e6eb;
      .header-left {
        font-weight: 500;
        font-size: 20px;
        line-height: 28px;
        color: #1d2129;
      }
    }
    .main {
      display: flex;
      // min-height: calc(100vh - 200px);
      width: 100%;
      // height: 600px;
      // min-height: 1200px;
      overflow-y: auto;
      .main-left {
        flex: 1;
        height: 100%;
        display: flex;
        flex-direction: column;
        .arco-card {
          margin: 20px;
          padding: 20px 32px;
          border: 1px solid #e5e6eb;
          margin-bottom: 0px;
          // overflow-y: auto;
          :deep .arco-card-body {
            padding: 0;
          }
        }
        :deep .arco-tabs {
          flex: 1;
          margin: 20px;
          width: calc(100vw - 380px);
          overflow-y: auto;
          // height: calc(100vh - 180px);
          background: #ffffff;
          border: 1px solid var(--color-neutral-3);
          margin-bottom: 20px;
          .arco-tabs-content {
            width: 100%;
            height: 100%;
            overflow-y: auto;
            padding-top: 0;
            padding: 8px 20px;
            .arco-tabs-pane {
              // min-height: 356px;
              height: 460px;
              // overflow-y: auto;
            }
          }
        }
        .width100 {
          width: calc(100vw - 40px);
        }
      }
      .main-right {
        width: 337px;
        height: 806px;
        // margin-bottom: 58px;
        // height: calc(100vh - 100px);
      }
    }
  }
  .tips {
    font-size: 14px;
    line-height: 20px;
    color: #4e5969;
    text-align: center;
    margin-bottom: 20px;
  }
  .ml8 {
    margin-left: 8px;
  }
</style>
