<template>
  <div class="container">
    <div>
      <button-area>
        <template #left>
          <search-btn
            v-model="searchword"
            placeholder="业务编号/PI号/委托人/国内买家/提单号/箱号"
          ></search-btn>

          <!-- @click="searchBtnClick" -->
          <filter-btn
            v-model:pageInitFilters="pageInitFilters"
            :viewUserId="viewUserId"
            :viewSystemId="viewSystemId"
            ref="filterRef"
          ></filter-btn>
          <custom-column
            v-model:pageInitColumns="pageInitColumns"
            :viewUserId="viewUserId"
            :viewType="viewType"
            :viewSystemId="viewSystemId"
            @submitSuccess="submitSuccess"
          ></custom-column>
          <export-table @click="exportTable"></export-table>
          <screen-btn></screen-btn>
          <!-- 刷新按钮执行列表初始化 -->
          <sync-btn @click="syncData"></sync-btn>
        </template>
        <template #right>
          <!-- :disabled="true"  禁用编辑按钮 -->
          <edit-table v-model="isEditDisabled"></edit-table>
          <a-button
            @click="newWaybill"
            type="primary"
            :style="{ width: '112px', height: '30px' }"
          >
            <template #icon>
              <icon-plus />
            </template>
            <span>新建运单</span>
          </a-button>
          <a-button
            @click="liuzhuan()"
            type="primary"
            class="ml12"
            :style="{ width: '112px', height: '30px' }"
          >
            <template #icon>
              <icon-check-square />
            </template>
            <span>审单流转</span>
          </a-button>
        </template>
      </button-area>
      <!-- {{modalVisible}} -->

      <div class="table-wrap">
        <a-empty v-if="!hasTabData"></a-empty>
        <CommonTableManage
          v-else
          :url="url"
          :viewUserId="viewUserId"
          :viewInfo="viewInfo"
          :searchword="searchword"
          :viewFilterRule="viewFilterRule"
          :columns="columns"
          :syncFlag="syncFlag"
          column-resizable
          :isEditDisabled="isEditDisabled"
          :bordered="{ cell: true }"
          :operateList="operateList"
          @openFilter="openFilter"
          @getSelectData="getSelectData"
          @paginationWidth="paginationWidth"
          ref="commonTableRef"
        >
          <!-- :operateList="operateList" -->
        </CommonTableManage>
      </div>
      <tab-view
        :viewType="viewType"
        :changeViewId="changeViewId"
        @submitViewHandle="submitViewHandle"
        @submitDelete="submitDelete"
        @currentTabViewId="currentTabViewId"
        @chooseFields="chooseFields"
        @viewFilterRuleChange="viewFilterRuleChange"
        @currentTabviewName="currentTabviewName"
        :paginationWidthNum="paginationWidthNum"
        ref="tabViewRef"
      ></tab-view>

      <tab-view-modal
        v-model="modalVisible"
        :title="tabViewModelTitle"
        :defaultActiveKey="defaultActiveKey"
        v-model:modalParams="modalParams"
        @syncTabViewList="syncTabViewList"
      ></tab-view-modal>
      <!--         :viewUserId="tabHandleViewUserId"
        :viewSystemId="viewSystemId"
        :viewName="viewName"
        :viewType="viewType" -->
    </div>
  </div>
  <newWaybill ref="newWaybillRef" @updatePage="syncData"></newWaybill>
  <a-modal v-model:visible="visible" @ok="handleOk" @cancel="handleCancel">
    <template #title>提示</template>
    <div class="tips">该运单尚有单证存在异常，是否确认完成审单</div>
    <a-textarea v-model="remark" placeholder="请输入审单情况备注" />
  </a-modal>
</template>

<script lang="ts">
  import {
    defineComponent,
    ref,
    watch,
    reactive,
    h,
    toRefs,
    computed,
    onMounted,
    nextTick,
  } from 'vue';
  import { runOrderList } from '@/api/base';
  import { crmApi } from '@/api/crmApi';
  import { merchants } from '@/api/merchants/index';
  import CommonTableManage from './components/common-table/index.vue';
  import { Message, Modal } from '@arco-design/web-vue';
  import { useRouter } from 'vue-router';
  import { common } from '@/api/common/index';
  import newWaybill from './components/newWaybillDialog.vue';
  import { examineApi, examineApi } from '@/api/examine';
  export default defineComponent({
    name: 'examineOrder',
    components: {
      CommonTableManage,
      newWaybill,
    },
    setup(props, { emit, slots, attrs }) {
      const router = useRouter();
      const filterRef = ref([]);
      const tabViewRef = ref<any>(null);
      const dataMap = reactive({
        detail: {},
        remark: '',
        visible: false,
        hasTabData: false,
        selectedData: [], // 表格已选择的数据   用于右侧按钮操作时的数据
        syncFlag: 0, // 刷新标志
        runOrderList, // 表格请求的地址  不同的列表页  地址会变化
        url: examineApi.mosExamineViewPage,
        viewType: '2', // 运单列表代码 1
        viewUserId: '', // 用户视图ID
        tabHandleViewUserId: '', // 用户视图ID
        viewInfo: {}, // 用户视图ID 系统视图ID
        viewSystemId: '', // 用户视图ID 系统视图ID
        viewFilterRule: '', // 视图筛选项
        initFilters: '', // 保存视图原始筛选项
        columns: [], // 动态表头表头
        initColumns: [], // 保存视图原始表头
        pageInitColumns: [], // 页面自定义列信息
        modalParams: {}, // 视图弹框配置
        pageInitFilters: '',
        filterlist: [],
        changeViewId: '',
        customcolumn: {},
        operateList: [
          // {
          //   name: '编辑',
          //   icon: '',
          //   color: 'rgba(41, 105, 255, 1)',
          //   // TODO
          //   // isShow: () => {

          //   // },
          //   callback: (id: any) => {
          //     console.log('00000', id);
          //     // TODO
          //   },
          // },
          // {
          //   name: '详情',
          //   icon: '',
          //   color: 'rgba(41, 105, 255, 1)',
          //   isShow: (record: any) => {
          //     return true;
          //   },
          //   callback: (item: any) => {
          //     toDetail(item);
          //   },
          // },
          {
            name: '审单完成',
            icon: '',
            color: 'rgba(41, 105, 255, 1)',
            isShow: (record: any) => {
              return record.documentReviewStatus == 1;
              // return true;
            },
            callback: (item: any) => {
              if (item.documentReviewResult == 0) {
                dataMap.visible = true;
                dataMap.detail = item;
                return;
              } else {
                let ok = {
                  orderLogisticsNo: item.orderLogisticsNo,
                  operationType: 2,
                  remark:''
                };
                examineApi.examineSaveSubmit(ok).then((res) => {
                  if (res.code == '200') {
                    Message.success('审单完成成功！');
                  }
                });
              }
            },
          },
        ],
        // params: {
        //   viewUserId: '', // 用户视图ID
        //   keyword: '',
        //   pageNum: 1, // 当前页-默认为1
        //   pageSize:10, // 每页大小-默认为10
        //   viewFilterRule: '', //筛选规则: 整体为字符串数组JSON格式数组，单条规则之间分割符为|||
        //   orderByViewSystemFieldId:'', // 排序字段的系统视图字段ID
        //   orderByType: '',//排序类型: 降序-desc 升序-asc
        // },
        searchword: '',
        searchPopupVisible: false,
        isEditDisabled: false, //
        tabViewData: [],
        PaginationProps: {
          'size': 'mini',
          'total': 100000,
          'current': 1, //  当前页码
          'show-page-size': true,
          'page-size-options': [10, 20, 30, 40, 50],
          'show-total': true,
          'show-jumper': true,
        },
        modalVisible: false, // 控制新增/编辑/复制视图弹窗是否显示
        tabViewModelTitle: '新增视图', // 视图弹窗title
        defaultActiveKey: '1', // 视图默认展示的tab标签 类型string
        paginationWidthNum: 0,
        currentViewName: '',
        viewName: '',
      });
      const exportTable = () => {
        console.log('导出数据');
        const params = {
          keyWord: '',
          viewSql: '',
          pageNum: 1,
          pageSize: 10,
          viewUserId: dataMap.viewUserId, //
          viewSystemId: dataMap.viewSystemId, //
          viewFilterRule: '',
          orderByViewSystemFieldId: '',
          orderByType: '',
        };
        examineApi.mosLogisticsViewExcel(params).then((response) => {
          console.log(response, '=====');
          let blob = new Blob([response], {
            type: 'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet;charset=utf-8',
          });
          let url = window.URL.createObjectURL(blob);
          const link = document.createElement('a'); // 创建a标签
          link.href = url;
          link.download = '审单列表';
          link.click();
          URL.revokeObjectURL(url); // 释放内存
        });
      };

      const syncData = () => {
        dataMap.searchword = '';
        dataMap.viewFilterRule = '';
        dataMap.columns = dataMap.initColumns;
        dataMap.syncFlag++;
      };

      const chooseFields = (val: any) => {
        console.log(val);
        console.log('---------表头表头-----------');
        if (val.length > 0) {
          dataMap.hasTabData = true;
        } else {
          dataMap.hasTabData = false;
        }
        // 中间列表 展示列表头  当前展示的 传给公共table的
        dataMap.columns = val;
        // 当前视图表头  刷新时设置为dataMap.columns
        dataMap.initColumns = val;
        // button区域自定义列  定义表头 - -  脑子可能不太好  整这么多表头
        dataMap.pageInitColumns = val;
      };

      const viewFilterRuleChange = (val: any) => {
        console.log(val);
        // 传给公共table 的筛选项
        dataMap.viewFilterRule = val;
        // 当前视图筛选项  刷新时设置为dataMap.viewFilterRule
        dataMap.initFilters = val;
        // button区域筛选按钮
        dataMap.pageInitFilters = val;
      };

      const currentTabViewId = (viewId: object) => {
        console.log('接收到视图id的参数了', viewId);
        dataMap.viewUserId = viewId.currentTabViewId;
        dataMap.viewInfo = viewId;
        dataMap.viewSystemId = viewId.viewSystemId;
      };

      const submitViewHandle = (param: any) => {
        console.log('从视图组件传来的参数：', param);
        // return
        // 需要展示视图弹窗
        dataMap.modalVisible = true;
        dataMap.tabViewModelTitle = param.title;
        dataMap.defaultActiveKey = param.defaultActiveKey;
        // 新增视图  编辑视图  复制视图
        // 新增视图 无初始化数据
        // 编辑和复制视图  初始化数据一致
        if (param.title == '新增视图') {
          dataMap.modalParams = {
            initColumns: [],
            initFilters: '',
            ...param,
          };
        } else {
          dataMap.modalParams = {
            initColumns: dataMap.initColumns, // 视图原始展示列
            initFilters: dataMap.initFilters,
            ...param,
          };
        }
        console.log('dataMap.modalParams:', dataMap.modalParams);
      };

      const openFilter = () => {
        console.log('需要打开筛选。。。');
        filterRef.value.filterRef.handleClick();
      };

      const submitDelete = (id: any) => {
        console.log(id);
        console.log('删除了当前视图  整个页面需要初始化');
      };

      const submitSuccess = (val: any) => {
        console.log(val);
        console.log('');
        console.log(tabViewRef.value, 'tabViewRef.value');
        // tabViewRef.value.getTabViewListFn()
        // 重新获取表头
        tabViewRef.value.getColumns(dataMap.viewUserId);
      };

      const syncTabViewList = (val: any) => {
        console.log('需要刷新视图列表', val);
        dataMap.changeViewId = val;
        tabViewRef.value.getTabViewListFn();
      };
      watch(
        () => dataMap.searchword,
        (newval, oldval) => {
          console.log('来新数据了', newval);
          // 改变页面params
          // 重新请求获取列表数据的接口
          // TODO
          // getList(params)
        },
        { immediate: true, deep: true }
      );
      watch(
        () => dataMap.pageInitFilters,
        (newval, oldval) => {
          console.log('来新数据了', newval);
          dataMap.viewFilterRule = newval;
        },
        { immediate: true, deep: true }
      );

      // 多选数据
      const getSelectData = (val: any) => {
        dataMap.selectedData = val;
        console.log(val, 123);
      };

      const paginationWidth = (val: any) => {
        console.log(val);
        dataMap.paginationWidthNum = val;
      };

      const currentTabviewName = (val: any) => {
        console.log(val);
        dataMap.currentViewName = val;
      };
      const toDetail = (item: any) => {
        console.log(item);
        router.push({
          path: '/mos/examineOrderDetail',
          query: {
            orderLogisticsNo: item.key,
          },
        });
      };
      const functionMap = reactive({
        handleOk() {
          // if (dataMap.remark) {
          //   let params = {
          //     displayText: dataMap.remark,
          //     orderLogisticsNo: dataMap.detail.orderLogisticsNo,
          //   };
          //   examineApi.saveMark(params).then((res) => {
          //     if (res.code == '200') {
          //     }
          //   });
          // }
          let ok = {
            orderLogisticsNo: dataMap.detail.orderLogisticsNo,
            operationType: 2,
            remark:dataMap.remark?JSON.stringify([dataMap.remark]):'',
          };
          examineApi.examineSaveSubmit(ok).then((res) => {
            if (res.code == '200') {
              Message.success('审单完成成功！');
            }
          });
          dataMap.remark = '';
          dataMap.visible = false;
        },
        handleCancel() {},
      });
      //新增企业
      const handleClick = async () => {
        router.push('/mos/merchants/add');
        // const params = { ids: dataMap.selectedData };
        // const { code, data } = await crmApi.postunControlOrder(params);
        // dataMap.selectedData = [];
        // if (code == 200) {
        //   Message.success('解控成功');
        //   syncData();
        // }
      };
      const liuzhuan = () => {
        if (commonTableRef.value.selectedKeys.length == 0) {
          Message.warning('请选择运单');
          return;
        }
        let arr = [];
        commonTableRef.value.commonTableData.forEach((item) => {
          if (
            commonTableRef.value.selectedKeys.includes(item.orderLogisticsNo) &&
            item.reviewerFlowTime
          ) {
            arr.push(item);
          }
        });
        console.log(arr);
        if (arr.length > 0) {
          Message.warning('部分运单已经审单流转，请重新选择！');
          return;
        }
        console.log(
          commonTableRef.value.selectedKeys,
          commonTableRef.value.commonTableData
        );
        let aaa = [];
        commonTableRef.value.selectedKeys.forEach((item) => {
          aaa.push({
            orderLogisticsNo: item,
            operationType: 3,
            remark: '',
          });
        });
        examineApi.saveAuditSubmitList(aaa).then((res) => {
          if (res.code == '200') {
            Message.success('审单流转成功！');
          }
        });
      };
      const newWaybillRef = ref(null);
      const newWaybill = () => {
        newWaybillRef.value.show();
      };
      const saveSubmit = () => {};
      // modalParams
      watch(
        () => dataMap.modalParams,
        (newval, oldval) => {
          console.log('来新数据了modalParams', newval);
        },
        { immediate: true, deep: true }
      );
      const commonTableRef = ref(null);
      return {
        exportTable,
        syncData,
        ...toRefs(dataMap),
        // columns,
        // data,
        // PaginationProps,
        chooseFields,
        viewFilterRuleChange,
        currentTabViewId,
        submitViewHandle,
        submitDelete,
        openFilter,
        filterRef,
        getSelectData,
        paginationWidth,
        currentTabviewName,
        submitSuccess,
        tabViewRef,
        handleClick,
        newWaybillRef,
        newWaybill,
        saveSubmit,
        syncTabViewList,
        toDetail,
        ...toRefs(functionMap),
        commonTableRef,
        liuzhuan,
      };
    },
  });
</script>

<style lang="less" scoped>
  .container {
    background-color: var(--color-bg-2);
    // max-width: 100%;
    display: flex;
    height: calc(~'100vh - 93px');
  }
  .table-wrap {
    width: 100%;
    overflow: hidden;
    padding: 0 20px;
    height: calc(~'100% - 70px - 64px');
  }
  .ml12 {
    margin-left: 12px;
  }
</style>
