<template>
  <div class="table">
    <div class="join">
      <div class="vertical"></div>
      <span class="font">成本核算表(包干) </span>
    </div>
    <a-table
      :columns="columns"
      :data="data"
      :span-method="spanMethod"
      :pagination="false"
      span-all
      :bordered="{ wrapper: true, cell: true }"
    >
      <template #costItemCname="{ record, rowIndex }">
        <span v-if="staticRowDataText.includes(record.isEdit)">{{
          record.costItemCname
        }}</span>
        <div v-else>
          <div>
            {{ record.costItemCname }}
          </div>
          <DwButton
            @click="handleCostSelect({ record, rowIndex })"
            type="text"
            v-if="!staticRowDataText.includes(record.isEdit) && !record.isEdit"
          >
            选择
          </DwButton>
        </div>
      </template>
      <template #price1="{ record, rowIndex }">
        <!--  可用此判断是否展示 -->
        <div v-if="record.costItemCname === '报价统计'">
          <div style="display: flex">
            <p
              v-for="(item, index) in totalPrice"
              :key="index"
              style="padding: 0 8px; color: #696c70"
            >
              <span class="color_red">{{ item.price }}</span> ({{ item.text }} )
            </p>
          </div>
        </div>
        <a-tooltip
          :disabled="isFlagShow({ record, rowIndex, columnIndex: 1 })"
          :content-style="{ display: none }"
          v-if="staticRowDataText.includes(record.isEdit)"
        >
          <template #content> 低于基准价需要特批! </template>
          <a-input
            :class="
              !isFlagShow({ record, rowIndex, columnIndex: 1 })
                ? 'border_color'
                : ''
            "
            v-model="data[rowIndex].price1"
            @change="inputChange({ record, rowIndex, columnIndex: 1 })"
          />
        </a-tooltip>
        <span v-else :class="data[rowIndex].price1 < 0 ? 'color_red' : ''">
          {{ data[rowIndex].price1 }}
        </span>
      </template>
      <template #price2="{ record, rowIndex }">
        <a-tooltip
          :disabled="isFlagShow({ record, rowIndex, columnIndex: 2 })"
          :content-style="{ display: none }"
          v-if="staticRowDataText.includes(record.isEdit)"
        >
          <template #content> 低于基准价需要特批! </template>
          <a-input
            :class="
              !isFlagShow({ record, rowIndex, columnIndex: 2 })
                ? 'border_color'
                : ''
            "
            v-if="staticRowDataText.includes(record.isEdit)"
            v-model="data[rowIndex].price2"
            @change="inputChange({ record, rowIndex, columnIndex: 2 })"
          />
        </a-tooltip>
        <span v-else :class="data[rowIndex].price2 < 0 ? 'color_red' : ''">
          {{ data[rowIndex].price2 }}
        </span>
      </template>
      <template #price3="{ record, rowIndex }">
        <a-tooltip
          :disabled="isFlagShow({ record, rowIndex, columnIndex: 3 })"
          :content-style="{ display: none }"
          v-if="staticRowDataText.includes(record.isEdit)"
        >
          <template #content> 低于基准价需要特批! </template>
          <a-input
            :class="
              !isFlagShow({ record, rowIndex, columnIndex: 3 })
                ? 'border_color'
                : ''
            "
            v-if="staticRowDataText.includes(record.isEdit)"
            v-model="data[rowIndex].price3"
            @change="inputChange({ record, rowIndex, columnIndex: 3 })"
          />
        </a-tooltip>
        <span v-else :class="data[rowIndex].price3 < 0 ? 'color_red' : ''">
          {{ data[rowIndex].price3 }}
        </span>
      </template>
      <template #price4="{ record, rowIndex }">
        <a-tooltip
          :disabled="isFlagShow({ record, rowIndex, columnIndex: 4 })"
          :content-style="{ display: none }"
          v-if="staticRowDataText.includes(record.isEdit)"
        >
          <template #content> 低于基准价需要特批! </template>
          <a-input
            :class="
              !isFlagShow({ record, rowIndex, columnIndex: 4 })
                ? 'border_color'
                : ''
            "
            v-if="staticRowDataText.includes(record.isEdit)"
            v-model="data[rowIndex].price4"
            @change="inputChange({ record, rowIndex, columnIndex: 4 })"
          />
        </a-tooltip>
        <span v-else :class="data[rowIndex].price4 < 0 ? 'color_red' : ''">
          {{ data[rowIndex].price4 }}
        </span>
      </template>
      <template #price5="{ record, rowIndex }">
        <a-tooltip
          :disabled="isFlagShow({ record, rowIndex, columnIndex: 5 })"
          :content-style="{ display: none }"
          v-if="staticRowDataText.includes(record.isEdit)"
        >
          <template #content> 低于基准价需要特批! </template>
          <a-input
            :class="
              !isFlagShow({ record, rowIndex, columnIndex: 5 })
                ? 'border_color'
                : ''
            "
            v-if="staticRowDataText.includes(record.isEdit)"
            v-model="data[rowIndex].price5"
            @change="inputChange({ record, rowIndex, columnIndex: 5 })"
          />
        </a-tooltip>
        <span v-else :class="data[rowIndex].price5 < 0 ? 'color_red' : ''">
          {{ data[rowIndex].price5 }}
        </span>
      </template>
      <template #price6="{ record, rowIndex }">
        <a-tooltip
          :disabled="isFlagShow({ record, rowIndex, columnIndex: 6 })"
          :content-style="{ display: none }"
          v-if="staticRowDataText.includes(record.isEdit)"
        >
          <template #content> 低于基准价需要特批! </template>
          <a-input
            :class="
              !isFlagShow({ record, rowIndex, columnIndex: 6 })
                ? 'border_color'
                : ''
            "
            v-if="staticRowDataText.includes(record.isEdit)"
            v-model="data[rowIndex].price6"
            @change="inputChange({ record, rowIndex, columnIndex: 6 })"
          />
        </a-tooltip>
        <span v-else :class="data[rowIndex].price6 < 0 ? 'color_red' : ''">
          {{ data[rowIndex].price6 }}
        </span>
      </template>
      <template #price7="{ record, rowIndex }">
        <a-tooltip
          :disabled="isFlagShow({ record, rowIndex, columnIndex: 7 })"
          :content-style="{ display: none }"
          v-if="staticRowDataText.includes(record.isEdit)"
        >
          <template #content> 低于基准价需要特批! </template>
          <a-input
            :class="
              !isFlagShow({ record, rowIndex, columnIndex: 7 })
                ? 'border_color'
                : ''
            "
            v-if="staticRowDataText.includes(record.isEdit)"
            v-model="data[rowIndex].price7"
            @change="inputChange({ record, rowIndex, columnIndex: 7 })"
          />
        </a-tooltip>
        <span v-else :class="data[rowIndex].price7 < 0 ? 'color_red' : ''">
          {{ data[rowIndex].price7 }}
        </span>
      </template>
      <template #price8="{ record, rowIndex }">
        <a-tooltip
          :disabled="isFlagShow({ record, rowIndex, columnIndex: 8 })"
          :content-style="{ display: none }"
          v-if="staticRowDataText.includes(record.isEdit)"
        >
          <template #content> 低于基准价需要特批! </template>
          <a-input
            :class="
              !isFlagShow({ record, rowIndex, columnIndex: 8 })
                ? 'border_color'
                : ''
            "
            v-if="staticRowDataText.includes(record.isEdit)"
            v-model="data[rowIndex].price8"
            @change="inputChange({ record, rowIndex, columnIndex: 8 })"
          />
        </a-tooltip>
        <span v-else :class="data[rowIndex].price8 < 0 ? 'color_red' : ''">
          {{ data[rowIndex].price8 }}
        </span>
      </template>
      <template #price9="{ record, rowIndex }">
        <a-tooltip
          :disabled="isFlagShow({ record, rowIndex, columnIndex: 9 })"
          :content-style="{ display: none }"
          v-if="staticRowDataText.includes(record.isEdit)"
        >
          <template #content> 低于基准价需要特批! </template>
          <a-input
            :class="
              !isFlagShow({ record, rowIndex, columnIndex: 9 })
                ? 'border_color'
                : ''
            "
            v-if="staticRowDataText.includes(record.isEdit)"
            v-model="data[rowIndex].price9"
            @change="inputChange({ record, rowIndex, columnIndex: 9 })"
          />
        </a-tooltip>
        <span v-else :class="data[rowIndex].price9 < 0 ? 'color_red' : ''">
          {{ data[rowIndex].price9 }}
        </span>
      </template>
      <template #price10="{ record, rowIndex }">
        <a-tooltip
          :disabled="isFlagShow({ record, rowIndex, columnIndex: 10 })"
          :content-style="{ display: none }"
          v-if="staticRowDataText.includes(record.isEdit)"
        >
          <template #content> 低于基准价需要特批! </template>
          <a-input
            :class="
              !isFlagShow({ record, rowIndex, columnIndex: 10 })
                ? 'border_color'
                : ''
            "
            v-if="staticRowDataText.includes(record.isEdit)"
            v-model="data[rowIndex].price10"
            @change="inputChange({ record, rowIndex, columnIndex: 10 })"
          />
        </a-tooltip>
        <span v-else :class="data[rowIndex].price10 < 0 ? 'color_red' : ''">
          {{ data[rowIndex].price10 }}
        </span>
      </template>
    </a-table>
    <!--     :okButtonProps="okButtonProps"
     -->
    <a-modal v-model:visible="modelVisible" width="60vw" :mask-closable="false">
      <template #title> 引用成本 </template>
      <div style="height: 50vh; overflow: scroll-y" v-if="modelVisible">
        <CostSelect :modalParams="modalParams" ref="costSelectRef"></CostSelect>
      </div>
      <template #footer>
        <div class="bottomButton">
          <DwButton
            size="small"
            @click="modelVisible = false"
            style="margin-right: 8px"
          >
            取消
          </DwButton>
          <DwButton type="primary" size="small" @click="confirmSelect">
            确定
          </DwButton>
        </div>
      </template>
    </a-modal>
  </div>
</template>

<script setup>
import {
  computed,
  ref,
  inject,
  reactive,
  watch,
  watchEffect,
  nextTick,
} from 'vue';
import { setNumericText } from '@/utils';
import CostSelect from './CostSelect.vue';
import { Message, Modal } from '@arco-design/web-vue';
const costSelectRef = ref(null);
const selectedSearchData = inject('selectedSearchData');
const contractInfo = inject('contractInfo');
const offerInfo = inject('offerInfo');
const modalParamsParent = inject('modalParams');
const modalParams = reactive({
  row: {},
});
const quotationWayText = ref('');
const staticRowDataText = ref([
  // '总成本合计',
  // '基准价',
  '报价',
  '运价',
  // '预估利润',
  // '毛利率%',
]);
const data = ref([]);
const modelVisible = ref(false);
// 固展示数据
watch(
  () => offerInfo.quotationWay,
  (newValue) => {
    quotationWayText.value = newValue === 1 ? '（元/柜）' : '（元/吨）';
  },
  {
    immediate: true,
  }
);
const createNewRowToTable = (row) => {
  const initPriceObj = {};
  if (row.billingUnit === '票') {
    Object.assign(initPriceObj, handleNumSelect(true, row.costAmount), {
      billingUnit: row.billingUnit,
    }); //标准产品上为 billingUnit 选择上为unit
  } else {
    Object.assign(initPriceObj, handleNumSelect(false, row.costAmount), {
      billingUnit: row.billingUnit,
    });
  }

  return {
    ...row,
    costItemCname: row.costItemCname,
    billingUnit: row.billingUnit,
    ...initPriceObj,
  };
};
// 动态删除数组 key 当前键名
const delArrayItem = (key) => {
  let itemIndex = '';
  data.value.find((item, index) => {
    if (item.isEdit === key) {
      itemIndex = index;
      return true;
    }
  });
  if (itemIndex === 0 || itemIndex) {
    data.value.splice(itemIndex, 1);
  } else {
    console.error(key, '不存在');
  }
};

// 处理基准价数据
const quotationDetailList = () => {
  const { quotationDetailList } = selectedSearchData.value || {};
  if (!quotationDetailList) return;
  const objPrice1_10 = {};
  for (let index = 1; index < 11; index++) {
    objPrice1_10['price' + index] = quotationDetailList[index - 1];
  }
  return objPrice1_10;
};
// 设置文本框初始值
const setInitPrice = (text, key) => {
  const row = data.value.find((item) => item.isEdit === text);
  if (!row) return {};
  const initPriceObj = {};
  for (let index = 0; index < 10; index++) {
    initPriceObj['price' + (index + 1)] =
      selectedSearchData.value?.[key]?.[index];
  }
  Object.assign(row, initPriceObj);
};
// 初始化展示
watch(
  () => selectedSearchData.value,
  // (newValue) => {
  (newValue) => {
    data.value = [];
    // 合并单元格
    data.value = [
      {
        costItemCname: '总成本合计' + quotationWayText.value,
        isEdit: '总成本合计',
      },
      {
        costItemCname: '基准价' + quotationWayText.value,
        isEdit: '基准价',
        ...quotationDetailList(),
      },
      {
        costItemCname: '报价' + quotationWayText.value,
        isEdit: '报价',
      },
      {
        costItemCname: '运价' + quotationWayText.value,
        isEdit: '运价',
      },
      {
        costItemCname: '预估利润' + quotationWayText.value,
        isEdit: '预估利润',
      },
      {
        costItemCname: '毛利率%',
        isEdit: '毛利率%',
      },
      {
        costItemCname: '报价统计',
        isEdit: '报价统计',
        cusSummary: true,
      },
    ];
    if (
      selectedSearchData.value &&
      !selectedSearchData.value.standardProductsId /*查询时*/ /*回显时*/
    ) {
      // ||!selectedSearchData.value.productAmountList
      delArrayItem('基准价');
    } else {
      //BUG：ID1016724 基准价值丢失问题
      const key =
        modalParamsParent.title === modalParamsParent.ModalTitle.edit &&
        selectedSearchData.value?.productAmountList
          ? 'productAmountList'
          : 'quotationDetailList';
      setInitPrice('基准价', key);
    }

    // 设置初始值
    setInitPrice('报价', 'quoteAmountList');
    setInitPrice('运价', 'freightAmountList');
    if (!offerInfo.isSingleOpen) {
      delArrayItem('运价');
    }
    // 初始化 添加包干项到表格
    // 如果为 添加
    selectedSearchData.value?.costFeeList
      ?.filter((item) => item.isLumpSum)
      .sort((a, b) => b.costItemCode - a.costItemCode)
      .forEach((item) => {
        data.value.unshift(createNewRowToTable(item));
      });
  },

  {
    immediate: true,
    deep: true,
  }
);
// 是否删除 基准价
const spanMethod = ({ record, column, columnIndex }) => {
  if (record.isEdit && column.dataIndex === 'costItemCname') {
    return {
      colspan: 2,
    };
  } else if (record.cusSummary && columnIndex === 2) {
    return {
      colspan: 10,
    };
  }
};

const columns = reactive([
  {
    dataIndex: 'costItemCname',
    slotName: 'costItemCname',
    width: 160,
    align: 'right',
    title: '费用项目',
  },
  {
    dataIndex: 'billingUnit',
    title: '单位',
    width: 80,
  },
  {
    dataIndex: 'price1',
    slotName: 'price1',
    title: '1(柜/票)',
    align: 'center',
  },
  {
    dataIndex: 'price2',
    slotName: 'price2',
    title: '2(柜/票)',
    align: 'center',
  },
  {
    dataIndex: 'price3',
    slotName: 'price3',
    title: '3(柜/票)',
    align: 'center',
  },
  {
    dataIndex: 'price4',
    slotName: 'price4',
    title: '4(柜/票)',
    align: 'center',
  },
  {
    dataIndex: 'price5',
    slotName: 'price5',
    title: '5(柜/票)',
    align: 'center',
  },
  {
    dataIndex: 'price6',
    slotName: 'price6',
    title: '6(柜/票)',
    align: 'center',
  },
  {
    dataIndex: 'price7',
    slotName: 'price7',
    title: '7(柜/票)',
    align: 'center',
  },
  {
    dataIndex: 'price8',
    slotName: 'price8',
    title: '8(柜/票)',
    align: 'center',
  },
  {
    dataIndex: 'price9',
    slotName: 'price9',
    title: '9(柜/票)',
    align: 'center',
  },
  {
    dataIndex: 'price10',
    slotName: 'price10',
    title: '10(柜/票)',
    align: 'center',
  },
]);
// 生成 1- 10数据
const handleNum = ({ record, rowIndex, columnIndex }) => {
  const obj = {};
  for (let index = columnIndex; index < 11; index++) {
    obj['price' + index] = record['price' + columnIndex].replace(/[^\d]/g, '');
  }
  return obj;
};
// input 变更
const inputChange = ({ record, rowIndex, columnIndex }) => {
  Object.assign(record, handleNum({ record, rowIndex, columnIndex }));
};
//  选择费用
const handleCostSelect = ({ record, rowIndex }) => {
  // return
  modelVisible.value = true;
  modalParams.row = record;
};
const handleNumSelect = (flag, selectAllPriceSum) => {
  const obj = {};
  for (let index = 1; index < 11; index++) {
    obj['price' + index] = flag
      ? handleDots(selectAllPriceSum / index).toFixed(0) //四舍五入取整
      : selectAllPriceSum;
  }
  return obj;
};
// 处理小数位数
const handleDots = (num) => {
  const [num1, num2 = ''] = (num + '').split('.');
  return num2.length > 2 ? num.toFixed(2) * 1 : num;
};

const confirmSelect = (done) => {
  const info = costSelectRef.value.getPriceRow();
  if (!info.selectInfo || JSON.stringify(info.selectInfo) === '{}') {
    Message.warning('至少选择一条！');
  } else {
    modelVisible.value = false;
    // 更新costFee 删除时重置bug
    const selectItem = selectedSearchData.value.costFeeList.find(
      (item) => item.costItemCode === info.row.costItemCode
    );
    selectItem.costAmount = info.selectAllPriceSum;
    // 单位 selectedListObj
    selectItem.billingUnit = info.selectInfo.unit;
    // 保存选择到当前行
    selectItem.selectedListObj = info.selectedListObj;
  }
};
// 计算总成本合计
watchEffect(() => {
  let sumIndex = '';
  const sumItem = data.value.find((item, index) => {
    sumIndex = index;
    return item.isEdit === '总成本合计';
  });
  const objPrice1_10 = {};
  if (sumItem && JSON.stringify(sumItem) !== '{}') {
    const costItemAll = data.value.slice(0, sumIndex);
    // 生成的 price 1 -10
    const costItemInit = new Array(costItemAll.length).fill(0);
    for (let index = 1; index < 11; index++) {
      let tempNum = costItemInit.reduce((pre, cur, i) => {
        return pre * 1 + (costItemAll[i]['price' + index] * 1 || 0);
      }, 0);
      objPrice1_10['price' + index] = setNumericText(tempNum, {});
    }
    Object.assign(sumItem, objPrice1_10);
  }
});

// 预估利润计算 报价 - 总成本合计，负数显示红色
watchEffect(() => {
  // 预估利润项
  const sumItem = data.value.find((item, index) => {
    return item.isEdit === '预估利润';
  });
  // 总成本合计项
  const sumItemCost = data.value.find((item, index) => {
    return item.isEdit === '总成本合计';
  });
  // 报价项
  const sumItemOffer = data.value.find((item, index) => {
    return item.isEdit === '报价';
  });
  const objPrice1_10 = {};
  if (
    sumItem &&
    JSON.stringify(sumItem) !== '{}' &&
    sumItemOffer &&
    JSON.stringify(sumItemOffer) !== '{}'
  ) {
    for (let index = 1; index < 11; index++) {
      let tempNum =
        sumItemOffer['price' + index] - sumItemCost['price' + index] || 0;
      objPrice1_10['price' + index] = setNumericText(tempNum, {});
    }
    Object.assign(sumItem, objPrice1_10);
  }
});

//毛利率 无小数时不自动添加00  =预估利润 / 总成本合计 * 100%，保留两位小数 负数显示红色
watchEffect(() => {
  // 毛利率
  const profitItemCost = data.value.find((item, index) => {
    return item.isEdit === '毛利率%';
  });
  // 预估利润项
  const sumItem = data.value.find((item, index) => {
    return item.isEdit === '预估利润';
  });
  // 总成本合计项
  const sumItemCost = data.value.find((item, index) => {
    return item.isEdit === '总成本合计';
  });

  const objPrice1_10 = {};
  if (
    sumItem &&
    JSON.stringify(sumItem) !== '{}' &&
    sumItemCost &&
    JSON.stringify(sumItemCost) !== '{}'
  ) {
    for (let index = 1; index < 11; index++) {
      let tempNum = handleDots(
        sumItemCost['price' + index]
          ? (sumItem['price' + index] / sumItemCost['price' + index]) * 100 || 0
          : 0
      );
      objPrice1_10['price' + index] = setNumericText(tempNum, {});
    }
    Object.assign(profitItemCost, objPrice1_10);
  }
});

// 是否小于基准价 data[rowIndex].price1 < data[rowIndex].price1
const isFlagShow = computed(() => ({ record, rowIndex, columnIndex }) => {
  // 基准价
  const markPrice = data.value.find((item) => item.isEdit === '基准价');

  if (!markPrice || record.isEdit === '运价') return true;
  if (record['price' + columnIndex] < markPrice['price' + columnIndex]) {
    return false;
  } else {
    return true;
  }
});
// 获取提交参数
const handelParams = (name) => {
  const curItem = data.value.find((item) => item.isEdit === name);
  if (!curItem) return [];
  const {
    price1,
    price2,
    price3,
    price4,
    price5,
    price6,
    price7,
    price8,
    price9,
    price10,
  } = curItem;
  return [
    price1,
    price2,
    price3,
    price4,
    price5,
    price6,
    price7,
    price8,
    price9,
    price10,
  ];
};

// 回显价格处理
// const handleReview = (text, obj) => {
//   const curItem = data.value.find((item) => item.isEdit === text);
//   if (!curItem) return;
//   // 生成数据
//   const objPrice1_10 = {};
//   for (let index = 1; index < 11; index++) {
//     objPrice1_10['price' + index] = obj[index];
//   }
//   Object.assign(
//     data.value.find((item) => item.isEdit === text),
//     objPrice1_10
//   );
// };
// 获取价格 提交的引用信息
// const getCostItemList = (info) => {
//   return selectedSearchData.value.costFeeList.map((item1) => {
//     const curItem = data.value.find(
//       (item2) => item2.costItemCode === item1.costItemCode
//     );
//     return {
//       costAmount: curItem.price1,
//       billingUnit: curItem.billingUnit,
//       ...item1,
//     };
//   });
//   //   (item) => item.costItemCode === info.costItemCode
//   // ).costAmount = info.unitPrice;
// };
// 获取价格 提交的引用信息
const getCostItemList = (info) => {
  return (selectedSearchData.value?.costFeeList || []).map((item1) => {
    const curItem = data.value.find(
      (item2) => item2.costItemCode === item1.costItemCode
    );
    if (curItem) {
      return {
        costAmount: curItem.price1,
        billingUnit: curItem.billingUnit,
        ...item1,
      };
    } else {
      return item1;
    }
  });
  //   (item) => item.costItemCode === info.costItemCode
  // ).costAmount = info.unitPrice;
};
// 为编辑，需要回显数据
if (modalParamsParent.title === modalParamsParent.ModalTitle.edit) {
  // 表格回显
  const {
    costAmountList,
    productAmountList,
    quoteAmountList,
    freightAmountList,
  } = modalParamsParent.row;
  nextTick(() => {});
}
const totalPrice = ref([]);
// 报价统计
watchEffect(() => {
  const priceItem = data.value?.find((item) => item.isEdit === '报价');
  if (priceItem) {
    const {
      price1,
      price2,
      price3,
      price4,
      price5,
      price6,
      price7,
      price8,
      price9,
      price10,
    } = priceItem;
    const arrPrice = [
      price1,
      price2,
      price3,
      price4,
      price5,
      price6,
      price7,
      price8,
      price9,
      price10,
    ];
    if (arrPrice.every((item) => item === undefined)) return;
    // 单柜
    if (arrPrice.every((item) => item === arrPrice[0])) {
      totalPrice.value = [
        {
          price: ` ${arrPrice[0]}`,
          text: '单柜',
        },
      ];
    } else {
      // 多柜 创建二维数组
      let manyArr = []; //二维数组
      let interArr = []; //中间数组
      for (let index = 0; index < arrPrice.length; index++) {
        if (index < 9 && arrPrice[index] === arrPrice[index + 1]) {
          interArr.push(arrPrice[index]);
        } else {
          interArr.push(arrPrice[index]);
          manyArr = [...manyArr, [...interArr]];
          interArr = [];
        }
      }
      let num = 1;
      const priceTotal = [];
      // 处理二维数组数据
      manyArr.forEach((item, index) => {
        priceTotal.push({
          price: item[0],
          text:
            index === manyArr.length - 1
              ? num + '柜以上'
              : `${num}-${num + item.length - 1}柜`,
        });
        num += item.length;
      });
      totalPrice.value = priceTotal;
    }
  }
});
const handlePriceTotal = (row, col, isTrans) => {
  if (isTrans) {
    const inpItem = this.dwForm.data.priceList[row];
    const inpVal = this.dwForm.data.priceList[row]['price' + col];
    for (let index = col + 1; index < 11; index++) {
      !this.isMounted ? (inpItem['price' + index] = inpVal) : '';
    }
    return;
  }
  const inpItem = this.dwForm.data.priceList[row];
  const inpVal = this.dwForm.data.priceList[row]['price' + col];
  for (let index = col + 1; index < 11; index++) {
    !this.isMounted ? (inpItem['price' + index] = inpVal) : '';
    this.handleGrossProfit(row, index);
  }
  const {
    price1,
    price2,
    price3,
    price4,
    price5,
    price6,
    price7,
    price8,
    price9,
    price10,
  } = inpItem;
  const arrPrice = [
    price1,
    price2,
    price3,
    price4,
    price5,
    price6,
    price7,
    price8,
    price9,
    price10,
  ];
};

const getParams = async () => {
  //BUG:ID1016673 输入框下拉框必填
  if (
    !!getCostItemList().length &&
    getCostItemList().every((item) => item.isLumpSum)
  ) {
    Message.warning('请输入非包干费!');
    return false;
  } else if (
    !!getCostItemList().length &&
    getCostItemList().every((item) => !item.isLumpSum)
  ) {
    Message.warning('请输入包干费!');
    return false;
  }
  if (
    !!handelParams('报价').length &&
    handelParams('报价').every((key) => key === undefined)
  ) {
    Message.warning('请输入报价!');
    return false;
  }
  return {
    costItemList: getCostItemList(), //成本金额
    costAmountList: handelParams('总成本合计'), //总成本合计金额列表(1-10柜)
    productAmountList: handelParams('基准价'), //基准价金额(标准产品报价)(1-10柜)
    quoteAmountList: handelParams('报价'), //报价金额(1-10柜)
    freightAmountList: handelParams('运价'), //运价金额1-10柜)modalParamsParent.row.standardProductsId||
    standardProductsId: selectedSearchData.value.standardProductsId,
    id: modalParamsParent.row?.detailsId,
  };
};
defineExpose({
  getParams,
});
</script>

<style lang="less" scoped>
.join {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.color_red {
  color: #ff7d00;
}
.border_color {
  border-color: red;
}
.bottomButton {
  display: flex;
  justify-content: flex-end;
}
</style>