<template>
  <div class="add-info">
    <div class="join">
      <div class="vertical"></div>
      <span class="font">费用范围 </span>
    </div>
    <!-- {{selectedLumpData}}  :allow-clear="true"-->
    <div>
      <div class="cost-title">包干费</div>
      <a-tree-select
        @keyup="keyup"
        :disabled="disabledSelect"
        v-model="lump"
        :multiple="true"
        :allow-search="true"
        :data="treeDataLump"
        :filter-tree-node="filterTreeNode"
        placeholder="请选择包干费"
        dropdown-class-name="treeSelest"
      ></a-tree-select>
      <!-- @change="lumpChange" -->

      <div style="height: 15px"></div>

      <div class="cost-title">非包干费</div>
      <a-tree-select
        :disabled="disabledSelect"
        v-model="noLump"
        :multiple="true"
        :allow-clear="true"
        :allow-search="true"
        :data="treeDataNoLump"
        :filter-tree-node="filterTreeNode"
        placeholder="请选择非包干费"
      ></a-tree-select>
    </div>
  </div>
</template>

<script lang="ts">
import {
  defineComponent,
  onMounted,
  PropType,
  reactive,
  toRefs,
  watch,
  ref,
} from 'vue';
import { useRoute } from 'vue-router';
import { crmApi } from '@/api/crmApi';
import lodash from 'lodash';

export default defineComponent({
  name: 'costItem',
  props: {
    selectedLump: {
      type: Array,
      default: [],
    },
    selectedNoLump: {
      type: Array,
      default: [],
    },
    selectedLumpData: {
      type: Array,
      default: [],
    },
    selectedNoLumpData: {
      type: Array,
      default: [],
    },
    disabledSelect: [Boolean],
    standardCostLumpList: {
      type: Array,
      default: () => [],
    },
  },
  emits: ['update:selectedLumpData', 'update:selectedNoLumpData'],
  setup(props, { attrs, emit, slots }) {
    const dataMap = reactive({
      treeDataLump: [],
      treeDataNoLump: [],
      lump: [] as any[],
      noLump: [] as any[],
      costItem: [] as any[],
      treeData: [] as any[], // 扁平化之后的费用数据
    });
    const filterTreeNode = (searchValue, nodeData) => {
      return (
        nodeData?.title.toLowerCase().indexOf(searchValue.toLowerCase()) > -1
      );
    };

    const getNavList = (data: any) => {
      return data.map((parentItem, parentIndex) => ({
        title: parentItem.stage,
        key: '0-' + parentIndex,
        disabled: true,
        children: parentItem.fees
          ? parentItem.fees.map((childItem) => ({
              title: childItem.feeName,
              key: childItem.feeCode,
              labelParent: parentItem.stage,
              allowLumpSumFee: childItem.allowLumpSumFee, // 是否允许包干(1:允许 0:不允许)
              lumpSumFee: childItem.lumpSumFee, // 是包干费用(0/false-非包干、1/true-包干)
            }))
          : [],
      }));
    };
    let res = null;
    let flag = true;
    // 获取费用范围
    const getincome = async () => {
      if (!res && flag) {
        flag = false;
        res = await crmApi.costCenterFei({
          costFlg: false,
        });
      }
      if (res?.code == '200') {
        dataMap.treeData = [];
        flag = true;
        const navList = getNavList(res.data);
        dataMap.treeDataLump = JSON.parse(JSON.stringify(navList));
        dataMap.treeDataNoLump = JSON.parse(JSON.stringify(navList));
        navList.map((item: any) => {
          item.children.map((c: any) => {
            dataMap.treeData.push(c);
          });
        });
        // 包干费 禁止选中已选非包干费用
        dataMap.treeDataLump.forEach((tree) => {
          tree.children.forEach((item: any) => {
            if (props.selectedNoLump.indexOf(item.key) > -1) {
              item.disabled = true;
            } else {
              item.disabled = false;
            }
          });
        });

        // 双向绑定已选择的数据

        // 非包干费用 禁止选中已选包干费
        dataMap.treeDataNoLump.forEach((tree) => {
          tree.children.forEach((item: any) => {
            // if(dataMap.selectedLump.indexOf(item.key) > -1){
            if (props.selectedLump.indexOf(item.key) > -1) {
              item.disabled = true;
            } else {
              item.disabled = false;
            }
          });
        });
        handleLumpStandard();
      }
    };

    // 处理标准产品 只展示其中包干
    const handleLumpStandard = () => {
      if (
        props.standardCostLumpList.length === 0 &&
        props.standardCostLumpList.standardProductsId
      ) {
        dataMap.treeDataLump = [];
        return;
      }
      if (props.standardCostLumpList.length > 0) {
        // 传入的Keys
        const standardCostLumpKeysList = props.standardCostLumpList.map(
          (item) => item.costItemCode
        );
        //   扁平化需要展示的数据
        const curItems = dataMap.treeData.filter((item: any) =>
          standardCostLumpKeysList.includes(item.key)
        );
        // 父级文字集合
        const curItemsParentText = curItems.map((item) => item.labelParent);

        dataMap.treeDataLump = dataMap.treeDataLump.filter((item) => {
          if (curItemsParentText.includes(item.title)) {
            item.children = item.children.filter((itemChild) => {
              // 处理标准产品中禁用项
              itemChild.disabled = props.standardCostLumpList.find(
                (lumpItem) => itemChild.key === lumpItem.costItemCode
              )?.isLock;
              return standardCostLumpKeysList.includes(itemChild.key);
            });
            return true;
          }
        });
      }
    };

    watch(
      () => props.selectedLump,
      (val) => {
        dataMap.lump = val;
      },
      { immediate: true, deep: true }
    );

    watch(
      () => props.selectedNoLump,
      (val) => {
        dataMap.noLump = val;
      },
      { immediate: true, deep: true }
    );

    /**
     *  监听包干，1.设置非包干禁用项，2.更新包干绑定的数据
     *  监听多个是因为 树形结构的数据有延迟
     */
    watch(
      () => [dataMap.lump, dataMap.treeData],
      (val) => {
        // 设置对应非包干费用是否禁止选中
        dataMap.treeDataNoLump.forEach((tree) => {
          tree.children.forEach((item: any) => {
            if (val[0].indexOf(item.key) > -1) {
              item.disabled = true;
            } else {
              item.disabled = false;
            }
          });
        });
        if (!val[0].length) {
          emit('update:selectedLumpData', []);
        } else {
          let newData;
          if (!!val[1].length) {
            newData = val[1]
              .filter((v) => val[0].indexOf(v.key) !== -1)
              .map((item) => ({
                costItemCode: item.key, // 费用项编码
                costItemCname: item.title, //	费用项中文名称
                isLumpSum: true, // 是否包干: 0-否 1-是
                isLock: true, // 是否锁定: 0-否 1-是
              }));
          } else {
            newData = props.selectedLumpData;
          }
          emit('update:selectedLumpData', newData);
        }
        // 如果退格删除的为禁用项，还需加回去
      },
      { immediate: true, deep: true }
    );

    /**
     *  监听非包干，1.设置包干禁用，2，更新非包干数据
     *  监听多个是因为 树形结构的数据有延迟
     */
    watch(
      () => [dataMap.noLump, dataMap.treeData],
      (val) => {
        dataMap.treeDataLump.forEach((tree) => {
          tree.children.forEach((item: any) => {
            if (val[0].indexOf(item.key) > -1) {
              item.disabled = true;
            } else {
              item.disabled = false;
            }
          });
        });

        // 非包干费用双向绑定
        if (!val[0].length) {
          emit('update:selectedNoLumpData', []);
        } else {
          let newData = [] as any[];
          if (!!val[1].length) {
            val[0].map((v) => {
              val[1].map((item) => {
                let newItem = {
                  costItemCode: item.key, // 费用项编码
                  costItemCname: item.title, //	费用项中文名称
                  isLumpSum: false, // 是否包干: 0-否 1-是
                  isLock: true, // 是否锁定: 0-否 1-是
                };
                if (v == item.key) {
                  newData.push(newItem);
                }
              });
            });
          } else {
            newData = props.selectedNoLumpData;
          }
          emit('update:selectedNoLumpData', newData);
        }
      },
      { immediate: true, deep: true }
    );

    // 初始化，展示的可选择的包干项
    watch(
      () => props.standardCostLumpList,
      () => {
        getincome();
      },
      {
        deep: true,
        immediate: true,
      }
    );

    onMounted(async () => {
      await getincome();
    });
    const keyup = () => {
      // todo 禁止删除
      return;
    };
    return {
      keyup,
      filterTreeNode,
      ...toRefs(dataMap),
    };
  },
});
</script>

<style lang="less" scoped>
.title {
  font-weight: 500;
  font-size: 16px;
  line-height: 28px;
  color: #1d2129;
  margin-bottom: 15px;
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}
.add-info{
  margin: 20px 0;
  padding-bottom: 20px;
  border-bottom: 1px solid #F2F3F5;
}
.join {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.cost-title {
  font-weight: 400;
  font-size: 14px;
  color: rgba(78, 89, 105, 1);
  margin-bottom: 10px;
  line-height: 22px;
}
.treeSelest {
  background-color: pink;
  :deep(.arco-tree-node-expanded) {
    background-color: pink;
    .arco-checkbox {
      display: none;
      background-color: pink;
    }
    // .arco-checkbox.arco-checkbox-disabled{
    //   display: none;
    // }
  }
}
</style>