<template>
  <div class="search_wrapper">
    <DwForm v-model:form="form" layout="vertical"> </DwForm>
  </div>
</template>

<script setup>
import { inject, nextTick, ref, watch } from 'vue';
import { useRoute } from 'vue-router';
import { contractManage } from '@/api/contractManage'; //当前页面api
import { createOffer } from '@/api/createOffer';
import { isArray } from 'lodash';

const emits = defineEmits(['update:searchData']);
const props = defineProps({
  searchData: {
    type: Array,
    default: () => [],
  },
  getSearchParams: [Function],
});
const route = useRoute();

const contractInfo = inject('contractInfo');
const offerInfo = inject('offerInfo');
const modalParams = inject('modalParams');
const selectedSearchData = inject('selectedSearchData');
// 获取list 需要的curItem, 第一个参数，数组对象，第二个参数要匹配的key，第三个当前key的值
const getCurrentItem = (arr, key, value) => {
  const curItem = arr.find((item) => item[key] === value);
  if (!curItem) {
    console.error(key, value, '未匹配到！');
  }
  return curItem || {};
};

//#region 接口相关函数
// 港口
const getPortNameList = () => {
  contractManage.port({ countryId: 104 }).then((res) => {
    getCurrentItem(form.value.formItem, 'currentKey', 'portName').list =
      res.data.map((curItem) => ({
        ...curItem,
        value: curItem.seaportName,
        label: curItem.seaportName,
      }));
    // 为编辑，需要回显数据
    if (modalParams.title === modalParams.ModalTitle.edit) {
      // 搜索区域
      const { doorProvince, doorCity, doorCounty, doorStreet, portCname } =
        modalParams.row;
      //! 回显处理
      Object.assign(form.value.data, modalParams.row, {
        doorPoint: `${doorProvince}/${doorCity}/${doorCounty}/${doorStreet}`,
        portName: portCname,
      });
    }
  });
};

// 港区
const getPortAreaCnameList = (portCode) => {
  contractManage.portArea({ portCode }).then((res) => {
    getCurrentItem(form.value.formItem, 'currentKey', 'portAreaCname').list =
      res.data.map((curItem) => ({
        ...curItem,
        value: curItem.mosPortArea,
        label: curItem.mosPortArea,
      }));
  });
};
// 箱型
const getContainerSizeList = () => {
  contractManage
    .containerSizeList({ codeTypeCode: 'containersize' })
    .then((res) => {
      getCurrentItem(form.value.formItem, 'currentKey', 'containerSize').list =
        res.data.map((curItem) => ({
          ...curItem,
          value: curItem.codeName,
          label: curItem.codeName,
        }));
    });
};
//  箱类
const getContainerTypeList = () => {
  contractManage
    .containerSizeList({ codeTypeCode: 'containertype' })
    .then((res) => {
      getCurrentItem(
        form.value.formItem,
        'currentKey',
        'containerTypeList'
      ).list = res.data.map((curItem) => ({
        ...curItem,
        value: curItem.codeName,
        label: curItem.codeName,
      }));
    });
};
//#endregion

const form = ref({
  formRef: null, //当前form实例
  data: {
    portName: '',
    portAreaCname: '',
    containerSize: '',
    containerTypeList: '',
    doorPointId: [],
    doorPoint: '',
  },
  formItem: [
    {
      showLabel: '港口', //展示的标签名 选择器A（基础用法/单选）
      // hideLabel: true,
      currentKey: 'portName',
      componentType: 'SA',
      currentValue: '', //默认值
      span: 4, //宽度 24等分
      itemType: 'select',
      allowSearch: true,
      required: true,
      change: ({ e }) => {
        const curItem = getCurrentItem(
          form.value.formItem,
          'currentKey',
          'portName'
        ).list;
        const portCode = curItem.find(
          (item) => form.value.data.portName === item.seaportName
        )?.seaportCode;
        form.value.data.portCode = portCode;
        form.value.data.portAreaCname = '';
        getPortAreaCnameList(portCode);
      },
      list: () => {
        getPortNameList();
      },
    },
    {
      showLabel: '港区', //展示的标签名 选择器A（基础用法/单选）
      // hideLabel: true,
      currentKey: 'portAreaCname',
      componentType: 'SA',
      currentValue: '', //默认值
      span: 4, //宽度 24等分
      itemType: 'select',
      required: true,
      change: () => {
        handleSearch();
      },
      list: (params) => {
        return [];
      },
    },
    {
      showLabel: '箱型', //展示的标签名 选择器A（基础用法/单选）
      // hideLabel: true,
      currentKey: 'containerSize',
      componentType: 'SA',
      currentValue: '', //默认值
      span: 4, //宽度 24等分
      itemType: 'select',
      required: true,
      change: () => {
        handleSearch();
      },
      list: () => {
        getContainerSizeList();
      },
    },
    {
      showLabel: '箱类', //展示的标签名 选择器A（基础用法/单选）
      // hideLabel: true,
      currentKey: 'containerTypeList',
      componentType: 'SA',
      multiple: true,
      currentValue: '', //默认值
      maxTagCount: 2,
      span: 5, //宽度 24等分
      itemType: 'select',
      required: true,
      change: () => {
        handleSearch();
      },
      list: (params) => {
        getContainerTypeList();
      },
    },
    {
      showLabel: '门点',
      // hideLabel: true,
      currentKey: 'doorPointId',
      doorPoint: 'doorPoint',
      isBaojia: true,
      span: 6, //宽度 24等分
      itemType: 'door-point',
      required: true,
      change: (e) => {
        handleSearch();
      },
    },
  ],
});

//#region 选项变更 搜索
// 处理查询标准产品参数
const handleSearchParams = () => {
  const objCostList = {};
  // 如果第一条已经存在 或者编辑第二条 添加费用项搜索条件
  if (
    modalParams.title === modalParams.ModalTitle.addMore ||
    (modalParams.title === modalParams.ModalTitle.edit && modalParams.index > 0)
  ) {
    objCostList.offerCostItemList = offerInfo.offerCostItemList;
  }
  // 搜索框参数
  const {
    doorPoint,
    portName,
    portCode,
    portAreaCname,
    containerSize,
    containerTypeList,
  } = form.value.data;
  const [doorProvince, doorCity, doorCounty, doorStreet] = doorPoint.split('/');
  return {
    businessTypesCode: contractInfo.businessTypesCode,
    businessTypesName: contractInfo.businessTypesName,
    packingTypeCode: offerInfo.packingTypeCode,
    packingTypeName: offerInfo.packingTypeName,
    goodsName: offerInfo.goodsName,
    quotationWay: offerInfo.quotationWay,
    categoryName: offerInfo.categoryName,
    doorPoint,
    portName,
    portCode,
    portAreaCname,
    containerSize,
    containerTypeList,
    doorProvince,
    doorCity,
    doorCounty,
    doorStreet,
    ...objCostList,
  };
};
// 是否全部不为空
const allNotEmpty = () => {
  const {
    portName,
    portAreaCname,
    containerSize,
    containerTypeList,
    doorPoint,
  } = form.value.data;
  return (
    portName && portAreaCname && containerSize && containerTypeList && doorPoint
  );
};
// 搜索
const handleSearch = () => {
  if (!allNotEmpty()) return;
  emits('update:searchData', []);
  const params = handleSearchParams();
  props.getSearchParams(params);
  contractManage.quoteCalcList({ ...params }).then(({ code, data }) => {
    if (code === '200' && data.length > 0) {
      //匹配到标准
      data.timestamp = new Date().getTime();
      emits('update:searchData', data);
    } else {
      // 未匹配到标准
      const arr = [];
      arr.timestamp = new Date().getTime();
      emits('update:searchData', arr);
      // 未搜索到标准产品  crmFeeGroupStage
      // 首次添加 未匹配到，需要设置默认项 或者是编辑第一条
      if (
        modalParams.title === modalParams.ModalTitle.add ||
        (modalParams.title === modalParams.ModalTitle.edit &&
          modalParams.index === 0)
      ) {
        createOffer
          .costItemList({ packingType: offerInfo.packingTypeCode })
          .then(({ code, data: defaultData }) => {
            if (code === '200') {
              selectedSearchData.value.standardProductsId = '';
              selectedSearchData.value.costFeeList = defaultData.map(
                (item) => ({
                  ...item,
                  costItemCname: item.feeName,
                  costItemCode: item.feeCode,
                  isLumpSum: item.lumpSumFee,
                  costItemCname: item.feeName,
                })
              );
              emits('update:searchData', [selectedSearchData.value]);
              arr.timestamp = new Date().getTime();
              emits('update:searchData', arr);
            }
          });

        return;
      }
    }
  });
};

//#endregion

//#region 处理回显参数
watch(
  () => form.value.data.portName,
  (n) => {
    if (n) {
      const curItem = getCurrentItem(
        form.value.formItem,
        'currentKey',
        'portName'
      ).list;
      if (isArray(curItem)) {
        const portCode = curItem.find(
          (item) => n === item.seaportName
        )?.seaportCode;
        form.value.data.portCode = portCode;
        getPortAreaCnameList(portCode);
      }
    }
  }
);
//#endregion

// 导出所需参数
const getParams = async () => {
  try {
    const res = await form.value.formRef.validate();
    if (res) return false;
    return {
      ...handleSearchParams(),
      portCname: form.value.data.portName,
    };
  } catch (error) {
    console.log('error', error);
  }
};

defineExpose({
  getParams,
});
</script>

<style lang="less" scoped>
.search_wrapper {
  display: flex;
  border-bottom: 1px solid #f2f3f5;
}
</style>