<template>
  <div>
    <!-- 匹配到标准产品 -->
    <div
      style="
        display: flex;
        align-items: center;
        color: #86909c;
        margin-top: 20px;
      "
    >
      <div class="join">
        <div class="vertical"></div>
        <span class="font">标准产品列表 </span>
      </div>
      <a-select
        style="width: 400px"
        placeholder="请选择"
        v-model="standardProductsId"
        @change="standardProductsIdChange"
        v-if="searchData.length > 1"
      >
        <a-option
          v-for="(item, index) in searchData"
          :key="index"
          :label="item.standardProductsName + item.quotationSummaryList"
          :value="item.standardProductsId"
          >{{
            `${item.standardProductsName}，${searchData[0].quotationSummaryList}`
          }}</a-option
        >
        <!-- ${item.categoryNameList.join('，')}，${item.portName}${item.portAreaCname}${item.quotationSummaryList.join('，')} -->
      </a-select>
      <span v-else-if="searchData.length === 1 && searchData[0]">{{
        `${searchData[0]?.standardProductsName} ${searchData[0]?.quotationSummaryList?.[0]}`
      }}</span>

      <span
        v-else-if="
          modalParams.title === modalParams.ModalTitle.edit &&
          JSON.stringify(standardProductsInfo.value) !== '{}'
        "
      >
        {{
          `${standardProductsInfo.standardProductsName || ''}  ${
            standardProductsInfo.quotationSummaryList || ''
          }`
        }}
      </span>
      <!-- {{JSON.stringify(standardProductsInfo)}} -->
      <!-- {{modalParams.title === modalParams.ModalTitle.edit&&JSON.stringify(standardProductsInfo.value)!=='{}'}} -->
    </div>
    <!-- 包干 -->
    <CostItem
      ref="CostItemRef"
      :standardCostLumpList="standardCostLumpList"
      :disabledSelect="disabledSelect"
      :selectedLump="costItemData.selectedLump"
      :selectedNoLump="costItemData.selectedNoLump"
      v-model:selectedLumpData="costItemData.selectedLumpData"
      v-model:selectedNoLumpData="costItemData.selectedNoLumpData"
    ></CostItem>
    <!-- 非包干 -->
  </div>
</template>

<script setup>
import { reactive, ref, watch, inject, onMounted } from 'vue';
import CostItem from './CostItem.vue';
import { crmApi } from '@/api';
const searchData = inject('searchData');
const selectedSearchData = inject('selectedSearchData');
const modalParams = inject('modalParams');
const offerInfo = inject('offerInfo');
// 当前选择的标准产品
const standardProductsId = ref('');
const CostItemRef = ref('');
//#region 包干非包干
const costItemData = reactive({
  selectedLump: [], //选择的包干
  selectedNoLump: [],
  selectedLumpData: [],
  selectedNoLumpData: [],
});
//#region 编辑或者回显
watch(
  () => searchData.value.timestamp,
  () => {
    // 初始化搜索
    if (searchData.value.length >= 1) {
      addLumpToSelect(searchData.value[0]);
      standardProductsId.value = searchData.value[0].standardProductsId;
      searchData.value[0].selected = true;
    } else {
      if (
        selectedSearchData.value &&
        selectedSearchData.value.costFeeList &&
        !selectedSearchData.value.standardProductsId
      ) {
        costItemData.selectedLump = [];
        costItemData.selectedNoLump = [];
        costItemData.selectedLumpData = [];
        costItemData.selectedNoLumpData = [];
        addLumpToSelect(selectedSearchData.value);
        selectedSearchData.value.costFeeList?.forEach((item) => {
          if (item.isLumpSum) {
            costItemData.selectedLump.push(item.costItemCode);
            costItemData.selectedLumpData.push(item);
          } else {
            costItemData.selectedNoLump.push(item.costItemCode);
            costItemData.selectedLumpData.push(item);
          }
        });
      }
    }
  },
  {
    immediate: true,
  }
);

//#endregion

// 添加包干和非包干到当前选中项
const addLumpToSelect = (obj) => {
  const lump = [],
    noLump = [];
  const { costFeeList } = obj;
  costFeeList
    .sort((a, b) => a.costItemCode - b.costItemCode)
    .forEach((item) => {
      if (item.isLumpSum) {
        lump.push({ ...item });
      } else {
        noLump.push({ ...item });
      }
    });
  Object.assign(obj, { lump, noLump });
};

//#region 标准产品变更

const standardProductsIdChange = (e) => {
  // 选中
  searchData.value.forEach((item) => {
    if (item.standardProductsId === e) {
      addLumpToSelect(item);
      item.selected = true;
    } else {
      item.selected = false;
    }
  });
};

//#endregion

// 设置选择框不可用
const disabledSelect = ref(false);

// 处理包干和非包干 选择变化时
watch(
  () => standardProductsId,
  (newValue) => {
    costItemData.selectedLump = [];
    costItemData.selectedNoLump = [];
    costItemData.selectedLumpData = [];
    costItemData.selectedNoLumpData = [];
    if (!newValue) return;
    // 如果第一条已经存在 或者编辑第二条
    if (modalParams.title === modalParams.ModalTitle.addMore) {
      disabledSelect.value = true;
      selectedSearchData.value.costFeeList = offerInfo.offerCostItemList;
      //BUG:ID1016853
      costItemData.selectedLump = offerInfo.offerCostItemList
        ?.map((item) => item.isLumpSum && item.costItemCode)
        .filter(Boolean);
      costItemData.selectedNoLump = offerInfo.offerCostItemList
        ?.map((item) => !item.isLumpSum && item.costItemCode)
        .filter(Boolean);
      return;
    }
    selectedSearchData.value?.costFeeList?.forEach((item) => {
      if (item.isLumpSum) {
        costItemData.selectedLump.push(item.costItemCode);
        costItemData.selectedLumpData.push(item);
      } else {
        costItemData.selectedNoLump.push(item.costItemCode);
        costItemData.selectedLumpData.push(item);
      }
    });
  },
  {
    deep: true,
    immediate: true,
  }
);
// 根据标准产品id查询标准产品信息
const standardProductsInfo = ref({});
const getStandardProductsInfo = () => {
  // 如果为编辑则需要拿到标准产品下的包干范围，只有初始化时需要获取一次（可优化） 同时获取标准产品名称
  if (getStandardProductsInfo.timer) {
    clearTimeout(getStandardProductsInfo.timer);
  }
  getStandardProductsInfo.timer = setTimeout(() => {
    crmApi
      .productsDetail({
        id: selectedSearchData.value.standardProductsId,
      })
      .then((res) => {
        console.log('@@@@@@@@@@@', res);
        standardProductsInfo.value = res.data;
        standardCostLumpList.value =
          res.data.standardProductsCostItemVOs.filter((item) => item.isLumpSum);
      });
  }, 300);
};

// 匹配到标准产品的包干 处理回显相关
const standardCostLumpList = ref([]);

watch(
  () => selectedSearchData.value,
  (n) => {
    if (!n) return;
    // 新增
    if (modalParams.title === modalParams.ModalTitle.add) {
      // 匹配到标准产品
      if (selectedSearchData.value.standardProductsId) {
        standardCostLumpList.value = n.lump;
        standardCostLumpList.value.standardProductsId =
          selectedSearchData.value.standardProductsId;
      } else {
        // 未匹配到标准产品
        standardCostLumpList.value = [];
        // console.log('$$$$$$$$$$$$$$$未匹配到标准产品',n)
      }
    }
    // 添加
    if (modalParams.title === modalParams.ModalTitle.addMore) {
      // 匹配到标准产品
      if (selectedSearchData.value.standardProductsId) {
        standardCostLumpList.value = n.lump;
      } else {
        // 未匹配到标准产品
        costItemData.selectedLump = selectedSearchData.value.costFeeList
          .filter((item) => item.isLumpSum)
          .map((item) => item.costItemCode);
        costItemData.selectedNoLump = selectedSearchData.value.costFeeList
          .filter((item) => !item.isLumpSum)
          .map((item) => item.costItemCode);
      }
    }
    // 编辑
    if (modalParams.title === modalParams.ModalTitle.edit) {
      // 匹配到标准产品
      if (selectedSearchData.value.standardProductsId) {
        // 如果为编辑则需要拿到标准产品下的包干范围，只有初始化时需要获取一次回显费用范围
        getStandardProductsInfo();
        costItemData.selectedLumpData =
          selectedSearchData.value.costFeeList?.filter(
            (item) => item.isLumpSum
          );
        costItemData.selectedNoLumpData =
          selectedSearchData.value.costFeeList?.filter(
            (item) => !item.isLumpSum
          );
      } else {
        // 未匹配到标准产品
        standardCostLumpList.value = [];
        costItemData.selectedLumpData =
          selectedSearchData.value.costFeeList?.filter(
            (item) => item.isLumpSum
          );
        costItemData.selectedNoLumpData =
          selectedSearchData.value.costFeeList?.filter(
            (item) => !item.isLumpSum
          );
      }
    }
  },
  {
    deep: true,
    immediate: true,
  }
);

// // 如果为编辑 需要 默认费用初始值
//   if(modalParams.title === modalParams.ModalTitle.edit){
//     selectedSearchData.value.costFeeList =modalParams.row.costItemList
//   }
// 处理包干变更相关，更新costFeeList ，更新表格数据
watch(
  [
    () => costItemData.selectedLumpData?.length,
    () => costItemData.selectedNoLumpData?.length,
  ],
  ([l1, l2]) => {
    const selectedLumpData = costItemData.selectedLumpData;
    const selectedNoLumpData = costItemData.selectedNoLumpData;
    if (modalParams.title === modalParams.ModalTitle.addMore) return;

    // 匹配到标准产品
    if (
      selectedSearchData.value &&
      selectedSearchData.value.costFeeList &&
      selectedSearchData.value.standardProductsId
    ) {
      // todo 如果用删除项为包干 并且为禁用状态，则需要加回去

      // 标准产品 包干code 与 inde x的映射
      const costItemLumpCodes = {};
      selectedSearchData.value.lump.forEach((item, index) => {
        costItemLumpCodes[item.costItemCode] = index;
      });
      // 标准产品的 costItemCode
      const keys = Object.keys(costItemLumpCodes);
      // 存储处理过的包干 把标准产品的加入
      const lumpArray = [];
      // 初始化，需要初始化价格
      selectedLumpData.forEach((item) => {
        // 如果包干中有价格 或者单位，则直接使用，否则使用默认的，用于初始化
        const defaultItem =
          selectedSearchData.value.costFeeList.find(
            (dItem) => dItem.costItemCode === item.costItemCode
          ) || {};
        if (defaultItem.costAmount !== undefined || defaultItem.billingUnit) {
          lumpArray.push(defaultItem);
        } else {
          lumpArray.push({
            ...selectedSearchData.value.lump[
              costItemLumpCodes[item.costItemCode]
            ],
          });
        }
      });
      selectedSearchData.value.costFeeList = [
        ...lumpArray,
        ...selectedNoLumpData,
      ];
    }
    // 未匹配到标准产品
    if (
      selectedSearchData.value &&
      selectedSearchData.value.costFeeList &&
      !selectedSearchData.value.standardProductsId
    ) {
      selectedSearchData.value.costFeeList = [
        ...costItemData.selectedLumpData,
        ...costItemData.selectedNoLumpData,
      ];
    }
  },
  {
    immediate: true,
    // deep: true,
  }
);

watch(
  () => selectedSearchData,
  // (newValue) => {
  (newValue) => {
    // 初始化 添加包干项到表格
    // if (selectedSearchData.value?.costFeeList) {
    //   costItemData.selectedLump = selectedSearchData.value?.costFeeList
    //     .filter((item) => item.isLumpSum)
    //     .map((item) => item.costItemCode);
    //   costItemData.selectedNoLump = selectedSearchData.value?.costFeeList
    //     .filter((item) => !item.isLumpSum)
    //     .map((item) => item.costItemCode);
    // }
  },
  {
    immediate: true,
    deep: true,
  }
);
// 为编辑，需要回显数据
if (modalParams.title === modalParams.ModalTitle.edit) {
  if (modalParams.index > 0) {
    disabledSelect.value = true;
  }
  // 包干非包干
  const { costItemList } = modalParams.row;
  selectedSearchData.value.costFeeList = costItemList;
  // 默认展示的包干
  costItemData.selectedLump = costItemList
    .filter((item) => item.isLumpSum)
    .map((item) => item.costItemCode);
  // 默认展示的非包干
  costItemData.selectedNoLump = costItemList
    .filter((item) => !item.isLumpSum)
    .map((item) => item.costItemCode);
}

// 保存所需参数 costItemList: selectedSearchData.value.costFeeList
const getParams = async () => {
  return {};
};
defineExpose({
  getParams,
});
//#endregion
onMounted(() => {});
</script>

<style lang="less" scoped>
.join {
  display: flex;
  align-items: center;
  margin-right: 10px;
}
</style>