<!-- 申报回执表格 -->
<template>
  <div>
    <TaskNavBts ref="taskNavBtsRef">
      <template #center>
        <!-- 搜索 -->
        <search-btn
          v-model="searchword"
          placeholder="业务编号/提单号/委托人"  
        ></search-btn>
        <!-- 全屏 -->
        <screen-btn></screen-btn>
        <!-- 刷新按钮执行列表初始化 -->
        <sync-btn @click="syncData"> </sync-btn>
      </template>
      <template #end>
        <a-button
          type="primary"
          :style="{
            height: '30px',
          }"
          @click="finish()"
        >
          <template #icon>
            <icon-file />
          </template>
          <span>完成</span>
        </a-button>
      </template>
    </TaskNavBts>
    <a-space direction="vertical">
      <a-table
        class="commonTable"
        :data="dataSource"
        :columns="columns"
        :row-selection="rowSelection"
        column-resizable
        :scrollConfig="scrollConfig"
        :bordered="{ wrapper: true, cell: true }"
        @select="handleSelect"
        @select-all="handleSelectAll"
        @selection-change="handleSelectionChange"
        @page-change="handlePageChange"
        @page-size-change="handlePageSizeChange"
      >
        <template #abnormal="{ record }">
          <a-select
            v-model="record.abnormal"
            @change="handleChange(record, 'abnormal')"
          >
            <a-option
              v-for="item in abnormalEnums"
              :key="item"
              :label="item.desc"
              :value="item.value"
              >{{ item.desc }}</a-option
            >
          </a-select>
        </template>
        <template #handleDescription="{ record }">
          <a-input
            v-model="record.handleDescription"
            placeholder="请输入异常描述"
            @change="(val)=>{editTask(val,record)}"
          ></a-input>
        </template>
        <template #planCompletionTime="{ record }">
          <div>
            <a-date-picker
              v-if="record.estimatedCompleteRuleType === '1'"
              v-model="record.planCompletionTime"
              show-time
              format="YYYY-MM-DD HH:mm"
            />
            <span v-else>{{ record.planCompletionTime }}</span>
          </div>
        </template>
        <template #timeout="{ record }">
          <div style="color: red">{{ record.timeout }} </div>
        </template>
      </a-table>
    </a-space>
  </div>
</template>

<script lang="ts">
import { reactive, toRefs, defineComponent, ref, watch } from 'vue';
import { taskApi } from '@/api/taskApi/index';
import TaskNavBts from '@/views/task/components/modules/taskNavBts.vue';
import { Message } from '@arco-design/web-vue';
export default defineComponent({
  name: 'OceanFreightTable',
  components: {
    TaskNavBts,
  },
  setup(props, { emit, slots, attrs }) {
    const taskNavBtsRef = ref([]);
    const columns = [
      {
        width: 220,
        title: '业务编号',
        dataIndex: 'orderLogisticsNo',
        fixed: 'left',
      },
      {
        width: 300,
        title: 'MB/L',
        dataIndex: 'mblNo',
      },
      {
        width: 300,
        title: 'HB/L',
        dataIndex: 'hblNo',
      },
      {
        width: 200,
        title: '委托人',
        dataIndex: 'clientNameZh',
      },
      {
        width: 100,
        title: '海关编号',
        dataIndex: 'customsNo',
      },
      {
        width: 100,
        title: '任务名称',
        dataIndex: 'taskName',
      },
      {
        width: 200,
        title: '任务描述',
        dataIndex: 'taskDescription',
      },
      {
        width: 200,
        title: '异常原因',
        dataIndex: 'abnormal',
        slotName: 'abnormal',
      },
      {
        width: 200,
        title: '异常描述',
        dataIndex: 'handleDescription',
        slotName: 'handleDescription',
      },
      {
        width: 200,
        title: '创建时间',
        dataIndex: 'taskCreateTime',
      },
      {
        width: 200,
        title: '计划完成时间',
        dataIndex: 'planCompletionTime',
        slotName: 'planCompletionTime',
      },
      {
        width: 200,
        title: '超时时间',
        dataIndex: 'timeout',
        slotName: 'timeout', //超时时间(小时)
      },
    ];
    // 获取列表参数接口
    type tableParam = {
      keyword: String; // 关键字查询
      orderLogisticsNo: String; // 运单号: 运单跟踪页面跳转时传递
      customsId: String; // 报关单ID: 报关单级别跳转时传递
    };
    // 信息修改参数接口
    type editMsgParam = {
      ultTaskId: unknown; // 任务实例ID
      abnormalTaskCode: String; // 异常原因枚举code
    };
    const dataMap = reactive({
      rowSelection: {
        type: 'checkbox',
        showCheckedAll: true,
        width: 30,
        fixed: true,
      },
      dataSource: [
      
      ] as any[],
      tableParam: {
        keyword: '',
        orderLogisticsNo: '',
        customsId: '',
      } as tableParam,
      taskType: 1,
      searchword: '',
      scrollConfig: { y: '100%' },
      selectKeyList: [], // 选中行的key
      abnormalEnums: [], // 异常原因下拉枚举
      editMsgParam: {
        ultTaskId: null,
        abnormalTaskCode: '',
      } as editMsgParam,
    });

    // 单行选择
    const handleSelect = (rowKeys: string, rowKey: string, record: any) => {
      console.log('val', rowKeys, rowKey, record);
    };
// editTask
    // 全选
    const handleSelectAll = (rowKeys: string, rowKey: string, record: any) => {
      console.log('valAll', rowKeys, rowKey, record);
    };

    const handleSelectionChange = (
      rowKeys: any,
      rowKey: string,
      record: any
    ) => {
      dataMap.selectKeyList = rowKeys;
    };
    const editTask =async (val,record)=>{
        await taskApi.editTask({
          ultTaskId: record.ultTaskId,
          handleDescription: val,
        });
      
    }
    const handleChange = async (record: object, key: string) => {
      if (key === 'abnormal') {
        await taskApi.editDeclarationReceipt({
          ultTaskId: record.ultTaskId,
          abnormalTaskCode: record.abnormal,
        });
        syncData();
      }
    };

    //分页切换
    const handlePageChange = (page: number) => {
      console.log('page', page);
    };

    //分页切换
    const handlePageSizeChange = (page: number) => {
      console.log('pageSize', page);
    };

    // 刷新
    const syncData = () => {
      dataMap.searchword = '';
      dataMap.tableParam.keyword = '';
      getList();
      emit('getTodoClassifyCount')
    };

    // 完成
    const finish = async () => {
      if (!dataMap.selectKeyList.length)
        return Message.error('请选择异常处理任务！');
      const param = dataMap.selectKeyList.map((key) => ({ ultTaskId: key }));
      await taskApi.functionDeclarationReceipt(param);
      syncData();
    };
    // 获取异常原因下拉枚举
    const getAbnormalEnums = async () => {
      const res = await taskApi.selectorDeclarationreceiptAbnormal();
      if (res.data) {
        dataMap.abnormalEnums = res.data;
      }
    };
    // 获取申请回执处理列表
    const getList = async () => {
      const res = await taskApi.listDeclarationReceipt({
        ...dataMap.tableParam,
        keyword: dataMap.searchword,
      });
      if (res.data) {
        dataMap.dataSource = res.data.map((item: any) => ({
          ...item,
          key: item.ultTaskId,
        }));
      }else{
        dataMap.dataSource = []
      }
    };
    watch(() => dataMap.searchword, getList);
    getList();
    getAbnormalEnums();
    return {
      handleSelect,
      handleSelectAll,
      handleSelectionChange,
      handlePageChange,
      handlePageSizeChange,
      getAbnormalEnums,
      handleChange,
      editTask, 
      taskNavBtsRef,
      columns,
      finish,
      syncData,
      ...toRefs(dataMap),
    };
  },
});
</script>
<style lang="less" scoped>
.commonTable {
  width: calc(~'100vw - 40px');
}
.common-table-wrap {
  height: 100%;
}
</style>