<!-- EHC查询表格 -->
<template>
  <div>
    <TaskNavBts ref="taskNavBtsRef" :config="{ startSpan: 12, endSpan: 12 }">
      <template #center>
        <!-- 搜索 -->
        <search-btn
          v-model="searchword"
          placeholder="业务编号/提单号/委托人"
        ></search-btn>
        <!-- 全屏 -->
        <screen-btn></screen-btn>
        <!-- 刷新按钮执行列表初始化 -->
        <sync-btn @click="syncData"> </sync-btn>
      </template>
      <template #end>
        <a-button
          type="outline"
          status="danger"
          :style="{
            'height': '30px',
            'margin-right': '8px',
          }"
          @click="noMsg()"
        >
          <template #icon>
            <icon-file />
          </template>
          <span>无信息</span>
        </a-button>
        <a-button
          type="outline"
          status="danger"
          :style="{
            'height': '30px',
            'margin-right': '8px',
          }"
          @click="hasFault()"
        >
          <template #icon>
            <icon-file />
          </template>
          <span>有误</span>
        </a-button>
        <a-button
          type="primary"
          :style="{
            'height': '30px',
            'margin-right': '8px',
          }"
          @click="notFault()"
        >
          <template #icon>
            <icon-file />
          </template>
          <span>无误</span>
        </a-button>
      </template>
    </TaskNavBts>
    <a-space direction="vertical">
      <a-table
        class="commonTable"
        :data="dataSource"
        :columns="columns"
        column-resizable
        :scrollConfig="scrollConfig"
        :row-selection="rowSelection"
        :bordered="{ wrapper: true, cell: true }"
        :pagination="false"
        @select="handleSelect"
        @select-all="handleSelectAll"
        @selection-change="handleSelectionChange"
        @page-change="handlePageChange"
        @page-size-change="handlePageSizeChange"
      >
        <template #ehcStatus="{ record }">
          <a-select
            v-model="record.ehcStatus"
            @change="handleChange(record, 'ehcStatus')"
          >
            <a-option label="无信息" value="0"> </a-option>
            <a-option label="有误" value="1"> </a-option>
            <a-option label="无误" value="2"> </a-option>
          </a-select>
        </template>
        <template #ehcExceptionDescription="{ record }">
          <a-input
            :disabled="
              record.ehcStatus ||
              record.ehcStatus === '0' ||
              record.ehcStatus === '2'
            "
            v-model="record.ehcExceptionDescription"
            placeholder="请输入备注"
            @change="handleChange(record, 'ehcExceptionDescription')"
          ></a-input>
        </template>
        <template #planCompletionTime="{ record }">
          <div>
            <a-date-picker
              v-if="record.estimatedCompleteRuleType === '1'"
              v-model="record.planCompletionTime"
              show-time
              :time-picker-props="{ defaultValue: '09:09:06' }"
              format="YYYY-MM-DD HH:mm"
            />
            <span v-else>{{ record.planCompletionTime }}</span>
          </div>
        </template>
      </a-table>
    </a-space>
  </div>
</template>

<script lang="ts">
import { reactive, toRefs, defineComponent, ref, watch } from 'vue';
import { taskApi } from '@/api/taskApi/index';
import TaskNavBts from '@/views/task/components/modules/taskNavBts.vue';
import { Message } from '@arco-design/web-vue';

export default defineComponent({
  name: 'OceanFreightTable',
  components: {
    TaskNavBts,
  },
  setup(props, { emit, slots, attrs }) {
    const taskNavBtsRef = ref([]);
    const columns = [
      {
        width: 220,
        title: '业务编号',
        dataIndex: 'orderLogisticsNo',
        fixed: 'left',
      },
      {
        width: 300,
        title: 'PI号',
        dataIndex: 'piNo',
      },
      {
        width: 200,
        title: '委托人',
        dataIndex: 'clientNameZh',
      },
      {
        width: 100,
        title: '经营单位',
        dataIndex: 'fullCo',
        slotName: 'fullCo',
      },
      {
        width: 200,
        title: '肉类协会密码',
        dataIndex: 'meatAssociationCode', //显示经营单位的肉类协会密码，从【实体：客商】获取
      },
      {
        width: 200,
        title: '卫生证号',
        dataIndex: 'hygieneNo',
      },
      {
        width: 200,
        title: '查询结果',
        dataIndex: 'ehcStatus',
        slotName: 'ehcStatus',
      },
      {
        width: 200,
        title: '备注',
        dataIndex: 'ehcExceptionDescription',
        slotName: 'ehcExceptionDescription',
      },
      {
        width: 200,
        title: '创建时间',
        dataIndex: 'taskCreateTime',
      },
      {
        width: 200,
        title: '计划完成时间',
        dataIndex: 'planCompletionTime',
        slotName: 'planCompletionTime',
      },
      {
        width: 200,
        title: '超时时间',
        dataIndex: 'timeout',
        slotName: 'timeout', //超时时间(小时)  超时时间＝当前系统时间－计划完成时间；如果超时时间大于0，则显示，并红色显示
      },
    ];

    // 获取列表参数接口
    type tableParam = {
      keyword: String; // 关键字查询
      orderLogisticsNo: String; // 运单号: 运单跟踪页面跳转时传递
      customsId: String; // 报关单ID: 报关单级别跳转时传递
    };
    // 信息修改参数接口
    type msgEditParam = {
      ultTaskId: unknown; // 任务实例ID
      ehcStatus: String; // EHC状态：0-无信息 1-有误 2-无误 (选择器 EHC状态)
      ehcExceptionDescription: String; // 备注(EHC 异常描述)
    };
    const dataMap = reactive({
      config: {
        endSpan: 12,
      },
      rowSelection: {
        type: 'checkbox',
        showCheckedAll: true,
        width: 30,
        fixed: true,
      },
      dataSource: [],
      taskType: 1,
      searchword: '',
      scrollConfig: { y: '100%' },
      tableParam: {
        keyword: '',
        orderLogisticsNo: '',
        customsId: '',
      } as tableParam,
      selectKeyList: [], // 选中行的key
      msgEditParam: {
        ultTaskId: null,
        ehcStatus: '',
        ehcExceptionDescription: '',
      } as msgEditParam,
    });

    // 单行选择
    const handleSelect = (rowKeys: string, rowKey: string, record: any) => {
      console.log('val', rowKeys, rowKey, record);
    };

    // 全选
    const handleSelectAll = (rowKeys: string, rowKey: string, record: any) => {
      console.log('valAll', rowKeys, rowKey, record);
    };

    const handleSelectionChange = (
      rowKeys: any,
      rowKey: string,
      record: any
    ) => {
      dataMap.selectKeyList = rowKeys;
    };

    //分页切换
    const handlePageChange = (page: number) => {
      console.log('page', page);
    };

    //分页切换
    const handlePageSizeChange = (page: number) => {
      console.log('pageSize', page);
    };
    // 列数据变化监听
    const handleChange = async (record: any, key: string) => {
      // 信息修改
      if (Object.keys(dataMap.msgEditParam).includes(key)) {
        dataMap.msgEditParam.ultTaskId = record.ultTaskId;
        dataMap.msgEditParam.ehcStatus = record.ehcStatus;
        dataMap.msgEditParam.ehcExceptionDescription =
          record.ehcExceptionDescription;
        await taskApi.editEhcQuery(dataMap.msgEditParam);
        syncData();
      }
    };
    // 刷新
    const syncData = () => {
      dataMap.searchword = '';
      dataMap.tableParam.keyword = '';
      getList();
      emit('getTodoClassifyCount')
    };
    // 无信息
    const noMsg = async () => {
      if (!dataMap.selectKeyList.length)
        return Message.error('请选择EHC查询任务！');
      await taskApi.functionEehcQuery({
        functionType: 0,
        taskIds: dataMap.selectKeyList,
      });
      syncData();
    };
    // 确认支付方式
    const hasFault = async () => {
      if (!dataMap.selectKeyList.length)
        return Message.error('请选择EHC查询任务！');
      await taskApi.functionEehcQuery({
        functionType: 1,
        taskIds: dataMap.selectKeyList,
      });
      syncData();
    };
    const notFault = async () => {
      if (!dataMap.selectKeyList.length)
        return Message.error('请选择EHC查询任务！');
      await taskApi.functionEehcQuery({
        functionType: 2,
        taskIds: dataMap.selectKeyList,
      });
      syncData();
    };
    // 获取海运费确认-获取列表数据
    const getList = async () => {
      const res = await taskApi.listEhcQuery({
        ...dataMap.tableParam,
        keyword: dataMap.searchword,
      });
      if (res.data) {
        dataMap.dataSource = res.data.map((item: any) => ({
          ...item,
          key: item.ultTaskId,
          ehcStatus:String(Number(item.ehcStatus))
        }));
      }else{
        dataMap.dataSource = []
      }
    };
    watch(() => dataMap.searchword, getList);
    getList();
    return {
      handleSelect,
      handleSelectAll,
      handleSelectionChange,
      handlePageChange,
      handlePageSizeChange,
      handleChange,
      taskNavBtsRef,
      columns,
      noMsg,
      hasFault,
      notFault,
      syncData,
      ...toRefs(dataMap),
    };
  },
});
</script>
<style lang="less" scoped>
.commonTable {
  width: calc(~'100vw - 40px');
}

.common-table-wrap {
  height: 100%;
}
</style>
