<!-- 电放信息表格 -->
<template>
  <div>
    <TaskNavBts ref="taskNavBtsRef">
      <template #center>
        <!-- 搜索 -->
        <search-btn v-model="searchword" 
            placeholder="业务编号/提单号/委托人"
></search-btn>
        <!-- 全屏 -->
        <screen-btn></screen-btn>
        <!-- 刷新按钮执行列表初始化 -->
        <sync-btn @click="syncData"> </sync-btn>
      </template>
      <template #end>
        <a-button type="primary" :style="{
          'height': '30px',
          'margin-right': '8px',
        }" @click="functionDischarge(selectedKeys, 0)">
          <template #icon>
            <icon-file />
          </template>
          <span>无信息</span>
        </a-button>
        <a-button type="primary" :style="{
          height: '30px',
          'margin-right': '8px',
        }" @click="functionDischarge(selectedKeys, 1)">
          <template #icon>
            <icon-file />
          </template>
          <span>有误</span>
        </a-button>
        <a-button type="primary" :style="{
          height: '30px',
        }" @click="functionDischarge(selectedKeys, 2)">
          <template #icon>
            <icon-file />
          </template>
          <span>无误</span>
        </a-button>

      </template>
    </TaskNavBts>
    <a-space direction="vertical">
      <a-table class="commonTable" :data="dataSource" :columns="columns" column-resizable :scrollConfig="scrollConfig"
        :row-selection="rowSelection" :bordered="{ wrapper: true, cell: true }" v-model:selectedKeys="selectedKeys">
        <template #dischargeStatusName="{ record }">
          <div>
            <a-select v-model="record.dischargeStatus" @change="dischargeStatusChange($event, record)">
              <a-option v-for="item in statusOptions" :label="item.label" :value="item.value" :key="item.value">
              </a-option>
            </a-select>
          </div>
        </template>
        <template #dischargeExceptionDescription="{ record }">
          <a-input :disabled="record.dischargeStatus != 1"
            @change="dischargeExceptionDescriptionChange(record.ultTaskId, $event)"
            v-model="record.dischargeExceptionDescription" placeholder="请输入备注">
          </a-input>
        </template>
        <template #planCompletionTime="{ record }">
          <div>
            <a-date-picker @change="planCompletionTimeChange($event, record)"
              v-if="record.estimatedCompleteRuleType === '1'" v-model="record.planCompletionTime" show-time
              :time-picker-props="{ defaultValue: '09:09:06' }" format="YYYY-MM-DD HH:mm" />
            <span v-else>{{ record.planCompletionTime }}</span>
          </div>
        </template>
        <template #timeout="{ record }">
          <div>
            <span style="color:red">{{ record.timeout }}</span>
          </div>
        </template>
      </a-table>
    </a-space>
  </div>
</template>

<script lang="ts">
import { onMounted, reactive, toRefs, defineComponent, ref, watch } from 'vue';
import { taskApi } from '@/api/taskApi/index';
import TaskNavBts from '@/views/task/components/modules/taskNavBts.vue';
import { Message } from '@arco-design/web-vue';

export default defineComponent({
  name: 'ElectricDischargeInfoTable',
  components: {
    TaskNavBts,
  },
  setup(props, { emit, slots, attrs }) {
    const taskNavBtsRef = ref([]);
    const columns = [
      {
        width: 220,
        title: '业务编号',
        dataIndex: 'orderLogisticsNo',
        fixed: 'left',
      },
      {
        width: 300,
        title: 'MB/L',
        dataIndex: 'mblNo',
      },
      {
        width: 300,
        title: 'HB/L',
        dataIndex: 'hblNo',
      },
      {
        width: 200,
        title: '委托人',
        dataIndex: 'clientNameZh',
      },
      {
        width: 100,
        title: '查询结果',
        dataIndex: 'dischargeStatusName',
        slotName: 'dischargeStatusName',
      },
      {
        width: 200,
        title: '备注',
        dataIndex: 'dischargeExceptionDescription', //拿到真实数据之后需要转换
        slotName: 'dischargeExceptionDescription',
      },
      {
        width: 200,
        title: '创建时间',
        dataIndex: 'taskCreateTime',
      },
      {
        width: 200,
        title: '计划完成时间',
        dataIndex: 'planCompletionTime',
        slotName: 'planCompletionTime',
      },
      {
        width: 200,
        title: '超时时间',
        dataIndex: 'timeout',
        slotName: 'timeout', //超时时间(小时)
      },
    ];
    const dataMap = reactive({
      config: {
        endSpan: 12,
      },
      statusOptions: [
        { value: 0, label: '无信息' },
        { value: 1, label: '有误' },
        { value: 2, label: '无误' },
      ],
      selectedKeys: [],
      pagination: {
        'size': 'mini',
        'total': '100', //动态设置
        'current': 1, //  当前页码
        'page-size': 5, // 每页展示的数据条数
        'show-page-size': true,
        'page-size-options': [5, 10, 15, 20, 25],
        'show-total': true,
        'show-jumper': true,
      },
      rowSelection: {
        type: 'checkbox',
        showCheckedAll: true,
        width: 30,
        fixed: true,
      },
      dataSource: [],
      searchword: '',
      scrollConfig: { y: '100%' },
    });
    // 刷新
    const syncData = () => {
      dataMap.searchword = '';
      getData()
      emit('getTodoClassifyCount')
    };
    const getData = async () => {
      const { data } = await taskApi.listDischarge({ keyword: dataMap.searchword });
      if (!data) return dataMap.dataSource = []
      dataMap.dataSource = data.map((el: any) => {
        el.key = el.ultTaskId
        return el
      })
    }

    const planCompletionTimeChange = async (val: string, record: any) => {
      await taskApi.editTask({
        ultTaskId: record.ultTaskId,
        planCompletionTime: val
      })
      syncData()
    }
    const handleDescriptionChange = async (val: string, record: any) => {
      await taskApi.editTask({
        ultTaskId: record.ultTaskId,
        handleDescription: val
      })
      syncData()
    }
    watch(() => dataMap.searchword, getData)
    const functionDischarge = async (ids: any[], status: any) => {
      if (ids.length === 0) return Message.error('请选择电放信息查询任务！')
      await taskApi.functionDischarge({
        taskIds: ids, functionType: status
      })
      syncData()
    }
    const dischargeStatusChange = (val: any, record: any) => {
      functionDischarge([record.ultTaskId], val)
    }
    const dischargeExceptionDescriptionChange = async (ultTaskId: any, val: string) => {
      await taskApi.editDischarge({ ultTaskId, dischargeExceptionDescription: val })
      syncData()

    }
    syncData()
    return {
      taskNavBtsRef,
      columns,
      functionDischarge,
      syncData,
      dischargeStatusChange,
      dischargeExceptionDescriptionChange,planCompletionTimeChange,
      ...toRefs(dataMap),
    };
  }

});
</script>
<style lang="less" scoped>
.commonTable {
  width: calc(~'100vw - 40px');
}

.common-table-wrap {
  height: 100%;
}

:deep(.arco-table-pagination) {
  position: fixed;
  right: 20px;
  bottom: 20px;
  z-index: 2;
}
</style>