<!-- 货物清单表格 -->
<template>
  <div>
    <TaskNavBts ref="taskNavBtsRef">
      <template #center>
        <!-- 搜索 -->
        <search-btn v-model="searchword" 
            placeholder="业务编号/提单号/委托人"
        ></search-btn>
        <!-- 全屏 -->
        <screen-btn></screen-btn>
        <!-- 刷新按钮执行列表初始化 -->
        <sync-btn @click="syncData"> </sync-btn>
      </template>
      <template #end>
        <a-button type="primary" :style="{
          'height': '30px',
        }" @click="completeTask">
          <template #icon>
            <icon-file />
          </template>
          <span>完成</span>
        </a-button>

      </template>
    </TaskNavBts>
    <a-space direction="vertical">
      <a-table class="commonTable" :data="dataSource" :columns="columns" column-resizable :scrollConfig="scrollConfig"
        :row-selection="rowSelection" :bordered="{ wrapper: true, cell: true }" v-model:selectedKeys="selectedKeys"
        :pagination="false"
        >
        <template #planCompletionTime="{ record }">
          <div>
            <a-date-picker @change="planCompletionTimeChange($event, record)"
              v-if="record.estimatedCompleteRuleType === '1'" v-model="record.planCompletionTime" show-time
              format="YYYY-MM-DD HH:mm" />
            <span v-else>{{ record.planCompletionTime }}</span>
          </div>
        </template>
        <template #timeout="{ record }">
          <div>
            <span style="color:red">{{ record.timeout }}</span>
          </div>
        </template>
        <template #orderLogisticsNo="{ record }">
          <div>
            <span @click="approvalListRef.openDialog(record.orderLogisticsNo)"
              style="color: rgb(41, 105, 255); cursor: pointer;">{{ record.orderLogisticsNo }}</span>
          </div>
        </template>
      </a-table>
    </a-space>
  </div>
  <ApprovalListModel ref="approvalListRef" :config="config"></ApprovalListModel>
</template>
<script lang="ts">
import { onMounted, reactive, toRefs, defineComponent, ref, watch } from 'vue';
import { taskApi } from '@/api/taskApi/index';
import TaskNavBts from '@/views/task/components/modules/taskNavBts.vue';
import ApprovalListModel from '@/views/task/components/modules/approvalListModel.vue';
import { Message } from '@arco-design/web-vue';

export default defineComponent({
  name: 'GoodsListTable',
  components: {
    TaskNavBts,
    ApprovalListModel,
  },
  setup(props, { emit, slots, attrs }) {
    const taskNavBtsRef = ref<any>(null);
    const approvalListRef = ref<any>(null);
    const columns = [
      {
        width: 220,
        title: '业务编号',
        slotName: 'orderLogisticsNo',
        dataIndex: 'orderLogisticsNo',
        fixed: 'left',
      },
      {
        width: 300,
        title: 'MB/L',
        dataIndex: 'mblNo',
      },
      {
        width: 300,
        title: 'HB/L',
        dataIndex: 'hblNo',
      },
      {
        width: 200,
        title: '委托人',
        dataIndex: 'clientNameZh',
      },
      {
        width: 100,
        title: '已审核',
        dataIndex: 'auditedCount',
      },
      {
        width: 100,
        title: '待审核',
        dataIndex: 'pendingReviewCount',
      },
      {
        width: 200,
        title: '创建时间',
        dataIndex: 'taskCreateTime',
      },
      {
        width: 200,
        title: '计划完成时间',
        dataIndex: 'planCompletionTime',
        slotName: 'planCompletionTime',
      },
      {
        width: 200,
        title: '超时时间',
        dataIndex: 'timeout',
        slotName: 'timeout', //超时时间(小时)
      },
    ];
    const dataMap = reactive({
      config: {
        endSpan: 12,
      },
      selectedKeys: [],
      rowSelection: {
        type: 'checkbox',
        showCheckedAll: true,
        width: 30,
        fixed: true,
      },
      dataSource: [],

      taskType: 1,
      searchword: '',
      scrollConfig: { y: '100%' },
    });
    // 刷新
    const syncData = () => {
      dataMap.searchword = '';
      getData()
      emit('getTodoClassifyCount')
    };
    // 完成
    const completeTask = async () => {
      if (dataMap.selectedKeys.length === 0) return Message.error("请选择货物清单审核任务！")
      let flag = false
      dataMap.selectedKeys.forEach((v: any) => dataMap.dataSource.forEach((e: any) => {
        if (e.key === v && e.pendingReviewCount > 0) flag = true
      }))
      if (flag) return Message.error("您选择了任务中包含未审核的货物清单，请重新选择！")
      let params = dataMap.selectedKeys.map((v) => {
        return { ultTaskId: v }
      })
      await taskApi.functionCargolist(params)
      syncData()
    };
    const planCompletionTimeChange = async (val: string, record: any) => {
      await taskApi.editTask({
        ultTaskId: record.ultTaskId,
        planCompletionTime: val
      })
      syncData()
    }
    const getData = async () => {
      const { data } = await taskApi.listCargolist({ keyword: dataMap.searchword });
      if (data == null) return dataMap.dataSource = []
      dataMap.dataSource = data.map((el: any) => {
        el.key = el.ultTaskId
        return el
      })
    }

    const handleDescriptionChange = async (val: string, record: any) => {
      await taskApi.editTask({
        ultTaskId: record.ultTaskId,
        handleDescription: val
      })
      syncData()
    }
    watch(() => dataMap.searchword, getData)
    getData()
    return {
      completeTask,
      taskNavBtsRef,
      columns, handleDescriptionChange,
      syncData, planCompletionTimeChange, approvalListRef,
      ...toRefs(dataMap),
    };
  },
});
</script>
<style lang="less" scoped>
.commonTable {
  width: calc(~'100vw - 40px');
}

.common-table-wrap {
  height: 100%;
}

:deep(.arco-table-pagination) {
  // position: fixed;
  // right: 20px;
  // bottom: 20px;
  // z-index: 2;
  margin: 20px;
}
</style>