<!-- 海运费确认 -->
<template>
  <div>
    <TaskNavBts ref="taskNavBtsRef">
      <template #start>
        <a-radio-group
          v-model="taskType"
          type="button"
          @change="changeCountType"
        >
          <a-radio :value="1">全部（{{ oCount.all }}）</a-radio>
          <a-radio :value="2"
            >未确认支付类型（{{ oCount.didNotConfirmPaymentType }}）</a-radio
          >
          <a-radio :value="3"
            >未完成支付（{{ oCount.didNotCompletePayment }}）</a-radio
          >
        </a-radio-group>
      </template>
      <template #center>
        <!-- 搜索 -->
        <search-btn
          v-model="searchword"
          placeholder="业务编号/提单号/委托人"
        ></search-btn>
        <!-- 全屏 -->
        <screen-btn></screen-btn>
        <!-- 刷新按钮执行列表初始化 -->
        <sync-btn @click="syncData"> </sync-btn>
      </template>
      <template #end>
        <a-button
          type="primary"
          :style="{
            'height': '30px',
            'margin-right': '8px',
          }"
          @click="payWay()"
        >
          <template #icon>
            <icon-file />
          </template>
          <span>确认支付方式</span>
        </a-button>
        <a-button
          type="primary"
          :style="{
            height: '30px',
          }"
          @click="payReady()"
        >
          <template #icon>
            <icon-file />
          </template>
          <span>确认已支付</span>
        </a-button>
      </template>
    </TaskNavBts>
    <a-space direction="vertical">
      <a-table
        class="commonTable"
        :data="dataSource"
        :columns="columns"
        column-resizable
        :scrollConfig="scrollConfig"
        :row-selection="rowSelection"
        :bordered="{ wrapper: true, cell: true }"
        :pagination="false"
        @select="handleSelect"
        @select-all="handleSelectAll"
        @selection-change="handleSelectionChange"
        @page-change="handlePageChange"
        @page-size-change="handlePageSizeChange"
      >
       <template #paymentAmount="{ record }">
          <div>
            <a-radio-group
              v-if="!record.seaConfirmTime"
              v-model="record.seaCurrency"
              @change="handleChange(record, 'seaCurrency')"
            >
              <a-radio value="CNY">{{'￥'+(~~record.cnyAmount)}}</a-radio>
              <a-radio value="USD">{{'$'+(~~record.usdAmount)}}</a-radio>
            </a-radio-group>
            <span v-else>{{ record.seaCurrency }}</span>
          </div>
        </template>
        <template #paymentType="{ record }">
          <div>
            <a-select
              v-if="!record.seaConfirmTime"
              v-model="record.paymentType"
              @change="handleChange(record, 'paymentType')"
            >
              <a-option
                v-for="item in paymentTypeOptions"
                :label="item.label"
                :value="item.value"
                :key="item.value"
              >
              </a-option>
            </a-select>
            <span v-else>{{ record.paymentTypeName }}</span>
          </div>
        </template>
        <template #seaReceivableCurrency="{ record }">
          <div>
            <a-radio-group
              v-if="!record.seaConfirmTime"
              v-model="record.seaReceivableCurrency"
              @change="handleChange(record, 'seaReceivableCurrency')"
            >
              <a-radio value="CNY">人民币</a-radio>
              <a-radio value="USD">美元</a-radio>
            </a-radio-group>
            <span v-else>{{ record.seaReceivableCurrency }}</span>
          </div>
        </template>

        <template #seaReceivableAmount="{ record }">
          <div>
            <a-input-number
              v-if="
                !record.seaConfirmTime
              "
              @change="handleChange(record, 'seaReceivableAmount')"
              v-model="record.seaReceivableAmount"
              placeholder="请填应收金额"
              allow-clear
              :min="0"
            />
            <span v-else>{{ record.seaReceivableAmount }}</span>
          </div>
        </template>
        <template #seaReceivableRate="{ record }">
          <div>
            <a-input-number
              v-if="!record.seaConfirmTime && record.seaReceivableCurrency !== 'CNY'"
              v-model="record.seaReceivableRate"
              placeholder="请填写客户结算汇率"
              allow-clear
              :min="0"
              @change="handleChange(record, 'seaReceivableRate')"
            />
            <span v-else>{{ record.seaReceivableRate }}</span>
          </div>
        </template>
        <template #handleDescription="{ record }">
          <div>
            <a-input
              v-model="record.handleDescription"
              placeholder="请填写描述"
              allow-clear
              @change="handleChange(record, 'handleDescription')"
            />
          </div>
        </template>
        <template #planCompletionTime="{ record }">
          <div>
            <a-date-picker
              v-if="
                !record.seaConfirmTime &&
                record.estimatedCompleteRuleType === '1'
              "
              @change="handleChange(record, 'planCompletionTime')"
              v-model="record.planCompletionTime"
              show-time
              :time-picker-props="{ defaultValue: '09:09:06' }"
              format="YYYY-MM-DD HH:mm"
            />
            <span v-else>{{ record.planCompletionTime }}</span>
          </div>
        </template>
        <template #timeout="{ record }">
          <div style="color: red">{{ record.timeout }} </div>
        </template>
      </a-table>
    </a-space>
  </div>
</template>

<script lang="ts">
import { reactive, toRefs, defineComponent, ref, watch } from 'vue';
import { taskApi } from '@/api/taskApi/index';
import TaskNavBts from '@/views/task/components/modules/taskNavBts.vue';
import { Message } from '@arco-design/web-vue';
export default defineComponent({
  name: 'OceanFreightTable',
  components: {
    TaskNavBts,
  },
  setup(props, { emit, slots, attrs }) {
    const taskNavBtsRef = ref([]);
    const columns = [
      {
        width: 220,
        title: '业务编号',
        dataIndex: 'orderLogisticsNo',
        fixed: 'left',
      },
      {
        width: 200,
        title: 'MB/L',
        dataIndex: 'mblNo',
      },
      {
        width: 200,
        title: 'HB/L',
        dataIndex: 'hblNo',
      },
      {
        width: 300,
        title: '委托人',
        dataIndex: 'clientNameZh',
      },
      {
        width: 100,
        title: '船公司',
        dataIndex: 'carrierName',
        slotName: 'carrierName',
      },
      {
        width: 250,
        title: '应付金额',
        dataIndex: 'paymentAmount',
        slotName: 'paymentAmount',
      },
      {
        width: 200,
        title: '船公司汇率',
        dataIndex: 'exchangeRate',
      },
      {
        width: 300,
        title: '支付对象',
        dataIndex: 'paymentName',
      },
      {
        width: 200,
        title: '支付类型',
        dataIndex: 'paymentType',
        slotName: 'paymentType', //1-客户自付 2-代付 3-临时垫付
      },
      {
        width: 200,
        title: '应收币别',
        dataIndex: 'seaReceivableCurrency',
        slotName: 'seaReceivableCurrency', //应收币别(USD/CNY)
      },
      {
        width: 200,
        title: '应收金额',
        dataIndex: 'seaReceivableAmount',
        slotName: 'seaReceivableAmount', //大于0的数字
      },
      {
        width: 200,
        title: '客户结算汇率',
        dataIndex: 'seaReceivableRate',
        slotName: 'seaReceivableRate', //缺省船公司汇率；可修改；如果应收币别＝人民币，则缺省为1，且不能修改；否则必须为大于0的数字；如果【确认时间≠空】，则不能修改
      },
      {
        width: 300,
        title: '处理描述',
        dataIndex: 'handleDescription',
        slotName: 'handleDescription',
      },
      {
        width: 200,
        title: '确认时间',
        dataIndex: 'seaConfirmTime',
      },
      {
        width: 200,
        title: '支付时间',
        dataIndex: 'seaPaymentTime',
      },
      {
        width: 200,
        title: '创建时间',
        dataIndex: 'taskCreateTime',
      },
      {
        width: 200,
        title: '计划完成时间',
        dataIndex: 'planCompletionTime',
        slotName: 'planCompletionTime',
      },
      {
        width: 200,
        title: '超时时间',
        dataIndex: 'timeout',
        slotName: 'timeout', //超时时间(小时)
      },
    ];
    // 支付类型下拉枚举
    const paymentTypeOptions = [
      { value: 1, label: '客户自付' },
      { value: 2, label: '代付' },
      { value: 3, label: '临时垫付' },
    ];
    // 获取列表参数接口
    type tableParam = {
      type: Number; // 列表类型: 1-全部 2-未确认支付类型 3-已完成支付
      keyword: String; // 关键字查询
      orderLogisticsNo: String; // 运单号: 运单跟踪页面跳转时传递
      customsId: String; // 报关单ID: 报关单级别跳转时传递
    };
    // 信息修改参数接口
    type msgEditParam = {
      ultTaskId: unknown; // 任务实例ID
      seaCurrency: String; // 海运费应付币别(USD/CNY)
      paymentType: unknown; // 支付类型：1-客户自付 2-代付 3-临时垫付
      seaReceivableAmount: Number; // 应收金额
      seaReceivableRate: Number; // 客户结算汇率
      seaReceivableCurrency: String; // 应收币别(USD/CNY)
    };
    // 任务信息修改参数接口
    type taskEditParam = {
      ultTaskId: unknown; // 任务实例ID
      handleDescription: String; // 处理描述/异常描述
      // planCompletionTime: String; // 计划完成时间: 格式 yyyy-MM-dd HH:mm
    };
    const dataMap = reactive({
      rowSelection: {
        type: 'checkbox',
        showCheckedAll: true,
        width: 30,
        fixed: true,
      },
      dataSource: [],
      tableParam: {
        type: 1, //列表类型: 1-全部 2-未确认支付类型 3-已完成支付
        keyword: '',
        orderLogisticsNo: '',
        customsId: '',
      } as tableParam,
      taskType: 1,
      searchword: '',
      scrollConfig: { y: '100%' },
      oCount: {}, // 头部筛选数量对象
      currentRow: {}, // 当前选择的行
      selectKeyList: [], // 选中行的key
      msgEditParam: {
        ultTaskId: null,
        seaCurrency: '',
        paymentType: null,
        seaReceivableAmount: 0,
        seaReceivableRate: 0,
        seaReceivableCurrency: '',
      } as msgEditParam,
      taskEditParam: {
        ultTaskId: null,
        handleDescription: '',
        // planCompletionTime: '',
      } as taskEditParam,
    });

    // 单行选择
    const handleSelect = (rowKeys: string, rowKey: string, record: any) => {
      console.log('val', rowKeys, rowKey, record);
    };

    // 全选
    const handleSelectAll = (rowKeys: string, rowKey: string, record: any) => {
      console.log('valAll', rowKeys, rowKey, record);
    };

    const handleSelectionChange = (
      rowKeys: any,
      rowKey: string,
      record: any
    ) => {
      dataMap.selectKeyList = rowKeys;
    };

    // 列数据变化监听
    const handleChange = async (record: any, key: string) => {
      // 任务信息修改
      if (Object.keys(dataMap.taskEditParam).includes(key)) {
        dataMap.taskEditParam.ultTaskId = record.ultTaskId;
        dataMap.taskEditParam.handleDescription = record.handleDescription;
        // dataMap.taskEditParam.planCompletionTime = record.planCompletionTime;
        const res:any= await taskApi.editTask(dataMap.taskEditParam);
        res.code === '200' && getList()
      }
      // 信息修改
      if (Object.keys(dataMap.msgEditParam).includes(key)) {
        if((key === 'seaReceivableAmount' || key === 'seaReceivableRate' ) && !Number(record[key])){
          return Message.error('请输入不为0的数字');
        }
        dataMap.msgEditParam.ultTaskId = record.ultTaskId;
        dataMap.msgEditParam.seaCurrency = record.seaCurrency;
        dataMap.msgEditParam.paymentType = record.paymentType;
        dataMap.msgEditParam.seaReceivableAmount =record.seaReceivableAmount
        dataMap.msgEditParam.seaReceivableRate = record.seaReceivableCurrency === 'USD'?record.exchangeRate:record.seaReceivableRate;
        dataMap.msgEditParam.seaReceivableCurrency = record.seaReceivableCurrency;
        const res:any=await taskApi.editSeaFreight(dataMap.msgEditParam);
        res.code === '200' && getList()
      }
    };
    //分页切换
    const handlePageChange = (page: number) => {
      console.log('page', page);
    };

    //分页切换
    const handlePageSizeChange = (page: number) => {
      console.log('pageSize', page);
    };

    // 刷新
    const syncData = async () => {
      dataMap.searchword = '';
      dataMap.tableParam.type = 1;
      dataMap.tableParam.keyword = '';
      getList();
      emit('getTodoClassifyCount')
    };

    // 确认已支付
    const payReady = async () => {
      if (!dataMap.selectKeyList.length)
        return Message.error('请选择海运费确认任务！');
      const param = dataMap.selectKeyList.map((key) => ({ ultTaskId: key }));
      await taskApi.confrimPaymentSeaFreight(param);
      getList();
    };
    // 确认支付方式
    const payWay = async () => {
      if (!dataMap.selectKeyList.length)
        return Message.error('请选择海运费确认任务！');
      const param = dataMap.selectKeyList.map((key) => ({ ultTaskId: key }));
      await taskApi.confrimPaymentTypeSeaFreight(param);
      getList();
    };

    // 筛选数量类型切换
    const changeCountType = (type: any) => {
      dataMap.searchword = ''
      dataMap.tableParam.type = type;
      getList();
    };
    // 获取海运费确认-获取列表数据
    const getList = async () => {
      // 获取筛选数量
      const resCount = await taskApi.getCountSeaFreight();
      dataMap.oCount = resCount.data;
      const res = await taskApi.getlistSeaFreight({
        ...dataMap.tableParam,
        keyword: dataMap.searchword,
      });
      if (res.data) {
        dataMap.dataSource = res.data.map((item: any) => ({
          ...item,
          key: item.ultTaskId,
        }));
      }else{
        dataMap.dataSource = []
      }
    };
    watch(() => dataMap.searchword, getList);
    getList();
    return {
      handleSelect,
      handleSelectAll,
      handleSelectionChange,
      handlePageChange,
      handlePageSizeChange,
      taskNavBtsRef,
      columns,
      paymentTypeOptions,
      payReady,
      getList,
      handleChange,
      changeCountType,
      syncData,
      payWay,
      ...toRefs(dataMap),
    };
  },
});
</script>
<style lang="less" scoped>
.commonTable {
  width: calc(~'100vw - 40px');
}

.common-table-wrap {
  height: 100%;
}
</style>
