<!-- 税金确认 -->
<template>
  <div class="container-tab">
    <div class="head">
      <TaskNavBts ref="taskNavBtsRef">
        <template #start>
          <a-radio-group v-model="dataMap.taskType" type="button">
            <a-radio v-for="item in dataMap.taskTypeOptions" :value="item.value">{{ item.label }}（{{ item.count }}）
            </a-radio>
          </a-radio-group>
        </template>
        <template #center>
          <!-- 搜索 -->
          <search-btn v-model="dataMap.searchword"
            placeholder="业务编号/提单号/委托人"
          ></search-btn>
          <!-- 全屏 -->
          <screen-btn></screen-btn>
          <!-- 刷新按钮执行列表初始化 -->
          <sync-btn @click="syncData"> </sync-btn>
        </template>
        <template #end>
          <!-- <a-button type="primary" :style="{
            height: '30px',
          }" @click="see">
            <template #icon>
              <icon-file />
            </template>
            <span>see</span>
          </a-button> -->
          <a-button type="primary" :style="{
            'height': '30px',
            'margin-right': '8px',
          }" @click="confirmPayType">
            <template #icon>
              <icon-file />
            </template>
            <span>确认支付方式</span>
          </a-button>
          <a-button type="primary" :style="{
            height: '30px',
          }" @click="confirmPayFinish">
            <template #icon>
              <icon-file />
            </template>
            <span>确认支付</span>
          </a-button>
        </template>
      </TaskNavBts>
    </div>
    <div class="table">
      <a-table :scroll="scrollConfig" v-model:selectedKeys="dataMap.selectedKeys" :data="dataMap.tableData"
        :pagination="false"
        :columns="columns" column-resizable :bordered="{ wrapper: true, cell: true }"
        :row-selection="dataMap.rowSelection" @select="handleSelect">
        <template #paymentType="{ record }">
          <div>
            <a-select v-if="paymentTypeSelectShow(record)" v-model="record.paymentType"
              @change="paymentTypeChange($event, record)">
              <a-option v-for="item in paymentTypeOptions" :label="item.label" :value="item.value" :key="item.value">
              </a-option>
            </a-select>
            <span v-else>{{ record.paymentTypeName }}</span>
          </div>
        </template>
        <template #handleDescription="{ record }">
          <div>
            <a-input v-if="record.children" v-model="record.handleDescription"
              @change="handleDescriptionChange($event, record)" />
          </div>
        </template>
        <template #timeout="{ record }">
          <div style="color: red">{{ record.timeout }} </div>
        </template>
        <template #tariffAmount="{ record }">
          <div>
            <a-input v-model="record.tariffAmount" v-if="childrenAmountInputShow(record)"
              @change="inputChange($event, record, 'tariffAmount')" />
            <span v-else> {{ record.tariffAmount }} </span>
          </div>
        </template>
        <template #vatAmount="{ record }">
          <div>
            <a-input v-model="record.vatAmount" v-if="childrenAmountInputShow(record)"
              @change="inputChange($event, record, 'vatAmount')" />
            <span v-else> {{ record.vatAmount }} </span>
          </div>
        </template>
        <template #saleTaxAmount="{ record }">
          <div>
            <a-input v-model="record.saleTaxAmount" v-if="childrenAmountInputShow(record)"
              @change="inputChange($event, record, 'saleTaxAmount')" />
            <span v-else> {{ record.saleTaxAmount }} </span>
          </div>
        </template>
        <template #antiDumpingDutiesAmount="{ record }">
          <div>
            <a-input v-model="record.antiDumpingDutiesAmount" v-if="childrenAmountInputShow(record)"
              @change="inputChange($event, record, 'antiDumpingDutiesAmount')" />
            <span v-else> {{ record.antiDumpingDutiesAmount }} </span>
          </div>
        </template>
        <template #marginAmount="{ record }">
          <div>
            <a-input v-model="record.marginAmount" v-if="childrenAmountInputShow(record)"
              @change="inputChange($event, record, 'marginAmount')" />
            <span v-else> {{ record.marginAmount }} </span>
          </div>
        </template>
        <template #lateFeeAmount="{ record }">
          <div>
            <a-input v-model="record.lateFeeAmount" v-if="childrenAmountInputShow(record)"
              @change="inputChange($event, record, 'lateFeeAmount')" />
            <span v-else> {{ record.lateFeeAmount }} </span>
          </div>
        </template>
        <template #feeForDelayedDeclarationAmount="{ record }">
          <div>
            <a-input v-model="record.feeForDelayedDeclarationAmount" v-if="childrenAmountInputShow(record)"
              @change="inputChange($event, record, 'feeForDelayedDeclarationAmount')" />
            <span v-else> {{ record.feeForDelayedDeclarationAmount }} </span>
          </div>
        </template>

        <template #planCompletionTime="{ record }">
          <div>
            <a-date-picker v-if="
              record.estimatedCompleteRuleType === '1'
            " v-model="record.planCompletionTime" show-time :time-picker-props="{ defaultValue: '09:09:06' }"
              format="YYYY-MM-DD HH:mm" @change="planCompletionTimeChange($event, record)" />
            <span v-else>{{ record.planCompletionTime }}</span>
          </div>
        </template>
      </a-table>
    </div>
  </div>
</template>
<script lang="ts" setup>
import { taskApi } from '@/api/taskApi/index';
import { setNumericText, totalNum } from '@/utils';
import { Message } from '@arco-design/web-vue';
import { nextTick, onMounted, reactive, watch,defineEmits } from 'vue';
import TaskNavBts from '@/views/task/components/modules/taskNavBts.vue';

type tableDataType = {
  children: any[];
  [key: string]: any;
}[];
const mySetNumericText = (num: number) => {
  return setNumericText(num, {
    format: 2,
    round: true,
    commas: false,
    nullText: '0.00',
    zeroText: '0.00',
    addText: null,

  });
};
const dataMap = reactive({
  tableData: [] as tableDataType,
  selectedKeys: [] as string[],
  rowSelection: {
    type: 'checkbox',
    showCheckedAll: true,
    width: 30,
    fixed: true,
  },
  taskTypeOptions: [
    { value: 1, label: '全部', count: 0 },
    { value: 2, label: '未确认支付类型', count: 0 },
    { value: 3, label: '未完成支付', count: 0 },
  ],

  taskType: 1,
  searchword: '',
});
const scrollConfig = { y: '100%' };
const paymentTypeOptions = [
  { value: 1, label: '客户自付' },
  { value: 2, label: '代付' },
  { value: 3, label: '临时垫付' },
];

const paymentTypeChange = async (v: any, record: any) => {
  await taskApi.editParentTaxConfirmation({
    ultTaskId: record.ultTaskId,
    paymentType: v
  })
  syncData()
}

const columns = [
  { width: 220, title: '业务编号', dataIndex: 'orderLogisticsNo', slotName: 'orderLogisticsNo', fixed: 'left' },
  { width: 300, title: '委托人', dataIndex: 'clientNameZh', slotName: 'clientNameZh' },
  { width: 300, title: '海关编号', dataIndex: 'customsNo', slotName: 'customsNo' },
  { width: 200, title: '付税通知时间', dataIndex: 'noticePayTaxesTime', slotName: 'noticePayTaxesTime' },
  { width: 100, title: '汇总征税', dataIndex: 'collectTax', slotName: 'collectTax' },
  { width: 200, title: '支付类型', dataIndex: 'paymentType', slotName: 'paymentType' }, // 支付类型：1-客户自付 2-代付 3-临时垫付
  { width: 200, title: '关税', dataIndex: 'tariffAmount', slotName: 'tariffAmount' },
  { width: 200, title: '增值税', dataIndex: 'vatAmount', slotName: 'vatAmount' },
  { width: 200, title: '消费税', dataIndex: 'saleTaxAmount', slotName: 'saleTaxAmount' },
  { width: 200, title: '反倾销税', dataIndex: 'antiDumpingDutiesAmount', slotName: 'antiDumpingDutiesAmount' },
  { width: 200, title: '保证金', dataIndex: 'marginAmount', slotName: 'marginAmount' },
  { width: 200, title: '滞纳金', dataIndex: 'lateFeeAmount', slotName: 'lateFeeAmount' },
  { width: 200, title: '滞报金', dataIndex: 'feeForDelayedDeclarationAmount', slotName: 'feeForDelayedDeclarationAmount' },
  { width: 100, title: '处理描述', dataIndex: 'handleDescription', slotName: 'handleDescription' },
  { width: 200, title: '确认时间', dataIndex: 'taxConfirmTime', slotName: 'taxConfirmTime' },
  { width: 200, title: '支付时间', dataIndex: 'taxPayTime', slotName: 'taxPayTime' },
  { width: 200, title: '创建时间', dataIndex: 'taskCreateTime', slotName: 'taskCreateTime' },
  { width: 200, title: '计划完成时间', dataIndex: 'planCompletionTime', slotName: 'planCompletionTime' },
  { width: 200, title: '超时时间', dataIndex: 'timeout', slotName: 'timeout' },
]
const see = () => {
  console.log('dataMap', dataMap);
}
const confirmPayType = async () => {
  if (dataMap.selectedKeys.length == 0) return Message.error("请选择税金确认任务！")
  let selectArr = dataMap.selectedKeys.filter((v: string) => v.split('_').length == 1)
  let flag = true
  for (const v of selectArr) {
    dataMap.tableData.forEach(el => {
      if (!el.children?.length) return
      el.children.forEach((c) => {
        if (!flag) return
        if (c.customsId != v) return
        if (c.taxConfirmTime) {
          flag = false
          Message.error("您选择了已确认的任务，请重新选择！")
          return
        }
        if (!el.paymentType) {
          flag = false
          Message.error("未选择支付类型！")
          return
        }
        if (c.vatAmount === 0 || c.vatAmount === '0.00') {
          flag = false
          Message.error("未填写增值税！")
          return
        }

      })

    })
  }
  if (!flag) return
  let params = selectArr.map((v) => {
    return { customsId: v }
  })
  await taskApi.confirmPaymentTypeTaxConfirmation(params)
  syncData()
};


const confirmPayFinish = async () => {
  if (dataMap.selectedKeys.length == 0) return Message.error("请选择税金确认任务！")
  let selectArr = dataMap.selectedKeys.filter((v: string) => v.split('_').length == 1)
  let flag = true
  for (const v of selectArr) {
    dataMap.tableData.forEach(el => {
      if (!el.children?.length) return
      el.children.forEach((c) => {
        if (!flag) return
        if (c.customsId != v) return
        if (!c.taxConfirmTime) {
          flag = false
          Message.error("您选择了未确认的任务，请重新选择！")
          return
        }
        if (el.paymentType != 1) {
          flag = false
          Message.error("您选择了代付或临时垫付的任务，请重新选择！")
          return
        }
      })

    })
  }
  if (!flag) return
  let params = selectArr.map((v) => {
    return { customsId: v }
  })
  await taskApi.confirmPaymentTaxConfirmation(params)
  syncData()
};
const emits = defineEmits(['getTodoClassifyCount']);
const syncData = () => { getTableList(); countTaxConfirmation();emits('getTodoClassifyCount') };
const inputChange = async (val: any, record: any, key: string) => {
  if (!Number(val)) {
    return Message.error('请输入不为0的数字');
  }
  await taskApi.editChildTaxConfirmation({
    customsId: record.customsId,
    [key]: val
  })
  syncData()
};
const upDateAmount = () => {
  const keys = [
    'tariffAmount',
    'vatAmount',
    'saleTaxAmount',
    'antiDumpingDutiesAmount',
    'marginAmount',
    'lateFeeAmount',
    'feeForDelayedDeclarationAmount',
  ];
  if (dataMap.tableData.length === 0) return;
  dataMap.tableData = dataMap.tableData.map((el) => {
    if (el.children == null || el.children == undefined) {
      for (const key of keys) {
        el[key] = mySetNumericText(el[key]);
        if (el[key] === '-') el[key] = '0.00';
      }
      return el;
    }
    el.children = el.children.map((v) => {
      for (const key of keys) {
        if (v[key] == null || v[key] == undefined) v[key] = 0;
        v[key] = mySetNumericText(v[key]);
        if (v[key] === '-') v[key] = '0.00';
      }
      return v;
    });
    for (const key of keys) {
      el[key] = totalNum([
        ...el.children.map((v) => {
          if (v[key] === '-') return 0;
          return v[key];
        }),
      ]);
    }
    return el;
  });
};
const getTableList = async () => {
  const { data } = await taskApi.listTaxconfirmation({ type: dataMap.taskType, keyword: dataMap.searchword });
  if (data == null) return dataMap.tableData = []
  dataMap.tableData = data.map((el: any, i: number) => {
    if (el.children) {
      el.children = el.children.filter((v: any) => v.customsId != null)
      el.children = el.children.map((v: any, k: any) => {
        // if (i === 0 && k === 0) {
        //   v.taxConfirmTime = '1231'
        // }
        v.key = v.customsId;
        v.taxConfirmTime = v.taxConfirmedTime
        // console.log('v.customsId',v.customsId);
        return v;
      });
    }
    el.key = el.orderLogisticsNo;
    return el;
  });
  upDateAmount();
};
const paymentTypeSelectShow = (record: any) => {
  if (!record.children) return false;
  return record.children.every((el: any) => !el.taxConfirmTime);
};
const childrenAmountInputShow = (record: any) => {
  if (record.children !== undefined) return false;
  return !record.taxConfirmTime;
};

const planCompletionTimeChange = async (val: string, record: any) => {
  await taskApi.editTask({
    ultTaskId: record.ultTaskId,
    planCompletionTime: val
  })
  syncData()
}
const handleSelect = async (rowKeys: any[], rowKey: any, record: any) => {
  await nextTick()
  // 当前的选中状态
  let selfAct = rowKeys.includes(rowKey)
  // 先判断是父级还是子级
  let isParent = rowKey.split('_').length > 1
  if (isParent) {
    // debugger
    if (!record.children?.length) return
    let childrenKeys = record.children.map((v: any) => v.customsId)
    // 父级选中,则选中所有子级
    if (selfAct) {
      // 取出该父级所有子级
      childrenKeys.forEach((k: any) => {
        if (dataMap.selectedKeys.includes(k)) return
        dataMap.selectedKeys.push(k)
      })
    } else {
      // 父级取消选中,则取消选中所有子级
      if (!record.children?.length) return
      childrenKeys.forEach((k: any) => {
        let index = dataMap.selectedKeys.indexOf(k)
        if (index == -1) return
        dataMap.selectedKeys.splice(index, 1)
      })

    }
  } else {
    // 子级 要更新父级选中状态
    // rowKey
    // 找出父级
    let parent: any = dataMap.tableData.find((el: any) => {
      if (el.children?.length) {
        for (const v of el.children) {
          if (v.customsId === rowKey) return el
        }
      }
    })
    let parentKey = parent.orderLogisticsNo
    let parentIndex = dataMap.selectedKeys.indexOf(parentKey)
    // 子级选中
    if (selfAct) {
      let childrenKeys = parent.children.map((v: any) => v.customsId)
      let parentAct = childrenKeys.every((v: string) => dataMap.selectedKeys.includes(v))
      if (parentAct) {
        dataMap.selectedKeys.push(parentKey)
        dataMap.selectedKeys = Array.from(new Set(dataMap.selectedKeys))
      } else {
        if (parentIndex == -1) return
        dataMap.selectedKeys.splice(parentIndex, 1)
      }
    } else {
      if (parentIndex == -1) return
      dataMap.selectedKeys.splice(parentIndex, 1)
    }
  }

};
const countTaxConfirmation = async () => {
  try {
    const { data } = await taskApi.countTaxConfirmation()
    if (!data) return
    dataMap.taskTypeOptions[0].count = data.all || 0
    dataMap.taskTypeOptions[2].count = data.didNotCompletePayment || 0
    dataMap.taskTypeOptions[1].count = data.didNotConfirmPaymentType || 0
  } catch (error) {
    console.error(error)
  }

}
const handleDescriptionChange = async (val: string, record: any) => {
  await taskApi.editTask({
    ultTaskId: record.ultTaskId,
    handleDescription: val
  })
  syncData()
}
watch([() => dataMap.taskType, () => dataMap.searchword], getTableList)
syncData();

</script>
<style lang="less" scoped>
.container-tab {}

.table {
  width: calc(~'100vw - 40px');
  // height: 60vh;
}

.red {
  color: red;
}
</style>