<!-- 异常处理表格 -->
<template>
  <div>
    <TaskNavBts ref="taskNavBtsRef" :config="{ startSpan: 12, endSpan: 12 }">
      <template #center>
        <!-- 搜索 -->
        <search-btn v-model="searchword"
            placeholder="业务编号/提单号/委托人"
         ></search-btn>
        <!-- 全屏 -->
        <screen-btn></screen-btn>
        <!-- 刷新按钮执行列表初始化 -->
        <sync-btn @click="syncData"> </sync-btn>
      </template>
      <template #end>
        <a-button type="primary" :style="{
          'height': '30px',
          'margin-right': '8px',
        }" @click="completeTask">
          <template #icon>
            <icon-file />
          </template>
          <span>完成</span>
        </a-button>
        <a-button type="outline" status="danger" :style="{
          'height': '30px',
          'margin-right': '8px',
        }" @click="rejectTask">
          <template #icon>
            <icon-file />
          </template>
          <span>驳回</span>
        </a-button>
      </template>
    </TaskNavBts>
    <a-space direction="vertical">
      <a-table class="commonTable" :data="dataSource" :columns="columns" column-resizable :scrollConfig="scrollConfig"
        :row-selection="rowSelection" :bordered="{ wrapper: true, cell: true }" @select="handleSelect"
        @select-all="handleSelectAll" @selection-change="handleSelectionChange" v-model:selectedKeys="selectedKeys">
        <template #abnormal="{ record }">
          <a-select v-model="record.abnormal">
            <a-option label="舱单更改" value="舱单更改"></a-option>
            <a-option label="熔断情况特殊审批" value="熔断情况特殊审批"></a-option>
            <a-option label="自动证无余量" value="自动证无余量"></a-option>
            <a-option label="申报异常" value="申报异常"></a-option>
          </a-select>
        </template>
        <template #handleDescription="{ record }">
          <a-input v-model="record.handleDescription" @change="handleDescriptionChange($event, record)"
            placeholder="请输入处理描述"></a-input>
        </template>
        <template #planCompletionTime="{ record }">
          <div>
            <a-date-picker @change="planCompletionTimeChange($event, record)"
              v-if="record.estimatedCompleteRuleType === '1'" v-model="record.planCompletionTime" show-time
              format="YYYY-MM-DD HH:mm" />
            <span v-else>{{ record.planCompletionTime }}</span>
          </div>
        </template>
        <template #timeout="{ record }">
          <div>
            <span style="color:red">{{ record.timeout }}</span>
          </div>
        </template>

      </a-table>
    </a-space>
  </div>
</template>

<script lang="ts">
import { onMounted, reactive, toRefs, defineComponent, ref, watch } from 'vue';
import { taskApi } from '@/api/taskApi/index';
import TaskNavBts from '@/views/task/components/modules/taskNavBts.vue';
import { Message } from '@arco-design/web-vue';
export default defineComponent({
  name: 'OceanFreightTable',
  components: {
    TaskNavBts,
  },
  setup(props, { emit, slots, attrs }) {
    const taskNavBtsRef = ref([]);
    const columns = [
      {
        width: 220,
        title: '业务编号',
        dataIndex: 'orderLogisticsNo',
        fixed: 'left',
      },
      {
        width: 300,
        title: 'MB/L',
        dataIndex: 'mblNo',
      },
      {
        width: 300,
        title: 'HB/L',
        dataIndex: 'hblNo',
      },
      {
        width: 200,
        title: '委托人',
        dataIndex: 'clientNameZh',
      },
      {
        width: 100,
        title: '海关编号',
        dataIndex: 'customsNo',
      },
      {
        width: 100,
        title: '任务名称',
        dataIndex: 'taskName',
      },
      {
        width: 200,
        title: '任务描述',
        dataIndex: 'taskDescription',
      },
      // {
      //   width: 200,
      //   title: '异常原因',
      //   dataIndex: 'abnormal',
      //   slotName: 'abnormal',
      // },
      {
        width: 200,
        title: '处理描述',
        dataIndex: 'handleDescription',
        slotName: 'handleDescription',
      },
      {
        width: 200,
        title: '创建时间',
        dataIndex: 'taskCreateTime',
      },
      {
        width: 200,
        title: '计划完成时间',
        dataIndex: 'planCompletionTime',
        slotName: 'planCompletionTime',
      },
      {
        width: 200,
        title: '超时时间',
        dataIndex: 'timeout',
        slotName: 'timeout', //超时时间(小时)
      },
    ];
    const dataMap = reactive({
      config: {
        endSpan: 12,
      },
      selectedKeys: [],
      pagination: {
        'size': 'mini',
        'total': '100', //动态设置
        'current': 1, //  当前页码
        'page-size': 5, // 每页展示的数据条数
        'show-page-size': true,
        'page-size-options': [5, 10, 15, 20, 25],
        'show-total': true,
        'show-jumper': true,
      },
      rowSelection: {
        type: 'checkbox',
        showCheckedAll: true,
        width: 30,
        fixed: true,
      },
      dataSource: [],

      taskType: 1,
      searchword: '',
      scrollConfig: { y: '100%' },
    });

    // 单行选择
    const handleSelect = (rowKeys: string, rowKey: string, record: any) => {
      console.log('val', rowKeys, rowKey, record);
    };

    // 全选
    const handleSelectAll = (rowKeys: string, rowKey: string, record: any) => {
      console.log('valAll', rowKeys, rowKey, record);
    };

    const handleSelectionChange = (
      rowKeys: string,
      rowKey: string,
      record: any
    ) => {
      console.log('valchange', rowKeys, rowKey, record);
      // rowKeys
    };

    //分页切换
    const handlePageChange = (page: number) => {
      console.log('page', page);
      dataMap.pagination.current = page;
    };

    //分页切换
    const handlePageSizeChange = (page: number) => {
      console.log('pageSize', page);
    };

    // 刷新
    const syncData = () => {
      dataMap.searchword = '';
      getData()
      emit('getTodoClassifyCount')
    };


    const planCompletionTimeChange = async (val: string, record: any) => {
      await taskApi.editTask({
        ultTaskId: record.ultTaskId,
        planCompletionTime: val
      })
      syncData()
    }
    // 完成
    const completeTask = async () => {
      if (dataMap.selectedKeys.length === 0) return Message.error("请选择异常处理任务！")
      await taskApi.functionException({ functionType: 'finish', taskIds: dataMap.selectedKeys })
      syncData()
    };
    // 驳回
    const rejectTask = async () => {
      if (dataMap.selectedKeys.length === 0) return Message.error("请选择异常处理任务！")
      await taskApi.functionException({ functionType: 'reject', taskIds: dataMap.selectedKeys })
      syncData()
    };
    const getData = async () => {
      const { data } = await taskApi.listException({ keyword: dataMap.searchword });
      dataMap.dataSource = data.map((el: any) => {
        el.key = el.ultTaskId
        return el
      })
    }

    const handleDescriptionChange = async (val: string, record: any) => {
      await taskApi.editTask({
        ultTaskId: record.ultTaskId,
        handleDescription: val
      })
      // syncData() BUG:ID1016374 填写处理描述不刷新页面
    }
    watch(() => dataMap.searchword, getData)
    getData()
    return {
      completeTask,
      handleSelect,
      handleSelectAll,
      handleSelectionChange,
      handlePageChange,
      handlePageSizeChange,
      taskNavBtsRef,
      columns, handleDescriptionChange, planCompletionTimeChange,
      rejectTask,
      syncData,
      ...toRefs(dataMap),
    };
  },
});
</script>
<style lang="less" scoped>
.commonTable {
  width: calc(~'100vw - 40px');
}

.common-table-wrap {
  height: 100%;
}

:deep(.arco-table-pagination) {
  // position: fixed;
  // right: 20px;
  // bottom: 20px;
  // z-index: 2;
  margin: 20px;
}
</style>