<template>
  <a-modal 
    v-model:visible="visible" 
    :on-before-ok="handleBeforeOk" 
    :mask-closable="false"
    modal-class="tab-view-modal"
    :modal-style="{ width: '1000px','max-height': '650px', 'min-height': '250px'}"
    :body-style="{
      padding: '24px 0 0',
    }"
    unmountOnClose
  >
  <!-- @cancel="handleCancel"  -->
    <template #title>
      {{title}}
    </template>
    <div class="tabViewName">
      <a-form 
        ref="formRef" 
        :model="form" 
        :style="{width:'100%','margin-bottom': '0'}" 
        @submit="handleSubmit"
      >
        <a-form-item 
          field="name"
          label="视图名称"
          :rules="[{required:true,message:'视图名称必填'}]"
          :validate-trigger="['change','input']"
        >
          <a-input
            v-model="modalParams.viewName"
            placeholder="请输入"
            :style="{width: '900px'}"
          ></a-input>
        </a-form-item>
      </a-form>
      <span></span>
      
    </div>
    <!-- {{modalParams}} -->
    <a-tabs 
      :default-active-key="defaultActiveKey" 
    >
      <a-tab-pane 
        key="1" 
        title="自定义列"
        class="a-tab-box"
      >
        <div class="customColumnWrapBig">
          <div class="customColumnWrap">
            <div class="customColumn">
              <custom-column-content 
                :origin="origin"
                v-model:initColumns="detailColumns"
                :viewUserId="modalParams.viewUserId"
                :viewSystemId="modalParams.viewSystemId"
                :viewName="modalParams.viewName"
                :viewType="modalParams.viewType"
              ></custom-column-content>
            </div>
          </div>
        </div>
      </a-tab-pane>
      <a-tab-pane 
        key="2" 
        title="设置筛选条件"
      >
      <!-- style="max-height:380px;overflow-y:auto;" -->
          <!-- v-model:initFilters="modalParams.initFilters" -->

        <filter-content 
          :origin="origin"
          v-model:initFilters="detailFilters"
          :viewUserId="modalParams.viewUserId"
          :viewSystemId="modalParams.viewSystemId"
          :viewName="modalParams.viewName"
          :viewType="modalParams.viewType"
          ref="filterRef"
        ></filter-content>
      </a-tab-pane>
    </a-tabs>
  </a-modal>
</template>

<script lang="ts">
import {
  defineComponent,
  onMounted,
  PropType,
  reactive,
  toRefs,
  watch,
  ref,
  computed,
  onUnmounted,
  nextTick,
} from 'vue';
import { Message, Modal } from '@arco-design/web-vue';
import { number } from 'echarts/core';
import { saveView, tabDetail } from '@/api/base'


// :viewUserId="tabHandleViewUserId"
// :viewSystemId="viewSystemId"
// :viewName="viewName"
// :viewType="viewType"

export default {
  name: 'TabViewModal',
  props: {
    // 弹窗是否显示
    modelValue: {
      type: Boolean
    },
    // 弹窗title
    title: {
      type: String
    },
    // 默认展示的tab标签 1自定义列 2设置筛选条件
    defaultActiveKey: {
      type: String,
      default: '1',
    },
    modalParams: {
      type: Object,
      default: () => {}
    }
  },
  emits: ['update:modelValue', 'update:modalParams', 'syncTabViewList'],
  setup(props,{emit,slots,attrs}) {
    const formRef = ref([])
    const form = reactive({
      name: props.modalParams.viewName,
    });

    const filterRef = ref([])

    const dataMap = reactive({
      origin: 'tabview',
      visible: props.modelValue || false,
      title: props.title,
      defaultActiveKey: props.defaultActiveKey,
      tabViewName: '',
      detailColumns: [] as any [],
      detailFilters: [] as any [],
    });

    const handleSubmit = ({values, errors}) => {
      console.log('values:', values, '\nerrors:', errors)
    }

    const handleBeforeOk = (done:any) => {
      // return
      // 异步请求结束成功之后再关闭弹框 关闭弹框时执行done()方法
      formRef.value.handleSubmit()
      if(props.modalParams.viewName == ''){
        done(false)
        return
      }
      console.log(props.modalParams)
      console.log(filterRef.value.getPostArr())
      // return
      const params = {
        // ...props.modalParams,
        viewUserId: props.modalParams.viewUserId,
        viewType: props.modalParams.viewType,
        viewName: props.modalParams.viewName,
        // viewFilterRule: props.modalParams.initFilters,
        chooseFields: props.modalParams.initColumns.map(({ parent, ...rest }) => rest),
        viewFilterRule: filterRef.value.getPostArr()
      }
      if(params.chooseFields.length < 1){
        Message.error('请选择显示列')
        done(false)
        return
      }
      // props.initColumns.map(({ parent, ...rest }) => rest)
      console.log(params)
      saveView(params).then((res) => {
        console.log(res)
        if(res.code == 200){
          done()
          emit('syncTabViewList',res.data)
        } else {
          // prevent close
          done(false)
        }
      })
      emit('update:modalParams',props.modalParams)
    };

    watch(
      () => props.modelValue,
      (val) => {
        dataMap.visible = val;
      }
    );

    watch(
      () => dataMap.visible,
      (nVal, oVal) => {
        emit('update:modelValue',nVal)
      },
      { immediate: true, deep: true }
    );

    watch(
      () => props.modalParams.viewUserId,
      (val) => {
        console.log(val,'val')
        if(val){
          const data = {
            viewUserId: val
          }
          tabDetail(data).then((res) => {
            console.log(res,'val')
            if(res.code == 200){
              // emit('syncTabViewList',res.data)
              console.log(12+'val')
              dataMap.detailColumns = res.data.chooseFields
              dataMap.detailFilters = res.data.viewFilterRule
            }
          })
        }
      }
    );

    watch(
      () => props.modalParams.viewName,
      (val) => {
        form.name = val;
      }
    );

    return {
      formRef,
      form,
      filterRef,
      ...toRefs(dataMap),
      handleBeforeOk,
      handleSubmit,
    };
  },
};
</script>

<style scoped lang="less">
// :deep(.arco-modal-body){
// }
.tabViewName{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  padding: 0 20px;
}
.a-tab-box{
  max-height:380px;
  // overflow:auto!important;
}
@media screen and (max-width: 1300px) {
  .a-tab-box {
      max-height: 200px;
    }
}
@media screen and (max-width: 1500px) {
  .a-tab-box {
    max-height: 260px;
    // max-height: 400px;
  }
}

@media screen and (min-width: 1900px) {
  .a-tab-box {
    max-height: 380px;
  }
}

:deep(.arco-tabs-nav){
  margin: 0 16px;
}
:deep(.arco-tabs-pane){
  &::before,&::after{
    content: '';
    position: absolute;
    left: 0;
    top: 56px;
    height: 1px;
    width: 17px;
    background-color: #fff;
    border-radius: 4px;
    z-index: 12222222;
  }
  &::after{
    left: auto;
    right:0;
  }
}
.customColumnWrapBig{
  border-top: 1px solid rgba(229, 230, 235, 1);
  border-radius: 4px;
  &::before,&::after{
    content: '';
    position: absolute;
    left: 16px;
    top: 56px;
    height: 4px;
    width: 4px;
    // background-color: pink;
    border-radius: 4px;
    border: 1px solid rgba(229, 230, 235, 1);
    border-top: none;
    border-right: none;
    transform: rotate(90deg);
  }
  &::after{
    left: auto;
    right: 16px;
    transform: rotate(180deg);
  }
}
.customColumnWrap{
  // background-color: pink;
  padding: 0 16px;
  height: 100%;
  max-height: 380px;
  overflow: auto !important;
  position: relative;
  
  .customColumn{
    padding: 0 16px;
    border: 1px solid rgba(229, 230, 235, 1);
    border-bottom: none;
    border-top: none;
    border-radius: 4px 4px 0 0;
  }
}
:deep(.arco-table-td){
  border: none;
}
:deep(.arco-row){
  margin-bottom: 0;
}
:deep(.arco-form-item-label-col){
 width: 120px;
 flex: 0 0 10%;
}
:deep(.arco-form-item-wrapper-col){
  flex: 0 0 90%;
}
</style>
