<template>
  <a-modal v-model:visible="dialogVisible" :on-before-ok="confirm" width="65%" :mask-closable="false" title="账单模板新增">
    <a-form ref="formRef" :model="form" layout="vertical" auto-label-width>
      <a-row :gutter="20">
        <a-col :span="8">
          <a-form-item field="templateName" label="模板名称" :rules="[{ required: true, message: '请输入' }]">
            <a-input v-model="form.templateName" allow-clear />
          </a-form-item>
        </a-col>
        <a-col :span="8">
          <a-form-item field="clientCompanyId" label="客户名称" :rules="[{ required: true, message: '请选择' }]">
            <a-select v-model="form.feeCode" @change="changeFee">
              <a-option v-for="item in feeOptions" :label="item.incomeFeeName" :value="item.incomeFeeCode"
                :key="item.incomeFeeCode"></a-option>
            </a-select>
          </a-form-item>
        </a-col>
        <a-col :span="8">
          <a-form-item field="enable" label="状态">
            <a-switch v-model="form.enable" />
          </a-form-item>
        </a-col>
      </a-row>
      <a-row :gutter="20">
        <a-col :span="24">
          <a-form-item field="enable" label="业务字段" :rules="[{ required: true, message: '请选择' }]">
            <div class="business_content">
              <Content 
                v-model:initColumns="initColumns"
                origin="buttonArea"
                :sourceData="fieldData"
                ref="contentRef"
              ></Content>
            </div>
          </a-form-item>
        </a-col>
      </a-row>
      <a-row :gutter="20">
        <a-col :span="8">
          <a-form-item field="clientCompanyId" label="分组显示" :rules="[{ required: true, message: '请选择' }]">
            <a-select v-model="form.feeCode" @change="changeFee">
              <a-option v-for="item in feeOptions" :label="item.incomeFeeName" :value="item.incomeFeeCode"
                :key="item.incomeFeeCode"></a-option>
            </a-select>
          </a-form-item>
        </a-col>
      </a-row>
    </a-form>
  </a-modal>
</template>

<script lang="ts">
export default {
  name: 'addTemplate'
}
</script>

<script setup lang="ts">
import { Message } from '@arco-design/web-vue';
import { reactive, defineEmits, defineExpose, ref } from 'vue'
import { billTrackApi } from '@/api/billTrack';
import Content from './Content.vue'
const dialogVisible = ref(false)
const formRef = ref(null)
const form = ref({})
const fieldData = ref([
  {
    name: '基础字段',
    content: [
      {
        fieldName: '业务编号',
        fieldCode: 'no',
        fieldClassId: 10
      },
      {
        fieldName: '客户业务编号',
        fieldCode: 'customerBusinessCode',
        fieldClassId: 10
      },
      {
        fieldName: '合同编号',
        fieldCode: 'contractNo',
        fieldClassId: 10
      },
      {
        fieldName: 'PI号',
        fieldCode: 'piNo',
        fieldClassId: 10
      },
      {
        fieldName: '经营单位',
        fieldCode: 'fullCo',
        fieldClassId: 10
      },
      {
        fieldName: '收货单位',
        fieldCode: 'consignEnterpriseName',
        fieldClassId: 10
      },
      {
        fieldName: '实际委托人',
        fieldCode: 'domesticBuyerNameZh',
        fieldClassId: 10
      },
      {
        fieldName: '送货地址',
        fieldCode: 'deliveryAddress',
        fieldClassId: 10
      }
    ]
  },
  {
    name: '提单信息字段',
    content: [
      {
        fieldName: 'MB/L',
        fieldCode: 'mblNo',
        fieldClassId: 20
      },
      {
        fieldName: 'HB/L',
        fieldCode: 'hblNo',
        fieldClassId: 20
      },
      {
        fieldName: '箱型箱量',
        fieldCode: 'boxTypeBoxVolume',
        fieldClassId: 20
      },
      {
        fieldName: '箱号',
        fieldCode: 'containerNo',
        fieldClassId: 20
      },
      {
        fieldName: '船公司',
        fieldCode: 'carrier',
        fieldClassId: 20
      },
      {
        fieldName: '船名',
        fieldCode: 'vesselName',
        fieldClassId: 20
      },
      {
        fieldName: '航次',
        fieldCode: 'voyageNo',
        fieldClassId: 20
      },
      {
        fieldName: '免箱期',
        fieldCode: 'freeDays',
        fieldClassId: 20
      },
      {
        fieldName: '港口',
        fieldCode: 'portOfDischargeZh',
        fieldClassId: 20
      },
      {
        fieldName: '港区',
        fieldCode: 'portArea',
        fieldClassId: 20
      },
      {
        fieldName: '港区码头',
        fieldCode: 'wharfName',
        fieldClassId: 20
      }
    ]
  },
  {
    name: '商品信息字段',
    content: [
      {
        fieldName: '销售品名',
        fieldCode: 'salesGoods',
        fieldClassId: 30
      },
      {
        fieldName: '经营品名',
        fieldCode: 'businessName',
        fieldClassId: 30
      },
      {
        fieldName: '商品名',
        fieldCode: 'productName',
        fieldClassId: 30
      },
      {
        fieldName: '报关品名',
        fieldCode: 'customsCategory',
        fieldClassId: 30
      },
      {
        fieldName: '申报品名数',
        fieldCode: 'customsCategoryQuantity',
        fieldClassId: 30
      },
      {
        fieldName: '毛重',
        fieldCode: 'grossWeight',
        fieldClassId: 30
      },
      {
        fieldName: '净重',
        fieldCode: 'netWeight',
        fieldClassId: 30
      },
      {
        fieldName: '体积',
        fieldCode: 'measurement',
        fieldClassId: 30
      }
    ]
  },
  {
    name: '日期字段',
    content: [
      {
        fieldName: '接单日期',
        fieldCode: 'receiveOrderTime',
        fieldClassId: 40
      },
      {
        fieldName: '预计到港日期',
        fieldCode: 'eta',
        fieldClassId: 40
      },
      {
        fieldName: '实际到港日期',
        fieldCode: 'ata',
        fieldClassId: 40
      },
      {
        fieldName: '放行日期',
        fieldCode: 'clearanceTime',
        fieldClassId: 40
      },
      {
        fieldName: '计划运输时间',
        fieldCode: 'estimatedDeliveryTime',
        fieldClassId: 40
      },
      {
        fieldName: '提箱日期',
        fieldCode: 'suitcaseTime',
        fieldClassId: 40
      },
      {
        fieldName: '送达时间',
        fieldCode: 'actualDeliveryTime',
        fieldClassId: 40
      },
      {
        fieldName: '还箱时间',
        fieldCode: 'containerReturnTime',
        fieldClassId: 40
      },
      {
        fieldName: '业务完成日期',
        fieldCode: 'businessCompletionTime',
        fieldClassId: 40
      },
      {
        fieldName: '堆存天数',
        fieldCode: 'storageDays',
        fieldClassId: 40
      },
      {
        fieldName: '用箱天数',
        fieldCode: 'useBoxDays',
        fieldClassId: 40
      }
    ]
  }
])

const openDialog = (obj) => {
  dialogVisible.value = true;
}
const closeDialog = () => {
  dialogVisible.value = false
}
const confirm = (down) => {
  down(false)
}


defineExpose({
  openDialog,
  closeDialog,
})

</script>
<style lang="less">
.business_content{
  width: 100%;
  max-height: 230px;
  overflow: auto;
}
</style>