<template>
  <div
    class="custom_list_content"
    :class="origin == 'buttonArea' ? 'buttonArea' : ''"
  >
    <a-row>
      <!-- 左侧 -->
      <a-col :span="16" class="leftSpan">
        <!-- <Title>全部字段</Title> -->
        <div class="title_content">
          <span>全部字段</span>
          <DwButton
            class="selectAllBtn"
            type="text"
            size="mini"
            @click="checkedAll"
          >
            {{ lengthCheck === lengthAll ? '取消全选' : '全选' }}
            <icon-arrow-left v-if="lengthCheck === lengthAll" />
            <icon-arrow-right v-else />
          </DwButton>
          <span class="totalNum">{{ total }}</span>
        </div>
        <div class="groupWrap">
          <div v-for="itemAll in checkboxOptions" :key="itemAll.name">
            <p class="groupName">{{ itemAll.name }}</p>
            <a-checkbox-group
              v-model="itemAll.currentChecked"
              style="width: 100%"
            >
              <a-checkbox
                v-for="item in itemAll.content"
                :key="item.fieldCode"
                :value="item.fieldCode"
                class="itemCheckBox"
              >
                {{ item.fieldName }}</a-checkbox
              >
            </a-checkbox-group>
          </div>
        </div>
      </a-col>
      <!-- <a-divider direction="vertical" style="min-height: 100vh" /> -->
      <!-- 右侧 -->
      <a-col :span="8" class="rightSpan">
        <div class="title_content">
          显示列
          <span class="totalNum">{{ totalSelect }}</span>
        </div>
        <a-table
          :columns="columns"
          :data="tableData"
          :bordered="false"
          :show-header="false"
          :pagination="false"
          :draggable="{ type: 'handle', width: 30 }"
          @change="handleTableChange"
        >
          <template #edit>
            <icon-edit class="editBtn cp" />
          </template>
          <template #operator="{ record }">
            <icon-close class="deleteCulomn cp" @click="removeColumn(record)" />
          </template>
          <template #input="{ record }">
            <a-input class="editInput"></a-input>
          </template>
        </a-table>
      </a-col>
    </a-row>
  </div>
</template>

<script>
export default defineComponent({
  name: 'CustomList',
  inheritAttrs: false,
});
</script>

<script setup>
import {
  computed,
  defineComponent,
  reactive,
  ref,
  watch,
  onMounted,
} from 'vue';
// import Title from './Title.vue';
import { allField, detail } from '@/api/base/customColumn';
import { saveCustomColumn } from '@/api/base/customColumn';
import { cloneDeep } from 'lodash';
const props = defineProps({
  initColumns: {
    type: Array,
    default: () => [],
  },
  origin: {
    type: String,
    default: '',
  },
  sourceData:{
    type:Array,
    default:[],
  },
});
const emits = defineEmits(['update:initColumns']);
// 已选择的项目
const checkedData = computed({
  get: () =>
    checkboxOptions.value.filter((item) => item.currentChecked?.length > 0),
  set: (val) => {
    // console.log(val, '###');
  },
});

// #region 左侧

//左侧所有选框
const checkboxOptions = ref([]);
watch(
  () => props.sourceData,
  (newVal) => {
    checkboxOptions.value = cloneDeep(newVal)
    
  },
  {
    immediate:true,
    deep:true
  }
)
onMounted(() => {
  // const { viewSystemId, viewType } = props;
  // // 获取所有字段
  // allField({ viewType, viewSystemId }).then(async (res) => {
  //   // 获取已选择字段
  //   let fieldColumnSelectList = []; // 例如：['业务编号','客户业务编号']
  //   // 组装数据
  //   const initColumnsNames = props.initColumns.map((item) => item.fieldName);
  //   checkboxOptions.value = res.data.map((itemAll) => {
  //     let checkList = [];
  //     return {
  //       ...itemAll,
  //       currentChecked: checkList,
  //       content: itemAll.content.map((item) => {
  //         if (fieldColumnSelectList.includes(item.fieldName)) {
  //           checkList.push(item.fieldName);
  //         }
  //         if (initColumnsNames.includes(item.fieldName)) {
  //           //设置默认值
  //           checkList.push(item.fieldName);
  //         }
  //         return {
  //           ...item,
  //           label: item.fieldName,
  //           value: item.fieldName,
  //         };
  //       }),
  //     };
  //   });
  // });
});

// 所有字断总数计算
const total = computed(() => {
  let totalNum = 0;
  checkboxOptions.value.forEach((item) => {
    console.log(item.content.length);
    totalNum = totalNum + item.content.length;
  });
  return totalNum;
});

const totalSelect = computed(() => {
  return tableData.value.length;
});

// 总长度
const lengthAll = computed(() => {
  return checkboxOptions.value.reduce(
    (pre, cur) => (pre += cur.content.length),
    0
  );
});
// 已选择的长度
const lengthCheck = computed(() => {
  return checkboxOptions.value.reduce(
    (pre, cur) => (pre += cur.currentChecked?cur.currentChecked.length:0),
    0
  );
});

// 全选 取消全选
const checkedAll = () => {
  // 取消全选
  if (lengthCheck.value === lengthAll.value) {
    checkboxOptions.value.forEach((itemAll) => {
      itemAll.currentChecked = [];
    });
    return;
  }
  // 全选
  checkboxOptions.value.forEach((itemAll) => {
    itemAll.currentChecked = itemAll.content.map((item) => item.fieldCode);
  });
};
// #endregion

// #region 右侧表格
const columns = reactive([
  {
    dataIndex: 'fieldName',
    width: 190,
  },
  {
    slotName: 'operator',
    fixed: 'right',
  },
]);
const tableData = ref([]); //右侧表格数据

// 顺序变化引起更新
const handleTableChange = (_data) => {
  tableData.value = _data;
};
// 右侧删除操作
const removeColumn = (removeItem) => {
  removeItem.parent.currentChecked = removeItem.parent.currentChecked.filter(
    (item) => !(item === removeItem.fieldCode)
  );
};
// #endregion

// #region 相关操作引起watch
// 监测左侧已选择的变化
watch(
  () => checkedData.value,
  (newValue) => {
    console.log(newValue)
    // 生成右侧表格数据
    let tableList = [];
    newValue.forEach((nItem) => {
      nItem.content.forEach((checkedItem) => {
        if (nItem.currentChecked.includes(checkedItem.fieldCode)) {
          tableList.push(Object.assign(checkedItem, { parent: nItem }));
        }
      });
    });
    tableData.value = tableList;
  }
);
// 监测右侧数据变化 并更新 父v-model
watch(
  () => tableData.value,
  (newValue) => {
    // console.log("'item', '###' + index, typeof list", list);
    console.log(newValue);
    emits('update:initColumns', newValue);
  }
);
// #endregion
// 保存到数据库是否成功 并导出此方法 -上部自定义列
// const handleSaveCustomColumn = async () => {
//   const chooseFields = props.initColumns.map(({ parent, ...rest }) => rest);
//   return await saveCustomColumn({
//     viewUserId: props.viewUserId,
//     chooseFields: chooseFields,
//   });
// };
// const getChooseFields = () =>
//   props.initColumns.map(({ parent, ...rest }) => rest);
// 新增视图，所需参数

defineExpose({
  // handleSaveCustomColumn,
  // getChooseFields,
});
</script>

<style lang="less" scoped>
// .editBtn,.deleteCulomn{
//   cursor: pointer;
// }
.custom_list_content {
  height: 100%;
  // background-color: pink;
  // position:relative;
}

.title_content {
  font-weight: 500;
  height: 44px;
  line-height: 24px;
  padding: 10px 0;
  color: #212121;
  font-size: 16px;
  // position: fixed;
  // left:0;
  // right:0;
  // background-color: #fff;
  .totalNum {
    font-size: 14px;
    color: var(--color-neutral-8);
    float: right;
  }
}
.leftSpan {
  // background-color: pink;
  position: relative;
  // padding-right: 20px;
  // &::after {
  //   content: '';
  //   position: absolute;
  // }
  border-right: 1px solid rgba(229, 230, 235, 1);
}
.rightSpan {
  // background-color: blue;
  padding-left: 20px;
}
.groupName {
  margin: 10px 0;
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
}
.itemCheckBox {
  width: 33%;
}

:deep(.arco-dropdown) {
  box-sizing: border-box;
  padding: 4px 0;
}
:deep(.arco-checkbox-group .arco-checkbox) {
  margin-right: 0;
  padding: 0 0 16px 0;
}
.custom_list_content {
  // background-color: pink;
  height: 100%;
  position: relative;
  // &::before {
  //   position: absolute;
  //   content: '';
  //   width: 1px;
  //   top: 0;
  //   bottom: 0;
  //   right: 280px;
  //   background: rgba(229, 230, 235, 1);
  // }
}
:deep(.arco-table-content tr) {
  border: none;
  .arco-table-content {
    border: none;
  }
}
:deep(.arco-table-td) {
  border: none;
}
:deep(.selectAllBtn) {
  &:hover {
    background-color: #fff !important;
  }
}
:deep(.arco-table .arco-table-cell) {
  // height: 32px !important;
  padding: 8px 0; //  显示列的高
}
// :deep(.arco-table-drag-handle){
//   width: 20px !important;
//   .arco-table-cell{
//     width: 20px;
//   }
// }
:deep(.arco-table-tr) {
  position: relative;
}
:deep(.arco-table-td-content .arco-input) {
  position: absolute;
  top: 0;
  left: 5px;
  right: 5px;
  width: 224px;
  height: 32px;
  background-color: #fff;
  z-index: 99999;
  border: 1px solid #2969ff;
  border-radius: 2px;
  padding: 12px;
}
.buttonArea {
  &::before {
    right: 270px;
  }
  .totalNum {
    margin-right: 20px;
  }
}
</style>
