<template>
  <!--  门点选择器组件 -->
  <a-trigger
    @click="doorPointClick"
    class="doorPointTrigger"
    position="br"
    :popup-offset="4"
    auto-fit-position
    trigger="click"
    :unmount-on-close="false"
    content-class="doorPointWrap"
    :content-style="{ width: '480px' }"
    ref="doorPointRef"
    :popup-visible="popupVisible"
  >
    <span class="positionSpan">
      <a-input
        placeholder="请选择门点"
        allow-clear
        @clear="queryKey"
        v-model="doorPoint"
        readonly
        @change="(e)=>$emit('change',e)"
      ></a-input>
    </span>

    <template #content>
      <div class="doorPointTab">
        <!-- :default-active-key="defaultActiveKey"  -->
        <a-tabs type="card-gutter" :active-key="activeKey" @change="change">
          <a-tab-pane key="1">
            <template #title>
              {{ provinceName }}
              <icon-up size="10" v-if="activeKey == '1'" />
              <icon-down size="10" v-else />
            </template>
            <div class="tabPanelList province-box-w">
              <div class="province-box">
                <div
                  class="province-item"
                  v-for="item in provinceListData"
                  :key="item.id"
                >
                  <span
                    class="tab-pane-item province-item-1"
                    :class="[
                      item.provinceName == provinceName ? 'active-name' : '',
                    ]"
                    @click="changeProvince(item)"
                  >
                    {{ item.provinceName }}</span
                  >
                </div>
              </div>
            </div>
          </a-tab-pane>
          <a-tab-pane
            key="2"
            v-if="activeKey == '2' || provinceName != '请选择省'"
          >
            <template #title>
              {{ cityName }}
              <icon-up size="10" v-if="activeKey == '2'" />
              <icon-down size="10" v-else />
            </template>
            <div class="province-box-w">
              <div class="province-box">
                <div
                  class="province-item"
                  v-for="(item, index) in cityListData"
                  :key="index"
                  :class="[item.cityName.length > 5 ? 'long-area' : '']"
                >
                  <span
                    class="province-item-1"
                    :class="[item.cityName == cityName ? 'active-name' : '']"
                    @click="changeCity(item)"
                  >
                    {{ item.cityName }}</span
                  >
                </div>
              </div>
            </div>
          </a-tab-pane>
          <a-tab-pane key="3" v-if="activeKey == '3' || cityName != '请选择市'">
            <template #title>
              {{ countyName }}
              <icon-up size="10" v-if="activeKey == '3'" />
              <icon-down size="10" v-else />
            </template>
            <div class="province-box-w">
              <div class="province-box">
                <div
                  class="province-item"
                  v-for="(item, index) in countyListData"
                  :key="index"
                  :class="[item.countyName.length > 5 ? 'long-area' : '']"
                >
                  <span
                    class="province-item-1"
                    :class="[
                      item.countyName == countyName ? 'active-name' : '',
                    ]"
                    @click="changeCounty(item)"
                  >
                    {{ item.countyName }}</span
                  >
                </div>
              </div>
            </div>
          </a-tab-pane>
          <a-tab-pane
            class="a-tab-pane-last"
            key="4"
            v-if="
              activeKey == '4' ||
              (townListData.length > 0 && countyName != '请选择区')
            "
          >
            <template #title>
              {{ townName }}
              <icon-up size="10" v-if="activeKey == '4'" />
              <icon-down size="10" v-else />
            </template>
            <div class="province-box-w">
              <div class="province-box">
                <div
                  class="province-item province-item-town"
                  v-for="(item, index) in townListData"
                  :key="index"
                >
                  <span
                    class="province-item-1 province-item-town-name"
                    :class="[
                      item.townshipName == townName ? 'active-name' : '',
                    ]"
                    @click="changeTown(item)"
                  >
                    {{ item.townshipName }}</span
                  >
                </div>
              </div>
            </div>
          </a-tab-pane>
        </a-tabs>
      </div>
    </template>
  </a-trigger>
</template>

<script>
import {
  defineComponent,
  ref,
  watch,
  reactive,
  h,
  toRefs,
  computed,
  onMounted,
  nextTick,
} from 'vue';
import { province, city, county, getTownListById } from '@/api/base/doorpoint';

export default defineComponent({
  props: {
    doorPointId: {
      type: Array,
      default: [],
    },
    doorPoint: {
      type: String,
      default: '',
    },
    isBaojia:{
      type: Boolean,
    }
  },
  emits: ['update:doorPointId', 'update:doorPoint'],
  setup(props, { emit, attrs, slots }) {
    const doorPointRef = ref([]);
    const dataMap = reactive({
      doorPoint: props.doorPoint,
      doorPointId: props.doorPointId,
      // defaultActiveKey: '1',
      popupVisible: false,
      activeKey: '1',
      provinceName: '请选择省',
      cityName: '请选择市',
      countyName: '请选择区',
      townName: '请选择街道',
      provinceId: '',
      cityId: '',
      countyId: '',
      townId: '',
      provinceListData: [],
      cityListData: [],
      countyListData: [],
      townListData: [],
    });

    const change = (v) => {
      console.log(v);
      dataMap.activeKey = v;
    };

    const queryKey = () => {
      dataMap.activeKey = '1';
      dataMap.doorPoint = '';
      dataMap.provinceName = '请选择省';
      dataMap.cityName = '请选择市';
      dataMap.countyName = '请选择区';
      dataMap.townName = '请选择街道';
      dataMap.doorPointId = [];
      dataMap.provinceId = '';
      dataMap.cityId = '';
      dataMap.countyId = '';
      dataMap.townId = '';
      changeProvince();
    };

    const provinceList = async () => {
      let res = await province(104);
      dataMap.provinceListData = res.data;
      console.log(res);
    };

    const cityList = async () => {
      let res = await city(dataMap.provinceId);
      dataMap.cityListData = res.data;
      dataMap.activeKey = '2';
      console.log(res);
    };

    const countyList = async () => {
      let res = await county(dataMap.cityId);
      dataMap.countyListData = res.data;
      dataMap.activeKey = '3';
      emit('change')
      console.log(res);
    };

    const townList = async () => {
      let res = await getTownListById({ countyId: dataMap.countyId });
      dataMap.townListData = res.data;
      console.log(res.data.length, '街道');
      // return;
      if (res.data.length == 0) {
        // dataMap.$refs.messageDrop.hide()
        dataMap.popupVisible = false;
        dataMap.doorPoint =
          dataMap.provinceName +
          '/' +
          dataMap.cityName +
          '/' +
          dataMap.countyName;
        console.log(
          dataMap.doorPointId,
          dataMap.provinceId,
          dataMap.countyId,
          'dataMap.doorPointId'
        );
        dataMap.doorPointId = [];
        dataMap.doorPointId.push(dataMap.provinceId);
        dataMap.doorPointId.push(dataMap.cityId);
        dataMap.doorPointId.push(dataMap.countyId);
        dataMap.activeKey = '3';
        return;
      } else {
        dataMap.activeKey = '4';
      }
      console.log(res);
    };

    const changeProvince = (item) => {
      if (item == undefined) return;
      if (item.provinceName !== dataMap.provinceName) {
        dataMap.cityName = '请选择市';
        dataMap.countyName = '请选择区';
        dataMap.townName = '请选择街道';
      }
      dataMap.provinceName = item.provinceName;
      dataMap.provinceId = item.provinceId;
      cityList();
    };

    const changeCity = (item) => {
      if (item.cityName !== dataMap.cityName) {
        dataMap.countyName = '请选择区';
        dataMap.townName = '请选择街道';
      }
      dataMap.cityName = item.cityName;
      dataMap.cityId = item.cityId;
      countyList();
    };

    const changeCounty = (item) => {
      if (item.countyName !== dataMap.countyName) {
        dataMap.townName = '请选择街道';
      }
      dataMap.countyName = item.countyName;
      dataMap.countyId = item.countyId;
      townList();
    };

    const changeTown = (item) => {
      dataMap.townName = item.townshipName;
      dataMap.townId = item.townshipId;
      // this.townList()
      dataMap.activeName = '4';
      // dataMap.$refs.messageDrop.hide()
      dataMap.popupVisible = false;
      dataMap.doorPoint =
        dataMap.provinceName +
        '/' +
        dataMap.cityName +
        '/' +
        dataMap.countyName +
        '/' +
        dataMap.townName;
      dataMap.doorPointId = [];
      dataMap.doorPointId.push(dataMap.provinceId);
      dataMap.doorPointId.push(dataMap.cityId);
      dataMap.doorPointId.push(dataMap.countyId);
      dataMap.doorPointId.push(dataMap.townId);

      console.log(dataMap.doorPoint, dataMap.doorPointId, '数据');
    };

    const doorPointClick = () => {
      dataMap.popupVisible = !dataMap.popupVisible;
      console.log(props.doorPointId, props.doorPoint);
    };

    onMounted(() => {
      provinceList();
    });

    watch(
      () => dataMap.doorPointId,
      (nVal, oVal) => {
        // console.log('123doorPointId', nVal);
        emit('update:doorPointId', nVal);
        emit('update:doorPoint', dataMap.doorPoint);
      },
      { immediate: true, deep: true }
    );
    watch(
      () => props.doorPoint,
      (nVal, oVal) => {
        // 单独处理报价单回显
        console.log(props,'门点')
        if(props.isBaojia){
          console.log(nVal,'门点')
          console.log(props,'门点')
          dataMap.doorPoint = nVal
        }
        // if(nVal.length > 0){
        //   // console.log(props.doorPoint)
        //   let doorPointArr = props.doorPoint.split('/')
        //   // console.log(doorPointArr)
        //   dataMap.provinceId = nVal[0]
        //   dataMap.provinceName = doorPointArr[0]
        //   cityList()
        //   dataMap.cityId = nVal[1]
        //   dataMap.cityName = doorPointArr[1]
        //   countyList()
        //   dataMap.countyId = nVal[2]
        //   dataMap.countyName = doorPointArr[2]
        //   townList()
        //   dataMap.townId = nVal[3]
        //   dataMap.townName = doorPointArr[3]
        // }
      },
      { immediate: true, deep: true }
    );
    watch(
      () => props.doorPointId,
      (nVal, oVal) => {
        if (nVal.length > 0) {
          console.log(nVal.length, 'nVal.length');
          // console.log(props.doorPoint)
          let doorPointArr = props.doorPoint.split('/');
          // console.log(doorPointArr)
          dataMap.provinceId = nVal[0];
          dataMap.provinceName = doorPointArr[0];
          cityList();
          dataMap.cityId = nVal[1];
          dataMap.cityName = doorPointArr[1];
          countyList();
          dataMap.countyId = nVal[2];
          dataMap.countyName = doorPointArr[2];
          if (nVal.length > 3) {
            townList();
            dataMap.townId = nVal[3];
            dataMap.townName = doorPointArr[3];
          }
        }
      },
      { immediate: true, deep: true }
    );

    return {
      doorPointRef,
      ...toRefs(dataMap),
      queryKey,
      change,
      provinceList,
      cityList,
      townList,
      changeProvince,
      changeCity,
      changeCounty,
      changeTown,
      doorPointClick,
    };
  },
});
</script>

<style lang="less" scoped>
.doorPointTrigger {
  width: 100px;
  height: 100px;
}
.positionSpan {
  width: 100%;
}
.doorPointTab {
  // padding: 10px;
  // height: 500px;
  border: 1px solid rgba(229, 230, 235, 1);
  background: #ffffff;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
}
:deep(.arco-tabs-nav-tab) {
  // background-color: pink;
  // border-bottom: 1px solid rgba(229, 230, 235, 1);
  // border-bottom: 1px solid pink;

  .arco-tabs-tab {
    border: none !important;
    margin: 0;
    width: 119.5px;
    text-align: center;
    color: rgba(134, 144, 156, 1);
    font-weight: 400;
    .arco-icon {
      position: absolute;
      right: 10px;
      top: 50%;
      margin-top: -5px;
      color: rgba(201, 205, 212, 1);
    }
  }
  .arco-tabs-tab-active {
    // height: 42px;
    position: relative;
    color: rgba(105, 108, 112, 1);
    .arco-icon {
      color: rgba(78, 89, 105, 1);
    }
    &::before {
      content: '';
      position: absolute;
      height: 2px;
      bottom: -1px;
      left: 0;
      right: 0;
      background-color: #fff;
    }
    &::after {
      content: '';
      position: absolute;
      width: 1px;
      top: 0;
      bottom: 0;
      right: 0;
      background-color: rgba(229, 230, 235, 1);
    }
  }
  .arco-tabs-tab-active:nth-child(4) {
    &::before {
      background-color: #fff;
    }
    &::after {
      background-color: #fff;
    }
  }
}
:deep(.arco-tabs-nav) {
  &::before {
    background-color: rgba(229, 230, 235, 1);
  }
}
:deep(.arco-tabs-content) {
  border: none !important;
}
.tabPanelList {
  // padding: 0 15px 15px;
  color: rgba(105, 108, 112, 1);
  // .tab-pane-item{
  //   margin-bottom: 8px;
  //   display: block;
  // }
}
.province-box-w {
  display: flex;
  justify-content: center;
}

.province-name {
  // display:inline-block;
  // width:80px;
  // display: inline-block;
  height: 30px;
  // padding-top: 7px;
}

.province-box {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  overflow: auto;
  padding: 2px 8px;

  .province-item {
    width: 115px;
    // width: 25%;
    // display: flex;
    // justify-content: flex-start;
  }

  .long-area {
    width: 228px !important;
  }

  .province-item.province-item-town {
    width: 33%;
  }

  .province-item-1 {
    display: flex;
    font-size: 14px;
    // width: 60px;
    padding: 2px 8px;
    margin-bottom: 12px;
    // background:red;
    cursor: pointer;
    &:hover {
      background: #eef3ff;
      border-radius: 2px;
      // padding: 2px 8px;
      color: #2969ff;
      display: inline-block;
    }
  }

  .active-name {
    background: #eef3ff;
    border-radius: 2px;
    // padding: 2px 8px;
    color: #2969ff;
    display: inline-block;
  }
}
</style>