<template>
  <div class="container">
    <div class="loading" :class="{'loadingShow':loading}">
        <a-spin dot tip="正在导出中..."/>
    </div>
    <div>
      <button-area>
        <template #left>
          <!-- 搜索 -->
          <search-btn
            v-model="searchword"
            placeholder="业务编号/PI号/客户业务编号/提单号/委托人/经营单位/箱号"
          ></search-btn>
          <!-- 自定义筛选 -->
          <filter-btn
            v-model:pageInitFilters="pageInitFilters"
            :viewUserId="viewUserId"
            :viewSystemId="viewSystemId"
            ref="filterRef"
          ></filter-btn>
          <!-- 自定义列 -->
          <custom-column
            v-model:pageInitColumns="pageInitColumns"
            :viewUserId="viewUserId"
            :viewType="viewType"
            :viewSystemId="viewSystemId"
            @submitSuccess="submitSuccess"
          ></custom-column>
          <!-- 导出 -->
          <export-table @click="exportTable"></export-table>
          <!-- 全屏 -->
          <screen-btn></screen-btn>
          <!-- 刷新按钮执行列表初始化 -->
          <sync-btn @click="syncData"></sync-btn>
        </template>
        <template #right>
          <!-- :disabled="true"  禁用编辑按钮 -->
          <edit-table v-model="isEditDisabled"></edit-table>
          <a-button
            type="primary"
            :style="{
              'width': '108px',
              'height': '30px',
              'margin-right': '8px',
            }"
            @click="toNewOrder()"
          >
            <template #icon>
              <icon-plus />
            </template>
            <span>新建运单</span>
          </a-button>
          <a-button
            type="primary"
            :style="{
              'width': '112px',
              'height': '30px',
              'margin-right': '8px',
            }"
            @click="showsignDialog()"
          >
            <template #icon>
              <icon-file />
            </template>
            <span>正本签收</span>
          </a-button>
          <a-dropdown>
            <a-button size="mini" class="more">
              <template #icon>
                <icon-more-vertical />
              </template>
            </a-button>
            <template #content>
              <a-dgroup>
                <a-doption @click="makingDocument(1)">制单派单</a-doption>
                <a-doption @click="makingDocument(2)">换单加急派单</a-doption>
                <a-doption @click="makingDocument(3)">换单正常派单</a-doption>
                <a-doption @click="makingDocument(4)">制单正本流转</a-doption>
                <a-doption @click="makingDocument(5)">制作货物清单</a-doption>
              </a-dgroup>
            </template>
          </a-dropdown>
        </template>
      </button-area>
      <!-- {{modalVisible}} -->

      <div class="table-wrap">
        <CommonTableOrder
          :url="runOrderList"
          :viewUserId="viewUserId"
          :viewInfo="viewInfo"
          :searchword="searchword"
          :viewFilterRule="viewFilterRule"
          :columns="columns"
          :syncFlag="syncFlag"
          column-resizable
          :bordered="{ cell: true }"
          :operateList="operateList"
          :isEditDisabled="isEditDisabled"
          @openFilter="openFilter"
          @getSelectData="getSelectData"
          @getTableList="getTableList"
          @paginationWidth="paginationWidth"
          ref="commonTableRef"
        >
        </CommonTableOrder>
      </div>
      <tab-view
        :viewType="viewType"
        :changeViewId="changeViewId"
        @submitViewHandle="submitViewHandle"
        @submitDelete="submitDelete"
        @currentTabViewId="currentTabViewId"
        @chooseFields="chooseFields"
        @viewFilterRuleChange="viewFilterRuleChange"
        @currentTabviewName="currentTabviewName"
        :paginationWidthNum="paginationWidthNum"
        ref="tabViewRef"
      ></tab-view>
      <tab-view-modal
        v-model="modalVisible"
        :title="tabViewModelTitle"
        :defaultActiveKey="defaultActiveKey"
        v-model:modalParams="modalParams"
        @syncTabViewList="syncTabViewList"
      ></tab-view-modal>
      <!--         :viewUserId="tabHandleViewUserId"
        :viewSystemId="viewSystemId"
        :viewName="viewName"
        :viewType="viewType" -->
    </div>
  </div>
  <!-- 正本签收 -->
  <signatrue-dialog
    ref="signatrueDialogRef"
    :viewUserId="viewUserId"
  ></signatrue-dialog>
  <!-- 额外费用登记 -->
  <extra-dialog
    ref="extraDialogRefDialog"
    :orderLogisticsNo="orderLogisticsNo"
  ></extra-dialog>
  <!-- 货物清单上传 -->
  <cargoListFileUp
    ref="cargoListFileUpDialog"
    :orderLogisticsNo="orderLogisticsNo"
  ></cargoListFileUp>
  <!-- 上传文件 -->
  <fileUp ref="fileUpRef" :orderLogisticsNo="orderLogisticsNo"></fileUp>
  <!-- 登记报关单 -->
  <entryBill ref="entryBillRef" :orderLogisticsNo="orderLogisticsNo" :status="status"></entryBill>
  <!-- 业务完成 -->
  <businessComplete
    ref="businessCompleteDialog"
    :orderLogisticsNo="orderLogisticsNo"
  ></businessComplete>
  <!-- 制单派单 -->
  <preSendDialog
    ref="preSendDialog"
    :orderLogisticsNo="selectedData"
  ></preSendDialog>
  <!-- 查看运输计划 -->
  <viewTransPlanDialog
    ref="viewTransPlanDialog"
    :orderLogisticsNo="orderLogisticsNo"
    :storageBooking="storageBooking"
      :businessName="businessName"
    :relationId="relationId"
    :portArea="portArea"
  ></viewTransPlanDialog>
  <!-- 更改服务项目 -->
  <serviceDialog
    ref="serviceDialogRef"
    :orderLogisticsNo="orderLogisticsNo"
    :serviceItem="serviceItem"
    :status="status"
    @getList="syncData"
  ></serviceDialog>
  <!-- //留言 -->
  <leavingMessage ref="leavingMessageRef" :orderLogisticsNo="orderLogisticsNo"></leavingMessage>
  <!-- 入客户门点 -->
  <enterShop
    ref="shopRef"
    :orderLogisticsNo="orderLogisticsNo"
    :goodsType="goodsType"
    :clientRelationId="relationId"
    :portArea="portArea"
      :businessName="businessName"
    @getList="syncData"
  ></enterShop>
  <!-- 入我司仓库 -->
      <enterWarehouse
      ref="warehouseRef"
      :orderLogisticsNo="orderLogisticsNo"
      :storageBooking="storageBooking"
      :businessName="businessName"
      :portArea="portArea"
      :clientRelationId="relationId"
      :goodsType="goodsType"
      @getList="syncData"
    ></enterWarehouse>
    <!--入监管仓  -->
    <enterSupervise
      ref="superviseRef"
      :orderLogisticsNo="orderLogisticsNo"
      :clientRelationId="relationId"
      :goodsType="goodsType"
      :businessName="businessName"
      :portArea="portArea"
      @getList="syncData"
    ></enterSupervise>

</template>

<script lang="ts" setup>
</script>

<script lang="ts">
import {
  defineComponent,
  ref,
  watch,
  reactive,
  h,
  toRefs,
  computed,
  onMounted,
  nextTick,
} from 'vue';
import { useRouter,useRoute} from 'vue-router';
import { runOrderList } from '@/api/base'
import { Modal,Message  } from '@arco-design/web-vue';
import { runOrderApi } from '@/api/runOrderApi/index'
import CommonTableOrder from '../components/common-table/index.vue'
import signatrueDialog from '../components/signatureDialog.vue'
import preSendDialog from '../components/preSendDialog.vue'//制单派单
import extraDialog from '../compoentsRowEdit/extraDialog.vue'//额外费用登记
import cargoListFileUp from '../compoentsRowEdit/fileUpGoodsList.vue'//货物清单上传
import fileUp from '../compoentsRowEdit/fileUp.vue'//文件上传
import entryBill from '../compoentsRowEdit/entryBill.vue'//登记报关单
import businessComplete from '../compoentsRowEdit/businessComplete.vue'//业务完成
import viewTransPlanDialog from '../components/viewPlan/viewTransPlanDialog.vue'//查看运输计划
import serviceDialog from '../compoentsRowEdit/serviceDialog.vue'//更改服务项目
import leavingMessage from '../compoentsRowEdit/leavingMessage.vue'//留言
import enterShop from '../components/viewPlan/enterShop.vue';//入客户门点
import enterWarehouse from '../components/viewPlan/enterWarehouse.vue';//入我司仓库
import enterSupervise from '../components/viewPlan/enterSupervise.vue';//入监管仓

import { useTentantStore, useUserStore } from '@/store';
import { getToken, iframeDominMos } from '@/utils';
export default defineComponent({
  name:'runOrder', 
  components:{signatrueDialog,extraDialog,cargoListFileUp,fileUp,entryBill,CommonTableOrder,businessComplete,
  preSendDialog,viewTransPlanDialog,serviceDialog,leavingMessage,enterShop,enterWarehouse,enterSupervise
  },
  setup(props, { emit, slots, attrs }) {
    const filterRef = ref([]);
    const commonTableRef = ref([]);
    const tabViewRef = ref<any>(null);
    const cargoListFileUpDialog = ref(null);
    const fileUpRef = ref(null);
    const entryBillRef = ref(null);
    const extraDialogRefDialog = ref(null);
    const businessCompleteDialog = ref(null);
    const preSendDialog = ref(null);
    const viewTransPlanDialog = ref(null);
    const serviceDialogRef = ref(null);
    const leavingMessageRef = ref(null);
    const router = useRouter();
    const useTentant = useTentantStore();
    const shopRef = ref([])
    const warehouseRef = ref([]);
    const superviseRef = ref([]);
    const dataMap = reactive({
      hasTabData: false,
      selectedData: [], // 表格已选择的数据   用于右侧按钮操作时的数据
      tableData: [], // 表格列表数据
      syncFlag: 0, // 刷新标志
      runOrderList, // 表格请求的地址  不同的列表页  地址会变化
      viewType: '1', // 运单列表代码 1
      viewUserId: '', // 用户视图ID
      changeViewId: '',
      tabHandleViewUserId: '', // 用户视图ID
      viewInfo: {}, // 用户视图ID 系统视图ID
      viewSystemId: '', // 用户视图ID 系统视图ID
      viewFilterRule: '', // 视图筛选项
      initFilters: '', // 保存视图原始筛选项
      columns: [], // 动态表头表头
      initColumns: [], // 保存视图原始表头
      pageInitColumns: [], // 页面自定义列信息
      modalParams: {}, // 视图弹框配置
      pageInitFilters: '',
      filterlist: [],
      customcolumn: {},
      orderLogisticsNo:"",
      status:"",//运单状态
      storageBooking:"",
      businessName:"",
      relationId:"",
      portArea:"",
      goodsType:"",
      serviceItem:[],
      operateList: [
        {
          name: '编辑',
          icon: '',
          color: 'rgba(41, 105, 255, 1)',
          // TODO
          isShow: (record: any) => {
            return (record.status == 10&&record.reviewerFlowTime) || record.status == 11;
          },
          callback: (record: any) => {
            router.push({
              path: '/mos/newOrderBill',
              query: { orderLogisticsNo: record.orderLogisticsNo },
            });
          },
        },
        {
          name: '复制',
          icon: '',
          color: 'rgba(41, 105, 255, 1)',
          isShow: (record: any) => {
            return true;
          },
          callback: (record: any) => {
            router.push({
              path: '/mos/newOrderBill',
              query: {
                orderLogisticsNo: record.orderLogisticsNo,
                type: 'copyOrder',
              },
            });
          },
        },
        {
          name: '删除',
          icon: '',
          color: 'rgba(245, 63, 63, 1)',
          isShow: (record: any) => {
            // TODO
            // 根据record里面的字断判断
            return true;
          },
          callback: (record: any) => {
            Modal.warning({
              title: '提示',
              content: '确认删除?',
              hideCancel: false,
              onOk: () => {
                runOrderApi
                  .deleteRunOrder({ orderLogisticsNo: record.orderLogisticsNo })
                  .then((res) => {
                    if (res.code == 200) {
                      syncData();
                    }
                  });
              },
            });
            // TODO
            // 先弹框确认 再删除
          },
        },
        {
          name: '更改服务项目',
          icon: '',
          color: 'rgba(41, 105, 255, 1)',
          isShow: (record: any) => {
            dataMap.orderLogisticsNo = record.orderLogisticsNo;
            if(record.orderLogisticsMosServiceItem){
              dataMap.serviceItem = [...record.orderLogisticsMosServiceItem]
            }else{
              dataMap.serviceItem =[]
            }
            dataMap.status=record.status
            return record.status < 22;
          },
          callback: (record: any) => {
            serviceDialogRef.value.visible = true;
          },
        },
        {
          name: '留言',
          icon: '',
          color: 'rgba(41, 105, 255, 1)',
          isShow: (record: any) => {
            dataMap.orderLogisticsNo = record.orderLogisticsNo;
            return true;
          },
          callback: (record: any) => {
            leavingMessageRef.value.visible = true;
          },
        },
        {
          name: '业务完成',
          icon: '',
          color: 'rgba(41, 105, 255, 1)',
          isShow: (record: any) => {
            dataMap.orderLogisticsNo = record.orderLogisticsNo;
            return record.businessCompletionTime == null;
          },
          callback: (record: any) => {
            businessCompleteDialog.value.visible = true;
          },
        },
        {
          name: '上传货物清单',
          icon: '',
          color: 'rgba(41, 105, 255, 1)',
          isShow: (record:any) => {
            dataMap.orderLogisticsNo=record.orderLogisticsNo
            return true
          },
          callback: (record: any) => {
            cargoListFileUpDialog.value.visible = true;
          },
        },
        {
          name: '上传文件',
          icon: '',
          color: 'rgba(41, 105, 255, 1)',
          isShow: (record: any) => {
            dataMap.orderLogisticsNo = record.orderLogisticsNo;
            return true;
          },
          callback: (record: any) => {
            fileUpRef.value.visible = true;
          },
        },
        {
          name: '登记报关单',
          icon: '',
          color: 'rgba(41, 105, 255, 1)',
          isShow: (record:any) => {
            dataMap.orderLogisticsNo=record.orderLogisticsNo
            dataMap.status=record.status
            return record.customsClearanceFlag
          },
          callback:(record:any)=>{
             entryBillRef.value.visible=true
          }
        },
        {
          name: '登记额外费用',
          icon: '',
          color: 'rgba(41, 105, 255, 1)',
          isShow: (record: any) => {
            dataMap.orderLogisticsNo = record.orderLogisticsNo;
            return dataMap.isEditDisabled;
          },
          callback: (record: any) => {
            extraDialogRefDialog.value.visible = true;
          },
        },
        {
          name: '查看更多费用',
          icon: '',
          color: 'rgba(41, 105, 255, 1)',
          isShow: (record: any) => {
            return record.status >= 12;
          },
          callback: (record: any) => {
            console.log('查看更多费用', record);
            // 暂时跳到老框架
            const encodeURIStr = encodeURIComponent(
              `applicationType=${
                useTentant.applicationType
              }&&path=/mos/settleTrack/detail&&logisticsId=${
                record.id
              }&&type=LOGISTICS&&accessToken=${getToken()}`
            );
            window.open(`${iframeDominMos()}/loginOutSide?${encodeURIStr}`);
          },
        },
        {
          name: '查看运输计划',
          icon: '',
          color: 'rgba(41, 105, 255, 1)',
          isShow: (record:any) => {
            dataMap.orderLogisticsNo=record.orderLogisticsNo
            dataMap.portArea=record.portArea
            dataMap.relationId=record.clientRelationId
            dataMap.storageBooking=record.storageBooking
            dataMap.businessName=record.businessName
            return true
          },
          callback:(record:any)=>{
             viewTransPlanDialog.value.visible = true;
          }
        },
        {
          name:'入客户门点',
          icon:'',
          color: 'rgba(41, 105, 255, 1)',
          isShow: (record:any) => {
            dataMap.orderLogisticsNo=record.orderLogisticsNo
            dataMap.goodsType=record.goodsType
            dataMap.portArea=record.portArea
            dataMap.relationId=record.clientRelationId
            dataMap.businessName=record.businessName
            return record.status>12&&record.status<21
          },
          callback:(record:any)=>{
             shopRef.value.handleClick();
          }
        },
        {
          name:'入我司仓库',
          icon:'',
          color: 'rgba(41, 105, 255, 1)',
          isShow: (record:any) => {
            dataMap.orderLogisticsNo=record.orderLogisticsNo
            dataMap.goodsType=record.goodsType
            dataMap.portArea=record.portArea
            dataMap.relationId=record.clientRelationId
            dataMap.storageBooking=record.storageBooking
            dataMap.businessName=record.businessName
        
            return record.status>12&&record.status<21
          },
          callback:(record:any)=>{
             warehouseRef.value.handleClick();
          }
        },
        {
          name:'入监管仓',
          icon:'',
          color: 'rgba(41, 105, 255, 1)',
          isShow: (record:any) => {
            dataMap.orderLogisticsNo=record.orderLogisticsNo
            dataMap.goodsType=record.goodsType
            dataMap.portArea=record.portArea
            dataMap.relationId=record.clientRelationId
            return record.status>12&&record.status<21
          },
          callback:(record:any)=>{
             superviseRef.value.handleClick();
          }
        },
      ],
      searchword: '',
      searchPopupVisible: false,
      isEditDisabled: true, //
      PaginationProps: {
        'size': 'mini',
        'total': 100000,
        'current': 1, //  当前页码
        'show-page-size': true,
        'page-size-options': [10, 20, 30, 40, 50],
        'show-total': true,
        'show-jumper': true,
      },
      modalVisible: false, // 控制新增/编辑/复制视图弹窗是否显示
      tabViewModelTitle: '新增视图', // 视图弹窗title
      defaultActiveKey: '1', // 视图默认展示的tab标签 类型string
      paginationWidthNum: 0,
      currentViewName: '',
      viewName: '',
      loading:false,//导出数据loading
    });
    const exportTable = () => {
      console.log('导出数据');
      // 导出当前搜索条件下的数据
      dataMap.loading=true
      runOrderApi.exportOrder(commonTableRef.value.params).then((response: any) => {
        dataMap.loading=false
        let blob = new Blob([response], {
          type: 'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet;charset=utf-8'
        })
        let url = window.URL.createObjectURL(blob)
        let link = document.createElement('a') // 创建a标签
        link.href = url
        link.download = '运单列表'
        link.click()
        URL.revokeObjectURL(url) // 释放内存
      })
      console.log(commonTableRef.value.params)
    };

    const syncData = () => {
      dataMap.searchword = '';
      dataMap.viewFilterRule = '';
      dataMap.columns = dataMap.initColumns;
      dataMap.syncFlag++;
    };

    const chooseFields = (val: any) => {
      console.log(val);
      console.log('---------表头表头-----------');
      if (val.length > 0) {
        dataMap.hasTabData = true;
      } else {
        dataMap.hasTabData = false;
      }
      // 中间列表 展示列表头  当前展示的 传给公共table的
      dataMap.columns = val;
      // 当前视图表头  刷新时设置为dataMap.columns
      dataMap.initColumns = val;
      // button区域自定义列  定义表头 - -  脑子可能不太好  整这么多表头
      dataMap.pageInitColumns = val;
    };

    const viewFilterRuleChange = (val: any) => {
      console.log(val);
      // 传给公共table 的筛选项
      dataMap.viewFilterRule = val;
      // 当前视图筛选项  刷新时设置为dataMap.viewFilterRule
      dataMap.initFilters = val;
      // button区域筛选按钮
      dataMap.pageInitFilters = val;
    };

    const currentTabViewId = (viewId: object) => {
      console.log('接收到视图id的参数了', viewId);
      dataMap.viewUserId = viewId.currentTabViewId;
      dataMap.viewInfo = viewId;
      dataMap.viewSystemId = viewId.viewSystemId;
    };

    const submitViewHandle = (param: any) => {
      console.log('从视图组件传来的参数：', param);
      // return
      // 需要展示视图弹窗
      dataMap.modalVisible = true;
      dataMap.tabViewModelTitle = param.title;
      dataMap.defaultActiveKey = param.defaultActiveKey;
      // 新增视图  编辑视图  复制视图
      // 新增视图 无初始化数据
      // 编辑和复制视图  初始化数据一致
      if (param.title == '新增视图') {
        dataMap.modalParams = {
          initColumns: [],
          initFilters: '',
          ...param,
        };
      } else {
        dataMap.modalParams = {
          initColumns: dataMap.initColumns, // 视图原始展示列
          initFilters: dataMap.initFilters,
          ...param,
        };
      }
      console.log('dataMap.modalParams:', dataMap.modalParams);
    };

    const openFilter = () => {
      console.log('需要打开筛选。。。');
      filterRef.value.filterRef.handleClick();
    };

    const submitDelete = (id: any) => {
      console.log(id);
      console.log('删除了当前视图  整个页面需要初始化');
    };

    const submitSuccess = (val: any) => {
      console.log(val);
      console.log('');
      console.log(tabViewRef.value, 'tabViewRef.value');
      // tabViewRef.value.getTabViewListFn()
      // 重新获取表头
      tabViewRef.value.getColumns(dataMap.viewUserId);
    };

    watch(
      () => dataMap.searchword,
      (newval, oldval) => {
        console.log('来新数据了', newval);
        // 改变页面params
        // 重新请求获取列表数据的接口
        // TODO
        // getList(params)
      },
      { immediate: true, deep: true }
    );

    watch(
      () => dataMap.pageInitFilters,
      (newval, oldval) => {
        console.log('来新数据了', newval);
        dataMap.viewFilterRule = newval;
      },
      { immediate: true, deep: true }
    );

    // 多选数据
    const getSelectData = (val: any) => {
      dataMap.selectedData = val;
      console.log(val, dataMap.tableData, 123);
    };
    // 表格列表数据
    const getTableList = (list) => {
      if (dataMap.tableData.length < 1 || list.length == 0) {
        dataMap.tableData = list;
      }
    };
    const paginationWidth = (val: any) => {
      console.log(val);
      dataMap.paginationWidthNum = val;
    };

    const currentTabviewName = (val: any) => {
      console.log(val);
      dataMap.currentViewName = val;
    };

    const syncTabViewList = (val: any) => {
      console.log('需要刷新视图列表', val);
      dataMap.changeViewId = val;
      tabViewRef.value.getTabViewListFn();
    };

    // modalParams
    watch(
      () => dataMap.modalParams,
      (newval, oldval) => {
        console.log('来新数据了modalParams', newval);
      },
      { immediate: true, deep: true }
    );

    const signatrueDialogRef = ref(null);
    const showsignDialog = () => {
      signatrueDialogRef.value.visible = true;
    };
    // 制单换单正本货物清单
    const makingDocument = (num) => {
      let flag = false;
      let selectTable = [];
      // tableData，selectedData
      if (!dataMap.selectedData.length) {
        Message.warning('请选择运单！');
        return;
      }
      dataMap.selectedData.forEach((item) => {
        dataMap.tableData.some((table) => {
          if (table.orderLogisticsNo == item) {
            selectTable.push(table);
            return true;
          }
        });
      });
      if (num == 1) {
        //制单派单
        selectTable.some((item) => {
          flag =
            item.status >= 12 &&
            item.preparationDistributeTime == null &&
            item.customsClearanceFlag == false;
          if (!flag) {
            return true;
          }
        });
        if (flag) {
          preSendDialog.value.visible = true;
        } else {
          Message.warning('部分运单不能制单派单，请重新选择！');
        }
      } else if (num == 2 || num == 3) {
        //换单派单
        selectTable.some((item) => {
          flag =
            item.status >= 12 &&
            (item.orderReplacementStatus == 0 ||
              item.orderReplacementStatus == 4) &&
            item.blRequirements !== null &&
            item.changeOrderFlag == false;
            console.log(flag,item)
          if (!flag) {
            return true;
          }
        });
        if (flag) {
          runOrderApi
            .changeOrder({
              orderLogisticsNo: dataMap.selectedData,
              urgentFlag: num == 2 ? true : false,
            })
            .then((res) => {
              if(res.code==200){
                Message.success('换单派单成功！');
              }
            });
        } else {
          Message.warning('部分运单不能换单派单，请重新选择！');
        }
      } else if (num == 4) {
        //制单正本流转
        selectTable.some((item) => {
          flag =
            item.status >= 12 &&
            item.preparationDistributeTime == null &&
            item.originalCirculationTime == false;
          if (!flag) {
            return true;
          }
        });
        if (flag) {
          runOrderApi
            .changeProcess({
              orderLogisticsNoList: dataMap.selectedData.join(','),
            })
            .then((res) => {
              if(res.code==200){
                Message.success('制单正本流转成功！');
              }
            });
        } else {
          Message.warning('部分运单尚未接单完成或已经正本流转，请重新选择！');
        }
      } else if (num == 5) {
        //制单货物清单
        selectTable.some((item) => {
          flag =
            item.status >= 12 &&
            item.cargoListFlag == '是' &&
            item.goodsDispatchTime == null;
          if (!flag) {
            return true;
          }
        });
        if (flag) {
          runOrderApi
            .makeCargoList({
              orderLogisticsNoList: dataMap.selectedData.join(','),
            })
            .then((res) => {
              if(res.code==200){
                Message.success('制作货物清单成功！');
              }
            });
        } else {
          Message.warning(
            '部分运单尚未接单完成或已经制作货物清单，请重新选择！'
          );
        }
      }
    };
    // 新建运单
    const toNewOrder = () => {
      router.push({
        path: '/mos/newOrderBill',
      });
    };
    // 路由切换刷新
    // const route = useRoute();
    // watch(
    //   () => route.path,
    //   (nval) => {
    //     syncData();
    //   }
    // );
    return {
      commonTableRef,
      exportTable,
      syncData,
      ...toRefs(dataMap),
      // columns,
      // data,
      // PaginationProps,
      chooseFields,
      viewFilterRuleChange,
      currentTabViewId,
      submitViewHandle,
      submitDelete,
      openFilter,
      filterRef,
      getSelectData,
      getTableList,
      paginationWidth,
      currentTabviewName,
      showsignDialog,
      submitSuccess,
      tabViewRef,
      syncTabViewList,
      fileUpRef,
      entryBillRef,
      businessCompleteDialog,
      preSendDialog,
      viewTransPlanDialog,
      leavingMessageRef,
      makingDocument,
      toNewOrder,
      shopRef,
      warehouseRef,
      superviseRef,
      signatrueDialogRef,
      serviceDialogRef,
      cargoListFileUpDialog,
      extraDialogRefDialog
    };
  },
});
</script>

<style lang="less" scoped>
.container {
  background-color: var(--color-bg-2);
  // max-width: 100%;
  display: flex;
  height: calc(~'100vh - 93px');
}
.table-wrap {
  width: 100%;
  overflow: hidden;
  padding: 0 20px;
  height: calc(~'100% - 70px - 64px');
}
.more {
  margin-top: 3px;
}
.loading{
  position:absolute;
  left:50%;
  top:40%;
  margin-left:-40px;
  z-index:2;
  display:none;
}
.loadingShow{
  display:block
}
</style>
