<template>
    <div class="container">
        <PageHeadE :operateList="operateList" title="结算单详情" :infoList="infoList">
            <template #tip>
                <a-popover position="right">
                    <a-badge :count="1" :dot-style="{}" v-if="detailData.overdueDays > 0">
                        <!-- <a-avatar shape="square" /> -->
                        <a-tag size="small" color="#FFECE8">
                            <span :style="{ color: '#F53F3F' }">异常</span>
                        </a-tag>
                    </a-badge>
                    <template #content>
                        <div class="popup_text">
                            未销账金额{{ detailData.currencySymbol }}{{ detailData.incomeCanWrittenOffAmount }}，已超期{{
                                    detailData.overdueDays
                            }}天
                        </div>
                    </template>
                </a-popover>
            </template>
            <template #button>
                <template v-for="(item, index) in navConfig.btns" :key="index">
                    <a-button type="primary" v-if="!item.notShow" @click="item.callback">
                        <template #icon v-if="item.icon">
                            <component :is="item.icon"></component>
                        </template>
                        <template #default>{{ item.title }}</template>
                    </a-button>
                </template>
            </template>
        </PageHeadE>
        <div class="page_content">
            <div class="base_info">
                <a-tabs default-active-key="1" :justify="true">
                    <a-tab-pane key="1" title="基本信息">
                        <div class="base_info_pane">
                            <DescribeList :datas="detailData" :logisticsDetail="logisticsDetail"
                                @changeLevel="changeLevel"></DescribeList>
                        </div>
                    </a-tab-pane>
                    <a-tab-pane key="2" title="运输详情">
                        <div class="base_info_pane" :style="{ padding: '20px 20px 0 20px' }">
                            <TransportTable :deliveryList="deliveryList"></TransportTable>
                        </div>
                    </a-tab-pane>
                    <a-tab-pane key="3" title="业务事件">
                        <div class="base_info_pane">
                            <TimeLocus :dataList="timeEventList"></TimeLocus>
                        </div>
                    </a-tab-pane>
                    <a-tab-pane key="4" title="业务跟踪">
                        <div class="base_info_pane">
                            <TimeLocus :dataList="timeTrackList"></TimeLocus>
                        </div>
                    </a-tab-pane>
                    <a-tab-pane key="5" title="操作记录">
                        <div class="base_info_pane">
                            <TimeLocus :dataList="timeOperateList"></TimeLocus>
                        </div>
                    </a-tab-pane>
                </a-tabs>
            </div>
            <div class="content_table_shell">
                <div class="content_table">
                    <CommonTableK :fees="income" :datas="detailData" @getFeeDetail="getFeeDetail" type="income">
                    </CommonTableK>
                </div>
                <div class="content_table">
                    <CommonTableK :fees="cost" :datas="detailData" @getFeeDetail="getFeeDetail" type="cost">
                    </CommonTableK>
                </div>
            </div>
        </div>
    </div>
    <ClosePop ref="closePopRef" @confirmRemark="confirmRemark"></ClosePop>
    <JoinBillPop ref="joinBillPopRef" @confirm="confirm" :bills="bills"></JoinBillPop>
    <basic-pop ref="changeRolePopRef" :config="changeRolePopConfig" @save="save">
        <template #content>
            <a-form layout="vertical">
                <a-form-item field="selectRole" label="更换给">
                    <a-select default-value="Beijing" v-model="memberId" @change="roleChange" size="medium">
                        <a-option v-for="(item, index) in roleOptions" :key="index" :label="item.label"
                            :value="item.value"></a-option>
                    </a-select>
                </a-form-item>
            </a-form>
        </template>
    </basic-pop>
    <add-income-pop ref="addIncomePopRef" :datas="detailData" :logisticsDetail="logisticsDetail"
        @refreshDetail="getDetail" :feeType="feeType"></add-income-pop>
    <add-cost-pop ref="addCostPopRef" :datas="detailData" :logisticsDetail="logisticsDetail" @refreshDetail="getDetail"
        :feeType="feeType"></add-cost-pop>
    <fee-detail-pop ref="feeDetailPopRef" :datas="detailData" :feeDetail="feeDetail" :type="type"
        @refreshDetailItem="queryDetailItem" @refreshDetail="getDetail"></fee-detail-pop>
</template>

<script lang="ts">
import {
    defineComponent,
    ref,
    reactive,
    watch,
    toRefs,
    onMounted,
    computed,
} from 'vue'
import { useRouter } from 'vue-router';
import { useUserStore } from '@/store'
import PageHeadE from './components/pageHeadE.vue';
import DescribeList from './components/describeList.vue';
import TimeLocus from './components/timeLocus.vue';
import TransportTable from './components/transportTable.vue';
import CommonTableK from './components/commonTableK.vue';
import ClosePop from './components/closePop.vue';
import JoinBillPop from './components/joinBillPop.vue';
import BasicPop from './components/basicPop.vue';
import AddIncomePop from './components/addIncomePop.vue';
import AddCostPop from './components/addCostPop.vue';
import FeeDetailPop from './components/feeDetailPop.vue';
import { settleTrackApi } from '@/api/settleTrackApi/index';
import commonApi from '@/utils/commonApi'
import { Message } from '@arco-design/web-vue';
export default defineComponent({
    name: 'detail',
    components: {
        PageHeadE,
        DescribeList,
        TimeLocus,
        TransportTable,
        CommonTableK,
        ClosePop,
        JoinBillPop,
        BasicPop,
        AddIncomePop,
        AddCostPop,
        FeeDetailPop,
    },
    setup() {
        const router = useRouter().currentRoute.value
        const userStore = useUserStore()
        /**主信息 */
        const closePopRef = ref(null)
        const joinBillPopRef = ref(null)
        const changeRolePopRef = ref(null)

        const dataMap = reactive({
            operateList: [{
                icon: '',
                title: '下载',
                notShow: false,
                callback: () => {
                    downLoad()
                },
            }, {
                icon: '',
                title: '更换结算',
                notShow: true,
                callback: () => {
                    changeRole('change')
                },
            }, {
                icon: '',
                title: '授权结算',
                notShow: true,
                callback: () => {
                    changeRole('auth')
                },
            }],
            infoList: [],
            roleOptions: [],//应该是结算员list数据
            memberId: '',
            memberName: '',
            moreType: '',
            bills: [],
            detailData: {},//订单详情数据
            hasCloseRight: false, //是否配置关账权限
            hasChangeClerkRight: false, //是否配置更换结算员权限
            hasAuthClerkRight: false, //是否配置授权结算员权限
            hasCostCloseRight: false, //是否配置成本关闭权限
            hasIncomeCloseRight: false, //是否配置收入关闭权限
            hasUnreviewRight: false, //是否配置撤销复核权限
            hasReviewRight: false, //是否配置结算复核权限
            hasUnCloseRight: false, //是否配置关帐撤销权限
            navConfig: {
                btns: [
                    {
                        icon: 'icon-undo',
                        title: '撤销复核',
                        type: 'danger',
                        notShow: true,
                        callback: () => {
                            settleTrackUnreviewed()
                        }
                    },
                    {
                        icon: 'icon-check',
                        title: '结算复核',
                        notShow: true,
                        callback: () => {
                            review()
                        }
                    },
                    {
                        icon: 'icon-lock',
                        title: '关账',
                        type: 'danger',
                        notShow: true,
                        callback: () => {
                            settleTrackClosed()
                        }
                    },
                    {
                        icon: 'icon-plus-circle',
                        title: '加入账单',
                        notShow: true,
                        type: '',
                        callback: () => {
                            joinBill()
                        }
                    },
                    {
                        icon: 'icon-undo',
                        title: '关账撤销',
                        type: 'danger',
                        notShow: true,
                        callback: () => {
                            rollbackAdjustment()
                        }
                    }
                ]
            },
            logisticsDetail: {},
            deliveryList: [],//运输详情
        })
        // 星标
        const changeLevel = (val) => {
            if (val.index === 0) {
                settleTrackApi.cancelSubscribe({
                    statementId: val.source.id
                }).then(res => {
                    if (res.code == 200) {
                        val.source.attentionLevel = null
                    }
                })
            } else if (val.index > 0) {
                settleTrackApi.settleTrackSubscribe({
                    statementId: val.source.id,
                    level: val.index
                }).then(res => {
                    if (res.code == 200) {
                        val.source.attentionLevel = val.index
                    }
                })
            }
        }
        // 结算复核
        const review = () => {
            if (dataMap.detailData.profitAmount < 0) {
                closePopRef.value.openDialog('review')
                return
            }
            settleReview()
        }
        //请求结算复核接口
        const settleReview = () => {
            let param = {
                id: dataMap.detailData.id.toString(),
                remark: closePopRef.value.profitZeroRemark
            }
            settleTrackApi.settleTrackReviewed(param).then(res => {
                if (res.code == 200) {
                    closePopRef.value.closeDialog()
                    Message.success('结算复核成功')
                    getDetail()
                }
            })
        }
        // 结算复核确认回调
        const confirmRemark = (val) => {
            if (val.type == 'review') {
                settleReview()
            } else {
                closeFee(val.type)
            }
        }
        const closeFee = async (type) => {
            let param = {
                id: dataMap.detailData.id && dataMap.detailData.id.toString(),
                remark: closePopRef.value.profitZeroRemark
            }
            let res
            if (type == 'income') {
                res = await settleTrackApi.settleTrackCloseIncome(param)
            } else {
                res = await settleTrackApi.settleTrackCloseCost(param)
            }
            const { code, message, data } = res
            if (code == 200) {
                closePopRef.value.closeDialog()
                Message.success('关闭成功')
                getDetail()
            }
        }
        // 撤销结算复核
        const settleTrackUnreviewed = () => {
            console.log('撤销复核')
            let param = {
                id: dataMap.detailData.id.toString()
            }
            settleTrackApi.settleTrackUnreviewed(param).then(res => {
                if (res.code == 200) {
                    Message.success('撤销复核成功')
                    getDetail()
                }
            })
        }
        // 关账
        const settleTrackClosed = () => {
            settleTrackApi.settleTrackClosed({
                id: dataMap.detailData.id.toString()
            }).then(res => {
                if (res.code == 200) {
                    Message.success('关账成功')
                    getDetail()
                }
            })
        }
        // 关账撤销
        const rollbackAdjustment = () => {
            settleTrackApi.rollbackAdjustment({
                id: dataMap.detailData.id.toString()
            }).then(res => {
                if (res.code == 200) {
                    Message.success('关账撤销成功')
                    getDetail()
                }
            })
        }
        // 加入账单
        const joinBill = async () => {
            // console.log(joinBillPopRef)
            const { code, message, data } = await settleTrackApi.receivableCanJoin({
                ownerId: dataMap.detailData.ownerId,
                clientId: dataMap.detailData.clientId,
                statementId: dataMap.detailData.id && dataMap.detailData.id.toString()
            })
            if (code == 200) {
                data.forEach((v) => {
                    if (Array.isArray(v.details) && v.details.length > 0) {
                        v.radio = v.details[0].id
                    }
                })
                dataMap.bills = data
                // TODO
                joinBillPopRef.value.openDialog()
            }
        }
        // 加入账单确认事件
        const confirm = async (bills) => {
            let details = []
            bills.forEach((v) => {
                let item = v.details.find((i) => {
                    return i.id.toString() == v.radio.toString()
                })
                if (item) {
                    details.push({
                        currency: v.currency,
                        receivableId: item.id.toString()
                    })
                }
            })
            const { code, message, data } = await settleTrackApi.settleTrackJoinReceivable({
                statementId: dataMap.detailData.id && dataMap.detailData.id.toString(),
                details
            })
            if (code == 200) {
                Message.success('加入成功!')
                joinBillPopRef.value.closeDialog()
                getDetail()
            }
        }
        const roleChange = (val) => {
            dataMap.memberName = dataMap.roleOptions.find((v) => v.value == val).userName
        }
        const initOptions = async () => {
            const { code, message, data } = await settleTrackApi.settleTrackClerkNames({
                roleName: '结算员'
            })
            if (data && data.length > 0) {
                dataMap.roleOptions = data.map((v) => {
                    return {
                        value: v.userId,
                        label: `${v.surName}${v.firstName}(${v.userName})`,
                        userName: v.userName
                    }
                })
            }
        }
        // 更换结算/授权结算
        const changeRole = (val) => {
            initOptions()
            dataMap.moreType = val
            changeRolePopRef.value.openDialog()
        }
        const save = async () => {
            let res
            let param = {
                id: dataMap.detailData.id.toString(),
                memberId: dataMap.memberId,
                memberName: dataMap.memberName
            }
            if (dataMap.moreType == 'auth') {
                res = await settleTrackApi.settleTrackAuthorized(param)
            } else {
                res = await settleTrackApi.settleTrackChange(param)
            }
            dataMap.memberId = ''
            dataMap.memberName = ''

            if (res.code == 200) {
                Message.success('更换成功')
                changeRolePopRef.value.closeDialog()
            }
        }
        const changeRolePopConfig = computed(() => {
            return {
                title: dataMap.moreType == 'auth' ? '授权结算' : '更换结算',
                width: '400px'
            }
        })

        // 功能权限
        const getRoleByPage = async () => {
            const res = await commonApi.getRoleByPage('MOS_PAGE_0002')
            const codes = res.map((v) => v.functionCode)
            dataMap.hasCloseRight = codes.includes('FUNCTION_254') //关账
            dataMap.hasChangeClerkRight = codes.includes('FUNCTION_255') //更换结算员
            dataMap.hasAuthClerkRight = codes.includes('FUNCTION_256') //授权结算员
            dataMap.hasCostCloseRight = codes.includes('FUNCTION_252') //成本关闭
            dataMap.hasIncomeCloseRight = codes.includes('FUNCTION_253') //收入关闭
            dataMap.hasUnreviewRight = codes.includes('FUNCTION_351') //撤销复核
            dataMap.hasReviewRight = codes.includes('FUNCTION_350') //结算复核
            dataMap.hasUnCloseRight = codes.includes('FUNCTION_383') //关账撤销

            getDetail()
        }
        const getDetail = async () => {
            // console.log('get detail')
            const { code, message, data } = await settleTrackApi.settleTrackDetail({
                id: router.query.id,
                type: 'ID'
            })

            if (data.logisticsId) {
                getLogisticsTrack(data.logisticsId)
                getDeliveryDetail(data.logisticsId)
            }
            dataMap.detailData = data
            feeMap.cost.feetype[0].feeitems = data.lumpSumCosts
            feeMap.cost.feetype[1].feeitems = data.nonLumpSumCosts
            feeMap.cost.amount = data.costAmount

            feeMap.income.amount = data.incomeAmount
            feeMap.income.feetype[0].feeitems = data.lumpSumIncomes
            feeMap.income.feetype[1].feeitems = data.nonLumpSumIncomes

            dataMap.infoList = [{
                name: '资金池',
                value: `${data.currencySymbol}${data.capitalPoolBalance}`
            }, {
                name: '未销账',
                value: `${data.currencySymbol}${data.incomeCanWrittenOffAmount}`
            }]
            // 撤销复核
            // 结算单状态=已结算复核&&存在‘取消复核’按钮的功能权限
            dataMap.navConfig.btns[0].notShow = !(
                data.status == 4 && dataMap.hasUnreviewRight
            )
            // 结算复核
            // 结算单状态=未结算复核&&所有费用已确认（收入和成本）&&应收/应付补录关闭标识=true(都关闭了)&&存在‘结算复核’按钮的功能权限
            dataMap.navConfig.btns[1].notShow = !(
                !data.unconfirmedIncome &&
                !data.unconfirmedCost &&
                data.incomeMakeUpLock &&
                data.costMakeUpLock &&
                data.status == 3 &&
                dataMap.hasReviewRight
            )

            // 关账
            // 收入关闭&&成本关闭&&收入费用全部已确认&&成本费用全部已确认
            dataMap.navConfig.btns[2].notShow = !(
                data.incomeClosed &&
                data.costClosed &&
                !data.unconfirmedIncome && //是否存在未确认收入(true-存在、false-不存在)
                !data.unconfirmedCost && //是否存在未确认成本(true-存在、false-不存在);false是都确认了
                data.status < 5 && // 已关账不需要展示
                dataMap.hasCloseRight
            )

            // 撤销关账
            // 已关帐，且关帐日期为当月，且尚未做过调账费用
            // const isCurrentMonth = new Date(data.closerTime).getMonth() == new Date().getMonth()
            dataMap.navConfig.btns[4].notShow = !(
                data.adjustment &&
                dataMap.hasUnCloseRight
            )

            // 加入账单 是否关账=False&&代收代付=False&&存在费用状态=未确认
            // 后期改成代收代付也可以加入账单
            dataMap.navConfig.btns[3].notShow = !(
                !(data.status >= 5) && data.canJoinedReceivable
            )

            console.log(userStore)
            // 更换结算
            dataMap.operateList[1].notShow = !(
                userStore.userId == data.settlementClerkId &&
                !(data.status >= 5) &&
                dataMap.hasChangeClerkRight
            )

            // 授权结算
            dataMap.operateList[2].notShow = !(
                userStore.userId == data.settlementClerkId &&
                !(data.status >= 5) &&
                dataMap.hasAuthClerkRight
            )

            // 收入-复核
            feeMap.income.btns[0].notShow = data.receivableReview // review 是否账单复核(0/false-未复核、1/true-已复核)
            // 收入-补录
            // 【是否收入关闭=True&&【未结算复核】显示 && 补录关闭标识=false(打开时展示关闭和补录)
            feeMap.income.btns[1].notShow = !(data.incomeClosed && data.status <= 3 && !data.incomeMakeUpLock)
            // 收入-补录开启
            // 补录关闭按钮(0/false打开，1/true关闭)
            // 收入关闭=true && 结算单未复核 && 有收入关闭按钮权限 && 补录关闭标识=true（关闭时展示开启） 
            feeMap.income.btns[5].notShow = !(data.incomeClosed && data.status <= 3 && dataMap.hasIncomeCloseRight && data.incomeMakeUpLock)
            // 收入-补录关闭
            // 收入关闭=true && 结算单未复核 && 有收入关闭按钮权限 && 补录关闭标识=false(打开时展示关闭和补录)
            feeMap.income.btns[6].notShow = !(data.incomeClosed && data.status <= 3 && !data.incomeMakeUpLock && dataMap.hasIncomeCloseRight)

            // 收入-调账
            // 【是否关账=True】显示
            feeMap.income.btns[2].notShow = !(data.status >= 5)
            // 收入-新增
            // 【是否收入关闭=False】显示
            feeMap.income.btns[3].notShow = data.incomeClosed
            // 收入-关闭
            // 全部收入费用状态为已确认 & 收入未关闭 && 有收入关闭的权限
            feeMap.income.btns[4].notShow = !(
                !data.unconfirmedIncome &&
                !data.incomeClosed &&
                dataMap.hasIncomeCloseRight
            )

            // 成本-补录
            // 【是否成本关闭=True&&【未结算复核】显示 && 补录关闭标识=false(打开时展示关闭和补录)
            feeMap.cost.btns[0].notShow = !(data.costClosed && data.status <= 3 && !data.costMakeUpLock)
            // 成本-补录开启
            // 成本关闭=true && 结算单未复核 && 有成本关闭按钮权限 && 补录关闭标识=true（关闭时展示开启）
            feeMap.cost.btns[4].notShow = !(data.costClosed && data.status <= 3 && dataMap.hasCostCloseRight && data.costMakeUpLock)
            // 成本-补录关闭
            // 成本关闭=true && 结算单未复核 && 有成本关闭按钮权限 && 补录关闭标识=false(打开时展示关闭和补录)
            feeMap.cost.btns[5].notShow = !(data.costClosed && data.status <= 3 && dataMap.hasCostCloseRight && !data.costMakeUpLock)

            // 成本-调账
            // 【是否关账=True】显示
            feeMap.cost.btns[1].notShow = !(data.status >= 5)
            // 成本-新增
            // 【是否成本关闭=False】显示
            feeMap.cost.btns[2].notShow = data.costClosed
            // 成本-关闭
            // 业务已完成且全部成本费用状态为已确认 & 成本未关闭 && 有成本关闭权限
            feeMap.cost.btns[3].notShow = !(
                !data.unconfirmedCost &&
                data.status >= 2 &&
                !data.costClosed &&
                dataMap.hasCostCloseRight
            )
        }
        const downLoad = () => {
            settleTrackApi.settleTrackDetailDownload({
                statementId: dataMap.detailData.id && dataMap.detailData.id.toString(),
                statementNo: dataMap.detailData.no
            }).then(res => {
                window.open(res.data.fileUrl)
            })
        }
        // 请求基本信息数据
        const getLogisticsTrack = (no) => {
            settleTrackApi.logisticsTrack({ id: no.toString() }).then(res => {
                if (res.code == '200') {
                    dataMap.logisticsDetail = res.data
                }
            })
        }
        // 请求运输详情数据
        const getDeliveryDetail = (no) => {
            settleTrackApi.deliveryDetail({ id: no.toString() }).then(res => {
                if (res.code == '200') {
                    dataMap.deliveryList = res.data
                    console.log(dataMap.deliveryList)
                }
            })
        }

        /**
         * 中间信息区域 
         */
        const InfoMap = reactive({
            timeEventList: [],// 业务事件时间轴
            timeTrackList: [],// 业务跟踪时间轴
            timeOperateList: [],// 操作记录时间轴
        })
        const trackTime = [
            {
                name: '到港时间',
                prop: 'ata'
            },
            {
                name: '提箱时间',
                prop: 'suitcaseTime'
            },
            {
                name: '送达时间',
                prop: 'actualDeliveryTime'
            },
            {
                name: '还箱时间',
                prop: 'containerReturnTime'
            },
            {
                name: '业务完成时间',
                prop: 'businessCompletionTime'
            }
        ]
        const invoiceRecords = [
            {
                name: '成本关闭',
                timeProp: 'costCloseTime',
                nameProp: 'costCloserName'
            },
            {
                name: '收入关闭',
                timeProp: 'incomeCloseTime',
                nameProp: 'incomeCloserName'
            },
            {
                name: '结算复核',
                timeProp: 'reviewTime',
                nameProp: 'reviewerName'
            },
            {
                name: '关账',
                timeProp: 'closerTime',
                nameProp: 'closerName'
            }
        ]
        watch(
            () => dataMap.logisticsDetail,
            (newVal, oldVal) => {
                InfoMap.timeEventList = newVal.remarksMosVOS && newVal.remarksMosVOS.map(item => {
                    return {
                        value: `【${item.operation}】${item.remark}`,
                        time: item.createTime
                    }
                })
                InfoMap.timeTrackList = trackTime.filter(item => {
                    return (newVal[item.prop] ?? '') != ''
                }).map(item => {
                    return {
                        value: item.name,
                        time: newVal[item.prop]
                    }
                })
            }
        )
        watch(
            () => dataMap.detailData,
            (newVal, oldVal) => {
                InfoMap.timeOperateList = invoiceRecords.filter(item => {
                    return (newVal[item.timeProp] ?? '') != ''
                }).map(item => {
                    return {
                        value: `${newVal[item.nameProp] ? '【' + newVal[item.nameProp] + '】' : ''}${item.name}`,
                        time: newVal[item.timeProp]
                    }
                })
            }
        )

        /**
         * 收入，成本数据 
        */
        const addIncomePopRef = ref(null)
        const addCostPopRef = ref(null)
        const feeDetailPopRef = ref(null)
        const feeMap = reactive({
            currentDetail: {}, //当前打开的费用详情
            type: '', // income cost
            feeDetail: {},//费用详情
            feeType: 0, //费用类型(1-新增、2-补录、3-调账)
            income: {
                type: '收入',
                amount: '',
                feetype: [
                    {
                        feename: '货运代理费',
                        feeitems: []
                    },
                    {
                        feename: '额外费用',
                        feeitems: []
                    }
                ],
                btns: [
                    {
                        txt: '复核',
                        notShow: true,
                        callback: () => {
                            reviewStatement()
                        }
                    },
                    {
                        txt: '补录',
                        notShow: true,
                        callback: () => {
                            feeMap.feeType = 2
                            addIncomePopRef.value.openDialog()
                        }
                    },
                    {
                        txt: '调账',
                        notShow: true,
                        callback: () => {
                            feeMap.feeType = 3
                            addIncomePopRef.value.openDialog()
                        }
                    },
                    {
                        txt: '新增',
                        notShow: true,
                        callback: () => {
                            feeMap.feeType = 1
                            addIncomePopRef.value.openDialog()
                        }
                    },
                    {
                        txt: '关闭',
                        notShow: true,
                        callback: () => {
                            close('income')
                        }
                    },
                    {
                        txt: '补录开启',
                        notShow: true,
                        callback: () => {
                            closeMakeup('income')
                        }
                    },
                    {
                        txt: '补录关闭',
                        notShow: true,
                        callback: () => {
                            closeMakeup('income')
                        }
                    },
                ]
            },
            cost: {
                type: '成本',
                amount: '',
                feetype: [
                    {
                        feename: '货运代理费',
                        feeitems: []
                    },
                    {
                        feename: '额外费用',
                        feeitems: []
                    }
                ],
                btns: [
                    {
                        txt: '补录',
                        notShow: true,
                        callback: () => {
                            feeMap.feeType = 2
                            addCostPopRef.value.openDialog()
                        }
                    },
                    {
                        txt: '调账',
                        notShow: true,
                        callback: () => {
                            feeMap.feeType = 3
                            addCostPopRef.value.openDialog()
                        }
                    },
                    {
                        txt: '新增',
                        notShow: true,
                        callback: () => {
                            feeMap.feeType = 1
                            addCostPopRef.value.openDialog()
                        }
                    },
                    {
                        txt: '关闭',
                        notShow: true,
                        callback: () => {
                            close('cost')
                        }
                    },
                    {
                        txt: '补录开启',
                        notShow: true,
                        callback: () => {
                            closeMakeup('cost')
                        }
                    },
                    {
                        txt: '补录关闭',
                        notShow: true,
                        callback: () => {
                            closeMakeup('cost')
                        }
                    },
                ]
            },
        })
        // 复核
        const reviewStatement = async () => {
            const res = await settleTrackApi.settleTrackReview({
                id: dataMap.detailData.id.toString()
            })
            if (res.code == 200) {
                Message.success('复核成功')
                getDetail()
            }
        }
        // 关闭事件
        const close = (type) => {
            if (dataMap.detailData.profitAmount < 0) {
                // 利润<0时，需要判断另一方是否已关闭，例如果成本已关闭，现在关闭收入，则需要填写备注，
                // 同样收入已关闭，关闭成本时也需要填写备注
                if (type == 'income') {
                    if (dataMap.detailData.costClosed) {
                        closePopRef.value.openDialog(type)
                        return
                    }
                } else {
                    if (dataMap.detailData.incomeClosed) {
                        closePopRef.value.openDialog(type)
                        return
                    }
                }
            }
            closeFee(type)
        }
        // 补录开启/关闭
        const closeMakeup = async (type) => {
            let param
            if (type == 'income') {
                param = {
                    id: dataMap.detailData.id.toString(),
                    incomeMakeUpLock: !dataMap.detailData.incomeMakeUpLock,
                    costMakeUpLock: dataMap.detailData.costMakeUpLock
                }
            } else {
                param = {
                    id: dataMap.detailData.id.toString(),
                    incomeMakeUpLock: dataMap.detailData.incomeMakeUpLock,
                    costMakeUpLock: !dataMap.detailData.costMakeUpLock
                }
            }
            const res = await settleTrackApi.closeMakeup(param)
            if (res.code == 200) {
                getDetail()
            }
        }
        // 打开费用详情
        const getFeeDetail = (item = {}, type = '') => {
            feeMap.currentDetail = {
                feeCode: item.feeCode,
                currency: item.currency,
                lumpSumFee: item.lumpSumFee
            }
            feeMap.type = type
            queryDetailItem()
        }
        const queryDetailItem = async (val) => {//参数为费用详情修改后的币种
            // console.log(feeMap.currentDetail)
            if (feeMap.currentDetail.feeCode) {
                let res
                let param = {
                    statementId: dataMap.detailData.id.toString(),
                    feeCode: feeMap.currentDetail.feeCode,
                    currency: val?val:feeMap.currentDetail.currency,
                    lumpSumFee: feeMap.currentDetail.lumpSumFee
                }
                if (feeMap.type == 'income') {
                    res = await settleTrackApi.settleTrackIncomeDetail(param)
                } else {
                    res = await settleTrackApi.settleTrackCostDetail(param)
                }
                if (res.code == 200) {
                    feeMap.feeDetail = res.data || []
                    feeDetailPopRef.value.openDialog()
                }
            }
        }


        getRoleByPage()
        return {
            ...toRefs(dataMap),
            ...toRefs(InfoMap),
            ...toRefs(feeMap),
            closePopRef,
            joinBillPopRef,
            changeRolePopRef,
            addIncomePopRef,
            addCostPopRef,
            feeDetailPopRef,
            confirmRemark,
            confirm,
            changeRole,
            changeRolePopConfig,
            roleChange,
            save,
            changeLevel,
            getFeeDetail,
            getDetail,
            queryDetailItem,
        }
    }
})
</script>

<style lang="less" scoped>
.container {
    background-color: var(--color-bg-2);
    // max-width: 100%;
    display: flex;
    flex-direction: column;
    height: calc(~"100vh - 93px");

    .popup_text {
        font-size: 14px;
    }

    .page_content {
        flex: 1;
        background-color: #F7F8FA;
        overflow: auto;
        box-sizing: border-box;
        padding: 0 20px;
        padding-bottom: 20px;

        .base_info {
            height: 30vh;
            background-color: #fff;
            margin-top: 20px;
            overflow: auto;

            & /deep/ .arco-tabs-content {
                padding-top: 0;
            }
            & /deep/ .arco-tabs-tab{
              outline: none;
            }

            .base_info_pane {
                width: 100%;
                height: 100%;
                overflow: auto;
            }
        }

        .content_table_shell {
            display: flex;
            margin-top: 20px;

            .content_table {
                flex: 1;
                background-color: #fff;
                box-sizing: border-box;
                padding: 0 20px 20px 20px;

                &:first-child {
                    margin-right: 20px;
                }
            }
        }
    }
}
</style>