<template>
  <a-popover position="right" v-if="data.files && data.files.length > 0">
    <icon-attachment style="color:#2969FF" />
    <template #content>
      <div class="file_item" v-for="(file, fileIndex) in data.files" :key="file.id">
        <span class="file_name" @click="downLoadFile(file)">{{ file.fileName }}</span>
        <!-- <icon-delete @click="deleteFile(file, fileIndex, data)" v-if="canEdit"/> -->
        <a-popconfirm v-if="canEdit" content="确认删除？" position="right" @ok="deleteFile(file, fileIndex, data)">
          <DwButton type="text" shape="circle">
            <icon-delete />
          </DwButton>
        </a-popconfirm>
      </div>
    </template>
  </a-popover>
</template>

<script setup lang="ts">
import { ref, defineEmits } from 'vue'
import axios from '@/api/interceptor';
const props = defineProps({
  data: {
    type: Object,
    default: {}
  },
  canEdit: {
    type: Boolean,
    default: false
  }
})
const emit = defineEmits(['deleteFile'])
// 删除附件
const deleteFile = (item, attachIndex, data) => {
  emit('deleteFile', item, attachIndex, data)
}
// 查看附件
const downLoadFile = (row) => {
  let fileUrl = row.fileUrl || ''
  let fileName = row.fileName || ''
  let arr = fileUrl.split('.')
  let suffix = arr[arr.length - 1].toLocaleLowerCase()
  let types = ['png', 'jpg', 'jpeg', 'bmp', 'gif', 'pdf']

  if (suffix && types.indexOf(suffix) > -1) {
    window.open(fileUrl, '_blank')
  } else {
    const row = {
      fileName,
      fileUrl
    }
    window.location.href = fileUrl
    // handleDownload(row)
  }
}
// const handleDownload = (row, option = {}) => {
//   const { fileName = 'fileName', fileUrl = 'fileUrl' } = option
//   const link = document.createElement('a') // 创建a标签
//   link.target = '_blank'
//   link.download = row[fileName]
//   axios(row[fileUrl])
//     .then((res) => res.blob())
//     .then((blob) => {
//       link.href = URL.createObjectURL(blob)
//       link.click()
//       URL.revokeObjectURL(row[fileUrl])
//     })
// }
</script>

<style lang="less">
.file_item {
  display: flex;
  align-items: center;
  justify-content: space-between;

  &:nth-child(n + 2) {
    margin-top: 2px;
  }

  .file_name {
    font-size: 14px;
    color: #2969FF;
    margin-right: 20px;
    flex: 1;
    cursor: pointer;
  }
}
</style>