<template>
  <a-empty v-if="dataMap.tableData.length == 0" />
  <a-table v-if="dataMap.tableData.length" :scroll="scrollConfig" :row-selection="rowSelection" row-key="id"
    @selection-change="selectionParentChange" :data="dataMap.tableData" :pagination="false"
    :bordered="{ wrapper: true, cell: true }" :columns="columns" v-model:selectedKeys="dataMap.parentSelectedKeys"
    :expandable="expandableConfig">

    <template #statementNo="{ record }">
      <a-link @click="goToUrl(record)" :hoverable="false">{{ record.statementNo }}</a-link>
    </template>
    <template #operate="{ record }">
      <a-button type="text" v-if="!record.review" @click="receivableReview(record)">复核确认</a-button>
    </template>
    <template #expand-row="parent">
      <div class="children-row">
        <a-table :summary="summary" :columns="incomesColumns" row-key="feeCode"
          :row-selection="{ ...rowSelection, showCheckedAll: false }" :scroll="scrollConfig"
          :data="parent.record.incomes" :pagination="false"
          :bordered="{ wrapper: true, cell: true, headerCell: true, bodyCell: true }"
          v-model:selectedKeys="dataMap.selectedKeys[parent.record.id]"
          @selection-change="selectionChange($event, parent.record)">
          <template #feeName="{ record }">
            {{ record.feeName }}
            <dw-tag class="LC9" v-if="record.proxyFee">
              <template #word>代</template>
            </dw-tag>
            <FilePopover v-if="record.files && record.files.length > 0" :canEdit="true" @deleteFile="deleteFile"
              :data="record"></FilePopover>
          </template>
          <template #estimatedAmount="{ record }">
            {{record.sumSymbol}}{{ formatNum(record.estimatedAmount) }}
          </template>
          <template #actualAmount="{ record }">
            {{record.sumSymbol}}{{ formatNum(record.actualAmount) }}
          </template>
          <template #confirmAmount="{ record }">
            {{record.sumSymbol}}{{ formatNum(record.confirmAmount) }}
          </template>
          <template #discountAmount="{ record }">
            {{record.sumSymbol}}{{ formatNum(record.discountAmount) }}
          </template>
          <template #operate="{ record }">
            <a-button type="text" v-if="!record.isSummary &&
            !record.confirm && record.status > 1 &&
            record.actualAmount > 0 && !record.proxyFee" @click="remit(record, parent.record)">减免</a-button>
          </template>
        </a-table>
      </div>
    </template>
  </a-table>
</template>


<script lang="ts" setup>
import { setNumericText, totalNum } from '@/utils';
import {
  defineComponent,
  ref,
  watch,
  reactive,
  h,
  toRefs,
  computed,
  onMounted,
  nextTick,
} from 'vue';
import { cloneDeep } from 'lodash'
import router from '@/router'
import FilePopover from './filePopover.vue'
import { settleTrackApi } from '@/api/settleTrackApi';
import { Message } from '@arco-design/web-vue';
const emit = defineEmits(['selectChecked', 'remit', 'receivableReview'])
const props = defineProps({
  data: {
    type: Array,
    default: []
  }
})

// 清空选择
const clearSelect = () => {
  // console.log('cleat selected')
  dataMap.parentSelectedKeys = []
  dataMap.selectedKeys = {}
}

//复核确认
const receivableReview = (row) => {
  emit('receivableReview', row)
}
//减免
const remit = (row, propRow) => {
  emit('remit', row, propRow)
}

// 删除附件
const deleteFile = (item, attachIndex, data) => {
  settleTrackApi.settleTrackCostFile({
    id: item.id.toString(),
    type: item.type,
    fileUrl: item.fileUrl
  }).then(res => {
    if (res.code == '200') {
      Message.success('删除成功！')
      data.files.splice(attachIndex, 1)
    }
  })
}
const goToUrl = (obj) => {
  router.push({
    name: 'settleTrack/detail',
    query: {
      id: obj.id
    }
  })
}
watch(
  () => props.data,
  (newVal) => {
    dataMap.tableData = newVal
  }
)
const dataMap = reactive<any>({
  tableData: [],
  parentSelectedKeys: [],// 父表格选中keys
  selectedKeys: {},// 子表格选中keys
})
const scrollConfig = { x: '100%', y: '100%' }
const rowSelection = reactive({
  type: 'checkbox', showCheckedAll: true, width: 30, fixed: false,
  onlyCurrent: false,
})
const summary = ({ data }: any) => {
  let totalEstimatedAmount = 0;
  let totalActualAmount = 0;
  let totalConfirmAmount = 0;
  let totalDiscountAmount = 0;
  if (data.length == 0) return;
  data.forEach((record: any) => {
    totalEstimatedAmount += record.estimatedAmount//totalNum([totalEstimatedAmount,record.estimatedAmount])
    totalActualAmount += record.actualAmount//totalNum([totalActualAmount, record.actualAmount])
    totalConfirmAmount += record.confirmAmount//totalNum([totalConfirmAmount, record.confirmAmount])
    totalDiscountAmount += record.discountAmount//totalNum([totalDiscountAmount,record.discountAmount])
  });
  return [
    {
      feeName: '合计',
      estimatedAmount: totalEstimatedAmount,
      actualAmount: totalActualAmount,
      confirmAmount: totalConfirmAmount,
      discountAmount: totalDiscountAmount,
      sumSymbol: data[0].currencySymbol,
      isSummary: true
    },
  ];
};
const expandableConfig = {
  title: '',
  width: 20,
}

const columns = [
  { title: '业务编号', dataIndex: 'statementNo', slotName: 'statementNo', width: '140' },
  { title: 'MB/L', dataIndex: 'mblNo', slotName: 'mblNo', width: '140' },
  { title: 'PI号', dataIndex: 'piNo', slotName: 'piNo', width: '100' },
  { title: '到港日期', dataIndex: 'ata', slotName: 'ata', width: '90' },
  { title: '销售品名', dataIndex: 'salesGoods', slotName: 'salesGoods', width: '120' },
  { title: '箱型箱量', dataIndex: 'boxTypeBoxVolume', slotName: 'boxTypeBoxVolume', width: '100' },
  { title: '操作', dataIndex: '', slotName: 'operate', width: '100' },
];
const incomesColumns = [
  { title: '费用项目', dataIndex: 'feeName', slotName: 'feeName', width: '100' },
  // { title: '附件', dataIndex: 'files', slotName: 'files', width: '90' },
  { title: '预估金额(含税)', dataIndex: 'estimatedAmount', feeName: 'estimatedAmount', slotName: 'estimatedAmount', width: '100' },
  { title: '对账金额', dataIndex: 'actualAmount', slotName: 'actualAmount', width: '100' },
  { title: '确认金额', dataIndex: 'confirmAmount', slotName: 'confirmAmount', width: '100' },
  { title: '减免金额', dataIndex: 'discountAmount', slotName: 'discountAmount', width: '100' },
  { title: '发票类型', dataIndex: 'invoiceName', slotName: 'invoiceName', width: '90' },
  { title: '税率', dataIndex: 'invoiceTaxRate', slotName: 'invoiceTaxRate', width: '90' },
  { title: '操作', dataIndex: '', slotName: 'operate', width: '100' },
]

// 父级选项变化
const selectionParentChange = (rowKeys: string[]) => {
  for (let key in dataMap.selectedKeys) {
    dataMap.selectedKeys[key] = []
  }
  rowKeys.forEach((v: string) => {
    let t = dataMap.tableData.find((i: any) => i.id == v)
    dataMap.selectedKeys[t.id] = t.incomes.map((el: any) => el.feeCode)
  })
  emitSelectChecked()
}
// 子级选项变化
const selectionChange = (rowKeys: string[], record: any) => {
  if (record.incomes.length === rowKeys.length) {
    !dataMap.parentSelectedKeys.includes(record.id) && dataMap.parentSelectedKeys.push(record.id)
  } else {
    let i = dataMap.parentSelectedKeys.indexOf(record.id)
    if (i !== -1) dataMap.parentSelectedKeys.splice(i, 1)
  }
  emitSelectChecked()
}

const emitSelectChecked = async (type?: number) => {
  await nextTick()
  let arr = []
  let keys = dataMap.selectedKeys
  for (let key in keys) {
    if (!keys[key] || keys[key].length == 0) continue
    let item = cloneDeep(dataMap.tableData).find(v => v.id == key)
    item.incomes = item.incomes.filter(v => keys[key].includes(v.feeCode))
    arr.push(item)
  }
  emit("selectChecked", arr)
}

const formatNum = (val) => {
  return setNumericText(val, { commas: true, zeroText: '0.00' })
}

defineExpose({
  clearSelect
})
</script>

<style scoped>
.no-span {
  display: inline-block;
  margin-right: 20px;
}

.children-row {
  margin: 10px 0 30px 80px;
}
</style>