* {
  box-sizing: border-box;
}
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-size: 14px;
  background-color: var(--color-bg-1);
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}
.echarts-tooltip-diy {
  background: linear-gradient(304.17deg, rgba(253, 254, 255, 0.6) -6.04%, rgba(244, 247, 252, 0.6) 85.2%) !important;
  border: none !important;
  backdrop-filter: blur(10px) !important;
  /* Note: backdrop-filter has minimal browser support */
  border-radius: 6px !important;
}
.echarts-tooltip-diy .content-panel {
  display: flex;
  justify-content: space-between;
  padding: 0 9px;
  background: rgba(255, 255, 255, 0.8);
  width: 164px;
  height: 32px;
  line-height: 32px;
  box-shadow: 6px 0px 20px rgba(34, 87, 188, 0.1);
  border-radius: 4px;
  margin-bottom: 4px;
}
.echarts-tooltip-diy .tooltip-title {
  margin: 0 0 10px 0;
}
.echarts-tooltip-diy p {
  margin: 0;
}
.echarts-tooltip-diy .tooltip-title,
.echarts-tooltip-diy .tooltip-value {
  font-size: 13px;
  line-height: 15px;
  display: flex;
  align-items: center;
  text-align: right;
  color: #1d2129;
  font-weight: bold;
}
.echarts-tooltip-diy .tooltip-item-icon {
  display: inline-block;
  margin-right: 8px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
}
.general-card {
  border-radius: 4px;
  border: none;
}
.general-card > .arco-card-header {
  height: auto;
  padding: 20px;
  border: none;
}
.general-card > .arco-card-body {
  padding: 0 20px 20px 20px;
}
.split-line {
  border-color: rgb(var(--gray-2));
}
.arco-table-cell .circle {
  display: inline-block;
  margin-right: 4px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: rgb(var(--blue-6));
}
.arco-table-cell .circle.pass {
  background-color: rgb(var(--green-6));
}
.vertical {
  width: 4px;
  height: 16px;
  background: #2969ff;
  border-radius: 5px;
  flex: none;
  margin-right: 8px;
  order: 0;
  flex-grow: 0;
}
.font {
  font-size: 16px;
  font-weight: 500;
  color: #1D2129;
}
.cp {
  cursor: pointer;
}
:deep(.arco-modal-body) {
  text-align: center;
}
