<!--
 * @Description:客户合同详情(双方/三方/控货双方/试做)
 * 补充协议--下：报价确认书+附件+审批记录
 * 形式协议--下：附件+审批记录
-->
<template>
  <div class="container" ref="containerRef">
    <PageHeadC title="报价书基本信息">
      <template #tip>
        <dw-tag class="LC9">
          <template #word>
            由 {{ form.createUserName }} 创建于 {{ form.createTime }}
          </template>
        </dw-tag>
      </template>
    </PageHeadC>
    <div class="page_content">
      <div class="baseinfo">
        <DescribeList title="基本信息" :data="form" :columns="baseInfoColumn">
          <template #containerType="{ record }">
            {{ record.packingTypeName }}
          </template>
          <template #quotationWay="{ record }">
            {{
              (record.quotationWay === 1 && '按柜') ||
              (record.quotationWay === 2 && '按吨') ||
              (record.quotationWay === 3 && '按票') ||
              '--'
            }}
          </template>
          <template #validityStartDate="{ record }">
            <div v-if="record.validityStartDate">
              {{
                record.validityStartDate.substring(0, 10) +
                '至' +
                record.validityEndDate.substring(0, 10)
              }}
            </div>
          </template>
          <template #isSingleOpen="{ record }">
            <div>
              {{ record.isSingleOpen ? '是' : '否' }}
            </div>
          </template>
          <template #isTrialNumber="{ record }">
            <div>
              {{ record.trialNumber || record.trialDays ? '是' : '否' }}
            </div>
          </template>
          <!-- <template #contractInfoServiceVOList="{ record }">
            <span
              v-for="(item, index) in record.contractInfoServiceVOList"
              :key="item.id.toString()"
              style="
                 {
                  margin-right: '10px';
                }
              "
            >
              {{ item.serviceProject
              }}{{
                record.contractInfoServiceVOList.length - 1 === index
                  ? ''
                  : '、'
              }}</span
            >
          </template>
          <template #controlGoodsList="{ record }">
            <span v-html="record.controlGoodsCnNameText"></span>
          </template> -->
        </DescribeList>
      </div>
      <div class="tabs_shell">
        <template
          v-if="
            form.contractTypeCode != 'XSXY' && form.contractTypeCode != 'BCXY'
          "
        >
          <a-tabs   :justify="true">
            <a-tab-pane  title="清关运输" v-if="showTrans">
              <div class="base_info_pane">
                <a-card :bordered="false" :style="{ width: '100%' }">
                  <a-table
                    height="300"
                    :columns="transColumns"
                    :data="transData"
                    :pagination="false"
                  >
                    <template #btn="{ record, rowIndex }">
                      <div>
                        <DwButton
                          type="text"
                          size="small"
                          @click="showCalc({ record, rowIndex })"
                        >
                          成本核算表
                        </DwButton>
                      </div>
                    </template>
                    <template #operator="{ record, rowIndex }">
                      <a-dropdown trigger="click" position="bl">
                        <a-button
                          size="mini"
                          type="text"
                          class="operateBtn"
                          v-show="rowIndex || data.length === 1"
                        >
                          <template #icon>
                            <icon-more-vertical />
                          </template>
                        </a-button>
                        <template #content>
                          <a-doption
                            v-for="(item, index) in operateList"
                            :key="index"
                          >
                            <span
                              v-if="item.name === '删除'"
                              @click="
                                item.confirmDelete &&
                                  item.confirmDelete({ record, done })
                              "
                              :style="{
                                color: item.color,
                                padding: '0 10px 0 3px',
                              }"
                              >{{ item.name }}</span
                            >
                            <span
                              v-else
                              @click="
                                item.callback &&
                                  item.callback({ record, rowIndex })
                              "
                              :style="{
                                color: item.color,
                                padding: '0 10px 0 3px',
                              }"
                              >{{ item.name }}</span
                            >
                            <!-- {{item.name}} -->
                          </a-doption>
                        </template>
                      </a-dropdown>
                    </template>
                    <!-- 柜数 -->
                    <template #containerCount="{ record: { quoteSummerList } }">
                      <div v-if="quoteSummerList && quoteSummerList.length > 1">
                        <p
                          v-for="(item, index) in quoteSummerList"
                          :key="index"
                        >
                          {{ item.containerCount }}
                        </p>
                      </div>
                      <div v-else>
                        {{
                          (quoteSummerList &&
                            quoteSummerList.length === 1 &&
                            '单柜') ||
                          '--'
                        }}
                      </div>
                    </template>
                    <!-- 报价 -->
                    <template #quoteAmount="{ record: { quoteSummerList } }">
                      <!-- <span v-if="quoteSummerList">{{record.quoteSummerList}}</span> -->
                      <div
                        v-if="
                          Array.isArray(quoteSummerList) &&
                          quoteSummerList.length > 0
                        "
                      >
                        <div v-for="(item, i) in quoteSummerList" :key="i">
                          <a-tooltip
                            v-if="item.isLessThanBasePrice"
                            class="item"
                            effect="dark"
                            content="低于基准价需要特批"
                            placement="right"
                          >
                            <span style="color: red">{{
                              item.quoteAmount
                            }}</span>
                          </a-tooltip>
                          <p v-else>
                            {{ item.quoteAmount }}
                          </p>
                        </div>
                      </div>
                      <div v-else>
                        {{ '--' }}
                      </div>
                    </template>
                    <!-- 运价 -->
                    <template #freightAmount="{ record: { quoteSummerList } }">
                      <div v-if="quoteSummerList && quoteSummerList.length > 1">
                        <p
                          v-for="(item, index) in quoteSummerList"
                          :key="index"
                        >
                          {{ item.freightAmount }}
                        </p>
                      </div>

                      <div v-else>
                        {{
                          (quoteSummerList &&
                            quoteSummerList.length === 1 &&
                            quoteSummerList[0].freightAmount) ||
                          '--'
                        }}
                      </div>
                    </template>
                    <template #quoteAmountTitle>
                      <div>
                        报价{{
                          form.quotationWay == 1
                            ? '（元/柜）'
                            : '（元/吨）'
                        }}
                      </div>
                    </template>
                    <template #freightAmountTitle>
                      <div>
                        运价{{
                          form.quotationWay == 1
                            ? '（元/柜）'
                            : '（元/吨）'
                        }}
                      </div>
                    </template>
                  </a-table>
                </a-card>
              </div>
            </a-tab-pane>
            <a-tab-pane  title="仓储" v-if="offerServiceList?.includes('仓储')">
              <div class="base_info_pane">
                <UploadFile
                  @onUpdate="pageInfo"
                  :showTitle="false"
                  :contractInfo="form"
                ></UploadFile>
              </div>
            </a-tab-pane>
          </a-tabs>
        </template>
      </div>
      <div class="baseinfo">
        <DescribeList title="费用范围" :data="{}" :columns="[]">
          <template #fee>
            <div>
              <p v-show="form.packingTypeName !== '整箱'"
                >港口：{{ form.portName }}</p
              >
              <p style="font-size: 16px">包干费用</p>
              <p
                ><span
                  v-for="(item, index) in form?.offerCostItemList?.filter(
                    (curItem) => curItem.isLumpSum
                  )"
                  :key="index"
                  >{{ item.costItemCname }}、</span
                ></p
              >
              <p style="font-size: 16px">非包干费用</p>
              <p
                ><span
                  v-for="(item, index) in form?.offerCostItemList?.filter(
                    (curItem) => !curItem.isLumpSum
                  )"
                  :key="index"
                  >{{ item.costItemCname }}、</span
                ></p
              >
            </div>
          </template>
        </DescribeList>
      </div>
      <div class="baseinfo">
        <DescribeList title="税点及结算方式" :data="{}" :columns="[]">
          <template #fee>
            <div class="tabel-box">
              <div>
                <div class="costTitle">税点</div>
                <div class="close">
                  <div>
                    <p>税金期限</p>
                    <p class="taxValue">
                      {{
                        form.taxDeadline == 1
                          ? '收到《缴款通知书》后当天'
                          : '预收'
                      }}
                    </p>
                  </div>
                  <div>
                    <p>额外费用税点</p>
                    <p class="taxValue">{{ form.additionalCostsTax }}</p>
                  </div>
                  <div v-if="form.isSingleOpen">
                    <p>运输服务税率</p>
                    <p class="taxValue">9%</p>
                  </div>
                </div>
              </div>
              <div style="margin-top: 20px">
                <div class="costTitle">结算方式</div>
                <div class="way">
                  <span>
                    <span v-if="form.settlementDeadline == 1">
                      第一种：业务完成后{{ form.settlementDeadlineValue }}付款
                    </span>
                    <span v-if="form.settlementDeadline == 2">
                      第二种：收到账单后{{
                        form.workingDays
                      }}个工作日完成确认，收到发票后{{
                        form.invoiceWorkingDays
                      }}个工作日付款
                    </span>
                    <span v-if="form.settlementDeadline == 3"
                      >第三种：{{ form.settlementDeadlineOther }}</span
                    >
                  </span>
                  <span> </span>
                </div>
              </div>
              <div style="margin-top: 20px">
                <div class="costTitle">其他约定</div>
                <div class="way">
                  <span> {{ form.remark }}</span>
                </div>
              </div>
            </div>
          </template>
        </DescribeList>
      </div>
      <a-modal
        :mask-closable="false"
        v-model:visible="modelVisible"
        width="90vw"
        hide-cancel
        @ok="() => (modelVisible = false)"
        ok-text="关闭"
      >
        <template #title> 成本核算表</template>
        <div v-if="modelVisible" style="max-height: 80vh; overflow-y: scroll">
          <AddPriceView
            :modalParams="modalParams"
            v-if="modelVisible"
          ></AddPriceView>
        </div>
      </a-modal>
    </div>
  </div>
</template>

<script lang="ts">
import {
  defineComponent,
  ref,
  reactive,
  nextTick,
  toRefs,
  onMounted,
  computed,
} from 'vue';
import { Message } from '@arco-design/web-vue';
import { useRouter } from 'vue-router';
import router from '@/router';
import { createOffer } from '@/api/createOffer';
import PageHeadC from './components/pageHeadC.vue';
import DescribeList from './components/describeList.vue';
import UploadFile from './components/uploadFile/index.vue';
import AddPriceView from './components/addPriceView/index.vue';
import { contractManage } from '@/api/contractManage';
import Approve from '@/views/CRM/components/approve.vue';
import { useRoute } from 'vue-router';

export default defineComponent({
  name: 'detail',
  components: { PageHeadC, DescribeList, UploadFile, Approve, AddPriceView },
  setup() {
    const route = useRouter().currentRoute.value;
    const approveRef = ref(null);
    const dataMap = reactive({
      form: {}, //基本信息数据
      contractDetails: [], //报价确认书列表
      sideAgreement: [], //补充协议列表
      payerInformation: [], //关联付款方列表
      baseInfoColumn: [],
    });
    const infoColumn1 = [
      //基本信息
      {
        title: '报价单',
        dataIndex: 'quotationNo',
      },
      {
        title: '客户名称',
        dataIndex: 'customerName',
      },
      {
        title: '货箱类型',
        slotName: 'containerType',
      },
      {
        title: '品类',
        dataIndex: 'goodsName',
      },
      {
        title: '销售品名',
        dataIndex: 'categoryName',
      },
      {
        title: '报价方式',
        slotName: 'quotationWay',
      },
      {
        title: '服务项目',
        dataIndex: 'serviceInfo',
      },
      {
        title: '报价销售',
        dataIndex: 'salesmanInfo',
      },
      {
        title: '有效期',
        slotName: 'validityStartDate',
      },
      {
        title: '运输税点是否单开9%',
        slotName: 'isSingleOpen',
      },
      {
        title: '预估月柜量',
        dataIndex: 'forecastOnCounters',
      },
      {
        title: '是否试做',
        slotName: 'isTrialNumber',
      },
      {
        title: '合作商名称',
        dataIndex: 'namePartners',
      },
      {
        title: '合作商价格',
        dataIndex: 'pricePartners',
      },
    ];

    const transData = ref([]);
    const offerServiceList = ref([]);
    const pageInfo = async () => {
      let params = {
        id: route.query.id,
      };
      await createOffer.quoteBookInfo(params).then((res) => {
        if (res.code == 200) {
          dataMap.baseInfoColumn = infoColumn1;
          dataMap.form = res.data;
          if(res.data.isSingleOpen){
            transColumns.value.splice(6,0,{
              title: '运价',
              dataIndex:'freightAmount',
              slotName: 'freightAmount',
              titleSlotName:'freightAmountTitle'
            })
            console.log(transColumns.value)
          }

          offerServiceList.value = dataMap.form.offerServiceList?.map(
            (item) => item.serviceProject
          );
        }
      });
      // 报价列表
      createOffer.quoteDetailList(params).then(({ code, data }) => {
        transData.value.length = 0;
        if (code === '200') {
          transData.value = data;
        }
      });
    };

    const handleViewCalc = () => {};
    onMounted(() => {
      pageInfo();
    });
    const modelVisible = ref(false);
    const modalParams = reactive({
      record: {},
      index: 2,
      ModalTitle: { edit: '编辑报价测算' },
    });
    // 获取详情 --用于编辑
    const getDetails = (record) => {
      return new Promise((resolve, reject) => {
        contractManage
          .quoteDetailInfo({ id: record.id })
          .then(({ code, data }) => {
            if (code === '200') {
              const newData = { ...data },
                lump = [],
                noLump = [];
              data.costItemList.map((item) => {
                if (data.standardProductsId) {
                  if (item.isLumpSum) {
                    lump.push({ ...item });
                  } else {
                    noLump.push({ ...item });
                  }
                } else {
                  return item;
                }
              });
              newData.lump = lump;
              newData.noLump = noLump;
              resolve(newData);
            } else {
            }
          });
      });
    };
    const showCalc = ({ record, rowIndex }) => {
      getDetails(record).then((res) => {
        console.log(999999999, res);
        modelVisible.value = true;
        modalParams.title = '编辑报价测算';
        modalParams.ModalTitle = { edit: '编辑报价测算' };
        modalParams.row = { ...res, detailsId: record.id };
        modalParams.index = rowIndex;
      });
    };
    // 清关运输是否展示

    const showTrans = computed(() => {
      if (offerServiceList?.value?.length >= 2) {
        return true;
      } else if (offerServiceList.value?.length === 1) {
        if (offerServiceList.value?.includes('仓储')) {
          return false;
        }
        return true;
      }
      return false;
    });
 const payerColumns = [
      {
        title: '付款方名称',
        dataIndex: 'customerName',
      },
      {
        title: '签约日期',
        dataIndex: 'signUpDate',
      },
      {
        title: '到期日期',
        dataIndex: 'dueToDate',
      },
      {
        title: '销售',
        dataIndex: 'signSalesman',
      },
      {
        title: '来源',
        dataIndex: 'source',
      },
      {
        title: '提交时间',
        dataIndex: 'submitTime',
      },
    ];
    const transColumns = ref([
      {
        title: '港口',
        dataIndex: 'portName',
      },
      {
        title: '港区',
        dataIndex: 'portArea',
      },
      {
        title: '门点',
        dataIndex: 'doorName',
      },
      {
        title: '箱型箱类',
        dataIndex: 'containerSizeType',
      },
      {
        title: '柜数(柜)',
        slotName: 'containerCount',
      },
      {
        title: '报价',
        slotName: 'quoteAmount',
        titleSlotName: 'quoteAmountTitle',
      },
      {
        title: '操作',
        slotName: 'btn',
      },
    ]);
    return {
      transColumns,
      showTrans,
      offerServiceList,
      showCalc,
      modalParams: modalParams,
      modelVisible,
      ...toRefs(dataMap),
      transData,
      approveRef,
      pageInfo,
      handleViewCalc,
    };
  },
});
</script>

<style lang="less" scoped>
.container {
  background-color: #f7f8fa; //var(--color-bg-2);
  display: flex;
  flex-direction: column;
  height: calc(~'100vh - 92px');
  overflow: auto;

  .page_content {
    flex: 1;
    overflow: auto;
    padding: 0 20px;

    .baseinfo {
      background-color: var(--color-bg-2);
      margin-top: 20px;
    }

    .tabs_shell {
      background-color: var(--color-bg-2);
      margin-top: 20px;
      margin-bottom: 20px;

      & /deep/ .arco-tabs-content {
        padding-top: 0;
      }
      & /deep/ .arco-tabs-tab {
        outline: none;
      }
    }
  }

  .tabel-box {
    margin-top: 10px;
    .close {
      width: 50%;
      margin-top: 10px;
      // font-size: 12px;
      display: flex;
      justify-content: space-between;
    }
    .taxValue {
      margin-top: 10px;
    }
    .way {
      margin-top: 10px;
      // font-size: 12px;
    }
    .costTitle {
      // font-size: 12px;
      color: #3f4254;
      font-weight: 700;
    }
  }
}
</style>