<template>
  <div class="container">
    <div>
      <a-modal v-model:visible="modelVisible" :mask-closable="false">
        <template #title>  </template>
        <div v-if="modelVisible">
          <a-select :style="{ width: '320px' }" placeholder="请选择" v-model="copyParams.item">
            <a-option v-for="item in contractTitleListCmp" :key="item.codesValues" :value="item.codeName">{{ item.codeName
            }}</a-option>
          </a-select>
        </div>
        <template #footer> 
          <a-button @click="()=>{modelVisible = false}">取消</a-button>
          <a-button type="primary" @click="confirmSelect">确定</a-button>
        </template>
      </a-modal>
      <!-- 按钮区域 -->
      <button-area>
        <template #left>
          <!-- 搜索 -->
          <search-btn v-model="searchword" placeholder="客户名称/申请单号/合同编号"></search-btn>
          <!-- 自定义筛选 -->
          <filter-btn v-model:pageInitFilters="pageInitFilters" :viewUserId="viewUserId" :viewSystemId="viewSystemId"
            ref="filterRef"></filter-btn>
          <!-- 自定义列 -->
          <custom-column v-model:pageInitColumns="pageInitColumns" :viewUserId="viewUserId" :viewType="viewType"
            :viewSystemId="viewSystemId" @submitSuccess="submitSuccess"></custom-column>
          <!-- 导出 -->
          <export-table @click="exportTable"></export-table>
          <!-- 全屏 -->
          <screen-btn></screen-btn>
          <!-- 刷新按钮执行列表初始化 -->
          <sync-btn @click="syncData"></sync-btn>
        </template>

        <template #right>
          <!-- :disabled="true"  禁用编辑按钮 -->
          <!-- 编辑表格 -->
          <edit-table v-model="isEditDisabled"></edit-table>
          <a-dropdown position="bottom">
            <DwButton type="primary">合同签约</DwButton>
            <template #content>
              <a-doption @click="addContract(item.codeName)" v-for="(item, index) in contractTitleList" :key="index">
                {{ item.codeName }}
              </a-doption>
              <!-- <DwButton
                long
                @click="addContract(item.codeName)"
                v-for="(item, index) in contractTitleList"
                :key="index"
              >
                {{ item.codeName }}
              </DwButton> -->
            </template>
          </a-dropdown>
        </template>
      </button-area>
      <!-- {{modalVisible}} -->

      <div class="table-wrap">
        <CommonTableOrder :url="contractList" :viewUserId="viewUserId" :viewInfo="viewInfo" :searchword="searchword"
          :viewFilterRule="viewFilterRule" :columns="columns" :syncFlag="syncFlag" column-resizable
          :bordered="{ cell: true }" :operateList="operateList" @openFilter="openFilter" @getSelectData="getSelectData"
          @paginationWidth="paginationWidth" ref="commonTableRef">
        </CommonTableOrder>
      </div>

      <tab-view :viewType="viewType" :changeViewId="changeViewId" @submitViewHandle="submitViewHandle"
        @submitDelete="submitDelete" @currentTabViewId="currentTabViewId" @chooseFields="chooseFields"
        @viewFilterRuleChange="viewFilterRuleChange" @currentTabviewName="currentTabviewName"
        :paginationWidthNum="paginationWidthNum" ref="tabViewRef"></tab-view>

      <tab-view-modal v-model="modalVisible" :title="tabViewModelTitle" :defaultActiveKey="defaultActiveKey"
        v-model:modalParams="modalParams" @syncTabViewList="syncTabViewList"></tab-view-modal>
    </div>
  </div>
  <!-- 正本签收 -->
  <signatrue-dialog ref="signatrueDialogRef"></signatrue-dialog>
  <!-- 额外费用登记 -->
  <extra-dialog ref="extraDialogRef"></extra-dialog>
  <fileUp></fileUp>
</template>

<script lang="ts" setup>
</script>

<script lang="ts">
import { defineComponent, ref, watch, reactive, toRefs, computed } from 'vue';
import { contractManage } from '@/api/contractManage'; //当前页面api
import { useUserStore } from '@/store';
import CommonTableOrder from './components/common-table/index.vue';
import signatrueDialog from './components/signatureDialog.vue';
import extraDialog from './components/extraDialog.vue';
import { useRouter } from 'vue-router';
import { Message } from '@arco-design/web-vue';
// import fileUp from './compoentsRowEdit/fileUp.vue';
export default defineComponent({
  name: 'contractManage',
  components: { signatrueDialog, extraDialog, CommonTableOrder },
  setup(props, { emit, slots, attrs }) {
    const router = useRouter();
    const filterRef = ref([]);
    const commonTableRef = ref([]);
    const tabViewRef = ref<any>(null);
    const store = useUserStore();
    const userId = store.userId;
    //#region 复制合同
    const modelVisible = ref(false);
    const copyParams = ref({});

    const confirmSelect = async () => {
      console.log('first', copyParams.value);
      if(!copyParams.value.item) return Message.error('请选择合同类型'); 
      const { codesValues: contractTypeCode, codeName: contractType } =
        contractTitleList.find(
          (item) => item.codeName === copyParams.value.item
        );
      const params = {
        id: copyParams.value.id,
        contractTypeCode,
        contractType,
      };
      let contractInfoId;
      await contractManage.contractCopy(params).then((res) => {
        console.log('contractCopy', res);
        if (res.code == '200') {
          contractInfoId = String(res.data.id);
        } else {
          Message.error(res.message);
        }
      });
      let cusSalesman;
      await contractManage.getUserRoleList({ userId }).then((res) => {
        if (res.code == '200') {
          cusSalesman =
            res.data.map(({ roleName }) => roleName).indexOf('销售员') !== -1
              ? 1
              : 0;
        } else {
          Message.error(res.message);
        }
      });
      if (params.contractType === '双方协议') {
        router.push({
          path: '/mos/CRM/contract/list/mutualAgreement',
          query: {
            contractInfoId,
            cusSalesman,
            item: params.contractType
          },
        });
      } else if (params.contractType === '三方协议') {
        router.push({
          path: '/mos/CRM/contract/list/tripartiteAgreement',
          query: {
            contractInfoId,
            cusSalesman,
            item: params.contractType
          },
        });
      } else if (params.contractType === '控货双方协议') {
        router.push({
          path: '/mos/CRM/contract/list/agreementParites',
          query: {
            contractInfoId,
            cusSalesman,
            item: params.contractType
          },
        });
      } else {
        router.push({
          path: '/mos/CRM/contract/list/tryAgreement',
          query: {
            contractInfoId,
            cusSalesman,
            item: params.contractType
          },
        });
      }
      // 选择合同弹窗关闭
      modelVisible.value = false
    };

    //#endregion

    const dataMap = reactive({
      hasTabData: false,
      selectedData: [], // 表格已选择的数据   用于右侧按钮操作时的数据
      syncFlag: 0, // 刷新标志
      contractList: contractManage.contractList, // 表格请求的地址  不同的列表页  地址会变化
      viewType: '13', // 运单列表代码 1
      viewUserId: '', // 用户视图ID
      changeViewId: '',
      tabHandleViewUserId: '', // 用户视图ID
      viewInfo: {}, // 用户视图ID 系统视图ID
      viewSystemId: '', // 用户视图ID 系统视图ID
      viewFilterRule: '', // 视图筛选项
      initFilters: '', // 保存视图原始筛选项
      columns: [], // 动态表头表头
      initColumns: [], // 保存视图原始表头
      pageInitColumns: [], // 页面自定义列信息
      modalParams: {}, // 视图弹框配置
      pageInitFilters: '',
      filterlist: [],
      customcolumn: {},
      operateList: [
        {
          name: '编辑',
          icon: '',
          color: 'rgba(41, 105, 255, 1)',
          // TODO
          isShow: (record) =>
            record.status === 0 || record.status === 3 || record.status === 2,
          callback: async ({ id: contractInfoId, contractType: item }: any) => {
            console.log('00000', contractInfoId);
            // TODO

            let cusSalesman; //是否为销售员
            await contractManage.userRoleList({ userId }).then((res) => {
              if (res.code == '200') {
                cusSalesman =
                  res.data
                    .map(({ roleName = '' }) => roleName)
                    .indexOf('销售员') !== -1
                    ? 1
                    : 0;
              } else {
              }
            });
            if (item === '双方协议') {
              router.push({
                path: '/mos/CRM/contract/list/mutualAgreement',
                query: {
                  contractInfoId,
                  item,
                  cusSalesman,
                },
              });
            } else if (item === '三方协议') {
              router.push({
                path: '/mos/CRM/contract/list/tripartiteAgreement',
                query: {
                  contractInfoId,
                  item,
                  cusSalesman,
                },
              });
            } else if (item === '控货双方协议') {
              router.push({
                path: '/mos/CRM/contract/list/agreementParites',
                query: {
                  contractInfoId,
                  item,
                  cusSalesman,
                },
              });
            } else if (item === '形式协议') {
              router.push({
                path: '/mos/CRM/contract/list/formalAgreement',
                query: {
                  contractInfoId,
                  item,
                  cusSalesman,
                },
              });
            } else if (item === '补充协议/新增报价') {
              router.push({
                path: '/mos/CRM/contract/list/supplementaryAgreement',
                query: { item, cusSalesman, contractInfoId },
              });
            } else if (item === '试做报价') {
              router.push({
                path: '/mos/CRM/contract/list/tryAgreement',
                query: { item, cusSalesman, contractInfoId },
              });
            }
          },
        },
        {
          name: '复制',
          icon: '',
          color: 'rgba(41, 105, 255, 1)',
          isShow: (record: any) => {
            return (
              record.status !== 0 &&
              record.contractType !== '形式协议' &&
              record.contractType !== '补充协议/新增报价'
            );
          },
          callback: (record: any) => {
            copyParams.value.id = record.id;
            modelVisible.value = true;
          },
        },
        {
          name: '撤回',
          icon: '',
          color: 'rgba(41, 105, 255, 1)',
          isShow: (record: any) => record.status === 4 || record.status === 1,
          callback: (record: any) => {
            let param = {
              id: record.id.toString(),
            };
            contractManage.contractRecall(param).then((res) => {
              if (res?.code == '200') {
                router.go(0);
                Message.success('撤回成功');
              }
            });
          },
        },
        // {
        //   name: '货物清单上传',
        //   icon: '',
        //   color: 'rgba(41, 105, 255, 1)',
        //   isShow: (record: any) => {
        //     // TODO
        //     // 根据record里面的字断判断
        //     console.log(record, '根据record里面的字断判断');
        //     return record.cargoListFlag;
        //   },
        //   callback: (id: any) => {
        //     console.log('first', id);
        //     // TODO
        //   },
        // },
        // {
        //   name: '删除',
        //   icon: '',
        //   color: 'rgba(245, 63, 63, 1)',
        //   isShow: (record: any) => {
        //     // TODO
        //     // 根据record里面的字断判断
        //     return true;
        //   },
        //   callback: (id: any) => {
        //     console.log('22222', id);
        //     // TODO
        //     // 先弹框确认 再删除
        //   },
        // },
      ],
      searchword: '',
      searchPopupVisible: false,
      isEditDisabled: false, //
      PaginationProps: {
        'size': 'mini',
        'total': 100000,
        'current': 1, //  当前页码
        'show-page-size': true,
        'page-size-options': [10, 20, 30, 40, 50],
        'show-total': true,
        'show-jumper': true,
      },
      modalVisible: false, // 控制新增/编辑/复制视图弹窗是否显示
      tabViewModelTitle: '新增视图', // 视图弹窗title
      defaultActiveKey: '1', // 视图默认展示的tab标签 类型string
      paginationWidthNum: 0,
      currentViewName: '',
      viewName: '',
    });

    const exportTable = () => {
      // 导出当前搜索条件下的数据
      console.log(commonTableRef.value.params);
      contractManage.exportContractDownload(commonTableRef.value.params).then(response=>{
        let blob = new Blob([response], {
          type: 'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet;charset=utf-8'
        })
        let url = window.URL.createObjectURL(blob)
        const link = document.createElement('a') // 创建a标签
        link.href = url
        link.download = '客户合同列表'
        link.click()
        URL.revokeObjectURL(url) // 释放内存
      })
    };
    //#region 关于合同签约
    // 下拉框内容
    const contractTitleList = reactive([]);
    // 新增

    console.log(store, '##############################');
    const addContract = async (item: string) => {
      let cusSalesman; //是否为销售员
      await contractManage.userRoleList({ userId }).then((res) => {
        if (res.code == '200') {
          cusSalesman =
            res.data.map(({ roleName = '' }) => roleName).indexOf('销售员') !==
              -1
              ? 1
              : 0;
        } else {
        }
      });
      if (item === '双方协议') {
        router.push({
          path: '/mos/CRM/contract/list/mutualAgreement',
          query: {
            item,
            cusSalesman,
          },
        });
      } else if (item === '三方协议') {
        router.push({
          path: '/mos/CRM/contract/list/tripartiteAgreement',
          query: {
            item,
            cusSalesman,
          },
        });
      } else if (item === '控货双方协议') {
        router.push({
          path: '/mos/CRM/contract/list/agreementParites',
          query: {
            item,
            cusSalesman,
          },
        });
      } else if (item === '形式协议') {
        router.push({
          path: '/mos/CRM/contract/list/formalAgreement',
          query: {
            item,
            cusSalesman,
          },
        });
      } else if (item === '补充协议/新增报价') {
        router.push({
          path: '/mos/CRM/contract/list/supplementaryAgreement',
          query: { item, cusSalesman },
        });
      } else if (item === '试做报价') {
        router.push({
          path: '/mos/CRM/contract/list/tryAgreement',
          query: { item, cusSalesman },
        });
      }
    };
    //#endregion
    const syncData = () => {
      dataMap.searchword = '';
      dataMap.viewFilterRule = '';
      dataMap.columns = dataMap.initColumns;
      dataMap.syncFlag++;
    };

    const chooseFields = (val: any) => {
      if (val.length > 0) {
        dataMap.hasTabData = true;
      } else {
        dataMap.hasTabData = false;
      }
      // 中间列表 展示列表头  当前展示的 传给公共table的
      console.log('columnscolumns',val)
      dataMap.columns = val;
      // 当前视图表头  刷新时设置为dataMap.columns
      dataMap.initColumns = val;
      // button区域自定义列  定义表头 - -  脑子可能不太好  整这么多表头
      dataMap.pageInitColumns = val;
    };

    const viewFilterRuleChange = (val: any) => {
      // 传给公共table 的筛选项
      dataMap.viewFilterRule = val;
      // 当前视图筛选项  刷新时设置为dataMap.viewFilterRule
      dataMap.initFilters = val;
      // button区域筛选按钮
      dataMap.pageInitFilters = val;
    };

    const currentTabViewId = (viewId: object) => {
      dataMap.viewUserId = viewId.currentTabViewId;
      dataMap.viewInfo = viewId;
      dataMap.viewSystemId = viewId.viewSystemId;
    };

    const submitViewHandle = (param: any) => {
      // return
      // 需要展示视图弹窗
      dataMap.modalVisible = true;
      dataMap.tabViewModelTitle = param.title;
      dataMap.defaultActiveKey = param.defaultActiveKey;
      // 新增视图  编辑视图  复制视图
      // 新增视图 无初始化数据
      // 编辑和复制视图  初始化数据一致
      if (param.title == '新增视图') {
        dataMap.modalParams = {
          initColumns: [],
          initFilters: '',
          ...param,
        };
      } else {
        dataMap.modalParams = {
          initColumns: dataMap.initColumns, // 视图原始展示列
          initFilters: dataMap.initFilters,
          ...param,
        };
      }
    };

    const openFilter = () => {
      filterRef.value.filterRef.handleClick();
    };

    const submitDelete = (id: any) => { };

    const submitSuccess = (val: any) => {
      // tabViewRef.value.getTabViewListFn()
      // 重新获取表头
      tabViewRef.value.getColumns(dataMap.viewUserId);
    };

    watch(
      () => dataMap.searchword,
      (newval, oldval) => {
        // 改变页面params
        // 重新请求获取列表数据的接口
        // TODO
        // getList(params)
      },
      { immediate: true, deep: true }
    );

    watch(
      () => dataMap.pageInitFilters,
      (newval, oldval) => {
        dataMap.viewFilterRule = newval;
      },
      { immediate: true, deep: true }
    );

    // 多选数据
    const getSelectData = (val: any) => {
      dataMap.selectedData = val;
    };

    const paginationWidth = (val: any) => {
      dataMap.paginationWidthNum = val;
    };

    const currentTabviewName = (val: any) => {
      dataMap.currentViewName = val;
    };

    const syncTabViewList = (val: any) => {
      dataMap.changeViewId = val;
      tabViewRef.value.getTabViewListFn();
    };

    // modalParams
    watch(
      () => dataMap.modalParams,
      (newval, oldval) => { },
      { immediate: true, deep: true }
    );
    // BUG ID1016480 复制合同不展示 形式协议和补充报价
    const contractTitleListCmp = computed(()=> contractTitleList.filter((e:any)=> !['XSXY','BCXY'].includes(e.codesValues)))
    const signatrueDialogRef = ref(null);
    const showsignDialog = () => {
      signatrueDialogRef.value.visible = true;
    };
    const extraDialogRef = ref(null);
    const showextraDialog = () => {
      extraDialogRef.value.visible = true;
    };
    contractManage
      .containerSizeList({ codeTypeCode: 'customercontracttype' })
      .then(({ code, data }) => {
        console.log('++++++++++++++++++++++++', data);
        contractTitleList.length = 0;
        code === '200' && contractTitleList.push.apply(contractTitleList, data);
      });

    return {
      commonTableRef,
      exportTable,
      syncData,
      ...toRefs(dataMap),
      chooseFields,
      viewFilterRuleChange,
      currentTabViewId,
      submitViewHandle,
      submitDelete,
      openFilter,
      filterRef,
      getSelectData,
      paginationWidth,
      currentTabviewName,
      showsignDialog,
      signatrueDialogRef,
      extraDialogRef,
      submitSuccess,
      tabViewRef,
      syncTabViewList,
      //#region 关于合同签约
      contractTitleList,
      addContract,
      //#endregion
      modelVisible,
      contractTitleListCmp,
      confirmSelect,
      copyParams,
    };
  },
});
</script>

<style lang="less" scoped>
.container {
  background-color: var(--color-bg-2);
  // max-width: 100%;
  display: flex;
  height: calc(~'100vh - 93px');
}

.table-wrap {
  width: 100%;
  overflow: hidden;
  padding: 0 20px;
  height: calc(~'100% - 70px - 64px');
}
</style>
