<template>
  <div class="headerD">
    <div class="item" v-for="(item, index) in dataConfig" :key="index">
      <div class="item_name">{{ item.name }}：</div>
      <div class="item_value">{{ item.value }}</div>
    </div>
  </div>
</template>
<script lang="ts" setup>
import { defineProps } from 'vue';
const props = defineProps({
  dataConfig: Array,
});
</script>
<style lang="less" scoped>
.headerD {
  // margin: 0 25px;
  padding: 20px;
  font-size: 14px;
  color: #696c70;
  background-color: #fff;
  display: flex;
  border-top: 1px solid #f1f1f1;
  .item {
    padding-right: 32px;
    display: flex;
    .item_value {
      color: #000;
    }
  }
}
</style>