<template>
  <div class="header">
    <div class="left">
      <div class="title">{{ navConfig.title }}</div>
      <div class="detail">
        <slot name="detail"></slot>
      </div>
    </div>
    <div class="right">
      <div class="btn">
        <a-button
          style="margin-left: 20px"
          v-show="typeof item.isShow==='function'?item.isShow(): item.isShow"
          :class="item.iconClassName"
          :type="item.type ? item.type : 'primary'"
          :plain="item.plain ? true : false"
          :disabled="item.disabled"
          @click="item.callback"
          v-for="(item, index) in navConfig.btns"
          :key="index"
        >
          <i class="iconfont" :class="item.icon"></i> {{ item.title }}
        </a-button>
      </div>
    </div>
  </div>
</template>
<script lang="ts" setup>
const props = defineProps({
  navConfig: {
    type: Object,
    default: '',
  },
});
// console.log('navConfig',props.navConfig);
</script>
<style lang="less" scoped>
.header {
  position: fixed;
  top: 92px;
  height: 60px;
  width: 100%;
  // left: 20px;
  // margin: 20px;
  display: flex;
  background-color: #fff;
  padding: 21px;
  justify-content: space-between;
  align-items: center;
  z-index:2;
  .left {
    display: flex;
    align-items: center;
    .title {
      color: #1d2129;
      font-size: 20px;
    }
    .detail{
        margin-left: 20px;
        display: flex;
        align-items: center;
    }
  }
}
</style>