<template>
  <div class="page">
    <div class="forget-container">
      <div>
        <div class="title">重置密码</div>
        <a-tabs default-active-key="1" @tab-click="changeTab" v-if="!resetPw.resetStatus">
          <a-tab-pane key="1" title="手机重置密码">
            <phonePassword :resetPw="resetPw" @changePic="changePic" @reset="reset" />
          </a-tab-pane>
          <a-tab-pane key=" 2" title="邮箱重置密码">
            <emailPassword :resetPw="resetPw" @changePic="changePic" @reset="reset" />
          </a-tab-pane>
        </a-tabs>
        <reset-password :resetPw="resetPw" v-else></reset-password> 

      </div>
      <div class="bottom">
        <div>关于我们/联系我们/隐私条款</div>
        <div>2020 版权所有</div>
      </div>
    </div>
  </div>
</template>


<script setup>
import phonePassword from './components/phoneFindpw.vue'
import emailPassword from './components/emailFindpw.vue'
import resetPassword from './components/resetPassword.vue'
import { reactive,ref,onMounted } from 'vue';
import { memberUser } from '@/api/member'
import { useRouter } from 'vue-router'
const router = useRouter();
const query = router.currentRoute.value.query; // 路径参数
const resetPw = reactive({
  imageCode: '',
  imagePic: '',
  resetMethods:'phone',
  userId:'',
  resetStatus:false,
})
const getPicture = async () => {
  const params = { type: "8" }
  const { data: codePicData } = await memberUser.getCodePic(params);
  resetPw.imageCode = codePicData.text
  resetPw.imagePic = codePicData.captcha
};
getPicture()
const changeTab = (key) => {
  getPicture()
  if(key==1){
    resetPw.resetMethods='phone'
  }else{
    resetPw.resetMethods = ''
  }
  
}
const changePic = () => {
  getPicture()
}

const reset=(userID,val)=>{
  console.log(userID)
  resetPw.userId = userID
  resetPw.resetStatus = true
  resetPw.resetMethods =val
}
 onMounted(()=>{
   if (query.type) {
     resetPw.resetStatus = true;
   }
 })

</script>



<style lang="less" scoped>
.forget-container {
  width: 380px;
  height: calc(100vh - 130px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 auto;
  padding-top: 130px;
}

.title {
  margin-bottom: 10px;
}
</style>