<template>
  <div class="container">
    <div>
      <button-area>
        <template #left>
          <search-btn v-model="searchword" placeholder="异常名称/业务编号/海关编号/责任人"></search-btn>
          <filter-btn v-model:pageInitFilters="pageInitFilters" :viewUserId="viewUserId" :viewSystemId="viewSystemId"
            ref="filterRef"></filter-btn>
          <custom-column v-model:pageInitColumns="pageInitColumns" :viewUserId="viewUserId" :viewType="viewType"
            :viewSystemId="viewSystemId" @submitSuccess="submitSuccess">
          </custom-column>
          <screen-btn></screen-btn>
          <!-- 刷新按钮执行列表初始化 -->
          <sync-btn @click="syncData"></sync-btn>
        </template>
      </button-area>
      <div class="table-wrap">
        <AbnormalTable :url="requestPage" :columns="columns" :abnormalData="abnormalData" column-resizable
          :bordered="{ cell: true }" :viewUserId="viewUserId" :viewInfo="viewInfo" :searchword="searchword"
          :syncFlag="syncFlag" :viewFilterRule="viewFilterRule" :operateList="operateList" @openFilter="openFilter"
          @getSelectData="getSelectData" @paginationWidth="paginationWidth" @updateTable="updateTable"></AbnormalTable>
      </div>

      <tab-view :viewType="viewType" :changeViewId="changeViewId" @submitViewHandle="submitViewHandle"
        @submitDelete="submitDelete" @currentTabViewId="currentTabViewId" @chooseFields="chooseFields"
        @viewFilterRuleChange="viewFilterRuleChange" @currentTabviewName="currentTabviewName"
        :paginationWidthNum="paginationWidthNum" ref="tabViewRef"></tab-view>

      <tab-view-modal v-model="modalVisible" :title="tabViewModelTitle" :defaultActiveKey="defaultActiveKey"
        v-model:modalParams="modalParams" @syncTabViewList="syncTabViewList"></tab-view-modal>

    </div>
  </div>
</template>

<script lang="ts">
import {
  defineComponent,
  ref,
  watch,
  reactive,
  h,
  toRefs,
  computed,
  onMounted,
  nextTick,
} from 'vue';
import { Modal, Message } from '@arco-design/web-vue';
import { abnormalApi } from '@/api/abnormal/index.ts'
import AbnormalTable from './components/table.vue'
export default defineComponent({
  name: 'abnormal',
  components: { AbnormalTable },
  setup() {
    const tabViewRef = ref<any>(null)
    const filterRef = ref<any>(null)
    const dataMap = reactive({
      viewType: '6', // 显示视图类型字段（异常：6）
      viewUserId: '', // 用户视图ID
      viewInfo: {}, // 用户视图ID 系统视图ID
      viewSystemId: '', // 用户视图ID 系统视图ID
      viewFilterRule: '', // 视图筛选项（table组件）
      initFilters: '', // 保存视图原始筛选项
      syncFlag: 0, // 刷新标志
      // hasTabData: false,//表格是否为空
      abnormalData: [],//表格数据
      columns: [],// 动态表头表头
      initColumns: [], // 保存视图原始表头
      pageInitColumns: [], // 页面自定义列信息
      requestPage: abnormalApi.mosRiskPage,//请求列表数据
      searchword: '',
      changeViewId: '',//当前激活视图id
      paginationWidthNum: 0,
      pageInitFilters: '',//筛选项（筛选组件）
      selectedData: [], // 表格已选择的数据   用于右侧按钮操作时的数据 

      modalParams: {}, // 视图弹框配置
      modalVisible: false, // 控制新增/编辑/复制视图弹窗是否显示
      tabViewModelTitle: '新增视图', // 视图弹窗title
      defaultActiveKey: '1', // 视图默认展示的tab标签 类型string
      currentViewName: '',
      operateList: [
        // {
        //   name: '编辑',
        //   icon: '',
        //   color: 'rgba(41, 105, 255, 1)',
        //   // TODO 
        //   isShow: (record: any) => {
        //     return true
        //   },
        //   callback: (id: any) => {
        //     console.log('00000', id)
        //     // TODO
        //   }
        // },
      ],//表格操作
    })

    watch(
      () => dataMap.pageInitFilters,
      (newval,oldval) => {
        console.log('来新数据了',newval)
        dataMap.viewFilterRule = newval
      },
      { immediate: true,deep: true }
    )
    // 表格数据更新触发
    const updateTable = (params) => {
      console.log(params)
    }

    //自定义列修改提交
    const submitSuccess = (val: any) => {
      console.log(val)
      console.log(tabViewRef.value, 'tabViewRef.value')
      // tabViewRef.value.getTabViewListFn()
      // 重新获取表头
      tabViewRef.value.getColumns(dataMap.viewUserId)
    }

    const syncData = () => {
      dataMap.searchword = ''
      dataMap.viewFilterRule = ""
      dataMap.columns = dataMap.initColumns
      dataMap.syncFlag++
    };

    //获取当前视图详情回调
    const currentTabViewId = (viewId: object) => {
      console.log('接收到视图id的参数了', viewId)
      dataMap.viewUserId = viewId.currentTabViewId
      dataMap.viewInfo = viewId
      dataMap.viewSystemId = viewId.viewSystemId
    }
    //新增，编辑，复制视图事件
    const submitViewHandle = (param: any) => {
      console.log('从视图组件传来的参数：', param)
      // 需要展示视图弹窗
      dataMap.modalVisible = true
      dataMap.tabViewModelTitle = param.title
      dataMap.defaultActiveKey = param.defaultActiveKey
      // 新增视图  编辑视图  复制视图
      // 新增视图 无初始化数据
      // 编辑和复制视图  初始化数据一致
      if (param.title == '新增视图') {
        dataMap.modalParams = {
          initColumns: [],
          initFilters: '',
          ...param
        }
      } else {
        dataMap.modalParams = {
          initColumns: dataMap.initColumns, // 视图原始展示列
          initFilters: dataMap.initFilters,
          ...param
        }
      }
      console.log('dataMap.modalParams:', dataMap.modalParams)
    }

    //表头数据更新
    const chooseFields = (val: any) => {
      // console.log('表头数据', val)
      // if (val.length > 0) {
      //   dataMap.hasTabData = true
      // } else {
      //   dataMap.hasTabData = false
      // }
      // 中间列表 展示列表头  当前展示的 传给公共table的
      dataMap.columns = val
      // 当前视图表头  刷新时设置为dataMap.columns
      dataMap.initColumns = val
      // button区域自定义列  定义表头
      dataMap.pageInitColumns = val
    }

    // 修改视图数据，进行相应数据更新
    const syncTabViewList = (val: any) => {
      console.log('需要刷新视图列表', val)
      dataMap.changeViewId = val
      tabViewRef.value.getTabViewListFn()
    }

    //删除视图回调
    const submitDelete = (id: any) => {
      console.log(id)
      console.log('删除了当前视图  整个页面需要初始化')
      //TODO
    }

    //切换视图时修改当前筛选条件
    const viewFilterRuleChange = (val) => {
      console.log(val)
      // 传给公共table 的筛选项
      dataMap.viewFilterRule = val
      // 当前视图筛选项  刷新时设置为dataMap.viewFilterRule
      dataMap.initFilters = val
      // button区域筛选按钮
      dataMap.pageInitFilters = val
    }

    const currentTabviewName = (val: any) => {
      console.log(val)
      dataMap.currentViewName = val
    }

    //点击表格列筛选回调
    const openFilter = () => {
      console.log('需要打开筛选。。。')
      filterRef.value.filterRef.handleClick()
    }

    // 多选数据
    const getSelectData = (val: any) => {
      dataMap.selectedData = val
      console.log(val)
    }

    const paginationWidth = (val: any) => {
      console.log(val)
      dataMap.paginationWidthNum = val
    }

    return {
      ...toRefs(dataMap),
      openFilter,
      tabViewRef,
      filterRef,
      submitViewHandle,
      syncTabViewList,
      submitDelete,
      currentTabViewId,
      chooseFields,
      viewFilterRuleChange,
      currentTabviewName,
      syncData,
      getSelectData,
      paginationWidth,
      updateTable,
      submitSuccess,
    }
  }
})
</script>

<style lang="less" scoped> // 要加scoped 不然会影响到其他页面
.container {
  background-color: var(--color-bg-2);
  // max-width: 100%;
  display: flex;
  height: calc(~"100vh - 93px");
}

.table-wrap {
  width: 100%;
  overflow: hidden;
  padding: 0 20px;
  height: calc(~"100% - 70px - 64px");
}
</style>