<template>
  <div class="container">
    <PageHeadE title="账单详情" :infoList="infoList">
      <template #tip>
        <dw-tag :class="pageHead.statusConfig.color">
          <template #word>
            {{ pageHead.statusConfig.status }}
          </template>
        </dw-tag>
      </template>
      <template #button>
        <template v-for="(item, index) in pageHead.btns" :key="index">
          <a-button type="primary" v-if="!item.notShow" @click="item.callback">
            <template #icon v-if="item.icon">
              <component :is="item.icon"></component>
            </template>
            <template #default>{{ item.title }}</template>
          </a-button>
        </template>
      </template>
      <template #infoValue="{ record }">
        {{ billDetail.currencySymbol }}{{ record.value }}
        <span v-if="record.children">
          <a-popover position="right">
            <a-tag size="small" color="#FFECE8" v-if="record.children.name == '税'">
              <span :style="{ color: '#F53F3F' }">{{ record.children.name }}</span>
            </a-tag>
            <a-tag size="small" color="#fff4de" v-else>
              <span :style="{ color: '#ffa800' }">{{ record.children.name }}</span>
            </a-tag>
            <template #content>
              <div class="popup_text">
                {{ billDetail.currencySymbol }}{{ record.children.value }}
              </div>
            </template>
          </a-popover>
        </span>
      </template>
    </PageHeadE>
    <div class="page_content">
      <div class="baseinfo">
        <DescribeList title="基本信息" :data="billDetail" :columns="baseInfoColumn">
          <template #unauditedQuantity="{ record }">
            {{ record.unauditedQuantity || 0 }}/{{ length }}
          </template>
          <template #unauditedQuantitylabel="{ record }">
            {{ record.title }}
            <a-tooltip content="未确认业务数/账单业务总数拼接">
              <icon-info-circle />
            </a-tooltip>
          </template>
          <template #modifyQuantity="{ record }">
            <dw-tag class="LC1">
              <template #word>
                {{ record.modifyQuantity }}
              </template>
            </dw-tag>
          </template>
        </DescribeList>
      </div>
      <div class="table_shell">
        <CostTable ref="costTableRef" @selectChecked="selectChecked" :data="listData" @receivableReview="receivableReview" @remit="remit">
        </CostTable>
      </div>
    </div>
  </div>
  <a-modal v-model:visible="remitVisible" :on-before-ok="remitConfirm" width="40%" :mask-closable="false" title="减免">
    <a-form ref="remitFormRef" layout="vertical" :model="remitForm">
      <a-form-item field="actualAmount" label="原金额(含税)" :rules="[{ required: true, message: '请输入' }]">
        <a-input v-model="remitForm.actualAmount" disabled />
      </a-form-item>
      <a-form-item field="discountAmount" label="减免金额(含税)" :rules="[{ required: true, message: '请输入' }]">
        <a-input-number v-model="remitForm.discountAmount" @change="inputChange($event, 0)" :precision="2"
          hide-button />
      </a-form-item>
      <a-form-item field="jianmianhoujine" label="减免后金额(含税)" :rules="[{ required: true, message: '请输入' }]">
        <a-input-number v-model="remitForm.jianmianhoujine" @change="inputChange($event, 1)" :precision="2"
          hide-button />
      </a-form-item>
      <a-form-item field="discountReason" label="减免原型-类型" :rules="[{ required: true, message: '请选择' }]">
        <a-select v-model="remitForm.discountReason">
          <a-option label="外部原因" value="外部原因"></a-option>
          <a-option label="客户原因" value="客户原因"></a-option>
          <a-option label="我司原因" value="我司原因"></a-option>
        </a-select>
      </a-form-item>
      <a-form-item field="discountRemark" label="减免原型-文字">
        <a-textarea v-model="remitForm.discountRemark" allow-clear />
      </a-form-item>
    </a-form>
  </a-modal>
  <exportPop ref="exportPopRef"></exportPop>
</template>

<script lang="ts">
export default {
  name: 'billTrackDetail'
}
</script>

<script setup lang="ts">
import { Modal, Message } from '@arco-design/web-vue';
import { reactive, defineEmits, defineExpose, ref, computed } from 'vue'
import { billTrackApi } from '@/api/billTrack';
import PageHeadE from './components/pageHeadE.vue';
import { useRoute } from 'vue-router';
import router from '@/router'
import { setNumericText } from '@/utils';
import DescribeList from './components/describeList.vue';
import CostTable from './components/table.vue';
import exportPop from '../components/exportPop.vue'
const route = useRoute()

const costTableRef = ref('null')
const exportPopRef = ref('null')
/**
 * 费用列表
 */
const listData = ref([]) //业务费用列表
const checkedBill = ref([]) //选中的费用
const selectChecked = (array) => { //表格选中
  console.log(array)
  checkedBill.value = array
  if (array && array.length > 0 && (billDetail.value.status == 2 || billDetail.value.status == 3)) {
    console.log('确认账单')
    pageHead.btns.find(v => v.title == '确认账单').notShow = false
  } else {
    pageHead.btns.find(v => v.title == '确认账单').notShow = true
  }
}

//复核确认
const receivableReview = (row) => {
  // console.log(row)
  Modal.info({
    title: '提示',
    content: '确定要复核确认吗?',
    closable: true,
    hideCancel: false,
    onBeforeOk: (done) => {
      let params = {
        id: row.id,
        receivableId: row.statementId
      }
      billTrackApi.receivableReview(params).then(res => {
        if (res.code == 200) {
          done(true)
          Message.success('复核确认成功')
          getDetail()
        } else {
          done(false)
        }
      }).catch(() => {
        done(false)
      })
    }
  });
}

//减免
const remitFormRef = ref(null)
const remitVisible = ref(false)
const remitForm = ref({}) //减免表单
const remit = (row, propRow) => {
  remitForm.value = {}
  remitForm.value.actualAmount = row.actualAmount
  remitForm.value.feeCode = row.feeCode
  remitForm.value.receivableId = propRow.receivableId
  remitForm.value.receivableStatementId = propRow.id ? propRow.id.toString() : ''
  remitFormRef.value && remitFormRef.value.clearValidate()
  remitVisible.value = true
}
const inputChange = (val, type) => {
  if (type === 0) {
    remitForm.value.jianmianhoujine = remitForm.value.actualAmount - remitForm.value.discountAmount
  } else if (type === 1) {
    remitForm.value.discountAmount = remitForm.value.actualAmount - remitForm.value.jianmianhoujine
  }
}
// 减免提交
const remitConfirm = (done) => {
  remitFormRef.value.validate(async (err) => {
    if (!err) {
      let params = {
        receivableStatementId: remitForm.value.receivableStatementId,
        receivableId: remitForm.value.receivableId,
        discountAmount: remitForm.value.discountAmount,
        discountReason: remitForm.value.discountReason,
        discountRemark: remitForm.value.discountRemark,
        feeCode: remitForm.value.feeCode
      }
      const { code, data } = await billTrackApi.receivableDiscount(params)
      done(false)
      if (code == 200) {
        remitVisible.value = false
        getDetail()
      }
    } else {
      done(false)
    }
  })
}


/**
 * 基本信息
 */
const billDetail = ref({})
const length = computed(() => { //账单业务总数
  return listData.value.length
})
const baseInfoColumn = ref([
  {
    title: '账单编号',
    dataIndex: 'no',
  }, {
    title: '委托人',
    dataIndex: 'clientName',
  }, {
    title: '所属公司',
    dataIndex: 'ownerName',
  }, {
    title: '业务票数',
    dataIndex: 'unauditedQuantity',
    slotName: 'unauditedQuantity'
  }, {
    title: '更新业务数',
    dataIndex: 'modifyQuantity',
    slotName: 'modifyQuantity'
  }, {
    title: '修改日期',
    dataIndex: 'modifyTime',
  }, {
    title: '确认日期',
    dataIndex: 'confirmTime',
  },
])

/**
 * 页面表头
 */
const pageHead = reactive({
  btns: [
    {
      icon: '',
      title: '自定义模板',
      notShow: false,
      callback: () => {
        router.push('/mos/billTrack/customizeTemplate')
      }
    }, {
      icon: '',
      title: 'Excel导出',
      notShow: false,
      callback: () => {
        exportPopRef.value.openDialog(route.query.id)
      }
    }, {
      icon: '',
      title: '复核完成',
      notShow: true,
      callback: () => {
        reviewFinish()
      }
    }, {
      icon: '',
      title: '确认账单',
      notShow: true,
      callback: () => {
        confrimBill()
      }
    }, {
      icon: '',
      title: '撤销确认',
      notShow: true,
      callback: () => {
        handleRevoke()
      }
    },
  ],
  statusConfig: {},//账单状态
})
const infoList = computed(() => {
  const infoList = [{
    name: '账单金额',
    value: ''
  }, {
    name: '减免金额',
    value: ''
  }, {
    name: '已确认金额',
    value: ''
  }, {
    name: '未确认金额',
    value: ''
  }]
  infoList[0].value = formatNum(billDetail.value.amount)
  infoList[0].children = {
    name: '估',
    value: formatNum(billDetail.value.estimatedAmount)
  }
  infoList[1].value = formatNum(billDetail.value.discountAmount)
  infoList[2].value = formatNum(billDetail.value.confirmAmount)
  infoList[2].children = {
    name: '税',
    value: formatNum(billDetail.value.confirmAmountTax)
  }
  infoList[3].value = formatNum(billDetail.value.unconfirmedAmount)
  return infoList
})
//确认账单
const confrimBill = () => {
  console.log(checkedBill.value)
  Modal.info({
    title: '提示',
    content: '确定确认对账么？',
    closable: true,
    hideCancel: false,
    onBeforeOk: (done) => {
      done(true)
      Modal.info({
        title: '提示',
        content: '是否关闭收入，请确认',
        closable: true,
        hideCancel: false,
        onBeforeOk: async (doneDeep) => {
          let params = {
            receivableId: checkedBill.value[0].receivableId.toString(),
            details: [],
            closeIncome: true,
          }
          checkedBill.value.forEach((item) => {
            item.incomes.forEach((row) => {
              if (!row.confirm) {
                params.details.push({
                  receivableStatementId: item.id.toString(),
                  feeCode: row.feeCode,
                })
              }
            })
          })
          const { code } = await billTrackApi.receivableBatchConfirm(params)
          if (code == 200) {
            doneDeep(true)
            Message.success('确认对账成功')
            costTableRef.value.clearSelect()
            getDetail()
          } else {
            doneDeep(false)
          }
        }
      });
    }
  });
}
// 撤销确认
const handleRevoke = () => {
  Modal.info({
    title: '提示',
    content: '确定撤销确认吗？',
    closable: true,
    hideCancel: false,
    onBeforeOk: async (done) => {
      const { code, data } = await billTrackApi.receivableRollbackConfirm({
        id: route.query.id,
        close: true
      })
      if (code == 200) {
        done(true)
        Message.success('已撤销确认')
        getDetail()
      } else {
        done(false)
      }
    }
  });
}
//表头复核确认
const reviewFinish = () => {
  Modal.info({
    title: '提示',
    content: '确定复核完成吗？',
    closable: true,
    hideCancel: false,
    onBeforeOk: async (done) => {
      const { code, data } = await billTrackApi.reviewFinish({ id: route.query.id })
      if (code == 200) {
        done(true)
        Message.success('复核完成')
        getDetail()
      } else {
        done(false)
      }
    }
  });
}

/**
 * 公共
 */
const formatNum = (val) => {
  return setNumericText(val, { commas: true, zeroText: '0.00' })
}
const getDetail = async () => {
  const { code, data } = await billTrackApi.receivableDetail({
    id: route.query.id
  })
  if (code == 200) {
    pageHead.btns.find(v => v.title == '确认账单').notShow = true;
    pageHead.btns.find(v => v.title == '撤销确认').notShow = true;
    billDetail.value = data
    listData.value = data.statements
    listData.value.forEach((item) => {
      item.lastViewTime1 = data.lastViewTime
      item.incomes.forEach((row) => {
        row.currencySymbol = data.currencySymbol
        row.status = data.status
      })
    })
    switch (data.status) {
      case 1:
        pageHead.btns.find(v => v.title == '复核完成').notShow = !listData.value.every(item => item.review);
        pageHead.statusConfig = {
          color: 'LC1',
          status: '未复核'
        };
        break;
      case 2:
        pageHead.btns.find(v => v.title == '复核完成').notShow = true;
        pageHead.statusConfig = {
          color: 'LC6',
          status: '未确认'
        };
        break;
      case 3:
        pageHead.btns.find(v => v.title == '复核完成').notShow = true;
        pageHead.statusConfig = {
          color: 'LC3',
          status: '确认中'
        };
        break;
      case 4:
        pageHead.btns.find(v => v.title == '复核完成').notShow = true;
        pageHead.btns.find(v => v.title == '撤销确认').notShow = false;
        pageHead.statusConfig = {
          color: 'LC2',
          status: '已确认'
        };
        break;
      default:
        console.log('')
        break;
    }
  }
}

getDetail()
</script>

<style lang="less">
.container {
  background-color: var(--color-bg-2);
  display: flex;
  flex-direction: column;
  height: calc(~"100vh - 93px");

  .page_content {
    flex: 1;
    background-color: #F7F8FA;
    overflow: auto;
    box-sizing: border-box;
    padding: 0 20px;
    padding-bottom: 20px;

    .baseinfo {
      background-color: var(--color-bg-2);
      margin-top: 20px;
    }

    .table_shell {
      background-color: var(--color-bg-2);
      margin-top: 20px;
      margin-bottom: 20px;
    }
  }
}

& /deep/ .arco-tabs-content {
  padding-top: 0;
}
</style>