<template>
  <div class="main">
    <nav-header :navConfig="navConfig"
      ><template #detail>
        <div class="statue">
          <dw-tag :class="info.statusNameColor"
            ><template #word> {{ info.statusName }} </template></dw-tag
          >
        </div>
      </template></nav-header
    >
    <div class="info"><base-info :info="info"></base-info></div>
    <div class="tab">
      <a-tabs :active-key="active" @change="tabChange">
        <a-tab-pane key="1" title="附件">
          <upload-table
            :columns="columns_3"
            :tableData="tableData_3"
          ></upload-table>
        </a-tab-pane>
        <a-tab-pane key="2" title="付款记录">
          <a-table :columns="columns" :data="tableData" :pagination="false">
            <template #index="record">
              {{ record.rowIndex + 1 }}
            </template>
            <template #chequeNo="{ record }">
              {{ record.chequeNo }}{{ record.draftNo }}
            </template>
            <template #amount="{ record }">
              {{ info.currencySymbol }} {{ toThousandFilter(record.amount) }}
            </template>
          </a-table>
        </a-tab-pane>
        <a-tab-pane key="3" title="还款记录">
          <a-table :columns="columns_2" :data="tableData_2" :pagination="false">
            <template #index="record">
              {{ record.rowIndex + 1 }}
            </template>
            <template #repaymentNo="{ record }">
              <span> {{ record.repaymentNo }}</span>
            </template>
            <template #status="{ record }">
              <dw-tag v-if="record.status" class="LC1"
                ><template #word> 审核中 </template></dw-tag
              >
            </template>
            <template #amount="{ record }">
              {{ info.currencySymbol }} {{ toThousandFilter(record.amount) }}
            </template>
            <template #repaymentAmount="{ record }">
              {{ info.currencySymbol }}
              {{ toThousandFilter(record.repaymentAmount) }}
            </template>
          </a-table>
        </a-tab-pane>
        <a-tab-pane key="4" title="审批记录">
          <approve
            :radioList="radioList"
            :logs="logs"
            @refund="refund"
          ></approve>
        </a-tab-pane>
      </a-tabs>
    </div>
    <pay-modal
      ref="payModalRef"
      @paySure="paySure"
      :paymentType="1"
    ></pay-modal>
  </div>
</template>
<script lang="ts" setup>
import { Modal, Message } from '@arco-design/web-vue';
import { setNumericText } from '@/utils';
import payModal from '../components/payModal.vue';
import baseInfo from '../components/baseInfo.vue';
import approve from '../components/approve.vue';
import navHeader from '@/components/navHeader/index.vue';
import uploadTable from '@/components/common-table/uploadTable.vue';
import commonApi from '@/utils/commonApi/index';
import { settlementApi } from '@/api/settlementApi/index';
import { ref, reactive, h } from 'vue';
import { useRoute, useRouter } from 'vue-router';
const route = useRoute();
const router = useRouter();
const active=ref('1')
const navConfig = reactive({
  title: '借款详情',
  btns: [
    {
      icon: '',
      title: '支付',
      type: '',
      value: 'FUNCTION_289',
      isShow: false,
      callback: () => {
        payModalRef.value.handleClick(detailData.value);
      },
    },
    {
      icon: '',
      title: '撤销借款',
      type: '',
      value: 'FUNCTION_290',
      isShow: false,
      callback: () => {
        hanldeRevoke();
      },
    },
  ],
});
const logs = ref([]);
const detailData = ref([]);
const radioList = ref([
  {
    label: '审批',
    value: 1,
    code: 'FUNCTION_288',
    isShow: false,
  },
  {
    label: '驳回',
    value: 2,
    code: 'FUNCTION_287',
    isShow: false,
  },
]);
const payModalRef = ref([]);
const info = reactive({
  title: '基本信息',
  list: [],
  status: '',
  currencySymbol: '',
  no: '',
  statusNameColor: '',
  statusName: '',
});
const tabChange = (val: any) => {
  active.value = val;
};
const hanldeRevoke = () => {
  Modal.warning({
    title: '提示',
    hideCancel: false,
    alignCenter: true,
    content: () =>
      h('div', { class: 'info-modal-content' }, [
        h(
          'span',
          { style: 'margin-left: 60px;' },
          '撤销后不可回退，是否确认撤销？'
        ),
      ]),

    cancelText: '取消',
    async onOk() {
      const { code } = await settlementApi.settleLoanRevocation({
        id: route.query.id,
      });
      if (code == 200) {
        Message.success('撤销成功');
        init();
      }
    },
  });
};
const columns = [
  {
    title: '#',
    slotName: 'index',
  },
  {
    title: '付款公司',
    dataIndex: 'payerName',
  },
  {
    title: '付款方式',
    dataIndex: 'paymentMethodName',
  },
  {
    title: '支付金额',
    slotName: 'amount',
  },
  {
    title: '票据号',
    slotName: 'chequeNo',
  },
  {
    title: '购汇汇率',
    dataIndex: 'exchangeRate',
  },
  {
    title: '购汇金额',
    dataIndex: 'exchangeRateAmount',
  },
  {
    title: '付款人',
    dataIndex: 'creatorName',
  },
  {
    title: '付款时间',
    dataIndex: 'createTime',
  },
];
const columns_3 = [
  {
    title: '文件名',
    slotName: 'fileName',
  },
  {
    title: '上传人',
    dataIndex: 'creatorName',
  },
  {
    title: '上传时间',
    dataIndex: 'createTime',
  },
];
const columns_2 = [
  {
    title: '#',
    slotName: 'index',
  },
  {
    title: '还款单号',
    slotName: 'repaymentNo',
  },
  {
    title: '状态',
    slotName: 'status',
  },
  {
    title: '申请金额',
    slotName: 'amount',
  },
  {
    title: '还款金额',
    slotName: 'repaymentAmount',
  },
  {
    title: '申请人',
    dataIndex: 'creatorName',
  },
  {
    title: '申请时间',
    dataIndex: 'createTime',
  },
];
const toThousandFilter = (num) => {
  return setNumericText(Number(num), { commas: true, zeroText: '0.00' });
};
const tableData = ref([]);
const tableData_2 = ref([]);
const tableData_3 = ref([]);
const infoList = ref([]);
const paySure = async (form) => {
  const { code, data } = await settlementApi.settleLoanPay(form);
  if (code == 200) {
    Message.success('支付完成');
    init();
  }
};
const refund = async (val, textarea) => {
  if (val == 1) {
    const { code, data } = await settlementApi.settleLoanApproval({
      id: route.query.id,
    });
    if (code == 200) {
      Message.success('审批成功');
      init();
    }
  } else if (val == 2) {
    if (textarea == '') {
      Message.error('请先填写驳回原因');
      return;
    }
    const { code, data } = await settlementApi.settleLoanReject({
      id: route.query.id,
      remark: textarea,
    });
    if (code == 200) {
      Message.success('驳回成功');
      init();
    }
  }
};

const init = async () => {
  const { data } = await settlementApi.settleLoanDetail({
    id: route.query.id,
  });
  detailData.value = data;
  if(data.status==10){
    active.value='4'
  }else{
    active.value='1'
  }
  info.statusNameColor = data.statusNameColor;
  info.statusName = data.statusName;
  info.currencySymbol = data.currencySymbol || '';
  info.no = data.no;
  logs.value = data.loanApproveLogs;
  tableData.value = data.loanPaymentLogs;
  tableData_2.value = data.loanRepaymentLogs;
  tableData_3.value = data.loanFiles;
  info.list = [
    {
      label: '借款单号',
      key: data.no,
    },
    {
      label: '借款公司',
      key: data.ownerName,
    },
    {
      label: '支付对象',
      key: data.sellerName,
    },
    {
      label: '支付账号',
      key: data.sellerBank,
    },
    {
      label: '计划付款日期',
      key: data.plannedRepaymentDate,
    },
    {
      label: '借款类型',
      key: data.loanType == 0 ? '非业务借款' : '业务借款',
    },
    {
      label: '借款金额',
      key: data.amount,
      slotName: 'amountSymbol',
    },
    {
      label: '已付款/未付款',
      key:
        (data.currencySymbol || '') +
        toThousandFilter(data.payAmount) +
        '/' +
        (data.currencySymbol || '') +
        toThousandFilter(data.unpayAmount),
    },
    {
      label: '还款中/已还款/未还款',
      key:
        (data.currencySymbol || '') +
        toThousandFilter(data.inRepaymentAmount) +
        '/' +
        (data.currencySymbol || '') +
        toThousandFilter(data.repaymentAmount) +
        '/' +
        (data.currencySymbol || '') +
        toThousandFilter(data.nonPaymentAmount),
    },
    {
      label: '业务编号',
      key: data.settlementInfos,
      color: '#2969FF',
      slotName: 'toNos',
      callback: (row, item) => {
        router.push({
          name: 'settleTrack/detail',
          query: {
            id: row.id,
          },
        });
      },
    },
    {
      label: '申请人',
      key: data.creatorName,
    },
    {
      label: '申请部门',
      key: data.departmentName,
    },
    {
      label: '申请日期',
      key: data.createTime,
    },
    {
      label: '借款备注',
      key: data.remark,
    },
  ];
  const res = await commonApi.getRoleByPage('MOS_PAGE_0018');
  const codes = res.map((v) => v.functionCode);
  navConfig.btns = navConfig.btns.filter((v) => codes.includes(v.value));
  radioList.value = radioList.value.filter((v) => codes.includes(v.code));
  navConfig.btns.forEach((v) => {
    if (v.value == 'FUNCTION_289') {
      v.isShow = data?.status === 20;
      //&& data?.showPayBtn;
    } else if (v.value == 'FUNCTION_290') {
      v.isShow =
        (data.status === 10 || (data.status === 20 && data.payAmount === 0)) &&
        data.showRevocationBtn;
    }
  });
  radioList.value.forEach((v) => {
    if (v.code == 'FUNCTION_288') {
      v.isShow = data.status == 10 && data.showApproveBtn;
    } else if (v.code == 'FUNCTION_287') {
      v.isShow =
        data.payAmount === 0 &&
        data.status !== 70 &&
        data.status !== 60 &&
        data.showRejectBtn;
    }
  });
};
init();
</script>
<style lang="less" scoped>
.main {
  padding-top: 60px;
  min-height: calc(~'100vh - 90px');
  padding-bottom: 1px;
  background-color: #F2F3F5;
  .no {
    color: #2969ff;
    margin-right: 20px;
  }
  .info {
    margin: 20px;
    background-color: #fff;
  }
  .tab {
    margin: 20px;
    padding: 20px 31px;
    background-color: #fff;
  }
}
</style>