 <!-- 发票产品 -->
<template>
  <a-space>
    <iframe
      ref="iframe"
      :src="src"
      frameborder="0"
      style="width: 100vw; height: 100vh"
    ></iframe>
  </a-space>
</template>
<script lang="ts">
import { defineComponent, reactive, toRefs, ref } from 'vue';
import { useTentantStore, useUserStore } from '@/store';
import { getToken,iframeDominMos } from '@/utils';
export default defineComponent({
  setup(props, { emit, slots, attrs }) {
    //enterprisesSetting/index
    const iframe = ref<any>(attrs.ref);
    const dataMap = reactive({
      src: '', // 要跳转的地址
    });
    const useTentant = useTentantStore();
    const userStore = useUserStore();
    const encodeURIStr = encodeURIComponent(
      `applicationType=${
        useTentant.applicationType
      }&&path=/mos/settleBasicData/invoiceProductConfig&&accessToken=${getToken()}&&isMosMenuEnter=1`
    );
    // 本地联调
    // dataMap.src = `http://localhost:81/loginOutSide?${encodeURIStr}`;
    // 线上
    dataMap.src = `${iframeDominMos()}/loginOutSide?${encodeURIStr}`;
    return {
      ...toRefs(dataMap),
      iframe,
    };
  },
});
</script>