<template>
  <!-- 附件 -->
  <a-card :title="showTitle ? '附件' : ''" :bordered="false" :style="{ width: '100%' }">
    <!-- 上传 -->
    <a-upload draggable @change="onChange" :show-file-list="false" multiple accept :custom-request="customRequest" />
    <!-- 列表  :row-selection="{
        type: 'checkbox',
        showCheckedAll: true,
        width: 30,
        fixed: true,
      }"-->
    <div class="btn_shell">
      <a-space>
        <a-button size="small" type="outline" @click="batchDownloadFile">批量下载</a-button>
        <!-- <a-button size="small" type="outline" @click="addFj">添加</a-button> -->
      </a-space>
    </div>
    <a-table class="table_wrapper" :bordered="{ wrapper: true, cell: true }" :columns="columns" :data="data"
      :pagination="false">
      <template #operator="{ record, rowIndex }">
        <div v-if="record.isEdit">
          <DwButton type="text" shape="circle" @click="confirmEdit(record, rowIndex)">
            <icon-check />
          </DwButton>

          <DwButton type="text" shape="circle" @click="cancelEdit(record, rowIndex)">
            <icon-close />
          </DwButton>
        </div>
        <div v-else>
          <a-popconfirm content="确认删除？" position="right" @ok="deleteItem(record, rowIndex)"
            v-if="contractInfo.status < 4">
            <DwButton type="text" shape="circle">
              <icon-delete />
            </DwButton>
          </a-popconfirm>
          <DwButton type="text" shape="circle" @click="editItem(record, rowIndex)">
            <icon-edit />
          </DwButton>
        </div>
      </template>

      <template #attachmentTypeCode="{ record }">
        <a-select placeholder="请选择" v-model="record.attachmentTypeCode" :options="fileTypeList" :disabled="!record.isEdit"
          :field-names="{ label: 'codeName', value: 'codesValues' }">
        </a-select>
      </template>
      <template #fileName="{ record }">
        <a v-if="record.fileName !== ''" :href="record.filePath" target="_blank">{{ record.fileName }}</a>
        <template v-else>
          <a-upload v-if="record.isEdit" :show-file-list="false" accept
            :custom-request="(value) => customRequestUpdate(value, record)" />
        </template>
      </template>
      <template #remark="{ record }">
        <a-input placeholder="请输入" v-model="record.remark" :disabled="!record.isEdit" />
      </template>
    </a-table>
     <DwButton
      type="text"
      style="margin: 10px 0 0 -15px"
      @click="addFj"
    >
      <icon-plus size="mini" />
      新增
    </DwButton>
  </a-card>
</template>

<script setup>
import { onMounted, ref, watch, reactive } from 'vue';
import { useRoute } from 'vue-router';
import { contractManage } from '@/api/contractManage'; //当前页面api
import { Message } from '@arco-design/web-vue';
import { cloneDeep } from 'lodash'

const route = useRoute();
const emits = defineEmits(['onUpdate'])

const props = defineProps({
  contractInfo: {
    type: Object,
    default: () => ({}),
  },
  showTitle: {
    type: Boolean,
    default: true
  }
});

//#region 列表操作相关
const confirmEdit = (record, rowIndex) => {
  const contractInfo = fileTypeList.value.find(
    (item) => item.codesValues === record.attachmentTypeCode
  );
  if (!contractInfo) {
    Message.warning('附件类型不能为空!')
    return
  }
  // 修改或者新增
  const url = record.id ? 'crmContractInfoUpdataAttachment' : 'addAttachment';
  contractManage[url]({
    id: record.id,
    attachmentSource: 1,
    contractInfoId: route.query.id,//route.query.contractInfoId,
    attachmentTypeCode: contractInfo.codesValues,
    attachmentTypeName: contractInfo.codeName,
    fileName: record.fileName,
    filePath: record.filePath,
    remark: record.remark,
  }).then((res) => {
    if (res.code == 200) {
      emits('onUpdate')
      if (res.data) {
        Object.assign(record, res.data);
      }
      record.isEdit = false;
    }
  });
};
const cancelEdit = (record, rowIndex) => {
  if (record.id) {
    let index = editSourceList.value.findIndex(item => item.id == record.id)
    if (index != -1) {
      let currentRow = editSourceList.value[index]
      for (let k in currentRow) {
        record[k] = currentRow[k]
      }
      record.isEdit = false;
      editSourceList.value.splice(index, 1)
    }
  } else {
    data.splice(rowIndex, 1);
  }
};
const deleteItem = (record, rowIndex) => {
  const contractInfo = fileTypeList.value.find(
    (item) => item.codesValues === record.attachmentTypeCode
  );
  contractManage
    .crmContractInfoUpdataAttachment({
      id: record.id,
      attachmentSource: 1,
      contractInfoId: route.query.id,
      attachmentTypeCode: contractInfo.codesValues,
      attachmentTypeName: contractInfo.codeName,
      fileName: record.fileName,
      filePath: record.filePath,
      remark: record.remark,
      deleteFlag: 1,
    })
    .then((res) => {
      if (res.code == 200) {
        data.splice(rowIndex, 1);
      }
    });
};

const editSourceList = ref([])//编辑中数据
const editItem = (record, rowIndex) => {
  editSourceList.value.push(cloneDeep(record))
  record.isEdit = true;
};
//#endregion

//#region 关于上传
// 添加上传到表格
const addTableColumns = (row) => {
  data.push.call(data, {
    attachmentTypeCode: '',
    fileName: row.fileName,
    filePath: row.url,
    remark: '',
    isEdit: true,
  });
};
// 自定义上传
const customRequest = (option) => {
  contractManage.fileUpload({ file: option.fileItem.file }).then((res) => {
    addTableColumns(res.data);
  });
};
//行编辑上传
const customRequestUpdate = (option, obj) => {
  contractManage.fileUpload({ file: option.fileItem.file }).then((res) => {
    if (res.code == 200) {
      obj.fileName = res.data.fileName;
      obj.filePath = res.data.url
    }
  });
}

//#endregion
const columns = [
  {
    title: '',
    slotName: 'operator',
    width: 100,
  },
  {
    title: '附件类型',
    dataIndex: 'attachmentTypeCode',
    slotName: 'attachmentTypeCode',
  },
  {
    title: '文件名',
    dataIndex: 'fileName',
    slotName: 'fileName',
  },
  {
    title: '备注',
    dataIndex: 'remark',
    slotName: 'remark',
  },
  {
    title: '上传人',
    dataIndex: 'createUser',
  },
  {
    title: '上传时间',
    dataIndex: 'createTime',
  },
];

const data = reactive([]);
const fileTypeList = ref([]);

onMounted(() => {
  // 获取附件类型下拉
  contractManage
    .containerSizeList({ codeTypeCode: 'customeratttype' })
    .then((res) => {
      fileTypeList.value = res.data;
    });
});

watch(
  () => props.contractInfo,
  (n) => {
    data.length = 0;
    data.push.apply(data, cloneDeep(n?.contractOfferAttachmentVOList)); //表格数据
  },
  {
    immediate: true,
    deep: true,
  }
);

// 批量下载
const batchDownloadFile = () => {
  let id = route.query.id.toString();
  // let dataParam = new BtnDescription("附件", "批量下载",null,null,'附件');
  // crmApi.sendBuried(dataParam);
  contractManage
    .contractBatchDownload({ id, paramsType: 'zip' })
    .then((response) => {
      let blob = new Blob([response], { type: 'application/zip' });
      let url = window.URL.createObjectURL(blob);
      const link = document.createElement('a'); // 创建a标签
      link.href = url;
      link.download = '附件';
      document.body.appendChild(link);
      link.click();
      document.body.removeChild(link);
      URL.revokeObjectURL(url); // 释放内存
    })
    .catch((error) => console.log(error));
}

//添加
const addFj = () => {
  data.push.call(data, {
    attachmentTypeCode: '',
    fileName: '',
    filePath: '',
    remark: '',
    isEdit: true,
  })
}
</script>
<style lang="less" scoped>
// 第一二列样式处理
// .table_wrapper {
//   :deep(thead tr th:nth-child(1).arco-table-th) {
//     border-right: none;
//     padding: 0;
//   }
//   :deep(tr td:nth-child(1)) {
//     border-right: none;
//     padding: 0;
//   }
//   :deep(tr td:nth-child(2) span.arco-table-cell) {
//     padding: 0;
//   }
// }
.btn_shell {
  display: flex;
  justify-content: flex-end;
  padding: 15px 0;
}
</style>