<template>
  <!-- 供应商 补充协议/新增报价 -->
  <PageHeadC :title="'合同签约-' + curTitle"> </PageHeadC>
  <div class="container">
    <div style="background: #fff; padding: 20px">
      <BaseForm
        v-model:isEdit="isEdit"
        v-model:baseData="baseData"
        v-model:showCancelBtnFlag="showCancelBtnFlag"
        v-model:id="id"
        ref="baseFormRef"
      ></BaseForm>
      <!-- 附件 -->
      <UploadFile
        :id="id"
        :fjParams="{ id: id }"
        @submitData="getData"
        @onUpdate="getDetail"
      ></UploadFile>
    </div>

    <!-- 基本信息 style="display:none"-->
    <!-- <BaseInfo> </BaseInfo> -->
    <div style="height: 62px"></div>
  </div>

  <!-- 底部操作按钮 -->
  <div class="bottomButton">
    <a-button type="primary" size="small" @click="submitClick"> 提交 </a-button>
  </div>
</template>

<script lang="ts">
import {
  defineComponent,
  onMounted,
  PropType,
  reactive,
  toRefs,
  watch,
  ref,
  computed,
  onUnmounted,
  nextTick,
} from 'vue';
import { crmApi } from '@/api';
import { useRoute, useRouter } from 'vue-router';
import { Message } from '@arco-design/web-vue';
import BaseForm from './components/replenishPation/baseForm.vue';
// import BaseInfo from './components/baseInfo/index.vue';
import UploadFile from './components/uploadFile/index.vue';
import PageHeadC from './components/detail/pageHeadC.vue';

export default defineComponent({
  name: 'addStandardProduct',
  components: {
    PageHeadC,
    BaseForm,
    // BaseInfo,
    UploadFile,
  },
  setup(props, { attrs, emit, slots }) {
    const route = useRoute();
    const curTitle = computed(() => route.query.item);
    const query = route.query;
    const baseFormRef = ref([]);
    const dataMap = reactive({
      id: '',
      showCancelBtnFlag: 0,
      isEdit: true,
      baseData: {},
      supplierOfferAttachmentDTOs: [],
    });

    const getDetail = async () => {
      let id = '';
      if (query.id) {
        id = query.id.toString();
      } else if (dataMap.baseData.id) {
        id = dataMap.baseData.id.toString();
      }
      await crmApi.supplierDetail({ id }).then((res) => {
        console.log(res, '详情---');
        if (res.code == '200') {
          dataMap.baseData = res.data;
          console.log(' res.data.sideAgreementVOs', res.data.sideAgreementVOs);
          if (res.data.sideAgreementVOs !== null) {
            dataMap.sideAgreementVOs = res.data.sideAgreementVOs;
          }
          dataMap.id = res.data.id;
          dataMap.attachments = res.data.attachments;
          dataMap.baseData.servicesList = res.data.services.map(
            (item) => item.serviceProjectCode
          );
          // this.offers = res.data.offers
          // // this.sideAgreementVOs = res.data.sideAgreementVOs
          // this.costFile = res.data.attachments
          // // this.getFileType(res.data.processName)
          // this.getFileType()
        }
      });
    };

    console.log(query, 'queryyyyyyyyyyy');
    if (query.id) {
      dataMap.isEdit = false;
      getDetail();
    }

    const getData = (val: any) => {
      // console.log()
      dataMap.supplierOfferAttachmentDTOs = val;
    };

    const cancelEdit = () => {
      console.log('取消编辑');
      dataMap.isEdit = false;
      baseFormRef.value.handleCancel();
    };

    const savaBaseInfo = () => {
      baseFormRef.value.handleSubmit();
      console.log('保存信息');
    };

    // 提交
    const submitClick = () => {
      console.log('提交信息', baseFormRef.value);
      const bv = baseFormRef.value;
      // const fv = bv.formRef
      console.log(bv);
      bv.formRef.validate().then((res: any) => {
        console.log(res);
        if (res == undefined) {
          const params = {
            ...JSON.parse(JSON.stringify(dataMap.baseData)),
            supplierOfferAttachmentDTOs: dataMap.supplierOfferAttachmentDTOs,
            commitFlag: 1, // 提交标志  是否进入审批模式
          };
          console.log(params);
          crmApi.saveSideAgreement(params).then((res) => {
            if (res.code == '200') {
              console.log(res);
              Message.success({
                content: '提交成功',
              });
            } else {
              Message.error({
                content: res.message,
              });
            }
          });
        } else {
          console.log('error submit!!');
          return false;
        }
      });
    };

    return {
      curTitle,
      ...toRefs(dataMap),
      baseFormRef,
      cancelEdit,
      savaBaseInfo,
      submitClick,
      getData,
      getDetail,
    };
  },
});
</script>


<style lang="less" scoped>
.container {
  // background-color: var(--color-bg-2);
  // max-width: 100%;
  // height: calc(~'100vh - 93px');
  // background-color: pink;
  padding: 20px;
  background-color: var(--color-fill-2);
}
.bottomButton {
  position: fixed;
  display: flex;
  padding: 16px 20px;
  height: 62px;
  left: 0;
  right: 0;
  bottom: 0;
  background: #ffffff;
  box-shadow: 0px -1px 0px #e5e6eb;
  justify-content: flex-end;
  z-index: 9999;
}
</style>