<template>
  <!-- 供应商 双方协议 -->
  <PageHeadC title="合同详情">
    <template #tip>
      <dw-tag :class="baseData.signUpNature == 1 ? 'LC9' : 'LC2'">
        <template #word>
          {{ baseData.signUpNature == 1 ? '新签' : '续签' }}
        </template>
      </dw-tag>
    </template>
    <template #button>
      <a-button type="primary" size="small" v-if="isSf" @click="handlePrint">
        打印
      </a-button>
    </template>
  </PageHeadC>
  <div class="container">
    <div style="padding: 20px">
      <BaseForm
        v-model:isEdit="isEdit"
        v-model:baseData="baseData"
        v-model:showCancelBtnFlag="showCancelBtnFlag"
        v-model:id="id"
        ref="baseFormRef"
      ></BaseForm>
      <!-- tab -->
      <div class="tabs_shell">
        <a-tabs v-if="isSf" default-active-key="1" :justify="true">
          <a-tab-pane key="1" title="补充协议">
            <div class="base_info_pane">
              <a-card :bordered="false" :style="{ width: '100%' }">
                <a-table
                  :columns="supplementColumns"
                  :data="sideAgreementVOs"
                  :pagination="false"
                  :bordered="{ cell: true }"
                  column-resizable
                >
                  <template #contractNo="{ record }">
                    <a-link @click="gotoHref(record)">{{
                      record.contractNo
                    }}</a-link>
                  </template>
                </a-table>
              </a-card>
            </div>
          </a-tab-pane>
          <a-tab-pane key="2" title="附件">
            <div class="base_info_pane">
              <UploadFile
                :fjParams="fjParams"
                :showTitle="false"
                :attachments="attachments"
                @onUpdate="getDetail"
              ></UploadFile>
            </div>
          </a-tab-pane>
          <a-tab-pane key="3" title="审批记录">
            <div class="base_info_pane">
              <a-card :bordered="false" :style="{ width: '100%' }">
                <Approve ref="approveRef" type="supplier"></Approve>
              </a-card>
            </div>
          </a-tab-pane>
        </a-tabs>
        <a-tabs v-else default-active-key="1" :justify="true">
          <a-tab-pane key="1" title="附件">
            <div class="base_info_pane">
              <UploadFile
                :fjParams="fjParams"
                :showTitle="false"
                @onUpdate="getDetail"
                :attachments="attachments"
              ></UploadFile>
            </div>
          </a-tab-pane>
          <a-tab-pane key="2" title="审批记录">
            <div class="base_info_pane">
              <a-card :bordered="false" :style="{ width: '100%' }">
                <Approve ref="approveRef" type="supplier"></Approve>
              </a-card>
            </div>
          </a-tab-pane>
        </a-tabs>
      </div>
      <!-- <div style="height:20px;"></div> -->
      <!-- <div style="padding: 20px">
        <UploadFile :id="id" @submitData="getData"></UploadFile>
      </div> -->
    </div>
  </div>
</template>

<script lang="ts">
import {
  defineComponent,
  onMounted,
  PropType,
  reactive,
  toRefs,
  watch,
  ref,
  computed,
  onUnmounted,
  nextTick,
} from 'vue';
import { crmApi } from '@/api';
import { useRoute, useRouter } from 'vue-router';
import { Message } from '@arco-design/web-vue';
import PageHeadC from './components/detail/pageHeadC.vue';
import BaseForm from './components/detail/baseForm.vue';
// import BaseInfo from './components/baseInfo/index.vue';
import UploadFile from './components/uploadFile/index.vue';
import Approve from '@/views/CRM/components/approve.vue';

export default defineComponent({
  name: 'supplierPactDetails',
  components: {
    PageHeadC,
    BaseForm,
    // BaseInfo,
    UploadFile,
    Approve,
  },
  setup(props, { attrs, emit, slots }) {
    const router = useRouter();
    const route = useRoute();
    const curTitle = computed(() => route.query.item);
    const query = route.query;
    const type = query.type;
    const baseFormRef = ref([]);

    const dataMap = reactive({
      fjParams: {}, // query.id.toString()
      isSf: type == '双方协议' ? true : false,
      showCancelBtnFlag: 0,
      isEdit: true,
      baseData: {},
      supplierOfferAttachmentDTOs: [],
      supplementColumns: [
        {
          title: '补充协议编号',
          dataIndex: 'contractNo',
          slotName: 'contractNo',
        },
        {
          title: '供应商名称',
          dataIndex: 'signUpName',
          slotName: 'signUpName',
        },
        {
          title: '签约日期',
          dataIndex: 'signUpDate',
        },
        {
          title: '到期日期',
          dataIndex: 'dueToDate',
        },
        {
          title: '签约人',
          dataIndex: 'contractor',
        },
      ], // 补充协议表头
      sideAgreementVOs: [], // 补充协议列表
      attachments: [], // 附件列表
    });
    const approveRef = ref([]);
    console.log(baseFormRef, 'queryyyyyyyyyyy');
    console.log(approveRef.value);
    // approveRef.value.show(dataMap.baseData, 'supplier')
    // watch(
    //   () => approveRef.value,
    //   (val) => {
    //     console.log(val,'approveRef.value')
    //     if(val !== undefined && val !== null && Object.keys(val).length > 0){
    //       approveRef.value.show(dataMap.baseData, 'supplier')
    //     }
    //   },
    //   {immediate: true,deep: true}
    // )

    console.log(query, 'queryyyyyyyyyyy');
    if (query.id) {
      dataMap.isEdit = false;
    }

    const getData = (val: any) => {
      // console.log()
      dataMap.supplierOfferAttachmentDTOs = val;
    };

    // 获取详情信息
    const getDetail = async () => {
      dataMap.fjParams = {
        id: route.query.id.toString(),
        source: 'gyshtxq',
      };
      const id = route.query.id.toString();
      await crmApi.supplierDetail({ id }).then((res) => {
        console.log(res, '详情---');
        if (res.code == '200') {
          dataMap.baseData = res.data;
          if (
            approveRef.value !== undefined &&
            approveRef.value !== null &&
            Object.keys(approveRef.value).length > 0
          ) {
            approveRef.value.show(dataMap.baseData, 'supplier');
          }
          console.log(' res.data.sideAgreementVOs', res.data.sideAgreementVOs);

          if (res.data.sideAgreementVOs !== null) {
            dataMap.sideAgreementVOs = res.data.sideAgreementVOs;
          }
          dataMap.attachments = res.data.attachments;
          // this.offers = res.data.offers
          // // this.sideAgreementVOs = res.data.sideAgreementVOs
          // this.costFile = res.data.attachments
          // // this.getFileType(res.data.processName)
          // this.getFileType()
        }
      });
    };

    const gotoHref = (record: any) => {
      console.log(record);
      router.push({
        path: '/mos/CRM/contract/supplier/supplierPactDetails',
        query: {
          type: '补充协议',
          id: record.id,
        },
      });
    };

    onMounted(() => {
      getDetail();
      approveRef.value.show(dataMap.baseData, 'supplier');
    });

    const handlePrint = () => {
      router.push({
        path: '/mos/CRM/contract/template',
        query: {
          id: route.query.id,
          type: '2',
        },
      });
    };

    return {
      handlePrint,
      getDetail,
      approveRef,
      curTitle,
      ...toRefs(dataMap),
      baseFormRef,
      getData,
      gotoHref,
    };
  },
});
</script>


<style lang="less" scoped>
.container {
  background-color: #f7f8fa; //var(--color-bg-2);
  // max-width: 100%;
  min-height: calc(~'100vh - 93px');
  // background-color: pink;
  // padding: 20px;
  // height: 100%;
  // background-color: var(--color-fill-2);
}
.tabs_shell {
  background-color: var(--color-bg-2);
  margin-top: 20px;
  margin-bottom: 20px;
  & /deep/ .arco-tabs-content {
    padding-top: 0;
  }
}
.base_info_pane {
  padding: 20px;
}
.bottomButton {
  position: fixed;
  display: flex;
  padding: 16px 20px;
  height: 62px;
  left: 0;
  right: 0;
  bottom: 0;
  background: #ffffff;
  box-shadow: 0px -1px 0px #e5e6eb;
  justify-content: flex-end;
  z-index: 9999;
}
:deep(.arco-card-body) {
  padding: 0 !important;
}
</style>