<template>
  <!-- 供应商 双方协议 -->
  <a-affix :offsetTop="93">
    <a-page-header
      title="供应商合同详情"
      :show-back="false"
      style="background: #fff; margin-top: -2px"
    />
  </a-affix>
  <div class="container">
    <div style="background:#fff;padding: 20px;">
      <BaseForm
        v-model:isEdit="isEdit"
        v-model:baseData="baseData"
        v-model:showCancelBtnFlag="showCancelBtnFlag"
        v-model:id="id"
        ref="baseFormRef"
      ></BaseForm>
      <!-- 附件 -->
      <div style="padding: 20px;">
        <UploadFile
          :id="id"
          @submitData="getData"
        ></UploadFile>
      </div>
      
    </div>
  </div>
</template>

<script lang="ts">
import {
  defineComponent,
  onMounted,
  PropType,
  reactive,
  toRefs,
  watch,
  ref,
  computed,
  onUnmounted,
  nextTick,
} from 'vue';
import { crmApi } from '@/api';
import { useRoute, useRouter } from 'vue-router';
import { Message } from '@arco-design/web-vue';
import BaseForm from './components/detail/baseForm.vue';
// import BaseInfo from './components/baseInfo/index.vue';
import UploadFile from './components/uploadFile/index.vue';

export default defineComponent({
  name: 'addStandardProduct',
  components: {
    BaseForm,
    // BaseInfo,
    UploadFile,
  },
  setup(props, { attrs, emit, slots }) {
    const route = useRoute();
    const curTitle = computed(() => route.query.item);
    const query = route.query;
    const baseFormRef = ref([]);
    const dataMap = reactive({
      showCancelBtnFlag: 0,
      isEdit: true,
      baseData: {},
      supplierOfferAttachmentDTOs: []
    });


    console.log(query, 'queryyyyyyyyyyy');
    if (query.id) {
      dataMap.isEdit = false;
    }

    const getData = (val:any) => {
      // console.log()
      dataMap.supplierOfferAttachmentDTOs = val
    }

    const cancelEdit = () => {
      console.log('取消编辑');
      dataMap.isEdit = false;
      baseFormRef.value.handleCancel();
    };

    const savaBaseInfo = () => {
      baseFormRef.value.handleSubmit();
      console.log('保存信息');
    };
    
    // 提交
    const submitClick = () => {
      console.log('提交信息',baseFormRef.value);
      const bv = baseFormRef.value
      // const fv = bv.formRef
      console.log(bv)
      bv.formRef.validate().then((res: any) => {
        console.log(res)
        if(res == undefined){
          const params = {
            ...JSON.parse(JSON.stringify(dataMap.baseData)),
            supplierOfferAttachmentDTOs: dataMap.supplierOfferAttachmentDTOs,
          }
          console.log(params)
          crmApi.saveContract(params).then((res) => {
            if (res.code == '200') {
              console.log(res)
              Message.success({
                content: '提交成功'
              })
              // this.submitId = res.data.id
              // this.rulesContract.id = res.data.id
              // this.businessTypesCode = res.data.businessTypesCode
              // this.contractType = res.data.contractType
              // this.formDisabled = true
              // this.hideBtn = false
              // this.$message.success('保存成功')
              // this.$router.push({
              //   path: '/mos/CRM/contract/supplier/list'
              // })
            } else {
              // this.$message.error(res.message)
            }
          })
        } else {
          console.log('error submit!!')
          return false
        }
      })
    }

    // 获取详情信息
    const getDetail = () => {
      const id = route.query.id.toString()
      crmApi.supplierDetail({ id }).then((res) => {
        console.log(res, '详情---')
        if (res.code == '200') {
          dataMap.baseData = res.data
          // this.offers = res.data.offers
          // // this.sideAgreementVOs = res.data.sideAgreementVOs
          // this.costFile = res.data.attachments
          // // this.getFileType(res.data.processName)
          // this.getFileType()
        }
      })
    }

    onMounted(() => {
      getDetail()
    })

    return {
      curTitle,
      ...toRefs(dataMap),
      baseFormRef,
      cancelEdit,
      savaBaseInfo,
      submitClick,
      getData,
    };
  },
});
</script>


<style lang="less" scoped>
.container {
  // background-color: var(--color-bg-2);
  // max-width: 100%;
  // height: calc(~'100vh - 93px');
  // background-color: pink;
  // padding: 20px;
  // height: 100%;
  // background-color: var(--color-fill-2);
}
.bottomButton {
  position: fixed;
  display: flex;
  padding: 16px 20px;
  height: 62px;
  left: 0;
  right: 0;
  bottom: 0;
  background: #ffffff;
  box-shadow: 0px -1px 0px #e5e6eb;
  justify-content: flex-end;
  z-index: 9999;
}
</style>