<template>
  <div class="container">
    <div class="container-left">
      <div class="left-btn">
        <a-button
          type="primary"
          :style="{ width: '96px', height: '32px' }"
          @click="receivingEmails()"
        >
          <template #icon>
            <icon-file />
          </template>
          <span>收邮件</span>
        </a-button>
        <a-button
          type="primary"
          :style="{ width: '96px', height: '32px' }"
          @click="toWrite"
        >
          <template #icon>
            <icon-plus />
          </template>
          <span>写邮件</span>
        </a-button>
      </div>
      <div
        class="account-list"
        v-for="(item, index) in accountList"
        :key="index"
      >
        <p class="email-account" @click="clickAccount(item, index)">
          <icon-caret-right />
          <span :class="{ 'account-checked': item.checked }" class="cp">
            {{ item.emailAddress }}</span
          >
        </p>
        <div class="account" v-show="item.checked">
          <div
            v-for="(ele, ind) in emailType"
            :key="ind"
            class="account-item"
            :class="{ 'account-active': activeType == index && ele.checked }"
            @click="clickEmail(ele, index, ind)"
            @mouseenter="enterDiv(ele)"
            @mouseleave="leaveDiv(ele)"
          >
            <div class="account-item-left"
              >{{ ele.label }}
              {{
                ['notReplyNotReadCount', 'draftCount', 'recycleCount'].includes(
                  ele.count
                )
                  ? accountCount[ele.count]
                  : ''
              }}</div
            >
            <!-- <div
              v-if="ele.value == 'recyclebox' && ele.hover"
              class="account-item-right"
              ><icon-eraser class="qingchu-color cp" @click="eraser()"></icon-eraser>
            </div> -->
          </div>
        </div>
      </div>
    </div>
    <div class="container-right">
      <div class="right-header">
        <div class="right-header-left">
          <div class="right-header-allChecked h30"
            ><a-checkbox
              v-model="allChecked"
              @change="changeAllChecked"
            ></a-checkbox
            >全选</div
          >
          <div class="right-header-del">
            <div
              class="h30 delBtn"
              @click="handleDel1"
              v-if="emailParams.mailFolder == 'recyclebox'"
              ><icon-delete />
              <span class="right-header-delTxt"> 彻底删除</span></div
            >
            <a-dropdown @select="handleDel2" :popup-max-height="false" v-else>
              <div class="h30 delBtn"
                ><icon-delete />
                <span class="right-header-delTxt"> 删除 <icon-down /></span
              ></div>
              <template #content>
                <a-doption>删除</a-doption>
                <a-doption>彻底删除</a-doption>
              </template>
            </a-dropdown>
          </div>
          <div class="right-header-search"
            ><search-btn
              class="h30"
              v-model="searchword"
              placeholder="PI号/业务编号/联系人/主题"
            ></search-btn
          ></div>
          <screen-btn class="h60"></screen-btn>
          <sync-btn class="h30" @click="syncData"></sync-btn>
          <a-button
            type="text"
            :disabled="
              emailDetail.emailIsRecycle ||
              (!emailDetail.emailIsRecycle && !emailDetail.orderLogisticsNo)
            "
            @click="cancleRelationMail"
            ><template #icon> <icon-stop /> </template>取消关联</a-button
          >
          <a-button
            type="text"
            @click="toReply('回复邮件')"
            v-if="
              ((emailDetail.emailFolder == 'inbox' &&
                emailDetail.emailIsReply == false) ||
                emailDetail.emailIsStar) &&
              !emailDetail.emailIsRecycle
            "
            ><template #icon> <icon-reply /> </template>回复</a-button
          >
          <a-button
            type="text"
            @click="toReply('转发邮件')"
            v-if="
              (emailDetail.emailFolder == 'inbox' ||
                emailDetail.emailFolder == 'sentbox' ||
                emailDetail.emailIsStar) &&
              !emailDetail.emailIsRecycle
            "
            ><template #icon> <icon-share-internal /> </template>转发</a-button
          >
          <a-button
            type="text"
            v-if="
              emailDetail.emailFolder != 'recyclebox' &&
              emailDetail.initialFlag &&
              !emailDetail.orderLogisticsNo &&
              !emailDetail.emailIsRecycle
            "
            @click="toNew()"
            ><template #icon> <icon-plus /> </template>新建运单</a-button
          >
          <a-button
            type="text"
            v-if="
              emailDetail.emailFolder != 'recyclebox' &&
              emailDetail.initialFlag &&
              !emailDetail.orderLogisticsNo &&
              !emailDetail.emailIsRecycle
            "
            @click="toRelevance()"
            ><template #icon> <icon-link /> </template>关联运单</a-button
          >
          <a-button
            type="text"
            @click="toEdit()"
            v-if="
              emailDetail.emailFolder == 'draftbox' &&
              !emailDetail.emailIsRecycle
            "
            ><template #icon> <icon-reply /> </template>编辑</a-button
          >
          <a-button
            type="text"
            @click="reback"
            v-if="emailDetail.emailIsRecycle"
            ><template #icon> <icon-reply /> </template>还原</a-button
          >
        </div>
        <div class="right-header-right"
          ><a-pagination
            :total="pagination.total"
            :current="pagination.pageNum"
            :page-size="pagination.pageSize"
            @change="paginationChange"
            simple
            size="mini"
            class="page-rigth-border"
          />

          <a-popover title="" trigger="click" content-class="a-popover-set">
            <!-- <a-button>Click Me</a-button> -->
            <icon-settings class="cp"></icon-settings>
            <template #content>
              <div class="set-txt1">排序规则</div>
              <div class="set-rule">
                邮件时间
                <icon-arrow-down
                  v-if="emailParams.orderByFlag == 0"
                  class="cp"
                  @click="setRule(1)"
                />
                <icon-arrow-up v-else class="cp" @click="setRule(0)" />
              </div>
              <div class="set-line"></div>
              <div class="set-txt1">每页显示邮件数</div>
              <a-radio-group
                v-model="emailParams.pageSize"
                @change="setPageSize"
              >
                <a-radio value="10">10</a-radio>
                <a-radio value="20">20</a-radio>
                <a-radio value="30">30</a-radio>
                <a-radio value="50">50</a-radio>
              </a-radio-group>
            </template>
          </a-popover>
        </div>
      </div>
      <div class="main">
        <div class="main-left">
          <div class="main-left-top" v-if="emailList.length > 0">
            <div
              class="email-list"
              v-for="(item, index) in emailList"
              :key="index"
            >
              <p class="email-date"
                >{{ item.mailDateStr }}（{{ item.count }}）
              </p>
              <div
                class="email-box"
                :class="{
                  'item-active': ele.click,
                  'emailIsRead': !ele.emailIsRead,
                }"
                v-for="(ele, ind) in item.mailList"
                @mouseenter="enterEmail(ele)"
                @mouseleave="leaveEmail(ele)"
              >
                <a-checkbox
                  v-model="ele.checked"
                  @change="changeChecked"
                ></a-checkbox>
                <div
                  class="email-box-right"
                  @click="changeDetail(ele, index, ind)"
                >
                  <div class="email-right-header">
                    <div v-if="ele.emailFolder == 'sentbox'">{{
                      ele.emailToAddress.match(/(\S*)@/)[1]
                    }}</div>
                    <div v-else>{{
                      ele.emailFormAddress.match(/(\S*)@/)[1]
                    }}</div>
                    <div
                      ><span class="right-header-date">{{
                        ele.emailSendDataStr
                      }}</span>
                      <icon-star-fill
                        v-if="ele.emailIsStar"
                        class="star-color"
                        @click="starEmail(ele.id, false)"
                      ></icon-star-fill>
                      <icon-star
                        v-else
                        class="star-color-nor"
                        @click="starEmail(ele.id, true)"
                      ></icon-star
                    ></div>
                  </div>
                  <div class="email-right-content"
                    ><span>{{ ele.emailSubject }}</span
                    ><icon-delete
                      v-if="ele.id != emailID && ele.hover"
                      @click.stop="delEmail(ele)"
                    />
                  </div>
                  <div v-if="!ele.orderLogisticsNo" class="noPI">
                    <span> 尚未关联运单</span>
                  </div>
                  <div v-else class="PI"
                    ><span> PI：{{ ele.piNo || '--' }}</span></div
                  >
                  <!-- <div v-if="ele.orderLogisticsNo" class="PI"
                    ><span> PI：{{ ele.piNo }}</span></div
                  >
                  <div v-else class="noPI"><span> 尚未关联运单</span></div> -->
                </div>
              </div>
            </div></div
          >
          <div v-else class="noDataList">
            <img
              class="noDataList-image"
              src="@/assets/images/notDetail.png"
              mode="scaleToFill"
            />
            <p>暂无信息</p>
          </div>
          <div class="email-page">
            <a-pagination
              :total="pagination.total"
              :current="pagination.pageNum"
              :page-size="pagination.pageSize"
              @change="paginationChange"
              simple
              size="mini"
            />
          </div>
        </div>
        <email ref="emailRef" class="main-email" @getDetail="getDetail"></email>
      </div>
    </div>
  </div>
  <newWaybill
    ref="newWaybillRef"
    :emailID="emailID"
    @refresh="refresh"
  ></newWaybill>
  <relevance
    ref="relevanceRef"
    :emailID="emailID"
    :emailDetail="emailDetail111"
    @refresh1="refresh1"
  ></relevance>
  <Write
    ref="writeRef"
    :accountList="accountList"
    :activeType="activeType"
    @refresh1="refresh1"
  ></Write>
  <Reply
    ref="replyRef"
    :accountList="accountList"
    :activeType="activeType"
    @refresh1="refresh1"
  ></Reply>
  <Edit
    ref="editRef"
    :accountList="accountList"
    :activeType="activeType"
    @refresh1="refresh1"
  ></Edit>
</template>
<script lang="ts">
  import {
    ref,
    toRefs,
    computed,
    watch,
    defineComponent,
    reactive,
    ref,
  } from 'vue';
  import { emailApi } from '@/api/email/index';
  import type { RouteLocationNormalized } from 'vue-router';
  import { listenerRouteChange } from '@/utils/route-listener';
  import { useAppStore, useTabBarStore } from '@/store';
  import { Message, Modal } from '@arco-design/web-vue';
  import email from './components/email.vue';
  import newWaybill from './components/newWaybillDialog.vue';
  import relevance from './components/relevanceDialog.vue';
  import Write from './components/writeEmailDialog.vue';
  import Reply from './components/replyEmailDialog.vue';
  import Edit from './components/editEmailDialog.vue';
  import { useRoute, useRouter } from 'vue-router';
  import message from '@arco-design/web-vue/es/message';

  export default defineComponent({
    name: 'shendanyoujian',
    components: {
      email,
      newWaybill,
      relevance,
      Write,
      Reply,
      Edit,
    },
    setup() {
      /*
       *你可能觉得自己看懂下面的代码了
       *然而你并没有，相信我。
       *糊弄过去算了，不然你会好多个晚上睡不着觉
       *嘴里骂着这段注释，觉得自己很聪明，
       *真能“优化”下面的代码。
       *现在关上文件，去玩点别的吧。
       */
      const route = useRoute();
      const router = useRouter();
      const dataMap = reactive({
        emailType: [
          {
            label: '收件箱（未回复）',
            value: 'inbox',
            count: 'notReplyNotReadCount',
            checked: false,
          },
          {
            label: '收件箱（已回复）',
            value: 'inbox',
            count: 'hasReplyCount',
            checked: false,
          },
          {
            label: '发件箱',
            value: 'sentbox',
            count: 'sendBoxCount',
            checked: false,
          },
          {
            label: '星标邮件',
            value: 'star',
            count: 'star',
            checked: false,
          },
          {
            label: '草稿箱',
            value: 'draftbox',
            count: 'draftCount',
            checked: false,
          },
          {
            label: '回收站',
            value: 'recyclebox',
            count: 'recycleCount',
            checked: false,
          },
        ],
        activeType: 0, //当前账户
        accountList: [],
        accountCount: {},
        emailParams: {
          keyWord: '',
          emailAddress: '',
          replyFlag: false,
          mailFolder: 'inbox',
          orderByFlag: 0,
          star: false,
          pageNum: 1,
          pageSize: '10',
        },
        pagination: {
          total: 100,
          pageNum: 1,
          pageSize: 10,
        },
        emailID: 0,
        emailDetail: {},
        emailList: [],
        allChecked: false,
        searchword: '',
        emailDetail111: {},
        index: 0,
        ind: 0,
        // orderLogisticsNo: route.query.id,
      });
      watch(
        () => dataMap.searchword,
        (newval, oldval) => {
          console.log('来新数据了', newval);
          dataMap.emailParams.keyWord = newval;
          functionMap.getEmailList();
          // 改变页面params
          // 重新请求获取列表数据的接口
          // TODO
          // getList(params)
        },
        { immediate: false, deep: true }
      );
      const functionMap = reactive({
        //账户列表
        async getEmails() {
          const res = await emailApi.getEmails();
          if (res.code == 200) {
            dataMap.accountList = res.data;
            dataMap.accountList.map((e) => (e.checked = false));
            dataMap.accountList[0].checked = true;
            dataMap.emailType.map((e) => (e.checked = false));
            dataMap.emailType[0].checked = true;
            dataMap.emailParams.emailAddress = res.data[0].emailAddress;
          }
          functionMap.getEmailList();
          functionMap.getEmailCount(res.data[0].emailAddress);
        },
        enterDiv(ele) {
          ele.hover = true;
        },
        leaveDiv(ele) {
          ele.hover = false;
        },
        // 邮箱小类数量
        async getEmailCount(val) {
          let params = {
            emailAddress: val,
          };
          const res = await emailApi.getEmailCount(params);
          if (res.code == 200) {
            dataMap.accountCount = res.data;
          }
        },
        //点击账户
        clickAccount(item, i) {
          dataMap.accountList.map((e) => (e.checked = false));
          item.checked = true;
          functionMap.getEmailCount(dataMap.accountList[i].emailAddress);
        },
        //点击邮件小类
        clickEmail(ele, index, ind) {
          dataMap.activeType = index;
          console.log(index);
          dataMap.emailType.map((e) => (e.checked = false));
          ele.checked = true;
          dataMap.emailParams.emailAddress =
            dataMap.accountList[index].emailAddress;
          dataMap.emailParams.mailFolder = ele.value;
          dataMap.emailParams.replyFlag = ind == 0 ? false : true;
          if (ele.value == 'star') {
            dataMap.emailParams.star = true;
            dataMap.emailParams.mailFolder = '';
          } else {
            dataMap.emailParams.star = '';
          }
          dataMap.emailID = '';
          dataMap.emailParams.pageNum = 1;
          dataMap.pagination.pageNum = 1;
          functionMap.getEmailList();
        },

        // 邮件列表
        async getEmailList() {
          let arr = [];
          dataMap.emailList.forEach((item) => {
            item.mailList.forEach((ele) => {
              if (ele.checked) {
                arr.push(ele.id);
              }
            });
          });
          const res = await emailApi.getEmailList({ ...dataMap.emailParams });
          if (res.code == 200) {
            dataMap.emailList = res.data.list;
            dataMap.pagination.total = res.data.total;
            if (!dataMap.emailID) {
              dataMap.emailID = res.data.list[0].mailList[0].id;
              dataMap.emailList[0].mailList[0].click = true;
              dataMap.emailDetail = res.data.list[0].mailList[0];
              emailRef.value.getEmailDetail(dataMap.emailID);
              dataMap.index = 0;
              dataMap.ind = 0;
            } else {
              dataMap.emailList.forEach((item) => {
                item.mailList.forEach((ele) => {
                  ele.click = false;
                  // if (ele.id == dataMap.emailID) {
                  //   ele.click = true;
                  //   ele.emailIsRead = true;
                  //   dataMap.emailDetail = ele;
                  // } else {
                  //   ele.click = false;
                  // }
                  if (arr.includes(ele.id)) {
                    ele.checked = true;
                  } else {
                    ele.checked = false;
                  }
                });
              });
              console.log(
                dataMap.emailList[dataMap.index].mailList[dataMap.ind]
              );
              dataMap.emailList[dataMap.index].mailList[dataMap.ind].click =
                true;
              dataMap.emailDetail =
                dataMap.emailList[dataMap.index].mailList[dataMap.ind];
            }
          }
        },
        //点击列表
        changeDetail(ele, index, ind) {
          // ele.click = true;
          console.log(ele);
          dataMap.emailID = ele.id;
          dataMap.index = index;
          dataMap.ind = ind;
          dataMap.emailDetail = ele;
          functionMap.refresh1();
        },
        //获取邮件详情
        getDetail(val) {
          // alert(val);
          console.log(val);
          dataMap.emailDetail111 = val;
        },
        //
        enterEmail(ele) {
          ele.hover = true;
        },
        leaveEmail(ele) {
          ele.hover = false;
        },
        //分页
        paginationChange(page: Number) {
          console.log(page);
          dataMap.pagination.pageNum = page;
          dataMap.emailParams.pageNum = page;
          dataMap.emailID = '';
          functionMap.getEmailList();
        },
        eraser() {},
        //全选
        changeAllChecked(boo) {
          dataMap.emailList.forEach((item) => {
            item.mailList.forEach((ele) => {
              if (boo) {
                ele.checked = true;
              } else {
                ele.checked = false;
              }
            });
          });
        },
        //单选
        changeChecked() {
          let arr1 = 0;
          let arr2 = 0;
          dataMap.emailList.forEach((item) => {
            item.mailList.forEach((ele) => {
              arr1++;
              if (ele.checked) {
                arr2++;
              }
            });
          });
          console.log(arr1, arr2);
          // if(arr2==0){
          //  dataMap.allChecked = false;
          // }
          if (arr2 == arr1) {
            dataMap.allChecked = true;
          } else {
            dataMap.allChecked = false;
          }
        },

        // 删除
        handleDel1() {
          let arr = [];
          let err = 0;
          dataMap.emailList.forEach((item) => {
            item.mailList.forEach((ele) => {
              if (ele.checked) {
                arr.push(ele.id);
                if (ele.orderLogisticsNo) {
                  err++;
                }
              }
            });
          });
          if (arr.length == 0) return;
          if (err) {
            Modal.warning({
              title: '提示',
              hideCancel: false,
              alignCenter: true,
              content: '邮件已关联运单，是否删除？',
              cancelText: '取消',
              okText: '确认',
              async onOk() {
                let params = {
                  mailFlagType: 6,
                  ids: arr,
                  result: true,
                };
                emailApi.emailOpt(params).then((res) => {
                  if (res.code == 200) {
                    Message.success('删除成功');
                    dataMap.allChecked = false;
                    functionMap.refresh1();
                  }
                });
              },
            });
          } else {
            let params = {
              mailFlagType: 6,
              ids: arr,
              result: true,
            };
            emailApi.emailOpt(params).then((res) => {
              if (res.code == 200) {
                Message.success('删除成功');
                dataMap.allChecked = false;
                functionMap.refresh1();
              }
            });
          }
        },
        // 彻底删除
        handleDel2(v) {
          let arr = [];
          let err = 0;
          dataMap.emailList.forEach((item) => {
            item.mailList.forEach((ele) => {
              if (ele.checked) {
                arr.push(ele.id);
                if (ele.orderLogisticsNo) {
                  err++;
                }
              }
            });
          });
          if (arr.length == 0) return;
          if (err) {
            Modal.warning({
              title: '提示',
              content: '邮件已关联运单，是否删除？',
              hideCancel: false,
              alignCenter: true,
              cancelText: '取消',
              okText: '确认',
              async onOk() {
                let params = {
                  mailFlagType: v == '删除' ? 5 : 6,
                  ids: arr,
                  result: true,
                };
                emailApi.emailOpt(params).then((res) => {
                  if (res.code == 200) {
                    Message.success('删除成功');
                    dataMap.allChecked = false;
                    functionMap.refresh1();
                  }
                });
              },
            });
          } else {
            let params = {
              mailFlagType: v == '删除' ? 5 : 6,
              ids: arr,
              result: true,
            };
            emailApi.emailOpt(params).then((res) => {
              if (res.code == 200) {
                Message.success('删除成功');
                dataMap.allChecked = false;
                functionMap.refresh1();
              }
            });
          }
        },
        //刷新
        syncData() {
          dataMap.emailParams.pageNum = 1;
          dataMap.emailParams.pageSize = 10;
          dataMap.pagination.pageNum = 1;
          dataMap.pagination.pageSize = 10;
          dataMap.accountList.map((e) => (e.checked = false));
          dataMap.emailType.map((e) => (e.checked = false));
          functionMap.getEmails();
        },
        //取消关联
        async cancleRelationMail() {
          let params = {
            mailInfoId: dataMap.emailDetail111.id,
          };
          const res = await emailApi.cancleRelationMail(params);
          if (res.code == 200) {
            functionMap.refresh();
            // dataMap.accountCount = res.data;
          }
        },
        //新建运单
        toNew() {
          newWaybillRef.value.show(dataMap.emailDetail111.mailInfoFileDTOS);
        },
        //关联运动
        toRelevance() {
          relevanceRef.value.show();
        },
        //收邮件
        async receivingEmails() {
          dataMap.emailParams.pageNum = 1;
          dataMap.pagination.pageNum = 1;
          dataMap.emailParams.replyFlag = false;
          dataMap.emailParams.mailFolder = 'inbox';
          let val = '';
          dataMap.accountList.forEach((item) => {
            if (item.checked) {
              val = item.emailAddress;
            }
          });
          let params = {
            emailAddress: val,
          };
          const res = await emailApi.downMailForAddress(params);
          if (res.code == 200) {
            Message.success('操作成功');
            functionMap.getEmails();
          }
          //
        },
        //写邮件
        toWrite() {
          writeRef.value.show();
        },
        //列表删除
        delEmail(ele) {
          if (ele.orderLogisticsNo) {
            Modal.warning({
              title: '提示',
              content: '邮件已关联运单，是否删除？',
              hideCancel: false,
              alignCenter: true,
              cancelText: '取消',
              okText: '确认',
              async onOk() {
                let params = {
                  mailFlagType: ele.emailIsRecycle ? 6 : 5,
                  ids: [ele.id],
                  result: true,
                };
                emailApi.emailOpt(params).then((res) => {
                  if (res.code == 200) {
                    Message.success('删除成功');
                    functionMap.refresh1();
                  }
                });
              },
            });
          } else {
            let params = {
              mailFlagType: ele.emailIsRecycle ? 6 : 5,
              ids: [ele.id],
              result: true,
            };
            emailApi.emailOpt(params).then((res) => {
              if (res.code == 200) {
                Message.success('删除成功');
                functionMap.refresh1();
              }
            });
          }
        },
        //回复/转发/编辑 邮件
        toReply(type) {
          if (
            (type == '回复邮件' || type == '转发邮件') &&
            !dataMap.emailDetail111.orderLogisticsNo
          ) {
            Modal.warning({
              title: '提示',
              content: '当前邮件未关联运单，请先新建/关联运单后再回复邮件',
              hideCancel: true,
              onOk: () => {},
            });
          } else {
            replyRef.value.show(dataMap.emailDetail111, type);
          }
        },
        //编辑邮件
        toEdit() {
          editRef.value.show(dataMap.emailDetail111);
        },
        //还原
        reback() {
          let params = {
            mailFlagType: 5,
            ids: [dataMap.emailID],
            result: false,
          };
          emailApi.emailOpt(params).then((res) => {
            if (res.code == '200') {
              functionMap.refresh1();
            }
          });
        },
        //星标
        starEmail(id, boo) {
          let params = {
            mailFlagType: 4,
            ids: [id],
            result: boo,
          };
          emailApi.emailOpt(params).then((res) => {
            if (res.code == 200) {
              Message.success(boo ? '星标成功！' : '取消星标');
              functionMap.refresh1();
            }
          });
        },
        //
        setRule(v) {
          dataMap.emailParams.orderByFlag = v;
          dataMap.emailParams.pageNum = 1;
          dataMap.pagination.pageNum = 1;
          functionMap.refresh();
        },
        //设置列表数量
        setPageSize(val) {
          console.log(val);
          dataMap.emailParams.pageNum = 1;
          dataMap.pagination.pageNum = 1;
          dataMap.emailParams.pageSize = val;
          dataMap.pagination.pageSize = val;
          functionMap.refresh();
        },
        //新建运单后刷新
        refresh() {
          functionMap.getEmailList();
          emailRef.value.getEmailDetail(dataMap.emailID);
        },
        //账户数量刷新
        refresh1(no) {
          let val = '';
          dataMap.accountList.forEach((item) => {
            if (item.checked) {
              val = item.emailAddress;
            }
          });
          functionMap.getEmailCount(val);
          functionMap.getEmailList(no);
          emailRef.value.getEmailDetail(dataMap.emailDetail.id);
        },
      });
      functionMap.getEmails();

      const emailRef = ref(null);
      const newWaybillRef = ref(null);
      const relevanceRef = ref(null);
      const writeRef = ref(null);
      const replyRef = ref(null);
      const editRef = ref(null);
      return {
        ...toRefs(dataMap),
        ...toRefs(functionMap),
        emailRef,
        newWaybillRef,
        relevanceRef,
        writeRef,
        replyRef,
        editRef,
      };
    },
  });
</script>

<style lang="less" scoped>
  .arco-dropdown-open .arco-icon-down {
    transform: rotate(180deg);
  }
  .container {
    width: 100%;
    height: calc(~'100vh - 92px');
    display: flex;
    // background: cyan;
    .container-left {
      width: 240px;
      height: 100%;
      padding: 20px;
      background: #ffffff;
      border-right: 1px solid #e5e6eb;
      .left-btn {
        display: flex;
        justify-content: space-between;
        margin-bottom: 18px;
      }
      .account-checked {
        color: #2969ff;
      }
      .account-list {
        font-weight: 500;
        font-size: 14px;
        line-height: 22px;
        // color: #2969ff;
        color: #212121;
        .email-account {
          display: flex;
          align-items: center;
          margin-bottom: 10px;
          margin-left: 10px;
          margin-right: 8px;
        }
        .account {
          .account-item {
            width: 100%;
            height: 32px;
            line-height: 32px;
            padding-left: 47px;
            padding-right: 12px;
            margin-bottom: 5px;
            display: flex;
            justify-content: space-between;
            &:hover {
              background: #e5e6ebcc;
              cursor: pointer;
            }
          }
          .qingchu-color {
            color: #4e5969;
          }
          .account-active {
            background: #e5e6ebcc;
            color: #2969ff;
          }
        }
      }
    }
    .container-right {
      flex: 1;
      overflow: hidden;
      height: 100%;
      .right-header {
        width: 100%;
        height: 70px;
        // width: 80px;
        border: 1px solid #e5e6eb;
        font-size: 14px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        overflow-x: auto;
        .h30 {
          height: 30px;
          width: 86px;
          display: flex;
          align-items: center;
        }
        .h60 {
          height: 30px;
          width: 110px;
          display: flex;
          align-items: center;
        }

        .right-header-left {
          flex: 1;
          // height: 20px;
          display: flex;
          align-items: flex-start;
          margin-left: 10px;
          font-size: 14px;

          .right-header-allChecked {
            display: flex;
            align-items: center;
            padding-right: 26px;
            font-size: 14px;

            border-right: 1px solid #e5e6eb;
            :deep .arco-checkbox {
              margin-right: 12px;
              // margin-top: 0px;
            }
          }
          .right-header-del {
            margin-left: 26px;
            width: 78px;
            cursor: pointer;
            .right-header-delTxt {
              margin-left: 10px;
              font-size: 14px;
            }
          }
          .right-header-search {
            display: flex;
            line-height: 20px;
            margin-left: 30px;
            // margin-right: 26px;
            // border-right: 1px solid #e5e6eb;
            :deep .right-side .nav-btn {
              padding: 0;
              color: #4e5969;
            }
          }
          .right-header-stop {
            padding-left: 26px;
            // border-left: 1px solid #e5e6eb;
            span {
              margin-left: 10px;
              // color: #94bfff;
              color: #2969ff;
            }
          }
        }
        .right-header-right {
          display: flex;
          align-items: center;
          min-width: 200px;
          margin-right: 10px;
          .page-rigth-border {
            margin-right: 12px;
            padding-right: 8px;
            border-right: 1px solid #e5e6eb;
          }
        }
      }
      .main {
        display: flex;
        .main-left {
          width: 308px;
          .main-left-top {
            height: calc(100vh - 220px);
            min-height: calc(100vh - 220px);
            overflow-y: auto;
            border-right: 1px solid #f2f3f5;
          }
          .noDataList {
            width: 308px;
            height: calc(100vh - 220px);
            background: #ffffff;
            border-right: 1px solid #f2f3f5;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            .noDataList-image {
              width: 149.35px;
              height: 120px;
            }
            p {
              margin-top: 20px;
              font-size: 12px;
              line-height: 20px;
              /* identical to box height, or 167% */

              /* 文本/Text-2 */

              color: #c9cdd4;
            }
          }
          .email-list {
            width: 308px;

            padding: 4px 20px;
            margin-bottom: 20px;
            .email-date {
              height: 20px;
              line-height: 20px;
              font-size: 12px;
              color: #4e5969;
              font-weight: 400;
              border-bottom: 0.5px solid #2969ff;
            }
            .item-active {
              background: #f2f3f5;
            }
            .email-box {
              display: flex;
              align-items: flex-start;
              width: 100%;
              height: 76px;
              padding: 8px 12px 8px 0;
              margin-bottom: 12px;
              font-weight: 400;
              &:hover {
                background: #f2f3f5;
                cursor: pointer;
              }
              .arco-checkbox {
                margin-top: 4px;
              }
              .email-box-right {
                flex: 1;
                margin-left: 9px;
                font-size: 14px;
                color: #212121;
                .email-right-header {
                  display: flex;
                  justify-content: space-between;
                  align-items: center;
                  line-height: 20px;
                  margin-bottom: 4px;
                  .right-header-date {
                    color: #86909c;
                    font-size: 14px;
                    margin-right: 6px;
                  }
                  .star-color-nor {
                    color: #86909c;
                  }
                  .star-color {
                    color: #ffb400;
                  }
                }
                .email-right-content {
                  display: flex;
                  justify-content: space-between;
                  align-items: center;
                  line-height: 20px;
                  width: 100%;

                  span {
                    width: 200px;
                    overflow: hidden; /* 移除隐藏 */
                    text-overflow: ellipsis; /* 省略号 */
                    white-space: nowrap; /* 禁止文字自动换行 */
                  }
                }
                .PI {
                  width: 100%;
                  display: flex;
                  align-items: center;
                  justify-content: space-between;
                }
                .noPI {
                  width: 100%;
                  display: flex;
                  align-items: center;
                  justify-content: space-between;
                  span {
                    color: #ff7d00;
                    font-size: 12px;
                    width: 88px;
                    // height: 20px;
                    line-height: 20px;
                    background: #fff7e8;
                    border-radius: 2px;
                    padding: 0px 8px;
                  }
                }
              }
            }
            .emailIsRead {
              font-weight: 600;
            }
          }
          .email-page {
            width: 100%;
            height: 54px;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            background-color: #fff;
            :deep .arco-pagination-simple {
              justify-content: flex-end;
            }
          }
        }

        .main-email {
          flex: 1;
        }
      }
    }
  }

  .a-popover-set {
    .set-txt1 {
      width: 300px;
      height: 22px;
      font-weight: 500;
      font-size: 14px;
      line-height: 22px;
      color: #1d2129;
      margin-bottom: 10px;
    }
    .set-rule {
      width: 108px;
      padding: 4px 10px 4px 18px;
      color: #2969ff;
      border-radius: 4px;
      border: 1px solid #2969ff;
      margin-bottom: 4px;
      // border-bottom: 1px solid #f2f3f5;
    }
    .set-line {
      background: #f2f3f5;
      width: 100%;
      height: 1px;
      margin-top: 8px;
      margin-bottom: 12px;
    }
  }
</style>
