<template>
  <a-cascader v-model="dataMap.act" :options="dataMap.addOptions" :style="{ maxWidth: '280px' }" v-bind="$attrs" :load-more="loadMore" @change="addChange" />
</template>

<script lang="ts" setup>
import { reactive } from 'vue';

import { common } from '@/api/common/index';
const props = withDefaults(defineProps<{
  isTownship: boolean // 是否选择街道
}>(), {
  isTownship: true
})
const emit = defineEmits(['change'])
const dataMap = reactive({
  addOptions: [],
  act:''
})
const apis = {
  async mosProvince() {
    const { data } = await common.getProvince({});
    return data
  },
  async getCity(val: any) {
    const { data } = await common.getCity({ provinceId: val || 0 });
    return data
  },
  async getCounty(val: any) {
    const { data } = await common.getCounty({ cityId: val || 0 });
    return data
  },
  async getTownship(val: any) {
    const { data } = await common.getTownship({ countyId: val || 0 });
    return data
  },
}

const loadMore = async (option: any, done: any) => {
  let arr: any[] = []
  if (option.type === 'province') arr = await cityInit(option.value)
  if (option.type === 'city')     arr = await countyInit(option.value)
  if (option.type === 'county')  arr = await townshipInit(option.value)
  if (arr.length === 0) option.isLeaf = true
  return done(arr)
};
const init = async () => {
  const data = await apis.mosProvince()
  dataMap.addOptions = data.map((el: any) => {
    return {
      label: el.provinceName,
      value: el.provinceId,
      type: 'province'
    }
  })
}
const cityInit = async (id: any) => {
  const data = await apis.getCity(id)
  return data.map((el: any) => {
    return {
      label: el.cityName,
      value: el.cityId,
      type: 'city'
    }
  })
}
const countyInit = async (id: any) => {
  const data = await apis.getCounty(id)
  return data.map((el: any) => {
    return {
      label: el.countyName,
      value: el.countyId,
      type: 'county',
      isLeaf: !props.isTownship
    }
  })
}
const townshipInit = async (id: any) => {
  const data = await apis.getTownship(id)
  return data.map((el: any) => {
    return {
      label: el.townshipName,
      value: el.townshipId,
      type: 'township',
      isLeaf: true
    }
  })
}
const addChange = (val)=>{
  console.log('act',dataMap.act,val);
  emit('change',)
}
init()
</script>