<!-- 描述列表组件 -->
<template>
  <div class="info_shell">
    <div class="info_title">
      <div class="title_text">{{ title }}</div>
    </div>
    <div class="info">
      <div class="info_item" v-for="(item, index) in columns" :key="index">
        <div class="info_item_label">{{ item.title }}</div>
        <div class="info_item_value">
          <slot :name="item.slotName" :record="data">
            {{ data[item.dataIndex] }}
          </slot>
        </div>
      </div>
    </div>
    <slot name="fee"> </slot>
  </div>
</template>

<script lang="ts">
export default {
  name: 'DescribeList',
};
</script>
<script setup lang="ts">
import { defineProps, reactive, defineEmits } from 'vue';
import router from '@/router';
const props = defineProps({
  data: {
    type: Object,
    default: {},
  },
  columns: {
    type: Array,
    default: [],
  },
  title: String,
});
</script>

<style lang="less" scoped>
.info_shell {
  padding: 20px 32px;

  .info_title {
    display: flex;
    align-items: center;

    .title_text {
      font-size: 16px;
      color: #1d2129;
      font-weight: 500;
      margin-right: 18px;
    }
  }

  .info {
    margin-top: 23px;
    font-size: 14px;
    display: flex;
    flex-wrap: wrap;

    .info_item {
      width: 25%;
      min-width: 100px;
      text-align: justify;
      padding-right: 10px;

      &:nth-child(n + 5) {
        margin-top: 32px;
      }

      &_label {
        color: #696c70;
      }

      &_value {
        margin-top: 9px;
        color: #212121;
      }
    }
  }
}
</style>