<template>
  <div class="right-side">
    <a-dropdown
      :style="{ 'width': '904px','max-height': '617px'}"
      position="bl"
      class="filter-dropdown custom-column-dropdown"
    >
      <a-button
        class="nav-btn"
        type="outline"
        ref="customColumnRef"
      >
        <template #icon>
          <icon-list />
        </template>
        <span>自定义列</span>
      </a-button>
      <template #content>
        <div class="topLine"></div>
        <div class="bottomLine"></div>
        <div class="search-wrap">
          <!-- <h3
            style="line-height:24px;font-size: 16px;color: #212121;position: absolute;left: 1px;right: 1px;top:1px;padding: 12px 16px;background:#fff;margin:0;border-radius:4px 4px 0 0;"
          >设置筛选条件</h3>
          <div style="height:48px;"></div> -->
          <div 
            class="custon-column-wraps"
            style="max-height: 546px;overflow-y: scroll;padding: 0 16px 0;"
          >
            <!-- TODO 自定义列 -->
           <Content 
            v-model:initColumns="initColumns"
            :origin="origin"
            :viewSystemId='viewSystemId'
            :viewType='viewType'
            :viewName='viewName'
            :viewUserId='viewUserId'
            ref="contentRef"
           ></Content>
          </div>
          <p style="height:65px;margin:0;"></p>
          <div 
            class="handle-wrap"
            style="position: absolute;left: 1px;right: 1px;bottom: 1px;height: 64px;padding: 16px;border-top: 1px solid rgba(229, 230, 235, 1);display: flex;justify-content:flex-end;background:#fff;border-radius: 0 0 4px 4px;"
          >
            <a-button
              class="cancleBtn"
              :style="{width: '76px','margin-right': '8px'}"
              @click="cancleClick"
            >取消</a-button>
            <a-button 
              :style="{width: '76px'}"
              type="primary"
              @click="confirmClick"
            >确认</a-button>
          </div>
        </div>
      </template>
    </a-dropdown>
  </div>
</template>

<script lang="ts">
import Content from './Content.vue'
import {
  defineComponent,
  onMounted,
  PropType,
  reactive,
  toRefs,
  watch,
  ref,
  computed,
  onUnmounted,
  nextTick,
} from 'vue';
import { saveCustomColumn } from '@/api/base/customColumn';

export default defineComponent({
  name: 'CustomClumn',
  components: {
    Content,
  },
  props: {
    pageInitColumns: {
      type: Array,
      default: () => []
    },
    viewSystemId:{
      type:[String,Number],
      default:''
    },

    viewType:{
      type:[String,Number],
      default:''
    },
    viewName:{
      type:[String],
      default:''
    },
    viewUserId: {
      type:[String,Number],
      default:''
    }
  },
  emits: ['update:pageInitColumns','submitSuccess'],
  setup(props,{emit,slots,attrs}){
    // 自定义列字段
    const customColumnList = ref([])
    const contentRef = ref<any>(null)
    const dataMap = reactive({
      origin: 'buttonArea',
      initColumns: [] as any [],
    })
    const customColumnRef = ref([])

    const cancleClick = () => {
      // 1. 自定义列数据恢复初始状态  TODO
      
      console.log('取消')
      
      // 2. 关闭下拉框
      customColumnRef.value.handleClick()
    }

    const confirmClick = () => {
      // 1. 保存自定义列数据  TODO
      // 2. 传自定义列数据给父组件  TODO
      // 3. 关闭下拉框
      // 
      contentRef.value.handleSaveCustomColumn().then(()=>{
        customColumnRef.value.handleClick()
        emit('submitSuccess', 'submitSuccess')
      })
    }

    watch(
      () => props.pageInitColumns,
      (newValue) => {
        dataMap.initColumns = newValue
      }
    );

    return {
      ...toRefs(dataMap),
      customColumnList,
      customColumnRef,
      contentRef,
      cancleClick,
      confirmClick,
    }
  }
})
</script>

<style lang="less" scoped>
:deep(.arco-trigger-popup-wrapper){
  font-size: 60px;
}
.right-side {
  width: auto;
  display: flex;
  padding-right: 20px;
  list-style: none;
  :deep(.locale-select) {
    border-radius: 20px;
  }
  a {
    color: var(--color-text-1);
    text-decoration: none;
  }
  .nav-btn {
    height:24px;
    padding: 2px 4px;
    border-color: rgb(var(--gray-2));
    color: rgb(var(--gray-8));
    font-size: 14px;
    border:none;
    background-color: #fff;
    &:hover{
      background-color: #EEF3FF;
      color: #2969FF;
    }
  }
}
.filter-dropdown{
  // font-size: 30px;
  :deep(.arco-trigger-popup-wrapper){
    font-size: 60px;
  }
  .arco-dropdown-list-wrapper{
    font-size: 120px;
  }
}
:deep(.arco-dropdown){
  padding: 0;
}
.topLine,.bottomLine{
  position: absolute;
  content: '';
  width: 1px;
  height: 5px;
  background-color: #e5e6eb;
  // background-color: pink;
  right: 287px;
  top:0;
  z-index: 99999999;
}
.bottomLine{
  height: 2px;
  top: auto;
  bottom:65px;
}
</style>