<template>
  <div class="title_content"> <slot></slot> </div>
</template>

<script setup>
  defineProps({
    title: String,
  });
</script>

<style lang="less" scoped>
  .title_content {
    font-weight: 500;
    height: 54px;
    line-height: 54px;
    color: #212121;
    font-size: 16px;
  }
</style>
