<template>
  <div class="right-side">
    <a-dropdown :style="{ 'width': '685px', 'max-height': '488px' }" position="bl" class="filter-dropdown"
      v-model="dataMap.visible" :default-popup-visible="false">
      <a-button class="nav-btn" type="outline" ref="filterRef">
        <template #icon>
          <icon-filter />
        </template>
        <span>筛选</span>
      </a-button>
      <template #content>
        <div class="search-wrap filter-wrap">
          <h3 style="
              line-height: 24px;
              font-size: 16px;
              color: #212121;
              position: absolute;
              left: 1px;
              right: 1px;
              top: 1px;
              padding: 12px 16px;
              background: #fff;
              margin: 0;
              border-radius: 4px 4px 0 0;
            ">设置筛选条件</h3>
          <div style="height: 48px"></div>
          <div class="filterList" style="max-height: 366px">

            <a-space direction="vertical" :size="24" class="" style="display: block">
              <a-row class="grid-demo">
                <a-col :span="3">
                  <div class="col-text" style="text-align: center">当</div>
                </a-col>
                <a-col :span="6">
                  <a-input disabled placeholder="客户名称"></a-input>
                </a-col>
                <a-col :span="4" style="margin: 0 8px">
                  <a-input disabled placeholder="等于"></a-input>
                </a-col>
                <a-col :span="10">
                  <a-select v-model="dataMap.customerName" placeholder="客户信息" allow-search  @search="getBussinessList" >
                    <a-option v-for="item in dataMap.bussinessList" :key="item.name" :label="item.name"
                      :value="item.name">
                    </a-option>
                  </a-select>
                </a-col>
              </a-row>
              <a-row class="grid-demo">
                <a-col :span="3">
                  <div class="col-text" style="text-align: center">且</div>
                </a-col>
                <a-col :span="6">
                  <a-input disabled placeholder="模板名称"></a-input>
                </a-col>
                <a-col :span="4" style="margin: 0 8px">
                  <a-input disabled placeholder="等于"></a-input>
                </a-col>
                <a-col :span="10">
                  <a-select v-model="dataMap.standingBookId" style="max-height: 32px !important" placeholder="请选择模板">
                    <a-option v-for="item in dataMap.templateList" :key="item.id" :label="item.standingBookName"
                      :value="item.id">
                    </a-option>
                  </a-select>
                </a-col>
              </a-row>
              <a-row class="grid-demo">
                <a-col :span="3">
                  <div class="col-text" style="text-align: center">且</div>
                </a-col>
                <a-col :span="6">
                  <a-input disabled placeholder="状态"></a-input>
                </a-col>
                <a-col :span="4" style="margin: 0 8px">
                  <a-select v-model="dataMap.statusList.range" style="max-height: 32px !important" placeholder="">
                    <a-option :label="'包含'" :value="0"> </a-option>
                    <a-option :label="'不包含'" :value="1"> </a-option>
                  </a-select>
                </a-col>
                <a-col :span="10">
                  <a-select :max-tag-count="1" multiple v-model="dataMap.statusList.selectedArray"
                    style="max-height: 32px !important" placeholder="请选择状态">
                    <a-option v-for="item in dataMap.statusList.options" :key="item.value" :label="item.label"
                      :value="item.value">
                    </a-option>
                  </a-select>
                </a-col>

              </a-row>

            </a-space>
          </div>
          <p style="height: 70px; margin: 0"></p>
          <div class="handle-wrap" style="
              position: absolute;
              left: 1px;
              right: 1px;
              bottom: 1px;
              height: 64px;
              padding: 16px;
              border-top: 1px solid rgba(229, 230, 235, 1);
              display: flex;
              justify-content: flex-end;
              background: #fff;
              border-radius: 0 0 4px 4px;
            ">
            <a-button class="cancleBtn" :style="{ 'width': '76px', 'margin-right': '8px' }" @click="cancleClick">取消
            </a-button>
            <a-button :style="{ width: '76px' }" type="primary" @click="confirmClick">确认</a-button>
          </div>
        </div>
      </template>
    </a-dropdown>
  </div>
</template>

<script lang="ts" setup>
import {
  defineComponent,
  onMounted,
  PropType,
  reactive,
  toRefs,
  watch,
  ref,
  computed,
  onUnmounted,
  nextTick,
} from 'vue';
import { crmApi } from '@/api/crmApi';
import commonApi from '@/utils/commonApi/index';
import { formatOptions } from '@/utils';
import { runOrderApi } from '@/api/runOrderApi/index'
import { contractManage } from '@/api/contractManage';
import { Message } from '@arco-design/web-vue';
const emit = defineEmits(['filterParams'])
const filterRef = ref<any>([]);
const dataMap = reactive<any>({
  customerName: "",// 客户名
  standingBookId: "",// 模板id
  standingBookName: "",// 模板名称
  bussinessList: [],
  templateList: [],
  client: {},
  visible: true,
  searchVal:'',
  // 状态相关
  statusList: {
    range: 0,//0 包含 1不包含
    selectCount: 0,
    selectStyle: false,
    isIndeterminate: false,
    selectedArray: ['0', '10', '11', '12', '13', '14', '15', '16', '17', '18',],
    oldSelectArray: [],
    options: [
      // { value: '-1', label: '全选' },
      { value: '0', label: '暂存' },
      { value: '10', label: '待接单' },
      { value: '11', label: '已接单' },
      { value: '12', label: '未到港' },
      { value: '13', label: '电子放行' },
      { value: '14', label: '已到港' },
      { value: '15', label: '查验' },
      { value: '16', label: '报关放行' },
      { value: '17', label: '计划运输' },
      { value: '18', label: '运输完成' }
    ]
  },

})
// const selectChange = (...arg)=>{
// // console.log('selectChange',val,dataMap.statusList.oldSelectArray);
// // if()

// // dataMap.statusList.oldSelectArray  = val
// }
// watch(()=>dataMap.statusList.selectedArray,)
const getBussinessList = async () => {
  const { data } = await contractManage.customName({
    relationType: 8,
    name: dataMap.searchVal||"",
    hasTradeCode: ""
  })
  dataMap.bussinessList = data
}
const getTemplateList = async () => {
  const { data } = await runOrderApi.standingTemplateList({ keyWord: '' })
  dataMap.templateList = data
}
const confirmClick = () => {
  if (dataMap.customerName === '') return Message.error("请选择客户")
  if (dataMap.standingBookId === '') return Message.error("请选择模板")
  emit("filterParams", {
    customerName: dataMap.customerName,
    standingBookId: dataMap.standingBookId,
    statusList: dataMap.statusList.options.filter(el => {
      if (dataMap.statusList.range) {
        return !dataMap.statusList.selectedArray.includes(el.value)
      } else {
        return dataMap.statusList.selectedArray.includes(el.value)
      }
    }).map(el=>Number(el.value))
  })
  filterRef.value.handleClick()

}
const cancleClick = () => {
  filterRef.value.handleClick()
}
const open = () => {
  // dataMap.visible = true
  filterRef.value.handleClick()
}

const initOptions = async () => {
  getBussinessList()
  getTemplateList()
}
initOptions()
// emit("filterParams", {
//   customerName: '上海茂巨国际贸易有限公司',
//   standingBookId: 3,
//   statusList: ['16', '15', '14', '13', '12']
// })
defineExpose({ open })
</script>

<style lang="less" scoped>
:deep(.arco-trigger-popup-wrapper) {
  font-size: 60px;
}

.right-side {
  width: auto;
  display: flex;
  padding-right: 20px;
  list-style: none;

  :deep(.locale-select) {
    border-radius: 20px;
  }

  a {
    color: var(--color-text-1);
    text-decoration: none;
  }

  .nav-btn {
    height: 24px;
    padding: 2px 4px;
    border-color: rgb(var(--gray-2));
    color: rgb(var(--gray-8));
    font-size: 14px;
    border: none;
    background-color: #fff;

    &:hover {
      background-color: #eef3ff;
      color: #2969ff;
    }
  }
}

.filter-dropdown {

  // font-size: 30px;
  :deep(.arco-trigger-popup-wrapper) {
    font-size: 60px;
  }

  .arco-dropdown-list-wrapper {
    font-size: 120px;
  }
}

.filterList {
  padding: 0 15px;
  overflow-y: auto;
}

.grid-demo {
  align-items: center;
}

.col {
  margin-bottom: 16px;
}

.col-text {
  height: 100%;
  text-align: center;
}
</style>