<template>
  <div class="component-common-table" v-show="tableData.length != 0">
    <!-- :columns="commonColumn.slice(0,20)"   // 表格渲染慢的原因是  列数太多 -->
    <!-- 多选不可选中  因为后台缺少key字断 -->
    <!-- <span class="icon iconfont icon-zhankai16px1px"></span> -->
    <a-table :columns="columns"  :data="tableData" :bordered="{ cell: true }" :scroll="scroll"
      :pagination="PaginationProps" :loading="loading" @page-change="pageChange" @page-size-change="pageSizeChange"
      @sorter-change="sortChange" @column-resize="columnResize" class="commonTable" column-resizable v-bind="$attrs">
    </a-table>
  </div>
</template>

<script lang="ts">
import {
  defineComponent,
  onMounted,
  PropType,
  reactive,
  toRefs,
  watch,
  ref,
  h,
  defineExpose,
  computed,
  onUnmounted,
  nextTick,
  watchEffect,
} from 'vue';

import { runOrderApi } from '@/api';
import { Message } from '@arco-design/web-vue';

export default defineComponent({
  name: 'CommonTableSettle',
  props: {
    syncFlag: {
      type: Number,
    },
    filterParams: {
      type: Object,
      require: true,
    },
  },
  emits: ['openFilter', 'getSelectData', 'paginationWidth', 'tableDataChange'],
  setup(props, { attrs, emit, slots }) {
    let data = reactive([]);
    const dataMap = reactive({
      titleSlotName: [] as any[],
      timer: null,
      props,
      columns: [],
      loading:false,
      tableData: [] as any[],
      params: {
        pageNum: 1, // 当前页-默认为1
        pageSize: 10, // 每页大小-默认为10
        orderWay: 1, //排序类型: 降序-1 升序-2
        /* 
        orderKey 排序类型: 1-订舱日期 2-预计开航日期 3-实际开航日期 4-预计到港日期 5-实际到港日期 6-最新事件(委托日期)
         [新版] 11-状态 12-PI号 13-预计到港日期 14-实际到港日期 15-委托日期 16-电子放行时间 17-报关放行时间 18-预计送达时间 19-实际送达时间 20-预计换单日期 21-换单派出日期 22-换单完成日期
         23-换单派单时间 24-换单签收时间  25-制单派单时间 26-制单签收时间 27-制单正本流转时间 28-制单正本签收时间
        */
        orderKey: 20
      },
      PaginationProps: {
        'size': 'mini',
        'total': '',
        'current': 1, //  当前页码
        'page-size': 10, // 每页展示的数据条数
        'show-page-size': true,
        'page-size-options': [10, 20, 30, 40, 50],
        'show-total': true,
        'show-jumper': true,
      },
      tData: Array<any>(),
      tLoading: false,
      tTotal: 0,
      page: 1,
      size: 10,
      radio: '',
      radioSelect: '',
      bodyHeight: document.body.clientHeight,
      pageChange(page: number) {
        dataMap.PaginationProps.current = page;
        dataMap.params.pageNum = page;
      },
      pageSizeChange(pageSize: number) {
        dataMap.PaginationProps['page-size'] = pageSize;
        dataMap.params.pageSize = pageSize;
      },
      // 点击行选择器时触发
      selectHandle(rowKeys: string, rowKey: string, record: any) {
      },
      colors: [
        'red',
        'orangered',
        'orange',
        'gold',
        'lime',
        'green',
        'cyan',
        'blue',
        'arcoblue',
        'purple',
        'pinkpurple',
        'magenta',
        'gray',
      ],
      filterClick() {
      },
      // 排序调整
      sortChange(dataIndex: string, direction: string) {
        return
      },
      // 列宽调整方法
      columnResize(dataIndex: string, width: number) {
      },
    });
    const scroll = {
      x: '100%',
      y: '100%',
    };
    const getColumn = async () => {
      if (dataMap.tableData.length == 0) return
      if (dataMap.tableData[0] && dataMap.tableData[0]?.fieldInterface) {
        let fieldInterfaces = dataMap.tableData[0].fieldInterface.split(',')
        let fieldNames = dataMap.tableData[0].fieldName.split(',')
        dataMap.columns = fieldInterfaces.map((item: any,i: any) => {
          return {
            title: fieldNames[i],
            dataIndex: item,
            slotName: item,
            width:200
          }
        })
      }
    }
    const getList = async () => {
        dataMap.loading = true;
      let params: any = { ...dataMap.params, ...props.filterParams, }
      if (Object.keys(props.filterParams as Object).length === 0) {
        Message.warning("请先选择筛选条件")
        emit('openFilter')
        return dataMap.loading = false
      }

      const { data } = await runOrderApi.getStandingList(params)
      dataMap.tableData = data.list;
      dataMap.PaginationProps.total = data.total;
      dataMap.loading = false;
      getColumn()
    };
    watch([() => dataMap.params, () => props.filterParams, () => props.syncFlag], getList,  { deep: true })
    watch([() => dataMap.tableData, () => props.filterParams], () => {
      emit('tableDataChange', dataMap.tableData)
    })

    return {
      data,
      scroll,
      ...toRefs(dataMap),
    };
  },
});
</script>

<style lang="less" scoped>
.commonTable {
  // width: calc(~"100vh - 40px");
  width: calc(~'100vh - 0px');
  width: calc(~'100vw - 40px');
}

:deep(.arco-table-container) {
  width: auto;
}

:deep(.arco-table-container .arco-table-content) {
  display: flex;
  flex-direction: column;
  width: auto;
  height: 100%;
}

:deep(.arco-table-pagination) {
  position: fixed;
  right: 20px;
  bottom: 20px;
  z-index: 2;
}

.component-common-table {
  height: 100%;
}

.filterBtn {
  width: 22px;
  height: 22px;
  display: inline-block;
  text-align: center;
  line-height: 22px;
  // margin-left: 3px;
  cursor: pointer;

  &:hover {
    background-color: var(--color-neutral-3);
    border-radius: 2px;
  }
}

.filterIcon {
  position: absolute;
  right: 4px;
  top: 50%;
  margin-top: -12px;
  height: 24px;
  width: 24px;
  font-size: 12px;
  border-radius: 2px;
  line-height: 24px;
  text-align: center;

  &:hover {
    background: #e5e6eb;
  }
}

.starList {
  span {
    margin: 0 4px;
    cursor: pointer;
  }
}

.operateBtn {
  // width: 20px;
  // height: 20px;
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -12px;
}

.overBgTitle {
  width: 2px;
  height: 40px;
  position: absolute;
  left: -1px;
  top: 0;
  background-color: var(--color-neutral-2);
}

.overBg {
  width: 1px;
  height: 40px;
  top: 0;
  left: -1px;
  background-color: var(--color-bg-1);
  position: absolute;
}

:deep(.arco-table-tr) {
  &:hover {
    .overBg {
      background-color: var(--color-neutral-1);
    }
  }
}

:deep(.arco-table-tr-checked .overBg) {
  background-color: var(--color-neutral-1);
}

.icon {
  width: 24px;
  height: 24px;
  display: inline-block;
  text-align: center;
  line-height: 24px;
  border-radius: 2px;
}

.iconHover {
  &:hover {
    background: rgba(245, 63, 63, 0.3);
  }
}

.iconHoverGreen {
  &:hover {
    background: rgba(41, 105, 255, 0.3);
  }
}
</style>
