<template>
  <div class="add-info">
    <div class="title">
      基本信息
      <a-button type="outline" size="small" v-if="!isEdit&&!isCheck" @click="editClick">
        编辑
      </a-button>
    </div>
    <a-form
      class="form-wrap"
      layout="vertical"
      :model="form"
      :rules="rules"
      ref="formRef"
    >
      <a-row :gutter="20">
        <a-col :span="6">
          <a-form-item
            field="standardProductsName"
            label="产品名称"
            :rules="nameRules"
            :validate-trigger="['input', 'blur']"
          >
            <a-input
              placeholder="请输入产品名称"
              v-model="form.standardProductsName"
              :disabled="!isEdit"
              @input="checkStandardName"
              allow-clear
            />
          </a-form-item>
        </a-col>
        <a-col :span="6">
          <a-form-item
            field="businessTypesCode"
            label="业务类型"
            validate-trigger="change"
          >
            <a-select
              v-model="form.businessTypesCode"
              placeholder="请选择业务类型"
              :disabled="!isEdit"
              @change="getBusinessTypesName"
            >
              <a-option
                v-for="(item, index) in serveScoped"
                :key="index"
                :value="item.codesValues"
                :label="item.codeName"
                :disabled="item.disabled"
              ></a-option>
            </a-select>
          </a-form-item>
        </a-col>
        <a-col :span="6">
          <a-form-item
            field="packingTypeCode"
            label="货箱类型"
            label-col-flex="100px"
          >
            <a-select
              v-model="form.packingTypeCode"
              placeholder="请选择货箱类型"
              :disabled="!isEdit"
              @change="getPackingTypeName"
            >
              <a-option
                v-for="(item, index) in packingType"
                :key="index"
                :value="item.codesValues"
                :label="item.codeName"
                :disabled="item.disabled"
              ></a-option>
            </a-select>
          </a-form-item>
        </a-col>
        <a-col :span="6">
          <a-form-item field="goodsName" label="品类" label-col-flex="100px">
            <a-select
              allow-search
              v-model="form.goodsName"
              placeholder="请选择品类"
              :disabled="!isEdit"
              @change="getHarbour"
            >
              <a-option
                v-for="(item, index) in categoryList"
                :key="index"
                :value="item"
                :label="item"
              ></a-option>
            </a-select>
          </a-form-item>
        </a-col>
        <a-col :span="6">
          <a-form-item
            field="categoryNames"
            label="销售品名"
            label-col-flex="100px"
          >
            <a-select
              allow-search
              multiple
              v-model="form.categoryNames"
              placeholder="请选择销售品名"
              :disabled="!isEdit"
            >
              <a-option
                v-for="(item, index) in marketList"
                :key="index"
                :value="item"
                :label="item"
              ></a-option>
            </a-select>
          </a-form-item>
        </a-col>
        <a-col :span="6">
          <a-form-item field="portCname" label="港口" label-col-flex="100px">
            <a-select
              allow-search
              v-model="form.portCname"
              placeholder="请选择港口"
              :disabled="!isEdit"
              @change="getPortArea"
            >
              <a-option
                v-for="(item, index) in portList"
                :key="index"
                :value="item.seaportName"
                :label="item.seaportName"
              ></a-option>
            </a-select>
          </a-form-item>
        </a-col>
        <a-col :span="6">
          <a-form-item
            field="portAreaCname"
            label="港区"
            label-col-flex="100px"
          >
            <a-select
              allow-search
              v-model="form.portAreaCname"
              placeholder="请选择港区"
              :disabled="!isEdit"
            >
              <a-option
                v-for="(item, index) in harbourList"
                :key="index"
                :value="item.mosPortArea"
                :label="item.mosPortArea"
              ></a-option>
            </a-select>
          </a-form-item>
        </a-col>
        <a-col :span="6">
          <a-form-item
            field="containerSize"
            label="箱型"
            label-col-flex="100px"
          >
            <a-select
              allow-search
              v-model="form.containerSize"
              placeholder="请选择箱型"
              :disabled="!isEdit"
            >
              <a-option
                v-for="(item, index) in boxPileList"
                :key="index"
                :value="item.codeName"
                :label="item.codeName"
              ></a-option>
            </a-select>
          </a-form-item>
        </a-col>
        <a-col :span="6">
          <a-form-item
            field="containerType"
            label="箱类"
            label-col-flex="100px"
          >
            <a-select
              allow-search
              multiple
              v-model="form.containerType"
              placeholder="请选择箱类"
              :disabled="!isEdit"
            >
              <a-option
                v-for="(item, index) in boxPile1List"
                :key="index"
                :value="item.codeName"
                :label="item.codeName"
              ></a-option>
            </a-select>
          </a-form-item>
        </a-col>
        <a-col :span="6">
          <a-form-item
            field="validityDate"
            label="有效期"
            label-col-flex="100px"
          >
            <a-range-picker
              v-model="form.validityDate"
              @change="onChange"
              :disabled="!isEdit"
            />
            <!-- @select="onSelect" -->
          </a-form-item>
        </a-col>
      </a-row>
      <a-row :gutter="16">
        <a-col :span="24">
          <a-form-item field="remark" label="其他约定" label-col-flex="100px">
            <a-textarea
              v-model="form.remark"
              placeholder="请输入其他约定信息，限制300个字"
              max-length="300"
              allow-clear
              :disabled="!isEdit"
            />
          </a-form-item>
        </a-col>
      </a-row>
      <a-row style="display:flex;justify-content: flex-end;">
        <a-button
          type="secondary"
          size="small"
          style="margin-right: 12px"
          v-if="isEdit && showCancelBtnFlag == 0"
          @click="closePage"
        >
          关闭
        </a-button>
        <a-button
          type="secondary"
          size="small"
          style="margin-right: 12px"
          v-if="isEdit && showCancelBtnFlag > 0"
          @click="cancelEdit"
        >
          取消
        </a-button>
        <a-button type="primary" size="small" v-if="isEdit" @click="savaBaseInfo">
          保存
        </a-button>
      </a-row>
    </a-form>

    
  </div>
</template>

<script lang="ts">
import {
  defineComponent,
  onMounted,
  PropType,
  reactive,
  toRefs,
  watch,
  ref,
  computed,
  defineExpose,
  onUnmounted,
  nextTick,
} from 'vue';
import { useRoute, useRouter } from 'vue-router'
import { useTabBarStore } from '@/store';
import { crmApi } from '@/api/crmApi';
import utils from '@/utils/crm';
import { Modal, Message } from '@arco-design/web-vue';

export default defineComponent({
  name: 'BaseFormItem',
  props: {
    isEdit: {
      type: Boolean,
      default: true,
    },
    isCheck: {
      type: Boolean,
      default: false,
    },
    baseData: {
      type: Object,
      default: {},
    },
    showCancelBtnFlag: {
      type: [Number, String],
    }
  },
  emits: ['update:isEdit', 'update:baseData', 'update:showCancelBtnFlag', 'clearCost'],
  setup(props, { attrs, emit, slots }) {
    const route = useRoute()
    const router = useRouter()
    const query = route.query
    console.log(query)
    const formRef = ref([]);
    const dataMap = reactive({
      isNameRepeat: false,
      form: {},
      cancelFormData: {},
      rules: {
        standardProductsName: [
          {
            required: true,
            message: '请输入产品名称',
          },
        ],
        businessTypesCode: [
          {
            required: true,
            message: '请选择服务范围',
          },
        ],
        packingTypeCode: [
          {
            required: true,
            message: '请选择货箱类型',
          },
        ],
        goodsName: [
          {
            required: true,
            message: '请选择品类',
          },
        ],
        categoryNames: [
          {
            required: true,
            message: '请选择销售品名',
          },
        ],
        portCname: [
          {
            required: true,
            message: '请选择港口',
          },
        ],
        portAreaCname: [
          {
            required: true,
            message: '请选择港区',
          },
        ],
        containerSize: [
          {
            required: true,
            message: '请选择',
          },
        ],
        containerType: [
          {
            required: true,
            message: '请选择',
          },
        ],
        validityDate: [
          {
            required: true,
            message: '请选择有效期',
          },
        ],
      },
      nameRules: [
        {
          required: true,
          validator: (value: string, callback: any) => {
            console.log(value);
            if (value == undefined) {
              callback('请输入产品名称');
            } else {
              if (dataMap.isNameRepeat) {
                callback('产品名称不唯一，请修改');
              }
            }
          },
        },
      ],
      serveScoped: [], // 业务类型
      packingType: [], // 货箱类型
      categoryList: [], // 品类
      marketList: [], // 品名
      portList: [], // 港口
      harbourList: [], // 港区
      boxPileList: [], // 箱型
      boxPile1List: [], // 箱类
    });

    // 检查影响因子改变是否
    const handleCheckFactor = () => {
      // 因业务类型和货箱类型不可选择  影响因子计算未加业务类型和货箱类型  
      // 后期如果业务类型和货箱类型可选择   需要加上这两项
      const ids = [
        'goodsName',
        'categoryNames',
        'portCname',
        'portAreaCname',
        'containerSize',
        'containerType',
      ];
      const res =
        Object.keys(dataMap.cancelFormData).length == 0 ||
        ids.every((v) => {
          let res;
          if (Array.isArray(dataMap.cancelFormData[v])) {
            res =
              dataMap.cancelFormData[v].sort().toString() ==
              dataMap.form[v].sort().toString();
          } else {
            res = dataMap.cancelFormData[v] == dataMap.form[v];
          }
          console.log(v,res)
          return res;
        });
      return res;
    };

    const checkStandardName = () => {
      let params = {
        id: dataMap.form.id,
        standardProductsName: dataMap.form.standardProductsName,
      };
      dataMap.form.standardProductsName &&
        crmApi.checkStandardName(params).then((res) => {
          if (res.code == '200') {
            dataMap.isNameRepeat = res.data.isRepeat;
          }
        });
    };

    // 获取业务类型名称
    const getBusinessTypesName = () => {
      console.log(dataMap.form.businessTypesCode);
      dataMap.form.businessTypesName = utils.handleLabelByValue(
        dataMap.serveScoped,
        dataMap.form.businessTypesCode,
        'codesValues',
        'codeName'
      );
    };

    // 获取货箱类型名字
    const getPackingTypeName = () => {
      dataMap.form.packingTypeName = utils.handleLabelByValue(
        dataMap.packingType,
        dataMap.form.packingTypeCode,
        'codesValues',
        'codeName'
      );
    };

    // 获取品类
    const getType = () => {
      crmApi.category().then((res) => {
        if (res.code == '200') {
          dataMap.categoryList = res.data;
        }
      });
    };
    // 获取品名
    const getHarbour = (e: any) => {
      dataMap.form.categoryNames = '';
      dataMap.marketList = [];
      crmApi
        .categoryBy({
          categoryName: e,
        })
        .then((res) => {
          if (res.code == '200') {
            dataMap.marketList = res.data;
          }
        });
    };

    // 监听品类
    watch(
      ()=> dataMap.form.goodsName,
      (nval) => {
        if(nval){
          crmApi
          .categoryBy({
            categoryName: nval,
          })
          .then((res) => {
            if (res.code == '200') {
              dataMap.marketList = res.data;
            }
          });
        }
      },
      {immediate: true,deep: true}
    )

    // 获取港口
    const getPort = () => {
      let params = {
        countryId: 104,
      };
      crmApi.port(params).then((res) => {
        // console.log(res, '港区')
        if (res.code == '200') {
          dataMap.portList = res.data;
        }
      });
    };
    // 获取港区
    const getPortArea = (e: any, flag: any) => {
      dataMap.portList.map((item) => {
        if (item.seaportName == e) {
          dataMap.portData = {
            portId: item.seaportId,
            portCode: item.seaportCode,
            portCname: item.seaportName,
            portEname: item.seaportEnName,
          };
          dataMap.form.portId = item.seaportId;
          dataMap.form.portCode = item.seaportCode;
          dataMap.form.portCname = item.seaportName;
          dataMap.form.portEname = item.seaportEnName;
        }
      });
      dataMap.harbourList = [];
      if (!flag) {
        dataMap.form.portAreaCname = '';
      }
      crmApi
        .portArea({
          portCode: dataMap.form.portCode,
        })
        .then((res) => {
          dataMap.harbourList = res.data;
        });
    };

    // 监听港口
    watch(
      ()=> dataMap.form.portCode,
      (nval) => {
        if(nval){
          crmApi
          .portArea({
            portCode: nval,
          })
          .then((res) => {
            dataMap.harbourList = res.data;
          });
        }
      },
      {immediate: true,deep: true}
    )

    const containerSizeList = () => {
      // 业务类型
      crmApi
        .containerSizeList({
          codeTypeCode: 'customerbusinesstype',
        })
        .then((res) => {
          if (res.code == '200') {
            res.data.forEach((item: any) => {
              if (item.codeName !== '港口物流') {
                item.disabled = true;
              }
            });
            dataMap.serveScoped = res.data;
          }
        });
      // 货箱类型
      crmApi
        .containerSizeList({
          codeTypeCode: 'shippingtype',
        })
        .then((res) => {
          if (res.code == '200') {
            res.data.forEach((item: any) => {
              if (item.codeName !== '整箱') {
                item.disabled = true;
              }
            });
            dataMap.packingType = res.data;
          }
        });
      // 箱型箱量
      crmApi
        .containerSizeList({
          codeTypeCode: 'containersize',
        })
        .then((res) => {
          if (res.code == '200') {
            dataMap.boxPileList = res.data;
          }
        });
      crmApi
        .containerSizeList({
          codeTypeCode: 'containertype',
        })
        .then((res) => {
          if (res.code == '200') {
            dataMap.boxPile1List = res.data;
          }
        });
    };

    // const onSelect = (dateString:any, date:any) => {
    //   console.log('onSelect', dateString, date);
    // }
    const onChange = (dateString: any, date: any) => {
      console.log('onChange: ', dateString);
      dataMap.form.validityStartDate = dateString[0] + ' 00:00:00';
      dataMap.form.validityEndDate = dateString[1] + ' 00:00:00';
    };

    const editClick = () => {
      Modal.warning({
        title: '提示',
        content: '编辑基本信息会导致费用范围内的费用项引入成本发生改变，因此系统会对成本和报价进行重置，是否继续？',
        hideCancel: false,
        onOk: () => {
          dataMap.cancelFormData = {};
          dataMap.cancelFormData = JSON.parse(JSON.stringify(dataMap.form));
          // dataMap.showCancelBtnFlag++
          emit('update:isEdit', true);
          emit('update:showCancelBtnFlag', 2);
        }
      })
    };

    const handleSubmit = () => {
      // console.log(dataMap.form.standardProductsName)
      // 生成标准产品名称
      if(!dataMap.form.standardProductsName){
        if(dataMap.form.categoryNames && dataMap.form.portCname && dataMap.form.portAreaCname && dataMap.form.containerSize && dataMap.form.containerType){
          dataMap.form.standardProductsName = dataMap.form.categoryNames + 
            '|' + dataMap.form.portCname +
            '|' + dataMap.form.portAreaCname +
            '|' + dataMap.form.containerSize +
            '|' + dataMap.form.containerType
        }
      }
      
      formRef.value.validate().then((res: any) => {
        console.log(res);
        if (res == undefined) {
          // 校验成功
          const checkedData = {
            id: query.id || '',
            standardProductsName: dataMap.form.standardProductsName
          }
          crmApi.checkStandardName(checkedData).then((res) => {
            if(res.code == 200){
              console.log(res)
              if(res.data.isRepeat){ // 有重名
                console.log('重名了')
                Message.warning({
                  content: '产品名称不唯一，请修改'
                })
              } else {
                // 校验通过 且 没有重名
                console.log(handleCheckFactor()) 
                if (!handleCheckFactor()) {
                  console.log('影响因子变化了')
                  Modal.warning({
                    title: '提示',
                    content: '将清空成本核算，是否确认？',
                    hideCancel: false,
                    onOk: () => {
                      emit('clearCost', 'clearCost');  
                      emit('update:isEdit', false);
                      emit('update:baseData', dataMap.form);
                      //  清空成本引用信息
                    }
                  })
                  //   .then(() => {
                  //     // 重置报价、费用
                  //     // 清空包干费用的引用信息
                  //     console.log(this.addCostDataCopy);
                  //     this.addCostDataCopy.forEach((item) => {
                  //       item.costIds = [];
                  //       item.billingUnit = '';
                  //       item.costAmount = '';
                  //       item.checkCostDisplay = [];
                  //     });
                  //     this.addCostData = this.addCostDataCopy;
                  //     console.log(this.addCostData);
                  //     this.standardProductsQuoteSummary = [
                  //       {
                  //         arkNumberStart: '',
                  //         arkNumberEnd: '',
                  //         quotation: '',
                  //       },
                  //     ];

                  //     // this.addCostDataCopy = []
                  //     // this.addCostData = []
                  //     this.$refs.tree.setCheckedKeys([]);
                  //   })
    
                } else {
                  emit('update:isEdit', false);
                  emit('update:baseData', dataMap.form);  
                }
              }
            }
          })
        }
      });
      // console.log(formRef.value.validate())
    };

    const handleCancel = () => {
      console.log(dataMap.cancelFormData, 'dataMap.cancelFormData');
      formRef.value.clearValidate();
      dataMap.form = {};
      dataMap.form = dataMap.cancelFormData;
    };

    defineExpose({
      handleCancel,
      handleSubmit,
    });

    watch(
      () => props.baseData,
      (val) => {
        console.log('数据变化了');
        dataMap.form = val;
      },
      { immediate: true, deep: true }
    );

    watch(
      () => dataMap.form,
      (val) => {
        console.log(val);
      },
      { immediate: true, deep: true }
    );

    onMounted(() => {
      getType();
      getPort();
      containerSizeList();
      if(query.id){
        console.log(query.id)
        console.log(props.baseData.goodsName)
        // getHarbour(dataMap.form.goodsName)
        // getPortArea(dataMap.form.portCname)
      }
    });

    const cancelEdit = () => {
      console.log('取消编辑');
      emit('update:isEdit',false)
      handleCancel();
    };

    const savaBaseInfo = () => {
      handleSubmit();
      console.log('保存信息');
    };

    // 关闭当前页并返回列表页
    const tabBarStore = useTabBarStore();
    const tagList = computed(() => {
      return tabBarStore.getTabList;
    });
    const closePage = () => {
      Modal.warning({
        simple: true,
        title: '提示',
        content: '是否确认关闭当前页？',
        cancelText: '取消',
        hideCancel: false,
        modalStyle: {
          textAlign: 'center'
        },
        onOk: () => {
          let tag = route
          let idx
          tagList.value.find((item, index) => {
            if (item.fullPath === route.fullPath) {
              idx = index;
              return true;
            }
          });
          tabBarStore.deleteTag(idx, tag)
          router.push({
            path: '/mos/CRM/standardProduct/index',
          })
        }
      })
      // if (idx === tagList.value.length) {
      //   const latest = tagList.value[tagList.value.length - 1];
      //   router.push({ ...latest });
      // }
    }

    return {
      ...toRefs(dataMap),
      checkStandardName,
      formRef,
      getBusinessTypesName,
      getPackingTypeName,
      editClick,
      getHarbour,
      getPortArea,
      onChange,
      handleCancel,
      handleSubmit,
      cancelEdit,
      savaBaseInfo,
      closePage,
    };
  },
});
</script>

<style lang="less" scoped>
.add-info {
  background-color: #fff;
  padding: 20px;
  border: 1px solid rgba(229, 230, 235, 1);
  border-radius: 2px;
}
.title {
  font-weight: 500;
  font-size: 16px;
  line-height: 28px;
  color: #1d2129;
  margin-bottom: 18px;
  display: flex;
  justify-content: space-between;
}
:deep(.form-wrap .arco-col) {
  margin-bottom: 8px;
}
</style>