<template>
  <a-modal
    v-model:visible="visible"
    modal-class="costModalBody"
    :modal-style="{
      'width': '1000px',
      'max-height': '80%',
      'overflow': 'auto',
    }"
    :mask-closable="false"
    @beforeOk="handleOk"
    @cancel="handleCancel"
  >
    <template #title
      >引入成本费用({{ introData.record.costItemCname }})</template
    >
    <a-button
      size="mini"
      class="clearChecked"
      @click="clearChecked"
      v-if="tabIntroData.length > 1"
      >重置</a-button
    >
    <a-tabs v-model:active-key="activeKey" @tab-click="tabClick">
      <a-tab-pane
        ref="tabPane"
        v-for="(item, index) in tabIntroData"
        :key="index.toString()"
      >
        <!-- {{tabIntroData[index]}} -->
        <template #title>
          {{ item.label }}
          <!-- <a-tag class="checkedTag">已选</a-tag> -->
        </template>
        <!-- {{item.value}} -->
        <!-- {{introData.record.id}} -->
        <table-modal
          :tabLen="tabIntroDataLenth"
          :columns="allTableTitle"
          :data="item.value"
          :introData="introData"
          @getSelectedKeys="getSelectedKeys"
          @getSelectData="getSelectData"
          @clearAll="clearAll"
          ref="tableRef"
        ></table-modal>
      </a-tab-pane>
    </a-tabs>
    <!-- <div>
      {{ introData.record }}
    </div> -->
  </a-modal>
</template>

<script lang="ts">
import {
  defineComponent,
  onMounted,
  PropType,
  reactive,
  toRefs,
  watch,
  ref,
  computed,
  defineExpose,
  onUnmounted,
  nextTick,
} from 'vue';
import { crmApi } from '@/api/crmApi';
import utils from '@/utils/crm';
import { Message } from '@arco-design/web-vue';
import TableModal from './tableModal.vue';

export default defineComponent({
  name: 'costItem',
  props: {
    introData: {
      type: Object,
      default: {},
    },
    modalVisible: {
      type: Boolean,
      default: false,
    },
    baseData: {
      type: Object,
      default: {},
    },
    oldIntroData: {
      type: Object,
      default: {},
    },
  },
  components: {
    TableModal,
  },
  emits: ['update:modalVisible', 'update:baseData', 'updateIntroData'],
  setup(props, { attrs, emit, slots }) {
    const tableRef = ref([]);
    const tabPane = ref([]);
    const dataMap = reactive({
      activeKey: '0',
      visible: false,
      introData: {},
      originIntroData: {}, // 初始数据  点击重置按钮时 introData初始化
      tabIntroData: [] as any[],
      tabIntroDataLenth: 1,
      // 引入成本表头
      allTableTitle: [] as any[],
      tableTitle: [] as any[],
      tableTitleCommon: [
        {
          title: '成本金额',
          dataIndex: 'unitPrice',
          fixed: 'left',
          width: 100,
          ellipsis: true,
          tooltip: true,
        },
        {
          title: '计费单位',
          dataIndex: 'unit',
          width: 90,
          ellipsis: true,
          tooltip: true,
        },
      ],
      introDataAdd: {},
      checkCostDisplay: [] as any[],
    });

    defineExpose({});

    const scroll = {
      x: '100%',
      y: '100%',
    };

    const getIntroTab = () => {
      // 获取表头
      let codeData = {
        costItemCode: props.introData.record.costItemCode,
        factorsType: 1,
      };
      crmApi.costCenterTitle(codeData).then((res) => {
        if (res.code == '200' && res.data !== null) {
          dataMap.tableTitle = res.data.map((item: any) => {
            console.log(item,"item");
            
            return {
              title: item.name,
              dataIndex: item.value,
              width: item.name == '供应商' || item.name == '门点' ? 200 : 80,
              ellipsis: true,
              tooltip: true,
              slotName: item.value,
            };
          });
        } else {
          dataMap.tableTitle = [];
        }
        dataMap.allTableTitle = [
          ...dataMap.tableTitleCommon,
          ...dataMap.tableTitle,
        ];
      });

      // 获取成本项
      let params = {
        ...props.baseData,
        ...props.introData.record,
        itemCname: props.introData.record.costItemCname,
        containerTypeList: props.baseData.containerType,
      };
      console.log(params);
      crmApi.costList(params).then((res) => {
        // if (row.costIds) {
        // 	this.isArrayCostIds = row.costIds
        // }
        // console.log(res);
        // console.log(typeof res.data, '=====');
        if (res.code == '200') {
          let dataArr = [];
          for (let key in res.data) {
            dataArr.push({
              label: key, // label 字段
              value: res.data[key], // value字段
            });
          }
          // 处理
          dataArr.forEach((d) => {
            d.value.forEach((item: any) => {
              // console.log(item);
              item.key = item.id;
            });
          });
          dataMap.tabIntroData = dataArr;
          dataMap.tabIntroDataLenth = dataArr.length;
          // dataMap.tabIntroData = res.data
          // if (row.diaTableDataArray?.length == 0) {
          // 	if (res.data) {
          // 		Object.keys(res.data).forEach(function(key, i, v) {
          // 			res.data[key].map((item) => {
          // 				 if (item.doorStreet == null) {
          // 					item.doorProvince = item.doorProvince + item.doorCity + item.doorCounty
          // 					} else if (item.doorCounty == null && item.doorStreet == null) {
          // 					item.doorProvince = item.doorProvince + item.doorCity
          // 					} else {
          // 					item.doorProvince =
          // 						item.doorProvince + item.doorCity + item.doorCounty + item.doorStreet
          // 					}
          // 				// 运费需要门点信息
          // 				if (item.costItemCname == '运费') {
          // 					_this.form.doorProvince = item.doorProvince
          // 					_this.form.doorCity = item.doorCity
          // 					_this.form.doorCounty = item.doorCounty
          // 				}
          // 				_this.$set(item, 'radio', true)
          // 				return item
          // 			})
          // 			_this.checkedLabel = v
          // 		})
          // 		console.log(this.checkedLabel, '复选框标签')
          // 		// 初始化数据重组用于保存在列表项中，用于回显

          // 		row.checkedLabel = this.checkedLabel
          // 		console.log(this.costItemData)
          //     console.log(this.costItemData.costIds)
          // 		Array.isArray(this.checkedLabel)&&this.checkedLabel.map((item) => {
          // 			res.data[item].forEach(i => {
          // 			i.carrierCode = i.carrierCname
          // 			})
          //       let introRadioCheckout = ''
          //       // if(this.costItemData.costIds.length > 0){
          //       if(this.costItemData.checkCostDisplay && this.costItemData.checkCostDisplay.length > 0){
          //         console.log('有引入成本')
          //         console.log(row)
          //         console.log(row.diaTableDataArray)
          //         this.costItemData.checkCostDisplay.map(checkCost=>{
          //           if(item == checkCost.costItemCname){
          //             introRadioCheckout = String(checkCost.costs[0].id)
          //           }
          //           console.log('当前的费用项目：',item)
          //           console.log('引入成本名称：',checkCost.costItemCname)
          //         })
          //       }
          //       console.log(introRadioCheckout)
          //       row.diaTableDataArray.push({
          //         label: item,
          //         tableData: res.data[item],
          //         radioCheckout: introRadioCheckout,
          //         unitPrice: 0,
          //       })
          //       console.log(row)

          // 		})

          // 		this.dialogTableData = res.data
          // 		if (this.checkedLabel?.length == 1) {
          // 			this.checkList = this.checkedLabel
          // 			this.checkboxChange()

          // 		} else {
          // 			this.diaTableDataArray = []
          //       // 多成本默认显示
          //       this.$nextTick().then(()=>{
          //         console.log(this.costItemData.checkCostDisplay,'12345555')
          //         console.log(this.$refs,'12345555')
          //         if(this.costItemData.checkCostDisplay.length  == 0){
          //           // console.log(this.costItemData.checkCostDisplay[0].costs[0].id)
          //           this.$refs.checkBoxRefs[0].$el.click()
          //         } else if(this.costItemData.checkCostDisplay.length  == 1){
          //           console.log(this.costItemData.checkCostDisplay[0].costItemCname)
          //           console.log(1234555555555)
          //           let currentIndex = 0
          //           this.$refs.checkBoxRefs.map((item,index)=>{
          //             console.log(item.$el.innerText)
          //             if(item.$el.innerText == this.costItemData.checkCostDisplay[0].costItemCname){
          //               currentIndex = index
          //             }
          //           })
          //           this.$refs.checkBoxRefs[currentIndex].$el.click()
          //         } else {
          //           this.$refs.checkBoxRefs[0].$el.click()
          //           setTimeout(() => {
          //             this.$refs.checkBoxRefs[1].$el.click()
          //           }, 10);
          //         }
          //         this.tabLabel = this.checkedLabel[0]
          //         this.tabPosition = '0'
          //       })
          // 		}
          // 		if (this.checkList?.length > 0) {
          // 			this.tabPosition = '0'
          // 		}
          // 		console.log(this.dialogTableData)
          // 	} else {
          // 		this.dialogTableData = []
          // 		this.diaTableDataArray = []
          // 	}
          // } else {
          // 	//  this.dialogTableData = res.data
          // 	//  this.checkList=row.checkList
          // 	//  this.checkedLabel=row.checkedLabel
          // }
        }
        // this.form.containerType = oldContainerType
      });
    };

    const getSelectedKeys = (val: any) => {
      // 引入成本只有一条的时候
      if (dataMap.tabIntroDataLenth == 1) {
        console.log(dataMap.introData);
        console.log(props.oldIntroData, 'props.oldIntroData');
        console.log(val.checkData);
        let introDataAdd = {
          // id: val.checkData.id,//不需要id
          billingUnit: val.checkData.unit, // 计费单位
          costAmount: val.checkData.unitPrice, // 成本金额
          currency: val.checkData.currency, // 币别
          costIds: [val.checkData.id], // 已选择成本ID
          checkCostDisplay: [
            // 选中的成本回显
            {
              costItemCname: val.checkData.costItemCname,
              costs: [
                {
                  id: val.checkData.id,
                  door: val.checkData.doorIds,
                  doorProvince: val.checkData.doorProvince,
                  doorCity: val.checkData.doorCity,
                  doorCounty: val.checkData.doorCounty,
                  doorStreet: val.checkData.doorStreet,
                },
              ],
            },
          ],
        };
        dataMap.introData.record = {
          ...dataMap.introData.record,
          ...introDataAdd,
        };
        console.log(dataMap.introData, '选择后的dataMap.introData.');
      } else {
        // 引入成本两条的情况下

        // 将获取的数据进行处理
        const newItem = {
          costItemCname: val.costItemCname,
          costs: [
            {
              id: val.id,
              billingUnit: val.unit,
              costAmount: val.unitPrice,
              door: val.doorIds,
              doorProvince: val.doorProvince,
              doorCity: val.doorCity,
              doorCounty: val.doorCounty,
              doorStreet: val.doorStreet,
            },
          ],
        };

        if (dataMap.checkCostDisplay.length == 0) {
          dataMap.checkCostDisplay.push(newItem);
        } else {
          console.log('多条成本了');
          dataMap.checkCostDisplay.map((item, index) => {
            console.log(item, index);
            if (item.costItemCname == val.costItemCname) {
              console.log('多条成本了22222222222222');

              dataMap.checkCostDisplay.splice(index, 1);
              console.log(dataMap.checkCostDisplay);
              // dataMap.checkCostDisplay.push(newItem)
            } else {
              dataMap.checkCostDisplay.push(newItem);
            }
          });
          console.log(dataMap.checkCostDisplay);
        }

        // 以下是处理数据结构
        console.log(dataMap.introData, '选择后的dataMap.introData.');
        console.log(dataMap.checkCostDisplay, '338');
        let costIds = [] as any[];
        let costAmount = 0;
        dataMap.checkCostDisplay.map((item: any) => {
          costIds.push(item.costs[0].id);
          costAmount = costAmount + parseInt(item.costs[0].costAmount);
        });
        let introDataAdd = {
          // id: val.checkData.id,//不需要id
          billingUnit: dataMap.checkCostDisplay[0].costs[0].billingUnit, // 计费单位
          costAmount: costAmount, // 成本金额
          costIds: costIds, // 已选择成本ID
          checkCostDisplay: [...dataMap.checkCostDisplay], // 选中的成本回显
        };
        dataMap.introData.record = {
          ...dataMap.introData.record,
          ...introDataAdd,
        };
      }
    };

    const getSelectData = (data: any) => {
      console.log(data);
    };

    const clearChecked = () => {
      console.log(dataMap.introData,'props.introDatadataMap.introData')
      console.log(props.introData,'props.introData')
      const newRecord = {
        costItemCname: dataMap.introData.record.costItemCname,
        costItemCode: dataMap.introData.record.costItemCode,
        isLock: dataMap.introData.record.isLock,
        isLumpSum: dataMap.introData.record.isLumpSum
      }
      dataMap.introData.record = {...newRecord}
      console.log(1);
      console.log(tableRef.value);
      tableRef.value.forEach((item) => {
        item.selectedKeys = [];
      });
    };

    const clearAll = () => {
      // introData初始化
      dataMap.introData = {};
    };

    const handleOk = (done) => {
      console.log(tableRef.value);
      console.log(dataMap.introData,'dataMap.introData');
      console.log(dataMap.introData.record.costIds,'dataMap.introData');
      if(dataMap.introData.record.costIds && dataMap.introData.record.costIds.length > 0){
        // 有选择成本费用
        // 清空表头和表数据
        dataMap.allTableTitle = [];
        dataMap.tabIntroData = [];
         // 更新updateIntroData
        console.log(dataMap.introData);
        emit('updateIntroData', dataMap.introData);
        // 关闭弹框
        emit('update:modalVisible', false);
        done(true)
      } else {
        // 未选择成本费用
        Message.warning({
          content: '请先选择成本费用'
        })
        done(false)
      }
      // tableRef.value.emitSelectedKeys()
    };

    const handleCancel = () => {
      // 清空表头和表数据
      dataMap.allTableTitle = [];
      dataMap.tabIntroData = [];
      // 如果对应多项成本  点击取消时  将activeKey设置为0
      tabClick(0);
      // 引入数据初始化
      // dataMap.introData = JSON.parse(JSON.stringify(props.oldIntroData))
      // 关闭弹框
      emit('update:modalVisible', false);
      emit('updateIntroData', props.oldIntroData);
      // dataMap.introData = {}
    };

    const tabClick = (key: any) => {
      console.log(key);
    };

    watch(
      () => props.modalVisible,
      (nval) => {
        dataMap.visible = nval;
        console.log(props.baseData);
        if (nval) {
          console.log('tabPane', tabPane);
          dataMap.activeKey = '0';
        }
      },
      { immediate: true, deep: true }
    );

    watch(
      () => props.introData,
      (nval) => {
        console.log(nval);
        console.log('....不知道为什么变了');
        dataMap.introData = JSON.parse(JSON.stringify(nval));
        dataMap.originIntroData = nval;
        if (nval.record.costItemCname) {
          getIntroTab();
        }
      },
      { immediate: true, deep: true }
    );

    return {
      tableRef,
      scroll,
      getSelectedKeys,
      getSelectData,
      clearChecked,
      handleOk,
      handleCancel,
      tabClick,
      ...toRefs(dataMap),
    };
  },
});
</script>

<style lang="less" scoped>
.costModalBody {
  width: 1000px;
}
.checkedTag {
  // width: 40px;
  height: 20px;
  line-height: 20px;
  color: rgba(52, 145, 250, 1);
  font-size: 12px;
  background: #e8f7ff;
  border-radius: 2px;
  margin-left: 8px;
}
.clearChecked {
  position: absolute;
  right: 20px;
  top: 32px;
  z-index: 99999;
}
</style>