<template>
  <div class="add-info">
    <div class="title"> 费用范围 </div>
    <!-- {{selectedLumpData}} -->
    <div>
      <div class="cost-title">包干费</div>
      <a-tree-select
        v-model="lump"
        :multiple="true"
        :allow-clear="true"
        :allow-search="true"
        :data="treeDataLump"
        :filter-tree-node="filterTreeNode"
        placeholder="请选择包干费"
        dropdown-class-name="treeSelest"
      ></a-tree-select>
      <!-- @change="lumpChange" -->

      <div style="height: 15px"></div>

      <div class="cost-title">非包干费</div>
      <a-tree-select
        v-model="noLump"
        :multiple="true"
        :allow-clear="true"
        :allow-search="true"
        :data="treeDataNoLump"
        :filter-tree-node="filterTreeNode"
        placeholder="请选择非包干费"
      ></a-tree-select>
    </div>
  </div>
</template>

<script lang="ts">
import {
  defineComponent,
  onMounted,
  PropType,
  reactive,
  toRefs,
  watch,
  ref,
  computed,
  defineExpose,
  onUnmounted,
  nextTick,
} from 'vue';
import { useRoute } from 'vue-router';
import { crmApi } from '@/api/crmApi';
import lodash from 'lodash';

export default defineComponent({
  name: 'costItem',
  props: {
    selectedLump: {
      type: Array,
      default: [],
    },
    selectedNoLump: {
      type: Array,
      default: [],
    },
    selectedLumpData: {
      type: Array,
      default: [],
    },
    selectedNoLumpData: {
      type: Array,
      default: [],
    }
  },
  emits: [ 'update:selectedLumpData', 'update:selectedNoLumpData'],
  setup(props, { attrs, emit, slots }) {
    const formRef = ref([]);
    const route = useRoute();
    const query = route.query;
    const dataMap = reactive({
      treeDataLump: [],
      treeDataNoLump: [],
      lump: [] as any[],
      noLump: [] as any[],
      costItem: [] as any [],
      treeData: [] as any [], // 扁平化之后的费用数据
    });
    const filterTreeNode = (searchValue, nodeData) => {
      return nodeData.title.toLowerCase().indexOf(searchValue.toLowerCase()) > -1;
    }


    // 处理侧边栏数据结构
    const getNavList = (data: any) => {
      data = lodash.map(data, (item,index) => {
        let res = {};
        res.title = item.stage;
        res.key = '0-' + index;
        res.disabled = true;
        res.children = [];
        if (!Array.isArray(item.fees)) {
          getNavList(item.fees);
        } else {
          lodash.forEach(item.fees, (v) => {
            res.children.push({
              title: v.feeName,
              key: v.feeCode,
              labelParent: item.stage,
              allowLumpSumFee: v.allowLumpSumFee, // 是否允许包干(1:允许 0:不允许)
              lumpSumFee: v.lumpSumFee, // 是包干费用(0/false-非包干、1/true-包干)
            });
          });
        }
        return res;
      });
      return data;
    };

    // 获取费用范围
    const getincome = () => {
      crmApi.costCenterFei({
        costFlg: false,
      }).then((res) => {
        // console.log(res, '费用')
        if (res.code == '200') {
          const navList = getNavList(res.data);
          dataMap.treeDataLump = JSON.parse(JSON.stringify(navList));
          dataMap.treeDataNoLump = JSON.parse(JSON.stringify(navList));
          navList.map((item:any)=>{
            item.children.map((c:any)=>{
              dataMap.treeData.push(c)
            })
          })
          // console.log(dataMap.treeDataLump)
          // 包干费 禁止选中已选非包干费用
          dataMap.treeDataLump.forEach(tree => {
            // console.log(tree)
            tree.children.forEach((item:any) => {
              // console.log(item)
              if(props.selectedNoLump.indexOf(item.key) > -1){
                item.disabled = true
              } else {
                item.disabled = false
              }
            })
          })

          // console.log(props.selectedLumpData,'props.selectedLumpData140')
          // return
          // 双向绑定已选择的数据
          // 新增初始化
          if(query.type == 'add'){
            let newData = [] as any []
            dataMap.lump.map(v=>{
              // console.log('包干费v',dataMap.treeData)
              dataMap.treeData.map(item=>{
                let newItem = {
                  costItemCode: item.key, // 费用项编码	
                  costItemCname: item.title, //	费用项中文名称
                  isLumpSum: true, // 是否包干: 0-否 1-是	
                  isLock: true, // 是否锁定: 0-否 1-是
                }
                if(v == item.key){
                  newData.push(newItem)
                }
              })
            })
            // console.log(newData,'哈哈哈哈哈哈哈')
            // 以下代码没有把selectedLumpData处理为空
            emit('update:selectedLumpData', newData)
          }
          

          // 非包干费用 禁止选中已选包干费
          dataMap.treeDataNoLump.forEach(tree => {
            // console.log(tree)
            tree.children.forEach((item:any) => {
              // console.log(item)
              // if(dataMap.selectedLump.indexOf(item.key) > -1){
              if(props.selectedLump.indexOf(item.key) > -1){
                item.disabled = true
              } else {
                item.disabled = false
              }
            })
          })

          // 以下是非包干费用详情  用于页面保存时与成本核算表一起保存
          // console.log(dataMap.selectedLumpData)
          // 双向绑定已选择的数据
          let newNoData = [] as any []
          dataMap.noLump.map(v=>{
            // console.log('包干费v',dataMap.treeData)
            dataMap.treeData.map(item=>{
              let newItem = {
                costItemCode: item.key, // 费用项编码	
                costItemCname: item.title, //	费用项中文名称
                isLumpSum: false, // 是否包干: 0-否 1-是	
                isLock: true, // 是否锁定: 0-否 1-是
              }
              if(v == item.key){
                newNoData.push(newItem)
              }
            })
          })
          emit('update:selectedNoLumpData', newNoData)
        }
      });
    };

    watch(
      () => props.selectedLump,
      (val) => {
        dataMap.lump = val
        console.log('不应该变化的时候变化了吗')
      },
      { immediate: true, deep: true }
    );

    watch(
      () => props.selectedNoLump,
      (val) => {
        dataMap.noLump = val
        console.log(props.selectedLumpData)
        console.log('不应该变化的时候变化了吗')
      },
      { immediate: true, deep: true }
    );

    watch(
      () => dataMap.lump,
      (val,oVal) => {
        console.log(props.selectedLumpData,'224是否变化props.selectedLumpData')
        console.log(val,oVal,'224是否变化val&oval')
        // 设置对应非包干费用是否禁止选中
        dataMap.treeDataNoLump.forEach(tree=>{
          tree.children.forEach((item:any)=>{
            if(val.indexOf(item.key) > -1){
              item.disabled = true
            } else {
              item.disabled = false
            }
          })  
        })
        console.log(props.selectedLumpData,'224是否变化props.selectedLumpData')
        console.log(val,'224是否变化val')
        console.log(oVal,'224是否变化oVal')
  
        // if(oVal !== undefined && oVal.length > 0){
        if(oVal !== undefined){
          const difference = val.filter(x => oVal.indexOf(x) == -1)
            .concat(oVal.filter(x => val.indexOf(x) == -1));
          console.log(difference,'224是否变化difference')

          const valLength = val.length
          const dataLength = props.selectedLumpData.length
          const newData = JSON.parse(JSON.stringify(props.selectedLumpData))

          if(valLength > dataLength){
            console.log('新增了包干费224是否变化')
            dataMap.treeData.map(item=>{
              let newItem = {
                costItemCode: item.key, // 费用项编码	
                costItemCname: item.title, //	费用项中文名称
                isLumpSum: true, // 是否包干: 0-否 1-是	
                isLock: true, // 是否锁定: 0-否 1-是
              }
              if(difference[0] == item.key){
                newData.push(newItem)
              }
            })
            emit('update:selectedLumpData', newData)
          }else if (valLength == dataLength){
            // 编辑和复制初始化时 selectedLumpData不变
            console.log('224是否变化编辑和复制初始化时')
          } else {
            let deleteIndex: any 
            newData.map((item:any,index:any) => {
              if(item.costItemCode == difference[0]){
                deleteIndex = index
              }
            })
            console.log(deleteIndex, '删除了包干费224是否变化')
            newData.splice(deleteIndex,1)
            emit('update:selectedLumpData', newData)
          }
          // nextTick().then(()=>{
          //   emit('update:selectedLumpData', newData)
          // })
        } else {
          console.log(props.selectedLumpData,'12123323cdfsfse224是否变化')
          // 双向绑定已选择的数据
          if(query.type == 'add'){
            let newData = [] as any []
            val.map(v=>{
              // console.log('包干费v',dataMap.treeData)
              dataMap.treeData.map(item=>{
                let newItem = {
                  costItemCode: item.key, // 费用项编码	
                  costItemCname: item.title, //	费用项中文名称
                  isLumpSum: true, // 是否包干: 0-否 1-是	
                  isLock: true, // 是否锁定: 0-否 1-是
                }
                if(v == item.key){
                  newData.push(newItem)
                }
              })
            })
            console.log(newData,'224是否变化newData哈哈哈哈哈哈哈')
            emit('update:selectedLumpData', newData)
          } else {
            console.log(props.selectedLumpData,'224是否变化newData哈哈哈哈哈哈哈12123323cdfsfse')
          }
        }
      },
      { immediate: true, deep: true }
    );

    watch(
      () => dataMap.noLump,
      (val) => {
        console.log(val,'非包干费用双向绑定');
        dataMap.treeDataLump.forEach(tree=>{
          tree.children.forEach((item:any)=>{
            if(val.indexOf(item.key) > -1){
              item.disabled = true
            } else {
              item.disabled = false
            }
          })  
        })

        // 非包干费用双向绑定
        let newData = [] as any []
        val.map(v=>{
          // console.log('包干费v',dataMap.treeData)
          dataMap.treeData.map(item=>{
            let newItem = {
              costItemCode: item.key, // 费用项编码	
              costItemCname: item.title, //	费用项中文名称
              isLumpSum: false, // 是否包干: 0-否 1-是	
              isLock: true, // 是否锁定: 0-否 1-是
            }
            if(v == item.key){
              newData.push(newItem)
            }
          })
        })
        console.log(newData,'哈哈哈哈哈哈哈')
        emit('update:selectedNoLumpData', newData)
      },
      { immediate: true, deep: true }
    );

    onMounted( () => {
      getincome()
    })

    return {
      filterTreeNode,
      ...toRefs(dataMap),
    };
  },
});
</script>

<style lang="less" scoped>
.add-info {
  background-color: #fff;
  padding: 20px;
  border: 1px solid rgba(229, 230, 235, 1);
  border-radius: 2px;
}
.title {
  font-weight: 500;
  font-size: 16px;
  line-height: 28px;
  color: #1d2129;
  margin-bottom: 15px;
  display: flex;
  justify-content: space-between;
}
.cost-title {
  font-weight: 400;
  font-size: 14px;
  color: rgba(78, 89, 105, 1);
  margin-bottom: 10px;
  line-height: 22px;
}
.treeSelest{
  background-color: pink;
  :deep(.arco-tree-node-expanded){
    background-color: pink;
    .arco-checkbox {
      display: none;
      background-color: pink;
    }
    // .arco-checkbox.arco-checkbox-disabled{
    //   display: none;
    // }
  }
}

</style>