<template>
  <div class="add-info">
    <div class="title"> 成本核算表 </div>
    <!-- {{ costItemData }} -->
    <!-- {{ costDataLen }} -->
    <!-- {{costData}} -->
    <a-table
      :columns="columns"
      :scroll="scroll"
      :data="data"
      :pagination="false"
      :span-method="spanMethodAll"
    >
      
      <template #costName="{ record }">
        <!-- {{record}} -->
        <div v-if="record.costItemCname == '运费'">
          {{record.costItemCname}}
          <a-popover position="right" v-if="record.checkCostDisplay && record.checkCostDisplay.length > 0 ">
            <a-tag style="background:rgba(232, 247, 255, 1);color:rgba(52, 145, 250, 1);">门点</a-tag>
            <template #content>
              <!-- {{record.checkCostDisplay[0].costs[0]}} -->
              {{record.checkCostDisplay[0].costs[0].doorProvince}}
              {{record.checkCostDisplay[0].costs[0].doorCity}}
              {{record.checkCostDisplay[0].costs[0].doorCounty}}
              {{record.checkCostDisplay[0].costs[0].doorStreet}}
            </template>
          </a-popover>
          
        </div>
        <span v-else>{{record.costItemCname}}</span>
      </template>
      <template #lock="{ record }">
        <a-switch
          size="small"
          v-model="record.isLock"
        />
      </template>
      <template #operate="{ record, rowIndex }">
        <!-- {{record.name}} -->
        <span class="cp" style="color: rgba(41, 105, 255, 1)" @click="introCost(record,rowIndex)">引入成本</span>
      </template>

      <template #one="{ record, rowIndex, column }">
        <!-- {{}}-->
        <!-- {{parseInt(column.title) + 3}} -->
        <span v-if="rowIndex == costDataLen + 1">
          <a-input-number
            v-model="record[column.dataIndex]"
            placeholder="请输入"
            class="input-demo"
            :step="100"
            :min="0"
            :rules="[{require: true, message: '请输入基准价'}]"
            @blur="changeBasePrice(record[column.dataIndex],column.dataIndex,parseInt(column.title))"
          />
        </span>
        <span v-else>
          <div v-if="rowIndex == costDataLen + 4">
            <span v-for="item in standardProductsQuoteSummary" :key="item.quotation">
              <span v-if="item.quotation > 0">
                <span style="color:rgba(255, 125, 0, 1);font-weight: 500;font-size: 16px;">{{item.quotation}}</span>
                <span v-if="item.arkNumberEnd !== 10" style="padding-right:10px;">
                  （{{item.arkNumberStart}} - {{item.arkNumberEnd}}柜）
                </span>
                <span v-else>
                  （{{item.arkNumberStart}}柜以上）
                </span>
              </span>
            </span>
          </div>
          <span v-else>
            <span v-if="record[column.dataIndex] >= 0"> {{ record[column.dataIndex] }} </span>
            <span v-else style="color:rgba(245, 63, 63, 1);">{{ record[column.dataIndex] }}</span>
          </span>
        </span>
      </template>
    </a-table>

    <cost-modal 
      v-model:modalVisible="modalVisible"
      :introData="introData"
      :oldIntroData="oldIntroData"
      @updateIntroData="updateIntroData"
      :baseData="baseData"
    ></cost-modal>



    <!-- <div style="height: 500px"></div> -->
  </div>
</template>

<script lang="ts">
import {
  defineComponent,
  onMounted,
  PropType,
  reactive,
  toRefs,
  watch,
  ref,
  computed,
  defineExpose,
  onUnmounted,
  nextTick,
} from 'vue';
import { useRoute } from 'vue-router';
import { crmApi } from '@/api/crmApi';
import utils from '@/utils/crm';
import { Message } from '@arco-design/web-vue';
import CostModal from './costModal.vue'

export default defineComponent({
  name: 'costItem',
  props: {
    costItemData: {
      type: Array,
      default: [],
    },
    baseData: {
      type: Object,
      default: {},
    },
    standardProductsQuoteSummary: {
      type: Array,
      default: [],
    },
    computedSummery: {
      type: Array,
      default: [],
    }
  },
  components:{
    CostModal,
  },
  emits: ['update:costItemData', 'update:baseData', 'update:standardProductsQuoteSummary', 'getStandardProductsQuoteVOs', 'getSummary'],
  setup(props, { attrs, emit, slots }) {
    const route = useRoute();
    const query = route.query;
    const dataMap = reactive({
      isInit: 0,
      numMap: ['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight','nine', 'ten'],
      costDataLen: 0,
      costData: [
        {
          costItemCode: '',
          costItemCname: '',
          isLumpSum: true,
          isLock: true,
        },
      ],
      summaryData: [
        {
          costItemCname: '总成本合计(元/柜)：',
          one: '',
          two: '',
          three: '',
          four: '',
          five: '',
          six: '',
          seven: '',
          eight: '',
          nine: '',
          ten: '',
        },
        {
          costItemCname: '基准价(元/柜)：',
          one: '',
          two: '',
          three: '',
          four: '',
          five: '',
          six: '',
          seven: '',
          eight: '',
          nine: '',
          ten: '',
        },
        {
          costItemCname: '预估利润(元/柜)：',
          one: '',
          two: '',
          three: '',
          four: '',
          five: '',
          six: '',
          seven: '',
          eight: '',
          nine: '',
          ten: '',
        },
        {
          costItemCname: '毛利率%：',
          one: '',
          two: '',
          three: '',
          four: '',
          five: '',
          six: '',
          seven: '',
          eight: '',
          nine: '',
          ten: '',
        },
        {
          costItemCname: '报价统计(元/柜)：',
          one: '',
          two: '',
          three: '',
          four: '',
          five: '',
          six: '',
          seven: '',
          eight: '',
          nine: '',
          ten: '',
        },
      ],
      data: [],
      standardProductsQuoteSummary: [
        {
          arkNumberStart: 1, // 柜数起始值 
          arkNumberEnd: 10, // 柜数结束值
          quotation: '', // 报价（柜/票）
        }
      ],
      modalVisible: false,
      introData: {
        record: {
          costItemCname: '',
        },
        index: 0
      },
      oldIntroData: {
        record: {},
        index: 0
      }
    });
    watch(
      ()=>dataMap.oldIntroData,
      (val)=>{
        console.log(val,'青椒炒腊肠、清炒藕片')
      },
      {immediate: true, deep: true}
    )

    defineExpose({
      // handleCancel,
      // handleSubmit,
    });

    const introCost = (record:any,index:any) => {
      console.log(record)
      // return
      console.log(index)
      dataMap.introData = {
        record: record,
        index: index
      }
      dataMap.oldIntroData = {
        record: {...record},
        index: index
      }
      console.log(dataMap.introData)
      dataMap.modalVisible = true
    }

    const changeBasePrice = (val:any,dataIndex:any,index:any) => {
      console.log(val,dataIndex,index)
      // console.log(dataMap.summaryData[1])
      // 改变后面的基准价
      if(val){
        let changeFlag = 0
        let arkNum = 1
        let price = 0
        let numMap = []
        let priceMap = []
        for (const key in dataMap.summaryData[1]) {
          
          if(key == dataIndex){
            changeFlag = 1
          }
          // console.log(key)
          if (Object.prototype.hasOwnProperty.call(dataMap.summaryData[1], key)) {
            // const element = dataMap.summaryData[1][key];
            // console.log(element)
            if(changeFlag == 1){
              dataMap.summaryData[1][key] = val
            }
          }
          if(dataMap.summaryData[1][key] !== '基准价(元/柜)：'){
            if(price !== dataMap.summaryData[1][key]){
              numMap.push(arkNum)
              priceMap.push(dataMap.summaryData[1][key])
              price = dataMap.summaryData[1][key]
            }
            arkNum = arkNum + 1
          }
        }
        console.log(numMap,'===')
        console.log(priceMap,'===')
        dataMap.standardProductsQuoteSummary = []
        for(let i = 0;i < numMap.length;i++){
          dataMap.standardProductsQuoteSummary.push(
            {
              arkNumberStart: numMap[i], // 柜数起始值 
              arkNumberEnd: numMap[i+1] ? numMap[i+1] - 1 : 10, // 柜数结束值
              quotation: priceMap[i], // 报价（柜/票） 
            }
          )
        }

        console.log(dataMap.standardProductsQuoteSummary,'eeeeeeee')
        emit('update:standardProductsQuoteSummary',dataMap.standardProductsQuoteSummary)
      } else {
        Message.warning({
          content: '请输入基准价'
        })
      }
    }

    const spanMethodAll = ({ rowIndex, columnIndex }) => {
      if (rowIndex >= dataMap.costDataLen && columnIndex === 0) {
        return {
          rowspan: 1,
          colspan: 4,
        };
      }

      if (rowIndex == dataMap.costDataLen + 4 && columnIndex > 3) {
        return {
          rowspan: 1,
          colspan: 10,
        };
      }
    };
    const scroll = {
      x: '100%',
      y: '100%',
    };
    const columns = [
      {
        title: '费用项目',
        dataIndex: 'costItemCname',
        fixed: 'left',
        width: 120,
        ellipsis: true,
        tooltip: true,
        slotName: 'costName',
      },
      {
        title: '是否锁定',
        dataIndex: 'salary',
        fixed: 'left',
        width: 90,
        slotName: 'lock',
        align: 'center',
      },
      {
        title: '操作',
        dataIndex: '',
        fixed: 'left',
        width: 88,
        slotName: 'operate',
      },
      {
        title: '单位',
        dataIndex: 'billingUnit',
        fixed: 'left',
        width: 70,
        ellipsis: true,
        tooltip: true,
      },
      {
        title: '1(柜/票)',
        dataIndex: 'one',
        width: 120,
        slotName: 'one',
      },
      {
        title: '2(柜/票)',
        dataIndex: 'two',
        width: 120,
        slotName: 'one',
      },
      {
        title: '3(柜/票)',
        dataIndex: 'three',
        width: 120,
        slotName: 'one',
      },
      {
        title: '4(柜/票)',
        dataIndex: 'four',
        width: 120,
        slotName: 'one',
      },
      {
        title: '5(柜/票)',
        dataIndex: 'five',
        width: 120,
        slotName: 'one',
      },
      {
        title: '6(柜/票)',
        dataIndex: 'six',
        width: 120,
        slotName: 'one',
      },
      {
        title: '7(柜/票)',
        dataIndex: 'seven',
        width: 120,
        slotName: 'one',
      },
      {
        title: '8(柜/票)',
        dataIndex: 'eight',
        width: 120,
        slotName: 'one',
      },
      {
        title: '9(柜/票)',
        dataIndex: 'nine',
        width: 120,
        slotName: 'one',
      },
      {
        title: '10(柜/票)',
        dataIndex: 'ten',
        width: 120,
        slotName: 'one',
      },
    ];

    const updateIntroData = (val:any) => {
      console.log(val,'%%%%%%%%%%')
      console.log(dataMap.costData[val.index])
      let isAllCostFlag = false
      if(val.record.billingUnit == '柜' || val.record.billingUnit == '柜/天'){
        isAllCostFlag = true
      }
      dataMap.costData[val.index].costIds = val.record.costIds
      dataMap.costData[val.index].checkCostDisplay = val.record.checkCostDisplay
      dataMap.costData[val.index].billingUnit = val.record.billingUnit
      dataMap.costData[val.index].currency = val.record.currency
      dataMap.costData[val.index].costAmount = val.record.costAmount
      const numMap = ['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight','nine', 'ten']
      for(let i = 0; i < 10; i++ ){
        dataMap.costData[val.index][numMap[i]] = isAllCostFlag ? val.record.costAmount : Math.round(val.record.costAmount / (i+1))
      }
    }

    watch(
      () => props.costItemData,
      (val) => {
        dataMap.costDataLen = val.length;
        dataMap.costData = val;
        console.log(val,'dataMap.costData123444 ')
        
        if(val.length > 0){
          dataMap.costData.forEach(item => {
            console.log(item)
            let isAllCostFlag = false
            if(item.billingUnit == '柜' || item.billingUnit == '柜/天'){
              isAllCostFlag = true
            }
            if(item.billingUnit){
              for( let i = 0; i < 10; i ++){
                item[dataMap.numMap[i]] =  isAllCostFlag ? item.costAmount : Math.round(item.costAmount / (i+1))
              }
            }
          })
        }
        console.log(dataMap.costData,'dataMap.costData ')
        // dataMap.data = [...dataMap.costData, ...dataMap.summaryData];
        // console.log()
      },
      { immediate: true, deep: true }
    );

    watch(
      () => dataMap.standardProductsQuoteSummary,
      (val) => {
        console.log(val,'update:standardProductsQuoteSummary')
        emit('update:standardProductsQuoteSummary',val)
      },
      {immediate: true,deep: true}
    )

    watch(
      () => dataMap.costData,
      (val) => {
        console.log(val,'变化了！！！！！！！！！')

        //  计算 总成本合计
        let oneValue = 0;
        val.map((item) => {
          if (item.one) {
            oneValue = oneValue + parseInt(item.one);
          }
        });
        let twoValue = 0;
        val.map((item) => {
          if (item.two) {
            twoValue = twoValue + parseInt(item.two);
          }
        });
        let threeValue = 0;
        val.map((item) => {
          if (item.three) {
            threeValue = threeValue + parseInt(item.three);
          }
        });
        let fourValue = 0;
        val.map((item) => {
          if (item.four) {
            fourValue = fourValue + parseInt(item.four);
          }
        });
        let fiveValue = 0;
        val.map((item) => {
          if (item.five) {
            fiveValue = fiveValue + parseInt(item.five);
          }
        });
        let sixValue = 0;
        val.map((item) => {
          if (item.six) {
            sixValue = sixValue + parseInt(item.six);
          }
        });
        let sevenValue = 0;
        val.map((item) => {
          if (item.seven) {
            sevenValue = sevenValue + parseInt(item.seven);
          }
        });
        let eightValue = 0;
        val.map((item) => {
          if (item.eight) {
            eightValue = eightValue + parseInt(item.eight);
          }
        });
        let nineValue = 0;
        val.map((item) => {
          if (item.nine) {
            nineValue = nineValue + parseInt(item.nine);
          }
        });
        let tenValue = 0;
        val.map((item) => {
          if (item.ten) {
            tenValue = tenValue + parseInt(item.ten);
          }
        });

        dataMap.summaryData[0].one = oneValue;
        dataMap.summaryData[0].two = twoValue;
        dataMap.summaryData[0].three = threeValue;
        dataMap.summaryData[0].four = fourValue;
        dataMap.summaryData[0].five = fiveValue;
        dataMap.summaryData[0].six = sixValue;
        dataMap.summaryData[0].seven = sevenValue;
        dataMap.summaryData[0].eight = eightValue;
        dataMap.summaryData[0].nine = nineValue;
        dataMap.summaryData[0].ten = tenValue;
        // console.log(dataMap.summaryData[0], '傻子傻');
        dataMap.data = [...val, ...dataMap.summaryData];
      },
      { immediate: true, deep: true }
    );

    // 报价信息监听
    watch(
      ()=>dataMap.summaryData,
      (val) => {
        console.log('统计信息变化了',val)
        console.log(val[2])
        console.log(val[3])
        console.log(val[4])
        let changeFlag = 0
        for (const key in val[2]) {
          if(key == 'one'){
            changeFlag = 1
          }
          if (Object.prototype.hasOwnProperty.call(val[2], key)) {
            const element = val[2][key];
            console.log(element)
            if(changeFlag == 1){
              val[2][key] = val[1][key] - val[0][key]
              val[3][key] = val[0][key] > 0 ? (val[2][key]/val[0][key]*100).toFixed(2) :  '-'
            }
          }
        }
        console.log(dataMap.summaryData)
        const numMap = ['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight','nine', 'ten']
        let summaryInfo = [] as any []
        for(let i = 0; i < 10; i++){
          summaryInfo.push({
            arkNumber: i+1,	// 单票柜数	
            costAmount: dataMap.summaryData[0][numMap[i]],// 成本金额（柜/票）	
            quotation: dataMap.summaryData[1][numMap[i]], // 报价（柜/票）	
            forecastProfits: dataMap.summaryData[2][numMap[i]], // 预估利润	
            currency: 'CNY', // 币别	
            proportion: dataMap.summaryData[3][numMap[i]], // 毛利率(%)
          })
        }

        console.log(summaryInfo)
        emit('getStandardProductsQuoteVOs', summaryInfo)
        console.log('========')
        // nextTick().then(()=>{
        //   emit('getStandardProductsQuoteVOs', summaryInfo)
        // })
      },
      {immediate: true, deep: true}
    )

    watch(
      ()=>dataMap.summaryData[1],
      (val) => {
        const summary = Array.from(dataMap.summaryData[1])
        console.log(summary)
        console.log('基础价变化了。。。。。。。。。。。。',val)
        
      },
      {immediate: true, deep: true}
    )

    watch(
      () => props.computedSummery,
      (val) => {
        console.log(dataMap.isInit,'首次进来了')
        if(dataMap.isInit < 2 && query.type !== 'add'){

          console.log('叨叨叨叨掉', val)
          if(val.length > 0 ){
            for(let i = 0; i < 10; i++){
              console.log(dataMap.summaryData[1])
              dataMap.summaryData[1][dataMap.numMap[i]]=val[i].quotation
            }

            // 编辑和复制时,初始化报价统计信息
            let arkNum = 1
            let price = 0
            let numMap = []
            let priceMap = [] as any []
            let priceArr = val.map(item=>item.quotation)
            for( let i = 0; i < priceArr.length; i++){
              if(price !== priceArr[i]){
                numMap.push(i+1)
                price = priceArr[i]
                priceMap.push(priceArr[i])
              }
            }
            console.log(priceArr,'priceArr')
            console.log(numMap,'numMap')
            console.log(priceMap,'priceMap')
            dataMap.standardProductsQuoteSummary = []
            for(let i = 0;i < numMap.length;i++){
              dataMap.standardProductsQuoteSummary.push(
                {
                  arkNumberStart: numMap[i], // 柜数起始值 
                  arkNumberEnd: numMap[i+1] ? numMap[i+1] - 1 : 10, // 柜数结束值
                  quotation: priceMap[i], // 报价（柜/票） 
                }
              )
            }

            console.log(dataMap.standardProductsQuoteSummary,'eeeeeeee')
          }
        }
        dataMap.isInit++
      },
      {immediate: true, deep: true}
    )

    watch(
      () => dataMap.introData,
      (val) => {
        console.log(val,'dataMap.introData变变变')
        if(val.record.costItemCname && val.record.costItemCname !==''){
          dataMap.costData[val.index] = {
            ...dataMap.costData[val.index],
            ...val.record
          }
        }
      },
      {immediate:true, deep: true}
    )
    return {
      scroll,
      columns,
      ...toRefs(dataMap),
      spanMethodAll,
      introCost,
      changeBasePrice,
      updateIntroData,
    };
  },
});
</script>

<style lang="less" scoped>
.add-info {
  background-color: #fff;
  padding: 20px;
  border: 1px solid rgba(229, 230, 235, 1);
  border-radius: 2px;
}
.title {
  font-weight: 500;
  font-size: 16px;
  line-height: 28px;
  color: #1d2129;
  margin-bottom: 18px;
  display: flex;
  justify-content: space-between;
}
:deep(.form-wrap .arco-col) {
  margin-bottom: 5px;
}
</style>