<template>
  <div class="component-common-table">
    <!-- 123{{selectedKeys}}123  
    {{introData}}
    <br>
    ==={{tabLen}}=== -->
    <a-table
      class="commonTable"
      v-model:selectedKeys="selectedKeys"
      :columns="columns"
      :data="data"
      :scroll="scroll"
      :pagination="false"
      :row-selection="rowSelection"
      @select="selectHandle"
    >
      <template #doorProvince="{ record }">
        {{record.doorProvince}}{{record.doorCity}}{{record.doorCounty}}{{record.doorStreet}}
      </template>
      <template #carrierCode="{record}">{{record.carrierCname}}</template>
    </a-table>
  </div>
</template>

<script lang="ts">
  import {
    defineComponent,
    onMounted,
    PropType,
    reactive,
    toRefs,
    watch,
    ref,
    h,
    defineExpose,
    computed,
    onUnmounted,
    nextTick,
  } from 'vue';
  import {
    updateFieldWidth,
    getTaskNum,
    getRiskNum,
    getInfoNum,
  } from '@/api/base';
  import { filter } from 'lodash';

  export default defineComponent({
    name: 'CommonTable',
    props: {
      tabLen: {
        type: Number,
        default: 1
      },
      // 表格列字段配置
      columns: {
        // type: Array as PropType<TableColumnCtx[]>,
        type: Array,
        require: true,
        default: () => [],
      },
      data: {
        type: Array,
        default: () => [],
      },
      introData: {
        type: Object,
        default: () => {},
      },
      initSelectKey: {
        type: String,
        default: '',
      }
    },
    emits: ['getSelectedKeys', 'getSelectData', 'clearAll'],
    setup(props, { attrs, emit, slots }) {
      let selectedKeys = props.introData.record.costIds ? ref(props.introData.record.costIds) : ref([]);
      const dataMap = reactive({
        rowSelection: {
          type: 'radio',
        },
        commonTableData: [] as any[],
        newSelectedData: {},
        checkCostDisplay: [] as any [],
      });
      // 点击行选择器时触发
      const selectHandle = (rowKeys: string, rowKey: string, record: any) => {
        console.log(rowKeys, rowKey, record, '点击行选择器时触发');
        if(props.tabLen == 1){
          dataMap.newSelectedData = {
            introData: props.introData,
            checkData: record
          }
          console.log(dataMap.newSelectedData)
          emit('getSelectedKeys',dataMap.newSelectedData)
        } else {
          // 对应两个费用项的情况下
          console.log('两个费用项')
          emit('getSelectedKeys',record)
        }
      }

      const scroll = {
        x: '100%',
        y: '100%',
      };

      watch(
        () => selectedKeys.value,
        (val) => {
          console.log(val,'selectedKeys.value,')
          if(val.length == 0){
            emit('clearAll','')
          }
        },
        {immediate: true, deep: true}
      )

      watch(
        () => props.introData,
        (val) => {
          console.log(val.record.id,'initSelectKey')
          if(val.record.id){
            // console.log(123456)
            // selectedKeys.value = []
            // selectedKeys.value.push(val.record.id)
            // console.log(dataMap.rowSelection)
            // dataMap.rowSelection.selectedRowKeys = []
            // dataMap.rowSelection.selectedRowKeys.push(val.record.id)
          }
        },
        {immediate: true, deep: true}
      )


      // const emitSelectedKeys = () => {
      //   emit('getSelectedKeys',dataMap.newSelectedData)
      // }

      defineExpose({
        // emitSelectedKeys,
        selectedKeys,
      })

      return {
        selectHandle,
        scroll,
        ...toRefs(dataMap),
        selectedKeys,
      };
    },
  });
</script>

<style lang="less" scoped>
  // .commonTable {
  //   // width: calc(~"100vh - 40px");
  //   width: calc(~'100vh - 0px');
  //   width: calc(~'100vw - 40px');
  // }
  :deep(.arco-table-container) {
    width: auto;
  }
  :deep(.arco-table-container .arco-table-content) {
    display: flex;
    flex-direction: column;
    width: auto;
    height: 100%;
  }
  :deep(.arco-table-pagination) {
    position: fixed;
    right: 20px;
    bottom: 20px;
    z-index: 2;
  }
  .component-common-table {
    height: 100%;
  }
  .filterBtn {
    width: 22px;
    height: 22px;
    display: inline-block;
    text-align: center;
    line-height: 22px;
    // margin-left: 3px;
    cursor: pointer;
    &:hover {
      background-color: var(--color-neutral-3);
      border-radius: 2px;
    }
  }
  .filterIcon {
    position: absolute;
    right: 4px;
    top: 50%;
    margin-top: -12px;
    height: 24px;
    width: 24px;
    font-size: 12px;
    border-radius: 2px;
    line-height: 24px;
    text-align: center;
    &:hover {
      background: #e5e6eb;
    }
  }
  .starList {
    span {
      margin: 0 4px;
      cursor: pointer;
    }
  }
  .operateBtn {
    // width: 20px;
    // height: 20px;
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -12px;
  }
  .overBgTitle {
    width: 2px;
    height: 40px;
    position: absolute;
    left: -1px;
    top: 0;
    background-color: var(--color-neutral-2);
  }
  .overBg {
    width: 1px;
    height: 40px;
    top: 0;
    left: -1px;
    background-color: var(--color-bg-1);
    position: absolute;
  }
  :deep(.arco-table-tr) {
    &:hover {
      .overBg {
        background-color: var(--color-neutral-1);
      }
    }
  }
  :deep(.arco-table-tr-checked .overBg) {
    background-color: var(--color-neutral-1);
  }

  .icon {
    width: 24px;
    height: 24px;
    display: inline-block;
    text-align: center;
    line-height: 24px;
    border-radius: 2px;
  }
  .iconHover {
    &:hover {
      background: rgba(245, 63, 63, 0.3);
    }
  }
  .iconHoverGreen {
    &:hover {
      background: rgba(41, 105, 255, 0.3);
    }
  }
</style>
