<template>
<a-modal v-model:visible="visible" :mask-closable="false" @before-ok="handleSubmit" :width="326">
    <template #title>
      待领取运单
    </template>
      <a-form ref="formRef" :model="form" layout="vertical">
        <a-form-item label="是否审单" >
            <a-radio-group v-model="form.reviewFlag">
              <a-radio :value="false">无需审单</a-radio>
              <a-radio :value="true">需要审单</a-radio>
            </a-radio-group>
        </a-form-item>
        <a-form-item label="委托人" >
           <a-input placeholder="" disabled  v-model="form.clientName"/>
        </a-form-item>
        <a-form-item label="审单员" >
            <a-select v-model="form.reviewUserId" allow-search
                :filter-option="false">
              <a-option v-for="item of form.reviewerList" :value="item.userId" @click="form.reviewer=item.userName;form.reviewerJobNumber=item.reviewerJobNumber">{{item.userName}}</a-option>
            </a-select>     
        </a-form-item>
      </a-form>
</a-modal>
</template>
<script lang="ts">
import {
  defineComponent,
  ref,
  watch,
  reactive,
  h,
  toRefs,
  computed,
  onMounted,
  nextTick,
} from 'vue';
import { runOrderApi } from '@/api/runOrderApi/index'
import { receiptDocumentsApi } from '@/api/receiptDocumentsApi/index'
export default defineComponent({
    name: 'businessComplate',
    props:{
      orderLogisticsNo: {
        type: Array,
        default: [],
      }
    },
    setup(props){
       const visible = ref(false);
       const form=reactive({
          clientName:"",
          reviewFlag:true,
          reviewUserId:"",
          reviewer:"",
          reviewerJobNumber:"",
          orderLogisticsNos:[],
          reviewerList:[]
       })
        //审单员
        runOrderApi.getRole({roleType:3}).then(res=>{
            form.reviewerList=res.data
        })
       const handleSubmit=(done)=>{
          receiptDocumentsApi.unReceiveOrder({
            orderLogisticsNoList:form.orderLogisticsNos,
            reviewFlag:form.reviewFlag,
            reviewUserId:form.reviewUserId,
            reviewerJobNumber:form.reviewerJobNumber,
            reviewer:form.reviewer
          }).then(res=>{
            if(res.code==200){
              done()
            }else{
              done(false)
            }
          })
       }
       return{
        visible,
        handleSubmit,
        form
       }
    }
})
</script>
