<template>
  <a-button v-if="show" v-bind="attrs">
    <slot></slot>
  </a-button>
</template>

<script>
  import { isFunction } from 'lodash';
  import { computed, defineComponent, useAttrs } from 'vue';

  export default defineComponent({
    name: 'DwButton',
    inheritAttrs: false,
  });
</script>

<script setup>
  const attrs = useAttrs();
  const show = computed(() => {
    return isFunction(attrs.show) ? show() : show;
  });
  defineExpose({
    attrs,
  });
</script>

<style lang="scss" scoped></style>
