<template>
<div class="declaration-track">
  <button-area>
    <template #left>
      <search-btn
        v-model="searchWord"
        placeholder="业务编号/提单号/海关编号"
      />
      <filter-btn
        ref="filterRef"
        v-model:pageInitFilters="pageInitFilters"
        :viewUserId="viewUserId"
        :viewSystemId="viewSystemId"
      />
      <custom-column
        v-model:pageInitColumns="pageInitColumns"
        :viewUserId="viewUserId"
        :viewType="viewType"
        :viewSystemId="viewSystemId"
        @submitSuccess="submitSuccess"
      />
      <export-table @click="exportTable" />
      <screen-btn />
      <sync-btn @click="syncData" />
    </template>
    <template #right>
      <edit-table
        v-model="isEditDisabled"
        disabled
      />
      <a-button
        type="primary"
        :disabled="!hasSelectedData"
        @click="dispatchOnSite"
      >
        <span>现场派单</span>
      </a-button>
      <a-button
        type="primary"
        :disabled="!hasSelectedData"
        @click="releaseDeclaration"
      >
        <span>报关放行</span>
      </a-button>
    </template>
  </button-area>
  <div class="table__wrapper">
    <common-table
      v-if="hasTableData"
      ref="tableRef"
      column-resizable
      :key="syncFlag"
      :url="url"
      :path="path"
      :viewUserId="viewUserId"
      :viewInfo="viewInfo"
      :searchword="searchWord"
      :viewFilterRule="viewFilterRule"
      :columns="columns"
      :syncFlag="syncFlag"
      :bordered="{ cell: true }"
      :operateList="operateList"
      :singleWindowSwitch="singleWindowSwitch"
      @openFilter="openFilter"
      @getSelectData="getSelectData"
      @paginationWidth="paginationWidth"
      @handleCellClick="handleCellClick"
      @afterOperation="syncData"
    />
    <a-empty v-else></a-empty>
  </div>
  <tab-view
    ref="tabViewRef"
    :viewType="viewType"
    :changeViewId="changeViewId"
    :paginationWidthNum="paginationWidthNum"
    @submitViewHandle="submitViewHandle"
    @submitDelete="submitDelete"
    @currentTabViewId="currentTabViewId"
    @chooseFields="chooseFields"
    @viewFilterRule="handleViewFilterRule"
    @currentTabviewName="currentTabviewName"
  ></tab-view>
  <tab-view-modal
    v-model="modalVisible"
    :title="tabViewModelTitle"
    :defaultActiveKey="defaultActiveKey"
    v-model:modalParams="modalParams"
    @syncTabViewList="syncTabViewList"
  ></tab-view-modal>
  <register-exception-dialog
    ref="registerExceptionDialogRef"
    :order="currentRow"
    :exception-type="exceptionType"
    @afterOperation="syncData"
  />
  <common-upload-dialog
    ref="commonUploadDialogRef"
    :order="currentRow"
    :upload-type="uploadType"
    @afterOperation="syncData"
  />
  <receipt-info-dialog
    ref="receiptInfoDialogRef"
    :order="currentRow"
  />
  <inspection-dialog
    ref="insepectionDialogRef"
    :order="currentRow"
    @afterOperation="syncData"
  />
</div>
</template>

<script lang="ts">
import {
  defineComponent,
  reactive,
  toRefs,
  ref,
  computed,
  onMounted,
} from 'vue'
import trackAPI  from '@/api/track'
import RegisterExceptionDialog from './components/registerException.vue'
import CommonUploadDialog from './components/commonUploadDialog.vue'
import ReceiptInfoDialog from './components/receiptInfo.vue'
import InspectionDialog from './components/inspection.vue'
import CommonTable from './components/commonTable.vue'
import { Message } from '@arco-design/web-vue'
import { useUploadType, UploadTypeEnum, useExceptionTypeSingleton, ExceptionTypeNum } from './composables'
import { APPID } from '@/constant'
import { getToken } from '@/utils'

export default defineComponent({
  name: 'declaration-track',
  components: {
    RegisterExceptionDialog,
    CommonUploadDialog,
    ReceiptInfoDialog,
    InspectionDialog,
    CommonTable,
  },
  setup() {
    const singleWindowSwitch = ref(false)
    onMounted(() => {
      trackAPI.querySingleWindowSwitch()
        .then(({ code, data }) => {
          if (code === '200') {
            singleWindowSwitch.value = !!data
          }
        })
        .catch(console.log)
    })

    const filterRef = ref([])
    const tableRef = ref()
    const tabViewRef = ref<any>(null)
    const registerExceptionDialogRef = ref()
    const commonUploadDialogRef = ref()
    const receiptInfoDialogRef = ref()
    const insepectionDialogRef = ref()
    const { uploadType, toggleUploadType } = useUploadType()

    const { exceptionType, toggleExceptionType } = useExceptionTypeSingleton()

    const toggleCommonUploadDialog = (uploadType: UploadTypeEnum) => {
      toggleUploadType(uploadType)
      commonUploadDialogRef.value.toggleVisible()
    }

    const withoutPreparationCompletedTime = (row: any) => !row.preparationCompletedTime
    const withPreparationCompletedTime = (row: any) => !!row.preparationCompletedTime
    const dispatchOnSite = () => {
      const { selectedData } = pageModel
      const itemWithoutPreparationCompletedTime = selectedData.find(withoutPreparationCompletedTime)
      if (itemWithoutPreparationCompletedTime) {
        Message.error('只能选择已经制单完成的运单！')
        return
      }
      trackAPI.dispatchOnSite(selectedData.map((row: any) => ({
        logisticsNo: row.orderLogisticsNo,
        id: row.key,
      })))
        .then(({ code }) => {
          if (code === '200') {
            Message.success('现场派单成功')
            syncData()
          }
        })
        .catch(console.error)
    }
    
    const releaseDeclaration = () => {
      const { selectedData } = pageModel
      const itemWithoutPreparationCompletedTime = selectedData.find(withoutPreparationCompletedTime)
      if (itemWithoutPreparationCompletedTime) {
        Message.error('只能选择已经制单完成的运单！')
        return
      }
      trackAPI.releaseDeclaration(selectedData.map((row: any) => ({
        logisticsNo: row.orderLogisticsNo,
        id: row.key,
      })))
        .then(({ code }) => {
          if (code === '200') {
            Message.success('报关放行成功')
            syncData()
          }
        })
        .catch(console.error)
    }

    const pageModel = reactive({
      url: trackAPI.queryDeclarationTrackList,
      // url: settlementApi.settleReceiptRefundPage,
      searchWord: '',
      pageInitFilters: '',
      viewUserId: '',
      viewSystemId: '',
      pageInitColumns: [],
      viewType: '9',
      isEditDisabled: false,
      hasTableData: false,
      path: 'refund/declaration-track',
      viewInfo: {},
      viewFilterRule: '',
      columns: [],
      syncFlag: 0,
      currentRow: {},
      operateList: [
        {
          name: '登记申报异常',
          icon: '',
          color: 'rgba(41, 105, 255, 1)',
          isShow: (record: any) => {
            return withPreparationCompletedTime(record)
          },
          callback: (record: any) => {
            pageModel.currentRow = record;
            toggleExceptionType(ExceptionTypeNum.DECLARATION)
            registerExceptionDialogRef.value.setVisible(true)
          },
        },
        {
          name: '登记现场报关异常',
          icon: '',
          color: 'rgba(41, 105, 255, 1)',
          isShow: (record: any) => {
            return withPreparationCompletedTime(record)
          },
          callback: (record: any) => {
            pageModel.currentRow = record;
            toggleExceptionType(ExceptionTypeNum.ONSITEDECLARATION)
            registerExceptionDialogRef.value.setVisible(true)
          },
        },
        {
          name: '登记查验异常',
          icon: '',
          color: 'rgba(41, 105, 255, 1)',
          isShow: (record: any) => {
            return withPreparationCompletedTime(record)
          },
          callback: (record: any) => {
            pageModel.currentRow = record;
            toggleExceptionType(ExceptionTypeNum.INSPECTION)
            registerExceptionDialogRef.value.setVisible(true)
          },
        },
        {
          name: '上传税费单',
          icon: '',
          color: 'rgba(41, 105, 255, 1)',
          isShow: (record: any) => {
            return withPreparationCompletedTime(record)
          },
          callback: (record: any) => {
            pageModel.currentRow = record
            toggleCommonUploadDialog(UploadTypeEnum.TAXBILL)
          },
        },
        {
          name: '上传报关单',
          icon: '',
          color: 'rgba(41, 105, 255, 1)',
          isShow: (record: any) => {
            return withPreparationCompletedTime(record)
          },
          callback: (record: any) => {
            pageModel.currentRow = record
            toggleCommonUploadDialog(UploadTypeEnum.CUSTOMSDECLARATION)
          },
        },
        {
          name: '上传检疫证',
          icon: '',
          color: 'rgba(41, 105, 255, 1)',
          isShow: (record: any) => {
            return withPreparationCompletedTime(record)
          },
          callback: (record: any) => {
            pageModel.currentRow = record
            toggleCommonUploadDialog(UploadTypeEnum.QUARANTINECERTIFICATE)
          },
        },
        {
          name: '查验详情',
          icon: '',
          color: 'rgba(41, 105, 255, 1)',
          isShow: (record: any) => {
            return true
          },
          callback: (record: any) => {
            pageModel.currentRow = record
            setTimeout(() => {
              insepectionDialogRef.value.toggleVisible()
            })
          },
        },
        {
          name: '海关回执',
          icon: '',
          color: 'rgba(41, 105, 255, 1)',
          isShow: (record: any) => {
            return true
          },
          callback: (record: any) => {
            pageModel.currentRow = record
            setTimeout(() => {
              receiptInfoDialogRef.value.toggleVisible()
            })
          },
        },
      ],
      selectedData: [],
      paginationWidthNum: 0,
      changeViewId: '',
      modalVisible: false,
      tabViewModelTitle: '',
      defaultActiveKey: '',
      modalParams: {},
      initColumns: [],
      initFilters: '',
      currentViewName: '',
    })
    const submitSuccess = (val: any) => {
      tabViewRef.value.getColumns(pageModel.viewUserId);
    };
    const exportTable = async () => {
      trackAPI.handleExport(tableRef.value.params)
        .then(({ data }) => {
          window.open(data.fileUrl)
        })
        .catch(console.error)
    };
    const syncData = () => {
      pageModel.searchWord = '';
      pageModel.viewFilterRule = '';
      pageModel.columns = pageModel.initColumns;
      pageModel.syncFlag++;
    };
    const openFilter = () => {
      (filterRef.value as any).filterRef.handleClick();
    };
    const getSelectData = (val: any) => {
      pageModel.selectedData = val
    };
    const hasSelectedData = computed(() => {
      return pageModel.selectedData.length > 0
    })
    const paginationWidth = (val: any) => {
      console.log(val);
      pageModel.paginationWidthNum = val;
    };
    const submitViewHandle = (param: any) => {
      pageModel.modalVisible = true;
      pageModel.tabViewModelTitle = param.title;
      pageModel.defaultActiveKey = param.defaultActiveKey;
      if (param.title == '新增视图') {
        pageModel.modalParams = {
          initColumns: [],
          initFilters: '',
          ...param,
        };
      } else {
        pageModel.modalParams = {
          initColumns: pageModel.initColumns, // 视图原始展示列
          initFilters: pageModel.initFilters,
          ...param,
        };
      }
    };
    const submitDelete = (id: any) => {
      console.log(id);
      console.log('删除了当前视图  整个页面需要初始化');
    };
    const currentTabViewId = (viewId: any) => {
      pageModel.viewUserId = viewId.currentTabViewId;
      pageModel.viewInfo = viewId;
      pageModel.viewSystemId = viewId.viewSystemId;
    };
    const chooseFields = (val: any) => {
      console.log('---------表头表头-----------');
      pageModel.hasTableData = val.length > 0
      // 中间列表 展示列表头  当前展示的 传给公共table的
      pageModel.columns = val;
      // 当前视图表头  刷新时设置为dataMap.columns
      pageModel.initColumns = val;
      // button区域自定义列  定义表头 - -  脑子可能不太好  整这么多表头
      pageModel.pageInitColumns = val;
    };
    const handleViewFilterRule = (val: any) => {
      // 传给公共table 的筛选项
      pageModel.viewFilterRule = val;
      // 当前视图筛选项  刷新时设置为dataMap.viewFilterRule
      pageModel.initFilters = val;
      // button区域筛选按钮
      pageModel.pageInitFilters = val;
    };
    const currentTabviewName = (val: any) => {
      pageModel.currentViewName = val;
    };
    const syncTabViewList = (val: any) => {
      pageModel.changeViewId = val;
      tabViewRef.value.getTabViewListFn();
    };
    
    const makeCustomsDeclaration = (record: any) => {
      if (record.key) {
        window.open(
          `${import.meta.env.VITE_API_NODE_AEOURL}?id=${record.key}&IEFlag=I&appId=${APPID}&token=${getToken()}`,
          '_blank',
        )
        return
      }
      trackAPI.addDecHead({
        orderId: record.key,
        orderLogisticsNo: record.orderLogisticsNo,
      })
        .then(({ code, data }: { [key: string]: any }) => {
          if (code === '200') {
            const { id, internalCode } = data
             // import.meta.env.VITE_API_NODE_AEOURL
            window.open(
              `${import.meta.env.VITE_API_NODE_AEOURL}?id=${id}&IEFlag=I&appId=${APPID}&token=${getToken()}`,
              '_blank',
            )
          }
        })
        .catch(console.error)
    }

    const handleCellClick = (scope: any) => {
      const { record, column } = scope
      if (column.dataIndex === 'customsNo') {
        makeCustomsDeclaration(record)
        return
      }
      pageModel.currentRow = record
      // workaround
      // watch callback in child component cannot get specific props's new value(props.order.key)
      setTimeout(() => {
        if (column?.dataIndex === "inspectionMode") {
          insepectionDialogRef.value.toggleVisible()
        } else if (column?.dataIndex === 'statusName') {
          receiptInfoDialogRef.value.toggleVisible()
        }
      })
    }

    return {
      filterRef,
      tableRef,
      tabViewRef,
      registerExceptionDialogRef,
      commonUploadDialogRef,
      receiptInfoDialogRef,
      insepectionDialogRef,
      ...toRefs(pageModel),
      openFilter,
      submitSuccess,
      syncData,
      exportTable,
      getSelectData,
      paginationWidth,
      submitViewHandle,
      submitDelete,
      currentTabViewId,
      chooseFields,
      currentTabviewName,
      syncTabViewList,
      handleViewFilterRule,
      uploadType,
      toggleUploadType,
      dispatchOnSite,
      hasSelectedData,
      releaseDeclaration,
      exceptionType,
      handleCellClick,
      singleWindowSwitch,
    }
  },
})
</script>

<style lang="less" scoped>
.declaration-track {
  background-color: var(--color-bg-2);
  display: flex;
  flex-direction: column;
  height: calc(100vh - 93px);

  .table__wrapper {
    width: 100%;
    overflow: hidden;
    padding: 0 20px;
    height: calc(100% - 70px - 64px);
  }

  .arco-btn + .arco-btn {
    margin-left: 10px;
  }
}
</style>
