<template>
    <div class="container">
        <a-modal v-model:visible="visible" :title="form.title" @cancel="handleCancel" @before-ok="handleBeforeOk"
            :width="326" :mask-closable="false">
            <a-form ref="formRef" :size="form.size" :model="form" @submit="handleSubmit" layout="vertical">
                <a-form-item field="relationName" label="委托人">
                    <a-select v-model="form.relationName" placeholder="请选择委托人" @search="handleSearch"
                        :filter-option="false" allow-search @focus="focusSelect">
                        <a-option v-for="(item, index) in  crmForm.companyOptions" :key="item.tradeCode"
                            :value="item.relationName">{{ item.name }}
                        </a-option>
                    </a-select>
                </a-form-item>
                <a-form-item field="orderLogisticsNo" label="业务编号">
                    <a-select v-model="form.orderLogisticsNo" placeholder="请选择业务编号" @search="handleSearchName"
                        :filter-option="false" allow-search @change="onChangeName">
                        <a-option v-for="(item, index) in  crmForm.companyOptionsName" :key="item" :value="item">{{ item
                            }}
                        </a-option>
                    </a-select>
                </a-form-item>
            </a-form>
        </a-modal>
    </div>
</template>

<script lang="ts">
import { defineComponent, ref, reactive, onMounted, defineEmits } from 'vue';
import { crmApi } from '@/api/crmApi';
import { useRouter } from 'vue-router'
import { Message } from '@arco-design/web-vue';

export default defineComponent({
    setup(props, { emit, slots, attrs }) {
        const router = useRouter();
        const formRef = ref()
        const query = router.currentRoute.value.query; // 路径参数
        // const emit = defineEmits(['saveForm'])
        const form = reactive({
            size: 'medium',
            sectionName:'',
            relationName: '',
            title:'新增应收控货',
            options: [],
            date: '',
            remark: '',
            customerName: '',
            controlType: false,
            relationClientIds: [],
            tradeCode: '',
            orderLogisticsNo:'',
        });
        const crmForm = reactive({
            companyOptions: [],
            companyOptionsName: [],
        });
        const visible = ref(false)
        const show = (row) => {
            if(row){
                form.title='编辑应收控货'
                form.id=row.id
                form.orderLogisticsNo = row.orderLogisticsNo
                form.relationId = row.relationId
                form.relationName = row.relationName
            }else{
                form.title = '新增应收控货'
                form.orderLogisticsNo = ''
                form.relationId = ''
                form.relationName = ''
                form.id = ''
            }
            visible.value = true
        }
        const close = () => {
            visible.value = false
        }
        const handleCancel = () => {
            console.log()

        }
        const handleBeforeOk = (done) => {
            setTimeout(() => {
                formRef.value.validate(async (error: any, values: any) => {
                    if (error) {
                        done(false)
                        return
                    }
                    done()
                crmForm.companyOptions.map((item) => {
                    if (item.name == form.relationName) {
                        form.relationId = String(item.id)
                    }
                })
                let data = form
                let params = {
                    id: form.id,
                    orderLogisticsNo: form.orderLogisticsNo,
                    relationId: form.relationId,
                    relationName: form.relationName
                }
                crmApi.postSaveReceivable(params).then((res) => {
                    if (res.code == '200') {
                        if (!form.id) {
                            Message.success('新增成功')

                        } else {
                            Message.success('修改成功')
                        }
                        emit('saveForm')
                        visible.value = false


                    } else {
                        Message.error(res.message)
                    }
                })
                })
            })

        }
        const handleSubmit = ({ values, errors }) => {
            console.log('values:', values, '\nerrors:', errors)
        }
        const focusSelect = () => {
            getCompanyList()
        }
        const onSelect = (dateString, date) => {

            console.log('onSelect', dateString, date);
        }
        const onChange = (dateString, date) => {
            console.log('onChange: ', dateString);
            form.controlStartDate = dateString[0]
            form.controlEndDate = dateString[1]
        }
    
        const onChangeName = (val) => {
            console.log(val)
            form.orderLogisticsNo=val
            
        }
        const handleSearch = (value) => {
            
            getCompanyList(value)
        }
        const getCompanyList = (value) => {
            const params = {
                relationType: 8,
                labelCode:'',
                name:value,
            }
            // 弹窗控货单位下拉
            crmApi.getCompanyList(params).then((res) => {
                if (res.code == '200') {
                    crmForm.companyOptions = res.data
                }
            })

        }
        const handleSearchName = async (val) => {
            console.log(val)
            const params = {
               key:val,
            }
            let res = await crmApi.getOrderLogisticsNo(params)
            console.log('运单列表')
            crmForm.companyOptionsName = res.data



        }

        onMounted(() => {
            getCompanyList('')
            // querySearchCompany1('')
        })

        return {
            visible,
            show,
            close,
            handleCancel,
            handleBeforeOk,
            form,
            handleSubmit,
            onSelect,
            onChange,
            getCompanyList,
            handleSearch,
            crmForm, router,
            query,
            handleSearchName,
            formRef,
            onChangeName,
            focusSelect

        }
    }
})


</script>

<style lang="less" scoped>

</style>


