<template>
<a-modal v-model:visible="visible" :mask-closable="false" @before-ok="handleSubmit" :width="326">
    <template #title>
      业务完成
    </template>
    <a-date-picker
        style="width:100%"
        v-model="businessCompletionTime"
        show-time
        format="YYYY-MM-DD HH:mm"
    /></a-modal>
</template>
<script lang="ts">
import {
  defineComponent,
  ref,
  watch,
  reactive,
  h,
  toRefs,
  computed,
  onMounted,
  nextTick,
} from 'vue';
import { runOrderApi } from '@/api/runOrderApi/index'
export default defineComponent({
    name: 'businessComplate',
    props:{
      orderLogisticsNo: {
        type: String,
        default: '',
      }
    },
    setup(props){
       const visible = ref(false);
       const data=reactive({
        businessCompletionTime:""
       })
       const handleSubmit=(done)=>{
          runOrderApi.businessCompleteSubmit({
            orderLogisticsNo:props.orderLogisticsNo,
            businessCompletionTime:data.businessCompletionTime+':00'
          }).then(res=>{
            if(res.code==200){
              done()
            }else{
              done(false)
            }
          })
       }
       watch(visible,(nVal, oVal) => {
          if(nVal){
            data.businessCompletionTime=""
          }
      })
       return{
        visible,
        handleSubmit,
        ...toRefs(data)
       }
    }
})
</script>
