<template>
<a-modal v-model:visible="visible" :width="800" :footer="status!==18" :mask-closable="false" @before-ok="handleSubmit">
    <template #title>
      登记报关单
    </template>
    <a-table :columns="columns" :data="tableData" :pagination="false" :scroll="scroll">
        <template #index="{ rowIndex }" class="operate"> 
          {{rowIndex+1}}
        </template>
        <template #operate="{ record,rowIndex }" v-if="status!==18"> 
          <icon-delete class="overBg" @click="deleteF(record,rowIndex)"/>
        </template>
        <!-- -number -->
        <template #customsNo="{ record,rowIndex }">
            <a-input-number v-model="record.customsNo" :error="record.customsNoCopy.toString().length>18" @blur="record.customsNoCopy=record.customsNo"/>
        </template>
        <template #customsCategory="{ record,rowIndex }">
            <a-input v-model="record.customsCategory"/>
        </template>
        <template #customsDeclarationStartTime="{ record,rowIndex }">
            <a-date-picker
            show-time
                v-model="record.customsDeclarationStartTime"
                format="YYYY-MM-DD HH:mm"
            />     
        </template>
        <template #eDeclearaceReleaseTime="{ record,rowIndex }">
            <a-date-picker
            show-time
                v-model="record.eDeclearaceReleaseTime"
                format="YYYY-MM-DD HH:mm"
            />     
        </template>
        <template #inspectionTypeName="{ record }">
            <a-select v-model="record.inspectionTypeName" allow-search>
              <a-option v-for="item of inspectionTyList" :value="item.name" @click="record.costName=item.name">{{item.name}}</a-option>
            </a-select>
        </template>
        <template #noticeForInspectionTime="{ record,rowIndex }">
            <a-date-picker
            show-time
                v-model="record.noticeForInspectionTime"
                format="YYYY-MM-DD HH:mm"
            />    
        </template>
        <template #inspectionCompletionTime="{ record,rowIndex }">
            <a-date-picker
            show-time
                v-model="record.inspectionCompletionTime"
                format="YYYY-MM-DD HH:mm"
            />     
        </template>
        <template #customsReleaseTime="{ record,rowIndex }">
            <a-date-picker
            show-time
                v-model="record.customsReleaseTime"
                format="YYYY-MM-DD HH:mm"
            />     
        </template>
        <template #customsFileName="{ record }">
            <a-upload
              action="/"
               :show-file-list="false"
              :auto-upload="false"
              ref="uploadRef"
              @change="onChange"
            >
              <template #upload-button>
                <a-input @focus="submit(record,'customsFileName')" v-model="record.customsFileName"  style="cursor:pointer;color:#2969FF">
                  <template #suffix>
                    <icon-arrow-rise />
                  </template>
                </a-input>
              </template>
            </a-upload>
        </template>
        <template #taxFileName="{ record }">
            <a-upload
              action="/"
               :show-file-list="false"
              :auto-upload="false"
              ref="uploadRef"
              @change="onChange"
            >
              <template #upload-button>
                <a-input @focus="submit(record,'taxFileName')" v-model="record.taxFileName"  style="cursor:pointer;color:#2969FF">
                <!-- <a-button :style="{width:'200px'}" @click="submit(record,'taxFileName')">{{record.taxFileName}}  @clear="clearFile(record,'taxFileName')-->
                  <template #suffix>
                    <icon-arrow-rise />
                  </template>
                  <!-- </a-button> -->
                </a-input>
              </template>
            </a-upload>
        </template>
        <template #quarantineCertificateFileName="{ record }">
            <a-upload
              action="/"
               :show-file-list="false"
              :auto-upload="false"
              ref="uploadRef"
              @change="onChange"
            >
              <template #upload-button>
                <a-input @focus="submit(record,'quarantineCertificateFileName')" v-model="record.quarantineCertificateFileName" style="cursor:pointer;color:#2969FF">
                  <template #suffix>
                    <icon-arrow-rise />
                  </template>
                </a-input>
              </template>
            </a-upload>
        </template>
    </a-table>
    <!-- <div class="newBtn"  @click="add()">
       <icon-plus/>新增项
    </div> -->
    <a-button type="text" style="margin-top:20px" @click="add()" v-if="status!==18"><icon-plus/>新增项</a-button>
</a-modal>
</template>

<script lang="ts">
import {
  defineComponent,
  ref,
  watch,
  reactive,
  h,
  toRefs,
  computed,
  onMounted,
  nextTick,
} from 'vue';
import { runOrderApi } from '@/api/runOrderApi/index'
import { memberUser } from '@/api/member';
import { Modal,Message  } from '@arco-design/web-vue';
import { numberLiteralTypeAnnotation, recordExpression } from '@babel/types';
export default defineComponent({
    name: 'extraDialog',
    props:{
      orderLogisticsNo: {
        type: String,
        default: '',
      },
      status: {
        type: Number,
        default: null,
      }
    },
    setup(props){
       const visible = ref(false);
       const scroll={
        y:200
       }
       const columns=
        [
          {
            title: '#',
            dataIndex: 'index',
            slotName: 'index',
             width:30,
          },
          {
            title: '',
            dataIndex: 'operate',
            slotName: 'operate',
            width:40,
          },
          {
            title: '海关编号',
            dataIndex: 'customsNo',
            slotName: 'customsNo',
            width: 200,
          },
          {
            title: '申报品名',
            dataIndex: 'customsCategory',
            slotName: 'customsCategory',
            width: 120,
          },
          {
            title: '申报开始时间',
            dataIndex: 'customsDeclarationStartTime',
            slotName: 'customsDeclarationStartTime',
            width: 200,
          },
          {
            title: '电子放行时间',
            dataIndex: 'eDeclearaceReleaseTime',
            slotName:'eDeclearaceReleaseTime',
            width: 200,
          },
          {
            title: '查验类型',
            dataIndex: 'inspectionTypeName',
            slotName:'inspectionTypeName',
            width: 150,
          },
          {
            title: '通知查验时间',
            dataIndex: 'noticeForInspectionTime',
            slotName: 'noticeForInspectionTime',
            width: 200,
          },
          {
            title: '查验完成时间',
            dataIndex: 'inspectionCompletionTime',
            slotName: 'inspectionCompletionTime',
            width: 200,
          },
          {
            title: '报关放行时间',
            dataIndex: 'customsReleaseTime',
            slotName: 'customsReleaseTime',
            width: 200,
          },
          {
            title: '报关单',
            dataIndex: 'customsFileName',
            slotName: 'customsFileName',
            width: 200,
          },
          {
            title: '税费单',
            dataIndex: 'taxFileName',
            slotName: 'taxFileName',
            width: 200,
          },
          {
            title: '检疫证',
            dataIndex: 'quarantineCertificateFileName',
            slotName: 'quarantineCertificateFileName',
            width: 200,
          },
        ]
       const data=reactive({
          tableData:[],
          inspectionTyList:[],
          recordInfo:{},
          upFileType:"4"
       })
        runOrderApi.getbillList({type:"inspection_type"}).then(res=>{
          data.inspectionTyList=res.data.selectorInfoList
        })
       const add=()=>{
          data.tableData.push({
            orderLogisticsNo:props.orderLogisticsNo,
            customsNo:"",
            customsNoCopy:"",
            customsCategory:"",
            customsDeclarationStartTime:"",
            eDeclearaceReleaseTime:"",
            inspectionTypeName:"",
            noticeForInspectionTime:"",
            inspectionCompletionTime:"",
            customsReleaseTime:"",
            customsFileName:"",
            taxFileName:"",
            quarantineCertificateFileUrl:""
        })
       }
       const deleteF=(record,index)=>{
         if(record.id){
            runOrderApi.deleteBill({id:record.id}).then(res=>{
              if(res.code==200){
                getList()
              }
            })
         }else{
          data.tableData.splice(index,1)
         }
       }
       const handleSubmit=(done)=>{
          if(data.tableData.length<1){
            Message.warning('请先登记报关单')
            done(false)
            return
          }
          let flag=false
          let count=0
          data.tableData.forEach(item=>{
            if(item.quarantineCertificateFileName){
              count+=1
            }
            if(item.customsNoCopy.toString().length>18){
              if(!flag){
                flag=true
              }
            }
          })
          if(flag){
            Message.warning('海关编号不能超过18位数字')
            done(false)
            return
          }
          if(count>0&&count!==data.tableData.length){
            Message.warning('有部分海关编号没有上传检疫证')
            done(false)
            return
          }
          runOrderApi.entryBillSub(data.tableData).then(res=>{
            if(res.code==200){
              done()
            }else{
              done(false)
            }
          })
       }
      const submit=(record,type)=>{
        data.recordInfo=record
        data.upFileType=type
      }
      const onChange =async (fileList)=>{
          const res=await memberUser.fileUpload({file:fileList[0].file})
          if(data.upFileType=='customsFileName'){
            data.recordInfo.customsFileName=res.data.fileName
            data.recordInfo.customsFileUrl=res.data.url
          }else if(data.upFileType=='taxFileName'){
            data.recordInfo.taxFileName=res.data.fileName
            data.recordInfo.taxFileUrl=res.data.url
          }else{
            data.recordInfo.quarantineCertificateFileName=res.data.fileName
            data.recordInfo.quarantineCertificateFileUrl=res.data.url
          }
      }
      const clearFile=(record,type)=>{
        if(type=='customsFileName'){
            record.customsFileName=""
            record.customsFileUrl=""
        }else if(data.upFileType=='taxFileName'){
            record.taxFileName=""
            record.taxFileUrl=""
        }else{
            record.quarantineCertificateFileName=""
            record.quarantineCertificateFileUrl=""
        }
      }
      const getList=()=>{
        runOrderApi.entryBillList({
          logisticsNo	:props.orderLogisticsNo,
        }).then(res=>{
          if(res.code==200){
            data.tableData=res.data || []
            data.tableData.forEach(item=>{
              item.customsNoCopy=item.customsNo
              item.customsNo=Number(item.customsNo)
            })
          }
        })
      }
      watch(visible,(nVal, oVal) => {
          if(nVal){
            getList()
          }
      })
      return{
        visible,
        columns,
        getList,
        add,
        onChange,
        clearFile,
        submit,
        deleteF,
        handleSubmit,
        scroll,
        ...toRefs(data)
      }
    }
})
</script>

<style lang="less" scoped>
.newBtn{
    width:100px;
    margin-top:23px;
    color: #2969FF;
    cursor: pointer;
    .arco-icon{margin-right:10px;}
}
</style>