<template>
  <a-modal
    v-model:visible="visible"
    :width="800"
    :mask-closable="false"
    @before-ok="handleSubmit"
  >
    <template #title> 额外费用登记 </template>
    <a-table :columns="columns" :data="tableData" :pagination="false" :scroll="scroll">
      <template #index="{ rowIndex }" class="operate">
        {{ rowIndex + 1 }}
      </template>
      <template #costName="{ record, rowIndex }">
        <a-select v-model="record.costCode" allow-search>
          <a-option
            v-for="item of feeList"
            :value="item.costFeeCode"
            @click="record.costName = item.costFeeName"
            >{{ item.costFeeName }}</a-option
          >
        </a-select>
      </template>
      <template #currency="{ record }">
        <a-select
          v-model="record.currency"
          allow-search
          @change="
            record.currency == 'CNY'
              ? (record.exchangeRate = 1)
              : (record.exchangeRate = '')
          "
        >
          <a-option
            v-for="item of currencyList"
            :value="item.currencyCode"
            @click="record.costName = item.currencyName"
            >{{ item.currencyName }}</a-option
          >
        </a-select>
      </template>

      <template #exchangeRate="{ record }">
        <a-input-number
          v-model="record.exchangeRate"
          :precision="4"
          :disabled="record.currency == 'CNY'"
        />
      </template>
      <template #paymentId="{ record }">
        <a-select
          v-model="record.paymentId"
          allow-search
          @search="getpayment(record.paymentName)"
        >
          <a-option
            v-for="item of paymentList"
            :value="item.enterpriseId"
            @click="record.paymentName = item.name"
          >
            <a-tooltip :content="item.name">
              <span>{{ item.name }}</span>
            </a-tooltip>
          </a-option>
        </a-select>
      </template>
      <template #operate="{ rowIndex }">
        <icon-delete class="overBg" @click="deleteF(rowIndex)" />
      </template>
      <template #remark="{ record }">
        <a-input v-model="record.remark" />
      </template>
      <template #amount="{ record }">
        <a-input-number :min="0.01" v-model="record.amount" />
      </template>
    </a-table>

    <template #footer>
      <div class="footer">
        <div class="left">
          <a-button type="text"  @click="add()"
            ><icon-plus />新增项</a-button
          ></div
        >
        <div class="right">
          <a-button @click="handleCancel" style="margin-right: 20px"
            >取消</a-button
          >
          <a-button type="primary" @click="handleSubmit">保存</a-button>
        </div>
      </div>
    </template>
  </a-modal>
</template>

<script lang="ts">
import {
  defineComponent,
  ref,
  watch,
  reactive,
  h,
  toRefs,
  computed,
  onMounted,
  nextTick,
} from 'vue';
import { runOrderApi } from '@/api/runOrderApi/index';
import { Modal, Message } from '@arco-design/web-vue';
export default defineComponent({
  name: 'extraDialog',
  props: {
    orderLogisticsNo: {
      type: String,
      default: '',
    },
  },
  setup(props) {
    const visible = ref(false);
    const columns = [
      {
        title: '#',
        dataIndex: 'index',
        slotName: 'index',
      },
      {
        title: '',
        dataIndex: 'operate',
        slotName: 'operate',
      },
      {
        title: '费用项目',
        dataIndex: 'costName',
        slotName: 'costName',
        width: 150,
      },
      {
        title: '币别',
        dataIndex: 'currency',
        slotName: 'currency',
        width: 150,
      },
      {
        title: '汇率',
        dataIndex: 'exchangeRate',
        slotName: 'exchangeRate',
        width: 150,
      },
      {
        title: '金额',
        dataIndex: 'amount',
        slotName: 'amount',
        width: 100,
      },
      {
        title: '支付对象',
        dataIndex: 'paymentId',
        slotName: 'paymentId',
        width: 150,
      },
      {
        title: '备注',
        dataIndex: 'remark',
        slotName: 'remark',
        width: 200,
      },
    ];
    const scroll=
      {
        y:300
      }
    const data = reactive({
      tableData: [
        {
          costName: '',
          costCode: '',
          paymentId: '',
          paymentName: '',
          currency: 'CNY',
          exchangeRate: 1,
          amount: '',
          remark: '',
          orderLogisticsNo: props.orderLogisticsNo,
        },
      ],
      feeList: [],
      currencyList: [],
      paymentList: [],
    });
    const getFeeCode = () => {
      runOrderApi.costFee({}).then((res) => {
        data.feeList = res.data;
      });
    };
    const getcurrency = () => {
      runOrderApi.currencyList().then((res) => {
        data.currencyList = res.data;
      });
    };
    const getpayment = (name) => {
      runOrderApi
        .getSupperlier({
          name: name || '',
          relationTypes: 9,
        })
        .then((res) => {
          data.paymentList = res.data;
        });
    };
    getFeeCode();
    getcurrency();
    getpayment();
    const add = () => {
      data.tableData.push({
        costName: '',
        costCode: '',
        paymentId: '',
        paymentName: '',
        currency: 'CNY',
        exchangeRate: 1,
        amount: '',
        remark: '',
        orderLogisticsNo: props.orderLogisticsNo,
      });
    };
    const deleteF = (index) => {
      data.tableData.splice(index, 1);
    };
    const handleCancel = () => {
      visible.value = false;
    };
    const handleSubmit = () => {
      if (data.tableData.length < 1) {
        Message.warning('请先添加费用项目');

        return;
      }
      runOrderApi.costSubmit(data.tableData).then((res) => {
        if (res.code == 200) {
          visible.value = false;
        } else {
        }
      });
    };
    watch(visible, (nVal, oVal) => {
      if (nVal) {
        data.tableData = [
          {
            costName: '',
            costCode: '',
            paymentId: '',
            paymentName: '',
            currency: 'CNY',
            exchangeRate: 1,
            amount: '',
            remark: '',
            orderLogisticsNo: props.orderLogisticsNo,
          },
        ];
      }
    });
    return {
      visible,
      columns,
      getFeeCode,
      getcurrency,
      getpayment,
      add,
      deleteF,
      handleSubmit,
      scroll,
      ...toRefs(data),
    };
  },
});
</script>

<style lang="less" scoped>
.newBtn {
  width: 100px;
  margin-top: 23px;
  color: #2969ff;
  cursor: pointer;
  .arco-icon {
    margin-right: 10px;
  }
}
.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
</style>