<template>
<a-modal v-model:visible="visible" :footer="false" :mask-closable="false" :width="1000">
    <template #title>
      文件上传
    </template>
    <a-upload draggable action="/" :show-file-list="false" multiple :custom-request="customRequest"/>
    <div class="file-Btn">
      <a-button type="outline" @click="batchDownload">批量下载</a-button>
    </div>
    <a-table row-key="id" :scroll="scroll" v-model:selectedKeys="selectedKeys" :columns="columns" row-class='operateClass' :data="tableData" :pagination="false" :row-selection="rowSelection">
      <template #operatetitle> 
        <div class="overBgTitle"></div>
      </template>
      <template #attachmentName="{ record }"> 
          <a :href="record.attachmentPath" target="_Blank" style="text-decoration:none;color:#00b42a">{{record.attachmentName}}</a>
      </template>
      <template #documentTypeName="{ record }"> 
          <a-select v-model="record.documentType" allow-search @change="updateD(record)">
            <a-option v-for="item of docTypeList" :value="item.codesValues" @click="record.documentTypeName=item.codeName">
                {{item.codeName}}
            </a-option>
          </a-select>                    
      </template>
      <template #remark="{ record }"> 
          <a-input v-model="record.attachmentRemark" @blur="updateD(record)"></a-input>
      </template>
      <template #operate="{ record }" class="operate"> 
        <icon-delete class="overBg" @click="deleteF(record)"/>
      </template>
    </a-table>
</a-modal>
</template>

<script lang="ts">
import {
  defineComponent,
  ref,
  watch,
  reactive,
  h,
  toRefs,
  computed,
  onMounted,
  nextTick,
} from 'vue';
import { runOrderApi } from '@/api/runOrderApi/index'
import { memberUser } from '@/api/member';
import { common } from '@/api/common/index';
import { Modal,Message  } from '@arco-design/web-vue';
export default defineComponent({
    name: 'fileUp',
    props:{
      orderLogisticsNo: {
        type: String,
        default: '',
      }
    },
    setup(props){
       const visible = ref(false);
       const scroll={
        y:200
       }
       const columns=
        [
          {
            title: '',
            dataIndex: 'operate',
            slotName: 'operate',
            width: 27,
            titleSlotName: 'operatetitle',
            className: "v-center"
          },
          {
            title: '文件名',
            dataIndex: 'attachmentName',
            slotName:'attachmentName',
            ellipsis: true,
            tooltip: {position: 'bottom'},
          },
          {
            title: '单证名称',
            dataIndex: 'documentTypeName',
            slotName: 'documentTypeName',
            width:200,
            ellipsis: true,
            tooltip: {position: 'bottom'},
          },
          {
            title: '备注',
            dataIndex: 'attachmentRemark',
            ellipsis: true,
            tooltip: {position: 'bottom'},
            slotName: 'remark',
          },
          {
            title: '上传人',
            dataIndex: 'uploadUserName',
            ellipsis: true,
            tooltip: {position: 'bottom'},
          },
          {
            title: '上传时间',
            dataIndex: 'uploadDate',
            ellipsis: true,
            tooltip: {position: 'bottom'},
          },
        ]

       const data=reactive({
          tableData:[],
          selectedKeys:[],
          rowSelection:{
              type: 'checkbox',
              showCheckedAll: true,
              onlyCurrent: false,
          },
          docTypeList:[],//单证类型
       })
      common.getDocType().then((res) => {
        data.docTypeList = res.data
      });
      // 单证类型更新
      const updateD=(record)=>{
         runOrderApi.updateFileList({
          id:record.id,
          documentType:record.documentType,
          attachmentRemark:record.attachmentRemark
         }).then(res=>{
            if(res.code==200){
              getList()
            }
         })
      }
      const fileData=ref()
      const customRequest=async (option)=>{
          const res=await memberUser.fileUpload({file:option.fileItem.file})
          runOrderApi.uploadFileList({
            orderLogisticsNo:props.orderLogisticsNo,
            documentList:[
              {
                attachmentName:res.data.fileName,
                attachmentPath:res.data.url
              }
            ]
          }).then(res=>{
            if(res.code==200){
              getList()
            }
          })
      }
      const deleteF = (record) => {
            Modal.warning({
              title: '提示',
              content: '确认删除'+record.attachmentName,
              hideCancel:false,
              onOk:()=>{
                runOrderApi.cargoListFileDelete({id:record.id}).then(res=>{
                  if(res.code==200){
                    getList()
                  }
                })
              }
            })
      }
      const batchDownload=()=>{
        if(data.selectedKeys.length){
          runOrderApi.cargoListFilDownload({
            ids:data.selectedKeys.toString()
          })
          .then((response) => {
            console.log(response, 'response')
            let blob = new Blob([response], { type: 'application/zip' })
            let url = window.URL.createObjectURL(blob)
            const link = document.createElement('a') 
            link.href = url
            link.download = '附件'
            link.click()
            URL.revokeObjectURL(url) 
          })
        }else{
          Message.warning('请选择文件')
        }
      }
      const remark=(record)=>{
        runOrderApi.cargoListFileMark({
          id:record.id,
          remark:record.attachmentRemark
        })
      }
      const getList=()=>{
        runOrderApi.getFileList({
          orderLogisticsNo:props.orderLogisticsNo,
        }).then(res=>{
          if(res.code==200){
            data.tableData=[]
            if(!res.data) return
            data.tableData=res.data
            data.tableData.forEach(item=>{
              item.documentType=item.documentType?item.documentType.toString():''
            })
          }
        })
      }
      watch(visible,(nVal, oVal) => {
          if(nVal){
            getList()
          }
      })
      return{
        scroll,
        visible,
        columns,
        fileData,
        getList,
        deleteF,
        updateD,
        batchDownload,
        customRequest,
        remark,
        ...toRefs(data)
      }
    }
})
</script>

<style lang="less" scoped>
  .file-Btn {
    margin:20px 0;
    display: flex;
    justify-content: flex-end;
  }
.operateClass{

}
</style>