<template>
<a-modal v-model:visible="visible" :footer="false" :mask-closable="false" :width="1000">
    <template #title>
      上传货物清单
    </template>
    <a-upload draggable action="/" :show-file-list="false" multiple :custom-request="customRequest"/>
    <div class="file-Btn">
      <a-button type="outline" @click="batchDownload">批量下载</a-button>
    </div>
    <a-table row-key="id" :scroll="scroll" v-model:selectedKeys="selectedKeys" :columns="columns" row-class='operateClass' :data="tableData" :pagination="false" :row-selection="rowSelection">
      <template #operatetitle> 
        <div class="overBgTitle"></div>
      </template>
      <template #remark="{ record }"> 
          <a-input v-model="record.attachmentRemark" @blur="remark(record)"></a-input>
      </template>
      <template #status="{ record }"> 
          <span>{{record.status==1?'通过':record.status==0?'驳回':''}}</span>
      </template>
      <template #operate="{ record }" class="operate"> 
        <icon-delete class="overBg" @click="deleteF(record)"/>
      </template>
    </a-table>
</a-modal>
</template>

<script lang="ts">
import {
  defineComponent,
  ref,
  watch,
  reactive,
  h,
  toRefs,
  computed,
  onMounted,
  nextTick,
} from 'vue';
import { runOrderApi } from '@/api/runOrderApi/index'
import { memberUser } from '@/api/member';
import { Modal,Message  } from '@arco-design/web-vue';
export default defineComponent({
    name: 'fileUp',
    props:{
      orderLogisticsNo: {
        type: String,
        default: '',
      }
    },
    setup(props){
       const visible = ref(false);
       const scroll={
        y:200
       }
       const columns=
        [
          {
            title: '',
            dataIndex: 'operate',
            slotName: 'operate',
            width: 27,
            titleSlotName: 'operatetitle',
            className: "v-center"
          },
          {
            title: '文件名称',
            dataIndex: 'attachmentName',
            ellipsis: true,
            tooltip: {position: 'bottom'},
          },
          {
            title: '备注',
            dataIndex: 'attachmentRemark',
            slotName: 'remark',
            width:200
          },
          {
            title: '上传人',
            dataIndex: 'uploadUserName',
            ellipsis: true,
            tooltip: {position: 'bottom'},
          },
          {
            title: '上传时间',
            dataIndex: 'uploadDate',
            ellipsis: true,
            tooltip: {position: 'bottom'},
          },
          {
            title: '审核结果',
            dataIndex: 'status',
            slotName: 'status',
            ellipsis: true,
            tooltip: {position: 'bottom'},
          },
          {
            title: '审核意见',
            dataIndex: 'opinion',
            ellipsis: true,
            tooltip: {position: 'bottom'},
          },
          {
            title: '审核人',
            dataIndex: 'reviewer',
            ellipsis: true,
            tooltip: {position: 'bottom'},
          },
          {
            title: '审核时间',
            dataIndex: 'auditTime',
            ellipsis: true,
            tooltip: {position: 'bottom'},
          },
        ]

       const data=reactive({
          tableData:[],
          selectedKeys:[],
          rowSelection:{
              type: 'checkbox',
              showCheckedAll: true,
              onlyCurrent: false,
          },
       })
      const fileData=ref()
      const customRequest=async (option)=>{
          const res=await memberUser.fileUpload({file:option.fileItem.file})
          runOrderApi.orderFileUp({
            orderLogisticsNo:props.orderLogisticsNo,
            attachmentName:res.data.fileName,
            attachmentPath:res.data.url,

          }).then(res=>{
            if(res.code==200){
              getList()
            }
          })
      }
      const deleteF = (record) => {
            Modal.warning({
              title: '提示',
              content: '确认删除'+record.attachmentName,
              hideCancel:false,
              onOk:()=>{
                runOrderApi.cargoListFileDelete({id:record.id}).then(res=>{
                  if(res.code==200){
                    getList()
                  }
                })
              }
            })
      }
      const batchDownload=()=>{
        if(data.selectedKeys.length){
          runOrderApi.cargoListFilDownload({
            ids:data.selectedKeys.toString()
          })
          .then((response) => {
            console.log(response, 'response')
            let blob = new Blob([response], { type: 'application/zip' })
            let url = window.URL.createObjectURL(blob)
            const link = document.createElement('a') 
            link.href = url
            link.download = '附件'
            link.click()
            URL.revokeObjectURL(url) 
          })
        }else{
          Message.warning('请选择文件')
        }
      }
      const remark=(record)=>{
        runOrderApi.cargoListFileMark({
          id:record.id,
          remark:record.attachmentRemark || ''
        })
      }
      const getList=()=>{
        runOrderApi.cargoListFileList({
          orderLogisticsNo:props.orderLogisticsNo,
          documentType:1919
        }).then(res=>{
          if(res.code==200){
            data.tableData=res.data
          }
        })
      }
      watch(visible,(nVal, oVal) => {
          if(nVal){
            getList()
          }
      })
      return{
        scroll,
        visible,
        columns,
        fileData,
        getList,
        deleteF,
        batchDownload,
        customRequest,
        remark,
        ...toRefs(data)
      }
    }
})
</script>

<style lang="less" scoped>
  .file-Btn {
    margin:20px 0;
    display: flex;
    justify-content: flex-end;
  }
.operateClass{

}
</style>