<template>
<a-modal v-model:visible="visible" :width="800" :footer="false"  :mask-closable="false" @before-ok="handleSubmit" :on-before-cancel="handleCancel">
    <template #title>
      留言
    </template>
    <a-table :columns="columns" :data="tableData" :pagination="false" :scroll="scroll">
        <template #index="{ rowIndex }" class="operate"> 
          {{rowIndex+1}}
        </template>
        <template #operate="{ record,rowIndex }"> 
          <icon-delete class="overBg" @click="deleteF(record,rowIndex)"/>
        </template>
        <template #remark="{ record }">
            <a-input v-model="record.remark" :error="remarkFlag&&record.remark==''" @blur="editAdd(record)"/>
        </template>
    </a-table>
    <a-button type="text" style="margin-top:20px" @click="add()"><icon-plus/>新增项</a-button>
</a-modal>
</template>

<script lang="ts">
import {
  defineComponent,
  ref,
  watch,
  reactive,
  h,
  toRefs,
  computed,
  onMounted,
  nextTick,
} from 'vue';
import { runOrderApi } from '@/api/runOrderApi/index'
import { Modal,Message  } from '@arco-design/web-vue';
export default defineComponent({
    name: 'extraDialog',
    props:{
      orderLogisticsNo: {
        type: String,
        default: '',
      }
    },
    setup(props){
       const visible = ref(false);
       const columns=
        [
          {
            title: '#',
            dataIndex: 'index',
            slotName: 'index',
             width: 27,
          },
          {
            title: '',
            dataIndex: 'operate',
            slotName: 'operate',
            width: 27,
          },
          {
            title: '留言',
            dataIndex: 'remark',
            slotName: 'remark',
            width:220
          },
          {
            title: '创建人',
            dataIndex: 'operation'
          },
          {
            title: '创建时间',
            dataIndex: 'createTime'
          },
          {
            title: '最近修改时间',
            dataIndex: 'updateTime'
          }
        ]
        const scroll=
          {
            y:300
          }
       const data=reactive({
          tableData:[],
          remarkFlag:false
       })
       const getList=()=>{
         runOrderApi.remarkList({
          orderLogisticsNo:props.orderLogisticsNo
         }).then(res=>{
          if(res.code==200){
            data.tableData=res.data
          }
         })
       }
       const add=()=>{
          data.tableData.push({
              remark:"",
          })
       }
       const editAdd=(record)=>{
          if(record.id){
            runOrderApi.editRemarkList({
              id:record.id,
              remark:record.remark
            }).then(res=>{
              if(res.code==200){
                getList()
              }
            })
          }else{
            runOrderApi.addRemarkList({
              orderLogisticsNo:props.orderLogisticsNo,
              remark:record.remark
            }).then(res=>{
              if(res.code==200){
                getList()
              }
            })
          }
       }
       const deleteF=(record,rowIndex)=>{
         if(record.id){
          runOrderApi.deleteRemarkList(record.id).then(res=>{
            if(res.code==200){
              getList()
            }
          })
         }else{
          data.tableData.splice(rowIndex,1)
         }
       }
       const handleSubmit=(done)=>{
          if(data.tableData.length<1){
            Message.warning('请先添加费用项目')
            done(false)
            return
          }
          runOrderApi.costSubmit(data.tableData).then(res=>{
            if(res.code==200){
              done()
            }else{
              done(false)
            }
          })
       }
       const handleCancel=()=>{
          data.remarkFlag=false
          data.tableData.some(item=>{
            if(item.remark==''){
              data.remarkFlag=true
              return true
            }
          })
          if(data.remarkFlag){
            return false
          }else{
            return true
          }
       }
       watch(visible,(nVal)=>{
          getList()
       })
      return{
        visible,
        columns,
        getList,
        add,
        editAdd,
        deleteF,
        handleSubmit,
        handleCancel,
        scroll,
        ...toRefs(data)
      }
    }
})
</script>

