<template>
<a-modal v-model:visible="visible" :mask-closable="false" @before-ok="handleSubmit" :width="370">
    <template #title>
      更改服务项目
    </template>
    <a-checkbox-group direction="vertical" v-model="checkType">
      <div v-for="item in services">
          <a-checkbox :value="item.serviceType" :disabled="item.disabled" style="width:90px">{{item.label}}</a-checkbox>
          <div class="checkoutOption">
            <a-select v-model="item.bookingAgencyId" :disabled="item.optionDisabled || item.disabled" :style="{width:'200px',marginRight:'8px'}" placeholder="请选择供应商" allow-search @search="handleSearch" @input-value-change="()=>{changeLabel=item.label}">
              <a-option v-for="(spler,index) in item.list" :value="spler.enterpriseId" @click="item.ownerCompentFlag=spler.ownerCompentFlag;bookingChange(item)">{{spler.name}}</a-option>
            </a-select>
            <a-select v-model="item.userId" :disabled="item.optionDisabled2 ||item.disabled" v-if="item.list2" :style="{width:'122px'}" allow-search placeholder="请选择换单员">
              <a-option v-for="user in item.list2" :value="user.userId" @click="item.userJobNumber=user.userJobNumber">{{user.userName}}</a-option>
            </a-select>
          </div>
      </div>
    </a-checkbox-group>
  </a-modal>
</template>
<script lang="ts">
import {
  defineComponent,
  ref,
  watch,
  reactive,
  h,
  toRefs,
  computed,
  onMounted,
  nextTick,
} from 'vue';
import { runOrderApi } from '@/api/runOrderApi/index'
export default defineComponent({
    name: 'service',
    props:{
      orderLogisticsNo: {
        type: String,
        default: '',
      },
      serviceItem:{
        type: Object,
        default: [],
      },
      status:{
        type: Number,
        default:null,
      }
    },
    setup(props,{emit}){
       const visible = ref(false);
       const data=reactive({
        superlierList:{
          'superlierList1':[],
          'superlierList2':[],
          'superlierList3':[],
          'superlierList4':[],
        },
        userList:{
          userList1:[],
          userList2:[]
        },
        checkType:[],
        services:[
          {
            label:'换单',
            value:'',
            serviceType:1709,
            bookingAgencyId:"",
            bookingAgencyName:"",
            userJobNumber:"",
            userId:"",
            userName:"",
            superlierList:'superlierList1',
            userList:'userList1',
            list:[],
            list2:[],
            disabled:true,
            optionDisabled:true,
            optionDisabled2:true,
            ownerCompentFlag:false,//是否是本方公司
            firstControl:false
          },
          {
            label:'报关报检',
            value:'',
            serviceType:1710,
            bookingAgencyId:"",
            bookingAgencyName:"",
            userJobNumber:"",
            userId:"",
            userName:"",
            superlierList:'superlierList2',
            userList:'userList2',
            list:[],
            list2:[],
            disabled:true,
            optionDisabled:true,
            optionDisabled2:true,
            firstControl:false
          },
          {
            label:'公路运输',
            value:'',
            serviceType:1711,
            bookingAgencyId:"",
            bookingAgencyName:"",
            superlierList:'superlierList3',
            list:[],
            disabled:true,
          },
          {
            label:'仓储',
            value:'',
            serviceType:1713,
            bookingAgencyId:"",
            bookingAgencyName:"",
            superlierList:'superlierList4',
            list:[],
            disabled:true,
          }
        ],
        changeLabel:""
       })
      const getSupperlier=async(type,name)=>{
        let res=await runOrderApi.getSupperlier({
          name:name||'',
          relationTypes:9,
          labelCodes:type,
        })
        return res.data
      }
      const getUser=async(type,key,list)=>{
        let res=await runOrderApi.getUser({
          roleType:type,
          keyword:key||''
        })
        return res.data
      }
      // 换单供应商
      getSupperlier('ChangeOrder').then(res=>{
        data.services[0].list=res
      })
      // 报关供应商
      getSupperlier('CustomsDeclaration').then(res=>{
        data.services[1].list=res
      })
      // 运输供应商
      getSupperlier('RoadTransport').then(res=>{
        data.services[2].list=res
      })
      // 仓储供应商
      getSupperlier('Storage').then(res=>{
        data.services[3].list=res
      })
      // 换单员
      getUser(7).then(res=>{
        data.services[0].list2=res
        console.log()
      })
      // 制单员
      getUser(8).then(res=>{
        data.services[1].list2=res
      })
      // 复选改变
      const handleChange=()=>{
          let obj={
            value:'',
            bookingAgencyId:"",
            bookingAgencyName:"",
            userJobNumber:"",
            userId:"",
            userName:"",
            firstControl:false
          }
        data.services.forEach(item=>{
          if(!data.checkType.includes(item.serviceType)){
            item.disabled=true
            Object.assign(item,obj)
          }
        })
      }
      const bookingChange=(item)=>{
        if(item.label=='换单'){
          item.optionDisabled2=item.bookingAgencyId==''||!item.ownerCompentFlag
          // || props.status>=12
        }else if(item.label=='报关报检'){
          item.optionDisabled2=!item.ownerCompentFlag
        }
      }
      // const userChange=(item,user)=>{
      //   item.userName=user.userName
      //   item.userJobNumber=user.userJobNumber
      // }
      const handleSearch=(val)=>{
          let type=''
          let index=null
          // console.log(data.changeLabel)
        if(data.changeLabel=='换单'){
          type='ChangeOrder'
          index=0
        }else if(data.changeLabel=='报关报检'){
          type='CustomsDeclaration'
          index=1
        }else if(data.changeLabel=='公路运输'){
          type='RoadTransport'
          index=2
        }else{
          type='Storage'
          index=3
        }
        getSupperlier(type,val).then(res=>{
            data.services[index].list=res
            data.services[index].list.some(item=>{
              if(item.enterpriseId==data.services[index].bookingAgencyId){
                data.services[index].ownerCompentFlag=item.ownerCompentFlag
                return true
              }
            })
            let obj=data.services[index]
            if(obj.label=='换单'&&obj.firstControl){
                if(obj.disabled){
                  obj.optionDisabled= obj.disabled
                  obj.optionDisabled2= obj.disabled
                }else{
                  // obj.optionDisabled= props.status>=12
                  obj.optionDisabled= false
                  obj.optionDisabled2= obj.bookingAgencyId==''||obj.bookingAgencyId==null||!obj.ownerCompentFlag
                  // || props.status>=12
                }
            }else if(obj.label=='报关报检'&&obj.firstControl){
                if(obj.disabled){
                  obj.optionDisabled= obj.disabled
                  obj.optionDisabled2= obj.disabled
                }else{
                  obj.optionDisabled= false
                  obj.optionDisabled2=!obj.ownerCompentFlag
                }
            }
        })
      }
      const handleSubmit=(done)=>{
          let arr=[]
          data.checkType.forEach(type=>{
            data.services.some(item=>{
              if(item.serviceType==type){
                arr.push({
                  serviceType:type,
                  bookingAgencyId:item.bookingAgencyId,
                  userJobNumber:item.userJobNumber || '',
                  userId:item.userId || '',
                  userName:item.userName || ''
                })
                return true
              }
            })
          })
          runOrderApi.updateService({
            orderLogisticsNo:props.orderLogisticsNo,
            orderLogisticsMosServiceItem:arr
          }).then(res=>{
            if(res.code==200){
              emit('getList')
              done()
            }else{
              done(false)
            }
          })
       }
      watch(visible,(nVal)=>{
        if(nVal){
          data.checkType=[]
          if(props.serviceItem.length){
            data.services.forEach(item=>{
              item.disabled=true
              item.firstControl=false
              props.serviceItem.some(el=>{
                if(el.serviceType==item.serviceType){
                  data.changeLabel=item.label
                  item.disabled=false
                  handleSearch(el.bookingAgencyName)
                  data.checkType.push(item.serviceType)
                  Object.assign(item,el)
                  item.firstControl=true
                  return true
                }
              })
            })
            handleChange()
          }else{
            handleChange()
          }
        }
      })
       return{
        visible,
        handleSubmit,
        getSupperlier,
        getUser,
        // userChange,
        bookingChange,
        handleChange,
        handleSearch,
        ...toRefs(data)
       }
    }
})
</script>
<style lang="less">
.checkoutOption{
  // display: flex;justify-content: space-between;
}
</style>
