<template>
  <!-- 报价书 -->
  <div class="offer">
    <a-card title="报价确认书" :bordered="false" :style="{ width: '100%' }">
      <!-- <a-table :columns="columns" :data="data" :pagination="false">
      <template #operator="{ record }">
        <a-dropdown trigger="click" position="bl">
          <DwButton type="text">
            <icon-more-vertical size="mini" />
          </DwButton>
          <template #content>
            <a-doption
              v-for="(item, index) in operateList"
              :key="index"
              @click="item.callback && item.callback({ record })"
            >
              <span :style="{ color: item.color, padding: '0 10px 0 3px' }">{{
                item.name
              }}</span>
            </a-doption>
          </template>
          <template #isTransport="{ record: { isTransport } }">
            <div>
              {{
                (isTransport === true && '是') ||
                (isTransport === false && '否') ||
                '--'
              }}
            </div>
          </template>
        </a-dropdown>
      </template>
    </a-table> -->
      <!-- v-show="record.containerType == 1" 预览 -->
      <a-table height="300" :columns="columns" :data="data" :pagination="false">
        <template #operator="{ record }">
          <a-dropdown trigger="click" position="bl">
            <a-button size="mini" type="text" class="operateBtn">
              <template #icon>
                <icon-more-vertical />
              </template>
            </a-button>
            <template #content>
              <a-doption v-for="(item, index) in operateList" :key="index">
                <span
                  v-if="item.name === '删除'"
                  @click="
                    item.confirmDelete && item.confirmDelete({ record, done })
                  "
                  :style="{ color: item.color, padding: '0 10px 0 3px' }"
                  >{{ item.name }}</span
                >
                <span
                  v-else-if="item.show({ record })"
                  @click="item.callback && item.callback({ record })"
                  :style="{ color: item.color, padding: '0 10px 0 3px' }"
                  >{{ item.name }}</span
                >
                <!-- {{item.name}} -->
              </a-doption>
            </template>
          </a-dropdown>
          <!-- <a-trigger
          trigger="click"
          position="bl"
          style="
            box-sizing: border-box;
            padding: 4px 0;
            background-color: var(--color-bg-popup);
            border: 1px solid var(--color-fill-3);
            border-radius: var(--border-radius-medium);
            box-shadow: 0 4px 10px rgb(0 0 0 / 10%);
          "
        >
          <DwButton type="text">
            <icon-more-vertical size="mini" />
          </DwButton>
          <template #content>
            <a-doption v-for="(item, index) in operateList" :key="index">
              <a-popconfirm
                v-if="item.name === '删除'"
                content="确认删除？"
                okText="确认"
                cancelText="取消"
                type="error"
                :on-before-ok="
                  (done) =>
                    item.confirmDelete && item.confirmDelete({ record, done })
                "
              >
                <span :style="{ color: item.color, padding: '0 10px 0 3px' }">{{
                  item.name
                }}</span>
              </a-popconfirm>
              <span
                v-else
                @click="item.callback && item.callback({ record })"
                :style="{ color: item.color, padding: '0 10px 0 3px' }"
                >{{ item.name }}</span
              >
            </a-doption>
          </template>
          <template #isTransport="{ record: { isTransport } }">
            <div>
              {{
                (isTransport === true && '是') ||
                (isTransport === false && '否') ||
                '--'
              }}
            </div>
          </template>
        </a-trigger> -->
        </template>
        <template #quotationNo="{ record }">
          <a-link @click="detailsPage(record)">{{ record.quotationNo }}</a-link>
        </template>

        <!-- <template #containerType="{ record }">
          <span v-if="record.containerType == 1">整箱</span>
          <span v-if="record.containerType == 2">大型散货</span>
          <span v-if="record.containerType == 3">CFS</span>
        </template> -->

        <template #taxDeadline="{ record }">
          <span>{{
            record.taxDeadline == 1 ? '收到《缴款通知书》后当天' : '预收'
          }}</span>
        </template>

        <template #settlementDeadline="{ record }">
          <span v-if="record.settlementDeadline == 1">
            第一种：业务完成后{{ record.settlementDeadlineValue }}付款</span
          >
          <span v-if="record.settlementDeadline == 2"
            >第二种：收到账单后{{
              record.workingDays
            }}个工作日个完成确认；收到正规发票后{{
              record.invoiceWorkingDays
            }}个工作日付款</span
          >
          <span v-if="record.settlementDeadline == 3"
            >第三种:{{ record.settlementDeadlineOther }}</span
          >
        </template>

        <template #settlementDeadlineStore="{ record: { serviceInfo } }">
          {{
            serviceInfo && serviceInfo.indexOf('仓储') !== -1
              ? '货物入库之日的第一个月对账并支付，即当月确认并支付上月费用'
              : '--'
          }}
        </template>
        <template #isTransport="{ record }">
          <p v-if="record.trialDays || record.trialNumber">
            <span v-if="record.trialDays">{{ record.trialDays }}天</span>
            <span v-if="record.trialDays && record.trialNumber">,</span>
            <span v-if="record.trialNumber">{{ record.trialNumber }}次</span>
          </p>
          <span v-else>否</span>
          <!-- <span>{{ record.isTransport ? record.isTransport : '否' }}</span> -->
        </template>
      </a-table>

      <DwButton
        type="text"
        style="margin: 10px 0 0 -15px"
        @click="handleCreateOffer"
      >
        <icon-plus size="mini" />
        新建
      </DwButton>
    </a-card>
  </div>
</template>

<script setup>
import { nextTick, onMounted, ref, watch, reactive } from 'vue';
import { useRouter, useRoute } from 'vue-router';
import { contractManage } from '@/api/contractManage'; //当前页面api
import { Message, Modal } from '@arco-design/web-vue';
const router = useRouter();
const route = useRoute();
const columns = [
  {
    title: '',
    slotName: 'operator',
    dataIndex: 'operator',
    width: 50,
  },
  {
    title: '报价单号',
    slotName: 'quotationNo',
    width: 200,
  },
  {
    title: '销售品名',
    dataIndex: 'categoryName',
    width: 120,
  },
  {
    title: '货箱类型',
    dataIndex:'packingTypeName',
    // slotName: 'containerType',
    width: 120,
  },
  {
    title: '服务',
    dataIndex: 'serviceInfo',
    width: 120,
    ellipsis: true,
    tooltip: true,
  },

  {
    title: '税率',
    dataIndex: 'freightForwarderTax',
    width: 120,
  },
  // {
  //   title: '税金期限',
  //   slotName: 'taxDeadline',
  //   width: 120,
  //   ellipsis: true,
  //   tooltip: true,
  // },

  // {
  //   title: '货运代理服务结算方式',
  //   slotName: 'settlementDeadlineStore',
  //   width: 180,
  // },

  {
    title: '试做',
    slotName: 'isTransport',
    width: 100,
  },

  {
    title: '销售',
    dataIndex: 'salesmanInfo',
    width: 180,
    ellipsis: true,
    tooltip: true,
  },

  // {
  //   title: '提交时间',
  //   slotName: 'updateTime',
  //   width: 120,
  //   ellipsis: true,
  //   tooltip: true,
  // },

  // {
  //   title: '销售品名',
  //   dataIndex: 'categoryName',
  //   width: 120,
  // },
  // {
  //   title: '服务',
  //   dataIndex: 'serviceInfo',
  //   width: 120,
  //   ellipsis: true,
  //   tooltip: true,
  // },
  // {
  //   title: '税率',
  //   dataIndex: 'freightForwarderTax',
  //   width: 120,
  // },
  // {
  //   title: '试做',
  //   slotName: 'isTransport',
  //   width: 90,
  // },
  // {
  //   title: '销售',
  //   dataIndex: 'salesmanInfo',
  //   width: 90,
  // },
  {
    title: '提交日期',
    dataIndex: 'updateTime',
    width: 120,
    ellipsis: true,
    tooltip: true,
  },
];
const getList = () => {
  contractManage
    .quoteBookInfoList({ contractId: route.query.contractInfoId })
    .then((res) => {
      data.length = 0;
      data.push.apply(data, res.data);
    });
};
const data = reactive([]);

watch(
  () => route.query.contractInfoId,
  (n) => {
    if (n) {
      // 根据url id去请求接口，拿到数据
      n && getList();
    }
  },
  {
    immediate: true,
  }
);
// 操作按钮配置

//#region 弹窗，关于创建报价书

const modelVisible = ref(false);
// 创建报价书
const handleCreateOffer = () => {
  router.replace({
    path: '/mos/CRM/contract/list',
    query: {
      ...route.query,
    },
  });
};
// 确定

//#endregion
const operateList = reactive([
  {
    name: '编辑',
    color: 'rgba(41, 105, 255, 1)',
    show: () => true,
    callback: ({ record, rowIndex }) => {
      router.push({
        path: '/mos/CRM/contract/list',
        query: {
          ...route.query,
          offerBookId: record.id,
        },
      });
    },
  },
  {
    name: '打印',
    color: 'rgba(41, 105, 255, 1)',
    show: ({ record }) => record.packingTypeCode == '5001', //整箱可打印
    callback: ({ record, rowIndex }) => {
      router.push({
        path: '/mos/CRM/contract/template',
        query: {
          id: route.query.contractInfoId,
          rowId: record.id,
          type: 3,
        },
      });
    },
  },
  {
    name: '删除',
    color: 'rgba(245, 63, 63, 1)',
    show: () => true,
    confirmDelete: ({ record, done }) => {
      Modal.warning({
        title: '提示',
        content: '确认删除吗?',
        closable: true,
        hideCancel: false,
        onBeforeOk: (done) => {
          contractManage
            .offerDelete({ id: record.id })
            .then(({ code, data }) => {
              if (code === '200') {
                getList();
                done(true);
              } else {
                done(false);
                return Promise.reject();
              }
            })
            .catch(() => {
              done(false);
              return Promise.reject();
            });
        },
      });
    },
  },
]);
const detailsPage = (record) => {
  let id = record.id.toString();
  router.push({
    path: '/mos/CRM/contract/list/details',
    query: {
      ...route.query,
      id,
      offerBookId:id,
    },
  });
};
</script>
<style lang="less" scoped>
:deep(.arco-card-header) {
  border: none;
}
.offer {
  margin-bottom: 20px;
  border: 1px solid var(--color-neutral-3);
}
</style>