<template>
  <div class="add-info">
    <div class="title">
      基本信息
      <a-button type="outline" size="small" v-if="!isEdit" @click="editClick">
        编辑
      </a-button>
    </div>
    <a-form
      class="form-wrap"
      layout="vertical"
      :model="form"
      :rules="rules"
      ref="formRef"
    >
      <a-row :gutter="20">
        <a-col :span="6">
          <a-form-item
            field="customerId"
            label="供应商名称"
            label-col-flex="100px"
          >
            <a-select
							allow-clear
							allow-search
							:filter-option="false"
              v-model="form.customerId"
              placeholder="请选择供应商名称"
              :disabled="!isEdit"
              @change="getCustomerName"
              @search="handleCustomerSearch"
            >
              <a-option
                v-for="(item, index) in customOptions"
                :key="index"
                :value="item.enterpriseId"
                :label="item.name"
              ></a-option>
            </a-select>
          </a-form-item>
        </a-col>
        <a-col :span="6" style="position: relative;">
          <a-form-item
            field="relatedContractNo"
            label="关联合同编号"
            label-col-flex="100px"
          >
            <a-button 
              type="text"
              style="position:absolute;right: 10px;top:-5px;"
              v-if="form.customerId"
              @click="modelVisible = true"
              :disabled="!isEdit"
            >选择合同</a-button>
            <a-input
              v-model="form.relatedContractNo"
              disabled
            ></a-input>
          </a-form-item>
        </a-col>
        <a-col :span="6">
          <a-form-item
            field="businessTypesCode"
            label="业务类型"
            validate-trigger="change"
          >
            <a-select
              v-model="form.businessTypesName"
              placeholder="请选择业务类型"
              disabled
            >
              <a-option
                v-for="(item, index) in serveScoped"
                :key="index"
                :value="item.codesValues"
                :label="item.codeName"
                :disabled="item.disabled"
              ></a-option>
            </a-select>
          </a-form-item>
        </a-col>
        <a-col :span="6">
          <a-form-item
            field="signUpId"
            label="签约抬头"
            label-col-flex="100px"
          >
            <a-select
              allow-clear
							allow-search
              v-model="form.signUpName"
              placeholder="请选择签约抬头"
              disabled
              @change="getSignUpName"
            >
              <a-option
                v-for="(item, index) in relationOptions"
                :key="index"
                :value="item.enterpriseId"
                :label="item.name"
              ></a-option>
            </a-select>
          </a-form-item>
        </a-col>
        <a-col :span="6">
          <a-form-item
            field="signUpDate"
            label="签约日期"
            label-col-flex="100px"
          >
            <a-date-picker
              v-model="form.signUpDate"
              style="width:100%;"
              :disabled="!isEdit"
            />
          </a-form-item>
        </a-col>
        <a-col :span="6">
          <a-form-item
            field="dueToDate"
            label="到期日期"
            label-col-flex="100px"
          >
            <a-date-picker
              v-model="form.dueToDate"
              style="width:100%;"
              disabled
            />
          </a-form-item>
        </a-col>
        <a-col :span="6">
          <a-form-item
            field="contractor"
            label="签约人"
          >
            <a-select
              allow-clear
              v-model="form.contractor"
              placeholder="请选择签约人"
              :disabled="!isEdit"
              @change="getSaleName"
            >
              <a-option
                v-for="(item, index) in salesRoleOptions"
                :key="index"
                :value="item.userId"
                :label="item.userName"
              ></a-option>
            </a-select>
            <!-- <a-input
              v-model="form.contractor"
              disabled
            >
            </a-input> -->
          </a-form-item>
        </a-col>
        
        <a-col :span="6">
          <a-form-item
            field="subordinateDepartmentsId"
            label="所属部门"
            label-col-flex="100px"
          >
            <a-select
              allow-clear
              v-model="form.subordinateDepartmentsId"
              placeholder="请选择所属部门"
              :disabled="!isEdit"
              @change="getSubordinateDepartmentsCname"
            >
              <a-option
                v-for="(item, index) in departmentOptions"
                :key="index"
                :value="item.organizationId"
                :label="item.organizationName"
              ></a-option>
            </a-select>
          </a-form-item>
        </a-col>
      </a-row>
      <a-row :gutter="16">
        <a-col :span="24">
          <a-form-item field="remark" label="备注" label-col-flex="100px">
            <a-textarea
              v-model="form.remark"
              placeholder="请输入备注，限制300个字"
              max-length="300"
              allow-clear
              :disabled="!isEdit"
            />
          </a-form-item>
        </a-col>
      </a-row>
      <a-row :gutter="16" v-if="isEdit">
        <a-col :span="24" style="display:flex;justify-content: flex-end;">
					<a-button size="small" style="margin-right: 12px;" @click="handleCancel">取消</a-button>
          <a-button type="primary" size="small" @click="handleSubmit">保存</a-button>
        </a-col>
      </a-row>
      
    </a-form>
  </div>

  <a-modal
    v-model:visible="modelVisible"
    :width="1000"
    :mask-closable="false"
  >
    <template #title> 选择合同 </template>
    <SelectContract
      v-if="modelVisible"
      ref="comRef"
      :modalParams="modalParams"
      @handleConfirm="handleConfirm"
    ></SelectContract>
    <template #footer>
      <div> </div>
    </template>
  </a-modal>
</template>

<script lang="ts">
import {
  defineComponent,
  onMounted,
  PropType,
  reactive,
  toRefs,
  watch,
  ref,
  computed,
  defineExpose,
  onUnmounted,
  nextTick,
} from 'vue';
import { useRoute, useRouter} from 'vue-router'
import { crmApi } from '@/api/crmApi';
import utils from '@/utils/crm';
import { sessionStrategie,localStrategie } from '@/utils';
import { Message } from '@arco-design/web-vue';
import SelectContract from './SelectContract.vue';

export default defineComponent({
  name: 'BaseFormItem',
  props: {
    isEdit: {
      type: Boolean,
      default: true,
    },
    baseData: {
      type: Object,
      default: {},
    },
    showCancelBtnFlag: {
      type: [Number, String],
    },
    id: {
      type: String,
    },
  },
  components: {
    SelectContract,
  },
  emits: ['update:isEdit', 'update:baseData', 'update:showCancelBtnFlag', 'update:id'],
  setup(props, { attrs, emit, slots }) {
    const route = useRoute()
    const router = useRouter()
    // console.log(route)
    // const query = route.query
    // query.id = '123'
    // console.log(query,'query')
    const formRef = ref([]);
    const dataMap = reactive({
      modelVisible: false,
      form: {
				contractTypeCode: '', // 合同类型代码
				contractType: '', // 合同类型
        contractor: '', // 签约人
        contractorId: '', // 签约人ID	
        contactMethods: '', // 联系方式1手机号  2固定电话
        mobilePhone: '', // 手机号
        fixedTelephone: '', // 固定电话
			},
      oldForm: {}, // 暂存的form表单
      cancelFormData: {},
      rules: {
        businessTypesCode: [
          {
            required: true,
            message: '请选择服务范围',
          },
        ],
				customerId: [
          {
            required: true,
            message: '请选择供应商名称',
          },
        ],
        relatedContractNo: [
          {
            required: true,
            message: '请选择关联合同',
          },
        ],
        signUpId: [
          {
            required: true,
            message: '请选择签约抬头',
          },
        ],
        signUpDate: [
          {
            required: true,
            message: '请选择签约日期',
          },
        ],
        dueToDate: [
          {
            required: true,
            message: '请选择到期日期',
          },
        ],
        contractor: [
          {
            required: true,
            message: '请选择签约人',
          },
        ],
        subordinateDepartmentsId: [
          {
            required: true,
            message: '请选择所属部门',
          },
        ],
      },
      serveScoped: [], // 业务类型
			customOptions: [], // 供应商列表
      relationOptions: [], // 签约抬头列表
      salesRoleOptions: [], // 签约人列表
      departmentOptions: [], // 所属部门列表
      modalParams: {},
    });

    // 供应商名称列表
    const getSupplier = () => {
      let param = {
        relationTypes: '8,9'
      }
      crmApi.supplierName(param).then((res) => {
        console.log(res)
        dataMap.customOptions = res.data
      })
    };
    getSupplier()
    // 获取供应商名称
    const getCustomerName = (v:any) => {
      dataMap.form.businessTypesCode = ''
      dataMap.form.businessTypesName = ''
      dataMap.form.relatedContractNo = ''
      dataMap.form.signUpName = ''
      dataMap.form.signUpId = ''

      dataMap.form.customerName = utils.handleLabelByValue(
        dataMap.customOptions,
        v,
        'enterpriseId',
        'name'
      );
    }
    // 搜索供应商
    const handleCustomerSearch = (name: any) => {
      if (name !== '') {
        let param = {
          relationTypes: '8,9',
          name,
        };
        crmApi.supplierName(param).then((res) => {
          if (res.code == 200) {
            dataMap.customOptions = res.data;
            // 暂时保留  解决远程搜索没有当前数据时
            const hasCurrentCustomer = res.data.some(item=>item.name == dataMap.form.customerName)
            if(!hasCurrentCustomer){
              dataMap.customOptions.unshift(
                {
                  name: dataMap.form.customerName,
                  enterpriseId: dataMap.form.customerId
                }
              )
            }
          }
        });
      }
    };


    // 所属部门
    const getUserDepartment = async (id:any) => {
      dataMap.form.subordinateDepartmentsCname = ''
      dataMap.form.subordinateDepartmentsId = ''
      let data = {
        enterpriseId: '',
        userId: id
      }
      await crmApi.userOrganizationList(data).then((res) => {
        // console.log(res,'bumen----')
        if (res.code == '200') {
          console.log(res.data, 'organizationId:1,organizationName')
          dataMap.departmentOptions = res.data
        }
      })
    }
    const getSubordinateDepartmentsCname = (v:any) => {
      console.log(v)
      dataMap.form.subordinateDepartmentsCname = utils.handleLabelByValue(
        dataMap.departmentOptions,
        v,
        'organizationId',
        'organizationName'
      );
    }

    //签约销售
    const salesRole = () => {
      let params = {
        roleType: 1
      }
      crmApi.salesRole(params).then((res) => {
        dataMap.salesRoleOptions = res.data
      })
    }
    salesRole()
    const getSaleName = (e:any) => {
      dataMap.form.contractor = utils.handleLabelByValue(
        dataMap.salesRoleOptions,
        e,
        'userId',
        'userName'
      )
      getUserDepartment(e)
    }

    // 获取用户信息
    const getUserMessage = () => {
      let userInfo = JSON.parse(localStrategie.getItem('user'))
      console.log(userInfo,'用户信息来了')
      console.log(userInfo.surName,'用户信息来了')
      console.log(userInfo.firstName,'用户信息来了')
      dataMap.form.contractor = userInfo.surName+userInfo.firstName
      dataMap.form.contractorId = userInfo.userId
      getUserDepartment(userInfo.userId)
      // this.userId = userInfo.userId
    }
    

    const checkStandardName = () => {
      let params = {
        id: dataMap.form.id,
        standardProductsName: dataMap.form.standardProductsName,
      };
      dataMap.form.standardProductsName &&
        crmApi.checkStandardName(params).then((res) => {
          if (res.code == '200') {
            dataMap.isNameRepeat = res.data.isRepeat;
          }
        });
    };

    const editClick = () => {
      dataMap.oldForm = {};
      dataMap.oldForm = JSON.parse(JSON.stringify(dataMap.form));
      // dataMap.showCancelBtnFlag++
      emit('update:isEdit', true);
      emit('update:showCancelBtnFlag', 2);
    };

    const handleSubmit = () => {
      formRef.value.validate().then((res: any) => {
        console.log(res);
        if (res == undefined) {
          const params = {
            ...dataMap.form
          }
          console.log(params)

          if (dataMap.form.id) {
            crmApi.editSideAgreementBasic(params).then((res) => {
              if (res.code == '200') {
                // this.formDisabled = true
                // this.hideBtn = false
                // // this.form.id = res.data.id
                // this.$message.success('修改成功')
                Message.success({
                  content: '修改成功'
                })
                emit('update:isEdit',false)
                emit('update:baseData',dataMap.form)
              }
            })
          } else {
            crmApi.addSideAgreement(params).then((res) => {
              // debugger
              console.log(res, '保存---------')
              if (res.code == '200') {
                // this.formDisabled = true
                // this.hideBtn = false
                // this.form.id = res.data.id.toString()
                // this.id = res.data.id.toString()
                // this.$message.success('保存成功')
                dataMap.form.id = res.data.id
                Message.success({
                  content: '保存成功'
                })
                emit('update:id',dataMap.form.id)
                emit('update:baseData',dataMap.form)
                emit('update:isEdit',false)
              }
            })
          }
        } else {
          console.log('error submit!!')
          return false
        }
      })
      // console.log(formRef.value.validate())
    };

    const handleCancel = () => {
      console.log(dataMap.oldForm, 'dataMap.oldForm');
      formRef.value.clearValidate();
      dataMap.form = {};
      dataMap.form = JSON.parse(JSON.stringify(dataMap.oldForm));
      emit('update:isEdit',false)
    };

    defineExpose({
      handleCancel,
      handleSubmit,
    });


    const handleConfirm = (val:any) => {
      console.log(val)
      dataMap.form.businessTypesCode = val.businessTypesCode
      dataMap.form.businessTypesName = val.businessTypesName
      // dataMap.form.contractType = val.contractType
      // dataMap.form.contractTypeCode = val.contractTypeCode
      dataMap.form.relatedContractNo = val.contractNo
      dataMap.form.services = val.services

      dataMap.form.signUpName = val.signUpName
      dataMap.form.signUpId = val.signUpId
      dataMap.form.dueToDate = val.dueToDate
      dataMap.modelVisible = false
    }

    const containerSizeList = () => {
			// 获取流程类型
			crmApi
        .containerSizeList({
          codeTypeCode: 'suppliercontracttype',
        })
        .then((res) => {
					if (res.code == '200') {
						console.log(res,'获取合同类型')
						res.data.map((item:any)=>{
							if(item.codeName == '补充协议/新增报价'){
    
                console.log('123获取合同类型')
								dataMap.form.contractTypeCode = item.codesValues
								dataMap.form.contractType = item.codeName
                console.log(dataMap.form)
							}
						})
					}
        });
    };
    

    watch(
      () => props.baseData,
      (val) => {
        handleCustomerSearch(val.customerName)
        console.log('数据变化了');
        dataMap.form = JSON.parse(JSON.stringify(val));
      },
      { immediate: true, deep: true }
    )

    watch(
      () => dataMap.form,
      (val) => {
        console.log(val);
        dataMap.modalParams = {
          record: JSON.parse(JSON.stringify(val))
        }
      },
      { immediate: true, deep: true }
    );

    watch(
      () => dataMap.id,
      (val) => {
        emit('update:id',val)
      },
      { immediate: true, deep: true }
    );

    onMounted(() => {
      containerSizeList()
      getUserMessage();
    });

    return {
      handleConfirm,
      getCustomerName,
      getSaleName,
      handleCustomerSearch,
      getSubordinateDepartmentsCname,
      ...toRefs(dataMap),
      checkStandardName,
      formRef,
      editClick,
      handleCancel,
      handleSubmit,
    };
  },
});
</script>

<style lang="less" scoped>
.title {
  font-weight: 500;
  font-size: 16px;
  line-height: 28px;
  color: #1d2129;
  margin-bottom: 18px;
  display: flex;
  justify-content: space-between;
}
:deep(.form-wrap .arco-col) {
  margin-bottom: 8px;
}
</style>