<template>
  <a-table :columns="columns" :data="data" :pagination="false">
    <template #signUpDate="{ record }">
      <div>{{ record.signUpDate }} - {{ record.dueToDate }}</div>
    </template>

    <template #operator="{ record }">
      <DwButton type="text" @click="handleConfirm(record)">使用</DwButton>
    </template>
  </a-table>
</template>

<script setup>
import { nextTick, onMounted, ref, watch, reactive } from 'vue';
import { useRouter, useRoute } from 'vue-router';
import { contractManage } from '@/api/contractManage'; //当前页面api
import { crmApi } from '@/api/crmApi';

const emit = defineEmits('handleConfirm');
const props = defineProps({
  modalParams: {
    type: Object,
    default: () => ({}),
  },
});

const router = useRouter();
const route = useRoute();
const columns = [
  {
    title: '合同编号',
    dataIndex: 'contractNo',
  },
  {
    title: '业务类型',
    dataIndex: 'businessTypesName',
  },
  {
    title: '签约抬头',
    dataIndex: 'signUpName',
  },
  {
    title: '有效期',
    dataIndex: 'signUpDate',
    slotName: 'signUpDate',
  },
  {
    title: '提交时间',
    dataIndex: 'submitTime',
  },
  {
    title: '操作',
    slotName: 'operator',
    fixed: 'right',
  },
];

const data = reactive([]);
console.log(data);
onMounted(() => {
  console.log('first', props);
  crmApi
    .supplierContractList({ customerId: props.modalParams.record.customerId })
    .then((res) => {
      console.log(data);
      data.length = 0;
      console.log(data);
      data.push.apply(data, res.data);
      console.log(data);
    });
});
const handleConfirm = (record) => {
  console.log(record, 'record选择合同');
  emit('handleConfirm', record);
};
//#endregion
</script>
