<template>
  <div class="navbar">
    <div class="left-side">
      <a-space>
        <img alt="logo" :src="logo" />
      </a-space>
    </div>

    <div class="center-side">
      <m-menu />
    </div>
    <ul class="right-side">
      <!-- <li>
        <a-tooltip :content="$t('settings.search')">
          <a-button class="nav-btn" type="outline" :shape="'circle'">
            <template #icon>
              <icon-search />
            </template>
          </a-button>
        </a-tooltip>
      </li>
      <li>
        <a-tooltip :content="$t('settings.language')">
          <a-button
            class="nav-btn"
            type="outline"
            :shape="'circle'"
            @click="setDropDownVisible"
          >
            <template #icon>
              <icon-language />
            </template>
          </a-button>
        </a-tooltip>
        <a-dropdown trigger="click" @select="changeLocale as any">
          <div ref="triggerBtn" class="trigger-btn"></div>
          <template #content>
            <a-doption
              v-for="item in locales"
              :key="item.value"
              :value="item.value"
            >
              {{ item.label }}
            </a-doption>
          </template>
        </a-dropdown>
      </li>
      <li>
        <a-tooltip
          :content="
            theme === 'light'
              ? $t('settings.navbar.theme.toDark')
              : $t('settings.navbar.theme.toLight')
          "
        >
          <a-button
            class="nav-btn"
            type="outline"
            :shape="'circle'"
            @click="handleToggleTheme"
          >
            <template #icon>
              <icon-moon-fill v-if="theme === 'dark'" />
              <icon-sun-fill v-else />
            </template>
          </a-button>
        </a-tooltip>
      </li>
      <li>
        <a-tooltip :content="$t('settings.navbar.alerts')">
          <div class="message-box-trigger">
            <a-badge :count="9" dot>
              <a-button
                class="nav-btn"
                type="outline"
                :shape="'circle'"
                @click="setPopoverVisible"
              >
                <icon-notification />
              </a-button>
            </a-badge>
          </div>
        </a-tooltip>
        <a-popover
          trigger="click"
          :arrow-style="{ display: 'none' }"
          :content-style="{ padding: 0, minWidth: '400px' }"
          content-class="message-popover"
        >
          <div ref="refBtn" class="ref-btn"></div>
          <template #content>
            <message-box />
          </template>
        </a-popover>
      </li>
      <li>
        <a-tooltip
          :content="
            isFullscreen
              ? $t('settings.navbar.screen.toExit')
              : $t('settings.navbar.screen.toFull')
          "
        >
          <a-button
            class="nav-btn"
            type="outline"
            :shape="'circle'"
            @click="toggleFullScreen"
          >
            <template #icon>
              <icon-fullscreen-exit v-if="isFullscreen" />
              <icon-fullscreen v-else />
            </template>
          </a-button>
        </a-tooltip>
      </li>
      <li>
        <a-tooltip :content="$t('settings.title')">
          <a-button
            class="nav-btn"
            type="outline"
            :shape="'circle'"
            @click="setVisible"
          >
            <template #icon>
              <icon-settings />
            </template>
          </a-button>
        </a-tooltip>
      </li> -->
      <li>
        <i class="iconfont icon-Vector icon-box"></i>
      </li>
      <li>
        <i class="iconfont icon-Union icon-box"></i>
      </li>
      <li>
        <i class="iconfont icon-a-bangzhu1 icon-box"></i>
      </li>
      <li>
        <a-dropdown trigger="click">
          <div style="display: flex; cursor: pointer">
            <a-avatar
              :size="32"
              :style="{ marginRight: '8px', cursor: 'pointer' }"
            >
              <img alt="avatar" :src="avatar" />
            </a-avatar>
            <div
              style="
                display: flex;
                flex-direction: column;
                font-size: 12px;
                align-items: center;
              "
              class="name-box"
            >
              <div style="padding-bottom: 6px"> {{ userName }}</div>
              <div> {{ companyName }}</div>
            </div>
          </div>
          <template #content>
            <!-- <a-doption>
         
              <a-space @click="loginUserCenter('/dashboard')">
                <icon-tag />
                <span>
                  {{ $t('messageBox.switchRoles') }}
                </span>
              </a-space>
            </a-doption> -->
            <a-doption>
              <!-- <a-space @click="$router.push({ name: 'Info' })">
                <icon-user />
                <span>
                  {{ $t('messageBox.userCenter') }}
                </span>
              </a-space> -->
              <a-space @click="loginUserCenter('/personal')">
                <icon-user />
                <span>
                  {{ $t('messageBox.userCenter') }}
                </span>
              </a-space>
            </a-doption>
            <a-doption>
              <!-- <a-space @click="$router.push({ name: 'Setting' })">
                <icon-settings />
                <span>
                  {{ $t('messageBox.userSettings') }}
                </span>
              </a-space> -->
              <a-space @click="loginUserCenter('/enterprisesSetting')">
                <icon-settings />
                <span>
                  企业设置
                </span>
              </a-space>
            </a-doption>
            <a-doption>
              <a-space @click="handleLogout">
                <icon-export />
                <span> 退出登录 </span>
              </a-space>
            </a-doption>
          </template>
        </a-dropdown>
      </li>
    </ul>
  </div>
</template>

<script lang="ts" setup>
import { computed, ref } from 'vue';
// import { Message } from '@arco-design/web-vue';
import { useDark, useToggle, useFullscreen } from '@vueuse/core';
import { useAppStore, useTentantStore, useUserStore } from '@/store';
import { LOCALE_OPTIONS } from '@/locale';
import useLocale from '@/hooks/locale';
import useUser from '@/hooks/user';
import MessageBox from '../message-box/index.vue';
import { DEFAULT_AVATAR, DEFAULT_LOGO } from '@/constant';
import MMenu from '../menu/menu.vue';
import { iframeDomin } from '@/utils';
import { localStorage } from '@/utils/Storage';
import { useTabBarStore } from '@/store';
import { getToken } from '@/utils';

const appStore = useAppStore();
const userStore = useUserStore();
const useTentant = useTentantStore();
const { logout } = useUser();
const { changeLocale } = useLocale();
const { isFullscreen, toggle: toggleFullScreen } = useFullscreen();
const locales = [...LOCALE_OPTIONS];

const logo = computed(() => {
  //  后端暂时没配置正确的logo
  return useTentant.tenantLogo
  // return DEFAULT_LOGO;
});
const avatar = computed(() => {
  return userStore.headPortrait || DEFAULT_AVATAR;
});
const userName = computed(() => {
  return userStore.userName;
});
const refBtn = ref();
const triggerBtn = ref();
const setPopoverVisible = () => {
  const event = new MouseEvent('click', {
    view: window,
    bubbles: true,
    cancelable: true,
  });
  refBtn.value.dispatchEvent(event);
};
const setDropDownVisible = () => {
  const event = new MouseEvent('click', {
    view: window,
    bubbles: true,
    cancelable: true,
  });
};
const companyName = computed(() => {
  return userStore.optEnterpriseName;
});
const theme = computed(() => {
  return appStore.theme;
});
const isDark = useDark({
  selector: 'body',
  attribute: 'arco-theme',
  valueDark: 'dark',
  valueLight: 'light',
  storageKey: 'arco-theme',
  onChanged(dark: boolean) {
    // overridden default behavior
    appStore.toggleTheme(dark);
  },
});
const toggleTheme = useToggle(isDark);
const handleToggleTheme = () => {
  toggleTheme();
};
const setVisible = () => {
  appStore.updateSettings({ globalSettings: true });
};
const handleLogout = () => {
  useTabBarStore().setFirstTabList();
  useTabBarStore().getTabList; //设置tag 默认
  sessionStorage.clear();
  logout();
  const event = new MouseEvent('click', {
    view: window,
    bubbles: true,
    cancelable: true,
  });
  // triggerBtn.value.dispatchEvent(event);
};
const switchRoles = async () => {
  // const res = await userStore.switchRoles();
  // Message.success(res as string);
};
// const toggleDrawerMenu = inject('toggleDrawerMenu');
const loginUserCenter = (path = '/') => {
  const encodeURIStr = encodeURIComponent(
    `applicationType=${
      useTentant.applicationType
    }&&path=${path}&&accessToken=${getToken()}&&origin=${window.location.origin}`
  );
  //本地调试
  // window.open(`http://localhost:1024/loginOutSide?${encodeURIStr}`);
  // 线上
  window.open(`${iframeDomin()}/loginOutSide?${encodeURIStr}`);
};
</script>

<style scoped lang="less">
@logo-width: 44px;

.navbar {
  display: flex;
  justify-content: space-between;
  height: 100%;
  background-color: var(--color-bg-2);
  border-bottom: 1px solid var(--color-border);
  background: #1b193c;
  color: #fff;
}

.left-side {
  display: flex;
  align-items: center;
  padding-left: 16px;
  img {
    width: @logo-width;
  }
}
.center-side {
  flex: 1;
  margin-left: 50px;
  overflow: hidden;
}
.right-side {
  display: flex;
  padding-right: 20px;
  list-style: none;
  :deep(.locale-select) {
    border-radius: 20px;
  }
  li {
    display: flex;
    align-items: center;
    padding: 0 10px;
  }

  a {
    color: var(--color-text-1);
    text-decoration: none;
  }
  .nav-btn {
    border-color: rgb(var(--gray-2));
    color: var(--color-white);
    font-size: 16px;
  }
  .trigger-btn,
  .ref-btn {
    position: absolute;
    bottom: 14px;
  }
  .trigger-btn {
    margin-left: 14px;
  }
}
.name-box:hover {
  color: rgb(var(--link-6));
}
.icon-box {
  font-size: 16px;
  &:hover {
    color: rgb(var(--link-6));
  }
}
</style>

<style lang="less">
.message-popover {
  .arco-popover-content {
    margin-top: 0;
  }
}
</style>
