<template>
  <div class="add-contaniner">
    <button-area>
      <template #left>
        <h3 style="font-weight: 500; font-size: 20px; margin: 0; padding: 0">
          新增/编辑标准产品
        </h3>
      </template>
    </button-area>

    <div class="add-contaniner-wrap">
      <div class="add-all">
        <!-- 基本信息 -->
        <base-form
          v-model:isEdit="isEdit"
          :isCheck="isCheck"
          v-model:baseData="baseData"
          v-model:showCancelBtnFlag="showCancelBtnFlag"
          ref="baseFormRef"
          @clearCost="getClearCost"
        ></base-form>
        <div style="height: 20px;"></div>

        <!-- 费用范围 -->
        <cost-item
          :selectedLump="selectedLump"
          :selectedNoLump="selectedNoLump"
          v-model:selectedLumpData="selectedLumpData"
          v-model:selectedNoLumpData="selectedNoLumpData"
          v-if="!isEdit"
        ></cost-item>
        <div style="height: 20px;"></div>
        <!-- 成本核算表 -->
        <cost-table
          :baseData="baseData"
          v-model:costItemData="selectedLumpData"
          v-model:computedSummery="computedSummery"
          v-model:standardProductsQuoteSummary="standardProductsQuoteSummary"
          @getStandardProductsQuoteVOs="getStandardProductsQuoteVOs"
          @getSummary="getSummary"
          v-if="!isEdit"
        >
          
        </cost-table>
      </div>
    </div>

    <!-- 底部操作按钮 -->
    <div class="bottomButton" v-if="!isEdit &&!isCheck">
      <a-button
          type="secondary"
          size="small"
          style="margin-right: 12px"
          @click="closePage"
        >
          关闭
        </a-button>
      <a-button type="primary" size="small" @click="submitClick"> 提交 </a-button>
    </div>
</div>
</template>

<script lang="ts">
import {
  defineComponent,
  onMounted,
  PropType,
  reactive,
  toRefs,
  watch,
  ref,
  computed,
  onUnmounted,
  nextTick,
} from 'vue';
import { crmApi } from '@/api';
import { useRoute, useRouter } from 'vue-router';
import { Modal, Message } from '@arco-design/web-vue';
import { useTabBarStore } from '@/store';
import BaseForm from './components/BaseForm.vue';
import CostItem from './components/costItem.vue';
import CostTable from './components/costTable.vue';
import commonApi from '@/utils/commonApi/index';

export default defineComponent({
  name: 'standardProductAdd',
  components: {
    BaseForm,
    CostItem,
    CostTable,
  },
  setup(props, { attrs, emit, slots }) {
    const route = useRoute();
    const router = useRouter()
    const query = route.query;
    const baseFormRef = ref([]);
    const dataMap = reactive({
      authorityBtn:[],
      showCancelBtnFlag: 0,
      isEdit: true,
      isCheck:false,
      baseData: {},
      timer: null,
      popupVisible: false,
      searchword: '',
      selectedLump: [],
      selectedNoLump: [],
      selectedLumpData: [],
      selectedNoLumpData: [],
      standardProductsQuoteVOs: [] as any [],
      standardProductsQuoteSummary: [] as any [],
      computedSummery: [] as any []
    });

    const getStandardProductsQuoteVOs = (val:any) => {
      console.log(val,'获取的是什么东西')
      dataMap.standardProductsQuoteVOs = val
    }

    const getProductsDetail = () => {
      crmApi
        .productsDetail({
          id: query.id,
        })
        .then((res) => {
          if (res.code == '200') {
            console.log(res.data, 'res.datas');
            // dataMap.getHarbour(res.data.goodsName);
            let formContainerType = [];
            if (res.data.containerType instanceof Array) {
              formContainerType = res.data.containerType;
            } else {
              formContainerType = res.data.containerType.split(',')
            }
            let bjStandardProductsName = '';
            if (query.type == 'copy') {
              bjStandardProductsName = '';
            } else {
              bjStandardProductsName = res.data.standardProductsName;
            }

            dataMap.baseData = {
              id: query.id,
              businessTypesCode: res.data.businessTypesCode,
              businessTypesName: res.data.businessTypesName,
              packingTypeCode: res.data.packingTypeCode,
              packingTypeName: res.data.packingTypeName,
              goodsName: res.data.goodsName,
              standardProductsName: bjStandardProductsName,
              categoryNames: res.data.categoryNames,
              portCname: res.data.portCname,
              portAreaCname: res.data.portAreaCname,
              containerSize: res.data.containerSize,
              containerType: formContainerType,
              remark: res.data.remark,
              portId: res.data.portId,
              portCode: res.data.portCode,
              portEname: res.data.portEname,
              validityDate: [res.data.validityStartDate,res.data.validityEndDate],
              validityStartDate: res.data.validityStartDate,
              validityEndDate: res.data.validityEndDate,
            };

            // dataMap.addCostData = res.data.standardProductsCostItemVOs;
            dataMap.selectedLumpData = []
            dataMap.selectedLump = []
            dataMap.selectedNoLumpData = []
            dataMap.selectedNoLump = []
            res.data.standardProductsCostItemVOs.forEach((item:any) => {
              console.log(item,'227hahahah')
              if (item.isLumpSum) {
                // 包干费用
                dataMap.selectedLumpData.push(item)
                dataMap.selectedLump.push(item.costItemCode)
              } else {
                // 非包干费用
                dataMap.selectedNoLumpData.push(item)
                dataMap.selectedNoLump.push(item.costItemCode)
              }
            });
            console.log(dataMap.selectedLumpData,'=======1231=======')
            // return
            dataMap.standardProductsQuoteVOs = JSON.parse(JSON.stringify(res.data.standardProductsQuoteVOs))
            // dataMap.standardProductsQuoteSummary = JSON.parse(JSON.stringify(res.data.standardProductsQuoteVOs))
            dataMap.computedSummery = JSON.parse(JSON.stringify(res.data.standardProductsQuoteVOs))

            // res.data.standardProductsQuoteVOs.map((item) => {
            //   this.offer.push({
            //     costAmount: item.costAmount,
            //     quotation: item.quotation, //报价（柜/票）
            //     forecastProfits: item.forecastProfits, //预估利润
            //     proportion: item.proportion, //毛利率(%)
            //     currency: 'CNY',
            //     arkNumber: item.arkNumber,
            //   });
            // });

            // this.standardProductsQuoteSummary.push({
            //   arkNumberStart: 1,
            //   arkNumberEnd: 1,
            //   quotation: pre,
            // // });
            // res.data.standardProductsQuoteVOs.map((item, index) => {
            //   // console.log(item,index)
            //   let endNum = item.arkNumber;
            //   let len = this.standardProductsQuoteSummary.length - 1;
            //   if (item.quotation == pre) {
            //     let newItem = {
            //       arkNumberStart:
            //         this.standardProductsQuoteSummary[len].arkNumberStart,
            //       arkNumberEnd: endNum,
            //       quotation: item.quotation,
            //     };
            //     this.$set(this.standardProductsQuoteSummary, len, newItem);
            //   } else {
            //     pre = item.quotation;
            //     let newIndex = parseInt(index) + 1;
            //     this.standardProductsQuoteSummary.push({
            //       arkNumberStart: newIndex,
            //       arkNumberEnd: newIndex,
            //       quotation: item.quotation,
            //     });
            //   }
            // });
            // // console.log(this.standardProductsQuoteSummary)
          }
        });
    };

    // 获取默认基础费用项
    const getSelectList = () => {
      crmApi.costSelectList({packingType: 1}).then((res) => {
        console.log(res,'ressssssssssss');
        if (res.code == '200') {
          dataMap.selectedLumpData = []
          const codes1 = res.data.map((v:any) => {
            let newItem = {
              costItemCode: v.feeCode, // 费用项编码	
              costItemCname: v.feeName, //	费用项中文名称
              isLumpSum: 1, // 是否包干: 0-否 1-是	
              isLock: 1, // 是否锁定: 0-否 1-是
            }
            if (v.lumpSumFee) {
              dataMap.selectedLumpData.push(newItem)
              return v.feeCode;
            }
          });
          console.log('dataMap.selectedLumpDatadataMap.selectedLumpData.....', dataMap.selectedLumpData);
          // dataMap.selectedLump
          dataMap.selectedLump = codes1.filter((item:any)=>item !== undefined)
          console.log('codes1.....', dataMap.selectedLump);
          // this.$nextTick().then(() => {
          //   this.$refs.tree.setCheckedKeys(codes1);
          // });

          dataMap.selectedNoLumpData = []
          const codes2 = res.data.map((v:any) => {
            let newItem = {
              costItemCode: v.feeCode, // 费用项编码	
              costItemCname: v.feeName, //	费用项中文名称
              isLumpSum: 0, // 是否包干: 0-否 1-是	
              isLock: 1, // 是否锁定: 0-否 1-是
            }
            if (!v.lumpSumFee) {
              dataMap.selectedNoLumpData.push(newItem)
              return v.feeCode;
            }
          });
          dataMap.selectedNoLump = codes2.filter((item:any)=>item !== undefined)
          console.log('codes1222222.....', dataMap.selectedNoLump);
          // this.$nextTick().then(() => {
          //   this.$refs.tree1.setCheckedKeys(codes2);
          // });
        }
      });
    };

    // 提交方法
    const saveAll = () => {
        //  修改
      if (query.id && query.type == 'edit') {
        const params = {
          ...dataMap.baseData, // 基本信息
          validityStartDate: dataMap.baseData.validityDate[0],
          validityEndDate: dataMap.baseData.validityDate[1],
          containerType: dataMap.baseData.containerType.join(','), // 基本信息箱型箱类格式调整
          standardProductsCostItemVOs: [ // 费用项信息
            ...dataMap.selectedLumpData,
            ...dataMap.selectedNoLumpData
          ],
          standardProductsQuoteVOs: dataMap.standardProductsQuoteVOs, // 报价信息
          standardProductsQuoteSummaryDTOS: dataMap.standardProductsQuoteSummary // 报价统计信息
        }
        console.log(dataMap.selectedLumpData)
        console.log(dataMap.selectedNoLumpData)
        // return
        crmApi.productsEdit(params).then((res) => {
          if (res.code == '200') {
            Message.success({
              content: '编辑成功'
            })
            console.log('编辑成功')
            
            // 关闭当前页面
            let tag = route
            let idx
            tagList.value.find((item, index) => {
              if (item.fullPath === route.fullPath) {
                idx = index;
                return true;
              }
            });
            tabBarStore.deleteTag(idx, tag)
            // 打开列表页
            router.push({
              path: '/mos/CRM/standardProduct/index',
            })
          }
        })
      } else {
        // 新增
        // 基本信息
        console.log(dataMap.baseData)
        // 费用项信息
        console.log(dataMap.selectedLumpData)
        console.log(dataMap.selectedNoLumpData)

        // 包干费是否引入成本校验 通过costIds里是否有值来判断
        const isIntroAll = dataMap.selectedLumpData.filter(item=>item.costIds == null || item.costIds == undefined || item.costIds.length == 0)
        console.log(isIntroAll)
        if(isIntroAll.length > 0){
          Message.error({
            content: '核算表中有费用缺失成本，请先引入成本或找成本维护员维护！'
          })
          return
        }
        
        // 基准价格是否填写完整校验
        console.log(dataMap.standardProductsQuoteVOs)
        const isQuotationAll = dataMap.standardProductsQuoteVOs.every(item=>item.quotation > 0)
        console.log(isQuotationAll)
        if(!isQuotationAll){
          Message.error({
            content: '请输入基准价'
          })
          return
        }

        // 报价汇总信息	
        console.log(dataMap.standardProductsQuoteSummary)
        const params = {
          ...dataMap.baseData, // 基本信息
          containerType: dataMap.baseData.containerType.join(','), // 基本信息箱型箱类格式调整
          standardProductsCostItemVOs: [ // 费用项信息
            ...dataMap.selectedLumpData,
            ...dataMap.selectedNoLumpData
          ],
          standardProductsQuoteVOs: dataMap.standardProductsQuoteVOs, // 报价信息
          standardProductsQuoteSummaryDTOS: dataMap.standardProductsQuoteSummary // 报价统计信息
        }
        crmApi.addProducts(params).then((res) => {
          if (res.code == '200') {
            Message.success({
              content: '添加成功'
            })
            // 关闭当前页面
            let tag = route
            let idx
            tagList.value.find((item, index) => {
              if (item.fullPath === route.fullPath) {
                idx = index;
                return true;
              }
            });
            tabBarStore.deleteTag(idx, tag)
            // 打开列表页
            router.push({
              path: '/mos/CRM/standardProduct/index',
            })
          }
        })
      }
    }

    console.log(query, 'queryyyyyyyyyyy');
    if (query.id) {
      getProductsDetail()
      dataMap.isEdit = false;
      console.log(dataMap.isEdit)
    } else {
      getSelectList()
    }

    
    
    // 提交
    const submitClick = () => {
      // 生成标准产品名称
      if(!dataMap.baseData.standardProductsName){
        if(dataMap.baseData.categoryNames && dataMap.baseData.portCname && dataMap.baseData.portAreaCname && dataMap.baseData.containerSize && dataMap.baseData.containerType){
          dataMap.baseData.standardProductsName = dataMap.baseData.categoryNames + 
            '|' + dataMap.baseData.portCname +
            '|' + dataMap.baseData.portAreaCname +
            '|' + dataMap.baseData.containerSize +
            '|' + dataMap.baseData.containerType
        }
      }
      saveAll()
      console.log('提交信息');
    }

    watch(
      () => dataMap.selectedLumpData,
      (val) => {
        console.log(val)
        console.log('啊单独的点点滴滴',val)
        console.log('啊单独的点点滴滴',dataMap.selectedLumpData)
      }
    );

    // watch(
    //   () => dataMap.selectedNoLumpData,
    //   (val) => {
    //     // console.log(val)
    //     // console.log('哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈说',val)
    //   }
    // );
    const getSummary = (val:any) => {
      dataMap.standardProductsQuoteSummary = JSON.parse(JSON.stringify(val))
    }

    // 关闭当前页并返回列表页
    const tabBarStore = useTabBarStore();
    const tagList = computed(() => {
      return tabBarStore.getTabList;
    });
    const closePage = () => {
      Modal.warning({
        simple: true,
        title: '提示',
        content: '是否确认关闭当前页？',
        cancelText: '取消',
        hideCancel: false,
        modalStyle: {
          textAlign: 'center'
        },
        onOk: () => {
          let tag = route
          let idx
          tagList.value.find((item, index) => {
            if (item.fullPath === route.fullPath) {
              idx = index;
              return true;
            }
          });
          tabBarStore.deleteTag(idx, tag)
          router.push({
            path: '/mos/CRM/standardProduct/index',
          })
        }
      })
    }

    const getClearCost = (val:any) => {
      console.log(val,'啊单独的点点滴滴')
      console.log('需要清空引入成本啊单独的点点滴滴')
      console.log(dataMap.selectedLumpData,'啊单独的点点滴滴')
      const newLumpData = dataMap.selectedLumpData.map(item=>{
        const newItem = {
          costItemCname: item.costItemCname,
          costItemCode: item.costItemCode,
          isLock: item.isLock,
          isLumpSum: item.isLumpSum
        }
        return newItem
      })
      dataMap.selectedLumpData = [...newLumpData]

      const newSummary = dataMap.computedSummery.map(item => {
        const newItem = {
          arkNumber: 1,
          costAmount: '',
          currency: 'CNY',
          forecastProfits: '',
          proportion: '',
          quotation: ''
        }
        return newItem
      })
      dataMap.computedSummery = [...newSummary]
      console.log('啊单独的点点滴滴standardProductsQuoteSummary',dataMap.standardProductsQuoteSummary)
      console.log('啊单独的点点滴滴',dataMap.selectedLumpData)
    }
    const getRoleByPage = async () => {
      const data = await commonApi.getRoleByPage('MOS_PAGE_0029');

      dataMap.authorityBtn = data && data.map((item) => {
        return item.functionName
      })
      if (dataMap.authorityBtn.length > 1) {
        if (dataMap.authorityBtn.length == 2) {
          if (dataMap.authorityBtn.includes('查看') && this.authorityBtn.includes('删除')) {
            dataMap.isCheck = true
          } else {
            dataMap.isCheck = false
          }
        } else {
          // 包含三种及以上权限的 操作按钮显示
          if (dataMap.authorityBtn.includes('编辑')) {
            dataMap.isCheck = false
          } else {
            dataMap.isCheck = true
          }
        }
      } else {
        console.log('仅查看')
        if (dataMap.authorityBtn.includes('查看') || dataMap.authorityBtn.includes('删除')) {
          dataMap.isCheck = true
        }
      }

    }
    onMounted(() => {
      getRoleByPage()
    })

    return {
      getRoleByPage,
      ...toRefs(dataMap),
      getStandardProductsQuoteVOs,
      baseFormRef,
      submitClick,
      getSummary,
      closePage,
      getClearCost,
    };
  },
});
</script>

<style lang="less" scoped>
.add-contaniner {
  width: 100vw;
  min-height: calc(~'100vh - 90px');
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  background-color: var(--color-fill-2);
  padding-bottom: 62px;

  .form-box {
    margin: 0 16px 20px 16px;
    padding: 10px 15px;
    // flex: 1;
    background: #fff;

    .input-item1 {
      display: flex;
      justify-content: flex-start;
      flex-wrap: wrap;

      ::v-deep label {
        width: 100%;
      }

      .fukuan {
        color: #1bc5bd;
        float: right;
        cursor: pointer;
      }

      .el-autocomplete {
        width: 100%;
      }

      .el-form-item {
        width: 22%;
        margin-right: 3%;
        margin-bottom: 18px;

        div {
          font-size: 12px;
        }

        &:not(:nth-of-type(3n)) {
          margin-right: 3%;
        }
      }

      .el-select {
        width: 100%;
      }

      ::v-deep.el-checkbox__label {
        font-size: 12px;
      }
    }

    .form-header {
      .header-left {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }

      .info {
        display: flex;
        // justify-content: space-between;
        align-items: center;

        .line {
          width: 3px;
          height: 14px;
          margin-right: 8px;
          background-color: #000;
        }
      }
    }
  }

  .tabel-box {
    margin-top: 10px;
  }
}

.add-contaniner-wrap {
  padding: 20px;
  // .add-all {
  //   // background-color: #fff;
    
  // }
}

.operation {
  display: flex;
  justify-content: space-around;
  align-items: center;

  .introduce {
    color: #1bc5bd;
  }

  .delete {
    color: red;
  }
}
.bottomButton {
  position: fixed;
  display: flex;
  padding: 16px 20px;
  height: 62px;
  left: 0;
  right: 0;
  bottom: 0;
  background: #ffffff;
  box-shadow: 0px -1px 0px #e5e6eb;
  justify-content: flex-end;
  z-index: 1004;
}
</style>
