<template>
  <div class="container">
    <div>
      <button-area>
        <template #left>
          <!-- 搜索 -->
          <search-btn 
            v-model="searchword"
            placeholder="产品名称/销售品名/港区"
          ></search-btn>
          <!-- 自定义筛选 -->
          <filter-btn
            v-model:pageInitFilters="pageInitFilters"
            :viewUserId="viewUserId"
            :viewSystemId="viewSystemId"
            ref="filterRef"
          ></filter-btn>
          <!-- 自定义列 -->
          <custom-column
            v-model:pageInitColumns="pageInitColumns"
            :viewUserId="viewUserId"
            :viewType="viewType"
            :viewSystemId="viewSystemId"
            @submitSuccess="submitSuccess"
          ></custom-column>
          <!-- 导出 -->
          <export-table @click="exportTable"></export-table>
          <!-- 全屏 -->
          <screen-btn></screen-btn>
          <!-- 刷新按钮执行列表初始化 -->
          <sync-btn @click="syncData"></sync-btn>
        </template>
        <template #right>
          <!-- 禁用编辑按钮 -->
          <edit-table :disabled="true"  v-model="isEditDisabled" ></edit-table>
          <a-button 
            type="primary"
            :style="{height: '30px'}"
            @click="addStandardProduct"
            v-if="authorityBtn.includes('新增')" 
          >
            <template #icon>
              <icon-plus />
            </template>
            <span>新增标准产品</span>
          </a-button>
        </template>
      </button-area>
      <!-- {{modalVisible}} -->
      
      <div class="table-wrap">
        <CommonTable
          :url="standardProduct" 
          :viewUserId="viewUserId"
          :viewInfo="viewInfo"
          :searchword="searchword"
          :viewFilterRule="viewFilterRule"
          :columns="columns"
          :syncFlag="syncFlag"
          column-resizable
          :bordered="{cell:true}"
          :operateList="operateList"
          @openFilter="openFilter"
          @getSelectData="getSelectData"
          @paginationWidth="paginationWidth"
          ref="commonTableRef"
        >
       </CommonTable>

      </div>
      
      <tab-view 
        :viewType="viewType"
        :changeViewId="changeViewId"
        @submitViewHandle="submitViewHandle"
        @submitDelete="submitDelete"
        @currentTabViewId="currentTabViewId"
        @chooseFields="chooseFields"
        @viewFilterRuleChange="viewFilterRuleChange"
        @currentTabviewName="currentTabviewName"
        :paginationWidthNum="paginationWidthNum"
        ref="tabViewRef"
      ></tab-view>
          
      <tab-view-modal 
        v-model="modalVisible"
        :title="tabViewModelTitle"
        :defaultActiveKey="defaultActiveKey"
        v-model:modalParams="modalParams"
        @syncTabViewList="syncTabViewList"
      ></tab-view-modal>
      <!--         :viewUserId="tabHandleViewUserId"
        :viewSystemId="viewSystemId"
        :viewName="viewName"
        :viewType="viewType" -->
    </div>
  </div>
</template>

<script lang="ts" setup>
</script>

<script lang="ts">
import {
  defineComponent,
  ref,
  watch,
  reactive,
  h,
  toRefs,
  computed,
  onMounted,
  nextTick,
} from 'vue';
import { useRouter, useRoute } from 'vue-router';
// const route = useRoute();
import commonApi from '@/utils/commonApi/index';
import { standardProduct } from '@/api/base'
import CommonTable from '../components/table.vue'
import { ro } from 'date-fns/locale';
import { Modal, Message } from '@arco-design/web-vue';
import { crmApi } from '@/api';
export default defineComponent({
  name: 'standardProduct', 
  components:{CommonTable},
  setup(props,{emit,slots,attrs}) {
    const router = useRouter();
    const filterRef = ref([])
    const commonTableRef = ref([])
    const tabViewRef = ref<any>(null)
    const dataMap = reactive({
      hasTabData: false,
      selectedData: [], // 表格已选择的数据   用于右侧按钮操作时的数据 
      syncFlag: 0, // 刷新标志
      standardProduct, // 表格请求的地址  不同的列表页  地址会变化
      viewType: '12', // 标准产品12
      viewUserId: '', // 用户视图ID
      changeViewId: '',
      tabHandleViewUserId: '', // 用户视图ID
      viewInfo: {}, // 用户视图ID 系统视图ID
      viewSystemId: '', // 用户视图ID 系统视图ID
      viewFilterRule: '', // 视图筛选项
      initFilters: '', // 保存视图原始筛选项
      columns: [], // 动态表头表头
      initColumns: [], // 保存视图原始表头
      pageInitColumns: [], // 页面自定义列信息
      modalParams: {}, // 视图弹框配置
      pageInitFilters: '',
      filterlist: [],
      customcolumn: {},
      authorityBtn:[],
      operateList: [
        {
          name:'编辑',
          icon:'',
          color: 'rgba(41, 105, 255, 1)',
          // TODO 
          isShow: (record:any) => {
            // TODO
            // 根据record里面的字断判断
            
            return dataMap.authorityBtn.includes('编辑')
            // return true
          },
          callback:(record:any)=>{
            console.log('00000', record)
            router.push({
              name: 'standardProductAdd',
              query: {
                type: 'edit',
                id: record.id,
              },
            });
          }
        },
        {
          name:'复制',
          icon:'',
          color: 'rgba(41, 105, 255, 1)',
          isShow:  (record:any) => {
            // TODO
            // 根据record里面的字断判断
            // console.log(record,'复制---==')
            // authorityBtn.includes('复制')
            
            return dataMap.authorityBtn.includes('复制')
          },
          callback:(record:any)=>{
            // 复制 console.log('first', record)
            // TODO
            const id = record.id.toString()
            router.push({
              name: 'standardProductAdd',
              query: {
                type: 'copy',
                id: record.id,
              },
            });
          }
        },
        {
          name:'删除',
          icon:'',
          color: 'rgba(245, 63, 63, 1)',
          isShow: (record:any) => {
            // TODO
            // 根据record里面的字断判断
            
            return dataMap.authorityBtn.includes('删除')
          },
          callback:(record:any)=>{
            console.log('22222', record)
            // TODO
            // 先弹框确认 再删除

            const id = record.id.toString()
            Modal.confirm({
              title: '提示',
              content: '此操作将永久删除该文件, 是否继续?',
              onBeforeOk: (done) => {
                console.log('删除')
                crmApi.productsDelete({ id }).then((res)=>{
                  if (res.code == '200') {
                    Message.success({
                      content: '删除成功!'
                    })
                    // 刷新列表 TODO
                    dataMap.syncFlag++
                  } else {
                    Message.success({
                      content: '删除失败请重试!'
                    })
                  }
                  done(true)
                })
                
              }
            });
          }
        },

      ],
      searchword: '',
      searchPopupVisible: false,
      isEditDisabled: false, //
      PaginationProps: {
        'size': 'mini',
        'total': 100000,
        'current': 1, //  当前页码
        'show-page-size': true,
        'page-size-options': [10, 20, 30, 40, 50],
        'show-total': true,
        'show-jumper': true
      },
      modalVisible: false, // 控制新增/编辑/复制视图弹窗是否显示
      tabViewModelTitle: '新增视图', // 视图弹窗title
      defaultActiveKey: '1', // 视图默认展示的tab标签 类型string
      paginationWidthNum: 0,
      currentViewName: '',
      viewName: '',
    });
    const exportTable = () => {
      console.log('导出数据');
      // 导出当前搜索条件下的数据
      console.log(commonTableRef.value.params)
    };

    const syncData = () => {
      dataMap.searchword = ''
      dataMap.viewFilterRule = ""
      dataMap.columns = dataMap.initColumns
      dataMap.syncFlag++
    };

    const getRoleByPage = async () => {
      const data = await commonApi.getRoleByPage('MOS_PAGE_0029');
      
      dataMap.authorityBtn = data && data.map((item) => {
          return item.functionName
        }) 
      
    }
  
    const chooseFields = (val:any) => {
      console.log(val)
      console.log('---------表头表头-----------')
      if(val.length > 0){
        dataMap.hasTabData = true
      } else {
        dataMap.hasTabData = false
      }
      // 中间列表 展示列表头  当前展示的 传给公共table的
      dataMap.columns = val
      // 当前视图表头  刷新时设置为dataMap.columns
      dataMap.initColumns = val
      // button区域自定义列  定义表头 - -  脑子可能不太好  整这么多表头
      dataMap.pageInitColumns = val
    }

    const viewFilterRuleChange = (val:any) => {
      console.log(val)
      // 传给公共table 的筛选项
      dataMap.viewFilterRule = val
      // 当前视图筛选项  刷新时设置为dataMap.viewFilterRule
      dataMap.initFilters = val
      // button区域筛选按钮
      dataMap.pageInitFilters = val
    }

    const currentTabViewId = (viewId:object) => {
      console.log('接收到视图id的参数了' ,viewId)
      dataMap.viewUserId = viewId.currentTabViewId
      dataMap.viewInfo = viewId
      dataMap.viewSystemId = viewId.viewSystemId
    }

    const submitViewHandle = (param: any) => {
      console.log('从视图组件传来的参数：', param)
      // return
      // 需要展示视图弹窗
      dataMap.modalVisible = true
      dataMap.tabViewModelTitle = param.title
      dataMap.defaultActiveKey = param.defaultActiveKey
      // 新增视图  编辑视图  复制视图
      // 新增视图 无初始化数据
      // 编辑和复制视图  初始化数据一致
      if(param.title == '新增视图'){
        dataMap.modalParams = {
          initColumns: [],
          initFilters: '',
          ...param
        }
      } else {
        dataMap.modalParams = {
          initColumns: dataMap.initColumns, // 视图原始展示列
          initFilters: dataMap.initFilters,
          ...param
        }
      }
      console.log('dataMap.modalParams:', dataMap.modalParams)
    }

    const openFilter=()=>{
      console.log('需要打开筛选。。。')
      filterRef.value.filterRef.handleClick()
    }
    
    const submitDelete=(id:any) => {
      console.log(id)
      console.log('删除了当前视图  整个页面需要初始化')
    }

    const submitSuccess = (val:any) => {
      console.log(val)
      console.log('')
      console.log(tabViewRef.value,'tabViewRef.value')
      // tabViewRef.value.getTabViewListFn()
      // 重新获取表头
      tabViewRef.value.getColumns(dataMap.viewUserId)
    }

    watch(
      () => dataMap.searchword,
      (newval,oldval) => {
        console.log('来新数据了',newval)
        // 改变页面params
        // 重新请求获取列表数据的接口
        // TODO
        // getList(params)
      },
      { immediate: true,deep: true }
    )

    watch(
      () => dataMap.pageInitFilters,
      (newval,oldval) => {
        console.log('来新数据了',newval)
        dataMap.viewFilterRule = newval
      },
      { immediate: true,deep: true }
    )

    // 多选数据
    const getSelectData = (val:any) => {
      dataMap.selectedData = val
      console.log(val,123)
    }

    const paginationWidth = (val:any) => {
      console.log(val)
      dataMap.paginationWidthNum = val
    }

    const currentTabviewName = (val:any) => {
      console.log(val)
      dataMap.currentViewName = val
    }

    const syncTabViewList = (val:any) => {
      console.log('需要刷新视图列表',val)
      dataMap.changeViewId = val
      tabViewRef.value.getTabViewListFn()
    }

    // modalParams
    watch(
      () => dataMap.modalParams,
      (newval,oldval) => {
        console.log('来新数据了modalParams',newval)
      },
      { immediate: true,deep: true }
    )

    const addStandardProduct = () => {
      router.push({
        name: 'standardProductAdd',
        query: {
          type: 'add',
          // id: '',
        },
      });
    }
    onMounted(()=>{
      getRoleByPage()
    })

    return {
      getRoleByPage,
      commonTableRef,
      exportTable,
      syncData,
      ...toRefs(dataMap),
      // columns,
      // data,
      // PaginationProps,
      chooseFields,
      viewFilterRuleChange,
      currentTabViewId,
      submitViewHandle,
      submitDelete,
      openFilter,
      filterRef,
      getSelectData,
      paginationWidth,
      currentTabviewName,
      submitSuccess,
      tabViewRef,
      syncTabViewList,
      addStandardProduct, // go添加标准产品
    }
    
  },
});
</script>

<style lang="less" scoped>
.container {
  background-color: var(	--color-bg-2);
  // max-width: 100%;
  display: flex;
  height: calc(~"100vh - 93px");
}
.table-wrap{
  width:100%;
  overflow: hidden;
  padding: 0 20px;
  height: calc(~"100% - 70px - 64px");
}
</style>
