<template>
  <!-- 附件 -->
  <div class="title" v-if="showTitle">相关附件</div>
  <!-- 上传 -->
  <!-- 123{{ id }}
  {{fjParams}} -->
  <a-upload
    draggable
    @change="onChange"
    :show-file-list="false"
    multiple
    accept
    :custom-request="customRequest"
  />
  <div class="btnWrap">
    <a-button
      size="small"
      type="outline"
      @click="batchDownloadFile"
      v-if="fjParams.id"
      >批量下载</a-button
    >
    <!-- <a-button
      size="small"
      type="outline"
      @click="addFj"
      style="margin-left: 10px"
      >添加</a-button
    > -->
  </div>
  <a-table
    class="table_wrapper"
    :bordered="{ wrapper: true, cell: true }"
    :columns="columns"
    :data="data"
    :pagination="false"
  >
    <template #operator="{ record, rowIndex }">
      <div v-if="record.isEdit">
        <DwButton
          type="text"
          shape="circle"
          @click="confirmEdit(record, rowIndex)"
        >
          <icon-check />
        </DwButton>

        <DwButton
          type="text"
          shape="circle"
          @click="cancelEdit(record, rowIndex)"
        >
          <icon-close />
        </DwButton>
      </div>
      <div v-else>
        <a-popconfirm
          content="确认删除？"
          position="right"
          @ok="deleteItem(record, rowIndex)"
        >
          <!-- v-if="props.fjParams.source !== 'gyshtxq'" -->
          <DwButton type="text" shape="circle">
            <icon-delete />
          </DwButton>
        </a-popconfirm>
        <DwButton
          type="text"
          shape="circle"
          @click="editItem(record, rowIndex)"
        >
          <icon-edit />
        </DwButton>
      </div>
    </template>

    <template #attachmentTypeCode="{ record }">
      <a-select
        v-model="record.attachmentTypeCode"
        :options="fileTypeList"
        :disabled="!record.isEdit"
        placeholder="请选择"
        :field-names="{ label: 'codeName', value: 'codesValues' }"
      >
      </a-select>
    </template>
    <template #fileName="{ record, rowIndex }">
      <a
        v-if="record.fileName !== ''"
        :href="record.filePath"
        target="_blank"
        >{{ record.fileName }}</a
      >
      <a-upload
        v-else
        @click="updateLoad(record, rowIndex)"
        :show-file-list="false"
        accept
        :custom-request="customRequestUpdate"
        :disabled="!record.isEdit"
      />
    </template>
    <template #remark="{ record }">
      <a-input
        v-model="record.remark"
        :disabled="!record.isEdit"
        placeholder="请输入"
      />
    </template>
  </a-table>
  <DwButton type="text" style="margin: 10px 0 0 -15px" @click="addFj">
    <icon-plus size="mini" />
    新增
  </DwButton>
</template>

<script setup>
import { nextTick, onMounted, ref, watch, reactive } from 'vue';
import { useRouter, useRoute } from 'vue-router';
import { contractManage } from '@/api/contractManage'; //当前页面api
import { crmApi } from '@/api';
import { Message } from '@arco-design/web-vue';
import { cloneDeep } from 'lodash';
const router = useRouter();
const route = useRoute();
const emits = defineEmits(['onUpdate']);
const fileTypeList = ref([]);
//#region 列表操作相关
const confirmEdit = (record, rowIndex) => {
  if (!record.attachmentTypeCode) {
    return Message.error('请选择附件类型');
  }
  if (!record.filePath && !record.remark) {
    return Message.error('附件备注和附件路径必须有一个不为空');
  }
  const contractInfo = fileTypeList.value.find(
    (item) => item.codesValues === record.attachmentTypeCode
  );
  // 修改或者新增
  const url = record.id ? 'updateAttachment' : 'addSupplierAttachment';
  console.log(props);
  contractManage[url]({
    supplierContractsInfoId: props.fjParams.id || props.id || route.query.id, // 供应商合同id TODO
    id: record.id,
    attachmentSource: 1,
    attachmentTypeCode: contractInfo.codesValues,
    attachmentTypeName: contractInfo.codeName,
    fileName: record.fileName,
    filePath: record.filePath,
    remark: record.remark,
  }).then((res) => {
    if (res.code == '200') {
      emits('onUpdate');
      Object.assign(record, res.data);
      record.isEdit = false;
    }
  });
};
const cancelEdit = (record, rowIndex) => {
  if (record.id) {
    // record.isEdit = false;
    let index = editSourceList.value.findIndex((item) => item.id == record.id);
    if (index != -1) {
      let currentRow = editSourceList.value[index];
      for (let k in currentRow) {
        record[k] = currentRow[k];
      }
      record.isEdit = false;
      editSourceList.value.splice(index, 1);
    }
  } else {
    data.splice(rowIndex, 1);
  }
};
const deleteItem = (record, rowIndex) => {
  const contractInfo = fileTypeList.value.find(
    (item) => item.codesValues === record.attachmentTypeCode
  );
  contractManage
    .updateAttachment({
      supplierContractsInfoId: props.fjParams.id || props.id || route.query.id, // 供应商合同id TODO
      id: record.id,
      attachmentSource: 1,
      attachmentTypeCode: contractInfo.codesValues,
      attachmentTypeName: contractInfo.codeName,
      fileName: record.fileName,
      filePath: record.filePath,
      remark: record.remark,
      deleteFlag: 1,
    })
    .then((res) => {
      data.splice(rowIndex, 1);
    });
};
const editSourceList = ref([]); //编辑中数据
const editItem = (record, rowIndex) => {
  editSourceList.value.push(cloneDeep(record));
  record.isEdit = true;
};
//#endregion
const getList = (n) => {
  console.log('buxuyao zhixing==============');
  crmApi.supplierDetail({ id: n }).then((res) => {
    data.length = 0;
    console.log(res.data.attachments);
    data.push.apply(data, res.data.attachments); //表格数据
  });
};
//#region 关于上传
// 添加上传到表格
const addTableColumns = (row) => {
  data.push.call(data, {
    attachmentTypeCode: '',
    fileName: row.fileName,
    filePath: row.url,
    remark: '',
    isEdit: true,
  });
};
// 自定义上传
const customRequest = (option) => {
  contractManage.fileUpload({ file: option.fileItem.file }).then((res) => {
    addTableColumns(res.data);
  });
};
let currentData = ref({});
const updateLoad = (record, rowIndex) => {
  console.log(record);
  console.log(rowIndex);
  currentData = {
    record,
    rowIndex,
  };
};

// 文件更新上传
const customRequestUpdate = (option) => {
  // console.log(option)
  // console.log(record)
  // console.log(rowIndex)
  contractManage.fileUpload({ file: option.fileItem.file }).then((res) => {
    // addTableColumns(res.data);
    console.log(currentData);
    console.log(res.data);
    currentData.record.fileName = res.data.fileName;
    currentData.record.filePath = res.data.url;
  });
};

//#endregion
const columns = [
  {
    title: '',
    slotName: 'operator',
    width: 100,
  },
  {
    title: '附件类型',
    dataIndex: 'attachmentTypeCode',
    slotName: 'attachmentTypeCode',
  },
  {
    title: '文件名',
    dataIndex: 'fileName',
    slotName: 'fileName',
  },
  {
    title: '备注',
    dataIndex: 'remark',
    slotName: 'remark',
  },
  {
    title: '上传人',
    dataIndex: 'uploadUserName',
  },
  {
    title: '上传时间',
    dataIndex: 'createTime',
  },
];

const data = reactive([]);

const props = defineProps({
  id: {
    type: String,
    default: '',
  },
  showTitle: {
    type: Boolean,
    default: true,
  },
  fjParams: {
    type: Object,
    default: {},
  },
  attachments: {
    type: Array,
  },
});

// const emit = defineEmits('submitData');

watch(
  () => data,
  (n) => {
    console.log(n, '附件列表更新了');
    // emit('submitData',n)
  },
  { immediate: true, deep: true }
);

watch(
  () => props.fjParams.id,
  (n) => {
    console.log(n, '根据页面 id去请求接口，拿到数据');
    if (n || route.query.id) {
      // 根据url id去请求接口，拿到数据
      getList(n || route.query.id);
    }
  },
  {
    immediate: true,
    deep: true,
  }
);

watch(
  () => props.fjParams,
  (v) => {
    console.log(v, '进来附件数据了');
  },
  { immediate: true, deep: true }
);

// watch(
//   () => props.attachments,
//   (v)=>{
//     console.log(v,'进来附件数据了')
//     data.push.apply(data,v)
//   },
//   {immediate:true,deep:true,}
// )
const addFj = () => {
  console.log('123');
  console.log(data);
  data.push.call(data, {
    attachmentTypeCode: '',
    fileName: '',
    filePath: '',
    remark: '',
    isEdit: true,
  });
};

const batchDownloadFile = () => {
  let id = route.query.id.toString();
  // let dataParam = new BtnDescription("附件", "批量下载",null,null,'附件');
  // crmApi.sendBuried(dataParam);
  contractManage
    .supplierBatchDownload({ id, paramsType: 'zip' })
    .then((response) => {
      let blob = new Blob([response], { type: 'application/zip' });
      let url = window.URL.createObjectURL(blob);
      const link = document.createElement('a'); // 创建a标签
      link.href = url;
      link.download = '附件';
      link.click();
      URL.revokeObjectURL(url); // 释放内存
    })
    .catch((error) => this.$message.error(error.message));
};

onMounted(() => {
  // 获取附件类型下拉
  contractManage
    .containerSizeList({ codeTypeCode: 'supplieratttype' })
    .then((res) => {
      fileTypeList.value = res.data;
      console.log(fileTypeList.value, '文件类型');
    });
});
</script>

<style lang="less" scoped>
.btnWrap {
  display: flex;
  justify-content: flex-end;
  padding: 15px 0;
}
.title {
  font-weight: 500;
  font-size: 16px;
  line-height: 28px;
  color: #1d2129;
  margin-bottom: 18px;
  display: flex;
  justify-content: space-between;
  padding-top: 35px;
}
// 第一二列样式处理
// .table_wrapper {
//   :deep(thead tr th:nth-child(1).arco-table-th) {
//     border-right: none;
//     padding: 0;
//   }
//   :deep(tr td:nth-child(1)) {
//     border-right: none;
//     padding: 0;
//   }
//   :deep(tr td:nth-child(2) span.arco-table-cell) {
//     padding: 0;
//   }
// }
</style>