<template>
  <!-- 附件 -->
  <a-card
    title="附件"
    :bordered="false"
    style="width: 100%; border: 1px solid var(--color-neutral-3)"
  >
    <!-- 上传 -->
    <a-upload
      draggable
      @change="onChange"
      :show-file-list="false"
      multiple
      accept
      :custom-request="customRequest"
    />
    <div class="btnWrap">
      <a-button
        size="small"
        type="outline"
        @click="batchDownloadFile"
        v-if="fjParams?.source == 'gyshtxq'"
        >批量下载
      </a-button>
      <!-- <a-button size="small" type="outline" @click="addFj" style="margin-left: 10px">添加</a-button> -->
    </div>
    <!-- 列表  :row-selection="{
        type: 'checkbox',
        showCheckedAll: true,
        width: 30,
        fixed: true,
      }"-->
    <a-table
      class="table_wrapper"
      :bordered="{ wrapper: true, cell: true }"
      :columns="columns"
      :data="data"
      :pagination="false"
    >
      <template #operator="{ record, rowIndex }">
        <div v-if="record.isEdit">
          <DwButton
            type="text"
            shape="circle"
            @click="confirmEdit(record, rowIndex)"
          >
            <icon-check />
          </DwButton>

          <DwButton
            type="text"
            shape="circle"
            @click="cancelEdit(record, rowIndex)"
          >
            <icon-close />
          </DwButton>
        </div>
        <div v-else>
          <a-popconfirm
            content="确认删除？"
            position="right"
            @ok="deleteItem(record, rowIndex)"
          >
            <DwButton type="text" shape="circle">
              <icon-delete />
            </DwButton>
          </a-popconfirm>
          <DwButton
            type="text"
            shape="circle"
            @click="editItem(record, rowIndex)"
          >
            <icon-edit />
          </DwButton>
        </div>
      </template>

      <template #attachmentTypeCode="{ record }">
        <a-select
          placeholder="请选择"
          v-model="record.attachmentTypeCode"
          :options="fileTypeList"
          :disabled="!record.isEdit"
          :field-names="{ label: 'codeName', value: 'codesValues' }"
        >
        </a-select>
      </template>
      <!-- <template #fileName="{ record }">
        <a :href="record.filePath" target="_blank">{{ record.fileName }}</a>
      </template> -->
      <template #remark="{ record }">
        <a-input
          placeholder="请输入"
          v-model="record.remark"
          :disabled="!record.isEdit"
        />
      </template>
      <template #fileName="{ record, rowIndex }">
        <a
          v-if="record.fileName !== ''"
          :href="record.filePath"
          target="_blank"
          >{{ record.fileName }}</a
        >
        <a-upload
          v-else
          @click="updateLoad(record, rowIndex)"
          :show-file-list="false"
          accept
          :custom-request="(val) => customRequestUpdate(val, record)"
          :disabled="!record.isEdit"
        />
      </template>
    </a-table>
    <DwButton type="text" style="margin: 10px 0 0 -15px" @click="addFj">
      <icon-plus size="mini" />
      新增
    </DwButton>
  </a-card>
</template>

<script setup>
import { onMounted, ref, watch, reactive } from 'vue';
import { useRoute } from 'vue-router';
import { Message } from '@arco-design/web-vue';
import { contractManage } from '@/api/contractManage'; //当前页面api
import { cloneDeep } from 'lodash';

const route = useRoute();
const emits = defineEmits(['onUpdate']);

const props = defineProps({
  contractInfo: {
    type: Object,
    default: () => ({}),
  },
  fjParams: {
    type: Object,
    default: {},
  },
});

const batchDownloadFile = () => {
  let id = route.query.id.toString();
  // let dataParam = new BtnDescription("附件", "批量下载",null,null,'附件');
  // crmApi.sendBuried(dataParam);
  contractManage
    .supplierBatchDownload({ id, paramsType: 'zip' })
    .then((response) => {
      let blob = new Blob([response], { type: 'application/zip' });
      let url = window.URL.createObjectURL(blob);
      const link = document.createElement('a'); // 创建a标签
      link.href = url;
      link.download = '附件';
      link.click();
      URL.revokeObjectURL(url); // 释放内存
    })
    .catch((error) => this.$message.error(error.message));
};

const addFj = () => {
  data.push.call(data, {
    attachmentTypeCode: '',
    fileName: '',
    filePath: '',
    remark: '',
    isEdit: true,
  });
};

//#region 列表操作相关
const confirmEdit = (record, rowIndex) => {
  const contractInfo = fileTypeList.value.find(
    (item) => item.codesValues === record.attachmentTypeCode
  );
  if (!contractInfo) {
    Message.warning('附件类型不能为空!');
    return;
  }
  // 修改或者新增
  const url = record.id ? 'crmContractInfoUpdataAttachment' : 'addAttachment';
  contractManage[url]({
    id: record.id,
    attachmentSource: 1,
    contractInfoId: route.query.contractInfoId,
    attachmentTypeCode: contractInfo.codesValues,
    attachmentTypeName: contractInfo.codeName,
    fileName: record.fileName,
    filePath: record.filePath,
    remark: record.remark,
  }).then((res) => {
    if (res.data) {
      emits('onUpdate');
      // Object.assign(record, res.data);
    }
    record.isEdit = false;
  });
};
const cancelEdit = (record, rowIndex) => {
  if (record.id) {
    // record.isEdit = false;
    let index = editSourceList.value.findIndex((item) => item.id == record.id);
    if (index != -1) {
      let currentRow = editSourceList.value[index];
      for (let k in currentRow) {
        record[k] = currentRow[k];
      }
      record.isEdit = false;
      editSourceList.value.splice(index, 1);
    }
  } else {
    data.splice(rowIndex, 1);
  }
};
const deleteItem = (record, rowIndex) => {
  const contractInfo = fileTypeList.value.find(
    (item) => item.codesValues === record.attachmentTypeCode
  );
  contractManage
    .crmContractInfoUpdataAttachment({
      id: record.id,
      attachmentSource: 1,
      contractInfoId: route.query.contractInfoId,
      attachmentTypeCode: contractInfo.codesValues,
      attachmentTypeName: contractInfo.codeName,
      fileName: record.fileName,
      filePath: record.filePath,
      remark: record.remark,
      deleteFlag: 1,
    })
    .then((res) => {
      data.splice(rowIndex, 1);
    });
};

const editSourceList = ref([]); //编辑中数据
const editItem = (record, rowIndex) => {
  editSourceList.value.push(cloneDeep(record));
  record.isEdit = true;
};
//#endregion

//#region 关于上传
// 添加上传到表格
const addTableColumns = (row) => {
  data.push.call(data, {
    attachmentTypeCode: '',
    fileName: row.fileName,
    filePath: row.url,
    remark: '',
    isEdit: true,
  });
};
// 自定义上传
const customRequest = (option) => {
  contractManage
    .fileUpload({ file: option.fileItem.file, attachmentSource: 1 })
    .then((res) => {
      addTableColumns(res.data);
    });
};
let currentData = ref({});
const updateLoad = (record, rowIndex) => {
  currentData = {
    record,
    rowIndex,
  };
};
// 行编辑上传
const customRequestUpdate = (option, row) => {
  contractManage
    .fileUpload({ file: option.fileItem.file, attachmentSource: 1 })
    .then((res) => {
      if (res.code == 200) {
        row.fileName = res.data.fileName;
        row.filePath = res.data.url;
      }
    });
};

//#endregion
const columns = [
  {
    title: '',
    slotName: 'operator',
    width: 100,
  },
  {
    title: '附件类型',
    dataIndex: 'attachmentTypeCode',
    slotName: 'attachmentTypeCode',
  },
  {
    title: '文件名',
    dataIndex: 'fileName',
    slotName: 'fileName',
  },
  {
    title: '备注',
    dataIndex: 'remark',
    slotName: 'remark',
  },
  {
    title: '上传人',
    dataIndex: 'createUser',
  },
  {
    title: '上传时间',
    dataIndex: 'createTime',
  },
];

const data = reactive([]);
const fileTypeList = ref([]);

onMounted(() => {
  // 获取附件类型下拉
  contractManage
    .containerSizeList({ codeTypeCode: 'customeratttype' })
    .then((res) => {
      fileTypeList.value = res.data;
    });
});

watch(
  () => props.contractInfo,
  (n) => {
    data.length = 0;
    data.push.apply(
      data,
      n?.contractOfferAttachmentVOList?.filter(
        (item) => item.attachmentSource === 1
      ) || []
    ); //表格数据
  },
  {
    immediate: true,
    deep: true,
  }
);
</script>
<style lang="less" scoped>
:deep(.arco-card-header) {
  border: none;
}
.btnWrap {
  display: flex;
  justify-content: flex-end;
  padding: 15px 0;
}

// 第一二列样式处理
// .table_wrapper {
//   :deep(thead tr th:nth-child(1).arco-table-th) {
//     border-right: none;
//     padding: 0;
//   }
//   :deep(tr td:nth-child(1)) {
//     border-right: none;
//     padding: 0;
//   }
//   :deep(tr td:nth-child(2) span.arco-table-cell) {
//     padding: 0;
//   }
// }
</style>