<template>
  <div class="container">
    <div>
      <button-area>
        <template #left>
          <!-- <filter-btn v-model:pageInitFilters="pageInitFilters" :viewUserId="viewUserId" :viewSystemId="viewSystemId"
            ref="filterRef"></filter-btn> -->
          <filter-bill v-model:filterParams="filterParams" ref="filterRef"></filter-bill>
          <screen-btn></screen-btn>
          <!-- 刷新按钮执行列表初始化 -->
          <sync-btn @click="syncData"></sync-btn>
        </template>
        <template #right>
          <a-space>
            <a-button type="primary">
              <template #icon>
                <icon-plus />
              </template>
              生成账单
            </a-button>
          </a-space>
        </template>
      </button-area>
      <div class="table-wrap">
        table
      </div>
    </div>
  </div>
</template>

<script setup lang="ts">
import {
  defineComponent,
  ref,
  watch,
  reactive,
  h,
  toRefs,
  computed,
  onMounted,
  nextTick,
} from 'vue';
import { Modal, Message } from '@arco-design/web-vue';
import { billTrackApi } from '@/api/billTrack/index';
import router from '@/router';
import FilterBill from './components/filter.vue';
const filterParams = ref({})//筛选条件

watch(() => filterParams.value,
  (newVal) => {
    console.log(newVal)
  }
)

</script>

<style lang="less" scoped>
.container {
  background-color: var(--color-bg-2);
  // max-width: 100%;
  display: flex;
  height: calc(~"100vh - 93px");
}

.table-wrap {
  width: 100%;
  overflow: hidden;
  padding: 0 20px;
  height: calc(~"100vh - 70px - 64px");
  border: 1px solid red;
}
</style>