<template>
  <div class="banner">
    <div class="banner-inner">
      <a-carousel
        class="carousel"
        animation-name="fade"
        :auto-play="true"
        indicator-type="dot"
        show-arrow="hover"
      >
        <a-carousel-item v-for="item in carouselItem" :key="item.slogan">
          <div :key="item.slogan" class="carousel-item">
            <div
              class="carousel-item-content"
              :style="{ color: item.textColor }"
            >
              <div class="carousel-title">{{ item.slogan }}</div>
              <span
                v-for="(sub, i) in item.subSlogan"
                :key="i"
                class="carousel-sub-title"
              >
                {{ sub }}
              </span>
            </div>
            <img class="carousel-image" :src="item.image" />
          </div>
        </a-carousel-item>
      </a-carousel>
    </div>
  </div>
</template>

<script lang="ts" setup>
  import { ref } from 'vue';
  import { useI18n } from 'vue-i18n';

  const { t } = useI18n();
  const subSlogan = ref([
    t('login.banner.subSlogan1'),
    t('login.banner.subSlogan2'),
    t('login.banner.subSlogan3'),
    t('login.banner.subSlogan4'),
  ]);
  const carouselItem = ref([
    {
      slogan: t('login.banner.slogan1'),
      subSlogan,
      image: 'https://front.mayibida.com/zhilian/images/login_1.png',
      textColor: '#fff',
    },
    {
      slogan: t('login.banner.slogan1'),
      subSlogan,
      image: 'https://front.mayibida.com/zhilian/images/login_2.png',
      textColor: '#68442D',
    },
    {
      slogan: t('login.banner.slogan1'),
      subSlogan,
      image: 'https://front.mayibida.com/zhilian/images/login_3.png',
      textColor: '#fff',
    },
  ]);
</script>

<style lang="less" scoped>
  .banner {
    display: flex;
    align-items: center;
    justify-content: center;

    &-inner {
      flex: 1;
      height: 100%;
    }
  }

  .carousel {
    height: 100%;
    position: relative;
    &-item-content {
      position: absolute;
      top: 15%;
      left: 15%;
    }
    &-item {
      height: 100%;
      width: 100%;

      img {
        width: 100%;
        height: 100%;
        margin: 0;
      }
    }

    &-title {
      font-weight: 500;
      font-size: 56px;
    }

    &-sub-title {
      display: inline-block;
      margin-top: 18px;
      margin-right: 20px;
      // color: var(--color-text-3);
      font-size: 32px;
    }

    &-image {
      width: 320px;
      margin-top: 30px;
    }
  }
</style>
