<template>
  <div class="login-form-wrapper">
    <a-form
      ref="registerFormRef"
      :model="registerForm"
      class="login-form"
      layout="vertical"
      @submit="handleSubmit"
    >
      <a-form-item
        field="phone"
        :rules="[{ required: true, message: '请输入用户名/手机号/邮箱' }]"
        :validate-trigger="['change', 'blur']"
        hide-label
      >
        <a-input
          v-model="registerForm.mail"
          @input="() => mail(registerForm.mail)"
          :placeholder="'请输入邮箱'"
        >
          <template #prefix>
            <img
              src="@/assets/images/login/loginname.png"
              class="loginName-icon"
            />
          </template>
        </a-input>
      </a-form-item>
      <a-form-item
        field="picCode"
        :rules="[{ required: true, message: '图形验证码不能为空' }]"
        :validate-trigger="['change', 'blur']"
        hide-label
      >
        <a-input
          @input="() => imgverificationChange(registerForm.picCode)"
          v-model="registerForm.picCode"
          @blur="blur"
          :placeholder="'请输入右侧验证码'"
        >
          <template #prefix>
            <img
              src="@/assets/images/login/verification.png"
              class="loginName-icon"
            />
          </template>
          <template #suffix>
            <img
              :src="registerForm.imagePic"
              class="loginName-img"
              @click="getPicture"
            />
          </template>
        </a-input>
      </a-form-item>
      <a-form-item
        field="mailCode"
        :rules="[{ required: true, message: '验证码不能为空' }]"
        :validate-trigger="['change', 'blur']"
        hide-label
      >
        <a-input
          :disabled="!othersParams.imgCodeAlready"
          v-model="registerForm.mailCode"
          :placeholder="'请输入邮箱验证码'"
          allow-clear
        >
          <template #prefix>
            <img
              src="@/assets/images/login/verification.png"
              class="loginName-icon"
            />
          </template>
          <template #suffix>
            <div
              v-if="!othersParams.imgCodeAlready"
              class="not-click-getverification"
            >
              获取验证码
            </div>
            <div
              @click="getverification"
              v-else-if="
                othersParams.imgCodeAlready && othersParams.waitVerification
              "
              class="getverification"
            >
              获取验证码
            </div>
            <div
              v-else-if="
                othersParams.imgCodeAlready && !othersParams.waitVerification
              "
              class="getverification"
            >
              已发送，{{ othersParams.countdown }}秒后重新获取
            </div>
          </template>
        </a-input>
      </a-form-item>
      <a-form-item
        field="loginPassword"
        :rules="[{ required: true, message: '密码不能为空' }]"
        :validate-trigger="['change', 'blur']"
        hide-label
      >
        <a-input-password
          v-model="registerForm.loginPassword"
          placeholder="请输入密码"
          allow-clear
        >
          <template #prefix>
            <img
              src="@/assets/images/login/verification.png"
              class="loginName-icon"
            />
          </template>
        </a-input-password>
      </a-form-item>

      <a-checkbox v-model="registerForm.agreeTerms"
        >我已阅读并同意<span
          style="color: #1bc5bd; text-decoration: underline"
          @click.stop="privacPolicyShow"
          >隐私条款</span
        ></a-checkbox
      >

      <a-form-item v-if="registerForm.registerStatus == 'normal'">
        <a-button
          class="btn"
          :disabled="registerForm.agreeTerms ? false : true"
          :type="registerForm.agreeTerms ? 'primary' : 'default'"
          :class="registerForm.agreeTerms ? '' : 'bgc'"
          html-type="submit"
          >下一步</a-button
        >
      </a-form-item>
      <a-form-item v-else>
        <a-button
          class="btn"
          :disabled="registerForm.agreeTerms ? false : true"
          :type="registerForm.agreeTerms ? 'primary' : 'default'"
          :class="registerForm.agreeTerms ? '' : 'bgc'"
          html-type="submit"
          >加入企业</a-button
        >
      </a-form-item>
    </a-form>
    <div class="login"
      >已有账号？<span @click="$router.push({ name: 'login' })"
        >点击登录</span
      ></div
    >
    <privac-policy :visible="visible"></privac-policy>
  </div>
</template>
<script lang="ts" setup>
import { reactive, ref, toRefs } from 'vue';
import { useRouter, useRoute } from 'vue-router';
import { Message } from '@arco-design/web-vue';
import { ValidatedError } from '@arco-design/web-vue/es/form/interface';
import { useI18n } from 'vue-i18n';
import { useTentantStore,useRouterStore, useUserStore } from '@/store';
import useLoading from '@/hooks/loading';
import { setToken } from '@/utils/auth';
import type { LoginData } from '@/api';
import { localStorage } from '@/utils/Storage';
import { DEFAULT_LOGIN_PATH } from '@/constant';
import { memberUser } from '@/api/member';
import privacPolicy from './privacPolicy.vue';
const router = useRouter();
const route = useRoute();
const useRouters = useRouterStore()
const { loading, setLoading } = useLoading();
const userStore = useUserStore();
const userTentant = useTentantStore();
const visible = ref(false);
const query = router.currentRoute.value.query; // 路径参数
// 注册参数
const registerFormRef = ref();
//  const privacP=ref(null)
const registerForm = reactive({
  mail: '', //手机号
  picCode: '', //右侧验证码
  imagePic: '',
  text: '',
  agreeTerms: false,
  token: query?.token, // 邀请注册 - token
  mailCode: '', // 手机验证码
  loginPassword: '', // 登录验证码
  registerStatus: 'normal',
  tenantId: userTentant?.tenantId,
});
const nextPath =ref()
nextPath.value=route.query.path||'/'
if (route.query.token) {
  registerForm.registerStatus = 'enterprise';
} else {
  registerForm.registerStatus = 'normal';
}
const othersParams = reactive({
  imgCodeAlready: false,
  waitVerification: true,
  countdown: 60,
  timeIn: null,
});
const mail = (value: String) => {
  var reg_email =
    /^[A-Za-z\d]+([-_.][A-Za-z\d]+)*@([A-Za-z\d]+[-.])+[A-Za-z\d]{2,4}$/;
  if (
    registerForm.picCode.trim().toLowerCase() ==
      registerForm.text.toLowerCase() &&
    registerForm.mail.trim() &&
    reg_email.test(registerForm.mail)
  ) {
    othersParams.imgCodeAlready = true;
  } else {
    othersParams.imgCodeAlready = false;
  }
};
const blur = () => {
  if (
    registerForm.picCode.trim() &&
    registerForm.picCode.trim().toLowerCase() != registerForm.text.toLowerCase()
  ) {
    Message.error('图形验证码错误');
  }
};
const imgverificationChange = (value: String) => {
  var reg_tel = /^1(?:3\d|4[4-9]|5[0-35-9]|6[67]|7[013-8]|8\d|9\d)\d{8}$/;
  if (
    registerForm.picCode.trim().toLowerCase() ==
      registerForm.text.toLowerCase() &&
    registerForm.mail.trim() &&
    reg_tel.test(registerForm.mail)
  ) {
    othersParams.imgCodeAlready = true;
  } else {
    othersParams.imgCodeAlready = false;
  }
  console.log(value, 'registerForm.picCode');
};
//阅读条款
const privacPolicyShow = () => {
  visible.value = true;
};
const getPicture = async () => {
  try {
    const params = { type: registerForm.registerStatus == 'normal' ? 4 : 6 };
    const { data: codePicData } = await memberUser.getCodePic(params);
    registerForm.picCode = '';
    registerForm.text = codePicData.text;
    registerForm.imagePic = codePicData.captcha;
  } catch (err) {
    // you can report use errorHandler or other
  } finally {
  }
};
getPicture();
//获取验证码
const getverification = async () => {
  const params = {
    mail: registerForm.mail.toString(),
    sendPhoneCodeType: registerForm.registerStatus == 'normal' ? 1 : 2,
    verifyCode: registerForm.picCode.toString(),
    verifyCodeType: registerForm.registerStatus == 'normal' ? 3 : 5,
  };
  const { data } = await memberUser.sendSmsCode(params);
  othersParams.waitVerification = false;
  othersParams.timeIn = setInterval(() => {
    othersParams.countdown--;
    if (othersParams.countdown == 0) {
      othersParams.waitVerification = true;
      othersParams.countdown = 60;
      clearInterval(othersParams.timeIn);
    }
  }, 1000);
};
const handleSubmit = async ({
  errors,
  values,
}: {
  errors: Record<string, ValidatedError> | undefined;
  values: Record<string, any>;
}) => {
  if (!errors) {
    setLoading(true);
    try {
      if (
        registerForm.picCode.trim().toLowerCase() !=
        registerForm.text.toLowerCase()
      ) {
        Message.error('图形验证码错误');
        return;
      }
      if (registerForm.registerStatus == 'normal') {
        const { data } = await memberUser.platformMailRegister({
          mail: registerForm.mail,
          picCode: registerForm.picCode,
          mailCode: registerForm.mailCode,
          loginPassword: registerForm.loginPassword,
          token: registerForm.token,
          tenantId: registerForm.tenantId,
        });
        setToken(data.token);
        userStore.setInfo(data);
        const lang = data.language == 0 ? 'zh-CN' : 'en-US';
        localStorage.setStorage('language', lang);
        router.push({
          name: 'gocertification',
          query: {
            userId: data.userId,
            isPlatform: data.isPlatform,
          },
        });
      } else {
        const { data } = await memberUser.enterpriseMailRegister({
          mail: registerForm.mail,
          picCode: registerForm.picCode,
          mailCode: registerForm.mailCode,
          loginPassword: registerForm.loginPassword,
          token: registerForm.token,
          tenantId: registerForm.tenantId,
        });
        setToken(data.token);
        userStore.setInfo(data);
        const lang = data.language == 0 ? 'zh-CN' : 'en-US';
        localStorage.setStorage('language', lang);
        await useRouters.info()
        // localStorage.setItem('ROUTER', routerRef);
        router.push(nextPath.value)
      }
    } catch (err) {
      Message.error(err as string);
    } finally {
      setLoading(false);
    }
  }
};
</script>

<style lang="less" scoped>
.login {
  font-size: 14px;
  width: 320px;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  color: #999;
  span {
    cursor: pointer;
    color: #1bc5bd;
    text-decoration: underline;
  }
}
.login-form {
  .loginName-icon {
    width: 16px;
    height: 16px;
  }
  .loginName-img {
    width: 61px;
    height: 28px;
    cursor: pointer;
  }
  .getverification {
    font-size: 14px;
    color: #1bc5bd;
    margin-right: 5px;
    cursor: pointer;
  }

  .not-click-getverification {
    pointer-events: none;
    color: #999;
    font-size: 14px;
    margin-right: 5px;
  }
  .btn {
    width: 400px;
    height: 40px;
    border: 0;
    border-radius: 5px;
    display: flex;
    color: #fff;

    justify-content: center;
    align-items: center;
  }
  .bgc {
    background-color: #c8c9cc;
  }
  &-sub-title {
    color: var(--color-text-3);
    font-size: 16px;
    line-height: 24px;
  }

  &-error-msg {
    height: 32px;
    color: rgb(var(--red-6));
    line-height: 32px;
  }

  &-password-actions {
    display: flex;
    justify-content: space-between;
  }

  &-register-btn {
    color: var(--color-text-3) !important;
  }
}
</style>
