<template>
    <div class="login-form-wrapper">
        <a-form ref="loginForm" :model="userInfo" class="login-form" layout="vertical" @submit="handleSubmit">
            <a-form-item field="loginName" :rules="[{ required: true, message: '用户名不能为空' }]"
                :validate-trigger="['change', 'blur']" hide-label>
                <a-input v-model="userInfo.loginName" :placeholder="'请输入用户名'">
                    <template #prefix>
                        <icon-user />
                    </template>
                </a-input>
            </a-form-item>
            <a-form-item field="imageCode" :rules="[{ required: true, message: '图形验证码不能为空' }]"
                :validate-trigger="['change', 'blur']" hide-label>
                <a-input v-model="userInfo.imageCode" :placeholder="'请输入图形验证码'"
                    @input="() => imgChange(userInfo.imageCode)">
                    <template #prefix>
                        <icon-lock />
                    </template>
                    <template #suffix>
                        <img :src="userInfo.imagePic" class="loginName-img" @click="getPicture" />
                    </template>
                </a-input>
            </a-form-item>
            <a-form-item field="phoneCode" :rules="[{ required: true, message: '验证码不能为空' }]"
                :validate-trigger="['change', 'blur']" hide-label>
                <a-input v-model="userInfo.phoneCode" :placeholder="'请输入手机验证码'" allow-clear>
                    <template #prefix>
                        <icon-lock />
                    </template>
                    <template #suffix>
                        <div v-if="!othersParams.imgCodeAlready" class="not-click-getverification">
                            获取验证码
                        </div>
                        <div @click="getverification"
                            v-else-if="othersParams.imgCodeAlready && othersParams.waitVerification"
                            class="getverification">
                            获取验证码
                        </div>
                        <div v-else-if="othersParams.imgCodeAlready && !othersParams.waitVerification"
                            class="getverification">
                            已发送，{{ othersParams.countdown }}秒后重新获取
                        </div>
                    </template>
                </a-input>
            </a-form-item>
            <a-space :size="16" direction="vertical">
                <div class="login-form-password-actions">
                    <span></span>
                    <a-link>忘记密码</a-link>
                </div>
                <a-button type="primary" html-type="submit" long :loading="loading">
                    登录
                </a-button>
                <a-button type="text" long class="login-form-register-btn" @click="goRegister">
                    注册
                </a-button>

            </a-space>
        </a-form>
    </div>
</template>

<script lang="ts" setup>
import { reactive, watch, defineProps } from 'vue';
import { useRouter } from 'vue-router';
import { Message } from '@arco-design/web-vue';
import { ValidatedError } from '@arco-design/web-vue/es/form/interface';
import { useI18n } from 'vue-i18n';
import { useTentantStore, useUserStore } from '@/store';
import useLoading from '@/hooks/loading';
import type { LoginData } from '@/api';
import { localStorage } from '@/utils/Storage';
import { DEFAULT_LOGIN_PATH } from '@/constant';
import { memberUser } from '@/api/member';
const props = defineProps({ resetPw: { type: String } })
const router = useRouter();
const { t } = useI18n();
const { loading, setLoading } = useLoading();
const userStore = useUserStore();
const userTentant = useTentantStore()

const query = router.currentRoute.value.query // 路径参数



const { value: loginConfig } = localStorage.setStorage('login-config-code', {
    // rememberPassword: true,
    loginName: '', // 演示默认值
    phoneCode: '',
    imageCode: '',

});
// 登录参数
const userInfo = reactive({
    imagePic: '',
    loginName: loginConfig.loginName,
    imageCode: loginConfig.imageCode,
    imageCode: '',
    phoneCode: loginConfig.phoneCode,
    tenantId: userTentant?.tenantId, // 租户Id
    token: query?.token, // 邀请注册 - token
    type: query?.type, // 邀请注册类型(2103:链接注册，2102：邮箱注册)
});

const othersParams = reactive({
    imgCodeAlready: false,
    waitVerification: true,
    countdown: 60,

})
const getPicture = async () => {
    try {
        const params = { type: "8" }
        const { data: codePicData } = await memberUser.getCodePic(params);
        userInfo.imageCode1 = codePicData.text
        userInfo.imagePic = codePicData.captcha

    } catch (err) {
        // you can report use errorHandler or other
    } finally {

    }
};
getPicture();


// watch(() => props, (nVal, oVal) => {
//     userInfo.imagePic = nVal.resetPw.imagePic
//     userInfo.imageCode= nVal.resetPw.imageCode
// },
//     { immediate: true, deep: true }
// );
const imgChange = (value: String) => {
    if (value == userInfo.imageCode1) {
        othersParams.imgCodeAlready = true;
    }
    console.log(othersParams.imgCodeAlready)

}
const handleSubmit = async ({ errors, values, }: {
    errors: Record<string, ValidatedError> | undefined;
    values: Record<string, any>;
}) => {
    if (!errors) {
        console.log(values, '验证码登录')
        const params = {
            phone: values.loginName,
            phoneVerifyCode: values.phoneCode,
            tenantId: values.tenantId,
            token: "",
            type: "",
            verifyCode: values.imageCode
        }
        setLoading(true);
        try {
            const code = await userStore.loginCode(params as LoginData);
            if (!code) {
                return
            }
            const { redirect, ...othersQuery } = router.currentRoute.value.query;
            router.push({
                name: (redirect as string) || DEFAULT_LOGIN_PATH,
                query: {
                    ...othersQuery,
                },
            });
            Message.success('欢迎使用');
            const { rememberPassword } = loginConfig;
            const { loginName, password } = values;
            // 实际生产环境需要进行加密存储。
            loginConfig.loginName = rememberPassword ? loginName : '';
            loginConfig.password = rememberPassword ? password : '';
        } catch (err) {
            // Message.error(err as string);
        } finally {
            setLoading(false);
        }
    }
};
const goRegister = () => {
    router.push({
        path: '/register',

    });
}
const setRememberPassword = (value: boolean) => {
    loginConfig.rememberPassword = value;
};
const getverification = async () => {
    const params = {
        phone: userInfo.loginName.toString(),
        sendPhoneCodeType: 3,
        verifyCode: userInfo.imageCode.toString(),
        verifyCodeType: 8,
    };
    const { data } = await memberUser.sendSmsCode(params);
    othersParams.waitVerification = false;
    othersParams.timeIn = setInterval(() => {
        othersParams.countdown--;
        if (othersParams.countdown == 0) {
            othersParams.waitVerification = true;
            othersParams.countdown = 60;
            clearInterval(othersParams.timeIn);
        }
    }, 1000);
};
</script>

<style lang="less" scoped>
.login-form {
    &-wrapper {
        width: 100%;
    }

    &-sub-title {
        color: var(--color-text-3);
        font-size: 16px;
        line-height: 24px;
    }

    &-error-msg {
        height: 32px;
        color: rgb(var(--red-6));
        line-height: 32px;
    }

    &-password-actions {
        display: flex;
        justify-content: space-between;
    }

    &-register-btn {
        color: var(--color-text-3) !important;
    }

    .loginName-img {
        width: 61px;
        height: 28px;
        cursor: pointer;

    }

    .getverification {
        font-size: 14px;
        color: var(--color-text-3);
        margin-right: 5px;
        cursor: pointer;
    }

    .not-click-getverification {
        pointer-events: none;
        color: #999;
        font-size: 14px;
        margin-right: 5px;
    }
}
</style>
