<template>
  <div class="login-form-wrapper">
    <a-form
      ref="loginForm"
      :model="userInfo"
      class="login-form"
      layout="vertical"
      @submit="handleSubmit"
    >
      <a-form-item
        field="loginName"
        :rules="[
          { required: true, message: $t('login.form.loginName.errMsg') },
        ]"
        :validate-trigger="['change', 'blur']"
        hide-label
      >
        <a-input v-model="userInfo.loginName" placeholder="用户名">
          <template #prefix>
            <icon-user />
          </template>
        </a-input>
      </a-form-item>
      <a-form-item
        field="password"
        :rules="[{ required: true, message: $t('login.form.password.errMsg') }]"
        :validate-trigger="['change', 'blur']"
        hide-label
      >
        <a-input-password
          v-model="userInfo.password"
          placeholder="密码"
          allow-clear
        >
          <template #prefix>
            <icon-lock />
          </template>
        </a-input-password>
      </a-form-item>
      <a-space :size="16" direction="vertical">
        <div class="login-form-password-actions">
          <a-checkbox
            checked="rememberPassword"
            :model-value="loginConfig.rememberPassword"
            @change="(setRememberPassword as any)"
          >
            {{ $t('login.form.rememberPassword') }}
          </a-checkbox>
          <a-link href="/forgetPassword">{{
            $t('login.form.forgetPassword')
          }}</a-link>
        </div>
        <a-button type="primary" html-type="submit" long :loading="loading">
          登录
        </a-button>
        <a-button
          type="text"
          long
          class="login-form-register-btn"
          @click="$router.push({ name: 'register' })"
        >
          注册
        </a-button>
      </a-space>
    </a-form>
  </div>
</template>

<script lang="ts" setup>
import { reactive } from 'vue';
import { useRouter } from 'vue-router';
import { Message } from '@arco-design/web-vue';
import { ValidatedError } from '@arco-design/web-vue/es/form/interface';
import { useI18n } from 'vue-i18n';
import { useTentantStore, useUserStore } from '@/store';
import useLoading from '@/hooks/loading';
import type { LoginData } from '@/api';
import { localStorage } from '@/utils/Storage';
import { DEFAULT_LOGIN_PATH } from '@/constant';

const router = useRouter();
const { t } = useI18n();
const { loading, setLoading } = useLoading();
const userStore = useUserStore();
const userTentant = useTentantStore();

const { value: loginConfig } = localStorage.setStorage('login-config', {
  rememberPassword: true,
  loginName: '', // 演示默认值
  password: '', // demo default value
});

const query = router.currentRoute.value.query; // 路径参数

// 登录参数
const userInfo = reactive({
  loginName: loginConfig.loginName,
  password: loginConfig.password,
  tenantId: userTentant?.tenantId, // 租户Id
  token: query?.token, // 邀请注册 - token
  type: query?.type, // 邀请注册类型(2103:链接注册，2102：邮箱注册)
});

const handleSubmit = async ({
  errors,
  values,
}: {
  errors: Record<string, ValidatedError> | undefined;
  values: Record<string, any>;
}) => {
  if (!errors) {
    setLoading(true);
    try {
      const code = await userStore.login(values as LoginData);
      if (!code) {
        return;
      }
      const { redirect, ...othersQuery } = router.currentRoute.value.query;
      router.push({
        name: (redirect as string) || DEFAULT_LOGIN_PATH,
        query: {
          ...othersQuery,
        },
      });
      Message.success('欢迎使用');
      const { rememberPassword } = loginConfig;
      const { loginName, password } = values;
      // 实际生产环境需要进行加密存储。
      loginConfig.loginName = rememberPassword ? loginName : '';
      loginConfig.password = rememberPassword ? password : '';
    } catch (err) {
      // Message.error(err as string);
    } finally {
      setLoading(false);
    }
  }
};
const setRememberPassword = (value: boolean) => {
  loginConfig.rememberPassword = value;
};
</script>

<style lang="less" scoped>
.login-form {
  &-wrapper {
    width: 100%;
  }

  &-sub-title {
    color: var(--color-text-3);
    font-size: 16px;
    line-height: 24px;
  }

  &-error-msg {
    height: 32px;
    color: rgb(var(--red-6));
    line-height: 32px;
  }

  &-password-actions {
    display: flex;
    justify-content: space-between;
  }

  &-register-btn {
    color: var(--color-text-3) !important;
  }
}
</style>
