<!-- 外部登录页 -->
<template>
    <div></div>
</template>

<script lang="ts" setup>
import { useRouter } from 'vue-router';
import { useTentantStore, useUserStore } from '@/store';
import { localStorage } from '@/utils/Storage';
import { DEFAULT_LOGIN_PATH } from '@/constant';
import { memberUser } from '@/api';
import { setToken } from '@/utils/auth';

const router = useRouter();
const userStore = useUserStore();
const userTentant = useTentantStore();

const query = router.currentRoute.value.query; // 路径参数
console.log('query', query);

// 获取租户企业信息
const getTenantInfo = async () => {
    if (!userTentant.isTentant) {
        await userTentant.getTenantInfo();
    }
};
// 通过token获取用户信息
const getUserInfoByToken = async () => {
    //   console.log('accessToken',query.token)
    const res: any = await memberUser.getUserInfoByToken({
        accessToken: query.token,
    });
    if (res.data) {
        setToken(query?.token as string);
        userStore.setInfo(res.data);
        localStorage.setStorage('login-config', {
            rememberPassword: true,
            loginName: res.data.loginName,
            password: res.data.password,
        });
        router.push(query?.path as string || DEFAULT_LOGIN_PATH)
    }
};

getTenantInfo();
getUserInfoByToken();
</script>
