<template>
  <a-modal :modelValue="visible" width="900px">
    <div class="content">
      <div class="title">{{Tenant.tenantAbbreviation}}使用声明</div>
      <div class="preface">前言：</div>
      <div class="preface">
        {{Tenant.tenantAbbreviation}}网站（{{Tenant.tenantDomainName}}），隶属{{Tenant.tenantName}}（以下简称
        “{{Tenant.tenantAbbreviation}}网”），{{Tenant.tenantAbbreviation}}网站致力于成为最受推崇的跨境贸易服务平台，推出了跨境贸易服务、供应链金融、仓储服务、运输通关等一系列产品服务。在用户或其委托人与{{Tenant.tenantName}}以及关联公司存在合法有效的相关协议时，依照本协议以下条款注册、登录并同意接受以下服务条款的会员（以下简称
        “用户”），方有资格享受{{Tenant.tenantAbbreviation}}网提供的订单查询服务，并受本协议条款的约束。
      </div>
      <div class="paragraph">
        <div class="second-title">一、网站所有权</div>
        <div class="text">
          1．{{Tenant.tenantAbbreviation}}网提供的网络服务内容括但不限于：文字、软件、声音、图片、录像、图表等。所有这些内容受版权、商标和其它财产所有权法律的保护。
        </div>
        <div class="text">
          2．用户只有在获得{{Tenant.tenantAbbreviation}}网或其他相关权利人的授权之后才能使用这些内容，而不能擅自复制、再造这些内容、或创造与内容有关的派生产品。
        </div>
      </div>
      <div class="paragraph">
        <div class="second-title">二、用户注册</div>
        <div class="text">
          为保障用户的合法权益，避免在服务时因用户注册资料与真实情况不符而发生纠纷，请用户注册时务必按照真实、全面、准确的原则填写。对因用户自身原因造成无法从{{Tenant.tenantAbbreviation}}网享受服务或者服务突然中止或中断的情况，{{Tenant.tenantAbbreviation}}网概不负责。如果用户提供的资料包含有不正确的信息，本网保留终止该用户使用服务资格的权利。
        </div>
        <div class="text">1. 身份证正反面扫描件</div>
        <div class="text">2. 《授权委托书》扫描件</div>
        <div class="text">3. 公司营业执照</div>
        <div class="text">4. 其他可能需要的材料</div>
      </div>
      <div class="paragraph">
        <div class="second-title">三、用户资料的保护</div>
        <div class="text">
          1．对用户注册信息{{Tenant.tenantAbbreviation}}网提供最大限度的安全保障。同时，用户务必对其用户密码、个人帐号等信息保密，以免被盗用或遭篡改。用户如发现上述情况请立即与{{Tenant.tenantAbbreviation}}网联系。
        </div>
        <div class="text">
          2.
          {{Tenant.tenantAbbreviation}}网承诺保护用户资料和信息的安全，包含但不限于用户登录IP，设备，个人信息等，不得将用户的资料或信息泄露或提供给其他任何第三方，但以下情况除外：
        </div>
        <div class="text">（a）事先获得用户的明确授权或同意的；</div>
        <div class="text">（b）已经进入公共领域的信息；</div>
        <div class="text">
          （c）用户注册前，{{Tenant.tenantAbbreviation}}网已经获知的，或者{{Tenant.tenantAbbreviation}}网未违反法律以及双方约定
          而通过正常渠道获知的；
        </div>
        <div class="text">
          （d）基于法院、仲裁机构的裁判或政府机关的要求或法律的规定，需要披露的信息。
        </div>
        <div class="text">
          3.用户在注册并登录{{Tenant.tenantAbbreviation}}网时不得擅自将查询的货物信息予以复制、传播、泄露等方式侵害委托人的权益，否则承担由此给用户委托人或{{Tenant.tenantName}}及其关联公司造成的损失。
        </div>
      </div>
      <div class="paragraph">
        <div class="second-title">四、用户享有的权利和义务</div>
        <div class="text">
          1．用户有权随时对委托人的资料进行查询、修改和删除，但帐号不能随意更改，以防用户账户遭到不安全因素的侵入或影响。
        </div>
        <div class="text">2．用户享有在{{Tenant.tenantAbbreviation}}网所购买的各种服务。</div>
        <div class="text">
          3．{{Tenant.tenantAbbreviation}}网根据实际情况提供如电子邮件、发表评论等的网络服务，同时，{{Tenant.tenantAbbreviation}}网也保留随时变更、中断或终止部分或全部网络服务的权利。
        </div>
        <div class="text">
          4．{{Tenant.tenantAbbreviation}}网在提供网络服务时，可能会对部分网络服务（例如短信服务）的用户收取一定的费用。在此情况下，{{Tenant.tenantAbbreviation}}网会在相关页面上做明确的提示。如用户拒绝支付该等费用，则不享有使用相关网络服务的权利。
        </div>
        <div class="text">
          5．用户理解，{{Tenant.tenantAbbreviation}}网仅提供相关的网络服务，除此之外与相关网络服务有关的设备（如电脑、调制解调器及其他与接入互联网有关的装置）及所需的费用（如为接入互联网而支付的电话费及上网费）均应由用户自行负担。
        </div>
      </div>
      <div class="paragraph">
        <div class="second-title">五、用户管理</div>
        <div class="text">
          用户不得利用{{Tenant.tenantAbbreviation}}网危害国家安全、泄露国家秘密，不得侵犯国家社会集体的和公
          民的合法权益，不得利用{{Tenant.tenantAbbreviation}}网制作、复制和传播下列信息：
        </div>
        <div class="text">1．煽动抗拒、破坏宪法和法律、行政法规实施的；</div>
        <div class="text">2．煽动颠覆国家政权，推翻社会主义制度的；</div>
        <div class="text">3．煽动分裂国家、破坏国家统一的；</div>
        <div class="text">4．煽动民族仇恨、民族歧视，破坏民族团结的；</div>
        <div class="text">5．捏造或者歪曲事实，散布谣言，扰乱社会秩序的；</div>
        <div class="text">
          6．宣扬封建迷信、淫秽、色情、赌博、暴力、凶杀、恐怖、教唆犯罪的；
        </div>
        <div class="text">
          7．公然侮辱他人或者捏造事实诽谤他人的，或者进行其他恶意攻击的；
        </div>
        <div class="text">8．损害国家机关信誉的；</div>
        <div class="text">9．其他违反宪法和法律行政法规的；</div>
        <div class="text">10．进行商业广告行为的。</div>
        <div class="text">
          {{Tenant.tenantAbbreviation}}网声明：用户的系统记录有可能作为用户违反法律或违约的证据。
        </div>
      </div>
      <div class="paragraph">
        <div class="second-title">六、免责声明</div>
        <div class="text">
          1．用户明确同意其使用{{Tenant.tenantAbbreviation}}网网络服务所存在的风险将完全由其自己承担；因
          其使用{{Tenant.tenantAbbreviation}}网网络服务而产生的一切后果也由其自己承担，{{Tenant.tenantAbbreviation}}网对用户不承担任何责任。
        </div>
        <div class="text">
          2．{{Tenant.tenantAbbreviation}}网不担保网络服务一定能满足用户的要求，也不担保网络服务不会中断，对网络服务的及时性、安全性、准确性也都不作担保。
        </div>
      </div>
      <div class="paragraph">
        <div class="second-title">七、服务变更、中断或终止</div>
        <div class="text">
          1．如因系统维护或升级的需要而需暂停网络服务，{{Tenant.tenantAbbreviation}}网将尽可能事先进行通告。
        </div>
        <div class="text">
          2．如发生下列任何一种情形，{{Tenant.tenantAbbreviation}}网有权随时中断或终止向用户提供本协议项下
          的网络服务而无需通知用户：
        </div>
        <div class="text">（a）用户提供的个人资料不真实；</div>
        <div class="text">（b）用户违反本协议中规定的使用规则。</div>
        <div class="text">
          3．除前款所述情形外，{{Tenant.tenantAbbreviation}}网同时保留在不事先通知用户的情况下随时中断或终
          止部分或全部网络服务的权利，对于所有服务的中断或终止而造成的任何损失，{{Tenant.tenantAbbreviation}}网无需对用户或任何第三方承担任何责任。
        </div>
      </div>
      <div class="paragraph">
        <div class="second-title">八、违约赔偿</div>
        <div class="text">
          用户同意保障和维护{{Tenant.tenantAbbreviation}}网及其他用户的利益，如因用户违反有关法律、法规或本协议项下的任何条款而给{{Tenant.tenantAbbreviation}}网或任何其他第三人造成损失，用户同意承担由此造成的损害赔偿责任。
        </div>
      </div>
      <div class="paragraph">
        <div class="second-title">九、修改协议</div>
        <div class="text">
          1．{{Tenant.tenantAbbreviation}}网将可能不时的修改本协议的有关条款，一旦条款内容发生变动，蚂蚁必
          达网将会在相关的页面提示修改内容，并提示用户已做修改动作，{{Tenant.tenantAbbreviation}}网也鼓励用户时时浏览本条款，以保护好自己的权益。如有其它问题请联系我们：邮箱contact@mayibida.com，服务电话：400-888-5656
        </div>
        <div class="text">
          2．如果不同意{{Tenant.tenantAbbreviation}}网对服务条款所做的修改，用户有权停止使用网络服务。如果
          用户继续使用网络服务，则视为用户接受服务条款的变动。
        </div>
      </div>
      <div class="paragraph">
        <div class="second-title">十、法律管辖及其他</div>
        <div class="text">
          1．本协议的订立、执行和解释及争议的解决均应适用中国法律。
        </div>
        <div class="text">
          2．凡因本声明引起的或与本声明有关的任何争议，均应提交上海仲裁委员会按照该会仲裁规则进行仲裁。仲裁裁决是终局的，对双方当事人均有约束力
        </div>
        <div class="text">
          3.本协议项下所有的通知均可通过重要页面公告、电子邮件或常规的信件传送等方式进行，该等通知于发送之日视为已送达用户或收件人。
        </div>
        <div class="text">
          4．如本协议中的任何条款无论因何种原因完全或部分无效或不具有执行力，本协议的其余条款仍应有效并且有约束力。
        </div>
        <div class="text">
          5．本协议中的标题仅为方便而设，在解释本协议时应被忽略。本协议适用中华人民共和国法律，因任何一方出现违反法律的行为而造成协议条款的不能执行，都应由责任方自行负责并补偿由此而给对方造成的损失。
        </div>
        <div class="text">
          5．本协议中的标题仅为方便而设，在解释本协议时应被忽略。本协议适用中华人民共和国法律，因任何一方出现违反法律的行为而造成协议条款的不能执行，都应由责任方自行负责并补偿由此而给对方造成的损失。
        </div>
        <div class="text">6.本协议最终解释权属于{{Tenant.tenantName}}。</div>
        <div class="text">
          您确认已仔细阅读以上条款，并完全接受以上条款的内容。
        </div>
      </div>
    </div>
  </a-modal>
</template>

<script lang="ts" setup>
import { ref } from 'vue';
const props = defineProps({
  visible: {
    type: Boolean,
  },
});
import { useTentantStore} from "@/store";

const Tenant = useTentantStore()
</script>

<style lang="less" scoped>
:deep(.arco-modal) {
  border-radius: 4px;
}
:deep(.arco-modal-footer){
    display: none;
}
.content {
  height: 500px;
  overflow: auto;
  padding: 20px 57px;
  .title {
    color: #333333;
    font-size: 16px;
    text-align: center;
    margin-bottom: 20px;
  }
  .preface {
    font-size: 12px;
    color: #333333;
  }
  .paragraph {
    margin-top: 20px;
    font-size: 14px;
    color: #333333;
  }
}
</style>
