<template>
  <div class="custom_list_content">
    <a-row style="height: 90%">
      <!-- 左侧 -->
      <a-col :span="17">
        <Title>全部字段</Title>
        <div>
          <p
            >类别名称
            <DwButton type="text" @click="checkedAll">{{
              checkboxOptions.length === checkedData.length
                ? '取消全选'
                : '全选'
            }}</DwButton></p
          >
          <a-checkbox-group
            v-model="checkedData"
            :options="checkboxOptions"
            @change="checkboxChange"
          >
            <a-checkbox
              v-for="item in checkboxOptions"
              :key="item.value"
              :value="item.value"
              >Option {{ item.value }}</a-checkbox
            >
          </a-checkbox-group>
        </div>
      </a-col>
      <a-divider direction="vertical" style="height: 100%" />
      <!-- 右侧 -->
      <a-col :span="6">
        <Title>全部字段</Title>
        <a-table
          :columns="columns"
          :data="tableData"
          :bordered="false"
          :show-header="false"
          :pagination="false"
          :draggable="{ type: 'handle', width: 40 }"
          @change="handleTableChange"
        >
          <template #operator="{ record }">
            <a-button @click="removeColumn(record)"><icon-close /></a-button>
          </template>
        </a-table>
      </a-col>
    </a-row>
    <a-divider direction="horizontal" style="width: 100%; margin: 0" />
    <!-- 底部 -->
    <div class="footer_wrapper">
      <DwButton type="secondary" @click="closeTrigger()">取消</DwButton>
      <DwButton type="primary" @click="confirmSave">确定</DwButton>
    </div>
  </div>
</template>

<script>
  import { defineComponent, reactive, ref, watch } from 'vue';
  import DwButton from '../../../base/dwButton/index.vue';
  import Title from './Title.vue';

  export default defineComponent({
    name: 'CustomList',
    inheritAttrs: false,
  });
</script>

<script setup>
  const props = defineProps({
    closeTrigger: {
      type: Function,
    },
  });
  // #region 左侧
  const checkedData = ref([]);
  const checkboxChange = (e, e2) => {
    console.log(e, e2);
  };
  const checkboxOptions = reactive([
    { label: 'option 1', value: '1' },
    { label: 'option 2', value: '2' },
    { label: 'option 3', value: '3' },
  ]);
  // 全选 取消全选
  const checkedAll = () => {
    if (checkboxOptions.length === checkedData.value.length) {
      checkedData.value = [];
      return;
    }
    checkedData.value = checkboxOptions.map((item) => item.value);
  };
  // #endregion

  // #region 右侧表格
  const columns = reactive([
    {
      dataIndex: 'label',
    },
    {
      slotName: 'operator',
    },
  ]);
  const tableData = ref([]);
  const handleTableChange = (_data) => {
    console.log('_data', _data);
    tableData.value = _data;
  };
  const removeColumn = (removeItem) => {
    checkedData.value = checkedData.value.filter(
      (item) => !(item === removeItem.value)
    );
    console.log('item', removeItem);
  };
  // #endregion

  // #region 相关操作函数
  // 监测选项变化
  watch(
    () => checkedData.value,
    (newValue, oldValue) => {
      tableData.value = checkboxOptions.filter((item) =>
        newValue.includes(item.value)
      );
    }
  );
  // 左侧选择添加到右侧
  // const leftSelectToRight = () => {};
  const confirmSave = () => {
    props.closeTrigger();
    console.log(tableData);
  };
  // #endregion
</script>

<style lang="less" scoped>
  .custom_list_content {
    box-sizing: border-box;
    // padding: 0 16px;
    width: 904px;
    height: 617px;
    background: #ffffff;
    border: 1px solid #e5e6eb;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    .footer_wrapper {
      height: 10%;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      & > button {
        margin-right: 12px;
      }
    }
  }
</style>
