<template>
  <div class="search_content">
    <Title>搜索</Title>
    <a-input
      v-bind="attrs"
      v-model="value"
      placeholder="请输入"
      @press-enter="pressEnter"
      allow-clear
    >
      <template #suffix>
        <icon-search />
      </template>
    </a-input>
  </div>
</template>

<script>
import { defineComponent, useAttrs ,ref} from 'vue';
import Title from './Title.vue';

export default defineComponent({
  name: 'Search',
  inheritAttrs: false,
});
</script>

<script setup>
const attrs = useAttrs();
const value = ref('')
const emits = defineEmits(['search'])
const pressEnter = () => { 
  emits('search',value)
 }
</script>

<style lang="less" scoped>
.search_content {
  box-sizing: border-box;
  padding: 0 16px;
  width: 420px;
  height: 96px;
  background: #ffffff;
  border: 1px solid #e5e6eb;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
}
</style>
