<template>
  <div class="search_content">
    <div class="top">
      <Title>设置筛选条件</Title>
      <DwForm :formItem="formItem" v-model:form="form">
        <template
          v-slot:[item.value+index]=""
          v-for="(item, index) in formItem.formItem"
        >
          <a-col :key="index" :span="1">
            <DwButton type="text"  @click="deleteSearch(item,index)" shape="circle">   <icon-close />  </DwButton>
          </a-col>
        </template>
      </DwForm>
    </div>

    <!-- 底部相关 -->
    {{ form }}
    <div class="add_search">
      <DwButton @click="addSearch" type="text"
        ><icon-plus /> 添加筛选条件</DwButton
      >
    </div>

    <a-divider direction="horizontal" style="width: 100%; margin: 0" />
    <!-- 底部 -->
    <div class="footer_wrapper">
      <DwButton type="secondary" @click="closeTrigger()">取消</DwButton>
      <DwButton type="primary" @click="confirmSave">确定</DwButton>
    </div>
  </div>
</template>

<script>
import { cloneDeep } from 'lodash';
import { computed, defineComponent, reactive, ref, useAttrs } from 'vue';
import Title from './Title.vue';

export default defineComponent({
  name: 'SetFilter',
  inheritAttrs: false,
});
</script>

<script setup>
const props = defineProps({
  closeTrigger: {
    type: Function,
  },
});
const attrs = useAttrs();
const templateData = [
  {
    label: '',
    value: '',
    hideLabel: true,
    span: 3,
    itemType: 'select',
    formItemOption: {
      labelColFlex: '0px',
    },
    change:(a,b)=>{
      console.log(a,b)
    },
    list: [
      {
        label: '当',
        value: 1,
      },
      {
        label: '且',
        value: 2,
      },
      {
        label: '或',
        value: 3,
      },
    ],
  },
  {
    label: '',
    value: '',
    span: 6,
    hideLabel: true,
    itemType: 'select',
    formItemOption: {
      labelColFlex: '0px',
    },
    list: [
      {
        label: '当',
        value: 1,
      },
      {
        label: '且',
        value: 2,
      },
      {
        label: '或',
        value: 3,
      },
    ],
  },
  {
    label: '',
    value: '',
    hideLabel: true,
    span: 4,
    itemType: 'select',
    formItemOption: {
      labelColFlex: '0px',
    },
    list: [
      {
        label: '当',
        value: 1,
      },
      {
        label: '且',
        value: 2,
      },
      {
        label: '或',
        value: 3,
      },
    ],
  },
  {
    label: '',
    value: '',
    hideLabel: true,
    span: 9,
    itemType: 'range-picker',
    formItemOption: {
      labelColFlex: '0px',
    },
    list: [
      {
        label: '当',
        value: 1,
      },
      {
        label: '且',
        value: 2,
      },
      {
        label: '或',
        value: 3,
      },
    ],
  },
  {
    label: '',
    hideLabel: true,
    value: '',
    span: 1,
    itemType: 'slot',
    formItemOption: {
      labelColFlex: '0px',
    },
  },
];
const formItem = ref({
  formItem:cloneDeep(templateData),
});

// 添加筛选条件
const addSearch = () => {
  formItem.value.formItem.push(...templateData);
};
// 删除筛选条件
const deleteSearch = (item,index) => { 
   formItem.value.formItem.splice(index-4, 5)
 }
const form = reactive({
  select1: '2',
});
// 确定
const confirmSave = () => {
  props.closeTrigger();
};
</script>

<style lang="less" scoped>
.search_content {
  width: 685px;
  height: 484px;
  box-sizing: border-box;
  background: #ffffff;
  border: 1px solid #e5e6eb;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  .top {
    padding: 0 12px;
    height: 370px;
    overflow-y: scroll;
  }
  .add_search {
    height: 48px;
    line-height: 48px;
  }
  .footer_wrapper {
    height: 10%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    & > button {
      margin-right: 12px;
    }
  }
}
</style>
