<!--
 * @Description:客户合同详情(双方/三方/控货双方/试做)
 * 补充协议--下：报价确认书+附件+审批记录
 * 形式协议--下：附件+审批记录
-->
<template>
  <div class="container" ref="containerRef">
    <PageHeadC title="合同基本信息">
      <template #tip>
        <dw-tag :class="form.signUpNature == 1 ? 'LC9' : 'LC2'">
          <template #word>
            {{ form.signUpNature == 1 ? '新签' : '续签' }}
          </template>
        </dw-tag>
      </template>
      <template #button>
        <a-button type="primary" v-if="form.contractTypeCode !== 'BCXY' && form.contractTypeCode !== 'SZBJ'"
         @click="handlePrint">
          打印
        </a-button>
      </template>
    </PageHeadC>
    <div class="page_content">
      <div class="baseinfo">
        <DescribeList title="基本信息" :data="form" :columns="baseInfoColumn">
          <template #mobilePhone="{ record }">
            {{ record.mobilePhone || record.fixedTelephone }}
          </template>
          <template #contractInfoServiceVOList="{ record }">
            <span v-for="(item, index) in record.contractInfoServiceVOList" :key="item.id.toString()"
              style="{margin-right: '10px'}">
              {{ item.serviceProject }}{{ record.contractInfoServiceVOList.length - 1 === index
                  ? ''
                  : '、'
              }}</span>
          </template>
          <template #controlGoodsList="{ record }">
            <span v-html="record.controlGoodsCnNameText"></span>
          </template>
        </DescribeList>
      </div>
      <div class="tabs_shell">
        <template v-if="form.contractTypeCode != 'XSXY' && form.contractTypeCode != 'BCXY'">
          <a-tabs default-active-key="1" :justify="true">
            <a-tab-pane key="1" title="报价确认书">
              <div class="base_info_pane">
                <a-card :bordered="false" :style="{ width: '100%' }">
                  <a-table :columns="quotationColumns" :data="contractDetails" :pagination="false"
                    :bordered="{ cell: true }" column-resizable>
                    <template #isTransport="{ record }">
                      <p v-if="record.trialDays || record.trialNumber">
                        <span v-if="record.trialDays">{{ record.trialDays }}天</span>
                        <span v-if="record.trialDays && record.trialNumber">,</span>
                        <span v-if="record.trialNumber">{{ record.trialNumber }}次</span>
                      </p>
                      <span v-else>否</span>
                    </template>
                    <template #quotationNo="{ record }">
                      <a-link @click="openDetail(record, 'BJD')">{{ record.quotationNo }}</a-link>
                    </template>
                    <template #operation="{ record }">
                      <a-button v-show="record.packingTypeName == '整箱'" @click="quotationPrint(record, 3)" type="text">打印
                      </a-button>
                    </template>
                  </a-table>
                </a-card>
              </div>
            </a-tab-pane>
            <a-tab-pane key="2" title="补充协议">
              <div class="base_info_pane">
                <a-card :bordered="false" :style="{ width: '100%' }">
                  <a-table :columns="supplementColumns" :data="sideAgreement" :pagination="false"
                    :bordered="{ cell: true }" column-resizable>
                    <template #contractNo="{ record }">
                      <a-link @click="openDetail(record, 'BCXY')">{{ record.contractNo }}</a-link>
                    </template>
                  </a-table>
                </a-card>
              </div>
            </a-tab-pane>
            <a-tab-pane key="3" title="关联付款方">
              <div class="base_info_pane">
                <a-card :bordered="false" :style="{ width: '100%' }">
                  <a-table :columns="payerColumns" :data="payerInformation" :pagination="false"
                    :bordered="{ cell: true }" column-resizable>
                  </a-table>
                </a-card>
              </div>
            </a-tab-pane>
            <a-tab-pane key="4" title="附件">
              <div class="base_info_pane">
                <UploadFile @onUpdate="pageInfo" :showTitle="false" :contractInfo="form"></UploadFile>
              </div>
            </a-tab-pane>
            <a-tab-pane key="5" title="审批记录">
              <div class="base_info_pane">
                <a-card :bordered="false" :style="{ width: '100%' }">
                  <Approve ref="approveRef"></Approve>
                </a-card>
              </div>
            </a-tab-pane>
          </a-tabs>
        </template>
        <template v-if="form.contractTypeCode == 'BCXY'">
          <a-tabs default-active-key="1" :justify="true">
            <a-tab-pane key="1" title="报价确认书">
              <div class="base_info_pane">
                <a-card :bordered="false" :style="{ width: '100%' }">
                  <a-table :columns="quotationColumns" :data="contractDetails" :pagination="false"
                    :bordered="{ cell: true }" column-resizable>
                    <template #isTransport="{ record }">
                      <p v-if="record.trialDays || record.trialNumber">
                        <span v-if="record.trialDays">{{ record.trialDays }}天</span>
                        <span v-if="record.trialDays && record.trialNumber">,</span>
                        <span v-if="record.trialNumber">{{ record.trialNumber }}次</span>
                      </p>
                      <span v-else>否</span>
                    </template>
                    <template #quotationNo="{ record }">
                      <a-link @click="openDetail(record, 'BJD')">{{ record.quotationNo }}</a-link>
                    </template>
                    <template #operation="{ record }">
                      <a-button v-show="record.packingTypeName == '整箱'" @click="quotationPrint(record, 3)" type="text">打印
                      </a-button>
                    </template>
                  </a-table>
                </a-card>
              </div>
            </a-tab-pane>
            <a-tab-pane key="2" title="附件">
              <div class="base_info_pane">
                <UploadFile @onUpdate="pageInfo" :showTitle="false" :contractInfo="form"></UploadFile>
              </div>
            </a-tab-pane>
            <a-tab-pane key="3" title="审批记录">
              <div class="base_info_pane">
                <a-card :bordered="false" :style="{ width: '100%' }">
                  <Approve ref="approveRef"></Approve>
                </a-card>
              </div>
            </a-tab-pane>
          </a-tabs>
        </template>
        <template v-if="form.contractTypeCode == 'XSXY'">
          <a-tabs default-active-key="1" :justify="true">
            <a-tab-pane key="1" title="附件">
              <div class="base_info_pane">
                <UploadFile @onUpdate="pageInfo" :showTitle="false" :contractInfo="form"></UploadFile>
              </div>
            </a-tab-pane>
            <a-tab-pane key="2" title="审批记录">
              <div class="base_info_pane">
                <a-card :bordered="false" :style="{ width: '100%' }">
                  <Approve ref="approveRef" type="customer"></Approve>
                </a-card>
              </div>
            </a-tab-pane>
          </a-tabs>
        </template>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import {
  defineComponent,
  ref,
  reactive,
  nextTick,
  toRefs,
  onMounted,
  computed,
} from 'vue'
import { Message } from '@arco-design/web-vue';
import { useRouter } from 'vue-router';
import router from '@/router';
import { contractDetailApi } from '@/api/contractManage/contractDetail.ts';
import PageHeadC from './components/pageHeadC.vue';
import DescribeList from './components/describeList.vue';
import UploadFile from './components/uploadFile/index.vue';
import Approve from '@/views/CRM/components/approve.vue'
export default defineComponent({
  name: 'detail',
  components: { PageHeadC, DescribeList, UploadFile, Approve },
  setup() {
    const route = useRouter().currentRoute.value
    const approveRef = ref(null)
    const dataMap = reactive({
      form: {}, //基本信息数据
      contractDetails: [],//报价确认书列表
      sideAgreement: [],//补充协议列表
      payerInformation: [],//关联付款方列表
      baseInfoColumn: [],
    })
    const infoColumn1 = [//基本信息（双方/三方/控货双方/试做）
      {
        title: '申请单号',
        dataIndex: 'applicationNo'
      },
      {
        title: '合同编号',
        dataIndex: 'contractNo'
      },
      {
        title: '客户名称',
        dataIndex: 'customerName'
      },
      {
        title: '业务类型',
        dataIndex: 'businessTypesName'
      },
      {
        title: '适用品名范围',
        dataIndex: 'goodsName'
      },
      {
        title: '合同类型',
        dataIndex: 'contractType'
      },
      {
        title: '签约抬头',
        dataIndex: 'signUpName'
      },
      {
        title: '签约日期',
        dataIndex: 'signUpDate'
      },
      {
        title: '到期日期',
        dataIndex: 'dueToDate'
      },
      {
        title: '控货方',
        dataIndex: 'controlGoodsList',
        slotName: 'controlGoodsList'
      },
      {
        title: '签约销售',
        dataIndex: 'signSalesman'
      },
      {
        title: '营销部门',
        dataIndex: 'marketingDepartmentCname'
      },
      {
        title: '服务项目',
        dataIndex: 'contractInfoServiceVOList',
        slotName: 'contractInfoServiceVOList'
      },
      {
        title: '联系人',
        dataIndex: 'contact'
      },
      {
        title: '联系人职务',
        dataIndex: 'contactPosition'
      },
      {
        title: '地址',
        dataIndex: 'contactAddress'
      },
      {
        title: '联系方式',
        dataIndex: 'mobilePhone',
        slotName: 'mobilePhone',
      },
      {
        title: '备注',
        dataIndex: 'remark'
      },
    ]
    const infoColumn2 = [//基本信息（补充协议）
      {
        title: '申请单号',
        dataIndex: 'applicationNo'
      },
      {
        title: '合同编号',
        dataIndex: 'contractNo'
      },
      {
        title: '客户名称',
        dataIndex: 'customerName'
      },
      {
        title: '关联合同编号',
        dataIndex: 'relatedContractNo'
      },
      {
        title: '关联合同类型',
        dataIndex: 'relatedContractType'
      },
      {
        title: '业务类型',
        dataIndex: 'businessTypesName'
      },
      {
        title: '适用品名范围',
        dataIndex: 'goodsName'
      },
      {
        title: '签约抬头',
        dataIndex: 'signUpName'
      },
      {
        title: '签约日期',
        dataIndex: 'signUpDate'
      },
      {
        title: '到期日期',
        dataIndex: 'dueToDate'
      },
      {
        title: '签约销售',
        dataIndex: 'signSalesman'
      },
      {
        title: '营销部门',
        dataIndex: 'marketingDepartmentCname'
      },
      {
        title: '备注',
        dataIndex: 'remark'
      },
    ]
    const infoColumn3 = [//基本信息（形式协议）
      {
        title: '申请单号',
        dataIndex: 'applicationNo'
      },
      {
        title: '合同编号',
        dataIndex: 'contractNo'
      },
      {
        title: '客户名称',
        dataIndex: 'customerName'
      },
      {
        title: '关联客户名称',
        dataIndex: 'relatedCustomerName'
      },
      {
        title: '关联合同编号',
        dataIndex: 'relatedContractNo'
      },
      {
        title: '签约抬头',
        dataIndex: 'signUpName'
      },
      {
        title: '签约日期',
        dataIndex: 'signUpDate'
      },
      {
        title: '到期日期',
        dataIndex: 'dueToDate'
      },
      {
        title: '签约销售',
        dataIndex: 'signSalesman'
      },
      {
        title: '营销部门',
        dataIndex: 'marketingDepartmentCname'
      },
      {
        title: '备注',
        dataIndex: 'remark'
      },
    ]
    const quotationColumns = [
      {
        title: '报价单号',
        dataIndex: 'quotationNo',
        slotName: 'quotationNo'
      },
      {
        title: '销售品名',
        dataIndex: 'categoryName',
      },
      {
        title: '箱货类型',
        dataIndex: 'packingTypeName',
      },
      {
        title: '服务',
        dataIndex: 'serviceInfo',
      },
      {
        title: '税率',
        dataIndex: 'freightForwarderTax',
      },
      {
        title: '试做',
        dataIndex: 'isTransport',
        slotName: 'isTransport'
      },
      {
        title: '销售',
        dataIndex: 'salesmanInfo',
      },
      {
        title: '提交日期',
        dataIndex: 'commitTime',
      },
      {
        title: '操作',
        dataIndex: 'operation',
        slotName:'operation'
      },
    ]
    const supplementColumns = [
      {
        title: '补充协议编号',
        dataIndex: 'contractNo',
        slotName: 'contractNo'
      },
      {
        title: '销售品名',
        dataIndex: 'goodsName',
      },
      {
        title: '是否含报价',
        dataIndex: 'offerConfirmationNoInfo',
      },
      {
        title: '销售',
        dataIndex: 'signSalesman',
      },
      {
        title: '签约日期',
        dataIndex: 'signUpDate',
      },
    ]
    const payerColumns = [
      {
        title: '付款方名称',
        dataIndex: 'customerName'
      },
      {
        title: '签约日期',
        dataIndex: 'signUpDate'
      },
      {
        title: '到期日期',
        dataIndex: 'dueToDate'
      },
      {
        title: '销售',
        dataIndex: 'signSalesman'
      },
      {
        title: '来源',
        dataIndex: 'source'
      },
      {
        title: '提交时间',
        dataIndex: 'submitTime'
      },
    ]
    const pageInfo = async () => {
      let params = {
        id: route.query.id
      }
      await contractDetailApi.contractInfo(params).then(res => {
        if (res.code == 200) {
          dataMap.form = res.data
          dataMap.form.dueToDate = dataMap.form.dueToDate.substring(0, 10)
          dataMap.form.signUpDate = dataMap.form.signUpDate.substring(0, 10)
          if (dataMap.form.contractTypeCode != 'BCXY' && dataMap.form.contractTypeCode != 'XSXY') {
            dataMap.baseInfoColumn = infoColumn1
          } else if (dataMap.form.contractTypeCode == 'BCXY') {
            dataMap.baseInfoColumn = infoColumn2
          } else if (dataMap.form.contractTypeCode == 'XSXY') {
            dataMap.baseInfoColumn = infoColumn3
          }
          const list = res.data.controlGoodsList
          let controlGoodsCnNameComputed = list?.map(({ controlGoodsCnName, isControlGoods }, index) => {
            return `<span style="color:${isControlGoods ? '' : 'red'}">${controlGoodsCnName}${(isControlGoods ? '' : '（无控货协议）')}
                                </span>${list.length - 1 === index ? '' : ''}`
          }).join()
          dataMap.form.controlGoodsCnNameText = res.data.controlGoodsCnName || controlGoodsCnNameComputed

          const offerConfirmationVOList = res.data.offerConfirmationVOList || []
          offerConfirmationVOList.forEach((item) => {
            if (item.taxDeadline === 1) {
              item.taxDeadline = '收到《缴款通知书》后当天'
            } else {
              item.taxDeadline = '预收'
            }
            if (item.isTransport) {
              item.isTransport = `${item.trialDays}天，${item.trialNumber}次`
            } else {
              if (item.trialDays && item.trialNumber) {
                item.isTransport = `否（${item.trialDays}天，${item.trialNumber}次）`
              } else {
                item.isTransport = '否'
              }
            }
            // if (item.containerType === 1) {
            //   item.containerType = '整箱'
            // } else {
            //   item.containerType = '散货'
            // }
          })
          dataMap.contractDetails = offerConfirmationVOList
          if (res.data.supplementaryAgreementVOList !== null) {
            dataMap.sideAgreement = res.data.supplementaryAgreementVOList.map(
              (i) => {
                i.signUpDate = i.signUpDate.substring(0, 10)
                i.dueToDate = i.dueToDate.substring(0, 10)
                return i
              }
            )
          }
          if (res.data.payerVOList !== null) {
            dataMap.payerInformation = res.data.payerVOList.map((i) => {
              i.signUpDate = i.signUpDate.substring(0, 10)
              i.dueToDate = i.dueToDate.substring(0, 10)
              return i
            })
          }
          nextTick(() => {
            approveRef.value.show(dataMap.form, 'customer')
          })

        }
      })
    }
    // 打印合同模板
    const handlePrint = () => {
      router.push({
        path: '/mos/CRM/contract/template',
        query: {
          id: route.query.id,
          type: '1'
        }
      })
    }
    // 报价书打印
    const quotationPrint = (item, type) => {
      router.push({
        path: '/mos/CRM/contract/template',
        query: {
          id: route.query.id,
          type,
          rowId: item.id
        }
      })
    }
    // 跳转详情（报价单：BJD，补充协议：BCXY）
    const openDetail = (item, val) => {
      let path = ''
      if (val === 'BJD') {
        path = '/mos/CRM/contract/list/details'
      } else if (val === 'BCXY') {
        path = '/mos/CRM/contract/list/mutualAgreement/mutualDetail'
      }
      router.push({
        path,
        query: {
          id: item.id && item.id.toString(),
          contractInfoId:route.query.id,
          offerBookId:item.id
        }
      })
    }

    onMounted(() => {
      pageInfo()
    })


    return {
      ...toRefs(dataMap),
      quotationColumns,
      supplementColumns,
      payerColumns,
      approveRef,
      handlePrint,
      quotationPrint,
      openDetail,
      pageInfo,
    }
  }
})
</script>

<style lang="less" scoped>
.container {
  background-color: #F7F8FA; //var(--color-bg-2);
  display: flex;
  flex-direction: column;
  height: calc(~"100vh - 92px");
  overflow: auto;

  .page_content {
    flex: 1;
    overflow: auto;
    padding: 0 20px;

    .baseinfo {
      background-color: var(--color-bg-2);
      margin-top: 20px;
    }

    .tabs_shell {
      background-color: var(--color-bg-2);
      margin-top: 20px;
      margin-bottom: 20px;

      & /deep/ .arco-tabs-content {
        padding-top: 0;
      }
      & /deep/ .arco-tabs-tab{
        outline: none;
      }
    }
  }

  .base_info_pane {}
}
</style>