<template>
  <a-modal
    v-model:visible="visible"
    @cancel="handleCancel"
    width="60%"
    :mask-closable="false"
    :top="100"
    :align-center="false"
    :on-before-ok="handleBeforeOk"
  >
    <template #title> 申请请款 </template>
    <div>
      <a-form ref="formRef" :model="form" layout="vertical">
        <a-row class="grid-demo" :gutter="[24, 12]">
          <a-col :span="8">
            <a-form-item
              field="paymentRequestEnterpriseId"
              label="请款公司"
              :rules="[{ required: true, message: '请选择请款公司' }]"
              :validate-trigger="['change', 'blur']"
            >
              <a-input
                v-model="form.paymentRequestEnterpriseName"
                disabled
              ></a-input>
            </a-form-item>
          </a-col>
          <a-col :span="8">
            <a-form-item field="feeType" label="费用类型">
              <a-radio-group v-model="form.feeType">
                <a-radio :value="1">税金</a-radio>
                <a-radio :value="2">物流款</a-radio>
                <a-radio :value="3">货物款</a-radio>
              </a-radio-group>
            </a-form-item>
          </a-col>
          <a-col :span="8">
            <a-form-item
              field="receiverId"
              label="开票公司"
              :rules="[{ required: true, message: '请选择开票公司' }]"
              :validate-trigger="['change', 'blur']"
            >
              <a-select
                v-model="form.receiverId"
                placeholder="请选择"
                @search="fetchSuggestions"
                @change="sellerChange"
                :filter-option="false"
                allow-search
              >
                <a-option
                  v-for="item in sellerList"
                  :key="item.value"
                  :value="item.value"
                  :label="item.label"
                ></a-option>
              </a-select>
            </a-form-item>
          </a-col>
          <a-col :span="8">
            <a-form-item
              field="receiverBankIban"
              label="开票账号"
              :rules="[{ required: true, message: '请选择所开票账号' }]"
              :validate-trigger="['change', 'blur']"
            >
              <a-select
                v-model="form.receiverBankIban"
                placeholder="请选择"
                @change="bankChange"
                allow-search
              >
                <a-option
                  v-for="item in bankList"
                  :key="item.value"
                  :value="item.value"
                  :label="item.label"
                ></a-option>
              </a-select>
            </a-form-item>
          </a-col>
          <a-col :span="8">
            <a-form-item
              field="currency"
              label="发票币别"
              :rules="[{ required: true, message: '请选择发票币别' }]"
              :validate-trigger="['change', 'blur']"
            >
              <a-input v-model="form.currency" disabled></a-input>
            </a-form-item>
          </a-col>
          <a-col :span="8">
            <a-form-item
              field="currencyExchangeRate"
              label="发票汇率"
              :rules="[{ required: true, message: '请选择发票汇率' }]"
              :validate-trigger="['change', 'blur']"
            >
              <a-input v-model="form.currencyExchangeRate"></a-input>
            </a-form-item>
          </a-col>
          <a-col :span="8">
            <a-form-item
              field="plannedPaymentDate"
              label="计划付款日期"
              :rules="[{ required: true, message: '请选择计划付款日期' }]"
              :validate-trigger="['change', 'blur']"
            >
              <a-date-picker
                v-model="form.plannedPaymentDate"
                style="width: 320px"
                value-format="YYYY-MM-DD hh:mm:ss"
                :disabledDate="(current) => dayjs(current).isBefore(dayjs())"
              />
            </a-form-item>
          </a-col>
          <a-col :span="8">
            <a-form-item
              field="paymentMethod"
              label="支付方式"
              :rules="[{ required: true, message: '请选择支付方式' }]"
              :validate-trigger="['change', 'blur']"
            >
              <a-select
                v-model="form.paymentMethod"
                placeholder="请选择"
                @change="paymentMethodChange"
              >
                <a-option
                  v-for="item in paymentMethod"
                  :key="item.value"
                  :value="item.value"
                  :label="item.label"
                ></a-option>
              </a-select>
            </a-form-item>
          </a-col>
          <a-col :span="8">
            <a-form-item
              field="formalitiesBearer"
              :rules="[{ required: true, message: '请选择手续费承担方' }]"
              :validate-trigger="['change', 'blur']"
              label="手续费承担方"
            >
              <a-radio-group v-model="form.formalitiesBearer">
                <a-radio :value="1">汇款人</a-radio>
                <a-radio :value="2">收款人</a-radio>
                <a-radio :value="3">共同</a-radio>
              </a-radio-group>
            </a-form-item>
          </a-col>
          <a-col :span="8">
            <a-form-item
              field="department"
              label="申请部门"
              :rules="[{ required: true, message: '请选择申请部门' }]"
              :validate-trigger="['change', 'blur']"
            >
              <a-select
                v-model="form.department"
                placeholder="请选择"
                @change="departChange"
              >
                <a-option
                  v-for="item in departmentsList"
                  :key="item.value"
                  :value="item.value"
                  :label="item.name"
                ></a-option>
              </a-select>
            </a-form-item>
          </a-col>
          <a-col :span="24">
            <a-form-item field="remark" label="备注">
              <a-textarea
                v-model="form.remark"
                placeholder="备注"
                allow-clear
              />
            </a-form-item>
          </a-col>
          <a-col :span="24">
            请款：{{ form.currencySymbol || ''
            }}{{ toThousandFilter(form.amount) }}
          </a-col>
        </a-row>
      </a-form>
    </div>
  </a-modal>
</template>
<script lang="ts" setup>
import dayjs from 'dayjs';
import { Message } from '@arco-design/web-vue';
import { onMounted, reactive, ref } from 'vue';
import { setNumericText } from '@/utils';
import { settlementApi } from '@/api/settlementApi/index';
import { memberUser } from '@/api/member';
import { useRoute } from 'vue-router';
const route = useRoute();
import { getStringTime } from '@/utils/common';
import commonApi from '@/utils/commonApi/index';
const visible = ref(false);
const props = defineProps({
  applyInfo: Object,
});
const form = reactive({
  paymentRequestEnterpriseId: '', //请款公司id
  paymentRequestEnterpriseName: '', //请款公司名称
  receiverId: '', //结算对象id
  receiverName: '', //结算对象名称
  receiverBank: '', //结算银行
  receiverBankIban: '', //银行账号
  feeType: '', //请款类型
  currency: '', //币别
  currencySymbol: '',
  currencyName: '', //币别名称
  currencyExchangeRate: 1, //汇率
  amount: 1, //金额
  paymentMethod: '', //支付方式code
  paymentMethodName: '', //支付方式名称
  plannedPaymentDate: '', //计划付款日期
  formalitiesBearer: '', //手续承担方
  remark: '',
  indirectReject: false, //是否间接驳回
  departmentName: '',
  department: '',
});
const emits = defineEmits(['handleBeforeOk']);
// const department = ref([]);
const toThousandFilter = (num) => {
  return setNumericText(Number(num), { commas: true, zeroText: '0.00' });
};
const handleClick = () => {
  visible.value = true;
  form.amount = props.applyInfo.amount;
  form.currency = props.applyInfo.currency;
  form.currencySymbol = props.applyInfo.currencySymbol;
  form.currencyName = props.applyInfo.currencyName;
  form.paymentRequestEnterpriseId = props.applyInfo.paymentRequestEnterpriseId;
  form.paymentRequestEnterpriseName =
    props.applyInfo.paymentRequestEnterpriseName;
  init();
};
const departmentsList = ref([]);
const formRef = ref();
const sellerList = ref([]);
const bankList = ref([]);
const paymentMethod = ref([]);
const bankChange = (val) => {
  bankList.value.forEach((item) => {
    if (item.value == val) {
      form.receiverBank = item.label.split(' ')[1];
    }
  });
};
const handleCancel = () => {
  visible.value = false;
//   form.paymentRequestEnterpriseId = ''; // 文件
//   form.paymentRequestEnterpriseName = ''; // 借款用途
//   form.receiverId = ''; // 借款用途名称
//   form.receiverName = ''; // 借款公司id
//   form.receiverBank = ''; // 借款公司名称
//   form.receiverBankIban = ''; // 借款公司名称
//   form.feeType = ''; // 借款公司名称
//   form.currency = ''; // 币别
//   form.currencyName = ''; // 币别名称
//   form.currencySymbol = '';
//   form.paymentMethodName = ''; // 支付对象
//   form.paymentMethod = ''; // 支付对象名称
//   form.plannedPaymentDate = ''; // 计划还款日期
//   form.formalitiesBearer = ''; // 业务编号
//   form.amount = 0; // 借款金额
//   form.remark = ''; // 备注
//   form.departmentName = '';
//   form.department = '';
};
const handleBeforeOk = (done: any) => {
  window.setTimeout(() => {
    formRef.value.validate(async (error: any, values: any) => {
      if (!error) {
        emits('applyFee', form);
      } else {
        done(false);
      }
    });
  });
};
const departChange = (val) => {
  console.log(val, '申请部门');
  departmentsList.value.forEach((item) => {
    if (item.value == val) {
      form.departmentName = item.name;
    }
  });
};
const sellerChange = async (val) => {
  sellerList.value.forEach((item) => {
    if (item.value == val) {
      form.receiverName = item.label;
    }
  });
  const { code, data } = await settlementApi.queryRelationBankByEnterpriseId({
    enterpriseId: val,
  });
  if (code == 200) {
    bankList.value = data.map((item) => {
      return {
        label: item.currency + ' ' + item.bankAccount + ' ' + item.bankName,
        value: item.bankAccount,
      };
    });
  }
};
const fetchSuggestions = async (v) => {
  const params = { name: v };
  const data = await commonApi.queryRelationByLabelCode(params);
  sellerList.value = data.map((item) => {
    return { label: item.name, value: item.enterpriseId };
  });
};
const paymentMethodChange = async (val, record) => {
  paymentMethod.value.forEach((item) => {
    if (item.value == val) {
      form.paymentMethodName = item.label;
    }
  });
};
const init = async () => {
  fetchSuggestions('');
  const res = await settlementApi.departmentsCanapply({
    currency: form.currency,
  });
  if (res.code == 200) {
    departmentsList.value = res.data;
  }
  const { code, data } = await settlementApi.basicdataCodeSelect([
    'paymentMethod',
  ]);
  if (code == 200) {
    data.PaymentMethod.forEach((item) => {
      paymentMethod.value.push({
        value: item.codes,
        label: item.codeName,
      });
    });
  }
};
defineExpose({ handleClick, handleCancel });
</script>