<template>
  <div class="empty">
    <div class="iconEmpty"> <icon-empty /><div style="font-size:12px">暂无数据</div></div>

    <div>请点击' <span>筛选</span>'，选择完必填的条件后刷新数据！</div>
  </div>
</template>
<style lang="less" scoped>
.empty {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .iconEmpty {
    font-size: 50px;
    color: #c9cdd4;
    margin-bottom: 20px;
  }
  span {
    color: #2969ff;
  }
}
</style>