<template>
  <div>
    <!--  -->
    <div class="title">附件</div>
    <a-upload
      draggable
      :custom-request="customRequest"
      :show-retry-button="false"
      :show-cancel-button="false"
      :on-before-remove="removeFile"
      action="/"
  /></div>
</template>
<script lang="ts" setup>
import { reactive, ref } from 'vue';
import { memberUser } from '@/api/member';
const fileList = ref([]);
const customRequest = async (option) => {
  console.log(option.fileItem, 'option');
  const { code, data } = await memberUser.fileUpload({
    file: option.fileItem.file,
  });
  if (code == 200) {
    fileList.value.push({
      fileName: data.fileName,
      fileUrl: data.url,
      uid: option.fileItem.uid,
    });
  }
  console.log(fileList.value, 'fileList.value');
};
const removeFile = (option) => {
  return new Promise((resolve, reject) => {
    fileList.value = fileList.value.filter((item) => item.uid != option.uid);
    resolve(true);
  });

  console.log(fileList.value, '删除文件');
};
defineExpose({ fileList });
</script>
<style lang="less" scoped>
.title {
  padding-bottom: 20px;
}
</style>