<template>
  <div>
    <a-modal
      v-model:visible="visible"
      :hide-cancel="true"
      :footer="false"
      :top="100"
      :mask-closable="false"
      :align-center="false"
      width="70%"
    >
      <template #title> 打印 </template>

      <div id="print">
        <div
          class="u-wrapper page-break-after"
          v-for="(i, index) of dataConfig"
          :key="index"
        >
          <div class="u-title font-bold3">{{ i.title }}</div>
          <a-row class="u-row" :gutter="20">
            <a-col
              v-for="(o, oIndex) of i.data"
              :key="oIndex"
              :span="o.span || 12"
              class="u-col"
            >
              <div class="u-label">{{ o.label }}</div>
              <div class="u-value">{{ detailData[o.prop] || '-' }}</div>
            </a-col>
          </a-row>

          <div class="u-approve">
            <span>审批人：</span>
            <span v-for="(x, xIndex) of dataApprove" :key="xIndex">
              {{ xIndex == 0 ? '' : '→ ' }}
              {{ x.creatorName }}{{ x.createTime }}
            </span>
            <span v-if="dataApprove.length > 0">→ 财务</span>
          </div>
        </div>
      </div>
      <div class="btn">
        <a-button v-print="'#print'" type="primary">打印</a-button>
      </div>
    </a-modal>
  </div>
</template>
<script lang="ts" setup>
import { ref, watch } from 'vue';
import { setNumericText } from '@/utils';
import { settlementApi } from '@/api/settlementApi/index';
const visible = ref(false);
const dataApprove = ref([]);
const detailData = ref([]);
const dataConfig = [
  {
    title: '请款支付申请（记账联）',
    data: [
      { prop: 'ownerName', label: '请款单位' },
      { prop: 'no', label: '退款申请号' },
      { prop: 'createTime', label: '申请日期' },
      { prop: 'plannedRefundTime', label: '计划退款日期' },
      { prop: 'amountWithSymbol', label: '退款金额' },
      { prop: 'receiptNo', label: '收款编号' },
      { prop: 'refundName', label: '退款单位' },
      { prop: 'bankNo', label: '退款账号' },
      { prop: 'creatorName', label: '申请人' },
      { prop: 'remark', label: '退款说明', span: 24 },
    ],
    dataApprove: [],
  },
  {
    title: '请款支付申请（付款联）',
    data: [
      { prop: 'onwnerName', label: '请款公司' },
      { prop: 'no', label: '请款单号' },
      { prop: 'createTime', label: '请款日期' },
      { prop: 'plannedPaymentDate', label: '计划还款日期' },
      { prop: 'amountWithSymbol', label: '借款金额' },
      { prop: 'feeOfYear', label: '费用归属年' },
      { prop: 'receiverName', label: '支付对象' },
      { prop: 'bankNo', label: '支付账号' },
      { prop: 'paymentMethodName', label: '付款方式', span: 24 },
      { prop: 'costNames', label: '费用名称', span: 24 },
      { prop: 'creatorName', label: '申请人', span: 24 },
    ],
    dataApprove: [],
  },
];
const toThousandFilter = (val) => {
  return setNumericText(val, { commas: true });
};
const handleClick = async (id) => {
  visible.value = true;
  const { code, data } = await settlementApi.paymentrequestDetail({
    id: id,
  });
  if (code == 200) {
    data.costNames = data.costs.map((v) => v.feeName).join(',');
    data.amountWithSymbol = data.currencySymbol + toThousandFilter(data.amount);
    data.bankNo =
      (data.receiverBank || '') + ' ' + (data.receiverBankIban || '');

    detailData.value = data;
    dataApprove.value =
      (data.approveLogs && data.approveLogs.filter((v) => v.result == 1)) || [];
  }
};
const handleOk = () => {
  visible.value = false;
};
const handleCancel = () => {
  visible.value = false;
};
defineExpose({
  handleClick,
});
</script>
<style lang="less" scoped>
.u-cos {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 10px;
  .u-title {
    font-size: 14px;
  }
}
.u-wrapper {
  margin: 20px 40px 60px;
  overflow: hidden;
  font-size: 14px;
  color: #666;
  line-height: 40px;

  .u-title {
    text-align: center;
    padding: 20px 0 40px;
    width: 100%;
  }
  .u-row {
    .u-col {
      display: flex;

      .u-label {
        // width: 30%;
        width: 100px;
      }
      .u-value {
        flex: 1;
      }
    }
  }

  .u-approve {
    padding: 50px 0;
  }
}

.page-break-after {
  page-break-after: always;
}
::v-deep {
  .el-row {
    // width: 80%;
    margin: 0 auto !important;
  }
}

.font-bold3 {
  color: #333;
  font-weight: bold;
}
@media print {
  .u-wrapper {
    margin: 0;
  }
}
.btn {
  display: flex;
  justify-content: center;
}
</style>
