<template>
  <div class="main">
    <a-form ref="formRef" :model="form">
      <div class="top">
        <div class="left">
          <span>发票明细</span>
          <!-- <a-row class="grid-demo" :gutter="[24, 12]">
            <a-col :span="12"> -->
          <a-form-item
            field="invoiceCode"
            :rules="[{ required: true, message: '请选择发票类型' }]"
            :validate-trigger="['change', 'blur']"
            style="margin-top: 15px"
          >
            <a-select
              :style="{ width: '180px' }"
              v-model="form.invoiceCode"
              placeholder="请选择发票类型"
              @change="invoceChange"
            >
              <a-option
                v-for="item in invoList"
                :key="item.code"
                :value="item.code"
                :label="item.name"
              ></a-option>
            </a-select>
          </a-form-item>
          <!-- </a-col>
            <a-col :span="12"> -->
          <a-form-item
            field="invoiceTaxRate"
            label=""
            :rules="[{ required: true, message: '请选择发票税率' }]"
            :validate-trigger="['change', 'blur']"
            style="margin-top: 15px"
          >
            <a-select
              :style="{ width: '150px' }"
              v-model="form.invoiceTaxRate"
              placeholder="请选择发票税率"
            >
              <a-option
                v-for="item in taxList"
                :key="item.value"
                :value="item.value"
                :label="item.label"
              ></a-option>
            </a-select>
          </a-form-item>
          <!-- </a-col>
          </a-row> -->
        </div>
        <div class="right">
          <div style="margin-right: 44px"
            >发票：<span style="color: #ff7d00">{{ num }}</span></div
          >
          <div
            >金额：<span style="color: #ff7d00"
              >{{ currencySymbol }}{{ toThousandFilter(amount) }}</span
            ></div
          >
        </div>
      </div>
      <a-table
        class="table_wrapper"
        :bordered="{ wrapper: true, cell: true }"
        :columns="columns"
        :data="data"
        :pagination="false"
      >
        <template #operator="{ record, rowIndex }">
          <div>
            <span style="padding-right: 5px">{{ rowIndex + 1 }}</span>
            <a-popconfirm
              content="确认删除？"
              position="right"
              @ok="deleteItem(record, rowIndex)"
            >
              <DwButton type="text" shape="circle">
                <icon-delete />
              </DwButton>
            </a-popconfirm>
          </div>
        </template>

        <template #invoiceNo="{ record }">
          <a-input v-model="record.invoiceNo" />
        </template>
        <template #taxIncludedAmount="{ record }">
          <a-input
            @change="getNumAmount"
            v-model="record.taxIncludedAmount"
            :precision="2"
            :step="0.01"
            :min="0"
          />
        </template>
        <template #fileName="{ record }">
          {{ record.fileName }}
          <span v-if="record.fileName"
            ><DwButton type="text" shape="circle" @click="delFile(record)">
              <icon-delete /> </DwButton
          ></span>

          <a-upload
            v-else
            :custom-request="(value) => customRequest(value, record)"
            :show-file-list="false"
            action="/"
            :limit="1"
            ><template #upload-button>
              <span style="color: #2969ff"> <icon-upload />上传附件 </span>
            </template></a-upload
          >
        </template>
      </a-table>
    </a-form>
    <div class="add">
      <DwButton type="text" shape="circle" @click="addTableColumns">
        <icon-plus />新增
      </DwButton>
    </div>
  </div>
</template>

<script setup>
import { nextTick, onMounted, ref, watch, reactive, h } from 'vue';
import { useRouter, useRoute } from 'vue-router';
import { Modal, Message } from '@arco-design/web-vue';
import commonApi from '@/utils/commonApi/index';
import { setNumericText } from '@/utils';
import { memberUser } from '@/api/member';
import { settlementApi } from '@/api/settlementApi/index';
const router = useRouter();
const route = useRoute();
const props = defineProps({
  tableData: Array,
  currencySymbol: String,
});
const data = ref(props.tableData);
const fileTypeList = ref([]);
const invoList = ref([]);
const taxList = ref([]);
const num = ref(0);
const formRef = ref([]);
const amount = ref(0);
const form = reactive({
  invoiceCode: props.tableData[0]?.invoiceCode,
  invoiceName: props.tableData[0]?.invoiceName,
  invoiceTaxRate: props.tableData[0]?.invoiceTaxRate || '',
});
const toThousandFilter = (num) => {
  return setNumericText(Number(num), { commas: true, zeroText: '0.00' });
};
const getInvoList = async () => {
  invoList.value = await commonApi.settleBasicEnterpriseInvoice();
  invoceChange(form.invoiceCode);
};
const invoceChange = (val) => {
  invoList.value.forEach((item) => {
    if (val == item.code) {
      console.log(item, 'val');
      taxList.value = item.child.map((v) => {
        return {
          value: v.taxRate,
          label: Number(v.taxRate) * 100 + '%',
        };
      });
      form.invoiceName = item.name;
    }
  });
};
const delFile = (record) => {
  Modal.warning({
    title: '提示',
    hideCancel: false,
    alignCenter: true,
    content: () =>
      h('div', { class: 'info-modal-content' }, [
        h('span', { style: 'margin-left: 120px;' }, '确认删除该附件吗？'),
      ]),

    cancelText: '取消',
    async onOk() {
      record.fileName = '';
      record.fileUrl = '';
    },
  });
};
//#删除
const deleteItem = (record, rowIndex) => {
  data.value = data.value.filter((item, index) => index !== rowIndex);
  getNumAmount();
};
watch(
  () => data,
  (n) => {
    amount.value = 0;
    num.value = data.value.length;
    data.value.forEach((v) => {
      amount.value += Number(v.taxIncludedAmount);
    });
    console.log(n, '新数据');
  },
  {
    immediate: true,
  }
);
//#region 关于上传
// 添加上传到表格
const addTableColumns = () => {
  console.log(form, 'form');

  if (form?.invoiceCode == 'BKFP' || form?.invoiceCode == 'WFPO') {
    form.invoiceTaxRate = 0;
    Message.error('不需要新增发票列表');
    return;
  }
  formRef.value.validate(async (error, values) => {
    if (!error) {
      data.value.push({
        fileName: '',
        fileUrl: '',
        invoiceCode: form.invoiceCode,
        invoiceName: form.invoiceName,
        invoiceNo: '',
        invoiceTaxRate: form.invoiceTaxRate || 0,
        taxIncludedAmount: '',
      });
      getNumAmount();
    } else {
      if (!form.invoiceCode) {
        Message.error('请先选择发票类型');
        return;
      }
    }
  });
};
// 自定义上传
const customRequest = (option, record) => {
  memberUser.fileUpload({ file: option.fileItem.file }).then((res) => {
    if (res.code == 200) {
      record.fileName = res.data.fileName;
      record.fileUrl = res.data.url;
    }
  });
};

//#endregion
const columns = [
  {
    title: '',
    slotName: 'operator',
    width: 80,
  },
  {
    title: '发票号',
    dataIndex: 'invoiceNo',
    slotName: 'invoiceNo',
  },
  {
    title: '发票金额',
    dataIndex: 'taxIncludedAmount',
    slotName: 'taxIncludedAmount',
  },
  {
    title: '附件',
    dataIndex: 'fileName',
    slotName: 'fileName',
  },
];
const getNumAmount = () => {
  amount.value = 0;
  num.value = data.value.length;
  data.value.forEach((v) => {
    amount.value += Number(v.taxIncludedAmount);
  });
};

onMounted(() => {
  getInvoList();
});
defineExpose({ form, data, amount });
</script>
<style lang="less" scoped>
.top {
  height: 45px;
  display: flex;
  align-items: center;
  padding-bottom: 10px;
  justify-content: space-between;
  .left {
    span {
      width: 140px;
    }
    display: flex;
    align-items: center;
    .grid-demo {
      line-height: 35px;
      .arco-form-item {
        margin-bottom: 0;
      }
    }
  }
  .right {
    display: flex;
  }
}
.add {
  padding-top: 20px;
}
// 第一二列样式处理
// .table_wrapper {
//   :deep(thead tr th:nth-child(1).arco-table-th) {
//     border-right: none;
//     padding: 0;
//   }
//   :deep(tr td:nth-child(1)) {
//     border-right: none;
//     padding: 0;
//   }
//   :deep(tr td:nth-child(2) span.arco-table-cell) {
//     padding: 0;
//   }
// }
</style>