<template>
  <a-modal v-model:visible="dialogVisible" :on-before-ok="confirm" width="420px" :mask-closable="false" title="excel导出设置">
    <a-form ref="formRef" :model="formData" auto-label-width>
      <a-form-item v-for="(item, index) in selections" :key="index" :label="item.label"
        :rules="item.type == 2 ? [{ required: true, message: '请选择' }] : []" :field="`selections.${index}.val`">
        <a-select v-model="item.val" @change="changeFee" :disabled="type != '1'">
          <a-option v-for="(v, k) in item.options" :label="v.label" :value="v.value" :key="k"></a-option>
        </a-select>
      </a-form-item>
    </a-form>
  </a-modal>
</template>

<script lang="ts">
export default {
  name: 'exportPop'
}
</script>

<script setup lang="ts">
import { Message } from '@arco-design/web-vue';
import { reactive, defineEmits, defineExpose, ref } from 'vue'
import { billTrackApi } from '@/api/billTrack';
const props = defineProps({
  type: {
    type: String,
    default: '1'
  }
})
const dialogVisible = ref(false)
const formRef = ref(null)
const row = ref('')
const formData = ref({})
const selections = ref([
  {
    type: '1',
    label: 'excel 命名规则：',
    options: [
      {
        value: 'month',
        label: '模版名称+账单月份'
      },
      {
        value: 'no',
        label: '模版名称+账单编号'
      }
    ],
    val: ''
  },
  {
    type: '2',
    label: 'excel 导出模板：',
    options: [],
    val: ''
  },
  {
    type: '3',
    label: '成本票文件夹命名：',
    options: [
      {
        value: 'mbl',
        label: '提单号'
      },
      {
        value: 'pi',
        label: 'PI号'
      },
      {
        value: 'clientNo',
        label: '客户业务编号'
      }
    ],
    val: ''
  }
])
// 根据客户id获取模板集合
const getListByClientCompanyId = async () => {
  if (props.type != '1') {
    selections.value.find(v => v.type == '1').val = 'no'
    selections.value.find(v => v.type == '2').val = '供应商模板' // 默认
    selections.value.find(v => v.type == '3').val = 'mbl'
  } else {
    const { code, data } = await billTrackApi.listByClientCompanyId({
      clientCompanyId: row.value,
      viewSystemId: '43'
    })
    if (code == 200) {
      data.forEach((item) => {
        selections.value[1].options.push({
          value: item.id.toString(),
          label: item.templateName
        })
      })
    }
  }
  formData.value.selections = selections.value
}
const openDialog = (id) => {
  formRef.value && formRef.value.clearValidate()
  selections.value[0].val = ''
  selections.value[1].val = ''
  selections.value[2].val = ''
  row.value = id
  getListByClientCompanyId()
  dialogVisible.value = true;
}
const closeDialog = () => {
  dialogVisible.value = false
}
const confirm = (down) => {
  formRef.value.validate(async (err, value) => {
    if (!err) {
      if (props.type == '1') {
        // TODO
      } else {
        const { code, data } = await billTrackApi.receivableExportSupplier({
          id: row.value && row.value.toString()
        })
        if (code == 200) {
          down(true)
          window.location.href = data.fileUrl
        }else{
          down(false)
        }
      }
    } else {
      down(false)
    }
  })
}


defineExpose({
  openDialog,
  closeDialog,
})

</script>

