<template>
  <a-tabs :default-active-key="objData[0]" v-if="JSON.stringify(objData)!=='{}'">
    <a-tab-pane v-for="(valArr, key) in objData" :key="key" :title="key">
      <div :key="key">
        <a-table
          row-key="id"
          :columns="allColumn[key]"
          :data="valArr"
          :row-selection="{
            type: 'radio',
          }"
          v-model:selected-keys="objData[key].selectedListObj"
          :pagination="false"
        />
          <!-- @selection-change="(id)=>selectChange(id,key)" objData[key].selectedListObj-->

      </div>
    </a-tab-pane>
  </a-tabs>
</template>

<script setup>
import { crmApi } from '@/api/crmApi';
import { inject, ref, reactive, onMounted, computed } from 'vue';
// const selectedKeys = computed(()=>(valArr,key)=>([valArr].selectedListObj[key]))
const props = defineProps({
  modalParams: {
    type: Object,
    default: () => ({}),
  },
});
const contractInfo = inject('contractInfo');
const offerInfo = inject('offerInfo');
const getSearchParam = inject('getSearchParam');

const column = ref([
  {
    title: '成本金额',
    dataIndex: 'unitPrice',
  },
  {
    title: '计费单位',
    dataIndex: 'unit',
  },
]);
const objData = reactive({});
// 请求参数
const handelParams = () => {
  const { categoryName } = offerInfo;
  const { portName: portCname,...rest } = getSearchParam();
  return {
    ...contractInfo,
    ...offerInfo,
    ...rest,
    portCname,
    categoryNames: [categoryName],
    itemCname: props.modalParams.row.costItemCname,
  };
};
const getList = () => {
 return new Promise((resolve, reject) => {
   crmApi.costList({ ...handelParams() }).then(({ code, data }) => {
    if(code === '200'){
      const selectedData ={}  
      for (const key in data) {
        if (Object.hasOwnProperty.call(data, key)) {
          selectedData[key]=JSON.parse(JSON.stringify(data[key])).map(item=>({
            ...item,
           }))
            selectedData[key].selectedListObj=props.modalParams.row.selectedListObj?.[key]
        }
      }
      console.log(2,selectedData)
      Object.assign(objData,selectedData);
      resolve()
    }
  });

  })

};
// 定义 所有标头
const allColumn = reactive({});
const getCostCenterTitle = (params, key) => {
  return crmApi.costCenterTitle(params).then(({ code, data }) => {
    const column = data.map((item) => {
      if (item.name == '船公司') {
        return {
          label: '船公司',
          value: 'carrierCname',
        };
      } else {
        return {
          label: item.name,
          value: item.value,
        };
      }
    });
    restColumn(column, key);
  });
};
const restColumn = (tableColumn, key) => {
  allColumn[key] = [
    {
      dataIndex: 'unitPrice',
      title: '成本金额',
      fixed: 'left',
    },
  ].concat(
    tableColumn.map((item) => ({
      dataIndex: item.value,
      title: item.label,
    })),
    [
      {
        dataIndex: 'unit',
        title: '计费单位',
      },
    ]
  );
};
onMounted(async () => {
  console.log(1)
  // 获取所有项
  await getList();
console.log(3)
  // 获取表头
  const ajaxArr = [];
  for (const key in objData) {
    if (Object.hasOwnProperty.call(objData, key)) {
      const { costItemCode } = objData[key][0];
      ajaxArr.push(getCostCenterTitle({ costItemCode, factorsType: 1 }, key));
    }
  }
});


// const selectChange = (id,key) => {
//   console.log('88899',id,key)
//   // 记录选的 项目
  
//   // // 记录选择的行
  
// };
let selectInfo ={}
const selectedAllRow = {}
const selectedListObj = {}
let selectAllPriceSum =() => { 
  let sum =0
  for (const key in selectedAllRow) {
    if (Object.hasOwnProperty.call(selectedAllRow, key)) {
      sum+=selectedAllRow[key]?.unitPrice*1||0
    }
  }
  return sum
 }
 const getAllInfo = () => { 
    for (const key in objData) {
      if (Object.hasOwnProperty.call(objData, key)) {
        selectedListObj[key] =objData[key].selectedListObj
        selectInfo = selectedAllRow[key] =objData[key].find(item=>item.id+''===objData[key].selectedListObj?.[0])
      }
    }
  }
const getPriceRow= () => { 
  getAllInfo()
  console.log(objData)
  return {
    row:props.modalParams.row,//父元素的行
    selectInfo,//选择行的数组[{详情}]
    selectedListObj,//选择 的 id {htc:[123456]}
    selectAllPriceSum:selectAllPriceSum() //选择的统计
  }
 }
defineExpose({
  getPriceRow
})
</script>

<style lang="scss" scoped>
</style>