<template>
  <div class="info">
    <a-card title="" :bordered="false">
      <template #title>
        <div style="display: flex; justify-content: space-between;align-items: center;">
          <p>基本信息</p>
          <div v-if="disabled.isEdit">
            <DwButton @click="handleEdit" type="primary">编辑</DwButton>
          </div>
        </div>
      </template>
      <DwForm v-model:form="form" layout="vertical" :disabled="disabled">
      </DwForm>
      <div class="btn_wrapper">
        <div v-if="!disabled.isEdit">
          <DwButton @click="handleClose" style="margin-right: 10px"
            >取消</DwButton
          >
          <DwButton @click="handleSave" type="primary">保存</DwButton>
        </div>
        
      </div>
    </a-card>
  </div>
</template>

<script setup>
import { nextTick, onMounted, ref, watch, reactive, computed } from 'vue';
import { useRouter, useRoute } from 'vue-router';
import { contractManage } from '@/api/contractManage'; //当前页面api
import { createOffer } from '@/api/createOffer'; //当前页面api
import { Message, Modal } from '@arco-design/web-vue';
import { closePage } from '@/views/contractManage/utils.js';
import merge from 'webpack-merge';
const router = useRouter();
const route = useRoute();
const props = defineProps({
  contractInfo: {
    type: Object,
    default: () => ({}),
  },
  offerInfo: {
    type: Object,
    default: () => ({}),
  },
  getOfferInfo: [Function],
  updatePriceList: [Function],
});

const curTitle = computed(() => route.query.item);
const disabled = reactive({ isEdit: false });
const emits = defineEmits(['updateBaseEdit','updatePriceList']);
watch(
  () => disabled.isEdit,
  (n) => {
    emits('updateBaseEdit', n);
  },
  {
    immediate: true,
  }
);
// 获取list 需要的curItem, 第一个参数，数组对象，第二个参数要匹配的key，第三个当前key的值
const getCurrentItem = (arr, key, value) => {
  const newArr = arr.filter((item) =>
    typeof item.show === 'function' ? item.show() : true
  );
  const curItem = newArr.find((item) => item[key] === value);
  if (!curItem) {
    console.error(key, value, '未匹配到！');
  }
  if (typeof curItem?.list === 'function') {
    curItem.list = [];
  }
  return curItem || { list: [] };
};

//#region 关于下拉接口
// 品类
const getGoodsName = ({ item }) => {
  createOffer.getCategory().then((res) => {
    item.list = res.data.map((curItem) => ({ label: curItem, value: curItem }));
  });
};
// 箱货箱类
const getPackingTypeCode = ({ item }) => {
  createOffer
    .getPackingTypeCode({ codeTypeCode: 'shippingtype' })
    .then((res) => {
      item.list = res.data.map((curItem) => ({
        label: curItem.codeName,
        value: curItem.codesValues,
      }));
    });
};
// 品名
const getCategoryName = (categoryName) => {
  createOffer.getCategoryName({ categoryName }).then((res) => {
    getCurrentItem(form.value.formItem, 'currentKey', 'categoryName').list =
      res.data.map((curItem) => ({ label: curItem, value: curItem }));
  });
};
// 报价方式
const getQuotationWay = (categoryName) => {
  createOffer.crmGetTonnage({ categoryName }).then((res) => {
    const curItem = getCurrentItem(
      form.value.formItem,
      'currentKey',
      'quotationWay'
    );
    if (res.data && res.data.length > 0) {
      if (form.value.data.packingTypeCode == '5001') {
        curItem.list = [
          { label: '按柜', value: 1 },
          { label: '按吨', value: 2 },
        ];
      } else {
        curItem.list = [
          { label: '按柜', value: 1 },
          { label: '按吨', value: 2 },
          { label: '按票', value: 3 },
        ];
      }
    } else {
      if (form.value.data.packingTypeCode == '5001') {
        curItem.list = [{ label: '按柜', value: 1 }];
      } else {
        curItem.list = [
          { label: '按柜', value: 1 },
          { label: '按票', value: 3 },
        ];
      }
    }
  });
};

// 报价销售
const getOfferSaleList = ({ item }) => {
  createOffer.salesRole({ roleType: 1 }).then((res) => {
    if (res.code !== '200') return;
    const { signSalesman: userName, signSalesmanId: userId } =
      props.contractInfo;
    item.list = res.data.map((curItem) => {
      return {
        ...curItem,
        label: curItem.userName,
        value: curItem.userId,
        disabled: curItem.userId === userId,
      };
    });

    if (!item.list.map((item) => item.value).includes(userId)) {
      item.list.unshift({
        userId,
        userName,
        label: userName,
        value: userId,
        disabled: true,
      });
    }
  });
};

// 服务项目
const getOfferServiceList = ({ item }) => {
  let list = [];
  let key = '';
  if (curTitle.value === '补充协议/新增报价') {
    list = props.contractInfo?.contractInfoServiceList;
    key = 'serviceProjectCode';
  } else {
    list = props.contractInfo?.contractInfoServiceVOList;
    key = 'serviceProject';
  }
  createOffer
    .serveList({
      codeTypeCode: 'priceservicetype',
      supperiorCodes: list?.map((item) => item.serviceProjectCode).join(),
    })
    .then((res) => {
      const selectList = [];
      getCurrentItem(
        form.value.formItem,
        'currentKey',
        'offerServiceList'
      ).list = res.data?.map((curItem) => {
        if (!route.query.offerBookId) {
          selectList.push(curItem.codesValues);
          form.value.data.offerServiceList = selectList;
        }
        return {
          ...curItem,
          label: curItem.codeName,
          value: curItem.codesValues,
        };
      });
    });
};

// 获取合同类型
const getContractList = () => {
  contractManage
    .getBusinessType({ codeTypeCode: 'customercontracttype' })
    .then((res) => {
      const curItem = res.data.find((item) => item.codeName === '双方协议');
      form.value.data.contractTypeCode = curItem.codesValues;
      form.value.data.contractType = curItem.codeName;
    });
};
// 业务类型
const getBusinessTypesCodeList = ({ item }) => {
  contractManage
    .getBusinessType({ codeTypeCode: 'customerbusinesstype' })
    .then((res) => {
      item.list = res.data.map((curItem) => ({
        ...curItem,
        value: curItem.codesValues,
        label: curItem.codeName,
      }));
    });
};

// 获取签约抬头
const getSignUpId = ({ item }) => {
  contractManage.relationList({ relationTypeList: 4 }).then((res) => {
    item.list = res.data.map((curItem) => ({
      ...curItem,
      value: curItem.enterpriseId,
      label: curItem.name,
    }));
  });
};

// 控货方名称
const getControlGoodsList = ({ item }) => {
  contractManage
    .constrcName({
      relationType: 8,
      hasControlGoods: 1,
      labelCode: 'BusinessUnit',
    })
    .then((res) => {
      nextTick(() => {
        item.list = res.data.map((curItem) => ({
          ...curItem,
          value: curItem.enterpriseId,
          label: curItem.name,
        }));
      });
    });
};

//#endregion

//#region 按钮展示相关 是否可编辑 、回显相关
// 处理回显参数
const handleReviewData = (obj) => {
  // 服务项目
  const offerServiceList = obj.contractInfoServiceVOList.map(
    (item) => item.serviceProject
  );
  return { ...obj, offerServiceList, phoneTelNum };
};
const isEdit = ref(false);
//#endregion
const form = ref({
  formRef: null, //当前form实例
  data: {
    isSingleOpen: false,
    categoryName: '',
    packingTypeCode: '',
    customerName: '',
    forecastOnCounters: '',
    goodsName: '',
    namePartners: '',
    offerSaleList: '',
    offerServiceList: [],
    pricePartners: '',
    quotationWay: '',
    times: '',
    trialDays: '',
    trialNumber: '',
  },
  formItem: [
    {
      showLabel: '客户名称', //展示的标签名 选择器A（基础用法/单选）
      currentKey: 'customerName',
      disabled: true,
      componentType: 'SA',
      currentValue: '', //默认值
      required: true,
      span: 6, //宽度 24等分
      itemType: 'select',
      list: [],
      // (params) => {
      //   getBusinessTypesCodeList(params);
      // },
    },
    {
      showLabel: '货箱类型', //展示的标签名 选择器A（基础用法/单选）
      currentKey: 'packingTypeCode',
      componentType: 'SA',
      currentValue: '', //默认值
      required: true,
      span: 6, //宽度 24等分
      change: () => {},
      itemType: 'select',
      list: (params) => {
        getPackingTypeCode(params);
      },
    },
    {
      showLabel: '品类', //选择器D（可模糊搜索/单选)
      currentKey: 'goodsName',
      allowSearch: true,
      change: () => {
        form.value.data.categoryName = '';
        form.value.data.quotationWay = '';
      },
      componentType: 'SD',
      currentValue: '', //默认值
      required: true,
      span: 6, //宽度 24等分
      itemType: 'select',
      list: (params) => {
        getGoodsName(params);
      },
    },
    {
      showLabel: '销售品名', //展示的标签名 选择器D（可模糊搜索/单选)
      currentKey: 'categoryName',
      allowSearch: true,
      componentType: 'SD',
      currentValue: '', //默认值
      required: true,
      span: 6, //宽度 24等分
      itemType: 'select',
      list: [],
    },
    {
      showLabel: '报价方式', //展示的标签名 选择器D（可模糊搜索/单选)
      currentKey: 'quotationWay',
      allowSearch: true,
      componentType: 'SD',
      currentValue: '', //默认值
      required: true,
      span: 6, //宽度 24等分
      itemType: 'select',
      list: [],
    },
    {
      showLabel: '报价销售', //选择器A（基础用法/单选）//todo
      currentKey: 'offerSaleList',
      componentType: 'SA',
      currentValue: '', //默认值
      multiple: true,
      required: true,
      span: 6, //宽度 24等分
      itemType: 'select',
      list: (params) => {
        getOfferSaleList(params);
      },
    },
    {
      showLabel: '有效期', //日期选择器B（范围选择）
      currentKey: 'times',
      componentType: '',
      currentValue: '', //默认值
      required: true,
      span: 6, //宽度 24等分
      itemType: 'range-picker',
    },
    {
      showLabel: '服务项目', //选择器D（可模糊搜索/单选)
      currentKey: 'offerServiceList',
      allowSearch: true,
      componentType: 'SD',
      currentValue: '', //默认值
      required: true,
      multiple: true,
      span: 6, //宽度 24等分
      itemType: 'select',
      list: (params) => {
        getOfferServiceList(params);
      },
    },
    {
      showLabel: '运输税点是否单开9%', //单选框
      currentKey: 'isSingleOpen',
      componentType: '',
      currentValue: '', //默认值
      required: true,
      span: 6, //宽度 24等分
      itemType: 'radio',
      list: [
        { label: '是', value: true },
        { label: '否', value: false },
      ],
    },
    {
      showLabel: '试做', //选择器A（基础用法/单选）
      currentKey: 'trialDays',
      placeholder: '试用天数',
      componentType: 'SA',
      currentValue: '', //默认值
      span: 3, //宽度 24等分
      itemType: 'select',
      allowClear: true,
      list: [
        { label: '7天', value: 7 },
        { label: '15天', value: 15 },
        { label: '30天', value: 30 },
      ],
    },
    {
      showLabel: '试用次数', //展示的标签名
      currentKey: 'trialNumber',
      placeholder: '试用次数',
      componentType: '',
      currentValue: '', //默认值
      span: 3, //宽度 24等分
      itemType: 'select',
      allowClear: true,
      list: ({ item }) => {
        const arr = [];
        for (let i = 0; i < 7; i++) {
          arr.push({
            label: i + 1 + '次',
            value: i + 1,
          });
        }
        item.list = arr;
      },
    },
    {
      showLabel: '预估月柜量', //选择器A（基础用法/单选）
      currentKey: 'forecastOnCounters',
      componentType: 'SA',
      currentValue: '', //默认值
      span: 6, //宽度 24等分
      itemType: 'select',
      allowClear: true,
      list: [
        { label: '10柜以下', value: '10柜以下' },
        { label: '10-20柜', value: '10-20柜' },
        { label: '20-50柜', value: '20-50柜' },
        { label: '50柜以上', value: '50柜以上' },
      ],
    },
    {
      showLabel: '合作商名称',
      currentKey: 'namePartners',
      currentValue: '', //默认值
      span: 6, //宽度 24等分
      itemType: 'input',
    },

    {
      showLabel: '合作商价格', //展示的标签名
      currentKey: 'pricePartners',
      currentValue: '', //默认值
      span: 6, //宽度 24等分
      itemType: 'input',
    },
  ],
});

// 监听字段之间的影响 用于新增和回显
// 品类变化
watch(
  () => form.value.data.goodsName,
  (n) => {
    getCurrentItem(form.value.formItem, 'currentKey', 'categoryName').list = [];
    // form.value.data.categoryName = '';
    n && getCategoryName(n);
  }
);

// 销售品名
watch(
  () => form.value.data.categoryName,
  (n) => {
    // form.value.data.quotationWay = '';
    getCurrentItem(form.value.formItem, 'currentKey', 'quotationWay').list = [];
    n && getQuotationWay(n);
  }
);
// 处理回显 可能首次加载数据并未回来，需要监听 合同
watch(
  () => props.contractInfo,
  (newValue) => {
    form.value.data.customerName = newValue.customerName;
    form.value.data.customerId = newValue.customerId;
    getOfferServiceList({});
    // 新增
    if (!route.query.offerBookId) {
      form.value.data.times = [newValue?.signUpDate, newValue?.dueToDate];
      form.value.data.offerSaleList = [newValue?.signSalesmanId];
    }
    // else {
    //   form.value.data.times = [
    //     newValue.validityStartDate,
    //     newValue.validityEndDate,
    //   ];
    // }
    // 服务项目
    // form.value.data.offerServiceList = newValue.contractInfoServiceVOList?.map(
    //   (item) => item.serviceProject
    // );
  },
  {
    immediate: true,
    deep: true,
  }
);
watch(
  () => props.offerInfo,
  (newValue) => {
    if (JSON.stringify(newValue) === '{}') return;
    form.value.data = { ...newValue };
    form.value.data.offerSaleList = newValue.offerSaleList.map(
      (item) => item.quoteSalesmanId
    );
    form.value.data.offerServiceList = newValue?.offerServiceList?.map(
      (item) => item?.serviceProjectCode
    );
    form.value.data.times = [
      newValue.validityStartDate,
      newValue.validityEndDate,
    ];
  },
  {
    immediate: true,
    deep: true,
  }
);
const getDetails = (id) => {
  return new Promise((resolve, reject) => {
    id &&
      createOffer
        .quoteBookInfo({
          id,
        })
        .then(({ data }) => {});
  });
};
onMounted(async () => {
  if (route.query.offerBookId) {
    disabled.isEdit = true;
    // getDetails(props.contractInfo.offerBookId);
  }
});

// 提交参数处理
const handleParams = () => {
  //#region 保存参数处理
  // 服务项目
  const offerServiceList = getCurrentItem(
    form.value.formItem,
    'currentKey',
    'offerServiceList'
  )
    .list.filter((item) =>
      form.value.data.offerServiceList.includes(item.value)
    )
    .map((item) => ({
      ...item,
      ...item,
      serviceProjectCode: item.value,
      serviceProject: item.label,
    }));
  // 签约销售
  const offerSaleList = getCurrentItem(
    form.value.formItem,
    'currentKey',
    'offerSaleList'
  )
    .list.filter((item) => form.value.data.offerSaleList.includes(item.value))
    .map((item) => ({
      ...item,
      quoteSalesman: item.label,
      quoteSalesmanId: item.value,
    }));

  const packingTypeName = getCurrentItem(
    form.value.formItem,
    'currentKey',
    'packingTypeCode'
  ).list.find((item) => form.value.data.packingTypeCode === item.value)?.label;

  //#endregion
  const [validityStartDate, validityEndDate] = form.value.data.times;
  return {
    contractInfoId: route.query.contractInfoId,
    validityStartDate,
    validityEndDate,
    isTransport:
      form.value.data.trialDays || form.value.data.trialNumber ? 1 : 0,
    isOther: !!form.value.data.namePartners, //是否有合作商
    packingTypeName,
    offerServiceList,
    offerSaleList,
  };
};
// 动态url获取
const handleUrl = () => {
  const id = route.query.offerBookId; //存在id则为编辑
  return id ? 'updateBasicInfo' : 'addBasicInfo';
  // switch (curTitle.value) {
  //   case '双方协议':
  //   case '试做报价':
  //     return id ? 'updateBasicInfo' : 'addBasicInfo';
  //   case '三方协议':
  //     return id ? 'updateThirdAgreement' : 'addThirdAgreement';
  //   case '控货双方协议':
  //     return id ? 'updateControlDoubleAgreement' : 'addControlDoubleAgreement';
  //   case '形式协议':
  //     return id
  //       ? 'updateContractFormalAgreement'
  //       : 'addContractFormalAgreement';
  //   case '补充协议/新增报价':
  //     return id ? 'updateSupplementaryAgreement' : 'addSupplementaryAgreement';
  //   default:
  //     console.error(`${curTitle.value}出错！`);
  // }
};
const handleUrlQuery = (obj) => {
  const params = {};
  for (const key in obj) {
    if (Object.hasOwnProperty.call(obj, key) && typeof obj[key] === 'object') {
      params[key] = JSON.stringify(obj[key]);
    } else {
      params[key] = obj[key];
    }
  }
  const offerBookId = obj.id;
  history.pushState(
    {
      ...params,
      serviceProjectList: props.contractInfo.serviceProjectList,
      // offerSaleList:props.contractInfo.offerSaleList,
      businessTypesCode: props.contractInfo.serviceProjectList,
      businessTypesName: props.contractInfo.businessTypesName,
      item: route.query.item,
      offerBookId,
      id: route.query.contractInfoId,
    },
    '',
    route.path
  );
  // const serviceProjectList = obj.contractInfoServiceVOList
  //   .map((item) => item.serviceProject)
  //   .join();
};
//比较保存前是否有变更
const validateFn = () => {
  // 字段是否变更
  const {
    packingTypeCode,
    goodsName,
    categoryName,
    quotationWay,
    offerServiceList,
    isSingleOpen,
  } = props.offerInfo;
  const {
    packingTypeCode: packingTypeCode1,
    goodsName: goodsName1,
    categoryName: categoryName1,
    quotationWay: quotationWay1,
    offerServiceList: offerServiceList1,
    isSingleOpen: isSingleOpen1,
  } = form.value.data;
  const v = offerServiceList.map((item) => item.value);
  const v1 = offerServiceList1.map((item) => item.serviceProjectCode);
  const flag =
    v.length === v1.length &&
    v1.every(function (item, i) {
      return item === v[i];
    });
  return (
    packingTypeCode === packingTypeCode1 &&
    goodsName === goodsName1 &&
    categoryName === categoryName1 &&
    quotationWay === quotationWay1 &&
    isSingleOpen === isSingleOpen1 &&
    flag
  );
  // {
  //   text.value = '修改后将清空报价明细，是否确认？';
  // }
};
// 保存
const handleSave = () => {
  // 验证表单
  form.value.formRef.validate((result) => {
    console.error(result);
    console.error(result, route.query.item);
    if (result) return;
    if (route.query.offerBookId && !validateFn()) {
      Modal.warning({
        title: '提示',
        content: '修改后将清空报价明细，是否确认？',
        hideCancel: false,
        titleAlign: 'start',
        simple: false,
        onBeforeOk: (done) => {
          createOffer[handleUrl()]({
            ...form.value.data,
            ...handleParams(),
          }).then(async (res) => {
            if (res.code == 200) {
              done();
              router.push({
                query: merge(route.query, { offerBookId: res.data.id }),
              });
              disabled.isEdit = true;
              props.getOfferInfo();
              props.updatePriceList();
              Message.success('操作成功！');
            }
          });
        },
      });
    } else {
      //编辑
      createOffer[handleUrl()]({
        ...form.value.data,
        ...handleParams(),
      }).then(async (res) => {
        if (res.code == 200) {
          !route.query.offerBookId && closePage();
          router.push({
            query: merge(route.query, { offerBookId: res.data.id }),
          });
          disabled.isEdit = true;
          props.getOfferInfo();
          Message.success('操作成功！');
        }
      });
    }
  });
};

const handleEdit = () => {
  Modal.info({
    title: '提示',
    titleAlign: 'start',
    simple: false,
    hideCancel: false,
    content:
      '编辑基本信息会导致报价相关影响因素发生改变，因此系统会对报价进行重置，是否继续？',
    onBeforeOk: (done) => {
      done();
      disabled.isEdit = false;
    },
  });
};
const handleClose = () => {
  disabled.isEdit = true;
};
</script>

<style lang="less" scoped>
.info {
  margin-bottom: 20px;
  border: 1px solid var(--color-neutral-3);
}
:deep(.arco-card-header) {
  border: none;
}
.btn_wrapper {
  display: flex;
  justify-content: flex-end;
}
</style>