<template>
  <div class="email-container">
    <div class="title-box">
      <div class="title-txt">{{ detail.emailSubject }}</div>
      <div class="title-star"
        ><icon-star-fill
          v-if="detail.emailIsStar"
          class="star-color"
          @click="starEmail(false)"
        ></icon-star-fill>
        <icon-star v-else @click="starEmail(true)"></icon-star
      ></div>
    </div>
    <div class="date-box">
      <span class="email-name">{{ detail.emailAddress }}</span>
      <span class="email-date">{{ detail.time }}</span>
    </div>
    <div class="attachment-box">
      <div
        @click="toDown(file.fileUrl, file.fileName)"
        v-for="(file, index) in detail.mailInfoFileDTOS"
        :key="index"
        class="attachment-item"
      >
        {{ file.fileName }}
      </div>
    </div>
    <div class="line"></div>
    <div class="email-main" v-html="detail.emailContent"></div>
  </div>
</template>
<script lang="ts">
  import { ref, toRefs, computed, watch, defineComponent, reactive } from 'vue';
  import { emailApi } from '@/api/email/index';
  import { common } from '@/api/common/index';
  import { Message, Modal } from '@arco-design/web-vue';
  import { useRoute } from 'vue-router';
  export default defineComponent({
    name: 'haiguanbeian',
    props: {
      // emailID: {
      //   type: String || Number,
      //   default: '' || 0,
      // },
    },
    setup(props, ctx) {
      const route = useRoute();
      const dataMap = reactive({
        detail: {},
      });
      watch(
        () => props.emailID,
        (newval, oldval) => {
          console.log(newval, oldval);
          // if (newval) {
          //   functionMap.getEmailDetail(newval);
          // }
          // functionMap.getEmailDetail(newval);
        },
        { immediate: false, deep: true }
      );
      const functionMap = reactive({
        getEmailDetail(newval) {
          let params = {
            mailId: newval,
          };
          emailApi.getEmailDetail(params).then((res) => {
            if (res.code == 200) {
              dataMap.detail = res.data;
              console.log(dataMap.detail);
              ctx.emit('getDetail', JSON.parse(JSON.stringify(res.data)));
              if (res.data.emailFolder == 'sentbox') {
                dataMap.detail.emailAddress = res.data.emailToAddress;
                dataMap.detail.time = res.data.emailSentDate;
              } else {
                dataMap.detail.emailAddress = res.data.emailFormAddress;
                dataMap.detail.time = res.data.emailReceiveDate;
              }
            }
          });
        },
        starEmail(boo) {
          let params = {
            mailFlagType: 4,
            ids: [dataMap.detail.id],
            result: boo,
          };
          emailApi.emailOpt(params).then((res) => {
            if (res.code == 200) {
              Message.success(boo ? '星标成功！' : '取消星标');
              functionMap.getEmailDetail(dataMap.detail.id);
            }
          });
        },
        toDown(url, name) {
          let params = {
            fileUrl: url,
            name: name,
          };
          common.getFileDownload(params).then((response) => {
            let blob = new Blob([response]);
            let url = window.URL.createObjectURL(blob);
            const link = document.createElement('a');
            link.href = url;
            link.download = name;
            link.click();
            URL.revokeObjectURL(url); // 释放内存
          });
        },
        // change(val) {
        //   console.log(val);
        //   functionMap.mosRiseList();
        // },
      });
      return {
        ...toRefs(dataMap),
        ...toRefs(functionMap),
      };
    },
  });
</script>
<style lang="less" scoped>
  .email-container {
    padding: 20px;
    height: calc(100vh - 220px);
    overflow-x: hidden;
    overflow-y: auto;
    border-bottom: 1px solid #e5e6eb;
    .title-box {
      display: flex;
      align-items: center;
      height: 28px;
      .title-txt {
        max-width: 577px;
        // width: 577px;
        font-weight: 500;
        font-size: 20px;
        color: #212121;
        overflow: hidden; /* 移除隐藏 */
        text-overflow: ellipsis; /* 省略号 */
        white-space: nowrap; /* 禁止文字自动换行 */
      }
      .title-star {
        margin-left: 14px;
        .star-color {
          color: #ffb400;
        }
      }
    }
    .date-box {
      height: 20px;
      line-height: 20px;
      margin-top: 16px;
      font-size: 14px;
      .email-name {
        color: #212121;
      }
      .email-date {
        margin-left: 20px;
        color: #86909c;
      }
    }
    .attachment-box {
      display: flex;
      margin-top: 16px;
      .attachment-item {
        // height: 30px;
        flex: 1 1 calc((100% - 32px) / 4);
        max-width: calc((100% - 32px) / 4);
        padding: 5px 16px;
        background: #f7f8fa;
        border-radius: 2px;
        font-size: 14px;
        color: #212121;
        margin-right: 8px;
        margin-bottom: 8px;
        overflow: hidden; /* 移除隐藏 */
        text-overflow: ellipsis; /* 省略号 */
        white-space: nowrap; /* 禁止文字自动换行 */
        &:nth-of-type(4n) {
          margin-right: 0px;
        }
      }
    }
    .line {
      width: 100%;
      height: 1px;
      background: #e5e6eb;
      margin-top: 20px;
      margin-bottom: 20px;
    }
    :deep .email-main {
      width: 100%;
      max-width: 100%;
      overflow: hidden;
      :deep image {
        width: 100%;
      }
    }
  }
</style>
