<template>
  <a-modal
    v-model:visible="visible"
    :mask-closable="false"
    :width="800"
    @before-ok="handleSubmit"
    unmountOnClose
    :ok-loading="false"
    :body-style="{
      'max-height': '60vh',
      'min-height': '250px',
      'overflow-y': 'auto',
    }"
  >
    <template #title> 文件提取 </template>
    <a-upload
      draggable
      :show-file-list="false"
      multiple
      accept
      :custom-request="request"
    />
    <a-table :columns="columns" :data="tableData" :pagination="false">
      <template #operate="{ record, rowIndex }">
        <icon-delete @click="toDel(record, rowIndex)" />
      </template>
      <template #fileName="{ record }">
        <a :href="record.fileUrl" target="_blank">{{ record.fileName }}</a>
      </template>
      <template #documentType="{ record }">
        <a-select
          @change="change1(record)"
          v-model="record.documentType"
          :options="docTypeList"
          allow-search
          :field-names="{ label: 'codeName', value: 'codesValues' }"
        >
        </a-select>
      </template>
      <template #documentsCategory="{ record }">
        <a-select v-model="record.documentsCategory" allow-search>
          <a-option
            label="草稿"
            value="1"
            :disabled="
              record.documentType == '1943' || record.documentType == '1944'
            "
          ></a-option>
          <a-option label="彩扫" value="2"></a-option>
        </a-select>
      </template>
    </a-table>
  </a-modal>
</template>
<script lang="ts">
  import {
    defineComponent,
    ref,
    watch,
    reactive,
    h,
    toRefs,
    computed,
    onMounted,
    nextTick,
  } from 'vue';
  import { receiptDocumentsApi } from '@/api/receiptDocumentsApi/index';
  import { emailApi } from '@/api/email/index';
  import { useRouter } from 'vue-router';
  import { common } from '@/api/common/index';
  import { contractManage } from '@/api/contractManage';
  import itemVue from '@/components/menu/item.vue';
  export default defineComponent({
    props: {
      // emailID: {
      //   type: String || Number,
      //   default: '' || 0,
      // },
      // emailDetail: {
      //   type: Object,
      //   default: {},
      // },
    },

    setup(props, { attrs, emit, slots }) {
      const visible = ref(false);
      const router = useRouter();
      const dataMap = reactive({
        detail: {},
        orderLogisticsNo: '',
        emailID: '',
        columns: [
          {
            slotName: 'operate',
            title: '',
            dataIndex: '',
            width: 50,
            ellipsis: true,
            tooltip: true,
          },
          {
            slotName: 'fileName',
            title: '文件名称',
            dataIndex: 'fileName',
            ellipsis: true,
            tooltip: true,
          },
          {
            slotName: 'documentType',
            title: '单证名称',
            dataIndex: 'documentType',
            ellipsis: true,
            tooltip: true,
          },
          {
            slotName: 'documentsCategory',
            title: '文件类型',
            dataIndex: 'documentsCategory',
            ellipsis: true,
            tooltip: true,
          },
        ],
        tableData: [],

        docTypeList: [], // 单证名称
        documentsCategoryList: [
          {
            label: '草稿',
            value: 1,
          },
          {
            label: '彩扫',
            value: 2,
          },
        ], //
      });
      // watch(
      //   () => props.emailDetail,
      //   (newval, oldval) => {
      //     console.log(newval, oldval);
      //   },
      //   { immediate: false, deep: true }
      // );
      const functionMap = reactive({
        show(detail, orderLogisticsNo, emailID) {
          console.log(detail);
          dataMap.detail = detail;
          dataMap.orderLogisticsNo = orderLogisticsNo;
          dataMap.emailID = emailID;
          dataMap.tableData = detail.mailInfoFileDTOS || [];
          detail.mailInfoFileDTOS &&
            detail.mailInfoFileDTOS.forEach((item) => {
              item = Object.assign({}, item, {
                documentType: '',
                documentsCategory: '',
              });
              // dataMap.tableData.push({
              //   fileName: item.fileName,
              //   fileUrl: item.url,
              //   fileDown: item.url,
              // });
            });
          visible.value = true;
        },
        change1(item) {
          if (item.documentType == '1943' || item.documentType == '1944') {
            item.documentsCategory = '2';
          }
        },
        toDel(item, i) {
          dataMap.tableData.splice(i, 1);
        },
        getDocType() {
          common.getDocType().then((res) => {
            dataMap.docTypeList = res.data;
          });
        },

        request(option) {
          common.fileUpload({ file: option.fileItem.file }).then((res) => {
            dataMap.tableData.push({
              fileName: res.data.fileName,
              fileUrl: res.data.url,
              fileDown: res.data.url,
            });
            // addTableColumns(res.data);
          });
        },
        handleSubmit(done) {
          let params = {
            orderLogisticsNo: dataMap.orderLogisticsNo,
            mailInfoId: dataMap.emailID,
            auditOrderDTOS: dataMap.tableData,
          };
          emailApi.uploadDocument(params).then((res) => {
            // dataMap.searchPortData = res.data;
            if (res.code == 200) {
              router.push({
                path: '/mos/examineOrderDetail',
                query: {
                  orderLogisticsNo: res.data.mailInfoDTO.orderLogisticsNo,
                },
              });

              emit('successUp');
              done();
            }
          });
        },
        deleteItem(item) {},
      });
      functionMap.getDocType();

      const handleOk = () => {};
      return {
        visible,
        ...toRefs(dataMap),
        ...toRefs(functionMap),
        handleOk,
      };
    },
  });
</script>
<style lang="less" scoped>
  .arco-form {
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    .arco-form-item {
      flex: 1 1 calc((100% - 60px) / 3);
      max-width: calc((100% - 60px) / 3);
      // margin-top: 24px;
      // margin-bottom: 0;
      margin-right: 30px;
      &:nth-of-type(3n) {
        margin-right: 0px;
      }
      :deep .arco-form-item-label-col {
        margin-bottom: 4px;
      }
      :deep .arco-picker,
      .arco-select-view-single {
        width: 100%;
        padding-right: 0;
      }
    }
  }
  .fujian {
    color: var(--color-text-2);
    font-size: 14px;
    margin-top: 0;
    margin-bottom: 4px;
  }
</style>
