<template>
  <a-modal
    v-model:visible="visible"
    :mask-closable="false"
    :width="800"
    @before-ok="handleSubmit"
    @before-cancel="handleCancel"
    unmountOnClose
    :ok-loading="okloading"
    :body-style="{
      'max-height': '60vh',
      'min-height': '250px',
      'overflow-y': 'auto',
    }"
  >
    <template #title> 新建运单 </template>
    <a-form ref="formRef" layout="vertical" :model="fromData">
      <a-form-item
        label="委托人"
        field="clientIdState"
        :rules="[{ required: true, message: '委托人必填' }]"
      >
        <a-select
          v-model="fromData.clientIdState"
          @search="(val) => handleSearch(val, '委托人')"
          popup-container="clientIdState"
          allow-search
        >
          <a-option
            v-for="item of clientIdStateList"
            :value="item.enterpriseId"
            :label="item.name"
            :key="item.enterpriseId"
          />
        </a-select>
      </a-form-item>
      <a-form-item label="PI号" field="piNo">
        <a-input v-model.number="fromData.piNo" allow-clear />
      </a-form-item>
      <a-form-item
        label="国内买家"
        field="buyer"
        :rules="[{ required: true, message: '国内买家必填' }]"
      >
        <a-select
          v-model="fromData.buyer"
          @search="(val) => handleSearch(val, '国内买家')"
          allow-search
        >
          <a-option
            v-for="item of buyerList"
            :value="item.enterpriseId"
            :label="item.name"
            :key="item.enterpriseId"
          />
        </a-select>
      </a-form-item>
      <a-form-item label="起运港(POL)" field="portStart">
        <a-select
          v-model="fromData.portStart"
           @change="(val)=>{changePort(val,1)} "
          :filter-option="filterHandlePort"
          allow-search
        >
         <a-option
            v-for="item of searchPortData"
            :value="item.seaportName"
            :label="item.seaportEnName"
            :key="item.seaportName"
          >
            <div class="search-foot">
              <span>{{ item.seaportName }}</span>
              <span>{{ item.seaportEnName }}</span>
            </div></a-option
          >
        </a-select>
      </a-form-item>
      <a-form-item
        label="目的港"
        field="portEnd"
        :rules="[{ required: true, message: '目的港必填' }]"
      >
        <a-select v-model="fromData.portEnd" @change="(val)=>{changePort(val,2)} " :filter-option="filterHandlePort" allow-search>
          <a-option
            v-for="item of portList"
            :value="item.seaportName"
            :label="item.seaportEnName"
            :key="item.seaportName"
          >
            <div class="search-foot">
              <span>{{ item.seaportName }}</span>
              <span>{{ item.seaportEnName }}</span>
            </div></a-option
          >
        </a-select>
      </a-form-item>
      <a-form-item label="预计到港时间" field="eta">
        <a-date-picker
          v-model="fromData.eta"
          show-time
          format="YYYY-MM-DD HH:mm:ss"
        />
      </a-form-item>
      <a-form-item
        label="客服专员"
        field="operatorId"
        :rules="[{ required: true, message: '客服专员必填' }]"
      >
        <a-select
          v-model="fromData.operatorId"
          allow-search
          @change="(val) => changeOperator(val)"
        >
          <a-option
            v-for="item of customerServiceList"
            :value="item.userId"
            :label="item.userName"
            :key="item.userId"
          />
        </a-select>
      </a-form-item>
    </a-form>
    <p class="fujian">附件</p>
    <a-upload
      @change="onChange"
      draggable
      :show-file-list="false"
      multiple
      accept
      :custom-request="request"
    />
    <a-table :columns="columns" :data="tableData" :pagination="false">
      <template #operate="{ record, rowIndex }">
        <icon-delete @click="toDel(record, rowIndex)" />
      </template>
      <template #fileName="{ record }">
        <a :href="record.fileUrl" target="_blank">{{ record.fileName }}</a>
      </template>
      <template #documentType="{ record }">
        <a-select
          @change="change1(record)"
          v-model="record.documentType"
          :options="docTypeList"
          :field-names="{ label: 'codeName', value: 'codesValues' }"
          allow-search
        >
        </a-select>
      </template>
      <template #documentsCategory="{ record }">
        <a-select v-model="record.documentsCategory" allow-search>
          <a-option
            label="草稿"
            value="1"
            :disabled="
              record.documentType == '1943' || record.documentType == '1944'
            "
          ></a-option>
          <a-option label="彩扫" value="2"></a-option>
        </a-select>
      </template>
    </a-table>
  </a-modal>
</template>
<script lang="ts">
import {
  defineComponent,
  ref,
  watch,
  reactive,
  h,
  toRefs,
  computed,
  onMounted,
  nextTick,
} from 'vue';
import { receiptDocumentsApi } from '@/api/receiptDocumentsApi/index';
import { emailApi } from '@/api/email/index';
import { useRouter } from 'vue-router';
import { common } from '@/api/common/index';
import { Message, Modal } from '@arco-design/web-vue';
import { contractManage } from '@/api/contractManage';
import itemVue from '@/components/menu/item.vue';
export default defineComponent({
  props: {
    emailID: {
      type: String || Number,
      default: '' || 0,
    },
  },

  setup(props, { attrs, emit, slots }) {
    const visible = ref(false);
    const router = useRouter();
    const dataMap = reactive({
      fromData: {
        clientIdState: '', //委托人
        piNo: '', //PI号
        buyer: '', //国内买家
        portStart: '', //起运港
          portOfLoading:'',
          portEnd: '', //目的港
          portOfDischarge:'',
        eta: '', //预计到港时间
        operator: '', //客服专员
        operatorId: '', //客服专员ID
      },
      columns: [
        {
          slotName: 'operate',
          title: '',
          dataIndex: '',
          width: 50,
          ellipsis: true,
          tooltip: true,
        },
        {
          slotName: 'fileName',
          title: '文件名称',
          dataIndex: 'fileName',
          ellipsis: true,
          tooltip: true,
        },
        {
          slotName: 'documentType',
          title: '单证名称',
          dataIndex: 'documentType',
          ellipsis: true,
          tooltip: true,
        },
        {
          slotName: 'documentsCategory',
          title: '文件类型',
          dataIndex: 'documentsCategory',
          ellipsis: true,
          tooltip: true,
        },
      ],
      okloading: false,
      tableData: [],
      clientIdStateList: [], //委托人
      buyerList: [], //国内买家
      searchPortData: [], //港口
      portList:[],
      customerServiceList: [], //客服专员

      docTypeList: [], // 单证名称
      documentsCategoryList: [
        {
          label: '草稿',
          value: 1,
        },
        {
          label: '彩扫',
          value: 2,
        },
      ], //
    });
    watch(
      () => dataMap.fromData.clientIdState,
      (newval, oldval) => {
        console.log(newval, oldval);
        // functionMap.getMosBuyerList2(newval);
      },
      { immediate: false, deep: true }
    );
    watch(
      () => props.emailID,
      (newval, oldval) => {
        console.log(newval, oldval);
      },
      { immediate: false, deep: true }
    );
    const functionMap = reactive({
      show(list) {
        visible.value = true;
        dataMap.tableData = JSON.parse(JSON.stringify(list)) || [];
        functionMap.getMosBuyerList2();
        functionMap.getPortList();
        functionMap.getRole();
        functionMap.getDocType();
      },
      getMosBuyerList2(queryString: any) {
        let params = {
          relationType: 8,
          name: queryString || '',
          hasTradeCode: '',
        };
        emailApi.getMosBuyerList2(params).then((res) => {
          dataMap.clientIdStateList = res.data;
          dataMap.buyerList = res.data;
        });
      },
      getPortList() {
        common.getPortList().then((res) => {
          dataMap.searchPortData = res.data;
        });
        common
          .portAreaList({
            countryId: 104,
          })
          .then((res) => {
            if (res.code == 200) {
              dataMap.portList = res.data;
            }
          });
      },
      getRole() {
        let params = {
          roleType: 4,
        };
        emailApi.getRole(params).then((res) => {
          dataMap.customerServiceList = res.data;
        });
      },
      handleSearch(val, type) {
        let params = {
          relationType: 8,
          name: val || '',
          hasTradeCode: '',
        };
        emailApi.getMosBuyerList2(params).then((res) => {
          if (type == '委托人') {
            dataMap.clientIdStateList = res.data;
          } else {
            dataMap.buyerList = res.data;
          }
        });
      },
      // 港模糊查询
      filterHandlePort(val, option) {
        return (
          option.label.toLowerCase().indexOf(val.toLowerCase()) > -1 ||
          option.value.indexOf(val) > -1
        );
      },
      changeOperator(item) {
        console.log(item);
      },
      changePort(val,n){
        if(n==1){
         dataMap.fromData.portOfLoading = dataMap.searchPortData.find(
            (item) => item.seaportName === val
          ).seaportCode;
        }else{
           dataMap.fromData.portOfDischarge = dataMap.portList.find(
            (item) => item.seaportName === val
          ).seaportCode;
        }
      },
      change1(item) {
        if (item.documentType == '1943' || item.documentType == '1944') {
          item.documentsCategory = '2';
        }
      },
      getDocType() {
        common.getDocType().then((res) => {
          dataMap.docTypeList = res.data;
        });
      },

      request(option) {
        common.fileUpload({ file: option.fileItem.file }).then((res) => {
          dataMap.tableData.push({
            fileName: res.data.fileName,
            fileUrl: res.data.url,
            fileDown: res.data.url,
          });
          // addTableColumns(res.data);
        });
      },

      toDel(item, i) {
        dataMap.tableData.splice(i, 1);
      },
      handleCancel() {
        dataMap.fromData.clientIdState = '';
        dataMap.fromData.piNo = '';
        dataMap.fromData.buyer = '';
        dataMap.fromData.portStart = '';
        dataMap.fromData.portEnd = '';
        dataMap.fromData.eta = '';
        dataMap.fromData.operator = '';
        dataMap.fromData.operatorId = '';
        dataMap.tableData = [];
        visible.value = false;
      },
      handleSubmit(done) {
        formRef.value.validate((error, values) => {
          if (!error) {
            let arr = [];
            if (dataMap.tableData.length > 0) {
              dataMap.tableData.forEach((item) => {
                let obj = {};
                Object.assign(obj, item);
                arr.push(obj);
              });
            }

            let params = {
              mailInfoId: props.emailID,
              orderLogisticsByMailDTO: {
                clientId: dataMap.fromData.clientIdState,
                domesticBuyerId: dataMap.fromData.buyer,
                portOfLoading: dataMap.fromData.portOfLoading,
                portOfDischarge: dataMap.fromData.portOfDischarge,
                eta: dataMap.fromData.eta,
                // operator: dataMap.fromData.operator,
                operatorId: dataMap.fromData.operatorId,
                piNo: dataMap.fromData.piNo,
              },
              auditOrderDTOS: arr || [],
            };
            emailApi.newEmailExamine(params).then((res) => {
              if (res.code == '200') {
                done();
                emit('refresh');
                router.push({
                  path: '/mos/examineOrderDetail',
                  query: {
                    orderLogisticsNo: res.data.orderLogisticsNo,
                  },
                });
              } else {
                done(false);
                dataMap.okloading = false;
              }
            });
          } else {
            done(false);
          }
        });
      },
    });

    const formRef = ref();

    return {
      visible,
      ...toRefs(dataMap),
      ...toRefs(functionMap),
      formRef,
    };
  },
});
</script>
<style lang="less" scoped>
.arco-form {
  width: 100%;
  flex-direction: row;
  flex-wrap: wrap;
  .arco-form-item {
    flex: 1 1 calc((100% - 144px) / 3);
    max-width: calc((100% - 144px) / 3);
    // margin-top: 24px;
    // margin-bottom: 0;
    margin-right: 72px;
    &:nth-of-type(3n) {
      margin-right: 0px;
    }
    :deep .arco-form-item-label-col {
      margin-bottom: 4px;
    }
    :deep .arco-picker,
    .arco-select-view-single {
      width: 100%;
      padding-right: 0;
    }
  }
}

.search-foot {
  width: 100%;
  display: flex;
  justify-content: space-between;
  span:first-of-type {
    margin-right: 20px;
  }
}
.fujian {
  color: var(--color-text-2);
  font-size: 14px;
  margin-top: 0;
  margin-bottom: 4px;
}
</style>
