<template>
  <a-modal
    v-model:visible="visible"
    :mask-closable="false"
    :width="1000"
    @before-ok="handleSubmit"
    @cancel="cancel"
    :ok-loading="false"
    okText="下一步"
    :body-style="{
      'max-height': '60vh',
      'min-height': '250px',
      'overflow-y': 'auto',
    }"
  >
    <template #title> 关联运单 </template>
    <a-input-search
      v-model="option.keyword"
      :style="{ width: '320px' }"
      placeholder="搜索业务编号/PI号/委托人/国内买家"
      class="keyword"
      @input="changeKeyword"
      @press-enter="changeKeyword"
    />
    <a-table
      :columns="columns"
      :data="tableData"
      :loading="loading"
      :pagination="false"
      class="table"
    >
      <template #checked="{ record, rowIndex }">
        <a-radio-group
          v-model="record.checked"
          @change="changeRadio(record, rowIndex)"
        >
          <a-radio :value="1"></a-radio>
        </a-radio-group>
        <!-- <a-radio
          :value="record.checked"
          @change="changeRadio(record, rowIndex)"
        ></a-radio> -->
        <!-- {{ rowIndex + 1 }} -->
      </template>
    </a-table>
    <div class="page"
      ><a-pagination
        :total="total"
        :current="option.pageNum"
        :page-size="option.pageSize"
        @change="paginationChange"
        simple
        size="mini"
    /></div>
  </a-modal>
  <fileDialog ref="fileDialogRef" @successUp="successUp"></fileDialog>
</template>
<script lang="ts">
  import {
    defineComponent,
    ref,
    watch,
    reactive,
    h,
    toRefs,
    computed,
    onMounted,
    nextTick,
  } from 'vue';
  import { receiptDocumentsApi } from '@/api/receiptDocumentsApi/index';
  import { emailApi } from '@/api/email/index';
  import { common } from '@/api/common/index';
  import { contractManage } from '@/api/contractManage';
  import { Message } from '@arco-design/web-vue';
  import fileDialog from './fileDialog.vue';
  export default defineComponent({
    props: {
      emailID: {
        type: String || Number,
        default: '' || 0,
      },
      emailDetail: {
        type: Object,
        default: {},
      },
    },
    components: {
      fileDialog,
    },
    setup(props, { attrs, emit, slots }) {
      const visible = ref(false);
      const dataMap = reactive({
        option: {
          keyword: '',
          pageNum: 1,
          pageSize: 10,
        },
        total: 0,
        PaginationProps: {},
        loading: true,
        tableData: [],
        columns: [
          {
            title: '#',
            slotName: 'checked',
            dataIndex: 'checked',
            width: 100,
          },
          {
            title: '业务编号',
            slotName: 'orderLogisticsNo',
            dataIndex: 'orderLogisticsNo',
            ellipsis: true,
            tooltip: true,
          },
          {
            title: 'PI号',
            slotName: 'piNo',
            dataIndex: 'piNo',
            ellipsis: true,
            tooltip: true,
          },
          {
            title: '委托人',
            slotName: 'clientName',
            dataIndex: 'clientName',
            ellipsis: true,
            tooltip: true,
          },
          {
            title: '国内买家',
            slotName: 'domesticBuyerName',
            dataIndex: 'domesticBuyerName',
            ellipsis: true,
            tooltip: true,
          },
          {
            title: '起运港',
            slotName: 'portOfLoading',
            dataIndex: 'portOfLoading',
            ellipsis: true,
            tooltip: true,
          },
          {
            title: '目的港',
            slotName: 'portOfDischarge',
            dataIndex: 'portOfDischarge',
            ellipsis: true,
            tooltip: true,
          },
        ],
      });

      watch(
        () => props.emailID,
        (newval, oldval) => {
          console.log(newval, oldval);
        },
        { immediate: false, deep: true }
      );
      const functionMap = reactive({
        show() {
          visible.value = true;
          dataMap.option.keyword = '';
          dataMap.option.pageNum = 1;
          functionMap.getRelationOrderList();
        },
        getRelationOrderList() {
          emailApi.getRelationOrderList({ ...dataMap.option }).then((res) => {
            if (res.code == 200) {
              dataMap.tableData = res.data.list || [];
              dataMap.total = res.data.total;
              dataMap.tableData.forEach((item) => {
                item.checked = 0;
              });
            }

            dataMap.loading = false;
          });
        },
        changeRadio(item, index) {
          console.log(item, index);
          dataMap.tableData.forEach((ele) => {
            ele.checked = 0;
          });
          item.checked = 1;
        },
        changeKeyword() {
          functionMap.getRelationOrderList();
        },
        //分页
        paginationChange(page: Number) {
          console.log(page);
          dataMap.option.pageNum = page;
          functionMap.getRelationOrderList();
        },
        successUp() {
          dataMap.tableData.forEach((ele) => {
            ele.checked = 0;
          });
          visible.value = false;
          emit('refresh1');
        },
      });

      const cancel = () => {
        // visible.value = false;
      };
      const handleSubmit = (done) => {
        const arr = [];
        dataMap.tableData.forEach((item) => {
          if (item.checked == 1) {
            arr.push(item);
          }
        });
        console.log(arr);
        if (arr.length) {
          fileDialogRef.value.show(
            props.emailDetail,
            arr[0].orderLogisticsNo,
            props.emailID
          );
          done(false);
        } else {
          Message.warning('请先选择关联的运单');
          done(false);
        }
      };

      const fileDialogRef = ref(null);
      return {
        visible,
        ...toRefs(dataMap),
        ...toRefs(functionMap),
        cancel,
        handleSubmit,
        fileDialogRef,
      };
    },
  });
</script>
<style lang="less" scoped>
  .keyword {
    margin-bottom: 24px;
  }
  .table {
    min-height: 200px;
    max-height: 500px;
    overflow-y: auto;
  }
  .page {
    display: flex;
    flex-direction: row-reverse;
    margin-top: 20px;
  }
</style>
