<template>
  <a-modal
    v-model:visible="visible"
    :mask-closable="false"
    width="800px"
    @before-ok="handleSubmit"
    unmountOnClose
    :ok-loading="false"
    :body-style="{
      'width': '800px',
      'max-height': '60vh',
      'min-height': '250px',
      'overflow-y': 'auto',
    }"
  >
    <template #title> {{ type }} </template>

    <a-form
      ref="formRef"
      layout="horizontal"
      :model="fromData"
      auto-label-width
    >
      <a-form-item
        label="收件人"
        field="receive"
        class="w60"
        :rules="[{ required: true, message: '收件人必填' }]"
      >
        <a-select
          v-model="fromData.receive"
          multiple
          :max-tag-count="1"
          allow-search
          allow-create
        >
          <a-option
            v-for="item of receiveList"
            :value="item"
            :label="item"
            :key="item"
          />
        </a-select>
      </a-form-item>
      <a-form-item label="抄送人" field="cc" class="w60">
        <a-select
          v-model="fromData.cc"
          multiple
          :max-tag-count="1"
          allow-search
          allow-create
        >
          <a-option
            v-for="item of receiveList"
            :value="item"
            :label="item"
            :key="item"
          />
        </a-select>
      </a-form-item>
      <a-form-item
        label="主题"
        field="theme"
        class="w60"
        :rules="[{ required: true, message: '主题必填' }]"
      >
        <a-input v-model="fromData.theme" allow-clear />
      </a-form-item>
      <a-form-item label="附件" field="file">
        <div class="file">
          <a-upload accept :show-file-list="false" :custom-request="request">
            <template #upload-button>
              <a-button type="text" status="primary"
                ><template #icon> <icon-upload /> </template>上传附件</a-button
              >
            </template>
          </a-upload>
          <div class="file-box">
            <div v-for="(item, index) in files" :key="index" class="item">
              <div class="name">{{ item.fileName }}</div>
              <div class="del" @click="delFile(index)"><icon-delete /></div>
            </div>
          </div>
        </div>
      </a-form-item>
    </a-form>
    <QuillEditor
      v-model:content="html"
      class="quillEditorRef"
      ref="quillEditorRef"
      :options="options"
      style="min-height: 200px"
      @blur="onEditorBlur($event)"
      @focus="onEditorFocus($event)"
      @change="onEditorChange($event)"
    />
    <template #footer>
      <div class="footer">
        <a-button @click="cancel">取消</a-button>
        <a-button type="outline" @click="writeEmail(1)">存为草稿</a-button>
        <a-button type="primary" @click="writeEmail(2)">发送</a-button>
      </div>
    </template>
  </a-modal>
</template>
<script lang="ts">
  import {
    defineComponent,
    ref,
    watch,
    reactive,
    h,
    toRefs,
    computed,
    onMounted,
    nextTick,
  } from 'vue';
  import { receiptDocumentsApi } from '@/api/receiptDocumentsApi/index';
  import { emailApi } from '@/api/email/index';
  import { common } from '@/api/common/index';
  import { contractManage } from '@/api/contractManage';
  import itemVue from '@/components/menu/item.vue';
  import components from '@/components';
  import { Message } from '@arco-design/web-vue';
  import { QuillEditor } from '@vueup/vue-quill';
  import '@vueup/vue-quill/dist/vue-quill.snow.css';
  import '@vueup/vue-quill/dist/vue-quill.bubble.css';
  export default defineComponent({
    props: {
      activeType: {
        type: String || Number,
        default: '' || 0,
      },
      accountList: {
        type: Array,
        default: [],
      },
    },
    components: {
      QuillEditor,
    },
    setup(props, { attrs, emit, slots }) {
      const visible = ref(false);
      const globalOptions = {
        debug: 'info',
        modules: {
          toolbar: {
            container: [
              ['bold', 'italic', 'underline', 'strike'],
              ['blockquote', 'code-block'],
              [{ header: 1 }, { header: 2 }],
              [{ list: 'ordered' }, { list: 'bullet' }],
              [{ script: 'sub' }, { script: 'super' }],
              [{ indent: '-1' }, { indent: '+1' }],
              [{ direction: 'rtl' }],
              [{ size: ['small', false, 'large', 'huge'] }],
              [{ header: [1, 2, 3, 4, 5, 6, false] }],
              [{ color: [] }, { background: [] }],
              [{ font: [] }],
              [{ align: [] }],
              ['clean', 'link', 'image'],
              ['addBtn'],
            ], // 自定义工具栏选项
          },
        },
        placeholder: '请输入...',
        readOnly: false,
        theme: 'snow',
      };
      const dataMap = reactive({
        options: globalOptions,
        emailDetail111: {},
        orderLogisticsNo: '',
        receiveList: [],
        files: [],
        fromData: {
          // account: '',
          receive: [],
          cc: [],
          theme: '',
        },
        html: '',
        type: '',
        // accountList: [],
      });

      const functionMap = reactive({
        show(emailDetail111, type) {
          dataMap.type = type;
          dataMap.emailDetail111 = emailDetail111;
          setTimeout(() => {
            // dataMap.html = quillEditorRef.value.pasteHTML(
            //   emailDetail111.emailContent
            // );

            let html = '<br/><br/><p>----原有邮件内容---</p><br/>'+ emailDetail111.emailContent
            dataMap.html =  quillEditorRef.value.pasteHTML(html);
          });

          dataMap.fromData.cc = emailDetail111.emailCcAddress
            ? emailDetail111.emailCcAddress.split(',')
            : [];
          if (type == '回复邮件') {
            dataMap.fromData.receive =
              emailDetail111.emailFormAddress.split(',');
            dataMap.fromData.theme = '回复：' + emailDetail111.emailSubject;
            dataMap.files = [];
          } else {
            dataMap.fromData.receive = [];
            dataMap.fromData.theme = emailDetail111.emailSubject;
            dataMap.files = emailDetail111.mailInfoFileDTOS;
          }
          // dataMap.fromData.account = props.accountList[props.activeType].id;
          functionMap.getReceiverList(
            props.accountList[props.activeType].emailAddress
          );
          visible.value = true;
        },
        //收件人列表
        getReceiverList(val) {
          let params = {
            // orderLogisticsNo: dataMap.orderLogisticsNo,
            emailAddress: val,
          };
          emailApi.getReceiverList(params).then((res) => {
            dataMap.receiveList = res.data;
            console.log(dataMap.receiveList);
          });
        },
        request(option) {
          common.fileUpload({ file: option.fileItem.file }).then((res) => {
            dataMap.files.push({
              fileName: res.data.fileName,
              fileUrl: res.data.url,
            });
            // addTableColumns(res.data);
          });
        },
        delFile(i) {
          dataMap.files.splice(i, 1);
        },
        onEditorBlur(editor) {},
        onEditorFocus(editor) {},
        onEditorChange({ editor, html, text }) {
          console.log(1);
        },
        cancel() {
          console.error(123);
          dataMap.fromData.receive = [];
          dataMap.fromData.cc = [];
          dataMap.fromData.theme = '';
          dataMap.files = [];
          dataMap.html = '';
          visible.value = false;
        },
        writeEmail(n) {
          formRef.value.validate((error, values) => {
            if (!error) {
              let mailAddType;
              if (dataMap.type == '回复邮件') {
                mailAddType = 2;
              }
              if (dataMap.type == '转发邮件') {
                mailAddType = 4;
              }
              if (dataMap.type == '编辑邮件') {
                mailAddType = 1;
              }
              console.log(dataMap.fromData.receive);
              let params = {
                
                mailAddType: mailAddType,
                emailAddress: dataMap.emailDetail111.emailAddress, //发件人的邮箱地址
                emailToAddress: dataMap.fromData.receive.join(';'), //收件人地址
                emailCcAddress: dataMap.fromData.cc.join(';'),
                emailSubject: dataMap.fromData.theme, //主题
                emailContent: quillEditorRef.value.getHTML(dataMap.html),
                orderLogisticsNo: dataMap.emailDetail111.orderLogisticsNo,
                fileUrls: dataMap.files,
                emailReplyId: dataMap.emailDetail111.id,
                forwardEmailId: dataMap.emailDetail111.id, //转发的邮件id
                draftFlag: n == 1 ? true : false, //是否草稿件
              };
              emailApi.writeEmail(params).then((res) => {
                if (res.code == 200) {
                  functionMap.cancel();
                  Message.success(n == 1 ? '保存成功' : '发送成功');
                  emit('refresh1');
                }

                // dataMap.files.push({
                //   fileName: res.data.fileName,
                //   fileUrl: res.data.url,
                // });
                // addTableColumns(res.data);
              });
            } else {
            }
          });
        },
      });
      const formRef = ref(null);
      const quillEditorRef = ref(null);
      return {
        visible,
        ...toRefs(dataMap),
        ...toRefs(functionMap),
        formRef,
        quillEditorRef,
      };
    },
  });
</script>
<style lang="less" scoped>
  .account {
    width: 300px;
    margin-bottom: 20px;
  }
  .arco-form {
    width: 100%;
    .w60 {
      width: 60%;
    }
  }
  .arco-form-item-content-flex {
    width: 100%;
  }
  .file-box {
    display: flex;
    flex-wrap: wrap;
    margin-top: 8px;
    .item {
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 30px;
      line-height: 30px;
      width: 228px;
      padding-left: 16px;
      padding-right: 16px;
      background: #f7f8fa;
      border-radius: 2px;
      font-size: 14px;
      color: #212121;
      margin-right: 8px;
      margin-bottom: 8px;

      &:nth-of-type(3n) {
        margin-right: 0px;
      }
      .name {
        flex: 1;
        overflow: hidden; /* 移除隐藏 */
        text-overflow: ellipsis; /* 省略号 */
        white-space: nowrap; /* 禁止文字自动换行 */
      }
      .del {
        margin-left: 16px;
        cursor: pointer;
      }
    }
  }
  .footer {
    .arco-btn {
      margin-left: 12px;
    }
  }
</style>
