<template>
  <a-modal
    v-model:visible="visible"
    :mask-closable="false"
    @before-ok="handleSubmit"
    unmountOnClose
    width="800px"
    :ok-loading="false"
    :body-style="{
      'max-height': '60vh',
      'min-height': '250px',
      'overflow-y': 'auto',
    }"
  >
    <template #title> 写邮件 </template>
    <div class="account"
      ><a-select v-model="fromData.account" :bordered="false">
        <a-option
          v-for="item of accountList"
          :value="item.id"
          :label="item.emailAddress"
          :key="item.id"
        /> </a-select
    ></div>

    <a-form
      ref="formRef"
      layout="horizontal"
      :model="fromData"
      auto-label-width
    >
      <a-form-item
        label="收件人"
        field="receive"
        class="w60"
        :rules="[{ required: true, message: '收件人必填' }]"
      >
        <a-select
          v-model="fromData.receive"
          multiple
          :max-tag-count="1"
          allow-search
          allow-create
        >
          <a-option
            v-for="item of receiveList"
            :value="item"
            :label="item"
            :key="item"
          />
        </a-select>
      </a-form-item>
      <a-form-item label="抄送人" field="cc" class="w60">
        <a-select
          v-model="fromData.cc"
          multiple
          :max-tag-count="1"
          allow-search
          allow-create
        >
          <a-option
            v-for="item of receiveList"
            :value="item"
            :label="item"
            :key="item"
          />
        </a-select>
      </a-form-item>
      <a-form-item
        label="主题"
        field="theme"
        class="w60"
        :rules="[{ required: true, message: '主题必填' }]"
      >
        <a-input v-model="fromData.theme" allow-clear />
      </a-form-item>
      <a-form-item label="运单" field="run">
        <div class="run">
          <a-button type="text" status="primary" @click="toRun"
            ><template #icon> <icon-link /> </template>关联运单</a-button
          >
          <div v-if="orderLogisticsNo">{{ orderLogisticsNo }}</div>
        </div>
      </a-form-item>
      <a-form-item label="附件" field="file">
        <div class="file">
          <a-upload accept :show-file-list="false" :custom-request="request">
            <template #upload-button>
              <a-button type="text" status="primary"
                ><template #icon> <icon-upload /> </template>上传附件</a-button
              >
            </template>
          </a-upload>
          <div class="file-box">
            <div v-for="(item, index) in files" :key="index" class="item">
              <div class="name">{{ item.fileName }}</div>
              <div class="del" @click="delFile(index)"><icon-delete /></div>
            </div>
          </div>
        </div>
      </a-form-item>
    </a-form>

    <QuillEditor
      v-model:content="html"
      class="quillEditorRef"
      ref="quillEditorRef"
      style="min-height: 200px"
      :options="options"
      @blur="onEditorBlur($event)"
      @focus="onEditorFocus($event)"
      @change="onEditorChange($event)"
    />
    <template #footer>
      <div class="footer">
        <a-button @click="cancel()">取消</a-button>
        <a-button type="outline" @click="writeEmail(1)">存为草稿</a-button>
        <a-button type="primary" @click="writeEmail(2)">发送</a-button>
      </div>
    </template>
  </a-modal>
  <run ref="runRef" @updateRun="updateRun"></run>
</template>
<script lang="ts">
  import {
    defineComponent,
    ref,
    watch,
    reactive,
    h,
    toRefs,
    computed,
    onMounted,
    nextTick,
  } from 'vue';
  import { receiptDocumentsApi } from '@/api/receiptDocumentsApi/index';
  import { emailApi } from '@/api/email/index';
  import { common } from '@/api/common/index';
  import { contractManage } from '@/api/contractManage';
  import itemVue from '@/components/menu/item.vue';
  import run from './runDialog.vue';
  import components from '@/components';
  import { Message } from '@arco-design/web-vue';
  import { QuillEditor } from '@vueup/vue-quill';
  import '@vueup/vue-quill/dist/vue-quill.snow.css';
  import '@vueup/vue-quill/dist/vue-quill.bubble.css';
  export default defineComponent({
    props: {
      activeType: {
        type: String || Number,
        default: '' || 0,
      },
      accountList: {
        type: Array,
        default: [],
      },
    },
    components: {
      run,
      QuillEditor,
    },
    setup(props, { attrs, emit, slots }) {
      const visible = ref(false);
      const globalOptions = {
        debug: 'info',
        modules: {
          toolbar: {
            container: [
              ['bold', 'italic', 'underline', 'strike'],
              ['blockquote', 'code-block'],
              [{ header: 1 }, { header: 2 }],
              [{ list: 'ordered' }, { list: 'bullet' }],
              [{ script: 'sub' }, { script: 'super' }],
              [{ indent: '-1' }, { indent: '+1' }],
              [{ direction: 'rtl' }],
              [{ size: ['small', false, 'large', 'huge'] }],
              [{ header: [1, 2, 3, 4, 5, 6, false] }],
              [{ color: [] }, { background: [] }],
              [{ font: [] }],
              [{ align: [] }],
              ['clean', 'link', 'image'],
              ['addBtn'],
            ], // 自定义工具栏选项
          },
        },
        placeholder: '请输入...',
        readOnly: false,
        theme: 'snow',
      };
      const dataMap = reactive({
        options: globalOptions,
        orderLogisticsNo: '',
        receiveList: [],
        files: [],
        fromData: {
          account: '',
          receive: [],
          cc: [],
          theme: '',
          run: '',
        },
        html: '',
        // accountList: [],
      });
      const functionMap = reactive({
        show() {
          visible.value = true;
          dataMap.fromData.account = props.accountList[props.activeType].id;
          functionMap.getReceiverList(
            props.accountList[props.activeType].emailAddress
          );
          // functionMap.dialogOpen();
        },
        onEditorBlur(editor) {},
        onEditorFocus(editor) {},
        onEditorChange({ editor, html, text }) {
          console.log(1);
        },
        toRun() {
          runRef.value.show();
        },
        updateRun(run) {
          dataMap.orderLogisticsNo = run;
        },
        //收件人列表
        getReceiverList(val) {
          let params = {
            // orderLogisticsNo: dataMap.orderLogisticsNo,
            emailAddress: val,
          };
          emailApi.getReceiverList(params).then((res) => {
            dataMap.receiveList = res.data;
            console.log(dataMap.receiveList);
          });
        },
        request(option) {
          common.fileUpload({ file: option.fileItem.file }).then((res) => {
            dataMap.files.push({
              fileName: res.data.fileName,
              fileUrl: res.data.url,
            });
            // addTableColumns(res.data);
          });
        },
        delFile(i) {
          dataMap.files.splice(i, 1);
        },
        cancel() {
          dataMap.orderLogisticsNo = '';
          dataMap.fromData.account = '';
          dataMap.fromData.receive = [];
          dataMap.fromData.cc = [];
          dataMap.fromData.theme = '';
          dataMap.fromData.run = '';
          dataMap.files = [];
          dataMap.html = '';
          visible.value = false;
        },
        writeEmail(n) {
          formRef.value.validate((error, values) => {
            if (!error) {
              let account = '';
              props.accountList.forEach((item) => {
                if (item.id == dataMap.fromData.account) {
                  account = item.emailAddress;
                }
              });
              console.log(dataMap.fromData.receive);
              let params = {
                // mailInfoId:this.mailInfoId,
                mailAddType: 1,
                emailAddress: account, //发件人的邮箱地址
                emailToAddress: dataMap.fromData.receive.join(';'), //收件人地址
                emailCcAddress: dataMap.fromData.cc.join(';'),
                emailSubject: dataMap.fromData.theme, //主题
                emailContent: quillEditorRef.value.getHTML(dataMap.html),
                orderLogisticsNo: dataMap.orderLogisticsNo,
                fileUrls: dataMap.files,
                draftFlag: n == 1 ? true : false,
              };
              emailApi.writeEmail(params).then((res) => {
                if (res.code == 200) {
                  functionMap.cancel();
                  Message.success(n == 1 ? '保存成功' : '发送成功');
                  emit('refresh1');
                }
              });
            } else {
            }
          });
        },
      });
      const quillEditorRef = ref(null);
      const formRef = ref(null);
      const runRef = ref(null);
      return {
        visible,
        ...toRefs(dataMap),
        ...toRefs(functionMap),
        quillEditorRef,
        formRef,
        runRef,
      };
    },
  });
</script>
<style lang="less" scoped>
  .account {
    width: 300px;
    margin-bottom: 20px;
  }
  .arco-form {
    width: 100%;
    .w60 {
      width: 60%;
    }
  }
  .arco-form-item-content-flex {
    width: 100%;
  }
  .file-box {
    display: flex;
    flex-wrap: wrap;
    margin-top: 8px;
    .item {
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 30px;
      line-height: 30px;
      width: 228px;
      padding-left: 16px;
      padding-right: 16px;
      background: #f7f8fa;
      border-radius: 2px;
      font-size: 14px;
      color: #212121;
      margin-right: 8px;
      margin-bottom: 8px;

      &:nth-of-type(3n) {
        margin-right: 0px;
      }
      .name {
        flex: 1;
        overflow: hidden; /* 移除隐藏 */
        text-overflow: ellipsis; /* 省略号 */
        white-space: nowrap; /* 禁止文字自动换行 */
      }
      .del {
        margin-left: 16px;
        cursor: pointer;
      }
    }
  }
  .editor {
  }
  .footer {
    .arco-btn {
      margin-left: 12px;
    }
  }
  .quillEditorRef {
    min-height: 300px;
  }
</style>
<style>
  .ql-snow .ql-picker.ql-size .ql-picker-label[data-value='12px']::before,
  .ql-snow .ql-picker.ql-size .ql-picker-item[data-value='12px']::before {
    content: '12px';
    font-size: 12px;
  }
  .ql-snow .ql-picker.ql-size .ql-picker-label[data-value='14px']::before,
  .ql-snow .ql-picker.ql-size .ql-picker-item[data-value='14px']::before {
    content: '14px';
    font-size: 14px;
  }
  .ql-snow .ql-picker.ql-size .ql-picker-label[data-value='16px']::before,
  .ql-snow .ql-picker.ql-size .ql-picker-item[data-value='16px']::before {
    content: '16px';
    font-size: 16px;
  }
  .ql-snow .ql-picker.ql-size .ql-picker-label[data-value='18px']::before,
  .ql-snow .ql-picker.ql-size .ql-picker-item[data-value='18px']::before {
    content: '18px';
    font-size: 18px;
  }
  .ql-snow .ql-picker.ql-size .ql-picker-label[data-value='20px']::before,
  .ql-snow .ql-picker.ql-size .ql-picker-item[data-value='20px']::before {
    content: '20px';
    font-size: 20px;
  }
  .ql-snow .ql-picker.ql-size .ql-picker-label[data-value='22px']::before,
  .ql-snow .ql-picker.ql-size .ql-picker-item[data-value='22px']::before {
    content: '22px';
    font-size: 22px;
  }
  .ql-snow .ql-picker.ql-size .ql-picker-label[data-value='24px']::before,
  .ql-snow .ql-picker.ql-size .ql-picker-item[data-value='24px']::before {
    content: '24px';
    font-size: 24px;
  }
  .ql-snow .ql-picker.ql-size .ql-picker-label[data-value='26px']::before,
  .ql-snow .ql-picker.ql-size .ql-picker-item[data-value='26px']::before {
    content: '26px';
    font-size: 26px;
  }
  .ql-snow .ql-picker.ql-size .ql-picker-label[data-value='28px']::before,
  .ql-snow .ql-picker.ql-size .ql-picker-item[data-value='28px']::before {
    content: '28px';
    font-size: 28px;
  }
  .ql-snow .ql-picker.ql-size .ql-picker-label[data-value='30px']::before,
  .ql-snow .ql-picker.ql-size .ql-picker-item[data-value='30px']::before {
    content: '30px';
    font-size: 30px;
  }
  /* // 字体 */
  .ql-snow .ql-picker.ql-font .ql-picker-label[data-value='SimSun']::before,
  .ql-snow .ql-picker.ql-font .ql-picker-item[data-value='SimSun']::before {
    content: '宋体';
    font-family: 'SimSun';
  }
  .ql-snow .ql-picker.ql-font .ql-picker-label[data-value='SimHei']::before,
  .ql-snow .ql-picker.ql-font .ql-picker-item[data-value='SimHei']::before {
    content: '黑体';
    font-family: 'SimHei';
  }
  .ql-snow
    .ql-picker.ql-font
    .ql-picker-label[data-value='Microsoft-YaHei']::before,
  .ql-snow
    .ql-picker.ql-font
    .ql-picker-item[data-value='Microsoft-YaHei']::before {
    content: '微软雅黑';
    font-family: 'Microsoft YaHei';
  }
  .ql-snow .ql-picker.ql-font .ql-picker-label[data-value='KaiTi']::before,
  .ql-snow .ql-picker.ql-font .ql-picker-item[data-value='KaiTi']::before {
    content: '楷体';
    font-family: 'KaiTi';
  }
  .ql-snow .ql-picker.ql-font .ql-picker-label[data-value='FangSong']::before,
  .ql-snow .ql-picker.ql-font .ql-picker-item[data-value='FangSong']::before {
    content: '仿宋';
    font-family: 'FangSong';
  }
  .ql-snow .ql-picker.ql-font .ql-picker-label[data-value='Arial']::before,
  .ql-snow .ql-picker.ql-font .ql-picker-item[data-value='Arial']::before {
    content: 'Arial';
    font-family: 'Arial';
  }
  .ql-snow
    .ql-picker.ql-font
    .ql-picker-label[data-value='Times-New-Roman']::before,
  .ql-snow
    .ql-picker.ql-font
    .ql-picker-item[data-value='Times-New-Roman']::before {
    content: 'Times New Roman';
    font-family: 'Times New Roman';
  }
  .ql-snow .ql-picker.ql-font .ql-picker-label[data-value='sans-serif']::before,
  .ql-snow .ql-picker.ql-font .ql-picker-item[data-value='sans-serif']::before {
    content: 'sans-serif';
    font-family: 'sans-serif';
  }

  .ql-snow .ql-tooltip[data-mode='link']::before {
    content: '请输入链接地址:';
  }
  .ql-snow .ql-tooltip.ql-editing a.ql-action::after {
    border-right: 0px;
    content: '保存';
    padding-right: 0px;
  }

  .ql-snow .ql-picker.ql-header .ql-picker-label::before,
  .ql-snow .ql-picker.ql-header .ql-picker-item::before {
    content: '文本';
  }
  .ql-snow .ql-picker.ql-header .ql-picker-label[data-value='1']::before,
  .ql-snow .ql-picker.ql-header .ql-picker-item[data-value='1']::before {
    content: '标题1';
  }
  .ql-snow .ql-picker.ql-header .ql-picker-label[data-value='2']::before,
  .ql-snow .ql-picker.ql-header .ql-picker-item[data-value='2']::before {
    content: '标题2';
  }
  .ql-snow .ql-picker.ql-header .ql-picker-label[data-value='3']::before,
  .ql-snow .ql-picker.ql-header .ql-picker-item[data-value='3']::before {
    content: '标题3';
  }
  .ql-snow .ql-picker.ql-header .ql-picker-label[data-value='4']::before,
  .ql-snow .ql-picker.ql-header .ql-picker-item[data-value='4']::before {
    content: '标题4';
  }
  .ql-snow .ql-picker.ql-header .ql-picker-label[data-value='5']::before,
  .ql-snow .ql-picker.ql-header .ql-picker-item[data-value='5']::before {
    content: '标题5';
  }
  .ql-snow .ql-picker.ql-header .ql-picker-label[data-value='6']::before,
  .ql-snow .ql-picker.ql-header .ql-picker-item[data-value='6']::before {
    content: '标题6';
  }

  .ql-snow .ql-picker.ql-font .ql-picker-label::before,
  .ql-snow .ql-picker.ql-font .ql-picker-item::before {
    content: '标准字体';
  }
  .ql-snow .ql-picker.ql-font .ql-picker-label[data-value='serif']::before,
  .ql-snow .ql-picker.ql-font .ql-picker-item[data-value='serif']::before {
    content: '衬线字体';
  }
  .ql-snow .ql-picker.ql-font .ql-picker-label[data-value='monospace']::before,
  .ql-snow .ql-picker.ql-font .ql-picker-item[data-value='monospace']::before {
    content: '等宽字体';
  }
</style>
