<template>
  <div class="add-contaniner">
    <!-- 报价-->
    <div class="form-box">
      <div class="form-header">
        <div class="header-left">
          <div class="info">
            <div class="line"></div>
            <div>报价</div>
          </div>
          <div class="btn">
            <el-button @click="calculate">报价测算</el-button>
          </div>
        </div>
      </div>
      <div class="tabel-box">
        <el-table :data="offer">
          <el-table-column :label="$t('港口')">
            <template slot-scope="scope">
              <el-select
                filterable
                v-model="scope.row.portCname"
                size="small"
                @change="getCostGoodsName($event, scope.row)"
              >
                <el-option
                  v-for="(item, index) in portList1"
                  :key="index"
                  :label="item.seaportName"
                  :value="item.seaportName"
                >
                </el-option>
              </el-select>
            </template>
          </el-table-column>
          <el-table-column :label="$t('港区')">
            <template slot-scope="scope">
              <el-select v-model="scope.row.portAreaCname" size="small">
                <el-option
                  v-for="item in harbourList1"
                  :key="item.ydWharfCode"
                  :label="item.mosPortArea"
                  :value="item.mosPortArea"
                >
                </el-option>
              </el-select>
            </template>
          </el-table-column>
          <el-table-column :label="$t('门点')" show-overflow-tooltip>
            <template slot-scope="scope">
              <u-address ref="cascader" v-model="scope.row.doorIds" @change="getCostDoor($event, scope.row)"></u-address>
            </template>
          </el-table-column>
          <el-table-column
            align="center"
            property="status"
            :label="$t('箱型箱量')"
          >
            <template slot-scope="scope">
              <div style="display: flex">
                <el-select
                  placeholder="请选择"
                  v-model="scope.row.containerSize"
                  size="small"
                >
                  <el-option
                    v-for="item in boxPileList"
                    :key="item.codeId"
                    :label="item.codeName"
                    :value="item.codeName"
                  >
                  </el-option>
                </el-select>
                <el-select
                  placeholder="请选择"
                  v-model="scope.row.containerType"
                  size="small"
                >
                  <el-option
                    v-for="item in boxPile1List"
                    :key="item.codeId"
                    :label="item.codeName"
                    :value="item.codeName"
                  >
                  </el-option>
                </el-select>
              </div>
            </template>
          </el-table-column>
          <el-table-column
            align="center"
            property="open"
            :label="$t('柜数(柜)')"
          >
            <template slot-scope="scope">
              <div class="input-box">
                <input
                  @blur="minimum(scope.row)"
                  v-model="scope.row.arkNumber"
                  type="text"
                  @change="handleCheckSome($event, scope.row, scope.$index)"
                />
                <span>-</span>
                <input v-model="scope.row.arkNumberEnd" type="text" @change="handleCheckSome($event, scope.row, scope.$index)" />
              </div>
            </template>
          </el-table-column>
          <el-table-column
            align="center"
            property="open1"
            :label="$t('销售底价')"
          >
            <template slot-scope="scope">
              <span>{{ scope.row.costAmount || '-' }}</span>
            </template>
          </el-table-column>
          <el-table-column align="center" property="open2" :label="labelVal">
            <template slot-scope="scope">
              <el-tooltip
                class="item"
                effect="dark"
                :content="scope.row.remark"
                placement="top"
                :value="scope.row.remark ? true : false"
                manual
              >
                <el-input-number
                  @change="(e) => blurQuotation(scope.row, scope.$index)"
                  size="small"
                  class="input-number"
                  :controls="false"
                  v-model="scope.row.quotation"
                  placeholder=""
                >
                </el-input-number>
              </el-tooltip>
            </template>
          </el-table-column>
          <el-table-column align="center" property="address" :label="$t('')">
            <template slot-scope="scope">
              <div class="operation">
                <div
                  class="iconfont icon-xinzeng1"
                  @click="copy(scope.row)"
                ></div>
                <div
                  class="iconfont icon-shanchu"
                  @click="deleteCost(scope.$index, scope.row)"
                ></div>
              </div>
            </template>
          </el-table-column>
        </el-table>
        <el-button v-if="!hideBtn" style="margin: 10px 0 0 10px" @click="addPrice">
          添加报价
        </el-button>
      </div>
    </div>
    <!-- 费用范围 -->
    <div class="form-box">
      <div class="form-header">
        <div class="header-left">
          <div class="info">
            <div class="line"></div>
            <div>费用范围</div>
          </div>
          <div class="btn"></div>
        </div>
      </div>
      <div class="tabel-box">
        <div style="margin-top: 10px" class="cost">
          <div style="margin-top: 15px">
            <el-radio-group
              fill="#1BC5BD"
              type="success"
              size="small"
              @change="switchoverList"
              v-model="radio2"
            >
              <el-radio-button :label="true">包干</el-radio-button>
              <el-radio-button :label="false">非包干</el-radio-button>
            </el-radio-group>
          </div>
          <div>
            <el-table height="350" :data="addCostDataCopy">
              <el-table-column
                align="center"
                property="costItemCname"
                :label="$t('费用项目')"
              ></el-table-column>
              <el-table-column
                align="center"
                property="billingUnit"
                :label="$t('计费单位')"
              ></el-table-column>
              <el-table-column
                align="center"
                property="costAmount"
                :label="$t('成本金额(元)')"
              ></el-table-column>
              <el-table-column
                align="center"
                property="isLumpSum"
                :label="$t('包干')"
              >
                <template slot-scope="scope">
                  <el-switch
                    v-if="!$route.query.id || (!scope.row.isLock && $route.query.id)"
                    :disabled="scope.row.isLock"
                    v-model="scope.row.isLumpSum"
                    :active-value="true"
                    :inactive-value="false"
                    active-color="#1BC5BD"
                    inactive-color="#B9B9B9"
                    @change="changeSwitch(scope.row)"
                  />
                  <span v-else>
                    {{ scope.row.isLumpSum == 1 ? '是' : '否' }}
                  </span>
                </template>
              </el-table-column>
              <el-table-column
                align="center"
                property="isLock"
                :label="$t('锁定')"
              >
                <template slot-scope="scope">
                  <el-switch
                    v-if="!$route.query.id"
                    v-model="scope.row.isLock"
                    :active-value="true"
                    :inactive-value="false"
                    active-color="#1BC5BD"
                    inactive-color="#B9B9B9"
                  />
                  <span v-else>{{ scope.row.isLock ? '是' : '否' }}</span>
                </template>
              </el-table-column>
            </el-table>
          </div>
        </div>
      </div>
    </div>
    <!-- 报价测算弹框 -->
    <el-dialog
      width="60%"
      title="报价测算"
      @close="costCalculateDialog"
      :visible.sync="dialogTableVisible"
    >
      <div class="searchCost">
        <el-form :inline="true" :model="formInline" class="demo-form-inline">
          <el-form-item label-width="50px">
            <el-select
              placeholder="请选择港口"
              filterable
              v-model="formInline.portCname"
              size="small"
              @change="searchGetgoodsName"
            >
              <el-option
                v-for="(item, index) in portList"
                :key="index"
                :label="item.seaportName"
                :value="item.seaportCode"
              >
              </el-option>
            </el-select>
          </el-form-item>
          <el-form-item>
            <el-select
              placeholder="请选择港区"
              v-model="formInline.portAreaCname"
              size="small"
            >
              <el-option
                v-for="(item, index) in harbourList"
                :key="index"
                :label="item.mosPortArea"
                :value="item.mosPortArea"
              >
              </el-option>
            </el-select>
          </el-form-item>
          <el-form-item>
            <el-select
              placeholder="请选择箱量"
              v-model="formInline.containerSize"
              size="small"
            >
              <el-option
                v-for="item in boxPileList"
                :key="item.codeId"
                :label="item.codeName"
                :value="item.codeName"
              >
              </el-option>
            </el-select>
          </el-form-item>
          <el-form-item>
            <el-select
              placeholder="请选择箱型"
              v-model="formInline.containerType"
              size="small"
            >
              <el-option
                v-for="item in boxPile1List"
                :key="item.codeId"
                :label="item.codeName"
                :value="item.codeName"
              >
              </el-option>
            </el-select>
          </el-form-item>
          <el-form-item style="width: 140px">
            <u-address ref="cascaderAddr" v-model="formInline.doorIds" @change="getArea"></u-address>
          </el-form-item>
        </el-form>
      </div>
      <el-table :data="gridData1">
        <el-table-column property="12" label="">
          <template>
            <span>销售底价((元/柜)</span>
          </template>
        </el-table-column>
        <el-table-column property="22" label="计费单位">
          <template>
            <span>CNY</span>
          </template>
        </el-table-column>
        <el-table-column property="1" label="1(柜/票)"></el-table-column>
        <el-table-column property="2" label="2(柜/票)"></el-table-column>
        <el-table-column property="3" label="3(柜/票)"></el-table-column>
        <el-table-column property="4" label="4(柜/票)"></el-table-column>
        <el-table-column property="5" label="5(柜/票)"></el-table-column>
        <el-table-column property="6" label="6(柜/票)"></el-table-column>
        <el-table-column property="7" label="7(柜/票)"></el-table-column>
        <el-table-column property="8" label="8(柜/票)"></el-table-column>
        <el-table-column property="9" label="9(柜/票)"></el-table-column>
        <el-table-column property="10" label="10(柜/票)"></el-table-column>
      </el-table>
    </el-dialog>
    <!-- 选择供应商(货运代理费 -->
    <el-dialog
      width="60%"
      @close="dialogClose"
      title="选择供应商(货运代理费)"
      :visible.sync="supplierDialog"
    >
      <div class="search-supplier"></div>
      <el-table :data="supplierSelect">
        <el-table-column label="选择(单选)">
          <template slot-scope="scope">
            <el-radio @change="radioChange(scope.row)" v-model="radioId"
              >&nbsp;</el-radio
            >
          </template>
        </el-table-column>
        <el-table-column prop="supplierCname" label="供应商"></el-table-column>
        <el-table-column prop="goodsName" label="品类)"></el-table-column>
        <el-table-column prop="portCname" label="港口"></el-table-column>
        <el-table-column prop="portAreaCname" label="港区"></el-table-column>
        <el-table-column prop="doorProvince" label="门点" width="150">
          <template slot-scope="scope">
            <div>
              {{ scope.row.doorProvince }}/{{ scope.row.doorCity }}/{{
                scope.row.doorCounty
              }}
            </div>
          </template>
        </el-table-column>
        <el-table-column
          prop="containerSize"
          label="箱型箱量"
        ></el-table-column>
        <el-table-column prop="unitPrice" label="成本金额"></el-table-column>
        <el-table-column prop="currency" label="币别"></el-table-column>
      </el-table>
      <span slot="footer" class="dialog-footer">
        <el-button type="primary" @click="dialogConfirm">确 定</el-button>
      </span>
    </el-dialog>
  </div>
</template>

<script>
import api from '@/api'
import utils from '@/utils'
import UAddress from '@/views/MOS/CRM/components/address'
export default {
  components: {UAddress},
  data() {
    return {
      labelVal: '报价(元/柜/票)',
      radioId: '',
      supplierSelect: [],
      supplierDialog: false,
      doorIds: [],
      formInline: {}, //报价测算
      forbidden: false,
      beizhu: '',
      gridData1: [],
      dialogTableVisible: false,
      addCostData: [],
      addCostDataCopy:[],
      radio2: true,
      value1: [],
      portList1: [],
      mineStatusValue: [],
      mineStatus: [],
      checkList: [],
      checkedLabel: [],
      gridData: [],
      tableRadio: '',
      checkedList: [],
      dialogVisible: false,
      treeData: [],
      filterForm: {},
      offer: [],
      form: {},
      portData: [],
      harbourList: [],
      portList: [],
      harbourList1: [],
      standardProductsId: null,
      updataId: null,
      pitchOn: {},
      cancelData: {},
    }
  },
  mounted() {
    this.port()
    this.getType()
    if (this.$route.query.id) {
      this.info()
    }
    this.containerSizeList()
    this.switchoverList(this.radio2)
  },
  methods: {
    //低于最低价，需要特批
    blurQuotation(row) {
      if (row.quotation) {
        if (row.quotation < row.costAmount) {
          row.remarkValue = true
          row.remark = '低于最低价，需要特批'
        } else {
          row.remarkValue = false
          row.remark = ''
        }
      } else {
        row.remarkValue = false
        row.remark = ''
      }
    },
    costCalculateDialog() {
      this.formInline = {}
      this.gridData1 = []
    },
    dialogClose() {
      this.supplierSelect = []
      this.radioId = ''
    },
    dialogConfirm() {
      this.offer.forEach((v) => {
        if (v.id === this.updataId) {
          v.costAmount = this.pitchOn.unitPrice
        }
      })
      this.supplierDialog = false
    },
    radioChange(row) {
      this.pitchOn = row
    },
    // 切换费用范围列表
    switchoverList(e) {
      let arr = this.addCostData.filter((item) => {
        return item.isLumpSum == e
      })
      this.addCostDataCopy = arr || []
    },
    minimum(row) {
      this.updataId = row.id
      let data = {
        ...this.form,
        ...row,
      }
      api.standardProduct(data).then((res) => {
        if (res.code == '200') {
          let list = res.data.standardProductsCostItemList
          this.addCostData = list
          this.addCostDataCopy = res.data.quotationTemplateCostItemVOList
          this.switchoverList(this.radio2)
          row.standardProductsId = list[0].standardProductsId
          row.standardProductsCostItemList = list
        } else {
          this.$message.error(res.message)
        }
      })
      row.arkNumber = Number(row.arkNumber)

      // 去除上海港匹配标准产品，非上海港匹配供应商报价的逻辑；改为统一匹配标准产品逻辑
      api.quotationCalculation(data).then((res) => {
        if (res.code == '200') {
          for (let i in res.data.priceInf) {
            if (row.arkNumber == i) {
              this.$set(row, 'costAmount', res.data.priceInf[i])
            }
          }
        }
      })

      // 查询上海/非上海销售底价
      // if (data.portCode == 'CNSHA') {
      //   api.quotationCalculation(data).then((res) => {
      //     if (res.code == '200') {
      //       for (let i in res.data.priceInf) {
      //         if (row.arkNumber == i) {
      //           this.$set(row, 'costAmount', res.data.priceInf[i])
      //         }
      //       }
      //     }
      //   })
      // } else {
      //   api.salesReservePrice(data).then((res) => {
      //     if (res.code == '200') {
      //       if (res.data.list.length <= 1) {
      //         // if(res.data.list.length == 0){
      //         this.$set(row, 'costAmount', res.data.list[0].unitPrice)
      //       } else {
      //         this.supplierDialog = true
      //         this.supplierSelect = res.data.list

      //       }
      //     }
      //   })
      // }
      api.carriageCost(data).then((res) => {
        if (res.code == '200') {
          row.unitPrice = res.unitPrice
          row.unit = res.data.unit
        }
      })
    },
    // 获取报价门点
    getCostDoor(e, row) {
      const thsAreaCode = this.$refs['cascader'].refs.getCheckedNodes()[0]?.pathLabels
      row.doorProvince = thsAreaCode[0]
      row.doorCity = thsAreaCode[1]
      row.doorCounty = thsAreaCode[2]
      row.doorStreet = thsAreaCode[3]
      // 查询运费成本信息
      if (
        row.portCname &&
        row.portAreaCname &&
        row.containerSize &&
        row.containerType &&
        row.arkNumber
      ) {
        api.carriageCost().then((res) => {
          if (res.code == '200') {
            // row.costAmount = row.unitPrice + res.unitPrice
            row.costAmount = row.costAmount - row.unitPrice + res.data.unitPrice
            row.unit = res.data.unit
          }
        })
      }
    },
    copy(row) {
      let data = {
        containerSize: row.containerSize,
        containerType: row.containerType,
        doorIds: row.doorIds,
        doorStreet: row.doorStreet,
        doorCity: row.doorCity,
        doorCounty: row.doorCounty,
        doorProvince: row.doorProvince,
        portAreaCname: row.portAreaCname,
        portCname: row.portCname,
        portCode: row.portCode,
        portEname: row.portEname,
        portId: row.portId
      }
      this.offer.push(data)
    },
    locationsChange(value) {
      this.form.doorIds = value
    },
    // 获取门点 报价测算
    getArea() {
      const thsAreaCode = this.$refs['cascaderAddr'].refs.getCheckedNodes()[0]?.pathLabels
      this.formInline.doorProvince = thsAreaCode[0]
      this.formInline.doorCity = thsAreaCode[1]
      this.formInline.doorCounty = thsAreaCode[2]
      this.formInline.doorStreet = thsAreaCode[3]
      let data = {
        ...this.form,
        ...this.formInline
      }
      api.quotationCalculation(data).then((res) => {
        if (res.code == '200') {
          this.gridData1.push(res.data.priceInf)
        }
      })
    },
    searchGetgoodsName(e) {
      this.portList.map((item) => {
        if (item.seaportCode == e) {
          this.formInline.portId = item.seaportId
          this.formInline.portCode = item.seaportCode
          this.formInline.portCname = item.seaportName
          this.formInline.portEname = item.seaportEnName
        }
      })
      api.portArea({ portCode: e }).then((res) => {
        this.harbourList = res.data
      })
    },
    // 获取港口
    port() {
      let params = {
        countryId: 104 
      }
      api.port(params).then((res) => {
        if (res.code == '200') {
          this.portList = res.data
          this.portList1 = res.data
        }
      })
    },
    getCostGoodsName(e, row) {
      this.portList.map((item) => {
        if (item.seaportName == e) {
          row.portId = item.seaportId
          row.portCode = item.seaportCode
          row.portCname = item.seaportName
          row.portEname = item.seaportEnName
        }
      })
      api.portArea({ portCode: row.portCode }).then((res) => {
        this.harbourList1 = res.data
      })
    },
    //获取港区
    getgoodsName(e) {
      this.portData = {
        portId: e.seaportId,
        portCode: e.seaportCode,
        portCname: e.seaportName,
        portEname: e.seaportEnName
      }
      this.form.portCname = e.seaportName
      this.formInline.portCode = e.seaportCode
      this.harbourList = []
      this.form.portAreaCname = ''
      api.portArea({ portCode: e }).then((res) => {
        this.harbourList = res.data
      })
    },
    // 查询模板信息
    info() {
      let strId = this.$route.query.id
      let id = strId.toString()
      api.inquireTemplate({ id }).then((res) => {
        if (res.code == '200') {
        //   res.data.quotationTemplateOfferVOList.forEach((item) => {
        //     // item.door = [ item.doorProvince, item.doorCity ,item.doorCounty],
        //     item.doorIds = [1179, 45, 184]
        //   })
          this.form = res.data.quotationTemplateVO
          this.form.packingType = res.data.quotationTemplateVO.containerType
          res.data.quotationTemplateOfferVOList.map((item) => {
            this.$set(item, 'remark', '')
          })
          this.offer = res.data.quotationTemplateOfferVOList.map(item => {
          item.arkNumber = item.arkNumberStart
          return item
        })
          this.addCostData = res.data.quotationTemplateCostItemVOList
          this.addCostDataCopy = res.data.quotationTemplateCostItemVOList
          this.switchoverList(this.radio2)
          // let arr = [res.data.quotationTemplateOfferVOList]
        }
      })
    },
    // 获取品类
    getType() {
      api.getCategory().then((res) => {
        if (res.code == '200') {
          this.categoryList = res.data
        }
      })
    },
    // 获取品名
    getHarbour(e) {
      this.form.categoryNames = ''
      this.marketList = []
      api.getCategoryName({ categoryName: e }).then((res) => {
        if (res.code == '200') {
          this.marketList = res.data
        }
      })
    },
    // 报价测算弹框
    calculate() {
      this.dialogTableVisible = true
    },
    getCost() {},
    paymentTypeChange() {
    },
    container() {
    },
    changeSwitch(row) {
      this.switchoverList(this.radio2)
      this.offer.forEach((item) => {
        let data = {
          standardProductsCostItemList: this.addCostData,
          ...this.form,
          ...item,
          ...row
        }
        api.quotationCalculation(data).then((res) => {
          if (res.code == '200') {
            for (var i in res.data.priceInf) {
              if (row.arkNumber == i) {
                this.$set(row, 'costAmount', res.data.priceInf[i])
              }
            }
          }
        })
      })
    },
    addPrice() {
      // let list = this.offer[0]
      this.offer.push({
        id: +new Date(),
        costAmount: ''
      })
    },
    inputClientName1() {},
    stockpileCost() {},
    introduceCost() {
      this.dialogVisible = true
    },
    clickChange(item) {
      this.tableRadio = item
    },
    // 箱型箱量
    containerSizeList() {
      api.containerSizeList({ codeTypeCode: 'containersize' }).then((res) => {
        if (res.code == '200') {
          this.boxPileList = res.data
        }
      })
      api.containerSizeList({ codeTypeCode: 'containertype' }).then((res) => {
        if (res.code == '200') {
          this.boxPile1List = res.data
        }
      })
    },
    selectChange(e) {
      var arrNew = []
      this.mineStatusValue.forEach((item) => {
        e.forEach((eventItem) => {
          if (eventItem == item.label) {
            arrNew.push(item)
          }
        })
      })
      this.$refs.tree.setCheckedNodes(arrNew) //设置勾选的值
    },
    handleCheckChange() {
      let res = this.$refs.tree.getCheckedNodes(true, true)
      let arrLabel = []
      let arr = []
      res.forEach((item) => {
        arrLabel.push(item.label)
        arr.push(item)
      })
      this.mineStatusValue = arr
      this.mineStatus = arrLabel
    },
    deleteCost(val,) {
      if (this.offer.length > 1) {
        this.offer.splice(val, 1)
      }
    },
    // 保存基本信息
    saveForm() {
      this.$refs['form'].validate((valid) => {
        if (!valid) return
        this.formDisabled = true
        this.hideBtn = false
        this.firstEdit = true // 首次保存
        if (!this.handleCheckFactor()) {
          // 重置报价
          this.offer = []
          this.addCostDataCopy = []
        }
      })
    },
    async editForm() {
      await this.$confirm('编辑基本信息会导致费用范围内的费用项引入成本发生改变，因此系统会对成本和报价进行重置，是否继续？')
      this.formDisabled = false
      this.hideBtn = true
      this.cancelData = JSON.parse(JSON.stringify(this.form))
    },
    cancelForm () {
      this.formDisabled = true
      this.hideBtn = false
      this.form = JSON.parse(JSON.stringify(this.cancelData))
    },
    handleLabelByValue (option, v) {
      return utils.handleLabelByValue(option, v, 'value', 'name')
    },
    // check柜数重复
    handleCheckSome (e, row, index) {
      // 1、校验柜、吨数之前数据重复
      const obj = {
        portCode: row.portCode,
        portAreaCname: row.portAreaCname,
        // doorIds: row.doorIds,
        doorProvince: row.doorProvince,
        doorCounty: row.doorCounty, 
        doorCity: row.doorCity, 
        doorStreet: row.doorStreet,
        containerSize: row.containerSize,
        containerType: row.containerType,
      }
      // const arkNumbers = this.offer.reduce((t, v) => {
      //   return t.concat(v.arkNumber)
      // }, [])
      // const arkNumberEnds = this.offer.reduce((t, v) => {
      //   return t.concat(v.arkNumberEnds)
      // }, [])
      const res = this.offer.length > 1 && this.offer.some((v, i)=> {
        if (i != index) {
          const keys = Object.keys(v).every(k => {
            if (k in obj) {
              return v[k] == obj[k]
            } else {
              return true
            }
          })
          
          return keys 
        }
      })
      return res
    },
    // 检查影响因子改变是否
    handleCheckFactor () {
      const ids = ['serviceScope', 'packingType', 'goodsName', 'categoryName']
      const res = Object.keys(this.cancelData).length == 0 || ids.every(v => {
        return this.cancelData[v] == this.form[v]
      })
      return res
    },
  }
}
</script>

<style lang="scss" scoped>
.add-contaniner {
  width: calc(100vw - 80px) !important;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  .form-box {
    margin: 0 16px 20px 16px;
    padding: 10px 15px;
    // flex: 1;
    background: #fff;
    .input-item1 {
      display: flex;
      justify-content: flex-start;
      flex-wrap: wrap;
      ::v-deep label {
        width: 100%;
      }
      .fukuan {
        color: #1bc5bd;
        float: right;
        cursor: pointer;
      }

      .el-autocomplete {
        width: 100%;
      }

      .el-form-item {
        width: 22%;
        margin-right: 3%;
        margin-bottom: 18px;

        &:not(:nth-of-type(3n)) {
          margin-right: 3%;
        }
      }

      .el-select {
        width: 100%;
      }

      ::v-deep.el-checkbox__label {
        font-size: 12px;
      }
    }
    .form-header {
      .header-left {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
      .info {
        display: flex;
        // justify-content: space-between;
        align-items: center;
        .line {
          width: 3px;
          height: 14px;
          margin-right: 8px;
          background-color: #000;
        }
      }
    }
  }
  .tabel-box {
    margin-top: 10px;
  }
}
.operation {
  display: flex;
  justify-content: space-around;
  align-items: center;
  .introduce {
    color: #1bc5bd;
  }
  .icon-shanchu,
  .icon-xinzeng1 {
    font-size: 20px;
  }
}
.search-body {
  height: 200px;
  overflow: auto;
}
/deep/ .el-tree > .el-tree-node > .el-tree-node__content .el-checkbox {
  display: none;
}
.introduce {
  cursor: pointer;
}
/deep/.el-popover .myselect {
  display: none;
  background-color: red;
}
.input-box {
  display: flex;
  align-items: center;
  height: 32px;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 3px 10px;
  width: 130px;
  box-sizing: border-box;
  border: 1px solid #e4e6ef;
  font-size: 12px;
  -webkit-appearance: none;
  background-color: #fff;
  background-image: none;
  border-radius: 4px;
  line-height: 40px;
  outline: 0;
  position: relative;
  text-align: left;
  input {
    appearance: none;
    border: none;
    outline: 0;
    padding: 0;
    width: 50%;
    color: #606266;
    height: 100%;
    margin: 0;
    text-align: center;
    display: inline-block;
  }
}
.searchCost {
  /deep/.el-form-item {
    width: 120px;
  }
}
.btnBox {
  display: flex;
  flex-direction: row-reverse;
}
</style>