<template>
  <div class="container">
    <div>
      <button-area>
        <template #left>
          <search-btn v-model="dataMap.searchword" placeholder="工作编号/对账单号"></search-btn>
          <!-- <fltAb /> -->
          <flt-ab :filterOption="filterOption"  />
          <filter-invoice />
          <filter-opt :filterOption="filterOption"  />
          <screen-btn></screen-btn>
          <sync-btn @click="syncData"></sync-btn>

        </template>
        <template #right>
          <!-- :disabled="true"  禁用编辑按钮 -->
          <!-- <edit-table v-model="isEditDisabled"></edit-table> -->
          <a-button type="primary" :style="{
            'width': '108px',
            'height': '30px',
            'margin-right': '8px',
          }" @click="requestInvoice">
            <template #icon>
              <icon-plus />
            </template>
            <span>申请开票</span>
          </a-button>

        </template>
      </button-area>

      <div class="header">
        <div class="item">
          合计：业务&nbsp;<span class="item_value">{{ dataMap.piaoNum }}&nbsp;</span>票
        </div>
        <!-- 合计这里都是显示人民币，如果原币金额是美元，这里都是 每条*汇率 四舍五入保留2位再累加  算出的合计金额 -->
        <div class="item">
          金额：
          <template v-if="dataMap.currentCurrency?.currency != 'CNY'">
            <span class="item_value">{{ dataMap.currentCurrency.currencySymbol }}</span>
            <span class=" item_value">{{ filterNum(dataMap.totals.taxedOriginalAmountTotal) }}</span>
          </template>
          <span>￥</span>
          <span class="item_value">{{ filterNum(dataMap.totals.taxedAmountTotal) }}</span>
        </div>
        <div class="item">
          金额（不含税）：
          <template v-if="dataMap.currentCurrency?.currency != 'CNY'">
            <span class="item_value">{{ dataMap.currentCurrency.currencySymbol }}</span>
            <span class=" item_value">{{ filterNum(dataMap.totals.untaxedOriginalAmountTotal) }}</span>
          </template>
          <span>￥</span>
          <span class="item_value">{{ filterNum(dataMap.totals.untaxedAmountTotal) }}</span>
        </div>


      </div>
      <div class="table-wrap">
        <tableInvoice @selectChecked="selectChecked" />

      </div>
    </div>
  </div>
  <offline-business-invoice-modal ref="offlineBusinessInvoiceModalRef" />
  <request-invoice-modal :checkedList="dataMap.checkedList" :owner="dataMap.owner" :client="dataMap.client"
    @handleBeforeOk="syncData" :total="dataMap.totals" :currentCurrency="dataMap.currentCurrency"
    ref="requestInvoiceModalRef" />
</template>

<script lang="ts" setup>
import {
  defineComponent,
  ref,
  watch,
  reactive,
  h,
  toRefs,
  computed,
  onMounted,
  nextTick,
} from 'vue';
import filterInvoice from './components/filterInvoice.vue'
import filterOpt from './components/filterOpt.vue'
import fltAb from './components/fltAb.vue'
import tableInvoice from './components/tableInvoice.vue'

import headerD from '@/components/navHeader/headerD.vue';
import requestInvoiceModal from '../components/requestInvoiceModal.vue'
import { formatOptions, setNumericText, totalNum } from '@/utils';
import commonApi from '@/utils/commonApi/index';
import { Message } from '@arco-design/web-vue';
import filterOption from './filter'
console.log('filterOption',filterOption);
          // <!-- <fltAb /> -->

const requestInvoiceModalRef = ref<any>(null);
// filter-opt
const dataMap = reactive<any>({
  searchword: "",
  ownerOptions: {},
  currencyOptions: {},
  checkedList: [],
  currentCurrency: {
    currency: '',
    currencyName: '',
    currencySymbol: ''
  }, //原币？
  piaoNum: 0,
  params: {
    search: '',
    currency: '',
    ownerId: '', //所属公司id
    clientId: '', //委托人id
    salespersonId: '', //销售员id
    marketingDepartmentId: '', //营销部门id
    customerDepartmentId: '', //客服部门id
    feeCodes: [], //费用列表
    shipFee: '', //是船公司费用(0/false-非包干、1/true-包干)
    invoiceCode: '', //发票code
    receivableIds: [], //账单ids
    ataStartTime: '', //到港日期开始
    ataEndTime: '',
    actualDeliveryStartTime: '', //送达日期开始
    actualDeliveryEndTime: '',
    businessCompletionStartTime: '', //业务完成开始时间
    businessCompletionEndTime: ''
  },
  totals: {
    // 金额合计（含税不含税、原币金额、人民币金额）
    untaxedAmountTotal: 0, // 不含税的 本位币金额（人民币）
    taxedAmountTotal: 0, // 含税的 本位币金额（人民币）
    untaxedOriginalAmountTotal: 0, // 不含税的 原币金额（美元或者人民币）
    taxedOriginalAmountTotal: 0 // 含税的 原币金额（美元或者人民币）
  },
  owner: {
    "ownerId": 489, "ownerName": "上海大微企业发展有限公司",
  },
  client: {
    "clientId": 5510,
    "clientName": '东兴集团',
  }
})

const requestInvoice = () => {
  console.log('currentCurrency', dataMap.currentCurrency);
  if (dataMap.checkedList.length <= 0) {
    Message.error('请勾选至少一条费用')
    return
  }

  let list: any = []
  dataMap.checkedList.forEach((item: any) => {
    item.incomes.forEach((v: any) => {
      list.push(`${v.invoiceCode},${v.invoiceTaxRate}`)
    })
  })
  if (list.some((v: any) => v != list[0])) {
    Message.error('请选择发票类型及税点一致的费用申请开票')
    return
  }
  requestInvoiceModalRef.value.handleClick()
}
const initOptions = async () => {
  // 所属公司
  const { enterprises } = await commonApi.memberQueryUserAuthorithPart(null)
  dataMap.ownerOptions = formatOptions(enterprises, {
    value: 'id',
    label: 'name'
  })
  // 币别
  dataMap.currencyOptions = formatOptions(
    await commonApi.getCurrency(),
    { value: 'code', label: 'name' }
  )
  dataMap.params.currency = 'CNY'
  changeCurrency()
  //发票类型
  dataMap.invoiceOptions = formatOptions(
    await commonApi.settleBasicEnterpriseInvoice(),
    { value: 'code', label: 'name' }
  )
}
const changeCurrency = async () => {
  let item = dataMap.currencyOptions.find((v: any) => v.value == dataMap.params.currency)
  dataMap.currentCurrency = {
    currency: item.value,
    currencyName: item.label,
    currencySymbol: item.symbol
  }
}
const filterNum = (nums: any) => {
  return setNumericText(nums, { commas: true, zeroText: '0.00' })
}
const total = (array: any[]) => {
  return totalNum(array, { commas: false })
}
const selectChecked = (array: any[]) => {
  // dataMap.navConfig.btns[1].disabled = false
  // console.log('参数：选中的费用array: ', array)
  dataMap.checkedList = array

  // 计算票数和合计金额
  let untaxedAmountArray: any = []
  let taxedAmountArray: any = []
  //   原币金额非人民币，申请开票页面还要展示非人民币的部分;不需要乘汇率
  let untaxedOriginalAmountArray: any = []
  let taxedOriginalAmountArray: any = []
  array.forEach((v) => {
    v.incomes.forEach((i: any) => {
      untaxedAmountArray.push(
        i.currentUntaxedAmount * i.currencyExchangeRate
      )
      taxedAmountArray.push(
        i.currentInvoiceAmount * i.currencyExchangeRate
      )
      untaxedOriginalAmountArray.push(
        i.currentUntaxedAmount
      )
      taxedOriginalAmountArray.push(i.currentInvoiceAmount)
    })
  })
  dataMap.piaoNum = array.length

  dataMap.totals.untaxedAmountTotal = total(untaxedAmountArray)
  dataMap.totals.taxedAmountTotal = total(taxedAmountArray)
  dataMap.totals.untaxedOriginalAmountTotal = total(untaxedOriginalAmountArray)
  dataMap.totals.taxedOriginalAmountTotal = total(taxedOriginalAmountArray)
}

const syncData = () => {
  initOptions()
}
syncData()
</script> 
<style lang="less" scoped>
.container {
  background-color: var(--color-bg-2);
  // max-width: 100%;
  display: flex;
  height: calc(~'100vh - 93px');
}

.table-wrap {
  width: 100%;
  overflow: hidden;
  padding: 0 20px;
  height: calc(~'100% - 70px - 64px');
}

.info-modal-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header {
  margin: 0 25px;
  padding: 15px 0 20px;
  font-size: 14px;
  color: #696c70;
  display: flex;
  border-top: 1px solid #f1f1f1;

  .item {
    padding-right: 32px;
    display: flex;

    .item_value {
      color: #000;
    }
  }
}
</style>
