<template>
  <DwForm
    ref="formRef"
    v-model:form="form"
    layout="vertical"
    :disabled="disabled"
    :gutter="40"
  >
  </DwForm>
</template>

<script setup>
import {
  nextTick,
  onMounted,
  ref,
  watch,
  reactive,
  h,
  resolveComponent,
} from 'vue';
import { useRouter, useRoute } from 'vue-router';
import { contractManage } from '@/api/contractManage'; //当前页面api
import { Message } from '@arco-design/web-vue';
// const emit = defineEmits('handleConfirm');
// 获取list 需要的curItem, 第一个参数，数组对象，第二个参数要匹配的key，第三个当前key的值
const getCurrentItem = (arr, key, value) => {
  const newArr = arr.filter((item) =>
    typeof item.show === 'function' ? item.show() : true
  );
  const curItem = newArr.find((item) => item[key] === value);
  if (!curItem) {
    console.error(key, value, '未匹配到！');
  }
  if (typeof curItem?.list === 'function') {
    curItem.list = [];
  }
  return curItem || { list: [] };
};
const props = defineProps({
  modalParams: {
    type: Object,
    default: () => ({}),
  },
});
// 企业相关信息
const nameInfo =ref({})
const form = ref({
  formRef: null, //当前form实例
  data: {
    name: '',
    abbreviation: '',
    enterpriseAttribute: [],
    inArea: 1,
    creditCode: '',
    idNumber: '',
    mnemonicCode: '',
  },
  formItem: [
    {
      showLabel: '企业全称',
      currentKey: 'name',
      currentValue: '', //默认值
      required: true,
      span: 12, //宽度 24等分
      itemType: 'input',
      blur: ({ item }) => {
        contractManage.mosNetworkBasicUniqueBusiness({
          columnName: item.currentKey,
          columnValue: form.value.data[item.currentKey],
        });
      },
      appendLabel: () =>
        form.value.data.name
          ? h('div', [
              h(
                resolveComponent('DwButton'),
                {
                  style: {
                    'height': 'auto',
                    'margin-top': '-2px',
                    'width': '22px',
                    'height': '22px',
                    'overFlow': 'hidden',
                  },
                  type: 'text',
                  shape: 'circle',
                  onClick: () => {
                    contractManage.queryRelationLicenseByOut({
                      enterpriseName: form.value.data.name,
                    }).then(({code,data})=>{
                      if(code==='200'){
                        nameInfo.value = data
                      }
                    });
                  },
                },
                [h(resolveComponent('icon-idcard'))]
              ),
            ])
          : null,
    },
    {
      showLabel: '企业简称',
      currentKey: 'abbreviation',
      currentValue: '', //默认值
      required: true,
      span: 12, //宽度 24等分
      itemType: 'input',
      blur: ({ item }) => {
        contractManage.mosNetworkBasicUniqueBusiness({
          columnName: item.currentKey,
          columnValue: form.value.data[item.currentKey],
        });
      },
    },
    {
      showLabel: '企业属性', //展示的标签名 复选框
      currentKey: 'enterpriseAttribute',
      componentType: 'SC',
      currentValue: '', //默认值
      required: true,
      maxTagCount: 2,
      span: 12, //宽度 24等分
      itemType: 'select',
      multiple: true,
      list: ({ item }) => {
        contractManage
          .mosNetworkQueryAelationAabelAll()
          .then(({ code, data }) => {
            if (code === '200') {
              item.list = data
                .filter((dataItem) => dataItem.relationType == 8)
                .map((mapItem) => ({
                  ...mapItem,
                  label: mapItem.labelName,
                  value: mapItem.id,
                }));
            }
          });
      },
    },
    {
      showLabel: '所在区域', //展示的标签名 复选框
      currentKey: 'inArea',
      componentType: 'SC',
      currentValue: '', //默认值
      required: true,
      maxTagCount: 2,
      span: 12, //宽度 24等分
      itemType: 'select',
      // multiple: true,
      list: [
        {
          label: '国内',
          value: 1,
        },
        {
          label: '国外',
          value: 2,
        },
      ],
    },
    // !仅企业属性(小类)非个人 且 所在区域=国内时显示，必填 长度18位
    {
      showLabel: '统一社会信用代码',
      currentKey: 'creditCode',
      currentValue: '', //默认值
      maxlength: 18,
      required: true,
      span: 12, //宽度 24等分
      itemType: 'input',
      show: () =>
        form.value.data.inArea === 1 &&
        !form.value.data.enterpriseAttribute.includes(5),
      blur: ({ item }) => {
        contractManage.mosNetworkBasicUniqueBusiness({
          // columnName: item.currentKey,
          columnName: 'credit_code',
          columnValue: form.value.data[item.currentKey],
        });
      },
    },
    // !仅企业属性(小类)=个人 且 所在区域=国内时显示，必填
    {
      showLabel: '身份证号',
      currentKey: 'idNumber',
      currentValue: '', //默认值
      required: true,
      span: 12, //宽度 24等分
      itemType: 'input',
      show: () =>
        form.value.data.inArea === 1 &&
        form.value.data.enterpriseAttribute.includes(5),
      blur: ({ item }) => {
        contractManage.mosNetworkBasicUniqueBusiness({
          columnName: item.currentKey,
          columnValue: form.value.data[item.currentKey],
        });
      },
    },
    {
      showLabel: '助记码',
      currentKey: 'mnemonicCode',
      currentValue: '', //默认值
      required: true,
      span: 12, //宽度 24等分
      itemType: 'input',
      blur: ({ item }) => {
        contractManage.mosNetworkBasicUniqueBusiness({
          columnName: 'mnemonic_code',
          columnValue: form.value.data[item.currentKey],
        });
      },
    },
  ],
});
const handleParams = () => {
  const enterpriseAttributeList = getCurrentItem(
    form.value.formItem,
    'currentKey',
    'enterpriseAttribute'
  ).list;

  const detailDTOS = enterpriseAttributeList.filter((item) =>
    form.value.data.enterpriseAttribute.includes(item.value)
  );
  const relationBusinessLabelDTOlist = [{
    relationType: 8,
    detailDTOS,
  }];
  return { ...form.value.data, relationBusinessLabelDTOlist };
};
const submit = () => {
  return new Promise((resolve, reject) => {
    form.value.formRef.validate((result) => {
      console.error(result);
      if (result) return;
      contractManage
        .mosNetworkInsertOrUpdateByBusiness({
          ...nameInfo.value,...handleParams()
        })
        .then(async (res) => {
          if (res.code == 200) {
            resolve(true);
            Message.success('操作成功！');
          }
        });
    });
  });
};
defineExpose({
  submit,
});
//#endregion
</script>
