<template>
  <div class="info">
    <!-- <a-affix :offsetTop="93">
      <a-page-header
        :title="curTitleShow"
        :show-back="false"
        style="background: #fff; margin-top: -2px"
      />
    </a-affix> -->
    <a-card title="基本信息" :bordered="false">
      
      <template #title>
        <div style="display: flex; justify-content: space-between;align-items: center;">
          <p>基本信息</p>
          <div  v-if="disabled.isEdit">
            <DwButton @click="handleEdit" type="outline">编辑</DwButton>
          </div>
        </div>
      </template>
      <DwForm v-model:form="form" layout="vertical" :disabled="disabled">
      </DwForm>
      <div class="btn_wrapper">
        <div v-if="!disabled.isEdit">
          <DwButton @click="handleClose" style="margin-right: 10px"
            >取消</DwButton
          >
          <DwButton @click="handleSave" type="primary">保存</DwButton>
        </div>
      </div>
    </a-card>
    <a-modal
      v-model:visible="modelVisible"
      :width="modalParams.width"
      :mask-closable="false"
    >
      <template #title> {{ modalParams.title }} </template>
      <div style="max-height: 60vh; overflow-y: auto">
        <component
          :is="com"
          v-if="modelVisible"
          ref="comRef"
          :modalParams="modalParams"
          @handleConfirm="handleConfirm"
        />
      </div>

      <template #footer>
        <!-- 新增合同 -->
        <!-- <div
          v-show="
            curTitle.value === '形式协议' ||
            curTitle.value === '补充协议/新增报价'
          "
          ><DwButton @click="addContract"  type="primary">确定</DwButton>
        </div> -->
        <!-- 新增客户 -->
        <div
          ><DwButton
            @click="
              () => {
                modelVisible = false;
              }
            "
            style="margin-right: 8px"
            >取消</DwButton
          >
          <DwButton @click="addCustomer" type="primary">确定</DwButton>
        </div>
      </template>
    </a-modal>
  </div>
</template>

<script setup>
import {
  computed,
  onMounted,
  ref,
  reactive,
  watch,
  resolveComponent,
  h,
  defineAsyncComponent,
  nextTick,
} from 'vue';
import { Message } from '@arco-design/web-vue';
import { useRoute, useRouter } from 'vue-router';
import { crmApi } from '@/api/crmApi';
import { contractManage } from '@/api/contractManage'; //当前页面api
import merge from 'webpack-merge';
import JSONbig from 'json-bigint';
import { useUserStore, useTabBarStore } from '@/store';
const store = useUserStore();
const props = defineProps({
  contractInfo: {
    type: Object,
    default: () => ({}),
  },
});
const emits = defineEmits(['updateIsEdit'])
const router = useRouter();
const route = useRoute();
// 默认展示的为双方协议，可更具curTitle展示动态form项
const curTitle = computed(() => route.query.item);
const comRef = ref(null);
const saleFalg = ref(true);
const conList = ref([]);
const controlConList = ref([]);
const dueToDateFlag = ref(false); //来区分是否是合同自带的到期时间
const curTitleShow = computed(() => '合同签约 - ' + route.query.item);
// 获取list 需要的curItem, 第一个参数，数组对象，第二个参数要匹配的key，第三个当前key的值
const getCurrentItem = (arr, key, value) => {
  const newArr = arr.filter((item) =>
    typeof item.show === 'function' ? item.show() : true
  );
  const curItem = newArr.find((item) => item[key] === value);
  if (!curItem) {
    console.error(key, value, '未匹配到！');
  }
  if (typeof curItem?.list === 'function') {
    curItem.list = [];
  }
  return curItem || { list: [] };
};

//#region 关于下拉接口
// 获取合同类型
const getContractList = () => {
  contractManage
    .getBusinessType({ codeTypeCode: 'customercontracttype' })
    .then((res) => {
      const curItem = res.data.find((item) => item.codeName === curTitle.value);
      form.value.data.contractTypeCode = curItem?.codesValues;
      form.value.data.contractType = curItem?.codeName;
    });
};
// 业务类型
const getBusinessTypesCodeList = ({ item }) => {
  contractManage
    .getBusinessType({ codeTypeCode: 'customerbusinesstype' })
    .then((res) => {
      // 控货双方初始化
      if (curTitle.value === '控货双方协议') {
        form.value.data.businessTypesCode = 'CUSTOMER_GKWL';
      }
      item.list = res.data.map((curItem) => ({
        ...curItem,
        value: curItem.codesValues,
        label: curItem.codeName,
      }));
    });
};

// 品类
const getGoodsName = ({ item }) => {
  // { codeTypeCode: 'customerbusinesstype' }
  contractManage.category().then((res) => {
    item.list = res.data.map((curItem) => ({
      ...curItem,
      value: curItem,
      label: curItem,
    }));
  });
};
// 获取客户名称
const getCustomerName = (
  { item },
  params = { relationType: 8, hasLabel: true, hasControlGoods: 1 }
) => {
  contractManage.customName(params).then((res) => {
    item.list = res.data.map((curItem) => ({
      ...curItem,
      // value: curItem.enterpriseId,
      // label: curItem.name,
      value: curItem.name,
      label: curItem.name,
    }));
  });
};
const customerChange = () => {
  let data = {
    signSalesmanId: form.value.data.signSalesmanId,
    enterpriseId: form.value.data.customerId,
  };
  crmApi.contactList(data).then((res) => {
    if (res.code == '200') {
      conList.value = res.data.map((curItem) => ({
        ...curItem,
        value: curItem.id.toString(),
        label: curItem.contact,
      }));

      // console.log(res, '联系人------');
      // dataMap.userInfoList = res.data;
    }
  });
};
const contactChange = () => {
  const item = conList.value.find(
    (item) => item.value == form.value.data.contact
  );
  form.value.data.contactAddress = item.contactAddress;
  form.value.data.contactPosition = item.contactPosition;
  form.value.data.mobilePhone = item.mobilePhone;
  form.value.data.phoneTelNum = item.mobilePhone;
  form.value.data.phoneTel = 1;
  form.value.data.controlPhoneTel = item.controlPhoneTel;
};
const controlContactChange = () => {
  const item = controlConList.value.find(
    (item) => item.value == form.value.data.controlContact
  );
  form.value.data.controlContactAddress = item.contactAddress;
  form.value.data.controlContactPosition = item.contactPosition;
  form.value.data.controlPhoneTelNum = item.mobilePhone;
  form.value.data.controlPhoneTel = 1;
};
const controlGoodsChange = () => {
  console.log(form.value.data, 'form.value.data');
  let data = {
    signSalesmanId: form.value.data.signSalesmanId,
    enterpriseId: form.value.data.controlGoodsId,
  };
  crmApi.contactList(data).then((res) => {
    if (res.code == '200') {
      controlConList.value = res.data.map((curItem) => ({
        ...curItem,
        value: curItem.id.toString(),
        label: curItem.contact,
      }));
      // console.log(res, '联系人------');
      // dataMap.userInfoList = res.data;
    }
  });
};
// 获取签约抬头
const getSignUpId = ({ item }) => {
  contractManage.relationList({ relationTypeList: 4 }).then((res) => {
    item.list = res.data.map((curItem) => ({
      ...curItem,
      value: curItem.enterpriseId,
      label: curItem.name,
    }));
  });
};
// 签约销售
const getSignSalesmanId = ({ item }) => {
  contractManage.salesRole({ roleType: 1 }).then((res) => {
    item.list = res.data.map((curItem) => ({
      ...curItem,
      value: curItem.userId,
      label: curItem.userName,
    }));
    //     signSalesman: "王营销1"
    // signSalesmanId: 78209
    console.log(store, 'store');
    const userId = store.userId,
      userName = store.surName + store.firstName;
    const user = item.list.find((row) => row.userId == userId);
    console.log(item, user, 'user');
    if (!user) {
      // item.list.unshift({ value: userId, label: userName, userId, userName });
      saleFalg.value = false;
    } else {
      saleFalg.value = true;
      form.value.data.signSalesmanId = store.userId;
    }

    //  console.log('------###',props.contractInfo,userName,userId)
  });
};

// 营销部门
const getMarketingDepartmentId = (params) => {
  contractManage.userOrganizationList({ ...params }).then((res) => {
    getCurrentItem(
      form.value.formItem,
      'currentKey',
      'marketingDepartmentId'
    ).list = res.data.map((curItem) => ({
      ...curItem,
      value: curItem.organizationId,
      label: curItem.organizationName,
    }));
  });
};
// 控货方名称
const getControlGoodsList = ({ item, e, selectRef }) => {
  item.loading = true;
  contractManage
    .constrcName({
      relationType: 8,
      hasControlGoods: 1,
      labelCode: 'BusinessUnit',
      name: e,
    })
    .then((res) => {
      item.loading = false;
      // const arr = getCurrentItem(
      //   form.value.formItem,
      //   'currentKey',
      //   'controlGoodsList'
      // ).list;
      item.list = res.data.map((curItem) => ({
        ...curItem,
        // value: curItem.enterpriseId,
        // label: curItem.name,
        value: curItem.name,
        label: curItem.name,
      }));
    });
};
// 服务项目
const getContractInfoServiceList = (params) => {
  contractManage.serveList({ ...params }).then((res) => {
    getCurrentItem(
      form.value.formItem,
      'currentKey',
      'contractInfoServiceList'
    ).list = res.data?.map((curItem) => ({
      ...curItem,
      value: curItem.codesValues,
      label: curItem.codeName,
    }));
  });
};
//#endregion

//#region 按钮展示相关 是否可编辑 、回显相关
// 处理回显参数
const handleReviewData = (obj) => {
  // 服务项目
  const contractInfoServiceList = obj.contractInfoServiceVOList?.map(
    (item) => item.serviceProjectCode
  );
  const phoneTelNum = obj.mobilePhone || obj.fixedTelephone;
  const controlPhoneTelNum =
    obj.controlMobilePhone || obj.controlFixedTelephone;

  //处理联系方式回显
  obj.phoneTel = obj.mobilePhone ? 1 : obj.fixedTelephone ? 2 : null;
  obj.controlPhoneTel = obj.controlMobilePhone
    ? 1
    : obj.controlFixedTelephone
    ? 2
    : null;
  let controlGoodsList;
  let controlGoodsListSource;//备份默认选中的控货方信息(用于保存当前选中控货方信息)
  if (curTitle.value === '双方协议' || curTitle.value === '试做报价') {
    if (obj.isTherePoint) {
      //多选
      // controlGoodsList = obj.controlGoodsList.map(
      //   (item) => item.controlGoodsId
      // );
      controlGoodsListSource = obj.controlGoodsList
      controlGoodsList = obj.controlGoodsList.map(//hx#
        (item) => item.controlGoodsCnName
      );
    }
  } else {
    // 单选
    // controlGoodsList = obj.controlGoodsId;
    controlGoodsList = obj.controlGoodsCnName;//hx#
    //三方和其他
  }
  return {
    ...obj,
    controlGoodsList,
    controlGoodsListSource,
    contractInfoServiceList,
    phoneTelNum: phoneTelNum,
    controlPhoneTelNum: controlPhoneTelNum,
  };
};
const disabled = reactive({ isEdit: false });
//#endregion
const form = ref({
  formRef: null, //当前form实例
  data: {
    // !双方协议
    businessTypesCode: '',
    contact: '',
    contactAddress: '',
    contactPosition: '',
    contractInfoServiceList: '',
    controlGoodsList: '',
    phoneTel: 1,
    phoneTelNum: '',
    customerId: '',
    customerName:'',
    dueToDate: '',
    goodsName: '',
    isTherePoint: false,
    marketingDepartmentId: '',
    remark: '',
    signSalesmanId: '',
    signUpDate: '',
    signUpId: '',
    signUpNature: '',
    status: 0, //状态: 0-草稿 1-待审批 2-驳回，3-撤回，4-审批中，5-已完成
    // !三方新增
    controlContact: '',
    controlContactPosition: '',
    controlContactAddress: '',
    controlPhoneTel: 1,
    controlPhoneTelNum: '',
    // !形式协议
    relatedCustomerId: '',
    relatedContractNo: '',
  },
  formItem: [
    {
      showLabel: () =>
        (curTitle.value === '形式协议' && '协议客户名称') ||
        (curTitle.value === '补充协议/新增报价' && '客户名称'), //展示的标签名 选择器A（基础用法/单选）
      currentKey: 'customerName',
      allowSearch: true,
      componentType: 'SA',
      currentValue: '', //默认值
      required: true,
      span: 6, //宽度 24等分
      search: (params) => {
        getCustomerName(params, {
          name: params.e,
          relationType: 8,
          hasLabel: true,
          hasControlGoods: 1,
        });
      },
      change: (params) => {
        form.value.data.customerId = params.item.list.find(item=>item.value == params.e)?.enterpriseId
        if (form.value.data.signSalesmanId) {
          customerChange();
        }

        form.value.data.contact = '';
        form.value.data.contactAddress = '';
        form.value.data.contactPosition = '';
        form.value.data.controlPhoneTel = '';
        if (curTitle.value === '补充协议/新增报价') {
          form.value.data.relatedContractNo = '';
          form.value.data.businessTypesCode = '';
          form.value.data.goodsName = '';
          form.value.data.signUpId = '';
          form.value.data.dueToDate = '';
        }
      },
      show: () =>
        curTitle.value === '形式协议' || curTitle.value === '补充协议/新增报价',
      itemType: 'select',
      list: (params) => {
        getCustomerName(params, { relationType: 8, hasLabel: true });
      },
      appendLabel: () =>
        curTitle.value
          ? h('div', [
              h(
                resolveComponent('DwButton'),
                {
                  style: {
                    'height': 'auto',
                    'margin-top': '-2px',
                  },
                  type: 'text',
                  onClick: () => {
                    modelVisible.value = true;
                    modalParams.width = 600;
                    modalParams.title = ModelTitle.AddCustomer;
                  },
                },
                [h(resolveComponent('icon-plus')), h('span', '新增客户')]
              ),
            ])
          : null,
    },
    {
      showLabel: () => '关联客户名称', //展示的标签名 选择器A（基础用法/单选）
      currentKey: 'relatedCustomerId',
      allowSearch: true,
      componentType: 'SA',
      currentValue: '', //默认值
      required: true,
      span: 6, //宽度 24等分
      show: () => curTitle.value === '形式协议',
      search: (params) => {
        getCustomerName(params, {
          name: params.e,
          relationType: 8,
          hasLabel: true,
          hasControlGoods: 1,
        });
      },
      itemType: 'select',
      list: (params) => {
        getCustomerName(params, { relationType: 8, hasLabel: true });
      },
    },
    {
      showLabel: '关联合同编号', //展示的标签名 选择器A（基础用法/单选）
      currentKey: 'relatedContractNo',
      innerFormItemDisabled: true,
      currentValue: '', //默认值
      required: true,
      span: 6, //宽度 24等分
      show: () =>
        curTitle.value === '形式协议' || curTitle.value === '补充协议/新增报价',
      itemType: 'input',
      appendLabel: () =>
        form.value.data.customerId
          ? h('div', [
              h(
                resolveComponent('DwButton'),
                {
                  style: {
                    'height': 'auto',
                    'margin-top': '-2px',
                  },
                  type: 'text',
                  onClick: () => {
                    modelVisible.value = true;
                    modalParams.width = 1000;
                    modalParams.title = ModelTitle.selectContract;
                    modalParams.row = form.value.data;
                    console.log('');
                  },
                },
                [h(resolveComponent('icon-plus')), h('span', '选择合同')]
              ),
            ])
          : null,
    },

    {
      showLabel: '业务类型', //展示的标签名 选择器A（基础用法/单选）
      currentKey: 'businessTypesCode',
      componentType: 'SA',
      currentValue: '', //默认值
      required: true,
      span: 6, //宽度 24等分
      disabled: () =>
        curTitle.value === '控货双方协议' ||
        curTitle.value === '补充协议/新增报价',
      // 双方协议  试做报价 控货双方协议 形式协议 补充协议/新增报价
      show: () => curTitle.value !== '形式协议',
      itemType: 'select',
      list: (params) => {
        // curTitle.value === '补充协议/新增报价'
        //   ? []
        //   :
        getBusinessTypesCodeList(params);
      },
    },
    {
      showLabel: '适用品类范围', //展示的标签名 选择器A（基础用法/单选）
      currentKey: 'goodsName',
      componentType: 'SA',
      currentValue: '', //默认值
      required: true,
      span: 6, //宽度 24等分
      itemType: 'select',
      disabled: () => curTitle.value === '补充协议/新增报价',
      show: () => curTitle.value !== '形式协议',
      list: (params) => {
        getGoodsName(params);
        // curTitle.value === '补充协议/新增报价' ? [] : getGoodsName(params);
      },
    },
    {
      showLabel: () =>
        curTitle.value === '控货双方协议' ? '控货方名称' : '客户名称', //展示的标签名 选择器D（可模糊搜索/单选)
      currentKey: 'customerName',
      allowSearch: true,
      componentType: 'SD',
      currentValue: '', //默认值
      required: true,
      span: 6, //宽度 24等分
      itemType: 'select',
      show: () =>
        curTitle.value !== '形式协议' && curTitle.value !== '补充协议/新增报价',
      list: (params) => {
        getCustomerName(params);
      },
      search: (params) => {
        getCustomerName(params, {
          name: params.e,
          relationType: 8,
          hasLabel: true,
          hasControlGoods: 1,
        });
      },
      change: (params) => {
        form.value.data.customerId = params.item.list.find(item=>item.value == params.e)?.enterpriseId
        if (form.value.data.signSalesmanId) {
          customerChange();
        }
        //contactList
        form.value.data.contact = '';
        form.value.data.contactAddress = '';
        form.value.data.contactPosition = '';
        // form.value.data.phoneTel = '';
        form.value.data.controlPhoneTel = '';
      },
      appendLabel: () =>
        curTitle.value
          ? h('div', [
              h(
                resolveComponent('DwButton'),
                {
                  style: {
                    'height': 'auto',
                    'margin-top': '-2px',
                  },
                  type: 'text',
                  onClick: () => {
                    modelVisible.value = true;
                    modalParams.width = 600;
                    modalParams.title = ModelTitle.AddCustomer;
                  },
                },
                [h(resolveComponent('icon-plus')), h('span', '新增客户')]
              ),
            ])
          : null,
    },
    {
      showLabel: '签约抬头', //展示的标签名 选择器D（可模糊搜索/单选)
      currentKey: 'signUpId',
      allowSearch: true,
      componentType: 'SD',
      currentValue: '', //默认值
      required: true,
      span: 6, //宽度 24等分
      itemType: 'select',
      disabled: () =>
        curTitle.value === '补充协议/新增报价' || curTitle.value === '形式协议',
      list: (params) => {
        getSignUpId(params);
        // curTitle.value === '形式协议' || curTitle.value === '补充协议/新增报价'
        //   ? []
        //   : getSignUpId(params);
      },
    },
    {
      showLabel: '签约日期', //展示的标签名 日期
      currentKey: 'signUpDate',
      currentValue: '', //默认值
      required: true,
      span: 6, //宽度 24等分
      itemType: 'data-picker',
    },
    {
      showLabel: '到期日期', //展示的标签名 日期
      currentKey: 'dueToDate',
      currentValue: '', //默认值
      required: true,
      span: 6, //宽度 24等分
      itemType: 'data-picker',
      disabled: () =>
        curTitle.value === '补充协议/新增报价' || dueToDateFlag.value,
    },
    {
      showLabel: '签约性质', //展示的标签名 选择器A（基础用法/单选）
      currentKey: 'signUpNature',
      componentType: 'SA',
      currentValue: '', //默认值
      required: true,
      span: 6, //宽度 24等分
      show: () => curTitle.value !== '补充协议/新增报价',
      itemType: 'select',
      list: [
        { label: '新签', value: 1 },
        { label: '续签', value: 2 },
      ],
    },
    {
      showLabel: '签约销售', //展示的标签名 选择器D（可模糊搜索/单选)
      currentKey: 'signSalesmanId',
      componentType: 'SD',
      currentValue: '', //默认值
      required: true,
      disabled: saleFalg,
      span: 6, //宽度 24等分
      itemType: 'select',
      change: () => {
        if (form.value.data.controlGoodsList) {
          controlGoodsChange();
        }
        if (form.value.data.customerId) {
          customerChange();
        }
        form.value.data.marketingDepartmentId = '';
        form.value.data.contact = '';
        form.value.data.contactAddress = '';
        form.value.data.contactPosition = '';
        form.value.data.phoneTel = 1;
        form.value.data.phoneTelNum = '';
        form.value.data.controlContact = '';
        form.value.data.controlContactAddress = '';
        form.value.data.controlContactPosition = '';
        form.value.data.controlPhoneTel = 1;
        form.value.data.controlPhoneTelNum = '';
      },
      list: (params) => {
        getSignSalesmanId(params);
      },
    },
    {
      showLabel: '营销部门', //展示的标签名 选择器A（基础用法/单选）
      currentKey: 'marketingDepartmentId',
      componentType: 'SA',
      currentValue: '', //默认值
      required: true,
      span: 6, //宽度 24等分
      itemType: 'select',
      list: (params) => {
        getMarketingDepartmentId(params);
      },
    },
    {
      showLabel: '是否有控货方', //展示的标签名 单选框
      currentKey: 'isTherePoint',
      show: () =>
        // 双方协议  试做报价 控货双方协议 形式协议 补充协议/新增报价
        curTitle.value === '双方协议' || curTitle.value === '试做报价',
      // &&
      // curTitle.value !== '形式协议' &&
      // curTitle.value !== '补充协议/新增报价'
      currentValue: '', //默认值
      required: true,
      change: ({ e, form }) => {
        if (!e) {
          form.data.controlGoodsList = '';
        }
      },
      span: 6, //宽度 24等分
      itemType: 'radio',
      list: [
        {
          label: '是',
          value: true,
        },
        {
          label: '否',
          value: false,
        },
      ],
    },
    {
      showLabel: '控货方名称', //展示的标签名 选择器C（可模糊搜索/多选）
      currentKey: 'controlGoodsList',
      componentType: 'SC',
      currentValue: '', //默认值
      required: ()=>curTitle.value ==='三方协议',
      allowSearch: true,
      multiple: () =>
        curTitle.value === '双方协议' || curTitle.value === '试做报价',
      span: 6, //宽度 24等分
      itemType: 'select',
      list: (params) => {
        getControlGoodsList(params);
      },
      change: (params) => {
        if(curTitle.value === '双方协议' || curTitle.value === '试做报价'){
          let data = form.value.data
          if(data.controlGoodsList.length < data.controlGoodsListSource.length){//删除选项
            data.controlGoodsListSource = data.controlGoodsListSource.filter(item=>{
              return data.controlGoodsList.includes(item.controlGoodsCnName)
            })
          }else{//增加选项
            let selectItem = params.item.list.find(item=>item.name == data.controlGoodsList[data.controlGoodsList.length-1])
            data.controlGoodsListSource.push({
              controlGoodsCnName: selectItem.name,
              controlGoodsId: selectItem.enterpriseId,
            })
          }
        }else{
          form.value.data.controlGoodsId = params.item.list.find(item=>item.name == params.e)?.enterpriseId//hx#
          form.value.data.controlGoodsCnName = params.item.list.find(item=>item.name == params.e)?.name//hx#
        }
        if (curTitle.value === '三方协议' && form.value.data.signSalesmanId) {
          controlGoodsChange();
        }
        // controlGoodsChange();
        //contactList
        form.value.data.controlContact = '';
        form.value.data.controlContactAddress = '';
        form.value.data.controlContactPosition = '';
        form.value.data.controlPhoneTel = 1;
        // form.value.data.phoneTel = '';
        form.value.data.controlPhoneTelNum = '';
      },
      loading: false,
      search: (params) => {
        getControlGoodsList(params);
      },
      show: () => {
        // !双方协议时展示，并且为多选
        // 双方协议 三方协议 试做报价 控货双方协议 形式协议 补充协议/新增报价
        return (
          (form.value.data.isTherePoint && curTitle.value === '双方协议') ||
          (form.value.data.isTherePoint && curTitle.value === '试做报价') ||
          curTitle.value === '三方协议'
        );
        //   &&
        // curTitle.value !== '控货双方协议' &&
        // curTitle.value !== '形式协议' &&
        // curTitle.value !== '补充协议/新增报价'
      },
      appendLabel: () =>
        curTitle.value
          ? h('div', [
              h(
                resolveComponent('DwButton'),
                {
                  style: {
                    'height': 'auto',
                    'margin-top': '-2px',
                  },
                  type: 'text',
                  onClick: () => {
                    modelVisible.value = true;
                    modalParams.width = 600;
                    modalParams.title = ModelTitle.AddCustomer;
                  },
                },
                [h(resolveComponent('icon-plus')), h('span', '新增客户')]
              ),
            ])
          : null,
    },
    {
      showLabel: '服务项目', //展示的标签名 复选框
      currentKey: 'contractInfoServiceList',
      componentType: 'SC',
      currentValue: '', //默认值
      required: true,
      maxTagCount: 2,
      span: 6, //宽度 24等分
      itemType: 'select',
      show: () =>
        // 双方协议 三方协议  控货双方协议 形式协议 补充协议/新增报价 试做报价
        // curTitle.value !== '形式协议' && curTitle.value !== '补充协议/新增报价',
        curTitle.value === '双方协议' ||
        curTitle.value === '试做报价' ||
        curTitle.value === '三方协议' ||
        curTitle.value === '控货双方协议',
      multiple: true,
      list: [],
    },
    {
      span: 24,
      itemType: 'line-empty',
    },
    {
      showLabel: '客户联系人', //展示的标签名 输入框A（基础用法）
      currentKey: 'contact',
      allowSearch: true,
      currentValue: '', //默认值
      required: true,
      span: 6, //宽度 24等分
      itemType: 'select',
      search: (params) => {
        form.value.data.contact = params.e;
      },
      show: () =>
        // 双方协议 三方协议  控货双方协议 形式协议 补充协议/新增报价 试做报价
        // curTitle.value !== '形式协议' && curTitle.value !== '补充协议/新增报价',
        curTitle.value === '双方协议' ||
        curTitle.value === '试做报价' ||
        curTitle.value === '三方协议' ||
        curTitle.value === '控货双方协议',
      change: () => {
        contactChange();
      },
      list: conList,
    },

    {
      showLabel: '联系人职务', //展示的标签名 输入框A（基础用法）
      currentKey: 'contactPosition',
      currentValue: '', //默认值
      required: true,
      span: 6, //宽度 24等分
      itemType: 'input',
      show: () =>
        // 双方协议 三方协议  控货双方协议 形式协议 补充协议/新增报价 试做报价
        // curTitle.value !== '形式协议' && curTitle.value !== '补充协议/新增报价',
        curTitle.value === '双方协议' ||
        curTitle.value === '试做报价' ||
        curTitle.value === '三方协议' ||
        curTitle.value === '控货双方协议',
    },
    {
      showLabel: '地址', //展示的标签名 输入框A（基础用法）
      currentKey: 'contactAddress',
      currentValue: '', //默认值
      required: true,
      span: 6, //宽度 24等分
      itemType: 'input',
      show: () =>
        // 双方协议 三方协议  控货双方协议 形式协议 补充协议/新增报价 试做报价
        // curTitle.value !== '形式协议' && curTitle.value !== '补充协议/新增报价',
        curTitle.value === '双方协议' ||
        curTitle.value === '试做报价' ||
        curTitle.value === '三方协议' ||
        curTitle.value === '控货双方协议',
    },
    {
      showLabel: '联系方式', //展示的标签名 选择器A（基础用法/单选）+输入框A（基础用法）
      currentKey: 'phoneTel',
      componentType: 'SA',
      currentValue: '', //默认值
      required: true,
      span: 2, //宽度 24等分
      itemType: 'select',
      show: () =>
        // 双方协议 三方协议  控货双方协议 形式协议 补充协议/新增报价 试做报价
        // curTitle.value !== '形式协议' && curTitle.value !== '补充协议/新增报价',
        curTitle.value === '双方协议' ||
        curTitle.value === '试做报价' ||
        curTitle.value === '三方协议' ||
        curTitle.value === '控货双方协议',
      list: [
        {
          label: '手机号',
          value: 1,
        },
        {
          label: '固定电话',
          value: 2,
        },
      ],
      change: ({ item, index, form, e }) => {
        if (e === 1) {
          form.data.fixedTelephone = '';
        } else {
          form.data.mobilePhone = '';
        }
      },
    },
    {
      showLabel: ({ form }) =>
        (form.data.phoneTel == 1 && '手机号') ||
        (form.data.phoneTel == 2 && '固定电话') ||
        '号码', //展示的标签名 选择器A（基础用法/单选）+输入框A（基础用法）
      currentKey: 'phoneTelNum',
      currentValue: '', //默认值
      placeholder: '请输入号码',
      required: true,
      span: 4, //宽度 24等分
      itemType: 'input-number',
      show: () =>
        // 双方协议 三方协议  控货双方协议 形式协议 补充协议/新增报价 试做报价
        // curTitle.value !== '形式协议' && curTitle.value !== '补充协议/新增报价',
        curTitle.value === '双方协议' ||
        curTitle.value === '试做报价' ||
        curTitle.value === '三方协议' ||
        curTitle.value === '控货双方协议',
    },
    {
      span: 24,
      itemType: 'line-empty',
    },
    {
      showLabel: '控货方联系人', //展示的标签名 输入框A（基础用法）
      currentKey: 'controlContact',
      allowSearch: true,
      currentValue: '', //默认值
      required: true,
      show: () => curTitle.value === '三方协议',
      span: 6, //宽度 24等分
      itemType: 'select',
      search: (params) => {
        form.value.data.controlContact = params.e;
      },
      change: () => {
        controlContactChange();
      },
      list: controlConList,
    },
    {
      showLabel: '联系人职务', //展示的标签名 输入框A（基础用法）
      currentKey: 'controlContactPosition',
      show: () => curTitle.value === '三方协议',
      currentValue: '', //默认值
      required: true,
      span: 6, //宽度 24等分
      itemType: 'input',
    },
    {
      showLabel: '地址', //展示的标签名 输入框A（基础用法）
      currentKey: 'controlContactAddress',
      show: () => curTitle.value === '三方协议',
      currentValue: '', //默认值
      required: true,
      span: 6, //宽度 24等分
      itemType: 'input',
    },
    {
      showLabel: '联系方式', //展示的标签名 选择器A（基础用法/单选）+输入框A（基础用法）
      currentKey: 'controlPhoneTel',
      show: () => curTitle.value === '三方协议',
      componentType: 'SA',
      currentValue: '', //默认值
      required: true,
      span: 2, //宽度 24等分
      itemType: 'select',
      list: [
        {
          label: '手机号',
          value: 1,
        },
        {
          label: '固定电话',
          value: 2,
        },
      ],
      change: ({ item, index, form, e }) => {
        if (e === 1) {
          form.data.controlFixedTelephone = '';
        } else {
          form.data.controlMobilePhone = '';
        }
      },
    },
    {
      showLabel: ({ form }) =>
        (form.data.controlPhoneTel === 1 && '手机号') ||
        (form.data.controlPhoneTel === 2 && '固定电话') ||
        '号码', //展示的标签名 选择器A（基础用法/单选）+输入框A（基础用法）
      currentKey: 'controlPhoneTelNum',
      show: () => curTitle.value === '三方协议',
      currentValue: '', //默认值
      placeholder: '请输入号码',
      required: true,
      span: 4, //宽度 24等分
      itemType: 'input-number',
    },
    {
      showLabel: '备注', //展示的标签名 输入框C（文本域））
      currentKey: 'remark',
      currentValue: '', //默认值
      // required: true,
      span: 24, //宽度 24等分
      itemType: 'textarea',
    },
  ],
});

//#region  关于弹窗
const ModelTitle = {
  selectContract: '选择合同',
  AddCustomer: '新增客户',
};
const modalParams = reactive({
  width: '60vw',
  title: '',
  row: {},
  record: form.value.data,
});
const modelVisible = ref(false);
const com = computed(() => {
  const title = modalParams.title;
  switch (title) {
    case ModelTitle.selectContract:
      return defineAsyncComponent(() => import('./SelectContract.vue'));
    case ModelTitle.AddCustomer:
      return defineAsyncComponent(() => import('./AddCustomer.vue'));
    default:
      return null;
  }
});
const handleConfirm = (record) => {
  console.log(record, '签约抬头');
  if (curTitle.value === '形式协议') {
    getCurrentItem(form.value.formItem, 'currentKey', 'signUpId').list = [
      {
        label: record.signUpName,
        value: record.signUpId,
      },
    ];
    form.value.data.relatedContractNo = record.contractNo;
    form.value.data.signUpId = record.signUpId; //签约抬头id
    modelVisible.value = false;
    form.value.data.dueToDate = record.dueToDate; // BUG:ID1015745 到期日期没有赋值
    dueToDateFlag.value = !!record.dueToDate;
  }
  if (curTitle.value === '补充协议/新增报价') {
    getCurrentItem(form.value.formItem, 'currentKey', 'signUpId').list = [
      {
        label: record.signUpName,
        value: record.signUpId,
      },
    ];
    form.value.data.relatedContractNo = record.contractNo;
    form.value.data.signUpId = record.signUpId; //签约抬头id

    form.value.data.contractTypeId = record.contractTypeId; //合同类型id
    form.value.data.contractType = record.contractType; ///合同类型

    form.value.data.relatedContractType = record.contractType; // 关联合同类型
    form.value.data.contractName = record.contractName; //合同名称

    form.value.data.businessTypesCode = record.businessTypesCode; //业务类型id
    form.value.data.signUpNature = record.signUpNature; //签约性质
    form.value.data.businessTypesName = record.businessTypesName; //业务类型
    form.value.data.goodsName = record.goodsName; //品类
    form.value.data.dueToDate = record.dueToDate;
    form.value.data.typesIdentity = record.typesIdentity;
    // this.checkboxData = record.serviceProjectIdList
    // this.checkboxData = record.serviceProjectCodeList
    modelVisible.value = false;
  }
};
//#endregion

// 监听字段之间的影响 用于新增和回显

// 业务类型变更
watch(
  () => form.value.data.businessTypesCode,
  (newValue) => {
    const list = getCurrentItem(
      form.value.formItem,
      'currentKey',
      'businessTypesCode'
    ).list;

    getContractInfoServiceList({
      codeTypeCode: 'contractservicetype',
      supperiorCodes: newValue,
    });
  }
);
// 签约销售变更
watch(
  () => form.value.data.signSalesmanId,
  (n) => {
    const list = getCurrentItem(
      form.value.formItem,
      'currentKey',
      'marketingDepartmentId'
    ).list;
    getMarketingDepartmentId({
      userId: n,
    });
  },
  { immediate: true }
);
// 处理回显 可能首次加载数据并未回来，需要监听
watch(
  () => props.contractInfo,
  (newValue) => {
    form.value.data = {
      ...form.value.data,
      ...handleReviewData(newValue),
    };
    // !形式协议回显处理
    if (curTitle.value === '形式协议') {
      form.value.data.relatedContractNo = newValue.relatedContractNo;
      form.value.data.signUpId = newValue.signUpId; //签约抬头id
      getCurrentItem(form.value.formItem, 'currentKey', 'signUpId').list = [
        {
          label: newValue.signUpName,
          value: newValue.signUpId,
        },
      ];
      // 服务项目
      form.value.data.contractInfoServiceList =
        newValue.serviceInfo?.split('、');
    }
    if (curTitle.value === '补充协议/新增报价') {
      // getCurrentItem(form.value.formItem, 'currentKey', 'signUpId').list = [
      //   {
      //     label: record.signUpName,
      //     value: record.signUpId,
      //   },
      // ];
      // form.value.data.relatedContractNo = record.contractNo;
      // form.value.data.signUpId = record.signUpId; //签约抬头id

      // form.value.data.contractTypeId = record.contractTypeId; //合同类型id
      // form.value.data.contractType = record.contractType; ///合同类型

      // form.value.data.relatedContractType = record.contractType; // 关联合同类型
      // form.value.data.contractName = record.contractName; //合同名称

      // form.value.data.businessTypesCode = record.businessTypesCode; //业务类型id
      // form.value.data.signUpNature = record.signUpNature; //签约性质
      // form.value.data.businessTypesName = record.businessTypesName; //业务类型
      form.value.data.goodsName = newValue.goodsName; //品类
      // form.value.data.dueToDate = record.dueToDate;
      // form.value.data.typesIdentity = record.typesIdentity;
      // // this.checkboxData = record.serviceProjectIdList
      // // this.checkboxData = record.serviceProjectCodeList
      // modelVisible.value = false;
    }
    // 签约销售回显问题
    if (props.contractInfo.signSalesman) {
      const sale = getCurrentItem(
        form.value.formItem,
        'currentKey',
        'signSalesmanId'
      ).list.find((item) => item.value == props.contractInfo.signSalesmanId);
      if (!sale) {
        getCurrentItem(
          form.value.formItem,
          'currentKey',
          'signSalesmanId'
        ).list.unshift({
          value: props.contractInfo.signSalesmanId,
          label: props.contractInfo.signSalesman,
        });
      }
    }
    // 客户联系人回显
    if(props.contractInfo.signSalesmanId && props.contractInfo.customerId){
      customerChange()
    }
    // 控货方联系人
    if(curTitle.value === '三方协议' && props.contractInfo.signSalesmanId){
      controlGoodsChange()
    }
    // if (props.contractInfo.customerId) {
    //   const sale = getCurrentItem(
    //     form.value.formItem,
    //     'currentKey',
    //     'signSalesmanId'
    //   ).list.find((item) => item.value == props.contractInfo.customerId);
    //   if (!sale) {
    //     getCurrentItem(
    //       form.value.formItem,
    //       'currentKey',
    //       'customerId'
    //     ).list.unshift({
    //       value: props.contractInfo.customerId,
    //       label: props.contractInfo.customerName,
    //     });
    //   }

    //   customerChange();
    // }
    // if (props.contractInfo.controlGoodsId) {
    //   const sale = getCurrentItem(
    //     form.value.formItem,
    //     'currentKey',
    //     'signSalesmanId'
    //   ).list.find((item) => item.value == props.contractInfo.controlGoodsId);
    //   if (!sale) {
    //     getCurrentItem(
    //       form.value.formItem,
    //       'currentKey',
    //       'controlGoodsList'
    //     ).list.unshift({
    //       value: props.contractInfo.controlGoodsId,
    //       label: props.contractInfo.controlGoodsCnName,
    //     });
    //   }

    //   controlGoodsChange();
    // }
    if (props.contractInfo.signUpId) {
      getCurrentItem(
        form.value.formItem,
        'currentKey',
        'signUpId'
      ).list.unshift({
        value: props.contractInfo.signUpId,
        label: props.contractInfo.signUpName,
      });
    }
    console.log(props.contractInfo, 'props.contractInfo');
  },
  {
    immediate: true,
    deep: true,
  }
);

onMounted(async () => {
  // 获取合同类型
  await getContractList();
  if (route.query.contractInfoId) {
    disabled.isEdit = true;
  } else {
    form.value.data.signUpDate = new Date();
  }
});

// 因三方和双方参数不同，需要特殊处理
// 控货方名称 三方  controlGoodsId controlGoodsCnName
// 控货方名称 双方，试做  controlGoodsList 数组 多选
const handleControlGoods = () => {
  if (curTitle.value === '双方协议' || curTitle.value === '试做报价') {
    if (!form.value.data.isTherePoint) return {};
    //多选
    // const controlGoodsList = getCurrentItem(
    //   form.value.formItem,
    //   'currentKey',
    //   'controlGoodsList'
    // )
    //   .list.filter((item) =>
    //     form.value.data.controlGoodsList.includes(item.value)
    //   )
    //   .map((item) => ({
    //     ...item,
    //     controlGoodsCnName: item.label,
    //     controlGoodsId: item.value,
    //   }));
    const controlGoodsList = form.value.data.controlGoodsListSource
    delete form.value.data.controlGoodsListSource
    return { controlGoodsList };
  } else {
    //三方和其他
    const curItem = getCurrentItem(
      form.value.formItem,
      'currentKey',
      'controlGoodsList'
    ).list.find((item) => form.value.data.controlGoodsList === item.name);
    if(curItem){
      return {
        controlGoodsCnName: curItem?.name,
        controlGoodsId: curItem?.enterpriseId,
      };
    }
  }
};
// 提交参数处理
const handleParams = () => {
  //#region 保存参数处理
  // 服务项目
  const contractInfoServiceList = getCurrentItem(
    form.value.formItem,
    'currentKey',
    'contractInfoServiceList'
  )
    .list?.filter((item) =>
      form.value.data.contractInfoServiceList.includes(item.value)
    )
    .map((item) => ({
      ...item,
      serviceProjectCode: item.value,
      serviceProject: item.label,
    }));
  // 签约销售
  const signSalesman = getCurrentItem(
    form.value.formItem,
    'currentKey',
    'signSalesmanId'
  ).list.find((item) => form.value.data.signSalesmanId === item.value)?.label;
  // 营销部门
  const marketingDepartmentCname = getCurrentItem(
    form.value.formItem,
    'currentKey',
    'marketingDepartmentId'
  ).list.find(
    (item) => form.value.data.marketingDepartmentId === item.value
  )?.label;
  // 业务类型
  const businessTypesName = getCurrentItem(
    form.value.formItem,
    'currentKey',
    'businessTypesCode'
  ).list.find(
    (item) => form.value.data.businessTypesCode === item.value
  )?.label;
  // 客户名称
  // const customerName = getCurrentItem(
  //   form.value.formItem,
  //   'currentKey',
  //   'customerId'
  // ).list.find((item) => form.value.data.customerId === item.value)?.label;
  // 签约抬头
  const signUpName = getCurrentItem(
    form.value.formItem,
    'currentKey',
    'signUpId'
  ).list.find((item) => form.value.data.signUpId === item.value)?.label;
  // const signUpName = getCurrentItem(
  //   form.value.formItem,
  //   'currentKey',
  //   'signUpId'
  // ).list.find((item) => form.value.data.signUpId === item.value)?.label;

  //#endregion
  return {
    ...form.value.data,
    [form.value.data.phoneTel === 1 ? 'mobilePhone' : 'fixedTelephone']:
      form.value.data.phoneTelNum,
    [form.value.data.controlPhoneTel === 1
      ? 'controlMobilePhone'
      : 'controlFixedTelephone']: form.value.data.controlPhoneTelNum,
    contractInfoServiceList,
    signSalesman,
    marketingDepartmentCname,
    businessTypesName,
    // customerName,
    signUpName,
    ...handleControlGoods(), //控货方名称
  };
};
// 动态url获取
const handleUrl = () => {
  const id = route.query.contractInfoId; //存在id则为编辑
  switch (curTitle.value) {
    case '双方协议':
    case '试做报价':
      return id ? 'updateDoubleAgreement' : 'addDoubleAgreement';
    case '三方协议':
      return id ? 'updateThirdAgreement' : 'addThirdAgreement';
    case '控货双方协议':
      return id ? 'updateControlDoubleAgreement' : 'addControlDoubleAgreement';
    case '形式协议':
      return id
        ? 'updateContractFormalAgreement'
        : 'addContractFormalAgreement';
    case '补充协议/新增报价':
      return id ? 'updateSupplementaryAgreement' : 'addSupplementaryAgreement';
    default:
      console.error(`${curTitle.value}出错！`);
  }
};
// 新增合同-确定
const addContract = () => {
  modelVisible.value = false;
};
//  新增客户 确定
const addCustomer = async () => {
  await comRef.value.submit();
  modelVisible.value = false;
};
// 保存
const handleSave = () => {
  // history.pushState({contractId:666},'',route.path)

  // 验证表单
  form.value.formRef.validate((result) => {
    // console.error(result);
    if (result) return;
    contractManage[handleUrl()]({
      ...handleParams(),
    }).then(async (res) => {
      if (res.code == 200) {
        // router.replace(route.path,{query:route.query,contractInfoId:res.id})
        if (route.query.contractInfoId) {
          //编辑
          router.push({
            query: merge(route.query, {
              contractInfoId: res.data.id.toString(),
            }),
          });
        } else {
          //新增
          // 关闭当前页打开新页面
          const tabBarStore = useTabBarStore();
          const tagList = computed(() => {
            return tabBarStore.getTabList;
          });
          let tag = route;
          let idx;
          tagList.value.find((item, index) => {
            if (item.fullPath === route.fullPath) {
              idx = index;
              return true;
            }
          });
          tabBarStore.deleteTag(idx, tag);
          router.push({
            query: merge(route.query, {
              contractInfoId: res.data.id.toString(),
            }),
          });
        }

        disabled.isEdit = true;
        Message.success('操作成功！');
      }
    });
  });
};

const handleEdit = () => {
  disabled.isEdit = false;
};
watch(()=>disabled.isEdit,()=>{
  emits('updateIsEdit',disabled.isEdit)
},{
  immediate:true
})
const handleClose = () => {
  disabled.isEdit = true;
};
defineExpose({
  handleParams,
});
</script>

<style lang="less" scoped>
.info {
  margin-bottom: 20px;
  position: relative;
  border: 1px solid var(--color-neutral-3);
}

.btn_wrapper {
  display: flex;
  justify-content: flex-end;
}
:deep(.arco-card-header) {
  border: none;
}
</style>