<template>
  <a-table :columns="columns" :data="data" :pagination="false">
    <template #submitTime="{ record }">
      <div>{{ record.signUpDate }} - {{ record.dueToDate }}</div>
    </template>

    <template #operator="{ record }">
      <DwButton type="text" @click="handleConfirm(record)">使用</DwButton>
    </template>
  </a-table>
</template>

<script setup>
import { nextTick, onMounted, ref, watch, reactive } from 'vue';
import { useRouter, useRoute } from 'vue-router';
import { contractManage } from '@/api/contractManage'; //当前页面api
const emit = defineEmits('handleConfirm');
const props = defineProps({
  modalParams: {
    type: Object,
    default: () => ({}),
  },
});

const router = useRouter();
const route = useRoute();
const columns = [
  {
    title: '合同编号',
    dataIndex: 'contractNo',
    width: 200,
  },
  {
    title: '业务类型',
    dataIndex: 'businessTypesName',
    width: 120,
  },
  {
    title: '品类',
    dataIndex: 'categoryName',
    width: 120,
  },
  {
    title: '销售',
    dataIndex: 'signSalesman',
    width: 120,
  },
  {
    title: '服务项目',
    dataIndex: 'serviceProject',
    width: 120,
    ellipsis: true,
    tooltip: true,
  },
  {
    title: '签约抬头',
    dataIndex: 'signUpName',
    width: 120,
    ellipsis: true,
    tooltip: true,
  },
  {
    title: '有效期',
    dataIndex: 'validityDate',
    width: 120,
    ellipsis: true,
    tooltip: true,
  },
  {
    title: '提交时间',
    dataIndex: 'submitTime',
    width: 120,
    ellipsis: true,
    tooltip: true,
  },
  {
    title: '操作',
    width: 90,
    slotName: 'operator',
    fixed: 'right',
  },
];

const data = reactive([]);
onMounted(() => {
  const params = {
    customerId:
      route.query.item === '形式协议'
        ? props.modalParams.row.relatedCustomerId
        : props.modalParams.row.customerId,
  };
  contractManage.selectContract(params).then((res) => {
    data.length = 0;
    data.push.apply(data, res.data.list);
  });
});
const handleConfirm = (record) => {
  emit('handleConfirm', record);
};
//#endregion
</script>
