<template>
  <div class="right-side">
    <a-button class="nav-btn" type="outline">
      <!-- TODO -->
      <template #icon>
        <!-- <icon-sync /> -->
        <icon-export />
      </template>
      <span>导出</span>
    </a-button>
  </div>
</template>

<script lang="ts" setup></script>

<style scoped lang="less">
  .right-side {
    width: auto;
    display: flex;
    padding-right: 20px;
    list-style: none;
    :deep(.locale-select) {
      border-radius: 20px;
    }
    a {
      color: var(--color-text-1);
      text-decoration: none;
    }
    .nav-btn {
      height: 24px;
      padding: 2px 4px;
      border-color: rgb(var(--gray-2));
      color: rgb(var(--gray-8));
      font-size: 14px;
      border: none;
      background-color: #fff;
      &:hover {
        background-color: #eef3ff;
        color: #2969ff;
      }
    }
    .trigger-btn,
    .ref-btn {
      position: absolute;
      bottom: 14px;
    }
    .trigger-btn {
      margin-left: 14px;
    }
  }
</style>
