<template>
  <div class="container">
    <div>
      <button-area>
        <template #left>
          <search-btn
            v-model="searchword"
            placeholder="业务编号/提单号/发票号"
          ></search-btn>
          <!-- @click="searchBtnClick" -->
          <filter-btn
            v-model:pageInitFilters="pageInitFilters"
            :viewUserId="viewUserId"
            :viewSystemId="viewSystemId"
            ref="filterRef"
          ></filter-btn>
          <custom-column
            v-model:pageInitColumns="pageInitColumns"
            :viewUserId="viewUserId"
            :viewType="viewType"
            :viewSystemId="viewSystemId"
            @submitSuccess="submitSuccess"
          ></custom-column>
          <screen-btn></screen-btn>
          <!-- 刷新按钮执行列表初始化 -->
          <sync-btn @click="syncData"></sync-btn>
        </template>
        <template #right>
          <!-- :disabled="true"  禁用编辑按钮 -->
          <edit-table v-model="isEditDisabled" :disabled="true"></edit-table>
          <a-button
            type="primary"
            :style="{
              'width': '108px',
              'height': '30px',
              'margin-right': '8px',
            }"
            @click="
              router.push({
                path: '/mos/reimburse/costEnty',
              })
            "
          >
            <!-- <template #icon>
              <icon-plus />
            </template> -->
            <span>新增成本</span>
          </a-button>
          <!-- :disabled="!applyIs" -->
          <a-button
            type="primary"
            :disabled="!applyIs"
            @click="apply"
            :style="{
              'width': '108px',
              'height': '30px',
              'margin-right': '8px',
            }"
          >
            <template #icon>
              <icon-plus />
            </template>
            <span>申请请款</span>
          </a-button>
        </template>
      </button-area>
      <header-d :dataConfig="dataConfig"></header-d>
      <!-- {{modalVisible}} -->

      <div class="table-wrap">
        <!-- <a-empty v-if="!hasTabData"></a-empty> -->
        <fundTable
          :url="url"
          :path="path"
          :viewUserId="viewUserId"
          :viewInfo="viewInfo"
          :searchword="searchword"
          :viewFilterRule="viewFilterRule"
          :columns="columns"
          :syncFlag="syncFlag"
          column-resizable
          :bordered="{ cell: true }"
          :operateList="operateList"
          @openFilter="openFilter"
          @getSelectData="getSelectData"
          @paginationWidth="paginationWidth"
          ref="commonTableRef"
        >
        </fundTable>
      </div>
      <tabViewApply
        :viewType="viewType"
        :changeViewId="changeViewId"
        @submitViewHandle="submitViewHandle"
        @submitDelete="submitDelete"
        @currentTabViewId="currentTabViewId"
        @chooseFields="chooseFields"
        :viewFilterRule="viewFilterRule"
        @viewFilterRuleChange="viewFilterRuleChange"
        @currentTabviewName="currentTabviewName"
        :paginationWidthNum="paginationWidthNum"
        ref="tabViewRef"
      ></tabViewApply>
      <tab-view-modal
        v-model="modalVisible"
        :title="tabViewModelTitle"
        :defaultActiveKey="defaultActiveKey"
        v-model:modalParams="modalParams"
        @syncTabViewList="syncTabViewList"
      ></tab-view-modal>
      <div class="bottom">
        <div class="upload"
          ><uploadFile
            :tableData="[]"
            ref="uploadRef"
            currencySymbol=""
          ></uploadFile
        ></div>
        <div class="file"><files ref="fileRef"></files></div>
      </div>
      <apply-modal
        ref="applyRef"
        :applyInfo="applyInfo"
        @applyFee="applyFee"
      ></apply-modal>
    </div>
  </div>
</template>

<script lang="ts" setup>
</script>

<script lang="ts">
import {
  defineComponent,
  ref,
  watch,
  reactive,
  h,
  toRefs,
  computed,
  onMounted,
  nextTick,
} from 'vue';
import { settlementApi } from '@/api/settlementApi/index';
import { useUserStore } from '@/store';
import { setNumericText } from '@/utils';
import commonApi from '@/utils/commonApi/index';
import headerD from '@/components/navHeader/headerD.vue';
import fundTable from './components/tableApply.vue';
import tabViewApply from '@/components/tab-view/indexApply.vue';
import uploadFile from './components/uploadFile.vue';
import applyModal from './components/applyModal.vue';
import files from './components/files.vue';
import { useRouter } from 'vue-router';

import { Modal, Message, Button } from '@arco-design/web-vue';
export default defineComponent({
  name: 'refund',
  components: {
    fundTable,
    tabViewApply,
    uploadFile,
    headerD,
    files,
    applyModal,
  },
  setup(props, { emit, slots, attrs }) {
    const filterRef = ref([]);
    const router = useRouter();
    const userStore = useUserStore();
    const tabViewRef = ref<any>(null);
    const commonTableRef = ref([]);
    const uploadRef = ref([]);
    const fileRef = ref([]);
    const dataMap = reactive({
      hasTabData: false,
      detailData: {},
      dataConfig: [
        {
          name: '业务',
          value: 0,
        },
        {
          name: '金额',
          value: 0,
        },
      ],
      applyInfo: {},
      selectedData: [], // 表格已选择的数据   用于右侧按钮操作时的数据
      syncFlag: 0, // 刷新标志
      selectData: [],
      isTotalAmount: 0,
      path: 'settleTrack/detail',
      url: settlementApi.canPaymentRequestDetails, // 表格请求的地址  不同的列表页  地址会变化
      viewType: '35', // 运单列表代码 1
      viewUserId: '', // 用户视图ID
      changeViewId: '',
      tabHandleViewUserId: '', // 用户视图ID
      viewInfo: {}, // 用户视图ID 系统视图ID
      viewSystemId: '', // 用户视图ID 系统视图ID
      viewFilterRule: '', // 视图筛选项
      initFilters: '', // 保存视图原始筛选项
      columns: [], // 动态表头表头
      initColumns: [], // 保存视图原始表头
      pageInitColumns: [], // 页面自定义列信息
      modalParams: {}, // 视图弹框配置
      pageInitFilters: '',
      filterlist: [],
      customcolumn: {},
      operateList: [],
      // params: {
      //   viewUserId: '', // 用户视图ID
      //   keyword: '',
      //   pageNum: 1, // 当前页-默认为1
      //   pageSize:10, // 每页大小-默认为10
      //   viewFilterRule: '', //筛选规则: 整体为字符串数组JSON格式数组，单条规则之间分割符为|||
      //   orderByViewSystemFieldId:'', // 排序字段的系统视图字段ID
      //   orderByType: '',//排序类型: 降序-desc 升序-asc
      // },
      searchword: '',
      searchPopupVisible: false,
      isEditDisabled: false, //
      tabViewData: [],
      modalVisible: false, // 控制新增/编辑/复制视图弹窗是否显示
      tabViewModelTitle: '新增视图', // 视图弹窗title
      defaultActiveKey: '1', // 视图默认展示的tab标签 类型string
      paginationWidthNum: 0,
      currentViewName: '',
      viewName: '',
    });
    const syncData = () => {
      dataMap.searchword = '';
      dataMap.viewFilterRule = '';
      dataMap.columns = dataMap.initColumns;
      dataMap.syncFlag++;
    };
    const applyRef = ref([]);
    const applyIs = ref(false);
    const chooseFields = (val: any) => {
      console.log(val);
      console.log('---------表头表头-----------');
      if (val.length > 0) {
        dataMap.hasTabData = true;
      } else {
        dataMap.hasTabData = false;
      }
      // 中间列表 展示列表头  当前展示的 传给公共table的
      dataMap.columns = val;
      // 当前视图表头  刷新时设置为dataMap.columns
      dataMap.initColumns = val;
      // button区域自定义列  定义表头 - -  脑子可能不太好  整这么多表头
      dataMap.pageInitColumns = val;
    };
    const apply = () => {
      applyRef.value.handleClick();
    };
    const viewFilterRule1 = (val: any) => {
      console.log(val);
      // 传给公共table 的筛选项
      dataMap.viewFilterRule = val;
      // 当前视图筛选项  刷新时设置为dataMap.viewFilterRule
      dataMap.initFilters = val;
      // button区域筛选按钮
      dataMap.pageInitFilters = val;
    };
    const viewFilterRuleChange = (val: any) => {
      console.log(val);
      // 传给公共table 的筛选项
      dataMap.viewFilterRule = val;
      // 当前视图筛选项  刷新时设置为dataMap.viewFilterRule
      dataMap.initFilters = val;
      // button区域筛选按钮
      dataMap.pageInitFilters = val;
    };
    const currentTabViewId = (viewId: object) => {
      console.log('接收到视图id的参数了', viewId);
      dataMap.viewUserId = viewId.currentTabViewId;
      dataMap.viewInfo = viewId;
      dataMap.viewSystemId = viewId.viewSystemId;
    };

    const submitViewHandle = (param: any) => {
      console.log('从视图组件传来的参数：', param);
      // return
      // 需要展示视图弹窗
      dataMap.modalVisible = true;
      dataMap.tabViewModelTitle = param.title;
      dataMap.defaultActiveKey = param.defaultActiveKey;
      // 新增视图  编辑视图  复制视图
      // 新增视图 无初始化数据
      // 编辑和复制视图  初始化数据一致
      if (param.title == '新增视图') {
        dataMap.modalParams = {
          initColumns: [],
          initFilters: '',
          ...param,
        };
      } else {
        dataMap.modalParams = {
          initColumns: dataMap.initColumns, // 视图原始展示列
          initFilters: dataMap.initFilters,
          ...param,
        };
      }
      console.log('dataMap.modalParams:', dataMap.modalParams);
    };

    const openFilter = () => {
      console.log('需要打开筛选。。。');
      filterRef.value.filterRef.handleClick();
    };

    const submitDelete = (id: any) => {
      console.log(id);
      console.log('删除了当前视图  整个页面需要初始化');
    };

    const submitSuccess = (val: any) => {
      console.log(val);
      console.log('');
      console.log(tabViewRef.value, 'tabViewRef.value');
      // tabViewRef.value.getTabViewListFn()
      // 重新获取表头
      tabViewRef.value.getColumns(dataMap.viewUserId);
    };
    watch(
      () => uploadRef.value.amount,
      (newval) => {
        let form = uploadRef.value.form;
        let invoces = uploadRef.value.data;
        if (form?.invoiceCode != 'BKFP' && form?.invoiceCode != 'WFPO') {
          if (newval == dataMap.isTotalAmount) {
            applyIs.value = true;
          } else {
            applyIs.value = false;
          }
        } else {
          applyIs.value = true;
        }
        if (dataMap.selectedData.length == 0) {
          applyIs.value = false;
        }
      },
      { immediate: true, deep: true }
    );
    watch(
      () => uploadRef.value.form,
      (newval) => {
        let form = uploadRef.value.form;
        let invoces = uploadRef.value.data;
        let amount = uploadRef.value.amount;
        if (form?.invoiceCode != 'BKFP' && form?.invoiceCode != 'WFPO') {
          if (amount == dataMap.isTotalAmount) {
            applyIs.value = true;
          } else {
            applyIs.value = false;
          }
        } else {
          applyIs.value = true;
        }
        if (dataMap.selectedData.length == 0) {
          applyIs.value = false;
        }
      },
      { immediate: true, deep: true }
    );
    watch(
      () => dataMap.searchword,
      (newval, oldval) => {
        console.log('来新数据了123', newval);
        // 改变页面params
        // 重新请求获取列表数据的接口
        // TODO
        // getList(params)
      },
      { immediate: true, deep: true }
    );
    watch(
      () => dataMap.pageInitFilters,
      (newval, oldval) => {
        console.log('来新数据了111', newval);
        dataMap.viewFilterRule = newval;
      },
      { immediate: true, deep: true }
    );
    // 多选数据
    const getSelectData = (val: any) => {
      dataMap.selectedData = val;
      dataMap.dataConfig[0].value = val.length;
      dataMap.selectData = commonTableRef.value.commonTableData.filter((item) =>
        val.includes(item.key)
      );
      dataMap.isTotalAmount = dataMap.selectData.reduce((t, i) => {
        if (!isNaN(Number(i.taxIncludedAmount))) {
          return (t += Number(i.taxIncludedAmount));
        }
        return (t += 0);
      }, 0);
      if (dataMap.selectData && dataMap.selectData.length > 0) {
        //表头金额的计算
        dataMap.dataConfig[1].value =
          dataMap.selectData[0]?.currencySymbol +
          setNumericText(dataMap.isTotalAmount, {
            commas: true,
          });
        //发票与业务金额的对比
        let form = uploadRef.value.form;
        let amount = uploadRef.value.amount;
        if (form?.invoiceCode != 'BKFP' && form?.invoiceCode != 'WFPO') {
          if (amount == dataMap.isTotalAmount) {
            applyIs.value = true;
          } else {
            applyIs.value = false;
          }
        } else {
          applyIs.value = true;
        }
        //申请请款弹窗需要的信息
        dataMap.applyInfo = {
          paymentRequestEnterpriseName: dataMap.selectData[0].ownerName,
          paymentRequestEnterpriseId: dataMap.selectData[0].ownerId,
          currency: dataMap.selectData[0].currency,
          currencyName: dataMap.selectData[0].currencyName,
          currencySymbol: dataMap.selectData[0].currencySymbol,
          amount: dataMap.isTotalAmount,
        };
      }
      if (dataMap.selectedData.length == 0) {
        applyIs.value = false;
      }
    };
    const applyFee = async (form) => {
      let invoces = uploadRef.value.data;
      let formData = uploadRef.value.form;
      let params = {
        invoices: invoces,
        invoiceCode: formData.invoiceCode,
        invoiceName: formData.invoiceName,
        invoiceTaxRate: formData.invoiceTaxRate,
        costs: [],
        files: fileRef.value.fileList,
        ...form,
      };
      dataMap.selectData.forEach((item) => {
        params.costs.push({
          settlementId: item.statementId, //结算单ID
          settlementNo: item.statementNo, //结算单号
          settlementCostId: item.id, //结算单费用id
          feeCode: item.feeCode, //费用code
          feeName: item.feeName,
          proxyFee: item.proxyFee, //是否代付
          amount: item.taxIncludedAmount,
          lumpSumFee: item.lumpSumFee, //是否包干费用
          shipFee: item.shipFee,
          currency: item.currency, //币别
          currencyName: item.currencyName, //币别名称
          currencyExchangeRate: item.currencyExchangeRate,
          currencySymbol: item.currencySymbol,
        });
      });
      console.log(fileRef.value.fileList, params, '参数');
      const res = await settlementApi.paymentrequestSubmit(params);
      if (res.code == 200) {
        applyRef.value.handleCancel();
        Message.success('申请请款成功');
        router.push({
          name: 'fundRequest',
        });
      }
    };
    const paginationWidth = (val: any) => {
      console.log(val);
      dataMap.paginationWidthNum = val;
    };

    const currentTabviewName = (val: any) => {
      console.log(val);
      dataMap.currentViewName = val;
    };

    const syncTabViewList = (val: any) => {
      console.log('需要刷新视图列表', val);
      dataMap.changeViewId = val;
      tabViewRef.value.getTabViewListFn();
    };

    // modalParams
    watch(
      () => dataMap.modalParams,
      (newval, oldval) => {
        console.log('来新数据了modalParams', newval);
      },
      { immediate: true, deep: true }
    );
    const signatrueDialogRef = ref(null);
    const showsignDialog = () => {
      signatrueDialogRef.value.visible = true;
    };
    const extraDialogRef = ref(null);
    const showextraDialog = () => {
      extraDialogRef.value.visible = true;
    };

    return {
      syncData,
      ...toRefs(dataMap),
      viewFilterRule1,
      uploadRef,
      fileRef,
      applyIs,
      apply,
      applyRef,
      applyFee,
      // columns,
      // data,
      // PaginationProps,
      chooseFields,
      currentTabViewId,
      submitViewHandle,
      submitDelete,
      openFilter,
      filterRef,
      getSelectData,
      viewFilterRuleChange,
      paginationWidth,
      currentTabviewName,
      showsignDialog,
      signatrueDialogRef,
      extraDialogRef,
      submitSuccess,
      tabViewRef,
      commonTableRef,
      syncTabViewList,
    };
  },
});
</script>

<style lang="less" scoped>
.container {
  background-color: #f1f1f1;
  overflow: scroll;
  // max-width: 100%;
  display: flex;
  // padding: 20px;
  background-color: #f1f1f1;
  height: calc(~'100vh - 93px');
  .bottom {
    display: flex;
    padding: 0 20px 20px;
    // height: 30%;
    overflow: auto;
    margin-bottom: 20px;
    .upload {
      padding: 20px;
      width: 66%;
      margin-right: 20px;
      background-color: #fff;
    }
    .file {
      width: calc(~'40vw - 60px');
      padding: 20px;
      background-color: #fff;
    }
  }
}
.table-wrap {
  width: calc(~'100vw - 60px');
  overflow: hidden;
  margin: 20px;
  // padding: 0 20px;
  height: 40%;
  background-color: #fff;
  margin-bottom: 20px;
}
.info-modal-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
</style>
