<template>
  <div class="main"
    ><nav-header :navConfig="navConfig"
      ><template #detail>
        <div class="statue">
          <dw-tag :class="detailData.statusNameColor"
            ><template #word> {{ detailData.statusName }} </template></dw-tag
          >
        </div>
      </template></nav-header
    >
    <div class="info"><base-info :info="info"></base-info></div>
    <div class="tab">
      <a-tabs :default-active-key="active">
        <a-tab-pane key="1" title="附件">
          <upload-table
            :columns="columns_3"
            :tableData="tableData_3"
          ></upload-table>
        </a-tab-pane>
        <a-tab-pane key="2" title="请款费用明细">
          <a-table :columns="columns" :data="tableData" :pagination="false">
            <template #index="record">
              {{ record.rowIndex + 1 }}
            </template>
            <template #settlementNo="{ record }">
              <span class="cp" style="color: #2969ff" @click="goState(record)">
                {{ record.settlementNo }}</span
              >
            </template>
            <template #proxyFee="{ record }">
              <span v-if="record.proxyFee">是</span>
              <span v-else>否</span>
            </template>
            <template #invoiceTaxRate="{ record }">
              {{ Number(record.invoiceTaxRate) * 100 + '%' }}
            </template>
            <template #amount="{ record }">
              {{ detailData.currencySymbol + toThousandFilter(record.amount) }}
            </template>
          </a-table>
        </a-tab-pane>
        <a-tab-pane key="3" title="发票明细">
          <uploadFile
            v-if="detailData.status == 5"
            :tableData="tableData_2"
            ref="uploadRef"
            :currencySymbol="detailData.currencySymbol"
          ></uploadFile>
          <a-table
            v-else
            :columns="columns_2"
            :scroll="{ y: 200 }"
            :data="tableData_2"
            :default-expand-all-rows="true"
            :expandable="expandable"
            :pagination="false"
            :summary="summary"
          >
            <template #index="record">
              <span v-if="record.record.sum">{{ record.record.sum }}</span>
              <span v-else>{{ record.rowIndex + 1 }}</span>
            </template>
            <template #invoiceTaxRate="{ record }">
              <span v-if="record.invoiceTaxRate">{{
                Number(record.invoiceTaxRate) * 100 + '%'
              }}</span>
            </template>
            <template #taxIncludedAmount="{ record }">
              {{
                (detailData.currencySymbol || '') +
                toThousandFilter(record.taxIncludedAmount)
              }}
            </template>
          </a-table>
        </a-tab-pane>
        <a-tab-pane key="4" title="付款记录">
          <a-table :columns="columns_4" :data="tableData_4" :pagination="false">
            <template #index="record">
              {{ record.rowIndex + 1 }}
            </template>
            <template #statementNo="{ record }">
              <span> {{ record.statementNo }}</span>
            </template>

            <template #amount="{ record }">
              {{ detailData.currencySymbol + toThousandFilter(record.amount) }}
            </template>
            <template #chequeNo="{ record }">
              {{ record.chequeNo }}{{ record.draftNo }}
            </template>
            <template #exchangeRate="{ record }">
              {{ Number(record.exchangeRate).toFixed(4) }}
            </template>
            <template #exchangeRateAmount="{ record }">
              {{
                detailData.currencySymbol +
                toThousandFilter(record.exchangeRateAmount)
              }}
            </template>
          </a-table>
        </a-tab-pane>
        <a-tab-pane key="5" title="审批记录">
          <approve
            :radioList="radioList"
            :logs="logs"
            @refund="refund"
          ></approve>
        </a-tab-pane>
      </a-tabs>
    </div>
    <pay-modal
      ref="payModalRef"
      @paySure="paySure"
      :paymentType="3"
    ></pay-modal>
  </div>
</template>
<script lang="ts" setup>
import { useRoute, useRouter } from 'vue-router';
import { Modal, Message, Notification } from '@arco-design/web-vue';
import uploadFile from './components/uploadFile.vue';
import baseInfo from '../../settlement/components/baseInfo.vue';
import approve from '../../settlement/components/approve.vue';
import payModal from '../../settlement/components/payModal.vue';
import navHeader from '@/components/navHeader/index.vue';
import uploadTable from '@/components/common-table/uploadTable.vue';
import commonApi from '@/utils/commonApi/index';
import { setNumericText } from '@/utils';
import { reactive, ref, h, onMounted } from 'vue';
import { settlementApi } from '@/api/settlementApi/index';
const navConfig = reactive({
  title: '请款详情',
  btns: [
    {
      icon: '',
      title: '支付',
      type: '',
      isShow: true,
      value: 'FUNCTION_320',
      callback: () => {
        payModalRef.value.handleClick(detailData.value);
      },
    },
    {
      icon: '',
      title: '撤销请款',
      type: '',
      isShow: true,
      value: 'FUNCTION_325',
      callback: () => {
        hanldeRevoke();
      },
    },
    {
      icon: '',
      title: '作废请款',
      type: '',
      isShow: true,
      value: 'FUNCTION_326',
      callback: () => {
        cancelFund();
      },
    },
  ],
});
const detailData = ref([]);
const logs = ref([]);
const active = ref('1');
const uploadRef = ref([]);
const payModalRef = ref([]);
const info = reactive({
  title: '基本信息',
  list: [],
  currencySymbol: '',
});
const summary = ({ columns, data }) => {
  let total = 0;
  console.log(data, 'data');

  data.forEach((record) => {
    total += record.taxIncludedAmount;
  });
  return [
    {
      sum: '合计',
      invoiceTaxRate: '',
      invoiceNo: data.length,
      taxIncludedAmount: total,
    },
  ];
};
const radioList = ref([
  {
    label: '审批',
    value: 1,
    code: 'FUNCTION_324',
    isShow: true,
  },
  {
    label: '驳回',
    value: 2,
    code: 'FUNCTION_322',
    isShow: true,
  },
  {
    label: '间接驳回',
    value: 3,
    code: 'FUNCTION_321',
    isShow: true,
  },
]);
const route = useRoute();
const router = useRouter();
const tableData = ref([]);
const tableData_2 = ref([]);
const tableData_3 = ref([]);
const tableData_4 = ref([]);
const columns_3 = [
  {
    title: '文件名',
    slotName: 'fileName',
  },
  {
    title: '上传人',
    dataIndex: 'creatorName',
  },
  {
    title: '上传时间',
    dataIndex: 'createTime',
  },
];
const columns = [
  {
    title: '#',
    slotName: 'index',
  },
  {
    title: '业务编号',
    slotName: 'settlementNo',
  },
  {
    title: '费用名称',
    dataIndex: 'feeName',
  },
  {
    title: '代付',
    slotName: 'proxyFee',
  },
  {
    title: '支付对象',
    dataIndex: 'receiverName',
  },
  {
    title: '发票类型',
    dataIndex: 'invoiceName',
  },
  {
    title: '发票税率',
    slotName: 'invoiceTaxRate',
  },
  {
    title: '还款金额',
    slotName: 'amount',
  },
  {
    title: '备注',
    dataIndex: 'remark',
  },
];
const columns_4 = [
  {
    title: '#',
    slotName: 'index',
  },
  { title: '付款公司', dataIndex: 'payerName' },
  { title: '付款方式', dataIndex: 'paymentMethodName' },
  { title: '支付金额', slotName: 'amount' },
  { title: '票据号', slotName: 'chequeNo' },
  { title: '购汇汇率', slotName: 'exchangeRate' },
  { title: '购汇金额', slotName: 'exchangeRateAmount' },
  { title: '付款人', dataIndex: 'creatorName' },
  { title: '付款时间', dataIndex: 'createTime' },
];
const columns_2 = [
  {
    title: '#',
    slotName: 'index',
  },
  {
    title: '发票类型',
    dataIndex: 'invoiceName',
  },
  {
    title: '税率',
    slotName: 'invoiceTaxRate',
  },
  {
    title: '发票号',
    dataIndex: 'invoiceNo',
  },
  {
    title: '发票金额',
    slotName: 'taxIncludedAmount',
  },
];
const goState = (record) => {
  router.push({
    name: 'settleTrack/detail',
    query: {
      id: record.settlementId,
    },
  });
};
const refund = async (val, textarea) => {
  if (val == 1) {
    const { code, data } = await settlementApi.paymentrequestReviewed({
      id: route.query.id,
    });
    if (code == 200) {
      Message.success('审批成功');
      init();
    }
  } else if (val == 2) {
    if (textarea == '') {
      Message.error('请先填写驳回原因');
      return;
    }
    const { code, data } = await settlementApi.paymentrequestRejected({
      id: route.query.id,
      remark: textarea,
    });
    if (code == 200) {
      Message.success('驳回成功');
      init();
    }
  } else if (val == 3) {
    if (textarea == '') {
      Message.error('请先填写间接驳回原因');
      return;
    }
    const { code, data } = await settlementApi.paymentrequestIndirectlyRejected(
      {
        id: route.query.id,
        remark: textarea,
      }
    );
    if (code == 200) {
      Message.success('驳回成功');
      init();
    }
  }
};
const paySure = async (form: any) => {
  const { code, data } = await settlementApi.paymentrequestPay(form);
  if (code == 200) {
    Message.success('支付完成');
    payModalRef.value.handleCancel();
    init();
  }
};
const cancelFund = () => {
  Modal.warning({
    title: '提示',
    hideCancel: false,
    alignCenter: true,
    content: () =>
      h('div', { class: 'info-modal-content' }, [
        h(
          'span',
          { style: 'margin-left: 60px;' },
          '作废后不可回退，是否确认作废？'
        ),
      ]),

    cancelText: '取消',
    async onOk() {
      const { code } = await settlementApi.paymentrequestCancel({
        id: route.query.id,
      });
      if (code == 200) {
        Message.success('撤销成功');
        init();
      }
    },
  });
};
const hanldeRevoke = () => {
  Modal.warning({
    title: '提示',
    hideCancel: false,
    alignCenter: true,
    content: () =>
      h('div', { class: 'info-modal-content' }, [
        h(
          'span',
          { style: 'margin-left: 60px;' },
          '撤销后不可回退，是否确认撤销？'
        ),
      ]),

    cancelText: '取消',
    async onOk() {
      const { code } = await settlementApi.paymentrequestRevoke({
        id: route.query.id,
      });
      if (code == 200) {
        Message.success('撤销成功');
        init();
      }
    },
  });
};
const toThousandFilter = (num) => {
  return setNumericText(Number(num), { commas: true, zeroText: '0.00' });
};
const init = async () => {
  const { code, data } = await settlementApi.paymentrequestDetail({
    id: route.query.id,
  });
  if (code == 200) {
    detailData.value = data;
    if (data.status == 5) {
      active.value = '3';
    }
    info.currencySymbol = data.currencySymbol || '';
    tableData_3.value = data.files;
    tableData_4.value = data.paymentLogs || [];
    tableData.value = data.costs;
    tableData_2.value = data.invoices;
    logs.value = data.approveLogs;
    info.list = [
      {
        label: '请款单号',
        key: data.no,
      },
      {
        label: '请款公司',
        key: data.ownerName,
      },
      {
        label: '支付对象',
        key: data.receiverName,
      },
      {
        label: '支付账号',
        key: data.receiverBankIban,
      },
      {
        label: '支付方式',
        key: data.paymentMethodName,
      },
      {
        label: '计划付款日期',
        key: data.plannedPaymentDate,
      },
      {
        label: '请款金额',
        key: data.amount,
        slotName: 'amountSymbol',
      },
      {
        label: '付款金额',
        key: data.payAmount,
        slotName: 'amountSymbol',
      },
      {
        label: '未付款金额',
        key: data.unpayAmount,
        slotName: 'amountSymbol',
      },
      {
        label: '申请人',
        key: data.creatorName,
      },
      {
        label: '申请部门',
        key: data.departmentName,
      },
      {
        label: '申请日期',
        key: data.createTime,
      },
      {
        label: '请款备注',
        key: data.remark,
      },
    ];
  }
  const res = await commonApi.getRoleByPage('MOS_PAGE_0026');
  const codes = res.map((v) => v.functionCode);
  navConfig.btns = navConfig.btns.filter((v) => codes.includes(v.value));
  radioList.value = radioList.value.filter((v) => codes.includes(v.code));
  navConfig.btns.push({
    icon: '',
    title: '再次提交',
    type: '',
    isShow: true,
    value: 'submitAgainBtn',
    callback: () => {
      submitAgain();
    },
  });
  const submitAgain = async () => {
    let form = uploadRef.value.form;
    let invoces = uploadRef.value.data;
    let amount = uploadRef.value.amount;
    if (form.invoiceCode != 'BKFP' || form.invoiceCode != 'WFPO') {
      if (amount != detailData.value.amount) {
        Message.error('发票金额不等于请款金额');
        return;
      }
    }
    let params = {
      id: route.query.id,
      invoiceCode: form.invoiceCode,
      invoiceName: form.invoiceName,
      invoiceTaxRate: form.invoiceTaxRate,
      invoces: invoces,
    };
    const { code, data } = await settlementApi.paymentrequestSubmitRepeat(
      params
    );
    if (code == 200) {
      Message.success('提交成功');
      init();
    }
  };
  navConfig.btns.forEach((v) => {
    if (v.value == 'FUNCTION_320') {
      v.isShow = data.btnGroup.payBtn;
    } else if (v.value == 'FUNCTION_325') {
      v.isShow = data.btnGroup.cancelBtn;
    } else if (v.value == 'FUNCTION_326') {
      v.isShow = data.btnGroup.revokeBtn;
    } else if (v.value == 'submitAgainBtn') {
      v.isShow = data.btnGroup.submitAgainBtn;
    }
  });

  radioList.value.forEach((v) => {
    if (v.code == 'FUNCTION_324') {
      v.isShow = data.btnGroup.reviewBtn;
      //   && data.showApproveBtn;
    } else if (v.code == 'FUNCTION_322') {
      v.isShow = data.btnGroup.rejectedBtn;
      //   && data.showRejectBtn;
    } else if (v.code == 'FUNCTION_321') {
      v.isShow = data.btnGroup.indirectlyBtn;
      //   && data.showRejectBtn;
    }
  });
};
onMounted(() => {
  init();
});
</script>
<style lang="less" scoped>
.main {
  padding-top: 60px;
  // height: 100vh;
  padding-bottom: 1px;
  background-color: #f1f1f1;
  .info {
    margin: 20px;
    background-color: #fff;
  }
  .tab {
    margin: 20px;
    padding: 20px 31px;
    background-color: #fff;
  }
}
</style>