<template>
  <div class="container">
    <div>
      <button-area>
        <template #left>
          <search-btn v-model="searchword" placeholder="请款单号"></search-btn>

          <!-- @click="searchBtnClick" -->
          <filter-btn
            v-model:pageInitFilters="pageInitFilters"
            :viewUserId="viewUserId"
            :viewSystemId="viewSystemId"
            ref="filterRef"
          ></filter-btn>
          <custom-column
            v-model:pageInitColumns="pageInitColumns"
            :viewUserId="viewUserId"
            :viewType="viewType"
            :viewSystemId="viewSystemId"
            @submitSuccess="submitSuccess"
          ></custom-column>
          <export-table @click="exportTable"></export-table>
          <screen-btn></screen-btn>
          <!-- 刷新按钮执行列表初始化 -->
          <sync-btn @click="syncData"></sync-btn>
        </template>
        <template #right>
          <!-- :disabled="true"  禁用编辑按钮 -->
          <edit-table v-model="isEditDisabled" :disabled="true"></edit-table>
          <a-button
            v-if="applyIs"
            type="primary"
            :style="{ width: '115px', height: '30px' }"
            @click="$router.push('fundRequest/apply')"
          >
            <template #icon>
              <icon-plus />
            </template>
            <span>申请请款</span>
          </a-button>
        </template>
      </button-area>
      <!-- {{modalVisible}} -->

      <div class="table-wrap">
        <a-empty v-if="!hasTabData"></a-empty>
        <CommonTableSettle
          v-else
          :url="url"
          :path="path"
          :viewUserId="viewUserId"
          :viewInfo="viewInfo"
          :searchword="searchword"
          :viewFilterRule="viewFilterRule"
          :columns="columns"
          :syncFlag="syncFlag"
          column-resizable
          :bordered="{ cell: true }"
          :operateList="operateList"
          @openFilter="openFilter"
          @getSelectData="getSelectData"
          @paginationWidth="paginationWidth"
          ref="commonTableRef"
        >
        </CommonTableSettle>
      </div>
      <tab-view
        :viewType="viewType"
        :changeViewId="changeViewId"
        @submitViewHandle="submitViewHandle"
        @submitDelete="submitDelete"
        @currentTabViewId="currentTabViewId"
        @chooseFields="chooseFields"
        @viewFilterRule="viewFilterRule"
        @viewFilterRuleChange="viewFilterRuleChange"
        @currentTabviewName="currentTabviewName"
        :paginationWidthNum="paginationWidthNum"
        ref="tabViewRef"
      ></tab-view>
      <tab-view-modal
        v-model="modalVisible"
        :title="tabViewModelTitle"
        :defaultActiveKey="defaultActiveKey"
        v-model:modalParams="modalParams"
        @syncTabViewList="syncTabViewList"
      ></tab-view-modal>
      <print-modal ref="printRef"></print-modal>
    </div>
  </div>
</template>

<script lang="ts" setup>
</script>

<script lang="ts">
import {
  defineComponent,
  ref,
  watch,
  reactive,
  h,
  toRefs,
  computed,
  onMounted,
  nextTick,
} from 'vue';
import commonApi from '@/utils/commonApi/index';
import { settlementApi } from '@/api/settlementApi/index';
import printModal from './components/printModal.vue';
import { useUserStore } from '@/store';
import { Modal, Message, Button } from '@arco-design/web-vue';
export default defineComponent({
  name: 'refund',
  components: {
    printModal,
  },
  setup(props, { emit, slots, attrs }) {
    const filterRef = ref([]);
    const printRef = ref([]);
    const userStore = useUserStore();
    const tabViewRef = ref<any>(null);
    const commonTableRef = ref([]);
    const dataMap = reactive({
      hasTabData: false,
      detailData: {},
      applyIs: false,
      selectedData: [], // 表格已选择的数据   用于右侧按钮操作时的数据
      syncFlag: 0, // 刷新标志
      path: 'fundRequest/detail',
      url: settlementApi.paymentrequestList, // 表格请求的地址  不同的列表页  地址会变化
      viewType: '34', // 运单列表代码 1
      viewUserId: '', // 用户视图ID
      changeViewId: '',
      tabHandleViewUserId: '', // 用户视图ID
      viewInfo: {}, // 用户视图ID 系统视图ID
      viewSystemId: '', // 用户视图ID 系统视图ID
      viewFilterRule: '', // 视图筛选项
      initFilters: '', // 保存视图原始筛选项
      columns: [], // 动态表头表头
      initColumns: [], // 保存视图原始表头
      pageInitColumns: [], // 页面自定义列信息
      modalParams: {}, // 视图弹框配置
      pageInitFilters: '',
      filterlist: [],
      customcolumn: {},
      operateList: [
        {
          name: '打印',
          icon: '',
          color: 'rgba(41, 105, 255, 1)',
          // TODO
          isShow: (record: any) => {
            return record.signFlowEnd;
          },
          callback: (record: any) => {
            dataMap.detailData = record;
            printRef.value.handleClick(dataMap.detailData.key);
          },
        },
        {
          name: '撤销请款',
          icon: '',
          color: 'rgba(41, 105, 255, 1)',
          isShow: (record: any) => {
            return (
              record.statusName == '审核中' &&
              userStore.userId == record.creator
            );
          },
          callback: (record: any) => {
            hanldeRevoke(record.key);
          },
        },
      ],
      searchword: '',
      searchPopupVisible: false,
      isEditDisabled: false, //
      tabViewData: [],
      PaginationProps: {
        'size': 'mini',
        'total': 100000,
        'current': 1, //  当前页码
        'show-page-size': true,
        'page-size-options': [10, 20, 30, 40, 50],
        'show-total': true,
        'show-jumper': true,
      },
      modalVisible: false, // 控制新增/编辑/复制视图弹窗是否显示
      tabViewModelTitle: '新增视图', // 视图弹窗title
      defaultActiveKey: '1', // 视图默认展示的tab标签 类型string
      paginationWidthNum: 0,
      currentViewName: '',
      viewName: '',
    });
    const exportTable = async () => {
      const { code, data } = await settlementApi.paymentrequestExport(
        commonTableRef.value.params
      );
      if (code == 200) {
        window.open(data.fileUrl);
      }
    };
    const hanldeRevoke = (key) => {
      Modal.warning({
        title: '提示',
        hideCancel: false,
        alignCenter: true,
        content: () =>
          h('div', { class: 'info-modal-content' }, [
            h(
              'span',
              { style: 'margin-left: 60px;' },
              '撤销后不可回退，是否确认撤销？'
            ),
          ]),

        cancelText: '取消',
        async onOk() {
          const { code } = await settlementApi.paymentrequestRevoke({
            id: key,
          });
          if (code == 200) {
            Message.success('撤销成功');
            syncData();
          }
        },
      });
    };

    const syncData = () => {
      dataMap.searchword = '';
      dataMap.viewFilterRule = '';
      dataMap.columns = dataMap.initColumns;
      dataMap.syncFlag++;
    };

    const chooseFields = (val: any) => {
      console.log(val);
      console.log('---------表头表头-----------');
      if (val.length > 0) {
        dataMap.hasTabData = true;
      } else {
        dataMap.hasTabData = false;
      }
      // 中间列表 展示列表头  当前展示的 传给公共table的
      dataMap.columns = val;
      // 当前视图表头  刷新时设置为dataMap.columns
      dataMap.initColumns = val;
      // button区域自定义列  定义表头 - -  脑子可能不太好  整这么多表头
      dataMap.pageInitColumns = val;
    };

    const viewFilterRule = (val: any) => {
      console.log(val);
      // 传给公共table 的筛选项
      dataMap.viewFilterRule = val;
      // 当前视图筛选项  刷新时设置为dataMap.viewFilterRule
      dataMap.initFilters = val;
      // button区域筛选按钮
      dataMap.pageInitFilters = val;
    };
    const viewFilterRuleChange = (val: any) => {
      console.log(val);
      // 传给公共table 的筛选项
      dataMap.viewFilterRule = val;
      // 当前视图筛选项  刷新时设置为dataMap.viewFilterRule
      dataMap.initFilters = val;
      // button区域筛选按钮
      dataMap.pageInitFilters = val;
    };
    const currentTabViewId = (viewId: object) => {
      console.log('接收到视图id的参数了', viewId);
      dataMap.viewUserId = viewId.currentTabViewId;
      dataMap.viewInfo = viewId;
      dataMap.viewSystemId = viewId.viewSystemId;
    };

    const submitViewHandle = (param: any) => {
      console.log('从视图组件传来的参数：', param);
      // return
      // 需要展示视图弹窗
      dataMap.modalVisible = true;
      dataMap.tabViewModelTitle = param.title;
      dataMap.defaultActiveKey = param.defaultActiveKey;
      // 新增视图  编辑视图  复制视图
      // 新增视图 无初始化数据
      // 编辑和复制视图  初始化数据一致
      if (param.title == '新增视图') {
        dataMap.modalParams = {
          initColumns: [],
          initFilters: '',
          ...param,
        };
      } else {
        dataMap.modalParams = {
          initColumns: dataMap.initColumns, // 视图原始展示列
          initFilters: dataMap.initFilters,
          ...param,
        };
      }
      console.log('dataMap.modalParams:', dataMap.modalParams);
    };

    const openFilter = () => {
      console.log('需要打开筛选。。。');
      filterRef.value.filterRef.handleClick();
    };

    const submitDelete = (id: any) => {
      console.log(id);
      console.log('删除了当前视图  整个页面需要初始化');
    };

    const submitSuccess = (val: any) => {
      console.log(val);
      console.log('');
      console.log(tabViewRef.value, 'tabViewRef.value');
      // tabViewRef.value.getTabViewListFn()
      // 重新获取表头
      tabViewRef.value.getColumns(dataMap.viewUserId);
    };

    watch(
      () => dataMap.searchword,
      (newval, oldval) => {
        console.log('来新数据了', newval);
        // 改变页面params
        // 重新请求获取列表数据的接口
        // TODO
        // getList(params)
      },
      { immediate: true, deep: true }
    );
    watch(
      () => dataMap.pageInitFilters,
      (newval, oldval) => {
        console.log('来新数据了', newval);
        dataMap.viewFilterRule = newval;
      },
      { immediate: true, deep: true }
    );
    // 多选数据
    const getSelectData = (val: any) => {
      dataMap.selectedData = val;
      console.log(val, 123);
    };

    const paginationWidth = (val: any) => {
      console.log(val);
      dataMap.paginationWidthNum = val;
    };

    const currentTabviewName = (val: any) => {
      console.log(val);
      dataMap.currentViewName = val;
    };

    const syncTabViewList = (val: any) => {
      console.log('需要刷新视图列表', val);
      dataMap.changeViewId = val;
      tabViewRef.value.getTabViewListFn();
    };

    // modalParams
    watch(
      () => dataMap.modalParams,
      (newval, oldval) => {
        console.log('来新数据了modalParams', newval);
      },
      { immediate: true, deep: true }
    );
    const signatrueDialogRef = ref(null);
    const showsignDialog = () => {
      signatrueDialogRef.value.visible = true;
    };
    const extraDialogRef = ref(null);
    const showextraDialog = () => {
      extraDialogRef.value.visible = true;
    };
    const init = async () => {
      const res = await commonApi.getRoleByPage('MOS_PAGE_0025');
      // applyIs:true,
      // applyNoIS:true,
      const btnList = res.map((item) => {
        return item.functionCode;
      });
      if (btnList.indexOf('FUNCTION_319') > -1) {
        dataMap.applyIs = true;
      } else {
        dataMap.applyIs = false;
      }
    };
    init();
    return {
      init,
      exportTable,
      syncData,
      printRef,
      ...toRefs(dataMap),
      // columns,
      // data,
      // PaginationProps,
      chooseFields,
      viewFilterRule,
      currentTabViewId,
      submitViewHandle,
      submitDelete,
      openFilter,
      filterRef,
      getSelectData,
      viewFilterRuleChange,
      paginationWidth,
      currentTabviewName,
      showsignDialog,
      signatrueDialogRef,
      extraDialogRef,
      submitSuccess,
      tabViewRef,
      commonTableRef,
      syncTabViewList,
    };
  },
});
</script>

<style lang="less" scoped>
.container {
  background-color: var(--color-bg-2);
  // max-width: 100%;
  display: flex;
  height: calc(~'100vh - 93px');
}
.table-wrap {
  width: 100%;
  overflow: hidden;
  padding: 0 20px;
  height: calc(~'100% - 70px - 64px');
}
.info-modal-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
</style>
