<template>
  <div class="component-common-table">
    <!-- :columns="commonColumn.slice(0,20)"   // 表格渲染慢的原因是  列数太多 -->
    <!-- 多选不可选中  因为后台缺少key字断 -->
    <!-- <span class="icon iconfont icon-zhankai16px1px"></span> -->
    <!-- :loading="loading" -->
    <a-table
      row-key="$index"
      :columns="commonColumn"
      :data="commonTableData"
      :row-selection="rowSelection"
      :scroll="scroll"
      :pagination="PaginationProps"
      :loading="loading"
      @page-change="pageChange"
      @page-size-change="pageSizeChange"
      @sorter-change="sortChange"
      @column-resize="columnResize"
      @select="selectHandle"
      @select-all="selectAll"
      @selection-change="selectionChange"
      class="commonTable"
      v-bind="$attrs"
      v-model:selectedKeys="selectedKeys"
    >
      <!-- 操作列 处理 -->
      <template #operatetitle>
        <div class="overBgTitle"></div>
      </template>
      <template #operate="{ record }">
        <!-- {{record.key}} -->
        <div class="overBg"> </div>
        <a-dropdown trigger="click" position="bl">
          <a-button size="mini" class="operateBtn">
            <template #icon>
              <icon-more-vertical />
            </template>
          </a-button>
          <template #content>
            <a-doption
              v-for="(item, index) in operateList"
              :key="index"
              v-show="item.isShow && item.isShow(record)"
              @click="item.callback && item.callback(record)"
            >
              <span :style="{ color: item.color, padding: '0 10px 0 3px' }">{{
                item.name
              }}</span>
              <!-- {{item.name}} -->
            </a-doption>
          </template>
        </a-dropdown>
      </template>
      <!-- 星标列 处理 -->
      <template #startitle>
        <div></div>
      </template>
      <template #star="{ record }">
        <a-popover position="right">
          <icon-star
            size="14"
            v-if="record.star == 0"
            style="cursor: pointer"
          />
          <icon-star-fill
            size="14"
            v-else
            :style="{ color: colors[record.star] }"
          />
          <template #content>
            <div class="starList">
              <span v-for="(color, index) in colors" :key="index">
                <icon-star-fill size="14" :style="{ color: color }" />
              </span>
              <span>
                <icon-star size="14" />
              </span>
            </div>
          </template>
        </a-popover>
      </template>

      <!-- TODO 任务和异常需要添加跳转链接 -->

      <!-- 任务列 处理 -->
      <template #task="{ record }">
        <span
          v-if="record.taskNum > 0"
          style="color: rgba(240, 59, 59, 1)"
          class="cp"
          @click="router.push({ path:'/mos/task'})"
        >
          <i class="icon iconHover"> <icon-list size="14" /> </i
          >{{ record.taskNum }}
        </span>
        <span v-else>
          <i class="icon">
            <icon-list size="14" />
          </i>
        </span>
      </template>

      <!-- 异常列 处理 -->
      <template #abnormal="{ record }">
        <span
          v-if="record.abnormalNum > 0"
          style="color: rgba(240, 59, 59, 1)"
          class="cp"
          @click="router.push({ path:'/mos/abnormal'})"
        >
          <i class="icon iconHover"> <icon-exclamation-circle size="14" /> </i
          >{{ record.abnormalNum }}
        </span>
        <span v-else>
          <i class="icon">
            <icon-exclamation-circle size="14" />
          </i>
        </span>
      </template>

      <!-- 消息列 处理 -->
      <template #infotitle>
        <!-- {{column}} -->
        <div>消息</div>
      </template>
      <template #info="{ record }">
        <span
          v-if="record.infoNum > 0"
          style="color: rgba(41, 105, 255, 1)"
          class="cp"
        >
          <i class="icon iconHoverGreen"> <icon-message size="14" /> </i
          >{{ record.infoNum }}
        </span>
        <span v-else>
          <i class="icon">
            <icon-message size="14" />
          </i>
        </span>
      </template>

      <!-- 筛选列 表头处理 -->
      <template #filterable="{ column }">
        <div>
          {{ column.title }}
          <span class="filterBtn" @click.stop="filterHandle">
            <icon-filter />
          </span>
          <!-- <filter-btn
            v-model:pageInitFilters="pageInitFilters"
          ></filter-btn> -->
        </div>
      </template>

      <!-- 状态列 处理 -->
      <template #status="{ record, column }">
        <div>
          <dw-tag :class="record[column.color]">
            <template #icon>
              <!-- <icon-star/> -->
            </template>
            <template #word>
              {{ record[column.dataIndex] }}
            </template>
          </dw-tag>
          <!-- {{record[column.color]}} -->
          <!-- {{column.color}} -->
        </div>
      </template>

      <template #documentPreparationHandoverTime="{ record, column, rowIndex }">
        <template v-if="isOrderCompleted(record)">
          {{ record[column.dataIndex] }}
        </template>
        <a-date-picker
          v-else
          :key="`${rowIndex}-${record.key}`"
          show-time
          format="YYYY-MM-DD HH:mm"
          v-model="record[column.dataIndex]"
          @ok="onDatePickerOk($event, record, column)"
        />
      </template>
      <template #preparationCompletedTime="{ record, column, rowIndex }">
        <template v-if="isOrderCompleted(record)">
          {{ record[column.dataIndex] }}
        </template>
        <a-date-picker
          v-else
          :key="`${rowIndex}-${record.key}`"
          show-time
          format="YYYY-MM-DD HH:mm"
          v-model="record[column.dataIndex]"
          @ok="onDatePickerOk($event, record, column)"
        />
      </template>
      <template #originalSignatureSignTime="{ record, column, rowIndex }">
        <template v-if="isOrderCompleted(record)">
          {{ record[column.dataIndex] }}
        </template>
        <a-date-picker
          v-else
          :key="`${rowIndex}-${record.key}`"
          show-time
          format="YYYY-MM-DD HH:mm"
          v-model="record[column.dataIndex]"
          @ok="onDatePickerOk($event, record, column)"
        />
      </template>
      <template #customsNos="{ record }">
        <template v-if="hasCustomsNo(record)">
          <a-popover
            trigger="click"
            position="right"
            @popup-visible-change="handlePopupVisibleChange($event, record)"
          >
            <span :style="{ color: 'rgba(41, 105, 255, 1)', cursor: 'pointer' }">{{ record.customsNos }}</span>
            <template #content>
              <div
                v-for="custom in record.popoverList"
                :key="custom.value"
                @click="goCustomsDetail(custom.value)"
              >
                <a-link>{{ custom.name }}</a-link>
              </div>
            </template>
          </a-popover>
          <!-- <span
            v-for="(customsNo, index) in record.customsNos.split(',')"
            :key="customsNo"
            :style="{ color: 'rgba(41, 105, 255, 1)', cursor: 'pointer' }"
            @click="goCustomsDetail(customsNo)"
          >
            {{ customsNo }}{{ index === record.customsNos.split(',').length - 1 ? '' : ',' }}
          </span> -->
        </template>
      </template>
    </a-table>
    <!-- :loading="loading" -->
    <!-- @select="selectClick" -->
    <!--  -->
  </div>
</template>

<script lang="ts">
import {
  defineComponent,
  onMounted,
  PropType,
  reactive,
  toRefs,
  watch,
  ref,
  h,
  defineExpose,
  computed,
  onUnmounted,
  nextTick,
} from 'vue';
import { Message } from '@arco-design/web-vue'
import {
  updateFieldWidth,
  getTaskNum,
  getRiskNum,
  getInfoNum,
} from '@/api/base';
import { filter } from 'lodash';
import router from '@/router';
import trackApi from '@/api/track'
import { APPID } from '@/constant'
import { getToken } from '@/utils'
import { useRouter } from 'vue-router'
export default defineComponent({
  name: 'CommonTable',
  props: {
    // 数据请求接口名
    url: {
      type: Function,
      require: true,
    },
    // 视图id
    viewUserId: {
      type: String,
      require: true,
    },
    viewInfo: {
      type: Object,
      require: true,
    },
    searchword: {
      type: String,
      default: '',
    },
    path: { type: String, default: '' },
    viewFilterRule: {
      type: String,
      default: '',
    },
    // 表格列字段配置
    columns: {
      // type: Array as PropType<TableColumnCtx[]>,
      type: Array,
      require: true,
      default: () => [],
    },
    operateList: {
      type: Array,
      default: () => [],
    },
    syncFlag: {
      type: Number,
    },
    columnUpdateMethod: {
      type: Function,
      default: () => () => Promise.resolve()
    },
  },
  emits: ['openFilter', 'getSelectData', 'paginationWidth', 'afterColumnUpdate', 'handleCellClick'],
  // setup(props,context){
  setup(props, { attrs, emit, slots }) {
    const router = useRouter()
    const handlePopupVisibleChange = (visible: boolean, record: Record<string, any>) => {
      if (!visible) return

      trackApi.queryJumpInfo({ logisticsNo: record.orderLogisticsNo })
        .then(({ code, data }) => {
          if (code === '200') {
            record.popoverList = data || []
          }
        })
        .catch(console.error)
    }
    const hasCustomsNo = (record: any) => {
      return !!record.customsNos && record.customsNos.split(',').length > 0
    }
    const emitCellClick = (scope: any) => {
      emit('handleCellClick', scope)
    }
    const goCustomsDetail = (id: string) => {
      window.open(
        `${import.meta.env.VITE_API_NODE_AEOURL}?id=${id}&IEFlag=I&appId=${APPID}&token=${getToken()}`,
        '_blank',
      )
    }

    const onDatePickerOk = ($event: string, record: any, column: any) => {
      const fieldName = column.dataIndex
      const fieldNameArr = [, 'documentPreparationHandoverTime', 'preparationCompletedTime', 'originalSignatureSignTime']
      const field = `MAKE_ORDER_FIELD0${fieldNameArr.indexOf(fieldName)}`
      const params = {
        logisticsNo: record.orderLogisticsNo,
        field,
        value: $event,
      }
      console.log({ params }, props.columnUpdateMethod)
      props.columnUpdateMethod(params)
        .then((res: any) => {
          if (res?.code === '200') {
            Message.success('编辑成功')
            emit('afterColumnUpdate')
          }
        })
        .catch(console.error)
    }

    const isOrderCompleted = (record: any) => record.status === 18

    const commonTable = ref();
    const selectedKeys = ref([]);
    let data = reactive([]);
    const dataMap = reactive({
      oldSyncFlag: 0,
      titleSlotName: [] as any[],
      timer: null,
      props,
      params: {
        viewUserId: props.viewUserId, // 用户视图ID 必须
        keyword: props.searchword, // 搜索关键字
        pageNum: 1, // 当前页-默认为1
        pageSize: 10, // 每页大小-默认为10
        viewFilterRule: '', //筛选规则: 整体为字符串数组JSON格式数组，单条规则之间分割符为|||
        orderByViewSystemFieldId: '', // 排序字段的系统视图字段ID
        orderByType: '', //排序类型: 降序-desc 升序-asc
      },
      rowSelection: {
        type: 'checkbox',
        showCheckedAll: true,
        width: 30,
        fixed: true,
      },
      commonColumn: [] as any[],
      commonTableData: [] as any[],
      loading: false,
      PaginationProps: {
        'size': 'mini',
        'total': '',
        'current': 1, //  当前页码
        'page-size': 10, // 每页展示的数据条数
        'show-page-size': true,
        'page-size-options': [10, 20, 30, 40, 50],
        'show-total': true,
        'show-jumper': true,
      },
      tData: Array<any>(),
      tLoading: false,
      tTotal: 0,
      // tParams: props.params,
      // tColumns: props.columns,
      // numberText: props.numberText,
      page: 1,
      size: 10,
      // disableList: props.disableList,
      radio: '',
      radioSelect: '',
      bodyHeight: document.body.clientHeight,
      pageChange(page: number) {
        console.log('当前page改变了：', page);
        dataMap.PaginationProps.current = page;
        dataMap.params.pageNum = page;
      },
      pageSizeChange(pageSize: number) {
        console.log('当前page显示数改变了：', pageSize);
        dataMap.PaginationProps['page-size'] = pageSize;
        dataMap.params.pageSize = pageSize;
      },
      // 点击行选择器时触发
      selectHandle(rowKeys: string, rowKey: string, record: any) {
        console.log(rowKeys, rowKey, record, '点击行选择器时触发');
      },
      colors: [
        'red',
        'orangered',
        'orange',
        'gold',
        'lime',
        'green',
        'cyan',
        'blue',
        'arcoblue',
        'purple',
        'pinkpurple',
        'magenta',
        'gray',
      ],

      // 多选时筛选数据设置禁选
      // setSelectable(row: any) {
      //   let flag = true
      //   dataMap.disableList.forEach((item) => {
      //     if (item === row[props.rowKey]) {
      //       flag = false // 不可勾选
      //     }
      //   })
      //   return flag
      // },
      filterClick() {
        console.log('dsdawdbh但是你就打算打卡');
      },
      // 排序调整
      sortChange(dataIndex: string, direction: string) {
        // console.log('dsdawdbh但是你就打算打卡')
        // console.log(dataIndex,direction)
        const viewSystemFieldId = props.columns.find(
          (p) => p.fieldInterface === dataIndex
        ).viewSystemFieldId;
        // console.log(viewSystemFieldId)
        dataMap.params.orderByViewSystemFieldId = direction
          ? viewSystemFieldId
          : '';
        dataMap.params.orderByType = direction
          ? direction.replace('end', '')
          : '';
      },
      // 列宽调整方法
      columnResize(dataIndex: string, width: number) {
        if (dataMap.timer) {
          clearTimeout(dataMap.timer);
        }
        dataMap.timer = setTimeout(() => {
          // 用户输入停止1500毫秒后
          // 数据双向绑定
          console.log(dataIndex, width, '调整列块');
          // const currentItem = props.columns.filter((item:any) => item.fieldInterface == dataIndex)
          const viewUserFieldId = props.columns.find(
            (p) => p.fieldInterface === dataIndex
          ).viewUserFieldId;
          console.log(viewUserFieldId);
          let params = {
            viewUserFieldId: String(viewUserFieldId),
            fieldShowsWidth: width,
          };
          updateFieldWidth(params).then((res) => {
            if (res.code == 200) {
              console.log('请求后台列宽接口了');
            }
          });
          // emit('update:modelValue', dataMap.searchWord);
        }, 500);
      },

      selectAll(checked: boolean) {
        console.log('=======', checked);
      },
      // 多选 表格  已选项集合
      selectionChange($indexes: number[]) {
        console.log({ args: arguments })
        // console.log('=======', rowKeys[0]);
        const { commonTableData } = dataMap
        const selectedData = $indexes.map(index => commonTableData[index])
        emit('getSelectData', selectedData);
      },
      filterHandle() {
        console.log('打开筛选');
        emit('openFilter', '');
      },
    });
    const scroll = {
      x: '100%',
      y: '100%',
    };

    const spanMethod = ({ rowIndex, columnIndex }) => {
      // console.log(columnIndex)
      if (rowIndex >= 0 && columnIndex === 0) {
        return {
          // rowspan: 1,
          colspan: 2,
        };
      }
    };

    watch(
      () => dataMap.PaginationProps,
      (nVal, oVal) => {
        nextTick().then(() => {
          const arcoPagination = document.querySelector('.arco-pagination');
          console.log(arcoPagination, '&&&&&&');
          console.log(arcoPagination.offsetWidth, '&&&&&&');
          emit('paginationWidth', arcoPagination.offsetWidth);
          // console.log(arcoPagination.el.offsetWidth)
          console.log('啊啊啊啊');
          console.log(attrs);
        });
      },
      { immediate: true, deep: true }
    );

    watch(
      () => props.columns,
      (nVal, oVal) => {
        // console.log(nVal)
        // nVal.splice(10, 100)
        dataMap.commonColumn = nVal.map((item: any) => {
          let align = 'left';
          if (
            item.renderType == '整数' ||
            item.renderType == '2位小数' ||
            item.renderType == '3位小数' ||
            item.renderType == '4位小数'
          ) {
            align = 'right';
          }

          let renderType;
          renderType = ({ record, column, rowIndex }) => {
            // console.log(record, column, rowIndex);
            // console.log(column,"跳转")
            let index = column.dataIndex;
            // console.log(index,'========')
            // console.log(record[index])
            return h(
              'span',
              // prop 或 attribute（可选）
              {
                style: {
                  'font-size': '12px',
                  'background': 'rgba(255, 247, 232, 1)',
                  'color': 'rgba(255, 125, 0, 1)',
                  'padding': '3px 8px',
                },
              },
              // 子 VNodes, （可选的）
              [record[index]]
            );
          };

          let renderLink;
          renderLink = ({ record, column, rowIndex }) => {
            // console.log(record, column, rowIndex);

            let index = column.dataIndex;
            // console.log(index,'========')

            return h(
              'span',
              {
                style: {
                  color: 'rgba(41, 105, 255, 1)',
                  cursor: 'pointer',
                },
                onclick: () => {
                  // todo
                  if (index == 'no'||index == 'fapiaoNo') {
                    router.push({
                      name: props.path,
                      query: {
                        id: record.key || record.id,
                      },
                    });
                  } else {
                    emit('handleCellClick', { record, column })
                  }
                  console.log(record.id);
                  // console.log(column);
                  console.log(props.path, '跳转地址');
                },
              },
              // 子 VNodes, （可选的）
              [record[index]]
            );
          };

          let dataIndex = item.fieldInterface
          if (dataIndex === 'status') {
            dataIndex = 'statusName'
          }
          let newItem = {
            slotName: item.fieldInterface,
            dataIndex, // 列信息的标识，对应 TableData 中的数据
            title: item.fieldName, // 列标题 string | RenderFunction
            width: item.fieldShowsWidth < 50 ? 100 : item.fieldShowsWidth, // 列宽度
            align: align, // 对齐方向'left' | 'center' | 'right'
            fixed: item.freezeFlag ? 'left' : '', // 固定位置 'left' | 'right'
            ellipsis: true, // 是否显示省略号
            tooltip: true, // 是否在显示省略号时显示文本提示。可填入 tooltip 组件属性 boolean | Record<string, any> TODO
            sortable: item.orderDyFlag
              ? { sortDirections: ['ascend', 'descend'] }
              : '', // 排序相关选项 TableSortable
            // filterable: item.filterFlag, //过滤相关选项 TableFilterable TODO
            // children: [],
            // cellStyle: '', // 自定义单元格样式 CSSProperties TODO
            // bodyCellStyle: '',//自定义内容单元格样式 CSSProperties | ((record: TableData) => CSSProperties) TODO
            // headerCellStyle: {},// 自定义表头单元格样式 TODO
            // CSSProperties: '', // 表头子数据，用于表头分组TableColumnData[] TODO
            // summaryCellStyle: '', // 自定义总结栏单元格样式 CSSProperties | ((record: TableData) => CSSProperties) TODO
            // render: render, // 自定义列单元格的渲染 (data: { record: TableData; column: TableColumnData; rowIndex: number; }) => VNodeChild TODO
            // slotName: '', // 设置当前列的渲染插槽的名字。插槽参数同 #cell TODO
            // titleSlotName: '', // 设置当前列的标题的渲染插槽的名字 TODO
          };

          if (item.filterFlag) {
            newItem.titleSlotName = 'filterable';
          }
          if (item.renderType == '星标') {
            newItem.titleSlotName = 'startitle';
            newItem.slotName = 'star';
          }
          // 任务  异常  消息
          if (item.renderType == '任务') {
            newItem.slotName = 'task';
          }
          if (item.renderType == '异常') {
            newItem.slotName = 'abnormal';
          }
          if (item.renderType == '消息') {
            newItem.titleSlotName = 'infotitle';
            newItem.slotName = 'info';
          }
          if (item.renderType == '跳转链接文本') {
            // newItem.slotName = 'jumplink'
            if (item.fieldInterface === 'customsNos') {
            } else {
              newItem.render = renderLink;
            }
          }
          if (item.renderType == '状态') {
            // newItem.render = renderType;
            newItem.slotName = 'status';
            newItem.color = item.fieldInterface + 'Color';
          }
          if (item.filterFlag) {
            // newItem.titleSlotName = item.fieldInterface;
            dataMap.titleSlotName.push(item.fieldInterface);
          }

          if (item.renderType == '标签') {
            console.log(item, '^^^^^^^^^');
          }
          return newItem;
        });
        console.log(props.operateList, '=========');
        props.operateList.length > 0 &&
          dataMap.commonColumn.unshift({
            dataIndex: 'operate', // 列信息的标识，对应 TableData 中的数据
            title: '', // 列标题 string | RenderFunction
            width: 27, // 列宽度
            align: 'center',
            fixed: 'left', // 固定位置 'left' | 'right'
            ellipsis: false, // 是否显示省略号
            tooltip: false, // 是否在显示省略号时显示文本提示。可填入 tooltip 组件属性 boolean | Record<string, any>
            slotName: 'operate',
            titleSlotName: 'operatetitle',
          });
      },
      { immediate: true, deep: true }
    );

    watch(
      () => props,
      (nVal, oVal) => {
        const noSync = nVal.syncFlag == dataMap.oldSyncFlag;
        console.log(noSync, 'noSync');

        dataMap.params = {
          viewUserId: nVal.viewUserId, // 用户视图ID 必须
          viewSystemId: nVal.viewInfo.viewSystemId, // 系统视图ID 必须
          keyword: nVal.searchword, // 搜索关键字
          pageNum: dataMap.params.pageNum, // 当前页-默认为1
          pageSize: dataMap.params.pageSize, // 每页大小-默认为10
          viewFilterRule: noSync ? nVal.viewFilterRule : '', //筛选规则: 整体为字符串数组JSON格式数组，单条规则之间分割符为|||
          orderByViewSystemFieldId: noSync
            ? dataMap.params.orderByViewSystemFieldId
            : '', // 排序字段的系统视图字段ID
          orderByType: noSync ? dataMap.params.orderSort : '', //排序类型: 降序-desc 升序-asc
        };
        dataMap.oldSyncFlag = nVal.syncFlag;
      },
      { immediate: true, deep: true }
    );

    const getList = (params: any) => {
      const URL = props.url;
      URL!(params).then((res: any) => {
        if (res.code == 200) {
          console.log(res.data);
          data = res.data.list;
          dataMap.commonTableData = res.data.list.map((row: any, index: number) => ({
            ...row,
            $index: index,
          }));
          dataMap.PaginationProps.total = res.data.total;
          dataMap.loading = false;
          const hasTask = dataMap.commonColumn.some(
            (item) => item.dataIndex == 'taskNumber'
          );
          const hasRisk = dataMap.commonColumn.some(
            (item) => item.dataIndex == 'riskNumber'
          );
          const hasInfo = dataMap.commonColumn.some(
            (item) => item.dataIndex == 'messageNumber'
          );
          const keyList = dataMap.commonTableData.map((item) => item.orderLogisticsNo);
          const getTaskNumParams = {
            businessNoList: keyList.join(','),
          };
          hasTask &&
            keyList.length > 0 &&
            getTaskNum(getTaskNumParams).then((res) => {
              const taskOver = res.data.filter((item: any) => item.taskNum > 0);
              console.log('taskOver:', taskOver);
              taskOver.map((task: any) => {
                dataMap.commonTableData.forEach((tableData: any) => {
                  if (tableData.orderLogisticsNo == task.businessNo) {
                    tableData.taskNum = task.taskNum;
                  }
                });
              });
            });

          hasRisk &&
            keyList.length > 0 &&
            getRiskNum(getTaskNumParams).then((res) => {
              const riskOver = res.data.filter((item: any) => item.riskNum > 0);
              console.log('riskOver:', riskOver);
              riskOver.map((risk: any) => {
                dataMap.commonTableData.forEach((tableData: any) => {
                  if (tableData.orderLogisticsNo == risk.businessNo) {
                    tableData.abnormalNum = risk.riskNum;
                  }
                });
              });
            });
          hasInfo &&
            keyList.length > 0 &&
            getInfoNum(getTaskNumParams).then((res) => {
              console.log(res, '==============');
              const infoOver = res.data.filter(
                (item: any) => item.messageNum > 0
              );
              infoOver.map((info: any) => {
                dataMap.commonTableData.forEach((tableData: any) => {
                  if (tableData.orderLogisticsNo == info.businessNo) {
                    tableData.infoNum = info.messageNum;
                  }
                });
              });
            });

          // dataMap.commonTableData.forEach((item,index)=>{
          //   item.key = String(index)
          // })
          // key()
          // console.log('=========', dataMap.commonTableData);
        }
      });
    };

    // 深度监听params 变化时请求列表接口  更新列表数据
    watch(
      () => dataMap.params,
      (nVal, oVal) => {
        console.log(nVal, 'nVal', props.url);

        dataMap.loading = true;
        console.log(nVal, '====');
        dataMap.params.viewUserId && getList(nVal);
        // URL!(nVal).then((res: any) => {
        //   console.log(res);
        //   console.log('=========', new Date());
        //   if (res.code == 200) {
        //     console.log(res.data);
        //     data = res.data.list;
        //     dataMap.commonTableData = res.data.list;
        //     dataMap.PaginationProps.total = res.data.total;
        //     dataMap.loading = false;
        //     // dataMap.commonTableData.forEach((item,index)=>{
        //     //   item.key = String(index)
        //     // })
        //     // key()
        //     console.log('=========', dataMap.commonTableData);
        //     console.log('=========', new Date());
        //   }
        // });
        console.log('吃呐呐呐安');
      },
      { immediate: true, deep: true }
    );

    return {
      data,
      scroll,
      getList,
      ...toRefs(dataMap),
      // rowSelection,
      selectedKeys,
      spanMethod,
      onDatePickerOk,
      isOrderCompleted,
      hasCustomsNo,
      emitCellClick,
      goCustomsDetail,
      handlePopupVisibleChange,
      router,
    };
  },
});
</script>

<style lang="less" scoped>
.commonTable {
  // width: calc(~"100vh - 40px");
  width: calc(~'100vh - 0px');
  width: calc(~'100vw - 40px');
}
:deep(.arco-table-container) {
  width: auto;
}
:deep(.arco-table-container .arco-table-content) {
  display: flex;
  flex-direction: column;
  width: auto;
  height: 100%;
}
:deep(.arco-table-pagination) {
  position: fixed;
  right: 20px;
  bottom: 20px;
  z-index: 2;
}
.component-common-table {
  height: 100%;
}
.filterBtn {
  width: 22px;
  height: 22px;
  display: inline-block;
  text-align: center;
  line-height: 22px;
  // margin-left: 3px;
  cursor: pointer;
  &:hover {
    background-color: var(--color-neutral-3);
    border-radius: 2px;
  }
}
.filterIcon {
  position: absolute;
  right: 4px;
  top: 50%;
  margin-top: -12px;
  height: 24px;
  width: 24px;
  font-size: 12px;
  border-radius: 2px;
  line-height: 24px;
  text-align: center;
  &:hover {
    background: #e5e6eb;
  }
}
.starList {
  span {
    margin: 0 4px;
    cursor: pointer;
  }
}
.operateBtn {
  // width: 20px;
  // height: 20px;
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -12px;
}
.overBgTitle {
  width: 2px;
  height: 40px;
  position: absolute;
  left: -1px;
  top: 0;
  background-color: var(--color-neutral-2);
}
.overBg {
  width: 1px;
  height: 40px;
  top: 0;
  left: -1px;
  background-color: var(--color-bg-1);
  position: absolute;
}
:deep(.arco-table-tr) {
  &:hover {
    .overBg {
      background-color: var(--color-neutral-1);
    }
  }
}
:deep(.arco-table-tr-checked .overBg) {
  background-color: var(--color-neutral-1);
}

.icon {
  width: 24px;
  height: 24px;
  display: inline-block;
  text-align: center;
  line-height: 24px;
  border-radius: 2px;
}
.iconHover {
  &:hover {
    background: rgba(245, 63, 63, 0.3);
  }
}
.iconHoverGreen {
  &:hover {
    background: rgba(41, 105, 255, 0.3);
  }
}
</style>
