<template>
  <a-modal
    title="添加报关单"
    width="800px"
    v-model:visible="visible"
  >
    <a-table
      :data="form"
      :pagination="false"
    >
      <template #columns>
        <a-table-column>
          <template #cell="{ rowIndex }">
            <icon-delete
              style="cursor: pointer;"
              @click="deleteRow(rowIndex)"
            />
          </template>
        </a-table-column>
        <a-table-column title="业务编号" width="220">
          <template #cell="{ record }">
            <a-select
              v-model="record.logisticsNo"
              allow-search
              :filter-option="false"
              :options="logisticsNoOptions"
              :loading="logisticsNoLoading"
              @search="handleLogisticsNoSearch"
            />
          </template>
        </a-table-column>
        <a-table-column title="海关编号" width="210">
          <template #cell="{ record }">
            <a-input v-model="record.customsNo" maxlength="18" />
          </template>
        </a-table-column>
        <a-table-column title="申报品名" width="180">
          <template #cell="{ record }">
            <a-input v-model="record.customsCategory" />
          </template>
        </a-table-column>
        <a-table-column title="申报开始时间" width="200">
          <template #cell="{ record }">
            <a-date-picker
              show-time
              format="YYYY-MM-DD HH:mm"
              v-model="record.customsDeclarationStartTime"
            />
          </template>
        </a-table-column>
        <a-table-column title="电脑放行时间" width="200">
          <template #cell="{ record }">
            <a-date-picker
              show-time
              format="YYYY-MM-DD HH:mm"
              v-model="record.eDeclearaceReleaseTime"
            />
          </template>
        </a-table-column>
      </template>
    </a-table>
    <a-button
      type="primary"
      style="margin-top: 10px;"
      @click="addRow"
    >
      <icon-plus />
      新增
    </a-button>
    <template #footer>
      <a-button @click="cancel">取消</a-button>
      <a-button type="primary" @click="handleSubmit">确定</a-button>
    </template>
  </a-modal>
</template>

<script lang="ts">
import { defineComponent, reactive, ref } from 'vue'
import { Message } from '@arco-design/web-vue'
import { useVisible } from '../composables'
import trackAPI from '@/api/track'

export default defineComponent({
  name: 'CreateCustomsDeclarationDialog',
  emits: ['afterOperation'],
  setup(props, { emit }) {
    const { visible, toggleVisible } = useVisible()

    const form = reactive<any[]>([])
    const clearForm = () => {
      form.splice(0, form.length)
    }
    const addRow = () => {
      form.push({})
    }
    const deleteRow = (index: number) => {
      form.splice(index, 1)
    }

    const cancel = () => {
      clearForm()
      toggleVisible()
    }

    const validateForm = (form: any[]): boolean => {
      const isValidCustomsNo = (customsNo: string): boolean => {
        const customsNoReg = /^\d+$/g
        return customsNoReg.test(customsNo) && customsNo.length === 18
      }
      const hasEmptyLogisticsNo = !!form.find((row: any) => !row.logisticsNo)
      if (hasEmptyLogisticsNo) {
        Message.error('请输入业务编号')
        return false
      }
      const hasInvalidCustomsNo = !!form.find((row: any) => !isValidCustomsNo(row.customsNo))
      if (hasInvalidCustomsNo) {
        Message.error('海关编号必须是18位纯数字')
        return false
      }
      const hasEmptyCustomsCategory = !!form.find((row: any) => !row.customsCategory)
      if (hasEmptyCustomsCategory) {
        Message.error('请输入申报品名')
        return false
      }
      return true
    }
    const handleSubmit = () => {
      const valid = validateForm(form)
      if (!valid) return

      const params = form.map((row: any) => {
        const ans = { ...row }
        if (row.customsDeclarationStartTime) {
          ans.customsDeclarationStartTime += ':00'
        }
        if (row.eDeclearaceReleaseTime) {
          ans.eDeclearaceReleaseTime += ':00'
        }
        return ans
      })
      console.log({ params })
      trackAPI.batchCreateCustomsDeclaration(params)
        .then(({ code }) => {
          if (code === '200') {
            Message.success('添加报关单成功')
            toggleVisible()
            emit('afterOperation')
          }
        })
        .catch(console.error)
    }

    const logisticsNoOptions = ref<any[]>([])
    const logisticsNoLoading = ref(false)
    const handleLogisticsNoSearch = (search: string) => {
      logisticsNoLoading.value = true
      trackAPI.queryTrackingNoListByName({ search })
        .then(({ code, data }) => {
          if (code === '200') {
            logisticsNoOptions.value = (data || []).map((row: any) => ({
              label: row.value,
              value: row.value,
            }))
          }
        })
        .catch(() => {
          logisticsNoOptions.value.length = 0
        })
        .finally(() => {
          logisticsNoLoading.value = false
        })
    }


    return {
      visible,
      toggleVisible,
      form,
      addRow,
      deleteRow,
      handleSubmit,
      cancel,
      logisticsNoOptions,
      logisticsNoLoading,
      handleLogisticsNoSearch,
    }
  },
})
</script>
