<template>
  <a-modal
    title="舱单比对详情"
    width="800px"
    hide-cancel
    v-model:visible="visible"
    :on-before-cancel="clearFormData"
  >
    <div class="action-row">
      <a-button
        type="primary"
        @click="correctManifestData"
      >
        舱单数据回填
      </a-button>
      <a-button
        type="primary"
        v-if="renderCorrectContainerDataButton"
        @click="correctContainerData"
      >
        箱号回填
      </a-button>
    </div>
    <a-table
      bordered
      :data="manifestData"
      :columns="manifestColumns"
      :pagination="false"
    />
    <a-table
      bordered
      :data="containerData"
      :columns="containerColumns"
      :pagination="false"
    />
  </a-modal>
</template>

<script lang="ts">
import {
  defineComponent,
  ref,
  reactive,
  watch,
  h,
  resolveComponent,
} from 'vue'
import { Message } from '@arco-design/web-vue'
import { useVisible } from '../composables'
import trackAPI from '@/api/track'

const comparisonResultIconRender = (scope: any) => {
  if (scope?.record.comparisonResult) {
    return h(
      resolveComponent('icon-check'),
      {
        style: {
          color: 'green',
        },
      },
    )
  }
  return h(
    resolveComponent('icon-close'),
    {
        style: {
          color: 'red',
        },
      },
  )
}

const unmatchCellRender = (record: any, targetField: string, sourceField: string) => {
  const targetValue = record[targetField]
  if (targetValue !== record[sourceField]) {
    return h(
      'span',
      {
        style: {
          color: 'red',
          fontWeight: 'bold',
        },
      },
      targetValue ? targetValue : '填写不一致',
    )
  }
  return targetValue
}

export default defineComponent({
  name: 'MatchingExceptionDialog',
  props: {
    order: {
      type: Object,
      required: true,
    },
  },
  emits: ['afterOperation'],
  setup(props, { emit }) {
    const { visible, toggleVisible } = useVisible()

    const manifestData = ref([])
    const manifestColumns = reactive([
      { title: '标题', dataIndex: 'title' },
      {
        title: '报关单',
        dataIndex: 'customsValue',
        render({ record }: { [key: string]: any }) {
          return unmatchCellRender(record, 'customsValue', 'manifestValue')
        },
      },
      { title: '舱单', dataIndex: 'manifestValue' },
      {
        title: '比对结果',
        dataIndex: 'comparisonResult',
        render: comparisonResultIconRender,
      },
    ])

    const containerData = ref([])
    const containerColumns = reactive([
      {
        title: '报关单箱号',
        dataIndex: 'customsContainerNo',
        render({ record }: { [key: string]: any }) {
          return unmatchCellRender(record, 'customsContainerNo', 'manifestContainerNo')
        },
      },
      { title: '舱单箱号', dataIndex: 'manifestContainerNo' },
      {
        title: '比对结果',
        dataIndex: 'comparisonResult',
        render: comparisonResultIconRender,
      },
    ])

    const getComparisonDetail = (orderId: number | string) => {
      trackAPI.queryMatchingInfo({ orderId })
        .then(({ code, data }) => {
          if (code === '200') {
            const { manifestComparisonMainVOList, manifestComparisonContainerVOList } = data || {}
            manifestData.value = manifestComparisonMainVOList || []
            containerData.value = manifestComparisonContainerVOList || []
          }
        })
        .catch(console.error)
    }
    const renderCorrectContainerDataButton = ref(false)
    watch(
      () => visible.value,
      (visible) => {
        if (visible) {
          getComparisonDetail(props.order.key)
          trackAPI.queryJumpInfo({ logisticsNo: props.order.orderLogisticsNo })
            .then(({ code, data }) => {
              if (code === '200') {
                renderCorrectContainerDataButton.value = data ? data.length <= 1 : true
              }
            })
            .catch(console.error)
        }
      },
    )

    enum DataTypeEnum {
      MANIFEST,
      CONTAINER,
    }
    const correctData = (type: DataTypeEnum) => {
      let asyncAPI = trackAPI.correctManifestData
      let successMessage = '舱单数据回填成功'
      if (type === DataTypeEnum.CONTAINER) {
        asyncAPI = trackAPI.correctContainerData
        successMessage = '箱号数据回填成功'
      }
      const orderId = props.order.key
      asyncAPI({
        orderId,
        manifestComparisonMainVOList: manifestData.value,
        manifestComparisonContainerVOList: containerData.value,
      })
        .then(({ code }) => {
          if (code === '200') {
            Message.success(successMessage)
            getComparisonDetail(orderId)
          }
        })
        .catch(console.error)
    }
    const correctManifestData = () => {
      correctData(DataTypeEnum.MANIFEST)
    }
    const correctContainerData = () => {
      correctData(DataTypeEnum.CONTAINER)
    }

    const clearFormData = () => {
      manifestData.value.length = 0
      containerData.value.length = 0
      return true
    }

    return {
      visible,
      toggleVisible,
      manifestData,
      manifestColumns,
      containerData,
      containerColumns,
      correctManifestData,
      correctContainerData,
      clearFormData,
      renderCorrectContainerDataButton,
    }
  }
})
</script>

<style lang="less" scoped>
.action-row {
  display: flex;
  align-items: center;
  justify-content: flex-end;

  .arco-btn + .arco-btn {
    margin-left: 10px;
  }
}

.arco-table {
  margin-top: 16px;
}
</style>
