<template>
<a-modal
  title="登记制单异常"
  v-model:visible="visible"
  :on-before-cancel="clearForm"
>
  <a-form
    ref="formRef"
    label-align="left"
    :model="form"
    :label-col-props="{ span: 24 }"
    :wrapper-col-props="{ span: 24 }"
    :rules="rules"
  >
    <a-form-item label="异常名称" field="task">
      <a-select v-model="form.task" :options="taskOptions" />
    </a-form-item>
    <a-form-item label="异常描述" field="desc">
      <a-textarea v-model="form.desc" />
    </a-form-item>
  </a-form>
  <template #footer>
    <a-button @click="handleCancel">取消</a-button>
    <a-button type="primary" @click="handleConfirm">确定</a-button>
  </template>
</a-modal>
</template>

<script lang="ts">
import { defineComponent, ref, reactive, } from 'vue'
import { Message } from '@arco-design/web-vue'
import { useVisible } from '../composables'
import trackAPI from '@/api/track'
export default defineComponent({
  name: 'registerExceptionDialog',
  props: {
    order: {
      type: Object,
      required: true,
    },
  },
  emits: ['afterOperation'],
  setup(props, { emit }) {
    const { visible, toggleVisible } = useVisible()

    const formRef = ref()
    const form = reactive({})
    const clearForm = () => {
      formRef.value.resetFields()
      return true
    }

    const taskOptions = reactive([
      { label: '制单单证确认异常', value: 'exception006' },
      { label: '舱单信息异常', value: 'exception007' },
    ])

    const rules = reactive({
      task: [{ required: true, message: '请选择异常类型' }],
      desc: [{ required: true, message: '请输入异常描述' }],
    })

    const handleCancel = () => {
      clearForm()
      toggleVisible()
    }
    const handleConfirm = () => {
      formRef.value.validate((errors: any[] | undefined) => {
        if (errors) return

        handleSubmit()
      })
    }
    const handleSubmit = () => {
      const { key, orderLogisticsNo } = props.order
      trackAPI.registerExceptionForOrderPreparation({
        id: key,
        logisticsNo: orderLogisticsNo,
        ...form,
      })
        .then(({ code }) => {
          if (code === '200') {
            Message.success('登记异常成功')
            clearForm()
            toggleVisible()
            emit('afterOperation')
          }
        })
        .catch(console.error)
    }

    return {
      visible,
      toggleVisible,
      formRef,
      form,
      taskOptions,
      rules,
      handleCancel,
      clearForm,
      handleConfirm,
    }
  }
})
</script>
