<template>
  <div class="container">
    <div>
      <button-area>
        <template #left>
          <search-btn v-model="searchword" placeholder="对账单编号/委托人/业务编号"></search-btn>
          <filter-btn v-model:pageInitFilters="pageInitFilters" :viewUserId="viewUserId" :viewSystemId="viewSystemId"
            ref="filterRef"></filter-btn>
          <custom-column v-model:pageInitColumns="pageInitColumns" :viewUserId="viewUserId" :viewType="viewType"
            :viewSystemId="viewSystemId" @submitSuccess="submitSuccess">
          </custom-column>
          <screen-btn></screen-btn>
          <!-- 刷新按钮执行列表初始化 -->
          <sync-btn @click="syncData"></sync-btn>
        </template>
        <template #right>
          <a-space>
            <a-button type="primary" @click="openPage('templateTrack')">自定义账单模板</a-button>
            <a-button type="primary" @click="openPage('addTrack')">
              <template #icon>
                <icon-plus />
              </template>
              新增账单
            </a-button>
          </a-space>
        </template>
      </button-area>
      <div class="table-wrap">
        <AbnormalTable :url="requestPage" :path="detailPath" :columns="columns" :abnormalData="abnormalData"
          column-resizable :bordered="{ cell: true }" :viewUserId="viewUserId" :viewInfo="viewInfo"
          :searchword="searchword" :syncFlag="syncFlag" :viewFilterRule="viewFilterRule" :operateList="operateList"
          @openFilter="openFilter" @getSelectData="getSelectData" @paginationWidth="paginationWidth"
          @updateTable="updateTable"></AbnormalTable>
      </div>

      <tab-view :viewType="viewType" :changeViewId="changeViewId" @submitViewHandle="submitViewHandle"
        @submitDelete="submitDelete" @currentTabViewId="currentTabViewId" @chooseFields="chooseFields"
        @viewFilterRuleChange="viewFilterRuleChange" @currentTabviewName="currentTabviewName"
        :paginationWidthNum="paginationWidthNum" ref="tabViewRef"></tab-view>

      <tab-view-modal v-model="modalVisible" :title="tabViewModelTitle" :defaultActiveKey="defaultActiveKey"
        v-model:modalParams="modalParams" @syncTabViewList="syncTabViewList"></tab-view-modal>

      <exportPop ref="exportPopRef"></exportPop>
    </div>
  </div>
</template>

<script lang="ts">
import {
  defineComponent,
  ref,
  watch,
  reactive,
  h,
  toRefs,
  computed,
  onMounted,
  nextTick,
} from 'vue';
import { Modal, Message } from '@arco-design/web-vue';
import { billTrackApi } from '@/api/billTrack/index.ts'
import AbnormalTable from './components/table.vue'
import exportPop from './components/exportPop.vue'
import router from '@/router';
export default defineComponent({
  name: 'abnormal',
  components: { AbnormalTable, exportPop },
  setup() {
    const tabViewRef = ref<any>(null)
    const filterRef = ref<any>(null)
    const exportPopRef = ref<any>(null)
    const dataMap = reactive({
      viewType: '24', // 显示视图类型字段（客户对账单：24）
      viewUserId: '', // 用户视图ID
      viewInfo: {}, // 用户视图ID 系统视图ID
      viewSystemId: '', // 用户视图ID 系统视图ID
      viewFilterRule: '', // 视图筛选项（table组件）
      initFilters: '', // 保存视图原始筛选项
      syncFlag: 0, // 刷新标志
      abnormalData: [],//表格数据
      columns: [],// 动态表头表头
      initColumns: [], // 保存视图原始表头
      pageInitColumns: [], // 页面自定义列信息
      requestPage: billTrackApi.receivablePage,//请求列表数据
      searchword: '',
      changeViewId: '',//当前激活视图id
      paginationWidthNum: 0,
      pageInitFilters: '',//筛选项（筛选组件）
      selectedData: [], // 表格已选择的数据   用于右侧按钮操作时的数据 
      detailPath: 'billTrack/detail',//详情路由

      modalParams: {}, // 视图弹框配置
      modalVisible: false, // 控制新增/编辑/复制视图弹窗是否显示
      tabViewModelTitle: '新增视图', // 视图弹窗title
      defaultActiveKey: '1', // 视图默认展示的tab标签 类型string
      currentViewName: '',
      operateList: [
        {
          name: '导出账单',
          icon: '',
          color: 'rgba(41, 105, 255, 1)',
          // TODO 
          isShow: (record: any) => {
            return true
          },
          callback: (obj: any) => {
            console.log('导出账单', obj)
            exportPopRef.value.openDialog(obj.key)
            // TODO
          }
        },
      ],//表格操作
    })

    const openPage = (val) => {
      if (val === 'addTrack') {
        // console.log('跳转新增账单')
        router.push({
          name: 'billTrack/add',
        });
        //TODO
      } else if (val === 'templateTrack') {
        // console.log('跳转自定义账单模板')
        router.push({
          name: 'billTrack/customizeTemplate',
        });
      }
    }

    watch(
      () => dataMap.pageInitFilters,
      (newval, oldval) => {
        console.log('来新数据了', newval)
        dataMap.viewFilterRule = newval
      },
      { immediate: true, deep: true }
    )
    // 表格数据更新触发
    const updateTable = (params) => {
      console.log(params)
    }

    //自定义列修改提交
    const submitSuccess = (val: any) => {
      // console.log(val)
      // console.log(tabViewRef.value, 'tabViewRef.value')
      // tabViewRef.value.getTabViewListFn()
      // 重新获取表头
      tabViewRef.value.getColumns(dataMap.viewUserId)
    }

    const syncData = () => {
      dataMap.searchword = ''
      dataMap.viewFilterRule = ""
      dataMap.columns = dataMap.initColumns
      dataMap.syncFlag++
    };

    //获取当前视图详情回调
    const currentTabViewId = (viewId: object) => {
      console.log('接收到视图id的参数了', viewId)
      dataMap.viewUserId = viewId.currentTabViewId
      dataMap.viewInfo = viewId
      dataMap.viewSystemId = viewId.viewSystemId
    }
    //新增，编辑，复制视图事件
    const submitViewHandle = (param: any) => {
      console.log('从视图组件传来的参数：', param)
      // 需要展示视图弹窗
      dataMap.modalVisible = true
      dataMap.tabViewModelTitle = param.title
      dataMap.defaultActiveKey = param.defaultActiveKey
      // 新增视图  编辑视图  复制视图
      // 新增视图 无初始化数据
      // 编辑和复制视图  初始化数据一致
      if (param.title == '新增视图') {
        dataMap.modalParams = {
          initColumns: [],
          initFilters: '',
          ...param
        }
      } else {
        dataMap.modalParams = {
          initColumns: dataMap.initColumns, // 视图原始展示列
          initFilters: dataMap.initFilters,
          ...param
        }
      }
      console.log('dataMap.modalParams:', dataMap.modalParams)
    }

    //表头数据更新
    const chooseFields = (val: any) => {
      console.log('表头数据', val)
      // 中间列表 展示列表头  当前展示的 传给公共table的
      dataMap.columns = val
      // 当前视图表头  刷新时设置为dataMap.columns
      dataMap.initColumns = val
      // button区域自定义列  定义表头
      dataMap.pageInitColumns = val
    }

    // 修改视图数据，进行相应数据更新
    const syncTabViewList = (val: any) => {
      console.log('需要刷新视图列表', val)
      dataMap.changeViewId = val
      tabViewRef.value.getTabViewListFn()
    }

    //删除视图回调
    const submitDelete = (id: any) => {
      console.log(id)
      console.log('删除了当前视图  整个页面需要初始化')
      //TODO
    }

    //切换视图时修改当前筛选条件
    const viewFilterRuleChange = (val) => {
      console.log(val)
      // 传给公共table 的筛选项
      dataMap.viewFilterRule = val
      // 当前视图筛选项  刷新时设置为dataMap.viewFilterRule
      dataMap.initFilters = val
      // button区域筛选按钮
      dataMap.pageInitFilters = val
    }

    const currentTabviewName = (val: any) => {
      console.log(val)
      dataMap.currentViewName = val
    }

    //点击表格列筛选回调
    const openFilter = () => {
      console.log('需要打开筛选。。。')
      filterRef.value.filterRef.handleClick()
    }

    // 多选数据
    const getSelectData = (val: any) => {
      dataMap.selectedData = val
      console.log(val)
    }

    const paginationWidth = (val: any) => {
      console.log(val)
      dataMap.paginationWidthNum = val
    }

    return {
      ...toRefs(dataMap),
      openFilter,
      tabViewRef,
      filterRef,
      exportPopRef,
      submitViewHandle,
      syncTabViewList,
      submitDelete,
      currentTabViewId,
      chooseFields,
      viewFilterRuleChange,
      currentTabviewName,
      syncData,
      getSelectData,
      paginationWidth,
      updateTable,
      submitSuccess,
      openPage,
    }
  }
})
</script>

<style lang="less" scoped>
.container {
  background-color: var(--color-bg-2);
  // max-width: 100%;
  display: flex;
  height: calc(~"100vh - 93px");
}

.table-wrap {
  width: 100%;
  overflow: hidden;
  padding: 0 20px;
  height: calc(~"100vh - 70px - 64px");
}
</style>