<template>
<m-form ref="mform" :model="form" :form-items="formItems" />

<a-button @click="handleSubmit">submit</a-button>
</template>
<script setup lang="ts">
import { RULESTYPE } from '@/utils';
import { ref, reactive } from 'vue'

const form = reactive({
  name: '',
  key: '222'
})
const formItems = ref([
  {
    is: 'a-select',
    field: 'name',
    label: 'name',
    rules: RULESTYPE.select,
    girdConfig: {
      span: 2
    },
    showIf: () => true,
    style: {
      color: 'red'
    },
    attrs: {
      id: 'attrs'
    },
    props: {
      placeholder: '请输入',
      disabled: false,
      options: [
        {
          label: '11',
          value: '11'
        },
        {
          label: '22',
          value: '22'
        },
        {
          label: '33',
          value: '33'
        }
      ]
    },
    on: {
      onInput: (v: any) => {
        console.log('oninput', v, form.name);
      },
      onChange (v:any, ev:any) {
        console.log('chnage111', v, ev);
      }
    },
  },
  {
    is: 'a-input',
    field: 'key',
    label: 'key',
    rules: RULESTYPE.select,
    'validate-trigger': ['change'],
    props: {
    }
  },
  {
    is: 'a-input',
    field: 'age',
    label: 'age',
    rules: RULESTYPE.text,
    'validate-trigger': ['change'],
    props: {
    }
  },
  {
    is: 'a-input',
    field: 'key',
    label: 'key',
    rules: [{required:true, message:'name is required', trigger: 'change'} ],
    'validate-trigger': ['change'],
    props: {
    }
  },
  {
    is: 'a-input',
    field: 'key',
    label: 'key',
    rules: [{required:true, message:'name is required', trigger: 'change'} ],
    'validate-trigger': ['change'],
    props: {
    }
  },
  {
    is: 'a-input',
    field: 'key',
    label: 'key',
    rules: [{required:true, message:'name is required', trigger: 'change'} ],
    'validate-trigger': ['change'],
    props: {
    }
  },
])
const mform = ref<any>(null)

const handleSubmit = () => {
  mform.value.validate((vaild: any) => {
    if (vaild) return
    console.log('form校验成功！');
  })
}
</script>