<template>
    <div class="m-main radius-shadow">
        <a-tabs v-if="current.length > 1" :justify="true">
            <a-tab-pane :title="v.contractName" v-for="(v, i) of current" :key="i">
                <div class="u-btns">
                    <a-button class="anbutton" type="primary" size="small" v-print="`#template-${i}`">
                        打印/导出PDF
                    </a-button>
                </div>
                <div :key="i" :id="`template-${i}`" class="u-template">
                    <table class="preview-table" border="0" cellpadding="0" cellspacing="0">
                        <thead style="display: table-header-group;">
                            <tr>
                                <td>
                                    <div class="page-header-space">
                                        <img v-if="data.signUpId == 377 || data.contractorId == 377"
                                            src="~@/assets/images/template/watermark_wuliu.png" alt="">
                                        <img v-else src="~@/assets/images/template/watermark_dawei.png" alt="">
                                    </div>
                                </td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <header class="u-watermark"><img src="~@/assets/images/template/template_logo.png"
                                            alt=""></header>
                                    <component :is="v.is" ref="template" :title="v.title" :data="v.data">
                                    </component>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </a-tab-pane>
        </a-tabs>
        <div v-else>
            <div class="u-btns">
                <a-button class="anbutton" type="primary" size="small" v-print="`#template`">
                    打印/导出PDF
                </a-button>
            </div>
            <template v-for="(v, i) of current" :key="i">
                <div id="template" class="u-template">
                    <table class="preview-table" border="0" cellpadding="0" cellspacing="0">
                        <thead style="display: table-header-group;">
                            <tr>
                                <td>
                                    <div class="page-header-space">
                                        <img v-if="data.signUpId == 377 || data.contractorId == 377"
                                            src="~@/assets/images/template/watermark_wuliu.png" alt="">
                                        <img v-else src="~@/assets/images/template/watermark_dawei.png" alt="">
                                    </div>
                                </td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <header class="u-watermark">
                                        <img src="~@/assets/images/template/template_logo.png" alt="">
                                    </header>
                                    <component :is="v.is" ref="template" :title="v.title" :data="v.data"></component>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </template>
        </div>
    </div>
</template>

<script lang="ts">
import UIndex_1 from './customer/index_1.vue'
import UIndex_2 from './customer/index_2.vue'
import UIndex_3 from './customer/index_3.vue'
import UIndex_4 from './customer/index_4.vue'
import UIndex_5 from './customer/index_5.vue'
import UIndex_6 from './customer/index_6.vue'
import UIndex_7 from './customer/index_7.vue'
import UIndex_8 from './customer/index_8.vue'
import UIndex_9 from './customer/index_9.vue'
import UIndex_10 from './customer/index_10.vue'
import UIndex_11 from './customer/index_11.vue'
import UIndex_12 from './customer/index_12.vue'
import UIndex_13 from './customer/index_13.vue'
import UIndex_14 from './customer/index_14.vue'
import UIndex_15 from './customer/index_15.vue'
import UIndex_16 from './customer/index_16.vue'
import UIndex_17 from './customer/index_17.vue'
import UIndex_18 from './customer/index_18.vue'
import UIndex_19 from './customer/index_19.vue'
import UIndex_20 from './customer/index_20.vue'
import UIndex_21 from './customer/index_21.vue'
import UIndex_22 from './customer/index_22.vue'
import UIndex_23 from './customer/index_23.vue'
import UIndex_24 from './customer/index_24.vue'
// import UIndex_241 from './customer/index_241.vue'
// import UIndex_242 from './customer/index_242.vue'
// import UIndex_243 from './customer/index_243.vue'
import UIndex_25 from './supplier/index_25.vue'
import UIndex_26 from './supplier/index_26.vue'
import UIndex_27 from './supplier/index_27.vue'
import UIndex_28 from './supplier/index_28.vue'
import UIndex_29 from './supplier/index_29.vue'
import UIndex_30 from './supplier/index_30.vue'
import UIndex_31 from './supplier/index_31.vue'
import {
    defineComponent,
    ref,
    reactive,
    nextTick,
    toRefs,
    onMounted,
    computed,
} from 'vue'
import { useRouter } from 'vue-router';
import { contractDetailApi } from '@/api/contractManage/contractDetail.ts';
export default defineComponent({
    components: {
        UIndex_1, UIndex_2, UIndex_3, UIndex_4, UIndex_5, UIndex_6, UIndex_7, UIndex_8, UIndex_9, UIndex_10,
        UIndex_11, UIndex_12, UIndex_13, UIndex_14, UIndex_15, UIndex_16, UIndex_17, UIndex_18, UIndex_19, UIndex_20,
        UIndex_21, UIndex_22, UIndex_23, UIndex_24, UIndex_25, UIndex_26, UIndex_27, UIndex_28, UIndex_29, UIndex_30,
        UIndex_31,
    },
    setup() {
        const router = useRouter().currentRoute.value
        const dataMap = reactive({
            data: {},
            templateGroup: [
                { id: 1, type: 1, is: 'UIndex_1', title: '客户合同 / 单仓储 / 冷冻品 仓储协议（客户）', },
                { id: 2, type: 1, is: 'UIndex_2', title: '客户合同 / 单仓储 / 仓储协议（客户）', },
                { id: 3, type: 1, is: 'UIndex_3', title: '客户合同 / 单仓储 / 原木 板材-仓储协议（客户）', },
                { id: 4, type: 1, is: 'UIndex_4', title: '客户合同 / 形式协议 / 进口代理形式协议（港口物流）', },
                { id: 5, type: 1, is: 'UIndex_5', title: '客户合同 / 形式协议 / 仓储形式协议', },
                { id: 6, type: 1, is: 'UIndex_6', title: '客户合同 / 形式协议 / 运输代理形式协议', },
                { id: 7, type: 1, is: 'UIndex_7', title: '客户合同 / 公路运输 / 运输代理合同（与客户）', },
                { id: 8, type: 3, is: 'UIndex_8', title: '客户合同 / 报价确认书模板（含参数） / 报价确认书（食品） -清关+运输+仓储', },
                { id: 9, type: 3, is: 'UIndex_9', title: '客户合同 / 报价确认书模板（含参数） / 报价确认书（非食品） -清关+运输+仓储', },
                { id: 10, type: 3, is: 'UIndex_10', title: '客户合同 / 报价确认书模板（含参数） / 报价确认书 （单运输9%）', },
                { id: 11, type: 1, is: 'UIndex_11', title: '客户合同 / 港口物流/ 松木：硬木 / 货运代理协议-三方协议（存在控货）', },
                { id: 12, type: 1, is: 'UIndex_12', title: '客户合同 / 港口物流/ 松木：硬木 / 货运代理协议-双方协议（存在控货-与实际客户签订）', },
                { id: 13, type: 1, is: 'UIndex_13', title: '客户合同 / 港口物流/ 松木：硬木 / 货运代理协议-双方协议', },
                { id: 14, type: 1, is: 'UIndex_14', title: '客户合同 / 港口物流/ 有色金属 / 货运代理协议-双方协议', },
                { id: 15, type: 1, is: 'UIndex_15', title: '客户合同 / 港口物流/ 其他品类 / 货运代理协议-双方协议', },
                { id: 16, type: 1, is: 'UIndex_16', title: '客户合同 / 港口物流/ 其他品类 / 货运代理协议-双方协议（存在控货-与实际客户签订）', },
                { id: 17, type: 1, is: 'UIndex_17', title: '客户合同 / 港口物流/ 其他品类 / 货运代理协议-双方协议（存在控货-与控货方签订）', },
                { id: 18, type: 1, is: 'UIndex_18', title: '客户合同 / 港口物流/ 其他品类 / 货运代理协议-三方协议（存在控货）', },
                { id: 19, type: 1, is: 'UIndex_19', title: '客户合同 / 港口物流/ 农产品 / 货运代理协议-双方协议', },
                { id: 20, type: 1, is: 'UIndex_20', title: '客户合同 / 港口物流/ 冷柜食品 / 货运代理协议-双方协议（存在控货-与实际客户签订）', },
                { id: 21, type: 1, is: 'UIndex_21', title: '客户合同 / 港口物流/ 冷柜食品 / 货运代理协议-双方协议', },
                { id: 22, type: 1, is: 'UIndex_22', title: '客户合同 / 港口物流/ 冷柜食品 / 货运代理协议-三方协议（存在控货）', },
                { id: 23, type: 1, is: 'UIndex_23', title: '客户合同 / 港口物流/ 矿产品 / 货运代理协议（客户-双方）原票原转', },
                { id: 24, type: 1, is: 'UIndex_24', title: '客户合同 / 港口物流/ 矿产品 / 货运代理协议（客户-双方）', },
                //#region //单仓储相关
                // { id: 241, type: 1, is: 'UIndex_241', title: '客户合同 双方协议	仓储	松木/硬木	双方协议	仓储代理协议', },
                // { id: 242, type: 1, is: 'UIndex_242', title: '双方协议	仓储	冷柜食品	双方协议	仓储代理协议', },
                // { id: 243, type: 1, is: 'UIndex_243', title: '双方协议	仓储	其他品类	双方协议	仓储代理协议', },

                // #endregion



                { id: 25, type: 2, is: 'UIndex_25', title: '供应商合同 / 集装箱 公路运输（与供应商）不含节假日运力要求', },
                { id: 26, type: 2, is: 'UIndex_26', title: '供应商合同 / 集装箱 公路运输（与供应商）含节假日运力要求', },
                { id: 27, type: 2, is: 'UIndex_27', title: '供应商合同 / 运输及仓储协议（供应商）', },
                { id: 28, type: 2, is: 'UIndex_28', title: '供应商合同 / 货运代理协议（与供应商）', },
                { id: 29, type: 2, is: 'UIndex_29', title: '供应商合同 / 运输及仓储协议（供应商）冷柜食品消杀', },
                { id: 30, type: 2, is: 'UIndex_30', title: '供应商合同 / 散货 公路运输（供应商）云仓-不考核', },
                { id: 31, type: 2, is: 'UIndex_31', title: '供应商合同 / 仓储协议（供应商-云仓）主合同', },
            ],
            current: [],
            id: router.query.id,
            rowId: router.query.rowId,
            pageType: router.query.type,//'1'： 客户 '2'： 供应商 其他：报价书
            standardProductsId: '',
            templateData: [],
        })

        const init = async () => {
            if (dataMap.pageType == '1') { // 客户
                dataMap.data = await contractInfo()
                handleTypeByData(dataMap.data)
            } else if (dataMap.pageType == '2') { // 供应商
                dataMap.data = await supplierDetail()
                handleTypeByData(dataMap.data)
            } else { // 报价书
                dataMap.data = await quoteBookInfo()
                handleTypeByData(dataMap.data)
            }
        }
        // 客户
        const contractInfo = async () => {
            const params = { id: dataMap.id, }
            const res = await contractDetailApi.contractInfo(params)
            const { code, message, data } = res
            if (code == 200) {
                return handleDataToKey(data)
            }
        }
        // 供应商
        const supplierDetail = async () => {
            const params = { id: dataMap.id, }
            const res = await contractDetailApi.supplierDetail(params)
            const { code, message, data } = res
            if (code == 200) {
                return handleDataToKey(data)
            }
        }
        // 报价
        const quoteBookInfo = async () => {
            const params = { id: dataMap.rowId, }
            const res = await contractDetailApi.quoteBookInfo(params)
            const { code, message, data } = res
            if (code == 200) {
                return Promise.all(data?.offerInfoList.map((v, i) => {
                    // return this.standardProduct(data, v, i)
                })).then(res => {
                    return handleDataToKey(data, 1)
                })
            }
        }
        // 查询费用模板
        const standardProduct = async (row, v, index) => {
            const params = {
                ...row,
                ...v,
                packingType: 1,
                standardProductsId: index != 0 ? dataMap.standardProductsId : '',
                standardProductsCostItemList: index ? dataMap.templateData : [],
            }
            const res = await contractDetailApi.standardProduct(params)
            const { code, message, data } = res
            if (code == 200) {
                const list = data.standardProductsCostItemList || []
                v.standardProductsCostItemList = JSON.parse(JSON.stringify(list))
                if (index == 0) {
                    // 存储费用模板
                    dataMap.standardProductsId = list[0].standardProductsId.toString()
                    dataMap.templateData = JSON.parse(JSON.stringify(list))
                }
            }
        }
        // 条件映射模板
        const handleTypeByData = (data) => {
            let type
            // 客户合同 processTypeId 双方协议（10） 三方协议（11）控货双方（12）形式协议（14） 已废弃
            // 客户合同 2022年5月 改为contractTypeCode 双方协议（2FXY） 三方协议（3FXY）控货双方（KH2FXY）形式协议（XSXY）
            // id       协议        品类      业务类型      控货方     责任类型 
            // 1 ->   双方协议     冷柜食品     仓储(CUSTOMER_CC)
            // 2 ->   双方协议     其他货物     仓储
            // 3 ->   双方协议     松木/硬木    仓储
            // 4 ->   形式协议                港口物流(CUSTOMER_GKWL)
            // 5 ->   形式协议                仓储
            // 6 ->   形式协议                集卡运输(7)
            // 7 ->   双方协议    所有货物     集卡运输
            // 11 ->  三方协议    松木/硬木    港口物流            
            // 12 ->  双方协议    松木/硬木    港口物流        是
            // 13 ->  双方协议    松木/硬木    港口物流        否
            // 14 ->  双方协议    有色金属     港口物流        
            // 15 ->  双方协议    其他品类     港口物流        否
            // 16 ->  双方协议    其他品类     港口物流        是
            // 17 ->  控货双方    其他品类     港口物流        
            // 18 ->  三方协议    其他品类     港口物流        
            // 19 ->  双方协议    农产品       港口物流       
            // 20 ->  双方协议    冷柜食品     港口物流        是
            // 21 ->  双方协议    冷柜食品     港口物流        否
            // 22 ->  三方协议    冷柜食品     港口物流           
            // 23 ->  双方协议    矿产品       港口物流                 3%内免责
            // 24 ->  双方协议    矿产品       港口物流                  原票原转
            const { goodsName = '', 
            contractTypeCode, 
            businessTypesId, 
            businessTypesCode, 
            businessTypesName, 
            isTherePoint, 
            isSingleOpen, 
            // serviceScope,
            } = data
            // console.log(data, 'woooooooow')
            // console.log(businessTypesId, 'woooooooow')
            if (dataMap.pageType === '1') {
                // 其他品类
                const reg = RegExp(/松木|硬木|有色金属|农产品|冷柜食品|矿产品/)
                const other = !goodsName?.match(reg)
                // 三方协议
                const reg3f = RegExp(/松木|硬木|冷柜食品/)
                const other3f = !goodsName?.match(reg3f)
                const isBusinessType1 = businessTypesCode == 'CUSTOMER_GKWL' || businessTypesName == '港口物流'
                const isBusinessType2 = businessTypesCode == 'CUSTOMER_CC' || businessTypesName == '仓储'
                // const isBusinessType3 = businessTypesId == 7 || businessTypesName == '集卡运输'
                const isBusinessType3 = businessTypesCode == 'CUSTOMER_GLYS' || businessTypesName == '公路运输'
                if (contractTypeCode == '2FXY' && isBusinessType2 && goodsName?.match(RegExp(/冷柜食品/))) {
                    type = 1
                }
                if (contractTypeCode == '2FXY' && isBusinessType2 && other) {
                    type = 2
                }
                if (contractTypeCode == '2FXY' && isBusinessType2 && goodsName?.match(RegExp(/松木|硬木|木材衍生品/))) {
                    type = 3
                }
                if (contractTypeCode == 'XSXY' && isBusinessType1) {
                    type = 4
                }
                if (contractTypeCode == 'XSXY' && isBusinessType2) {
                    type = 5
                }
                if (contractTypeCode == 'XSXY' && isBusinessType3) {
                    type = 6
                }
                if (contractTypeCode == '2FXY' && isBusinessType3) {
                    type = 7
                }
                if (contractTypeCode == '3FXY' && isBusinessType1 && goodsName?.match(RegExp(/松木|硬木/))) {
                    type = 11
                }
                if (contractTypeCode == '2FXY' && isBusinessType1 && goodsName?.match(RegExp(/松木|硬木/)) && (isTherePoint == 1 || isTherePoint == true)) {
                    type = 12
                }
                if (contractTypeCode == '2FXY' && isBusinessType1 && goodsName?.match(RegExp(/松木|硬木/)) && (isTherePoint == 0 || isTherePoint == false)) {
                    type = 13
                }
                if (contractTypeCode == '2FXY' && isBusinessType1 && goodsName?.match(RegExp(/有色金属/))) {
                    type = 14
                }
                if (contractTypeCode == '2FXY' && isBusinessType1 && other && (isTherePoint == 0 || isTherePoint == false)) {
                    type = 15
                }
                if (contractTypeCode == '2FXY' && isBusinessType1 && other && (isTherePoint == 1 || isTherePoint == true)) {
                    type = 16
                }
                if (contractTypeCode == 'KH2FXY' && isBusinessType1) {
                    type = 17
                }
                if (contractTypeCode == '3FXY' && isBusinessType1 && other3f) {
                    type = 18
                }
                if (contractTypeCode == '2FXY' && isBusinessType1 && goodsName?.match(RegExp(/农产品/))) {
                    type = 19
                }
                if (contractTypeCode == '2FXY' && isBusinessType1 && goodsName?.match(RegExp(/冷柜食品/)) && (isTherePoint == 1 || isTherePoint == true)) {
                    type = 20
                }
                if (contractTypeCode == '2FXY' && isBusinessType1 && goodsName?.match(RegExp(/冷柜食品/)) && (isTherePoint == 0 || isTherePoint == false)) {
                    type = 21
                }
                if (contractTypeCode == '3FXY' && isBusinessType1 && goodsName?.match(RegExp(/冷柜食品/))) {
                    type = 22
                }
                if (contractTypeCode == '2FXY' && isBusinessType1 && goodsName?.match(RegExp(/矿产品/))) {
                    type = '23,24'
                }
                // if (contractTypeCode == '2FXY' && isBusinessType2 && goodsName==='硬木原木') { 
                //   // 双方协议	仓储	松木/硬木	双方协议	仓储代理协议
                //   type = 241
                // }
                // if (contractTypeCode == '2FXY' && isBusinessType2 && goodsName==='冷柜食品') { 
                //   // 双方协议	仓储	冷柜食品	双方协议	仓储代理协议
                //   type = 242
                // }
                // if (contractTypeCode == '2FXY' && isBusinessType2 && goodsName==='其他品类') { 
                //   // 双方协议	仓储	其他品类	双方协议	仓储代理协议
                //   type = 243
                // }
            }

            //  供应商 businessTypesCode
            // id -> 双方协议
            // 25 -> 集卡运输(不含节假日要求)(51)   所有货物        // 暂无
            // 26 -> 集卡运输(含节假日要求)(47)     所有货物        // 暂无
            // 27 -> 运输及仓储(SUPPLIER_CC -> 49)                所有货物(冷柜食品除外) 
            // 28 -> 港口物流(SUPPLIER_GKWL -> 46)                  所有货物
            // 29 -> 运输及仓储                    冷柜食品
            // 30 -> 散货运输(仓配)(52)            所有货物
            // 31 -> 仓储(48)                      所有货物
            console.log(businessTypesCode)
            if (dataMap.pageType === '2') {
                if (businessTypesId == 51) {
                    type = 25
                }
                if (businessTypesId == 47) {
                    type = 26
                }
                if (businessTypesCode == 'SUPPLIER_CC' && !(goodsName?.match(RegExp(/冷柜食品/)))) {
                    type = 27
                }
                if (businessTypesCode == 'SUPPLIER_GKWL') {
                    type = 28
                }
                if (businessTypesId == 49 && goodsName?.match(RegExp(/冷柜食品/))) {
                    type = 29
                }
                if (businessTypesId == 52) {
                    type = 30
                }
                if (businessTypesId == 48) {
                    type = 31
                }
            }
            // 报价书 serviceScope 服务范围 1-港口物流，2-通关，3-仓储，4-集卡运输
            // id -> 业务类型      品类         是否单开9%
            // 8 -> 港口物流      食品           是 ? + 26(单运输)
            // 9 -> 港口物流      非食品
            // 10 -> 集卡运输     
            if (dataMap.pageType === '3') {
                const reg = RegExp(/冷柜食品|常温食品/)
                const food = goodsName?.match(reg)
                if (businessTypesCode == 'CUSTOMER_GKWL' && food) {
                    type = 8
                    if (isSingleOpen) {
                        type = '8,10'
                    }
                }
                if (businessTypesCode == 'CUSTOMER_GKWL' && !food) {
                    type = 9
                    if (isSingleOpen) {
                        type = '9,10'
                    }
                }
                // if (serviceScope == 1 && food) {
                //     type = 8
                //     if (isSingleOpen) {
                //         type = '8,10'
                //     }
                // }
                // if (serviceScope == 1 && !food) {
                //     type = 9
                //     if (isSingleOpen) {
                //         type = '9,10'
                //     }
                // }
                // if (serviceScope == 4) {
                //     type = 10
                // }
            }
            dataMap.current = dataMap.templateGroup.filter(v => {
                const str = type?.toString()
                return str?.split(',').length > 0 ? str.split(',').some(s => v.id == s) : v.id == type
            })
            dataMap.current.forEach(v => {
                v.data = JSON.parse(JSON.stringify(dataMap.data))
                v.contractName = dataMap.data.contractName
                if (v.id == 23) {
                    v.contractName = dataMap.data.contractName + '(原票原转)'
                } else if (v.id == 24) {
                    v.contractName = dataMap.data.contractName + '(3%免责)'
                } else if (v.id == 8) {
                    v.contractName = '报价确认书（食品）'
                } else if (v.id == 9) {
                    v.contractName = '报价确认书（非食品）'
                } else if (v.id == 10) {
                    v.contractName = '报价确认书（单运输）'
                }
            })
            console.log('&&& 当前应该展示的模板', dataMap.current, type)
        }
        const handleDataToKey = (data, type) => {
            // console.log(data)
            //#region  定义传递给合同模板的部分字段
            /*
            * 甲方 key_1
            * 甲方地址 key_2
            * 甲方联系人 key_3
            * 甲方电话 key_4
            * 乙方 key_5
            * 乙方地址 key_6
            * 乙方联系人 key_7
            * 乙方电话 key_8
            * 丙方 key_15
            * 丙方地址 key_16
            * 丙方联系人 key_17
            * 丙方电话 key_18
            * 签约日期 key_9(年)  key_10(月)  key_11(日)
            * 到期日期 key_12(年)  key_13(月)  key_14(日)
            * 通关阶段相关服务 data.key_19
            * 通关阶段相关服务 data.key_20
            * 运输服务 data.key_21
            * 仓储服务 data.key_22
            * 其他服务 data.key_23
            * 其他服务文本输入框的值 data.key_24
            * 仓库地址 key_25
            * 是否消杀 key_26
            * 账号 key_27
            * 户名 key_28
            * 开户行 key_29
            */
            //#endregion
            if (dataMap.pageType == '1') { //客户
                data.key_1 = data.customerName // 甲方 key_1
                data.key_2 = data.contactAddress // 甲方地址 key_2
                data.key_3 = data.contact // 甲方联系人 key_3
                data.key_4 = data.mobilePhone || data.fixedTelephone // 甲方电话 key_4
                data.key_5 = data.signUpName // 乙方 key_5
                data.key_6 = data.signEnterpriseAddress // 乙方地址 key_6
                data.key_7 = data.signSalesman || data.contractor // 乙方联系人 key_7
                data.key_8 = data.signSalesmanPhone // 乙方电话 key_8
            } else if (dataMap.pageType == '2') {// 供应商
                data.key_1 = data.signUpName // 甲方 key_1
                data.key_2 = data.signEnterpriseAddress // 甲方地址 key_2
                data.key_3 = data.signSalesman || data.contractor // 甲方联系人 key_3
                data.key_4 = data.signSalesmanPhone // 甲方电话 key_4
                data.key_5 = data.customerName // 乙方 key_5
                data.key_6 = data.contactAddress // 乙方地址 key_6
                data.key_7 = data.contact // 乙方联系人 key_7
                data.key_8 = data.mobilePhone || data.fixedTelephone // 乙方电话 key_8
            } else {// 报价书
                // key_1  客户名称
                // key_2  签约抬头
                // key_3  品类
                // key_4  报价信息
                // key_12  包干费
                // key_13  非包干费
                // key_14 结算方式
                // key_15 第一种的枚举值（第一个月或第二个月
                // key_16 第二种的收到账单后：（5个工作日或10个工作日）
                // key_17 第二种的收到正规发票后：（5 个工作日/ 10 个工作日/ 15 个工作日）
                // key_22 税金及结算方式-税金期限
                // console.log(data)
                data.key_1 = data.customerName // 甲方 key_1
                data.key_2 = data.signUpName // 乙方地址 key_2
                data.key_3 = data.categoryName // 品类 key_3
                // 处理报价
                // data.offerInfoList.forEach(v => {
                //   // 运费
                //   const fareAmount = v.standardProductsCostItemList.find(o => o.isLumpSum && o.costItemCode == '07008'&&data.isSingleOpen)?.costAmount || 0
                //   this.$set(v, 'fareAmount', fareAmount)
                // })
                data.key_4 = data.offerInfoList // 报价信息 key_4
                data.key_12 = data.offerCostItemList?.filter(v => v.isLumpSum)?.map(v => v.costItemCname)?.join(',')
                data.key_13 = data.offerCostItemList?.filter(v => !v.isLumpSum)?.map(v => v.costItemCname)?.join(',')
                data.key_14 = data.settlementDeadline
                data.key_15 = data.settlementDeadlineValue
                data.key_16 = data.invoiceWorkingDays
                data.key_17 = data.workingDays
                data.key_18 = data.settlementDeadlineOther
                data.key_22 = data.taxDeadline
                data.key_31 = data.remark
                //  data.key_31 = '乙方地址 乙方地址 乙方地址 乙方地址 乙方地址 乙方地址 乙方地址 乙方地址 乙方地址 乙方地址 乙方地址 乙方地址 '
                let warehousingArr = []
                // console.log(data.warehousingOfferInfoList)
                data.warehousingOfferInfoList && data.warehousingOfferInfoList.map(item => {
                    // console.log(item)
                    item.warehousingOfferItemList.map(warehouse => {
                        // console.log(warehouse.intervalBillingList)
                        let intervalBilling = ''
                        if (warehouse.intervalBillingList.length > 0) {
                            warehouse.intervalBillingList.map(exp => {
                                intervalBilling = intervalBilling + exp.intervalStartValue + '-' + exp.intervalEndValue + '天' + exp.intervalUnitPrice + exp.intervalUnit + ';'
                            })
                        } else {
                            intervalBilling = warehouse.unitPrice + '元/' + warehouse.unit
                        }

                        let warehouseItem = {
                            warehouseName: item.warehouseName,
                            warehouseAddress: item.warehouseAddress,
                            billingName: warehouse.billingName,
                            intervalBilling: warehouse.costItemCname + ':' + intervalBilling
                        }
                        warehousingArr.push(warehouseItem)
                    })
                })
                console.log(warehousingArr)
                data.key_30 = warehousingArr
            }
            if (!type) { //调用函数的类型 1 为报价书，此处为客户 或者 供应商
                data.key_15 = data.controlGoodsCnName // 丙方 key_15
                data.key_16 = data.controlContactAddress // 丙方地址 key_16
                data.key_17 = data.controlContact // 丙方联系人 key_17
                data.key_18 = data.controlMobilePhone || data.controlFixedTelephone // 丙方电话 key_18
                data.key_9 = handleTime(data.signUpDate)[0] // 签约日期 key_9(年)  key_10(月)  key_11(日)
                data.key_10 = handleTime(data.signUpDate)[1]
                data.key_11 = handleTime(data.signUpDate)[2]
                data.key_12 = handleTime(data.dueToDate)[0] // 到期日期 key_12(年)  key_13(月)  key_14(日)
                data.key_13 = handleTime(data.dueToDate)[1]
                data.key_14 = handleTime(data.dueToDate)[2]
                data.key_19 = (data?.contractInfoServiceVOList || data?.services)?.some(v => v.serviceProjectCode == 'CONTRACT_TGJDXGFW')
                data.key_20 = (data?.contractInfoServiceVOList || data?.services)?.some(v => v.serviceProjectCode == 'CONTRACT_TGJDXGFW')
                data.key_21 = (data?.contractInfoServiceVOList || data?.services)?.some(v => v.serviceProjectCode == 'CONTRACT_YSFW')
                data.key_22 = (data?.contractInfoServiceVOList || data?.services)?.some(v => v.serviceProjectCode == 'CONTRACT_CCFW')
                data.key_23 = (data?.contractInfoServiceVOList || data?.services)?.some(v => v.serviceProjectCode == 'CONTRACT_QTFW')
                data.key_26 = data.isAccountingXiaosha == 1
            }
            return data
        }
        const handleTime = (time) => {
            const res = time.slice(0, 10)?.split('-')
            return res
        }

        init()

        return {
            ...toRefs(dataMap)
        }
    }
})
</script>

<style media="print" scoped>
@page {
    z-index: 2;
    margin-top: 14mm;
}

.u-header {
    position: fixed;
    top: 0;
    width: 750px;
    display: inline-block;
}

.u-watermark {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 40%;
    display: inline-block;
    z-index: -1;
    /* opacity: 0.7; */
}

.u-watermark img,
.u-header img {
    width: 100%;
}

.page-header,
.page-header-space {
    display: block !important;
    /* height: 70px;
    width: 750px;
    display: block; */
}
</style>
<style lang='less' scoped>
.m-main {
    width: 100%;
    // margin: 20px;
    background-color: #fff;

    .u-btns {
        padding: 20px;
        display: flex;
        justify-content: flex-end;
    }

    .u-header {
        display: none;
    }
}

.u-template {
    width: 750px;
    margin: auto;
    padding: 20px;
    display: block;
}

::v-deep {

    // -webkit-print-color-adjust: exact;
    .u-body {
        width: 100%;

        .u-row {
            .u-label {
                min-width: 60px;
            }
        }
    }

    .u-key {
        background-color: #FFC000;
    }

    .u-line-50 {
        display: inline-block;
        min-width: 50px;
        position: relative;
        line-height: 18px;
        text-align: center;

        &::before {
            content: ' ';
            width: 100%;
            height: 1px;
            position: absolute;
            bottom: 0;
            left: 0;
            border-bottom: 1px solid @color_subTitle;
        }
    }

    .u-line-200 {
        display: inline-block;
        min-width: 200px;
        position: relative;
        line-height: 18px;
        word-wrap: break-word;
        text-align: center;

        &::before {
            content: ' ';
            width: 100%;
            height: 1px;
            position: absolute;
            bottom: 0;
            left: 0;
            border-bottom: 1px solid @color_subTitle;
        }
    }

    .el-tabs__header {
        padding: 10px 20px;
    }

    .u-normal {
        font-weight: normal !important;
    }

    .u-dui {
        width: 15px;
    }
}

.preview-table {
    table-layout: fixed;
    width: 100%;
    border: none;
    margin: 0px;
    padding: 0px;
}

.page-header {
    position: fixed;
    top: 0mm;
    width: 100%;
    border-bottom: 1px solid black;
    text-align: center;
}

.header-content {
    width: 100%;
    height: 100%;
}

.page-header,
.page-header-space {
    height: 70px;
    width: 100%;
    display: block;

    img {
        width: 100%;
    }
}
</style>