
<template>
  <!-- 报价测算弹窗 -->
  <div class="containe">
    <Search
      v-if="JSON.stringify(contractInfo) !== '{}'"
      ref="SearchRef"
      :getSearchParams="getSearchParam"
      v-model:searchData="searchData"
    >
    </Search>
    <a-divider v-if="searchData.timestamp"/>
    <StandardProducts
      ref="StandardProductsRef"
      v-if="
        JSON.stringify(offerInfo) !== '{}' &&
        JSON.stringify(contractInfo) !== '{}'
      "
    >
    </StandardProducts>
    <a-divider v-if="searchData.timestamp"/>
    <CostTable
      ref="CostTableRef"
      v-if="
        JSON.stringify(offerInfo) !== '{}' &&
        JSON.stringify(contractInfo) !== '{}'"
    >
    </CostTable>
  </div>
</template>

<script setup>
import { onMounted, computed, reactive, ref, watch, provide } from 'vue';
import { useRoute } from 'vue-router';
import { contractManage } from '@/api/contractManage'; //当前页面api
import { createOffer } from '@/api/createOffer'; //当前页面api
import CostTable from './components/CostTable.vue';
import Search from './components/Search.vue';
import StandardProducts from './components/StandardProducts.vue';
const SearchRef = ref(null);
const StandardProductsRef = ref(null);
const CostTableRef = ref(null);
const props = defineProps({
  modalParams: {
    type: Object,
    default: () => ({}),
  },
});
const route = useRoute();

// 获取的总数据 当下边有 isSelect 为选中项
const searchData = ref([]);
searchData.value.timestamp = ''; //时间戳监测是否为搜索
const isShowStandardProducts = computed(() => true);
const isShowCostTable = computed(() => true);

const contractInfo = reactive({});
const offerInfo = reactive({});

// 获取详情 合同，并传递下去，不用每次获取，节约流量
const getContractInfo = () => {
  contractManage
    .contractInfo({ id: route.query.contractInfoId })
    .then(({ code, data }) => {
      if (code === '200') {
        Object.assign(contractInfo, data);
      }
    });
};
// 获取详情 报价书，并传递下去，不用每次获取，节约流量
const getOfferInfo = () => {
  route.query.offerBookId&&createOffer
    .quoteBookInfo({
      id: route.query.offerBookId,
    })
    .then(({ data, code }) => {
      if (code === '200') {
        Object.assign(offerInfo, data);
      }
    });
};
// 获取搜索参数
const searchParams = ref({});
const getSearchParam = (params) => {
  searchParams.value = params;
  return SearchRef.value.getParams()
};

provide('contractInfo', contractInfo); //合同信息
provide('offerInfo', offerInfo); //报价书信息
provide(
  'searchData',
  computed(() => searchData.value)
); //搜索信息
const selectedSearchData = reactive({}); //未匹配到绑定的
// 保存下来当前选择的包干和非包干
provide(
  'selectedSearchData',
  computed(() =>{
    if(searchData.value.length){
      return searchData.value.find((item) => item.selected === true)
    }else{
      return selectedSearchData
    }
  })
);
provide('searchParam', searchParams);
provide('getSearchParam', getSearchParam);
provide('modalParams', props.modalParams);
// 搜索内容变更
watch(
  () => searchData.value.timestamp,
  (newValue, oldValue) => {
    if(newValue){
      // 更新值 固定的，不可操作的值
    }
  },
  { deep: true, immediate: true }
);

onMounted(() => {
  if (route.query.contractInfoId) {
    getContractInfo();
  }
  if (route.query.offerBookId) {
    getOfferInfo();
  }
  if (props.modalParams.title === props.modalParams.ModalTitle.edit) {
    Object.assign(selectedSearchData, props.modalParams.row);
  }
});
const getParams = () => {
  return {
    ...SearchRef.value.getParams(),
    ...StandardProductsRef.value.getParams(),
    ...CostTableRef.value.getParams(),
    contractInfoId: route.query.contractInfoId,
    contractOfferConfirmationId: route.query.offerBookId,
  };
};
defineExpose({
  getParams,
});
</script>

<style lang="less" scoped>
.containe{
  background-color: var(--color-bg-2);
}
</style>