<template>
  <div>
    <a-modal
      v-model:visible="visible"
      :on-before-cancel="handleCancel"
      :on-before-ok="handleBeforeOk"
      width="50%"
      :mask-closable="false"
      :top="100"
      :align-center="false"
      :modal-style="{
        'max-height': '600px',
        'overflow': 'auto',
        'min-height': '250px',
      }"
    >
      <template #title> 新增监管仓 </template>
      <div>
        <a-form ref="formRef" :model="form" layout="vertical">
          <a-row class="grid-demo" :gutter="[24, 12]">
            <a-col :span="12">
              <a-form-item
                field="warehouseName"
                label="监管仓名称"
                :rules="[{ required: true, message: '请输入监管仓名称' }]"
                :validate-trigger="['change', 'blur']"
              >
                <a-input v-model="form.warehouseName"></a-input
              ></a-form-item>
            </a-col>
            <a-col :span="12">
              <a-form-item
                field="provinceId"
                label="省市区街道"
                :rules="[{ required: true, message: '请输入省市区街道' }]"
                :validate-trigger="['change', 'blur']"
              >
                <doorPoint @getCostDoor="getCostDoor" ref="pointRef"></doorPoint
              ></a-form-item>
            </a-col>
            <a-col :span="12">
              <a-form-item
                field="address"
                label="详细地址"
                :rules="[{ required: true, message: '请输入详细地址' }]"
                :validate-trigger="['change', 'blur']"
              >
                <a-input v-model="form.address"></a-input
              ></a-form-item>
            </a-col>
            <a-col :span="24"
              ><div class="join">其他运输需求</div
              ><a-input v-model="form.remark"></a-input
            ></a-col>
          </a-row>

          <div class="table">
            <a-table
              :columns="columns"
              :data="form.contactList"
              :pagination="false"
            >
              <template #operator="{ record, rowIndex }">
                <div>
                  <span style="padding-right: 5px">{{ rowIndex + 1 }}</span>

                  <DwButton
                    type="text"
                    shape="circle"
                    @click="deleteItem(record, rowIndex)"
                  >
                    <icon-delete />
                  </DwButton>
                </div>
              </template>
              <template #fullName="{ record, rowIndex }">
                <div>
                  <a-form-item
                    :field="`contactList.${rowIndex}.fullName`"
                    :rules="[{ required: true, message: ' ' }]"
                    :validate-trigger="['blur']"
                    :hide-asterisk="true"
                  >
                    <a-input v-model="record.fullName"></a-input
                  ></a-form-item>
                </div>
              </template>
              <template #mobilePhone="{ record, rowIndex }">
                <div>
                  <a-form-item
                    :field="`contactList.${rowIndex}.mobilePhone`"
                    :rules="[{ required: true, message: ' ' }]"
                    :validate-trigger="['blur']"
                    :hide-asterisk="true"
                  >
                    <a-input v-model="record.mobilePhone"></a-input
                  ></a-form-item>
                </div>
              </template>
              <template #defaultFlag="{ record, rowIndex }">
                <div>
                  <a-checkbox
                    :disabled="record.defaultFlag ? false : btnDisable"
                    v-model="record.defaultFlag"
                    @change="flagChange"
                  ></a-checkbox>
                </div>
              </template>
            </a-table>
            <div class="add">
              <DwButton type="text" shape="circle" @click="addTableColumns">
                <icon-plus />新增
              </DwButton>
            </div>
          </div>
        </a-form>
      </div>
    </a-modal></div
  >
</template>
<script lang="ts" setup>
import { merchants } from '@/api/merchants/index';
import { reactive, ref, watch, h } from 'vue';
import { Message, Modal } from '@arco-design/web-vue';
import doorPoint from './doorPoint.vue';
import { changeOrderApi } from '@/api/changeOrderApi/index';
import { runOrderApi } from '@/api/runOrderApi/index';
import dayjs from 'dayjs';
const props = defineProps({ clientRelationId: String });
const btnDisable = ref(false);
const visible = ref(false);
const emits = defineEmits('getAddress');
const formRef = ref([]);
const mobilePhoneRef = ref([]);
const fullNameRef = ref([]);
const pointRef = ref([]);
const form = reactive({
  id: '', //门点的ID
  orderLogisticsNo: 'D_MYBD220510149', //运单号
  relationId: props.clientRelationId, //关系网络ID
  province: '', //省份中文名称
  provinceId: '', //省份ID
  city: '', //城市中文名称
  cityId: '', //城市ID
  county: '', //区县中文名称
  countyId: '', //区县ID
  township: '', //城镇中文名称
  townshipId: '', //城镇ID
  address: '', //地址
  remark: '', //其他运输要求
  defultFlag: false,
  contactList: [],
  warehouseName: '', //监管仓名称
});
const columns = [
  {
    title: '#',
    slotName: 'operator',
  },
  {
    title: '联系人',
    dataIndex: 'fullName',
    slotName: 'fullName',
  },
  {
    title: '电话',
    dataIndex: 'mobilePhone',
    slotName: 'mobilePhone',
  },
  {
    title: '默认',
    dataIndex: 'defaultFlag',
    slotName: 'defaultFlag',
  },
];
const addTableColumns = () => {
  form.contactList.push({
    fullName: '',
    mobilePhone: '',
    defaultFlag: false,
  });
  flagChange('');
};
const deleteItem = (item, index) => {
  form.contactList = form.contactList.filter((item, i) => i != index);
  flagChange('');
};
const flagChange = (val) => {
  btnDisable.value = form.contactList.some((item) => item.defaultFlag);
};
const handleClick = async (
  orderLogisticsNo: String,
  clientRelationId: String
) => {
  visible.value = true;
  pointRef.value.queryKey();
  form.orderLogisticsNo = orderLogisticsNo;
  form.relationId = clientRelationId;
  form.province = '';
  form.provinceId = '';
  form.city = '';
  form.cityId = '';
  form.county = '';
  form.countyId = '';
  form.township = '';
  form.townshipId = '';
  form.address = '';
  form.remark = '';
  form.contactList = [];
  form.warehouseName = '';
};
const handleBeforeOk = (done) => {
  if (form.contactList && form.contactList.length > 0) {
    for (let i = 0; i < form.contactList.length; i++) {
      if (!form.contactList[i].fullName || !form.contactList[i].mobilePhone) {
        Message.error('请完善信息');
        done(false);
      }
    }
  }
  formRef.value.validate(async (error: any, values: any) => {
    if (!error) {
      if (form.contactList.length == 0) {
        Message.error('请先添加联系人');
        done(false);
        return;
      }

      const res = await runOrderApi.supervisedWarehouseDoorSave(form);
      if (res.code == 200) {
        Message.success('地址添加成功');
        visible.value = false;
        emits('getAddress');
      } else {
        done(false);
      }
    } else {
      done(false);
    }
  });
};
const handleCancel = () => {
  Modal.warning({
    title: '提示',
    hideCancel: false,
    alignCenter: true,
    content: () =>
      h('div', { class: 'info-modal-content' }, [
        h(
          'span',
          { style: 'margin-left: 60px;' },
          '确定要关闭吗,关闭之后信息将不被保存'
        ),
      ]),
    cancelText: '取消',
    async onOk() {
      visible.value = false;
    },
  });
};
const getCostDoor = (val) => {
  console.log(val, '地址');
  form.provinceId = val.provinceId;
  form.province = val.provinceName;
  form.cityId = val.cityId;
  form.city = val.cityName;
  form.countyId = val.countyId;
  form.county = val.countyName;
  form.townshipId = val.townId;
  form.township = val.townName;
};
defineExpose({ handleClick });
</script>
<style lang="less" scoped>
.join {
  display: flex;
  align-items: center;
  padding-bottom: 10px;
  .span {
  }
}
.table {
  margin-top: 20px;
}
.add {
  padding-top: 20px;
}
</style>