<template>
  <div>
    <a-modal
      v-model:visible="visible"
      width="60%"
      :mask-closable="false"
      :top="100"
      :align-center="false"
      :modal-style="{
        'width': '1000px',
        'max-height': '600px',
        'min-height': '250px',
      }"
    >
      <template #title> 入我司库 </template>
      <div class="content">
        <div class="join">
          <div class="vertical"></div>
          <span class="font">运输路线 </span>
        </div>
        <a-form ref="formRef" :model="form" layout="vertical">
          <a-row class="grid-demo" :gutter="[24, 12]">
            <a-col :span="8">
              <a-form-item
                field="warehousingType"
                label="入库类型"
                :rules="[{ required: true, message: '请选择入库类型' }]"
                :validate-trigger="['change', 'blur']"
              >
                <a-select
                  v-model="form.warehousingType"
                  placeholder="请选择"
                  @change="warehousingChange"
                >
                  <a-option
                    v-for="item in warehousingTypeList"
                    :key="item.value"
                    :value="item.value"
                    :label="item.label"
                  ></a-option>
                </a-select>
              </a-form-item>
            </a-col>
            <a-col :span="8">
              <a-form-item
                field="portArea"
                label="港区"
                :rules="[{ required: true, message: '请输入港区' }]"
                :validate-trigger="['change', 'blur']"
              >
                <a-input v-model="form.portArea" disabled />
              </a-form-item>
            </a-col>
            <a-col :span="8">
              <a-form-item
                field="address"
                label="收货地址"
                :rules="[{ required: true, message: '请输入收货地址' }]"
                :validate-trigger="['change', 'blur']"
              >
                  <!-- v-model="form.address" -->
                <a-select
                  v-model="form.storeAddress"
                  placeholder="请选择"
                  @change="addressChange"
                  allow-search
                >
                  <a-option
                    v-for="item in dataMap.storeAddressList"
                    :key="item.warehouseAddress"
                    :value="item.warehouseAddress"
                    :label="item.label"
                  ></a-option>
                </a-select>
              </a-form-item>
            </a-col>
            <a-col :span="8">
              <a-form-item
                field="recipientsName"
                label="联系人"
                :rules="[{ required: true, message: '请输入联系人' }]"
                :validate-trigger="['change', 'blur']"
              >
                <a-input v-model="form.recipientsName" />
              </a-form-item>
            </a-col>
            <a-col :span="8">
              <a-form-item
                field="recipientsPhone"
                label="电话"
                :rules="[{ required: true, message: '请输入电话' }]"
                :validate-trigger="['change', 'blur']"
              >
                <a-input v-model="form.recipientsPhone" />
              </a-form-item>
            </a-col>
            <a-col :span="8">
              <a-form-item field="isTransfer" label="是否运转">
                <a-radio-group
                  v-model="form.isTransfer"
                  :disabled="form.warehousingType == 2 ? false : true"
                  @change="isTransferChange"
                >
                  <a-radio :value="0">否</a-radio>
                  <a-radio :value="1">是</a-radio>
                </a-radio-group>
              </a-form-item>
            </a-col>
            <a-col :span="8">
              <a-form-item
                field="transferWarehouseAddress"
                label="中转仓地址"
                :rules="
                  form.isTransfer == 0
                    ? [{ required: false }]
                    : [{ required: true, message: `请输入中转仓地址` }]
                "
                :validate-trigger="['change', 'blur']"
              >
                <a-select
                  v-model="form.transferWarehouseAddressText"
                  placeholder="请选择"
                  :disabled="
                    form.isTransfer == 0 || form.warehousingType == 0
                      ? true
                      : false
                  "
                  @change="transferAddressChange"
                  allow-search
                >
                  <a-optgroup label="客户门点">
                    <a-option
                      v-for="item in dataMap.addressList"
                      :key="item.label"
                      :value="item.label"
                      :label="item.label"
                    ></a-option>
                  </a-optgroup>
                  <a-optgroup label="我司仓库">
                    <a-option
                      v-for="item in dataMap.wmsAddressList"
                      :key="item.warehouseAddress"
                      :value="item.warehouseAddress"
                      :label="item.label"
                    ></a-option>
                  </a-optgroup>
                  <!-- dataMap.wmsAddressList -->
                </a-select>
              </a-form-item>
            </a-col>
            <a-col :span="8">
              <a-form-item
                field="wmsServiceCoordinatorId"
                label="云仓客服"
                :rules="[{ required: true, message: `请选择云仓客服` }]"
                :validate-trigger="['change', 'blur']"
              >
                <a-select
                  v-model="form.wmsServiceCoordinatorId"
                  placeholder="请选择"
                  @change="wmsServiceCoordinatorChange"
                  allow-search
                >
                             <a-option
                      v-for="item in dataMap.wmsServiceCoordinatorList"
                      :key="item.label"
                      :value="item.value"
                      :label="item.label"
                    ></a-option>
             
                </a-select>
              </a-form-item>
            </a-col>
            

            <a-col :span="8">
              <a-form-item
                field="transferWarehouseContact"
                label="中转仓联系人"
                :rules="
                  form.isTransfer == 0
                    ? [{ required: false }]
                    : [{ required: true, message: `请输入中转仓联系人` }]
                "
                :validate-trigger="['change', 'blur']"
              >
                <a-select
                  v-if="form.transferWarehouseSource == 1"
                  v-model="form.transferWarehouseContact"
                  placeholder="请选择"
                  :disabled="
                    form.isTransfer == 0 || form.warehousingType == 0
                      ? true
                      : false
                  "
                  @change="transferContactListChange"
                  allow-search
                >
                  <a-option
                    v-for="item in dataMap.transferContactList"
                    :key="item.fullName"
                    :value="item.fullName"
                    :label="item.fullName"
                  ></a-option>
                </a-select>
                <a-input
                  v-else-if="form.transferWarehouseSource == 2"
                  v-model="form.transferWarehouseContact"
                ></a-input>
              </a-form-item>
            </a-col>
            <a-col :span="8">
              <a-form-item
                field="transferWarehousePhone"
                label="中转仓电话"
                :disabled="
                  form.isTransfer == 0 || form.warehousingType == 0
                    ? true
                    : false
                "
                :rules="
                  form.isTransfer == 0
                    ? [{ required: false }]
                    : [{ required: true, message: `请输入中转仓电话` }]
                "
                :validate-trigger="['change', 'blur']"
              >
                <a-input v-model="form.transferWarehousePhone" />
              </a-form-item>
            </a-col>
            <a-col :span="8">
              <a-form-item
                field="estimatedDispatchTime"
                label="计划运输时间"
                
                :rules="[{ required: true, message: '请选择计划运输时间' }]"
                :validate-trigger="['change', 'blur']"
              >
                <a-date-picker
                  show-time
                  style="width: 100%"
                  :time-picker-props="{ defaultValue: '08:00:00' }"
                  format="YYYY-MM-DD HH:mm:ss"
                  @change="timeChange"
                  v-model="form.estimatedDispatchTime"
                />
              </a-form-item>
            </a-col>
            <a-col :span="8">
              <a-form-item
                field="estimatedDeliveryTime"
                label="计划送达时间"
                :rules="[{ required: true, message: '请选择计划送达日期' }]"
                :validate-trigger="['change', 'blur']"
              >
                <a-date-picker
                  show-time
                  style="width: 100%"
                  :time-picker-props="{ defaultValue: '08:00:00' }"
                  format="YYYY-MM-DD HH:mm:ss"
                  v-model="form.estimatedDeliveryTime"
                />
              </a-form-item>
            </a-col>
            <a-col :span="24">
              <a-form-item
                field="deliveryContainer"
                label="箱号"
                :rules="
                  goodsType != '5001'
                    ? [{ required: false }]
                    : [{ required: true, message: `请选择箱号` }]
                "
                :validate-trigger="['change', 'blur']"
              >
                <a-select
                  v-model="form.deliveryContainer"
                  placeholder="请选择"
                  @change="deliveryContainerChange"
                  multiple
                  allow-search
                >
                  <a-optgroup
                    v-for="item in dataMap.deliveryContainerList"
                    :key="item.containerTypeAndSize"
                    :label="item.containerTypeAndSize"
                  >
                    <a-option
                      v-for="item in item.containerList"
                      :key="item.id"
                      :value="item.id"
                      :disabled="item.disabled"
                      :label="item.containerNo"
                    ></a-option>
                  </a-optgroup>
                </a-select>
              </a-form-item>
            </a-col>
            <a-col :span="24">
              <div class="join">
                <div class="vertical"></div>
                <span class="font">运输要求及供应商 </span>
              </div>
            </a-col>
            <a-col :span="8">
              <a-form-item
                field="truckingSupplierId"
                label="运输供应商"
                :rules="[{ required: true, message: '请输入运输供应商' }]"
                :validate-trigger="['change', 'blur']"
              >
                <a-select
                  v-model="form.truckingSupplierId"
                  placeholder="请选择"
                  @change="roadTransportChange"
                  allow-search
                >
                  <a-option
                    v-for="item in dataMap.roadTransportList"
                    :key="item.enterpriseId"
                    :value="item.enterpriseId"
                    :label="item.name"
                  ></a-option>
                </a-select>
              </a-form-item>
            </a-col>
            <a-col :span="8">
              <a-form-item field="fumigationType" label="熏蒸是否包干">
                <a-radio-group v-model="form.fumigationType">
                  <a-radio :value="1">包干</a-radio>
                  <a-radio :value="2">未包干</a-radio>
                </a-radio-group>
              </a-form-item>
            </a-col>
            <a-col :span="8">
              <a-form-item field="repairType" label="修箱是否包干">
                <a-radio-group v-model="form.repairType">
                  <a-radio :value="1">包干</a-radio>
                  <a-radio :value="2">未包干</a-radio>
                </a-radio-group>
              </a-form-item>
            </a-col>
            <a-col :span="8">
              <a-form-item
                field="receiptType"
                label="签收单"
                :rules="[{ required: true, message: '请输入签收单' }]"
                :validate-trigger="['change', 'blur']"
              >
                <a-select v-model="form.receiptType" placeholder="请选择">
                  <a-option
                    v-for="item in receiptType"
                    :key="item.value"
                    :value="item.value"
                    :label="item.label"
                  ></a-option>
                </a-select>
              </a-form-item>
            </a-col>
            <a-col :span="8" style="padding-top: 40px">
              <a-checkbox v-model="form.tally">理货</a-checkbox>
              <a-checkbox v-model="form.weigh">过磅</a-checkbox>
            </a-col>
            <a-col :span="8" style="padding-top: 40px" v-if="['冷藏食品','冷柜食品','水果'].includes(businessName)">
              <a-checkbox v-model="form.notCold">不打冷</a-checkbox>
              <a-input-number
                style="width: 100px"
                :disabled="!form.notCold"
                placeholder="减免金额"
                :step="0.01"
                :precision="2"
                v-model="form.deductionAmount"
              ></a-input-number>
            </a-col>
            <a-col :span="8" style="padding-top: 40px">
              <a-checkbox v-model="form.podInspection">目的检</a-checkbox>
              <a-checkbox v-model="form.sampleInspection">采样</a-checkbox>
              <a-checkbox v-model="form.disinfectionInspection"
                >消毒</a-checkbox
              >
            </a-col>
            <a-col
              :span="8"
              style="padding-top: 40px"
              v-if="form.warehousingType == 2"
            >
              <a-checkbox v-model="form.colorSeparation">分色</a-checkbox>
              <a-checkbox v-model="form.codeReading">抄码</a-checkbox>
            </a-col>
            <a-col :span="8">
              <a-form-item
                field="priceDifferenceOfTransportationCost"
                label="运费差价（单箱）"
              >
                <a-input-number
                  v-model="form.priceDifferenceOfTransportationCost"
                  :precision="2"
                  :step="0.01"
                  :min="0"
                />
              </a-form-item>
            </a-col>
            <a-col :span="8">
              <a-form-item field="otherTransportation" label="其他运输要求">
                <a-input v-model="form.otherTransportation" />
              </a-form-item>
            </a-col>
          </a-row>
        </a-form>
      </div>
      <template #footer>
        <a-button @click="handleCancel">取消</a-button>
        <a-button type="primary" @click="handleBeforeOk">保存</a-button
        ><a-button type="primary" v-if="dataMap.status == 0" @click="submit"
          >提交</a-button
        >
      </template>
    </a-modal></div
  >
</template>
<script lang="ts" setup>
import { merchants } from '@/api/merchants/index';
import { reactive, ref, h } from 'vue';
import { changeOrderApi } from '@/api/changeOrderApi/index';
import { runOrderApi } from '@/api/runOrderApi';
import { Modal, Message } from '@arco-design/web-vue';
import dayjs from 'dayjs';
const visible = ref(false);
const props = defineProps({
  orderLogisticsNo: String,
  storageBooking: String,
  businessName: {
    type: String,
    default: '',
  },
  portArea: {
    type: String,
    default: '',
  },
  clientRelationId: {
    type: String,
    default: '',
  },
  goodsType: {
    type: String,
    default: '',
  },
});
const form = reactive({
  id: '',
  portArea: '',
  orderLogisticsNo: '',
  estimatedDispatchTime: '', //计划运输时间
  estimatedDeliveryTime: '', //计划送达时间
  type: 1, //运输计划类型：0-入客户门店(不提供仓储/不入我司仓库) 1-入云仓(提供仓储/入我司库) 2-入监管仓
  recipientsName: '', //收件人姓名
  recipientsPhone: '', //收件人联系电话
  isTransfer: 0, //是否转运 0-否 1-是
  transferWarehouseSource: 1, //中转仓来源: 1-门店地址 2-WMS仓库
  transferWarehouseAddress: '', //
  transferWarehouseContact: '', //中转联系人
  transferWarehousePhone: '', //中转电话
  fumigationType: 2, //熏蒸类型: 0-未选择 1-包干 2-未包干
  repairType: 2, //修箱类型: 0-未选择 1-包干 2-未包干
  principal: '', //是否委外：0-委内 1-委外
  transport: 0, //是否为普车运输 0-不是 1-是
  otherTransportation: '', //其他运输要求
  tally: false, //是否为理货: 0-不是 1-是
  weigh: false, //是否为过磅: 0-不是 1-是
  notCold: false, //是否为不打冷: 0-不是 1-是
  deductionAmount: '',
  receiptType: false, //签收单类型: 0-未选择 1-电子签收单 2-纸质签收单
  podInspection: false, //目的检类型: 0-未选择 1-采样(带消毒) 2-仅消毒
  sampleInspection: false, //采样 0-否 1-是(前端不用传值)
  disinfectionInspection: false, //消毒 0-否 1-是 (前端不用传值)
  colorSeparation: false,
  codeReading: false,
  priceDifferenceOfTransportationCost: '', //运费差价(单箱)
  province: '', //省份
  city: '', //城市
  county: '', //区县
  township: '', //城镇
  address: '', //详细地址
  storeAddress:'',// 详细地址拼接
  addressType:0,// 0我司仓库 1外部仓库
  truckingSupplierId: '', //车队(id)
  truckingSupplierCnName: '', //物流供应商名称-中文
  truckingSupplierEnName: '', //物流供应商名称-英文
  deliveryContainerList: [],
  warehousingType: '', //入库类型: 0-倒柜 1-原柜回填 2-直接入库
  storageRequirements: '', //其他仓储要求
  deliveryContainer: [],
  wmsServiceCoordinatorId:'',//云仓客服id
  wmsServiceCoordinatorName:'',//云仓客服name
  transferWarehouseAddressText:'',
});
const formRef = ref([]);
const emits = defineEmits('getList');
const timeChange = (val) => {
  if (!form.estimatedDeliveryTime) {
    form.estimatedDeliveryTime = val;
  }
};
const receiptType = [
  {
    label: '电子签收单',
    value: 1,
  },
  {
    label: '纸质签收单',
    value: 2,
  },
];
const warehousingTypeList = [
  {
    value: 0,
    label: '倒柜',
  },
  {
    value: 2,
    label: '直接入库',
  },
];
const warehousingChange = (val) => {
  console.log(form.warehousingType, '入库类型3243');

  if (val == 0) {
    form.isTransfer = '';
    form.transferWarehouseAddress = '';
    form.transferWarehouseContact = '';
    form.transferWarehousePhone = '';
  }
};
const dataMap = reactive({
  storeAddressList: [],
  addressList: [],
  wmsAddressList: [],
  orderBase: {},
  status: 0,
  transferContactList: [],
  roadTransportList: [],
  deliveryContainerList: [],
  logisticsNo: '',
  storageBooking: '',

  wmsServiceCoordinatorList:[],
});
const handleClick = async (record: {}) => {
  if (record) {
    dataMap.status = record.status;
    form.type = record.type;
    form.id = record.id.toString();
    form.warehousingType = record.warehousingType;
    form.estimatedDispatchTime = record.estimatedDispatchTime;
    form.estimatedDeliveryTime = record.estimatedDeliveryTime;
    form.recipientsName = record.recipientsName;
    form.recipientsPhone = record.recipientsPhone;
    form.fumigationType = record.fumigationType;
    form.repairType = record.repairType;
    form.principal = record.principal;
    form.transport = record.transport;
    form.otherTransportation = record.otherTransportation;
    form.tally = record.tally;
    form.weigh = record.weigh;
    form.notCold = record.notCold;
    (form.deductionAmount = record.deductionAmount),
      (form.receiptType = record.receiptType);
    form.podInspection = record.podInspection ? true : false;
    form.sampleInspection = record.sampleInspection ? true : false;
    form.disinfectionInspection = record.disinfectionInspection ? true : false;
    form.priceDifferenceOfTransportationCost =
      record.priceDifferenceOfTransportationCost;
    form.storeAddress = record.deliveryAddressWithoutContact;
    form.province = record.province;
    form.city = record.city;
    form.county = record.county;
    form.township = record.township;
    form.address = record.address;
    form.isTransfer = record.isTransfer;
    form.transferWarehouseSource = record.transferWarehouseSource;
    form.transferWarehouseAddress = record.transferWarehouseAddress;
    form.transferWarehouseAddressText = `${record?.province||''}${record?.city||''}${record?.county||''}${record?.township||''}${record.warehouseAddress}`
    form.transferWarehouseContact = record.transferWarehouseContact;
    form.transferWarehousePhone = record.transferWarehousePhone;
    form.truckingSupplierId = record.truckingSupplierId;
    form.truckingSupplierCnName = record.truckingSupplierCnName;
    form.truckingSupplierEnName = record.truckingSupplierEnName;
    form.storageRequirements = record.storageRequirements;
    form.colorSeparation = record.colorSeparation;
    form.codeReading = record.codeReading;

    const { code, data } = await runOrderApi.deliveryUpdateContainerChooseFlag({
      deliveryId: record.id,
    });
    if (code == 200) {
      dataMap.deliveryContainerList = data;
    }
    form.deliveryContainer = record.containerList.map((item) =>
      item.id.toString()
    );
    deliveryContainerChange(form.deliveryContainer);
  } else {
    dataMap.status = 0;
    form.type = 0;
    form.id = '';
    form.estimatedDispatchTime = '';
    form.warehousingType = '';
    form.estimatedDeliveryTime = '';
    form.recipientsName = '';
    form.recipientsPhone = '';
    form.fumigationType = 2;
    form.repairType = 2;
    form.principal = '';
    form.otherTransportation = '';
    form.tally = false;
    form.weigh = false;
    form.notCold = false;
    form.deductionAmount = '';
    form.receiptType = false;
    form.podInspection = false;
    form.sampleInspection = false;
    form.disinfectionInspection = false;
    form.priceDifferenceOfTransportationCost = '';
    form.province = '';
    form.city = '';
    form.county = '';
    form.township = '';
    form.address = '';
    form.isTransfer = 0;
    form.transferWarehouseSource = 1;
    form.transferWarehouseAddress = '';
    form.transferWarehouseAddressText = '';
    form.transferWarehouseContact = '';
    form.transferWarehousePhone = '';
    form.truckingSupplierId = '';
    form.truckingSupplierCnName = '';
    form.truckingSupplierEnName = '';
    form.deliveryContainer = [];
    form.storeAddress = '';
    form.colorSeparation = false;
    form.codeReading = false;
    deliveryContainerChooseFlag();
  }
  visible.value = true;
  dataMap.logisticsNo = props.orderLogisticsNo;
  dataMap.storageBooking = props.storageBooking;
  form.portArea = props.portArea;
  getAddress();
  getWmsServiceCoordinatorList();
  getWmsAddress();
  getMosQueryRelation();
};
const submit = () => {
  formRef.value.validate(async (error: any, values: any) => {
    if (!error) {
      let params = {
        id: form.id,
        tally: form.tally ? 1 : 0,
        weigh: form.weigh ? 1 : 0,
        notCold: form.notCold ? 1 : 0,
        deductionAmount: form.deductionAmount,
        receiptType: form.receiptType ? 1 : 0,
        sampleInspection: form.sampleInspection ? 1 : 0,
        podInspection: form.podInspection ? 1 : 0,
        portArea: form.portArea,
        orderLogisticsNo: props.orderLogisticsNo,
        estimatedDispatchTime: form.estimatedDispatchTime,
        estimatedDeliveryTime: form.estimatedDeliveryTime,
        type: 1,
        recipientsName: form.recipientsName,
        recipientsPhone: form.recipientsPhone,
        isTransfer: form.isTransfer,
        transferWarehouseSource: form.transferWarehouseSource,
        transferWarehouseAddress: form.transferWarehouseAddress, //
        transferWarehouseContact: form.transferWarehouseContact,
        transferWarehousePhone: form.transferWarehousePhone, //中转电话
        fumigationType: form.fumigationType,
        repairType: form.repairType,
        principal: form.principal,
        transport: form.transport,
        otherTransportation: form.otherTransportation,
        disinfectionInspection: form.disinfectionInspection ? 1 : 0, //消毒 0-否 1-是 (前端不用传值)
        priceDifferenceOfTransportationCost:
          form.priceDifferenceOfTransportationCost,
        province: form.province, //省份
        city: form.city, //城市
        county: form.county, //区县
        township: form.township, //城镇
        address: form.address, //详细地址
        truckingSupplierId: form.truckingSupplierId, //车队(id)
        truckingSupplierCnName: form.truckingSupplierCnName,
        truckingSupplierEnName: form.truckingSupplierEnName, //物流供应商名称-英文
        deliveryContainerList: [],
        warehousingType: form.warehousingType, //入库类型: 0-倒柜 1-原柜回填 2-直接入库
        storageRequirements: form.storageRequirements, //其他仓储要求
        wmsServiceCoordinatorId: form.wmsServiceCoordinatorId,
        wmsServiceCoordinatorName: form.wmsServiceCoordinatorName,
        colorSeparation:form.colorSeparation,
        codeReading:form.codeReading,
      };
      form.deliveryContainerList.forEach((item) => {
        params.deliveryContainerList.push({
          containerNo: item.containerNo,
          containerSize: item.containerSize,
          containerType: item.containerType,
          deliveryId: item.deliveryId,
          orderLogisticsNo: props.orderLogisticsNo,
        });
      });
      const { code, data } = await runOrderApi.mosDeliverySendDelivery(params);
      if (code == 200) {
        emits('getList');
        Message.success('提交成功');
        visible.value = false;
      }
    } else {
    }
  });
};
const handleBeforeOk = async () => {
  let params = {
    id: form.id,
    tally: form.tally ? 1 : 0,
    weigh: form.weigh ? 1 : 0,
    notCold: form.notCold ? 1 : 0,
    deductionAmount: form.deductionAmount,
    receiptType: form.receiptType ? 1 : 0,
    sampleInspection: form.sampleInspection ? 1 : 0,
    podInspection: form.podInspection ? 1 : 0,
    portArea: form.portArea,
    orderLogisticsNo: props.orderLogisticsNo,
    estimatedDispatchTime: form.estimatedDispatchTime,
    estimatedDeliveryTime: form.estimatedDeliveryTime,
    type: 1,
    recipientsName: form.recipientsName,
    recipientsPhone: form.recipientsPhone,
    isTransfer: form.isTransfer,
    transferWarehouseSource: form.transferWarehouseSource,
    transferWarehouseAddress: form.transferWarehouseAddress, //
    transferWarehouseContact: form.transferWarehouseContact,
    transferWarehousePhone: form.transferWarehousePhone, //中转电话
    fumigationType: form.fumigationType,
    repairType: form.repairType,
    principal: form.principal,
    transport: form.transport,
    otherTransportation: form.otherTransportation,
    disinfectionInspection: form.disinfectionInspection ? 1 : 0, //消毒 0-否 1-是 (前端不用传值)
    priceDifferenceOfTransportationCost:
      form.priceDifferenceOfTransportationCost,
    province: form.province, //省份
    city: form.city, //城市
    county: form.county, //区县
    township: form.township, //城镇
    address: form.address, //详细地址
    truckingSupplierId: form.truckingSupplierId, //车队(id)
    truckingSupplierCnName: form.truckingSupplierCnName,
    truckingSupplierEnName: form.truckingSupplierEnName, //物流供应商名称-英文
    deliveryContainerList: [],
    warehousingType: form.warehousingType, //入库类型: 0-倒柜 1-原柜回填 2-直接入库
    storageRequirements: form.storageRequirements, //其他仓储要求
    wmsServiceCoordinatorId: form.wmsServiceCoordinatorId,
    wmsServiceCoordinatorName: form.wmsServiceCoordinatorName,
    colorSeparation:form.colorSeparation,
    codeReading:form.codeReading,
  };
  form.deliveryContainerList.forEach((item) => {
    params.deliveryContainerList.push({
      containerNo: item.containerNo,
      containerSize: item.containerSize,
      containerType: item.containerType,
      deliveryId: item.deliveryId,
      orderLogisticsNo: props.orderLogisticsNo,
    });
  });
  const { code, data } = await runOrderApi.mosDeliveryAddUpdate(params);
  if (code == 200) {
    visible.value = false;
    emits('getList');
    Message.success('保存成功');
  }
};
const handleCancel = () => {
  Modal.warning({
    title: '提示',
    hideCancel: false,
    alignCenter: true,
    content: () =>
      h('div', { class: 'info-modal-content' }, [
        h(
          'span',
          { style: 'margin-left: 60px;' },
          '确定要关闭吗,关闭之后信息将不被保存'
        ),
      ]),
    cancelText: '取消',
    async onOk() {
      form.type = 1;
      form.id = '';
      form.estimatedDispatchTime = '';
      form.estimatedDeliveryTime = '';
      form.recipientsName = '';
      form.recipientsPhone = '';
      form.fumigationType = 2;
      form.repairType = 2;
      form.principal = '';
      form.otherTransportation = '';
      form.tally = false;
      form.weigh = false;
      form.notCold = false;
      form.deductionAmount = '';
      form.receiptType = false;
      form.podInspection = false;
      form.sampleInspection = false;
      form.disinfectionInspection = false;
      form.priceDifferenceOfTransportationCost = '';
      form.storeAddress = '';
      form.province = '';
      form.city = '';
      form.county = '';
      form.township = '';
      form.address = '';
      form.truckingSupplierId = '';
      form.truckingSupplierCnName = '';
      form.truckingSupplierEnName = '';
      form.deliveryContainer = [];
      visible.value = false;
    },
  });
};
// 云仓客服数据

const getWmsServiceCoordinatorList = async () => {
  const { code, data } = await runOrderApi.getRole({
    roleType:10
  });
  dataMap.wmsServiceCoordinatorList = data.map(el=>{
    return {
      label:el.userName,
      value:el.userId
    }
  })
};
const wmsServiceCoordinatorChange = (id)=>{
  form.wmsServiceCoordinatorName = dataMap.wmsServiceCoordinatorList.find(el=>el.value===id).label
}

//收货地址数据
const getAddress = async () => {
  const { code, data } = await runOrderApi.transferWarehouseAddressWms({
    storageBooking: props.storageBooking,
    orderLogisticsNo: props.orderLogisticsNo,
  });
  dataMap.storeAddressList = data.map(item=>{
      let label = item.provinceName + item.cityName + item.countyName + item.townshipName + (item?.warehouseAddress||"")
      if(label==0) label = item.warehouseAddress
      item.label = label
    return item
  });
  let params = {
    relationId: props.clientRelationId,
  };
  merchants.mosDoorList(params).then((res) => {
    if (res.code == 200) {
      dataMap.addressList = res.data.map((item) => {
        return {
          label:
            item.province +
            item.city +
            item.county +
            item.township +
            item.address,
          value: item.id.toString(),
          ...item,
        };
      });
    }
  });
};
//收货地址的选择
const addressChange = (val) => {
  form.recipientsName = '';
  form.recipientsPhone = '';
  form.address = val;
  dataMap.storeAddressList.forEach((item) => {
    if (item.warehouseAddress == val) {
      form.recipientsName = item.contactName;
      form.recipientsPhone = item.contactTel;
      form.storeAddress = `${item?.provinceName||''}${item?.cityName||''}${item?.countyName||''}${item?.townshipName||''}${val}`
      form.province = item.provinceName
      form.city = item.cityName
      form.county = item.countyName
      form.township = item.townshipName
    }
  });
};
//获取wms仓库地址
const getWmsAddress = async () => {
  const { code, data } = await runOrderApi.transferWarehouseAddressWms();
  if (code == 200) {
    dataMap.wmsAddressList = data.map(item=>{
      item.label = `${item?.provinceName||''}${item?.cityName||''}${item?.countyName||''}${item?.townshipName||''}${item.warehouseAddress}`
      return item
    });
  }
};
const transferAddressChange = (val) => {
  dataMap.transferContactList = [];
  form.transferWarehouseContact = '';
  form.transferWarehousePhone = '';
  dataMap.addressList.forEach((item) => {
    if (item.label == val) {
      form.transferWarehouseSource = 1;
      dataMap.transferContactList = item.contactList;
      form.province = item.province
      form.city = item.city
      form.county = item.county
      form.township = item.township
      form.transferWarehouseAddress = item.address||""
      form.transferWarehouseAddressText = `${item?.province||''}${item?.city||''}${item?.county||''}${item?.township||''}${val}`
      dataMap.transferContactList.forEach((item) => {
        if (item.defaultFlag) {
          form.transferWarehouseContact = item.fullName;
          form.transferWarehousePhone = item.mobilePhone;
        }
      });
    }
  });
  if (dataMap.transferContactList.length == 0) {
    dataMap.wmsAddressList.forEach((item) => {
      if (item.warehouseAddress == val) {
        form.transferWarehouseSource = 2;
        form.transferWarehouseContact = item.contactName;
        form.transferWarehousePhone = item.contactTel;
        form.city = item.cityName||""
        form.county = item.countyName||""
        form.township = item.townshipName||""
        form.province = item.provinceName||""
        form.transferWarehouseAddress = item.warehouseAddress||""
        form.transferWarehouseAddressText = `${item?.provinceName||''}${item?.cityName||''}${item?.countyName||''}${item?.townshipName||''}${val}`
    }
    });
  }
};
const isTransferChange = (val) => {
  form.transferWarehouseAddress = '';
  dataMap.transferContactList = [];
  form.transferWarehouseContact = '';
  form.transferWarehousePhone = '';
};
//供应商
const getMosQueryRelation = () => {
  let params = {
    relationType: 9,
    relationLabel: 'RoadTransport',
  };
  runOrderApi.queryRelationByLabelCodeAndValid(params).then((res) => {
    if (res.code == 200) {
      dataMap.roadTransportList = res.data;
    }
  });
};
const roadTransportChange = (val) => {
  dataMap.roadTransportList.forEach((item) => {
    if (item.enterpriseId == val) {
      form.truckingSupplierCnName = item.name;
      form.truckingSupplierEnName = item.nameEn;
    }
  });
};
const transferContactListChange = (val) => {
  form.transferWarehousePhone = '';
  dataMap.transferContactList.forEach((item) => {
    if (val == item.fullName) {
      form.transferWarehousePhone = item.mobilePhone;
    }
  });
};
//箱号
const deliveryContainerChooseFlag = async () => {
  const { code, data } = await runOrderApi.deliveryContainerChooseFlag({
    logisticsNo: props.orderLogisticsNo,
  });
  if (code == 200) {
    dataMap.deliveryContainerList = data;
  }
};
const deliveryContainerChange = (val) => {
  console.log(val, 'val');
  form.deliveryContainerList = [];
  dataMap.deliveryContainerList.forEach((item) => {
    item.containerList.forEach((row) => {
      row.disabled = false;
      const items = val.find((v) => v == row.id);
      if (items) {
        form.deliveryContainerList.push({
          orderLogisticsNo: props.orderLogisticsNo,
          containerQuantity: item.containerTypeAndSize,
          deliveryId: row.deliveryId,
          containerNo: row.containerNo,
          containerSize: row.containerSize,
          containerType: row.containerType,
        });
      }
    });
  });

  dataMap.deliveryContainerList.forEach((item) => {
    if (
      item.containerTypeAndSize !=
      form.deliveryContainerList[0].containerQuantity
    ) {
      item.containerList.forEach((row) => {
        row.disabled = true;
      });
    }
  });

  console.log(form.deliveryContainerList, ' form.deliveryContainerList');

};

defineExpose({ handleClick });
</script>
<style lang="less" scoped>
.content {
  max-height: 400px;
  overflow-y: auto;
  padding-right: 20px;
}
.join {
  display: flex;
  align-items: center;
  padding-bottom: 20px;
}
</style>