<template>
  <div>
    <a-modal v-model:visible="visible" :mask-closable="false"
      ><template #title> 维护倒柜司机 </template>
      <a-form ref="formRef" :model="form" layout="vertical">
        <a-row class="grid-demo" :gutter="[24, 12]">
          <a-col :span="24">
            <a-form-item
              field="trucker"
              label="司机姓名"
              :rules="[{ required: true, message: '请输入司机姓名' }]"
              :validate-trigger="['change', 'blur']"
            >
              <a-input
                v-model="form.trucker"
                placeholder="请输入司机姓名"
              /> </a-form-item
          ></a-col>
          <a-col :span="24">
            <a-form-item
              field="mobilePhoneNo"
              label="司机电话"
              :rules="[{ required: true, message: '请输入司机电话' }]"
              :validate-trigger="['change', 'blur']"
            >
              <a-input
                v-model="form.mobilePhoneNo"
                placeholder="请输入司机电话"
              /> </a-form-item
          ></a-col>
          <a-col :span="24">
            <a-form-item
              field="licensePlate"
              label="车牌号"
              :rules="[{ required: true, message: '请输入车牌号' }]"
              :validate-trigger="['change', 'blur']"
            >
              <a-input
                v-model="form.licensePlate"
                placeholder="请输入车牌号"
              /> </a-form-item></a-col></a-row
      ></a-form>
      <template #footer>
        <a-button type="primary" @click="handleBeforeOk">确定</a-button
        ><a-button @click="handleCancel">取消</a-button>
      </template>
    </a-modal>
  </div>
</template>
<script lang="ts" setup>
import { reactive, ref, h } from 'vue';
import { Modal, Message } from '@arco-design/web-vue';
import { runOrderApi } from '@/api/runOrderApi';
const formRef = ref([]);
const visible = ref(false);
const emits = defineEmits('getList');
const form = reactive({
  orderLogisticsNo: '',
  deliveryId: '', //送货信息表id
  trucker: '', //倒柜司机姓名
  licensePlate: '', //倒柜司机车牌号
  mobilePhoneNo: '',
});
const handleClick = (record: {}) => {
  console.log(record, 'record');
  form.orderLogisticsNo = record.orderLogisticsNo;
  form.deliveryId = record.deliveryId;
  visible.value = true;
};
const handleBeforeOk = () => {
  formRef.value.validate(async (error: any, values: any) => {
    if (!error) {
      let params = [{ ...form }];
      const res = await runOrderApi.deliverySaveDriver(params);
      if (res.code == 200) {
        emits('getList');
        Message.success('添加成功');
        form.trucker = '';
        form.licensePlate = '';
        form.mobilePhoneNo = '';
        visible.value = false;
      }
    } else {
    }
  });
};
const handleCancel = () => {
  Modal.warning({
    title: '提示',
    hideCancel: false,
    alignCenter: true,
    content: () =>
      h('div', { class: 'info-modal-content' }, [
        h(
          'span',
          { style: 'margin-left: 60px;' },
          '确定要关闭吗,关闭之后信息将不被保存'
        ),
      ]),
    cancelText: '取消',
    async onOk() {
      visible.value = false;
      form.trucker = '';
      form.licensePlate = '';
      form.mobilePhoneNo = '';
    },
  });
};
defineExpose({ handleClick });
</script>
<style lang="less" scoped>
</style>