<template>
  <a-modal v-model:visible="dataMap.visible" width="90%" :top="100" @cancel="handleCancel" ok-text=""
    :on-before-ok="handleBeforeOk" :mask-closable="true" :closable="false" :hideCancel="true">
    <template #footer>
      <div></div>
    </template>
    <template #title>
      <div class="title-row">
        <!-- <a-button type="primary" @click="see"> see </a-button> -->
        <a-button type="primary" @click="handleDownload"> 下载PDF </a-button>
        <a-button style="margin-left:10px" v-print="'#print'" type="primary"> 打印PDF </a-button>
      </div>
    </template>
    <div class="pdf" id="print">
      <div class="title title1">{{ dataMap.info.createEnterpriseName || dataMap.info.htmlTitle }}</div>
      <div class="title title2">运输签收单</div>
      <table border="2" class="tab1" cellpadding="0" cellspacing="0">
        <tr class="line1">
          <td width="10%" class="label tl">提单号</td>
          <td class="td20" @mouseenter="enterInput()" @mouseleave="leaveInput()">
            <input v-if="dataMap.isShow" v-model="dataMap.info.mblNo" auto-size />
            <div v-else class="textareas">{{ dataMap.info.mblNo }}</div>
          </td>
          <td width="10%" class="label tl">收货单位</td>
          <td class="td20" @mouseenter="enterInput()" @mouseleave="leaveInput()">
            <input v-if="dataMap.isShow" v-model="dataMap.info.consignEnterpriseName" auto-size />
            <div v-else class="textareas">{{ dataMap.info.consignEnterpriseName }}</div>
          </td>
          <td width="10%" class="label tl">联系人</td>
          <td @mouseleave="leaveInput()">
            <input v-model="dataMap.info.recipientsName" />
          </td>
        </tr>
        <tr class="line2">
          <td class="label tl">收货地址</td>
          <td class="td50" colspan="3" @mouseenter="enterInput()" @mouseleave="leaveInput()">
            <textarea v-if="dataMap.isShow" v-model="dataMap.info.deliveryAddress" :rows="2" style="height:50px;">
            </textarea>
            <div v-else class="textareas" style="height:50px;">{{ dataMap.info.deliveryAddress }}</div>
          </td>
          <td class="label tl">电话</td>
          <td class="td20" @mouseleave="leaveInput()">
            <input v-model="dataMap.info.recipientsPhone" />
          </td>
        </tr>
        <tr class="line3">
          <td width="10%" rowspan="2" class="label tl">备注</td>
          <td colspan="6" rowspan="2" @mouseenter="enterInput()" @mouseleave="leaveInput()">
            <textarea v-if="dataMap.isShow" v-model="dataMap.info.otherTransportation" style="height:70px;"
              maxlength="200"></textarea>
            <div v-else style="height:70px;" class="textareas">{{ dataMap.info.otherTransportation }}</div>
          </td>
        </tr>
      </table>
      <div class="title title3">箱货信息</div>
      <table border="2" cellpadding="0" cellspacing="0" class="tab2">
        <tr class="line1 label tl">
          <td v-if="dataMap.info.showContainerSize" class="w10">箱型</td>
          <td v-if="dataMap.info.showContainerNo" class="w10">箱号</td>
          <td v-if="dataMap.info.showProductName" class="w15">品名</td>
          <td v-if="dataMap.info.ShowSpecifications" class="w20">规格、型号</td>
          <td v-if="dataMap.info.showQuantity" class="w15">件数</td>
          <td v-if="dataMap.info.showGrossWeight" class="w15">重量(吨)</td>
          <td v-if="dataMap.info.showTemperature" class="w10">温度</td>
        </tr>
        <tr class="line2">
          <td v-if="dataMap.info.containerSize + dataMap.info.containerType">{{
              dataMap.info.containerSize + dataMap.info.containerType || '/'
          }}</td>
          <td v-if="dataMap.info.containerNo">{{ dataMap.info.containerNo || '/' }}</td>
          <td @mouseleave="leaveInput()" v-if="dataMap.info.productName">
            <textarea v-if="dataMap.isShow" v-model="dataMap.info.productName" :rows="2" style="height:50px;">
            </textarea>
            <div v-else class="textareas" style="height:50px;">{{ dataMap.info.productName }}</div>
          </td>
          <td @mouseleave="leaveInput()" v-if="dataMap.info?.specifications" class="w20">
            <textarea v-if="dataMap.isShow" v-model="dataMap.info.specifications" :rows="2" style="height:50px;"></textarea>
            <div v-else class="textareas" style="height:50px;">{{ dataMap.info.specifications }}</div>
          </td>
          <td @mouseleave="leaveInput()" v-if="dataMap.info?.quantity">
            <input-number v-model="dataMap.info.quantity"></input-number>
          </td>
          <td @mouseleave="leaveInput()" v-if="dataMap.info?.grossWeight">
            <input-number v-model="dataMap.info.grossWeight"></input-number>
          </td>
          <td @mouseleave="leaveInput()" v-if="dataMap.info?.temperature">
            <input-number v-model="dataMap.info.temperature"></input-number>
          </td>
        </tr>
      </table>

      <div class="title title3">运输信息</div>
      <table border="2" cellpadding="0" cellspacing="0" class="tab3">
        <tr class="line1 label tl">
          <td>司机</td>
          <td>车牌</td>
          <td>联系电话</td>
        </tr>
        <tr>
          <td>{{ dataMap.info.trucker || '/' }}</td>
          <td>{{ dataMap.info.licensePlate || '/' }}</td>
          <td>{{ dataMap.info.mobilePhoneNo || '/' }}</td>
        </tr>
      </table>

      <div class="title title3">收货签收栏</div>
      <table border="1" cellpadding="0" cellspacing="0" class="tab4">
        <!-- <div class="line1">兹收到以上货物，实际货物与以上述“集装箱及货物信息”所载内容不相符，请在本回执中说明情况：</div> -->
        <tr class="line1">
          <td colspan="3">
            兹收到以上货物，实际货物与以上述“集装箱及货物信息”所载内容不相符，请在本回执中说明情况：
          </td>
        </tr>
        <tr class="line2">
          <td width="30%">收货单位签字（盖章）</td>
          <td>
            <div class="qianzi">
              <div>签收人：</div>
              <div class="gaizhang">单位盖章：</div>
            </div>
            <div class="riqi">签收日期：</div>
          </td>
        </tr>
        <tr class="line3">
          <td colspan="3">
            无法盖章的情况下，请务必签署实际收货人的有效证件号
          </td>
        </tr>
      </table>
    </div>
  </a-modal>
</template>

<script lang="ts" setup>
/* 

   
*/
import { Message } from '@arco-design/web-vue';
import { reactive, ref } from 'vue';
import { runOrderApi } from '../../../../api';
import axios from '@/api/interceptor';
import downPdf from './htmlToPdf.js'
const formRef = ref<any>(null)
const emit = defineEmits(["handleBeforeOk"])
const dataMap = reactive({
  htmlTitle: 'PDF文件',
  item: {},
  info: {
    consignEnterpriseName: ""
  } as any,
  isShow: false,
  // isShow: false,
  xxxl: '', //箱型箱量
  xh: '', //箱号
  visible: false,
  // tableData: {} as any
})
const handleClick = (params?: any) => {
  dataMap.visible = true
  dataMap.info = { ...params.tableData, ...params.record }
  dataMap.info.orderLogisticsNo = params.orderLogisticsNo
  dataMap.info.productName = dataMap.info?.productName || ''
  if (dataMap.info.deliveryAddress == 'null') dataMap.info.deliveryAddress = ''

  mosDeliveryTransportSign()

}
const leaveInput = () => {
  dataMap.isShow = false
}
const enterInput = () => {
  dataMap.isShow = true
  save()
}
const handleSelect1 = (item) => {
  dataMap.info.productName = item
  save()
}
const handleSelect2 = (item) => {
  dataMap.info.specifications = item
  save()
}
const mosDeliveryTransportSign = async () => {
  const { data, code } = await runOrderApi.mosDeliveryTransportSign({ deliveryDetailId: dataMap.info.id })
  if (code != '200') return
  dataMap.info = { ...dataMap.info, ...data }
  if (dataMap.info.deliveryAddress == 'null') dataMap.info.deliveryAddress = ''
  let str = '码头提柜时确认箱内温度、冷机设置温度、提单显示温度一致'
  if (dataMap.info.showTemperature && dataMap.info.otherTransportation.indexOf(str) > 0) {
    dataMap.info.otherTransportation = '码头提柜时确认箱内温度、冷机设置温度、提单显示温度一致;' + dataMap.info.otherTransportation
  }
  dataMap.htmlTitle = dataMap.info.createEnterpriseName

}
const see = () => {
  console.log('see', dataMap.info);
}
const save = async () => {
  let params = dataMap.info
  params.deliveryDetailId = dataMap.info.id
  const { code, data } = await runOrderApi.mosDeliverySaveTransportSign(params);
}
const handleDownload = () => {
  downPdf(document.querySelector("#print"), dataMap.info.createEnterpriseName || dataMap.info.htmlTitle)
}
const handleCancel = () => { }
defineExpose({ handleClick })
</script>

<style scoped lang="less">
table {
  // border: 1px;
  margin: 0;
  border-color: #eee;
  width: 100%;
}

td {
  // align-items: center;
  margin: 0;
  padding: 5px;
  padding-left: 5px;
  padding-top: 5px;
}

.title-row {
  display: flex;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
}

.pdf {
  width: 100%;
  height: 780px;
  padding: 0 20px;
  box-sizing: border-box;
  font-family: PingFang SC;

  .top {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;

    .top-right {
      padding-right: 30px;
    }
  }

  .title {
    text-align: center;
    color: #333333;
  }

  .title1 {
    font-size: 24px;
    // margin: 20px 0 10px;
  }

  .title2 {
    font-size: 12px;
    margin-bottom: 10px;
  }

  .title3 {
    font-size: 16px;
    margin: 20px 0 10px;
  }

  .textareas {
    text-align: left;
    font-size: 14px;
    line-height: 1.5;
    width: 100%;
    white-space: wrap;
    word-break: break-all;

  }

  .tab1 {
    width: 100%;

    .td25 {
      width: 25%;
    }

    .td50 {
      width: 50%;
    }

    .td20 {
      width: 20%;
      height: 50px;
    }

    .line2 {
      height: 10px;

      .td50 {
        width: 50%;
      }

      .td20 {
        width: 20%;
      }
    }
  }

  .tab4 {
    height: 100px;

    .line1 {
      width: 100%;
      height: 90px;
      line-height: 20px;

      td {
        text-align: left;
        vertical-align: top;
        padding: 10px;
        align-items: center;
      }

    }

    .qianzi {
      display: flex;
      align-items: center;
      // justify-content: space-around;
      text-align: left;
      padding-right: 100px;
      padding: 10px 80px 10px 50px;

      .gaizhang {
        margin-left: 150px;
      }
    }

    .line3 {
      font-size: 12px;
      color: #808080;
    }

    .riqi {
      margin-left: 50px;
      margin-bottom: 10px;
      text-align: left;
      // margin-right: 100px;
    }
  }

  .line1 {}

  .tl {
    text-align: left;
    padding-left: 10px;
  }

}

.print {
  float: right;
  margin-right: 20px;
}

.label {
  background: #f2f2f2;
  color: #2d2d2d;
  width: 12%;
  text-align: center;
}

.w10 {
  width: 10%;
}

.w15 {
  width: 15%;
}

.w20 {
  width: 20%;
}

.line3 {
  height: 80px;
}

textarea,
input {
  resize: none;
  padding: 0;
  margin: 0;
  width: 100%;
  outline: none;
  display: block;
  background-color: #FFF;
  box-shadow: none;
  margin: 0;
  border: 0;
  overflow: hidden;
  font-size: 14px;
  line-height: 1.5;
  height: auto;
  min-height: 0;
  white-space: wrap;
  word-break: break-all;
}
</style>