<template>
  <a-modal
    v-model:visible="visible"
    :mask-closable="false"
    :width="1000"
    :footer="false"
  >
    <template #title> 查看运输计划 </template>
    <div
      class="trans-btn"
      v-show="
        (goodsType == 5001 || goodsType == 5002 || goodsType == 5003) &&
        logisticsStatus > 12 &&
        logisticsStatus < 21
      "
    >
      <a-button type="primary" @click="goShop">入客户门点</a-button>
      <a-button type="primary" @click="goWare">入我司仓库</a-button>
      <a-button type="primary" @click="goSupervise">入监管仓</a-button>
    </div>
    <!-- <div class="trans-btn">
      <a-button type="primary" @click="goShop">入客户门点</a-button>
      <a-button type="primary" @click="goWare">入我司仓库</a-button>
      <a-button type="primary" @click="goSupervise">入监管仓</a-button>
    </div> -->
    <a-table
      :columns="columns"
      :data="tableData"
      :scroll="scroll"
      :load-more="loadMore"
      :pagination="false"
      :expandable="expandable"
      column-resizable
    >
      <template #operate="{ record: recordParent }">
        <a-dropdown trigger="click" position="bl">
          <a-button size="mini" class="operateBtn">
            <template #icon>
              <icon-more-vertical />
            </template>
          </a-button>
          <template #content>
            <a-doption
              @click="goEdit(recordParent)"
              v-show="recordParent.status == 0 || recordParent.status == 1"
            >
              编辑
            </a-doption>
            <a-doption
              @click="deletePlan(recordParent)"
              v-show="recordParent.status == 0 || recordParent.status == 1"
            >
              删除
            </a-doption>
            <a-doption
              @click="submit(recordParent.id)"
              v-show="recordParent.status == 0"
            >
              提交
            </a-doption>
          </template>
        </a-dropdown>
      </template>
      <template #expand-row="{ record: recordParent }">
        <a-table
          :columns="recordParent.column"
          class="inTable"
          :data="recordParent.containerList"
          :pagination="false"
          column-resizable
        >
          <template #containerSize="{ record }">
            {{ record.containerSize + record.containerType }}
          </template>
          <!-- status -->
          <template #status="{ record }">
            <span>{{ statusMap[record.status] }}</span>
          </template>
          <!-- 司机姓名 -->
          <template #trucker="{ record }">
            <a-input
              v-model="record.trucker"
              v-if="isDisabled(recordParent,record)"
              @blur="handleChange(record, 'trucker')"
            />
            <span v-else>{{ record.trucker }}</span>
          </template>
          <!-- 司机手机号 -->
          <template #mobilePhoneNo="{ record }">
            <a-input
              v-model="record.mobilePhoneNo"
              v-if="isDisabled(recordParent,record)"
              @blur="handleChange(record, 'mobilePhoneNo')"
            />
            <span v-else>{{ record.mobilePhoneNo }}</span>
          </template>
          <!-- 车牌号 -->
          <template #licensePlate="{ record, column }">
            <a-input
              v-model="record.licensePlate"
              v-if="isDisabled(recordParent,record)"
              @blur="handleChange(record, 'licensePlate')"
            />
            <span v-else>{{ record.licensePlate }}</span>
          </template>
          <!-- 提箱时间 -->
          <template #gateOutDate="{ record }">
            <a-date-picker
              v-model="record.gateOutDate"
              v-if="isDisabled(recordParent,record)"
              show-time
              format="YYYY-MM-DD hh:mm:ss"
              @change="handleChange(record, 'gateOutDate')"
            />
            <span v-else>{{ record.gateOutDate }}</span>
          </template>
          <!-- 送达时间 -->
          <template #actualDeliveryTime="{ record }">
            <a-date-picker
              v-model="record.actualDeliveryTime"
              v-if="isDisabled(recordParent,record)"
              show-time
              format="YYYY-MM-DD hh:mm:ss"
              @change="handleChange(record, 'actualDeliveryTime')"
            />
            <span v-else>{{ record.actualDeliveryTime }}</span>
          </template>
          <!-- 还箱时间 -->
          <template #containerReturnTime="{ record }">
            <a-date-picker
              v-model="record.containerReturnTime"
              v-if="isDisabled(recordParent,record)"
              show-time
              format="YYYY-MM-DD hh:mm:ss"
              @change="handleChange(record, 'containerReturnTime')"
            />
            <span v-else>{{ record.containerReturnTime }}</span>
          </template>
          <!-- 还箱点 -->
          <template #containerReturnAddress="{ record, column }">
            <a-input
              v-model="record.containerReturnAddress"
              v-if="isDisabled(recordParent,record)"
              @blur="handleChange(record, 'containerReturnAddress')"
            />
            <span v-else>{{ record.containerReturnAddress }}</span>
          </template>
          <!-- 可提货日期 -->
          <template #pickUpDate="{ record }">
            <a-date-picker
             format="YYYY-MM-DD HH:mm:ss"
              v-model="record.pickUpDate"
              v-if="logisticsStatus !== 22 && record.status !== 0"
              @change="supervisedWarehouseSetTime(record, 'pickUpDate')"
            />
            <span v-else>{{ record.pickUpDate }}</span>
          </template>
          <!-- 出库日期 -->
          <template #leavingWarehouseDate="{ record }">
            <a-date-picker
             format="YYYY-MM-DD HH:mm:ss"
              v-model="record.leavingWarehouseDate"
              v-if="logisticsStatus !== 22 && record.status !== 0"
              @change="supervisedWarehouseSetTime(record, 'leavingWarehouseDate')"
            />
            <span v-else>{{ record.leavingWarehouseDate }}</span>
          </template>
          <!-- 运费差价 -->
          <template #priceDifferenceOfTransportationCost="{ record }">
            <a-input-number
              :min="0.01"
              :step="0.01"
              v-model="record.priceDifferenceOfTransportationCost"
              v-if="
                logisticsStatus !== 22 &&
                record.status !== 0 &&
                record.status !== 0
              "
              @blur="handleChange(record,'priceDifferenceOfTransportationCost')
              "
            />
            <span v-else>{{
              record.priceDifferenceOfTransportationCost
            }}</span>
          </template>
          <template #operate="{ record, rowIndex }">
            <a-dropdown trigger="click" position="bl">
              <a-button size="mini" class="operateBtn">
                <template #icon>
                  <icon-more-vertical />
                </template>
              </a-button>
              <template #content>
                <a-doption
                  @click="withdraw(recordParent, record)"
                  v-show="record.status == 1 || record.kuaimaFeedback !== null"
                >
                  撤回
                </a-doption>
                <a-doption
                  @click="goDriver(record)"
                  v-show="
                    recordParent.type == 1 &&
                    recordParent.warehousingType == 0 &&
                    record.status >= 1 &&
                    record.status < 5
                  "
                >
                  维护倒柜司机
                </a-doption>
                <!-- 查看运输计划-运输计划状态为暂存时，集装箱处不要显示运输签收单 -->
                <a-doption
                  v-show="recordParent.status!=0"
                @click="openTransportationReceipt(record, rowIndex)">
                  运输签收单
                </a-doption>
              </template>
            </a-dropdown>
          </template>
        </a-table>
      </template>
      <template #type="{ record }">
        {{ typeList[record.type] }}
      </template>
      <template #status="{ record }">
        {{ statusList[record.status] }}
      </template>
      <template #containers="{ record }">
        {{ record.containers.join(',') }}
      </template>
      <!-- 实际送达时间 -->
      <template #actualDeliveryTime="{ record }">
        <a-date-picker
          v-model="record.actualDeliveryTime"
          v-if="pushKm == 0 || goodsType != 5001"
          show-time
          format="YYYY-MM-DD hh:mm:ss"
          @change="handleChange(record, 'actualDeliveryTime')"
        />
        <span v-else>{{ record.actualDeliveryTime }}</span>
      </template>
    </a-table>
    <enterShop
      ref="shopRef"
      :orderLogisticsNo="orderLogisticsNo"
      :goodsType="goodsType"
      :clientRelationId="relationId"
      :portArea="portArea"
      :businessName="businessName"
      @getList="getList"
    ></enterShop>
    <transportationReceipt
      ref="transportationReceiptRef"
    ></transportationReceipt>
    <enterWarehouse
      ref="warehouseRef"
      :orderLogisticsNo="orderLogisticsNo"
      :storageBooking="storageBooking"
      :portArea="portArea"
      :businessName="businessName"
      :clientRelationId="relationId"
      :goodsType="goodsType"
      @getList="getList"
    ></enterWarehouse>
    <enterSupervise
      ref="superviseRef"
      :businessName="businessName"
      :orderLogisticsNo="orderLogisticsNo"
      :clientRelationId="relationId"
      :goodsType="goodsType"
      :portArea="portArea"
      @getList="getList"
    ></enterSupervise>
    <maintainDriver ref="driverRef" @getList="getList"></maintainDriver>
  </a-modal>
</template>
<script lang="ts">
import {
  defineComponent,
  ref,
  watch,
  reactive,
  h,
  toRefs,
  computed,
  onMounted,
  nextTick,
} from 'vue';
import { runOrderApi } from '@/api/runOrderApi/index';
import enterShop from './enterShop.vue';
import enterWarehouse from './enterWarehouse.vue';
import enterSupervise from './enterSupervise.vue';
import transportationReceipt from './transportationReceipt.vue';
import maintainDriver from './maintainDriver.vue';
import { Modal, Message } from '@arco-design/web-vue';
export default defineComponent({
  name: 'businessComplate',
  components: {
    enterShop,
    enterWarehouse,
    transportationReceipt,
    enterSupervise,
    maintainDriver,
  },
  props: {
    orderLogisticsNo: {
      type: String,
      default: '',
    },
    storageBooking: {
      type: String,
      default: '',
    },
    portArea: {
      type: String,
      default: '',
    },
    relationId: {
      type: String,
      default: '',
    },
    businessName: {
      type: String,
      default: '',
    },
  },
  setup(props) {
    const visible = ref(false);
    const shopRef = ref([]);
    const driverRef = ref([]);
    const transportationReceiptRef = ref<any>([]);
    const warehouseRef = ref([]);
    const superviseRef = ref([]);
    const goShop = () => {
      shopRef.value.handleClick();
    };
    const goWare = () => {
      warehouseRef.value.handleClick();
    };
    const goSupervise = () => {
      superviseRef.value.handleClick();
    };
    const columns = [
      {
        title: '',
        slotName: 'operate',
        width: 50,
      },
      {
        title: '运输类型',
        dataIndex: 'type',
        slotName: 'type',
        width: 120,
      },
      {
        title: '起运地址',
        dataIndex: 'portArea',
        width: 120,
        ellipsis: true,
        tooltip: { position: 'bottom' },
      },
      {
        title: '收货地址',
        dataIndex: 'deliveryAddressWithoutContact',
        width: 120,
        ellipsis: true,
        tooltip: { position: 'bottom' },
      },
      {
        title: '箱型箱量',
        dataIndex: 'containers',
        slotName: 'containers',
        width: 120,
        ellipsis: true,
        tooltip: { position: 'bottom' },
      },
      {
        title: '计划运输时间',
        dataIndex: 'estimatedDispatchTime',
        width: 180,
        ellipsis: true,
        tooltip: { position: 'bottom' },
      },
      {
        title: '计划送达时间',
        dataIndex: 'estimatedDeliveryTime',
        width: 180,
        ellipsis: true,
        tooltip: { position: 'bottom' },
      },
      {
        title: '实际送达时间',
        dataIndex: 'actualDeliveryTime',
        slotName: 'actualDeliveryTime',
        width: 180,
        ellipsis: true,
        tooltip: { position: 'bottom' },
      },
      {
        title: '状态',
        dataIndex: 'status',
        slotName: 'status',
        width: 100,
        ellipsis: true,
        tooltip: { position: 'bottom' },
      },
      {
        title: '运输供应商',
        dataIndex: 'truckingSupplierCnName',
        width: 200,
        ellipsis: true,
        tooltip: { position: 'bottom' },
      },
      {
        title: '其他运输要求',
        dataIndex: 'otherTransportation',
        width: 120,
        ellipsis: true,
        tooltip: { position: 'bottom' },
      },
    ];
    // 入监管仓展开列
    const childColumnsEntry = [
      {
        title: '',
        slotName: 'operate',
        width: 50,
        expand: '',
      },
      {
        title: '箱号',
        dataIndex: 'containerNo',
        width: 130,
      },
      {
        title: '箱型箱类',
        dataIndex: 'containerSize',
        slotName: 'containerSize',
        width: 100,
      },
      {
        title: '集装箱状态',
        dataIndex: 'status',
        slotName: 'status',
        width: 150,
      },
      {
        title: '司机姓名',
        dataIndex: 'trucker',
        slotName: 'trucker',
        className: 'tableHidden',
        width: 100,
      },
      {
        title: '司机联系方式',
        dataIndex: 'mobilePhoneNo',
        slotName: 'mobilePhoneNo',
        width: 150,
      },
      {
        title: '车牌号',
        dataIndex: 'licensePlate',
        slotName: 'licensePlate',
        width: 100,
      },
      {
        title: '提箱时间',
        dataIndex: 'gateOutDate',
        slotName: 'gateOutDate',
        width: 220,
      },
      {
        title: '可提货日期',
        dataIndex: 'pickUpDate',
        slotName: 'pickUpDate',
        width: 220,
      },
      {
        title: '出库日期',
        dataIndex: 'leavingWarehouseDate',
        slotName: 'leavingWarehouseDate',
        width: 220,
      },
      {
        title: '运费差价',
        dataIndex: 'priceDifferenceOfTransportationCost',
        slotName: 'priceDifferenceOfTransportationCost',
        width: 100,
      },
    ];
    // 不入监管仓展开列
    const childColumns = [
      {
        title: '',
        slotName: 'operate',
        width: 50,
        expand: '',
      },
      {
        title: '箱号',
        dataIndex: 'containerNo',
        width: 130,
      },
      {
        title: '箱型箱类',
        dataIndex: 'containerSize',
        slotName: 'containerSize',
        width: 100,
      },
      {
        title: '集装箱状态',
        slotName: 'status',
        dataIndex: 'status',
        width: 150,
      },
      {
        title: '司机姓名',
        dataIndex: 'trucker',
        slotName: 'trucker',
        className: 'tableHidden',
        width: 100,
      },
      {
        title: '司机联系方式',
        dataIndex: 'mobilePhoneNo',
        slotName: 'mobilePhoneNo',
        width: 150,
      },
      {
        title: '车牌号',
        dataIndex: 'licensePlate',
        slotName: 'licensePlate',
        width: 100,
      },
      {
        title: '提箱时间',
        dataIndex: 'gateOutDate',
        slotName: 'gateOutDate',
        width: 220,
      },
      {
        title: '送达时间',
        dataIndex: 'actualDeliveryTime',
        slotName: 'actualDeliveryTime',
        width: 220,
      },
      {
        title: '还箱时间',
        dataIndex: 'containerReturnTime',
        slotName: 'containerReturnTime',
        width: 220,
      },
      {
        title: '还箱点',
        dataIndex: 'containerReturnAddress',
        slotName: 'containerReturnAddress',
        width: 100,
      },
      {
        title: '运费差价',
        dataIndex: 'priceDifferenceOfTransportationCost',
        slotName: 'priceDifferenceOfTransportationCost',
        width: 100,
      },
    ];
    const scroll = {
      x: 300,
      y: 300,
    };
    const typeList = ['入客户门点', '入我司仓库', '入监管仓'];
    const statusMap = [
      '暂存',
      '已发送',
      '已调度',
      '已派车',
      '运输中',
      '送达完成',
      '已还箱',
    ];

    const statusList = [
      '暂存',
      '已发送',
      '调度中',
      '调度完',
      '运输中',
      '送达完成',
    ];
    const expandable = reactive({
      title: '',
      width: 30,
    });
    const data = reactive({
      tableData: [],
      tableData2: [],
      goodsType: '', //货箱类型
      logisticsStatus: '', //运单状态
      pushKm: '', //快马
    });

    const goDriver = (record: any) => {
      driverRef.value.handleClick(record);
    };
    const supervisedWarehouseSetTime = (record, columnName)=>{
      let params = {
        deliveryId: record.deliveryId,
        containerNo: record.containerNo,
      };
      params[columnName] = record[columnName];
      runOrderApi.supervisedWarehouseSetTime(params).then((res) => {
        if (res.code == 200) {
          getList();
        }
      });

    }
    const handleChange = (record, columnName,r?:any) => {
      let params = {
        deliveryId: record.deliveryId,
        containerNo: record.containerNo,
      };
      params[columnName] = record[columnName];
      runOrderApi.updateDelivery(params).then((res) => {
        if (res.code == 200) {
          // getList();
        }
      });
    };
    // 删除运输计划
    const deletePlan = (recordParent) => {
      console.log(recordParent, 'recordParent');
      // return
      Modal.warning({
        title: '提示',
        content: '确认删除?',
        hideCancel: false,
        onOk: () => {
          runOrderApi
            .deletedelivery({ deliveryId: recordParent.id })
            .then((res) => {
              if (res.code == 200) {
                Message.success('删除成功');
                getList();
              }
            });
        },
      });
    };
    // 提交运输计划
    const submit = (id) => {
      runOrderApi.subdelivery({ deliveryId: id }).then((res) => {
        if (res.code == 200) {
          getList();
        }
      });
    };
    //编辑运输计划
    const goEdit = (record) => {
      if (record.type == 0) {
        shopRef.value.handleClick(record);
      } else if (record.type == 1) {
        warehouseRef.value.handleClick(record);
      } else if (record.type == 2) {
        superviseRef.value.handleClick(record);
      }
      console.log(record, '编辑运输计划');
    };
    // 撤回
    const withdraw = (recordParent, record) => {
  Modal.info({
    title: '提示',
    content: '确定要撤回吗?',
    closable: true,
    hideCancel: false,
    onBeforeOk: (done) => {
      console.log('containerNo');
      runOrderApi
        .withdrawNo({
          deliveryId: record.deliveryId,
          logisticsNo: record.orderLogisticsNo,
          containerNo: record.containerNo,
        })
        .then((res) => {
          if (res.code == 200) {
            getList();
          }
          done(true)
        });
    }
  });



    };
    const getList = () => {
      data.tableData = [];
      runOrderApi
        .deliveryDetail({ logisticsNo: props.orderLogisticsNo })
        .then((res) => {
          if (res.code == 200) {
            data.goodsType = res.data.goodsType;
            data.logisticsStatus = res.data.logisticsStatus;
            data.pushKm = res.data.pushKm;
            if (res.data.deliveryList && res.data.deliveryList.length > 0) {
              data.tableData = res.data.deliveryList.map((item) => {
                item.key = item.id;
                item.containers = [];
                item.containers = item.containerquantityList.map((item2) => {
                  return (
                    item2.containerTypeAndSize + '*' + item2.containerQuantity
                  );
                });
                item.column = item.type == 2 ? childColumnsEntry : childColumns;
                return item
              });
            }
          }
        });
    };
    const openTransportationReceipt = (record: any, rowIndex: any) => {
      let params: any = {
        record: record,
        orderLogisticsNo: props.orderLogisticsNo,
        tableData: data.tableData[rowIndex],
      };
      transportationReceiptRef.value.handleClick(
        JSON.parse(JSON.stringify(params))
      );
    };
    const isDisabled = (recordParent:any,record:any)=>{
      if(data.logisticsStatus==22) return false
      if(record.status==0) return false
      if(recordParent.pushKm==0||data.goodsType != 5001) return true
      return false
    }
    watch(visible, (nVal, oVal) => {
      if (nVal) {
        getList();
      }
    });
    return {
      goShop,
      goDriver,
      warehouseRef,
      superviseRef,
      goWare,
      goSupervise,
      shopRef,
      driverRef,
      visible,
      columns,
      childColumns,
      childColumnsEntry,
      typeList,
      statusList,
      scroll,
      expandable,
      getList,
      handleChange,
      deletePlan,
      submit,
      goEdit,
      withdraw,
      openTransportationReceipt,
      supervisedWarehouseSetTime,
      transportationReceiptRef,
      statusMap,
      isDisabled,

      ...toRefs(data),
    };
  },
});
</script>
<style lang="less" scoped>
.trans-btn {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 20px;
  .arco-btn {
    margin-left: 8px;
  }
}
// :deep .arco-table-tr {
// .arco-table-th {
//   height: 4px;
//   line-height: 4px;
// }
// }
.inTable {
  padding-left: 40px;
  //   :deep .arco-table-tr {
  //     .arco-table-th {
  //       height: 40px;
  //       line-height: 20px;
  //     }
  //   }
}
</style>
