<template>
<a-modal v-model:visible="visible" :mask-closable="false" @before-ok="handleSubmit" :width="1000">
    <template #title>
      查看运输计划
    </template>
    <a-table :columns="columns" :data="tableData" :scroll="scroll"  :load-more="loadMore" :pagination="false" :expandable="expandable">
        <template #operate="{ record }"> 
          <a-dropdown trigger="click" position="bl">
            <a-button size="mini" class="operateBtn">
              <template #icon>
                <icon-more-vertical />
              </template>
            </a-button>
            <template #content>
              <a-doption  @click="">
                提交
              </a-doption>
              <a-doption  @click="">
                编辑
              </a-doption>
              <a-doption  @click="">
                删除
              </a-doption>
              <a-doption  @click="">
                司机维护
              </a-doption>
            </template>
          </a-dropdown>
        </template>
        <template #expand-row="{record}">
          <a-table :columns="childColumns" class="inTable" :data="record.containerList"  :pagination="false">
            <template #containerSize="{record}">
                {{record.containerSize+record.containerType}}
            </template>
            <template #trucker="{record}">
                <a-input v-model="record.trucker" v-if="record.principal || goodsType==5002 || goodsType==5003"/>
                <span v-else>{{record.trucker}}</span>
            </template>
            <template #mobilePhoneNo="{record}">
                <a-input v-model="record.mobilePhoneNo" v-if="record.principal || goodsType==5002 || goodsType==5003"/>
                <span v-else>{{record.mobilePhoneNo}}</span>
            </template>
            <template #licensePlate="{record}">
                <a-input v-model="record.licensePlate" v-if="record.principal || goodsType==5002 || goodsType==5003"/>
                <span v-else>{{record.licensePlate}}</span>
            </template>
            <template #operate="{ record }"> 
              <a-dropdown trigger="click" position="bl">
                <a-button size="mini" class="operateBtn">
                  <template #icon>
                    <icon-more-vertical />
                  </template>
                </a-button>
                <template #content>
                  <a-doption  @click="">
                    撤回
                  </a-doption>
                  <a-doption  @click="">
                    费用登记
                  </a-doption>
                  <a-doption  @click="">
                    运输签收单
                  </a-doption>
                </template>
              </a-dropdown>
            </template>
          </a-table>
        </template>
        <template #type="{ record }"> 
          {{typeList[record.type]}}
        </template>
        <template #status="{ record }"> 
          {{statusList[record.status]}}
        </template>
    </a-table>

</a-modal>
</template>
<script lang="ts">
import {
  defineComponent,
  ref,
  watch,
  reactive,
  h,
  toRefs,
  computed,
  onMounted,
  nextTick,
} from 'vue';
import { runOrderApi } from '@/api/runOrderApi/index'
export default defineComponent({
    name: 'businessComplate',
    props:{
      orderLogisticsNo: {
        type: String,
        default: 'D_MYBD220510149',
      }
    },
    setup(props){
       const visible = ref(false);
       const columns=[
          {
            title: '',
            slotName: 'operate'
          },
          {
            title: '类型',
            dataIndex: 'type',
            slotName:'type'
          },
          {
            title: '起运地址',
            dataIndex: 'portArea',
          },
          {
            title: '收货地址',
            dataIndex: 'deliveryAddressWithoutContact'
          },
          {
            title: '状态',
            dataIndex: 'status',
            slotName:'status'
          },
          {
            title: '箱型箱量',
            dataIndex: 'signNo',
          },
          {
            title: '计划运输时间',
            dataIndex: 'estimatedDispatchTime',
          },
          {
            title: '计划送达时间',
            dataIndex: 'estimatedDeliveryTime',
          },
          {
            title: '实际送达时间',
            dataIndex: 'actualDeliveryTime',
          },
          {
            title: '实际运输供应商',
            dataIndex: 'actualSupplierNameZh',
          },
          {
            title: '运输备注',
            dataIndex: 'remark',
          }
       ]
       const childColumns=[
          {
            title: '',
            slotName: 'operate'
          },
          {
            title: '箱号',
            dataIndex: 'containerNo',
          },
          {
            title: '箱型箱类',
            dataIndex: 'containerSize',
            slotName:"containerSize"
          },
          {
            title: '司机姓名',
            dataIndex: 'trucker',
            slotName:"trucker"
          },
          {
            title: '司机联系方式',
            dataIndex: 'mobilePhoneNo',
            slotName:"mobilePhoneNo"
          },
          {
            title: '车牌号',
            dataIndex: 'licensePlate',
            slotName:"licensePlate"
          },
          {
            title: '集装箱状态',
            dataIndex: 'clientEnterpriseName',
          },
          {
            title: '提箱时间',
            dataIndex: 'clientEnterpriseName',
          },
          {
            title: '送达时间',
            dataIndex: 'clientEnterpriseName',
          },
          {
            title: '还箱时间',
            dataIndex: 'clientEnterpriseName',
          },
          
          {
            title: '还箱点',
            dataIndex: 'clientEnterpriseName',
          },
          
          {
            title: '可提货日期',
            dataIndex: 'clientEnterpriseName',
            width:150
          },
          
          {
            title: '出库日期',
            dataIndex: 'clientEnterpriseName',
            width:150
          },
          
       ]
       const scroll=
        {
          y:300,
          x:958
        }
       
       const typeList=['入客户门店/不提供仓储/不入我司仓库','入客户门店/不提供仓储/不入我司仓库','入客户门店/不提供仓储/不入我司仓库']
       const statusList=['暂存','已发送','调度中','调度完','运输中','送达完成']
       const expandable=reactive({
            title: 'Expand',
            width: 80,
       })
       const data=reactive({
          tableData:[],
          tableData2:[],
          goodsType:""
       })
       const handleSubmit=(done)=>{
          runOrderApi.businessCompleteSubmit({
            orderLogisticsNo:props.orderLogisticsNo,
            businessCompletionTime:data.businessCompletionTime
          }).then(res=>{
            if(res.code==200){
              done()
            }else{
              done(false)
            }
          })
       }
       watch(visible,(nVal,oVal)=>{
        console.log('eofeureu')
          if(nVal){
            runOrderApi.deliveryDetail({logisticsNo:'T_ATBK-20000380'}).then(res=>{
              if(res.code==200){
                data.tableData=res.data.deliveryList
                data.goodsType=res.data.goodsType
                //  data.tableData.forEach(item=>{props.orderLogisticsNo
                //   item.children=item.containerList
                //  })
              }
            })
          }
       })
       return{
        visible,
        columns,
        childColumns,
        typeList,
        statusList,scroll,
        handleSubmit,
        expandable,
        ...toRefs(data)
       }
    }
})
</script>
