<!--
 * @Description:
-->
<template>
  <div class="u-body">
    <div class="u-title">{{  '货运代理协议'}}</div>
    <div class="u-row u-stage">
      <div class="u-col">
        <div class="u-label">甲方：</div>
        <div class="u-value u-key">{{data.key_1}}</div>
      </div>
      <div class="u-col">
        <div class="u-label">地址：</div>
        <div class="u-value u-key">{{data.key_2}}</div>
      </div>
      <div class="u-col ">
        <div class="u-label">联系人：</div>
        <div class="u-value u-key">{{data.key_3}}</div>
      </div>
      <div class="u-col">
        <div class="u-label">电话：</div>
        <div class="u-value u-key">{{data.key_4}}</div>
      </div>
    </div>
    <div class="u-row u-stage">
      <div class="u-col">
        <div class="u-label">乙方：</div>
        <div class="u-value u-key">{{data.key_5}}</div>
      </div>
      <div class="u-col">
        <div class="u-label">地址：</div>
        <div class="u-value u-key">{{data.key_6}}</div>
      </div>
      <div class="u-col ">
        <div class="u-label">联系人：</div>
        <div class="u-value u-key">{{data.key_7}}</div>
      </div>
      <div class="u-col">
        <div class="u-label">电话：</div>
        <div class="u-value u-key">{{data.key_8}}</div>
      </div>
    </div>
    <div class="u-stage">甲、乙双方经过友好协商，在平等自愿的基础上就甲方委托乙方代理进口货物的报关报检运输等事宜，签订以下协议，以期共同遵守。</div>
    <div class="u-con u-stage">
      <div class="u-sub-title">一、委托事项</div>
      <div>1、本协议有效期限内，甲方委托乙方负责办理货物海空运进口事宜，乙方具体负责如下事项：</div>
      <div class="u-check-group">
        <span class="u-check u-key"><icon-check v-show="data.key_20" /></span>报关
        <span class="u-check u-key"><icon-check v-show="data.key_20" /></span>换单 
        <span class="u-check u-key"><icon-check v-show="data.key_20" /></span>报检 
        <span class="u-check u-key"><icon-check v-show="data.key_21" /></span>国内陆运 
        <span class="u-check u-key"><icon-check v-show="data.key_22" /></span>仓储 
        <span class="u-check u-key"><icon-check v-show="data.key_23" /></span>其他
        <!-- <span class="u-check u-key"><i v-show="data.key_20" class="el-icon-check"></i></span>报关 
        <span class="u-check u-key"><i v-show="data.key_20" class="el-icon-check"></i></span>换单 
        <span class="u-check u-key"><i v-show="data.key_20" class="el-icon-check"></i></span>报检 
        <span class="u-check u-key"><i v-show="data.key_21" class="el-icon-check"></i></span>国内陆运 
        <span class="u-check u-key"><i v-show="data.key_22" class="el-icon-check"></i></span>仓储 
        <span class="u-check u-key"><i v-show="data.key_23" class="el-icon-check"></i></span>其他 -->
      </div>
      <div>2、甲方应在货物到港前按照乙方规定的格式向乙方出具委托书及乙方代理其委托业务所需的单据。</div>
      <div>3、甲方在货物派送前向乙方提供甲方盖章并由其授权代表签署的送货单，注明送货时间、货物名称、性质、件数、重量、体积、尺码及收货人的名称（姓名）、地址、电话、联系人等详细信息，乙方应严格按照甲方的指令送货。</div>
      <div>4、甲方委托内容要求更改或取消时，乙方应积极为甲方办理变更，因乙方故意懈怠履行造成的损失将由乙方承担。</div>
    </div>
    <div class="u-con u-stage">
      <div class="u-sub-title">二、报关、检验</div>
      <div>1、甲方如委托乙方报关，应在货物到港前，及时按乙方要求提供货物报关所需的各种单证，并对其提供单证的真实性、合法性负责。乙方应在收到甲方提供的单证后24小时内审核甲方提交的单证，确保单单相符、单证相符，品名与税则归类准确。如乙方发现单证有问题应立即通知甲方工作人员，要求更正或补充。如乙方未尽到谨慎审核义务，则此后由于单证原因导致无法通关或通关迟延的，乙方有义务赔偿甲方因此产生的损失。</div>
      <div>2、乙方应及时将海关、检验机构查验货物的要求通知甲方，并派专门的工作人员在场协同海关、检验机构，确保甲方委托之货物顺利清关。</div>
      <div>3、在完成通关手续后，乙方应在两周内将有关单据的原件交付甲方指定人员，不得任意留置；对乙方未能及时交付上述单据造成的甲方损失，乙方应承担赔偿责任。不论在何种情况下，乙方均不得留置甲方货物。</div>
    </div>
    <div class="u-con u-stage">
      <div class="u-sub-title">三、货物保险</div>
      <div>乙方应当就其运输、仓储责任向保险公司投保足够的保险（包括但不限于运输货物险、雇员赔偿、第三者责任等）项目，以补偿货物在乙方承担风险责任的期间内出现损失、损坏或损害，而可能出现的赔偿责任。</div>
      <div>当托运之货物发生乙方投保的风险时，如保险公司的理赔仍不足以补偿甲方所遭受的损失的，甲方有权就未受偿的损失部分继续向乙方追索，直至甲方的全部损失得到弥补为止。</div>
    </div>
    <div class="u-con u-stage">
      <div class="u-sub-title">四、货物交接</div>
      <div>1、乙方从船公司提货时，若发现货物标识与提单不符或外包装异常的，应及时通知甲方，并严格按甲方的指示采取处理措施，必要时协助甲方办理商检事宜，以便甲方索赔。如乙方未通知甲方，视同箱体、封铅完好。</div>
      <div>2、乙方对于其直接掌管下的货物应谨慎、妥善地进行装卸、搬运、仓储，保证其安全。乙方对在其责任期间发生的货损货差、货物灭失，应按照对甲方造成的全部损失金额向甲方履行赔偿责任。</div>
      <div>3、乙方应根据甲方的运送要求及时运输，使货物安全送达目的地并完好交付收货人。乙方应向收货人索要书面交货凭证并保存3年以上。</div>
      <div>4、若甲方提供的收货人信息有误或收货人拒绝提取、逾期提取货物的，乙方应立即与甲方联系，甲方恢复对货物的处置权。由于乙方怠于通知所造成的一切额外费用，由乙方自行承担。</div>
      <div>5、如甲方委托的货物为冷冻/冷藏货物，甲方货物交由乙方提供服务期间，乙方有义务对运输车辆、仓库的温度进行全程监控及保证，否则乙方应承担由此给甲方造成的全部损失。</div>
    </div>
    <div class="u-con u-stage">
      <div class="u-sub-title">五、信息通报</div>
      <div>1、乙方应及时向甲方反馈货物签收状况信息以及提供签收凭证。</div>
      <div>2、乙方应及时向甲方通报货物运输的进展情况，在运输、仓储过程中货物出现任何问题，乙方应及时通知甲方并按甲方指示处理。如乙方未及时履行通知义务或未严格按照甲方的指示处理相关问题的，乙方应承担由此给甲方造成的扩大的损失。</div>
      <div>3、乙方每月根据甲方的要求向甲方提供货物运输信息及乙方服务状况的统计报表。</div>
    </div>
    <div class="u-con u-stage">
      <div class="u-sub-title">六、保密</div>
      <div>双方对因履行本协议而获得或知悉的对方的文件和信息资料予以妥善保管，并承担保密责任。未经对方书面同意,不得向任何第三方（有关法律、法规、政府部门、证券交易所或其他监管机构要求除外）披露。保密期限为本协议有效期间及协议终止后满三年。</div>
    </div>
    <div class="u-con u-stage">
      <div class="u-sub-title">七、费用及结算</div>
      <div>1、费用标准按本协议附件《报价确认书》约定执行，该附件是本协议不可分割的一部分，具有同等法律效力。</div>
      <div>2、乙方在业务发生过程中垫付的所有费用均需要按实际发生的金额与甲方报备，并妥善保管好原单据作为报销凭据。如乙方遗漏确认、报销单据丢失等导致费用不明的，甲方不予承担责任，损失由乙方自行承担。</div>
      <div>3、双方经协商一致，甲方可以选择如下第（  ）种结算方式支付相关费用：</div>
      <div>（1）采用月结账形式。乙方应在每月将上一个月的结算清单交给甲方，经甲方确认后，乙方可按照结算清单金额开出发票，甲方收到发票后<span class="u-line-50"></span>天内向乙方支付相关费用。对未经甲方书面确认的费用，甲方有权拒绝支付。</div>
      <div>（2）其他：<span class="u-line-200 "></span></div>
    </div>
    <div class="u-con u-stage">
      <div class="u-sub-title">八、违约责任</div>
      <div>1、在运输过程中发生的货物灭失、遗失、短少、损坏、污染以及货物延迟，给甲方带来损失，甲方有权向乙方提出索赔，乙方应对甲方的全部损失承担责任。</div>
      <div>2、乙方提供货物仓储、陆运等延伸服务的，对在其责任期间发生的货损货差、货物灭失，应按照对甲方造成的全部损失向甲方履行赔偿责任。</div>
      <div>3、无论乙方是否将本协议约定事项转委托第三方办理的，也不论甲方是否知晓或同意乙方转委托第三方的，乙方均应对其转委托后第三方的行为承担无限连带责任。</div>
    </div>
    <div class="u-con u-stage">
      <div class="u-sub-title">九、联系方式</div>
      <div>甲方或相关部门（法院、仲裁机构及其他政府行政部门）根据合同首页处的联系方式给乙方发出的通知，若是传真或电子邮件，自发送当日视为送达；若是信函，自发出后第三日视为送达。如因乙方拒收、地址不详或有误、变更联系方式未书面告知甲方致使函件无法送达的，则甲方或相关部门根据合同首页处载明的方式发送的视为已送达，文件退回之日即为送达之日，由此而产生的不利法律后果由乙方自行承担。</div>
    </div>
    <div class="u-con u-stage">
      <div class="u-sub-title">十、争议解决</div>
      <div>凡因本合同引起的或与本合同有关的任何争议，双方应协商解决，协商不成的均应提交上海海事法院，适用中国法律诉讼解决。</div>
    </div>
    <div class="u-con u-stage">
      <div class="u-sub-title">十一、协议生效、期限和终止</div>
      <div>1、本协议自双方盖章之日起生效。</div>
      <div>2、本协议有效期限自
        <span class="u-line-50 u-key">{{data.key_9}}</span>年
        <span class="u-line-50 u-key">{{data.key_10}}</span>月
        <span class="u-line-50 u-key">{{data.key_11}}</span>日 至 
        <span class="u-line-50 u-key">{{data.key_12}}</span>年
        <span class="u-line-50 u-key">{{data.key_13}}</span>月
        <span class="u-line-50 u-key">{{data.key_14}}</span>日止。协议期满后双方有意继续合作的，应办理续签手续。
      </div>
      <div>3、本协议终止后，协议双方仍承担协议终止前本协议规定的双方应当履行而尚未履行完毕的一切责任与义务。</div>
    </div>
    <div class="u-con u-stage">
      <div class="u-sub-title">十二、其他</div>
      <div>1、本协议一式二份，甲、乙双方各执一份，具有同等法律效力。</div>
      <div>2、本协议如有未尽事宜，双方可以协商签订书面补充协议，补充协议与本协议具有同等法律效力。</div>
      <div>3、本协议附件为本协议不可分割的组成部分，与本协议具有同等的法律效力。</div>
    </div>

    <div class="u-footer">
      <div class="u-col">
        <div class="u-label">甲方：{{data.key_1}}</div>
        <div class="u-label">甲方（盖章）：</div>
        <div class="u-label">日期：</div>
      </div>
      <div class="u-col">
        <div class="u-label">乙方：</div>
        <div class="u-label">乙方（盖章）：</div>
        <div class="u-label">日期：</div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    data: { type: Object, default: () => {} },
  },
}
</script>
<style lang='less' scoped>
.u-body {
  font-size: 12px;
  color: @color_subTitle;
  line-height: 25px;
  .u-title {
    font-weight: bold;
    font-size: @font_pageTitleSize;
    color: #333;
    text-align: center;
  }
  .u-sub-title {
    font-weight: bold;
    font-size: 14px;
    color: #333;
  }
  .u-subtitle-info {
    font-size: 14px;
    color: #333;
  }
  .u-row {
    .u-col {
      display: flex;
      .u-label {
        padding-right: 5px;
      }
    }
  }
}
.u-stage {
  margin-top: 20px;
}
.u-check-group {
  display: flex;
  align-items: center;
  .u-check {
    display: inline-flex;
    line-height: 25px;
    width: 12px;
    height: 12px; 
    border-radius: 2px;
    border: 1px solid #333;
    margin: 0 5px;
  }
}
.u-date {
  span {
    display: inline-block;
    min-width: 50px;
    position: relative;
    line-height: 18px;
    &::before {
      content: ' ';
      width: 100%;
      height: 1px;
      position: absolute;
      bottom: 0;
      border-bottom: 1px solid @color_subTitle;
    }
  }
}
.u-line-50 {
  display: inline-block;
  min-width: 50px;
  position: relative;
  line-height: 18px;
  &::before {
    content: ' ';
    width: 100%;
    height: 1px;
    position: absolute;
    bottom: 0;
    border-bottom: 1px solid @color_subTitle;
  }
}
.u-line-200 {
  display: inline-block;
  min-width: 200px;
  position: relative;
  line-height: 18px;
  &::before {
    content: ' ';
    width: 100%;
    height: 1px;
    position: absolute;
    bottom: 0;
    border-bottom: 1px solid @color_subTitle;
  }
}
.u-footer {
  display: flex;
  margin-top: 60px;
  .u-col {
    flex: 1;
  }
}
</style>
