<!--
 * @Description:
-->
<template>
  <div class="u-body">
    <div class="u-title">{{  '公路运输合同'}}</div>
    <div class="u-row u-stage">
      <div class="u-col">
        <div class="u-label">甲方：</div>
        <div class="u-value u-key">{{data.key_1}}</div>
      </div>
      <div class="u-col">
        <div class="u-label">地址：</div>
        <div class="u-value u-key">{{data.key_2}}</div>
      </div>
      <div class="u-col ">
        <div class="u-label">联系人：</div>
        <div class="u-value u-key">{{data.key_3}}</div>
      </div>
      <div class="u-col">
        <div class="u-label">电话：</div>
        <div class="u-value u-key">{{data.key_4}}</div>
      </div>
    </div>
    <div class="u-row u-stage">
      <div class="u-col">
        <div class="u-label">乙方：</div>
        <div class="u-value u-key">{{data.key_5}}</div>
      </div>
      <div class="u-col">
        <div class="u-label">地址：</div>
        <div class="u-value u-key">{{data.key_6}}</div>
      </div>
      <div class="u-col ">
        <div class="u-label">联系人：</div>
        <div class="u-value u-key">{{data.key_7}}</div>
      </div>
      <div class="u-col">
        <div class="u-label">电话：</div>
        <div class="u-value u-key">{{data.key_8}}</div>
      </div>
    </div>
    <div class="u-stage">根据《中华人民共和国民法典》及其他有关法律、法规的规定，甲乙双方经友好协商，就甲方委托乙方承运包括甲方、或其关联公司，或其指定公司、客户现在和将来承运的产品在上海市及全国范围内的运输配送物流服务，达成如下协议条款，以资共同信守：</div>
    <div class="u-con u-stage">
      <div class="u-sub-title">一、本合同签订的首要条件</div>
      <div>1、乙方必须具备从事道路运输、集装箱运输等物流活动的资质。本合同签署时，乙方须向甲方提供与此相关的书面证明文件，并在提供的文件上加盖公章，以保证其真实性。</div>
      <div>2、乙方应提供符合《道路运输车辆技术管理规定》、《道路危险货物运输管理规定》等符合道路运输安全生产相关部门主要规章制度的运输设备和人员，以保证甲方货物运输的需求。本合同签署时，乙方应将运输设备明细表及相关权证提供给甲方备案，包括但不限于驾驶员身份证清晰照片（正、反面）、驾驶员驾驶证清晰照片（主、副页）、驾驶员从业资格证清晰照片、车辆行驶证清晰照片（主、副页）、车辆道路运输证清晰照片（主、副页）、挂板行驶证清晰照片（主、副页）、挂板道路运输证清晰照片（主、副页）等等。如果乙方在合同签署后有人员或设备的更新，应及时在指派未备案车辆人员为甲方进行运输作业之前将上述权证信息提供给甲方备案。</div>
      <div>3、乙方为甲方提供的运输作业服务需遵守《道路运输车辆动态监督管理办法》，所涉及的运输车辆所配备的卫星定位装置在运输过程中必须处于在线状态，并授权甲方通过但不限于道路货运车辆公共平台或第三方平台接口获取作业车辆信息、车辆实时位置信息用于甲方对乙方及乙方车辆进行运力评估、跟单监测等，且乙方应避免为甲方运输作业的此类数据信息被无关人员接触。</div>
      <div>4、乙方应当就其运输责任向保险公司投保必要的保险（包括但不限于运输货物险、雇员赔偿险、第三者责任险等）项目，以补偿货物在乙方承担风险责任期间内出现损失、损坏时可能承担的赔偿责任。</div>
    </div>
    <div class="u-con u-stage">
      <div class="u-sub-title">二、委托运输产品及运输方式</div>
      <div>1、甲方委托乙方运输的货物包括甲方、或其关联公司、或其子公司或分支机构，或其指定公司、客户现在和将来承运的产品。</div>
      <div>2、运输方式：乙方采用集装箱车辆或厢式车运输（大件运输除外），以确保货物运输过程质量完好(乙方必须提供合格的集装箱车辆或封闭箱式车，运输化工危险品应配备合格的危险品运输车辆，并做好相应的维修保养工作)。甲方发现乙方采用不符合条件车辆进行配送、运输，乙方除应赔偿甲方货物损失外，还应当以1000元人民币/次支付违约赔偿金。</div>
    </div>
    <div class="u-con u-stage">
      <div class="u-sub-title">三、运输订单</div>
      <div>1、甲方为乙方注册甲方运输作业系统账号，并在系统上将运输委托单指派给乙方，乙方凭甲方有效运输委托单在甲方运输系统上安排运输作业（指派司机、车辆），特殊情况下（在线下单不可用）甲方应将运输订单以传真/电邮/第三方及时通讯软件的方式发送至乙方指定的传真号码/邮箱/第三方及时通讯软件。甲方应正确、规范塡写运输委托单;乙方在接到运输委托单的传真件或邮件时，有疑问应及时反馈，以确保货物运输服务的及时性和准确性。</div>
      <div>2、乙方接到运输委托单后，应按照委托单上要求的运输起止时间安排车辆，并在甲方指定的时间、地点等候作业。因乙方不能如期派指定车辆或车辆不足以完成当日运输计划时，必须立即通知甲方。甲方根据运作需要，另行安排车辆运输所产生的运费差价，由乙方全额承担，甲方有权直接在当月与乙方的应付款中扣除该差额；如因此造成甲方的损失，甲方有权要求乙方按本合同规定承担违约责任。</div>
    </div>
    <div class="u-con u-stage">
      <div class="u-sub-title">四、运输要求</div>
      <div>乙方同意按照保证货物安全运输的条件、本协议的约定和甲方的指示完成收集和运输货物所需要的服务，包括运输、管理货物及其他必要的管理工作。乙方的服务包括但不限于以下内容：</div>
      <div>1、乙方必须根据甲方要求，保质、保量、按时将货物送达指定卸货点/交货地点。未征得甲方同意，乙方不得同车装载与甲方货物冲突的货物，不得擅自将所托运货物运往其他卸货地点，不能中途换装其他车辆。除不可抗力的原因外，违例事件一经发现，甲方有权追究乙方的违约责任并处以罚款500元人民币/次。</div>
      <div>2、乙方必须提供适合甲方货物运载的运输车辆及相关运输人员的联络信息，并保证相关人员的通讯畅通，否则甲方有权拒绝装、卸货。乙方在仓库装、卸货时，乙方的承运司机应遵守甲方或甲方客户仓库的管理制度并协助仓库装卸人员装卸货物；货物装车时，不应超过甲方或甲方客户规定的安全限制。</div>
      <div>3、甲方有权随时了解乙方对运输计划的执行情况，乙方应当根据甲方要求向甲方提供相关运输计划的执行进度、信息、数据等动态情况（每日不少于两次，上午9：00和下午16：00），以便甲方跟踪。因乙方操作人员失误、差错或不诚信导致的甲方损失、客户投诉及相关索赔，由乙方全额承担。</div>
      <div>4、为确保运输作业的安全顺利，乙方须确保每日完成甲方下达的所有运输订单；否则由此导致的相关损失（包含另行叫车配送的费用等）由乙方负责。</div>
      <div>5、甲方会根据自身运输业务需求不定期更新甲方的《运输供应商管理制度》并及时传达给乙方，并根据《运输供应商管理制度》对乙方的运输作业进行监督、考核、奖惩，具体细则见《运输供应商管理制度》。</div>
      <div>6、基于长期合作、共同发展的原则，在协议执行期内，乙方应尽可能为甲方运输业务保证稳定运力，在此前提下，乙方在排车时，应有义务优先保证甲方业务量。其中一年中的两个节假日时段（十一期间、春节期间），基于节假日前两个月的平均月箱量，乙方应在本合同运价表基础上保证上述两个节假日时段的运力不得低于节假日前两个月的平均月箱量的
        <span class="u-line-50"></span>倍。乙方若不能保证本协议约定的运力，视为违约，应按每箱
        <span class="u-line-50"></span>元支付违约金给甲方。超出约定箱量部分业务由甲乙双方共同基于市场行情商定临时价格，乙方有义务按临时价格确保运输服务。</div>
    </div>
    <div class="u-con u-stage">
      <div class="u-sub-title">五、运输回执及信息反馈</div>
      <div>1、乙方将货物送达甲方指定的卸货地点/交货地点后，乙方应按单据签收流程，要求收货单位(或收货人)完成验收手续并在送货(或运输回执)单上签字、盖章，以作确认，默认情况下采用线上签收；特殊情况下按照甲方具体要求进行纸质签收确认并拍照上传至甲方运输作业系统。</div>
      <div>2、乙方必须在以下期限内将有收货人签字、盖章的回执单等文件及甲方要求的所有随车文件（设备单、送货单、运输回执单、其他有关文件、单据等）交付甲方指定的工作人员签收：</div>
      <div>（1）上海市内配送业务必须在2个自然日内；</div>
      <div>（2）华东区运输业务必须在5个工作日内；</div>
      <div>运输回执是甲方支付运费的必要条件之一。若乙方无法在规定期限内将运输回执单交付甲方，甲方有权延迟支付运费直至乙方补齐所有文件。</div>
    </div>
    <div class="u-con u-stage">
      <div class="u-sub-title"> 六、运输责任 </div>
      <div>1、甲方委托乙方运输的货物，自货物被装上乙方车辆时起，至乙方在甲方指定的卸货地点/交货地点将货物完整交接时止的所有风险责任，由乙方承担。</div>
      <div>2、在货物装车前，乙方现场操作人员（司机或其工作人员）应当按照提货单所列明细，检查、确认装车货物的品种、规格、数量和外观质量（集装箱应保证箱体、封子完好），如有异议，应当场提出；经确认有残损的，需在出港区道口前拍照，并由EIR上传确认备案。如无备案，则默认货物状况、集装箱箱体完好，货物装车后出现的任何破损、灭失及品种、规格、数量与提单不符及由此引起的货主退货损失等，全部由乙方承担责任。</div>
      <div>3、货物装卸、运输过程中造成的货物毁损、灭失，由乙方承担赔偿责任。</div>
      <div>4、乙方需在卸货拆箱时，对造成破残的情况，现场拍照取证并要求客户签字确认。如客户不配合的，应与甲方反馈定损后才能离开。若乙方没有定责确认，则箱损由乙方承担。甲方有权从预付的费用中扣除，如果费用不足以赔偿甲方损失的，甲方有权继续索赔。</div>
      <div>5、冷冻箱运输分：制冷和非制冷；必须严格按照调度下达的送货指令要求执行运输。冷冻箱需要全程制冷，出港区前必须拍箱封号照片以及温度照片留底并转发甲方做无纸化备案，到厂后也必须把温度照片拍照留底和转发甲方调度，如不按照指令要求做，产生的一切后果和经济损失由乙方承担。</div>
    </div>
    <div class="u-con u-stage">
      <div class="u-sub-title"> 七、免责条款 </div>
      <div>1、甲、乙双方根据《运输费用报价单》/《报价确认书》载明的运费标准结算运输费。部分运输可按运输前议定的价格执行。</div>
      <div>2、发生上述情况的，乙方须在事故发生之日起一个月内将残损/破损货物退回甲方指定地点，经甲方对退库货物检查后，取得甲方的有效退货凭证。</div>
    </div>
    <div class="u-con u-stage">
      <div class="u-sub-title"> 八、运输费结算 </div>
      <div>1、甲、乙双方根据《运输费用报价单》/《报价确认书》载明的运费标准结算运输费。部分运输可按运输前议定的价格执行。</div>
      <div>2、乙方在业务发生过程中垫付的所有费用均需要按实际发生的金额与甲方报备，并妥善保管好原单据作为报销凭据。如乙方遗漏确认、报销单据丢失等导致费用不明的，甲方不予承担责任，损失由乙方自行承担。</div>
      <div>3、双方经协商一致，甲方可以选择如下第（  ）种结算方式支付相关费用：</div>
      <div>（1）采用月结账形式。乙方应在每月将上一个月的结算清单交给甲方，经甲方确认后，乙方可按照结算清单金额开出发票，甲方收到发票后<span class="u-line-50"></span>天内向乙方支付相关费用。对未经甲方书面确认的费用，甲方有权拒绝支付。</div>
      <div>（2）其他：<span class="u-line-200 "></span></div>
      <div>4、结算方式为支票、银行电汇、汇票等方式。</div>
    </div>
    <div class="u-con u-stage">
      <div class="u-sub-title"> 九、合同有效期 </div>
      <div>
        本合同有效期自
        <span class="u-line-50 u-key">{{data.key_9}}</span>年
        <span class="u-line-50 u-key">{{data.key_10}}</span>月
        <span class="u-line-50 u-key">{{data.key_11}}</span>日 至 
        <span class="u-line-50 u-key">{{data.key_12}}</span>年
        <span class="u-line-50 u-key">{{data.key_13}}</span>月
        <span class="u-line-50 u-key">{{data.key_14}}</span>日 止。
      </div>
    </div>
    <div class="u-con u-stage">
      <div class="u-sub-title"> 十、提前解约 </div>
      <div>甲、乙任何一方提出提前解除本合同，均须提前三个月书面通知对方，在双方协定解除合同期内的三个月内，乙方仍应完成本合同项下的所有义务。</div>
    </div>
    <div class="u-con u-stage">
      <div class="u-sub-title"> 十一、保密及不竞争承诺 </div>
      <div>1、本合同的签订、内容、履行情况均属保密信息，未经甲方同意，乙方不得将该保密信息向任何第三方透露。</div>
      <div>2、乙方承诺在本合同履行期间及本合同终止后，除作为甲方的代表外，乙方不得采用任何直接或间接的方式与甲方的客户洽谈或企图洽谈业务。</div>
    </div>
    <div class="u-con u-stage">
      <div class="u-sub-title"> 十二、不可抗力 </div>
      <div>由于发生自然灾害、战争、罢工、暴动等不可抗力事件，直接影响本合同的履行或者致使不能按约定的条件履行时，遇有不可抗力事件的一方应立即将事故情况通知对方，应在10天内提供事件详情及合同不能履行或者需要延期履行的理由的有效证明文件，此项证明文件应由事件发生地区的公证机构出具。按照事故对履行合同的影响程度，双方可协商是否解除合同，或者部分免除合同的责任，或者延期履行合同。</div>
    </div>
    <div class="u-con u-stage">
      <div class="u-sub-title"> 十三、联系方式 </div>
      <div>甲方或相关部门（法院、仲裁机构及其他政府行政部门）根据合同首页处的联系方式给乙方发出的通知，若是传真或电子邮件，自发送当日视为送达；若是信函，自发出后第三日视为送达。如因乙方拒收、地址不详或有误、变更联系方式未书面告知甲方致使函件无法送达的，则甲方或相关部门根据合同首页处载明的方式发送的视为已送达，文件退回之日即为送达之日，由此而产生的不利法律后果由乙方自行承担。</div>
    </div>
    <div class="u-con u-stage">
      <div class="u-sub-title"> 十四、适用法律 </div>
      <div>凡因本合同引起的或与本合同有关的任何争议，双方应协商解决，协商不成的应提交甲方所在地人民法院，适用中国法律诉讼解决。</div>
    </div>
    <div class="u-con u-stage">
      <div class="u-sub-title"> 十五、补充与附件 </div>
      <div>1、无论乙方是否将本协议约定事项转委托第三方办理的，也不论甲方是否知晓或同意乙方转委托第三方的，乙方均应对其转委托后第三方的行为承担无限连带责任。</div>
      <div>2、甲方禁止任何“商业贿赂”（乙方私自给甲方任何员工的任何钱、物、有价值的娱乐、餐饮、旅游等活动均被认为对甲方的商业贿赂），如有违反，甲方有权取消订单、延期付款，有权要求乙方赔偿甲方经济和声誉损失，直至终止合同并要求乙方赔偿一切损失。</div>
      <div>3、本合同附件是本合同的有效组成部分，与本合同具有同等法律效力。</div>
      <div>4、本合同未尽事宜由双方协商补充，并签订书面补充协议。</div>
    </div>
    <div class="u-con u-stage">
      <div class="u-sub-title"> 十六、合同的生效 </div>
      <div>1、本合同自双方盖章之日起后生效。</div>
      <div>2、本合同一式两份，甲、乙双方各持一份，具有同等法律效力。</div>
    </div>

    <div class="u-footer">
      <div class="u-col">
        <div class="u-label u-key">甲方：{{data.key_1}}</div>
        <div class="u-label">甲方（盖章）：</div>
        <div class="u-label">日期：</div>
      </div>
      <div class="u-col">
        <div class="u-label">乙方：</div>
        <div class="u-label">甲方（盖章）：</div>
        <div class="u-label">日期：</div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    data: { type: Object, default: () => {} },
  },
}
</script>
<style lang='less' scoped>
.u-body {
  font-size: 12px;
  color: @color_subTitle;
  line-height: 25px;
  .u-title {
    font-weight: bold;
    font-size: @font_pageTitleSize;
    color: #333;
    text-align: center;
  }
  .u-sub-title {
    font-weight: bold;
    font-size: 14px;
    color: #333;
  }
  .u-subtitle-info {
    font-size: 14px;
    color: #333;
  }
  .u-row {
    .u-col {
      display: flex;
      .u-label {
        padding-right: 5px;
      }
    }
  }
}
.u-stage {
  margin-top: 20px;
}
.u-date {
  span {
    display: inline-block;
    min-width: 50px;
    position: relative;
    line-height: 18px;
    &::before {
      content: ' ';
      width: 100%;
      height: 1px;
      position: absolute;
      bottom: 0;
      border-bottom: 1px solid @color_subTitle;
    }
  }
}
.u-line-50 {
  display: inline-block;
  min-width: 50px;
  position: relative;
  line-height: 18px;
  &::before {
    content: ' ';
    width: 100%;
    height: 1px;
    position: absolute;
    bottom: 0;
    border-bottom: 1px solid @color_subTitle;
  }
}
.u-line-200 {
  display: inline-block;
  min-width: 200px;
  position: relative;
  line-height: 18px;
  &::before {
    content: ' ';
    width: 100%;
    height: 1px;
    position: absolute;
    bottom: 0;
    border-bottom: 1px solid @color_subTitle;
  }
}
.u-footer {
  display: flex;
  margin-top: 60px;
  .u-col {
    flex: 1;
  }
}
</style>
