<!--
 * @Description:
-->
<template>
  <div class="u-body">
    <div class="u-title">{{  '仓储协议'}}</div>
    <div class="u-row u-stage">
      <div class="u-col">
        <div class="u-label">甲方：</div>
        <div class="u-value u-key">{{data.key_1}}</div>
      </div>
      <div class="u-col">
        <div class="u-label">地址：</div>
        <div class="u-value u-key">{{data.key_2}}</div>
      </div>
      <div class="u-col ">
        <div class="u-label">联系人：</div>
        <div class="u-value u-key">{{data.key_3}}</div>
      </div>
      <div class="u-col">
        <div class="u-label">电话：</div>
        <div class="u-value u-key">{{data.key_4}}</div>
      </div>
    </div>
    <div class="u-row u-stage">
      <div class="u-col">
        <div class="u-label">乙方：</div>
        <div class="u-value u-key">{{data.key_5}}</div>
      </div>
      <div class="u-col">
        <div class="u-label">地址：</div>
        <div class="u-value u-key">{{data.key_6}}</div>
      </div>
      <div class="u-col ">
        <div class="u-label">联系人：</div>
        <div class="u-value u-key">{{data.key_7}}</div>
      </div>
      <div class="u-col">
        <div class="u-label">电话：</div>
        <div class="u-value u-key">{{data.key_8}}</div>
      </div>
    </div>
    <div class="u-stage">根据《中华人民共和国民法典》的规定，甲乙双方在平等、自愿、公平和诚实信用的基础上，根据委托储存计划和仓储能量，经协商一致，就甲方委托乙方提供仓储服务事宜，订立本合同，具体条款如下：</div>
    <div class="u-con u-stage">
      <div class="u-sub-title">一、仓储货物基本信息</div>
      <div>1、具体的货物情况以入库时甲方提供的入库单或甲方信息系统记录记载为准。</div>
      <div>2、运作质量除符合国家或有关部门规定的质量标准，以及经批准的企业或行业标准外，还需符合甲方制定的管控标准。</div>
      <div>3、货物损耗标准，由甲乙双方协商确定。</div>
    </div>
    <div class="u-con u-stage">
      <div class="u-sub-title">二、仓库地点及条件</div>
      <div>1、乙方的仓库位于
        <span class="u-line-50 u-key">{{ data.key_25 }}</span>
        。乙方保证其对该仓库的占有、使用源自于受法律保护的所有权或合法的承租，且在本协议存续期间将持续不间断的保有上述合法权益；乙方同时具有提供合同项下服务所需的仓储、分拨、堆存、转租等资质，乙方应当向甲方提供上述合法权益及资质的证明。以上为本仓储协议有效的前提。</div>
      <div>2、乙方须提供适于储存的仓库，未经甲方许可，不得擅自变更仓储地点。</div>
      <div>3、乙方依照政策、法规规定和甲方的要求，在库区安装仓储监控系统和仓储照明系统并备有消防设备；并配备符合政策、法规规定及甲方要求的一定数量的、资质合格的员工。</div>
      <div>4、乙方应保持仓库清洁卫生、通风和干燥，且货品码放整齐，并做好防火、防潮、防盗、防鼠等工作。且乙方应保证其已购买相应保险。</div>
    </div>
    <div class="u-con u-stage">
      <div class="u-sub-title">三、仓储期限</div>
      <div>1、仓储期限:自
        <span class="u-line-50 u-key">{{data.key_9}}</span>年
        <span class="u-line-50 u-key">{{data.key_10}}</span>月
        <span class="u-line-50 u-key">{{data.key_11}}</span>日 至 
        <span class="u-line-50 u-key">{{data.key_12}}</span>年
        <span class="u-line-50 u-key">{{data.key_13}}</span>月
        <span class="u-line-50 u-key">{{data.key_14}}</span>日 止。
      </div>
      <div>2、仓储期限届满，如甲方货物未全部提走，则视为仓储期限延长，仓储期限延长至所有货物全部提走为止，在此期间的仓储费用按照本合同《附件三：报价确认书》的标准进行结算。</div>
      <div>3、本合同生效后，任何一方要求变更或终止本合同，应当提前30天以书面形式通知对方；双方同意变更或终止的，应在15天内办理变更或终止手续。本合同变更或终止后，合同双方仍应承担合同变更或终止前本合同规定的双方应履行但尚未履行完毕的一切责任与义务，如不能履行相应的工作责任和义务，应承担相应的赔偿责任。</div>
    </div>
    <div class="u-con u-stage">
      <div class="u-sub-title">四、货物权属及禁止性规定</div>
      <div>1、甲方委托货物的所有权始终属于甲方或甲方的客户。除非有甲方书面指示，乙方对甲方存储的货物不得擅自交付或自行处置；不得以任何理由留置甲方货物。</div>
      <div>2、甲方不得违反国家法律、法规、政策规定存放违禁品。</div>
    </div>
    <div class="u-con u-stage">
      <div class="u-sub-title">五、乙方权利及义务</div>
      <div class="u-subtitle-info">（一）乙方的权利</div>
      <div>1、甲方委托乙方存储的物品属于违法、违禁物品的，乙方有权拒绝接受委托，不构成违约。</div>
      <div>2、乙方按照本协议约定提供服务的，有权要求甲方依照合同约定支付仓储费用。</div>
      <div class="u-subtitle-info">（二）乙方的义务</div>
      <div>1、按照甲方的操作要求进行货物的入库装卸和在库管理；因货物属性需要采取特殊保管或装卸措施的，乙方应严格根据甲方指示执行特殊操作。</div>
      <div>2、自乙方从甲方接收货物时起，至乙方将货物交付给甲方或甲方指定的收货人时止，乙方应对货物尽妥善保管之义务。</div>
      <div>3、在办理入库验收时，乙方如发现货物外包装破损或件数、重量、体积与单证不符，应当场通知甲方并做好记录，收货时未当场通知甲方的，视为货物状态完好。</div>
      <div>4、对于甲方合理的加急、特殊服务要求，乙方应根据甲方的要求妥善完成服务。</div>
      <div>5、在合同期间乙方应对仓库进行定期的检查、养护，对于仓库的损耗乙方有义务进行及时维修确保甲方货物正常仓储。</div>
      <div>6、乙方购买保险，确保货损赔付能力。对于货物在仓储期间发生损坏的，乙方应立即采取以下必要措施：</div>
      <div>立即通知甲方人员、保险公司人员到场；并保护现场，完成货损、货差报告，并进行拍照。</div>
      <div>7、乙方必须对甲方的装箱内容及客户资料保密，不得泄露。</div>
      <div>8、无论乙方是否将本协议约定事项转委托第三方办理的，也不论甲方是否知晓或同意乙方转委托第三方的，乙方均应对其转委托后第三方的行为承担无限连带责任。</div>
      <div>9、无论乙方是否进行转委托，产生的风险和责任均由乙方承担。</div>
      <div>10、在仓储期间发生货物变质、短少、毁损灭失的，乙方应当承担全额损害赔偿责任。</div>
      <div>11、乙方有义务确保甲方货物在仓储期间的安全、完整，如发现货物临近失效期或有异常状况，应及时通知甲方，并在征得甲方同意后作出必要处置，且应及时告知甲方处理结果。</div>
      <div>12、《附件一：仓储作业日常管理要求》中的其他规定事项。</div>
      <div>13、接受甲方运作管理、《附件二：仓储作业质量考核标准》的考核事项并接受相应处罚。</div>
      <div>14、为完成本合同委托事项，甲乙双方从对方获取的资料和相关的商业秘密，双方负有保密的义务，并且应采取一切合理的措施以使其所接受的资料免于被无关人员接触。</div>
      <div>15、乙方承接的储运任务，货物运输和装卸过程中，因运载工具的超载、超限或操作不当等原因造成的任何人身伤亡、财产损失、政府处罚，任何其他损失或损害及与之相关的任何风险、费用、后果和责任等均由乙方承担。</div>
      <div>16、甲方交与乙方的所有业务，乙方必须严格按照甲方预约要求、时效进行作业，乙方不得以运力不足、设备不足、人员不足、货量太大等任何理由进行推托。因乙方原因不能如期完成计划时，必须立即通知甲方。甲方根据运作需要，另行安排，因此产生的差价，由乙方全额承担，并于当月的结算费用中扣除。如因此造成甲方损失，甲方有权追责并解除合约。</div>
      <div>17、乙方不得在与甲方合作的期间内，擅自直接与甲方的客户进行合作。一经发现，视为乙方违反保密条款。甲方将给予乙方 200000元的罚款，并有权解除合约。18、乙方不得与甲方相关业务人员行贿，或以其他任何方式进行牟利，包括但不限于抬高价格返回扣、虚报方数重量分赃、窃取甲方客户信息私自开发等等，一经发现，视情节轻重，甲方有权处罚乙方 50000元罚款。</div>
      <div>18、乙方不得与甲方相关业务人员行贿，或以其他任何方式进行牟利，包括但不限于抬高价格返回扣、虚报方数重量分赃、窃取甲方客户信息私自开发等等，一经发现，视情节轻重，甲方有权处罚乙方 50000元罚款。</div>
      <div>19、在业务开展过程中如产生需要乙方先行垫付的费用，乙方需要在垫付前告知甲方，经甲方同意后垫付费用，且将垫付费用的相关凭证及原始单据交予甲方报备，如乙方遗漏确认，报销单据丢失，该费用乙方自行承担。</div>
    </div>
    <div class="u-con u-stage">
      <div class="u-sub-title"> 六、甲方权利及义务 </div>
      <div class="u-subtitle-info">（一）甲方的权利</div>
        <div>1、甲方有权就货物的操作、交接、进出仓等事宜对乙方进行指示，并随时了解货物的状态。</div>
      <div>2、在协议履行期间，甲方有权提出检查仓储物或者提取样品的要求，乙方应当同意。</div>
      <div>3、在协议履行期间，甲方如发现乙方的仓库或操作存在潜在或实际的违反法律、法规及政策规定的情况，可立即通知乙方整改。乙方不能立即整改的，甲方有权立即终止业务，乙方承担因此产生的全部损失（包括并不限于货物转移产生的费用、货物损失、货物被拒收、甲方遭受索赔等一系列费用）。</div>
      <div>4、在乙方丧失履行本协议的相关资质或乙方违约经甲方书面警告后10个工作日内仍不消除违约状态的，甲方有权单方解除本协议。乙方承担因此产生的全部损失（包括并不限于货物转移产生的费用、货物损失、货物被拒收、甲方遭受索赔等一系列费用）。</div>
      <div class="u-subtitle-info">（二）甲方的义务</div>
      <div>（1）甲方应如实向乙方告知货物的名称、属性及特殊操作要求，并保证不存放国家法律法规及政策禁止的违禁品。</div>
      <div>（2）乙方完成仓储服务，甲方应依照协议约定支付仓储费用。</div>
    </div>
    <div class="u-con u-stage">
      <div class="u-sub-title"> 七、违约责任 </div>
      <div>1、因乙方不具备履行本协议必须具备的仓储、分拨、堆存等资质而接收甲方委托进行操作的，或因乙方对仓库的权利纠纷造成甲方损失的，乙方应全额赔付甲方所产生的全部损失。</div>
      <div>2、货物在存储期间的损坏、灭失、短少的，乙方负责全额赔付甲方所产生的直接、间接损失；货物若经甲方同意后转委托他人进行操作的，乙方仍负有上述赔偿责任。</div>
      <div>3、如甲方或甲方指定提货人收货后合理期限内书面通知乙方货物存有损坏、短少情形的，乙方应负责赔偿甲方全部直接、间接损失。</div>
      <div>4、乙方雇佣人员应同样遵守本合同项下所有规范和约定，乙方应做好雇佣人员的管理工作，甲方与乙方雇佣人员非雇佣关系，且对乙方与其雇佣人员之间发生的任何纠纷不承担责任。</div>
    </div>
    <div class="u-con u-stage">
      <div class="u-sub-title"> 八、费用标准及结算方式 </div>
      <div>（ √ ）1、报价、计费方式等以《附件三：报价确认书》为准。</div>
      <div>（    ）2、双方特别约定如下：<span class="u-line-200"></span> </div>
    </div>
    <div class="u-con u-stage">
      <div class="u-sub-title"> 九、声明及保证 </div>
      <div>1、甲、乙双方均有权签署并有能力履行本合同。</div>
      <div>2、甲、乙双方签署和履行本合同所需的一切手续均已办妥并合法有效。</div>
      <div>3、在签署本合同时，任何法院、仲裁机构、行政机关或监管机构均未作出任何足以对乙方或甲方履行本合同产生重大不利影响的判决、裁定、裁决或具体行政行为。</div>
      <div>4、甲、乙双方为签署本合同所需的内部授权程序均已完成，本合同的签署人是甲、乙双方的法定代表人或授权代表人。本合同生效后即对合同双方具有法律约束力。</div>
      <div>5、甲乙双方签署合同后，乙方于15个工作日内向甲方交付履约保证金 
        <span class="u-line-50"></span> 元。本合同终止后，在货物全部交付完毕并甲乙双方不存在任何争议的情况下，甲方于15个工作日内向乙方退还保证金。</div>
    </div>
    <div class="u-con u-stage">
      <div class="u-sub-title"> 十、联系方式 </div>
      <div>甲方或相关部门（法院、仲裁机构及其他政府行政部门）根据合同首页处的联系方式给乙方发出的通知，若是传真或电子邮件，自发送当日视为送达；若是信函，自发出后第三日视为送达。如因乙方拒收、地址不详或有误、变更联系方式未书面告知甲方致使函件无法送达的，则甲方或相关部门根据合同首页处载明的方式发送的视为已送达，文件退回之日即为送达之日，由此而产生的不利法律后果由乙方自行承担。</div>
    </div>
    <div class="u-con u-stage">
      <div class="u-sub-title"> 十一、争议的解决 </div>
      <div>凡因本合同引起的或与本合同有关的任何争议，双方应协商解决，协商不成的应提交甲方所在地人民法院，适用中国法律诉讼解决。</div>
    </div>
    <div class="u-con u-stage">
      <div class="u-sub-title"> 十二、补充与附件 </div>
      <div>本合同未尽事宜，依照有关法律、法规执行，法律、法规未作规定的，双方可以达成书面补充协议。本合同的附件和补充协议均为本合同不可分割的组成部分，与本合同具有同等的法律效力。</div>
    </div>
    <div class="u-con u-stage">
      <div class="u-sub-title"> 十三、合同的生效与终止 </div>
      <div>1、本协议自双方代表签字并加盖公章之日起生效。</div>
      <div>2、本协议一式两份，甲乙双方各执一份，具有同等法律效力。</div>
    </div>

    <div class="u-footer">
      <div class="u-col">
        <div class="u-label u-key">甲方：{{data.key_1}}</div>
        <div class="u-label">甲方（盖章）：</div>
        <div class="u-label">日期：</div>
      </div>
      <div class="u-col">
        <div class="u-label">乙方：</div>
        <div class="u-label">甲方（盖章）：</div>
        <div class="u-label">日期：</div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    data: { type: Object, default: () => {} },
  },
}
</script>
<style lang='less' scoped>
.u-body {
  font-size: 12px;
  color: @color_subTitle;
  line-height: 25px;
  .u-title {
    font-weight: bold;
    font-size: @font_pageTitleSize;
    color: #333;
    text-align: center;
  }
  .u-sub-title {
    font-weight: bold;
    font-size: 14px;
    color: #333;
  }
  .u-subtitle-info {
    font-size: 14px;
    color: #333;
  }
  .u-row {
    .u-col {
      display: flex;
      .u-label {
        padding-right: 5px;
      }
    }
  }
}
.u-stage {
  margin-top: 20px;
}
.u-dui {
  display: inline-block;
  min-width: 15px;
}
.u-date {
  span {
    display: inline-block;
    min-width: 50px;
    position: relative;
    line-height: 18px;
    &::before {
      content: ' ';
      width: 100%;
      height: 1px;
      position: absolute;
      bottom: 0;
      border-bottom: 1px solid @color_subTitle;
    }
  }
}
.u-line-50 {
  display: inline-block;
  min-width: 50px;
  position: relative;
  line-height: 18px;
  &::before {
    content: ' ';
    width: 100%;
    height: 1px;
    position: absolute;
    bottom: 0;
    border-bottom: 1px solid @color_subTitle;
  }
}
.u-line-200 {
  display: inline-block;
  min-width: 200px;
  position: relative;
  line-height: 18px;
  &::before {
    content: ' ';
    width: 100%;
    height: 1px;
    position: absolute;
    bottom: 0;
    border-bottom: 1px solid @color_subTitle;
  }
}
.u-footer {
  display: flex;
  margin-top: 60px;
  .u-col {
    flex: 1;
  }
}
</style>
