<!--
 * @Description:
-->
<template>
  <div class="u-body">
    <div class="u-title">{{  '公路运输合同'}}</div>
    <div class="u-title-no">合同编号[<span class="u-line-50">{{ data.key_0}}</span>]</div>
    <div class="u-row u-stage">
      <div class="u-col">
        <div class="u-label">甲方：</div>
        <div class="u-value u-key">{{data.key_1}}</div>
      </div>
      <div class="u-col">
        <div class="u-label">地址：</div>
        <div class="u-value u-key">{{data.key_2}}</div>
      </div>
      <div class="u-col ">
        <div class="u-label">联系人：</div>
        <div class="u-value u-key">{{data.key_3}}</div>
      </div>
      <div class="u-col">
        <div class="u-label">电话：</div>
        <div class="u-value u-key">{{data.key_4}}</div>
      </div>
    </div>
    <div class="u-row u-stage">
      <div class="u-col">
        <div class="u-label">乙方：</div>
        <div class="u-value u-key">{{data.key_5}}</div>
      </div>
      <div class="u-col">
        <div class="u-label">地址：</div>
        <div class="u-value u-key">{{data.key_6}}</div>
      </div>
      <div class="u-col ">
        <div class="u-label">联系人：</div>
        <div class="u-value u-key">{{data.key_7}}</div>
      </div>
      <div class="u-col">
        <div class="u-label">电话：</div>
        <div class="u-value u-key">{{data.key_8}}</div>
      </div>
    </div>
    <div class="u-stage">根据《中华人民共和国民法典》及其他法律、法规的规定，甲乙双方在平等、自愿、公平和诚实信用的基础上，经协商一致，就甲方委托乙方为其货物提供公路运输服务事宜，订立本合同，具体条款如下：</div>
    <div class="u-con u-stage">
      <div class="u-sub-title">一、合同内容</div>
      <div>甲方委托乙方为其货物提供公路运输配送服务。乙方按甲方的要求，将货物安全、及时、准确地运达甲方指定的地点，以及完成双方另行商定的其他物流服务，甲方向乙方支付相关费用。</div>
    </div>
    <div class="u-con u-stage">
      <div class="u-sub-title">二、服务范围</div>
      <div>乙方为甲方提供相关线路或区域的运输配送服务，具体服务范围如：“附件一：运输配送服务范围、运输时效和费用结算标准”</div>
    </div>
    <div class="u-con u-stage">
      <div class="u-sub-title">三、甲乙双方的权利和义务</div>
      <div class="u-subtitle-info">（一）甲方的义务和责任</div>
      <div>1、甲方委托乙方运输的货物包括甲方，或其子公司和分支机构，或其指定公司和客户的产品。</div>
      <div>2、甲方应当告知乙方完整的运输委托的信息，包括但不限于：起始地信息，目的地信息，货物信息，操作要求等，乙方应严格按照甲方要求进行操作。。</div>
      <div>3、甲方有权随时了解乙方对运输计划的执行情况，乙方应当根据甲方要求及时地，准确地提供相关运输计划的执行进度，信息，数据等动态情况，以便甲方跟踪。</div>
      <div>4、甲方有权对由乙方造成的货物问题所带来的直接损失及间接损失提出赔偿。甲方有权在未结算的运费中直接扣除，当运费不足以支付甲方损失的，甲方可进一步向乙方追偿。</div>
      <div class="u-subtitle-info">（二）乙方的义务和责任</div>
      <div>1、乙方应当具备从事甲方所委托的物流活动的资质（道路运输，集装箱运输，特种设备运输等），本合同签署时，乙方须向甲方提供与此相关的证明文件，并加盖公章，确保其真实有效性。 </div>
      <div>2、乙方提供的承运工具应当具备合法的营运资格和有效证书，并具备完好的定位设备，提供的业务人员应当具备相应的专业岗位的有关证件，并确保人员健康程度符合国家相关规定，本合同签署时，乙方应当提供运输设备明细及相关证件给甲方备案。</div>
      <div>3、乙方应当具备承担合同约定的赔偿责任的能力，购买足额、充分的保险（包括但不限于运输货物险，雇员赔偿险，第三者责任险等），并确保该保险在本合同有效期内始终有效，本合同签署时，乙方应将有关保险合同的复印件加盖公章后提交给甲方存档。</div>
      <div>4、甲方要求乙方提供的相关资质以及保单等资料仅用于甲方备案不作为合同生效要件，也不作为甲方负有审核乙方资质的义务。乙方对其提供的服务应具备相关资质许可，如因乙方资质不全造成行政处罚的，乙方自行承担责任，如给甲方损失的，乙方应承担赔偿责任。</div>
      <div>5、乙方应当接受甲方提供的业务培训及甲方的管理规定，并保证按照甲方的要求和标准完成运作。</div>
      <div>6、乙方应当根据甲方的运输委托安排指定且符合条件的承运工具（集装箱车辆，厢式车辆，大件运输车辆，危险品运输车辆等），做好相应的维修保养工作，不得擅自变更承运工具的类型，并及时提供承运信息，在指定时间到达指定地点等候作业。</div>
      <div>7、乙方接到甲方运输指令后，应按照指令要求的运输起止时间安排车辆，并在甲方指定的时间、地点等候作业。如不能如期派指定车辆或车辆不足以完成当日运输计划时，必须立即通知甲方。甲方根据运作需要，另行安排车辆运输所产生的运费差价，由乙方全额承担，甲方有权直接在当月与乙方的应付款中扣除该差额；如因此造成甲方的损失，甲方有权要求乙方按本合同规定承担违约责任。</div>
      <div>8、在货物装车前，乙方现场操作人员（司机或其工作人员）应当按照委托单所列明细，检查、确认装车货物的品种、规格、数量和外观质量，如在清点货物时发生异议，应当场提出；否则，货物装车后出现的破损、灭失及品种、规格、数量与委托单不符及由此引起的货主退货损失等，全部由乙方承担责任。</div>
      <div>9、乙方应当根据甲方的要求，采用约定的专车配送或拼车配送的运输方式进行承运。如甲方指定采用专车配送的方式运输货物的，乙方应保证不得同时安排其他客户的货物运输；如甲方指定采用拼车配送的方式运输货物的，乙方应确保货物不和具有污染性，腐蚀性，有毒性，易燃易爆等货物或与甲方货物冲突的货物拼车运输。如乙方未按照上述要求运输货物，乙方应承担1000元/次的违约金，由此给甲方造成货物受损的，乙方应承担赔偿责任。</div>
      <div>10、乙方应当将承运的货物按时，完好，准确地送达甲方指定的目的地和收货人，不得擅自变更和处理。</div>
      <div>11、乙方应当对在运输过程中的货物的情况负责，不得擅自配载、混装其它货物或转换运输工具，并确保货物的完好性和准确性。</div>
      <div>12、乙方应当对货物在配送过程中发生任何意外情况，采取力保货物安全的措施，及时告知甲方，不得瞒报、欺骗、敷衍甲方，不得有私自对发生意外的货物进行调换，修复，二次包装，掩盖实际情况等行为。甲方有权要求乙方承担货物损失，并有权解除合同且不承担任何违约责任。</div>
      <div>13、乙方应当每天定时向甲方汇报车辆在途跟踪信息，接受甲方对在途信息的核查，不得擅自更改运输路线，如遇特殊情况的，乙方应及时通知甲方。</div>
      <div>14、乙方应当在卸货拆箱时，对所有发生的收货异常告知甲方，并取得收货单位提供的异常确认单或在回单上详细注明异常情况，经得甲方确认后，方可离场，如发生擅自离场情况，所产生的损失由乙方承担。</div>
      <div>15、乙方应当在货物送达指定目的地并交付完毕后，取得有指定收货人签字并加盖印章的有效回单，并在规定时间内交给甲方。运输回单作为完成运输委托和结算运费的唯一凭证。</div>
      <div>16、乙方应当根据约定的服务范围为甲方提供所需的运力，不得以任何形式，任何理由拒绝甲方提出的运输委托，否则甲方根据运作要求，另行安排车辆，但由此产生的费用由乙方承担。</div>
    </div>
    <div class="u-con u-stage">
      <div class="u-sub-title">四、费用结算标准与结算方式</div>
      <div>1、费用结算标准：见附件一</div>
      <div>2、发票类型：增值税专用发票（一般纳税人），发票税率： 9%。</div>
      <div>3、双方经协商一致，甲方可以选择如下第（  ）种结算方式支付相关费用：</div>
      <div>（1）采用月结账形式。乙方应在每月将上一个月的结算清单交给甲方，经甲方确认后，乙方可按照结算清单金额开出发票，甲方收到发票后<span class="u-line-50"></span>天内向乙方支付相关费用。对未经甲方书面确认的费用，甲方有权拒绝支付。</div>
      <div>（2）其他：<span class="u-line-200 "></span></div>
      <div>4、对账清单包括所有费用项目，包含配送费、异常费用等。</div>
      <div>5、乙方收款账号为:账号:
        <span class="u-line-200 u-key">{{data.key_27}}</span>；户名
        <span class="u-line-200 u-key">{{data.key_28}}</span>；开户行：
        <span class="u-line-200 u-key">{{data.key_29}}</span>；如户名为乙方以外的自然人，乙方应做好授权手续，甲方不负责任何乙方与该账户所有人之前的任何财务或其他纠纷。</div>
    </div>
    <div class="u-con u-stage">
      <div class="u-sub-title">五、责任和履约</div>
      <div class="u-subtitle-info">（一）甲方的责任</div>
      <div>1、甲方因下列过错造成车辆，工具，设备损坏，腐蚀，污染或人员伤亡以及涉及到的第三方的损失，由甲方负责赔偿。</div>
      <div>a. 在托运的普通货物中夹带，匿报危险品或其他违反危险品运输规定的的行为。</div>
      <div>b. 由于运输委托中的重量错误而造成严重的超载。</div>
      <div>2、由于甲方提供的运输委托信息有误而造成乙方损失的，由甲方承担。</div>
      <div>3、由于甲方原因在运输过程中增加产生的额外费用，由甲方承担。</div>
      <div class="u-subtitle-info">（二）乙方的责任</div>
      <div>1、货物运输和装卸过程中，因承载工具的超载，超限或者操作不当造成的任何人员伤亡，财产损失，政府处罚，以及其可能带来的相关的风险，费用，后果和责任均由乙方承担。</div>
      <div>2、由于乙方的运力不足，安排不当，能力不达标等情况，对甲方业务运作产生影响的，甲方可根据运作需求，另行安排车辆，由此所产生的费用差价，由乙方承担。</div>
      <div>3、乙方需对实际产生的费用真实地，准确地提交甲方审核，如发现有意的谎报，瞒报运费的，甲方有权在未结算的运费内扣除多支付的金额，如金额不足，甲方有权进一步追回多支付的金额，并有权终止执行合同。</div>
      <div>4、乙方的雇佣人员和合作人员应同样遵守本合同所有规范和约定，乙方应做好相关人员的管理和培训工作，甲方对乙方雇佣人员和合作人员之间发生的任何纠纷不承担责任。如乙方将甲方委托的业务转委托至第三方办理的，不论甲方是否同意，乙方对第三方的行为承担连带责任。</div>
      <div>5、如果乙方拒绝承运双方合同期内合同线路货物，由此造成甲方无法正常运作，可视作乙方违约，甲方有权终止执行合同。</div>
      <div>6、乙方应在甲方提出赔偿要求并经双方确认之日起7天内，乙方应按照合同付清赔偿，如发生超期，甲方有权在未结费用内扣除，如未结运费不足时，甲方可进一步追偿，受损货物所有权和处置权在任何时候归甲方所有。</div>
    </div>
    <div class="u-con u-stage">
      <div class="u-sub-title"> 六、保密条款 </div>
      <div>1、乙方不得私自或主动接触甲方客户开展与甲方业务冲突的业务，否则视为乙方违约，甲方有权终止本合同。由此给甲方造成的损失，乙方应负责赔偿。</div>
      <div>2、为完成本合同委托事项，甲乙双方从对方获取的资料和相关的商业机密，双方负有保密的义务，并且应采取一切合理的措施以使其所接受的资料免于被无关人员接触。</div>
    </div>
    <div class="u-con u-stage">
      <div class="u-sub-title"> 七、廉洁条款 </div>
      <div>乙方不得对甲方相关业务人员行贿，或以其他任何方式进行牟利，包括但不限于返回扣、虚报重量、虚报费用，窃取甲方客户信息私自开发等等，一经发现，甲方有权终止执行合同。</div>
    </div>
    <div class="u-con u-stage">
      <div class="u-sub-title"> 八、合同文本及合同的时效 </div>
      <div>1、本合同签订时，双方必须出具相关注册资料。</div>
      <div>2、本合同一式二份，甲乙双方各执一份，具有同等法律效力。</div>
      <div>
        3、本合同有效期自
        <span class="u-line-50 u-key">{{data.key_9}}</span>年
        <span class="u-line-50 u-key">{{data.key_10}}</span>月
        <span class="u-line-50 u-key">{{data.key_11}}</span>日 至 
        <span class="u-line-50 u-key">{{data.key_12}}</span>年
        <span class="u-line-50 u-key">{{data.key_13}}</span>月
        <span class="u-line-50 u-key">{{data.key_14}}</span>日 止。合同期满，如需继续合作，双方另行签订相关合同。
      </div>
      <div>4、甲、乙任何一方提出提前解除本合同，均须提前30日书面通知对方，在双方协定解除合同期内，乙方仍应完成本合同内的所有义务和责任。</div>
      <div>5、本合同的全部内容都属商业秘密，双方均有责任保密。</div>
    </div>
    <div class="u-con u-stage">
      <div class="u-sub-title"> 九、合同变更和补充 </div>
      <div>合同如有变更或者补充，经双方协商一致后，可以补充协议和附件的形式进行确定，补充协议和附件与本合同具有同等效力。</div>
    </div>
    <div class="u-con u-stage">
      <div class="u-sub-title"> 十、不可抗力</div>
      <div>由于发生自然灾害，战争，罢工，暴动等不可抗力事件，直接影响本合同的履行或致使不能按约定的条件履行时，遇有不可抗力事件的一方应立即将事故通报对方，并提供当地公证机构出具的有效证明文件，按照事故对履行合同的影响程度，双方可协商是否解除合同，或者部分免除合同的责任，或者延期履行合同。</div>
    </div>
    <div class="u-con u-stage">
      <div class="u-sub-title"> 十一、争议的解决 </div>
      <div>若本合同在履行过程中发生争议，双方应及时协商解决，如果协商无效，应当向甲方所在地人民法院提起诉讼。</div>
    </div>
    <div class="u-con u-stage">
      <div class="u-sub-title"> 十二、不可抗力 </div>
      <div>由于发生自然灾害、战争、罢工、暴动等不可抗力事件，直接影响本合同的履行或者致使不能按约定的条件履行时，遇有不可抗力事件的一方应立即将事故情况通知对方，应在10天内提供事件详情及合同不能履行或者需要延期履行的理由的有效证明文件，此项证明文件应由事件发生地区的公证机构出具。按照事故对履行合同的影响程度，双方可协商是否解除合同，或者部分免除合同的责任，或者延期履行合同。</div>
    </div>
    <!-- TODO:附件地址 -->
    <a href="附件一：运输配送服务范围、费用结算标准">附件一：运输配送服务范围、费用结算标准</a>
    <a href="附件（补充）：其他相关资料和文件">附件（补充）：其他相关资料和文件</a>

    <div class="u-footer">
      <div class="u-col">
        <div class="u-label">甲方：{{data.key_1}}</div>
        <div class="u-label">甲方（盖章）：</div>
        <div class="u-label">日期：</div>
      </div>
      <div class="u-col">
        <div class="u-label">乙方：</div>
        <div class="u-label">甲方（盖章）：</div>
        <div class="u-label">日期：</div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    data: { type: Object, default: () => {} },
  },
}
</script>
<style lang='less' scoped>
.u-body {
  font-size: 12px;
  color: @color_subTitle;
  line-height: 25px;
  .u-title {
    font-weight: bold;
    font-size: @font_pageTitleSize;
    color: #333;
    text-align: center;
  }
  .u-title-no {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-left: auto;
  }
  .u-sub-title {
    font-weight: bold;
    font-size: 14px;
    color: #333;
  }
  .u-subtitle-info {
    font-size: 14px;
    color: #333;
  }
  .u-row {
    .u-col {
      display: flex;
      .u-label {
        padding-right: 5px;
      }
    }
  }
}
.u-stage {
  margin-top: 20px;
}
.u-dui {
  display: inline-block;
  min-width: 15px;
}
.u-date {
  span {
    display: inline-block;
    min-width: 50px;
    position: relative;
    line-height: 18px;
    &::before {
      content: ' ';
      width: 100%;
      height: 1px;
      position: absolute;
      bottom: 0;
      border-bottom: 1px solid @color_subTitle;
    }
  }
}
.u-line-50 {
  display: inline-block;
  min-width: 50px;
  position: relative;
  line-height: 18px;
  &::before {
    content: ' ';
    width: 100%;
    height: 1px;
    position: absolute;
    bottom: 0;
    border-bottom: 1px solid @color_subTitle;
  }
}
.u-line-200 {
  display: inline-block;
  min-width: 200px;
  position: relative;
  line-height: 18px;
  &::before {
    content: ' ';
    width: 100%;
    height: 1px;
    position: absolute;
    bottom: 0;
    border-bottom: 1px solid @color_subTitle;
  }
}
.u-footer {
  display: flex;
  margin-top: 60px;
  .u-col {
    flex: 1;
  }
}
</style>
