<!--
 * @Description:
-->
<template>
  <div class="u-body">
    <div class="u-title">{{  '运输及仓储协议'}}</div>
    <div class="u-row u-stage">
      <div class="u-col">
        <div class="u-label">甲方：</div>
        <div class="u-value u-key">{{data.key_1}}</div>
      </div>
      <div class="u-col">
        <div class="u-label">地址：</div>
        <div class="u-value u-key">{{data.key_2}}</div>
      </div>
      <div class="u-col ">
        <div class="u-label">联系人：</div>
        <div class="u-value u-key">{{data.key_3}}</div>
      </div>
      <div class="u-col">
        <div class="u-label">电话：</div>
        <div class="u-value u-key">{{data.key_4}}</div>
      </div>
    </div>
    <div class="u-row u-stage">
      <div class="u-col">
        <div class="u-label">乙方：</div>
        <div class="u-value u-key">{{data.key_5}}</div>
      </div>
      <div class="u-col">
        <div class="u-label">地址：</div>
        <div class="u-value u-key">{{data.key_6}}</div>
      </div>
      <div class="u-col ">
        <div class="u-label">联系人：</div>
        <div class="u-value u-key">{{data.key_7}}</div>
      </div>
      <div class="u-col">
        <div class="u-label">电话：</div>
        <div class="u-value u-key">{{data.key_8}}</div>
      </div>
    </div>
    <div class="u-stage">根据《中华人民共和国民法典》及其他法律法规的规定，甲乙双方在平等、自愿、公平和诚实信用的基础上，经协商一致，就甲方委托乙方为其货物提供运输及仓储服务事宜，订立本合同，具体条款如下：</div>
    <div class="u-con u-stage">
      <div class="u-sub-title">一、委托范围</div>
      <div>（ <span class="u-dui u-key"><i v-if="data.key_21" class="el-icon-check"></i></span> ）1. 甲方委托乙方代办货物从港、站到门/仓库运输服务；</div>
      <div>（ <span class="u-dui u-key"><i v-if="data.key_22" class="el-icon-check"></i></span> ）2. 甲方委托乙方代办仓储服务；</div>
      <div>（ <span class="u-dui u-key"><i v-if="data.key_23" class="el-icon-check"></i></span> ）3. 甲方委托乙方代办其他服务；</div>
    </div>
    <div class="u-con u-stage">
      <div class="u-sub-title">二、双方权利及义务</div>
      <div class="u-subtitle-info">（一）运输</div>
      <div>1、甲方委托乙方运输的货物包括甲方、或其关联公司、或其子公司或分支机构，或其指定公司、客户现在和将来承运的产品。</div>
      <div>2、运输方式：乙方采用集装箱车辆或厢式车运输（大件运输除外），以确保货物运输过程质量完好(乙方必须提供合格的集装箱车辆或封闭箱式车，运输化工危险品应配备合格的危险品运输车辆，并做好相应的维修保养工作)。甲方发现乙方采用不符合条件车辆进行配送、运输，乙方除应赔偿甲方货物损失外，还应当以1000元人民币/次支付违约赔偿金。</div>
      <div>3、甲方交运易燃、易爆、有毒、腐蚀性、放射性等危险品或易变质品的，应当按照国家有关危险物品运输或易变质物品运输的规定对物品进行妥善包装，制作并张贴危险品或易变质物品的标志和标签，同时应将有关危险品、易变质品的名称、性质、特殊操作措施等以书面形式于交运前提交乙方。</div>
      <div>4、乙方应当具备履行本合同中公路运输业务的合法运营资质，且提供适当的运输工具，配备适格的作业人员，并应当在合理的时间内将货物送抵甲方指定的目的地。乙方在仓库装、卸货时，乙方的承运司机应遵守甲方或甲方客户仓库的管理制度并协助仓库装卸人员装卸货物；货物装车时，不应超过甲方或甲方客户规定的安全限制。</div>
      <div>5、乙方应当就其运输责任向保险公司投保必要的保险（包括但不限于运输货物险、雇员赔偿险、第三者责任险等）项目，以补偿货物在乙方承担风险责任期间内出现损失、损坏时可能承担的赔偿责任。当运输的货物发生乙方投保的风险时，如保险公司的理赔仍不足以补偿甲方所遭受的损失的，甲方有权就未受偿的损失部分继续向乙方追索，直至甲方的全部损失得到弥补为止。</div>
      <div>6、在货物装车前，乙方现场操作人员（司机或其工作人员）应当按照提货单所列明细，检查、确认装车货物的品种、规格、数量和外观质量（集装箱应保证箱体、封子完好），如有异议，应当场提出；经确认有残损的，需在出港区道口前拍照，并由EIR上传确认备案。如无备案，则默认货物状况、集装箱箱体完好，货物装车后出现的任何破损、灭失及品种、规格、数量与提单不符及由此引起的货主退货损失等，全部由乙方承担责任。</div>
      <div>7、乙方必须根据甲方要求，保质、保量、按时将货物送达指定卸货点/交货地点。未征得甲方同意，乙方不得同车装载与甲方货物冲突的货物，不得擅自将所托运货物运往其他卸货地点，不能中途换装其他车辆。除不可抗力的原因外，违例事件一经发现，甲方有权追究乙方的违约责任并处以罚款500元人民币/次。</div>
      <div>8、甲方有权随时了解乙方对运输计划的执行情况，乙方应当根据甲方要求向甲方提供相关运输计划的执行进度、信息、数据等动态情况（每日不少于两次，上午9：00和下午16：00），以便甲方跟踪。因乙方操作人员失误、差错或不诚信导致的甲方损失、客户投诉及相关索赔，由乙方全额承担。</div>
      <div>9、甲方委托乙方运输的货物，自货物被装上乙方车辆时起，至乙方在甲方指定的卸货地点/交货地点将货物完整交接时止的所有风险责任，由乙方承担。乙方是否将本协议约定事项转委托第三方办理的，也不论甲方是否知晓或同意乙方转委托第三方的，乙方均应对其转委托后第三方的行为承担无限连带责任。</div>
      <div>10、乙方需在卸货拆箱时，对造成破残的情况，现场拍照取证并要求客户签字确认。如客户不配合的，应与甲方反馈定损后才能离开。若乙方没有定责确认，则箱损由乙方承担。甲方有权从预付的费用中扣除，如果费用不足以赔偿甲方损失的，甲方有权继续索赔。</div>
      <div>11、乙方将货物送达甲方指定的卸货地点/交货地点后，乙方应按单据签收流程，要求收货单位（或收货人）完成验收手续，并在送货（或运输回执）单上签字、盖章，以作确认。运输回执是甲方支付运费的必要条件之一。若乙方无法在规定期限内将运输回执单交付甲方，甲方有权延迟支付运费直至乙方补齐所有文件。</div>
      <div>12、冷冻箱运输分：制冷和非制冷；必须严格按照调度下达的送货指令要求执行运输。冷冻箱需要全程制冷，出港区前必须拍箱封号照片以及温度照片留底并转发甲方做无纸化备案，到厂后也必须把温度照片拍照留底和转发甲方调度，如不按照指令要求做，产生的一切后果和经济损失由乙方承担。</div>
      <div class="u-subtitle-info">（二）仓储</div>
      <div>1、乙方的仓库位于
        <span class="u-line-50 u-key">{{data.key_25}}</span> 
        。乙方保证其对该仓库的占有、使用源自于受法律保护的所有权或合法的承租，且在本协议存续期间将持续不间断的保有上述合法权益；乙方同时具有提供合同项下服务所需的仓储、分拨、堆存等资质。乙方按照甲方的操作要求进行货物的入库装卸和在库管理。</div>
      <div>2、乙方须提供适于储存的仓库，未经甲方许可，不得擅自变更仓储地点。乙方依照政策、法规规定和甲方的要求，在库区安装仓储监控系统和仓储照明系统并备有消防设备；并配备符合政策、法规规定及仓储必备的一定数量的、资质合格的员工，且乙方应保持仓库清洁卫生、通风和干燥，且货品码放整齐，并做好防火、防潮、防盗、防鼠等工作。乙方应保证其已购买相应保险。</div>
      <div>3、甲方委托货物的所有权始终属于甲方或甲方的客户。除非有甲方书面指示，乙方对甲方存储的货物不得擅自交付或自行处置；不得以任何理由留置甲方货物。</div>
      <div>4、乙方的责任区间为自乙方在入库单上签字表示接受货物时起，至乙方在出库单上签字表示交付货物时止，乙方应对货物尽妥善保管之义务。</div>
      <div>5、在办理入库验收时，乙方如发现货物外包装破损或件数、重量、体积与单证不符，应当场通知甲方并做好记录，收货时未当场通知甲方的，视为货物状态完好。</div>
      <div>6、乙方有义务确保甲方货物在仓储期间的安全、完整，如发现货物临近失效期或有异常状况，应及时通知甲方，并在征得甲方同意后作出必要处置，且应及时告知甲方处理结果。货物在存储期间的损坏、灭失、短少的，乙方负责全额赔付甲方所产生的直接、间接损失。乙方是否将本协议约定事项转委托第三方办理的，也不论甲方是否知晓或同意乙方转委托第三方的，乙方均应对其转委托后第三方的行为承担无限连带责任。</div>
      <div>7、乙方必须在收到盖有甲方业务章的出库单后，才可按照甲方出库单的指令，进行放货，并把货物交给甲方指定的收货人。否则产生的损失由乙方承担。</div>
    </div>
    <div class="u-con u-stage">
      <div class="u-sub-title">三、费用结算</div>
      <div>1、费用标准按本协议附件《报价确认书》约定执行，该附件是本协议不可分割的一部分，具有同等法律效力。</div>
      <div>2、乙方在业务发生过程中垫付的所有费用均需要按实际发生的金额与甲方报备，并妥善保管好原单据作为报销凭据。如乙方遗漏确认、报销单据丢失等导致费用不明的，甲方不予承担责任，损失由乙方自行承担。</div>
      <div>3、双方经协商一致，甲方可以选择如下第（  ）种结算方式支付相关费用：</div>
      <div>（1）采用月结账形式。乙方应在每月将上一个月的结算清单交给甲方，经甲方确认后，乙方可按照结算清单金额开出发票，甲方收到发票后<span class="u-line-50"></span>天内向乙方支付相关费用。对未经甲方书面确认的费用，甲方有权拒绝支付。</div>
      <div>（2）其他：<span class="u-line-200 "></span></div>
    </div>
    <div class="u-con u-stage">
      <div class="u-sub-title">四、联系方式</div>
      <div>甲方或相关部门（法院、仲裁机构及其他政府行政部门）根据合同首页处的联系方式给乙方发出的通知，若是传真或电子邮件，自发送当日视为送达；若是信函，自发出后第三日视为送达。如因乙方拒收、地址不详或有误、变更联系方式未书面告知甲方致使函件无法送达的，则甲方或相关部门根据合同首页处载明的方式发送的视为已送达，文件退回之日即为送达之日，由此而产生的不利法律后果由乙方自行承担。</div>
    </div>
    <div class="u-con u-stage">
      <div class="u-sub-title">五、争议的解决</div>
      <div>凡因本合同引起的或与本合同有关的任何争议，双方应协商解决，协商不成的应提交甲方所在地人民法院，适用中国法律诉讼解决。</div>
    </div>
    <div class="u-con u-stage">
      <div class="u-sub-title">六、补充与附件</div>
      <div>本合同未尽事宜，依照有关法律、法规执行，法律、法规未作规定的，双方可以达成书面补充协议。本合同的附件和补充协议均为本合同不可分割的组成部分，与本合同具有同等的法律效力。</div>
    </div>
    <div class="u-con u-stage">
      <div class="u-sub-title">七、合同的生效与终止</div>
        <div>
        1、本合同自双方盖章之日起生效，有效期自
        <span class="u-line-50 u-key">{{data.key_9}}</span>年
        <span class="u-line-50 u-key">{{data.key_10}}</span>月
        <span class="u-line-50 u-key">{{data.key_11}}</span>日 至 
        <span class="u-line-50 u-key">{{data.key_12}}</span>年
        <span class="u-line-50 u-key">{{data.key_13}}</span>月
        <span class="u-line-50 u-key">{{data.key_14}}</span>日，
        协议期满，甲方仍有货物存放在乙方仓库的，则本协议顺延至货物出清后为止。
      </div>
      <div>2、本协议一式两份，甲乙双方各执一份，具有同等法律效力。</div>
    </div>

    <div class="u-footer">
      <div class="u-col">
        <div class="u-label u-key">甲方：{{data.key_1}}</div>
        <div class="u-label">甲方（盖章）：</div>
        <div class="u-label">日期：</div>
      </div>
      <div class="u-col">
        <div class="u-label">乙方：</div>
        <div class="u-label">乙方（盖章）：</div>
        <div class="u-label">日期：</div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    data: { type: Object, default: () => {} },
  },
}
</script>
<style lang='less' scoped>
.u-body {
  font-size: 12px;
  color: @color_subTitle;
  line-height: 25px;
  .u-title {
    font-weight: bold;
    font-size: @font_pageTitleSize;
    color: #333;
    text-align: center;
  }
  .u-sub-title {
    font-weight: bold;
    font-size: 14px;
    color: #333;
  }
  .u-subtitle-info {
    font-size: 14px;
    color: #333;
  }
  .u-row {
    .u-col {
      display: flex;
      .u-label {
        padding-right: 5px;
      }
    }
  }
}
.u-stage {
  margin-top: 20px;
}
.u-dui {
  display: inline-block;
  min-width: 15px;
}
.u-date {
  span {
    display: inline-block;
    min-width: 50px;
    position: relative;
    line-height: 18px;
    &::before {
      content: ' ';
      width: 100%;
      height: 1px;
      position: absolute;
      bottom: 0;
      border-bottom: 1px solid @color_subTitle;
    }
  }
}
.u-line-50 {
  display: inline-block;
  min-width: 50px;
  position: relative;
  line-height: 18px;
  &::before {
    content: ' ';
    width: 100%;
    height: 1px;
    position: absolute;
    bottom: 0;
    border-bottom: 1px solid @color_subTitle;
  }
}
.u-line-200 {
  display: inline-block;
  min-width: 200px;
  position: relative;
  line-height: 18px;
  &::before {
    content: ' ';
    width: 100%;
    height: 1px;
    position: absolute;
    bottom: 0;
    border-bottom: 1px solid @color_subTitle;
  }
}
.u-footer {
  display: flex;
  margin-top: 60px;
  .u-col {
    flex: 1;
  }
}
</style>
