<template>
<a-modal
  :title="title"
  v-model:visible="visible"
  width="800px"
  unmount-on-close
>
  <a-upload
    ref="uploadRef"
    draggable
    :limit="1"
    @before-remove="handleFileRemove"
    :custom-request="handleUpload"
  />
  <a-form
    v-if="showForm"
    ref="formRef"
    label-align="left"
    :model="form"
    :label-col-props="{ span: 24 }"
  >
    <a-row :gutter="24">
      <a-col
        v-for="formField in formFields"
        :key="formField.prop"
        :span="8"
      >
        <a-form-item
          :label="formField.label"
          :field="formField.prop"
          :rules="[{ validator: moneyAmountValidator }]"
        >
          <a-input v-model="form[formField.prop]" placeholder="请输入" />
        </a-form-item>
      </a-col>
    </a-row>
  </a-form>
  <template #footer>
    <a-button @click="handleCancel">取消</a-button>
    <a-button type="primary" @click="submit">确定</a-button>
  </template>
</a-modal>
</template>

<script lang="ts">
import {
  defineComponent,
  ref,
  reactive,
  computed,
  PropType,
} from 'vue'
import { Message } from '@arco-design/web-vue'
import { UploadTypeEnum, useVisible } from '../composables'
import trackAPI from '@/api/track'
export default defineComponent({
  name: 'CommonUploadDialog',
  props: {
    uploadType: {
      type: Number,
      required: true,
    },
    order: {
      type: Object,
      required: true,
    },
  },
  emits: ['afterOperation'],
  setup(props, { attrs, emit, slots }) {
    const uploadRef = ref()
    type File = {
      fileUrl?: string,
      fileName?: string,
    }
    const file = reactive<File>({})
    const clearFile = () => {
      file.fileUrl = ''
      file.fileName = ''
    }
    const validateFile = () => {
      const valid = !!(file.fileUrl && file.fileName)
      if (!valid) {
        Message.error('请上传文件')
      }
      return valid
    }

    interface TAXBILLFORM {
      tariffAmount?: string,
      vatAmount?: string,
      saleTaxAmount?: string,
      antiDumpingDutiesAmount?: string,
      marginAmount?: string,
      lateFeeAmount?: string,
      feeForDelayedDeclarationAmount?: string,
    }
    const form = reactive<TAXBILLFORM>({})
    const formRef = ref()

    interface FormField {
      label: string,
      prop: string,
    }
    const formFields: FormField[] = [
      { label: '关税金额', prop: 'tariffAmount' },
      { label: '增值税金额', prop: 'vatAmount' },
      { label: '消费税金额', prop: 'saleTaxAmount' },
      { label: '反倾销税金额', prop: 'antiDumpingDutiesAmount' },
      { label: '保证金金额', prop: 'marginAmount' },
      { label: '滞纳金金额', prop: 'lateFeeAmount' },
      { label: '滞报金金额', prop: 'feeForDelayedDeclarationAmount' },
    ]

    const { visible, toggleVisible } = useVisible()

    const uploadTypeMap = {
      [UploadTypeEnum.TAXBILL]: '上传税费单',
      [UploadTypeEnum.CUSTOMSDECLARATION]: '上传报关单',
      [UploadTypeEnum.QUARANTINECERTIFICATE]: '上传检疫证',
    }
    const title = computed(() => {
      return uploadTypeMap[props.uploadType as UploadTypeEnum]
    })

    const showForm = computed(() => {
      return props.uploadType === UploadTypeEnum.TAXBILL
    })

    const beforeClose = (withFormResetting = true) => {
      console.log('before close')
      if (withFormResetting) formRef.value?.resetFields()
      toggleVisible()
    }

    const uploadTaxBill = (params: object) => {
      trackAPI.uploadTaxBill(params)
        .then(({ code }) => {
          if (code === '200') {
            Message.success('上传税费单成功')
            beforeClose()
            emit('afterOperation')
          }
        })
        .catch(console.error)
    }
    const uploadCustomsDeclaration = (params: object) => {
      trackAPI.uploadCustomsDeclaration(params)
        .then(({ code }) => {
          if (code === '200') {
            Message.success('上传报关单成功')
            beforeClose(false)
            emit('afterOperation')
          }
        })
        .catch(console.error)
    }
    const uploadQuarantineCertificate = (params: object) => {
      trackAPI.uploadQuarantineCertificate(params)
        .then(({ code }) => {
          if (code === '200') {
            Message.success('上传检疫证成功')
            beforeClose(false)
            emit('afterOperation')
          }
        })
        .catch(console.error)
    }
    const handleSubmit = () => {
      if (!validateFile()) return

      const { uploadType } = props
      const { key, orderLogisticsNo } = props.order
      const params = {
        id: key,
        logisticsNo: orderLogisticsNo,
        ...file,
      }
      if (uploadType === UploadTypeEnum.TAXBILL) {
        uploadTaxBill({
          ...params,
          ...form,
        })
        return
      }
      if (uploadType === UploadTypeEnum.CUSTOMSDECLARATION) {
        uploadCustomsDeclaration(params)
        return
      }
      if (uploadType === UploadTypeEnum.QUARANTINECERTIFICATE) {
        uploadQuarantineCertificate(params)
        return
      }
    }
    const submit = () => {
      if (showForm.value) {
        formRef.value.validate((errors: object | undefined) => {
          if (errors) return

          handleSubmit()
        })
        return
      }
      handleSubmit()
    }
    const handleCancel = () => {
      beforeClose()
    }

    const handleUpload = (option: any) => {
      trackAPI.uploadFile({ file: option?.fileItem.file })
        .then(({ code, data }) => {
          if (code === '200') {
            file.fileUrl = data?.url || ''
            file.fileName = data?.fileName || ''
          }
        })
        .catch(console.error)
    }

    const moneyAmountValidator = (fieldValue: string, callback: (params?: any) => void) => {
      let errorMessage = ''
      if (fieldValue === '' || fieldValue === undefined) {
        return callback()
      }
      if (+fieldValue < 0) {
        errorMessage = '税额必须大于0'
      } else if (parseFloat(fieldValue) !== +fieldValue) {
        errorMessage = '只能输入数字'
      } else if (fieldValue.includes('.') && fieldValue.split('.')[1].length > 2) {
        errorMessage = '最多包含两位小数'
      }
      if (errorMessage) {
        return callback(errorMessage)
      }
      callback()
    }

    const handleFileRemove = () => {
      clearFile()
      return true
    }

    return {
      formRef,
      uploadRef,
      form,
      formFields,
      showForm,
      title,
      visible,
      toggleVisible,
      handleCancel,
      handleSubmit,
      submit,
      handleUpload,
      handleFileRemove,
      moneyAmountValidator,
    }
  },
})
</script>

<style lang="less" scoped>
.arco-form {
  margin-top: 20px;
}
</style>
