<template>
<div class="editable-cell">
  <template v-if="editType === 5">
    <a-date-picker
      show-time
      v-model="value"
      size="mini"
      format="YYYY-MM-DD HH:mm"
      style="height: 22px;"
      @ok="handleOk"
    />
  </template>
  <template v-if="editType === 7">
    <a-select
      size="mini"
      v-model="value"
      :options="options"
      :multiple="multiple"
      @change="handleSelectChange"
      @popup-visible-change="handlePopupVisibleChange"
    />
  </template>
</div>
</template>

<script lang="ts">
import {
  defineComponent,
  PropType,
  ref,
  reactive,
  computed,
} from 'vue'
import { EditTypeEnum } from '../index'

export default defineComponent({
  name: 'EditableCell',
  props: {
    multiple: {
      type: Boolean,
      default: false,
    },
    editType: {
      type: Number as PropType<EditTypeEnum>,
      required: true,
    },
    valueDesc: {
      type: String,
      default: '',
    },
    modelValue: {
      type: [String, Number],
      required: true,
    },
    options: {
      type: Array,
      default: () => [],
    },
  },
  emits: ['handleCellChange'],
  setup(props, { emit }) {
    const multiple = computed(() => {
      return props.multiple
    })
    const active = ref(false)
    const toggleActive = () => active.value = !active.value

    const value = ref(props.modelValue)

    const resetCellValue = () => value.value = props.modelValue
    const emitCellChange = (value: any) => {
      if (!value) {
        resetCellValue()
        return
      }
      emit('handleCellChange', {
        value,
        callback: (successful: boolean) => {
          if (!successful) {
            resetCellValue()
          }
        }
      })
    }

    const handleOk = (newValue: string) => {
      emitCellChange(newValue)
    }
    const handlePopupVisibleChange = (visible: boolean) => {
      if (!visible) {
        resetCellValue()
      }
    }

    const handleSelectChange = (newValue: number | string) => {
      // multiple selector uses popup-visible-change event to trigger line edit
      if (props.multiple) return

      emitCellChange(newValue)
    }

    return {
      value,
      active,
      toggleActive,
      handleOk,
      handlePopupVisibleChange,
      handleSelectChange,
    }
  },
})
</script>

<style lang="less" scoped>
.editable-cell {
  height: 22px;
}
</style>
