<template>
<a-modal
  :title="title"
  width="800px"
  v-model:visible="visible"
  @before-close="beforeClose"
>
  <a-form
    ref="formRef"
    label-align="left"
    :label-col-props="{ span: 24 }"
    :wrapper-col-props="{ span: 24 }"
    :model="form"
    :rules="rules"
  >
    <a-row :gutter="24">
      <a-col :span="8">
        <a-form-item label="查验方式" field="mode">
          <a-select v-model="form.mode" :options="modeOptions" />
        </a-form-item>
      </a-col>
      <a-col :span="8">
        <a-form-item label="查验箱量" field="boxQuantity">
          <a-input v-model="form.boxQuantity" />
        </a-form-item>
      </a-col>
      <a-col :span="8">
        <a-form-item label="熏蒸箱量" field="fumigationBoxQuantity">
          <a-input v-model="form.fumigationBoxQuantity" />
        </a-form-item>
      </a-col>
      <a-col :span="8">
        <a-form-item label="排查验计划时间" field="schedulingInspectionPlanTime">
          <a-date-picker
            show-time
            format="YYYY-MM-DD HH:mm"
            v-model="form.schedulingInspectionPlanTime"
          />
        </a-form-item>
      </a-col>
      <a-col :span="8">
        <a-form-item label="计划查验时间" field="planInspectionTime">
          <a-date-picker
            show-time
            format="YYYY-MM-DD HH:mm"
            v-model="form.planInspectionTime"
          />
        </a-form-item>
      </a-col>
      <a-col :span="8">
        <a-form-item label="查验完成时间" field="inspectionCompleteTime">
          <a-date-picker
            show-time
            format="YYYY-MM-DD HH:mm"
            v-model="form.inspectionCompleteTime"
          />
        </a-form-item>
      </a-col>
      <a-col :span="8">
        <a-form-item label="查验点" field="inspectionPoint">
          <a-input v-model="form.inspectionPoint" />
        </a-form-item>
      </a-col>
      <a-col :span="8">
        <a-form-item label="查验小票" field="receiptUrl">
          <upload-input
            ref="receiptUploadInputRef"
            :multiple="false"
          />
          <!-- <a-upload
            draggable
            :limit="1"
            @before-remove="handleFileRemove('receiptUrl')"
            :custom-request="handleReceiptUpload"
          /> -->
        </a-form-item>
      </a-col>
      <a-col :span="8">
        <a-form-item label="现场查验照片" field="siteUrls">
          <upload-input
            ref="siteUploadInputRef"
          />
          <!-- <a-upload
            draggable
            :limit="1"
            @before-remove="handleFileRemove('siteUrls')"
            :custom-request="handleSiteUpload"
          /> -->
        </a-form-item>
      </a-col>
    </a-row>
  </a-form>
  <h3>查验箱号明细</h3>
  <a-table
    :data="containerDetail"
    :columns="columns"
  >
    <template #columns>
      <a-table-column
        v-for="column in columns"
        :key="column.dataIndex"
        :title="column.title"
        :width="column.width"
      >
        <template #cell="{ record, rowIndex }">
          <template v-if="column.formType === 'select'">
            <!-- only for containerNo blurrySearch -->
            <a-select
              v-model="record[column.dataIndex]"
              allow-search
              :filter-option="false"
              :options="containerNoOptions"
              :loading="containerNoLoading"
              @search="handleContainerNoSearch"
            />
          </template>
          <template v-else-if="column.formType === 'radio'">
            <a-radio-group v-model="record[column.dataIndex]">
              <a-radio :value="true">是</a-radio>
              <a-radio :value="false">否</a-radio>
            </a-radio-group>
          </template>
          <template v-else-if="column.formType === 'datePicker'">
            <a-date-picker
              show-time
              format="YYYY-MM-DD HH:mm"
              v-model="record[column.dataIndex]"
            />
          </template>
          <template v-else-if="column.formType === 'deleteIcon'">
            <icon-delete
              :style="{ cursor: 'pointer' }"
              @click="deleteRow(rowIndex)"
            />
          </template>
          <template v-else>
            <a-input v-model="record[column.dataIndex]" />
          </template>
        </template>
      </a-table-column>
    </template>
  </a-table>
  <a-button
    type="primary"
    :style="{ 'margin-top': '10px' }"
    @click="addContainer"
  >
    新增项
  </a-button>
  <template #footer>
    <a-button @click="toggleVisible">取消</a-button>
    <a-button type="primary" @click="handleConfirm">确定</a-button>
  </template>
</a-modal>
</template>

<script lang="ts">
import {
  defineComponent,
  computed,
  PropType,
  ref,
  reactive,
  onMounted,
} from 'vue'
import { Message } from '@arco-design/web-vue'
import { useVisible, CommonOperationMode } from '../composables'
import UploadInput from './uploadInput.vue'
import trackAPI from '@/api/track'
export default defineComponent({
  name: 'InspectionOperation',
  components: {
    UploadInput,
  },
  props: {
    mode: {
      type: Number as PropType<CommonOperationMode>,
      default: 0,
    },
    customsClearanceId: {
      type: Number,
      required: true,
    },
    logisticsNo: {
      type: String,
      required: true,
    },
  },
  emits: ['afterOperation'],
  setup(props, { emit }) {
    const receiptUploadInputRef = ref()
    const siteUploadInputRef = ref()
    const titleMap = {
      [CommonOperationMode.CREATE]: '新增查验详情',
      [CommonOperationMode.UPDATE]: '编辑查验详情',
    }
    const title = computed(() => {
      return titleMap[props.mode]
    })

    const { visible, toggleVisible } = useVisible()

    const formRef = ref()
    const form = ref<Record<string, any>>({})
    const fumigationBoxQuantityValidator = (value: string, cb: (errorMessage?: string) => void) => {
      return new Promise<void>(resolve => {
        if (+value > +form.value.boxQuantity) {
          cb('熏蒸箱量不能大于查验箱量')
        }
        resolve()
      })
    }
    const schedulingInspectionPlanTimeValidator = (value: string, cb: (errorMessage?: string) => void) => {
      return new Promise<void>(resolve => {
        if (new Date(value) > new Date(form.value.planInspectionTime)) {
          cb('排查验计划时间不能晚于计划查验时间')
        }
        resolve()
      })
    }
    const planInspectionTimeValidator = (value: string, cb: (errorMessage?: string) => void) => {
      return new Promise<void>(resolve => {
        if (form.value.schedulingInspectionPlanTime && new Date(value) < new Date(form.value.schedulingInspectionPlanTime)) {
          cb('计划查验时间不能晚于排查验计划时间')
        }
        if (new Date(value) > new Date(form.value.inspectionCompleteTime)) {
          cb('计划查验时间不能晚于查验完成时间')
        }
        resolve()
      })
    }
    const inspectionCompleteTimeValidator = (value: string, cb: (errorMessage?: string) => void) => {
      return new Promise<void>(resolve => {
        if (new Date(value) < new Date(form.value.planInspectionTime)) {
          cb('查验完成时间不能早于计划查验时间')
        }
        resolve()
      })
    }
    const rules = reactive({
      mode: [{ required: true, message: '请选择查验方式' }],
      boxQuantity: [{ required: true, message: '请输入查验箱量' }],
      schedulingInspectionPlanTime: [{ validator: schedulingInspectionPlanTimeValidator }],
      fumigationBoxQuantity: [
        { required: true, message: '请输入熏蒸箱量' },
        { validator: fumigationBoxQuantityValidator },
      ],
      planInspectionTime: [
        { required: true, message: '请选择计划完成时间' },
        { validator: planInspectionTimeValidator },
      ],
      inspectionCompleteTime: [
        { required: true, message: '请选择查验完成时间' },
        { validator: inspectionCompleteTimeValidator },
      ],
    })
    
    const modeOptions = ref<any[]>([])
    onMounted(() => {
      trackAPI.queryCommonSelector({ type: 'inspection_mode' })
        .then(({ code, data }) => {
          if (code === '200') {
            const { selectorInfoList = [] } = data || {}
            modeOptions.value = selectorInfoList.map((row: any) => ({
              label: row.name,
              value: row.name,
            }))
          }
        })
        .catch(console.error)
    })

    const containerDetail = ref<any[]>([])
    const addContainer = () => {
      containerDetail.value.push({
        sampling: false,
        nucleicAcid: false,
        fumigation: false,
        disinfect: false,
      })
    }
    const columns = reactive([
      { title: '箱号', dataIndex: 'containerNo', width: 140, formType: 'select' },
      { title: '是否采样', dataIndex: 'sampling', width: 90, formType: 'radio' },
      { title: '采样完成时间', dataIndex: 'sampleCompletionTime', width: 160, formType: 'datePicker' },
      { title: '是否核酸', dataIndex: 'nucleicAcid', width: 90, formType: 'radio' },
      { title: '核酸计划时间', dataIndex: 'nucleicAcidPlanTime', width: 160, formType: 'datePicker' },
      { title: '核酸完成时间', dataIndex: 'nucleicAcidCompletionTime', width: 160, formType: 'datePicker' },
      { title: '是否熏蒸', dataIndex: 'fumigation', width: 90, formType: 'radio' },
      { title: '熏蒸开始时间', dataIndex: 'fumigationStartTime', width: 160, formType: 'datePicker' },
      { title: '熏蒸完成时间', dataIndex: 'fumigationCompleteTime', width: 160, formType: 'datePicker' },
      { title: '是否消毒', dataIndex: 'disinfect', width: 90, formType: 'radio' },
      { title: '消毒完成时间', dataIndex: 'disinfectCompleteTime', width: 160, formType: 'datePicker' },
      { title: '操作', dataIndex: 'operation', width: 60, formType: 'deleteIcon' },
    ])

    type FormField = 'receiptUrl' | 'siteUrls'
    const handleFileRemove = (type: FormField) => {
      form.value[type] = ''
    }
    const handleReceiptUpload = ($event: any) => {
      handleUpload($event, 'receiptUrl')
    }
    const handleSiteUpload = ($event: any) => {
      handleUpload($event, 'siteUrls')
    }
    const handleUpload = (option: any, type: FormField) => {
      trackAPI.uploadFile({ file: option?.fileItem.file })
        .then(({ code, data }) => {
          if (code === '200') {
            form.value[type] = data?.url || ''
          }
        })
        .catch(console.error)
    }

    const beforeClose = () => {
      formRef.value.resetFields()
      form.value.receiptUrl = ''
      form.value.siteUrls = ''
      containerDetail.value.length = 0
      receiptUploadInputRef.value.clearFiles()
      siteUploadInputRef.value.clearFiles()
    }

    const validate = (): Promise<boolean> => {
      return new Promise((resolve, reject) => {
        formRef.value.validate((errors: any[] | undefined) => {
          if (errors) return resolve(false)

          let errorMessage: string
          for (let index = 0; index < containerDetail.value.length; index++) {
            const detail = containerDetail.value[index]
            if (!detail.containerNo) {
              errorMessage = `第${index + 1}行请选择箱号`
              return reject(errorMessage)
            }
            if (detail.sampling && !detail.sampleCompletionTime) {
              errorMessage = `第${index + 1}行请选择采样完成时间`
              return reject(errorMessage)
            }
            if (detail.nucleicAcid) {
              if (!detail.nucleicAcidPlanTime) {
                errorMessage = `第${index + 1}行请选择核酸计划时间`
                return reject(errorMessage)
              }
              if (!detail.nucleicAcidCompletionTime) {
                errorMessage = `第${index + 1}行请选择核酸完成时间`
                return reject(errorMessage)
              }
            }
            if (detail.fumigation) {
              if (!detail.fumigationStartTime) {
                errorMessage = `第${index + 1}行请选择熏蒸开始时间`
                return reject(errorMessage)
              }
              if (!detail.fumigationCompleteTime) {
                errorMessage = `第${index + 1}行请选择熏蒸完成时间`
                return reject(errorMessage)
              }
            }
            if (detail.disinfect && !detail.disinfectCompleteTime) {
              errorMessage = `第${index + 1}行请选择消毒完成时间`
              return reject(errorMessage)
            }
          }
          return resolve(true)
        })
      })
      
    }
    const modifyTimeFieldValue = (form: any) => {
      const newForm: { [key: string]: any } = {}
      for (let [key, value] of Object.entries(form)) {
        if (key.includes('Time') && value) {
          value += ':00'
        }
        newForm[key] = value
      }
      return newForm
    }
    const handleConfirm = () => {
      validate()
        .then((valid: boolean) => {
          if (!valid) return

          const newFormValue = modifyTimeFieldValue({ ...form.value })
          const receiptUrls = receiptUploadInputRef.value.getFiles()
          const siteUrls = siteUploadInputRef.value.getFiles()
          const params: Record<string, any> = {
            ...newFormValue,
            containers: containerDetail.value.map((row: any) => ({
              ...modifyTimeFieldValue(row),
            })),
            customsClearanceId: props.customsClearanceId,
            logisticsNo: props.logisticsNo,
          }
          if (props.mode === CommonOperationMode.CREATE) delete params.id
          const getFileUrl = (file: any) => file.url
          if (receiptUrls.length > 0) params.receiptUrl = receiptUrls.map(getFileUrl).join(',')
          if (siteUrls.length > 0) params.siteUrls = siteUrls.map(getFileUrl).join(',')
          let successMessage = '添加成功'
          if (props.mode === CommonOperationMode.UPDATE) {
            successMessage = '编辑成功'
          }
          trackAPI.createInspectionDetail(params)
            .then(({ code }) => {
              if (code === '200') {
                Message.success(successMessage)
                emit('afterOperation')
                toggleVisible()
              }
            })
            .catch(console.error)
        })
        .catch(errorMessage => {
          console.log({ errorMessage })
          Message.error(errorMessage)
        })
    }

    const deleteRow = (rowIndex: number) => {
      containerDetail.value.splice(rowIndex, 1)
    }

    const assembleLegacyFile = (url: string, index: number) => ({
      url,
      name: url,
      uid: `legacy-${index}`,
    })
    const fillUploader = (detail: any) => {
      receiptUploadInputRef.value.addFileList(
        detail.receiptUrl.split(',').map(assembleLegacyFile)
      )
      siteUploadInputRef.value.addFileList(
        detail.siteUrls.split(',').map(assembleLegacyFile)
      )
    }
    const prefill = (detail: any) => {
      const { containers, ...others } = detail
      form.value = others
      fillUploader(others)
      containerDetail.value = containers
    }

    const containerNoOptions = ref<any[]>([])
    const containerNoLoading = ref(false)
    const handleContainerNoSearch = (search: string) => {
      containerNoLoading.value = true
      trackAPI.queryContainerNoByName({
        logisticsNo: props.logisticsNo,
        search,
      })
        .then(({ code, data }) => {
          if (code === '200') {
            containerNoOptions.value = (data || []).map((row: any) => ({
              label: row.value,
              value: row.value,
            }))
          }
        })
        .catch(() => {
          containerNoOptions.value.length = 0
        })
        .finally(() => {
          containerNoLoading.value = false
        })
    }

    return {
      visible,
      toggleVisible,
      title,
      containerDetail,
      addContainer,
      columns,
      formRef,
      form,
      rules,
      modeOptions,
      handleFileRemove,
      handleReceiptUpload,
      handleSiteUpload,
      beforeClose,
      handleConfirm,
      deleteRow,
      prefill,
      containerNoOptions,
      containerNoLoading,
      handleContainerNoSearch,
      receiptUploadInputRef,
      siteUploadInputRef,
    }
  },
})
</script>
