<template>
<a-modal
  title="查验详情"
  width="800px"
  hide-cancel
  v-model:visible="visible"
>
  <a-table
    :expandable="expandable"
    :data="inspectionDetail"
    :columns="columns"
    :pagination="false"
  >
    <template #receiptUrl="{ record }">
      <a-link
        :href="record.receiptUrl"
        target="_blank"
        rel="noopener noreferrer"
      >
        {{ record.receiptUrl }}
      </a-link>
    </template>
    <template #siteUrls="{ record }">
      <a-popover
        trigger="click"
        position="right"
      >
        <a-link>{{ record.siteUrls }}</a-link>
        <template #content>
          <div
            v-for="(siteUrl, index) in record.siteUrls.split(',')"
            :key="index"
            style="max-width: 600px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;"
          >
            <a
              :title="siteUrl"
              :href="siteUrl"
              target="_blank"
              rel="noopener noreferrer"
            >
              {{ siteUrl }}
            </a>
          </div>
        </template>
      </a-popover>
    </template>
  </a-table>
  <a-button
    type="primary"
    :style="{ 'margin-top': '20px' }"
    @click="toggleOperationDialog(0)"
  >
    <template #icon>
      <icon-plus />
    </template>
    <span>新增项</span>
  </a-button>
  <inspection-operation-dailog
    ref="inspectionOperationDialogRef"
    :mode="operationMode"
    :customs-clearance-id="customsClearanceId"
    :logistics-no="logisticsNo"
    @afterOperation="afterOperation"
  />
</a-modal>
</template>

<script lang="ts">
import {
  defineComponent,
  reactive,
  ref,
  watch,
  h,
  resolveComponent,
  computed,
} from 'vue'
import InspectionOperationDailog  from './inspectionOperation.vue'
import { Message } from '@arco-design/web-vue'
import { useVisible, CommonOperationMode } from '../composables'
import trackAPI from '@/api/track'
import { Column } from '../index'

export default defineComponent({
  name: 'InspectionDialog',
  components: {
    InspectionOperationDailog,
  },
  props: {
    order: {
      type: Object,
      required: true,
    },
  },
  emits: ['afterOperation'],
  setup(props, { emit }) {
    const customsClearanceId = computed(() => {
      return props.order.key
    })
    const logisticsNo = computed(() => {
      return props.order.orderLogisticsNo
    })
    const inspectionOperationDialogRef = ref()
    const { visible, toggleVisible } = useVisible()

    const deleteInspectionDetail = (record: any) => {
      trackAPI.deleteInspectionDetail({ id: record.id })
        .then(({ code }) => {
          if (code === '200') {
            Message.success('删除成功')
            fetchDetail(props.order.key)
          }
        })
        .catch(console.error)
    }

    const columns = reactive<Column[]>([
      {
        title: '#',
        width: 70,
        render({ rowIndex }: { rowIndex: number }) {
          return rowIndex + 1
        },
      },
      {
        width: 70,
        render({ record }: { record: any }) {
          return [
            h(
              resolveComponent('a-link'),
              {
                onClick: () => {
                  toggleOperationDialog(CommonOperationMode.UPDATE, record)
                },
              },
              '编辑',
            ),
            h(
              resolveComponent('a-link'),
              {
                status: 'danger',
                onClick: () => {
                  deleteInspectionDetail(record)
                },
              },
              '删除',
            ),
          ]
        },
      },
      { title: '查验方式', dataIndex: 'mode', width: 100 },
      { title: '查验箱量', dataIndex: 'boxQuantity', width: 100 },
      { title: '熏蒸箱量', dataIndex: 'fumigationBoxQuantity', width: 100 },
      { title: '排查验计划时间', dataIndex: 'schedulingInspectionPlanTime', width: 140 },
      { title: '计划查验时间', dataIndex: 'planInspectionTime', width: 120 },
      { title: '查验完成时间', dataIndex: 'inspectionCompleteTime', width: 120 },
      {
        title: '查验小票',
        dataIndex: 'receiptUrl',
        width: 200,
        ellipsis: true,
        tooltip: true,
        slotName: 'receiptUrl',
      },
      {
        title: '现场查验照片',
        dataIndex: 'siteUrls',
        width: 200,
        ellipsis: true,
        slotName: 'siteUrls',
      },
    ])
    const inspectionDetail = ref([])

    watch(
      () => visible.value,
      (visible) => {
        if (visible) {
          fetchDetail(props.order.key)
        }
      },
    )

    const fetchDetail = (customsClearanceId: number | string) => {
      trackAPI.queryInspectionDetail({ customsClearanceId })
        .then(({ code, data }) => {
          if (code === '200') {
            inspectionDetail.value = (data || []).map((row: any) => ({
              ...row,
              containers: (row.containers || []).map((container: any) => ({
                ...container,
                samplingDesc: container.sampling ? '已采样' : '未采样',
                nucleicAcidDesc: container.nucleicAcid ? '已核酸' : '未核酸',
                fumigationDesc: container.fumigation ? '已熏蒸' : '未熏蒸',
                disinfectDesc: container.disinfect ? '已消毒' : '未消毒',
              })),
            }))
          }
        })
        .catch(console.error)
    }

    const expandable = reactive({
      width: 40,
      expandedRowRender(record: any) {
        return h(
          resolveComponent('a-table'),
          {
            data: record.containers,
            columns: containerColumns,
            pagination: false,
          },
        )
      },
    })

    const containerColumns = reactive([
      { title: '箱号', dataIndex: 'containerNo', width: 140 },
      { title: '是否采样', dataIndex: 'samplingDesc', width: 90 },
      { title: '采样完成时间', dataIndex: 'sampleCompletionTime', width: 120 },
      { title: '是否核酸', dataIndex: 'nucleicAcidDesc', width: 90 },
      { title: '核酸计划时间', dataIndex: 'nucleicAcidPlanTime', width: 120 },
      { title: '核酸完成时间', dataIndex: 'nucleicAcidCompletionTime', width: 120 },
      { title: '是否熏蒸', dataIndex: 'fumigationDesc', width: 90 },
      { title: '熏蒸开始时间', dataIndex: 'fumigationStartTime', width: 120 },
      { title: '熏蒸完成时间', dataIndex: 'fumigationCompleteTime', width: 120 },
      { title: '是否消毒', dataIndex: 'disinfectDesc', width: 90 },
      { title: '消毒完成时间', dataIndex: 'disinfectCompleteTime', width: 120 },
    ])

    const operationMode = ref(CommonOperationMode.CREATE)
    const toggleOperationDialog = (mode: CommonOperationMode, record: any) => {
      operationMode.value = mode
      if (record) {
        inspectionOperationDialogRef.value.prefill(record)
      }
      setTimeout(() => {
        inspectionOperationDialogRef.value.toggleVisible()
      })
    }

    const afterOperation = () => {
      fetchDetail(props.order.key)
      emit('afterOperation')
    }

    return {
      inspectionOperationDialogRef,
      visible,
      toggleVisible,
      columns,
      inspectionDetail,
      expandable,
      toggleOperationDialog,
      operationMode,
      afterOperation,
      customsClearanceId,
      logisticsNo,
    }
  }
})
</script>
