<template>
  <a-modal
    title="回执信息"
    width="800px"
    hide-cancel
    v-model:visible="visible"
  >
    <a-table :data="data" :columns="columns" :pagination="false"></a-table>
  </a-modal>
</template>

<script lang="ts">
import {
  defineComponent,
  reactive,
  watch,
} from 'vue'
import { useVisible } from '../composables'
import { Column } from '../index'
import trackAPI from '@/api/track'

export default defineComponent({
  name: 'ReceiptInfo',
  props: {
    order: {
      type: Object,
      required: true,
    },
  },
  setup(props) {
    const { visible, toggleVisible } = useVisible()

    watch(
      () => visible.value,
      (visible) => {
        if (visible) {
          trackAPI.qeuryCustomsReceipt({ decId: props.order.key })
            .then(({ code, data: receiptInfo }) => {
              if (code === '200') {
                data.splice(0, data.length, ...receiptInfo)
              }
            })
            .catch(console.error)
        }
      },
    )

    interface ReceiptInfo {
      noticeTime: string,
      noticeType: string,
      remark: string,
      id: number,
    }
    const data = reactive<ReceiptInfo[]>([])

    const columns = reactive<Column[]>([
      { title: '回执时间', dataIndex: 'noticeTime', width: 180 },
      { title: '回执类型', dataIndex: 'noticeType', width: 100 },
      { title: '备注', dataIndex: 'remark' },
    ])

    return {
      visible,
      toggleVisible,
      data,
      columns,
    }
  },
})
</script>
