<template>
<a-modal
  :title="title"
  width="400px"
  v-model:visible="visible"
>
  <a-form
    ref="formRef"
    label-align="left"
    :model="form"
    :label-col-props="{ span: 24 }"
    :wrapper-col-props="{ span: 24 }"
  >
    <a-form-item
      label="异常名称"
      field="task"
      :rules="[{ required: true, message: '请选择异常名称' }]"
    >
      <a-select
        v-model="form.task"
        placeholder="请选择"
        :options="exceptionList"
      />
    </a-form-item>
    <a-form-item
      label="异常描述"
      field="desc"
      :rules="[{ required: true, message: '请输入异常描述' }]"
    >
      <a-textarea
        v-model="form.desc"
        placeholder="请输入"
      />
    </a-form-item>
  </a-form>
  <template #footer>
    <a-button @click="handleCancel">取消</a-button>
    <a-button
      type="primary"
      @click="handleSubmit"
    >
      确定
    </a-button>
  </template>
</a-modal>
</template>

<script lang="ts">
import {
  defineComponent,
  ref,
  reactive,
  PropType,
  computed,
} from 'vue'
import { Message } from '@arco-design/web-vue'
import { ExceptionTypeNum } from '../composables'
import trackAPI from '@/api/track'
export default defineComponent({
  name: 'RegisterException',
  props: {
    exceptionType: {
      type: Number as PropType<ExceptionTypeNum>,
      default: ExceptionTypeNum.DECLARATION,
    },
    order: {
      type: Object,
      required: true,
    },
  },
  emits: ['afterOperation'],
  setup(props, { attrs, emit, slots }) {
    const visible = ref(false)
    const setVisible = (v: boolean) => visible.value = v

    const titleMap = {
      [ExceptionTypeNum.DECLARATION]: '登记申报异常',
      [ExceptionTypeNum.ONSITEDECLARATION]: '登记现场报关异常',
      [ExceptionTypeNum.INSPECTION]: '登记查验异常',
    }
    const title = computed(() => {
      return titleMap[props.exceptionType]
    })

    const exceptionListMap = {
      [ExceptionTypeNum.DECLARATION]: [
        { label: '舱单更改', value: 'exception009' },
        { label: '熔断情况特殊审批', value: 'exception010' },
        { label: '自动证无余量', value: 'exception011' },
        { label: '申报异常', value: 'exception015' },
        { label: '审结异常', value: 'exception016' },
        { label: '放行异常', value: 'exception023' },
      ],
      [ExceptionTypeNum.ONSITEDECLARATION]: [
        { label: '因客户原因改单', value: 'exception012' },
        { label: 'EHC无信息', value: 'exception013' },
        { label: '换卫生证', value: 'exception014' },
        { label: '现场报关异常', value: 'exception017' },
      ],
      [ExceptionTypeNum.INSPECTION]: [
        { label: '查验资料异常', value: 'exception022' },
        { label: '查验扣货_标签整改', value: 'exception018' },
        { label: '查验扣货_换证', value: 'exception019' },
        { label: '查验扣货_采样加急', value: 'exception020' },
        { label: '查验扣货其他异常', value: 'exception021' },
      ],
    }
    const exceptionList = computed(() => {
      return exceptionListMap[props.exceptionType]
    })

    const formRef = ref()

    type ExceptionForm = {
      task: number | string,
      desc: string,
    }
    const form = reactive<ExceptionForm>({
      task: '',
      desc: '',
    })
    const resetForm = () => {
      console.log('reset form after close')
      formRef.value.resetFields()
    }

    const handleSubmit = () => {
      formRef.value.validate((errors: object | undefined) => {
        if (errors) return

        const { key, orderLogisticsNo } = props.order
        const { task, desc } = form
        trackAPI.registerExceptionForDeclaration({
          id: key,
          logisticsNo: orderLogisticsNo,
          task,
          desc,
        })
          .then(({ code }) => {
            if (code === '200') {
              Message.success('异常登记成功')
              resetForm()
              setVisible(false)
              emit('afterOperation')
            }
          })
          .catch(console.error)
      })
    }
    const handleCancel = () => {
      resetForm()
      setVisible(false)
    }

    return {
      title,
      visible,
      setVisible,
      exceptionList,
      formRef,
      form,
      handleSubmit,
      handleCancel,
    }
  },
})
</script>