<template>
<div class="upload-input">
  <a-upload
    v-model="fileList"
    :show-file-list="false"
    :custom-request="handleUpload"
  >
    <template #upload-button>
      <div class="upload-trigger">
        <div @click="stopPropagation">
          <a-popover trigger="click">
            <span>
              <span class="guide-text" :class="{ active: hasUploadedFile }">
                {{ guideText }}
              </span>
              <icon-attachment
                v-if="hasUploadedFile"
                style="color: #2969ff; margin-left: 8px;"
              />
            </span>
            <template #content>
              <div
                v-for="file in fileList"
                :key="file.uid"
              >
                <a-link
                  :href="file.url"
                  target="_blank"
                  rel="noopener noreferrer"
                >
                  {{ file.name }}
                </a-link>
                <icon-delete
                  style="margin-left: 8px; cursor: pointer;"
                  @click="deleteUploadedFile(file)"
                />
              </div>
            </template>
          </a-popover>
        </div>
        <icon-upload style="color: #2969ff;" />
      </div>
    </template>
  </a-upload>
</div>
</template>

<script lang="ts">
import {
  defineComponent,
  ref,
  computed,
} from 'vue'
import trackAPI from '@/api/track'

export default defineComponent({
  name: 'UploadInput',
  props: {
    multiple: {
      type: Boolean,
      default: true,
    },
  },
  setup(props) {
    type UploadFile = {
      url: string,
      name: string,
      uid: string,
    }

    const handleUpload = (option: any) => {
      trackAPI.uploadFile({ file: option?.fileItem.file })
        .then(({ code, data }) => {
          if (code === '200') {
            if (props.multiple) {
              fileList.value.push({
                url: data.url || '',
                name: option.fileItem.name,
                uid: option.fileItem.uid,
              })
            } else {
              fileList.value.splice(0, 1, {
                url: data.url || '',
                name: option.fileItem.name,
                uid: option.fileItem.uid,
              })
            }
          }
        })
        .catch(console.error)
    }
    const fileList = ref<UploadFile[]>([])
    const hasUploadedFile = computed(() => {
      return fileList.value.length > 0
    })
    const guideText = computed(() => {
      if (fileList.value.length > 0) return '已上传'

      return '请上传'
    })

    const deleteUploadedFile = (fileToDelete: UploadFile) => {
      fileList.value = fileList.value.filter((file: UploadFile) => file.uid !== fileToDelete.uid)
    }

    const stopPropagation = ($event: any) => {
      $event.stopPropagation()
    }

    const getFiles = () => fileList.value

    const clearFiles = () => fileList.value.length = 0

    const addFileList = (fileListToAdd: UploadFile[]) => {
      fileList.value = [...fileList.value, ...fileListToAdd]
    }

    return {
      handleUpload,
      fileList,
      hasUploadedFile,
      guideText,
      deleteUploadedFile,
      stopPropagation,
      getFiles,
      clearFiles,
      addFileList,
    }
  },
})
</script>

<style lang="less" scoped>
.upload-input {
  background-color: var(--color-fill-2);
  width: 100%;
  line-height: 30px;
  border-radius: var(--border-radius-small);
  padding: 0 12px;

  /deep/.arco-upload {
    width: 100%;
  }

  .upload-trigger {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .guide-text:not(.active) {
      color: var(--color-text-3);
    }

    .guide-text.active {
      color: var(--color-text-5);
    }
  }
}
</style>
