<template>
<a-modal v-model:visible="visible" :mask-closable="false" :footer="false" :width="1000" unmountOnClose >
    <template #title>
      客户单证签收清单
    </template>
    
    <div class="signTitle">
        <!-- 打印日期: -->
        <a-button 
        type="primary"
        v-print="'#printDom'"
        >
            打印
        </a-button>
    </div>
    <div id="printDom">
      <h4 class="title-data">打印日期：{{date}}</h4>
      <a-table :columns="columns" :data="tableData" :pagination="false">
          <template #Index="{ record,rowIndex }">
            {{rowIndex+1}}
          </template>
      </a-table>
        <div class="describle">
          <p>共计 {{tableData.length}} 张单证</p>
          <p>客户签字：</p>
        </div>
        <div class="describle">
          <p>客服专员：{{userInfo.userName}}</p>
          <p>签收日期：</p>
        </div>
        <h2 class="photo">拍照请回传</h2>
    </div>
</a-modal>
</template>
<script lang="ts">
import { receiptDocumentsApi } from '@/api/receiptDocumentsApi/index'
import { useUserStore } from '@/store';
import {
  defineComponent,
  ref,
  watch,
  reactive,
  h,
  toRefs,
  computed,
  onMounted,
  nextTick,
} from 'vue';
import print from 'vue3-print-nb'
import { receiptDocumentsApi } from '@/api/receiptDocumentsApi/index'
export default defineComponent({
    props:{
        selectedData:{
        type: Array,
        require: true,
        default: () => [],

        }
    },
    directives: {
        print   
    },
    setup(props){
        let userInfo = useUserStore()
       const columns=
        [
          {
            title: '序号',
            dataIndex: 'name1',
            slotName: 'Index'
          },
          {
            title: '业务编号',
            dataIndex: 'logisticsNo'
          },
          {
            title: '委托人',
            dataIndex: 'clientEnterpriseName',
          },
          {
            title: '海关编号',
            dataIndex: 'customsNo'
          },
          {
            title: '提单号',
            dataIndex: 'mblNo',
          },
          {
            title: '签收单号',
            dataIndex: 'signNo',
          },
          {
            title: '签收时间',
            dataIndex: 'signDate',
          },
          {
            title: '客户业务编号',
            dataIndex: 'thirdPartyOrderNo',
            width:200
          },
          {
            title: '备注',
            dataIndex: 'remark',
          },
        ]
        const visible = ref(false);
        const data=reactive({
            tableData:[]
        })
        watch(visible,(nVal, oVal) => {
            if(nVal){
                console.log(props.selectedData)
                receiptDocumentsApi.printReceiptList({ids:props.selectedData.join(',')}).then(res=>{
                  data.tableData=res.data
                })
            }
          }
        );
        return{
            visible,
            columns,
            userInfo,
            ...toRefs(data)
        }
    }
})
</script>
<style lang="less" scoped>
.signTitle{
    display: flex;
    justify-content:flex-end;
    margin-bottom:12px;
}
.title-data{font-size:14px;margin-bottom:10px;}
.describle{display: flex;
  p{flex: 1;font-size:12px;line-height:40px;}
}
.photo{line-height:40px;font-size:12px;font-weight: bold;}

</style>