<template>
<a-modal v-model:visible="visible" :mask-closable="false"
 :width="684" @before-ok="handleSubmit" unmountOnClose :ok-loading="false">
    <template #title>
      单证登记
    </template>
    <a-form ref="formRef" :model="form" layout="vertical">
      <a-form-item field="documentType" label="单证名称" :rules="[{required:true,message:'单证名称必填'}]" class="marginR72">
        <a-select v-model="form.documentType" :options="documentTypeList" :field-names="{value: 'codesValues', label: 'codeName'}"
            placeholder="" />
      </a-form-item>
      <a-form-item field="logisticsNo" label="业务编号" :rules="[{required:true,message:'业务编号必填'}]">
        <a-select v-model="form.logisticsNo" :options="businessList" @change="logisticsNoChange()"
            placeholder="" />
      </a-form-item>
      <a-form-item field="customsNo" label="海关编号" class="marginR72">
        <a-select v-model="form.customsNo" :options="customsByNoList"
            placeholder="" />
      </a-form-item>
      <a-form-item field="clientEnterpriseName" label="委托人">
        <a-input v-model="form.clientEnterpriseName" disabled placeholder="" />
      </a-form-item>
      <a-form-item field="remark" label="备注">
        <a-textarea v-model="form.remark" placeholder="" allow-clear/>
      </a-form-item>
    </a-form>
</a-modal>
</template>
<script lang="ts">
import {
  defineComponent,
  ref,
  watch,
  reactive,
  h,
  toRefs,
  computed,
  onMounted,
  nextTick,
} from 'vue';
import { receiptDocumentsApi } from '@/api/receiptDocumentsApi/index'
export default defineComponent({
    setup(props,{attrs, emit, slots}){
        const visible = ref(false);
        const form = reactive({
            documentType: '',
            logisticsNo: '',
            customsNo: "",
            clientEnterpriseName:"",
            clientId:"",
            remark:""
        })
        const data=reactive({
          documentTypeList:[],
          businessList:[],
          customsByNoList:[]
        })
        const handleOk=()=>{
        };
        // 
        const logisticsNoChange=()=>{
            receiptDocumentsApi.getCustomsByNoList({orderLogisticsNo:form.logisticsNo}).then(res=>{
              data.customsByNoList=res.data.customsNos || ['12334','e9938r8']
              form.clientEnterpriseName=res.data.clientNameZh
              form.clientId=res.data.clientId
            })
        }
        const formRef = ref()
        const handleSubmit = (done) => {
            formRef.value.validate((error,values)=>{
              if(!error){
               receiptDocumentsApi.documentRegisterSave(form).then(res=>{
                  done()
                  emit('refresh')
               })
              }else{
                done(false)
              }
            })
        }
        watch(visible,(nVal, oVal) => {
            if(nVal){
                let obj={
                    documentType: '',
                    logisticsNo: '',
                    customsNo: "",
                    clientEnterpriseName:"",
                    clientId:"",
                    remark:""
                }
                  Object.assign(form,obj)
                receiptDocumentsApi.documentTypeList({codeTypeCode:'businessdocuments'}).then(res=>{
                  data.documentTypeList=res.data
                })
                receiptDocumentsApi.getbusinessList().then(res=>{
                  data.businessList=res.data
                })
            }
          }
        );
        return{
            visible,
            form,
            handleOk,
            logisticsNoChange,
            handleSubmit,
            formRef,
            ...toRefs(data)
        }
    }
})
</script>
<style lang="less" scoped>
  .arco-form{
    flex-direction: row;
    flex-wrap: wrap;
    .arco-form-item{
      width:286px
    }
    .marginR72{margin-right:72px}
  }
</style>