<script lang="tsx">
import { defineComponent, useAttrs, reactive, ref, defineExpose, nextTick  } from 'vue'
import { useItems } from '.'
import MFromItem from './item.vue'

export default defineComponent({
  name: 'mForm',
  // functinal: true,
  setup (props, { expose }) {
    const attrs = useAttrs() as any
    // form 默认配置
    const defaultCofig = reactive({
      // layout: 'vertical',
      size: 'small',
      labelWidth: '120px',
    })
    // form 配置
    const formCofig = reactive({
      ...defaultCofig,
      ...attrs, ...attrs['form-config']
    })
    // 表单ref
    const $form = ref(attrs.ref)
    // 子组件抛出 属性ref及事件
    expose({
      $form,
      validate: (callback: any) => $form?.value?.validate(callback),
      validateField: (callback: any) => $form?.value?.validateField(callback),
      resetFields: (callback: any) => $form?.value?.resetFields(callback),
      clearValidate: (callback: any) => $form?.value?.clearValidate(callback),
      setFields: (callback: any) => $form?.value?.setFields(callback),
    })
    // 表单form-item
    const renderItems = (items: any) => {
      return (
        <MFromItem { ...formCofig} { ...items } v-model:form={ attrs.form } />
      )
    }
    // 栅格布局col
    const renderCols = (c: any) => {
      const girdItem = {
        span: 1,
        ...c.girdConfig
      }
      return (
        <a-grid-item { ...girdItem }>
          { renderItems(c) }
        </a-grid-item>
      )
    }
    // 栅格布局gird
    const renderGirds = (g: any) => {
      const gird = {
        cols: { xs: 1, sm: 2, md: 3, lg: 4, xl: 4, xxl: 4 },
        colGap: 12,
        ...formCofig.girdConfig
      }
      return (
        <a-grid {...gird } >
          { useItems(g, attrs).map((r: any) => renderCols(r)) }
        </a-grid>
      )
    }

    return () => (
      <a-form ref={$form} { ...formCofig }>
        {
          renderGirds(attrs['form-items'])
        }
      </a-form>
    )
  }
})
</script>

<style scoped lang="less">
:deep(.arco-input-wrapper) {
  background-color: transparent;
}
:deep(.arco-row) {
  flex-wrap: nowrap;
}

</style>