
<script lang="tsx">
/**
 * @param isHover 是否开启hover主动触发focus
 * @param labelWidth 是否设置固定label宽度
 * 
 */
import { defineComponent, useAttrs, h, resolveComponent, ref, nextTick } from 'vue'
import { useItem, useProps } from '.'
// import { selectBar } from './type'
export default defineComponent({
  name: 'm-form',
  components: {
    // selectBar
  },
  setup () {
    const attrs = useAttrs() as any

    const inputRef = ref<any>(null)
    const mouseEnter = async () => {
      if (attrs.isHover === false) return
      await nextTick()
      inputRef.value.focus()
    }
    const mouseLeave = async () => {
      if (attrs.isHover === false) return
      await nextTick()
      inputRef.value.blur()
    }

    console.log(attrs.is);
    
    const renderItem = {
      functional:true,
      props: ['modelValue'],
      emits: ['update:modelValue'],
      render () {
        return h(resolveComponent(attrs.is), {
          ref: inputRef,
          modelValue: attrs.model[attrs.field],
          'onUpdate:modelValue': (value: any) => attrs.model[attrs.field] = value,
          ...useProps(attrs)
        })
      }
    }

    return () => (
      <a-form-item { ...useItem(attrs) } >
        {
          <renderItem onMouseenter={ mouseEnter } onMouseleave={ mouseLeave }  v-model:modelValue={ attrs.model[attrs.field] } { ...attrs } />
        }
      </a-form-item>
    )
  }
})
</script>

<style scoped>
</style>