.dw_form {
  .dw_form_item {
    .arco-form-item-label {
      display: flex;
      // justify-content: space-around;
      align-items: center;
      width: 100%;
      // label append
      .label_wrapper{
        width: 100%;
        width: calc(100% - 10px);
        display: flex;
        justify-content: space-between;
      }
    }
    .full_width {
      width: 100%;
    }
  }
  // 空行样式处理
  .line_empty {
    margin: 0;
    height: 0;
    padding: 0;
  }
  
}
