<!-- 货物清单列表弹窗 -->
<template>
  <a-modal v-model:visible="dialogVisible" :on-before-ok="confirm" :width="'50%'" :mask-closable="false" :body-style="{
    padding: '0 20px 20px 20px',
  }">
    <template #title>
      {{ config.title }}
    </template>
    <div class="content">
      <div class="approvalBts">
        <a-button type="outline" status="danger" size="small" @click="approval('0')">驳回</a-button>
        <a-button type="outline" size="small" style="margin-left: 10px" @click="approval('1')">通过</a-button>
      </div>
      <div class="list-box">
        <h4 class="list-title">货物清单列表</h4>
        <a-table class="commonTable" :data="dataMap.dataSourceGoods" :scrollConfig="scrollConfig" column-resizable
          :columns="columnsGoods" :row-selection="dataMap.rowSelection" :pagination="false"
          :bordered="{ wrapper: true, cell: true }" v-model:selectedKeys="dataMap.selectedKeys">

          <template #attachmentName="{ record }">
            <span @click="getCommodities(record.cargoListApproveResultId)"
              style="color: rgb(41, 105, 255); cursor: pointer;">{{
                  record.attachmentName
              }}</span>

          </template>
        </a-table>
      </div>
      <div class="list-box">
        <h4 class="list-title">商品列表</h4>
        <a-table class="commonTable" :scrollConfig="scrollConfig" column-resizable :data="dataMap.dataSourceCommodities"
          :columns="columnsCommodities" :bordered="{ wrapper: true, cell: true }" />
      </div>
    </div>
  </a-modal>
  <!-- 弹窗 -->
  <TaskPop ref="taskPopRef" :config="dataMap.popCnfig" @save="save">
    <template #content>
      <a-textarea v-model="dataMap.popValue" placeholder="请输入内容" :max-length="200" show-word-limit></a-textarea>
    </template>
  </TaskPop>
</template>

<script lang="ts">
export default {
  name: 'TaskPop',
};
</script>

<script setup lang="ts">
import { Message } from '@arco-design/web-vue';
import TaskPop from '@/views/task/components/modules/taskPop.vue';
import { defineProps, defineEmits, defineExpose, ref, reactive } from 'vue';
import { taskApi } from '@/api';
const taskPopRef = ref<any>(null);
const props = defineProps({
  config: Object,
});
// const status
const dialogVisible = ref(false);
const columnsGoods = ref([
  {
    width: 300,
    title: '货物清单',
    slotName: 'attachmentName',
    dataIndex: 'attachmentName',
    fixed: 'left',
  },
  {
    width: 200,
    title: '上传时间',
    dataIndex: 'createTime',
  },
  {
    width: 100,
    title: '审核结果',
    dataIndex: 'statusName',
  },
  {
    width: 100,
    title: '审核意见',
    dataIndex: 'opinion',
  },
  {
    width: 100,
    title: '审核人',
    dataIndex: 'reviewer',
  },
  {
    width: 200,
    title: '审核时间',
    dataIndex: 'auditTime',
  },
]);
const columnsCommodities = ref([
  {
    width: 150,
    title: '商品项号',
    dataIndex: 'commodityItemNumber',
    fixed: 'left',
  },
  {
    width: 80,
    title: '品名',
    dataIndex: 'productName',
  },
  {
    width: 100,
    title: '集装箱号',
    dataIndex: 'containerNo',
  },
  {
    width: 150,
    title: '生产厂家名称',
    dataIndex: 'manufacturerName',
  },
  {
    width: 100,
    title: '注册号',
    dataIndex: 'companyNo',
  },
  {
    width: 150,
    title: '生产批次号',
    dataIndex: 'productionBatch',
  },
  {
    width: 100,
    title: '原产国',
    dataIndex: 'countryOrigin',
  },
  {
    width: 100,
    title: '品牌',
    dataIndex: 'brand',
  },
  {
    width: 100,
    title: '规格',
    dataIndex: 'specification',
  },
  {
    width: 100,
    title: '数量',
    dataIndex: 'quantity',
  },
  {
    width: 100,
    title: '数量单位',
    dataIndex: 'quantityUnit',
  },
  {
    width: 100,
    title: '数量单位',
    dataIndex: 'quantityUnit',
  },
  {
    width: 100,
    title: '重量',
    dataIndex: 'weight',
  },
  {
    width: 150,
    title: '重量单位',
    dataIndex: 'weightUnit',
  },
]);
const dataMap = reactive({
  popValue: '', //气泡框内容
  rowSelection: {
    type: 'checkbox',
    showCheckedAll: true,
    width: 30,
    fixed: true,
  },
  dataSourceGoods: [] as any[],
  selectedKeys: [] as string[],
  dataSourceCommodities: [] as any[],
  actStatus: '',
  popCnfig: {
    title: '驳回',
    width: '60%',
    titleAlign: 'start',
  },
  scrollConfig: { y: '100%' },
  orderLogisticsNo: 'D_MYBD220510149',
});
const openDialog = (orderLogisticsNo: string) => {
  dialogVisible.value = true;
  dataMap.orderLogisticsNo = orderLogisticsNo
  dataMap.selectedKeys = []
  getGoods()
};
const closeDialog = () => {
  dialogVisible.value = false;
};
const emits = defineEmits(['save']);
const confirm = (down: any) => {
  emits('save');
  down(true);
};

// 弹窗保存
const save = async () => {
  await taskApi.functionCargolistAudit({
    status: dataMap.actStatus,
    cargoListApproveResultIds: dataMap.selectedKeys,
    opinion: dataMap.popValue || '',
  })
  dataMap.dataSourceCommodities = []
  dataMap.popValue = ''
  getGoods()
};
//status 0:驳回，1：通过
const approval = (status: any) => {
  if (dataMap.selectedKeys.length === 0) return Message.error("请选择货物清单！")
  dataMap.popCnfig.title = status == 0 ? '驳回' : '通过'
  taskPopRef.value.openDialog();
  dataMap.actStatus = status
};

const getCommodities = async (id: string) => {
  const { data } = await taskApi.listCargolistAuditProduct({ cargoListApproveResultId: id })
  if (data == null || data.length == 0) return dataMap.dataSourceCommodities = []
  dataMap.dataSourceCommodities = data.map((el: any) => {
    return el
  })
}
const getGoods = async () => {
  const { data } = await taskApi.listCargolistAudit({ orderLogisticsNo: dataMap.orderLogisticsNo })
  if (data == null || data.length == 0) return dataMap.dataSourceGoods = []
  dataMap.dataSourceGoods = data.map((el: any) => {
    el.key = el.cargoListApproveResultId
    return el
  })
}
defineExpose({
  openDialog,
  closeDialog,
});
</script>

<style lang="less" scoped>
// .commonTable {
//   width: calc(~'100% - 40px');
// }
.content {
  position: relative;

  .list-box {
    .list-title {
      position: relative;
      padding-left: 15px;

      &::before {
        content: '';
        width: 4px;
        height: 12px;
        background-color: rgb(var(--primary-6));
        position: absolute;
        border-radius: 25px;
        z-index: 1;
        left: 0;
        top: 50%;
        margin-top: -6px;
      }
    }
  }

  .approvalBts {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
  }
}
</style>

