<template>
  <a-modal
    v-model:visible="dialogVisible"
    :on-before-ok="confirm"
    :width="config.width"
    :title-align="config.titleAlign"
    :mask-closable="false"
  >
    <template #title>
      {{ config.title }}
    </template>
    <slot name="content"></slot>
  </a-modal>
</template>

<script lang="ts">
export default {
  name: 'TaskPop',
};
</script>

<script setup lang="ts">
import { Message } from '@arco-design/web-vue';
import { defineProps, defineEmits, defineExpose, ref } from 'vue';
const props = defineProps({
  config: Object,
});
const dialogVisible = ref(false);

const openDialog = () => {
  dialogVisible.value = true;
};
const closeDialog = () => {
  dialogVisible.value = false;
};
const emits = defineEmits(['save']);
const confirm = (down) => {
  emits('save');
  down(true);
};

defineExpose({
  openDialog,
  closeDialog,
});
</script>

<style lang="less" scoped>
</style>

