<!-- 任务头部按钮 -->
<template>
  <a-row class="container-bts">
    <a-col :span="config.startSpan || 16">
      <a-row justify="start">
        <a-row style="margin-right: 20px">
          <slot name="start"></slot>
        </a-row>
        <a-row>
          <slot name="center"></slot>
        </a-row>
      </a-row>
    </a-col>
    <a-col :span="config.endSpan || 8">
      <a-row justify="end">
        <slot name="end"></slot>
      </a-row>
    </a-col>
  </a-row>
</template>
<script lang="ts">
import { defineComponent, toRefs, reactive, watch, ref } from 'vue';
export default defineComponent({
  name: 'TaskNavBts',
  props: {
    config: {
      type: Object,
    },
  },
  setup(props, { emit, slots, attrs }) {
    const config = ref(props.config || {});
    return {
      config,
    };
  },
});
</script>
<style lang="less" scoped>
:deep(.button-area) {
  width: 100%;
  padding: 0;
  height: 32px;
}
.container-bts {
  padding: 0 0 20px 0;
}
</style>
