<template>
  <a-modal
    v-model:visible="visible"
    :mask-closable="false"
    @before-ok="handleSubmit"
    :width="326"
  >
    <template #title> 制单派单 </template>
    <a-form ref="formRef" :model="form" layout="vertical">
      <a-form-item label="制单派单类型">
        <a-radio-group v-model="form.urgentFlag">
          <a-radio :value="false">正常</a-radio>
          <a-radio :value="true">加急</a-radio>
        </a-radio-group>
      </a-form-item>
      <a-form-item label="流转文件类型">
        <a-radio-group v-model="form.prepareCirculationDocument">
          <a-radio :value="1">正本</a-radio>
          <a-radio :value="2">扫描件</a-radio>
        </a-radio-group>
      </a-form-item>
      <a-form-item label="备注">
        <a-textarea v-model="form.prepareRemark" allow-clear />
      </a-form-item>
    </a-form>
  </a-modal>
</template>
<script lang="ts">
import {
  defineComponent,
  ref,
  watch,
  reactive,
  h,
  toRefs,
  computed,
  onMounted,
  nextTick,
} from 'vue';
import { runOrderApi } from '@/api/runOrderApi/index';
export default defineComponent({
  name: 'businessComplate',
  props: {
    orderLogisticsNo: {
      type: Array,
      default: [],
    },
  },
  setup(props) {
    const visible = ref(false);
    const form = reactive({
      urgentFlag: false,
      prepareCirculationDocument: 2,
      prepareRemark: '',
    });
    const handleSubmit = (done) => {
      // let param=[]
      // props.orderLogisticsNo.forEach(item=>{
      //   param.push({
      //     orderLogisticsNoList:item,
      //      ...form
      //   })
      // })
      // console.log(props.orderLogisticsNo)
      runOrderApi
        .documentPreparationSubmit({
          orderLogisticsNo: props.orderLogisticsNo,
          ...form,
        })
        .then((res) => {
          if (res.code == 200) {
            Message.success('制单派单成功！');
            done();
          } else {
            done(false);
          }
        });
    };
    return {
      visible,
      handleSubmit,
      form,
    };
  },
});
</script>
