<template>
  <a-modal
    v-model:visible="visible"
    :mask-closable="false"
    :footer="false"
    :width="1000"
    @cancel="handleCancel"
  >
    <template #title> 正本签收 </template>
    <div class="search-title">
        <a-input-search v-model="keyword" :style="{width:'320px'}" placeholder="业务编号/PI号/提单号/委托人"  allow-clear @press-enter="search" @search="search" @clear="search"/>
        <div class="title-btn">
            <a-button type="outline" @click="allOrPartSign(1)">部分签收</a-button>
            <a-button type="outline" @click="allOrPartSign(2)">全部签收</a-button>
        </div>
    </div>
    <a-table row-key="orderLogisticsNo" :columns="columns" :data="tableData"  :scroll="scroll" :row-selection="rowSelection"
             v-model:selectedKeys="selectedKeys" @page-change="pageChange"  @page-size-change="pageSizeChange" :pagination='pagination'>
        <template #status="{ record,rowIndex }">
          <!-- {{record.originalSignatureStatus==1?'部分签收':record.originalSignatureStatus==2?'全部签收':'未签收'}}{{record.operator}} -->
          <a-radio-group v-model="record.originalSignatureStatus" @change="statusChange(record)">
            <a-radio :value="1">部分签收</a-radio>
            <a-radio :value="2">全部签收</a-radio>
          </a-radio-group>        
        </template>
         <template #mark="{ record,rowIndex }">
          <a-input v-model="record.mark" @blur="statusChange(record)"></a-input>
         </template>
        <!-- <template #opt="{ record,rowIndex }">
            <a-select v-model="record.signatureStatus" @change="statusChange(record)">
              <a-option :value="1">部分签收</a-option>
              <a-option :value="2">全部签收</a-option>
            </a-select>
        </template> -->
    </a-table>
  </a-modal>
</template>

<script lang="ts">
import { runOrderApi } from '@/api/runOrderApi/index';
import {
  defineComponent,
  ref,
  watch,
  reactive,
  h,
  toRefs,
  computed,
  onMounted,
  nextTick,
} from 'vue';
import { Message } from '@arco-design/web-vue';
export default defineComponent({
    name: 'signature',
    props: {
      viewUserId: {
        type: String,
        default: '',
      },
    },
    setup(props){
       const visible = ref(false);
       const columns=
        [
          {
            title: '业务编号',
            dataIndex: 'orderLogisticsNo',
            ellipsis: true,
            tooltip: {position: 'bottom'},
          },
          {
            title: 'pi号',
            dataIndex: 'piNo',
            ellipsis: true,
            tooltip: {position: 'bottom'},
          },
          {
            title: '委托人',
            dataIndex: 'clientName',
            ellipsis: true,
            tooltip: {position: 'bottom'},
          },
          {
            title: '正本签收状态',
            dataIndex: 'originalSignatureStatusName',
            width:240,
            slotName: 'status'
          },
          // {
          //   title: '签收操作',
          //   slotName: 'opt'
          // },
          {
            title: '备注',
            dataIndex: 'mark',
            slotName: 'mark'
          }
        ]
       const scroll=
        {
          y:300
        }
       const data=reactive({
          tableData:[],
          selectedKeys:ref([]),
          rowSelection:{
            type: 'checkbox',
            showCheckedAll: true,
            onlyCurrent: false,
          },
          pageNum:1,
          pageSize:10,
          keyword:"",
          pagination:{
            'size': 'mini',
            'total': '',
            'current': 1, //  当前页码
            'page-size': 10, // 每页展示的数据条数
            'show-page-size': true,
            'page-size-options': [10, 20, 30, 40, 50],
            'show-total': true,
            'show-jumper': true,
          },
          params:{

          },
          pageChange(page: number) {
            data.pagination.current = page;
            data.pageNum = page;
            data.getList()
          },
          pageSizeChange(pageSize: number) {
            data.pagination['page-size'] = pageSize;
            data.pageSize = pageSize;
            data.getList()
          },
          getList(){
              runOrderApi.signQuery({
                pageNum:data.pageNum,
                pageSize:data.pageSize,
                keyword:data.keyword,
                viewUserId:props.viewUserId,
                viewSystemId:1,
                orderByViewSystemFieldId:""
              }).then(res=>{
                data.selectedKeys=[]
                data.tableData=res.data.list
                data.tableData.forEach(item=>{
                  item.signatureStatus=''
                  item.mark=""
                })
                 data.pagination.total=res.data.total
              })
          },
          statusChange(item){
              runOrderApi.signSubmit([
                {
                  orderLogisticsNo:item.orderLogisticsNo,
                  originalSignatureStatus:item.originalSignatureStatus,
                  originalExceptionDescription:item.mark
                }
              ]).then(res=>{
                if(res.code==200){
                  data.getList()
                }
              })
          },
          allOrPartSign(order){
            let arr=[]
            if(data.selectedKeys.length>0){
              data.selectedKeys.forEach(key=>{
                data.tableData.some(item=>{
                  if(item.orderLogisticsNo==key){
                    item.signatureStatus=order
                    arr.push({
                      orderLogisticsNo:item.orderLogisticsNo,
                      originalSignatureStatus:item.signatureStatus,
                      originalExceptionDescription:item.mark
                    })
                    return true
                  }
                })
              })
              runOrderApi.signSubmit(arr).then(res=>{
                if(res.code=='200'){
                  data.getList()
                }
              })
            }else{
              Message.warning('请选择运单')
            }
          },
        allOrPartSign(order) {
          let arr = [];
          if (data.selectedKeys.length > 0) {
            data.selectedKeys.forEach((key) => {
              data.tableData.some((item) => {
                if (item.orderLogisticsNo == key) {
                  item.signatureStatus = order;
                  arr.push({
                    orderLogisticsNo: item.orderLogisticsNo,
                    originalSignatureStatus: item.signatureStatus,
                    originalExceptionDescription: item.mark,
                  });
                  return true;
                }
              });
            });
            runOrderApi.signSubmit(arr).then((res) => {
              if (res.code == '200') {
                data.getList();
              }
            });
          } else {
            Message.warning('请选择运单');
          }
        },
    })
    const search = () => {
      data.getList();
    };
    watch(visible, (nVal, oVal) => {
      if (nVal) {
        data.keyword = '';
        data.pagination.current = 1;
        data.pageNum = 1;
        data.pagination['page-size'] = 10;
        data.pageSize = 10;
        data.getList();
      }
    });
    return {
      visible,
      columns,
      scroll,
      search,
      ...toRefs(data),
    };
  },
});
</script>

<style lang="less" scoped>
.search-title {
  display: flex;
  justify-content: space-between;
  .title-btn {
    display: flex;
    .arco-btn {
      margin-left: 8px;
    }
  }
}
.arco-table {
  margin-top: 20px;
}
</style>