


<template>
  <div class="container">
    <a-modal v-model:visible="visible" title="新增汇率" @cancel="handleCancel" @before-ok="handleBeforeOk" :width="648"
      :mask-closable="false">
      <a-form ref="formRef" :size="form.size" :model="form" @submit="handleSubmit" layout="vertical">
        <a-row :gutter="24">
          <a-col :span="12">
            <a-form-item field="companiesCode" label="公司" :rules="[{ required: true, message: '公司必填' }]"
              :validate-trigger="['change', 'input']">
              <a-select placeholder="请选择公司" multiple v-model="form.companiesCode" :max-tag-count="1" :default-value="form.companiesCode">
                <a-option v-for="(item,index) in form.conditions" :value="item.id">{{item.name}}</a-option>
              </a-select>
            </a-form-item>
          </a-col>
          <a-col :span="12">
            <a-form-item field="dateRange" label="有效期" :rules="[{ required: true, message: '有效期必填' }]"
              :validate-trigger="['change']">
              <a-range-picker @change="onChange" @select="onSelect" v-model='form.dateRange' showTime />
            </a-form-item>
          </a-col>
        </a-row>
        <a-row :gutter="24">
          <a-col :span="12">
            <a-form-item field="sourceCode" label="源币别" :rules="[{ required: true, message: '源币别必填' }]"
              :validate-trigger="['change', 'input']">
              <a-select placeholder="请选择源币别" v-model="form.sourceCode">
                <a-option v-for="(item,index) in form.currencyOptions" :value="item.code"> {{item.name}}</a-option>
              </a-select>
            </a-form-item>
          </a-col>
          <a-col :span="12">
            <a-form-item field="convertCode" label="兑换币别" :rules="[{ required: true, message: '兑换币别必填' }]"
              :validate-trigger="['change', 'input']">
              <a-select placeholder="兑换币别" v-model="form.convertCode">
                <a-option v-for="(item,index) in form.currencyOptions" :value="item.code">{{item.name}}</a-option>
              </a-select>
            </a-form-item>
          </a-col>
        </a-row>
        <a-form-item field="exchangeRate" label="汇率" :rules="[{required:true,message:'汇率必填'}]">
          <a-input-number placeholder="请输入汇率" :precision="6" v-model="form.exchangeRate" :step="8" />
        </a-form-item>
      </a-form>
    </a-modal>
  </div>
</template>

<script lang="ts">
import { defineComponent, ref, reactive, onMounted, defineEmits } from 'vue';
import { settlementApi } from '@/api/settlementApi';
import { useRouter } from 'vue-router'
import { Message } from '@arco-design/web-vue';
import commonApi from '@/utils/commonApi/index';
export default defineComponent({
  setup(props, { emit, slots, attrs }) {
    const router = useRouter();
    const formRef = ref()
    const query = router.currentRoute.value.query; // 路径参数
    const form = reactive({
      size: 'medium',
      id: '',
      companiesCode: [],
      conditions:[],
      currencyOptions:[],
      companies: [],
      convertCode: "",
      endDate: "",
      exchangeRate: "",
      sourceCode: "",
      startDate: "",
      dateRange:{},
    });

    const visible = ref(false)
    const show = (row) => {
      if (row) {
        console.log(row)
        form.id = row.id
      
        // 编辑
        form.companies = [
          {
            ownerId: row.ownerId,
            ownerName: row.ownerName
          }
        ]
        form.companiesCode = [row.ownerId]
        form.sourceCode =row.sourceCode 
        form.convertCode = row.convertCode 
        form.exchangeRate = row.exchangeRate 
        form.startDate =row.startDate 
        form.endDate =row.endDate
        form.dateRange = [row.startDate,row.endDate]
    
      }else{
       form.companiesCode=[]
      form.companies=[]
      form.convertCode=''
      form.endDate=''
      form.exchangeRate=''
      form.sourceCode=''
      form.startDate=''
      form.dateRange=[] 
      }
      
      visible.value = true
    }
    const close = () => {
      visible.value = false
    }
    const handleCancel = () => {
      console.log()

    }
    const handleBeforeOk = (done) => {
      console.log(formRef.value)
      setTimeout(()=>{
        formRef.value.validate(async (error: any, values: any) => {
       
        if(error){  
           done(false)
           return
        }
          done()
        form.conditions.map((item)=>{
          form.companiesCode.map((c)=>{
            if(item.id==c){
              form.companies.push({
                ownerId:item.id,
                ownerName:item.name
              })
            }
          })
         
        })
        const params={
          companies: form.companies,
          convertCode: form.convertCode,
          endDate: form.endDate,
          exchangeRate: form.exchangeRate,
          sourceCode: form.sourceCode,
          startDate: form.startDate,
        }
        console.log(params, '====')
        const res = await settlementApi.basicdataSaveCurrencyRate(params)
        const { code, message, data } = res
        if (code !== '200') {
         Message.error(message)
          return
        }
        emit('saveForm')
        visible.value = false

        Message.success('提交成功')

      })
      })

    }
    const init = async () => {
      // 所属公司
      const data = await commonApi.memberQueryUserAuthorithPart()
      console.log(data)
      form.conditions =data

      await getCurrencyOptions()

      
    }


    const getCurrencyOptions =async () => {
      const data= await commonApi.getCurrency()
      form.currencyOptions=data
    }
    const onSelect=(dateString, date)=> {
      // console.log('onSelect', dateString, date);
    }
    const  onChange=(dateString, date)=> {
      console.log(form.dateRange,'日期范围')
      form.dateRange = dateString
      form.startDate = dateString[0]
      form.endDate = dateString[1]
    }




    onMounted(() => {
      init()

    })

    return {
      getCurrencyOptions,
      init,
      visible,
      show,
      close,
      handleCancel,
      handleBeforeOk,
      form,
      onSelect,
      onChange,
      router,
      query,
      formRef,


    }
  }
})


</script>

<style lang="less" scoped>
</style>






