<template>
  <div class="container">
    <div>
      <button-area>
        <template #left>
          <filter-cost
            :filterData="filterData"
            :filterParamsSync="filterParamsSync"
            v-model:filterParams="filterParams"
            @getFilter="getFilter"
            ref="filterRef"
          ></filter-cost>
          <export-table @click="exportTable"></export-table>
          <screen-btn v-model:isFullscreen="isFullscreen"></screen-btn>
          <!-- 刷新按钮执行列表初始化 -->
          <sync-btn @click="syncData"></sync-btn>
        </template>
        <template #right>
          <a-button
            type="primary"
            :style="{
              width: '108px',
              height: '30px',
            }"
            @click="addCost"
             v-if="authorityBtn.includes('新增')" 
          >
            <template #icon>
              <icon-plus />
            </template>
            <span>新增成本</span>
          </a-button>
        </template>
      </button-area>
      <div class="costWrap">
        <!-- 门点 -->
        <!-- <div style="width: 720px; padding-left: 500px">
          <door-point></door-point>
        </div> -->
        <div class="costLeft">
          <tree-data
            v-model:costCode="costCode"
            v-model:costName="costName"
            :originTreeData="originTreeData"
          ></tree-data>
        </div>
        <div class="costRight">
          <div class="table-wrap">
            <cost-table
              :columns="columns"
              :costData="costData"
              column-resizable
              :bordered="{ cell: true }"
              :operateList="operateList"
              :isFullscreen="isFullscreen"
              v-model:params="params"
              v-model:pagination="PaginationProps"
              @openFilter="openFilter"
              @getSelectData="getSelectData"
            >
            </cost-table>
          </div>
        </div>
      </div>

      <cost-modal
        v-model="modalVisible"
        :title="costModalTitle"
        :costCode="costCode"
        :costName="costName"
        :drawerData="drawerData"
        :trendsColumns="trendsColumns"
        :drawerType="drawerType"
        @syncData="syncData"
      ></cost-modal>
    </div>
  </div>
</template>

<script lang="ts" setup>
</script>

<script lang="ts">
import {
  defineComponent,
  ref,
  watch,
  reactive,
  h,
  toRefs,
  computed,
  onMounted,
  nextTick,
} from 'vue';
import FilterCost from './components/filter.vue';
import TreeData from './components/tree.vue';
import costTable from './components/table.vue';
import CostModal from './components/costModal.vue';
import { Modal, Message, Button } from '@arco-design/web-vue';
import lodash from 'lodash';
import { runOrderList } from '@/api/base';
import { crmApi } from '@/api/crmApi';
import Storage from '@/utils/Storage';
import commonApi from '@/utils/commonApi/index';

export default defineComponent({
  name: 'costCenter',
  components: {
    FilterCost,
    TreeData,
    costTable,
    CostModal,
  },
  setup(props, { emit, slots, attrs }) {
    const filterRef = ref([]);
    let costData = reactive([]);
    const dataMap = reactive({
      selectedData: [], // 表格已选择的数据   用于右侧按钮操作时的数据
      syncFlag: 0, // 刷新标志
      viewType: '1', // 运单列表代码 1
      viewUserId: '', // 用户视图ID
      tabHandleViewUserId: '', // 用户视图ID
      viewInfo: {}, // 用户视图ID 系统视图ID
      viewSystemId: '', // 用户视图ID 系统视图ID
      viewFilterRule: '', // 视图筛选项
      initFilters: '', // 保存视图原始筛选项

      /** 成本中心列表开始  **/
      isFullscreen: false,
      costCode: '03001',
      costName: '报关费',

      columns: [], // 所有表头
      commonBeforeColumns: [
        {
          dataIndex: 'operate',
          title: '',
          width: 27, // 列宽度
          align: 'center',
          fixed: 'left', // 固定位置 'left' | 'right'
          ellipsis: false, // 是否显示省略号
          tooltip: false, // 是否在显示省略号时显示文本提示。可填入 tooltip 组件属性 boolean | Record<string, any>
          slotName: 'operate',
          titleSlotName: 'operatetitle',
        },
        {
          dataIndex: 'costItemCname',
          title: '费用名称',
          width: 120,
          align: 'left',
          fixed: 'left',
          ellipsis: true,
          tooltip: true,
        },
        {
          dataIndex: 'status',
          title: '状态',
          width: 90,
          align: 'left',
          ellipsis: true,
          tooltip: true,
          titleSlotName: 'filterable',
          slotName: 'status',
        },
        {
          dataIndex: 'unitPrice',
          title: '金额（固定值）',
          width: 90,
          align: 'left',
          ellipsis: true,
          tooltip: true,
        },
        {
          dataIndex: 'intervalValue',
          title: '金额（区间值）',
          width: 150,
          align: 'left',
          ellipsis: true,
          tooltip: true,
        },
      ], // 前两列表头
      trendsColumns: [], // 中间动态表头
      commonAfterColumns: [
        {
          dataIndex: 'unit',
          title: '单位',
          width: 90,
          align: 'left',
          ellipsis: true,
          tooltip: true,
        },
        {
          dataIndex: 'validityStartDate',
          title: '起始日期',
          width: 90,
          align: 'left',
          ellipsis: true,
          tooltip: true,
          slotName: 'validityStartDate',
          sortable: { sortDirections: ['ascend', 'descend'] },
        },
        {
          dataIndex: 'validityEndDate',
          title: '结束日期',
          width: 90,
          align: 'left',
          ellipsis: true,
          tooltip: true,
          slotName: 'validityEndDate',
          sortable: { sortDirections: ['ascend', 'descend'] },
        },
        {
          dataIndex: 'createTime',
          title: '添加时间',
          width: 120,
          align: 'left',
          ellipsis: true,
          tooltip: true,
          sortable: { sortDirections: ['ascend', 'descend'] },
        },
        {
          dataIndex: 'remark',
          title: '备注',
          width: 200,
          align: 'left',
          ellipsis: true,
          tooltip: true,
        },
      ], // 后面7列表头

      costData: [] as any[],
      PaginationProps: {
        'size': 'mini',
        'total': '',
        'current': 1, //  当前页码
        'page-size': 10, // 每页展示的数据条数
        'show-page-size': true,
        'page-size-options': [10, 20, 30, 40, 50],
        'show-total': true,
        'show-jumper': true,
      },

      // 更新列表参数
      params: {
        costItemCode: '03001', // 费用项编码	必须
        containerList: [], // 箱型箱类集合 非必须
        doorDTOList: [], // 门点集合 (前端请求参数)	非必须  doorIds
        supplierId: '', // 供应商id	非必须
        carrierCode: '', // 船公司code	非必须
        carrierCname: '', // 船公司名称 非必须
        portList: [], // 港口港区集合 非必须 portCode	港口编码	portAreaName 港区名称
        categoryName: [], // 销售品名	非必须
        goodsName: [], // 品类名称 非必须
        status: [], // 状态: 1-未生效 2-生效中 3-已失效	 非必须
        costString: '', // 排序 时间值 结束时间-validityEndDate，开始时间-validityStartDate，添加时间-createTime 非必须
        orderPiType: '', // 排序方式   0-升序 1-降序	 非必须
        pageNum: 1, // 当前页-默认为1
        pageSize: 10, // 每页大小-默认为10
      },
      modalVisible: false,
      costModalTitle: '新增成本',
      filterData: [],
      drawer: false,
      drawerData: {},
      drawerType: 'create',
      filterParamsSync: 0,

      /** 成本中心列表结束  **/
      pageInitFilters: '',
      filterlist: [],
      customcolumn: {},
      authorityBtn: [],
      operateList: [
        {
          name: '编辑',
          icon: '',
          isShow: () => {
            return dataMap.authorityBtn.includes('编辑')
            // return true;
          },
          color: 'rgba(41, 105, 255, 1)',
          callback: (record: any) => {
            // 编辑
            crmApi.costDetailList({ id: record.id.toString() }).then((res) => {
              if (res.code == '200') {
                res.data.dateTimer = [
                  res.data.validityStartDate,
                  res.data.validityEndDate,
                ];
                if (!res.data.costIntervalBillingDTOList) {
                  res.data.costIntervalBillingDTOList[0].id = 0;
                }
                // crmApi.portArea({ portCode: res.data.portCode }).then((res) => {
                //   // console.log(portCode,"gfffgfgfgf");
                //   dataMap.mosPortAreaOptions = res.data
                // })
                // crmApi.categoryBy({ categoryName: res.data.goodsName }).then((res) => {
                //   if (res.code == 200) {
                //     dataMap.piNameOptions = res.data
                //     console.log(dataMap.piNameOptions, ' this.piNameOptions')
                //   }
                // })
                if (res.data.categoryName) {
                  let arr = res.data.categoryName.split(',');
                  dataMap.drawerData.saleCategoryName = arr;
                }
                dataMap.drawerData = {
                  ...dataMap.drawerData,
                  ...res.data,
                  // ...dataMap.piNameOptions
                };
                // dataMap.drawer = true
                dataMap.modalVisible = true;
                dataMap.costModalTitle = '编辑成本';
              }
            });
            dataMap.drawerType = 'edit';
          },
        },
        {
          name: '复制',
          icon: '',
          isShow:  () => {
            // await getRoleByPage()
            return dataMap.authorityBtn.includes('复制')
            // return true;
          },
          color: 'rgba(41, 105, 255, 1)',
          callback: (record: any) => {
            console.log('first', record);
            crmApi.costDetailList({ id: record.id.toString() }).then((res) => {
              if (res.code == '200') {
                dataMap.drawerData = {};
                res.data.dateTimer = [
                  res.data.validityStartDate,
                  res.data.validityEndDate,
                ];
                if (!res.data.costIntervalBillingDTOList) {
                  res.data.costIntervalBillingDTOList[0].id = 0;
                }
                if (res.data.categoryName) {
                  let arr = res.data.categoryName.split(',');
                  dataMap.drawerData.saleCategoryName = arr;
                }
                dataMap.drawerData = { ...dataMap.drawerData, ...res.data };
                dataMap.modalVisible = true;
                dataMap.costModalTitle = '新增成本';
                console.log(dataMap.drawerData);
              }
            });
            dataMap.drawerType = 'copy';
            // TODO
          },
        },
        {
          name: '删除',
          icon: '',
          isShow: () => {
            return dataMap.authorityBtn.includes('删除')
            // return true;
          },
          color: 'rgba(245, 63, 63, 1)',
          callback: (record: any) => {
            console.log('22222', record);
            // TODO
            Modal.warning({
              title: '提示',
              hideCancel: false,
              alignCenter: true,
              content: () =>
                h('div', { class: 'info-modal-content' }, [
                  h(
                    'span',
                    { style: 'margin-left: 60px;' },
                    '删除后不可回退，是否确认删除？'
                  ),
                ]),

              cancelText: '取消',
              async onOk() {
                const { code } = await crmApi.costCenterDelete({
                  id: record.id.toString(),
                });
                if (code == 200) {
                  Message.success('删除成功');
                  syncData();
                }
              },
            });

            // 先弹框确认 再删除
          },
        },
      ],
      searchPopupVisible: false,
      isEditDisabled: false, //
      tabViewData: [],

      tabViewModelTitle: '新增视图', // 视图弹窗title
      defaultActiveKey: '1', // 视图默认展示的tab标签 类型string

      originTreeData: [],
    });

    const exportTable = () => {
      console.log('导出数据');
    };

    const syncData = () => {
      dataMap.params = {
        costItemCode: dataMap.params.costItemCode, // 费用项编码	必须
        containerList: [], // 箱型箱类集合 非必须
        doorDTOList: [], // 门点集合 (前端请求参数)	非必须  doorIds
        supplierId: '', // 供应商id	非必须
        carrierCode: '', // 船公司code	非必须
        carrierCname: '', // 船公司名称 非必须
        portList: [], // 港口港区集合 非必须 portCode	港口编码	portAreaName 港区名称
        categoryName: [], // 销售品名	非必须
        goodsName: [], // 品类名称 非必须
        status: [], // 状态: 1-未生效 2-生效中 3-已失效	 非必须
        costString: '', // 排序 时间值 结束时间-validityEndDate，开始时间-validityStartDate，添加时间-createTime 非必须
        orderPiType: '', // 排序方式   0-升序 1-降序	 非必须
        pageNum: 1, // 当前页-默认为1
        pageSize: 10, // 每页大小-默认为10
      };
      dataMap.PaginationProps = {
        'size': 'mini',
        'total': '',
        'current': 1, //  当前页码
        'page-size': 10, // 每页展示的数据条数
        'show-page-size': true,
        'page-size-options': [10, 20, 30, 40, 50],
        'show-total': true,
        'show-jumper': true,
      };
    };

    const viewFilterRule = (val: any) => {
      console.log(val);
      // 传给公共table 的筛选项
      dataMap.viewFilterRule = val;
      // 当前视图筛选项  刷新时设置为dataMap.viewFilterRule
      dataMap.initFilters = val;
      // button区域筛选按钮
      dataMap.pageInitFilters = val;
    };

    const openFilter = () => {
      console.log('需要打开筛选。。。');
      filterRef.value.filterRef.handleClick();
    };

    const getSelectData = (val: any) => {
      dataMap.selectedData = val;
      console.log(123);
    };

    // 获取表头数据
    const getCostTableTitle = async () => {
      const params = {
        costItemCode: dataMap.costCode,
        factorsType: 1,
      };
      dataMap.trendsColumns = [];
      await crmApi.costCenterTitle(params).then((res) => {
        res.data.map((item: any) => {
          let newItem = {
            dataIndex: item.value,
            title: item.name,
            width: 140,
            align: 'left',
            ellipsis: true,
            tooltip: true,
            slotName: item.value,
          };
          // if(item.filterFlag){
          //   newItem.titleSlotName = 'filterable'
          // }
          dataMap.trendsColumns.push(newItem);
        });
        dataMap.columns = [];
        dataMap.columns = [].concat(
          dataMap.commonBeforeColumns,
          dataMap.trendsColumns,
          dataMap.commonAfterColumns
        );
        console.log(dataMap.columns, '======啊啊啊啊');
        console.log(dataMap.trendsColumns, '======啊啊啊啊');
      });
    };

    // 获取筛选数据
    const getTitleSearch = async () => {
      let params = {
        costItemCode: dataMap.costCode,
        factorsType: 2,
      };
      await crmApi.costCenterTitle(params).then((res) => {
        console.log(res, '======筛选数据');
        dataMap.filterData = res.data;
        console.log(dataMap.filterData);
      });
    };

    // 获取表格数据
    // pageNum, pageSize, costItemCode
    const getTabletList = async () => {
      const params = dataMap.params;
      await crmApi.costCenterList(params).then((res) => {
        // if (res.code == '200') {
        //   this.hasNextPage = res.data.hasNextPage
        //   this.dataList = res.data.list.map((i) => {
        //     i.carrierCode = i.carrierCname
        //     if (i.doorStreet == null) {
        //       i.doorProvince = i.doorProvince + i.doorCity + i.doorCounty
        //     } else if (i.doorCounty == null && i.doorStreet == null) {
        //       i.doorProvince = i.doorProvince + i.doorCity
        //     } else {
        //       i.doorProvince =
        //         i.doorProvince + i.doorCity + i.doorCounty + i.doorStreet
        //     }
        //     if (i.validityStartDate) {
        //       i.validityStartDate = i.validityStartDate.substring(0, 10)
        //     }
        //     if (i.validityEndDate) {
        //       i.validityEndDate = i.validityEndDate.substring(0, 10)
        //     }
        //     if(i.vehicleType){
        //       if(i.vehicleType==1){
        //         i.vehicleType="集卡"
        //       }
        //       else if(i.vehicleType==2){
        //         i.vehicleType='散货车'
        //       }
        //       else{
        //         i.vehicleType='零担'
        //       }
        //     }
        //     return i
        //   })
        // }
        dataMap.PaginationProps.total = res.data.total;
        console.log(typeof dataMap.costData);
        console.log(res.data.list);
        // dataMap.costData = res.data.list
        dataMap.costData = res.data.list.map((item: any) => {
          item.key = item.id;
          return item;
        });
        console.log(costData);
        console.log(res.data.list, '%%%%%%%%%%$$$$$');
      });
    };

    const getFilter = (data: any) => {
      console.log(data, '要筛选数据了');
      dataMap.params = {
        ...dataMap.params,
        ...data,
      };
    };

    const addCost = () => {
      console.log('addCost');
      dataMap.costModalTitle = '新增成本';
      dataMap.modalVisible = true;
      dataMap.drawerData = {};
      dataMap.drawerType = 'create';
    };

    // costCode
    onMounted(async () => {
      await getCostTableTitle();
      getTitleSearch();
      getTabletList();
    });

    watch(
      () => dataMap.costCode,
      (newval) => {
        console.log('费用项变化了', dataMap.costName);
        console.log('费用项变化了');
        // 费用项变化时 更新列表请求数据params
        dataMap.params.costItemCode = newval;
        dataMap.params.portArea = [];
        dataMap.params.portList = [];
        dataMap.params.status = [];
        dataMap.params.supplierId = '';
        dataMap.params.orderPiType = '';
        dataMap.params.carrierCname = '';
        dataMap.params.carrierCode = '';
        dataMap.params.categoryName = [];
        dataMap.params.containerList = [];
        dataMap.params.costString = '';
        dataMap.params.doorDTOList = [];
        dataMap.params.doorPoint = '';
        dataMap.params.doorPointId = [];
        dataMap.params.goodsName = [];
        dataMap.filterParamsSync++;
        // 重新请求表头和筛选项
        getCostTableTitle();
        getTitleSearch();
      },
      { deep: true }
    );

    watch(
      () => dataMap.params,
      (newval) => {
        console.log('列表请求参数变化了', dataMap.costName);
        // 重新请求表格数据
        getTabletList();
      },
      { deep: true }
    );
    const getRoleByPage = async () => {
      const data = await commonApi.getRoleByPage('MOS_PAGE_0028');

      dataMap.authorityBtn = data && data.map((item) => {
        return item.functionName
      })

    }
    onMounted(()=>{
      getRoleByPage()
    })


    return {
      getRoleByPage,
      exportTable,
      syncData,
      ...toRefs(dataMap),
      getFilter,
      // costData,
      viewFilterRule,

      filterRef,

      openFilter,
      getSelectData,
      addCost,
    };
  },
});
</script>

<style lang="less" scoped>
.container {
  background-color: var(--color-bg-2);
  // max-width: 100%;
  display: flex;
  height: calc(~'100vh - 93px');
}
.table-wrap {
  width: 100%;
  overflow: hidden;
  padding: 0 20px;
  height: 100%;
}
.costWrap {
  padding-left: 235px;
  position: relative;
  height: 100%;
  width: 100%;
  border-top: 1px solid #e5e6eb;
  .costLeft {
    width: 234px;
    top: 0;
    bottom: 0;
    left: 0;
    position: absolute;
    border-right: 1px solid #e5e6eb;
    overflow-y: auto;
    padding: 15px 20px 0;
    margin-bottom: 90px;
  }
  .costRight {
    padding-top: 15px;
    width: calc(~'100vw - 235px');
  }
}
</style>
