<template>
  <a-form
    :model="ladingForm"
    ref="ladingFormRef"
    layout="vertical"
    class="runOrderForm"
  >
    <a-row :gutter="72">
      <a-col :span="6">
        <a-form-item
          field="shipper"
          label="发货人"
          :rules="[{ required: true, message: '不能为空' }]"
        >
          <a-tooltip :content="ladingForm.shipper">
            <a-select
              v-model="ladingForm.shipper"
              placeholder="请选择"
              allow-search
              :filter-option="false"
              @search="
                (val) => {
                  ladingForm.shipper = val;
                }
              "
            >
              <a-option v-for="item of shipperList" :key="item">{{
                item
              }}</a-option>
            </a-select>
          </a-tooltip>
        </a-form-item>
      </a-col>
      <a-col :span="6">
        <a-form-item
          field="consignee"
          label="收货人"
          :rules="[{ required: true, message: '不能为空' }]"
        >
          <a-tooltip :content="ladingForm.consignee">
            <a-select
              v-model="ladingForm.consignee"
              placeholder="请选择"
              allow-search
              :filter-option="false"
              @search="
                (val) => {
                  ladingForm.consignee = val;
                }
              "
            >
              <a-option v-for="item of consigneeList" :key="item">{{
                item
              }}</a-option>
            </a-select>
          </a-tooltip>
        </a-form-item>
      </a-col>
      <a-col :span="6">
        <a-form-item
          field="notifyParty"
          label="通知人"
          :rules="[{ required: true, message: '不能为空' }]"
        >
          <a-tooltip :content="ladingForm.notifyParty">
            <a-select
              v-model="ladingForm.notifyParty"
              placeholder="请选择"
              allow-search
              :filter-option="false"
              @search="
                (val) => {
                  ladingForm.notifyParty = val;
                }
              "
            >
              <a-option v-for="item of notifyPartyList" :key="item">{{
                item
              }}</a-option>
            </a-select>
          </a-tooltip>
        </a-form-item>
      </a-col>
      <a-col :span="6"></a-col>
      <a-col :span="6">
        <a-form-item
          field="portOfLoadingName"
          label="启运港"
          :rules="[{ required: true, message: '不能为空' }]"
        >
          <a-select
            v-model="ladingForm.portOfLoadingName"
            :loading="false"
            allow-search
            placeholder="请选择"
            :filter-option="filterHandlePort"
          >
            <a-option
              v-for="item of searchPortList"
              :value="item.seaportName"
              :key="item.seaportName"
              :label="item.seaportEnName"
              @click="
                ladingForm.route = item.shippingRouteName;
                ladingForm.portOfLoading = item.seaportCode;
              "
            >
              <div class="search-foot">
                <span>{{ item.seaportName }}</span>
                <span>{{ item.seaportEnName }}</span>
              </div>
            </a-option>
          </a-select>
        </a-form-item>
      </a-col>
      <a-col :span="6">
        <a-form-item
          field="portOfDischargeName"
          label="目的港"
          :rules="[{ required: true, message: '不能为空' }]"
        >
          <a-select
            v-model="ladingForm.portOfDischargeName"
            allow-search
            placeholder="请选择"
            :filter-option="filterHandlePort"
          >
            <a-option
              v-for="item of portList"
              :value="item.seaportName"
              :key="item.seaportName"
              :label="item.seaportEnName"
              @click="ladingForm.portOfDischarge = item.seaportCode"
            >
              <div class="search-foot">
                <span>{{ item.seaportName }}</span>
                <span>{{ item.seaportEnName }}</span>
              </div>
            </a-option>
          </a-select>
        </a-form-item>
      </a-col>
      <a-col :span="6">
        <a-form-item label="启运地">
          <a-select
            v-model="ladingForm.portOfReceiptName"
            allow-search
            placeholder="请选择"
            :filter-option="filterHandlePort"
          >
            <a-option
              v-for="item of searchPortList"
              :value="item.seaportName"
              :key="item.seaportName"
              :label="item.seaportEnName"
              @click="ladingForm.portOfReceipt = item.seaportCode"
            >
              <div class="search-foot">
                <span>{{ item.seaportName }}</span>
                <span>{{ item.seaportEnName }}</span>
              </div>
            </a-option>
          </a-select>
        </a-form-item>
      </a-col>
      <a-col :span="6">
        <a-form-item label="目的地">
          <a-select
            v-model="ladingForm.portOfDeliveryName"
            allow-search
            placeholder="请选择"
            :filter-option="filterHandlePort"
          >
            <a-option
              v-for="item of portList"
              :value="item.seaportName"
              :key="item.seaportName"
              :label="item.seaportEnName"
              @click="ladingForm.portOfDelivery = item.seaportCode"
            >
              <div class="search-foot">
                <span>{{ item.seaportName }}</span>
                <span>{{ item.seaportEnName }}</span>
              </div>
            </a-option>
          </a-select>
        </a-form-item>
      </a-col>
      <a-col :span="6">
        <a-form-item label="MB/L NO.">
          <a-input v-model="ladingForm.mblNo" />
        </a-form-item>
      </a-col>
      <a-col :span="6">
        <a-form-item label="HB/L NO.">
          <a-input placeholder="请输入" v-model="ladingForm.hblNo" />
        </a-form-item>
    </a-col>
    <a-col :span="6">
        <a-form-item field="vesselCode" label="船公司" :rules="[{required: ladingForm.mblNo!=='', message: '不能为空'}]">
            <a-select v-model="ladingForm.vesselCode"  allow-search :filter-option="(val,option)=>{
              return option.label.toLowerCase().indexOf(val.toLowerCase())>-1 || option.value.toLowerCase().indexOf(val.toLowerCase())>-1
            }">
              <a-option v-for="item of shipList" :value="item.shippingCompanyCode" :label="item.shippingCompanyName">
              </a-option>
            </a-select>     
        </a-form-item>
      </a-col>
      <a-col :span="6">
        <a-form-item label="船名">
          <a-input placeholder="请输入" v-model="ladingForm.vesselName" />
        </a-form-item>
      </a-col>
      <a-col :span="6">
        <a-form-item label="航次">
          <a-input placeholder="请输入" v-model="ladingForm.voyageNo" />
        </a-form-item>
      </a-col>
      <a-col :span="6">
        <a-form-item label="航线">
          <a-input placeholder="请输入" v-model="ladingForm.route" />
        </a-form-item>
      </a-col>
      <a-col :span="6">
        <a-form-item label="预计到港时间">
          <a-date-picker
            style="width: 100%"
            show-time
            placeholder="请选择"
            v-model="ladingForm.eta"
            format="YYYY-MM-DD HH:mm"
          />
        </a-form-item>
      </a-col>
      <a-col :span="6">
        <a-form-item label="实际到港时间">
          <a-date-picker
            style="width: 100%"
            show-time
            placeholder="请选择"
            v-model="ladingForm.ata"
            format="YYYY-MM-DD HH:mm"
          />
        </a-form-item>
      </a-col>
      <a-col :span="6">
        <a-form-item label="是否订阅">
          <a-radio-group v-model="ladingForm.isSubscribeArrival">
            <a-radio :value="true">是</a-radio>
            <a-radio :value="false">否</a-radio>
          </a-radio-group>
        </a-form-item>
      </a-col>
      <a-col :span="6">
        <a-form-item label="免箱天数">
          <a-input placeholder="请输入" v-model="ladingForm.freeDays" />
        </a-form-item>
      </a-col>
      <a-col :span="6">
        <a-form-item label="提单方式">
          <a-select
            placeholder="请选择"
            v-model="ladingForm.blRequirements"
            allow-search
          >
            <a-option
              v-for="item of BillList"
              :key="item.code"
              :value="item.code"
              :label="item.name"
            >
            </a-option>
          </a-select>
        </a-form-item>
      </a-col>
      <a-col :span="6">
        <a-form-item label="海运费条款">
          <a-select
            placeholder="请选择"
            v-model="ladingForm.freightTerm"
            allow-search
          >
            <a-option
              v-for="item of freightList"
              :key="item.code"
              :value="item.code"
              :label="item.name"
            >
            </a-option>
          </a-select>
        </a-form-item>
      </a-col>
      <a-col :span="6">
        <a-form-item label="是否国内转船">
          <a-radio-group v-model="ladingForm.transshipFlag">
            <a-radio :value="true">是</a-radio>
            <a-radio :value="false">否</a-radio>
          </a-radio-group>
        </a-form-item>
      </a-col>
      <a-col :span="6">
        <a-form-item label="国内中转港">
          <a-select
            v-model="ladingForm.transitPort"
            placeholder="请选择"
            :disabled="!ladingForm.transshipFlag"
            allow-search
          >
            <a-option
              v-for="item of portList"
              :key="item.seaportCode"
              :value="item.seaportCode"
              :label="item.seaportEnName"
            >
              <div class="search-foot">
                <span>{{ item.seaportName }}</span>
                <span>{{ item.seaportEnName }}</span>
              </div>
            </a-option>
          </a-select>
        </a-form-item>
      </a-col>
      <a-col :span="6">
        <a-form-item label="国内中转时间">
          <a-date-picker
            style="width: 100%"
            :disabled="!ladingForm.transshipFlag"
            show-time
            placeholder="请选择"
            v-model="ladingForm.transitDate"
            format="YYYY-MM-DD HH:mm"
          />
        </a-form-item>
      </a-col>
    </a-row>
  </a-form>
</template>
<script lang="ts">
import {
  defineComponent,
  ref,
  watch,
  reactive,
  h,
  toRefs,
  computed,
  onMounted,
  nextTick,
} from 'vue';
import { runOrderApi } from '@/api/runOrderApi/index';
import { crmApi } from '@/api/crmApi/index';

export default defineComponent({
    name: 'billOfLading',
    props: {
      clientId: {
        type: Number,
        default: 0,
      },
      orderBase:{
          type:Object,
          default:()=>{}
      }
    },
    setup(props) {
      const ladingForm=reactive({
          shipper:"",
          consignee:"",
          notifyParty:"",
          portOfReceiptName:"",
          portOfLoadingName:"",
          portOfDischargeName:"",
          portOfDeliveryName:"",
          portOfReceipt:"",//启运地
          portOfLoading:"",//启运港
          portOfDischarge:"",//目的港
          portOfDelivery:"",//目的地
          vesselName:"",
          voyageNo:"",
          mblNo:"",
          hblNo:"",
          vesselCode:"",//船公司
          route:"",
          eta:"",
          ata:"",
          isSubscribeArrival:false,
          freeDays:"",
          freightTerm:1,
          blRequirements:"",
          transshipFlag:false,
          transitPort:"",
          transitDate:"",
      })
      const formList=reactive({
        shipperList:[],//发货人
        consigneeList:[],//收货人
        notifyPartyList:[],//通知人
        searchPortList:[],//启运港
        portList:[],//港口
        shipList:[],//船公司
        loading:false,
        BillList:[],//提单方式
        freightList:[],//海运费
      })

      const init = (val) => {
        // 发货人
        runOrderApi
          .getDisplayCode({ clientEnterpriseId: val, listType: 2 })
          .then((res) => {
            if (res.code == '200') {
              formList.shipperList = res.data;
            }
          });
        // 收货人
        runOrderApi
          .getDisplayCode({ clientEnterpriseId: val, listType: 1 })
          .then((res) => {
            if (res.code == '200') {
              formList.consigneeList = res.data;
            }
          });
        // 通知人
        runOrderApi
          .getDisplayCode({ clientEnterpriseId: val, listType: 3 })
          .then((res) => {
            if (res.code == '200') {
              formList.notifyPartyList = res.data;
            }
          });
      };
      // 启运港
      runOrderApi.getPostList().then((res) => {
        if (res.code == 200) {
          formList.searchPortList = res.data;
        }
      });
      // 港口
      crmApi
        .portAreaList({
          countryId: 104,
        })
        .then((res) => {
          if (res.code == 200) {
            formList.portList = res.data;
          }
        });
      // 船公司
      runOrderApi.baseCompany().then((res) => {
        if (res.code == 200) {
          formList.shipList = res.data;
        }
      });
      // 提单方式
      runOrderApi.getbillList({ type: 'bl_way' }).then((res) => {
        if (res.code == 200) {
          formList.BillList = res.data.selectorInfoList;
        }
      });
      // 海运费
      runOrderApi.getfreightList({ type: 'freight_term' }).then((res) => {
        if (res.code == 200) {
          formList.freightList = res.data.selectorInfoList;
        }
      })
      // 港模糊查询
      const filterHandlePort = (val, option) => {
        return (
          option.label.toLowerCase().indexOf(val.toLowerCase()) > -1 ||
          option.value.indexOf(val) > -1
      )}
    watch(
      () => props.clientId,
      (nVal, oVal) => {
        if (nVal) {
          init(nVal);
        }
      },
      {
        immediate: true,
      }
    );
      // 编辑回显
      watch(()=>props.orderBase,(nVal)=>{
        if(props.orderBase.copy){
          let formTemplate={
              shipper:"",
              consignee:"",
              notifyParty:"",
              portOfReceiptName:"",
              portOfLoadingName:"",
              portOfDischargeName:"",
              portOfDeliveryName:"",
              portOfReceipt:"",
              portOfLoading:"",
              portOfDischarge:"",
              portOfDelivery:"",
              vesselCode:"",//船公司
              route:"",
              freightTerm:"",
              blRequirements:""
          }
          for(var key in nVal){
              if(ladingForm[key]!==undefined&&formTemplate[key]!==undefined&&nVal[key]!=null){
                  ladingForm[key]=nVal[key]
              }
          }
          ladingForm.vesselCode=nVal.carrier
        }else{
          for(var key in nVal){
            if(ladingForm[key]!==undefined&&nVal[key]!=null){
              ladingForm[key]=nVal[key]
            }
          }
          ladingForm.vesselCode=nVal.carrier
        }
      }
    );
    const ladingFormRef = ref();
    return {
      ladingForm,
      init,
      filterHandlePort,
      ladingFormRef,
      ...toRefs(formList),
    }
  }
})
</script>

<style lang="less" scoped>
.search-foot {
  width: 100%;
  display: flex;
  justify-content: space-between;
  span:first-of-type {
    margin-right: 20px;
  }
}
</style>