<template>
    <a-form :model="form" ref="entrustForm" layout="vertical" class="runOrderForm">
        <a-row :gutter="72">
            <a-col :span="6">
                <a-form-item field="clientId" label="委托人" :rules="[{required: true, message: '不能为空', trigger: 'blur'}]">
                    <a-select v-model="form.clientId"  :loading="loading" placeholder="" allow-search
                            @search="handleSearch" @change="clientChange" @popup-visible-change="queryState='委托人'" :filter-option="false">
                    <a-option v-for="item of clientList" :value="item.enterpriseId" @click="form.clientName=item.name;form.clientRelationId=item.id;">{{item.name}}</a-option>
                    </a-select>     
                </a-form-item>
            </a-col>
            <a-col :span="6">
                <a-form-item field="quotationNo" label="报价单号" :rules="[{required: true, message: '不能为空', trigger: 'change'}]">
                    <a-input v-model="form.quotationNo" placeholder="" readonly :disabled="!form.clientId" @click="getContractPrice" />
                </a-form-item>
            </a-col>
            <a-col :span="6">
                <a-form-item label="合同编号">
                    <a-input v-model="form.contractNo" disabled placeholder="" />
                </a-form-item>
            </a-col>
            <a-col :span="6">
                <div class="customize-form-title">
                    <div class="form-label">
                        经营单位
                        <div class="add">
                            <span :class="{'dateRed':(Date.parse(new Date())>Date.parse(form.customsValidateDate))}">年报有效期：{{form.customsValidateDate}}</span>
                            <icon-plus @click="ejectClick(1)" />
                        </div>
                    </div>
                    <a-form-item field="fullCoId" label="" :rules="[{required: true, message: '不能为空', trigger: 'change'}]">
                        <a-select v-model="form.fullCoId" :loading="loading" placeholder="" allow-search @popup-visible-change="queryState='经营单位'"
                                @search="handleSearch" :filter-option="false">
                        <a-option v-for="item of businessUnitList" :value="item.enterpriseId" @click="form.collectTaxFlag=item.collectTaxFlag;form.customsValidateDate=item.customsValidateDate;getbussinessData(item)">{{item.name}}</a-option>
                        </a-select>                    
                    </a-form-item>
                </div>
            </a-col>
            <a-col :span="6">
                <div class="customize-form-title">
                    <div class="form-label">
                        收货单位
                        <div class="add">
                            <icon-plus  @click="ejectClick(2)"/>
                        </div>
                    </div>
                    <a-form-item field="consignEnterpriseId" :rules="[{required: true, message: '不能为空', trigger: 'change'}]">
                        <a-select v-model="form.consignEnterpriseId" :loading="loading" placeholder="" allow-search @popup-visible-change="queryState='收货单位'"
                                @search="handleSearch">
                        <a-option v-for="item of consignList" :value="item.enterpriseId">{{item.name}}</a-option>
                        </a-select>                    
                    </a-form-item>
                </div>
            </a-col>
            <a-col :span="6">
                <a-form-item field="controlEnterpriseCnName" label="控货方" :rules="[{required: true, message: '不能为空', trigger: 'change'}]">
                    <a-select v-model="form.controlEnterpriseCnName" :loading="loading" allow-search
                             :filter-option="false" :disabled="!controlGoodsList.length">
                        <a-option v-for="item of controlGoodsList" @click="form.controlEnterpriseId=item.controlGoodsId">{{item.controlGoodsCnName}}</a-option>
                    </a-select>                    
                </a-form-item>
            </a-col>
            <a-col :span="6">
                <div class="form-label">
                    国内买家
                    <div class="add">
                        <icon-plus @click="ejectClick(3)"/>
                    </div>
                </div>
                <a-form-item field="domesticBuyerId" >
                    <a-select v-model="form.domesticBuyerId" :loading="loading" placeholder="" allow-search  @popup-visible-change="queryState='国内买家'"
                            @search="handleSearch" :filter-option="false" :rules="[{required: true, message: '不能为空', trigger: 'change'}]">
                    <a-option v-for="item of buyerList" :value="item.enterpriseId">{{item.name}}</a-option>
                    </a-select>                    
                </a-form-item>
            </a-col>
            <a-col :span="6">
                <a-form-item label="PI号">
                    <a-input v-model="form.piNo" placeholder="" />
                </a-form-item>
            </a-col>
            <a-col :span="6">
                <a-form-item  label="客户业务编号">
                    <a-input v-model="form.thirdPartyOrderNo" placeholder="" />
                </a-form-item>
            </a-col>
            <a-col :span="6">
                <a-form-item label="是否需要拦截申报">
                   <a-radio-group v-model="form.interceptionDeclaration">
                     <a-radio :value="true">是</a-radio>
                     <a-radio :value="false">否</a-radio>
                   </a-radio-group>
                </a-form-item>
            </a-col>
            <a-col :span="6">
                <a-form-item label="是否需要转船证明">
                   <a-radio-group v-model="form.transshipmentCertificate">
                     <a-radio :value="true">是</a-radio>
                     <a-radio :value="false">否</a-radio>
                   </a-radio-group>
                </a-form-item>
            </a-col>
            <a-col :span="6">
                <a-form-item label="是否制作货物清单">
                    <a-radio-group v-model="form.cargoListFlag">
                        <a-radio :value="true">是</a-radio>
                        <a-radio :value="false">否</a-radio>
                    </a-radio-group>
                </a-form-item>
            </a-col>
            <a-col :span="6">
                <a-form-item label="是否审核货物清单">
                    <a-radio-group v-model="form.cargoReviewFlag">
                        <a-radio :value="true">是</a-radio>
                        <a-radio :value="false">否</a-radio>
                    </a-radio-group>
                </a-form-item>
            </a-col>
            <a-col :span="6">
                <a-form-item label="是否查询EHC">
                    <a-radio-group v-model="form.ehcFlag">
                        <a-radio :value="true">是</a-radio>
                        <a-radio :value="false">否</a-radio>
                    </a-radio-group>
                </a-form-item>
            </a-col>
            <a-col :span="6">
                <a-form-item label="卫生证号">
                    <a-input v-model="form.hygieneNo" placeholder="" />
                </a-form-item>
            </a-col>
            <a-col :span="6">
                <a-form-item  label="是否汇总征税">
                    <a-radio-group v-model="form.collectTaxFlag">
                        <a-radio :value="true">是</a-radio>
                        <a-radio :value="false">否</a-radio>
                    </a-radio-group>
                </a-form-item>
            </a-col>
        </a-row>
    </a-form>
    <eject ref="ejsct" :bussinessData="bussinessData" @saveAdd="saveAdd"></eject>
    <contractList ref="contractListRef" :clientId="form.clientId" :quotationNo="form.quotationNo" @selectContract="selectContract"></contractList>
</template>
<script lang="ts">
import {
  defineComponent,
  ref,
  watch,
  reactive,
  h,
  toRefs,
  computed,
  onMounted,
  nextTick,
} from 'vue';
import { runOrderApi } from '@/api/runOrderApi/index'
import eject from "./components/eject.vue";
import contractList from './components/contractList.vue'
import { businessBase } from '@/api/api.config';
export default defineComponent({
    components: { eject, contractList },
    props: {
      orderBase: {
        type: Object,
        default: () => null,
      },
    },
    setup(props,{emit}) {
      const form=reactive({
        name:"",
        post:"",
        clientId:"",
        clientName:"",
        clientRelationId:"",//委托人关系网络id
        contractNo:"",
        contractId:"",
        quotationNo:"",
        quotationId:"",
        fullCo:"",
        fullCoEn:"",
        fullCoId:"",//经营单位
        fullCoRelationId:"",//经营单位网路id
        customsValidateDate:"",
        receivingUnitCode:"",
        controlEnterpriseCnName:"",//控货方
        controlEnterpriseId:"",
        consignEnterpriseId:"",
        consignEnterpriseName:"",//收货单位
        consignEnterpriseEnName:"",
        consignEnterpriseRelationId:"",//收货单位关系网络id
        domesticBuyerName:"",
        domesticBuyerId:"",
        domesticBuyerRelationId:"",//国内买家网络id
        thirdPartyOrderNo:"",
        piNo:"",
        transshipmentCertificate:false,//转船证明
        interceptionDeclaration:false,//拦截申报
        cargoReviewFlag:false,
        cargoListFlag:false,//审核货物清单
        collectTaxFlag:null,//汇总征税
        ehcFlag:true,//EHC
        hygieneNo:"",
        isTransport:null
      })
      const data=reactive({
        bussinessData:{
            abbreviation:"",
            tradeCode:"",
            name:"",
            creditCode:"",
            organizationCode:"",
            customsValidateDate:"",
            meatAssociationCode: "",
            collectTaxFlag:0,
            mnemonicCode:""
        },
        loading:false,
        queryState:"",
      })
      const formList=reactive({
        clientList:[],//委托人
        businessUnitList:[],//经营单位
        buyerList:[],//国内买家
        consignList:[],//收货单位
        controlGoodsList:[],//控货方
      })
        //   经营单位
        runOrderApi
        .getBusinessUnitList({
            relationType: 8,
            name: '',
            hasTradeCode: 1,
        })
        .then((res) => {
            if (res.code == 200) {
            formList.businessUnitList = res.data;
            }
        })
        //  委托人国内买家收货单位
        runOrderApi.getBusinessUnitList({
            relationType:8,
            name:'',
            hasTradeCode:""
        }).then(res=>{
            if(res.code==200){
                formList.buyerList=res.data
                formList.clientList=res.data
                formList.consignList=res.data
            }
        })
    const ejsct = ref()
    const methods= reactive({
        handleSearch(val){
            console.log(val,'单位',data.queryState)
            if(data.queryState=='经营单位'){
                runOrderApi.getBusinessUnitList({
                    relationType:8,
                    name:val,
                    hasTradeCode:1
                }).then(res=>{
                    if(res.code==200){
                        formList.businessUnitList=res.data
                    }
                })
            }else if(data.queryState=='委托人'){
                runOrderApi.getBusinessUnitList({
                    relationType:8,
                    name:val,
                    hasTradeCode:""
                }).then(res=>{
                    if(res.code==200){
                        formList.clientList=res.data
                    }
                })
            }else if(data.queryState=='收货单位'){
                runOrderApi.getBusinessUnitList({
                    relationType:8,
                    name:val,
                    hasTradeCode:""
                }).then(res=>{
                    if(res.code==200){
                        formList.consignList=res.data
                    }
                })
            }else if(data.queryState=='国内买家'){
                runOrderApi.getBusinessUnitList({
                    relationType:8,
                    name:val,
                    hasTradeCode:""
                }).then(res=>{
                    if(res.code==200){
                        formList.buyerList=res.data
                    }
                })
            }
        },
        ejectClick(a){
            let template={
                abbreviation:"",
                tradeCode:"",
                name:"",
                creditCode:"",
                organizationCode:"",
                customsValidateDate:"",
                meatAssociationCode: "",
                collectTaxFlag:0,
                mnemonicCode:""
            }
            Object.assign(data.bussinessData,template)
            if(a==1){
                formList.businessUnitList.some(item=>{
                    if(item.enterpriseId==form.fullCoId){
                        Object.assign(data.bussinessData,item)
                        return true
                    }
                })
            }else if(a==2){
                formList.consignList.some(item=>{
                    if(item.enterpriseId==form.consignEnterpriseId){
                        Object.assign(data.bussinessData,item)
                        return true
                    }
                })
            }else if(a==3){
                formList.buyerList.some(item=>{
                    if(item.enterpriseId==form.domesticBuyerId){
                        Object.assign(data.bussinessData,item)
                        return true
                    }
                })
            }
            ejsct.value.changeEject(a)
        },
        saveAdd(obj){
            if(obj.type==1){//经营单位
                // this.fullCoState=this.lang ? obj.nameEn : obj.name
                form.fullCo=obj.name
                form.fullCoEn=obj.nameEn
                form.fullCoId=obj.enterpriseId
                form.fullCoRelationId=obj.fullCoRelationId
                form.customsValidateDate=obj.customsValidateDate
                form.collectTaxFlag=obj.collectTaxFlag
                // formList.businessUnitList.push({enterpriseId:obj.enterpriseId,name:obj.name})
                data.queryState='经营单位'
            }else if(obj.type==2){//收货单位
                form.consignEnterpriseName=obj.name
                form.consignEnterpriseId = obj.enterpriseId
                form.consignEnterpriseRelationId=obj.consignEnterpriseRelationId
                data.queryState='收货单位'
                // formList.buyerList.push({enterpriseId:obj.enterpriseId,name:obj.name})
            }else{//国内买家
               form.domesticBuyerName= obj.name
               form.domesticBuyerId = obj.enterpriseId
               form.domesticBuyerRelationId=obj.domesticBuyerRelationId
               data.queryState='国内买家'
            //    formList.buyerList.push({enterpriseId:obj.enterpriseId,name:obj.name})
            }
            methods.handleSearch(obj.name)
        },
        visibleChange(val){
            if(val){
                handleSearch()
            }
        }
    });
    // 选择合同报价
    const contractListRef = ref(null);
    const getContractPrice = () => {
      if (form.clientId) {
        contractListRef.value.visible = true;
      }
    };
    const selectContract = (record) => {
      form.quotationNo = record.quotationNo; //报价单号
      form.quotationId = record.contractOfferConfirmationId; //报价id
      form.contractNo = record.contractNo; //合同编号
      form.contractId = record.contractId; //合同id
      form.isTransport = record.isTransport; //是否试做
      formList.controlGoodsList = record.controlGoodsList;
      if (formList.controlGoodsList.length) {
        form.controlEnterpriseId = record.controlGoodsList[0].controlGoodsId; //控货方
        form.controlEnterpriseCnName =
          record.controlGoodsList[0].controlGoodsCnName;
      } else {
        form.controlEnterpriseId = form.clientId;
        form.controlEnterpriseCnName = form.clientName;
      }
      emit('getEntrustInfo', record);
    };
    // 选择委托人
    const clientChange=(val)=>{
        emit('getEntrustInfo',val)
    }
    const getbussinessData=(item)=>{
        Object.assign(data.bussinessData,item)
    }
    // 编辑回显
    watch(()=>props.orderBase,(nVal)=>{
        if(props.orderBase.copy){
            let formTemplate={
                clientId:"",
                clientName:"",
                clientRelationId:"",//委托人关系网络id
                contractId:"",
                contractNo:"",
                quotationNo:"",
                quotationId:"",
                isTransport:null,
                fullCo:"",
                fullCoEn:"",
                fullCoId:"",//经营单位
                fullCoRelationId:"",//经营单位网路id
                customsValidateDate:"",//
                controlEnterpriseCnName:"",//控货方
                controlEnterpriseId:"",
                consignEnterpriseId:"",
                consignEnterpriseName:"",//收货单位
                consignEnterpriseEnName:"",
                consignEnterpriseRelationId:"",//收货单位关系网络id
                transshipmentCertificate:false,//转船证明
                interceptionDeclaration:false,//拦截申报
                cargoListFlag:false,//审核货物清单
                collectTaxFlag:null,//汇总征税
                ehcFlag:true,//EHC
                controlGoodsList:null
            }
            for(var key in nVal){
                if(form[key]!==undefined&&formTemplate[key]!==undefined&&nVal[key]!=null){
                    form[key]=nVal[key]
                }
            }
        }else{
            for(var key in nVal){
                if(form[key]!==undefined&&nVal[key]!=null){
                    form[key]=nVal[key]
                }
            }
            form.thirdPartyOrderNo = nVal.customerBusinessCode;
        }
        // 经营单位
        runOrderApi.getBusinessUnitList({
            relationType:8,
            name:form.fullCo,
            hasTradeCode:1
        }).then(res=>{
            if(res.code==200){
                formList.businessUnitList=res.data
            }
        })
        // 收货单位
        runOrderApi.getBusinessUnitList({
            relationType:8,
            name:form.consignEnterpriseName,
            hasTradeCode:""
        }).then(res=>{
            if(res.code==200){
                formList.consignList=res.data
            }
        })
        // 国内买家
        runOrderApi.getBusinessUnitList({
            relationType:8,
            name:form.domesticBuyerName,
            hasTradeCode:""
        }).then(res=>{
            if(res.code==200){
                formList.buyerList=res.data
            }
        })
        // 委托人
        runOrderApi.getBusinessUnitList({
            relationType:8,
            name:form.clientName,
            hasTradeCode:""
        }).then(res=>{
            if(res.code==200){
                formList.clientList=res.data
            }
        })
        emit('getEntrustInfo', nVal.clientId);
      }
    );
    const entrustForm = ref();
    return {
      ...toRefs(data),
      form,
      ejsct,
      ...toRefs(formList),
      ...toRefs(methods),
      getContractPrice,
      selectContract,
      clientChange,
      contractListRef,
      entrustForm,
      getbussinessData
    };
  },
});
</script>
<style lang="less" scoped>
.runOrderForm {
  .arco-form-item {
    //  width:286px;
    .add {
      position: absolute;
      right: 5px;
      top: 2px;
    }
  }
  .form-label {
    display: flex;
    position: relative;
    justify-content: space-between;
    color: #696c70;
    margin-top: 4px;
    margin-bottom: 2px;
    .add {
      position: absolute;
      right: 10px;
    }
  }
  .arco-icon-plus {
    color: #2969ff;
    cursor: pointer;
  }
  .arco-icon-minus {
    color: #2969ff;
    cursor: pointer;
  }
}
.customize-form-title {
  width: 100%;
  position: relative;
  .form-label {
    width: 100%;
    position: absolute;
    left: 14px;
    display: flex;
    justify-content: space-between;
    color: #696c70;
    .add {
      position: absolute;
      right: 25px;
    }
  }
}
.dateRed{color:rgb(240, 59, 59)}
</style>