<template>
<a-form :model="goodsForm" ref="goodsFormRef" layout="vertical" class="runOrderForm">
  <a-row :gutter="72">
    <a-col :span="6">
        <a-form-item label="销售品名" :rules="[{required: true, message: '不能为空'}]">
            <a-input disabled v-model="goodsForm.salesGoods"/>
        </a-form-item>
    </a-col>
    <a-col :span="6">
        <a-form-item field="productName" label="商品名" :rules="[{required: true, message: '不能为空'}]">
            <a-select v-model="goodsForm.productName"  allow-search>
              <a-option v-for="item of productList">
                {{item.productName}}
              </a-option>
            </a-select>     
        </a-form-item>
    </a-col>
    <a-col :span="6">
        <a-form-item field="businessName" label="经营品名" :rules="[{required: true, message: '不能为空'}]">
            <a-select v-model="goodsForm.businessName"  allow-search>
              <a-option v-for="item of businessNameList" @click="goodsForm.categoryName=item.categoryName">
                {{item.productCategoryName}}
              </a-option>
            </a-select>     
        </a-form-item>
    </a-col>
    <a-col :span="6">
        <a-form-item label="客户品名">
            <a-input v-model="goodsForm.customerName"/>
        </a-form-item>
    </a-col>
    <a-col :span="6">
        <a-form-item field="countryOriginCode" label="原产国" :rules="[{required: true, message: '不能为空'}]">
            <a-select v-model="goodsForm.countryOriginCode"  allow-search>
                <a-option v-for="item of countryList" :value="item.countryCode" :label="item.countryName"></a-option>
            </a-select>                    
        </a-form-item>
    </a-col>
    <a-col :span="6">
        <a-form-item label="厂号">
            <a-input v-model="goodsForm.companyNo"/>
        </a-form-item>
    </a-col>
    <a-col :span="6">
        <div class="customize-form-title">
            <div class="dubble-item">
                <a-form-item field="quantity" label="件数/包装单位" :rules="[{required: true, message: '不能为空'}]">
                    <a-input-number v-model="goodsForm.quantity" :min="0" :step="1"  model-event="input"/>
                </a-form-item>
                <a-form-item label="" style="margin-top:22px">
                    <a-select v-model="goodsForm.packages"  allow-search :filter-option="false">
                        <a-option v-for="item of packagesList" :value="item.codesValues">{{item.codeName}}</a-option>
                    </a-select>                    
                </a-form-item>
            </div>
        </div>
    </a-col>
    <a-col :span="6">
        <div class="customize-form-title">
            <div class="dubble-item">
                <a-form-item field="grossWeight" label="毛重/净重" :rules="[{required: true, message: '不能为空'},{validator:checkGrossWeight}]">
                    <a-input-number v-model="goodsForm.grossWeight" :precision="2" :min="0.01" :step="0.01"  model-event="input" @focus="$refs.goodsFormRef.clearValidate()"/>
                </a-form-item>
                <a-form-item field="netWeight"  :rules="[{validator:checkGrossWeight}]" style="margin-top:22px">
                    <a-input-number v-model="goodsForm.netWeight" :precision="2" :min="0.01" :step="0.01"  model-event="input" @focus="$refs.goodsFormRef.clearValidate()"/>
                </a-form-item>
            </div>
        </div>
    </a-col>
    <a-col :span="6">
        <a-form-item field="measurement" label="体积" :rules="[{required: true, message: '不能为空'}]">
          <a-input-number v-model="goodsForm.measurement" :precision="3" :min="0.001" :step="0.001"  model-event="input"/>
        </a-form-item>
    </a-col>
    <a-col :span="6">
        <div class="customize-form-title">
            <div class="dubble-item">
                <a-form-item field="goodsValue" label="货值/币别" :rules="[{required: true, message: '不能为空'}]">
                    <a-input-number v-model="goodsForm.goodsValue" :precision="2" :min="0.01" :step="0.01"  model-event="input"/>
                </a-form-item>
                <a-form-item style="margin-top:22px">
                    <a-select v-model="goodsForm.goodsCurrency"  allow-search :filter-option="false">
                        <a-option v-for="item of currencyList" :value="item.currencyCode">{{item.currencyName}}</a-option>
                    </a-select>                    
                </a-form-item>
            </div>
        </div>
    </a-col>
    <a-col :span="6">
        <a-form-item field="boxType" label="货箱类型" :rules="[{required: true, message: '不能为空'}]">
          <a-select v-model="goodsForm.boxType"  allow-search :filter-option="false">
            <a-option v-for="item of boxTypeList" :value="item.codesValues">{{item.codeName}}</a-option>
          </a-select>                    
        </a-form-item>
    </a-col>
    <a-col :span="6">
        <a-form-item label="箱型箱量">
          <a-trigger trigger="click">
              <a-button ref="triggerRef" :disabled="!goodsForm.boxType" style="width:100%">{{SubBox.join(',')}}</a-button>
              <template #content>
                <div class="trigger-input" style="width:398px">
                  <div class="trigger-title">箱型箱量</div>
                  <div class="container" v-for="(item,index) in goodsForm.containerquantity">
                    <a-select :style="{width:'208px',marginRight:'8px'}" v-model="item.containerSizeAndType">
                        <a-option v-for="option in containerList" :value="option" >{{option}}</a-option>
                    </a-select>
                    <a-input-number v-model="item.containerQuantity" :style="{width:'120px',marginRight:'8px'}"  :min="1"/>  
                    <icon-close style="cursor:pointer" @click="deleteBoxType(index)"/>                
                  </div>
                  <div class="trigger-footer">
                    <div class="newBtn"  @click="addBoxType()">
                      <icon-plus/>新增项
                    </div>
                    <div>
                      <a-button type="dashed" :style="{marginRight:'8px'}" @click="cancelClick">取消</a-button>
                      <a-button type="primary" @click="triggerSubBoxType(record)">确定</a-button>
                    </div>
                  </div>
                </div>
              </template>
          </a-trigger>
        </a-form-item>
    </a-col>
    <a-col :span="24">
        <div class="containerNo-lable">
            箱号
            <a-trigger trigger="click" :click-outside-to-close="false" @show="triggerContainerNoShow()">
              <a-button ref="triggerContainerNoRef" type="text" :disabled="!goodsForm.boxType">批量设置</a-button>
              <template #content>
                <div class="trigger-input">
                  <div class="trigger-title">登记箱号</div>

                    <div v-for="item in containerNoList" style="margin-bottom:12px;">
                       <div style="margin-bottom:8px;">
                            {{item.containerSizeAndType}}
                       </div>
                        <a-textarea
                        v-model="item.containerNo"
                          :style="{width:'100%'}"
                        /> 
                    </div>
                  <div class="trigger-footer trigger-footer2">
                      <a-button type="dashed" :style="{marginRight:'8px'}" @click="cancelClick2">取消</a-button>
                      <a-button type="primary" @click="triggerSubContainerNo">确定</a-button>
                  </div>
                </div>
              </template>
          </a-trigger>
        </div>
        <div class="containerNo-box" v-for="item in containerNoTag">
            <div class="item-label">{{item.containerSizeAndType}}</div>
            <a-input-tag v-model="item.containerNo" :style="{width:'100%'}" allow-clear @remove="deleteNo"/>       
         </div>
    </a-col>
  </a-row>
</a-form>
</template>
<script lang="ts">
import {
  defineComponent,
  ref,
  watch,
  reactive,
  h,
  toRefs,
  computed,
  onMounted,
  nextTick,
} from 'vue';
import { runOrderApi } from '@/api/runOrderApi/index'
import { crmApi } from '@/api/crmApi/index'
import { common } from '@/api/common/index';
import { contractManage } from '@/api/contractManage/index';
import { Message } from '@arco-design/web-vue';
export default defineComponent({
    name: 'billOfLading',
    props:{
        salesGoods: {
            type: String,
            default:'',
        },
        orderBase:{
            type:Object,
            default:()=>{}
        }
    },
    setup(props) {
      const goodsFormRef=ref()
      const goodsForm=reactive({
        salesGoods: '',
        productName: '',
        businessName: '', //经营品名
        categoryName: '', //品类名称 取经营品名中的品类名称
        customerName: '', //客户品名
        countryOriginCode: '',
        companyNo:"",//厂号
        quantity: '',
        packages: '',
        grossWeight: '',//毛重
        netWeight: '',//净重
        measurement: '',
        goodsCurrency: '',
        goodsValue: '',
        container: '',
        boxType: null,
        containerquantity: [
          // {
          //   containerQuantity:"",
          //   containerSizeAndType:""
          // }
        ],
      })
      // const quantityValue=ref()
      const formList=reactive({
        productList:[],//商品名
        businessNameList:[],//经营品名
        countryList:[],//原产国
        packagesList:[],// 包装单位
        currencyList:[],//币别
        boxTypeList:[],//货箱类型
        SubBox:[],//箱型箱量显示
        containerList:[],//箱型箱类
        containerNoList:[],///箱号
        containerNoTag:[],//箱号显示
        
      })
      // 毛重校验
      const checkGrossWeight = (value, callback) => {
        if (
          goodsForm.netWeight !== '' &&
          Number(goodsForm.grossWeight) < Number(goodsForm.netWeight)
        ) {
          console.log('净重不能大于毛重')
          callback(new Error('净重不能大于毛重'))
        } else {
          callback()
        }
      }
      // 净重校验
      const checkNetWeight = (value, callback) => {
        if (value) {
          if (
            goodsForm.grossWeight !== '' &&
            Number(value) > Number(goodsForm.grossWeight)
          ) {
            callback(new Error('净重不能大于毛重'))
          } else {
            callback()
          }
        } else {
          callback()
        }
      }
        //原产国
      common.getCountry().then((res) => {
        if (res.code == 200) {
            formList.countryList = res.data;
        }
      });
      // 包装单位
      runOrderApi.packages({
        codeTypeCode:'cargopackagingtype'
      }).then(res=>{
          if(res.code==200){
             formList.packagesList=res.data
          }
      })
      // 币别
      runOrderApi.currencyList().then(res=>{
          if(res.code==200){
              formList.currencyList=res.data
          }
      })
      // 货箱类型
      contractManage.containerSizeList({codeTypeCode: 'shippingtype'}).then(res=>{
        if(res.code==200){
          formList.boxTypeList=res.data
        }
      })
      // 箱型箱类
      runOrderApi.boxType().then(res=>{
          formList.containerList=res.data
      })
      const addBoxType=()=>{
            goodsForm.containerquantity.push({
                containerSizeAndType:"",
                containerQuantity:""
            })
      }
      const triggerRef=ref([])
       //箱型箱量确定
      const triggerSubBoxType=()=>{
        formList.SubBox=[]
        formList.containerNoList=[]
        goodsForm.containerquantity.forEach(item=>{
            formList.SubBox.push(item.containerSizeAndType+'*'+item.containerQuantity)
            formList.containerNoList.push({
                containerSizeAndType:item.containerSizeAndType,
                containerNo:[],
                containerQuantity:item.containerQuantity
            })
        })
        triggerRef.value.handleClick()
      }
      const triggerContainerNoRef=ref([])
      //箱号显示
      const triggerContainerNoShow=()=>{

      }
      //箱号登记箱号确定
      const triggerSubContainerNo=()=>{
          let more=false
          formList.containerNoList.some(item=>{
              if(item.containerNo.split('\n').length>item.containerQuantity){
                Message.error(item.containerSizeAndType+'箱号数量多余'+item.containerQuantity)
                more=true
                return true
              }
        })
        if(!more){
          formList.containerNoTag=formList.containerNoList.map(item=>{
              return {
                  containerNo:item.containerNo.split('\n'),
                  containerSizeAndType:item.containerSizeAndType
              }
          })
          triggerContainerNoRef.value.handleClick()
        }
      }
      // 删除箱号
      const deleteNo=(val)=>{
        formList.containerNoList.forEach(item=>{
          item.containerNo=item.containerNo.split('\n')
          if(item.containerNo.indexOf(val)>-1){
            item.containerNo.splice(item.containerNo.indexOf(val),1)
          }
          item.containerNo=item.containerNo.join('\n')
        })
      }
      // 删除箱量
      const deleteBoxType=(index)=>{
        goodsForm.containerquantity.splice(index,1)
      }
      const cancelClick=()=>{
         triggerRef.value.handleClick()
      }
      const cancelClick2=()=>{
         triggerContainerNoRef.value.handleClick()
      }
      watch(()=>props.salesGoods,(nVal, oVal) => {
          if(nVal){
            goodsForm.salesGoods=nVal
            runOrderApi.getProductName({
                saleProductName:nVal
            }).then(res=>{
                if(res.code=="200"){
                    formList.productList=res.data
                }
            })
            goodsForm.productName=''
            goodsForm.businessName=''
          }
        },{
          immediate:true
        }
      );
      watch(()=>goodsForm.productName,(nVal, oVal) => {
          if(nVal){
            runOrderApi.getBusinessName({
                saleProductName:goodsForm.salesGoods,
                productName:nVal
            }).then(res=>{
              console.log(res)
                if(res.code=="200"){
                    formList.businessNameList=res.data
                }
            })
          }
        }
      );
      // 编辑回显
      watch(()=>props.orderBase,(nVal)=>{
        if(props.orderBase.copy){
          let formTemplate={
            salesGoods:'',
            productName:"",
            businessName:"",//经营品名
            categoryName:"",
            countryOriginCode:"",
            countryOriginName:"",
            boxType:""
          }
          for(var key in nVal){
              if(goodsForm[key]!==undefined&&formTemplate[key]!==undefined){
                  goodsForm[key]=nVal[key]
              }
          }
          goodsForm.boxType=nVal.goodsTypeCode?nVal.goodsTypeCode.toString():''
        }else{
          for(var key in nVal){
            if(goodsForm[key]!==undefined){
              goodsForm[key]=nVal[key]
            }
          }
          nVal.containerquantityItem.forEach(item=>{
            formList.SubBox.push(item.containerSizeAndType+'*'+item.containerQuantity)
            goodsForm.containerquantity.push({
              containerQuantity:item.containerQuantity,
              containerSizeAndType:item.containerSizeAndType
            })
          })
          if(nVal.deliveryContainerList){
            formList.containerNoList=[]
            nVal.deliveryContainerList.forEach(item=>{
              // 箱号
              let Noarr=[]
              if(item.list){
                Noarr=item.list.map(Nos=>{
                  return Nos.containerNo
                })
              }
              formList.containerNoList.push({
                  containerSizeAndType:item.containerTypeAndSize,
                  containerNo:Noarr.join('\n')
              })
              formList.containerNoTag=[]
              formList.containerNoTag.push({
                containerNo:Noarr,
                containerSizeAndType:item.containerTypeAndSize
              })
            })
          }
          goodsForm.boxType=nVal.goodsTypeCode?nVal.goodsTypeCode.toString():''
        }
        if(nVal.salesGoods){
          runOrderApi.getProductName({
              saleProductName:nVal.salesGoods
          }).then(res=>{
              if(res.code=="200"){
                  formList.productList=res.data
              }
          })
        }
      })
      return{
        goodsForm,
        triggerContainerNoRef,
        triggerSubBoxType,
        addBoxType,
        triggerRef,
        triggerContainerNoShow,
        deleteNo,
        deleteBoxType,
        cancelClick,
        cancelClick2,
        triggerSubContainerNo,
        goodsFormRef,
        ...toRefs(formList),
        checkGrossWeight,
        checkNetWeight

      }
    },
})
</script>

<style lang="less" scoped>
.search-foot{
  width:100%;
  display: flex;
  justify-content: space-between;
  span:first-of-type{margin-right:20px;}
}
.dubble-item{
    display: flex;
}
.trigger-input{background: #fff;width:318px;padding:16px; box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.15);
  .trigger-footer{
    padding-top:16px;
    display: flex;
    justify-content: space-between;
    border-top:1px solid var(--color-neutral-3);
    .newBtn{
        width:100px;
        color: #2969FF;
        cursor: pointer;
        .arco-icon{margin-right:10px;}
    }
  }
  .trigger-footer2{
    justify-content: flex-end;
  }
}
.trigger-title{font-size:16px;margin-bottom:20px;}
.container{
  margin-bottom:12px;
}
.containerNo-lable{
    color: var(--color-text-2);
}
.containerNo-box{
   .item-label{
    color:#4E5969;
    margin:18px 0 4px 0
   }
}
</style>