<template>
<a-form :model="orgztForm" ref="orgztFormRef" layout="vertical" class="runOrderForm">
  <a-row :gutter="72">
    <a-col :span="6">
        <a-form-item field="belongingCompanyName" label="所属公司" :rules="[{required: true, message: '不能为空'}]">
            <a-input placeholder="请输入" v-model="orgztForm.belongingCompanyName" disabled/>
        </a-form-item>
    </a-col>
    <a-col :span="6">
        <a-form-item field="customerServiceDepartmentId" label="客服部门" :rules="[{required: true, message: '不能为空'}]">
            <a-select placeholder="请选择" v-model="orgztForm.customerServiceDepartmentId" allow-search
                :filter-option="false">
            <a-option v-for="item of serviceList" :value="item.id" @click="orgztForm.customerServiceDepartment=item.departmentName">{{item.departmentName}}</a-option>
            </a-select>     
        </a-form-item>
    </a-col>
    <a-col :span="6">
        <a-form-item field="marketingDepartment" label="营销部门" :rules="[{required: true, message: '不能为空'}]">
            <a-input placeholder="请输入" v-model="orgztForm.marketingDepartment" disabled/>
        </a-form-item>
    </a-col>
    <a-col :span="6">
        <a-form-item field="salesperson" label="销售员" :rules="[{required: true, message: '不能为空'}]">
            <a-input placeholder="请输入" v-model="orgztForm.salesperson" disabled/>
        </a-form-item>
    </a-col>
    <a-col :span="6">
        <a-form-item field="orderReceiver" label="接单员" :rules="[{required: true, message: '不能为空'}]">
            <a-input placeholder="请输入" v-model="orgztForm.orderReceiver" disabled/>
        </a-form-item>
    </a-col>
    <a-col :span="6">
        <a-form-item label="审单员">
            <a-select placeholder="请选择" v-model="orgztForm.reviewerUserId" allow-search
                :filter-option="false">
            <a-option v-for="item of reviewerList" :value="item.userId">{{item.userName}}</a-option>
            </a-select>     
        </a-form-item>
    </a-col>
    <a-col :span="6">
        <a-form-item field="customerService" label="客服经理" :rules="[{required: true, message: '不能为空'}]">
            <a-select v-model="orgztForm.customerService" allow-search
                :filter-option="false">
            <a-option v-for="item of operatorList" :value="item.userId" @click="orgztForm.customerServiceUserId=item.userId">{{item.userName}}</a-option>
            </a-select>     
        </a-form-item>
    </a-col>
    <a-col :span="6">
        <a-form-item field="operatorUserId" label="客服专员" :rules="[{required: true, message: '不能为空'}]">
            <a-select placeholder="请选择" v-model="orgztForm.operatorUserId" allow-search
                :filter-option="false">
            <a-option v-for="item of customerServiceList" :value="item.userId">{{item.userName}}</a-option>
            </a-select>     
        </a-form-item>
    </a-col>
    <a-col :span="6">
        <a-form-item field="settlementClerkUserId" label="结算员" :rules="[{required: true, message: '不能为空'}]">
            <a-select placeholder="请选择" v-model="orgztForm.settlementClerkUserId" allow-search
                :filter-option="false">
            <a-option v-for="item of settlementClerkList" :value="item.userId">{{item.userName}}</a-option>
            </a-select>     
        </a-form-item>
    </a-col>
  </a-row>
</a-form>
</template>
<script lang="ts">
import {
  defineComponent,
  ref,
  watch,
  reactive,
  h,
  toRefs,
  computed,
  onMounted,
  nextTick,
} from 'vue';
import { runOrderApi } from '@/api/runOrderApi/index'
import { useUserStore } from '@/store';

export default defineComponent({
    name: 'organization',
    props:{
        contractRow: {
          type:Object,
          default:()=>{}
        },
        orderBase:{
          type:Object,
          default:()=>{}
        }
    },
    setup(props) {
      let userInfo = useUserStore()
      const orgztFormRef=ref()
      const orgztForm=reactive({
            belongingCompany:"",
            belongingCompanyName:"",
            customerServiceDepartment:"",//客服部门
            customerServiceDepartmentId:null,
            marketingDepartment:"",//营销部门
            marketingDepartmentId:null,
            salesperson:"",//销售员
            salespersonId:"",
            orderReceiverUserId:userInfo.userId,
            orderReceiver:userInfo.surName+userInfo.firstName,//接单员
            reviewer:"",//审单员
            reviewerUserId:"",
            // operator:"",
            // operatorId:"",
            customerService:"",//客服经理
            customerServiceUserId:"",
            operator:"",//客服
            operatorUserId:"",
            settlementClerk:"",//结算员
            settlementClerkUserId:""
      })
      const formList=reactive({
        serviceList:[],//客服部门
        reviewerList:[],//审单员
        operatorList:[],//客服经理
        customerServiceList:[],//客服
        settlementClerkList:[],//结算员
      })
        // 客服部门
        runOrderApi.getService().then(res=>{
            formList.serviceList=res.data
            // formList.serviceList=[{"id":1,"tenantId":1,"enterpriseId":5657,"departmentType":2,"departmentId":8433,"departmentName":"食品事业部","isChangeOrder":true,"isCustomsClearance":true}]
        })
        //审单员
        runOrderApi.getRole({roleType:3}).then(res=>{
            formList.reviewerList=res.data
        })
        //客服经理
        runOrderApi.getRole({roleType:5}).then(res=>{
            formList.operatorList=res.data
        })
        //客服
        runOrderApi.getRole({roleType:4}).then(res=>{
            formList.customerServiceList=res.data
        })
        //结算员
        runOrderApi.getRole({roleType:6}).then(res=>{
            formList.settlementClerkList=res.data
        })
      const handleSearch=()=>{}
      watch(()=>props.clientId,(nVal, oVal) => {
          if(nVal){
            init(nVal)
          }
        },{
          immediate:true
        }
      );
      watch(()=>props.contractRow,(nVal)=>{
        console.log(nVal)
          for(var key in nVal){
            if(orgztForm[key]!==undefined){
               orgztForm[key]=nVal[key]
            }
          }
        orgztForm.belongingCompanyName=nVal.signUpName
        orgztForm.belongingCompany=nVal.signUpId.toString()
        orgztForm.salesperson=nVal.signSalesman
        orgztForm.salespersonId=nVal.signSalesmanId

        orgztForm.operator=nVal.peopleService
        orgztForm.operatorUserId=nVal.peopleServiceId
        orgztForm.marketingDepartment=nVal.marketingDepartmentCname
        orgztForm.marketingDepartmentId=nVal.marketingDepartmentId

        orgztForm.settlementClerk=nVal.settlement
        orgztForm.settlementClerkUserId=nVal.settlementId
        orgztForm.customerService=nVal.customerServiceManager
        orgztForm.customerServiceUserId=nVal.customerServiceManagerId
        if(!formList.operatorList.length){
          formList.operatorList.push({
            userId:nVal.customerServiceManagerId,
            userName:nVal.customerServiceManager
          })
        }

      })
      // 编辑回显
      watch(()=>props.orderBase,(nVal)=>{
        console.log(nVal,'编辑回显')
        
        let obj=nVal.logisticsBelongingInformationMosVO
          for(var key in obj){
            if(orgztForm[key]!==undefined&&key!=='orderReceiver'&&key!=='orderReceiverUserId'){
               orgztForm[key]=obj[key]
            }
          }
          
      })
    
      return{
        orgztForm,
        handleSearch,
        orgztFormRef,
        ...toRefs(formList)
      }
    },
})
</script>

<style lang="less" scoped>
.search-foot{
  width:100%;
  display: flex;
  justify-content: space-between;
  span:first-of-type{margin-right:20px;}
}

</style>