<template>
<a-checkbox-group v-model="checkboxSelc" style="width:100%">
        <a-row :gutter="72">
        <a-col :span="6" v-for="item in checkDatas">
            <div>
                <a-checkbox :value="item.serviceType" :disabled="item.disabled">{{item.label}}</a-checkbox>
            </div>
            <div class="serve-item">
                <a-select v-model="item.bookingAgencyId"  allow-search :filter-option="false" :disabled="item.optionDisabled || item.disabled" @search="handleSearch" @input-value-change="()=>{changeLabel=item.label}">
                    <a-option v-for="booking of item.list" :value="booking.enterpriseId" @click="item.ownerCompentFlag=booking.ownerCompentFlag;bookingChange(item)">{{booking.name}}</a-option>
                </a-select>
                <a-select v-model="item.userId"  allow-search :filter-option="false" v-if="item.label2" style="margin-left:8px;"
                placeholder="请选择" :disabled="item.optionDisabled2 || item.disabled">
                    <a-option v-for="user of item.list2" :value="user.userId" @click="item.userJobNumber=user.userJobNumber">{{user.userName}}</a-option>
                </a-select>                    
            </div>
        </a-col>
    </a-row>
</a-checkbox-group>
</template>
<script lang="ts">
import {
  defineComponent,
  ref,
  watch,
  reactive,
  h,
  toRefs,
  computed,
  onMounted,
  nextTick,
} from 'vue';
import { runOrderApi } from '@/api/runOrderApi/index'
import { useRouter } from 'vue-router';

export default defineComponent({
  props:{
    serviveItem:{
      type:Array,
      default:()=>[]
    },
    orderBase:{
        type:Object,
        default:()=>{}
    },
  },
  setup(props) {
    const data=reactive({
        checkDatas:[
          {
            label:"换单",
            label2:"换单员",
            serviceType:'1709',
            bookingAgencyId:"",
            bookingAgencyName:"",
            ownerCompentFlag:false,//是否是本方公司
            disabled:true,
            optionDisabled:true,
            optionDisabled2:true,
            userId:"",
            userJobNumber:"",
            list:[],
            list2:[]
          },
          {
            label:"报关报检",
            label2:"制单员",
            serviceType:'1710',
            bookingAgencyId:"",
            bookingAgencyName:"",
            disabled:true,
            userId:"",
            userJobNumber:"",
            list:[],
            list2:[]
          },
          {
            label:"公路运输",
            serviceType:'1711',
            bookingAgencyId:"",
            bookingAgencyName:"",
            disabled:true,
            list:[]
          },
          {
            label:"仓储",
            serviceType:'1713',
            bookingAgencyId:"",
            bookingAgencyName:"",
            disabled:true,
            list:[]
          },
        ],
        checkboxSelc:[],
        status:1,//运单状态
        changeLabel:""
    })
    const getSupperlier=async(type,name)=>{
      let res=await runOrderApi.getSupperlier({
        name:name||'',
        relationTypes:9,
        labelCodes:type,
      })
      return res.data
    }
    // 换单
    getSupperlier("ChangeOrder").then(res=>{
        data.checkDatas[0].list=res
    })
    // 报关报检
    getSupperlier("CustomsDeclaration").then(res=>{
        data.checkDatas[1].list=res
    })
    // 公路运输
    getSupperlier("RoadTransport").then(res=>{
        data.checkDatas[2].list=res
    })
    getSupperlier("Storage").then(res=>{
        data.checkDatas[3].list=res
    })
    const handleSearch=(val)=>{
      let type=''
      let index=null
      if(data.changeLabel=='换单'){
        type='ChangeOrder'
        index=0
      }else if(data.changeLabel=='报关报检'){
        type='CustomsDeclaration'
        index=1
      }else if(data.changeLabel=='公路运输'){
        type='RoadTransport'
        index=2
      }else{
        type='Storage'
        index=3
      }
      getSupperlier(type,val).then(res=>{
          data.checkDatas[index].list=res
          data.checkDatas[index].list.some(item=>{
            if(item.enterpriseId==data.checkDatas[index].bookingAgencyId){
              data.checkDatas[index].ownerCompentFlag=item.ownerCompentFlag
              return true
            }
          })
          if(props.orderBase){
            let obj=data.checkDatas[index]
            if(obj.label=='换单'){
                if(obj.disabled){
                  obj.optionDisabled= obj.disabled
                  obj.optionDisabled2= obj.disabled
                }else{
                  obj.optionDisabled= data.status>=12
                  obj.optionDisabled2= obj.bookingAgencyId==''||obj.bookingAgencyId==null||!obj.ownerCompentFlag|| data.status>=12
                }
            }else if(obj.label=='报关报检'){
                if(obj.disabled){
                  obj.optionDisabled= obj.disabled
                  obj.optionDisabled2= obj.disabled
                }else{
                  obj.optionDisabled2=!obj.ownerCompentFlag
                }
            }
          }
      })

    }
    // 换单员
    runOrderApi.getRole({roleType:7}).then(res=>{
        data.checkDatas[0].list2=res.data
    })
    // 制单员
    runOrderApi.getRole({roleType:8}).then(res=>{
        data.checkDatas[1].list2=res.data
    })
    const bookingChange=(item)=>{
      if(item.label=='换单'){
        item.optionDisabled2=item.bookingAgencyId==''||!item.ownerCompentFlag|| data.status>=12
      }else if(item.label=='报关报检'){
        item.optionDisabled2=!item.ownerCompentFlag
      }
    }
    watch(()=>props.serviveItem,(service)=>{
        data.checkboxSelc=[]
        data.checkDatas.forEach(item=>{
          item.disabled=true
          if(service.includes(item.label)){
            item.disabled=false
            data.checkboxSelc.push(item.serviceType)
          }
          if(item.label=='换单'){
              if(item.disabled){
                item.optionDisabled= item.disabled
                item.optionDisabled2= item.disabled
              }else{
                item.optionDisabled= data.status>=12
                item.optionDisabled2= item.bookingAgencyId==''||item.bookingAgencyId==null||!item.ownerCompentFlag|| data.status>=12
              }
          }else if(item.label=='报关报检'){
              if(item.disabled){
                item.optionDisabled= item.disabled
                item.optionDisabled2= item.disabled
              }else{
                item.optionDisabled2=!item.ownerCompentFlag
              }
          }
          
        })
    })
    // 编辑回显
    watch(()=>props.orderBase,(nVal)=>{
      console.log("pppp")
        if(nVal.orderLogisticsMosServiceItem){
          data.checkDatas.forEach(item=>{
            item.disabled=true
            nVal.orderLogisticsMosServiceItem.some(el=>{
              if(item.serviceType==el.serviceType){
                 item.disabled=false
                 item.optionDisabled= false
                 item.optionDisabled2= false
                 item.bookingAgencyId=el.bookingAgencyId
                 item.bookingAgencyName=el.bookingAgencyName
                 item.userId=el.userId
                 item.userJobNumber=el.userJobNumber
                 data.checkboxSelc.push(item.serviceType)
                 data.changeLabel=item.label
                //  getSupperlier(item.label,item.label)
                 handleSearch(el.bookingAgencyName)
                 return true
              }
            })
          })
          if(!nVal.copy){
            data.status=nVal.status
          }
          console.log(data.status,'status')
        }
    })
    return{
      ...toRefs(data),
      bookingChange,
      getSupperlier,
      handleSearch
    }
  }
})
</script>
<style lang="less" scoped>
.serve-item{
    display:flex;
    margin-top:5px;
}
</style>