<template>
  <a-modal v-model:visible="dataMap.visible" width="50%" :top="100" @cancel="handleCancel"
    :on-before-ok="(done) => { handleBeforeOk(done) }" :mask-closable="false">
    <template #title> 设置预计完工规则 </template>
    <div v-if="dataMap.visible">
      <a-radio-group direction='vertical' v-model="dataMap.estimatedCompleteRuleType">
        <div class="radio-row" v-for="item in dataMap.showOptions" :key="item.value" :label="item.label">
        <!-- <div class="radio-row" v-for="item in estimatedCompleteRuleTypeOptions" :key="item.value" :label="item.label"> -->
          <a-radio :value="item.value" />
          <div class="row" v-if="item.value === 1" @click="dataMap.estimatedCompleteRuleType = item.value">客服预估</div>
          <div class="row" v-if="item.value === 2" @click="dataMap.estimatedCompleteRuleType = item.value">
            <span>创建后</span>
            <a-input :disabled="dataMap.estimatedCompleteRuleType === 1" class="int"
              v-model="dataMap.estimatedCompleteRules[0]" :max-length="3" size="mini" />
            <span>分钟</span>
          </div>
          <div class="row" v-if="item.value === 3" @click="dataMap.estimatedCompleteRuleType = item.value">
            <span>创建后</span>
            <a-input :disabled="dataMap.estimatedCompleteRuleType === 1" class="int"
              v-model="dataMap.estimatedCompleteRules[0]" :max-length="3" size="mini" />
            <span>小时</span>
          </div>
          <div class="row" v-if="item.value === 4" @click="dataMap.estimatedCompleteRuleType = item.value">
            <span>创建后</span>
            <a-input :disabled="dataMap.estimatedCompleteRuleType === 1" class="int"
              v-model="dataMap.estimatedCompleteRules[0]" :max-length="3" size="mini" />
            <span>个工作日</span>
          </div>
          <div class="row" v-if="item.value === 5" @click="dataMap.estimatedCompleteRuleType = item.value">
            <span>任务创建早于当日</span>
            <a-time-picker :disabled="dataMap.estimatedCompleteRuleType === 1" disable-confirm placeholder=""
              v-model="dataMap.estimatedCompleteRules[0]" class="int" format="HH:mm"
              style="width: 80px; margin: 0 10px;" size="mini" />
            <span>，当日</span>
            <a-time-picker :disabled="dataMap.estimatedCompleteRuleType === 1" disable-confirm placeholder=""
              v-model="dataMap.estimatedCompleteRules[2]" class="int" format="HH:mm"
              style="width: 80px; margin: 0 10px;" size="mini" />
            <span>完成</span>
            <div style="width:100%;height: 5px;"></div>
            <span>任务创建晚于于当日{{ dataMap.estimatedCompleteRules[0] }}，第二个工作日</span>
            <a-time-picker :disabled="dataMap.estimatedCompleteRuleType === 1" disable-confirm placeholder=""
              v-model="dataMap.estimatedCompleteRules[4]" class="int" format="HH:mm"
              style="width: 80px; margin: 0 10px;" size="mini" />
            <span>完成</span>
          </div>
          <div class="row" v-if="item.value === 6" @click="dataMap.estimatedCompleteRuleType = item.value">
            <span>澳洲：任务创建后</span>
            <a-input :disabled="dataMap.estimatedCompleteRuleType === 1" class="int"
              v-model="dataMap.estimatedCompleteRules[0]" :max-length="3" size="mini" />
            <span>个工作日</span>
            <div style="width:100%;height: 5px;"></div>
            <span>非澳洲：任务创建后</span>
            <a-input :disabled="dataMap.estimatedCompleteRuleType === 1" class="int"
              v-model="dataMap.estimatedCompleteRules[1]" :max-length="3" size="mini" />
            <span>个工作日</span>
          </div>
        </div>
      </a-radio-group>
    </div>
  </a-modal>

</template>

<script lang="ts" setup>
import { taskApi } from '@/api';
import { Message } from '@arco-design/web-vue';
import { nextTick, reactive, ref, watch } from 'vue';
const formRef = ref<any>(null)
const estimatedCompleteRuleTypeOptions = [
  { value: 1, label: '客服预估' },
  { value: 2, label: '创建后分钟' },
  { value: 3, label: '创建后小时' },
  { value: 4, label: '创建后工作日' },
  { value: 5, label: '当日次日' },
  { value: 6, label: '澳洲非澳洲' },
]
const dataMap = reactive({
  visible: false,
  ultTaskConfigId: "",
  estimatedCompleteRuleType: 1,
  estimatedCompleteRules: [] as string[],
  showOptions: [] as any[]
})

const handleCancel = () => { dataMap.estimatedCompleteRules = [] }
const emit = defineEmits(["handleBeforeOk"])
const handleClick = (params: any) => {
  dataMap.visible = true
  dataMap.ultTaskConfigId = params.ultTaskConfigId
  dataMap.estimatedCompleteRuleType = params.estimatedCompleteRuleType
  if (dataMap.estimatedCompleteRuleType === 1) {
    dataMap.showOptions = [
      estimatedCompleteRuleTypeOptions[0],
      estimatedCompleteRuleTypeOptions[3],
    ]
  } else {
    dataMap.showOptions = [
      estimatedCompleteRuleTypeOptions[0],
      estimatedCompleteRuleTypeOptions[dataMap.estimatedCompleteRuleType - 1],
    ]
  }
}
const handleBeforeOk = async (done: any) => {
  let params = JSON.parse(JSON.stringify(dataMap))
  if (dataMap.estimatedCompleteRuleType !== 1) {
    if (dataMap.estimatedCompleteRuleType === 6) {
      if (dataMap.estimatedCompleteRules[0] === '' || dataMap.estimatedCompleteRules[1] === '') {
        done(false)
        return Message.error("未填写完整完工规则")
      }
    }

    if (dataMap.estimatedCompleteRuleType === 5) {
      if (dataMap.estimatedCompleteRules[0] === '' || dataMap.estimatedCompleteRules[2] === '' || dataMap.estimatedCompleteRules[4] === '') {
        done(false)
        return Message.error("未填写完整完工规则")
      }
      params.estimatedCompleteRules[1] = dataMap.estimatedCompleteRules[0].split(':')[1]
      params.estimatedCompleteRules[0] = dataMap.estimatedCompleteRules[0].split(':')[0]
      params.estimatedCompleteRules[3] = dataMap.estimatedCompleteRules[2].split(':')[1]
      params.estimatedCompleteRules[2] = dataMap.estimatedCompleteRules[2].split(':')[0]
      params.estimatedCompleteRules[5] = dataMap.estimatedCompleteRules[4].split(':')[1]
      params.estimatedCompleteRules[4] = dataMap.estimatedCompleteRules[4].split(':')[0]
      let dayStartTime = params.estimatedCompleteRules[0] + params.estimatedCompleteRules[1]
      let dayEndTime = params.estimatedCompleteRules[2] + params.estimatedCompleteRules[3]
      if (dayEndTime < dayStartTime) {
        done(false)
        return Message.error("当天完成时间不能小于当天开始时间")
      }
    } else {
      if (dataMap.estimatedCompleteRules[0] === '') {
        done(false)
        return Message.error("未填写完整完工规则")
      }
      if (Number(dataMap.estimatedCompleteRules[0]) <= 0) {
        done(false)
        return Message.error("必须输入不小于0的整数")
      }

    }
  }
  params.estimatedCompleteRule = params.estimatedCompleteRules.join(',')
  const { code } = await taskApi.taskConfigEditPage(params)
  if (code != 200) return
  done(true)
  emit('handleBeforeOk')
}

defineExpose({ handleClick })
</script>

<style scoped lang="less">
.radio-row {
  display: flex;
  // align-items: center;
  margin-bottom: 10px;
}

.row {
  display: flex;
  align-items: center;
  margin-left: 10px;
  cursor: pointer;
  flex-wrap: wrap;

  .int {
    width: 50px;
    height: 22px;
    margin: 0 10px;
    text-align: center;
    // padding: 0;
  }
}
:deep(.arco-radio){
  align-items:flex-start;

  margin-top:5px;
}
</style>