<template>
  <a-modal v-model:visible="visible" :mask-closable="false" :footer="false" @before-ok="handleSubmit" :width="1000">
    <template #title>
      选择合同报价
    </template>
     <a-tabs default-active-key="1">
        <a-tab-pane key="1" title="已使用">
          <a-table :columns="columns" :data="tableData" :pagination="false" :scroll="scroll"  :row-selection="{type: 'radio'}" @select="rowSelect" v-model:selectedKeys="selectedKeys">
            <template #signUpNature="{ record }"> 
                {{record.signUpNature==1?'新签':'续签'}}
            </template>
          </a-table>
        </a-tab-pane>
        <a-tab-pane key="2" title="已失效">
          <a-table :columns="columns" :data="tableData2" :pagination="false" :scroll="scroll">
            <template #signUpNature="{ record }"> 
                {{record.signUpNature==1?'新签':'续签'}}
            </template>
          </a-table>
        </a-tab-pane>
     </a-tabs>
  </a-modal>
</template>

<script lang="ts">
import {
  defineComponent,
  ref,
  watch,
  reactive,
  h,
  toRefs,
  computed,
  onMounted,
  nextTick,
} from 'vue';
import { runOrderApi } from '@/api/runOrderApi/index'
export default defineComponent({
    props:{
      clientId: {
        type: Number,
        default:null,
      },
      quotationNo:{
        type: String,
        default:'',
      }
    },
   setup(props,{emit}) {
      const visible = ref(false);
      const scroll={
        y:300,
        x:1000
      }
      const columns=[
        {
          title: '',
          dataIndex: 'index',
          slotName: 'index',
        },
        {
          title: '销售品名',
          dataIndex: 'categoryName',
          width:100,
          ellipsis: true,
          tooltip: {position: 'bottom'},
        },
        {
          title: '服务项目',
          dataIndex: 'serviceProject',
          width:150,
          ellipsis: true,
          tooltip: {position: 'bottom'},
        },
        {
          title: '报价单号',
          dataIndex: 'quotationNo',
          width:150,
        ellipsis: true,
        tooltip: {position: 'bottom'},
        },
        {
          title: '港口',
          dataIndex: 'portCname	',
          width:100
        },
        {
          title: '货箱类型',
          dataIndex: 'containerType',
          width:100
        },
        {
          title: '销售员',
          dataIndex: 'signSalesman',
          width:100
        },
        {
          title: '客服专员',
          dataIndex: 'peopleService',
          width:100
        },
        {
          title: '结算员',
          dataIndex: 'settlement',
          width:100,
          ellipsis: true,
          tooltip: {position: 'bottom'},
        },
        {
          title: '到期日',
          dataIndex: 'dueToDate',
          width:150,
          ellipsis: true,
          tooltip: {position: 'bottom'},
        },
        {
          title: '签约性质',
          dataIndex: 'signUpNature',
          slotName:"signUpNature",
          width:100
        },
        {
          title: '营销部门',
          dataIndex: 'marketingDepartmentCname',
          width:120
        },
        {
          title: '所属公司',
          dataIndex: 'signUpName',
          width:130,
          ellipsis: true,
          tooltip: {position: 'bottom'},
        },
      ]
      const data=reactive({
        tableData:[{}],
        tableData2:[],
        // selectedKeys:"QYFZ-C-2022-0472-BC10"
      })
      const handleSubmit=()=>{

      }
      const getList=()=>{
            runOrderApi.getContract({customerId:props.clientId}).then(res=>{
                if(res.code=="200"){
                  res.data.forEach((item,index)=>{
                    item.key=item.quotationNo
                  })
                  data.tableData=res.data.filter(item=>{
                    return item.isInvalid
                  })
                  data.tableData2=res.data.filter(item=>{
                    return !item.isInvalid
                  })
                }
            })
      }
      const selectedKeys=ref([])
      const rowSelect=(rowKeys,rowKey,record)=>{
          if(record){
            emit('selectContract',record)
            visible.value=false
          }
      }
      watch(visible, (nVal, oVal) => {
        if (nVal) {
            getList()
        }
      });
      watch(()=>props.quotationNo,(nVal)=>{
        selectedKeys.value=[nVal]
      })
      return{
        visible,
        scroll,
        columns,
        getList,
        rowSelect,
        ...toRefs(data),
        selectedKeys,
        handleSubmit
      }
   }
})
</script>

<style lang="less" scoped>

</style>>

