<template>
<a-modal v-model:visible="visible" :mask-closable="false"
 :width="684" @before-ok="handleSubmit" unmountOnClose :ok-loading="false">
    <template #title>
      {{title}}
    </template>
     <!-- :rules="businessRules"  -->
    <a-form ref="formRef" :model="formBusinessUnits" layout="vertical" :rules="businessRules" v-if="show==1">
        <div class="customize-form-title marginR72">
            <div class="form-label">
                企业全称
                <div class="add" @click="getCompanyName">
                    <icon-plus />
                </div>
            </div>
           <a-form-item field="name" :validate-trigger="['blur']">
            <a-input v-model="formBusinessUnits.name"  placeholder="" @blur="useApi('name',formBusinessUnits,'name')"/>
           </a-form-item>
      </div>
      <a-form-item field="abbreviation" label="企业简称" :validate-trigger="['blur']">
        <a-input v-model="formBusinessUnits.abbreviation"  placeholder="" @blur="useApi('abbreviation',formBusinessUnits,'abbreviation')"/>
      </a-form-item>
      <a-form-item field="mnemonicCode" label="助记码" class="marginR72" :validate-trigger="['blur']">
        <a-input v-model="formBusinessUnits.mnemonicCode" placeholder="" allow-clear @blur="useApi('mnemonicCode',formBusinessUnits,'mnemonic_code')"/>
      </a-form-item>
      <a-form-item field="creditCode" label="社会统一信用代码" :validate-trigger="['blur']">
        <a-input v-model="formBusinessUnits.creditCode" ref="creditCodeRef"
            placeholder="" @blur="useApi('creditCode',formBusinessUnits,'credit_code')"/>
      </a-form-item>
      <a-form-item field="tradeCode" label="经营单位编码" class="marginR72" :validate-trigger="['blur']">
        <a-input v-model="formBusinessUnits.tradeCode" placeholder="" allow-clear @blur="useApi('tradeCode',formBusinessUnits,'trade_code')"/>
      </a-form-item>
      <a-form-item field="organizationCode" label="组织机构代码" :validate-trigger="['blur']">
        <a-input v-model="formBusinessUnits.organizationCode"  placeholder=""  @blur="useApi('organizationCode',formBusinessUnits,'organization_code')"/>
      </a-form-item>
      <a-form-item field="customsValidateDate" label="海关年报有效期" class="marginR72" :validate-trigger="['change','blur']">
            <a-date-picker
            style="width: 100%"
                v-model="formBusinessUnits.customsValidateDate"
                format="YYYY-MM-DD"
            />     
      </a-form-item>
      <a-form-item field="meatAssociationCode" label="肉类协会代码" :validate-trigger="['blur']">
        <a-textarea v-model="formBusinessUnits.meatAssociationCode" placeholder="" allow-clear/>
      </a-form-item>
      <a-form-item field="collectTaxFlag"  label="是否汇总征税">
        <a-radio-group v-model="formBusinessUnits.collectTaxFlag">
            <a-radio :value="0">否</a-radio>
            <a-radio :value="1">是</a-radio>
        </a-radio-group>
      </a-form-item>
    </a-form>
    <!-- 收货单位 -->
    <a-form ref="formRef" :model="formReceiving" layout="vertical" :rules="receivingRules" v-else-if="show==2">
        <div class="customize-form-title marginR72">
            <div class="form-label">
                企业全称
                <div class="add" @click="getCompanyName">
                    <icon-plus />
                </div>
            </div>
           <a-form-item field="name">
            <a-input v-model="formReceiving.name"  placeholder="" @blur="useApi('name',formReceiving,'name')"/>
           </a-form-item>
      </div>
      <a-form-item field="abbreviation" label="企业简称">
        <a-input v-model="formReceiving.abbreviation"  placeholder=""  @blur="useApi('abbreviation',formReceiving,'abbreviation')"/>
      </a-form-item>
      <a-form-item field="mnemonicCode" label="助记码" class="marginR72">
        <a-input v-model="formReceiving.mnemonicCode" placeholder="" allow-clear @blur="useApi('mnemonicCode',formReceiving,'mnemonic_code')"/>
      </a-form-item>
      <a-form-item field="creditCode" label="社会统一信用代码">
        <a-input v-model="formReceiving.creditCode" 
            placeholder=""  @blur="useApi('creditCode',formReceiving,'credit_code')"/>
      </a-form-item>
      <a-form-item field="tradeCode" label="经营单位编码" class="marginR72">
        <a-input v-model="formReceiving.tradeCode" placeholder="" allow-clear @blur="useApi('tradeCode',formReceiving,'trade_code')"/>
      </a-form-item>
      <a-form-item field="organizationCode" label="组织机构代码">
        <a-input v-model="formReceiving.organizationCode"  placeholder="" @blur="useApi('organizationCode',formReceiving,'organization_code')" />
      </a-form-item>
    </a-form>
    <!-- 国内买家 -->
    <a-form ref="formRef" :model="formBuyer" layout="vertical" :rules="receivingRules" v-else-if="show==3">
        <div class="customize-form-title marginR72">
            <div class="form-label">
                企业全称
                <div class="add" @click="getCompanyName">
                    <icon-plus />
                </div>
            </div>
           <a-form-item field="name">
            <a-input v-model="formBuyer.name"  placeholder="" @blur="useApi('name',formBuyer,'name')"/>
           </a-form-item>
      </div>
      <a-form-item field="abbreviation" label="企业简称">
        <a-input v-model="formBuyer.abbreviation"  placeholder="" @blur="useApi('abbreviation',formBuyer,'abbreviation')"/>
      </a-form-item>
      <a-form-item field="mnemonicCode" label="助记码" class="marginR72">
        <a-input v-model="formBuyer.mnemonicCode" placeholder="" allow-clear @blur="useApi('mnemonicCode',formBuyer,'mnemonic_code')"/>
      </a-form-item>
      <a-form-item field="creditCode" label="社会统一信用代码" >
        <a-input v-model="formBuyer.creditCode" 
            placeholder=""  @blur="useApi('creditCode',formBuyer,'credit_code')"/>
      </a-form-item>
    </a-form>
</a-modal>
</template>
<script lang="ts">
import {
  defineComponent,
  ref,
  watch,
  reactive,
  h,
  toRefs,
  computed,
  onMounted,
  nextTick,
} from 'vue';
import { runOrderApi } from '@/api/runOrderApi/index'
import { Modal,Message  } from '@arco-design/web-vue';
export default defineComponent({
    props:{
        bussinessData:{
            type:Object,
            default:()=>{}
        }
    },
    setup(props,{attrs, emit, slots}){
        const visible = ref(false);
        const formRef = ref()
        const title=ref('添加经营单位')
        const show=ref(1)
        const methods=reactive({
            changeEject(a) {
                switch (a) {
                    case 1:
                    show.value = 1
                    data.formType='formBusinessUnits'
                    title.value = '添加经营单位'
                    break
                    case 2:
                    show.value = 2
                    data.formType='formReceiving'
                    title.value = '添加收货单位'
                    break
                    case 3:
                    show.value = 3
                    data.formType='formBuyer'
                    title.value = '添加国内买家'
                    break
                    default:
                    break
                }
                visible.value=true
            },
            // 校验接口
            useApi(key,form,code){
                if(form[key]){
                    runOrderApi.checkBusiness({columnName:code,columnValue:form[key]}).then(res=>{
                        if(res.code!=200){
                            console.log('oooo')
                           form[key]=''
                        }
                    })
                }
            },
            validTradeCode( value, callback){
                let reg=/^[A-Za-z0-9]+$/
                if(!reg.test(value)){
                    callback(new Error("只能输入数字或字母"))
                }else{
                    callback()
                }
            }
        })
        const form = reactive({
            formBusinessUnits:{
                abbreviation:"",
                tradeCode:"",
                name:"",
                creditCode:"",
                organizationCode:"",
                customsValidateDate:"",
                meatAssociationCode: "",
                collectTaxFlag:0,
                mnemonicCode:""
            },
            formBuyer:{
                name:"",
                abbreviation:"",
                creditCode:"",
                mnemonicCode:""
            },
            formReceiving:{
                tradeCode:"",
                name:"",
                creditCode:"",
                organizationCode:"",
                abbreviation:"",
                mnemonicCode:""
            },
            receivingRules:{
                tradeCode:[
                    {validator:methods.checkTradeCode},
                    {validator:methods.validTradeCode},
                    {max:10,message: '长度不能超过10'}
                ],
                name:[
                  {required: true, message: '不能为空'},
                ],
                // 企业简称
                abbreviation:[
                    {required: true, message: '不能为空'},
                ],
                creditCode:[
                    {required: true, message: '不能为空'},
                ],
                mnemonicCode:[
                    {required: true, message: '不能为空'},
                ]
            },
            businessRules:{
                tradeCode:[
                    {required: true, message: '不能为空'},
                    {validator:methods.validTradeCode},
                    {max:10,message: '长度不能超过10'}
                ],
                name:[
                  {required: true, message: '不能为空'},
                ],
                // 企业简称
                abbreviation:[
                    {required: true, message: '不能为空'},
                ],
                organizationCode:[
                    // {validator:methods.checkOrganizationCode},
                ],
                creditCode:[
                    {required: true, message: '不能为空'},
                ],
                customsValidateDate:[
                  {required: true, message: '不能为空'},
                ],
                mnemonicCode:[
                    {required: true, message: '不能为空'},
                ],
                collectTaxFlag:[{required: true, message: '不能为空'}]
            },
        })
        function getCompanyName(){
            runOrderApi.orderGetBusinessData({enterpriseName:form[data.formType].name}).then(res=>{
                if(res.code=='200'&&res.data){
                    for(var key in res.data){
                        if(form[data.formType][key]!==undefined){
                        form[data.formType][key]=res.data[key]
                        }
                    }
                }
                formRef.clearValidate()
            })
        }
        const data=reactive({
          documentTypeList:[],
          businessList:[],
          customsByNoList:[],
          formType:""
        })
        const handleSubmit = (done) => {
            let relationBusinessLabelDTOlist=[
                {
                  relationType:8,
                  detailDTOS:[
                    {
                        labelCode:show.value==1?'BusinessUnit':'DomesticBuyers'
                    }
                  ]
                }
            ]
            let param={}
            if(data.formType=='formBusinessUnits'){//经营单位和国内买家
                param=form.formBusinessUnits
            }else if(data.formType=='formBuyer'){
                param=form.formBuyer
            }else if(data.formType=='formReceiving'){//收货单位
                param={...form.formReceiving,sourceType:1}
            }
            formRef.value.validate((error,values)=>{
              if(!error){
               runOrderApi.addBusinessUnits({
                ...param,
                relationBusinessLabelDTOlist:relationBusinessLabelDTOlist,
                dataStatus:true
               }).then(res=>{
                    if(res.code==200){
                        done()
                        let obj={}
                        if(data.formType=='formBusinessUnits'){
                            obj={name:res.data.name,nameEn:res.data.nameEn,enterpriseId:res.data.enterpriseId,domesticBuyerRelationId:res.data.id,type:1,customsValidateDate:res.data.customsValidateDate,collectTaxFlag:res.data.collectTaxFlag}
                        }else if(data.formType=='formReceiving'){
                           obj={name:res.data.name,nameEn:res.data.nameEn,enterpriseId:res.data.enterpriseId,consignEnterpriseRelationId:res.data.id,type:2}
                        }else{
                            obj={name:res.data.name,nameEn:res.data.nameEn,enterpriseId:res.data.enterpriseId,fullCoRelationId:res.data.id,type:3}
                        }
                        emit("saveAdd",obj)
                    }else{
                        done(false)
                    }

               })
              }else{
                done(false)
              }
            })
        }
        watch(()=>props.bussinessData,(nVal, oVal)=>{
            console.log(nVal)
            Object.assign(form.formBusinessUnits,nVal)
            Object.assign(form.formBuyer,nVal)
            Object.assign(form.formReceiving,nVal)
        },{
            deep:true
        })
        watch(()=>visible.value,(nVal, oVal) => {
            if(!nVal){
                let template1={
                    abbreviation:"",
                    tradeCode:"",
                    name:"",
                    creditCode:"",
                    organizationCode:"",
                    customsValidateDate:"",
                    meatAssociationCode: "",
                    collectTaxFlag:0,
                    mnemonicCode:""
                }
                let template2={
                    name:"",
                    abbreviation:"",
                    creditCode:"",
                    mnemonicCode:""
                }
                let template3={
                    tradeCode:"",
                    name:"",
                    creditCode:"",
                    organizationCode:"",
                    abbreviation:"",
                    mnemonicCode:""
                }
                Object.assign(form.formBusinessUnits,template1)
                Object.assign(form.formBuyer,template2)
                Object.assign(form.formReceiving,template3)
            }
          }
        );
        return{
            visible,
            ...toRefs(methods),
            ...toRefs(form),
            title,
            show,
            handleSubmit,
            formRef,
            getCompanyName,
            ...toRefs(data)
        }
    }
})
</script>
<style lang="less" scoped>
  .arco-form{
    flex-direction: row;
    flex-wrap: wrap;
    .arco-form-item{
      width:286px;
    }
    .marginR72{margin-right:72px}
  }
.customize-form-title{
    width:286px;
    
    .form-label{
        width:270px;
        position: absolute;left:32px;
        display: flex;justify-content: space-between;color: #696C70;
    }
    
}
</style>