<template>
    <div class="container">
        <a-modal v-model:visible="visible" :title="form.title" @cancel="handleCancel" @before-ok="handleBeforeOk"
            :width="648" :mask-closable="false">
            <a-form ref="formRef" :size="form.size" :model="form" @submit="handleSubmit" layout="vertical">
                <a-row :gutter="24">
                    <a-col :span="12" style="padding-right:36px">
                        <a-form-item field="relationName" label="经营单位">
                            <a-select v-model="form.relationName" placeholder="请选择控货单位" @search="handleSearch"
                                :filter-option="false" allow-search @focus="focusSelect">
                                <a-option v-for="(item, index) in  crmForm.companyOptions" :key="index"
                                    :value="item.relationName">{{ item.name }}
                                </a-option>
                            </a-select>
                        </a-form-item>
                    </a-col>
                    <a-col :span="12" style="padding-left:36px">
                        <a-form-item field="date" label="控货日期范围" :rules="[{ required: true, message: '日期必填' }]"
                            :validate-trigger="['change']">
                            <a-range-picker @change="onChange" @select="onSelect" v-model="form.date" />
                        </a-form-item>
                    </a-col>
                </a-row>
                <div class="checkout-select">
                    <a-checkbox v-model="form.controlType" @change="onChangeCheckout" :value="form.controlType">指定委托人
                    </a-checkbox>
                    <a-form-item field="sectionName" label="" v-if="form.controlType">
                        <a-select v-model="form.sectionName" placeholder="请选择指定委托人" @search="handleSearchName"
                            :filter-option="false" allow-search multiple :max-tag-count="2" @change="onChangeName">
                            <a-option v-for="(item, index) in  crmForm.companyOptionsName" :key="item.customerId"
                                :value="item.name">{{ item.name }}
                            </a-option>

                        </a-select>
                    </a-form-item>
                </div>
                <a-form-item field="remark" label="备注">
                    <a-textarea placeholder="请输入备注" allow-clear v-model="form.remark" />
                </a-form-item>
            </a-form>
        </a-modal>
    </div>
</template>

<script lang="ts">
import { defineComponent, ref, reactive, onMounted, defineEmits } from 'vue';
import { crmApi } from '@/api/crmApi';
import { useRouter } from 'vue-router'
import { Message } from '@arco-design/web-vue';

export default defineComponent({
    setup(props, { emit, slots, attrs }) {
        const router = useRouter();
        const formRef = ref()
        const query = router.currentRoute.value.query; // 路径参数
        // const emit = defineEmits(['saveForm'])
        const form = reactive({
            size: 'medium',
            sectionName: [],
            relationName: '',

            options: [],
            date:[],
            remark: '',
            customerName: '',
            controlType: false,
            isShowName: false,
            relationClientIds: [],
            tradeCode: '',
            relationId: '',
            id: '',
            controlStartDate: '',
            controlEndDate: '',
            title:'新增经营单位控货',
        });
        const crmForm = reactive({
            companyOptions: [],
            companyOptionsName: [],
        });
        const visible = ref(false)
        const show = (row) => {
            if (row) {
                form.title = '编辑经营单位控货'
                //编辑
                form.sectionName=[]
                form.id = row.id
                form.relationId = row.relationId 
                form.controlType = row.controlType==2?true:false
                form.controlStartDate = row.controlStartDate
                form.controlEndDate = row.controlEndDate
                form.relationName = row.relationName
                form.tradeCode = row.tradeCode
                form.relationClientIds = row.relationClientIds
                form.remark = row.remark
                form.date = [row.controlStartDate,row.controlEndDate]
                if (row.tradeControlClientVOS){
                     row.tradeControlClientVOS.map((item)=>{
                         form.sectionName.push(item.relationName)
                     })
                }
            } else {
                form.title='新增经营单位控货'
                form.id = ''
                form.relationId=''
                form.controlType = false
                form.controlStartDate = ''
                form.controlEndDate = ''
                form.relationName = ''
                form.tradeCode = ''
                form.relationClientIds = ''
                form.remark = ''
                form.date=[]
                form.sectionName = []
            }
            // 新增
            visible.value = true
        }
        const close = () => {
            visible.value = false
        }
        const handleCancel = () => {
            console.log()

        }
        const handleBeforeOk = (done) => {
            setTimeout(() => {
                formRef.value.validate(async (error: any, values: any) => {
                    if (error) {
                        done(false)
                        return
                    }
                    done()
                    crmForm.companyOptions.map((item: any) => {
                        if (item.name == form.relationName) {
                            form.tradeCode = item.tradeCode
                            form.relationId = String(item.id)
                        }
                    })
                    let data = form
                    let params = {
                        id: data.id,
                        relationId: data.relationId,
                        controlType: data.controlType == true ? 2 : 1,
                        controlStartDate: data.controlStartDate,
                        controlEndDate: data.controlEndDate,
                        relationName: data.relationName,
                        tradeCode: data.tradeCode,
                        relationClientIds: data.relationClientIds,
                        remark: data.remark
                    }
                    crmApi.postSaveTradeControlt(params).then((res: any) => {
                        if (res.code == '200') {
                            if (!form.id) {
                                Message.success('新增成功')

                            } else {
                                Message.success('修改成功')
                            }
                            emit('saveForm')
                            visible.value = false


                        } else {
                            done(false)
                            Message.error(res.message)
                        }
                    })
                })
            })

        }
        const handleSubmit = ({ values, errors }) => {
            console.log('values:', values, '\nerrors:', errors)
        }
        const onSelect = (dateString, date) => {

            console.log('onSelect', dateString, date);
        }
        const onChange = (dateString, date) => {
            console.log('onChange: ', dateString);
            form.controlStartDate = dateString[0]
            form.controlEndDate = dateString[1]
        }
        const onChangeCheckout = (value: boolean) => {
            form.isShowName = value
        }
        const onChangeName = (val) => {
            //laji
            form.relationClientIds = []
            val.map((item: any) => {
                crmForm.companyOptionsName.map((i: any) => {
                    if (item == i.name) {
                        form.relationClientIds.push(i.enterpriseId)
                    }
                })

            })
        }
        const handleSearch = (value) => {
            // if (value) {
            //     crmForm.companyOptions = crmForm.companyOptions.filter(item => item.name.indexOf(value) >= 0)
            // } else {
            //     getCompanyList()
            // }
            getCompanyList(value)
        }
        const focusSelect = () => {
            getCompanyList('')
        }
        const getCompanyList = (value) => {
            const params = {
                relationType: 8,
                hasTradeCode: 1,
                name:value
            }
            // 弹窗控货单位下拉
            crmApi.getCompanyList(params).then((res: any) => {
                if (res.code == '200') {
                    crmForm.companyOptions = res.data
                    if (query.controlGoodsCnName) {
                        form.relationName = query.controlGoodsCnName
                        form.controlStartDate = query.signUpDate
                        form.controlEndDate = query.dueToDate
                        let hasThisCompany = crmForm.companyOptions.some(item => item.name == form.relationName)
                        if (!hasThisCompany) {
                            let params = {
                                relationType: 8,
                                labelCode: 'BusinessUnit',
                                name: form.relationName
                            }
                            crmApi.getCompanyList(params).then((res) => {
                                // console.log(res.data)
                                // console.log('this.companyOptions')
                                res.data.map((item: any) => {
                                    if (item.name == form.relationName) {
                                        form.tradeCode = item.tradeCode
                                        form.relationId = String(item.id)
                                    }
                                })
                            })
                        } else {
                            crmForm.companyOptions.map((item: any) => {
                                if (item.name == form.relationName) {
                                    form.tradeCode = item.tradeCode
                                    form.relationId = String(item.id)
                                }
                            })
                        }

                        // this.addDialogVisible = true
                        // this.formData.controlType = true
                        // this.formData.id = ''
                        // this.formData.remark = ''
                        // this.formData.relationClientIds = []
                        // this.addContorlFormArray = [
                        //         {
                        //             companyId: '',
                        //             companyOptions: this.companyOptions
                        //         }
                        //     ]
                        // this.isShowArray = !this.formData.controlType
                    }
                }
            })

        }
        const handleSearchName = async (val) => {
            console.log(val)
            const params = {
                name: val,
                relationType: 8,
                // hasTradeCode: 1
            }
            let res = await crmApi.getCompanyDataList(params)
            console.log(res, '指定委托人')
            crmForm.companyOptionsName = res.data



        }
        const getCompanyDataList =async()=>{
            const params = {
                name: '',
                relationType: 8,
                // hasTradeCode: 1
            }
            let res = await crmApi.getCompanyDataList(params)
            console.log(res, '指定委托人')
            crmForm.companyOptionsName = res.data
        }

        onMounted(() => {
            console.log(query,'=======')
            // getCompanyList()
            getCompanyDataList()
            if (query.controlGoodsCnName) {
                form.relationName = query.controlGoodsCnName == 'null' ? '' : query.controlGoodsCnName
                form.controlStartDate = query.signUpDate
                form.controlEndDate = query.dueToDate
                form.date = [query.signUpDate, query.dueToDate]
                getCompanyList('')
                visible.value = true
            }
            // querySearchCompany1('')
        })

        return {
            getCompanyDataList,
            visible,
            show,
            close,
            handleCancel,
            handleBeforeOk,
            form,
            handleSubmit,
            onSelect,
            onChange,
            getCompanyList,
            handleSearch,
            crmForm, router,
            query,
            handleSearchName,
            onChangeCheckout,
            formRef,
            onChangeName,
            focusSelect

        }
    }
})


</script>

<style lang="less" scoped>
:deep(.arco-checkbox-label) {
    color: var(--color-text-2) !important;
}
</style>


