<template>
  <div class="content">
    <div>
      <slot name="left"><Left></Left></slot>
    </div>
    <div>
      <slot name="right"><Right></Right></slot>
    </div>
  </div>
</template>

<script setup>
  import Left from './Left.vue';
  import Right from './Right.vue';
</script>

<style lang="less" scoped>
  .content {
    display: flex;
    width: 100%;
    height: 70px;
    box-sizing: border-box;
    justify-content: space-between;
    background-color: #fff;
    border: 1px solid #e5e6eb;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  }
</style>
