<template>
  <div class="left_content">
    <a-trigger
      v-for="(item, index) in btnList"
      :key="item.label"
      trigger="click"
      position='tl'
      :popup-translate="[0, 20]" 
    >
      <DwButton
        :ref="(el) => btnRef(el, item)"
        type="text"
        :style="{color:index===curSelectIndex ?'#2969FF':'#696c70'}"
        @click="handleClick(item, index)"
      >
        <component :is="item.icon"></component> {{ item.label }}
      </DwButton>
      <!-- <div></div> -->
      <template #content>
        <component
          :is="item.component"
          @search='search'
          v-bind="item"
          :close-trigger="closeTrigger"
        ></component>
      </template>
    </a-trigger>
  </div>
</template>

<script setup>
  import {
    computed,
    defineAsyncComponent,
    reactive,
    ref,
  } from 'vue';
  // 按钮以及图标当前选中项
  const curSelectIndex = ref(null)
  // 动态展示项
  const btnList = reactive([
    {
      icon: 'icon-search',
      component: computed(() =>
        defineAsyncComponent(() => import('./leftComponents/Search.vue'))
      ),
      label: '搜索'
      // onInput: (e) => {
      //   console.log('input', e);
      // },
    },
    {
      icon: 'icon-filter',
      label: '筛选',
      component: computed(() =>
        defineAsyncComponent(() => import('./leftComponents/SetFilter.vue'))
      ),
    },
    {
      icon: 'icon-list',
      label: '自定义列表',
      component: computed(() =>
        defineAsyncComponent(() => import('./leftComponents/CustomList.vue'))
      ),
    },
    {
      icon: 'icon-download',
      label: '导出',
    },
  ]);
  // 点击操作项

  const btnEl = ref([]);
  const btnRef = (el) => {
    btnEl.value.push(el);
  };
  // 存储当前点击的按钮实例
  let itemClickInstance = null;
  const handleClick = (item, index) => {
    itemClickInstance = btnEl.value[index].attrs;
    curSelectIndex.value = index
    console.log(btnEl, index);
  };
  // 关闭弹窗
  const closeTrigger = () => {
    itemClickInstance.onClick[1]();
  };
  // 搜索项触发
  const search =(value) => { 
    console.log(value)
    closeTrigger()
   }
   defineExpose({
    closeTrigger
   })
</script>

<style lang="less" scoped>
  .left_content {
    height: 100%;
    display: flex;
    align-items: center;
    & > button {
      padding: 0 20px;
    }
  }
</style>
