<template>
  <!-- {{form}} -->
  <div class="add-info">
    <div class="title">
      基本信息
      <a-button type="outline" size="small" v-if="!isEdit" @click="editClick">
        编辑
      </a-button>
    </div>
    <a-form
      class="form-wrap"
      layout="vertical"
      :model="form"
      :rules="rules"
      ref="formRef"
    >
      <a-row :gutter="20">
        <a-col :span="6">
          <a-form-item
            field="businessTypesCode"
            label="业务类型"
            validate-trigger="change"
          >
            <a-select
              v-model="form.businessTypesCode"
              placeholder="请选择业务类型"
              :disabled="!isEdit"
              @change="getBusinessTypesName"
            >
              <a-option
                v-for="(item, index) in serveScoped"
                :key="index"
                :value="item.codesValues"
                :label="item.codeName"
                :disabled="item.disabled"
              ></a-option>
            </a-select>
          </a-form-item>
        </a-col>
        <a-col :span="6">
          <a-form-item
            field="goodsName"
            label="适用品类范围"
            label-col-flex="100px"
          >
            <a-select
              allow-search
              v-model="form.goodsName"
              placeholder="请选择品类"
              :disabled="!isEdit"
              @change="getHarbour"
            >
              <a-option
                v-for="(item, index) in categoryList"
                :key="index"
                :value="item"
                :label="item"
              ></a-option>
            </a-select>
          </a-form-item>
        </a-col>
        <a-col :span="6">
          <a-form-item
            field="customerId"
            label="供应商名称"
            label-col-flex="100px"
          >
            <a-select
              allow-clear
              allow-search
              :filter-option="false"
              v-model="form.customerId"
              placeholder="请选择供应商名称"
              :disabled="!isEdit"
              @change="getCustomerName"
              @search="handleCustomerSearch"
            >
              <a-option
                v-for="(item, index) in customOptions"
                :key="index"
                :value="item.enterpriseId"
                :label="item.name"
              ></a-option>
            </a-select>
          </a-form-item>
        </a-col>
        <a-col :span="6">
          <a-form-item field="signUpId" label="签约抬头" label-col-flex="100px">
            <a-select
              allow-clear
              allow-search
              v-model="form.signUpId"
              placeholder="请选择签约抬头"
              :disabled="!isEdit"
              @change="getSignUpName"
            >
              <a-option
                v-for="(item, index) in relationOptions"
                :key="index"
                :value="item.enterpriseId"
                :label="item.name"
              ></a-option>
            </a-select>
          </a-form-item>
        </a-col>
        <a-col :span="6">
          <a-form-item
            field="signUpDate"
            label="签约日期"
            label-col-flex="100px"
          >
            <a-date-picker
              v-model="form.signUpDate"
              style="width: 100%"
              :disabled="!isEdit"
            />
          </a-form-item>
        </a-col>
        <a-col :span="6">
          <a-form-item
            field="dueToDate"
            label="到期日期"
            label-col-flex="100px"
          >
            <a-date-picker
              v-model="form.dueToDate"
              style="width: 100%"
              :disabled="!isEdit"
            />
          </a-form-item>
        </a-col>
        <a-col :span="6">
          <a-form-item
            field="signUpNature"
            label="签约性质"
            label-col-flex="100px"
          >
            <a-select
              allow-clear
              v-model="form.signUpNature"
              placeholder="请选择签约性质"
              :disabled="!isEdit"
            >
              <a-option
                v-for="(item, index) in signUpNatureOptions"
                :key="index"
                :value="item.value"
                :label="item.name"
              ></a-option>
            </a-select>
          </a-form-item>
        </a-col>
        <a-col :span="6">
          <a-form-item field="contractor" label="签约人">
            <a-input v-model="form.contractor" disabled> </a-input>
          </a-form-item>
        </a-col>

        <a-col :span="6">
          <a-form-item
            field="subordinateDepartmentsId"
            label="所属部门"
            label-col-flex="100px"
          >
            <a-select
              allow-clear
              v-model="form.subordinateDepartmentsId"
              placeholder="请选择所属部门"
              :disabled="!isEdit"
              @change="getSubordinateDepartmentsCname"
            >
              <a-option
                v-for="(item, index) in departmentOptions"
                :key="index"
                :value="item.organizationId"
                :label="item.organizationName"
              ></a-option>
            </a-select>
          </a-form-item>
        </a-col>
        <a-col :span="12">
          <a-form-item
            field="servicesList"
            label="服务项目"
            label-col-flex="100px"
          >
            <a-checkbox-group
              v-model="form.servicesList"
              :options="servicesOptions"
              :disabled="!isEdit"
            >
            </a-checkbox-group>
            <!-- @select="onSelect" -->
          </a-form-item>
        </a-col>
      </a-row>
      <a-row :gutter="16">
        <a-col :span="6">
          <a-form-item field="contact" label="联系人">
            <!-- <a-input 
              allow-clear
              v-model="form.contact"
              :disabled="!isEdit"
            ></a-input> -->
            <a-select
              placeholder="联系人"
              allow-search
              v-model="form.contact"
              :disabled="!isEdit"
              @change="changeContantInfo"
              @search="seachContantInfo"
              :filter-option="filterHandlePort"
            >
              <a-option
                v-for="item in userInfoList"
                :value="item.id"
                :label="item.contact"
              ></a-option>
            </a-select>
          </a-form-item>
        </a-col>
        <a-col :span="6">
          <a-form-item field="contactPosition" label="联系人职务">
            <a-input
              allow-clear
              v-model="form.contactPosition"
              :disabled="!isEdit"
            ></a-input>
          </a-form-item>
        </a-col>
        <a-col :span="6">
          <a-form-item field="contactAddress" label="联系人地址">
            <a-input
              allow-clear
              v-model="form.contactAddress"
              :disabled="!isEdit"
            ></a-input>
          </a-form-item>
        </a-col>
        <a-col :span="6">
          <a-form-item field="contactMethods" label="联系方式">
            <a-select
              @change="switchoverPhone"
              v-model="form.contactMethods"
              class="contactSelect"
              style="width: 110px !important"
              :disabled="!isEdit"
            >
              <a-option
                v-for="(item, index) in phoneOptions"
                :key="index"
                :label="item.name"
                :value="item.value"
              ></a-option>
            </a-select>
            <a-input
              allow-clear
              v-if="form.contactMethods == '1'"
              v-model="form.mobilePhone"
              placeholder="请输入手机号"
              :disabled="!isEdit"
              @input="(val) => (form.mobilePhone = val.replace(/[^\d]/g, ''))"
            ></a-input>
            <!-- <a-input-number
              allow-clear
              v-if="form.contactMethods == '1'"
              v-model="form.mobilePhone"
              placeholder="请输入手机号"
              :disabled="!isEdit"
            ></a-input-number> -->
            <a-input
              allow-clear
              v-if="form.contactMethods == '2'"
              v-model="form.fixedTelephone"
              placeholder="请输入固定电话"
              :disabled="!isEdit"
              @input="
                (val) => (form.fixedTelephone = val.replace(/[^\d]/g, ''))
              "
            ></a-input>
          </a-form-item>
        </a-col>
      </a-row>
      <a-row :gutter="16">
        <a-col :span="24">
          <a-form-item field="remark" label="备注" label-col-flex="100px">
            <a-textarea
              v-model="form.remark"
              placeholder="请输入备注，限制300个字"
              max-length="300"
              allow-clear
              :disabled="!isEdit"
            />
          </a-form-item>
        </a-col>
      </a-row>
      <a-row :gutter="16" v-if="isEdit">
        <a-col :span="24" style="display: flex; justify-content: flex-end">
          <a-button
            size="small"
            style="margin-right: 12px"
            @click="handleCancel"
            >取消</a-button
          >
          <a-button type="primary" size="small" @click="handleSubmit"
            >保存</a-button
          >
        </a-col>
      </a-row>
    </a-form>
  </div>
</template>

<script lang="ts">
import {
  defineComponent,
  onMounted,
  PropType,
  reactive,
  toRefs,
  watch,
  ref,
  computed,
  defineExpose,
  onUnmounted,
  nextTick,
} from 'vue';
import { useRoute, useRouter } from 'vue-router';
import { crmApi } from '@/api/crmApi';
import utils from '@/utils/crm';
import { sessionStrategie, localStrategie } from '@/utils';
import { Message } from '@arco-design/web-vue';

export default defineComponent({
  name: 'BaseFormItem',
  props: {
    isEdit: {
      type: Boolean,
      default: true,
    },
    baseData: {
      type: Object,
      default: {},
    },
    showCancelBtnFlag: {
      type: [Number, String],
    },
    id: {
      type: String,
    },
  },
  emits: [
    'update:isEdit',
    'update:baseData',
    'update:showCancelBtnFlag',
    'update:id',
  ],
  setup(props, { attrs, emit, slots }) {
    const route = useRoute();
    const router = useRouter();
    // console.log(route)
    // const query = route.query
    // query.id = '123'
    // console.log(query,'query')
    const formRef = ref([]);
    const dataMap = reactive({
      userInfoList: [],
      isNameRepeat: false,
      form: {
        contractTypeCode: '', // 合同类型代码
        contractType: '', // 合同类型
        contractor: '', // 签约人
        contractorId: '', // 签约人ID
        contactMethods: '', // 联系方式1手机号  2固定电话
        mobilePhone: '', // 手机号
        fixedTelephone: '', // 固定电话
      },
      oldForm: {}, // 暂存的form表单
      cancelFormData: {},
      rules: {
        businessTypesCode: [
          {
            required: true,
            message: '请选择服务范围',
          },
        ],
        goodsName: [
          {
            required: true,
            message: '请选择品类',
          },
        ],
        customerId: [
          {
            required: true,
            message: '请选择供应商名称',
          },
        ],
        signUpId: [
          {
            required: true,
            message: '请选择签约抬头',
          },
        ],
        signUpDate: [
          {
            required: true,
            message: '请选择签约日期',
          },
        ],
        dueToDate: [
          {
            required: true,
            message: '请选择到期日期',
          },
        ],
        signUpNature: [
          {
            required: true,
            message: '请选择签约性质',
          },
        ],
        contractor: [
          {
            required: true,
            message: '请选择签约人',
          },
        ],
        subordinateDepartmentsId: [
          {
            required: true,
            message: '请选择所属部门',
          },
        ],
        servicesList: [
          {
            required: true,
            message: '请选择服务项目',
          },
        ],
        contact: [
          {
            required: true,
            message: '请输入联系人',
          },
        ],
        contactPosition: [
          {
            required: true,
            message: '请输入联系人职务',
          },
        ],
        contactAddress: [
          {
            required: true,
            message: '请输入联系人地址',
          },
        ],
        contactMethods: [
          {
            required: true,
            // message: '请选择联系方式',
            validator: (value: any, cb: any) => {
              console.log(value);
              console.log();
              if (value == undefined) {
                cb('请选择联系方式');
              } else {
                console.log(dataMap.form.mobilePhone, '123');
                if (
                  value == 1 &&
                  (dataMap.form.mobilePhone == undefined ||
                    dataMap.form.mobilePhone == '')
                ) {
                  cb('请输入手机号');
                }
                if (
                  value == 2 &&
                  (dataMap.form.fixedTelephone == undefined ||
                    dataMap.form.fixedTelephone == '')
                ) {
                  cb('请输入固定电话');
                }
              }
              // return new Promise(resolve => {
              //   window.setTimeout(() => {
              //     if (value !== 'admin') {
              //       cb('name must be admin')
              //     }
              //     resolve()
              //   }, 2000)
              // })
            },
          },
        ],
        mobilePhone: [
          {
            required: true,
            message: '请输入联系人手机号',
          },
        ],
        fixedTelephone: [
          {
            required: true,
            message: '请输入联系人固定电话',
          },
        ],
      },
      serveScoped: [], // 业务类型
      categoryList: [], // 品类范围
      customOptions: [], // 供应商列表
      relationOptions: [], // 签约抬头列表
      signUpNatureOptions: [
        // 签约性质
        {
          value: 1,
          name: '新签',
        },
        {
          value: 2,
          name: '续签',
        },
      ],
      departmentOptions: [], // 所属部门列表
      servicesOptions: [],
      phoneOptions: [
        // 联系方式列表
        {
          name: '手机号',
          value: '1',
        },
        {
          name: '固定电话',
          value: '2',
        },
      ],
    });

    // 供应商名称列表
    const getSupplier = () => {
      let param = {
        relationTypes: '8,9',
      };
      crmApi.supplierName(param).then((res) => {
        console.log(res);
        dataMap.customOptions = res.data;
      });
    };
    getSupplier();
    // 获取供应商名称
    const getCustomerName = (v: any) => {
      dataMap.form.customerName = utils.handleLabelByValue(
        dataMap.customOptions,
        v,
        'enterpriseId',
        'name'
      );

      dataMap.userInfoList = [];
      dataMap.form.contact = '';
      dataMap.form.contactPosition = '';
      dataMap.form.contactAddress = '';
      dataMap.form.contactMethods = '';
      dataMap.form.mobilePhone = '';
      dataMap.form.fixedTelephone = '';

      let data = {
        signSalesmanId: dataMap.form.contractorId,
        enterpriseId: v.toString(),
      };
      crmApi.contactList(data).then((res) => {
        if (res.code == '200') {
          console.log(res, '联系人------');
          dataMap.userInfoList = res.data;
        }
      });
    };
    const filterHandlePort = (val, option) => {
      return (
        option.label.toLowerCase().indexOf(val.toLowerCase()) > -1 ||
        option.value.indexOf(val) > -1
      );
    };
    const seachContantInfo = (val) => {
      dataMap.form.contact = val;
    };
    const changeContantInfo = (val) => {
      console.log(val, '联系人信息');
      dataMap.userInfoList.map((item) => {
        if (item.id == val) {
          dataMap.form.contact = item.contact;
          dataMap.form.contactPosition = item.contactPosition;
          dataMap.form.contactAddress = item.contactAddress;
          dataMap.form.mobilePhone = item.mobilePhone;
          dataMap.form.fixedTelephone = item.fixedTelephone;
          if (dataMap.form.contactPosition) {
            formRef.value.clearValidate(['contactPosition']);
          }
          if (dataMap.form.contactAddress) {
            formRef.value.clearValidate(['contactAddress']);
          }
          if (dataMap.form.mobilePhone) {
            formRef.value.clearValidate(['contactMethods']);
          }
          if (item.mobilePhone) {
            dataMap.form.contactMethods = '1';
          } else {
            dataMap.form.contactMethods = '2';
          }
        }
      });
    };
    // 搜索供应商
    const handleCustomerSearch = (name: any) => {
      if (name !== '') {
        let param = {
          relationTypes: '8,9',
          name,
        };
        crmApi.supplierName(param).then((res) => {
          if (res.code == 200) {
            dataMap.customOptions = res.data;
            // 暂时保留  解决远程搜索没有当前数据时
            const hasCurrentCustomer = res.data.some(
              (item) => item.name == dataMap.form.customerName
            );
            if (!hasCurrentCustomer) {
              dataMap.customOptions.unshift({
                name: dataMap.form.customerName,
                enterpriseId: dataMap.form.customerId,
              });
            }
          }
        });
      }
    };

    // 签约抬头id
    const getRelationList = () => {
      let params = {
        relationTypeList: 4,
      };
      crmApi.relationList(params).then((res) => {
        console.log(res, '签约抬头--------');
        if (res.code == 200) {
          dataMap.relationOptions = res.data;
        }
      });
    };
    getRelationList();
    // 签约抬头名称
    const getSignUpName = (v: any) => {
      dataMap.form.signUpName = utils.handleLabelByValue(
        dataMap.relationOptions,
        v,
        'enterpriseId',
        'name'
      );
    };

    // 所属部门
    const getUserDepartment = async (id: any) => {
      let data = {
        enterpriseId: '',
        userId: id,
      };
      await crmApi.userOrganizationList(data).then((res) => {
        // console.log(res,'bumen----')
        if (res.code == '200') {
          console.log(res.data, 'organizationId:1,organizationName');
          dataMap.departmentOptions = res.data;
        }
      });
    };
    const getSubordinateDepartmentsCname = (v: any) => {
      console.log(v);
      dataMap.form.subordinateDepartmentsCname = utils.handleLabelByValue(
        dataMap.departmentOptions,
        v,
        'organizationId',
        'organizationName'
      );
    };

    // 获取用户信息
    const getUserMessage = () => {
      let userInfo = JSON.parse(localStrategie.getItem('user'));
      console.log(userInfo, '用户信息来了');
      console.log(userInfo.surName, '用户信息来了');
      console.log(userInfo.firstName, '用户信息来了');
      dataMap.form.contractor = userInfo.surName + userInfo.firstName;
      dataMap.form.contractorId = userInfo.userId;
      getUserDepartment(userInfo.userId);
      // this.userId = userInfo.userId
    };

    // 获取服务项目
    const serverList = (v: any) => {
      // if (!arr) {
      //   this.rulesContract.businessTypesName = utils.handleLabelByValue(
      //     this.businessType,
      //     v,
      //     'codes',
      //     'businessTypesName'
      //   )
      // }
      let param = {
        supperiorCodes: v,
        codeTypeCode: 'contractservicetype',
      };
      crmApi.getRelationCodeTypeByCode(param).then((res) => {
        // if(!arr){this.rulesContract.services=[]}
        res.data.forEach((item) => {
          // item.isChecked = false
          item.label = item.codeName;
          item.value = item.codes;
          // arr&&arr.forEach((v) => {
          //   if (item.serviceProjectCode == v.serviceProjectCode) {
          //     item.isChecked = true
          //   }
          // })
        });
        dataMap.servicesOptions = res.data;
      });
      // let data = {
      //   codeTypeCode: 'suppliercontracttype',
      // }
      // api.getCodeTypeByCode(data).then((res) => {
      //   if (res.code == '200') {
      //     this.rulesContract.contractType = res.data[0]?.codeName
      //     this.rulesContract.contractName = res.data[0]?.codeName
      //     this.rulesContract.contractTypeCode = res.data[0]?.codes
      //   }
      // })
    };

    // 获取业务类型名称
    const getBusinessTypesName = (v) => {
      console.log(dataMap.form.businessTypesCode);
      dataMap.form.businessTypesName = utils.handleLabelByValue(
        dataMap.serveScoped,
        dataMap.form.businessTypesCode,
        'codesValues',
        'codeName'
      );
      dataMap.form.servicesList = [];
      serverList(v);
    };

    // 获取品类
    const getType = () => {
      crmApi.category().then((res) => {
        if (res.code == '200') {
          dataMap.categoryList = res.data;
        }
      });
    };

    const containerSizeList = () => {
      // 业务类型
      crmApi
        .containerSizeList({
          codeTypeCode: 'supplierbusinesstype',
        })
        .then((res) => {
          if (res.code == '200') {
            dataMap.serveScoped = res.data;
          }
        });

      // 获取流程类型
      crmApi
        .containerSizeList({
          codeTypeCode: 'suppliercontracttype',
        })
        .then((res) => {
          if (res.code == '200') {
            console.log(res, '获取合同类型');
            res.data.map((item: any) => {
              if (item.codeName == '双方协议') {
                dataMap.form.contractTypeCode = item.codesValues;
                dataMap.form.contractType = item.codeName;
              }
            });
          }
        });
    };

    const editClick = () => {
      dataMap.oldForm = {};
      dataMap.oldForm = JSON.parse(JSON.stringify(dataMap.form));
      // dataMap.showCancelBtnFlag++
      emit('update:isEdit', true);
      emit('update:showCancelBtnFlag', 2);
    };

    const handleSubmit = () => {
      formRef.value.validate().then((res: any) => {
        console.log(res);
        if (res == undefined) {
          let services = [] as any[];
          dataMap.servicesOptions.map((item) => {
            // item.label
            if (dataMap.form.servicesList.indexOf(item.value) > -1) {
              services.push({
                serviceProjectCode: item.value,
                serviceProject: item.label,
              });
            }
          });
          const params = {
            ...dataMap.form,
            services,
          };
          console.log(params);

          if (dataMap.form.id) {
            crmApi.editInfo(params).then((res) => {
              console.log(res, '编辑');
              if (res.code == '200') {
                // dataMap.form.id = res.data.id
                // dataMap.id = res.data.id.toString()
                emit('update:isEdit', false);
                emit('update:baseData', dataMap.form);
                Message.success({
                  content: '修改成功',
                });
                // emit('update:baseData', dataMap.form);
              } else {
                Message.error({
                  content: res.message,
                });
              }
            });
          } else {
            crmApi.addInfo(params).then((res) => {
              console.log(res, '保存');
              if (res.code == '200') {
                dataMap.form.id = res.data.id;
                dataMap.id = res.data.id.toString();
                emit('update:isEdit', false);
                emit('update:baseData', dataMap.form);
                Message.success({
                  content: '保存成功',
                });
                // emit('update:baseData', dataMap.form);
              } else {
                Message.error({
                  content: res.message,
                });
              }
            });
          }
        }
      });
      // console.log(formRef.value.validate())
    };

    const handleCancel = () => {
      console.log(dataMap.cancelFormData, 'dataMap.cancelFormData');
      formRef.value.clearValidate();
      dataMap.form = {};
      dataMap.form = JSON.parse(JSON.stringify(dataMap.oldForm));
      emit('update:isEdit', false);
    };

    defineExpose({
      handleCancel,
      handleSubmit,
    });

    watch(
      () => props.baseData,
      (val) => {
        handleCustomerSearch(val.customerName);
        console.log(val, '数据变化了lalalal');
        dataMap.form = JSON.parse(JSON.stringify(val));
        dataMap.form.contactMethods = '1';
        if (dataMap.form.businessTypesCode) {
          serverList(dataMap.form.businessTypesCode);
        }
        if (dataMap.form.mobilePhone) {
          dataMap.form.contactMethods = '1';
        } else {
          dataMap.form.contactMethods = '2';
        }
      },
      { immediate: true, deep: true }
    );

    // 监听servicesList
    watch(
      () => dataMap.form.servicesList,
      (val, oval) => {
        console.log('+++++++++++++');
        console.log(val);
        console.log(oval);
        console.log('+++++++++++++');
        let services = [] as any[];
        dataMap.servicesOptions.map((item) => {
          // item.label
          if (val.indexOf(item.value) > -1) {
            services.push({
              serviceProjectCode: item.value,
              serviceProject: item.label,
            });
          }
        });
        dataMap.form.services = services;
      },
      { immediate: true, deep: true }
    );

    watch(
      () => dataMap.form,
      (val) => {
        console.log(val);
      },
      { immediate: true, deep: true }
    );

    watch(
      () => dataMap.id,
      (val) => {
        emit('update:id', val);
      },
      { immediate: true, deep: true }
    );

    onMounted(() => {
      getType();
      getUserMessage();
      containerSizeList();
    });

    return {
      filterHandlePort,
      seachContantInfo,
      changeContantInfo,
      getCustomerName,
      getSignUpName,
      handleCustomerSearch,
      getSubordinateDepartmentsCname,
      ...toRefs(dataMap),
      formRef,
      getBusinessTypesName,
      editClick,
      handleCancel,
      handleSubmit,
    };
  },
});
</script>

<style lang="less" scoped>
.title {
  font-weight: 500;
  font-size: 16px;
  line-height: 28px;
  color: #1d2129;
  margin-bottom: 18px;
  display: flex;
  justify-content: space-between;
}
:deep(.form-wrap .arco-col) {
  margin-bottom: 8px;
}
</style>
