<template>
  <a-config-provider :locale="locale">
    <router-view />
    <global-setting />
  </a-config-provider>
</template>

<script lang="ts" setup>
  import { computed } from 'vue';
  import enUS from '@arco-design/web-vue/es/locale/lang/en-us';
  import zhCN from '@arco-design/web-vue/es/locale/lang/zh-cn';
  import GlobalSetting from '@/components/global-setting/index.vue';
  import useLocale from '@/hooks/locale';

  const { currentLocale } = useLocale();
  const locale = computed(() => {
    switch (currentLocale.value) {
      case 'zh-CN':
        return zhCN;
      case 'en-US':
        return enUS;
      default:
        return enUS;
    }
  });
</script>

<style>
.filter-dropdown .arco-dropdown-list-wrapper {
  max-height: 488px;
  overflow-y: hidden;
}
.custom-column-dropdown .arco-dropdown-list-wrapper {
  max-height: 617px;
}
/* .container{
  padding-top:40px!important;
} */
.arco-layout-content{
  padding-top: 32px !important;
}
.cp{
  cursor:pointer;
}
/* .arco-modal-container{
  z-index: 1004!important;
}
.arco-trigger-popup{
  z-index: 1004!important;
} */
</style>