<template>
  <div class="container">
    <LoginBanner />
    <div class="content">
      <div class="content-inner">
        <div class="content-title">欢迎来到{{ useTentant.tenantAbbreviation}}</div>
        <a-tabs default-active-key="1">
          <a-tab-pane key="1" :title="$t('login.form.password')">
            <LoginPassword />
          </a-tab-pane>
          <a-tab-pane key="2" :title="'验证码登录'">
            <LoginVerification />
          </a-tab-pane>
        </a-tabs>
      </div>
    </div>
  </div>
</template>

<script lang="ts" setup>
import LoginBanner from './components/banner.vue';
import LoginPassword from './components/login-password.vue';
import LoginVerification from './components/login-verification.vue';
import { useAppStore, useTentantStore, useUserStore } from '@/store';
const useTentant = useTentantStore();
</script>

<style lang="less" scoped>
  @loginTitleFontSize: 24px;
  @loginFormHeight: 350px;
  @loginFormWidth: 70%;
  .container {
    display: flex;
    height: 100vh;

    .banner {
      width: 66%;
      background: linear-gradient(163.85deg, #1d2129 0%, #00308f 100%);
    }

    .content {
      position: relative;
      margin: 0 auto;
      display: flex;
      flex: 1;
      height: 100%;
      align-items: center;
      justify-content: center;
      padding-bottom: 40px;
      &-inner {
        min-height: @loginFormHeight;
        width: @loginFormWidth;
      }
      &-title {
        color: var(--color-text-1);
        font-weight: 500;
        font-size: @loginTitleFontSize;
        line-height: 32px;
        margin-bottom: 20px;
      }
    }

    .footer {
      position: absolute;
      right: 0;
      bottom: 0;
      width: 100%;
    }
  }
</style>

<style lang="less" scoped>
  @contentWidth: 66%;
  // responsive
  @media (max-width: @screen-lg) {
    .container {
      .banner {
        width: @contentWidth;
      }
    }
  }
</style>
