<template>
  <div class="component-common-table">
    <!-- :columns="commonColumn.slice(0,20)"   // 表格渲染慢的原因是  列数太多 -->
    <!-- 多选不可选中  因为后台缺少key字断 -->
    <!-- <span class="icon iconfont icon-zhankai16px1px"></span> -->
    <!-- :loading="loading" -->
    <a-table
      :columns="commonColumn"
      :data="commonTableData"
      :row-selection="rowSelection"
      :scroll="scroll"
      :pagination="PaginationProps"
      :loading="loading"
      @page-change="pageChange"
      @page-size-change="pageSizeChange"
      @sorter-change="sortChange"
      @column-resize="columnResize"
      @select="selectHandle"
      @select-all="selectAll"
      @selection-change="selectionChange"
      class="commonTable"
      v-bind="$attrs"
      v-model:selectedKeys="selectedKeys"
    >
      <!-- 操作列 处理 -->
      <template #operatetitle>
        <div class="overBgTitle"></div>
      </template>
      <template #operate="{ record }">
        <!-- {{record.key}} -->
        <div class="overBg"> </div>
        <a-dropdown trigger="click" position="bl">
          <a-button size="mini" class="operateBtn">
            <template #icon>
              <icon-more-vertical />
            </template>
          </a-button>
          <template #content>
            <a-doption
              v-for="(item, index) in operateList"
              :key="index"
              v-show="item.isShow && item.isShow(record)"
              @click="item.callback && item.callback(record)"
            >
              <span :style="{ color: item.color, padding: '0 10px 0 3px' }">{{
                item.name
              }}</span>
              <!-- {{item.name}} -->
            </a-doption>
          </template>
        </a-dropdown>
      </template>
      <!-- 星标列 处理 -->
      <template #startitle>
        <div></div>
      </template>
      <template #star="{ record }">
        <a-popover position="right">
          <icon-star
            size="14"
            v-if="record.star == 0"
            style="cursor: pointer"
          />
          <icon-star-fill
            size="14"
            v-else
            :style="{ color: colors[record.star-1] }"
          />
          <template #content>
            <div class="starList">
              <span v-for="(color, index) in colors" :key="index" @click="starOrder(record,index+1)">
                <icon-star-fill size="14" :style="{ color: color }" />
              </span>
              <span @click="starOrder(record,0)">
                <icon-star size="14" />
              </span>
            </div>
          </template>
        </a-popover>
      </template>

      <!-- TODO 任务和异常需要添加跳转链接 -->

      <!-- 任务列 处理 mos/task-->
      <template #task="{ record }">
        <span
          v-if="record.taskNum > 0"
          style="color: rgba(240, 59, 59, 1)"
          class="cp"
          @click="router.push({ path:'/mos/task'})"
        >
          <i class="icon iconHover">
            <icon-list size="14" /> </i
          >{{ record.taskNum }}
        </span>
        <span v-else>
          <i class="icon">
            <icon-list size="14" />
          </i>
        </span>
      </template>

      <!-- 异常列 处理 -->
      <template #abnormal="{ record }">
        <span
          v-if="record.taskNum > 0"
          style="color: rgba(240, 59, 59, 1)"
          class="cp"
          @click="router.push({ path:'/mos/abnormal'})"
        >
          <i class="icon iconHover">
            <icon-exclamation-circle size="14" /> </i
          >{{ record.abnormalNum }}
        </span>
        <span v-else>
          <i class="icon">
            <icon-exclamation-circle size="14" />
          </i>
        </span>
      </template>

      <!-- 消息列 处理 -->
      <template #infotitle>
        <!-- {{column}} -->
        <div>消息</div>
      </template>
      <template #info="{ record }">
        <span
          v-if="record.taskNum > 0"
          style="color: rgba(41, 105, 255, 1)"
          class="cp"
        >
          <i class="icon iconHoverGreen">
            <icon-message size="14" /> </i
          >{{ record.infoNum }}
        </span>
        <span v-else>
          <i class="icon">
            <icon-message size="14" />
          </i>
        </span>
      </template>

      <!-- 筛选列 表头处理 -->
      <template #filterable="{ column }">
        <div>
          {{ column.title }}
          <span class="filterBtn" @click.stop="filterHandle">
            <icon-filter />
          </span>
          <!-- <filter-btn
            v-model:pageInitFilters="pageInitFilters"
          ></filter-btn> -->
        </div>
      </template>

      <!-- 状态列 处理 -->
      <template #status="{ record, column }">
        <div>
          <dw-tag :class="record[column.color]">
            <template #icon>
              <!-- <icon-star/> -->
            </template>
            <template #word>
              {{ record[column.dataIndex] }}
            </template>
          </dw-tag>
          <!-- {{record[column.color]}} -->
          <!-- {{column.color}} -->
        </div>
      </template>
      <!-- 制单派单 -->
      <template #urgentFlag="{record}">
        {{record.urgentFlag=='否'?'正常':'加急'}}
      </template>
      <!-- 国内买家 -->
      <template #domesticBuyerName="{ record, column }">
          <a-select v-model="record.domesticBuyerId" :disabled="record.status>=22"  :loading="loading"  allow-search @popup-visible-change="domesticBuyerRecord=record"
                  @search="handleSearch" :filter-option="false" v-if="isEditDisabled" @change="handleChange(record,'domesticBuyerId')">
          <a-option v-for="item of record.buyerList" :value="item.enterpriseId" :label="item.name"></a-option>
          </a-select>                    
        <span v-else>{{record.domesticBuyerName}}</span>
      </template>
      <!-- pi号 -->
      <template #piNo="{ record }">
        <a-input v-model="record.piNo" :disabled="record.status>=22" :loading="loading" placeholder="" allow-search
                @blur="handleChange(record,'piNo')" v-if="isEditDisabled"/>
        <span v-else>{{record.piNo}}</span>
      </template>
      <!-- 是否南北 -->
      <template #sendNbFlag="{ record}">
          <a-radio-group v-model="record.sendNbFlag" :disabled="record.status>=22"  @change="handleChange(record,'sendNbFlag')" v-if="isEditDisabled">
            <a-radio value="是">是</a-radio>
            <a-radio value="否">否</a-radio>
          </a-radio-group>        
          <span v-else>{{record.sendNbFlag}}</span>
      </template>
      <!-- 客户业务编号 -->
      <template #customerBusinessCode="{ record}">
        <a-input v-model="record.customerBusinessCode" :disabled="record.status>=22" :loading="loading" placeholder="" allow-search
                @blur="handleChange(record,'customerBusinessCode')" v-if="isEditDisabled"/>
        <span v-else>{{record.customerBusinessCode}}</span>
      </template>
      <!-- 是否拦截申报 -->
      <template #interceptionDeclaration="{ record}">
          <a-radio-group v-model="record.interceptionDeclaration" :disabled="record.status>=13"  @change="handleChange(record,'interceptionDeclaration')" v-if="isEditDisabled">
            <a-radio value="是">是</a-radio>
            <a-radio value="否">否</a-radio>
          </a-radio-group>        
          <span v-else>{{record.interceptionDeclaration}}</span>
      </template>
      <!-- 是否需要转船证明 -->
      <template #transshipmentCertificate="{ record}">
          <a-radio-group v-model="record.transshipmentCertificate" :disabled="record.status>=22"  @change="handleChange(record,'transshipmentCertificate')" v-if="isEditDisabled">
            <a-radio value="是">是</a-radio>
            <a-radio value="否">否</a-radio>
          </a-radio-group>        
          <span v-else>{{record.transshipmentCertificate}}</span>
      </template>
      <!-- 是否制作货物清单 -->
      <template #cargoListFlag="{ record}">
          <a-radio-group v-model="record.cargoListFlag" :disabled="record.status>=13"  @change="handleChange(record,'cargoListFlag')" v-if="isEditDisabled">
            <a-radio value="是">是</a-radio>
            <a-radio value="否">否</a-radio>
          </a-radio-group>        
          <span v-else>{{record.cargoListFlag}}</span>
      </template>
      <!-- 是否审核货物清单 -->
      <template #cargoReviewFlag="{ record}">
          <a-radio-group v-model="record.cargoReviewFlag" :disabled="record.status>=13"  @change="handleChange(record,'cargoReviewFlag')" v-if="isEditDisabled">
            <a-radio value="是">是</a-radio>
            <a-radio value="否">否</a-radio>
          </a-radio-group>        
          <span v-else>{{record.cargoReviewFlag}}</span>
      </template>
      <!-- 是否查询EHC -->
      <template #ehcFlag="{ record}">
          <a-radio-group v-model="record.ehcFlag" :disabled="record.ehcTaskFlag"  @change="handleChange(record,'ehcFlag')" v-if="isEditDisabled">
            <a-radio value="是">是</a-radio>
            <a-radio value="否">否</a-radio>
          </a-radio-group>        
          <span v-else>{{record.ehcFlag}}</span>
      </template>
      <!-- 卫生证号 -->
      <template #hygieneNo="{ record}">
        <a-input v-model="record.hygieneNo" :disabled="record.ehcTaskFlag" placeholder="" allow-search
                @blur="handleChange(record,'hygieneNo')" v-if="isEditDisabled"/>
        <span v-else>{{record.hygieneNo}}</span>
      </template>
      <!-- 是否汇总征税 -->
      <template #collectTaxFlag="{ record}">
          <a-radio-group v-model="record.collectTaxFlag" :disabled="record.status>=13"  @change="handleChange(record,'collectTaxFlag')" v-if="isEditDisabled">
            <a-radio value="是">是</a-radio>
            <a-radio value="否">否</a-radio>
          </a-radio-group>        
          <span v-else>{{record.collectTaxFlag}}</span>
      </template>
      <!-- 是否准入 -->
      <template #accessFlag="{ record}">
          <a-radio-group v-model="record.accessFlag" :disabled="record.status>=13"  @change="handleChange(record,'accessFlag')" v-if="isEditDisabled">
            <a-radio value="是">是</a-radio>
            <a-radio value="否">否</a-radio>
          </a-radio-group>        
          <span v-else>{{record.accessFlag}}</span>
      </template>
    <!-- 提单  -->
      <!-- 目的港 -->
      <template #portOfDischarge="{ record}" >
          <a-select v-model="record.portOfDischarge" :disabled="record.status>=13" :style="{width:'220px'}" :loading="loading" allow-search :filter-option="filterHandlePort"  v-if="isEditDisabled">
          <!-- seaportCode -->
          <a-option v-for="item of portList" :value="item.seaportEnName" :label="item.seaportName" @click="record.portOfDischargeCode=item.seaportCode;handleChange(record,'portOfDischargeCode')">
                <div class="search-foot">
                  <span>{{item.seaportName}}</span>
                  <span>{{item.seaportEnName}}</span>
                </div>
          </a-option>
          </a-select>                    
          <span v-else>{{record.portOfDischarge}}</span>
      </template>
      <!-- 靠泊码头 -->
      <template #wharfName="{ record}" >
          <a-select v-model="record.wharfName" :disabled="record.status>=19||record.portOfDischarge==null ||record.portOfDischarge==''" :style="{width:'220px'}" :loading="loading" placeholder="" allow-search @change="handleChange(record,'wharfName')" @popup-visible-change="popupChange(record)" v-if="isEditDisabled">
          <a-option v-for="item of wharfList">
              {{item.mosWharf}}
          </a-option>
          </a-select>                    
          <span v-else>{{record.wharfName}}</span>
      </template>
      <!-- 船名 -->
      <template #vesselName="{ record}" >
          <a-input v-model="record.vesselName" :disabled="(record.customsClearanceFlag&&record.status>=22)||(!record.customsClearanceFlag&&record.status>=13)" placeholder=""
                  @blur="handleChange(record,'vesselName')" v-if="isEditDisabled"/>
          <span v-else>{{record.vesselName}}</span>
      </template>
      <!-- 航次 -->
      <template #voyageNo="{ record}" >
          <a-input v-model="record.voyageNo" :disabled="(record.customsClearanceFlag&&record.status>=22)||(!record.customsClearanceFlag&&record.status>=13)" placeholder=""
                  @blur="handleChange(record,'voyageNo')" v-if="isEditDisabled"/>
          <span v-else>{{record.voyageNo}}</span>
      </template>
      <!-- 到港时间 -->
      <template #arrivalTime="{ record}" >
        <div v-if="isEditDisabled">
          <a-trigger trigger="click" :click-outside-to-close="false">
              <a-button ref="triggerRefEta" :disabled="record.status>=18" placeholder=""
                     v-if="record.ata||record.eta==null" :style="{width:'200px'}">{{record.ata?'实际'+record.ata:''}}</a-button>
              <a-button v-model="record.eta"  ref="triggerRefEta" :disabled="record.status>=18" v-else :style="{width:'200px'}"> {{record.eta?'预计'+record.eta:''}}</a-button>
              <template #content>
                <div class="trigger-input">
                  <a-form :model="record" ref="entrustForm" layout="vertical">
                      <a-form-item label="预计到港时间">
                        <a-date-picker
                        v-model="record.eta"
                          show-time
                          format="YYYY-MM-DD HH:mm"
                          :style="{width:'100%'}"
                        /> 
                      </a-form-item>
                      <a-form-item label="实际到港时间">
                        <a-date-picker
                        v-model="record.ata"
                          show-time
                          format="YYYY-MM-DD HH:mm"
                          :style="{width:'100%'}"
                        /> 
                      </a-form-item>
                      <a-form-item label="是否订阅">
                        <a-radio-group v-model="record.isSubscribeArrival">
                            <a-radio :value="true">是</a-radio>
                            <a-radio :value="false">否</a-radio>
                          </a-radio-group>
                      </a-form-item>
                  </a-form>
                  <div class="trigger-footer">
                        <a-button type="dashed" :style="{marginRight:'8px'}" @click="$refs.triggerRefEta.handleClick()">取消</a-button>
                        <a-button type="primary" @click="triggerSub(record)">确定</a-button>
                  </div>
                </div>
              </template>
          </a-trigger>
          </div>
        <span v-else>{{record.ata?'实际 '+record.ata:record.eta?'预计 '+record.eta:''}}</span>
      </template>
      <!--提单方式 -->
      <template #blRequirementsName="{ record}" >
          <a-select v-model="record.blRequirements" :disabled="record.orderReplacementStatus>=5||record.dischargeFlag" :style="{width:'120px'}" :loading="loading" @change="handleChange(record,'blRequirements')" v-if="isEditDisabled">
          <a-option v-for="item of BillList" :value="item.code">
              {{item.name}}
          </a-option>
          </a-select>                    
          <span v-else>{{record.blRequirementsName}}</span>
      </template>
      <!-- 海运费条款 -->
      <template #freightTermName="{ record}" >
          <a-select v-model="record.freightTerm" :disabled="record.orderReplacementStatus>=5||record.seaPaymentFlag" :style="{width:'120px'}" :loading="loading" @change="handleChange(record,'freightTerm')" v-if="isEditDisabled">
          <a-option v-for="item of freightList" :value="item.code">
              {{item.name}}
          </a-option>
          </a-select>                    
          <span v-else>{{record.freightTermName}}</span>
      </template>
      <!-- 货物 -->
      <!-- 报关品名 -->
      <template #customsCategory="{ record}" >
          <a-input v-model="record.customsCategory" :disabled="!record.customsClearanceFlag||record.status>=22"
                  @blur="handleChange(record,'customsCategory')" v-if="isEditDisabled"/>
          <span v-else>{{record.customsCategory}}</span>
      </template>
      <!-- 客户品名 -->
      <template #customerName="{ record}" >
          <a-input v-model="record.customerName" :disabled="record.status>=22" placeholder=""
                  @blur="handleChange(record,'customerName')" v-if="isEditDisabled"/>
          <span v-else>{{record.customerName}}</span>
      </template>
      <!-- 箱型箱量 -->
      <template #containerquantity="{ record}" >
        <div v-if="isEditDisabled">
          <a-trigger trigger="click" :click-outside-to-close="false" @show="triggerBoxTypeShow(record)">
              <a-button ref="triggerQuantityRef" :disabled="record.containerNoList!==''&&record.containerNoList!==null" style="width:200px">{{record.containerquantity}}</a-button>
              <template #content>
                <div class="trigger-input" style="width:398px">
                  <div class="trigger-title">箱型箱量</div>
                  <div class="container" v-for="(item,index) in containerQuantity">
                    <a-select :style="{width:'208px',marginRight:'8px'}" v-model="item.containerSizeAndType">
                        <a-option v-for="option in boxTypeList" :value="option" >{{option}}</a-option>
                    </a-select>
                    <a-input-number v-model="item.containerQuantity" :style="{width:'120px',marginRight:'8px'}"  :min="1"/>  
                    <icon-close style="cursor:pointer" @click="deleteBoxType(index)"/>                
                  </div>
                  <div class="trigger-footer add-trigger-footer">
                    <div class="newBtn"  @click="addBoxType()">
                      <icon-plus/>新增项
                    </div>
                    <div>
                      <a-button type="dashed" :style="{marginRight:'8px'}" @click="$refs.triggerQuantityRef.handleClick()">取消</a-button>
                      <a-button type="primary" @click="triggerSubBoxType(record)">确定</a-button>
                    </div>
                  </div>
                </div>
              </template>
          </a-trigger>
          </div>
        <span v-else>{{record.containerquantity}}</span>
      </template>
      <!-- 登记箱号 -->
      <template #containerNoList="{ record}" >
        <div v-if="isEditDisabled">
          <a-trigger trigger="click" :click-outside-to-close="false" @show="triggerContainerNoShow(record)">
              <a-button ref="triggerRef" :disabled="record.status>=19" style="width:200px">{{record.containerNoList}}</a-button>
              <template #content>
                <div class="trigger-input">
                  <div class="trigger-title">登记箱号</div>
                  <a-form :model="record" layout="vertical">
                      <a-form-item :label="item.containerSizeAndType" v-for="item in containerNoList">
                        <a-textarea
                        v-model="item.containerNo"
                          :style="{width:'100%'}"
                        /> 
                      </a-form-item>
                  </a-form>
                  <div class="trigger-footer">
                      <a-button  :style="{marginRight:'8px'}" @click="cancelClick">取消</a-button>
                      <a-button type="primary" @click="triggerSubContainerNo(record)">确定</a-button>
                  </div>
                </div>
              </template>
          </a-trigger>
        </div>
        <span v-else>{{record.containerNoList}}</span>
      </template>
      <!-- 件数 -->
      <template #quantity="{ record}">
          <a-input-number v-model="record.quantity" :min="0" :step="1"  @blur="handleChange(record,'quantity')" v-if="isEditDisabled" model-event="input" :disabled="!(record.customsClearanceFlag&&record.status<22)&&!(!record.customsClearanceFlag&&record.status<13)"/>
          <span v-else>{{record.quantity}}</span>
      </template>
      <!-- 包装单位 -->
      <template #packagesName="{ record}" >
          <a-select v-model="record.packages" :disabled="!(record.customsClearanceFlag&&record.status<22)&&!(!record.customsClearanceFlag&&record.status<13)"  :loading="loading"  allow-search  @change="handleChange(record,'packages')" v-if="isEditDisabled">
          <a-option v-for="item of packagesList" :value="item.codesValues">
              {{item.codeName}}
          </a-option>
          </a-select>                    
          <span v-else>{{record.packagesName}}</span>
      </template>
      <!-- 毛重 -->
      <template #grossWeight="{ record}">
          <a-input-number v-model="record.grossWeight" :disabled="!(record.customsClearanceFlag&&record.status<22)&&!(!record.customsClearanceFlag&&record.status<13)" :min="0.01" :step="1.22"  @blur="handleChange(record,'grossWeight')" v-if="isEditDisabled"/>
          <span v-else>{{record.grossWeight}}</span>
      </template>
      <!-- 净重 -->
      <template #netWeight="{ record}">
          <a-input-number v-model="record.netWeight" :min="0.01" :step="1.22"  @blur="handleChange(record,'netWeight')" :disabled="!(record.customsClearanceFlag&&record.status<22)&&!(!record.customsClearanceFlag&&record.status<13)" v-if="isEditDisabled"/>
          <span v-else>{{record.netWeight}}</span>
      </template>
      <!-- 体积 -->
      <template #measurement="{ record}">
          <a-input-number v-model="record.measurement" :disabled="!(record.customsClearanceFlag&&record.status<22)&&!(!record.customsClearanceFlag&&record.status<13)"  :min="0.001" :step="1.222"  @blur="handleChange(record,'measurement')" v-if="isEditDisabled"/>
          <span v-else>{{record.measurement}}</span>
      </template>
      <!-- 货值 -->
      <template #goodsValue="{ record}">
          <a-input-number v-model="record.goodsValue" :disabled="!(record.customsClearanceFlag&&record.status<22)&&!(!record.customsClearanceFlag&&record.status<13)"  :min="0.01" :step="1.22"  @blur="handleChange(record,'goodsValue')" v-if="isEditDisabled"/>
          <span v-else>{{record.goodsValue}}</span>
      </template>
      <!-- 币别 currencyList-->
      <template #goodsCurrency="{ record}" >
          <a-select v-model="record.goodsCurrency" :disabled="!(record.customsClearanceFlag&&record.status<22)&&!(!record.customsClearanceFlag&&record.status<13)"  :loading="loading"  allow-search @change="handleChange(record,'goodsCurrency')" v-if="isEditDisabled">
          <a-option v-for="item of currencyList" :value="item.currencyCode">
              {{item.currencyName}}
          </a-option>
          </a-select>                    
          <span v-else>{{record.goodsCurrency}}</span>
      </template>
      <!-- 换单 -->
      <!-- 首次换单派单时间 -->
      <template #exchangedoDispatchFirstTime="{ record}" >
          <a-date-picker v-model="record.exchangedoDispatchFirstTime" :disabled="record.status>=21&&!record.customsClearanceFlag" show-time format="YYYY-MM-DD HH:mm" @change="handleChange(record,'exchangedoDispatchFirstTime')" v-if="isEditDisabled"
            /> 
        <span v-else>{{record.exchangedoDispatchFirstTime}}</span>
      </template>
      <!-- 换单完成时间 -->
      <template #getDoTime="{ record}" >
          <a-date-picker v-model="record.getDoTime" :disabled="record.status>=21&&!record.customsClearanceFlag" show-time format="YYYY-MM-DD HH:mm" @change="handleChange(record,'getDoTime')" v-if="isEditDisabled"
            /> 
        <span v-else>{{record.getDoTime}}</span>
      </template>
      <!-- 未运输箱量 -->
      <template #notTransportedContainer="{ record}" >
          <a-popover trigger="hover" title="未运输箱量" show-arrow v-if="isEditDisabled">
            <a-button>{{record.noTransContainerNo.join(',')}}</a-button>
            <template #content>
              <div class="demo-arrow">
                <div v-for="item in record.notTransportedContainerNo">{{item}}</div>
              </div>
            </template>
          </a-popover>
          <span v-else>{{record.noTransContainerNo.join(',')}}</span>
      </template>
      <!-- 已运输箱量 -->
      <template #transportedContainer="{ record}" >
          <a-button v-if="isEditDisabled">{{record.transContainerNo.join(',')}}</a-button>
          <span v-else>{{record.transContainerNo.join(',')}}</span>
      </template>
      <!-- 运输完成时间 -->
      <template #actualDeliveryTime="{ record}" >
          <a-date-picker v-model="record.actualDeliveryTime" :disabled="record.goodsType==5001" show-time format="YYYY-MM-DD HH:mm" @change="handleChange(record,'actualDeliveryTime')" v-if="isEditDisabled" 
            /> 
        <span v-else>{{record.actualDeliveryTime}}</span>
      </template>

      <!-- 币别 -->
    </a-table>
    <!-- :loading="loading" -->
    <!-- @select="selectClick" -->
    <!--  -->
  </div>
</template>

<script lang="ts">
import { runOrderApi } from '@/api/runOrderApi/index'
import { crmApi } from '@/api/crmApi/index'
import { useRouter } from 'vue-router';
import { Modal,Message  } from '@arco-design/web-vue';
  import {
    defineComponent,
    onMounted,
    PropType,
    reactive,
    toRefs,
    watch,
    ref,
    h,
    defineExpose,
    computed,
    onUnmounted,
    nextTick,
  } from 'vue';
  import {
    updateFieldWidth,
    getTaskNum,
    getRiskNum,
    getInfoNum,
  } from '@/api/base';
  import { filter, reduce } from 'lodash';

  export default defineComponent({
    name: 'CommonTable',
    props: {
      // 数据请求接口名
      url: {
        type: Function,
        require: true,
      },
      // 视图id
      viewUserId: {
        type: String,
        require: true,
      },
      viewInfo: {
        type: Object,
        require: true,
      },
      searchword: {
        type: String,
        default: '',
      },
      viewFilterRule: {
        type: String,
        default: '',
      },
      // 表格列字段配置
      columns: {
        // type: Array as PropType<TableColumnCtx[]>,
        type: Array,
        require: true,
        default: () => [],
      },
      operateList: {
        type: Array,
        default: () => [],
      },
      syncFlag: {
        type: Number,
      },
      isEditDisabled:{
        type:Boolean,
        default:false
      }
    },
    emits: ['openFilter', 'getSelectData', 'paginationWidth'],
    // setup(props,context){
    setup(props, { attrs, emit, slots }) {
      const commonTable = ref();
      const selectedKeys = ref([]);
      let data = reactive([]);

      console.log(props.url);
      const router=useRouter()
      const dataMap = reactive({
        oldSyncFlag: 0,
        titleSlotName: [] as any[],
        timer: null,
        props,
        params: {
          viewUserId: props.viewUserId, // 用户视图ID 必须
          keyword: props.searchword, // 搜索关键字
          pageNum: 1, // 当前页-默认为1
          pageSize: 10, // 每页大小-默认为10
          viewFilterRule: '', //筛选规则: 整体为字符串数组JSON格式数组，单条规则之间分割符为|||
          orderByViewSystemFieldId: '', // 排序字段的系统视图字段ID
          orderByType: '', //排序类型: 降序-desc 升序-asc
        },
        rowSelection: {
          type: 'checkbox',
          showCheckedAll: true,
          width: 30,
          fixed: true,
        },
        commonColumn: [] as any[],
        commonTableData: [] as any[],
        loading: false,
        PaginationProps: {
          'size': 'mini',
          'total': '',
          'current': 1, //  当前页码
          'page-size': 10, // 每页展示的数据条数
          'show-page-size': true,
          'page-size-options': [10, 20, 30, 40, 50],
          'show-total': true,
          'show-jumper': true,
        },
        tData: Array<any>(),
        tLoading: false,
        tTotal: 0,
        // tParams: props.params,
        // tColumns: props.columns,
        // numberText: props.numberText,
        page: 1,
        size: 10,
        // disableList: props.disableList,
        radio: '',
        radioSelect: '',
        bodyHeight: document.body.clientHeight,
        pageChange(page: number) {
          console.log('当前page改变了：', page);
          dataMap.PaginationProps.current = page;
          dataMap.params.pageNum = page;
          emit('getTableList', []);
        },
        pageSizeChange(pageSize: number) {
          console.log('当前page显示数改变了：', pageSize);
          dataMap.PaginationProps['page-size'] = pageSize;
          dataMap.params.pageSize = pageSize;
          emit('getTableList', []);
        },
        // 点击行选择器时触发
        selectHandle(rowKeys: string, rowKey: string, record: any) {
          emit('getTableList', dataMap.commonTableData);
          console.log(rowKeys, rowKey, record, '点击行选择器时触发');
        },
        colors: [
          'red',
          'orangered',
          'orange',
          // 'gold',
          'lime',
          // 'green',
          // 'cyan',
          'blue',
          // 'arcoblue',
          'purple',
          // 'pinkpurple',
          // 'magenta',
          'gray',
        ],

        // 多选时筛选数据设置禁选
        // setSelectable(row: any) {
        //   let flag = true
        //   dataMap.disableList.forEach((item) => {
        //     if (item === row[props.rowKey]) {
        //       flag = false // 不可勾选
        //     }
        //   })
        //   return flag
        // },
        // 排序调整
        sortChange(dataIndex: string, direction: string) {
          // console.log('dsdawdbh但是你就打算打卡')
          // console.log(dataIndex,direction)
          const viewSystemFieldId = props.columns.find(
            (p) => p.fieldInterface === dataIndex
          ).viewSystemFieldId;
          // console.log(viewSystemFieldId)
          dataMap.params.orderByViewSystemFieldId = direction
            ? viewSystemFieldId
            : '';
          dataMap.params.orderByType = direction
            ? direction.replace('end', '')
            : '';
        },
        // 列宽调整方法
        columnResize(dataIndex: string, width: number) {
          if (dataMap.timer) {
            clearTimeout(dataMap.timer);
          }
          dataMap.timer = setTimeout(() => {
            // 用户输入停止1500毫秒后
            // 数据双向绑定
            console.log(dataIndex, width, '调整列块');
            // const currentItem = props.columns.filter((item:any) => item.fieldInterface == dataIndex)
            const viewUserFieldId = props.columns.find(
              (p) => p.fieldInterface === dataIndex
            ).viewUserFieldId;
            console.log(viewUserFieldId);
            let params = {
              viewUserFieldId: String(viewUserFieldId),
              fieldShowsWidth: width,
            };
            updateFieldWidth(params).then((res) => {
              if (res.code == 200) {
                console.log('请求后台列宽接口了');
              }
            });
            // emit('update:modelValue', dataMap.searchWord);
          }, 500);
        },

        selectAll(checked: boolean) {
          console.log('=======', checked);
        },
        // 多选 表格  已选项集合
        selectionChange(rowKeys: string) {
          // console.log('=======', rowKeys[0]);
          emit('getSelectData', rowKeys);
        },
        filterHandle() {
          console.log('打开筛选');
          emit('openFilter', '');
        },
      });
      const scroll = {
        x: '100%',
        y: '100%',
      };

      const spanMethod = ({ rowIndex, columnIndex }) => {
        // console.log(columnIndex)
        if (rowIndex >= 0 && columnIndex === 0) {
          return {
            // rowspan: 1,
            colspan: 2,
          };
        }
      };

      watch(
        () => dataMap.PaginationProps,
        (nVal, oVal) => {
          nextTick().then(() => {
            const arcoPagination = document.querySelector('.arco-pagination');
            console.log(arcoPagination, '&&&&&&');
            console.log(arcoPagination.offsetWidth, '&&&&&&');
            emit('paginationWidth', arcoPagination.offsetWidth);
            // console.log(arcoPagination.el.offsetWidth)
            console.log('啊啊啊啊');
            console.log(attrs);
          });
        },
        { immediate: true, deep: true }
      );

      watch(
        () => props.columns,
        (nVal, oVal) => {
          console.log(nVal,'nVal')
          let needEdit=['domesticBuyerName',"piNo","customerBusinessCode","interceptionDeclaration",]
          dataMap.commonColumn = nVal.map((item: any) => {
            // console.log(item.renderType);
            // {
            //     "viewUserFieldId": "1539160636961132544",
            //     "viewSystemFieldId": 6,
            //     "fieldColumn": "star",
            //     "fieldInterface": "star",
            //     "fieldName": "星标",
            //     "fieldType": 7,
            //     "renderType": null,
            //     "selectType": 1,
            //     "selectTypeName": "星标",
            //     "sequence": 1,
            //     "fieldShowsWidth": 20,
            //     "filterFlag": true,
            //     "orderDyFlag": true,
            //     "freezeFlag": true
            // }
            // const align = ''

            /**
             * renderType
             * 普通文本文本   适用于绝大部分字段展示(包括拼接字段)，左对齐
             * 整数   适用于整数数宇，右对齐
             * 2位小数    适用于2位小数数字，右对齐
             * 3位小数    适用于3位小数数宇，右对齐
             * 4位小数    适用于4位小数数宇，右对齐
             * 日期     YYYY-MM-DD，左对齐
             * 时间   YYYY-MM-DD HH:MM. 左对齐
             * 跳转链接文本   点击后打开新页面
             * 弹框文本   点击后弹出对话框
             * 气泡文本   hover后显示气泡框
             * 星标
             * 状态   所有的状态字段，带底色和文字样式
             * 任务   任务icon+数宇
             * 异常   异常icon+数字
             * 消息   消息icon+数字
             * 标签   例如运单里的标签(汇总征税等）
             * **/
            let align = 'left';
            if (
              item.renderType == '整数' ||
              item.renderType == '2位小数' ||
              item.renderType == '3位小数' ||
              item.renderType == '4位小数'
            ) {
              align = 'right';
            }

            let renderType;
            renderType = ({ record, column, rowIndex }) => {
              // console.log(record, column, rowIndex);
              // console.log(column)
              let index = column.dataIndex;
              // console.log(index,'========')
              // console.log(record[index])
              return h(
                'span',
                // prop 或 attribute（可选）
                {
                  style: {
                    'font-size': '12px',
                    'background': 'rgba(255, 247, 232, 1)',
                    'color': 'rgba(255, 125, 0, 1)',
                    'padding': '3px 8px',
                  },
                },
                // 子 VNodes, （可选的）
                [record[index]]
              );
            };

            let renderLink;
            renderLink = ({ record, column, rowIndex }) => {
              // console.log(record, column, rowIndex);
              // console.log(column)
              let index = column.dataIndex;
              // console.log(index,'========')
              // console.log(record[index])
              return h(
                'span',
                {
                  style: {
                    color: 'rgba(41, 105, 255, 1)',
                    cursor: 'pointer',
                  },
                  onclick: () => {
                    // todo
                    console.log(column);
                    console.log('跳转地址');
                  },
                },
                // 子 VNodes, （可选的）
                [record[index]]
              );
            };

            let newItem = {
              editFlag:item.editFlag,
              slotName:item.fieldInterface,
              dataIndex: item.fieldInterface, // 列信息的标识，对应 TableData 中的数据
              title: item.fieldName, // 列标题 string | RenderFunction
              width: item.fieldShowsWidth, // 列宽度
              align: align, // 对齐方向'left' | 'center' | 'right'
              fixed: item.freezeFlag ? 'left' : '', // 固定位置 'left' | 'right'
              ellipsis: true, // 是否显示省略号
              tooltip: true, // 是否在显示省略号时显示文本提示。可填入 tooltip 组件属性 boolean | Record<string, any> TODO
              sortable: item.orderDyFlag
                ? { sortDirections: ['ascend', 'descend'] }
                : '', // 排序相关选项 TableSortable
            };
            // if(item.fieldInterface=='cargoListFlag'){
            //   newItem.slotName='cargoListFlag'
            //   newItem.editFlag=true
            //   newItem.editType="button"
            // }

            if (item.filterFlag) {
              newItem.titleSlotName = 'filterable';
            }
            if (item.renderType == '星标') {
              newItem.titleSlotName = 'startitle';
              newItem.slotName = 'star';
            }
            // 任务  异常  消息
            if (item.renderType == '任务') {
              newItem.slotName = 'task';
            }
            if (item.renderType == '异常') {
              newItem.slotName = 'abnormal';
            }
            if (item.renderType == '消息') {
              newItem.titleSlotName = 'infotitle';
              newItem.slotName = 'info';
            }
            if (item.renderType == '跳转链接文本') {
              // newItem.slotName = 'jumplink'
              newItem.render = renderLink;
            }
            if (item.renderType == '状态') {
              console.log(item, '^^^^^^^^^');
            }
            if (item.renderType == '状态') {
              // newItem.render = renderType;
              newItem.slotName = 'status';
              newItem.color = item.fieldInterface + 'Color';
            }
            if (item.filterFlag) {
              // newItem.titleSlotName = item.fieldInterface;
              dataMap.titleSlotName.push(item.fieldInterface);
            }

            if (item.renderType == '标签') {
              console.log(item, '^^^^^^^^^');
            }
            if(item.fieldInterface=="actualDeliveryTime"){
              newItem.width=200
            }
            return newItem;
          });
          console.log(props.operateList, '=========');
          props.operateList.length > 0 &&
            dataMap.commonColumn.unshift({
              dataIndex: 'operate', // 列信息的标识，对应 TableData 中的数据
              title: '', // 列标题 string | RenderFunction
              width: 27, // 列宽度
              align: 'center',
              fixed: 'left', // 固定位置 'left' | 'right'
              ellipsis: false, // 是否显示省略号
              tooltip: false, // 是否在显示省略号时显示文本提示。可填入 tooltip 组件属性 boolean | Record<string, any>
              slotName: 'operate',
              titleSlotName: 'operatetitle',
            });

          console.log('表头信息变化了', dataMap.commonColumn);
        },
        { immediate: true, deep: true }
      );

      watch(
        () => props,
        (nVal, oVal) => {
          // console.log('来配置项了')
          // console.log(nVal)
          // console.log(oVal)
          // noSync   刷新视图flag   true  没有刷新视图  false  刷新了视图
          const noSync = nVal.syncFlag == dataMap.oldSyncFlag;
          console.log(noSync, '======---');
          dataMap.params = {
            viewUserId: nVal.viewUserId, // 用户视图ID 必须
            viewSystemId: nVal.viewInfo.viewSystemId, // 系统视图ID 必须
            keyword: nVal.searchword, // 搜索关键字
            pageNum: noSync ? dataMap.params.pageNum : 1, // 当前页-默认为1
            pageSize: noSync ? dataMap.params.pageSize : 10, // 每页大小-默认为10
            viewFilterRule: noSync ? nVal.viewFilterRule : '', //筛选规则: 整体为字符串数组JSON格式数组，单条规则之间分割符为|||
            orderByViewSystemFieldId: noSync
              ? dataMap.params.orderByViewSystemFieldId
              : '', // 排序字段的系统视图字段ID
            orderByType: noSync ? dataMap.params.orderByType : '', //排序类型: 降序-desc 升序-asc
          };
          if (!noSync) {
            dataMap.PaginationProps.current = 1;
            dataMap.PaginationProps['page-size'] = 10;
          }
          dataMap.oldSyncFlag = nVal.syncFlag;
        },
        { immediate: true, deep: true }
      );

      const getList = (params: any) => {
        const URL = props.url;
        URL!(params).then((res: any) => {
          console.log(res);
          if (res.code == 200) {
            console.log(res.data);
            data = res.data.list;
            dataMap.commonTableData = res.data.list;
            dataMap.PaginationProps.total = res.data.total;
            dataMap.loading = false;
            dataMap.commonTableData.forEach(item=>{
              item.quantity=Number(item.quantity)
              item.goodsValue=Number(item.goodsValue)
              item.noTransContainerNo=[]//未运输箱量
              item.transContainerNo=[]//已运输箱量
              if(item.transportationInfoSummary){
                item.transportationInfoSummary.forEach(No=>{
                  if(No.leftCount>0){
                    item.noTransContainerNo.push(No.containerSizeType+'*'+No.leftCount)
                    if(No.totalCount-No.leftCount>0){
                      item.transContainerNo.push(No.containerSizeType+'*'+(No.totalCount-No.leftCount))
                    }
                  }
                })
              }
              runOrderApi.getBusinessUnitList({
                  relationType:8,
                  name:item.domesticBuyerName,
                  hasTradeCode:""
              }).then(res=>{
                  if(res.code==200){
                      item.buyerList=res.data
                  }
              })
            })
            const hasTask = dataMap.commonColumn.some(
              (item) => item.dataIndex == 'taskNumber'
            );
            const hasRisk = dataMap.commonColumn.some(
              (item) => item.dataIndex == 'riskNumber'
            );
            const hasInfo = dataMap.commonColumn.some(
              (item) => item.dataIndex == 'messageNumber'
            );
            const keyList = dataMap.commonTableData.map((item) => item.key);
            // console.log(keyList, '=========commonColumns')
            // console.log(hasTask, hasRisk, hasInfo, '=========commonColumns')
            console.log(dataMap.commonColumn, '=========commonColumns');
            const getTaskNumParams = {
              businessNoList: keyList.join(','),
            };
            hasTask &&
              keyList.length > 0 &&
              getTaskNum(getTaskNumParams).then((res) => {
                console.log(res, '==============');
                const taskOver = res.data.filter(
                  (item: any) => item.taskNum > 0
                );
                console.log('taskOver:', taskOver);
                taskOver.map((task: any) => {
                  dataMap.commonTableData.forEach((tableData: any) => {
                    if (tableData.key == task.businessNo) {
                      tableData.taskNum = task.taskNum;
                    }
                  });
                });
                console.log(dataMap.commonTableData);
              });

            hasRisk &&
              keyList.length > 0 &&
              getRiskNum(getTaskNumParams).then((res) => {
                console.log(res, '==============');
                const riskOver = res.data.filter(
                  (item: any) => item.riskNum > 0
                );
                console.log('riskOver:', riskOver);
                riskOver.map((risk: any) => {
                  dataMap.commonTableData.forEach((tableData: any) => {
                    if (tableData.key == risk.businessNo) {
                      tableData.abnormalNum = risk.riskNum;
                    }
                  });
                });
              });
            hasInfo &&
              keyList.length > 0 &&
              getInfoNum(getTaskNumParams).then((res) => {
                console.log(res, '==============');
                const infoOver = res.data.filter(
                  (item: any) => item.messageNum > 0
                );
                console.log('infoOver:', infoOver);
                infoOver.map((info: any) => {
                  dataMap.commonTableData.forEach((tableData: any) => {
                    if (tableData.key == info.businessNo) {
                      tableData.infoNum = info.messageNum;
                    }
                  });
                });
              });

            // dataMap.commonTableData.forEach((item,index)=>{
            //   item.key = String(index)
            // })
            // key()
            // console.log('=========', dataMap.commonTableData);
          }
        });
      };

      // 深度监听params 变化时请求列表接口  更新列表数据
      watch(
        () => dataMap.params,
        (nVal, oVal) => {
          console.log(props.url);
          console.log(nVal);

          dataMap.loading = true;
          console.log(nVal, '====');
          dataMap.params.viewUserId && getList(nVal);
          // URL!(nVal).then((res: any) => {
          //   console.log(res);
          //   console.log('=========', new Date());
          //   if (res.code == 200) {
          //     console.log(res.data);
          //     data = res.data.list;
          //     dataMap.commonTableData = res.data.list;
          //     dataMap.PaginationProps.total = res.data.total;
          //     dataMap.loading = false;
          //     // dataMap.commonTableData.forEach((item,index)=>{
          //     //   item.key = String(index)
          //     // })
          //     // key()
          //     console.log('=========', dataMap.commonTableData);
          //     console.log('=========', new Date());
          //   }
          // });
          console.log('吃呐呐呐安');
        },
        { immediate: true, deep: true }
      );
      const editData=reactive({
        portList:[],
        wharfList:[],
        boxTypeList:[],
        containerQuantity:[],//箱型箱类
        str:"",
        containerNoList:[],//箱号
        currencyList:[],//币别
        packagesList:[],//包装单位
        BillList:[],//提单方式
        freightList:[],//海运费,
        domesticBuyerRecord:{},//国内买家当前行
      })  
      const triggerRef=ref([])
      const triggerRefEta=ref([])
      const triggerQuantityRef=ref([])
      // 港口
      crmApi.portAreaList({
        countryId:104
      }).then(res=>{
        if(res.code==200){
          editData.portList=res.data
        }
      })
      // 币别
      runOrderApi.currencyList().then(res=>{
          if(res.code==200){
              editData.currencyList=res.data
          }
      })
      // 包装单位
      runOrderApi.packages({
        codeTypeCode:'cargopackagingtype'
      }).then(res=>{
          if(res.code==200){
              editData.packagesList=res.data
          }
      })
      // 提单方式
      runOrderApi.getbillList({type:'bl_way'}).then(res=>{
        if(res.code==200){
          editData.BillList=res.data.selectorInfoList
        }
      })
      // 海运费
      runOrderApi.getfreightList({type:'freight_term'}).then(res=>{
        if(res.code==200){
          editData.freightList=res.data.selectorInfoList
        }
      })
      const handleSearch=(val)=>{
        // 国内买家
        runOrderApi.getBusinessUnitList({
            relationType:8,
            name:val,
            hasTradeCode:""
        }).then(res=>{
            if(res.code==200){
                editData.domesticBuyerRecord.buyerList=res.data
            }
        })
      }
      // 目的港模糊查询
      const filterHandlePort=(val,option)=>{
        return option.value.toLowerCase().indexOf(val.toLowerCase())>-1 || option.label.indexOf(val)>-1
      }
      const popupChange=(record)=>{
        if(record){
          // 靠泊码头列表
          runOrderApi.wharfPort({portCode:record.portOfDischargeCode}).then(res=>{
              editData.wharfList=res.data
          })
        }
      }
      // 箱型箱类显示
      const triggerBoxTypeShow=(record)=>{
        editData.containerQuantity=[]
        record.containerquantityItem.forEach(item=>{
          editData.containerQuantity.push({
            containerQuantity:item.containerQuantity,
            containerSizeAndType:item.containerSize+item.containerType
          })
         })
      }
      // 箱型箱类
      runOrderApi.boxType().then(res=>{
          editData.boxTypeList=res.data
      })
      const addBoxType=()=>{
            editData.containerQuantity.push({
                containerSizeAndType:"",
                containerQuantity:""
            })
      }
      const deleteBoxType=(index)=>{
        editData.containerQuantity.splice(index,1)
      }
      // 箱型箱类确定
      const triggerSubBoxType=(record)=>{
          runOrderApi.updateContainerQuantity({
            orderLogisticsNo:record.orderLogisticsNo,
            logisticsContainerQuantityList:editData.containerQuantity
          }).then(res=>{
            if(res.code==200){
              triggerQuantityRef.value.handleClick()
              getList(dataMap.params)
            }
          })
      }
      // 箱号登记箱号确定
      const triggerSubContainerNo=(record)=>{
        let arr=editData.containerNoList.map(item=>{
          return{
            containerNo:item.containerNo.split('\n'),
            containerSizeAndType:item.containerSizeAndType,
            containerCount:item.containerCount
          }
        })
        let params=[]
        let falg=false
        arr.some(item2=>{
          if(item2.containerNo.length>item2.containerCount){
            Message.error(item2.containerSizeAndType+'的箱号数量大于'+item2.containerCount+'!')
            falg=true
            return true
          }
          item2.containerNo.forEach(No=>{
            params.push({
               containerNo:No,
               containerSizeAndType:item2.containerSizeAndType
            })
          })
        })
        if(!falg){
          runOrderApi.updateContainerNo({
            orderLogisticsNo:record.orderLogisticsNo,
            logisticsBoxTypeList:params
          }).then(res=>{
            if(res.code==200){
              getList(dataMap.params)
              triggerRef.value.handleClick()
            }
          })
        }
      }
      // 箱号弹窗出现
      const triggerContainerNoShow=(record)=>{
        editData.containerNoList=[]
        record.containerNoViewList.forEach(item=>{
          editData.containerNoList.push({
            containerNo:item.containerNo.join('\n'),
            containerSizeAndType:item.containerSizeAndType,
            containerCount:item.containerCount
          })
        })
      }
      // 字段编辑
      const handleChange=(record,columnName)=>{
          runOrderApi.updateOrderTxt({
            orderLogisticsNo:record.orderLogisticsNo,
            columnName:columnName,
            columnValue:record[columnName]=='是'?'1':record[columnName]=='否'?'0':record[columnName]
          }).then(res=>{
            if(res.code==200){
              getList(dataMap.params)
            }
          })
      }
      // 星标订单
      const starOrder=(record,starStyle)=>{
        runOrderApi.starOrder({
          orderNo:record.orderLogisticsNo,
          type:1,
          starStyle:starStyle
        }).then(res=>{
            if(res.code==200){
              getList(dataMap.params)
            }
        })
      }
      // 预计到港时间确定
      const triggerSub=(record)=>{
        runOrderApi.updateArivalTime({
          orderLogisticsNo:record.orderLogisticsNo,
          ata:record.ata,
          eta:record.eta,
          isSubscribeArrival:record.isSubscribeArrival
        }).then(res=>{
          if(res.code==200){
            getList(dataMap.params)
            triggerRefEta.value.handleClick()
          }
        })
      }
      const cancelClick=()=>{
        triggerRef.value.handleClick()
      }
      return {
        data,
        router,
        scroll,
        getList,
        ...toRefs(dataMap),
        // rowSelection,
        selectedKeys,
        spanMethod,
        ...toRefs(editData),
        handleSearch,
        triggerSub,
        popupChange,
        handleChange,
        filterHandlePort,
        triggerRef,
        triggerRefEta,
        triggerQuantityRef,
        cancelClick,
        triggerBoxTypeShow,
        addBoxType,
        deleteBoxType,
        triggerSubBoxType,
        triggerSubContainerNo,
        triggerContainerNoShow,
        starOrder
      };
    },
  });
</script>

<style lang="less" scoped>
  .commonTable {
    // width: calc(~"100vh - 40px");
    width: calc(~'100vh - 0px');
    width: calc(~'100vw - 40px');
  }
  :deep(.arco-table-container) {
    width: auto;
  }
  :deep(.arco-table-container .arco-table-content) {
    display: flex;
    flex-direction: column;
    width: auto;
    height: 100%;
  }
  :deep(.arco-table-pagination) {
    position: fixed;
    right: 20px;
    bottom: 20px;
    z-index: 2;
  }
  .component-common-table {
    height: 100%;
  }
  .filterBtn {
    width: 22px;
    height: 22px;
    display: inline-block;
    text-align: center;
    line-height: 22px;
    // margin-left: 3px;
    cursor: pointer;
    &:hover {
      background-color: var(--color-neutral-3);
      border-radius: 2px;
    }
  }
  .filterIcon {
    position: absolute;
    right: 4px;
    top: 50%;
    margin-top: -12px;
    height: 24px;
    width: 24px;
    font-size: 12px;
    border-radius: 2px;
    line-height: 24px;
    text-align: center;
    &:hover {
      background: #e5e6eb;
    }
  }
  .starList {
    span {
      margin: 0 4px;
      cursor: pointer;
    }
  }
  .operateBtn {
    // width: 20px;
    // height: 20px;
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -12px;
  }
  .overBgTitle {
    width: 2px;
    height: 40px;
    position: absolute;
    left: -1px;
    top: 0;
    background-color: var(--color-neutral-2);
  }
  .overBg {
    width: 1px;
    height: 40px;
    top: 0;
    left: -1px;
    background-color: var(--color-bg-1);
    position: absolute;
  }
  :deep(.arco-table-tr) {
    &:hover {
      .overBg {
        background-color: var(--color-neutral-1);
      }
    }
  }
  :deep(.arco-table-tr-checked .overBg) {
    background-color: var(--color-neutral-1);
  }

  .icon {
    width: 24px;
    height: 24px;
    display: inline-block;
    text-align: center;
    line-height: 24px;
    border-radius: 2px;
  }
  .iconHover {
    &:hover {
      background: rgba(245, 63, 63, 0.3);
    }
  }
  .iconHoverGreen {
    &:hover {
      background: rgba(41, 105, 255, 0.3);
    }
  }
  .search-foot{
    width:100%;
    display: flex;
    justify-content: space-between;
    span:first-of-type{margin-right:20px;}
  }
.trigger-input{background: #fff;width:318px;padding:16px; box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.15);
  .trigger-footer{
    padding-top:16px;
    display: flex;
    justify-content: flex-end;
    border-top:1px solid var(--color-neutral-3);
    .newBtn{
        width:100px;
        color: #2969FF;
        cursor: pointer;
        .arco-icon{margin-right:10px;}
    }
  }
  .add-trigger-footer{
    justify-content: space-between;
    align-items: center;
  }
}
.trigger-title{font-size:16px;margin-bottom:20px;}
.container{
  margin-bottom:12px;
}

:deep(.arco-table-border-cell .arco-table-td:first-child){
  border-right:none;
}
</style>
