<!--
 * @Description:
-->
<template>
  <el-popover
    ref="time"
    v-model="visible"
    placement="bottom"
    style="margin-right: 12px;width: auto;"
  >
    <div
      class="u-con"
      v-for="(items, index) in data"
      :key="index"
    >
      <el-select
        v-model="items.select.value"
        :placeholder="$t(items.select.placeholder || '请选择')"
        size="small"
      >
        <el-option
          v-for="o in items.select.options"
          :key="o.value"
          :label="o.label"
          :value="o.value"
        >
        </el-option>
      </el-select>
      <el-autocomplete
        v-model.trim="items.data.value"
        :fetch-suggestions="fetchSuggestions"
        :value-key="valueKey"
        @select="handleSelect"
        placeholder="请输入内容"
        size="small"
      ></el-autocomplete>
      <i v-if="data.length > 1" @click.prevent="handleRemove(items.id)" class="el-icon-close"></i>
    </div>

    <div class="u-footer">
      <span class="add-txt" @click="handleAdd" v-if="isAdd">
        <i class="iconfont icon-xinzeng1"></i>
        {{ $t("增加条件") }}
      </span>
      <div class="u-btn">
        <el-button size="mini" @click="confirm">{{ $t("确定") }}</el-button>
      </div>
    </div>

    <el-button slot="reference" >
      <div class="u-reference">
        <span>{{ $t(title) }}</span>
        <i :class="!visible
          ? 'el-icon-caret-bottom tran1'
          : 'el-icon-caret-bottom tran'"
        ></i>
      </div>
    </el-button>
  </el-popover>
</template>

<script>
export default {
  props: {
    title: String,
    isAdd: Boolean,
    data: {
      type: Array,
      default: () => []
    },
    type: String,
    valueKey: String,
    fetchSuggestions: Function
  },
  data () {
    return {
      visible: false,
      obj: {}
    }
  },
  mounted () {
    this.obj = JSON.parse(JSON.stringify(this.data[0]))
  },
  methods: {
    handleAdd() {
      const obj = JSON.parse(JSON.stringify(this.obj))
      const ids = this.data.map(item => item.id)
      const maxId = (ids.length && Math.max(...this.data.map(item => item.id))) || 0
      obj.id = Number(maxId) + 1

      this.data.push(obj)
    },
    handleRemove (id) {
      const arr = this.data.filter((item) => item.id !== id)
      this.$emit('update:data', arr)
    },
    confirm () {
      this.visible = false
        // :TODO 确认参数待处理
        console.log('ddd', this.data)
      const arr = []
      this.data.forEach(item => {
        arr.push(item.data.value)
      })
      
      this.$emit('confirm', arr, this.type)
    },
    handleSelect (item) {
      console.log('item', item)
    },
  }
}
</script>
<style lang='scss' scoped>
.u-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  .u-btn {
    font-size: 12px;
    flex: 1;
    display: flex;
    justify-content: flex-end;
  }
}

.u-con {
  display: flex;
  margin-bottom: 12px;
  align-items: center;
}
.add-txt {
  font-size: 12px;
  padding: 2px 8px;
  color: $color_font_size;
  cursor: pointer;
  &:hover {
    background: #c9f7f5;
  }
}
.el-button {
  height: 32px;
}
.el-button:focus,
.el-button:hover {
  color: $color_title;
  border-color: #eee;
  background-color: #fff;
  border: 1px solid $button_noraml_hover_bgcolor;
}

.u-reference {
  cursor:pointer;
  min-width: 40px;
  border-radius: 5px;
  font-size: 12px;
  color: $color_black3;
  display: flex;
  justify-content: space-between;
  align-items: center;
  i {
    margin-left: 5px;
  }
  .tran {
    transition: transform 0.3s;
    -webkit-transform: rotateZ(180deg);
    transform: rotateZ(180deg);
  }

  .tran1 {
    transition: transform 0.3s;
    -webkit-transform: rotateZ(360deg);
    transform: rotateZ(360deg);
  }
}
</style>
