<!--
 * @Description:
-->
<template>
  <el-popover
    v-model="visible"
    placement="bottom"
    ref="time"
    style="margin-right: 12px; width: auto;"
  >
    <div
      class="u-con"
      v-for="(items, index) in data"
      :key="index"
    >
      <!-- 条件 -->
      <el-select
        v-if="isCategory"
        v-model="items.select.value"
        :placeholder="$t(items.select.placeholder || '请选择')"
        :disabled="items.select.disabled"
        size="small"
      >
        <el-option
          v-for="o in items.select.options"
          :key="o.value"
          :label="o.label"
          :value="o.value"
        >
        </el-option>
      </el-select>
      <span v-else class="u-con-title">
        {{ handleOption(items.select.value, items.select.options) }}
      </span>
      <!-- 时间 -->
      <el-date-picker
        v-model="items.data.value"
        type="daterange"
        align="right"
        unlink-panels
        range-separator="-"
        :start-placeholder="$t('开始日期')"
        :end-placeholder="$t('结束日期')"
        format="yyyy-MM-dd"
        value-format="yyyy-MM-dd"
        :picker-options="pickerOptions"
        size="small"
      >
      </el-date-picker>
      <i v-if="data.length > 1 && isCategory" @click.prevent="handleRemove(items.id)" class="el-icon-close"></i>
    </div>
    <div class="u-footer">
      <span class="add-txt" @click="handleAdd" v-if="isAdd">
        <i class="iconfont icon-xinzeng1"></i>
        {{ $t("增加条件") }}
      </span>
      <div class="u-btn">
        <el-button size="mini" @click="confirm">{{ $t("确定") }}</el-button>
      </div>
    </div>

    <el-button  slot="reference" >
      <div class="u-reference">
        <span class="u-reference-title">{{ $t(title) }}</span>
        <i :class="!visible
          ? 'el-icon-caret-bottom tran1'
          : 'el-icon-caret-bottom tran'"
        ></i>
      </div>
    </el-button>
  </el-popover>
</template>

<script>
import i18n from "@/utils/locale"
export default {
  props: {
    title: {
      type: String,
      default: '日期'
    },
    isAdd: Boolean,
    isCategory: Boolean,
    type: String,
    data: {
      type: Array,
      default: () => []
    }
  },
  data () {
    return {
      pickerOptions: {
        shortcuts: [
          {
            text: i18n.t("最近一周"),
            onClick(picker) {
              const end = new Date();
              const start = new Date();
              start.setTime(start.getTime() - 3600 * 1000 * 24 * 7);
              picker.$emit("pick", [start, end]);
            },
          },
          {
            text: i18n.t("最近一个月"),
            onClick(picker) {
              const end = new Date();
              const start = new Date();
              start.setTime(start.getTime() - 3600 * 1000 * 24 * 30);
              picker.$emit("pick", [start, end]);
            },
          },
          {
            text: i18n.t("最近三个月"),
            onClick(picker) {
              const end = new Date();
              const start = new Date();
              start.setTime(start.getTime() - 3600 * 1000 * 24 * 90);
              picker.$emit("pick", [start, end]);
            },
          },
        ],
      },
      visible: false
    }
  },
  mounted () {},
  methods: {
    handleAdd() {
      const obj = {
        id: 1,
        select: {
          value: '',
          placeholder: '日期类型',
          options: [
            {
              value: '1',
              label: '申请日期'
            },
            {
              value: '2',
              label: '付款日期'
            }
          ],
        },
        
        data: []
      }
      const ids = this.data.map(item => item.id)
      const maxId = (ids.length && Math.max(...this.data.map(item => item.id))) || 0
      obj.id = Number(maxId) + 1

      this.data.push(obj)
    },
    handleRemove (id) {
      const arr = this.data.filter((item) => item.id !== id)

      this.$emit('update:data', arr)
    },
    confirm () {
      this.visible = false
      const obj = {}
      this.data.forEach(item => {
        obj[item.select.value] = item.data.value || []
      })
      // :TODO 确认参数待处理
      this.$emit('confirm', obj, this.type)
    },
    handleOption (val, option) {
      const res = option.find(i => i.value == val)
      return res?.label
    },
  }
}
</script>
<style lang='scss' scoped>
.u-footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .u-btn {
    font-size: 12px;
    flex: 1;
    display: flex;
    justify-content: flex-end;
  }
}

.u-con {
  display: flex;
  margin-bottom: 12px;
  align-items: center;
  min-width: 350px;
  .u-con-title {
    width: 20%;
    font-size: 12px;
    float: left;
    margin-right: 10px;
    text-align: center;
  }
}
.add-txt {
  font-size: 12px;
  padding: 2px 8px;
  color: $color_font_size;
  cursor: pointer;
  &:hover {
    background: #c9f7f5;
  }
}
.el-button:focus,
.el-button:hover {
  color: $color_title;
  border-color: #eee;
  background-color: #fff;
  border: 1px solid $button_noraml_hover_bgcolor;
}
.el-button {
  height: 32px;
}

.u-reference {
  cursor:pointer;
  min-width: 40px;
  border-radius: 5px;
  font-size: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: $color_black3;

  i {
    margin-left: 5px;
  }
  .tran {
    transition: transform 0.3s;
    -webkit-transform: rotateZ(180deg);
    transform: rotateZ(180deg);
  }

  .tran1 {
    transition: transform 0.3s;
    -webkit-transform: rotateZ(360deg);
    transform: rotateZ(360deg);
  }
}
.el-icon-close {
  margin-left: 10px;
}

</style>
