<!--
 * @Description:
-->
<template>
  <div class='m-main'>
    <template v-for="(item, index) in data">
      <component
        :key="index"
        :is="item.is"
        :data.sync="item.data"
        v-bind="componentAttrs(item)"
        v-on="$listeners"
      ></component>
    </template>
  </div>
</template>

<script>
import UDate from '@/components/fundManagement/searchList/date'
import USelect from '@/components/fundManagement/searchList/select'
import UInput from '@/components/fundManagement/searchList/input'
import UAutocomplete from '@/components/fundManagement/searchList/autocomplete'
export default {
  components: {
    UDate,
    USelect,
    UInput,
    UAutocomplete
  },
  props: {
    data: {
      type: Array,
      default: () => []
    },
    params: {
      type: Object,
      default: () => {}
    }
  },
  data () {
    return {}
  },
  methods: {
    init () {
      this.$emit('init')
    },
    change (val, type) {
      this.$emit('change',{ val, type })
    },
    confirm (val, type){
      this.$emit('confirm',{ val, type })
    },
    onFilter () {
    },
    onClear (data) {
      // 重置所有值
      data && data.forEach(item => {
        this.handleClear(item.data)
        Object.keys(this.params).forEach(key => {
          const isBoolean = Object.prototype.toString.call(this.params[key]) === '[object Boolean]'
          this.params[key] = isBoolean ? true : ''
        })
      })
    },
    handleClear (data) {
      const isArray = Object.prototype.toString.call(data) === '[object Array]'
      if (isArray) {
        data.forEach(i => {
          const isArrayInfo = Object.prototype.toString.call(i.data.value) === '[object Array]'
          i.data.value = isArrayInfo ? [] : ''
        })
      } else {
        data.value = []
      }
    },
    formatOption (data, {value, label}) {
      const arr = data && data.map(i => {
        return {
          value: i[value],
          label: i[label]
        }
      })
      return arr
    },
    componentAttrs (item) {
      const { ...theArgs } = item
      const attrs = Object.fromEntries(Object.entries(item).filter(n => 
        !/^(is|type|title|isAdd|data|valueKey|fetchSuggestions)/.test(n[0])
      ))
      return {...attrs, ...theArgs}
    }
  }
}
</script>
<style lang='scss' scoped>
.m-main {
  margin-top: 10px;
  margin-left: 10px;
  display: flex;

}
</style>
