<!--
 * @Description:
-->
<template>
  <el-select
    v-bind="$attrs"
    v-model="data.value"
    :multiple="data.multiple"
    collapse-tags
    size="small"
    :placeholder="data.placeholder"
    @change="change"
    style="margin-right: 12px;"
  >
    <li class="el-select-dropdown__item" :class="{selected: isAll}" @click="handleAll">
      <span>{{$t('全选')}}</span>
    </li>
    <el-option
      v-for="o in data.options"
      :key="o.value"
      :label="o.label"
      :value="o.value">
    </el-option>
  </el-select>
</template>

<script>
export default {
  props: {
    data: Object,
    type: String
  },
  data () {
    return {
      isAll: false
    }
  },
  mounted () {},

  methods: {
    change (val) {
      // this.$emit('input', val)
      this.$emit('change', val, this.type)
    },
    // 全选
    handleAll () {
      this.isAll = !this.isAll
      const all = this.data.options && this.data.options.map(item => item.value)
      this.data.value = this.isAll ? all : []
      this.$emit('change', this.data.value, this.type)
    }
  },
  watch: {
    data: {
      handler (val) {
        const isArray = Object.prototype.toString.call(val.value) === '[object Array]'
        && Object.prototype.toString.call(val.options) === '[object Array]'
        if (!isArray) return
        this.isAll = val.value.length === val.options.length
      },
      deep: true,
      immediate: true
    }
  }
}
</script>
<style lang='scss' scoped>
::v-deep {
  .el-input {
    min-width: 100px !important;
    width: auto !important;
  }
  input::-webkit-input-placeholder, .el-select__caret {
    color: $color_black3 !important;
  }
  .el-select__tags {
    max-width: max-content !important;
    flex-wrap: nowrap !important;
  }
  .el-input__inner:hover {
    border-color: $button_noraml_hover_bgcolor;
  }
}
</style>
