<template>
  <div class="right-side">
    <a-dropdown
      :style="{ 'width': '685px', 'max-height': '488px' }"
      position="bl"
      class="filter-dropdown"
    >
      <a-button class="nav-btn" type="outline" ref="filterRef">
        <!-- :class="[searchContent?'hasSearch':'']" -->
        <template #icon>
          <icon-filter />
        </template>
        <span>筛选</span>
      </a-button>
      <template #content>
        <div class="search-wrap filter-wrap">
          <h3
            style="
              line-height: 24px;
              font-size: 16px;
              color: #212121;
              position: absolute;
              left: 1px;
              right: 1px;
              top: 1px;
              padding: 12px 16px;
              background: #fff;
              margin: 0;
              border-radius: 4px 4px 0 0;
            "
            >设置筛选条件</h3
          >
          <div style="height: 48px"></div>
          <div class="filterList" style="max-height: 366px">
            <a-space
              direction="vertical"
              :size="24"
              class=""
              style="display: block"
            >
              <a-row
                class="grid-demo"
                v-for="(item,i) in showFilterData"
                :key="item.id"
              >
                <a-col :span="3">
                  <div v-if="i == 0" style="text-align: center">当</div>
                  <div v-else style="text-align: center">且</div>
                </a-col>
                <a-col :span="6">
                  <div>
                    <a-input
                      v-if="item.value == 'companyName'"
                      disabled
                      v-model="item.name"
                    ></a-input>
                    <a-input
                      v-if="item.value == 'portAreaCname'"
                      disabled
                      v-model="portLable"
                    ></a-input>
                  </div>
                </a-col>
                <a-col :span="4" style="margin: 0 8px">
                  <div>
                    <a-input disabled v-model="includes"></a-input>
                  </div>
                </a-col>
                <a-col :span="10">
                  <div>
                    <!-- 所属公司 -->
                    <a-select
                      v-if="item.value == 'companyName'"
                      allow-clear
                      allow-search
                      @search="handleCompanySearch"
                      placeholder="请选择"
                      v-model="filterParams.ownerId"
                      style="max-height: 32px !important"
                    >
                      <a-option
                        v-for="(item, index) in companyOptions"
                        :key="item.id"
                        :label="item.name"
                        :value="item.id"
                      ></a-option>
                    </a-select>
                  </div>
                </a-col>
              </a-row>
            </a-space>
          </div>
          <p style="height: 70px; margin: 0"></p>
          <div
            class="handle-wrap"
            style="
              position: absolute;
              left: 1px;
              right: 1px;
              bottom: 1px;
              height: 64px;
              padding: 16px;
              border-top: 1px solid rgba(229, 230, 235, 1);
              display: flex;
              justify-content: flex-end;
              background: #fff;
              border-radius: 0 0 4px 4px;
            "
          >
            <a-button
              class="cancleBtn"
              :style="{ 'width': '76px', 'margin-right': '8px' }"
              @click="cancleClick"
              >取消</a-button
            >
            <a-button
              :style="{ width: '76px' }"
              type="primary"
              @click="confirmClick"
              >确认</a-button
            >
          </div>
        </div>
      </template>
    </a-dropdown>
  </div>
</template>

<script lang="ts">
import {
  defineComponent,
  onMounted,
  PropType,
  reactive,
  toRefs,
  watch,
  ref,
  computed,
  onUnmounted,
  nextTick,
} from 'vue';
import { billTrackApi } from '@/api/billTrack/index';

export default defineComponent({
  name: 'Filter',
  props: {
    filterParams: {
      type:Object,
      default: {}
    }
  },
  emits: ['getFilter', 'update:filterParams'],
  setup(props, { emit, slots, attrs }) {
    const filterList = ref([]);
    const dataMap = reactive({
      containerLable: '箱型箱类',
      portLable: '港口港区',
      showFilterData: [{
        id:1,
        name:'所属公司',
        value:'companyName'
      }],
      initFilters: '',
      includes: '包含',
      filterParams: {
        ownerId: '',//所属公司id
        clientId: '',//委托人id
        currency:'',//币种
      },
      companyOptions: [], // 所属公司
      companySearchKeywords:'',
    });
    const filterRef = ref([]);

    onMounted(() => {
      getCompany()
    });

    // 所属公司
    const getCompany = () => {
      billTrackApi.getCompanyOption({
         relationTypes:4, 
         name:dataMap.companySearchKeywords
      }).then((res) => {
        if (res.code == 200) {
          dataMap.companyOptions = res.data;
        }
      });
    };
    const handleCompanySearch = (val) => {
      dataMap.companySearchKeywords = val
      getCompany()
    }

    // 


    const cancleClick = () => {
      // 1. 筛选项先恢复初始状态  TODO
      console.log('取消');
      dataMap.filterParams = {};
      // 2. 关闭下拉框
      filterRef.value.handleClick();
    };

    const confirmClick = () => {
      // 1. 保存筛选项  TODO
      // 2. 传筛选项数组给父组件  TODO
      console.log(dataMap.filterParams);
      // 3. 关闭下拉框
      filterRef.value.handleClick();
      emit('update:filterParams',dataMap.filterParams)
    };

    // watch(
    //   () => dataMap.filterParams,
    //   (nVal) => {
    //     console.log(nVal);
    //     emit('update:filterParams',nVal)
    //   },
    //   { immediate: true, deep: true }
    // );

    return {
      ...toRefs(dataMap),
      filterList,
      filterRef,
      cancleClick,
      confirmClick,
      handleCompanySearch,
    };
  },
});
</script>

<style lang="less" scoped>
:deep(.arco-trigger-popup-wrapper) {
  font-size: 60px;
}
.right-side {
  width: auto;
  display: flex;
  padding-right: 20px;
  list-style: none;
  :deep(.locale-select) {
    border-radius: 20px;
  }
  a {
    color: var(--color-text-1);
    text-decoration: none;
  }
  .nav-btn {
    height: 24px;
    padding: 2px 4px;
    border-color: rgb(var(--gray-2));
    color: rgb(var(--gray-8));
    font-size: 14px;
    border: none;
    background-color: #fff;
    &:hover {
      background-color: #eef3ff;
      color: #2969ff;
    }
  }
}
.filter-dropdown {
  // font-size: 30px;
  :deep(.arco-trigger-popup-wrapper) {
    font-size: 60px;
  }
  .arco-dropdown-list-wrapper {
    font-size: 120px;
  }
}
.filterList {
  padding: 0 15px;
  overflow-y: auto;
}
.grid-demo {
  align-items: center;
}
</style>