<template>
  <div class="login-form-wrapper">
    <div class="prompt"> 请输入您注册时用的邮箱完成密码重置</div>
    <a-form ref="loginForm" :model="phoneResetForm" class="login-form" layout="vertical" @submit="handleSubmit">
      <a-form-item field="loginName" :rules="[{ required: true, message: '邮箱不能为空' }]"
        :validate-trigger="['change', 'blur']" hide-label>
        <a-input v-model="phoneResetForm.loginName" :placeholder="'请输入邮箱'">
          <template #prefix>
            <icon-user />
          </template>
        </a-input>
      </a-form-item>
      <a-form-item field="imageCode" :rules="[{ required: true, message: '图形验证码不能为空' }]"
        :validate-trigger="['change', 'blur']" hide-label>
        <a-input v-model="phoneResetForm.imageCode" :placeholder="'请输入图形验证码'"
          @input="() => imgChange(phoneResetForm.imageCode)">
          <template #prefix>
            <icon-lock />
          </template>
          <template #suffix>
            <img :src="phoneResetForm.imagePic" class="loginName-img" @click="changePic" />
          </template>
        </a-input>
      </a-form-item>
      <a-form-item field="phoneCode" :rules="[{ required: true, message: '验证码不能为空' }]"
        :validate-trigger="['change', 'blur']" hide-label>
        <a-input v-model="phoneResetForm.phoneCode" :placeholder="'请输入手机验证码'" allow-clear>
          <template #prefix>
            <icon-lock />
          </template>
          <template #suffix>
            <div v-if="!othersParams.imgCodeAlready" class="not-click-getverification">
              获取验证码
            </div>
            <div @click="getverification" v-else-if="othersParams.imgCodeAlready && othersParams.waitVerification"
              class="getverification">
              获取验证码
            </div>
            <div v-else-if="othersParams.imgCodeAlready && !othersParams.waitVerification" class="getverification">
              已发送，{{ othersParams.countdown }}秒后重新获取
            </div>
          </template>
        </a-input>
      </a-form-item>
      <a-space :size="16" direction="vertical">
        <a-button type="primary" html-type="handleSubmit" long :loading="loading">
          下一步
        </a-button>
        <a-link href="/login">返回登录</a-link>



      </a-space>
    </a-form>
  </div>
</template>

<script lang="ts" setup>
import { reactive, defineProps, defineEmits, watch } from 'vue';
import { Message } from '@arco-design/web-vue';
import useLoading from '@/hooks/loading';
import { localStorage } from '@/utils/Storage';
import { memberUser } from '@/api/member';
import { useTentantStore, useUserStore } from '@/store';
const props = defineProps({ resetPw: { type: String } })
const emit = defineEmits(['changePic'])
const userTentant = useTentantStore()
console.log(props)

// 重置密码参数
const phoneResetForm = reactive({
  loginName: '',
  imageCode: '',
  imageCode1: '',
  phoneCode: '',
  imagePic: '',
  tenantId: userTentant?.tenantId
});
const othersParams = reactive({
  imgCodeAlready: false,
  waitVerification: true,
  countdown: 60,

});
watch(() => props, (nVal, oVal) => {
  phoneResetForm.imagePic = nVal.resetPw.imagePic
  phoneResetForm.imageCode1 = nVal.resetPw.imageCode
},
  { immediate: true, deep: true }
);
const changePic = () => {
  emit('changePic')
}
const imgChange = (value: String) => {
  if (value == phoneResetForm.imageCode1) {
    othersParams.imgCodeAlready = true;
  }
  console.log(othersParams.imgCodeAlready)

}
//获取验证码
const getverification = async () => {
  const params = {
    email: phoneResetForm.loginName.toString(),
    sendEmailType: 3,
    verifyCode: phoneResetForm.imageCode.toString(),
    verifyCodeType: 10,
  };
  const { data } = await memberUser.getEmailCode(params);
  othersParams.waitVerification = false;
  othersParams.timeIn = setInterval(() => {
    othersParams.countdown--;
    if (othersParams.countdown == 0) {
      othersParams.waitVerification = true;
      othersParams.countdown = 60;
      clearInterval(othersParams.timeIn);
    }
  }, 1000);
};

const handleSubmit = async () => {
  const params = {
    tenantId: phoneResetForm.tenantId,
    verifyCode: phoneResetForm.imageCode,
    email: phoneResetForm.loginName,
    emailVerifyCode: phoneResetForm.phoneCode,
  }
  const { data } = await memberUser.emailReset(params)
  emit('reset', data.userId,'')

}
</script>

<style lang="less" scoped>
.login-form {
  &-wrapper {
    width: 100%;

    .prompt {
      color: #f4be5e;
      font-size: 12px;
      margin: 16px 0;
    }
  }

  &-sub-title {
    color: var(--color-text-3);
    font-size: 16px;
    line-height: 24px;
  }

  &-error-msg {
    height: 32px;
    color: rgb(var(--red-6));
    line-height: 32px;
  }

  &-password-actions {
    display: flex;
    justify-content: space-between;
  }

  &-register-btn {
    color: var(--color-text-3) !important;
  }

  .loginName-img {
    width: 61px;
    height: 28px;
    cursor: pointer;

  }

  .getverification {
    font-size: 14px;
    color: var(--color-text-3);
    margin-right: 5px;
    cursor: pointer;
  }

  .not-click-getverification {
    pointer-events: none;
    color: #999;
    font-size: 14px;
    margin-right: 5px;
  }
}
</style>
