<template>
  <div class="login-form-wrapper">
    <a-form ref="loginForm" :model="resetPasswordForm" class="login-form" layout="vertical" @submit="handleSubmit">
      <a-form-item field="newPassword" :rules="[{ required: true, message: '密码不能为空'  }]"
        :validate-trigger="['change', 'blur']" hide-label>
        <a-input-password v-model="resetPasswordForm.newPassword" placeholder="请再次输入密码" allow-clear>
          <template #prefix>
            <icon-lock />
          </template>
        </a-input-password>
      </a-form-item>
      <a-form-item field="againPassword" :rules="[{ required: true, message: '密码不能为空' }]"
        :validate-trigger="['change', 'blur']" hide-label>
        <a-input-password v-model="resetPasswordForm.againPassword" placeholder="请再次输入密码" allow-clear>
          <template #prefix>
            <icon-lock />
          </template>
        </a-input-password>
      </a-form-item>
      <a-space :size="16" direction="vertical">
        <a-button type="primary" html-type="handleSubmit" long :loading="loading">
         重置密码
        </a-button>
        <a-link href="/login">返回登录</a-link>
      </a-space>
    </a-form>
  </div>
</template>

<script lang="ts" setup>
import { reactive, defineProps, defineEmits, watch } from 'vue';
import { Message } from '@arco-design/web-vue';
import useLoading from '@/hooks/loading';
import { localStorage } from '@/utils/Storage';
import { memberUser } from '@/api/member';
import { useTentantStore, useUserStore } from '@/store';

import { useRouter, onMounted } from 'vue-router'
const props = defineProps({ resetPw: { type: String } })
const emit = defineEmits(['changePic'])
const userTentant = useTentantStore()
const router = useRouter();

// 重置密码参数
const resetPasswordForm = reactive({
  newPassword: '',
  againPassword: '',
  resetMethods: '',
  userId: '',
  tenantId: userTentant?.tenantId
});

watch(() => props, (nVal, oVal) => {
  console.log(nVal)
  resetPasswordForm.userId = nVal.resetPw.userId
  resetPasswordForm.resetMethods = nVal.resetPw.resetMethods
  // resetPasswordForm.imageCode1 = nVal.resetPw.imageCode
},
  { immediate: true, deep: true }
);
const changePic = () => {
  emit('changePic')
}

const query = router.currentRoute.value.query; // 路径参数
const handleSubmit = async () => {
  if (query.type) {
    const { data, code } = await memberUser.firstLoginPassword({
      newPassword: resetPasswordForm.newPassword,
      confirmNewPassword: resetPasswordForm.againPassword,
    })
    if (code == '200') {
      Message.success('修改成功')
      router.push('/login')
    } else {
      Message.error('修改失败')
    }
  } else {
    if (resetPasswordForm.resetMethods == 'phone') {
      const { data, code } = await memberUser.phoneResetPassword({
        userId: resetPasswordForm.userId,
        newPassword: resetPasswordForm.newPassword,
        confirmNewPassword: resetPasswordForm.againPassword,
      })
      if (code == '200') {
        Message.success('修改成功')
        router.push('/login')
      } else {
        Message.error('修改失败')
      }
    } else {
      const { data, code } = await memberUser.emailResetPassword({
        userId: resetPasswordForm.userId,
        newPassword: resetPasswordForm.newPassword,
        confirmNewPassword: resetPasswordForm.againPassword,
      })
      if (code == '200') {
        Message.success('修改成功')
        router.push('/login')
      } else {
        Message.error('修改失败')
      }
    }
  }
}
</script>

<style lang="less" scoped>
.login-form {
  &-wrapper {
    width: 100%;

    .prompt {
      color: #f4be5e;
      font-size: 12px;
      margin: 16px 0;
    }
  }

  &-sub-title {
    color: var(--color-text-3);
    font-size: 16px;
    line-height: 24px;
  }

  &-error-msg {
    height: 32px;
    color: rgb(var(--red-6));
    line-height: 32px;
  }

  &-password-actions {
    display: flex;
    justify-content: space-between;
  }

  &-register-btn {
    color: var(--color-text-3) !important;
  }

  .loginName-img {
    width: 61px;
    height: 28px;
    cursor: pointer;

  }

  .getverification {
    font-size: 14px;
    color: var(--color-text-3);
    margin-right: 5px;
    cursor: pointer;
  }

  .not-click-getverification {
    pointer-events: none;
    color: #999;
    font-size: 14px;
    margin-right: 5px;
  }
}
</style>
