<template>
  <div class="right-side">
    <a-button class="nav-btn" type="outline" @click="toggleFullScreen">
      <template #icon>
        <!-- TODO -->
        <icon-fullscreen-exit v-if="isFullscreen" />
        <icon-fullscreen v-else />
      </template>
      <span v-if="isFullscreen">退出全屏</span>
      <span v-else>全屏</span>
    </a-button>
  </div>
</template>

<script lang="ts" setup>
  import { computed, ref, inject, watch, nextTick } from 'vue';
  import { useFullscreen } from '@vueuse/core';
  import { useAppStore, useUserStore } from '@/store';
  import { LOCALE_OPTIONS } from '@/locale';
  import useLocale from '@/hooks/locale';
  import useUser from '@/hooks/user';

  const appStore = useAppStore();
  const userStore = useUserStore();
  const { isFullscreen, toggle: toggleFullScreen } = useFullscreen();
  const locales = [...LOCALE_OPTIONS];
  const setVisible = () => {
    appStore.updateSettings({ globalSettings: true });
  };
  const refBtn = ref();

  const emits = defineEmits(['update:isFullscreen']);
  watch(
    isFullscreen,
    (newvalue, oldvalue) => {
      if (newvalue) {
        appStore.updateSettings({ navbar: false });
      } else {
        appStore.updateSettings({ navbar: true });
      }
      nextTick().then(() => {
        emits('update:isFullscreen', newvalue);
      })
    },
    {
      deep: true,
    }
  );
  // computed
</script>

<style scoped lang="less">
  .navbar {
    display: flex;
    justify-content: space-between;
    height: 100%;
    background-color: var(--color-bg-2);
    border-bottom: 1px solid var(--color-border);
    background: var(--mos-bg-header);
    color: rgba(255, 255, 255, 0.5);
  }

  .left-side {
    display: flex;
    align-items: center;
    padding-left: 16px;
    img {
      width: 44px;
      height: 40px;
    }
  }

  .right-side {
    width: auto;
    display: flex;
    padding-left: 21px;
    padding-right: 20px;
    list-style: none;
    position: relative;
    &::before {
      content: '';
      width: 1px;
      height: 20px;
      background: #e5e6eb;
      position: absolute;
      z-index: 1;
      left: 0;
      top: 50%;
      margin-top: -10px;
    }
    :deep(.locale-select) {
      border-radius: 20px;
    }
    a {
      color: var(--color-text-1);
      text-decoration: none;
    }
    .nav-btn {
      height: 24px;
      padding: 2px 4px;
      border-color: rgb(var(--gray-2));
      color: rgb(var(--gray-8));
      font-size: 14px;
      border: none;
      background-color: #fff;
      &:hover {
        background-color: #eef3ff;
        color: #2969ff;
      }
      a {
        color: var(--color-text-1);
        text-decoration: none;
      }
      .nav-btn {
        height: 24px;
        padding: 2px 4px;
        border-color: rgb(var(--gray-2));
        color: rgb(var(--gray-8));
        font-size: 14px;
        border: none;
        background-color: #fff;
        &:hover {
          background-color: #eef3ff;
          color: #2969ff;
        }
      }
      .trigger-btn,
      .ref-btn {
        position: absolute;
        bottom: 14px;
      }
      .trigger-btn {
        margin-left: 14px;
      }
    }
  }
</style>
