<!--
 * @Description:
-->
<template>
  <div class='m-main'>
    <template v-for="(item, index) in search">
      <component
        :key="index"
        :is="item.is"
        @change="onChange"
        @confirm="onConfirm"
        :data.sync="item.data"
        v-bind="componentAttrs(item)"
      ></component>
    </template>
  </div>
</template>

<script>
import api from '@/api'
import UDate from '../components/searchList/date'
import USelect from '../components/searchList/select'
import UInput from '../components/searchList/input'
import UAutocomplete from '../components/searchList/autocomplete'
export default {
  components: {
    UDate,
    USelect,
    UInput,
    UAutocomplete
  },
  props: {
    data: Object
  },
  data () {
    const selectOption = {
      value: [],
      multiple: true,
      options: [
        {
          label: '常温食品',
          value: 0
        },
        {
          label: '冷柜食品',
          value: 1
        },
        {
          label: '硬木板材',
          value: 2
        },
        {
          label: '松木板材',
          value: 3
        },
        {
          label: '农产品',
          value: 4
        },
        {
          label: '杂项',
          value: 5
        },
        {
          label: '塑胶原料',
          value: 6
        },
        {
          label: '矿产品',
          value: 7
        },
        {
          label: '有色金属',
          value: 8
        },
        {
          label: '纸浆及纸制品',
          value: 9
        },
        {
          label: '化工品',
          value: 10
        }
      ],
      placeholder: '品类'
    }
    const inputOption_3 = [
      {
        id: 1,
        select: {
          value: '1',
          placeholder: '请选择',
          disabled: true,
          options: [
            {
              value: '1',
              label: '付款单位'
            }
          ],
        },
        data: {
          value: '',
          placeholder: '请输入'
        }
      }
    ]
    const selectOption_1 = {
      value: [],
      multiple: true,
      options: [
        {
          label: '按柜',
          value: 0
        },
        {
          label: '按吨',
          value: 1
        }
      ],
      placeholder: '状态'
    }
     const selectOption_2 = {
      value: [],
      multiple: true,
      options: [
        {
          label: '按柜',
          value: 0
        },
        {
          label: '按吨',
          value: 1
        }
      ],
      placeholder: '启用/禁用'
    }
    const sellType = {
      value: [],
      multiple: true,
      options: [
        {
          label: 'DDGS',
          value: 0
        },
        {
          label: '北美硬木板材',
          value: 1
        },
        {
          label: '草',
          value: 2
        },
        {
          label: '草种',
          value: 3
        }
      ],
      placeholder: '销售品名'
    }
    const search = [
      {
        is: 'u-select',
        title: '',
        type: '1',
        data: selectOption
      },
      {
        is: 'u-select',
        title: '',
        type: '2',
        data: sellType
      },
       {
        type: '6',
        is: 'u-input',
        title: '箱型箱量',
        isAdd: true,
        data:  inputOption_3
      },
      {
        type: '5',
        is: 'u-input',
        title: '港口港区',
        isAdd: true,
        data:  inputOption_3
      },
      {
        type: '3',
        is: 'u-select',
        title: '状态',
        isAdd: true,
        data: selectOption_1,
        valueKey: 'creatorName',
      },
       {
        type: '3',
        is: 'u-select',
        title: '启用/禁用',
        isAdd: true,
        data: selectOption_2,
        valueKey: 'creatorName',
      },
    ]
    return {
      search,
      sellType,
      selectOption,
      selectOption_1,
      selectOption_2
    }
  },
  mounted () {
    this.getCreators()
  },
  methods: {
    init () {
      this.$parent.init()
    },
    async getCreators (search) {
      const params = {
        search
      }
      const res = await api.getPayForeignCreators(params)
      const arr = this.formatOption(res.data , { value: 'creator', label: 'creatorName' })
      // this.selectOption_1.options.push(...arr)
    },
    onChange (val, type) {
      switch (type) {
        case '1':
          this.$parent.onClearFilter()
          this.data.status = val.join(',')
          break
            case '3':
          this.data.creators = val.join(',')
          break
        default:
          break
      }
      this.init()
    },
    onConfirm (val, type){
      switch (type) {
        case '2':
          this.data.receivePaymentEnterpriseNames = val.join(',')
          break
        case '4':
          this.data.applicantStartDate = val[1][0] || ''
          this.data.applicantEndDate = val[1][1] || ''
          this.data.paymentTimeStart = val[2][0] || ''
          this.data.paymentTimeEnd = val[2][1] || ''
          break
        case '5':
          this.data.paymentEnterpriseNames = val.join(',')
          break
        default:
          break
      }
      this.init()
    },
    onFilter (val) {
      this.selectOption.value = [val]
      this.onChange([val], '1')
    },
    onClear () {
      // 重置所有值
      this.search.forEach(item => {
        this.handleClear(item.data)
        Object.keys(this.data).forEach(key => {
          const isBoolean = Object.prototype.toString.call(this.data[key]) === '[object Boolean]'
          this.data[key] = isBoolean ? true : ''
        })
      })
    },
    handleClear (data) {
      const isArray = Object.prototype.toString.call(data) === '[object Array]'
      if (isArray) {
        data.forEach(i => {
          const isArrayInfo = Object.prototype.toString.call(i.data.value) === '[object Array]'
          i.data.value = isArrayInfo ? [] : ''
        })
      } else {
        data.value = []
      }
    },
    formatOption (data, {value, label}) {
      const arr = data && data.map(i => {
        return {
          value: i[value],
          label: i[label]
        }
      })
      return arr
    },
    componentAttrs (item) {
      const { ...theArgs } = item
      const attrs = Object.fromEntries(Object.entries(item).filter(n => 
        !/^(is|type|title|isAdd|data|valueKey|fetchSuggestions)/.test(n[0])
      ))
      return {...attrs, ...theArgs}
    }
  }
}
</script>
<style lang='scss' scoped>
.m-main {
  margin-top: 10px;
  margin-left: 10px;
  display: flex;

}
</style>
