<template>
  <a-table :scroll="scrollConfig" :row-selection="rowSelection" row-key="id"
    @selection-change="selectionParentChange" :data="dataMap.tableData" :pagination="false"
    :bordered="{ wrapper: true, cell: true }" :columns="columns" v-model:selectedKeys="dataMap.parentSelectedKeys"
    :expandable="expandableConfig">

    <template #statementNo="{ record }">
      <a-link @click="goToUrl(record)" :hoverable="false">{{ record.statementNo }}</a-link>
    </template>
    <template #operate="{ record }">
      <a-button type="text" v-if="!record.review" @click="receivableReview(record)">复核确认</a-button>
      <a-button type="text" v-if="detail.status != 4" class="a-btn-delete" @click="handleDelete(record)"
        status="danger">删除</a-button>
    </template>
    <template #operateTitle>
      <div class="head_operate" v-if="detail.status != 4 && detail.status != 99">
        <a-popover position="br">
          <a-button type="primary" @click="handleAddTo">添加</a-button>
          <template #content>
            <a-select v-model="settleSearch" allow-search>
              <a-option v-for="item in options" :label="item.value" :value="item.id" :key="item.id"></a-option>
            </a-select>
          </template>
        </a-popover>
      </div>
    </template>
    <template #expand-row="parent">
      <div class="children-row">
        <a-table :summary="summary" :columns="incomesColumns" row-key="feeCode"
          :row-selection="{ ...rowSelection, showCheckedAll: false }" :scroll="scrollConfig" :data="parent.record.costs"
          :pagination="false" :bordered="{ wrapper: true, cell: true, headerCell: true, bodyCell: true }"
          v-model:selectedKeys="dataMap.selectedKeys[parent.record.id]"
          @selection-change="selectionChange($event, parent.record)">
          <template #feeName="{ record }">
            {{ record.feeName }}
            <dw-tag class="LC9" v-if="record.proxyFee">
              <template #word>代</template>
            </dw-tag>
            <FilePopover v-if="record.files && record.files.length > 0" :canEdit="true" @deleteFile="deleteFile"
              :data="record"></FilePopover>
          </template>
          <template #untaxedAmount="{ record }">
            {{ record.sumSymbol }}{{ formatNum(record.untaxedAmount) }}
          </template>
          <template #actualAmount="{ record }">
            {{ record.sumSymbol }}{{ formatNum(record.actualAmount) }}
          </template>
          <template #confirmAmount="{ record }">
            {{ record.sumSymbol }}{{ formatNum(record.confirmAmount) }}
          </template>
          <template #operate="{ record }">
            <a-button type="text" v-if="!record.isSummary &&
            !record.confirm && record.status > 1 &&
            record.actualAmount > 0 && !record.proxyFee" @click="remit(record, parent.record)">减免</a-button>
          </template>
        </a-table>
      </div>
    </template>
  </a-table>
</template>


<script lang="ts" setup>
import { setNumericText, totalNum } from '@/utils';
import {
  defineComponent,
  ref,
  watch,
  reactive,
  h,
  toRefs,
  computed,
  onMounted,
  nextTick,
} from 'vue';
import { cloneDeep } from 'lodash'
import router from '@/router'
import FilePopover from './filePopover.vue'
import { settleTrackApi } from '@/api/settleTrackApi';
import { billTrackApi } from '@/api/billTrack';
import { Message } from '@arco-design/web-vue';
const emit = defineEmits(['selectChecked', 'handleDelete', 'receivableReview','handleAddTo'])
const props = defineProps({
  data: {
    type: Array,
    default: []
  },
  detail: {
    type: Object,
    default: {}
  }
})
const settleSearch = ref('')//添加结算单绑定数据
const options = ref([]) //结算单选项
// 账单详情页-搜索可加入账单结算单列表
const getStatements = async () => {
  const params = {
    ownerId: props.detail.ownerId,
    settlerId: props.detail.clientId,
    currency: props.detail.currency,
  }
  const { code, data } = await billTrackApi.statementCostCanJoinReceivableStatements(params)
  if (code == 200) {
    options.value = data
  }
}
watch(() => props.detail,
  (newVal) => {
    if (newVal.status && newVal.status != 4) {
      getStatements()
    }
  })
const handleAddTo = () => {
  if(!settleSearch.value){
    Message.warning('请选择工作编号！')
    return
  }
  emit('handleAddTo',settleSearch.value)
}

// 清空选择
const clearSelect = () => {
  // console.log('cleat selected')
  dataMap.parentSelectedKeys = []
  dataMap.selectedKeys = {}
}

//复核确认
const receivableReview = (row) => {
  emit('receivableReview', row)
}
//删除
const handleDelete = (row, propRow) => {
  emit('handleDelete', row, propRow)
}

// 删除附件
const deleteFile = (item, attachIndex, data) => {
  settleTrackApi.settleTrackCostFile({
    id: item.id.toString(),
    type: item.type,
    fileUrl: item.fileUrl
  }).then(res => {
    if (res.code == '200') {
      Message.success('删除成功！')
      data.files.splice(attachIndex, 1)
    }
  })
}
const goToUrl = (obj) => {
  router.push({
    name: 'settleTrack/detail',
    query: {
      id: obj.id
    }
  })
}
watch(
  () => props.data,
  (newVal) => {
    dataMap.tableData = newVal
  }
)
const dataMap = reactive<any>({
  tableData: [],
  parentSelectedKeys: [],// 父表格选中keys
  selectedKeys: {},// 子表格选中keys
})
const scrollConfig = { x: '100%', y: '100%' }
const rowSelection = reactive({
  type: 'checkbox', showCheckedAll: true, width: 30, fixed: false,
  onlyCurrent: false,
})
const summary = ({ data }: any) => {
  let totalUntaxedAmount = 0;
  let totalActualAmount = 0;
  let totalConfirmAmount = 0;
  if (data.length == 0) return;
  data.forEach((record: any) => {
    totalUntaxedAmount += record.untaxedAmount
    totalActualAmount += record.actualAmount
    totalConfirmAmount += record.confirmAmount
  });
  return [
    {
      feeName: '合计',
      untaxedAmount: totalUntaxedAmount,
      actualAmount: totalActualAmount,
      confirmAmount: totalConfirmAmount,
      sumSymbol: data[0].currencySymbol,
      isSummary: true
    },
  ];
};
const expandableConfig = {
  title: '',
  width: 20,
}

const columns = [
  { title: '业务编号', dataIndex: 'statementNo', slotName: 'statementNo', width: '140' },
  { title: 'MB/L', dataIndex: 'mblNo', slotName: 'mblNo', width: '140' },
  { title: 'PI号', dataIndex: 'piNo', slotName: 'piNo', width: '100' },
  { title: '到港日期', dataIndex: 'ata', slotName: 'ata', width: '90' },
  { title: '销售品名', dataIndex: 'salesGoods', slotName: 'salesGoods', width: '120' },
  { title: '箱型箱量', dataIndex: 'boxTypeBoxVolume', slotName: 'boxTypeBoxVolume', width: '100' },
  { title: '操作', dataIndex: '', slotName: 'operate', titleSlotName: 'operateTitle', width: '90' },
];
const incomesColumns = [
  { title: '费用项目', dataIndex: 'feeName', slotName: 'feeName', width: '100' },
  { title: '原币金额(不含税)', dataIndex: 'untaxedAmount', slotName: 'untaxedAmount', width: '100' },
  { title: '原币金额(含税)', dataIndex: 'actualAmount', slotName: 'actualAmount', width: '100' },
  { title: '确认金额', dataIndex: 'confirmAmount', slotName: 'confirmAmount', width: '100' },
  { title: '发票类型', dataIndex: 'invoiceName', slotName: 'invoiceName', width: '90' },
  { title: '税率', dataIndex: 'invoiceTaxRate', slotName: 'invoiceTaxRate', width: '90' },
  // { title: '操作', dataIndex: '', slotName: 'operate', width: '100' },
]

// 父级选项变化
const selectionParentChange = (rowKeys: string[]) => {
  for (let key in dataMap.selectedKeys) {
    dataMap.selectedKeys[key] = []
  }
  rowKeys.forEach((v: string) => {
    let t = dataMap.tableData.find((i: any) => i.id == v)
    dataMap.selectedKeys[t.id] = t.costs.map((el: any) => el.feeCode)
  })
  emitSelectChecked()
}
// 子级选项变化
const selectionChange = (rowKeys: string[], record: any) => {
  if (record.costs.length === rowKeys.length) {
    !dataMap.parentSelectedKeys.includes(record.id) && dataMap.parentSelectedKeys.push(record.id)
  } else {
    let i = dataMap.parentSelectedKeys.indexOf(record.id)
    if (i !== -1) dataMap.parentSelectedKeys.splice(i, 1)
  }
  emitSelectChecked()
}

const emitSelectChecked = async (type?: number) => {
  await nextTick()
  let arr = []
  let keys = dataMap.selectedKeys
  for (let key in keys) {
    if (!keys[key] || keys[key].length == 0) continue
    let item = cloneDeep(dataMap.tableData).find(v => v.id == key)
    item.costs = item.costs.filter(v => keys[key].includes(v.feeCode))
    arr.push(item)
  }
  emit("selectChecked", arr)
}

const formatNum = (val) => {
  return setNumericText(val, { commas: true, zeroText: '0.00' })
}


defineExpose({
  clearSelect
})
</script>

<style lang="less" scoped>
.no-span {
  display: inline-block;
  margin-right: 20px;
}

.children-row {
  margin: 10px 0 30px 80px;
}

.head_operate {
  display: flex;
  justify-content: space-between;
}

/deep/ tr.arco-table-tr {
  .a-btn-delete {
    display: none
  }

  &:hover {
    .a-btn-delete {
      display: block
    }
  }
}
</style>