<template>
  <a-space size="large">
    <icon-font type="icon-person" :size="32"/>
    <icon-font type="icon-earth" :size="32"/>
    <icon-font type="icon-flag" :size="32"/>
  </a-space>
</template>

<script lang="ts">
import { Icon } from '@arco-design/web-vue';

const IconFont = Icon.addFromIconFontCn({ src: 'https://at.alicdn.com/t/font_180975_ue66sq60vyd.js' });

export default {
  components:{
    IconFont
  }
}
</script>
