<template>
  <a-modal
    v-model:visible="visible"
    @cancel="handleCancel"
    :mask-closable="false"
    :on-before-ok="handleBeforeOk"
  >
    <template #title> 申请借款 </template>
    <div>
      <a-form ref="formRef" :model="form" layout="vertical">
        <a-row class="grid-demo" :gutter="[24, 12]">
          <a-col :span="12">
            <a-form-item
              field="ownerId"
              label="所属公司"
              :rules="[{ required: true, message: '请选择所属公司' }]"
              :validate-trigger="['change', 'blur']"
            >
              <a-select
                v-model="form.ownerId"
                placeholder="请选择"
                @search="getPayer"
                @change="payerChange"
                allow-search
              >
                <a-option
                  v-for="item in payerList"
                  :key="item.value"
                  :value="item.value"
                  :label="item.label"
                ></a-option>
              </a-select>
            </a-form-item>
          </a-col>
          <a-col :span="12">
            <a-form-item
              field="plannedRepaymentDate"
              label="计划还款日期"
              :rules="[{ required: true, message: '请选择计划还款日期' }]"
              :validate-trigger="['change', 'blur']"
            >
              <a-date-picker
                v-model="form.plannedRepaymentDate"
                style="width: 320px"
                :disabledDate="(current) => dayjs(current).isBefore(dayjs())"
              />
            </a-form-item>
          </a-col>
          <a-col :span="12">
            <a-form-item
              field="currency"
              label="币别"
              :rules="[{ required: true, message: '请选择币别' }]"
              :validate-trigger="['change', 'blur']"
            >
              <a-select
                v-model="form.currency"
                placeholder="请选择"
                @change="currencyChange"
              >
                <a-option
                  v-for="item in currencyList"
                  :key="item.value"
                  :value="item.value"
                  :label="item.label"
                ></a-option>
              </a-select>
            </a-form-item>
          </a-col>
          <a-col :span="12">
            <a-form-item
              field="amount"
              label="借款金额"
              :rules="[{ required: true, message: '请输入借款金额' }]"
              :validate-trigger="['change', 'blur']"
            >
              <a-input-number v-model="form.amount" class="input-demo" />
            </a-form-item>
          </a-col>
          <a-col :span="12">
            <a-form-item
              field="departmentName"
              label="申请部门"
              :rules="[{ required: true, message: '请选择申请部门' }]"
              :validate-trigger="['change', 'blur']"
            >
              <a-select
                v-model="form.department"
                placeholder="请选择"
                @change="departChange"
              >
                <a-option
                  v-for="item in departmentsList"
                  :key="item.value"
                  :value="item.value"
                  :label="item.name"
                ></a-option>
              </a-select>
            </a-form-item>
          </a-col>
          <a-col :span="24">
            <a-form-item field="借款备注" label="借款备注">
              <a-textarea
                v-model="form.remark"
                placeholder="备注"
                allow-clear
              />
            </a-form-item>
          </a-col>
        </a-row>
      </a-form>
    </div>
  </a-modal>
</template>
<script lang="ts" setup>
import dayjs from 'dayjs';
import { Message } from '@arco-design/web-vue';
import { reactive, ref } from 'vue';
import { settlementApi } from '@/api/settlementApi/index';
import { useRoute } from 'vue-router';
const route = useRoute();
import commonApi from '@/utils/commonApi/index';
const visible = ref(false);
const form = reactive({
  ownerId: '',
  ownerName: '',
  plannedRepaymentDate: '',
  currency: '',
  amount: '',
  departmentName: '',
  department: '',
  remark: '',
});
const emits = defineEmits(['handleBeforeOk']);
const handleClick = () => {
  visible.value = true;
};
const departmentsList = ref([]);
const payerList = ref([]); //所属对象
const currencyList = ref([]); //开户银行
const formRef = ref();
const handleCancel = () => {
  form.ownerId = '';
  form.ownerName = '';
  form.plannedRepaymentDate = '';
  form.currency = '';
  form.amount = '';
  form.departmentName = '';
  form.department = '';
  form.remark = '';
  visible.value = false;
};
const handleBeforeOk = (done: any) => {
  window.setTimeout(async () => {
    const value = await formRef.value.validate();
    if (!value) {
      const res = await settlementApi.settleAddNoBusinessLoan(form);
      console.log(res, 'Res');

      if (res.code == '200') {
        Message.success('申请非业务借款成功');
        visible.value = false;
        emits('syncData');
        done();
      }
    } else {
      done(false);
    }
  });
};
const currencyChange = async (val) => {
  if (form.currency) {
    const { code, data } = await settlementApi.departmentsCanapply({
      currency: form.currency,
    });
    if (code == 200) {
      departmentsList.value = data;
    }
  }
};
const departChange = (val) => {
  departmentsList.value.forEach((item) => {
    if (item.value == val) {
      form.departmentName = item.name;
    }
  });
};
const payerChange = (val) => {
  payerList.value.forEach((item) => {
    if (item.value == val) {
      form.ownerName = item.label;
    }
  });
};
const getPayer = async (name: String) => {
  const res = await commonApi.memberQueryUserAuthorithPart({
    name: name,
  });
  payerList.value = res.map((v) => {
    return { value: v.enterpriseId, label: v.name };
  });
};
const init = async () => {
  getPayer('');

  const data = await commonApi.getCurrency();
  currencyList.value = data.map((item) => {
    return {
      value: item.code,
      label: item.name,
    };
  });
};
init();
defineExpose({ handleClick });
</script>