<template>
  <a-modal
    v-model:visible="visible"
    @cancel="handleCancel"
    width="60%"
    :mask-closable="false"
    :top="100"
    :align-center="false"
    :on-before-ok="handleBeforeOk"
  >
    <template #title> 申请业务借款 </template>
    <div>
      <a-form ref="formRef" :model="form" layout="vertical">
        <a-row class="grid-demo" :gutter="[24, 12]">
          <a-col :span="8">
            <a-form-item
              field="loanUse"
              label="借款用途"
              :rules="[{ required: true, message: '请选择所属公司' }]"
              :validate-trigger="['change', 'blur']"
            >
              <a-select
                v-model="form.loanUse"
                placeholder="请选择"
                @change="loanChange"
              >
                <a-option
                  v-for="item in loanList"
                  :key="item.value"
                  :value="item.value"
                  :label="item.label"
                ></a-option>
              </a-select>
            </a-form-item>
          </a-col>
          <a-col :span="8">
            <a-form-item
              field="ownerId"
              label="所属公司"
              :rules="[{ required: true, message: '请选择所属公司' }]"
              :validate-trigger="['change', 'blur']"
            >
              <a-select
                v-model="form.ownerId"
                placeholder="请选择"
                @change="payerChange"
                @search="getPayer"
                allow-search
              >
                <a-option
                  v-for="item in payerList"
                  :key="item.value"
                  :value="item.value"
                  :label="item.label"
                ></a-option>
              </a-select>
            </a-form-item>
          </a-col>
          <a-col :span="8">
            <a-form-item
              field="plannedRepaymentDate"
              label="计划还款日期"
              :rules="[{ required: true, message: '请选择计划还款日期' }]"
              :validate-trigger="['change', 'blur']"
            >
              <a-date-picker
                v-model="form.plannedRepaymentDate"
                style="width: 320px"
                :disabledDate="(current) => dayjs(current).isBefore(dayjs())"
              />
            </a-form-item>
          </a-col>
          <a-col :span="8" v-if="form.loanUse == 1">
            <a-form-item
              field="settlementNo"
              label="业务编号"
              :rules="[{ required: true, message: '请选择所业务编号' }]"
              :validate-trigger="['change', 'blur']"
            >
              <a-select
                v-model="form.settlementNo"
                placeholder="请选择"
                allow-search
                multiple
                @change="noChange"
              >
                <a-option
                  v-for="item in noList"
                  :key="item.value"
                  :value="item.value"
                  :label="item.label"
                ></a-option>
              </a-select>
            </a-form-item>
          </a-col>
          <a-col :span="8" v-else>
            <a-form-item
              field="settlementNo"
              label="业务编号"
              :rules="[{ required: true, message: '请选择所业务编号' }]"
              :validate-trigger="['change', 'blur']"
            >
              <a-select
                v-model="form.settlementNo"
                placeholder="请选择"
                allow-search
              >
                <a-option
                  v-for="item in noList"
                  :key="item.value"
                  :value="item.value"
                  :label="item.label"
                ></a-option>
              </a-select>
            </a-form-item>
          </a-col>
          <a-col :span="8">
            <a-form-item
              field="currency"
              label="借款币别"
              :rules="[{ required: true, message: '请选择币别' }]"
              :validate-trigger="['change', 'blur']"
            >
              <a-select
                v-model="form.currency"
                placeholder="请选择"
                @change="currencyChange"
              >
                <a-option
                  v-for="item in currencyList"
                  :key="item.value"
                  :value="item.value"
                  :label="item.label"
                ></a-option>
              </a-select>
            </a-form-item>
          </a-col>
          <a-col :span="8">
            <a-form-item
              field="amount"
              label="借款金额"
              :rules="[{ required: true, message: '请输入借款金额' }]"
              :validate-trigger="['change', 'blur']"
            >
              <a-input-number v-model="form.amount" class="input-demo" />
            </a-form-item>
          </a-col>
          <a-col :span="8">
            <a-form-item
              field="sellerId"
              label="支付对象"
              :rules="[{ required: true, message: '请选择支付对象' }]"
              :validate-trigger="['change', 'blur']"
            >
              <a-select
                v-model="form.sellerId"
                placeholder="请选择"
                @search="fetchSuggestions"
                @change="sellerChange"
                :filter-option="false"
                allow-search
              >
                <a-option
                  v-for="item in sellerList"
                  :key="item.value"
                  :value="item.value"
                  :label="item.label"
                ></a-option>
              </a-select>
            </a-form-item>
          </a-col>
          <a-col :span="8">
            <!-- :rules="[{ required: true, message: '请选择收款账号' }]"
              :validate-trigger="['change', 'blur']" -->
            <a-form-item field="sellerBankIban" label="收款账号">
              <a-select
                v-model="form.sellerBankIban"
                placeholder="请选择"
                @change="bankChange"
              >
                <a-option
                  v-for="item in bankList"
                  :key="item.value"
                  :value="item.value"
                  :label="item.label"
                ></a-option>
              </a-select>
            </a-form-item>
          </a-col>
          <a-col :span="8">
            <a-form-item
              field="department"
              label="申请部门"
              :rules="[{ required: true, message: '请选择申请部门' }]"
              :validate-trigger="['change', 'blur']"
            >
              <a-select
                v-model="form.department"
                placeholder="请选择"
                @change="departChange"
              >
                <a-option
                  v-for="item in departmentsList"
                  :key="item.value"
                  :value="item.value"
                  :label="item.name"
                ></a-option>
              </a-select>
            </a-form-item>
          </a-col>
          <a-col :span="24">
            <a-form-item field="借款备注" label="借款备注">
              <a-textarea
                v-model="form.remark"
                placeholder="备注"
                allow-clear
              />
            </a-form-item>
          </a-col>
          <a-col :span="24">
            <a-form-item label="附件">
              <a-upload
                draggable
                action="/"
                :show-retry-button="false"
                :custom-request="customRequest"
              />
            </a-form-item>
          </a-col>
        </a-row>
      </a-form>
    </div>
  </a-modal>
</template>
<script lang="ts" setup>
import dayjs from 'dayjs';
import { Message } from '@arco-design/web-vue';
import { reactive, ref } from 'vue';
import { settlementApi } from '@/api/settlementApi/index';
import { memberUser } from '@/api/member';
import { useRoute } from 'vue-router';
const route = useRoute();
import { getStringTime } from '@/utils/common';
import commonApi from '@/utils/commonApi/index';
const visible = ref(false);
const form = reactive({
  loanFiles: [], // 文件
  loanUse: '', // 借款用途
  loanUseName: '', // 借款用途名称
  ownerId: '', // 借款公司id
  ownerName: '', // 借款公司名称
  currency: '', // 币别
  currencyName: '', // 币别名称
  currencySymbol: '',
  sellerId: '', // 支付对象
  sellerName: '', // 支付对象名称
  plannedRepaymentDate: '', // 计划还款日期
  settlementNo: '', // 业务编号
  amount: '', // 借款金额
  sellerBank: '', // 收款银行
  sellerBankIban: '', // 收款账户
  remark: '', // 备注
  departmentName: '',
  department: '',
});
const emits = defineEmits(['handleBeforeOk']);
// const department = ref([]);
const handleClick = () => {
  visible.value = true;
};
const customRequest = async (option) => {
  console.log(option.fileItem, 'option');
  const { data } = await memberUser.fileUpload({
    file: option.fileItem.file,
  });
  form.loanFiles.push({
    fileName: data.fileName,
    fileUrl: data.url,
  });
};
const departmentsList = ref([]);
const payerList = ref([]); //所属对象
const currencyList = ref([]); //开户银行
const formRef = ref();
const noList = ref([]);
const sellerList = ref([]);
const bankList = ref([]);
const loanList = [
  { value: 0, label: '海运费' },
  { value: 1, label: '换单类费用' },
  { value: 2, label: '押金' },
  { value: 3, label: '仓储费' },
  { value: 4, label: '熏蒸费' },
  { value: 5, label: '税金' },
  { value: 6, label: '其他' },
];
const loanChange = (val) => {
  if (val == 1) {
    //form.ownerName = item.label;
    payerList.value.forEach((item) => {
      if (item.label == '上海大微企业发展有限公司') {
        form.ownerName = item.label;
        form.ownerId = item.value;
        const time = Date.now() + 3600 * 1000 * 24 * 2;
        form.plannedRepaymentDate = getStringTime(time);
      }
    });
  }
  loanList.forEach((item) => {
    if (item.value == val) {
      form.loanUseName = item.label;
    }
  });
};
const noChange = (val) => {
  console.log(val, 'val');

  if (Array.isArray(val)) {
    form.settlementNo = val.join(',');
  }
};
const fetchSuggestions2 = async () => {
  const data = await commonApi.statementUnclosed({ search: '' });
  noList.value = data.map((item) => {
    return { label: item.no, value: item.no };
  });
};
const bankChange = (val) => {
  bankList.value.forEach((item) => {
    console.log(item, val, '银行');
    if (item.value == val) {
      console.log(val, '银行234');
      form.sellerBank = item.label.split(' ')[1];
    }
  });
};
const handleCancel = () => {
  visible.value = false;
  form.loanFiles = []; // 文件
  form.loanUse = ''; // 借款用途
  form.loanUseName = ''; // 借款用途名称
  form.ownerId = ''; // 借款公司id
  form.ownerName = ''; // 借款公司名称
  form.currency = ''; // 币别
  form.currencyName = ''; // 币别名称
  form.currencySymbol = '';
  form.sellerId = ''; // 支付对象
  form.sellerName = ''; // 支付对象名称
  form.plannedRepaymentDate = ''; // 计划还款日期
  form.settlementNo = ''; // 业务编号
  form.amount = ''; // 借款金额
  form.sellerBank = ''; // 收款银行
  form.sellerBankIban = ''; // 收款账户
  form.remark = ''; // 备注
  form.departmentName = '';
  form.department = '';
};
const handleBeforeOk = (done: any) => {
  window.setTimeout(() => {
    formRef.value.validate(async (error: any, values: any) => {
      console.log(!error, 'error');
      if (!error) {
        let res = await settlementApi.settleAddBusinessLoan(form);
        if (res.code == 200) {
          visible.value = false;
          emits('syncData');
          done();
          Message.success('业务借款申请成功');
        }
      } else {
        done(false);
      }
    });
  });
};
const departChange = (val) => {
  console.log(val, '申请部门');
  departmentsList.value.forEach((item) => {
    if (item.value == val) {
      form.departmentName = item.name;
    }
  });
};
const sellerChange = async (val) => {
  form.sellerBankIban = '';
  sellerList.value.forEach((item) => {
    if (item.value == val) {
      form.sellerName = item.label;
    }
  });
  const { code, data } = await settlementApi.queryRelationBankByEnterpriseId({
    enterpriseId: val,
  });
  if (code == 200) {
    bankList.value = data.map((item) => {
      return {
        label: item.currency + ' ' + item.bankAccount + ' ' + item.bankName,
        value: item.bankAccount,
      };
    });
  }
};
const currencyChange = async (val) => {
  currencyList.value.forEach((item) => {
    if (item.value == val) {
      form.currencyName = item.label;
      form.currencySymbol = item.value;
    }
  });
  const { code, data } = await settlementApi.departmentsCanapply({
    currency: form.currency,
  });
  if (code == 200) {
    departmentsList.value = data;
  }
};
const payerChange = (val) => {
  payerList.value.forEach((item) => {
    if (item.value == val) {
      form.ownerName = item.label;
    }
  });
};
const fetchSuggestions = async (v) => {
  const params = { name: v };
  const data = await commonApi.queryRelationByLabelCode(params);
  sellerList.value = data.map((item) => {
    return { label: item.name, value: item.enterpriseId };
  });
};
const getPayer = async (name: String) => {
  const res = await commonApi.memberQueryUserAuthorithPart({
    name: name,
  });
  payerList.value = res.map((v) => {
    return { value: v.enterpriseId, label: v.name };
  });
};
const init = async () => {
  getPayer('');
  fetchSuggestions2();
  fetchSuggestions('');
  const data = await commonApi.getCurrency();
  currencyList.value = data.map((item) => {
    return {
      value: item.code,
      label: item.name,
    };
  });
};
init();
defineExpose({ handleClick });
</script>