<template>
  <div>
    <a-modal
      v-model:visible="visible"
      :hide-cancel="true"
      :footer="false"
      :top="100"
      :mask-closable="false"
      :align-center="false"
      width="70%"
    >
      <template #title> 打印 </template>
      <div id="print">
        <div
          class="u-wrapper page-break-after"
          v-for="(i, index) of dataConfig"
          :key="index"
        >
          <div class="u-title font-bold3">{{ i.title }}</div>
          <a-row class="u-row" :gutter="20">
            <a-col
              v-for="(o, oIndex) of i.data"
              :key="oIndex"
              :span="o.span || 12"
              class="u-col"
            >
              <div class="u-label">{{ o.label }}</div>
              <div class="u-value">{{ detailData[o.prop] || '-' }}</div>
            </a-col>
          </a-row>

          <div class="u-approve">
            <span>审批人：</span>
            <span v-for="(x, xIndex) of dataApprove" :key="xIndex">
              {{ xIndex == 0 ? '' : '→ ' }}
              {{ x.creatorName }}{{ x.createTime }}
            </span>
            <span v-if="dataApprove.length > 0">→ 财务</span>
          </div>
        </div>
      </div>
      <div class="btn">
        <a-button v-print="'#print'" type="primary">打印</a-button>
      </div>
    </a-modal>
  </div>
</template>
<script lang="ts" setup>
import { ref, watch } from 'vue';
import { settlementApi } from '@/api/settlementApi/index';
const visible = ref(false);
const props = defineProps({
  detailData: Object,
});
const dataApprove = ref([]);
watch(
  () => props.detailData,
  async (val) => {
    if (val) {
      const { code, data } = await settlementApi.settleLoanDetail({
        id: props.detailData.key,
      });
      if (code == 200) {
        dataApprove.value = data.loanApproveLogs;
      }
    }
  }
);
const dataConfig = [
  {
    title: '业务借款（记账联）',
    data: [
      { prop: 'ownerName', label: '借款公司' },
      { prop: 'no', label: '借款单号' },
      { prop: 'createTime', label: '借款日期' },
      { prop: 'plannedRepaymentDate', label: '计划还款日期' },
      { prop: 'amountWithSymbol', label: '借款金额' },
      { prop: 'loanUseName', label: '借款用途' },
      { prop: 'sellerName', label: '支付对象' },
      { prop: 'bankNo', label: '支付账号' },
      { prop: 'creatorName', label: '申请人' },
      { prop: 'settlementNos', label: '业务编号', span: 24 },
      { prop: 'remark', label: '备注', span: 24 },
    ],
    dataApprove: [],
  },
  {
    title: '业务借款（付款联）',
    data: [
      { prop: 'ownerName', label: '借款公司' },
      { prop: 'no', label: '借款单号' },
      { prop: 'createTime', label: '借款日期' },
      { prop: 'plannedRepaymentDate', label: '计划还款日期' },
      { prop: 'amountWithSymbol', label: '借款金额' },
      { prop: 'loanUseName', label: '借款用途' },
      { prop: 'sellerName', label: '支付对象' },
      { prop: 'bankNo', label: '支付账号' },
      { prop: 'creatorName', label: '申请人' },
      { prop: 'settlementNos', label: '业务编号', span: 24 },
      { prop: 'remark', label: '备注', span: 24 },
    ],
    dataApprove: [],
  },
];
const handleClick = () => {
  visible.value = true;
};
const handleOk = () => {
  visible.value = false;
};
const handleCancel = () => {
  visible.value = false;
};
defineExpose({
  handleClick,
});
</script>
<style lang="less" scoped>
.u-cos {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 10px;
  .u-title {
    font-size: 14px;
  }
}
.u-wrapper {
  margin: 20px 40px 60px;
  overflow: hidden;
  font-size: 14px;
  color: #666;
  line-height: 40px;

  .u-title {
    text-align: center;
    padding: 20px 0 40px;
    width: 100%;
  }
  .u-row {
    .u-col {
      display: flex;

      .u-label {
        // width: 30%;
        width: 100px;
      }
      .u-value {
        flex: 1;
      }
    }
  }

  .u-approve {
    padding: 50px 0;
  }
}

.page-break-after {
  page-break-after: always;
}
::v-deep {
  .el-row {
    // width: 80%;
    margin: 0 auto !important;
  }
}

.font-bold3 {
  color: #333;
  font-weight: bold;
}
@media print {
  .u-wrapper {
    margin: 0;
  }
}
.btn {
  display: flex;
  justify-content: center;
}
</style>
