<template>
    <div class="page_head">
        <div class="title_shell">
            <div class="title_left">
                <span class="title">{{props.title}}</span>
                <slot name="tip"></slot>
            </div>
            <div class="title_right">
                <a-space>
                    <slot name="button"></slot>
                </a-space>
            </div>
        </div>
    </div>
</template>

<script lang="ts">
export default {
    name: 'PageHeadC'
}
</script>
<script setup lang="ts">
import { ref, defineProps } from 'vue'
const props = defineProps({
    title:String,
})
</script>

<style lang="less" scoped>
.page_head {
    box-sizing: border-box;
    padding: 0 20px;
    background-color: #fff;
}

.title_shell {
    display: flex;
    height: 70px;
    align-items: center;
    justify-content: space-between;

    .title_left {
        display: flex;
        align-items: center;

        .title {
            font-size: 20px;
            font-weight: 500;
            margin-right: 8px;
        }
    }

    .title_right {
        display: flex;

        .more_button {
            height: 32px;
            width: 18px;
            margin-left: 8px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}
</style>