<template>
  <div class="tab-view-wrap" onselectstart="return false;">
    <!-- <div class="tab-view">
      <div class="addTabView" @click="tabViewHandle('新增视图','1')">
        <icon-plus :stroke-width="6" />
      </div>
      <a-dropdown :style="{width:'280px'}" position="tl" @select="handleSelect">
        <div class="tabViewList">
          <icon-layers />
        </div>
        <template #content>
         
            viewSystemId: 系统视图id
            viewUserId   用户视图id
         
          <a-doption 
            v-for="item in data" 
            :key="item.viewUserId"
            :class="[currentTab==item.viewUserId ? 'currentTab':'']"
            @click="changeTab(item.viewUserId)"
          >{{item.viewName}}</a-doption>
        </template>
      </a-dropdown>
      
      <a-space class="horizontalTabView" size="small" :style="{'width': maxWidth}">
        <a-typography-text
          v-for="(tab, index) in dataDispaly"
          :key="tab.viewUserId"
          class="tabTagInput"
          :class="[currentTab==tab.viewUserId ? 'currentTab':'']"
        >
          <span 
            class="tabNameSpan"
            v-if="tab.isEdit == false || tab.isEdit == undefined" 
            @click.stop="changeTab(tab.viewUserId)"
            @dblclick.stop="renameHandle(index,tab.viewName)"
            ref="tabNameSpanRef"
          >
            {{tab.viewName}}
          </span>
          <a-input 
            v-else
            v-model="tab.viewName"
            @blur="inputBlur(index,tab.viewName,tab.viewUserId)"
            :ref="el => refInput = el"
          ></a-input>
          <a-dropdown position="tl">
            <a-button type="text" size="mini" class="tabViewBtn">
              <template #icon>
                <icon-more-vertical />
              </template>
            </a-button>
            <template #content>
              <a-doption @click="renameHandle(index,tab.viewName)">重命名</a-doption>
              <a-doption @click="tabViewHandle('编辑视图','2',tab)">编辑视图</a-doption>
              <a-doption @click="tabViewHandle('复制视图','1',tab)">复制视图</a-doption>
              <a-doption style="color: rgba(245, 63, 63, 1);" @click="deleteTabView(tab)">删除</a-doption>
            </template>
          </a-dropdown>
        </a-typography-text>
      </a-space>
    </div> -->
  </div>
</template>

<script lang="ts">
import {
  defineComponent,
  defineExpose,
  onMounted,
  PropType,
  reactive,
  toRefs,
  watch,
  ref,
  h,
  computed,
  onUnmounted,
  nextTick,
} from 'vue';
import { Modal, Message } from '@arco-design/web-vue';
import { getTabViewList, rename, deleteTab, tabDetail } from '@/api/base'

export default {
  name: 'TabView',
  props: {
    viewUserId: {
      type: String,
    },
    viewType: {
      type: String,
      require: true
    },
    paginationWidthNum: {
      type: Number,
      require: true
    },
    changeViewId: {
      type: String
    }
  },
  emits: ['submitViewHandle', 'submitDelete', 'currentTabViewId', 'chooseFields', 'viewFilterRule', 'currentTabviewName'],
  setup(props,{emit,slots,attrs}) {
    const handleSelect = (v: string) => {
      console.log(v);
    };
    const refInput = ref([])
    const tabNameSpanRef = ref([])
    const dataMap = reactive({
      allWidth: 1280, // 初始化默认可视窗口宽度1280px
      maxWidth: '150px', 
      freezeWidth: 0,
      bigTabNum: 1,
      viewType: props.viewType,
      currentTab: '',
      currentViewSystemId: '',
      data: [] as any [],
      dataDispaly: [] as any [],
      oldViewName: '',
      changeTab(id:string,from:any){
        console.log(from)
        dataMap.currentTab = id
      },
      // 重命名
      renameHandle: (index: number,name: string) => {
        console.log('renameHandle')
        dataMap.dataDispaly[index].isEdit = true
        dataMap.oldViewName = name
        nextTick(()=>{
          // console.log(refInput.value)
          refInput.value.focus()
        })
      },
      inputBlur: (index:number,name:string,id:string) => {
        if(name !== dataMap.oldViewName){
          // 校验是否重名,如果重名则返回修改 不重名的话  请求接口
          console.log('改名字了')
          const params = {
            viewUserId: id.toString(), 
            viewName: name
          }
          rename(params).then((res) => {
            console.log(res)
            if(res.code == 200){
              // 修改成功
              Message.success({
                content: '视图名称修改成功',
                position: 'bottom',
              });
              dataMap.data.forEach(item=>{
                if(item.viewUserId == id){
                  item.viewName = name
                }
              })
            } else {
              Message.error({
                content: '视图名称修改失败',
                position: 'bottom',
              });
              dataMap.dataDispaly[index].viewName = dataMap.oldViewName
            }
          });
        }
        dataMap.dataDispaly[index].isEdit = false
      }
    });

    // 添加/编辑/复制视图
    const tabViewHandle = (title:string,defaultActiveKey:string,tab:any) => {
      // let param = {
      //   // title,
      //   // defaultActiveKey,
      //   // tab,
      // }
      let param = {}
      if(title == '新增视图'){
        param = {
          title,
          defaultActiveKey,
          viewType: dataMap.viewType,
          viewName: '',
          viewSystemId: dataMap.currentViewSystemId,
          viewUserId: ''
        }
      } else if(title == '编辑视图') {
        param = {
          title,
          defaultActiveKey,
          tab,
          viewType: dataMap.viewType,
          viewName: tab.viewName,
          viewSystemId: tab.viewSystemId,
          viewUserId: tab.viewUserId
        }
      } else {
        param = {
          title,
          defaultActiveKey,
          tab,
          viewType: dataMap.viewType,
          viewName: '',
          viewSystemId: tab.viewSystemId,
          viewUserId: ''
        }
      }
      emit('submitViewHandle',param)
    }

    // 删除视图方法
    const deleteTabView = (tab:any) => {
      // 1. 请求接口删除视图
      // 2.传递删除信息给父组件  重新请求页面视图和表格数据
      console.log(tab)
      // return
      Modal.warning({
        title: '提示',
        content: `是否确认删除 ${tab.viewName}?`,
        hideCancel: false,
        onBeforeOk: (done:any) => {
          const params={
            viewUserId: String(tab.viewUserId)
          }
          deleteTab(params).then((res:any) => {
            console.log(res)
            if(res.code == 200){
              /**
                ** 确认删除视图
                ** 请求接口
                ** 删除接口返回成功  
                ** 如果删除的是当前视图  重新请求获取视图列表接口
                ** 如果删除的不是当前视图  提交处理后的tabViewList信息给父组件 更新视图列表信息 todo  待确认
              **/
              Message.success({
                content: '删除视图成功',
                position: 'bottom',
              });
              if(tab.viewUserId == dataMap.currentTab){
                console.log('删除当前视图')
                emit('chooseFields',[])
              }
              getTabViewListFn()
            } else {
              // 删除接口返回失败  提示失败原因  不做处理
              Message.error({
                content: '删除视图失败',
                position: 'bottom',
              });
            }
            done()
          })
         
          console.log('deleteTabView')
        }
      });
    };

    // 获取视图列表
    const getTabViewListFn = () => {
      const params = {
        viewType: props.viewType
      }
      getTabViewList(params).then((res) => {
        console.log(res)
        if(res.code == 200){
          dataMap.data = res.data
          console.log(res.data,'0000')
          dataMap.dataDispaly = res.data.map((item) => {
            let newItem = {
              viewUserId: item.viewUserId,
              viewSystemId: item.viewSystemId,
              viewName: item.viewName,
              keywordDescription: item.keywordDescription,
              isEdit: false,
            }
            return newItem
          })
          const tabViewIds = res.data.map(item=>item.viewUserId)
          console.log('+++++++++++', tabViewIds)
          if( dataMap.currentTab !== ''){
            console.log('有当前视图')
            if(tabViewIds.indexOf(dataMap.currentTab) == -1){
              dataMap.currentTab = dataMap.dataDispaly[0].viewUserId
              dataMap.currentViewSystemId = dataMap.dataDispaly[0].viewSystemId
              emit('currentTabviewName',dataMap.dataDispaly[0].viewName)
              console.log(  dataMap.currentTab ,'试图=====')
            } else {
              getColumns(dataMap.currentTab)
            }
          } else {
            dataMap.currentTab = dataMap.dataDispaly[0].viewUserId
            dataMap.currentViewSystemId = dataMap.dataDispaly[0].viewSystemId
            emit('currentTabviewName',dataMap.dataDispaly[0].viewName)
            console.log(  dataMap.currentTab ,'试图=====')
          }
          
        }
      });
      
    } 
    const getColumns = (val:any) => {
      let params = {
        viewUserId: String(val),
      }
      console.log(dataMap.dataDispaly.find(p => p.viewUserId === val))
      const currentTabInfo = {
        currentTabViewId: String(val),
        viewSystemId: dataMap.dataDispaly.find(p => p.viewUserId === val).viewSystemId
      }
      // console.log('(==========)',currentTabInfo)
      // return
      tabDetail(params).then((res:any)=>{
        console.log('请求表头：',res)
        // 传递动态表头信息
        emit('chooseFields',res.data.chooseFields)
        emit('viewFilterRule',res.data.viewFilterRule)
        emit('currentTabViewId',currentTabInfo)
      })
    }

    defineExpose({
      getColumns,
      getTabViewListFn
    })

    watch(
      () => dataMap.currentTab,
      (val) => {
        console.log(String(val),'###切换视图了')
        // 获取视图详情(列表\编辑\复制)
        getColumns(val)
      }
    );
   
    watch(
      () => props.paginationWidthNum,
      (newval,oldval) => {
        //  左侧固定按钮的宽度129 + 右侧10px
        dataMap.freezeWidth = newval
        const maxWidth = dataMap.allWidth - 137 - newval
        dataMap.maxWidth = maxWidth + 'px'
        console.log('来新数据了',newval)
        console.log(props.paginationWidthNum, '页面宽度')
      },
      { immediate: true }
    )

    watch(
      () => dataMap.maxWidth,
      (newval,oldval) => {
        let bigTabNum = Math.trunc(parseInt(newval) / 120)
        console.log(bigTabNum,'我发个大概的风格')
        dataMap.bigTabNum = bigTabNum
      },
      { immediate: true }
    )

    watch(
      () => dataMap.bigTabNum,
      (nVal) => {
        // TODO
        if(dataMap.dataDispaly.length < nVal){
          // dataMap.dataDispaly.length
          if(dataMap.data.length <= nVal){
            dataMap.dataDispaly = dataMap.data
          } else {
            console.log('视图列表太长了')
          }
          console.log(dataMap.data.length, '0000000000')
          console.log(dataMap.dataDispaly.length, '0000000000')
        }
        // dataMap.dataDispaly = []
      },
      { immediate: true }
    )

    watch(
      () => props.changeViewId,
      (newval) => {
        //  左侧固定按钮的宽度129 + 右侧10px
        dataMap.currentTab = newval
      },
      { immediate: true,deep: true }
    )


    onMounted(async () => {
      await getTabViewListFn()
      window.onresize = function () {
        const allWidth = window.innerWidth
        console.log('==================',allWidth)
        dataMap.allWidth = allWidth
        const maxWidth = allWidth - 157 - dataMap.freezeWidth
        dataMap.maxWidth = maxWidth + 'px'
        // 定义窗口大小变更通知事件
        // console.log(document.documentElement.clientWidth, "====12=");
        // _this.$store.state.user.screenWidth =
        //   document.documentElement.clientWidth; //窗口宽度
      }
    });
    
    return {
      handleSelect,
      ...toRefs(dataMap),
      tabNameSpanRef,
      refInput,
      tabViewHandle,
      deleteTabView,
      getColumns,
      getTabViewListFn,
    };
  },
};
</script>

<style scoped lang="less">
.arco-dropdown-list .currentTab{
  color: rgb(var(--arcoblue-6)) !important;
}
.tab-view-wrap {
  // width: 100%;
  // height: 64px;
  position: fixed;
  z-index: 1;
  padding: 16px 0;
  bottom:0;
  left:0;
  background-color: var(	--color-bg-3);
  .tab-view {
    // background-color: #fff;
    padding-left: 20px;
    height: 100%;
    display: flex;
    align-items: center;
    // width: ;
    .addTabView,
    .tabViewList {
      cursor: pointer;
      width: 24px;
      height: 24px;
      text-align: center;
      line-height: 24px;
      font-size: 12px;
      margin-left: 10px;
      &:hover {
        background: rgba(229, 230, 235, 1);
      }
    }
    .tabViewList {
      font-size: 14px;
      position: relative;
      margin-right: 41px;
      &::after {
        position: absolute;
        content: '';
        width: 1px;
        height: 24px;
        background: #e5e6eb;
        right: -20px;
      }
    }
  }
  .horizontalTabView {
    // background-color: pink;
    display: flex;
    align-items: center;
  }
  .tabTagInput{
    display: flex;
    padding: 0 40px 0 0;
    position: relative;
    &::after{
      content: '';
      position: absolute;
      width: 1px;
      height: 24px;
      top: 50%;
      margin-top: -12px;
      background: rgba(229, 230, 235, 1);
      right: 0;
    }
  }
  .currentTab{
    color: rgb(var(--arcoblue-6));
    font-weight: 600;
  }
  .tabNameSpan{
    max-width: 100px;
    overflow:hidden; 
    white-space:nowrap; 
    text-overflow:ellipsis;
    cursor: pointer;
  }
  .tabViewBtn{
    position: absolute;
    color: #4E5969;
    width: 24px;
    height:24px;
    right: 12px;
    top: 50%;
    margin-top: -12px;
    &:hover{
      color: #4E5969;
    }
  }
}
:deep(.arco-tabs-content) {
  // display: none !important;
  position: absolute;
  right: 0;
  top: -10px;
}

:deep(.arco-input-wrapper .arco-input-disabled) {
  cursor: default;
  .arco-input-wrapper .arco-input[disabled] {
    -webkit-text-fill-color: #fff !important;
  }
}
</style>
