<template>
  <router-view v-slot="{ Component, route }">
    <!-- <transition name="fade" mode="out-in" appear> -->
    <component :is="Component" v-if="route.meta.ignoreCache" :key="route.fullPath" />
  
    <keep-alive v-else :include="cacheList">
      <component :is="Component" :key="route.fullPath" />
    </keep-alive>
    <!-- </transition> -->
  </router-view>
</template>

<script lang="ts">
  /**
   * ps：缓存的组件name需要跟route的name一致
   * 
   */
  import { computed, defineComponent } from 'vue';
  import { useTabBarStore } from '@/store';
  export default defineComponent({
    setup () {
      const tabBarStore = useTabBarStore();
      const cacheList = computed(() => tabBarStore.getCacheList);
      return {
        cacheList
      }
    }
  })
  
</script>

<style scoped lang="less"></style>
