<template>
  <div class="container">
    <div>
      <button-area>
        <template #left>
          <search-btn
            v-model="searchword"
            placeholder="业务编号/提单号/发票号/支票号"
          ></search-btn>
          <!-- @click="searchBtnClick" -->
          <filter-btn
            v-model:pageInitFilters="pageInitFilters"
            :viewUserId="viewUserId"
            :viewSystemId="viewSystemId"
            ref="filterRef"
          ></filter-btn>
          <screen-btn></screen-btn>
          <!-- 刷新按钮执行列表初始化 -->
          <sync-btn @click="syncData"></sync-btn>
        </template>
        <template #right>
          <!-- :disabled="true"  禁用编辑按钮 -->
          <edit-table v-model="isEditDisabled"></edit-table>
          <a-button
            v-for="(item, index) in operation"
            :key="index"
            v-show="item.showIf"
            type="primary"
            :style="{
              'width': '108px',
              'height': '30px',
              'margin-right': '8px',
            }"
            @click="item.callback()"
          >
            <template #icon>
              <icon-plus />
            </template>
            <span>{{ item.name }}</span>
          </a-button>
          <a-dropdown @select="handleSelect">
            <a-button type="primary" v-if="selectData.length > 0"
              >生成报销</a-button
            >
            <template #content>
              <a-doption
                v-for="(item, index) in btns"
                :key="index"
                :disabled="!item.showIf"
                @click="item.callback()"
                >{{ item.name }}</a-doption
              >
            </template>
          </a-dropdown>
        </template>
      </button-area>
      <!-- {{modalVisible}} -->
      <header-d :dataConfig="dataConfig"></header-d>
      <div class="table-wrap">
        <a-empty v-if="!hasTabData"></a-empty>
        <commonTableApply
          v-else
          :url="url"
          :path="path"
          :viewUserId="viewUserId"
          :viewInfo="viewInfo"
          :searchword="searchword"
          :viewFilterRule="viewFilterRule"
          :columns="columns"
          :syncFlag="syncFlag"
          column-resizable
          :bordered="{ cell: true }"
          :operateList="operateList"
          @openFilter="openFilter"
          @getSelectData="getSelectData"
          ref="commonTableRef"
        >
        </commonTableApply>
      </div>
      <tabViewApply
        :viewType="viewType"
        :changeViewId="changeViewId"
        @submitViewHandle="submitViewHandle"
        @submitDelete="submitDelete"
        @currentTabViewId="currentTabViewId"
        @chooseFields="chooseFields"
        @viewFilterRule="viewFilterRule1"
        @currentTabviewName="currentTabviewName"
        :paginationWidthNum="paginationWidthNum"
        ref="tabViewRef"
      ></tabViewApply>
      <tab-view-modal
        v-model="modalVisible"
        :title="tabViewModelTitle"
        :defaultActiveKey="defaultActiveKey"
        v-model:modalParams="modalParams"
        @syncTabViewList="syncTabViewList"
      ></tab-view-modal>
    </div>
    <check-modal ref="checkRef" :selectData="selectData"></check-modal>
    <invoice-modal
      ref="invoiceRef"
      @syncData="syncData"
      :selectData="selectData"
    ></invoice-modal>
    <remburse-modal ref="remburseRef" @syncData="syncData"></remburse-modal>
    <split-modal ref="splitRef" @syncData="syncData"></split-modal>
  </div>
</template>

<script lang="ts" setup>
</script>

<script lang="ts">
import {
  defineComponent,
  ref,
  watch,
  reactive,
  h,
  toRefs,
  computed,
  onMounted,
  nextTick,
} from 'vue';
import { settlementApi } from '@/api/settlementApi/index';
import { useUserStore } from '@/store';
import { setNumericText } from '@/utils';
import splitModal from './components/splitModal.vue';
import remburseModal from './components/remburseModal.vue';
import invoiceModal from './components/invoiceModal.vue';
import checkModal from './components/checkModal.vue';
import commonTableApply from '@/components/common-table/indexSettleApply.vue';
import tabViewApply from '@/components/tab-view/indexApply.vue';
import headerD from '@/components/navHeader/headerD.vue';
import commonApi from '@/utils/commonApi/index';
import { Modal, Message, Button } from '@arco-design/web-vue';
import { useRouter } from 'vue-router';
import { dataTool } from 'echarts/core';
export default defineComponent({
  name: 'refund',
  components: {
    checkModal,
    invoiceModal,
    headerD,
    splitModal,
    tabViewApply,
    commonTableApply,
    remburseModal,
  },
  setup(props, { emit, slots, attrs }) {
    const router = useRouter();
    const filterRef = ref([]);
    const checkRef = ref([]);
    const invoiceRef = ref([]);
    const splitRef = ref([]);
    const remburseRef = ref([]);
    const userStore = useUserStore();
    const tabViewRef = ref<any>(null);
    const commonTableRef = ref([]);
    const dataMap = reactive({
      hasTabData: false,
      detailData: {},
      isTotalAmount: 0,
      btnList: [],
      rowList: {},
      selectData: [],
      dataConfig: [
        {
          name: '业务',
          value: 0,
        },
        {
          name: '金额',
          value: 0,
        },
      ],
      selectedData: [], // 表格已选择的数据   用于右侧按钮操作时的数据
      syncFlag: 0, // 刷新标志
      path: 'settleTrack/detail',
      url: settlementApi.statementCostCanReimbursement, // 表格请求的地址  不同的列表页  地址会变化
      viewType: '33', // 运单列表代码 1
      viewUserId: '', // 用户视图ID
      changeViewId: '',
      tabHandleViewUserId: '', // 用户视图ID
      viewInfo: {}, // 用户视图ID 系统视图ID
      viewSystemId: '', // 用户视图ID 系统视图ID
      viewFilterRule: '', // 视图筛选项
      initFilters: '', // 保存视图原始筛选项
      columns: [], // 动态表头表头
      initColumns: [], // 保存视图原始表头
      modalParams: {}, // 视图弹框配置
      pageInitFilters: '',
      filterlist: [],
      customcolumn: {},
      operateList: [
        {
          name: '拆分',
          icon: '',
          color: 'rgba(41, 105, 255, 1)',
          // TODO
          isShow: (record: any) => {
            return (
              (record.feeType === 1 && record.costClosed) ||
              (record.feeType === 2 &&
                record.closed &&
                dataMap.btnList.includes('FUNCTION_311'))
            );
          },
          callback: (record: any) => {
            splitRef.value.handleClick(record);
          },
        },
        {
          name: '编辑',
          icon: '<icon-edit />',
          color: 'rgba(41, 105, 255, 1)',
          isShow: (record: any) => {
            return (
              (record.feeType === 1 && !record.costClosed) ||
              (record.feeType === 2 && !record.closed)
            );
          },
          callback: (record: any) => {
            record.edit = true;
            console.log(record, '编辑');

            dataMap.isEditDisabled = true;
          },
        },
        {
          name: '删除',
          icon: '<icon-delete />',
          color: 'rgba(41, 105, 255, 1)',
          isShow: (record: any) => {
            return (
              (record.feeType === 1 && !record.costClosed) ||
              (record.feeType === 2 && !record.closed)
            );
          },
          callback: (record: any) => {
            hanldeDel(record.key, record.statementId);
          },
        },
      ],
      btns: [
        {
          name: '现金报销',
          iconfont: 'iconfont icon-xianjinmingxi',
          code: 'FUNCTION_306',
          showIf: false,
          callback: (row) => {
            handleRemburse(row, 1);
          },
        },
        {
          name: '银行报销',
          iconfont: 'iconfont icon-yinxingqia',
          code: 'FUNCTION_307',
          showIf: false,
          callback: (row) => {
            handleRemburse(row, 2);
          },
        },
        {
          name: '支票报销',
          iconfont: 'iconfont icon-icon_zhipiao',
          code: 'FUNCTION_308',
          showIf: false,
          callback: (row) => {
            handleRemburse(row, 3);
          },
        },
        {
          name: '借款报销',
          iconfont: 'iconfont icon-wodejiekuan1 ',
          code: 'FUNCTION_309',
          showIf: false,
          callback: async (row) => {
            handleRemburse(row, 4);
          },
        },
      ],
      operation: [
        {
          name: '新增成本',
          iconfont: 'iconfont icon-xinzeng',
          props: { plain: true },
          showIf: true,
          code: 'page_xinzeng',
          callback: () => {
            router.push({
              path: '/mos/reimburse/costEnty',
            });
            //  this.$router.push({ path: '/mos/reimburse/costEnty' }
            //  )
          },
        },
        {
          name: '核对费用',
          iconfont: 'iconfont icon-shenpi',
          props: { plain: true },
          code: 'page_hedui',
          showIf: true,
          callback: () => {
            checkRef.value.handleClick();
          },
        },
        {
          name: '编辑发票',
          props: { plain: true },
          iconfont: 'iconfont icon-bianji',
          code: 'FUNCTION_310',
          showIf: false,
          callback: () => {
            invoiceRef.value.handleClick();
          },
        },
      ],
      isCash: false,
      isBank: false,
      isCheque: false,
      isLoan: false,
      searchword: '',
      searchPopupVisible: false,
      isEditDisabled: false, //
      tabViewData: [],
      PaginationProps: {
        'size': 'mini',
        'total': 100000,
        'current': 1, //  当前页码
        'show-page-size': true,
        'page-size-options': [10, 20, 30, 40, 50],
        'show-total': true,
        'show-jumper': true,
      },
      modalVisible: false, // 控制新增/编辑/复制视图弹窗是否显示
      tabViewModelTitle: '新增视图', // 视图弹窗title
      defaultActiveKey: '1', // 视图默认展示的tab标签 类型string
      paginationWidthNum: 0,
      currentViewName: '',
      viewName: '',
    });
    const hanldeDel = (key: any, statementId: any) => {
      Modal.warning({
        title: '提示',
        hideCancel: false,
        alignCenter: true,
        content: () =>
          h('div', { class: 'info-modal-content' }, [
            h(
              'span',
              { style: 'margin-left: 60px;' },
              '删除后不可恢复，确认删除？'
            ),
          ]),

        cancelText: '取消',
        async onOk() {
          const { code, data } = await settlementApi.settleTrackBatchCost({
            ids: [key.toString()],
            statementId: statementId.toString(),
          });
          if (code == 200) {
            syncData();
            Message.success('删除成功');
          }
        },
      });
    };
    const handleRemburse = async (row: any, type: any) => {
      let title = '';
      let code = '';
      switch (type) {
        case 1:
          title = '现金报销';
          code = 'cash';
          break;
        case 2:
          title = '银行报销';
          code = 'banktransfer';
          break;
        case 3:
          title = '支票报销';
          code = 'cheque';
          break;
        case 4:
          title = '借款报销';
          code = 'cash,banktransfer';
          break;
        default:
          break;
      }
      try {
        await handleCheck(code);
        remburseRef.value.handleClick({
          title,
          type,
          data: dataMap.selectData,
        });
      } catch (e) {
        // Message.error(e);
      }
    };
    const handleCheck = (type: any) => {
      return new Promise((resolve, reject) => {
        // 检验支付方式 TODO：type设置为对应的paymentMethodCode
        let paymentMethodName = '';
        switch (type) {
          case 'cash':
            paymentMethodName = '现金';
            break;
          case 'banktransfer':
            paymentMethodName = '银行转账';
            break;
          case 'cheque':
            paymentMethodName = '支票';
            break;
          case 'cash,banktransfer':
            paymentMethodName = '现金或银行转账';
            break;
          default:
            break;
        }

        // 检验支付方式
        if (
          !dataMap.selectData.every(
            (v: any) => !!~type.indexOf(v.paymentMethodCode)
          )
        ) {
          Message.error(`支付方式必须全部为${paymentMethodName}`);
          reject();
        }

        if (type == 'cheque') {
          // 支票：支票号不能为空，否则，则提示‘支票报销，支票号必填！’
          if (dataMap.selectData.some((v: any) => !v.chequeNo)) {
            Message.error('支票报销，支票号必填！');
            reject();
          }
        }
        if (type == 'banktransfer') {
          // 银行转账：支付对象必须一致，否则，则提示‘银行报销不允许多支付对象进行报销！’
          if (
            !dataMap.selectData.every(
              (v: any) => v.settlerName === dataMap.selectData[0].settlerName
            )
          ) {
            Message.error('银行报销不允许多支付对象进行报销！');
            reject();
          }
        }

        // 检验发票类型
        if (dataMap.selectData.some((v: any) => !v.invoiceCode)) {
          Message.error('必须填写发票类型！');
          reject();
        }

        // 总报销金额 < 0
        if (dataMap.isTotalAmount < 0) {
          Message.error('报销金额必须为非负数');
          reject();
        }
        // 发票类型为‘增值税专用发票’、‘增值税普通发票’、‘增值税普通发票-电子’、‘抵扣发票收据’，必须填写发票号，否则，则提示‘发票类型：**，必须填写发票号’
        const isInvoiceNo = dataMap.selectData.reduce((total, v) => {
          const invoiceCodes = ['ZZFP', 'PPFP', 'PPDZ', 'DKSJ']; // 对应发票类型
          if (invoiceCodes.includes(v.invoiceCode) && !v.invoiceNo) {
            return total.concat(v.invoiceName);
          }
          return total.concat();
        }, []);
        if (isInvoiceNo.length) {
          Message.error(`发票类型：${isInvoiceNo.join(',')}, 必须填写发票号`);
          reject();
        }

        // 发票号不为空且发票号一致的费用，币别必须一致，不一致，则提示‘发票：**，币别不一致’
        const currency = handleMap(dataMap.selectData, 'invoiceNo', 'currency');
        if (currency.length) {
          const res = [].concat.apply([], currency).map((v) => v.invoiceNo);
          const set = [...new Set(res)].join(',');
          Message.error(`发票：${set}，币别不一致`);
          reject();
        }
        // 发票号不为空且发票号一致的费用，发票类型必须一致，不一致，则提示‘发票：**，发票类型不一致’
        const invoiceCode = handleMap(
          dataMap.selectData,
          'invoiceNo',
          'invoiceCode'
        );
        if (invoiceCode.length) {
          const res = [].concat.apply([], invoiceCode).map((v) => v.invoiceNo);
          const set = [...new Set(res)].join(',');
          Message.error(`发票：${set}，发票类型不一致`);
          reject();
        }
        // 发票号不为空且发票号一致的费用，税率必须一致，不一致，则提示‘发票：**，税率不一致’
        const invoiceTaxRate = handleMap(
          dataMap.selectData,
          'invoiceNo',
          'invoiceTaxRate'
        );
        if (invoiceTaxRate.length) {
          const res = [].concat
            .apply([], invoiceTaxRate)
            .map((v) => v.invoiceNo);
          const set = [...new Set(res)].join(',');
          Message.error(`发票：${set}，税率不一致`);
          reject();
        }
        // 校验成功
        resolve('');
      });
    };
    const handleMap = (arr: any, samekey: any, differkey: any) => {
      const map = new Map();
      let newArr = [];
      arr.forEach((item) => {
        item[samekey] && map.has(item[samekey])
          ? map.get(item[samekey]).push(item)
          : map.set(item[samekey], [item]);
      });
      const values = Array.from(map.values()).filter((v) => v.length > 1);
      newArr = [...values];

      return handleSome(newArr, differkey);
    };
    const handleSome = (arr, key) => {
      let newArr = [];
      arr.forEach((v) => {
        const is = v.some((o) => o[key] !== v[0][key]);
        is && newArr.push(v);
      });
      return newArr;
    };

    const syncData = () => {
      dataMap.searchword = '';
      dataMap.viewFilterRule = '';
      dataMap.columns = dataMap.initColumns;
      dataMap.syncFlag++;
    };

    const chooseFields = (val: any) => {
      if (val.length > 0) {
        dataMap.hasTabData = true;
      } else {
        dataMap.hasTabData = false;
      }
      // 中间列表 展示列表头  当前展示的 传给公共table的
      dataMap.columns = val;
      // 当前视图表头  刷新时设置为dataMap.columns
      dataMap.initColumns = val;
    };

    const viewFilterRule1 = (val: any) => {
      console.log(val);
      // 传给公共table 的筛选项
      dataMap.viewFilterRule = val;
      // 当前视图筛选项  刷新时设置为dataMap.viewFilterRule
      dataMap.initFilters = val;
      // button区域筛选按钮
      dataMap.pageInitFilters = val;
    };

    const currentTabViewId = (viewId: object) => {
      dataMap.viewUserId = viewId.currentTabViewId;
      dataMap.viewInfo = viewId;
      dataMap.viewSystemId = viewId.viewSystemId;
    };

    const submitViewHandle = (param: any) => {
      console.log('从视图组件传来的参数：', param);
      // return
      // 需要展示视图弹窗
      dataMap.modalVisible = true;
      dataMap.tabViewModelTitle = param.title;
      dataMap.defaultActiveKey = param.defaultActiveKey;
      // 新增视图  编辑视图  复制视图
      // 新增视图 无初始化数据
      // 编辑和复制视图  初始化数据一致
      if (param.title == '新增视图') {
        dataMap.modalParams = {
          initColumns: [],
          initFilters: '',
          ...param,
        };
      } else {
        dataMap.modalParams = {
          initColumns: dataMap.initColumns, // 视图原始展示列
          initFilters: dataMap.initFilters,
          ...param,
        };
      }
      console.log('dataMap.modalParams:', dataMap.modalParams);
    };

    const openFilter = () => {
      filterRef.value.filterRef.handleClick();
    };

    const submitDelete = (id: any) => {
      console.log(id);
      console.log('删除了当前视图  整个页面需要初始化');
    };
    watch(
      () => dataMap.searchword,
      (newval, oldval) => {
        console.log('来新数据了', newval);
        // 改变页面params
        // 重新请求获取列表数据的接口
        // TODO
        // getList(params)
      },
      { immediate: true, deep: true }
    );

    // 多选数据
    const getSelectData = (val: any) => {
      dataMap.selectedData = val;
      dataMap.dataConfig[0].value = val.length;
      dataMap.selectData = commonTableRef.value.commonTableData.filter((item) =>
        val.includes(item.key)
      );
      dataMap.isTotalAmount = dataMap.selectData.reduce((t, i) => {
        if (!isNaN(Number(i.taxIncludedAmount))) {
          return (t += Number(i.taxIncludedAmount));
        }
        return (t += 0);
      }, 0);
      dataMap.dataConfig[1].value =
        '￥' +
        setNumericText(dataMap.isTotalAmount, {
          commas: true,
        });
      dataMap.operation[2].showIf =
        dataMap.selectData.length > 0 ? true : false;
      // 支付方式存在 '现金'
      dataMap.isCash = dataMap.selectData.some(
        (v) => v.paymentMethodCode == 'cash'
      );
      dataMap.btns[0].showIf = dataMap.isCash;
      // 支付方式存在‘银行转账’
      dataMap.isBank = dataMap.selectData.some(
        (v) => v.paymentMethodCode == 'banktransfer'
      );
      dataMap.btns[1].showIf = dataMap.isBank;
      // 支付方式存在‘支票’
      dataMap.isCheque = dataMap.selectData.some(
        (v) => v.paymentMethodCode == 'cheque'
      );
      dataMap.btns[2].showIf = dataMap.isCheque;
      //支付方式存在‘现金’或'银行转账'
      dataMap.isLoan = dataMap.selectData.some(
        (v) =>
          v.paymentMethodCode == 'cash' || v.paymentMethodCode == 'banktransfer'
      );
      console.log(dataMap.isLoan, 'dataMap.isLoan');

      dataMap.btns[3].showIf = dataMap.isLoan;
    };

    const paginationWidth = (val: any) => {
      dataMap.paginationWidthNum = val;
    };

    const currentTabviewName = (val: any) => {
      dataMap.currentViewName = val;
    };

    const syncTabViewList = (val: any) => {
      console.log('需要刷新视图列表', val);
      dataMap.changeViewId = val;
      tabViewRef.value.getTabViewListFn();
    };

    // modalParams
    watch(
      () => dataMap.modalParams,
      (newval, oldval) => {
        console.log('来新数据了modalParams', newval);
      },
      { immediate: true, deep: true }
    );
    const signatrueDialogRef = ref(null);
    const showsignDialog = () => {
      signatrueDialogRef.value.visible = true;
    };
    const extraDialogRef = ref(null);
    const showextraDialog = () => {
      extraDialogRef.value.visible = true;
    };
    const init = async () => {
      const res = await commonApi.getRoleByPage('MOS_PAGE_0023');
      dataMap.btnList = res.map((item) => {
        return item.functionCode;
      });
    };
    init();
    return {
      syncData,
      init,
      ...toRefs(dataMap),
      // columns,
      // data,
      // PaginationProps,
      chooseFields,
      viewFilterRule1,
      currentTabViewId,
      submitViewHandle,
      submitDelete,
      openFilter,
      filterRef,
      splitRef,
      remburseRef,
      checkRef,
      invoiceRef,
      getSelectData,
      paginationWidth,
      currentTabviewName,
      showsignDialog,
      signatrueDialogRef,
      extraDialogRef,
      tabViewRef,
      commonTableRef,
      syncTabViewList,
    };
  },
});
</script>

<style lang="less" scoped>
.container {
  background-color: var(--color-bg-2);
  // max-width: 100%;
  display: flex;
  height: calc(~'100vh - 93px');
}
.table-wrap {
  width: 100%;
  overflow: hidden;
  padding: 0 20px;
  height: calc(~'100% - 70px - 64px');
}
.info-modal-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
</style>
