<template>
  <div class="main">
    <div class="header">
      <div class="header_top">
        <div class="left">成本费用录入</div>
        <div class="btn">
          <a-button type="primary" @click="goReimburse">费用报销</a-button>
          <a-button type="primary" @click="check">核对费用</a-button>
          <a-button type="primary" @click="exportTemp">导入</a-button>
          <a-button type="primary" @click="save">保存</a-button></div
        >
      </div>
      <div class="header_bottom">
        <div class="item">
          <div class="item_name">业务：</div>
          <div class="item_value">{{ isTotalNumber }}</div>
        </div>
        <div class="item">
          <div class="item_name">合计：</div>
          <div class="item_value">{{ isTotalAmount }}</div>
        </div>
      </div>
    </div>
    <div class="table">
      <enty-table ref="tableList" :data="data"></enty-table>
    </div>
    <checkModal ref="checkRef" :selectData="tableList.data"></checkModal>
    <temModal ref="temRef"></temModal>
  </div>
</template>

<script lang="ts" setup>
import { formatOptions, setNumericText, totalNum } from '@/utils';
import { settlementApi } from '@/api/settlementApi/index';
import checkModal from './components/checkModal.vue';
import temModal from './components/temModal.vue';
import { Message, Modal } from '@arco-design/web-vue';
import entyTable from './components/entyTable.vue';
import { ref, reactive, onMounted, computed, h, provide } from 'vue';
import { useRoute, useRouter } from 'vue-router';
const router = useRouter();
const route = useRoute();
const tableList = ref([]);
const data = ref([]);
const checkRef = ref([]);
const temRef = ref([]);
const fromPath = ref([]);
onMounted(() => {
  //   data.value = tableList.value.data;
});

const initImportData = (data) => {
  tableList.value.handleImportData(data);
};
provide('initImportData', initImportData);
const isTotalNumber = computed(() => {
  return tableList.value.data?.length || 0;
});
const isTotalAmount = computed(() => {
  let arr = (tableList.value.data || []).map(
    (v) => (v.taxIncludedAmount || 0) * v.currencyExchangeRate
  );
  return totalNum(arr);
});
//费用保存
const save = async () => {
  console.log(tableList.value.data, 'v');
  let data = tableList.value.data;
  if (!data.length) {
    Message.error('成本票不能为空！');
    return;
  }
  const last = data[data.length - 1];
  if (
    last.statementId &&
    last.feeCode &&
    last.unitPrice &&
    last.currency &&
    last.currencyExchangeRate &&
    last.quantity &&
    last.settlerId &&
    last.paymentMethodCode &&
    last.status &&
    last.invoiceCode &&
    last.invoiceTaxRate !== ''
  ) {
    const params = JSON.parse(JSON.stringify(data)).map((v: any) => {
      v.feeType = 1; // 新增
      v.feeSource = 9;
      delete v.mid;
      delete v.options8;
      delete v.options9;
      return v;
    });

    const { code } = await settlementApi.statementCostBatchSave(params);
    console.log(code, 'code');

    if (code == 200) {
      Message.success('保存成功');
      if (fromPath.value == '/mos/fundRequest/apply') {
        router.push({
          path: '/mos/fundRequest/apply',
        });
      } else {
        router.push({
          path: '/mos/reimburse/apply',
        });
      }
    }
  } else {
    Message.error('请先完善最后一条费用信息');
  }
};
//核对费用
const check = () => {
  checkRef.value.handleClick();
};
const exportTemp = () => {
  temRef.value.handleClick();
};
//费用报销
const goReimburse = async () => {
  Modal.warning({
    title: '提示',
    hideCancel: false,
    alignCenter: true,
    content: () =>
      h('div', [
        h(
          'span',
          { style: 'display:block;text-align:center' },
          '当前成本费用未保存，是否保存？'
        ),
      ]),

    cancelText: '取消',
    async onOk() {
      await save();
      router.push({
        path: '/mos/reimburse/apply',
      });
    },
    onCancel() {
      router.push({
        path: '/mos/reimburse/apply',
      });
    },
  });
};
defineExpose({ fromPath });
</script>
<script lang="ts">
export default {
  beforeRouteEnter(_to, _from, next) {
    next((vm) => {
      const instance = vm as IInstance;
      instance.fromPath = _from.path;
    });
  },
};
</script>
<style lang="less" scoped>
.main {
  background-color: #f2f3f5;
}
.header {
  background-color: #fff;
  padding: 20px 20px 0;
  .header_top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 22px;
    border-bottom: 1px solid #e5e6eb;
    .arco-btn-primary {
      margin-right: 10px;
    }
    .title {
      color: #1d2129;
      font-size: 20px;
      font-weight: 500;
    }
  }
  .header_bottom {
    padding: 10px 0;
    display: flex;
    font-size: 14px;
    color: #696c70;
    background-color: #fff;
    .item {
      padding-right: 32px;
      display: flex;
      .item_value {
        color: #000;
      }
    }
  }
}
.table {
  margin-top: 20px;
  background-color: #fff;
  padding: 20px;
}
</style>