<template>
  <div class="main">
    <nav-header :navConfig="navConfig"
      ><template #detail>
        <div class="statue">
          <dw-tag :class="detailData.statusNameColor"
            ><template #word> {{ detailData.statusName }} </template></dw-tag
          >
        </div>
      </template></nav-header
    >
    <div class="info"><base-info :info="info"></base-info></div>
    <div class="tab">
      <a-tabs :active-key="active" @change="tabChange">
        <a-tab-pane key="1" title="附件">
          <upload-table
            :columns="columns_3"
            :tableData="tableData_3"
          ></upload-table>
        </a-tab-pane>
        <a-tab-pane key="2" title="报销费用明细">
          <a-table :columns="columns" :data="tableData" :pagination="false">
            <template #index="record">
              {{ record.rowIndex + 1 }}
            </template>
            <template #statementNo="{ record }">
              <span class="cp" style="color: #2969ff" @click="goState(record)">
                {{ record.statementNo }}</span
              >
            </template>
            <template #proxyFee="{ record }">
              <span v-if="record.proxyFee">是</span>
              <span v-else>否</span>
            </template>
            <template #invoiceTaxRate="{ record }">
              {{ Number(record.invoiceTaxRate) * 100 + '%' }}
            </template>
            <template #amount="{ record }">
              {{ detailData.currencySymbol + toThousandFilter(record.amount) }}
            </template>
          </a-table>
        </a-tab-pane>
        <a-tab-pane key="3" title="发票明细">
          <a-table
            :columns="columns_2"
            :scroll="scroll"
            :data="tableData_2"
            :default-expand-all-rows="true"
            :expandable="expandable"
            :pagination="false"
          >
            <template #index="record">
              {{ record.rowIndex + 1 }}
            </template>
            <template #invoiceTaxRate="{ record }">
              {{ Number(record.invoiceTaxRate) * 100 + '%' }}
            </template>
            <template #expand-row="{ record }">
              <a-table
                :columns="column_2Child"
                :data="record.invoiceBodyVO"
                :pagination="false"
                :expandable="expandable_1"
                :summary-cell-style="{
                  backgroundColor: '#FFF7E8',
                  color: '#FF7D00',
                }"
                :summary="summary"
              >
                <template #invoiceAmount="{ record }">
                  {{
                    (detailData.currencySymbol || '') +
                    toThousandFilter(record.invoiceAmount)
                  }}
                </template>
                <!-- <template #summary-cell="column">
                  {{ column }}
                </template> -->
              </a-table>
            </template>
          </a-table>
        </a-tab-pane>
        <a-tab-pane key="4" title="支票明细">
          <a-table
            :columns="columns_4"
            :summary="summary1"
            :data="tableData_4"
            :pagination="false"
          >
            <template #index="record">
              {{ record.rowIndex + 1 }}
            </template>
            <template #amount="{ record }">
              {{ detailData.currencySymbol + toThousandFilter(record.amount) }}
            </template>
          </a-table>
        </a-tab-pane>
        <a-tab-pane key="5" title="借款信息" v-if="tableData_5.length > 0">
          <a-table :columns="columns_5" :data="tableData_5" :pagination="false">
            <template #index="record">
              {{ record.rowIndex + 1 }}
            </template>
            <template #loanNo="{ record }">
              <span class="cp" style="color: #2969ff" @click="goLoan(record)">
                {{ record.loanNo }}</span
              >
            </template>
            <template #amount="{ record }">
              {{
                (detailData.currencySymbol || '') +
                toThousandFilter(record.amount)
              }}
            </template>
            <template #repaymentAmount="{ record }">
              {{
                (detailData.currencySymbol || '') +
                toThousandFilter(record.repaymentAmount)
              }}
            </template>
          </a-table>
        </a-tab-pane>
        <a-tab-pane key="6" title="付款记录">
          <a-table :columns="columns_6" :data="tableData_6" :pagination="false">
            <template #index="record">
              {{ record.rowIndex + 1 }}
            </template>
            <template #statementNo="{ record }">
              <span> {{ record.statementNo }}</span>
            </template>

            <template #amount="{ record }">
              {{ detailData.currencySymbol + toThousandFilter(record.amount) }}
            </template>
            <template #chequeNo="{ record }">
              {{ record.chequeNo }}{{ record.draftNo }}
            </template>
            <template #exchangeRate="{ record }">
              {{ Number(record.exchangeRate).toFixed(4) }}
            </template>
            <template #exchangeRateAmount="{ record }">
              {{
                detailData.currencySymbol +
                toThousandFilter(record.exchangeRateAmount)
              }}
            </template>
          </a-table>
        </a-tab-pane>
        <a-tab-pane key="7" title="审批记录">
          <approve
            :radioList="radioList"
            :logs="logs"
            @refund="refund"
          ></approve>
        </a-tab-pane>
      </a-tabs>
    </div>
    <pay-modal
      ref="payModalRef"
      @paySure="paySure"
      :paymentType="4"
    ></pay-modal>
    <pay-complete @payEndSure="payEndSure" ref="payRef"></pay-complete>
  </div>
</template>
<script lang="ts" setup>
import { setNumericText } from '@/utils';
import navHeader from '@/components/navHeader/index.vue';
import baseInfo from '../components/baseInfo.vue';
import payModal from '../components/payModal.vue';
import payComplete from '../components/payComplete.vue';
import { Modal, Message, Notification } from '@arco-design/web-vue';
import approve from '../components/approve.vue';
import uploadTable from '@/components/common-table/uploadTable.vue';
import commonApi from '@/utils/commonApi/index';
import { settlementApi } from '@/api/settlementApi/index';
import { useRoute, useRouter } from 'vue-router';
import { ref, reactive, h } from 'vue';
const detailData = ref([]);
const route = useRoute();
const router = useRouter();
const active=ref('1')
const tabChange = (val: any) => {
  active.value = val;
};
const info = reactive({
  title: '基本信息',
  list: [],
  status: '',
  no: '',
  currencySymbol: '',
  statusNameColor: '',
  statusName: '',
});
const expandable = {
  title: '',
  width: 40,
};
const expandable_1 = {
  title: '',
  width: 0,
};
const logs = ref([]);
const payRef = ref([]);
const radioList = ref([
  {
    label: '审批',
    value: 1,
    code: 'FUNCTION_315',
    isShow: false,
  },
  {
    label: '驳回',
    value: 2,
    code: 'FUNCTION_314',
    isShow: false,
  },
]);
const tableData = ref([]);
const tableData_2 = ref([]);
const tableData_3 = ref([]);
const tableData_4 = ref([]);
const tableData_5 = ref([]);
const tableData_6 = ref([]);
const payModalRef = ref([]);
const columns_3 = [
  {
    title: '文件名',
    slotName: 'fileName',
  },
  {
    title: '上传人',
    dataIndex: 'creatorName',
  },
  {
    title: '上传时间',
    dataIndex: 'createTime',
  },
];
const columns = [
  {
    title: '#',
    slotName: 'index',
  },
  {
    title: '工作编号',
    slotName: 'statementNo',
  },
  {
    title: '费用名称',
    dataIndex: 'feeName',
  },
  {
    title: '代付',
    slotName: 'proxyFee',
  },
  {
    title: '支付对象',
    dataIndex: 'receiverName',
  },
  {
    title: '发票类型',
    dataIndex: 'invoiceName',
  },
  {
    title: '发票税率',
    slotName: 'invoiceTaxRate',
  },
  {
    title: '还款金额',
    slotName: 'amount',
  },
  {
    title: '备注',
    dataIndex: 'remark',
  },
];
const columns_4 = [
  {
    title: '#',
    slotName: 'index',
  },
  {
    title: '支票号',
    dataIndex: 'chequeNo',
  },
  {
    title: '支票金额',
    slotName: 'amount',
  },
];
const summary1 = ({ columns, data }) => {
  if (data.length == 0) {
    return;
  }
  let total = 0;
  const sums = [];
  columns.forEach((column, index) => {
    if (index == 0) {
      column.dataIndex = '合计';
      return;
    }
  });
  data.forEach((record) => {
    total += record.amount;
  });
  return [
    {
      chequeNo: '合计',
      amount: total,
    },
  ];
};
const columns_5 = [
  {
    title: '#',
    slotName: 'index',
  },
  { title: '借款单号', slotName: 'loanNo' },
  { title: '业务编号', dataIndex: 'settlementNos' },
  { title: '支付对象', dataIndex: 'recipientName' },
  { title: '借款金额', slotName: 'amount' },
  { title: '本次还款金额', slotName: 'repaymentAmount' },
  { title: '借款日期', dataIndex: 'loanTime' },
];
const columns_6 = [
  {
    title: '#',
    slotName: 'index',
  },
  { title: '付款公司', dataIndex: 'payerName' },
  { title: '付款方式', dataIndex: 'paymentWay' },
  { title: '支付金额', slotName: 'amount' },
  { title: '票据号', slotName: 'chequeNo' },
  { title: '购汇汇率', slotName: 'exchangeRate' },
  { title: '购汇金额', slotName: 'exchangeRateAmount' },
  { title: '付款人', dataIndex: 'creatorName' },
  { title: '入款时间', dataIndex: 'createTime' },
];
const columns_2 = [
  {
    title: '#',
    slotName: 'index',
    width: '40',
  },
  { title: '支付对象', dataIndex: 'receiverName', width: '300' },
  { title: '发票类型', dataIndex: 'invoiceName', width: '200' },
  { title: '税率', slotName: 'invoiceTaxRate' },
];
const column_2Child = [
  {
    index: '',
    dataIndex: 'index',
    width:80,
    summaryCellStyle: (record) => {
      return {
        backgroundColor: '#FFF7E8',
      };
    },
  },
  {
    title: '发票号',
    dataIndex: 'invoiceNo',
    width: '260',
    summaryCellStyle: (record) => {
      return {
        backgroundColor: '#FFF7E8',
        color: '#FF7D00',
      };
    },
  },
  {
    title: '发票金额',
    slotName: 'invoiceAmount',
    summaryCellStyle: (record) => {
      return {
        backgroundColor: '#FFF7E8',
        color: '#FF7D00',
      };
    },
  },
];
const summary = ({ columns, data }) => {
  let total = 0;
  console.log(data, 'data');

  data.forEach((record) => {
    total += record.invoiceAmount;
  });
  return [
    {
      index: '合计',
      invoiceNo: data.length,
      invoiceAmount: total,
    },
  ];
};
const navConfig = reactive({
  title: '报销详情',
  btns: [
    {
      icon: '',
      title: '核对完成',
      type: '',
      value: 'FUNCTION_316',
      isShow: false,
      callback: async () => {
        const { code } = await settlementApi.settleReimburseCheckCompleted({
          id: route.query.id,
        });
        if (code == 200) {
          Message.success('核对完成');
          init();
        }
      },
    },
    {
      icon: '',
      title: '撤销报销',
      type: '',
      value: 'FUNCTION_317',
      isShow: false,
      callback: () => {
        hanldeRevoke();
      },
    },
    {
      icon: '',
      title: '作废报销',
      type: '',
      value: 'FUNCTION_318',
      isShow: false,
      callback: () => {
        settleRevocation();
      },
    },
    {
      icon: '',
      title: '支付',
      type: '',
      value: 'FUNCTION_312',
      isShow: false,
      callback: () => {
        payModalRef.value.handleClick(detailData.value);
      },
    },
    {
      icon: '',
      title: '支付完成',
      type: '',
      value: 'FUNCTION_313',
      isShow: false,
      callback: () => {
        payRef.value.handleClick(detailData.value);
      },
    },
  ],
});
const settleRevocation = () => {
  Modal.warning({
    title: '提示',
    hideCancel: false,
    alignCenter: true,
    content: () =>
      h('div', { class: 'info-modal-content' }, [
        h('span', { style: 'margin-left: 120px;' }, '是否确认作废？'),
      ]),

    cancelText: '取消',
    async onOk() {
      const { code } = await settlementApi.settleReimburseInvalid({
        id: route.query.id,
      });
      if (code == 200) {
        Message.success('作废成功');
        init();
      }
    },
  });
};
const hanldeRevoke = () => {
  Modal.warning({
    title: '提示',
    hideCancel: false,
    alignCenter: true,
    content: () =>
      h('div', { class: 'info-modal-content' }, [
        h(
          'span',
          { style: 'margin-left: 60px;' },
          '撤销后不可回退，是否确认撤销？'
        ),
      ]),

    cancelText: '取消',
    async onOk() {
      const { code } = await settlementApi.settleReimburseRevocation({
        id: route.query.id,
      });
      if (code == 200) {
        Message.success('撤销成功');
        init();
      }
    },
  });
};
const refund = async (val, textarea) => {
  if (val == 1) {
    const { code, data } = await settlementApi.settleReimburseApproval({
      id: route.query.id,
      remark:textarea
    });
    if (code == 200) {
      Message.success('审批成功');
      init();
    }
  } else if (val == 2) {
    if (textarea == '') {
      Message.error('请先填写驳回原因');
      return;
    }
    const { code, data } = await settlementApi.settleReimburseReject({
      id: route.query.id,
      textarea: textarea,
    });
    if (code == 200) {
      Message.success('驳回成功');
      init();
    }
  }
};
const paySure = async (form: any) => {
  const { code, data } = await settlementApi.settleReimbursePay(form);
  if (code == 200) {
    Message.success('支付完成');
    payModalRef.value.handleCancel();
    init();
  }
};
const payEndSure = async (form) => {
  const { code, data } = await settlementApi.settleReimbursePayCompleted(form);
  if (code == 200) {
    Message.success('支付完成');
    payRef.value.handleCancel();
    init();
  }
};
const mapKey = (result) => {
  if (result == 3) {
    return '支票报销';
  } else if (result == 1) {
    return '现金报销';
  } else if (result == 2) {
    return '银行报销';
  } else if (result == 4) {
    return '借款报销';
  }
};
const toThousandFilter = (num) => {
  return setNumericText(Number(num), { commas: true, zeroText: '0.00' });
};
const goState = (record) => {
  router.push({
    name: 'settleTrack/detail',
    query: {
      id: record.statementId,
    },
  });
};
const goLoan = (record) => {
  router.push({
    name: 'loan/detail',
    query: {
      id: record.id,
    },
  });
};
const init = async () => {
  const { code, data } = await settlementApi.settleReimburseDetail({
    id: route.query.id,
  });
  if (code == 200) {
    detailData.value = data;
    if(data.status==0){
      active.value='7'
    }
    else{
      active.value='1'
    }
    tableData_3.value = data.loanFiles || [];
    tableData_2.value = data.invoiceInfos || [];
    tableData.value = data.reimbursementCosts || [];
    tableData_4.value = data.chequeDetails || [];
    tableData_5.value = data.reimbursementLoans || [];
    tableData_6.value = data.loanPaymentLogs || [];
    info.currencySymbol = data.currencySymbol || '';
    info.list = [
      {
        label: '报销单号',
        key: data.no,
      },
      {
        label: '报销公司',
        key: data.reimbursementEnterpriseName,
      },
      {
        label: '收款人',
        key: data.creatorName,
      },
      {
        label: '报销类型',
        key: mapKey(data.type),
      },
      {
        label: '报销金额',
        key: data.amount,
        slotName: 'amountSymbol',
      },
      {
        label: '申请部门',
        key: data.departmentName,
      },
      {
        label: '申请日期',
        key: data.createTime,
      },
      {
        label: '报销备注',
        key: data.remark,
      },
    ];
  }
  const res = await commonApi.getRoleByPage('MOS_PAGE_0024');
  const codes = res.map((v) => v.functionCode);
  navConfig.btns = navConfig.btns.filter((v) => codes.includes(v.value));
  radioList.value = radioList.value.filter((v) => codes.includes(v.code));
  navConfig.btns.forEach((v) => {
    if (v.value == 'FUNCTION_312') {
      v.isShow =
        data.status === 10 &&
        data.type === 4 &&
        data.payAmount > 0 &&
        data.showPayBtn;
    } else if (v.value == 'FUNCTION_313') {
      v.isShow =
        data.type === 2 && data.status === 10 && data.showPayCompletedBtn;
    } else if (v.value == 'FUNCTION_316') {
      v.isShow =
        data.type !== 2 &&
        data.status === 10 &&
        data.payAmount == 0 &&
        data.showCheckCompletedBtn;
    } else if (v.value == 'FUNCTION_317') {
      v.isShow = data.status === 0 && data.showRevocationBtn;
    } else if (v.value == 'FUNCTION_318') {
      v.isShow = data.status === 20 && data.showInvalidBtn;
    }
  });
  radioList.value.forEach((v) => {
    if (v.code == 'FUNCTION_315') {
      v.isShow = data.status == 0&& data.showApproveBtn;
    } else if (v.code == 'FUNCTION_314') {
      v.isShow = data.status == 0&& data.showRejectBtn;
    }
  });
  logs.value = data.loanApproveLogs || [];
};
init();
</script>
<style lang="less" scoped>
.main {
  padding-top: 60px;
  min-height: calc(~'100vh - 90px');
  padding-bottom: 1px;
  background-color: #F2F3F5;
  .info {
    margin: 20px;
    background-color: #fff;
  }
  .tab {
    margin: 20px;
    padding: 20px 31px;
    background-color: #fff;
  }
}
</style>